Repository keymanapp/keyman, pull requests merged in 2018-07, with the labels that each got.

#1050 [Mac] Refactored target-action call from keyView
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/project.pbxproj
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KMkeyViewProtocol.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KeyView.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KeyView.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/OSKView.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/OSKView.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KeymanEngine4Mac.h
  mac/history.md
Labels: low-priority, mac, work-in-progress

#1056 [web] If a layer has lower row count to default layer in embedded mode, then Keyman throws an error.
  android/history.md
  ios/history.md
  web/history.md
  web/source/kmwembedded.ts
  web/unit_tests/CI.conf.js
  web/unit_tests/test.sh
Labels: android, bug, ios, web

#1057 [web] (master) If a layer has lower row count to default layer in embedded mode, then Keyman throws an error.
  android/history.md
  ios/history.md
  web/history.md
  web/source/kmwembedded.ts
  web/unit_tests/CI.conf.js
  web/unit_tests/test.sh
Labels: android, bug, ios, web

#1058 [iOS] #824 - remove blank buttons from alert screens
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/KeyboardInfoViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/KeyboardPickerViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageDetailViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageViewController.swift
  ios/engine/KMEI/KeymanEngineDemo/MainViewController.swift
  ios/history.md
  ios/keyman/Keyman/Keyman/KMWebBrowser/BookmarksViewController.swift
  ios/keyman/Keyman/Keyman/KMWebBrowser/WebBrowserViewController.swift
  ios/keyman/Keyman/Keyman/MainViewController.swift
Labels: bug, ios

#1061 [ios] Remove reference to Android in history to satisfy App Store review
  ios/history.md
Labels: enhancement, ios

#1062 [ios] Remove reference to Android in history to satisfy App Store review
  ios/history.md
Labels: enhancement, ios

#1063 [iOS] Moved alpha change info to 11.0 alpha section
  ios/history.md
Labels: ios

#1068 [Windows] Fix docbook links (alpha)
  windows/src/desktop/help/common/linux.xml
  windows/src/desktop/help/common/mac.xml
Labels: low-priority, windows

#1066 [Mac] Fixes #1059 - Don't call unavailable selectors on old OS versions
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KeyView.m
  mac/history.md
Labels: bug, mac

#1071 [Mac] #1059 cherry pick from stable 10.0 (do not call unsupported selectors)
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KeyView.m
  mac/history.md
Labels: bug, mac

#1053 [Mac] Minor code cleanup
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
Labels: low-priority, mac

#1073 [iOS] #1060 - Bookmark add button enabled only when title/url have text
  ios/history.md
  ios/keyman/Keyman/Keyman/KMWebBrowser/BookmarksViewController.swift
Labels: bug, ios

#1083 [Mac] Fixed last stable version number in history.md
  mac/history.md
Labels: low-priority, mac

#1082 [Mac] Fixed last stable version number in history.md
  mac/history.md
Labels: low-priority, mac
