Repository keymanapp/keyman, pull requests merged in 2018-08, with the labels that each got.

#1089 [iOS] #1045,#1046 - Quick fix for OSK layout: disable animation
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/history.md
Labels: bug, ios

#1077 [Android] Add round launcher icons
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/res/drawable-hdpi/ic_launcher_round.png
  android/KMAPro/kMAPro/src/main/res/drawable-mdpi/ic_launcher_round.png
  android/KMAPro/kMAPro/src/main/res/drawable-xhdpi/ic_launcher_round.png
  android/KMAPro/kMAPro/src/main/res/drawable-xxhdpi/ic_launcher_round.png
  android/KMAPro/kMAPro/src/main/res/drawable-xxxhdpi/ic_launcher_round.png
  android/history.md
Labels: android, enhancement

#1087 [iOS] Removed unnecessary UIFileSharingEnabled flag
  ios/history.md
  ios/keyman/Keyman/Keyman-Info.plist
Labels: ios

#1091 [Mac]#1090 - Fixed problem of selecting wrong rule
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/project.pbxproj
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/CipherMusicUnicode.kmn
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/CipherMusicUnicode.kmx
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KMEngineTests.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KeymanEngineTestsStaticHelperMethods.h
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KeymanEngineTestsStaticHelperMethods.m
  mac/history.md
Labels: bug, compatibility, mac

#1086 [developer] Use CEF in touch layout editor
  windows/src/developer/TIKE/Tike.dpr
  windows/src/developer/TIKE/Tike.dproj
  windows/src/developer/TIKE/http/Keyman.Developer.System.HttpServer.App.pas
  windows/src/developer/TIKE/http/Keyman.Developer.System.HttpServer.AppSource.pas
  windows/src/developer/TIKE/main/Keyman.Developer.System.CEFManager.pas
  windows/src/developer/TIKE/main/Keyman.Developer.UI.UframeCEFHost.dfm
  windows/src/developer/TIKE/main/Keyman.Developer.UI.UframeCEFHost.pas
  windows/src/developer/TIKE/oskbuilder/UframeTouchLayoutBuilder.dfm
  windows/src/developer/TIKE/oskbuilder/UframeTouchLayoutBuilder.pas
  windows/src/developer/TIKE/web/UmodWebHttpServer.pas
  windows/src/developer/TIKE/xml/layoutbuilder/builder.js
Labels: developer, enhancement

#1098 [Windows] Update to WIX 3.11.1 plus other minor environment riders
  windows/src/Defines.mak
  windows/src/README.md
  windows/src/desktop/inst/keymandesktop.wxs
  windows/src/developer/inst/kmdev.wxs
  windows/src/engine/inst/components.wxi
  windows/src/engine/inst/keymanengine.wxs
  windows/src/engine/keyman32/K32_DBG.CPP
  windows/src/global/inc/keyman64.h
Labels: developer, windows

#1099 [Mac] #1090 - Fixed follow-on bug (when Shift is pressed)
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KMEngineTests.m
  mac/history.md
Labels: bug, mac

#1095 [Mac] #1090 - cherry pick fix and tests from stable
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/project.pbxproj
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/CipherMusicUnicode.kmn
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/CipherMusicUnicode.kmx
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KMEngineTests.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KeymanEngineTestsStaticHelperMethods.h
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KeymanEngineTestsStaticHelperMethods.m
  mac/history.md
Labels: bug, mac

#1103 [Android] Fix crashes when input connection or package name is null
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/history.md
Labels: android, bug

#1108 [Android] Fix crashes when input connection or package name is null
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/history.md
Labels: android, bug

#1105 [Developer] Fixup debugger integration with ACE-based editor
  windows/src/developer/TIKE/child/UfrmDebug.pas
  windows/src/developer/TIKE/main/RedistFiles.pas
  windows/src/developer/TIKE/main/UframeTextEditor.dfm
  windows/src/developer/TIKE/main/UframeTextEditor.pas
  windows/src/developer/TIKE/xml/app/editor/editor.css
  windows/src/developer/TIKE/xml/app/editor/editor.js
  windows/src/developer/TIKE/xml/app/editor/index.html
  windows/src/developer/inst/app.wxi
Labels: developer, enhancement

#1112 [Android] Change default keyboard from european2 to sil_euro_latin
  android/KMEA/app/src/main/assets/cloud/european2-1.6.js
  android/KMEA/app/src/main/assets/cloud/sil_euro_latin-1.8.js
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/history.md
Labels: android, enhancement

#1119 [Android] Ensure keyboards list has an entry
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/history.md
Labels: android, bug

#1124 [Android] Validate keyboard ID when downloading keyboard from Keyman cloud
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/history.md
Labels: android, bug

#1109 [Android] Remove ad-hoc distribution of keyboards via keyman:// protocol
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/history.md
Labels: android, enhancement

#1132 [Developer] Support context menu in text editor
  windows/src/developer/TIKE/main/Keyman.Developer.UI.UframeCEFHost.pas
  windows/src/developer/TIKE/main/UframeTextEditor.pas
  windows/src/global/delphi/general/UserMessages.pas
Labels: developer, enhancement

#1135 [Developer] Remove Alt+letter/digit and function key bindings from editor
  windows/src/developer/TIKE/xml/app/editor/editor.js
Labels: developer, enhancement

#1138 [Developer] Manage focus correctly for setting breakpoints and more
  windows/src/developer/TIKE/main/Keyman.Developer.UI.UframeCEFHost.dfm
  windows/src/developer/TIKE/main/Keyman.Developer.UI.UframeCEFHost.pas
  windows/src/developer/TIKE/xml/app/editor/editor.js
Labels: bug, developer

#1136 [Developer] Remove old popup menu and attach command event for new menu for text editor
  windows/src/developer/TIKE/actions/dmActionsTextEditor.dfm
  windows/src/developer/TIKE/actions/dmActionsTextEditor.pas
  windows/src/developer/TIKE/main/UframeTextEditor.pas
Labels: developer, enhancement

#1140 [Developer] Tidy up row selection in web editor
  windows/src/developer/TIKE/main/UframeTextEditor.pas
  windows/src/developer/TIKE/xml/app/editor/editor.js
Labels: bug, developer

#1139 [Developer] Support printing from ACE text editor
  windows/src/developer/TIKE/actions/dmActionsMain.dfm
  windows/src/developer/TIKE/actions/dmActionsMain.pas
  windows/src/developer/TIKE/child/UfrmEditor.pas
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/main/UframeTextEditor.pas
  windows/src/developer/TIKE/xml/app/editor/editor.js
Labels: developer, enhancement

#1142 [Developer] Project window needs to support untitled projects
  windows/src/developer/TIKE/http/Keyman.Developer.System.HttpServer.App.pas
Labels: bug, developer

#1141 [Developer] Support CSS, JS and JSON formats in text editor
  windows/src/developer/TIKE/child/UfrmEditor.pas
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/main/KeyboardParser.pas
  windows/src/developer/TIKE/main/Keyman.Developer.UI.UframeCEFHost.pas
  windows/src/developer/TIKE/main/TextFileFormat.pas
  windows/src/developer/TIKE/main/UframeTextEditor.pas
  windows/src/developer/kmcomp/kmcomp.dpr
  windows/src/developer/kmcomp/kmcomp.dproj
  windows/src/unit-tests/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dpr
  windows/src/unit-tests/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dproj
Labels: developer, enhancement

#1144 [Developer] Track deadkeys more reliably in debugger
  windows/src/developer/TIKE/child/UfrmDebug.dfm
  windows/src/developer/TIKE/child/UfrmDebug.pas
  windows/src/developer/TIKE/debug/debugdeadkeys.pas
  windows/src/developer/TIKE/http/Keyman.Developer.System.HttpServer.App.pas
  windows/src/developer/TIKE/oskbuilder/UframeTouchLayoutBuilder.pas
Labels: bug, developer

#1147 [Developer] Re-implement Convert-to-character command in web text editor
  windows/src/developer/TIKE/actions/KMDActionInterfaces.pas
  windows/src/developer/TIKE/actions/dmActionsTextEditor.pas
  windows/src/developer/TIKE/main/UframeTextEditor.pas
  windows/src/developer/TIKE/xml/app/editor/editor.js
Labels: developer, enhancement

#1148 [Developer] Show selected character range in character preview window, not just first character
  windows/src/developer/TIKE/main/UframeTextEditor.pas
Labels: developer, enhancement

#1145 [Linux] update kmflcomp
  .gitignore
  linux/ibus-kmfl/src/kmflutil.c
  linux/ibus-kmfl/src/kmflutil.h
  linux/kmflcomp/Makefile.in
  linux/kmflcomp/aclocal.m4
  linux/kmflcomp/configure
  linux/kmflcomp/debian/changelog
  linux/kmflcomp/debian/control
  linux/kmflcomp/debian/libkmflcomp0.symbols
  linux/kmflcomp/include/Makefile.in
  linux/kmflcomp/include/kmfl.h
  linux/kmflcomp/kmfl_compiler/Makefile.in
  linux/kmflcomp/src/Makefile.in
  linux/kmflcomp/src/compiler.h
  linux/kmflcomp/src/kmflcomp.c
  linux/kmflcomp/src/lex.c
  linux/kmflcomp/src/lex.l
  linux/kmflcomp/src/yacc.c
  linux/kmflcomp/src/yacc.h
  linux/kmflcomp/src/yacc.y
  linux/libkmfl/Makefile.in
  linux/libkmfl/aclocal.m4
  linux/libkmfl/include/Makefile.in
  linux/libkmfl/src/Makefile.in
  linux/libkmfl/src/kmfl_load_keyboard.c
Labels: linux

#1149 [Developer] Maintain selection in web editor when saving or refreshing text
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/main/UframeTextEditor.pas
  windows/src/developer/TIKE/xml/app/editor/editor.js
Labels: developer, enhancement

#1150 [Developer] Add FindErrorByOffset support for future use by JSON, XML editors
  windows/src/developer/TIKE/main/UframeTextEditor.pas
  windows/src/developer/TIKE/xml/app/editor/editor.js
Labels: developer, enhancement

#1151 [Android] Add splash screen
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/SplashScreenActivity.java
  android/KMAPro/kMAPro/src/main/res/drawable-hdpi/keyman_logo_splash.9.png
  android/KMAPro/kMAPro/src/main/res/drawable-hdpi/sil_logo_blue_2017_1.9.png
  android/KMAPro/kMAPro/src/main/res/drawable-mdpi/keyman_logo_splash.9.png
  android/KMAPro/kMAPro/src/main/res/drawable-mdpi/sil_logo_blue_2017_1.9.png
  android/KMAPro/kMAPro/src/main/res/drawable-xhdpi/keyman_logo_splash.9.png
  android/KMAPro/kMAPro/src/main/res/drawable-xhdpi/sil_logo_blue_2017_1.9.png
  android/KMAPro/kMAPro/src/main/res/drawable-xxhdpi/keyman_logo_splash.9.png
  android/KMAPro/kMAPro/src/main/res/drawable-xxhdpi/sil_logo_blue_2017_1.9.png
  android/KMAPro/kMAPro/src/main/res/drawable-xxxhdpi/keyman_logo_splash.9.png
  android/KMAPro/kMAPro/src/main/res/drawable-xxxhdpi/sil_logo_blue_2017_1.9.png
  android/KMAPro/kMAPro/src/main/res/drawable/branded_logo.xml
  android/KMAPro/kMAPro/src/main/res/layout/activity_splash_screen.xml
  android/KMAPro/kMAPro/src/main/res/values-sw600dp/dimens.xml
  android/KMAPro/kMAPro/src/main/res/values-sw720dp-land/dimens.xml
  android/KMAPro/kMAPro/src/main/res/values-sw720dp/dimens.xml
  android/KMAPro/kMAPro/src/main/res/values/colors.xml
  android/KMAPro/kMAPro/src/main/res/values/dimens.xml
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMAPro/kMAPro/src/main/res/values/styles.xml
  android/history.md
Labels: android, enhancement
