Repository keymanapp/keyman, pull requests merged in 2018-12, with the labels that each got.

#1348 [common] Eliminate warnings on Linux build
  common/engine/keyboardprocessor/src/kmx/kmx_options.cpp
  common/engine/keyboardprocessor/src/kmx/kmx_processevent.cpp
Labels: common

#1369 [Developer] Current project should be shown in Developer title bar
  windows/src/developer/TIKE/actions/dmActionsMain.pas
  windows/src/developer/TIKE/main/UfrmMain.pas
Labels: developer, enhancement

#1368 [Developer] Fix bugs and regressions in Project Window
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/child/UfrmPackageEditor.pas
  windows/src/developer/TIKE/http/Keyman.Developer.System.HttpServer.App.pas
  windows/src/developer/TIKE/main/UfrmMain.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.ProjectFile.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.ProjectLoader.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.ProjectSaver.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.kpsProjectFile.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.ProjectFileUI.pas
  windows/src/developer/TIKE/xml/project/project.js
  windows/src/global/delphi/general/utilfiletypes.pas
Labels: bug, developer

#1366 [LMLayer] Adds promise polyfill for IE.
  common/predictive-text/index.ts
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
Labels: compatibility, lm-layer

#1364 [linux] update build scripts for jenkins for ibus-keyman and keyman-keyboardprocessor
  linux/scripts/deb.sh
  linux/scripts/dist.sh
  linux/scripts/jenkins.sh
  linux/scripts/reconf.sh
Labels: linux

#1360 [linux] use embed=linux and Linux user agent
  linux/keyman-config/Makefile
  linux/keyman-config/keyman_config/__init__.py
  linux/keyman-config/keyman_config/downloadkeyboard.py
  linux/keyman-config/keyman_config/get_kmp.py
  linux/keyman-config/keyman_config/version.py.in
  linux/keyman-config/km-package-install.bash-completion
  linux/scripts/reconf.sh
Labels: linux

#1374 [Developer] Do not callback to UI handler when creating project file on http worker thread
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.ProjectFile.pas
Labels: bug, developer

#1333 [Android][Web] Update FileUtils to handle mixed-case file extensions
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/FileUtils.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/FileUtilsTest.java
  android/history.md
  web/history.md
  web/source/kmwutils.ts
  web/testing/index.html
  web/testing/issue1332/ANDIKAAFR-R.TTF
  web/testing/issue1332/header.js
  web/testing/issue1332/index.html
  web/testing/issue1332/sil_cameroon_qwerty.js
Labels: android, bug, web

#1378 [Android] Tweak tablet layout
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
  android/KMAPro/kMAPro/src/main/res/layout/get_started_list_layout.xml
  android/KMAPro/kMAPro/src/main/res/layout/get_started_row_layout.xml
  android/KMAPro/kMAPro/src/main/res/menu-sw600dp/main.xml
  android/KMAPro/kMAPro/src/main/res/menu/main.xml
  android/KMAPro/kMAPro/src/main/res/values-sw600dp/dimens.xml
  android/KMAPro/kMAPro/src/main/res/values-sw720dp-land/dimens.xml
  android/KMAPro/kMAPro/src/main/res/values-sw720dp/dimens.xml
  android/KMAPro/kMAPro/src/main/res/values-v21/styles.xml
  android/KMAPro/kMAPro/src/main/res/values/dimens.xml
Labels: android

#1379 [linux] use search API to get list of keyboards for bash completion
  linux/keyman-config/km-package-install
Labels: linux

#1383 [linux] keyboardprocessor shouldn't be reconfd on jenkins
  common/engine/keyboardprocessor/debian/control
  linux/ibus-keyman/debian/control
  linux/ibus-keyman/src/engine.c
  linux/keyman-config/debian/control
  linux/scripts/jenkins.sh
  linux/scripts/launchpad.sh
Labels: linux

#1385 [linux] Linux jenkins
  linux/scripts/jenkins.sh
Labels: linux

#1384 [Common] Update VS version checks to 19.16 for latest release of VS2017 (bug in VS workaround)
  common/engine/keyboardprocessor/src/keyboard.cpp
  common/engine/keyboardprocessor/src/kmx/kmx_xstring.cpp
Labels: bug, common

#1314 [iOS] Implements infrastructure needed to support CODE_BEEP.
  ios/Cartfile
  ios/Cartfile.resolved
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebDelegate.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/keyboard.html
  ios/history.md
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
Labels: enhancement, ios

#1377 [Windows] Fix permissions for programdata\keyman folder during install so metro apps work correctly
  windows/src/engine/inst/insthelper/Keyman.System.Install.EnginePostInstall.pas
  windows/src/test/manual-tests/metro-permissions/Keyman.System.Test.MetroPermissions.pas
  windows/src/test/manual-tests/metro-permissions/MetroPerms.dpr
  windows/src/test/manual-tests/metro-permissions/MetroPerms.dproj
  windows/src/test/manual-tests/metro-permissions/MetroPerms.res
Labels: bug, windows

#1347 [iOS] Keyboard refactor + rotation fix
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/Extension/KeymanResponder+Types.swift
  ios/engine/KMEI/KeymanEngine/Classes/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyPreviewView.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardMenuView.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebDelegate.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/KeyboardPickerButton.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Migrations.swift
  ios/engine/KMEI/KeymanEngine/Classes/SubKeysView.swift
  ios/engine/KMEI/KeymanEngine/Classes/TextField.swift
  ios/engine/KMEI/KeymanEngine/Classes/TextView.swift
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/keyboard.html
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman.xcodeproj/xcshareddata/xcschemes/SWKeyboard.xcscheme
  ios/keyman/Keyman/Keyman/Classes/Extensions/UIView+Extensions.swift
  ios/keyman/Keyman/Keyman/KMWebBrowser/WebBrowserViewController.swift
  ios/keyman/Keyman/Keyman/MainViewController.swift
Labels: bug, enhancement, ios

#1387 [iOS] Changelog update
  ios/history.md
Labels: ios

#1388 [keyman] Linux jenkins sourcedir
  linux/scripts/dist.sh
  linux/scripts/jenkins.sh
Labels: linux

#1389 [linux] Linux jenkins
  linux/scripts/dist.sh
Labels: linux

#1391 [linux] ibus-keyman dependencies
  linux/ibus-keyman/debian/control
  linux/keyman-config/debian/control
Labels: linux

#1392 [linux] debian packaging of libkmnkbp-dev missing pkgconfig file
  common/engine/keyboardprocessor/debian/libkmnkbp-dev.install
Labels: linux

#1395 [iOS] Fixes Carthage's link to the app for App Store submission.
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
Labels: ios

#1394 [Web] Fixes accidental virtual-key case sensitivity.
  web/source/kmwosk.ts
Labels: bug, web

#1381 [common] Fix kmx test harness and kmx generation in source dir
  common/engine/keyboardprocessor/tests/unit/kmx/kmx.cpp
  common/engine/keyboardprocessor/tests/unit/kmx/meson.build
Labels: common

#1399 [Mac] Change command-line build to use the shared shellHelperFunctions.sh file in resources instead of using its own version.
  mac/build.sh
Labels: enhancement, mac

#1343 [mac] Update podfile.lock for latest XCode / macOS version support
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Podfile.lock
  mac/build.sh
Labels: mac

#1402 [linux] Linux jenkins cleanup sourcedir
  linux/scripts/jenkins.sh
Labels: linux

#1404 [linux] Linux jenkins exit too early
  linux/scripts/jenkins.sh
Labels: linux

#1371 [linux] ibus-keyman initial fixes for using kmx keyboards
  linux/ibus-keyman/src/engine.c
Labels: linux

#1400 [Android] Update default sil_euro_latin to v 1.8.1
  android/KMEA/app/src/main/assets/cloud/sil_euro_latin-1.8.1.js
  android/KMEA/app/src/main/assets/cloud/sil_euro_latin-1.8.js
Labels: android, enhancement

#1396 [linux] check if kmx already processed at >= version
  linux/ibus-keyman/src/keymanutil.c
Labels: linux

#1410 [Windows] Fixes #1279. Avoid crash when security software blocks Keyman Configuration from setting various registry values.
  windows/src/desktop/kmshell/main/UImportOlderVersionSettings.pas
  windows/src/desktop/kmshell/main/UfrmMain.pas
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/desktop/setup/RunTools.pas
  windows/src/engine/kmcomapi/com/options/keymanoptions.pas
  windows/src/engine/kmcomapi/util/keymanerrorcodes.pas
  windows/src/engine/kmcomapi/util/utilkeymanoption.pas
  windows/src/global/delphi/general/UCreateProcessAsShellUser.pas
  windows/src/global/delphi/general/kmcomapi_errors.pas
Labels: bug, windows

#1416 [Developer] Large icons cause Keyman Developer to crash (unsupported icon format in Delphi / windows)
  windows/src/developer/TIKE/main/UframeBitmapEditor.pas
Labels: bug, developer

#1417 [iOS] Update iOS keyboard to sil_euro_latin-1.8.1.js
  ios/engine/KMEI/KeymanEngine/Classes/Constants.swift
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/sil_euro_latin-1.8.1.js
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/sil_euro_latin-1.8.js
Labels: enhancement, ios

#1419 [linux] build scripts update launchpad,fix dist
  linux/scripts/dist.sh
  linux/scripts/launchpad.sh
Labels: linux

#1425 [linux] 'us' is the default us xkb keyboard not 'en'
  linux/ibus-keyman/src/keymanutil.c
Labels: linux

#1423 [common] tweak kmx tests for ibus-keyman test
  common/engine/keyboardprocessor/tests/unit/kmx/015 - ralt 2.kmn
  common/engine/keyboardprocessor/tests/unit/kmx/017 - space mnemonic kbd.kmn
  common/engine/keyboardprocessor/tests/unit/kmx/028 - smp.kmn
  common/engine/keyboardprocessor/tests/unit/kmx/kmx.cpp
Labels: common, linux

#1428 [Windows] Add oskbulkrenderer tool to generate sample On Screen Keyboards
  windows/src/global/delphi/visualkeyboard/VisualKeyboard.pas
  windows/src/global/delphi/visualkeyboard/VisualKeyboardExportBMP.pas
  windows/src/support/Makefile
  windows/src/support/oskbulkrenderer/Keyman.System.OSKBulkRenderer.pas
  windows/src/support/oskbulkrenderer/Makefile
  windows/src/support/oskbulkrenderer/oskbulkrenderer.dpr
  windows/src/support/oskbulkrenderer/oskbulkrenderer.dproj
  windows/src/support/oskbulkrenderer/oskbulkrenderer.res
  windows/src/support/oskbulkrenderer/version.rc
Labels: enhancement, windows

#1433 [Developer] Use keepalive to improve web server performance
  windows/src/developer/TIKE/web/UmodWebHttpServer.dfm
Labels: developer, enhancement

#1435 [Developer] Improve handling around overly enthusiastic focus changes with CEF
  windows/src/developer/TIKE/main/Keyman.Developer.UI.UframeCEFHost.dfm
  windows/src/developer/TIKE/main/Keyman.Developer.UI.UframeCEFHost.pas
Labels: bug, developer

#1429 [linux] remove X11 dependency from ibus-keyman
  linux/ibus-keyman/configure.ac
  linux/ibus-keyman/debian/changelog
  linux/ibus-keyman/debian/control
  linux/ibus-keyman/src/Makefile.am
  linux/ibus-keyman/src/engine.c
Labels: linux

#1438 [linux] put underlying base "us" keyboard into LDML
  linux/keyman-config/keyman_config/kvk2ldml.py
Labels: linux

#1403 [Web] OSK key generation refactor
  web/source/kmwosk.ts
Labels: enhancement, web

#1426 [Developer] Update kmcomp to migrate languages[] array
  windows/src/developer/TIKE/compile/MergeKeyboardInfo.pas
  windows/src/developer/history.md
  windows/src/global/delphi/keyboards/Keyman.System.KeyboardInfoFile.pas
Labels: developer

#1408 [linux] ibus keyman fix most things that failed using kmx test keyboards
  common/engine/keyboardprocessor/tests/unit/kmx/kmp.json
  linux/ibus-keyman/src/engine.c
Labels: linux

#1434 [Windows] Tweak vertical scaling for characters that may overflow OSK key boxes (e.g. Tai Dam)
  windows/src/global/delphi/comp/OnScreenKeyboard.pas
Labels: bug, windows

#1441 [linux] set GTK_CFLAGS and GTK_LIBS for make dist on jenkins
  linux/ibus-keyman/configure.ac
  linux/scripts/dist.sh
Labels: linux

#1431 [linux] ibus-keyman test program
  common/engine/keyboardprocessor/tests/unit/kmx/020 - deadkeys and backspace.kmn
  common/engine/keyboardprocessor/tests/unit/kmx/020 - deadkeys and backspace.kmx
  common/engine/keyboardprocessor/tests/unit/kmx/038 - punctkeys.kmn
  common/engine/keyboardprocessor/tests/unit/kmx/038 - punctkeys.kmx
  common/engine/keyboardprocessor/tests/unit/kmx/039 - generic ctrlalt.kmn
  common/engine/keyboardprocessor/tests/unit/kmx/039 - generic ctrlalt.kmx
  common/engine/keyboardprocessor/tests/unit/kmx/kmp.json
  linux/README.md
  linux/ibus-keyman/test/README.md
  linux/ibus-keyman/test/change_keyboard.py
  linux/ibus-keyman/test/keypress_actions.py
  linux/ibus-keyman/test/runtests.sh
  linux/ibus-keyman/test/sequence_step.py
  linux/ibus-keyman/test/test_ibus_keyman.py
Labels: linux

#1427 [Common] refactor path
  common/engine/keyboardprocessor/include/keyman/keyboardprocessor_bits.h
  common/engine/keyboardprocessor/src/json.hpp
  common/engine/keyboardprocessor/src/keyboard.cpp
  common/engine/keyboardprocessor/src/keyboard.hpp
  common/engine/keyboardprocessor/src/km_kbp_keyboard_api.cpp
  common/engine/keyboardprocessor/src/kmx/kmx_processevent.cpp
  common/engine/keyboardprocessor/src/kmx/kmx_xstring.cpp
  common/engine/keyboardprocessor/src/meson.build
  common/engine/keyboardprocessor/src/option.cpp
  common/engine/keyboardprocessor/src/path.hpp
  common/engine/keyboardprocessor/src/utfcodec.hpp
  common/engine/keyboardprocessor/tests/unit/kmnkbd/keyboard_api.cpp
  common/engine/keyboardprocessor/tests/unit/kmnkbd/state_api.cpp
  common/engine/keyboardprocessor/tests/unit/kmx/kmx.cpp
Labels: common

#1432 [Web] OSK bulk renderer
  web/bulk_rendering/build.sh
  web/bulk_rendering/index.html
  web/bulk_rendering/renderer_core.ts
  web/bulk_rendering/tsconfig.json
  web/history.md
  web/package-lock.json
  web/package.json
  web/source/kmwbase.ts
  web/source/kmwdom.ts
  web/source/kmwkeyboards.ts
  web/source/kmwosk.ts
  web/testing/issue382/issue382.kpj
Labels: enhancement, web

#1443 [Common] remove test039
  common/engine/keyboardprocessor/tests/unit/kmx/039 - generic ctrlalt.kmn
  common/engine/keyboardprocessor/tests/unit/kmx/kmp.json
  common/engine/keyboardprocessor/tests/unit/kmx/meson.build
  linux/keyman-config/debian/control
Labels: common, linux

#1437 [wip] [Common] refactor processor init
  common/engine/keyboardprocessor/include/keyman/keyboardprocessor.h.in
  common/engine/keyboardprocessor/src/keyboard.cpp
  common/engine/keyboardprocessor/src/keyboard.hpp
  common/engine/keyboardprocessor/src/km_kbp_keyboard_api.cpp
  common/engine/keyboardprocessor/src/km_kbp_options_api.cpp
  common/engine/keyboardprocessor/src/km_kbp_processevent_api.cpp
  common/engine/keyboardprocessor/src/km_kbp_state_api.cpp
  common/engine/keyboardprocessor/src/kmx/kmx_capslock.cpp
  common/engine/keyboardprocessor/src/kmx/kmx_context.cpp
  common/engine/keyboardprocessor/src/kmx/kmx_debug.cpp
  common/engine/keyboardprocessor/src/kmx/kmx_environment.cpp
  common/engine/keyboardprocessor/src/kmx/kmx_environment.h
  common/engine/keyboardprocessor/src/kmx/kmx_file.cpp
  common/engine/keyboardprocessor/src/kmx/kmx_modifiers.cpp
  common/engine/keyboardprocessor/src/kmx/kmx_options.cpp
  common/engine/keyboardprocessor/src/kmx/kmx_options.h
  common/engine/keyboardprocessor/src/kmx/kmx_processevent.cpp
  common/engine/keyboardprocessor/src/kmx/kmx_processevent.hpp
  common/engine/keyboardprocessor/src/kmx/kmx_processor.cpp
  common/engine/keyboardprocessor/src/kmx/kmx_processor.h
  common/engine/keyboardprocessor/src/kmx/kmx_xstring.cpp
  common/engine/keyboardprocessor/src/mock/mock_processor.cpp
  common/engine/keyboardprocessor/src/mock/mock_processor.hpp
  common/engine/keyboardprocessor/src/option.cpp
  common/engine/keyboardprocessor/src/option.hpp
  common/engine/keyboardprocessor/src/processor.hpp
  common/engine/keyboardprocessor/src/state.cpp
  common/engine/keyboardprocessor/src/state.hpp
  common/engine/keyboardprocessor/tests/unit/kmnkbd/state_api.cpp
  common/engine/keyboardprocessor/tests/unit/kmx/kmx.cpp
Labels: common, work-in-progress

#1446 [linux] Linux options
  linux.code-workspace
  linux/ibus-keyman/src/engine.c
Labels: linux

#1407 [Web, iOS, Android] Undisplayed diacritic fix
  web/history.md
  web/source/kmwdom.ts
  web/source/kmwembedded.ts
  web/source/kmwkeyboards.ts
  web/source/kmwnative.ts
  web/source/kmwosk.ts
  web/source/kmwutils.ts
  web/testing/index.html
  web/testing/issue382/index.html
  web/testing/issue382/issue382-layout.js
  web/testing/issue382/issue382.js
  web/testing/issue382/issue382.kmn
  web/testing/issue382/issue382.kmx
  web/testing/issue382/issue382.kvk
  web/testing/issue382/issue382.kvks
Labels: android, bug, ios, web

#1445 [iOS] Subkey combining diacritic display fix
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/history.md
Labels: bug, ios

#1450 Works around odd embedded iOS issue.
  web/source/kmwosk.ts
Labels: bug, ios

#1451 [Common] Refactor options storage and lookup
  common/engine/keyboardprocessor/src/km_kbp_options_api.cpp
  common/engine/keyboardprocessor/src/km_kbp_state_api.cpp
  common/engine/keyboardprocessor/src/kmx/kmx_actions.cpp
  common/engine/keyboardprocessor/src/kmx/kmx_environment.cpp
  common/engine/keyboardprocessor/src/kmx/kmx_environment.h
  common/engine/keyboardprocessor/src/kmx/kmx_options.cpp
  common/engine/keyboardprocessor/src/kmx/kmx_options.h
  common/engine/keyboardprocessor/src/kmx/kmx_processevent.cpp
  common/engine/keyboardprocessor/src/kmx/kmx_processevent.hpp
  common/engine/keyboardprocessor/src/kmx/kmx_processor.cpp
  common/engine/keyboardprocessor/src/mock/mock_processor.cpp
  common/engine/keyboardprocessor/src/mock/mock_processor.hpp
  common/engine/keyboardprocessor/src/option.cpp
  common/engine/keyboardprocessor/src/option.hpp
  common/engine/keyboardprocessor/src/processor.hpp
  common/engine/keyboardprocessor/src/state.cpp
  common/engine/keyboardprocessor/src/state.hpp
  common/engine/keyboardprocessor/tests/unit/kmnkbd/state_api.cpp
  common/engine/keyboardprocessor/tests/unit/kmx/035 - options double set staged.kmn
  common/engine/keyboardprocessor/tests/unit/kmx/036 - options - double reset staged.kmn
Labels: common

#1453 [linux] install kmx to ibus when installing kmp
  linux/ibus-keyman/src/engine.c
  linux/keyman-config/experiments/osk/ibus_dbus.py
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/kmpmetadata.py
  linux/keyman-config/keyman_config/uninstall_kmp.py
Labels: linux

#1454 [linux] forward backspace
  linux/ibus-keyman/src/engine.c
Labels: bug, linux
