Repository keymanapp/keyman, pull requests merged in 2018-06, with the labels that each got.

#929 [Mac] #675 - Double-clicking KMP shows config window with msg visible
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/KMConfigurationWindowController.h
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/KMConfigurationWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMPackage.h
  mac/Keyman4MacIM/Keyman4MacIM/KMPackage.m
  mac/history.md
Labels: bug, mac

#930 [Mac] #872 - Added Pages and Keynote as legacy apps
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/history.md
Labels: compatibility, mac

#926 [Developer] Open packages page now opens browser
  windows/src/developer/TIKE/child/UfrmPackageEditor.dfm
  windows/src/developer/TIKE/child/UfrmPackageEditor.pas
Labels: bug, developer

#935 [Mac] #769 - Switched to using Cocoapods to get Crashlytics framework
  mac/.gitignore
  mac/Cartfile
  mac/Cartfile.resolved
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM.xcworkspace/contents.xcworkspacedata
  mac/Keyman4MacIM/Keyman4MacIM.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Podfile
  mac/Keyman4MacIM/Podfile.lock
  mac/README.md
  mac/build.sh
  mac/history.md
Labels: mac

#938 [Mac] #894 - Use thread synchronization to prevent crash from timer event
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KeyView.m
Labels: bug, mac

#940 [Windows] Improve crash reporting stability
  windows/src/engine/tsysinfo/UfrmRemoteExceptionHandler.pas
  windows/src/engine/tsysinfo/si_base.pas
Labels: bug, windows

#941 [Mac] #894 update history file
  mac/history.md
Labels: mac

#942 [Android] Fix globe button for system keyboard
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/history.md
Labels: android, bug

#950 [Mac] Added switches to control Keyman4MacIM build destination
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/xcshareddata/xcschemes/Keyman.xcscheme
  mac/build.sh
  mac/history.md
Labels: developer, mac

#948 [Windows] Fix issues attempting to install custom languages in Windows 7
  windows/src/desktop/kmshell/install/UfrmInstallKeyboardLanguage.pas
  windows/src/engine/kmcomapi/processes/keyboard/kpinstallkeyboard.pas
  windows/src/engine/kmcomapi/processes/keyboard/kpinstallkeyboardlanguageprofiles.pas
Labels: bug, windows

#953 [windows] Update history.md
  windows/src/desktop/history.md
  windows/src/developer/history.md
Labels: windows

#955 [Windows] Untitled keyboards will now show the filename of the keyboard in Keyman UI
  windows/src/desktop/kmshell/xml/keyman_keyboardlist.xsl
  windows/src/engine/kmcomapi/processes/keyboard/kpinstallkeyboardlanguageprofiles.pas
Labels: enhancement, windows

#964 [Windows] Strip script subtag on Windows 7 before installing keyboard as script subtag not supported.
  windows/src/engine/kmcomapi/processes/keyboard/kpinstallkeyboardlanguageprofiles.pas
Labels: bug, windows

#961 [iOS] #735 - Allow keyboard update even if languageID not in API results
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/APIKeyboardRepository.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/KeyboardRepository.swift
  ios/history.md
  ios/keyman/Keyman/Keyman-Info.plist
  ios/keyman/Keyman/Settings.bundle/Root.plist
  ios/keymanios.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Labels: bug, ios

#972 [Android] Consolidate "Info" views
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/InfoActivity.java
  android/KMAPro/kMAPro/src/main/res/layout/activity_info.xml
  android/history.md
Labels: android, enhancement

#969 [Windows][Android][Web] Platform statement consistency fixes
  android/KMEA/build.gradle
  android/Samples/KMSample1/build.gradle
  android/Samples/KMSample2/build.gradle
  android/Tests/KeyboardHarness/app/src/main/assets/cloud/platformtest-1.0.js
  android/Tests/KeyboardHarness/app/src/main/java/com/keyman/android/tests/keyboardHarness/MainActivity.java
  android/Tests/KeyboardHarness/build.gradle
  web/source/kmwcallback.ts
  web/source/kmwdevice.ts
  web/testing/index.html
  web/testing/platform/index.html
  web/testing/platform/platformtest.js
  web/testing/platform/utilities.js
  windows/src/engine/keyman32/kmprocess.cpp
  windows/src/test/manual-tests/platform-rules/platform-results.xlsx
  windows/src/test/manual-tests/platform-rules/platformtest.js
  windows/src/test/manual-tests/platform-rules/platformtest.kmn
  windows/src/test/manual-tests/platform-rules/platformtest.kmp
  windows/src/test/manual-tests/platform-rules/platformtest.kmx
  windows/src/test/manual-tests/platform-rules/platformtest.kpj
  windows/src/test/manual-tests/platform-rules/platformtest.kps
Labels: android, bug, web, windows

#870 [linux] Relicense libkmfl and kmflcomp and dual license 2 ibus-kmfl files
  README.md
  linux/LICENSE.md
  linux/README.md
  linux/ibus-kmfl/debian/copyright
  linux/ibus-kmfl/src/engine.c
  linux/ibus-kmfl/src/kmflutil.c
  linux/ibus-kmfl/src/kmflutil.h
  linux/kmflcomp/COPYING
  linux/kmflcomp/ChangeLog
  linux/kmflcomp/configure.ac
  linux/kmflcomp/debian/changelog
  linux/kmflcomp/debian/copyright
  linux/kmflcomp/include/kmfl.h
  linux/kmflcomp/include/kmflcomp.h
  linux/kmflcomp/include/kmflutfconv.h
  linux/kmflcomp/kmfl_compiler/kmfl_compiler.c
  linux/kmflcomp/kmflcomp.prj
  linux/kmflcomp/kmflcomp.pws
  linux/kmflcomp/kmflcomp.rbc
  linux/kmflcomp/src/compiler.h
  linux/kmflcomp/src/kmflcomp.c
  linux/kmflcomp/src/lex.c
  linux/kmflcomp/src/memman.c
  linux/kmflcomp/src/memman.h
  linux/kmflcomp/src/utfconv.c
  linux/libkmfl/COPYING
  linux/libkmfl/ChangeLog
  linux/libkmfl/debian/changelog
  linux/libkmfl/debian/copyright
  linux/libkmfl/include/libkmfl.h
  linux/libkmfl/libkmfl.prj
  linux/libkmfl/libkmfl.pws
  linux/libkmfl/libkmfl.rbc
  linux/libkmfl/src/kmfl_interpreter.c
  linux/libkmfl/src/kmfl_load_keyboard.c
  linux/libkmfl/src/kmfl_messages.c
Labels: enhancement, linux

#977 History.md and updated platform test report
  android/history.md
  ios/history.md
  web/history.md
  windows/src/desktop/history.md
  windows/src/developer/history.md
  windows/src/test/manual-tests/platform-rules/platform-results.xlsx
  windows/src/test/manual-tests/platform-rules/platformtest.js
  windows/src/test/manual-tests/platform-rules/platformtest.kmx
Labels: android, ios, web, windows

#979 [web] Build initial test case for #978
  web/testing/test-updateLayer/index.html
  web/testing/test-updateLayer/rac_balti.js
  web/testing/test-updateLayer/utilities.js
Labels: bug, web

#981 [ios] Cleaning up constraint violations and confused keyboard resizing code
  ios/engine/KMEI/KeymanEngine/Classes/Constants.swift
  ios/engine/KMEI/KeymanEngine/Classes/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyPreviewView.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardMenuView.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/SubKeysView.swift
Labels: bug, ios

#982 [ios] If a keyboard.json has no timezone in the last modified date string, then it will still install
  ios/engine/KMEI/KeymanEngine/Classes/Extension/JSONDecoder.DateDecodingStrategy+ISO8601Fallback.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
Labels: bug, ios

#986 Tweak history.md
  android/history.md
  ios/history.md
  web/history.md
Labels: android, ios, web

#989 [ios] merge frozen keyboard fix to 11.0 alpha
  ios/engine/KMEI/KeymanEngine/Classes/InputViewController.swift
Labels: bug, ios

#990 [Mac] #931 - Made anything that appears to be "LibreOffice" use legacy
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
Labels: compatibility, mac

#995 [windows] Fixes IKeymanControl::OpenConfiguration giving noop
  windows/src/engine/kmcomapi/com/system/keymancontrol.pas
Labels: bug, windows

#971 [Mac] #967 - Make platform tests case-insensitive and support invert logic.
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/project.pbxproj
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KMEngineTests.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KeymanEngineTestsStaticHelperMethods.h
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KeymanEngineTestsStaticHelperMethods.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/PlatformTest.kmn
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/PlatformTest.kmx
  mac/history.md
  windows/src/test/manual-tests/platform-rules/platform-results.xlsx
Labels: enhancement, mac

#997 [windows] Installation of keyboards in Windows avoids some side effects with refresh and additional system keyboards
  windows/src/engine/keyman/UfrmKeyman7Main.pas
  windows/src/engine/kmcomapi/processes/keyboard/kpinstallkeyboardlanguageprofiles.pas
Labels: bug, windows

#1003 [Windows][Android][Web] Move "edge" platform test with other browsers
  android/Tests/KeyboardHarness/app/src/main/assets/cloud/platformtest-1.0.js
  web/testing/platform/platformtest.js
  windows/src/test/manual-tests/platform-rules/platformtest.js
  windows/src/test/manual-tests/platform-rules/platformtest.kmn
  windows/src/test/manual-tests/platform-rules/platformtest.kmp
  windows/src/test/manual-tests/platform-rules/platformtest.kmx
  windows/src/test/manual-tests/platform-rules/platformtest.kpj
  windows/src/test/manual-tests/platform-rules/platformtest.kps
Labels: android, bug, web, windows

#1004 [windows] Getting Started links are no longer relevant.
  windows/src/desktop/history.md
  windows/src/desktop/kmshell/xml/help.xsl
  windows/src/desktop/kmshell/xml/keyman.xsl
  windows/src/desktop/kmshell/xml/locale.xml
  windows/src/developer/history.md
Labels: bug, windows

#1001 [Mac] #994 - Use keyboard names w/ native script from KMX instead of inf
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/KMInfoWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/history.md
Labels: enhancement, mac

#1006 [developer] Script subtags are now appended for more scripts in the Keyboard languages dialog.
  windows/src/buildtools/build_standards_data/Keyman.System.BuildLibPalasoAllTags.pas
Labels: bug, developer

#1008 [developer] KeymanWeb 10.0 compiler now computes indexes correctly when deadkey and any used in a secondary group
  web/testing/issue920/index.html
  web/testing/issue920/issue920.kpj
  web/testing/issue920/multigroup.kmn
  web/testing/issue920/multigroup90.kmn
  windows/src/developer/TIKE/compile/CompileKeymanWeb.pas
  windows/src/developer/history.md
Labels: bug, developer

#1009 [windows] Disable symsrv call from build agent
  windows/src/buildtools/inst/copydebug.in
Labels: developer, enhancement, windows

#1012 [Android] Fix api.keyman.com/cloud query for BCP 47 language tags
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListActivity.java
Labels: android, bug

#1013 [Mac] Fixes 894, Fixes 962 - Fixed timer problems in OSK
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KeyView.m
  mac/history.md
Labels: bug, mac

#1014 [Android] [web] Cancel attempt to cancel a touchcancel event that can't be cancelled. Enough cancels there for ya?
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  web/source/kmwosk.ts
Labels: android, bug, web

#1017 [developer] Developer no longer crashes if a .kpj.user file is deleted while project is loaded.
  windows/src/developer/TIKE/project/ProjectFile.pas
  windows/src/developer/TIKE/project/ProjectFileUI.pas
  windows/src/developer/TIKE/project/ProjectLoader.pas
Labels: bug, developer

#1020 [web] Pressing between keys gives wrong key
  web/source/kmwosk.ts
Labels: bug, web

#1023 [Android] Update Info page
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/dist-downloads-ap.png
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/dist-downloads-at.png
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/dist-file-browser-ap.png
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/dist-file-browser-at.png
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/dist-install1-ap.png
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/dist-install1-at.png
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/dist-kmp-downloaded-ap.png
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/dist-welcome-ap.png
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/dist-welcome-at.png
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/uninstall-delete-a.png
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/uninstall-list-a.png
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/uninstall-notification-a.png
  android/KMAPro/kMAPro/src/main/assets/info/info.html
Labels: android, enhancement

#1024 [Mac] Removed call to "containsString" because it won't work in older OS
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
Labels: compatibility, mac

#1019 [Mac] Fixes #1005: Crash - CFRelease() called with NULL. Fixed existing unit test and added more.
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/Keyman4MacIM/KeymanTests/AppleCompliantTestClient.h
  mac/Keyman4MacIM/KeymanTests/AppleCompliantTestClient.m
  mac/Keyman4MacIM/KeymanTests/KMInputMethodBrowserClientEventHandlerTests.m
  mac/Keyman4MacIM/KeymanTests/KMInputMethodEventHandlerTests.m
  mac/Keyman4MacIM/KeymanTests/KMMethodEventHandlerTests.kmn
  mac/Keyman4MacIM/KeymanTests/KMMethodEventHandlerTests.kmx
  mac/Keyman4MacIM/KeymanTests/LegacyTestClient.h
  mac/Keyman4MacIM/KeymanTests/LegacyTestClient.m
  mac/Keyman4MacIM/KeymanTests/NoContextTestClient.h
  mac/Keyman4MacIM/KeymanTests/NoContextTestClient.m
  mac/Keyman4MacIM/KeymanTests/SimpleTest.kmn
  mac/Keyman4MacIM/KeymanTests/TestAppDelegate.h
  mac/Keyman4MacIM/KeymanTests/TestAppDelegate.m
  mac/history.md
Labels: bug, enhancement, mac

#1028 [android] updateKMText was called with unescaped string in some contexts.
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMTextView.java
Labels: android, bug

#1027 [web] Nextlayer property not transferred from base to prepended popup key.
  web/source/kmwembedded.ts
  web/source/kmwosk.ts
Labels: bug, web

#998 [linux] packaging path variables
  linux/kmflcomp/Makefile.am
  linux/libkmfl/Makefile.am
Labels: linux

#1031 [Mac] Prevent permanently hiding OSK when a menu is dropped down
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KeyView.m
  mac/history.md
Labels: bug, mac

#1032 Updates to history
  android/history.md
  ios/history.md
  web/history.md
  windows/src/desktop/history.md
  windows/src/developer/history.md
Labels: enhancement

#1033 Merge P3S6 beta to alpha
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/dist-downloads-ap.png
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/dist-downloads-at.png
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/dist-file-browser-ap.png
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/dist-file-browser-at.png
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/dist-install1-ap.png
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/dist-install1-at.png
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/dist-kmp-downloaded-ap.png
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/dist-welcome-ap.png
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/dist-welcome-at.png
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/uninstall-delete-a.png
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/uninstall-list-a.png
  android/KMAPro/kMAPro/src/main/assets/info/img/app/10.0/uninstall-notification-a.png
  android/KMAPro/kMAPro/src/main/assets/info/info.html
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMTextView.java
  android/history.md
  ios/history.md
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/Keyman4MacIM/KeymanTests/AppleCompliantTestClient.h
  mac/Keyman4MacIM/KeymanTests/AppleCompliantTestClient.m
  mac/Keyman4MacIM/KeymanTests/KMInputMethodBrowserClientEventHandlerTests.m
  mac/Keyman4MacIM/KeymanTests/KMInputMethodEventHandlerTests.m
  mac/Keyman4MacIM/KeymanTests/KMMethodEventHandlerTests.kmn
  mac/Keyman4MacIM/KeymanTests/KMMethodEventHandlerTests.kmx
  mac/Keyman4MacIM/KeymanTests/LegacyTestClient.h
  mac/Keyman4MacIM/KeymanTests/LegacyTestClient.m
  mac/Keyman4MacIM/KeymanTests/NoContextTestClient.h
  mac/Keyman4MacIM/KeymanTests/NoContextTestClient.m
  mac/Keyman4MacIM/KeymanTests/SimpleTest.kmn
  mac/Keyman4MacIM/KeymanTests/TestAppDelegate.h
  mac/Keyman4MacIM/KeymanTests/TestAppDelegate.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KeyView.m
  mac/history.md
  web/history.md
  web/source/kmwembedded.ts
  web/source/kmwosk.ts
  windows/src/desktop/history.md
  windows/src/developer/history.md
Labels: enhancement

#1038 [Mac] Fixes #894 - Fixed invocation of keyAction (missing self param)
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KeyView.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KeyView.m
  mac/history.md
Labels: bug, mac

#1039 [Mac] #991 - Reverted changes for #872 (to solve more serious bugs)
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/history.md
Labels: bug, mac

#1040 P3S6 Beta to Alpha (final run?)
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KeyView.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KeyView.m
  mac/history.md
Labels: enhancement
