Repository keymanapp/keyman, pull requests merged in 2018-05, with the labels that each got.

#803 Ios/case insensitive alpha list
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageViewController.swift
  ios/history.md
Labels: bug, ios

#804 Ios/json parsing miliseconds
  ios/engine/KMEI/KeymanEngine/Classes/Extension/JSONDecoder.DateDecodingStrategy+ISO8601Fallback.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
Labels: bug, ios

#807 [Mac] 705/709/791 Fixes to configuration/download windows
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/preferences.xib
  mac/Keyman4MacIM/Keyman4MacIM/KMDownloadKeyboard/KMDownloadKBWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMDownloadKeyboard/KMDownloadKBWindowController.xib
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/KMInfoWindowController.xib
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardHelpWindow/KMKeyboardHelpWindowController.xib
  mac/history.md
Labels: bug, enhancement, mac

#812 [developer] When importing a KVK into touch layout, treats sp, width and pad as strings
  windows/src/developer/TIKE/oskbuilder/TouchLayout.pas
Labels: bug, developer

#811 Ensure only one key is selected so modifying or deleting it doesn't break JSON
  windows/src/developer/TIKE/xml/layoutbuilder/builder.js
Labels: bug, developer

#814 [developer] Avoid crash if online update already running
  windows/src/developer/TIKE/actions/dmActionsMain.pas
  windows/src/developer/history.md
  windows/src/global/delphi/online/OnlineUpdateCheck.pas
Labels: bug, developer

#813 Trap errors if Keyman Desktop is not installed when trying to install a keyboard
  windows/src/developer/TIKE/main/KeymanDeveloperUtils.pas
  windows/src/global/delphi/general/KeymanPaths.pas
Labels: bug, developer

#810 [developer] Restrict modifier options to a small set by default in touch layout editor
  windows/src/developer/TIKE/xml/layoutbuilder/builder.js
  windows/src/developer/TIKE/xml/layoutbuilder/builder.xsl
Labels: developer, enhancement

#802 Ios/navbar background beta
  ios/history.md
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/AppDelegate.swift
  ios/keyman/Keyman/Keyman/Classes/Extensions/UIColor+Extensions.swift
  ios/keyman/Keyman/Keyman/Classes/Extensions/UIDevice+Extensions.swift
  ios/keyman/Keyman/Keyman/Classes/Extensions/UIView+Extensions.swift
  ios/keyman/Keyman/Keyman/Classes/View/KMNavigationBarBackgroundView.swift
  ios/keyman/Keyman/Keyman/Classes/View/KMUnderscoreView.swift
  ios/keyman/Keyman/Keyman/Classes/View/KMView.swift
  ios/keyman/Keyman/Keyman/Images.xcassets/LaunchImage.launchimage/Contents.json
  ios/keyman/Keyman/Keyman/Images.xcassets/LaunchImage.launchimage/launch_iphoneX_landscape@3x.png
  ios/keyman/Keyman/Keyman/Images.xcassets/LaunchImage.launchimage/launch_iphonex_portrait@3x.png
  ios/keyman/Keyman/Keyman/KMWebBrowser/WebBrowserViewController.swift
  ios/keyman/Keyman/Keyman/Keyman Navbar/keyman_logo@3x.png
  ios/keyman/Keyman/Keyman/MainViewController.swift
Labels: bug, ios

#783 [Mac] Issue 175: Solved compatibility problem with Open Office
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodBrowserClientEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandlerProtected.h
Labels: compatibility, mac

#817 Ensure that visual keyboard is correctly associated with kmx at compile time
  windows/src/developer/TIKE/project/kmnProjectFile.pas
Labels: bug, developer

#815 [developer] Don't create a blank project on 'opening' a project, either on startup or via menu
  windows/src/developer/TIKE/actions/dmActionsMain.pas
  windows/src/developer/TIKE/main/UfrmMain.pas
Labels: bug, developer

#821 [developer] Scroll editor into view after undo
  windows/src/global/delphi/comp/KMDActions.pas
Labels: bug, developer

#822 [developer] Correctly show messages window after compile.
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/child/UfrmPackageEditor.pas
  windows/src/developer/TIKE/project/kmnProjectFileUI.pas
Labels: bug, developer

#820 [developer] History.md updates
  windows/src/developer/history.md
Labels: developer

#825 [Web] Case-insensitive virtual keys
  web/history.md
  web/source/kmwosk.ts
Labels: bug, web

#828 [windows] Fix sporadic crash in Keyman when updating keyboard icon in OSK
  windows/src/engine/keyman/viskbd/UfrmVisualKeyboard.pas
Labels: bug, windows

#832 [windows] Fixes crash starting Keyman Configuration if high bit is set in underlying keyboard id
  windows/src/desktop/kmshell/main/UfrmMain.pas
Labels: bug, windows

#831 [windows] Fixes ampersand in keyboard name can cause Keyman Configuration to crash
  windows/src/desktop/kmshell/main/UfrmMain.pas
Labels: bug, windows

#826 [Android] Update string handling for PackageProcessor
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/PackageProcessorTest.java
  android/KMEA/test_resources/v/gff_amh_7_test_json.kmp
  android/history.md
Labels: android, bug

#834 [Web] CODE_BEEP in stores
  web/history.md
  web/source/kmwcallback.ts
  windows/src/developer/TIKE/compile/CompileKeymanWeb.pas
  windows/src/developer/history.md
Labels: bug, developer, web

#827 [windows] Add script lookup to "Add Language" dialog so end user experience is improved.
  resources/standards-data/alltags/alltags.txt
  resources/standards-data/alltags/readme.md
  windows/src/buildtools/build_standards_data/Keyman.Console.BuildStandardsData.pas
  windows/src/buildtools/build_standards_data/Keyman.System.BuildISO6393Registry.pas
  windows/src/buildtools/build_standards_data/Keyman.System.BuildLCIDToBCP47Registry.pas
  windows/src/buildtools/build_standards_data/Keyman.System.BuildLanguageSubtagRegistry.pas
  windows/src/buildtools/build_standards_data/Keyman.System.BuildLibPalasoAllTags.pas
  windows/src/buildtools/build_standards_data/Makefile
  windows/src/buildtools/build_standards_data/build_standards_data.dpr
  windows/src/buildtools/build_standards_data/build_standards_data.dproj
  windows/src/buildtools/buildpkg/buildpkg.dpr
  windows/src/buildtools/buildpkg/buildpkg.dproj
  windows/src/desktop/kmshell/install/UfrmInstallKeyboardLanguage.pas
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/kmshell/kmshell.res
  windows/src/developer/TIKE/Tike.dpr
  windows/src/developer/TIKE/Tike.dproj
  windows/src/developer/kmcomp/kmcomp.dpr
  windows/src/developer/kmcomp/kmcomp.dproj
  windows/src/engine/keyman/keyman.dpr
  windows/src/engine/keyman/keyman.dproj
  windows/src/engine/kmcomapi/kmcomapi.dpr
  windows/src/engine/kmcomapi/kmcomapi.dproj
  windows/src/global/delphi/general/Keyman.System.CanonicalLanguageCodeUtils.pas
  windows/src/global/delphi/general/Keyman.System.LanguageCodeUtils.pas
  windows/src/unit-tests/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dpr
  windows/src/unit-tests/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dproj
  windows/src/unit-tests/kmx-file-languages/KMXFileLanguagesTestSuite.dpr
  windows/src/unit-tests/kmx-file-languages/KMXFileLanguagesTestSuite.dproj
Labels: bug, enhancement, windows

#833 [Mac] #768 - Added "Use verbose Console logging" option.
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/KMConfigurationWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/preferences.xib
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/history.md
Labels: enhancement, mac

#837 [android] cleanup console log
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/assets/keyboard.html
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMTextView.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/Connection.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/FileUtils.java
  android/history.md
Labels: android, enhancement

#839 [windows] Implement IKeymanKeyboardFile.DefaultHotkey
  windows/src/desktop/kmshell/main/UImportOlderVersionKeyboards.pas
  windows/src/engine/kmcomapi/com/keyboards/keymankeyboardfile.pas
  windows/src/engine/kmcomapi/processes/keyboard/kpinstallkeyboard.pas
  windows/src/global/delphi/general/RegKeyboards.pas
  windows/src/global/delphi/general/RegistryKeys.pas
Labels: bug, windows

#840 [windows] Keyman Desktop Setup restarting Windows pathway is a little unclear if user chooses not to restart
  windows/src/desktop/setup/RunTools.pas
  windows/src/desktop/setup/SetupStrings.pas
  windows/src/desktop/setup/UfrmRunDesktop.pas
Labels: enhancement, windows

#844 [Mac] #770 Added logic to hide OSK when Keyman is no longer active IM.
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
Labels: bug, mac

#849 [android] Update compile SDKVersion from 25 to 27
  android/KMAPro/build.gradle
  android/KMAPro/gradle/wrapper/gradle-wrapper.properties
  android/KMAPro/kMAPro/build.gradle
  android/KMEA/app/build.gradle
  android/KMEA/build.gradle
  android/KMEA/gradle/wrapper/gradle-wrapper.properties
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample1/build.gradle
  android/Samples/KMSample1/gradle/wrapper/gradle-wrapper.properties
  android/Samples/KMSample2/app/build.gradle
  android/Samples/KMSample2/build.gradle
  android/Samples/KMSample2/gradle/wrapper/gradle-wrapper.properties
  android/Tests/KeyboardHarness/app/build.gradle
  android/Tests/KeyboardHarness/build.gradle
  android/Tests/KeyboardHarness/gradle/wrapper/gradle-wrapper.properties
  android/history.md
Labels: android, enhancement

#848 [android] Fix globe button when exiting in-app browser
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/InfoActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/WebBrowserActivity.java
  android/KMAPro/kMAPro/src/main/res/layout/activity_info.xml
  android/KMAPro/kMAPro/src/main/res/layout/activity_package_installer.xml
  android/KMAPro/kMAPro/src/main/res/layout/activity_web_browser.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/history.md
Labels: android, bug

#864 [Developer] Fixes broken beta build due to missing componentrefs
  windows/src/developer/inst/kmdev.wxs
Labels: bug, developer

#868 [Windows] Fixes Ctrl+Alt simulation
  windows/src/desktop/history.md
  windows/src/engine/keyman32/preservedkeymap.cpp
Labels: bug, windows

#865 [iOS] Fixes accidental event interrupts due to window.location.hash use.
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/keyboard.html
Labels: bug, ios

#851 [Mac] #769 Added error reporting via Fabric/Crashlytics
  mac/Cartfile
  mac/Cartfile.resolved
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/Info.plist
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/build.sh
  mac/history.md
Labels: enhancement, mac

#873 Update history.md for all release tags on all platforms as of today
  android/history.md
  ios/history.md
  mac/history.md
  web/history.md
  windows/src/desktop/history.md
  windows/src/developer/history.md
Labels: android, developer, ios, mac, web, windows

#892 [Windows] Canonicalize and complete language tags during keyboard installation and when adding languages to keyboards via Keyman Configuration
  windows/src/buildtools/buildpkg/buildpkg.dpr
  windows/src/buildtools/buildpkg/buildpkg.dproj
  windows/src/desktop/kmshell/install/UfrmInstallKeyboardLanguage.pas
  windows/src/developer/TIKE/Tike.dpr
  windows/src/developer/TIKE/Tike.dproj
  windows/src/developer/kmcomp/kmcomp.dpr
  windows/src/developer/kmcomp/kmcomp.dproj
  windows/src/engine/keyman/keyman.dpr
  windows/src/engine/keyman/keyman.dproj
  windows/src/engine/kmcomapi/kmcomapi.dpr
  windows/src/engine/kmcomapi/kmcomapi.dproj
  windows/src/engine/kmcomapi/processes/keyboard/kpinstallkeyboardlanguageprofiles.pas
  windows/src/global/delphi/general/BCP47Tag.pas
  windows/src/test/manual-tests/bcp47-completion/bcp47completion.kmn
  windows/src/test/manual-tests/bcp47-completion/bcp47completion.kmp
  windows/src/test/manual-tests/bcp47-completion/bcp47completion.kmx
  windows/src/test/manual-tests/bcp47-completion/bcp47completion.kpj
  windows/src/test/manual-tests/bcp47-completion/bcp47completion.kps
  windows/src/unit-tests/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dpr
  windows/src/unit-tests/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dproj
Labels: enhancement, windows

#898 [Developer] Make longpress slash darker in touch layout editor
  windows/src/developer/TIKE/xml/layoutbuilder/skflag.png
Labels: developer, enhancement

#883 [Mac] Prevented crash in eventTapFunction processing "out of band" event
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
Labels: bug, mac

#900 [Developer] The debugger should check that build succeeded before attempting to start.
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/rel/keymanstrings.pas
Labels: bug, developer

#906 [Windows] Incorrect icons caused by lookup against non-installed language profile.
  windows/src/engine/kmcomapi/com/keyboardlanguages/keymankeyboardlanguageinstalled.pas
  windows/src/engine/kmcomapi/com/languages/keymanlanguage.pas
Labels: bug, windows

#897 [Developer] For new keyboard layouts, touch layout files will have .keyman-touch-layout extension
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/main/KeyboardParser.pas
  windows/src/developer/TIKE/oskbuilder/UframeTouchLayoutBuilder.pas
  windows/src/developer/TIKE/oskbuilder/UfrmSelectTouchLayoutTemplate.pas
  windows/src/developer/TIKE/xml/layoutbuilder/template-basic.keyman-touch-layout
  windows/src/developer/TIKE/xml/layoutbuilder/template-latin.keyman-touch-layout
  windows/src/developer/TIKE/xml/layoutbuilder/template-traditional.keyman-touch-layout
  windows/src/developer/inst/kmdev.wxs
  windows/src/global/delphi/general/utilfiletypes.pas
Labels: developer, enhancement

#907 [Developer] Fix for crash in Developer restarting regression test batch half-way through the batch.
  windows/src/developer/TIKE/debug/RegressionTest.pas
Labels: bug, developer

#909 [Developer] Prevents a crash when Keyman Developer attempts to load an invalid project file.
  windows/src/developer/TIKE/project/ProjectLoader.pas
Labels: bug, developer

#903 [Android] Improve intent-filter
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/history.md
Labels: android, bug

#884 [Mac] #769 added dSYM for engine so symbols will be available in Crashlytics
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/project.pbxproj
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KeyView.m
  mac/build.sh
  mac/history.md
Labels: compatibility, mac

#915 [Windows] Avoid crashing if a kvk file is invalid in a package.
  windows/src/engine/kmcomapi/processes/package/kpinstallpackage.pas
  windows/src/engine/kmcomapi/util/keymanerrorcodes.pas
  windows/src/global/delphi/general/kmcomapi_errors.pas
Labels: bug, windows

#916 [Windows] Keyboard Options dialog no longer crashes on save.
  windows/src/engine/keyman32/keyboardoptions.cpp
  windows/src/engine/kmcomapi/com/keyboardoptions/keymankeyboardoptions.pas
Labels: bug, windows

#918 [Windows] Fixes a problem where "Castilian" was shown instead of "Spanish"
  windows/src/buildtools/build_standards_data/Keyman.System.BuildLanguageSubtagRegistry.pas
Labels: bug, windows

#922 Fixup email support link in help for Windows
  windows/src/desktop/help/basic/traymenu.xml
Labels: windows

#923 history.md updates
  windows/src/desktop/history.md
  windows/src/developer/history.md
Labels: developer, windows
