Repository keymanapp/keyman, pull requests merged in 2018-09, with the labels that each got.

#1155 [Developer] Prevent web requests from breaking out of our root path with ../
  windows/src/developer/TIKE/http/Keyman.Developer.System.HttpServer.App.pas
  windows/src/developer/TIKE/http/Keyman.Developer.System.HttpServer.Base.pas
Labels: bug, developer

#1154 [Developer] Add basic monarch syntax highlighting for .kmn
  windows/src/developer/TIKE/xml/app/editor/editor.js
  windows/src/developer/TIKE/xml/app/editor/language.keyman.js
Labels: developer, enhancement

#1152 [Developer] First pass of managing code and char fonts in web text editor
  windows/src/developer/TIKE/Tike.dpr
  windows/src/developer/TIKE/Tike.dproj
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/main/KeymanDeveloperUtils.pas
  windows/src/developer/TIKE/main/UframeTextEditor.pas
  windows/src/developer/TIKE/xml/app/editor/editor.css
  windows/src/developer/TIKE/xml/app/editor/editor.js
  windows/src/developer/TIKE/xml/app/editor/language.keyman.js
  windows/src/global/delphi/general/Keyman.UI.FontUtils.pas
Labels: developer, enhancement

#1156 [Developer] Support drag and drop into monaco editor from Character Map
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/main/CharMapDropTool.pas
  windows/src/developer/TIKE/main/UframeTextEditor.pas
  windows/src/developer/TIKE/xml/app/editor/editor.js
  windows/src/global/delphi/charmap/CharacterDragObject.pas
Labels: developer, enhancement

#1157 [Developer] Fixup persistence of untitled project state
  windows/src/developer/TIKE/http/Keyman.Developer.System.HttpServer.App.pas
  windows/src/developer/TIKE/project/ProjectFile.pas
Labels: bug, developer

#1164 [iOS] #1069 - Added Keyman & SIL logos & Copyright to offline info page
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/WebPages/Info/app-info.css
  ios/keyman/Keyman/Keyman/WebPages/Info/info.html
  ios/keyman/Keyman/Keyman/WebPages/Info/sil-small.png
Labels: enhancement, ios

#1158 [Developer] Refactor merge keyboard info
  windows/src/README.md
  windows/src/developer/TIKE/compile/MergeKeyboardInfo.pas
  windows/src/developer/history.md
  windows/src/global/delphi/general/kmxfile.pas
  windows/src/global/delphi/general/utilfiletypes.pas
Labels: bug, developer

#1163 [Mac] #1069 - Added SIL logo to DMG image & About box. Updated copyright
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/Images/SILInBlue76.png
  mac/Keyman4MacIM/Keyman4MacIM/Info.plist
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/KMAboutWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/KMAboutWindowController.xib
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/keyman-88.png
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/logo.png
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/logo.png
  mac/history.md
Labels: mac

#1067 [Windows] Fix docbook links (stable)
  windows/src/desktop/help/common/linux.xml
  windows/src/desktop/help/common/mac.xml
  windows/src/desktop/history.md
Labels: low-priority, stable, windows

#1174 [Developer] Refactor merge keyboard info (stable)
  windows/src/README.md
  windows/src/developer/TIKE/compile/MergeKeyboardInfo.pas
  windows/src/developer/history.md
  windows/src/developer/mk.bat
  windows/src/global/delphi/general/kmxfile.pas
  windows/src/global/delphi/general/utilfiletypes.pas
Labels: cherry-pick, developer, enhancement, stable

#1173 [iOS] Added entries to plist to say that Keyman is not document-based
  ios/keyman/Keyman/Keyman-Info.plist
Labels: ios

#1178 [Windows] Fixup installer .wxs sources for use with WiX 3.11 (RegistryKey/@Action)
  windows/src/Defines.mak
  windows/src/desktop/inst/keymandesktop.wxs
  windows/src/developer/inst/kmdev.wxs
  windows/src/engine/inst/components.wxi
  windows/src/engine/inst/keymanengine.wxs
Labels: developer, enhancement, stable, windows

#1194 [Windows] Update splash screens and about screens to show SIL logo
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/kmshell/kmshell.res
  windows/src/desktop/kmshell/xml/config.css
  windows/src/desktop/kmshell/xml/keyman_support.xsl
  windows/src/desktop/kmshell/xml/locale.xml
  windows/src/desktop/kmshell/xml/sil-logo-blue.png
  windows/src/desktop/kmshell/xml/splash.css
  windows/src/desktop/kmshell/xml/splash.xsl
  windows/src/desktop/setup/UfrmRunDesktop.dfm
  windows/src/desktop/setup/UfrmRunDesktop.pas
  windows/src/desktop/setup/sil-logo-blue-58.png
  windows/src/developer/TIKE/dialogs/UfrmAboutTike.dfm
  windows/src/developer/TIKE/dialogs/UfrmAboutTike.pas
  windows/src/developer/TIKE/main/UfrmStartup.dfm
  windows/src/developer/TIKE/main/UfrmStartup.pas
  windows/src/developer/setup/SetupStrings.pas
  windows/src/developer/setup/UfrmRun.pas
  windows/src/developer/setup/icons.RES
  windows/src/developer/setup/icons.rc
  windows/src/developer/setup/logo.bmp
  windows/src/developer/setup/resource.h
  windows/src/developer/setup/resource.pas
  windows/src/test/manual-tests/installer/vm-test.ps1
Labels: developer, enhancement, windows

#1191 [linux] convert kb icons to png instead of bmp
  .gitignore
  linux/.gitignore
  linux/keyman-config/keyman_config/convertico.py
  linux/keyman-config/keyman_config/install_kmp.py
  linux/kmflcomp/src/kmflcomp.c
Labels: linux

#1202 [Linux] determine-filetype enum and website metadata
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/kmpmetadata.py
Labels: linux

#1133 [Windows] Add test case for issue #1107
  windows/src/test/manual-tests/1107-malayalam-in-ff/mre_mozhi_1107.kmn
  windows/src/test/manual-tests/1107-malayalam-in-ff/mre_mozhi_1107.kmx
Labels: bug, windows

#1193 [linux] issues with local install
  linux/.gitignore
  linux/Makefile
  linux/README.md
  linux/keyman-config/Makefile
  linux/keyman-config/README.md
  linux/keyman-config/debian/control
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/keyman_config/view_installed.py
  linux/scripts/build.sh
  linux/scripts/install.sh
Labels: linux

#1204 [linux] PR1202 typo should be KM_KMX
  linux/keyman-config/keyman_config/install_kmp.py
Labels: bug, linux

#1198 [linux] ibus-kmfl on-screen keyboard
  .gitignore
  linux/ibus-kmfl/src/Makefile.am
  linux/ibus-kmfl/src/engine.c
  linux/ibus-kmfl/src/keyman-service.c
  linux/ibus-kmfl/src/keyman-service.h
  linux/ibus-kmfl/src/kmflutil.c
  linux/ibus-kmfl/src/kmflutil.h
  linux/ibus-kmfl/src/main.c
  linux/libkmfl/src/kmfl_interpreter.c
  linux/libkmfl/src/kmfl_load_keyboard.c
Labels: linux

#1203 [linux] Linux versioning
  linux/Makefile
  linux/README.md
  linux/VERSION
  linux/keyman-config/Makefile
  linux/keyman-config/README.md
  linux/keyman-config/keyman_config/version.py.in
  linux/kmflcomp/kmfl_compiler/kmfl_compiler.c
  linux/scripts/build.sh
  linux/scripts/dist.sh
  linux/scripts/jenkins.sh
  linux/scripts/reconf.sh
  linux/scripts/version.sh
Labels: linux

#1205 [linux] remove version call that snuck in to dist.sh
  linux/scripts/dist.sh
Labels: bug, linux

#1206 [linux] 1189 other files and 1187 multiple keyboards
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/kmpmetadata.py
Labels: linux

#1208 [linux] install kmps to user directory by default in gui
  linux/keyman-config/Makefile
  linux/keyman-config/keyman_config/get_kmp.py
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/keyman_config/keyboard_details.py
  linux/keyman-config/keyman_config/kmpmetadata.py
  linux/keyman-config/keyman_config/list_installed_kmp.py
  linux/keyman-config/keyman_config/uninstall_kmp.py
  linux/keyman-config/keyman_config/view_installed.py
  linux/keyman-config/km-package-install
  linux/keyman-config/km-package-list-installed
  linux/keyman-config/km-package-uninstall
Labels: enhancement, linux

#1213 [Android] Fix globe button when pausing WebBrowser
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/WebBrowserActivity.java
  android/history.md
Labels: android, bug

#1214 [linux] fix help2man on jenkins
  linux/keyman-config/km-kvk2ldml
  linux/keyman-config/km-package-uninstall
Labels: linux

#1215 [linux] only get the version from linux tags
  linux/scripts/version.sh
Labels: linux

#1216 [Developer] Integrate import of Windows keyboards into Keyman Developer IDE
  windows/src/developer/TIKE/Tike.dpr
  windows/src/developer/TIKE/Tike.dproj
  windows/src/developer/TIKE/debug/UfrmSelectSystemKeyboard.pas
  windows/src/developer/TIKE/import/Keyman.Developer.UI.Import.UfrmImportWindowsKeyboard.dfm
  windows/src/developer/TIKE/import/Keyman.Developer.UI.Import.UfrmImportWindowsKeyboard.pas
  windows/src/developer/TIKE/main/Keyman.Developer.UI.ImportWindowsKeyboardDialogManager.pas
  windows/src/developer/TIKE/main/UframeBitmapEditor.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewProject.dfm
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewProject.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewProjectParameters.dfm
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewProjectParameters.pas
  windows/src/developer/inst/copydev.in
  windows/src/developer/inst/kmdev.wxs
  windows/src/developer/kmconvert/Keyman.Developer.System.ImportKeyboardDLL.pas
  windows/src/developer/kmconvert/Keyman.Developer.System.ImportWindowsKeyboard.pas
  windows/src/developer/kmconvert/Keyman.Developer.System.KeyboardProjectTemplate.pas
  windows/src/global/delphi/general/utilfiletypes.pas
Labels: developer, enhancement, work-in-progress

#1218 [Android] Change system keyboard to "numeric" layer for numeric text fields
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMEA/app/src/main/assets/keyboard.html
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/history.md
  web/history.md
  web/source/kmwbase.ts
  web/source/kmwcallback.ts
Labels: android, enhancement

#1224 [Developer] Avoid a crash in package editor when compiled keyboard file is missing
  windows/src/developer/history.md
  windows/src/global/delphi/packages/Keyman.System.PackageInfoRefreshKeyboards.pas
Labels: bug, developer, stable
