Repository keymanapp/keyman, pull requests merged in 2018-02, with the labels that each got.

#583 [Android] Display welcome.htm for keyboard information
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/res/xml/file_paths.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/PackageProcessorTest.java
  android/KMEA/test_resources/v14/gff_amh_7_test_json.kmp
  android/KMEA/test_resources/v15/gff_amh_7_test_json.kmp
Labels: android, enhancement

#570 Use api.keyman.com instead of r.keymanweb.com on KeymanWeb
  web/source/kmwkeyboards.ts
Labels: enhancement, web

#586 Rename minKeymanDesktopVersion to minKeymanVersion in .keyboard_info
  windows/src/developer/TIKE/compile/CompileKeymanWeb.pas
  windows/src/developer/TIKE/compile/MergeKeyboardInfo.pas
  windows/src/global/delphi/general/kmxfile.pas
  windows/src/global/inst/data/keyboard_info/keyboard_info.source.json
Labels: developer, enhancement

#587 Fix up unit tests after rsp19902 workaround
  windows/src/unit-tests/keyboard-js-info/KeyboardJSInfoTestSuite.dpr
  windows/src/unit-tests/keyboard-js-info/KeyboardJSInfoTestSuite.dproj
  windows/src/unit-tests/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dpr
  windows/src/unit-tests/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dproj
Labels: bug, windows

#582 Web Testing - Centralizing configuration data
  web/unit_tests/CI.conf.js
  web/unit_tests/base.conf.js
  web/unit_tests/manual.conf.js
Labels: enhancement, web

#452 [Web] Chiral font update
  web/source/kmwosk.ts
  web/source/resources/osk/keymanweb-osk.ttf
Labels: enhancement, web

#581 KeymanWeb - Unit Testing: Control Attachment
  web/package-lock.json
  web/package.json
  web/source/build.sh
  web/source/keymanweb.ts
  web/source/kmwapi.ts
  web/source/kmwbase.ts
  web/source/kmwdom.ts
  web/source/kmwkeyboards.ts
  web/testing/attachment-api/utilities.js
  web/unit_tests/cases/attachmentAPI.js
  web/unit_tests/cases/basics.js
  web/unit_tests/fixtures/robustAttachment.html
  web/unit_tests/resources/html/iframe.html
  web/unit_tests/test_utils.js
Labels: enhancement, web

#591 Support .js files within a keyboard package when merging .keyboard_info files
  windows/src/desktop/kmshell/xml/downloadkeyboard.xsl
  windows/src/developer/TIKE/compile/MergeKeyboardInfo.pas
Labels: developer, enhancement

#589 [mac] Include version in download dialog and use final target url
  mac/Keyman4MacIM/Keyman4MacIM/KMDownloadKeyboard/KMDownloadKBWindowController.m
Labels: enhancement, mac

#594 Add rtl property to keyboard info in package.json
  windows/src/developer/TIKE/child/UfrmPackageEditor.dfm
  windows/src/developer/TIKE/child/UfrmPackageEditor.pas
  windows/src/global/delphi/general/PackageInfo.pas
  windows/src/global/delphi/packages/Keyman.System.PackageInfoRefreshKeyboards.pas
Labels: developer, enhancement

#588 [android] Use version parameter in all cloud API calls
  android/KMAPro/kMAPro/build.gradle
  android/KMEA/app/build.gradle
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListActivity.java
Labels: android, enhancement

#593 Support reporting Delphi unit test results back to TeamCity
  windows/src/Makefile
  windows/src/global/delphi/general/DUnitX.Loggers.TeamCity.pas
  windows/src/test/unit-tests/group-helper-rsp19902/Makefile
  windows/src/test/unit-tests/group-helper-rsp19902/RegExGroupHelperRSP19902TestSuite.dpr
  windows/src/test/unit-tests/group-helper-rsp19902/RegExGroupHelperRSP19902TestSuite.dproj
  windows/src/unit-tests/keyboard-js-info/KeyboardJSInfoTestSuite.dpr
  windows/src/unit-tests/keyboard-js-info/KeyboardJSInfoTestSuite.dproj
  windows/src/unit-tests/keyboard-js-info/Makefile
  windows/src/unit-tests/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dpr
  windows/src/unit-tests/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dproj
  windows/src/unit-tests/keyboard-package-versions/Makefile
  windows/src/unit-tests/kmx-file-languages/KMXFileLanguagesTestSuite.dpr
  windows/src/unit-tests/kmx-file-languages/KMXFileLanguagesTestSuite.dproj
  windows/src/unit-tests/kmx-file-languages/Makefile
  windows/src/unit-tests/package-info/Makefile
  windows/src/unit-tests/package-info/PackageInfoTestSuite.dpr
  windows/src/unit-tests/package-info/PackageInfoTestSuite.dproj
Labels: enhancement, windows

#592 [Mac] fix local deployment by running tests as a separate build step
  mac/build.sh
Labels: enhancement, mac

#597 Developer setup fails to upgrade due to invalid version check
  windows/src/developer/setup/UfrmRun.pas
Labels: bug, developer

#599 [Android] Add feature crash reporting
  android/.gitignore
  android/KMAPro/build.gradle
  android/KMAPro/build.sh
  android/KMAPro/kMAPro/build.gradle
  android/KMAPro/kMAPro/src/debug/google-services.json
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/res/menu/main.xml
  android/KMEA/app/build.gradle
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/build.gradle
  android/README.md
  android/history.md
Labels: android, enhancement

#585 [web] KeymanWeb - Engine testing
  web/source/build.sh
  web/source/build_recorder.sh
  web/source/kmwRecorder.html
  web/source/kmwapi.ts
  web/source/kmwcallback.ts
  web/source/kmwdevice.ts
  web/source/kmwdom.ts
  web/source/kmwdomevents.ts
  web/source/kmwkeyboards.ts
  web/source/kmwosk.ts
  web/source/kmwutils.ts
  web/source/recorder_InputEvents.ts
  web/source/recorder_KeyboardScripts.js
  web/source/recorder_ui_and_stubs.js
  web/source/tsconfig.recorder.json
  web/unit_tests/.gitignore
  web/unit_tests/CI.conf.js
  web/unit_tests/base.conf.js
  web/unit_tests/cases/basics.js
  web/unit_tests/cases/engine.js
  web/unit_tests/json/engine_tests/basic_lao_simulation.json
  web/unit_tests/json/keyboards/lao_2008_basic.json
  web/unit_tests/resources/keyboards/lao_2008_basic.js
  web/unit_tests/test.sh
  web/unit_tests/test_utils.js
Labels: enhancement, web

#600 Automatic upgrade support for Desktop and Developer 10 - keyboards and apps - during setup and in-app
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/kmshell/kmshell.res
  windows/src/desktop/kmshell/main/OnlineUpdateCheck.pas
  windows/src/desktop/setup/RunTools.pas
  windows/src/desktop/setup/setup.dpr
  windows/src/desktop/setup/setup.dproj
  windows/src/developer/TIKE/Tike.dpr
  windows/src/developer/TIKE/Tike.dproj
  windows/src/developer/setup/UfrmRun.pas
  windows/src/developer/setup/setup.dpr
  windows/src/developer/setup/setup.dproj
  windows/src/global/delphi/general/Keyman.System.UpdateCheckResponse.pas
  windows/src/global/delphi/general/Upload_Settings.pas
  windows/src/global/delphi/online/OnlineUpdateCheck.pas
Labels: developer, enhancement, windows

#595 [Mac] support double clicking kmp
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/Info.plist
  mac/Keyman4MacIM/Keyman4MacIM/InfoPlist.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/KMConfigurationWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMPackage.h
  mac/Keyman4MacIM/Keyman4MacIM/KMPackage.m
Labels: mac

#602 Fix for developer compiler -- was using KVK modifier flags instead of KMX modifier flags to generate KLS
  windows/src/buildtools/buildpkg/buildpkg.dpr
  windows/src/buildtools/buildpkg/buildpkg.dproj
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/developer/TIKE/child/UfrmKeymanWizard.dfm
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/child/UfrmPackageEditor.dfm
  windows/src/developer/TIKE/child/UfrmPackageEditor.pas
  windows/src/developer/TIKE/compile/CompileKeymanWeb.pas
  windows/src/developer/TIKE/compile/MergeKeyboardInfo.pas
  windows/src/developer/TIKE/debug/debugkeyboard.pas
  windows/src/developer/TIKE/dialogs/UfrmAddKeyboardFeature.pas
  windows/src/developer/TIKE/dialogs/UfrmVisualKeyboardImportKMX.pas
  windows/src/developer/TIKE/main/KeyboardParser.pas
  windows/src/developer/TIKE/project/kmnProjectFile.pas
  windows/src/developer/kmcomp/kccompilekvk.pas
  windows/src/engine/keyman/keyman.dpr
  windows/src/engine/keyman/keyman.dproj
  windows/src/engine/kmcomapi/processes/keyboard/kpinstallkeyboard.pas
  windows/src/engine/tsysinfo/tsysinfo.dpr
  windows/src/engine/tsysinfo/tsysinfo.dproj
  windows/src/global/delphi/general/kmxfile.pas
  windows/src/global/delphi/general/kmxfileconsts.pas
  windows/src/global/delphi/visualkeyboard/VisualKeyboard.pas
  windows/src/unit-tests/kmx-file-languages/KMXFileLanguagesTestSuite.dpr
  windows/src/unit-tests/kmx-file-languages/KMXFileLanguagesTestSuite.dproj
Labels: bug, developer

#568 [ios] Move to using api.keyman.com instead of r.keymanweb.com for 10.0
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/APIKeyboardRepository.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/keyman/Keyman/Keyman/MainViewController.swift
Labels: enhancement, ios

#604 Small usability tweak so F7 can compile a package file as well as a keyboard file
  windows/src/developer/TIKE/actions/dmActionsKeyboardEditor.dfm
  windows/src/developer/TIKE/actions/dmActionsKeyboardEditor.pas
Labels: developer, enhancement

#606 Chiral Functionality Testing
  web/source/kmwRecorder.html
  web/source/kmwbase.ts
  web/source/kmwcallback.ts
  web/source/kmwdomevents.ts
  web/source/kmwosk.ts
  web/source/recorder_InputEvents.ts
  web/source/recorder_KeyboardScripts.js
  web/source/recorder_ui_and_stubs.js
  web/source/tsconfig.recorder.json
  web/unit_tests/base.conf.js
  web/unit_tests/cases/engine_chirality.js
  web/unit_tests/json/engine_tests/chirality.json
  web/unit_tests/json/keyboards/test_chirality.json
  web/unit_tests/resources/keyboards/test_chirality.js
  web/unit_tests/resources/keyboards/test_chirality.kmn
  web/unit_tests/resources/keyboards/test_chirality.kmx
  web/unit_tests/resources/keyboards/test_chirality.kvk
  web/unit_tests/resources/keyboards/test_chirality.kvks
  web/unit_tests/resources/keyboards/unit_test_keyboards.kpj
Labels: enhancement, web

#607 Keyman Developer Compiler should warn on deprecated language tags for Keyman 10 keyboards
  windows/src/developer/kmcmpdll/Compiler.cpp
  windows/src/developer/kmcmpdll/Compiler.rc
  windows/src/developer/kmcmpdll/DeprecationChecks.cpp
  windows/src/developer/kmcmpdll/DeprecationChecks.h
  windows/src/developer/kmcmpdll/Makefile
  windows/src/developer/kmcmpdll/kmcmpdll.h
  windows/src/developer/kmcmpdll/kmcmpdll.vcxproj
  windows/src/developer/kmcmpdll/kmcmpdll.vcxproj.filters
  windows/src/developer/kmcmpdll/versioning.cpp
  windows/src/global/delphi/general/compile.pas
  windows/src/global/inc/Comperr.h
  windows/src/global/inc/Compfile.h
Labels: bug, developer, enhancement

#605 Developer now validates and checks canonicality of BCP 47 tags when it compiles a package
  windows/src/buildtools/buildpkg/buildpkg.dpr
  windows/src/buildtools/buildpkg/buildpkg.dproj
  windows/src/global/delphi/general/BCP47Tag.pas
  windows/src/global/delphi/packages/Keyman.System.PackageInfoRefreshKeyboards.pas
  windows/src/unit-tests/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dpr
  windows/src/unit-tests/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dproj
Labels: developer, enhancement

#608 [Android] Remove test button that forced crashes
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/res/menu/main.xml
Labels: android, enhancement

#603 [Android] Add Crashlytics dependencies to Samples and Test projects
  android/KMAPro/build.sh
  android/README.md
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample1/build.gradle
  android/Samples/KMSample1/build.sh
  android/Samples/KMSample2/app/build.gradle
  android/Samples/KMSample2/build.gradle
  android/Tests/KeyboardHarness/app/build.gradle
  android/Tests/KeyboardHarness/build.gradle
  android/Tests/KeyboardHarness/build.sh
Labels: android, enhancement

#609 Hide language fields in Keyman Developer kmn editor if developing a v10 keyboard
  windows/src/developer/TIKE/child/UfrmKeymanWizard.dfm
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
Labels: developer, enhancement

#614 [Android] Report Unit tests back to Teamcity
  android/KMEA/build.sh
Labels: android

#610 [Mac] Update history.md for alpha 10.0
  mac/history.md
Labels: mac

#616 [Web] Check API endpoints for BCP-47
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/Samples/KMSample1/app/src/main/java/com/keyman/kmsample1/MainActivity.java
  android/Samples/KMSample2/app/src/main/java/com/keyman/kmsample2/SystemKeyboard.java
  android/Tests/KeyboardHarness/app/src/main/java/com/keyman/android/tests/keyboardHarness/MainActivity.java
  ios/engine/KMEI/KeymanEngine/Classes/Constants.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/Language.swift
  ios/samples/KMSample1/KMSample1/ViewController.swift
  ios/samples/KMSample2/KMSample2/ViewController.swift
  web/history.md
  web/samples/issue103/samplehdr.js
  web/samples/issue103/uncompiled.html
  web/samples/minified.html
  web/samples/multilingual.html
  web/samples/samplehdr.js
  web/samples/unminified.html
  web/source/kmwRecorder.html
  web/source/kmwbase.ts
  web/source/kmwkeyboards.ts
  web/source/recorder_KeyboardScripts.js
  web/testing/attachment-api/utilities.js
  web/testing/basic-iframe/script.js
  web/testing/chirality/utilities.js
  web/testing/issue005/header.js
  web/testing/issue115/index.html
  web/testing/issue116/index.html
  web/testing/issue160/index.html
  web/testing/issue271/header.js
  web/testing/issue271/index.html
  web/testing/issue29/issue-29.js
  web/testing/issue53/index.html
  web/testing/issue53/issue53.js
  web/testing/issue62/issue-62.js
  web/testing/issue63/issue-63.js
  web/testing/keyboard-errors/errorhdr.js
  web/testing/samplehdr.js
  web/testing/unminified - manual.html
  web/testing/unminified.html
  web/unit_tests/json/engine_tests/basic_lao_simulation.json
  web/unit_tests/json/keyboards/lao_2008_basic.json
Labels: android, enhancement, ios, web

#611 [Windows] When installing a package, use BCP47 tag from package metadata in preference to kmx data
  windows/src/desktop/kmshell/install/UfrmInstallKeyboardLanguage.pas
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/kmshell/kmshell.res
  windows/src/desktop/kmshell/xml/keyman_keyboardlist.xsl
  windows/src/developer/TIKE/child/UfrmPackageEditor.pas
  windows/src/developer/TIKE/dialogs/languages/Keyman.Developer.UI.UfrmSelectBCP47Language.dfm
  windows/src/developer/TIKE/dialogs/languages/Keyman.Developer.UI.UfrmSelectBCP47Language.pas
  windows/src/engine/kmcomapi/com/keyboardlanguages/keymankeyboardlanguage.pas
  windows/src/engine/kmcomapi/com/keyboardlanguages/keymankeyboardlanguagefile.pas
  windows/src/engine/kmcomapi/com/keyboardlanguages/keymankeyboardlanguageinstalled.pas
  windows/src/engine/kmcomapi/com/keyboardlanguages/keymankeyboardlanguagesfile.pas
  windows/src/engine/kmcomapi/com/keyboardlanguages/keymankeyboardlanguagesinstalled.pas
  windows/src/engine/kmcomapi/com/keyboards/keymankeyboardfile.pas
  windows/src/engine/kmcomapi/com/keyboards/keymankeyboardinstalled.pas
  windows/src/engine/kmcomapi/com/keyboards/keymankeyboardsinstalled.pas
  windows/src/engine/kmcomapi/com/keyboards/keymanpackagecontentkeyboards.pas
  windows/src/engine/kmcomapi/keymanapi_TLB.pas
  windows/src/engine/kmcomapi/kmcomapi.dpr
  windows/src/engine/kmcomapi/kmcomapi.dproj
  windows/src/engine/kmcomapi/kmcomapi.ridl
  windows/src/engine/kmcomapi/processes/keyboard/kpinstallkeyboard.pas
  windows/src/engine/kmcomapi/processes/keyboard/kpinstallkeyboardlanguageprofiles.pas
  windows/src/engine/kmcomapi/processes/package/kpinstallpackage.pas
  windows/src/global/delphi/charmap/UnicodeData.pas
  windows/src/global/delphi/general/BCP47Tag.pas
  windows/src/global/delphi/general/CompilePackage.pas
  windows/src/global/delphi/general/Keyman.System.LanguageCodeUtils.pas
  windows/src/global/delphi/general/RegKeyboards.pas
  windows/src/global/delphi/general/RegistryKeys.pas
  windows/src/global/delphi/general/kmxfile.pas
  windows/src/global/delphi/packages/Keyman.System.PackageInfoRefreshKeyboards.pas
  windows/src/test/integration-tests/keymanapi/Keyman.Test.Console.KeymanAPIHost.pas
  windows/src/test/integration-tests/keymanapi/Keyman.Test.Console.KeymanAPITest_BCP47.pas
  windows/src/test/integration-tests/keymanapi/Keyman.Test.Console.KeymanAPITest_Base.pas
  windows/src/test/integration-tests/keymanapi/keymanapi_test.dpr
  windows/src/test/integration-tests/keymanapi/keymanapi_test.dproj
  windows/src/test/integration-tests/keymanapi/test/bcp47.kmn
  windows/src/test/integration-tests/keymanapi/test/bcp47.kmp
  windows/src/test/integration-tests/keymanapi/test/bcp47.kmx
  windows/src/test/integration-tests/keymanapi/test/bcp47.kps
  windows/src/test/integration-tests/keymanapi/test/test.kpj
Labels: enhancement, windows

#613 [KeymanWeb] The Deadkey Rework
  web/history.md
  web/source/kmwRecorder.html
  web/source/kmwapi.ts
  web/source/kmwcallback.ts
  web/source/recorder_InputEvents.ts
  web/source/recorder_ui_and_stubs.js
  web/unit_tests/cases/engine.js
  web/unit_tests/cases/engine_deadkeys.js
  web/unit_tests/json/engine_tests/deadkeys.json
  web/unit_tests/json/keyboards/temp_test_deadkeys.json
  web/unit_tests/json/keyboards/test_deadkeys.json
  web/unit_tests/json/keyboards/test_simple_deadkeys.json
  web/unit_tests/resources/keyboards/temp_test_deadkeys_hand.js
  web/unit_tests/resources/keyboards/test_deadkeys.js
  web/unit_tests/resources/keyboards/test_deadkeys.kmn
  web/unit_tests/resources/keyboards/test_deadkeys.kmx
  web/unit_tests/resources/keyboards/test_deadkeys.kvk
  web/unit_tests/resources/keyboards/test_deadkeys.kvks
  web/unit_tests/resources/keyboards/test_simple_deadkeys.js
  web/unit_tests/resources/keyboards/test_simple_deadkeys.kmn
  web/unit_tests/resources/keyboards/test_simple_deadkeys.kmx
  web/unit_tests/resources/keyboards/unit_test_keyboards.kpj
Labels: bug, enhancement, staging, web

#618 Add documentation links, remove stale files, and fixup installation references to interfaces
  windows/src/engine/inst/components.wxi
  windows/src/engine/kmcomapi/idl/Makefile
  windows/src/engine/kmcomapi/idl/base.idl
  windows/src/engine/kmcomapi/idl/forward.idl
  windows/src/engine/kmcomapi/idl/keymanaddin.idl
  windows/src/engine/kmcomapi/idl/keymancontrol.idl
  windows/src/engine/kmcomapi/idl/keymanerror.idl
  windows/src/engine/kmcomapi/idl/keymankeyboard.idl
  windows/src/engine/kmcomapi/idl/keymanlanguage.idl
  windows/src/engine/kmcomapi/idl/keymanlicence.idl
  windows/src/engine/kmcomapi/idl/keymanoption.idl
  windows/src/engine/kmcomapi/idl/keymanpackage.idl
  windows/src/engine/kmcomapi/idl/keymanproduct.idl
  windows/src/engine/kmcomapi/idl/keymanstatus.idl
  windows/src/engine/kmcomapi/idl/keymansysteminfo.idl
  windows/src/engine/kmcomapi/idl/keymanvisualkeyboard.idl
  windows/src/engine/kmcomapi/idl/kmcomapi.idl
  windows/src/engine/kmcomapi/idl/kmcomapi.tlb
  windows/src/engine/kmcomapi/idl/tavultesoftkeyman.idl
  windows/src/engine/kmcomapi/kmcomapi.idl
  windows/src/engine/kmcomapi/kmcomapi.ridl
  windows/src/engine/kmcomapi/kmcomapi.ridl.old
Labels: bug, enhancement, windows

#620 Support fail-on-warning correctly for kmw and kmp targets
  windows/src/developer/TIKE/project/kmnProjectFile.pas
  windows/src/developer/TIKE/project/kpsProjectFile.pas
  windows/src/developer/kmcomp/kccompilepackage.pas
  windows/src/developer/kmcomp/kccompileproject.pas
  windows/src/global/delphi/general/CompilePackage.pas
  windows/src/global/delphi/general/CompilePackageInstaller.pas
  windows/src/test/unit-tests/Makefile
  windows/src/test/unit-tests/kmcomp/.gitignore
  windows/src/test/unit-tests/kmcomp/Makefile
  windows/src/test/unit-tests/kmcomp/test.bat
  windows/src/test/unit-tests/kmcomp/test.doc
  windows/src/test/unit-tests/kmcomp/test_invalid.kps
  windows/src/test/unit-tests/kmcomp/test_invalid_js.kmn
  windows/src/test/unit-tests/kmcomp/test_invalid_kmx.kmn
  windows/src/test/unit-tests/kmcomp/test_valid.kmn
  windows/src/test/unit-tests/kmcomp/test_valid.kps
  windows/src/test/unit-tests/kmcomp/tests.kpj
Labels: bug, developer

#619 Show suggested languages first in the picker dialog for adding languages to a keyboard
  windows/src/desktop/kmshell/install/UfrmInstallKeyboardLanguage.dfm
  windows/src/desktop/kmshell/install/UfrmInstallKeyboardLanguage.pas
  windows/src/global/delphi/charmap/UnicodeData.pas
  windows/src/test/integration-tests/keymanapi/test/bcp47.kmp
  windows/src/test/integration-tests/keymanapi/test/bcp47.kps
Labels: enhancement, windows

#621 [Developer] Fixes memory corruption when creating project file ui classes
  windows/src/developer/TIKE/Tike.dproj
  windows/src/developer/TIKE/project/ProjectFile.pas
  windows/src/developer/TIKE/project/ProjectFileType.pas
  windows/src/developer/TIKE/project/ProjectFileUI.pas
Labels: bug, developer

#622 [Developer] Set RTL flag to false on entry (can be uninitialised)
  windows/src/global/delphi/packages/Keyman.System.PackageInfoRefreshKeyboards.pas
Labels: bug, developer

#623 Fixes: on phone, a longpress key, where its parent key has a override modifier set, will get the layer modifier instead of the override
  web/source/kmwosk.ts
Labels: bug, web

#617 [KeymanWeb] Deadkeys in Stores
  web/source/kmwapi.ts
  web/source/kmwcallback.ts
  web/source/kmwkeyboards.ts
  web/unit_tests/cases/engine.js
  web/unit_tests/json/engine_tests/deadkeys.json
  web/unit_tests/resources/keyboards/temp_test_deadkeys_hand.js
  web/unit_tests/resources/keyboards/test_deadkeys.js
  web/unit_tests/resources/keyboards/test_deadkeys.kmn
  web/unit_tests/resources/keyboards/test_deadkeys.kmx
Labels: enhancement, web

#624 Delete the output package file if it already exists to avoid mismatched content
  windows/src/global/delphi/general/CompilePackage.pas
Labels: bug, developer

#626 Developer follow-keyboard-version didn't refresh keyboard version data stored in kps before compiling
  windows/src/global/delphi/general/CompilePackage.pas
  windows/src/support/kmdecomp/kmdecomp.vcxproj
Labels: bug, developer

#596 [iOS] Add feature for ad-hoc keyboard distribution via KMP
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/KMPKeyboard.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/KeymanPackage.swift
  ios/history.md
  ios/keyman/Keyman/Keyman-Info.plist
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/AppDelegate.swift
Labels: enhancement, ios

#625 [Android] Fix undefined fonts that get passed to KMW
  android/KMEA/app/src/main/assets/keyboard.html
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
Labels: android, bug

#628 Change connection timeout from 10 to 20 sec
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/Connection.java
Labels: android, enhancement

#632 In web debugger, keep character preview content in view and show cursor position
  windows/src/developer/TIKE/xml/kmw/index.html
Labels: bug, developer
