Repository keymanapp/keyman, pull requests merged in 2018-10, with the labels that each got.

#1226 [Windows] Serialize the processing of true key events and simulated key events generated by Keyman
  windows/src/Defines.mak
  windows/src/engine/keyman32/Keyman32.cpp
  windows/src/engine/keyman32/appint/aiTIP.cpp
  windows/src/engine/keyman32/appint/aiWin2000Unicode.cpp
  windows/src/engine/keyman32/capsstate.cpp
  windows/src/engine/keyman32/globals.h
  windows/src/engine/keyman32/k32_globals.cpp
  windows/src/engine/keyman32/keybd_shift.cpp
  windows/src/engine/keyman32/kmhook_getmessage.cpp
  windows/src/engine/keyman32/kmhook_keyboard.cpp
  windows/src/global/inc/keyman64.h
  windows/src/global/inc/registry.h
Labels: enhancement, windows

#1228 [Developer] Fixes for project templates and installer
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewProjectParameters.dfm
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewProjectParameters.pas
  windows/src/developer/inst/Makefile
  windows/src/developer/inst/copydev.in
  windows/src/developer/inst/kmdev.wxs
  windows/src/developer/kmconvert/Keyman.Developer.System.ImportWindowsKeyboard.pas
  windows/src/developer/kmconvert/Keyman.Developer.System.KeyboardProjectTemplate.pas
  windows/src/developer/kmconvert/Keyman.Developer.System.KeymanConvertMain.pas
  windows/src/global/delphi/general/BCP47Tag.pas
Labels: bug, developer

#1229 [Windows] Refactor serialized input to use a low level keyboard hook to avoid conflicts
  windows/src/engine/keyman32/Keyman32.cpp
  windows/src/engine/keyman32/appint/aiTIP.cpp
  windows/src/engine/keyman32/globals.h
  windows/src/engine/keyman32/k32_globals.cpp
  windows/src/engine/keyman32/k32_lowlevelkeyboardhook.cpp
  windows/src/engine/keyman32/kmhook_getmessage.cpp
  windows/src/engine/kmcomapi/com/system/keymancontrol.pas
  windows/src/global/inc/Km95api.h
  windows/src/global/inc/keyman64.h
Labels: bug, windows

#1230 [Android] Fix crash when displaying preview key
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/history.md
Labels: android, bug, stable

#1233 [linux] fix glitch in versioning local builds
  linux/scripts/version.sh
Labels: linux

#1234 [Android] (11.0) Fix crash when displaying preview key
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/history.md
Labels: android, bug, cherry-pick

#1232 [linux] list kmp experiments
  linux/.gitignore
  linux/keyman-config/experiments/check_kmp.py
  linux/keyman-config/experiments/dirlist.py
  linux/keyman-config/experiments/findkmninkmp.sh
  linux/keyman-config/experiments/keymankeyboards.py
  linux/keyman-config/experiments/list_kmp.py
  linux/keyman-config/keyman_config/get_kmp.py
Labels: linux

#1235 [linux] ibus install issues
  linux/ibus-kmfl/src/kmfl.xml.in.in
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/keyman_config/kmpmetadata.py
  linux/keyman-config/keyman_config/list_installed_kmp.py
  linux/keyman-config/km-package-install
Labels: linux

#1231 [linux] gui refresh
  linux/.gitignore
  linux/keyman-config/keyman_config/downloadkeyboard.py
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/keyman_config/list_installed_kmp.py
  linux/keyman-config/keyman_config/view_installed.py
  linux/keyman-config/keyman_config/welcome.py
  linux/keyman-config/km-config
Labels: linux

#1238 [Developer] Reduce installer size for Keyman Developer
  windows/src/desktop/inst/keymandesktop.wxs
  windows/src/developer/TIKE/main/Keyman.Developer.System.CEFManager.pas
  windows/src/developer/inst/kmdev.wxs
Labels: developer, enhancement, windows

#1239 [Developer] Support Linux targets when building .kmx
  windows/src/developer/TIKE/main/KeyboardParser.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.kmnProjectFileAction.pas
  windows/src/global/delphi/general/UKeymanTargets.pas
Labels: developer, enhancement

#1240 [Developer] Project templates do not include icon by default
  windows/src/developer/kmconvert/Keyman.Developer.System.ImportWindowsKeyboard.pas
  windows/src/developer/kmconvert/Keyman.Developer.System.KeyboardProjectTemplate.pas
Labels: bug, developer

#1241 [Developer] Fix crash opening text files such as foo.keyboard_info
  windows/src/developer/TIKE/http/Keyman.Developer.System.HttpServer.AppSource.pas
  windows/src/developer/TIKE/main/UframeTextEditor.pas
Labels: bug, developer

#1242 [Developer] Opening or creating a new project saves and closes open editor files
  windows/src/developer/TIKE/actions/dmActionsMain.pas
  windows/src/developer/TIKE/child/UfrmMDIEditor.pas
  windows/src/developer/TIKE/main/Keyman.Developer.UI.ImportWindowsKeyboardDialogManager.pas
  windows/src/developer/TIKE/main/UfrmMain.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewProject.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewProjectParameters.pas
Labels: developer, enhancement

#1243 [Developer] Project - List other files, such as .keyboard_info, in Distribution tab
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.ProjectFiles.pas
  windows/src/developer/TIKE/xml/project/distribution.xsl
  windows/src/developer/TIKE/xml/project/packages.xsl
Labels: developer, enhancement

#1245 [Developer] Tweaks to setup user interface
  windows/src/developer/setup/SetupStrings.pas
  windows/src/developer/setup/UfrmRun.pas
  windows/src/developer/setup/icons.RES
  windows/src/developer/setup/icons.rc
Labels: bug, developer

#1246 [Developer] Show full Unicode code points in debugger status bar, handling surrogate pairs
  windows/src/developer/TIKE/child/UfrmDebug.pas
  windows/src/developer/TIKE/child/UfrmTestKeyboard.pas
  windows/src/global/delphi/general/Unicode.pas
Labels: bug, developer

#1248 [Developer] Tidy up error reporting from web script errors
  windows/src/developer/TIKE/main/Keyman.Developer.UI.UframeCEFHost.pas
Labels: bug, developer

#1236 [Windows] Serialized input: don't trigger on console windows
  windows/src/desktop/history.md
  windows/src/developer/history.md
  windows/src/engine/keyman32/K32_DBG.CPP
  windows/src/engine/keyman32/k32_lowlevelkeyboardhook.cpp
  windows/src/engine/keyman32/kmhook_getmessage.cpp
Labels: bug, compatibility, windows

#1244 [Developer] Treat files without preambles as UTF-8 unless they have non-UTF-8 sequences in them
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/main/UframeTextEditor.dfm
  windows/src/developer/TIKE/main/UframeTextEditor.pas
  windows/src/developer/kmcmpdll/Compiler.cpp
  windows/src/developer/kmcmpdll/Compiler.rc
  windows/src/global/inc/Comperr.h
Labels: developer, enhancement

#1247 [Developer] Add links to online help for New Project
  windows/src/developer/TIKE/help/Keyman.Developer.System.HelpTopics.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewProject.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewProjectParameters.pas
Labels: developer, enhancement

#1249 [linux] bash tab completion
  linux/.gitignore
  linux/keyman-config/MANIFEST.in
  linux/keyman-config/debian/control
  linux/keyman-config/debian/keyman.bash-completion
  linux/keyman-config/debian/rules
  linux/keyman-config/km-config
  linux/keyman-config/km-kvk2ldml
  linux/keyman-config/km-kvk2ldml.bash-completion
  linux/keyman-config/km-package-get
  linux/keyman-config/km-package-get.bash-completion
  linux/keyman-config/km-package-install
  linux/keyman-config/km-package-install.bash-completion
  linux/keyman-config/km-package-list-installed
  linux/keyman-config/km-package-list-installed.bash-completion
  linux/keyman-config/km-package-uninstall
  linux/keyman-config/km-package-uninstall.bash-completion
  linux/keyman-config/maninc/km-package-install.inc
Labels: linux, low-priority

#1252 [Developer] Add support for editor options and themes
  windows/src/developer/TIKE/dialogs/UfrmOptions.dfm
  windows/src/developer/TIKE/dialogs/UfrmOptions.pas
  windows/src/developer/TIKE/http/Keyman.Developer.System.HttpServer.App.pas
  windows/src/developer/TIKE/http/Keyman.Developer.System.HttpServer.AppSource.pas
  windows/src/developer/TIKE/main/KeymanDeveloperOptions.pas
  windows/src/developer/TIKE/main/UframeTextEditor.pas
  windows/src/developer/TIKE/xml/app/editor/editor.js
  windows/src/global/delphi/general/JsonUtil.pas
  windows/src/global/delphi/general/RegistryKeys.pas
Labels: developer, enhancement

#1256 [Windows] Minor tweak to release build check and correct kmcomp command line help
  windows/src/Makefile
  windows/src/developer/kmcomp/main.pas
Labels: bug, windows

#1258 [linux] make jenkins happy: km-package-install -h
  linux/keyman-config/debian/control
  linux/keyman-config/km-package-install
Labels: bug, linux

#1259 [linux] bump lib version number of libkmflcomp
  linux/kmflcomp/src/Makefile.am
Labels: linux

#1261 [Windows] Refactor Windows debug logging to use Event Tracing for Windows
  windows/src/buildtools/buildpkg/buildpkg.dpr
  windows/src/buildtools/buildpkg/buildpkg.dproj
  windows/src/buildtools/test-klog/test_klog.dpr
  windows/src/buildtools/test-klog/test_klog.dproj
  windows/src/desktop/help/basic/config_tasks/options_tab.xml
  windows/src/desktop/inst/keymandesktop.wxs
  windows/src/desktop/insthelp/insthelp.dpr
  windows/src/desktop/insthelp/insthelp.dproj
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/kmshell/xml/locale.xml
  windows/src/desktop/setup/setup.dpr
  windows/src/desktop/setup/setup.dproj
  windows/src/developer/TIKE/Tike.dpr
  windows/src/developer/TIKE/Tike.dproj
  windows/src/developer/TIKE/main/UfrmMain.pas
  windows/src/developer/kmcomp/kmcomp.dpr
  windows/src/developer/kmcomp/kmcomp.dproj
  windows/src/developer/setup/setup.dpr
  windows/src/developer/setup/setup.dproj
  windows/src/engine/.gitignore
  windows/src/engine/inst/Makefile
  windows/src/engine/inst/components.wxs
  windows/src/engine/inst/download.in
  windows/src/engine/inst/insthelper/insthelper.dpr
  windows/src/engine/inst/insthelper/insthelper.dproj
  windows/src/engine/keyman/GlobalKeyboardChangeManager.pas
  windows/src/engine/keyman/UfrmDebugNotify.dfm
  windows/src/engine/keyman/UfrmDebugNotify.pas
  windows/src/engine/keyman/UfrmKeyman7Main.pas
  windows/src/engine/keyman/keyman.dpr
  windows/src/engine/keyman/keyman.dproj
  windows/src/engine/keyman/langswitch/LangSwitchManager.pas
  windows/src/engine/keyman/langswitch/UfrmLanguageSwitch.pas
  windows/src/engine/keyman32/K32_DBG.CPP
  windows/src/engine/keyman32/Keyman32.vcxproj
  windows/src/engine/keyman32/Keyman32.vcxproj.filters
  windows/src/engine/keyman32/Makefile
  windows/src/engine/keyman32/globals.h
  windows/src/engine/keyman32/keyman-debug-etw.man
  windows/src/engine/keyman32/message-analyzer/README.md
  windows/src/engine/keyman32/message-analyzer/keyman-debug-etw.asset
  windows/src/engine/keyman32/message-analyzer/keyman-debug-etw.metadata
  windows/src/engine/keyman64/keyman64.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj.filters
  windows/src/engine/kmcomapi/kmcomapi.dpr
  windows/src/engine/kmcomapi/kmcomapi.dproj
  windows/src/engine/tsysinfo/si_keyman.pas
  windows/src/engine/tsysinfo/tsysinfo.dpr
  windows/src/engine/tsysinfo/tsysinfo.dproj
  windows/src/ext/jedi/jwa/branches/2.3/Win32API/JwaEventTracing.pas
  windows/src/global/delphi/debug/DebugManager.pas
  windows/src/global/delphi/debug/Keyman.System.DebugLogClient.pas
  windows/src/global/delphi/debug/Keyman.System.DebugLogCommon.pas
  windows/src/global/delphi/debug/Keyman.System.DebugLogManager.pas
  windows/src/global/delphi/general/ErrLogPath.pas
  windows/src/global/delphi/general/SystemDebugPath.pas
  windows/src/global/delphi/general/UserMessages.pas
Labels: developer, enhancement, windows

#1266 [linux] misc packaging
  linux/kmflcomp/NEWS
  linux/kmflcomp/debian/changelog
  linux/kmflcomp/kmfl_compiler/Makefile.am
  linux/kmflcomp/src/Makefile.am
  linux/scripts/launchpad.sh
Labels: linux

#1280 Updates BrowserStack configuration settings, fixes a minor error.
  web/package-lock.json
  web/package.json
  web/source/kmwdom.ts
  web/unit_tests/CI.conf.js
Labels: compatibility, enhancement, web

#1281 [Android] Consolidate UI strings
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/BookmarksActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/GetStartedActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/InfoActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
  android/KMAPro/kMAPro/src/main/res/layout/activity_splash_screen.xml
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ConfirmDialogFragment.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListActivity.java
  android/KMEA/app/src/main/res/layout/overlay_layout.xml
  android/KMEA/app/src/main/res/menu/popup.xml
  android/KMEA/app/src/main/res/values/strings.xml
Labels: android

#1287 [Windows] Add Kannada localization (10.0 stable)
  windows/src/desktop/history.md
  windows/src/desktop/inst/keymandesktop.wxs
  windows/src/desktop/kmshell/locale/kan-Knda-IN/locale.xml
Labels: cherry-pick, enhancement, stable, windows

#1290 [Android] Update Tests
  android/Tests/KeyboardHarness/app/build.gradle
  android/Tests/KeyboardHarness/app/src/main/java/com/keyman/android/tests/keyboardHarness/MainActivity.java
  android/Tests/KeyboardHarness/app/src/main/res/values/styles.xml
  android/Tests/keycode/.gitignore
  android/Tests/keycode/app/.gitignore
  android/Tests/keycode/app/build.gradle
  android/Tests/keycode/app/proguard-rules.pro
  android/Tests/keycode/app/src/androidTest/java/com/keyman/android/tests/keycode/ExampleInstrumentedTest.java
  android/Tests/keycode/app/src/main/AndroidManifest.xml
  android/Tests/keycode/app/src/main/java/com/keyman/android/tests/keycode/MainActivity.java
  android/Tests/keycode/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  android/Tests/keycode/app/src/main/res/drawable/ic_launcher_background.xml
  android/Tests/keycode/app/src/main/res/layout/activity_main.xml
  android/Tests/keycode/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/Tests/keycode/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/Tests/keycode/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/Tests/keycode/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/Tests/keycode/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/Tests/keycode/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/Tests/keycode/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/Tests/keycode/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/Tests/keycode/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/Tests/keycode/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/Tests/keycode/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/Tests/keycode/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/Tests/keycode/app/src/main/res/values/colors.xml
  android/Tests/keycode/app/src/main/res/values/strings.xml
  android/Tests/keycode/app/src/main/res/values/styles.xml
  android/Tests/keycode/app/src/test/java/com/keyman/android/tests/keycode/ExampleUnitTest.java
  android/Tests/keycode/build.gradle
  android/Tests/keycode/gradle.properties
  android/Tests/keycode/gradle/wrapper/gradle-wrapper.jar
  android/Tests/keycode/gradle/wrapper/gradle-wrapper.properties
  android/Tests/keycode/gradlew
  android/Tests/keycode/gradlew.bat
  android/Tests/keycode/settings.gradle
Labels: android, low-priority

#1293 [LMLayer] Basic WebWorker testing
  common/predictive-text/testing/index.html
  common/predictive-text/testing/simple-webworker/canaryWorker.js
  common/predictive-text/testing/simple-webworker/index.html
Labels: enhancement, lm-layer
