Repository keymanapp/keyman, pull requests merged in 2019-09, with the labels that each got.

#2021 [Developer] Fix lexical models tab in package editor
  windows/src/developer/TIKE/actions/dmActionsMain.dfm
  windows/src/developer/TIKE/child/UfrmPackageEditor.dfm
Labels: bug, developer

#2023 [Developer] Include kmlmc tests in Developer build.
  developer/js/tests/test-punctuation.ts
  windows/src/test/unit-tests/Makefile
Labels: developer, developer-compiler, enhancement

#2013 [Web] Fixes bugs resulting from fat-finger calc side effects
  web/history.md
  web/source/text/kbdInterface.ts
  web/source/text/processor.ts
Labels: android, bug, ios, web

#1609 [Windows] Font updated to Calibri
  windows/src/desktop/kmshell/locale/de/locale.xml
  windows/src/desktop/kmshell/locale/fr/locale.xml
  windows/src/desktop/kmshell/locale/kan-Knda-IN/locale.xml
  windows/src/desktop/kmshell/locale/my/locale.xml
  windows/src/desktop/kmshell/locale/pt-BR/locale.xml
  windows/src/desktop/kmshell/locale/qqq/locale.xml
  windows/src/desktop/kmshell/locale/tr/locale.xml
  windows/src/desktop/kmshell/locale/vec/locale.xml
  windows/src/desktop/kmshell/xml/basekeyboard.xsl
  windows/src/desktop/kmshell/xml/config.css
  windows/src/desktop/kmshell/xml/downloadkeyboard.xsl
  windows/src/desktop/kmshell/xml/elements.xsl
  windows/src/desktop/kmshell/xml/fonthelper.xsl
  windows/src/desktop/kmshell/xml/help.xsl
  windows/src/desktop/kmshell/xml/hint.xsl
  windows/src/desktop/kmshell/xml/installkeyboard.xsl
  windows/src/desktop/kmshell/xml/keyman.xsl
  windows/src/desktop/kmshell/xml/keyman_footer.xsl
  windows/src/desktop/kmshell/xml/keyman_hotkeys.xsl
  windows/src/desktop/kmshell/xml/keyman_keepintouch.xsl
  windows/src/desktop/kmshell/xml/keyman_keyboardlist.xsl
  windows/src/desktop/kmshell/xml/keyman_menu.xsl
  windows/src/desktop/kmshell/xml/keyman_options.xsl
  windows/src/desktop/kmshell/xml/keyman_support.xsl
  windows/src/desktop/kmshell/xml/locale.xml
  windows/src/desktop/kmshell/xml/onlineupdate.xsl
  windows/src/desktop/kmshell/xml/proxyconfiguration.xsl
  windows/src/desktop/kmshell/xml/splash.css
  windows/src/desktop/kmshell/xml/splash.xsl
  windows/src/desktop/kmshell/xml/usage_keyboard.xsl
  windows/src/desktop/kmshell/xml/usage_off.xsl
  windows/src/desktop/kmshell/xml/vkhints.xsl
  windows/src/desktop/kmshell/xml/welcome_fonts.xsl
  windows/src/global/delphi/general/CleartypeDrawCharacter.pas
Labels: modification, windows

#2026 [Windows] Apply changes from #1609 to 12.0 beta
  windows/src/desktop/kmshell/locale/de/locale.xml
  windows/src/desktop/kmshell/locale/fr/locale.xml
  windows/src/desktop/kmshell/locale/kan-Knda-IN/locale.xml
  windows/src/desktop/kmshell/locale/my/locale.xml
  windows/src/desktop/kmshell/locale/pt-BR/locale.xml
  windows/src/desktop/kmshell/locale/qqq/locale.xml
  windows/src/desktop/kmshell/locale/tr/locale.xml
  windows/src/desktop/kmshell/locale/vec/locale.xml
  windows/src/desktop/kmshell/xml/basekeyboard.xsl
  windows/src/desktop/kmshell/xml/config.css
  windows/src/desktop/kmshell/xml/downloadkeyboard.xsl
  windows/src/desktop/kmshell/xml/elements.xsl
  windows/src/desktop/kmshell/xml/fonthelper.xsl
  windows/src/desktop/kmshell/xml/help.xsl
  windows/src/desktop/kmshell/xml/hint.xsl
  windows/src/desktop/kmshell/xml/installkeyboard.xsl
  windows/src/desktop/kmshell/xml/keyman.xsl
  windows/src/desktop/kmshell/xml/keyman_footer.xsl
  windows/src/desktop/kmshell/xml/keyman_hotkeys.xsl
  windows/src/desktop/kmshell/xml/keyman_keepintouch.xsl
  windows/src/desktop/kmshell/xml/keyman_keyboardlist.xsl
  windows/src/desktop/kmshell/xml/keyman_menu.xsl
  windows/src/desktop/kmshell/xml/keyman_options.xsl
  windows/src/desktop/kmshell/xml/keyman_support.xsl
  windows/src/desktop/kmshell/xml/locale.xml
  windows/src/desktop/kmshell/xml/onlineupdate.xsl
  windows/src/desktop/kmshell/xml/proxyconfiguration.xsl
  windows/src/desktop/kmshell/xml/splash.css
  windows/src/desktop/kmshell/xml/splash.xsl
  windows/src/desktop/kmshell/xml/usage_keyboard.xsl
  windows/src/desktop/kmshell/xml/usage_off.xsl
  windows/src/desktop/kmshell/xml/vkhints.xsl
  windows/src/desktop/kmshell/xml/welcome_fonts.xsl
  windows/src/global/delphi/general/CleartypeDrawCharacter.pas
Labels: cherry-pick, modification, windows

#2027 [Web] Reversion logic fix for predictive banner
  web/history.md
  web/source/osk/banner.ts
Labels: bug, web

#2028 [Web] Merges the duplicated VisualKeyboard.adjustHeights() methods
  web/source/kmwembedded.ts
  web/source/kmwnative.ts
  web/source/osk/visualKeyboard.ts
Labels: modification, web

#2032 [Web] Fixes CSS issue affecting some Android devices
  web/source/resources/osk/kmwosk.css
Labels: bug, web

#2038 [Android] [iOS] Use Canadian Multilingual keyboard for French for FV Keyboards, rather than Eurolatin
  oem/firstvoices/keyboards.csv
Labels: android, bug, ios

#2037 [Web] Error logging for internal events
  web/source/kmwutils.ts
Labels: enhancement, web

#2033 [Web] Adds handling for pt and unitless font size specs
  web/history.md
  web/source/kmwutils.ts
Labels: bug, web

#2047 [iOS] iOS sample project update
  ios/samples/KMSample1/KMSample1.xcodeproj/project.pbxproj
  ios/samples/KMSample2/KMSample2.xcodeproj/project.pbxproj
  ios/samples/KMSample2/SWKeyboard/KeyboardViewController.swift
  ios/samples/KMSample2/SWKeyboard/Sample Banner Images/banner-landscape-text.png
  ios/samples/KMSample2/SWKeyboard/Sample Banner Images/banner-portrait-text.png
  ios/samples/build_common.sh
Labels: bug, ios

#2051 [Developer] Removes final references to old wordBreaking property
  developer/js/source/lexical-model-compiler/lexical-model-compiler.ts
  developer/js/source/lexical-model-compiler/lexical-model.ts
Labels: developer, developer-compiler, modification

#2052 Merge beta to master (cherry-pick)
  developer/js/source/lexical-model-compiler/lexical-model-compiler.ts
  developer/js/source/lexical-model-compiler/lexical-model.ts
  ios/samples/KMSample1/KMSample1.xcodeproj/project.pbxproj
  ios/samples/KMSample2/KMSample2.xcodeproj/project.pbxproj
  ios/samples/KMSample2/SWKeyboard/KeyboardViewController.swift
  ios/samples/KMSample2/SWKeyboard/Sample Banner Images/banner-landscape-text.png
  ios/samples/KMSample2/SWKeyboard/Sample Banner Images/banner-portrait-text.png
  ios/samples/build_common.sh
  oem/firstvoices/keyboards.csv
  web/history.md
  web/source/kmwembedded.ts
  web/source/kmwnative.ts
  web/source/kmwutils.ts
  web/source/osk/banner.ts
  web/source/osk/visualKeyboard.ts
  web/source/resources/osk/kmwosk.css
Labels: cherry-pick

#2045 [Web] Removes default key cap text behavior
  web/history.md
  web/source/osk/defaultLayouts.ts
  web/source/osk/visualKeyboard.ts
  web/source/utils/version.ts
  web/unit_tests/cases/versions.js
Labels: modification, web

#2029 [Android] Silently install default dictionary model on app startup
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
  android/KMEA/app/src/main/assets/nrc.en.mtnt.model.kmp
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/FileUtils.java
  android/KMEA/app/src/main/res/xml/file_paths.xml
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/LexicalModelPackageProcessorTest.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/PackageProcessorTest.java
  android/history.md
Labels: android, enhancement

#2054 [Web] Test bug squashing
  web/source/kmwdom.ts
Labels: bug, web

#2055 [iOS] Fixes app intro keyboard picker tooltip
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
Labels: bug, ios

#2053 [Android] Fix File Provider collision
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/res/xml/file_paths.xml
  android/KMEA/app/src/main/AndroidManifest.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardPickerAdapter.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/FileProviderUtils.java
  android/history.md
Labels: android, bug

#2056 [Android] Fix missing FileProvider authority for MainActivity
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
Labels: android, bug

#2060 [Developer] Don't overwrite a BCP 47 code that the user has chosen when writing project templates.
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.ProjectFiles.pas
  windows/src/developer/history.md
  windows/src/global/delphi/general/Keyman.System.CanonicalLanguageCodeUtils.pas
Labels: bug, developer

#2059 [Developer] Make sure New Project actually starts a new, blank project.
  windows/src/developer/TIKE/actions/dmActionsMain.dfm
  windows/src/developer/TIKE/actions/dmActionsMain.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.ProjectFile.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.ProjectUI.pas
Labels: bug, developer

#2061 [Developer] Character preview was not updating in mobile web touch test.
  windows/src/developer/TIKE/xml/kmw/index.html
  windows/src/developer/history.md
Labels: bug, developer

#2065 [Android] Update exception handling for CloudRepository
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
  android/history.md
Labels: android

#2066 [Android] Add check for `KMKey_CustomKeyboard`
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardPickerAdapter.java
  android/history.md
Labels: android, bug

#2064 [Web] Touch-device default output for 102nd key
  web/history.md
  web/source/text/codes.ts
Labels: bug, web

#2067 [iOS] Fix for OSK scaling on app re-entry
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/history.md
Labels: bug, ios

#2063 [iOS] Remove donate link per Apple requirements for FV Keyboards app
  oem/firstvoices/ios/FirstVoices/Instructions/FPCF_Logo.jpeg
  oem/firstvoices/ios/FirstVoices/Instructions/ios-instructions.css
  oem/firstvoices/ios/FirstVoices/Instructions/setup.html
Labels: ios, modification

#2068 [Linux] remove download source
  linux/history.md
  linux/keyman-config/keyman_config/install_kmp.py
Labels: bug, linux

#2071 [Web] Suggestion banner overflow-x support
  web/history.md
  web/source/dom/uiTouchHandlerBase.ts
  web/source/resources/osk/kmwosk.css
Labels: enhancement, web

#2076 [iOS] Fixes iOS predictive banner due to key-distribution calc breakage
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/history.md
Labels: bug, ios

#2073 [Developer] Clarify the project filename that will be created and simplify the mental model for Browse button in Project Template dialogs.
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewModelProjectParameters.dfm
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewModelProjectParameters.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewProjectParameters.dfm
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewProjectParameters.pas
  windows/src/developer/history.md
Labels: developer, enhancement

#2079 [Developer] Remove class based word breaker
  developer/js/source/lexical-model-compiler/lexical-model-compiler.ts
  developer/js/source/lexical-model-compiler/lexical-model.ts
Labels: developer, developer-compiler, modification

#2077 [Web] Highlighting checks key instance, not key id
  web/source/dom/uiTouchHandlerBase.ts
  web/source/osk/visualKeyboard.ts
Labels: bug, web

#2094 [iOS] Fixes for system keyboard issues
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/history.md
Labels: bug, ios

#2096 [Developer] Fix typo: "mdoel" -> "model"
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewProject.pas
Labels: bug, developer

#2099 [iOS] Fixes popup key misalignment
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
Labels: bug, ios

#2084 [Developer] Disable canonicalization when building keyboard and model projects from template because it's inadequate.
  windows/src/developer/history.md
  windows/src/developer/kmconvert/Keyman.Developer.System.ProjectTemplate.pas
Labels: bug, developer

#2085 [Developer] Prevent package metadata preprocessor from treating .model.js files as keyboard files when they don't exist.
  windows/src/global/delphi/packages/Keyman.System.PackageInfoRefreshKeyboards.pas
Labels: bug, developer, developer-compiler

#2098 [iOS] Disables correct toggle when predict disabled
  ios/engine/KMEI/KeymanEngine/Classes/Settings/LanguageSettingsViewController.swift
Labels: enhancement, ios

#2075 [Linux] Extract icon from kmx file
  linux/.gitignore
  linux/history.md
  linux/keyman-config/keyman_config/convertico.py
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/view_installed.py
  linux/keyman-config/km-package-install
Labels: bug, linux

#2103 [Android] Use versioned help links
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/InfoActivity.java
  android/history.md
Labels: android, enhancement

#2086 [Developer] Basic Wordlist Editor
  windows/src/developer/TIKE/Tike.dpr
  windows/src/developer/TIKE/Tike.dproj
  windows/src/developer/TIKE/child/Keyman.Developer.UI.UfrmWordlistEditor.dfm
  windows/src/developer/TIKE/child/Keyman.Developer.UI.UfrmWordlistEditor.pas
  windows/src/developer/TIKE/help/Keyman.Developer.System.HelpTopics.pas
  windows/src/developer/TIKE/main/TextFileFormat.pas
  windows/src/developer/TIKE/main/UframeTextEditor.pas
  windows/src/developer/TIKE/main/UfrmMain.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.modelTsProjectFile.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.wordlistTsvProjectFile.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.wordlistTsvProjectFileUI.pas
  windows/src/developer/TIKE/xml/app/editor/editor.js
  windows/src/developer/TIKE/xml/project/distribution.xsl
  windows/src/developer/TIKE/xml/project/models.xsl
  windows/src/developer/history.md
  windows/src/developer/kmconvert/Keyman.Developer.System.ModelProjectTemplate.pas
  windows/src/global/delphi/lexicalmodels/Keyman.System.WordlistTsvFile.pas
Labels: developer, enhancement

#2105 [Windows] Reduce CI failures by ensuring help.keyman.com is locally up-to-date before pushing
  windows/src/buildtools/help-keyman-com.sh
Labels: bug, windows

#2107 [Web] Adds failsafe for sticky backspace scenarios
  web/history.md
  web/source/osk/visualKeyboard.ts
Labels: bug, web

#2109 [Web] Legacy API casing fixes
  web/source/text/kbdInterface.ts
Labels: bug, web

#2117 [iOS] Enables bitcode generation for KMEI
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
Labels: compatibility, ios

#2116 [Web] Better subtag handling in Toolbar UI
  web/source/kmwuitoolbar.ts
Labels: bug, web

#2118 [Web] Updates Firefox-check for keymapping.
  web/history.md
  web/source/text/processor.ts
Labels: bug, web

#2121 [iOS] Disabled predictions - settings UI enhancement
  ios/engine/KMEI/KeymanEngine/Classes/Settings/LanguageSettingsViewController.swift
Labels: enhancement, ios

#2119 [Android] Disables correct toggle when predict disabled
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageSettingsActivity.java
  android/KMEA/app/src/main/res/drawable/textview_item.xml
  android/KMEA/app/src/main/res/layout/list_row_layout4.xml
  android/history.md
Labels: android, bug

#2112 [Developer] Icon indices in kmdev.wxs were incorrect for tike.exe after removal of legacy .kct and .kpp icons.
  windows/src/developer/history.md
  windows/src/developer/inst/kmdev.wxs
Labels: bug, developer

#2113 [Developer] Shift layer in basic touch layout template has incorrect modifier for period.
  windows/src/developer/TIKE/xml/layoutbuilder/template-basic.keyman-touch-layout
Labels: bug, developer

#2114 [Developer] Adding or deleting a platform or layer and making no other changes does not stick in touch layout editor.
  windows/src/developer/TIKE/xml/layoutbuilder/builder.js
Labels: bug, developer

#2115 [Developer] Modal dialogs could appear behind the main form on Windows 7.
  windows/src/developer/TIKE/Tike.dpr
Labels: bug, developer

#2126 [Web] Toolbar UI hack/tweaks for better keyboard accessibility
  web/source/kmwuitoolbar.ts
  web/source/resources/ui/toolbar/world.png
Labels: modification, web

#2120 [Developer] Add -lexical-model command line option for building lexical model template projects to kmconvert.
  windows/src/developer/history.md
  windows/src/developer/kmconvert/Keyman.Developer.System.KMConvertParameters.pas
  windows/src/developer/kmconvert/Keyman.Developer.System.KeymanConvertMain.pas
  windows/src/developer/kmconvert/kmconvert.dpr
  windows/src/developer/kmconvert/kmconvert.dproj
Labels: developer, developer-compiler, enhancement

#2122 [Developer] Remove legacy 'Install keyboard' link in web test and cleanup look somewhat.
  windows/src/developer/TIKE/web/UmodWebHttpServer.pas
  windows/src/developer/TIKE/xml/kmw/index.html
  windows/src/developer/TIKE/xml/kmw/packages.html
  windows/src/developer/TIKE/xml/kmw/test.css
Labels: bug, developer

#2128 [Developer] Support colour log messages and cleanup logging.
  windows/src/developer/TIKE/child/Keyman.Developer.UI.UfrmWordlistEditor.pas
  windows/src/developer/TIKE/child/UfrmBitmapEditor.pas
  windows/src/developer/TIKE/child/UfrmDebug.pas
  windows/src/developer/TIKE/child/UfrmEditor.pas
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/child/UfrmMDIEditor.pas
  windows/src/developer/TIKE/child/UfrmOSKEditor.pas
  windows/src/developer/TIKE/child/UfrmPackageEditor.pas
  windows/src/developer/TIKE/compile/JsonExtractKeyboardInfo.pas
  windows/src/developer/TIKE/compile/MergeKeyboardInfo.pas
  windows/src/developer/TIKE/compile/ValidateKeyboardInfo.pas
  windows/src/developer/TIKE/main/UfrmMain.pas
  windows/src/developer/TIKE/main/UfrmMessages.dfm
  windows/src/developer/TIKE/main/UfrmMessages.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.ProjectFile.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.ProjectLog.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.kmnProjectFileAction.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.kpsProjectFileAction.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.modelTsProjectFileAction.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.ProjectFileUI.pas
  windows/src/developer/kmcomp/Keyman.Developer.System.Project.ProjectLogConsole.pas
  windows/src/developer/kmcomp/kccompilekvk.pas
  windows/src/developer/kmcomp/kccompilepackage.pas
  windows/src/developer/kmcomp/kccompileproject.pas
  windows/src/developer/kmcomp/kmcomp.dpr
  windows/src/developer/kmcomp/kmcomp.dproj
  windows/src/developer/kmcomp/main.pas
  windows/src/developer/kmconvert/kmconvert.dpr
  windows/src/developer/kmconvert/kmconvert.dproj
  windows/src/global/delphi/general/CompileErrorCodes.pas
  windows/src/global/delphi/lexicalmodels/Keyman.Developer.System.LexicalModelCompile.pas
  windows/src/global/inc/Comperr.h
  windows/src/unit-tests/keyboard-package-versions/Keyman.Test.System.CompilePackageVersioningTest.pas
Labels: developer, enhancement

#2132 [Developer] Fix some of the issues with Context Help, and address one specific topic - touch layout editor.
  windows/src/developer/TIKE/main/UfrmHelp.pas
  windows/src/developer/TIKE/xml/help/contexthelp.xml
  windows/src/developer/TIKE/xml/help/help.xsl
Labels: bug, developer

#2136 [Android] Improves keyboard swap stability
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  web/source/osk/visualKeyboard.ts
Labels: android, bug, web

#2135 [Android] Fix two crashes reported in Crashyltics
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMTextView.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/history.md
Labels: android, bug

#2138 [Android] Guard against condition when `language.keyboards` entries don't exist
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListActivity.java
  android/history.md
Labels: android, bug

#2134 [Developer] Add a Welcome page to the workflow for Keyman Developer.
  windows/src/developer/TIKE/Tike.dpr
  windows/src/developer/TIKE/Tike.dproj
  windows/src/developer/TIKE/actions/dmActionsMain.dfm
  windows/src/developer/TIKE/actions/dmActionsMain.pas
  windows/src/developer/TIKE/dialogs/UfrmOptions.dfm
  windows/src/developer/TIKE/dialogs/UfrmOptions.pas
  windows/src/developer/TIKE/http/Keyman.Developer.System.HttpServer.App.pas
  windows/src/developer/TIKE/main/KeymanDeveloperOptions.pas
  windows/src/developer/TIKE/main/KeymanDeveloperUtils.pas
  windows/src/developer/TIKE/main/UfrmMain.dfm
  windows/src/developer/TIKE/main/UfrmMain.pas
  windows/src/developer/TIKE/main/UfrmMessages.pas
  windows/src/developer/TIKE/main/UfrmStartup.dfm
  windows/src/developer/TIKE/main/UfrmStartup.pas
  windows/src/developer/TIKE/main/mrulist.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.Project.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.WelcomeRenderer.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.ProjectFileUI.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.ProjectUI.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmProject.dfm
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmProject.pas
  windows/src/developer/TIKE/xml/project/common.js
  windows/src/developer/TIKE/xml/project/elements.xsl
  windows/src/developer/TIKE/xml/project/globalwelcome.xsl
  windows/src/developer/TIKE/xml/project/keymandeveloper.png
  windows/src/developer/TIKE/xml/project/project.css
  windows/src/developer/TIKE/xml/project/project.js
  windows/src/developer/TIKE/xml/project/project.xsl
  windows/src/developer/TIKE/xml/project/sil.png
  windows/src/developer/TIKE/xml/project/welcome.xsl
  windows/src/developer/history.md
  windows/src/global/delphi/general/RegistryKeys.pas
Labels: developer, enhancement

#2129 [Developer] Set the package version when building kmlmx during Developer build.
  developer/js/build.sh
  windows/src/developer/inst/copydev.in
Labels: bug, developer, developer-compiler

#2142 [Developer] .js files should be opened in Keyman Developer, not executed...
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.ProjectFiles.pas
  windows/src/developer/history.md
Labels: bug, developer

#2145 [Developer] Context help screen was not showing on startup in 12.0.39 (regression).
  windows/src/developer/TIKE/main/UfrmHelp.pas
  windows/src/developer/history.md
Labels: bug, developer

#2149 [Developer] npm publishing (without lerna)
  developer/js/.npmignore
  developer/js/README.md
  developer/js/build.sh
  developer/js/package-lock.json
  developer/js/package.json
  docs/npm-packages.md
  resources/shellHelperFunctions.sh
Labels: developer, developer-compiler, enhancement, work-in-progress

#2148 [Windows] If Keyman Desktop 11 and Keyman Developer 12 are installed together, Keyman Desktop will crash on startup.
  windows/src/developer/history.md
  windows/src/engine/keyman/UfrmKeymanMenu.pas
Labels: bug, developer, windows
