Repository keymanapp/keyman, pull requests merged in 2019-08, with the labels that each got.

#1918 [LMLayer] Initial history, history.md CI check support
  common/predictive-text/history.md
  resources/shellHelperFunctions.sh
  resources/validateHistory.sh
  web/history.md
Labels: enhancement, lm-layer

#1920 [iOS] Settings menu tablet access
  ios/keyman/Keyman/Keyman/MainViewController.swift
Labels: bug, ios

#1922 [ios] Fix build issues around certificates, profiles and broken architecture settings
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/exportAppStore.plist
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
Labels: bug, ios

#1924 [iOS] Fixes banner display misalignments.
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/keyboard.html
Labels: bug, ios

#1925 [iOS] Deregisters deleted registered models.
  ios/engine/KMEI/KeymanEngine/Classes/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
Labels: bug, ios

#1926 [ios] Fix validation issues in build
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
Labels: bug, ios

#1923 [ios] remove restrictions on deleting lexical models
  ios/engine/KMEI/KeymanEngine/Classes/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LexicalModelInfoViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
Labels: ios

#1927 Keyman alpha branch move to 13.0
  android/history.md
  ios/history.md
  linux/history.md
  mac/Keyman4Mac/Keyman4Mac.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/project.pbxproj
  mac/history.md
  resources/VERSION.md
  web/history.md
  windows/src/Defines.mak
  windows/src/desktop/history.md
  windows/src/developer/history.md
  windows/src/global/delphi/general/KeymanVersion.pas
  windows/src/global/inc/keymanversion.h
Labels: modification

#1932 [Android] Suggestion text misalignment on tablets
  android/history.md
  web/source/resources/osk/kmwosk.css
Labels: android, bug

#1931 [Android] Settings UI enhancement
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/GetStartedActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeymanSettingsActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeymanSettingsFragment.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/SystemIMESettings.java
  android/KMAPro/kMAPro/src/main/res/layout/get_started_list_layout.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguagesSettingsActivity.java
  android/history.md
Labels: android, bug, enhancement

#1936 [LMLayer] Fixes double-space bug.
  common/predictive-text/unit_tests/headless/worker-predict-trie.js
  common/predictive-text/worker/models/trie-model.ts
  web/history.md
  web/package-lock.json
Labels: bug, lm-layer

#1937 [Web] Spacebar captioning fix
  web/history.md
  web/source/osk/visualKeyboard.ts
Labels: bug, web

#1941 [Developer] Prevent keyboard files with many warnings clobbering build reports by stopping reports after 100 messages
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/main/UfrmMessages.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.ProjectFile.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.kmnProjectFileUI.pas
  windows/src/developer/kmcomp/main.pas
Labels: developer, developer-compiler, enhancement

#1951 [ios] one language or count languages
  ios/engine/KMEI/KeymanEngine/Classes/Settings/SettingsViewController.swift
Labels: bug, ios

#1947 [iOS] UI Toggle Constraints
  ios/engine/KMEI/KeymanEngine/Classes/Settings/LanguageSettingsViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/Settings.storyboard
  ios/engine/KMEI/KeymanEngine/Classes/Settings/SettingsViewController.swift
  ios/history.md
Labels: bug, ios

#1956 [Mac] Fix offset mismatch for index() when in a rule containing if() statements
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/project.pbxproj
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/Categories/NSString+XString.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/Categories/NSString+XString.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KMEngineTests.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KeymanEngineTestsStaticHelperMethods.h
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KeymanEngineTestsStaticHelperMethods.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/indexoffset1892.kmn
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/indexoffset1892.kmx
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/sil_ipa.kmn
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/sil_ipa.kmx
Labels: bug, mac

#1959 [Admin] Merge P7S4 Beta fixes back to master
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/GetStartedActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeymanSettingsActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeymanSettingsFragment.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/SystemIMESettings.java
  android/KMAPro/kMAPro/src/main/res/layout/get_started_list_layout.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguagesSettingsActivity.java
  android/history.md
  common/predictive-text/unit_tests/headless/worker-predict-trie.js
  common/predictive-text/worker/models/trie-model.ts
  ios/engine/KMEI/KeymanEngine/Classes/Settings/LanguageSettingsViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/Settings.storyboard
  ios/engine/KMEI/KeymanEngine/Classes/Settings/SettingsViewController.swift
  ios/history.md
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/project.pbxproj
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/Categories/NSString+XString.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/Categories/NSString+XString.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KMEngineTests.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KeymanEngineTestsStaticHelperMethods.h
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KeymanEngineTestsStaticHelperMethods.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/indexoffset1892.kmn
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/indexoffset1892.kmx
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/sil_ipa.kmn
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/sil_ipa.kmx
  web/history.md
  web/package-lock.json
  web/source/osk/visualKeyboard.ts
  web/source/resources/osk/kmwosk.css
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/main/UfrmMessages.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.ProjectFile.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.kmnProjectFileUI.pas
  windows/src/developer/kmcomp/main.pas
Labels: cherry-pick

#1969 [iOS] Slide-deletion for keyboards via Settings menu
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/KeyboardPickerViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/LanguageSettingsViewController.swift
  ios/history.md
Labels: enhancement, ios

#1960 [Web] "Enable Predictions" as sole factor in for activating predictive banner
  web/history.md
  web/source/text/prediction/modelManager.ts
Labels: enhancement, web

#1957 [ios] reload table data so deletion or addition shows immediately
  ios/engine/KMEI/KeymanEngine/Classes/Settings/SettingsViewController.swift
Labels: bug, ios

#1828 [Android] [Windows] [iOS] Merge build of keyboards for FirstVoices apps
  oem/firstvoices/android/.gitignore
  oem/firstvoices/android/build.sh
  oem/firstvoices/android/build_common.sh
  oem/firstvoices/common/build_keyboards.sh
  oem/firstvoices/keyboards.csv
Labels: android, enhancement, ios, windows

#1889 [Mac] Add notarization for 10.14.5 and later versions
  mac/Keyman.xcworkspace/contents.xcworkspacedata
  mac/Keyman.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  mac/Keyman4MacIM/Keyman.entitlements
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/Info.plist
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandlerProtected.h
  mac/Keyman4MacIM/KeymanTests/KMInputMethodEventHandlerTests.m
  mac/Keyman4MacIM/KeymanTests/KMMethodEventHandlerTests.kmn
  mac/Keyman4MacIM/KeymanTests/KMMethodEventHandlerTests.kmx
  mac/Keyman4MacIM/Podfile.lock
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/project.pbxproj
  mac/README.md
  mac/build.sh
  mac/history.md
  mac/test/legacyInput/legacyInput/legacyInput.xcodeproj/project.pbxproj
  mac/test/legacyInput/legacyInput/legacyInput/AppDelegate.swift
  mac/test/legacyInput/legacyInput/legacyInput/Assets.xcassets/AppIcon.appiconset/Contents.json
  mac/test/legacyInput/legacyInput/legacyInput/Assets.xcassets/Contents.json
  mac/test/legacyInput/legacyInput/legacyInput/Base.lproj/Main.storyboard
  mac/test/legacyInput/legacyInput/legacyInput/Info.plist
  mac/test/legacyInput/legacyInput/legacyInput/ViewController.swift
  mac/test/legacyInput/legacyInput/legacyInput/legacyInput.entitlements
  resources/shellHelperFunctions.sh
Labels: bug, mac

#1978 [Windows] Update version.txt for Windows builds (for master)
  windows/src/version.txt
Labels: bug, windows

#1981 [Developer] Reorganize developer/js with a more conventional file structure
  developer/README.md
  developer/js/README.md
  developer/js/build.sh
  developer/js/package.json
  developer/js/source/index.ts
  developer/js/source/lexical-model-compiler/build-trie.ts
  developer/js/source/lexical-model-compiler/lexical-model.ts
  developer/js/source/lexical-model-compiler/model-info-file.ts
  developer/js/source/lexical-model-compiler/stub.ts
  developer/js/source/package-compiler/kmp-compiler.ts
  developer/js/source/package-compiler/kmp-json-file.ts
  developer/js/source/package-compiler/kps-file.ts
  developer/js/tsconfig.json
Labels: developer, developer-compiler, modification

#1977 [Developer] Add basic file format support for lexical model packages to Developer
  windows/src/buildtools/buildpkg/buildpkg.dpr
  windows/src/buildtools/buildpkg/buildpkg.dproj
  windows/src/buildtools/inst/.gitignore
  windows/src/desktop/inst/.gitignore
  windows/src/developer/TIKE/Tike.dpr
  windows/src/developer/TIKE/Tike.dproj
  windows/src/developer/TIKE/child/UfrmPackageEditor.dfm
  windows/src/developer/TIKE/child/UfrmPackageEditor.pas
  windows/src/developer/history.md
  windows/src/developer/inst/.gitignore
  windows/src/developer/kmcomp/kmcomp.dpr
  windows/src/developer/kmcomp/kmcomp.dproj
  windows/src/global/delphi/general/CompilePackage.pas
  windows/src/global/delphi/general/PackageInfo.pas
  windows/src/global/delphi/keyboards/Keyman.System.KeyboardUtils.pas
  windows/src/global/delphi/lexicalmodels/Keyman.System.LexicalModelUtils.pas
  windows/src/global/delphi/packages/Keyman.System.PackageInfoRefreshLexicalModels.pas
  windows/src/unit-tests/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dpr
  windows/src/unit-tests/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dproj
  windows/src/version.txt
Labels: developer, developer-compiler, enhancement

#1988 Fixes iOS Get Started
  ios/engine/KMEI/KeymanEngine/Classes/Settings/SettingsViewController.swift
  ios/history.md
  ios/keyman/Keyman/Keyman/GetStartedViewController/GetStartedViewController.swift
Labels: bug, ios

#1985 [Developer] Better compilation assertions
  developer/js/package.json
  developer/js/tests/helpers/index.ts
  developer/js/tests/test-compile-trie.ts
  developer/js/tests/test-parse-wordlist.ts
  developer/js/tests/test-punctuation.ts
Labels: developer-compiler, modification

#1983 [Developer] Lexical model compiler CLI
  developer/js/README.md
  developer/js/package-lock.json
  developer/js/package.json
  developer/js/source/cli.ts
  developer/js/source/util.ts
  developer/js/tests/fixtures/example.qaa.trivial/model.ts
  developer/js/tests/helpers/index.ts
  developer/js/tests/test-compile-model.ts
  developer/js/tests/test-compile-trie.ts
Labels: developer, developer-compiler, enhancement

#1989 [Android] Disable version and copyright text from flashing on splash screen
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/SplashScreenActivity.java
  android/KMAPro/kMAPro/src/main/res/layout/activity_splash_screen.xml
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMAPro/kMAPro/src/main/res/values/styles.xml
  android/history.md
Labels: android, bug

#1993 [iOS] Download error failure handling
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LexicalModelPickerViewController.swift
Labels: bug, ios

#1991 [iOS] Direct use of specific language lists for downloads
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageDetailViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageSpecificViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/InstalledLanguagesViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/LanguageSettingsViewController.swift
  ios/history.md
Labels: bug, ios

#1976 [iOS] Settings notification bar refactor/prep
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageDetailViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LexicalModelPickerViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/ResourceDownloadStatusToolbar.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/InstalledLanguagesViewController.swift
Labels: enhancement, ios

#1979 [iOS] Resource Download Manager
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/Constants.swift
  ios/engine/KMEI/KeymanEngine/Classes/HTTPDownloader.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/APILexicalModelRepository.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/ResourceDownloadManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/ResourceDownloadQueue.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/KeyboardPickerViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageDetailViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageLMDetailViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LexicalModelPickerViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/InstallableKeyboard.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/InstallableLexicalModel.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/LanguageResource.swift
  ios/engine/KMEI/KeymanEngine/Classes/Notification/Notifications.swift
  ios/engine/KMEI/KeymanEngine/Classes/ResourceDownloadStatusToolbar.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/InstalledLanguagesViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/LanguageSettingsViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/SettingsViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Storage.swift
  ios/engine/KMEI/KeymanEngineDemo/MainViewController.swift
  ios/history.md
  ios/keyman/Keyman/Keyman/GetStartedViewController/GetStartedViewController.swift
  ios/keyman/Keyman/Keyman/MainViewController.swift
Labels: bug, enhancement, ios

#1997 [iOS] Language-specific keyboard download regression fix.
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageDetailViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/InstalledLanguagesViewController.swift
Labels: bug, ios

#1999 [Android] Fix info icon dimensions so menu text is aligned
  android/KMEA/app/src/main/res/drawable-hdpi/ic_light_action_info.png
  android/KMEA/app/src/main/res/drawable-xhdpi/ic_light_action_info.png
  android/history.md
Labels: android, bug

#2008 [Developer] Rename *.model.ts files in test fixtures
  developer/js/tests/fixtures/example.qaa.sencoten/example.qaa.sencoten.model.ts
  developer/js/tests/fixtures/example.qaa.trivial/example.qaa.trivial.model.ts
  developer/js/tests/fixtures/example.qaa.utf16be/example.qaa.utf16be.model.ts
  developer/js/tests/fixtures/example.qaa.utf16le/example.qaa.utf16le.model.ts
  developer/js/tests/test-compile-model.ts
Labels: developer, developer-compiler, modification

#2009 [Developer] Add Word Breaking API
  developer/js/source/index.ts
  developer/js/source/lexical-model-compiler/lexical-model.ts
  developer/js/tests/test-compile-trie.ts
Labels: developer, developer-compiler, enhancement

#2010 [iOS] Includes the MTNT dictionary as a default resource for v12.
  ios/engine/KMEI/KeymanEngine/Classes/Constants.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/ResourceDownloadQueue.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LexicalModelPickerViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Migrations.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/KMPLexicalModel.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/KeymanPackage.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/InstalledLanguagesViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Storage.swift
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/nrc.en.mtnt-0.1.2.model.kmp
  ios/history.md
  ios/keyman/Keyman/Keyman/AppDelegate.swift
Labels: enhancement, ios

#2007 [iOS] Resource migration on app major-version updates
  ios/engine/KMEI/KeymanEngine/Classes/Constants.swift
  ios/engine/KMEI/KeymanEngine/Classes/Extension/UserDefaults+Types.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/ResourceDownloadQueue.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LexicalModelPickerViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Migrations.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/KMPLexicalModel.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/KeymanPackage.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/Version.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/InstalledLanguagesViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Storage.swift
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/nrc.en.mtnt-0.1.2.model.kmp
  ios/history.md
  ios/keyman/Keyman/Keyman/AppDelegate.swift
  ios/keyman/Keyman/Keyman/MainViewController.swift
Labels: ios, modification

#2014 [Developer] Use the term "wordBreaker" instead of "wordBreaking"
  developer/js/source/index.ts
  developer/js/source/lexical-model-compiler/lexical-model.ts
  developer/js/tests/fixtures/example.qaa.sencoten/example.qaa.sencoten.model.ts
  developer/js/tests/helpers/index.ts
  developer/js/tests/test-compile-model.ts
  developer/js/tests/test-compile-trie.ts
Labels: developer, developer-compiler, enhancement

#1992 [Android] Use file browser to navigate to install local .kmp files
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeymanSettingsFragment.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/res/drawable-hdpi/ic_folder_open.png
  android/KMAPro/kMAPro/src/main/res/drawable-mdpi/ic_folder_open.png
  android/KMAPro/kMAPro/src/main/res/drawable-xhdpi/ic_folder_open.png
  android/KMAPro/kMAPro/src/main/res/drawable-xxhdpi/ic_folder_open.png
  android/KMAPro/kMAPro/src/main/res/drawable-xxxhdpi/ic_folder_open.png
  android/KMAPro/kMAPro/src/main/res/layout/preference_file_browser_layout.xml
  android/KMAPro/kMAPro/src/main/res/menu-land/main.xml
  android/KMAPro/kMAPro/src/main/res/menu-sw600dp/main.xml
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMEA/app/src/main/res/values/strings.xml
  android/history.md
Labels: android, enhancement

#2011 [iOS] Allows deletion of default keyboard
  ios/engine/KMEI/KeymanEngine/Classes/Settings/LanguageSettingsViewController.swift
Labels: bug, ios

#2017 [iOS] Tweak certificate configuration for FirstVoices keyboards
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
Labels: bug, ios

#2018 [iOS] Fixup set_version call for CI
  ios/kmbuild.sh
  resources/shellHelperFunctions.sh
Labels: bug, ios

#2019 [iOS] Add export plist detail for FV Keyboards
  oem/firstvoices/ios/exportAppStore.plist
Labels: bug, ios

#2020 [Android] Fix keyboard and model info pages
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMEA/app/src/main/AndroidManifest.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguagesSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/LexicalModel.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/LexicalModelPackageProcessor.java
  android/KMEA/app/src/main/res/xml/file_paths.xml
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/LexicalModelPackageProcessorTest.java
  android/history.md
Labels: android, bug
