Repository keymanapp/keyman, pull requests merged in 2019-12, with the labels that each got.

#2399 fix(windows): smp characters could break context
  windows/src/desktop/history.md
  windows/src/engine/keyman32/appint/aiWin2000Unicode.cpp
  windows/src/engine/keyman32/kmprocess.cpp
  windows/src/global/inc/Compiler.h
Labels: bug, windows

#2400 fix(windows): smp characters could break context 🍒
  windows/src/desktop/history.md
  windows/src/engine/keyman32/appint/aiWin2000Unicode.cpp
  windows/src/engine/keyman32/kmprocess.cpp
  windows/src/global/inc/Compiler.h
Labels: bug, cherry-pick, stable, windows

#2397 fix(developer): show help was not working
  windows/src/developer/TIKE/xml/project/project.js
Labels: bug, developer

#2401 [Android] [Cherry] ES6 & API 19-23 compatibility changes
  android/KMEA/app/src/main/assets/keyboard.html
  common/predictive-text/index.ts
  common/predictive-text/message.d.ts
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  common/predictive-text/promise-store.ts
  common/predictive-text/worker/index.ts
  web/bulk_rendering/renderer_core.ts
  web/package-lock.json
  web/package.json
  web/source/build.sh
  web/source/dom/utils.ts
  web/source/kmwbase.ts
Labels: android, bug, cherry-pick, compatibility

#2404 [Android] Prevents lower-cased API returns from causing mismatches
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/CloudDataJsonUtil.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/LexicalModelPackageProcessor.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/cloud/CloudDataJsonUtilTest.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/LexicalModelPackageProcessorTest.java
  android/KMEA/test_resources/cloud/sencoten.json
  android/KMEA/test_resources/packages/en.custom/example.en.custom.model.kmp
Labels: android, bug

#2407 fix(developer): ci alternate installer path
  windows/src/developer/inst/Makefile
  windows/src/developer/inst/copydev.in
Labels: bug, ci, developer

#2410 fix(developer): ci alternate installer path 🍒
  windows/src/developer/inst/Makefile
  windows/src/developer/inst/copydev.in
Labels: bug, cherry-pick, ci, developer

#2412 [Android] Add preference to ignore update notification
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/logic/ResourcesUpdateTool.java
  android/history.md
Labels: android, enhancement

#2403 fix(ios): prevents lowercased API returns from causing mismatches
  ios/engine/KMEI/KeymanEngine/Classes/Model/InstallableKeyboard.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/InstallableLexicalModel.swift
Labels: bug, ios

#2405 change(lmlayer): 'default' word breaker issues
  common/predictive-text/unit_tests/headless/default-word-breaker.js
  common/predictive-text/unit_tests/in_browser/cases/worker-dummy-integration.js
  common/predictive-text/unit_tests/in_browser/cases/worker-trie-integration.js
  common/predictive-text/worker/models/trie-model.ts
  common/predictive-text/worker/word_breaking/default-word-breaking/index.ts
Labels: bug, web, web-lm-layer

#2422 cherry(lmlayer): 'default' word breaker issues
  common/predictive-text/unit_tests/headless/default-word-breaker.js
  common/predictive-text/unit_tests/in_browser/cases/worker-dummy-integration.js
  common/predictive-text/unit_tests/in_browser/cases/worker-trie-integration.js
  common/predictive-text/worker/index.ts
  common/predictive-text/worker/models/trie-model.ts
  common/predictive-text/worker/word_breaking/default-word-breaking/index.ts
Labels: bug, stable, web-lm-layer

#2389 [Android][Stable] Investigate compatibility issues for older Android devices
  android/KMEA/app/src/main/assets/nrc.en.mtnt.model.kmp
Labels: android, bug, compatibility, stable

#2420 fix(ios): prevents lowercased API returns from causing mismatches 🍒
  ios/engine/KMEI/KeymanEngine/Classes/Model/InstallableKeyboard.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/InstallableLexicalModel.swift
  ios/history.md
Labels: bug, cherry-pick, ios, stable

#2414 fix(mac): osk shouldn't show base letters
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KeyView.m
  mac/history.md
Labels: bug, mac

#2413 fix(mac): osk shows unexpectedly
  mac/.gitignore
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Podfile.lock
  mac/README.md
  mac/build.sh
Labels: bug, mac

#2415 fix(developer): project menu obscured sometimes
  windows/src/developer/TIKE/xml/project/common.js
Labels: bug, developer

#2417 fix(developer): Remove kps version when needed
  windows/src/global/delphi/general/kpsfile.pas
Labels: developer, enhancement

#2426 feat(windows): Add QRCode link popup to share a package
  windows/src/desktop/kmshell/xml/config.css
  windows/src/desktop/kmshell/xml/config.js
  windows/src/desktop/kmshell/xml/keyman.xsl
  windows/src/desktop/kmshell/xml/keyman_keyboardlist.xsl
  windows/src/desktop/kmshell/xml/locale.xml
  windows/src/desktop/kmshell/xml/qrcode.min.js
Labels: enhancement, windows

#2419 feat(developer): add kmdecomp
  windows/src/developer/Makefile
  windows/src/developer/history.md
  windows/src/developer/inst/kmdev.wxs
  windows/src/developer/kmdecomp/Makefile
  windows/src/developer/kmdecomp/crc32.cpp
  windows/src/developer/kmdecomp/kmdecomp.cpp
  windows/src/developer/kmdecomp/kmdecomp.md
  windows/src/developer/kmdecomp/kmdecomp.sln
  windows/src/developer/kmdecomp/kmdecomp.vcxproj
  windows/src/developer/kmdecomp/kmdecomp.vcxproj.filters
  windows/src/developer/kmdecomp/savekeyboard.cpp
  windows/src/developer/kmdecomp/version.in
Labels: developer, developer-compiler, enhancement

#2428 fix(developer): character map drops chars reliably
  windows/src/developer/TIKE/main/UframeTextEditor.pas
  windows/src/developer/TIKE/oskbuilder/UframeTouchLayoutBuilder.pas
Labels: bug, developer

#2431 fix(developer): keyboard id should be clean in import
  windows/src/developer/history.md
  windows/src/developer/kmconvert/Keyman.Developer.System.ImportWindowsKeyboard.pas
Labels: bug, developer

#2432 fix(developer): Allow unquoted hotkeys in hotkey statement.
  windows/src/developer/history.md
  windows/src/developer/kmcmpdll/Compiler.cpp
  windows/src/developer/kmcmpdll/Compiler.rc
  windows/src/developer/kmcmpdll/kcframe.cpp
  windows/src/global/inc/Comperr.h
Labels: developer, developer-compiler, enhancement

#2427 feat(mac): add QR Code to share keyboard package
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/KMInfoWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/qrcode.min.js
Labels: enhancement, mac

#2434 fix(lmlayer): Polyfills for wordbreak support on oldest-supported platforms
  common/predictive-text/.gitignore
  common/predictive-text/build.sh
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  common/predictive-text/polyfills/array.from.js
  common/predictive-text/polyfills/string.startswith.js
  common/predictive-text/unit_tests/in_browser/cases/worker-dummy-integration.js
  common/predictive-text/unit_tests/in_browser/cases/worker-trie-integration.js
Labels: compatibility, web, web-lm-layer

#2406 [Android][Cherrypick][Stable]: Prevent lower-cased API returns from causing mismatches
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/LexicalModelPackageProcessor.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/data/CloudRepositoryTest.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/LexicalModelPackageProcessorTest.java
  android/KMEA/test_resources/cloud/bag-Latn.json
  android/KMEA/test_resources/cloud/sencoten.json
  android/KMEA/test_resources/packages/en.custom/example.en.custom.model.kmp
Labels: android, bug, cherry-pick, stable

#2433 feat(developer): Add QRCode for debugger url
  windows/src/developer/TIKE/Tike.dpr
  windows/src/developer/TIKE/Tike.dproj
  windows/src/developer/TIKE/child/Keyman.Developer.UI.UfrmModelEditor.dfm
  windows/src/developer/TIKE/child/Keyman.Developer.UI.UfrmModelEditor.pas
  windows/src/developer/TIKE/child/UfrmKeymanWizard.dfm
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/child/UfrmPackageEditor.dfm
  windows/src/developer/TIKE/child/UfrmPackageEditor.pas
  windows/src/developer/history.md
  windows/src/ext/zxingqrcode/LICENSE.md
  windows/src/ext/zxingqrcode/README.md
  windows/src/ext/zxingqrcode/Source/DelphiZXIngQRCode.pas
  windows/src/ext/zxingqrcode/TestApp/DelphiZXingQRCodeTestApp.dpr
  windows/src/ext/zxingqrcode/TestApp/DelphiZXingQRCodeTestApp.dproj
  windows/src/ext/zxingqrcode/TestApp/DelphiZXingQRCodeTestApp.res
  windows/src/ext/zxingqrcode/TestApp/DelphiZXingQRCodeTestAppMainForm.dfm
  windows/src/ext/zxingqrcode/TestApp/DelphiZXingQRCodeTestAppMainForm.pas
  windows/src/global/delphi/general/Keyman.System.QRCode.pas
Labels: developer, enhancement

#2441 fix(developer): application title was confusing
  windows/src/developer/TIKE/main/UfrmMain.pas
  windows/src/developer/history.md
Labels: developer, modification

#2424 fix(developer): Hotkeys in text editor regression
  windows/src/developer/history.md
  windows/src/global/delphi/comp/KMDActions.pas
Labels: bug, developer

#2425 fix(developer): Hotkeys in text editor regression 🍒
  windows/src/developer/history.md
  windows/src/global/delphi/comp/KMDActions.pas
Labels: bug, developer, stable

#2439 chore(developer): remove references to TIKE
  windows/src/developer/TIKE/debug/UfrmDebugStatus_CallStack.pas
  windows/src/developer/TIKE/debug/UfrmDebuggerInput.dfm
  windows/src/developer/TIKE/dialogs/UfrmMustIncludeDebug.dfm
  windows/src/developer/TIKE/main/UfrmMain.pas
  windows/src/developer/TIKE/version.in
  windows/src/developer/TIKE/xml/help/contexthelp.xml
  windows/src/developer/history.md
  windows/src/global/delphi/charmap/UnicodeData.pas
  windows/src/test/regressiontest/UfrmRegressionTests.pas
Labels: developer, modification

#2442 fix(developer): F7 to compile all in project view
  windows/src/developer/TIKE/actions/dmActionsKeyboardEditor.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmProject.pas
  windows/src/developer/history.md
Labels: developer, enhancement

#2443 fix(developer): stops zero length store names
  windows/src/developer/history.md
  windows/src/developer/kmcmpdll/Compiler.cpp
  windows/src/test/unit-tests/kmcomp-empty-store-names/emptystorename.kmn
Labels: bug, developer, developer-compiler

#2444 [Android][Stable]: Check substring length
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/history.md
Labels: android, bug, stable

#2445 fix(android): Check substring length
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/history.md
Labels: android, bug, cherry-pick

#2446 chore: add Jetbrains IDE files to top level .gitignore
  .gitignore
Labels: modification

#2429 chore: update history
  android/history.md
  ios/history.md
  web/history.md
  windows/src/desktop/history.md
  windows/src/developer/history.md
Labels: modification

#2449 feat(developer): Default project path
  windows/src/developer/TIKE/dialogs/UfrmNew.pas
  windows/src/developer/TIKE/dialogs/UfrmNewFileDetails.pas
  windows/src/developer/TIKE/dialogs/UfrmOptions.dfm
  windows/src/developer/TIKE/dialogs/UfrmOptions.pas
  windows/src/developer/TIKE/main/KeymanDeveloperOptions.pas
  windows/src/developer/TIKE/main/UfrmMain.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewModelProjectParameters.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewProjectParameters.pas
  windows/src/developer/history.md
  windows/src/global/delphi/general/RegistryKeys.pas
Labels: developer, enhancement

#2440 cherry(lmlayer): Polyfills for wordbreak support on oldest-supported platforms
  common/predictive-text/.gitignore
  common/predictive-text/build.sh
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  common/predictive-text/polyfills/array.from.js
  common/predictive-text/unit_tests/in_browser/cases/worker-dummy-integration.js
  common/predictive-text/unit_tests/in_browser/cases/worker-trie-integration.js
Labels: compatibility, web, web-lm-layer

#2453 fix(android): Removes Closure's auto-polyfills, adds test case bypass
  android/KMEA/build.sh
  web/source/build.sh
Labels: android, bug, stable

#2458 feat(android): Add QR Codes on Keyboard Info pages
  android/KMAPro/build.gradle
  android/KMAPro/kMAPro/build.gradle
  android/KMEA/app/build.gradle
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/QRCodeUtil.java
  android/KMEA/app/src/main/res/layout/activity_list_layout.xml
  android/KMEA/app/src/main/res/layout/qr_layout.xml
  android/KMEA/app/src/main/res/values/dimens.xml
  android/KMEA/app/src/main/res/values/strings.xml
  android/KMEA/app/src/main/res/values/styles.xml
  android/KMEA/build.gradle
  android/README.md
  android/history.md
Labels: android, enhancement

#2462 change(android): Update nrc.en.mtnt model to 0.1.3
  android/KMEA/app/src/main/assets/nrc.en.mtnt.model.kmp
Labels: android, cherry-pick

#2461 cherry(ios): Adhoc resource overwrite/file-replacement
  ios/history.md
  ios/keyman/Keyman/Keyman/AppDelegate.swift
Labels: bug, cherry-pick, ios, stable

#2459 fix(ios): Adhoc resource overwrite/file-replacement
  ios/keyman/Keyman/Keyman/AppDelegate.swift
Labels: bug, ios

#2454 fix(android): Removes Closure's auto-polyfills, adds test case bypass
  android/KMEA/build.sh
  web/source/build.sh
Labels: android, bug, cherry-pick

#2460 refactor(ios): Adhoc installation code refactor/reorg
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/PackageInstallViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadQueue.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceFileManager.swift
  ios/keyman/Keyman/Keyman/AppDelegate.swift
  ios/keyman/Keyman/Keyman/MainViewController.swift
Labels: ios, modification

#2463 iOS: Refactors KMP installation's connection to app UI
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/PackageInstallViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceFileManager.swift
  ios/keyman/Keyman/Keyman/AppDelegate.swift
  ios/keyman/Keyman/Keyman/MainViewController.swift
Labels: ios, modification
