Repository keymanapp/keyman, pull requests merged in 2019-02, with the labels that each got.

#1570 [Android] Add notifications when font/keyboard fails to download
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/FileUtils.java
  android/KMEA/app/src/main/res/values/strings.xml
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/FileUtilsTest.java
  android/history.md
Labels: android, bug

#1572 [Linux] missing dist testfile
  linux/.pbuilderrc
  linux/ibus-keyman/src/Makefile.am
  linux/scripts/cow.sh
Labels: linux, modification

#1549 [Developer] Add option to check filename conventions
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/developer/TIKE/actions/dmActionsMain.dfm
  windows/src/developer/TIKE/actions/dmActionsMain.pas
  windows/src/developer/TIKE/child/UfrmPackageEditor.pas
  windows/src/developer/TIKE/dialogs/UfrmNew.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.ProjectFile.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.ProjectLoader.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.ProjectSaver.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.kmnProjectFileAction.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.kpsProjectFileAction.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewProjectParameters.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmProjectSettings.dfm
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmProjectSettings.pas
  windows/src/developer/kmcomp/kccompilepackage.pas
  windows/src/developer/kmcomp/kccompileproject.pas
  windows/src/developer/kmcomp/main.pas
  windows/src/developer/kmconvert/Keyman.Developer.System.KeyboardProjectTemplate.pas
  windows/src/global/delphi/general/CompilePackage.pas
  windows/src/global/delphi/general/CompilePackageInstaller.pas
  windows/src/global/delphi/keyboards/Keyman.System.KeyboardUtils.pas
  windows/src/unit-tests/keyboard-package-versions/Keyman.Test.System.CompilePackageVersioningTest.pas
Labels: developer, enhancement

#1581 [android] Fix versions in history
  android/history.md
Labels: android

#1575 [Windows] Upgrading from 9 to 11 failed to upgrade keyboards and settings
  windows/src/desktop/history.md
  windows/src/desktop/setup/UfrmRunDesktop.pas
  windows/src/developer/history.md
Labels: bug, windows

#1576 [Developer] Package RTL keyboard metadata was being overwritten if .kmx was after .js in package file list
  windows/src/global/delphi/general/kmxfile.pas
  windows/src/global/delphi/packages/Keyman.System.PackageInfoRefreshKeyboards.pas
Labels: bug, developer

#1578 [Developer] New Project Wizard wasn't adding metadata files to project
  windows/src/developer/history.md
  windows/src/developer/kmconvert/Keyman.Developer.System.KeyboardProjectTemplate.pas
Labels: bug, developer

#1579 [Developer] Switching pages in touch layout editor now maintains selected platform, layout, etc
  windows/src/developer/TIKE/http/Keyman.Developer.System.HttpServer.AppSource.pas
  windows/src/developer/TIKE/oskbuilder/UframeTouchLayoutBuilder.pas
  windows/src/developer/TIKE/xml/layoutbuilder/builder.js
Labels: developer, enhancement

#1580 [Developer] Project state was not being maintained between project page loads
  windows/src/developer/TIKE/xml/project/project.js
  windows/src/developer/history.md
Labels: bug, developer

#1582 [Developer] Adjust focus to correct window when loading web view and editor
  windows/src/developer/TIKE/main/Keyman.Developer.UI.UframeCEFHost.pas
  windows/src/developer/TIKE/xml/app/editor/editor.js
  windows/src/developer/history.md
Labels: bug, developer

#1585 [linux] Update km-config to handle packages with empty "languages"
  linux/history.md
  linux/ibus-keyman/src/kmpdetails.c
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/uninstall_kmp.py
Labels: bug, linux

#1571 [Web] The "Mock" output target
  web/source/text/deadkeys.ts
  web/source/text/kmwstring.ts
  web/source/text/mock.ts
  web/source/text/outputTarget.ts
  web/source/tsconfig.dev_resources.json
  web/unit_tests/cases/element_interfaces.js
Labels: enhancement, web

#1569 [Web] Keyboard processing refinement/refactor
  web/source/build_dev_resources.sh
  web/source/dom/TouchAliasElement.ts
  web/source/dom/contentEditable.ts
  web/source/dom/designIFrame.ts
  web/source/dom/editableElement.ts
  web/source/dom/input.ts
  web/source/dom/textarea.ts
  web/source/dom/touchAlias.ts
  web/source/dom/wrapElement.ts
  web/source/keymanweb.ts
  web/source/kmwapi.ts
  web/source/kmwbase.ts
  web/source/kmwdom.ts
  web/source/kmwdomevents.ts
  web/source/kmwembedded.ts
  web/source/kmwexthtml.ts
  web/source/kmwkeyboards.ts
  web/source/kmwnative.ts
  web/source/kmwtypedefs.ts
  web/source/osk/oskManager.ts
  web/source/text/deadkeys.ts
  web/source/text/kbdInterface.ts
  web/source/text/kmwstring.ts
  web/source/text/mock.ts
  web/source/text/outputTarget.ts
  web/source/text/processor.ts
  web/source/tsconfig.dev_resources.json
  web/unit_tests/.gitignore
  web/unit_tests/base.conf.js
  web/unit_tests/cases/element_interfaces.js
  web/unit_tests/cases/engine.js
Labels: enhancement, web

#1546 [Web] Processing refactor - DOM element interfaces
  web/source/build_dev_resources.sh
  web/source/dom/TouchAliasElement.ts
  web/source/dom/contentEditable.ts
  web/source/dom/designIFrame.ts
  web/source/dom/input.ts
  web/source/dom/textarea.ts
  web/source/dom/touchAlias.ts
  web/source/dom/wrapElement.ts
  web/source/keymanweb.ts
  web/source/kmwapi.ts
  web/source/kmwbase.ts
  web/source/kmwdom.ts
  web/source/kmwdomevents.ts
  web/source/kmwembedded.ts
  web/source/kmwexthtml.ts
  web/source/kmwkeyboards.ts
  web/source/kmwnative.ts
  web/source/kmwtypedefs.ts
  web/source/osk/oskManager.ts
  web/source/text/deadkeys.ts
  web/source/text/kbdInterface.ts
  web/source/text/kmwstring.ts
  web/source/text/mock.ts
  web/source/text/outputTarget.ts
  web/source/text/processor.ts
  web/source/tsconfig.dev_resources.json
  web/testing/attachment-api/editableFrame.html
  web/testing/attachment-api/index.html
  web/testing/attachment-api/utilities.js
  web/unit_tests/.gitignore
  web/unit_tests/CI.conf.js
  web/unit_tests/base.conf.js
  web/unit_tests/cases/attachmentAPI.js
  web/unit_tests/cases/element_interfaces.js
  web/unit_tests/cases/engine.js
  web/unit_tests/cases/touch_aliases.js
  web/unit_tests/resources/html/editableFrame.html
  web/unit_tests/test_utils.js
Labels: enhancement, web

#1558 [Web] Touch-alias element refactor
  web/history.md
  web/source/build_dev_resources.sh
  web/source/build_recorder.sh
  web/source/dom/TouchAliasElement.ts
  web/source/dom/contentEditable.ts
  web/source/dom/designIFrame.ts
  web/source/dom/input.ts
  web/source/dom/textarea.ts
  web/source/dom/touchAlias.ts
  web/source/dom/utils.ts
  web/source/dom/wrapElement.ts
  web/source/keymanweb.ts
  web/source/kmwapi.ts
  web/source/kmwbase.ts
  web/source/kmwdom.ts
  web/source/kmwdomevents.ts
  web/source/kmwembedded.ts
  web/source/kmwexthtml.ts
  web/source/kmwkeyboards.ts
  web/source/kmwnative.ts
  web/source/kmwtypedefs.ts
  web/source/kmwutils.ts
  web/source/osk/languageMenu.ts
  web/source/osk/oskManager.ts
  web/source/osk/visualKeyboard.ts
  web/source/recorder_InputEvents.ts
  web/source/recorder_ui_and_stubs.js
  web/source/text/deadkeys.ts
  web/source/text/kbdInterface.ts
  web/source/text/kmwstring.ts
  web/source/text/mock.ts
  web/source/text/outputTarget.ts
  web/source/text/processor.ts
  web/source/tsconfig.dev_resources.json
  web/testing/attachment-api/editableFrame.html
  web/testing/attachment-api/index.html
  web/testing/attachment-api/utilities.js
  web/unit_tests/.gitignore
  web/unit_tests/CI.conf.js
  web/unit_tests/base.conf.js
  web/unit_tests/cases/attachmentAPI.js
  web/unit_tests/cases/element_interfaces.js
  web/unit_tests/cases/engine.js
  web/unit_tests/cases/touch_aliases.js
  web/unit_tests/resources/html/editableFrame.html
  web/unit_tests/test.sh
  web/unit_tests/test_utils.js
Labels: enhancement, web

#1447 [mac] Where available, call showPreferences, otherwise, call our workaround
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/KMAboutWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMOSVersion.h
  mac/Keyman4MacIM/Keyman4MacIM/KMOSVersion.m
Labels: bug, mac

#1583 [mac] Update version strings to 11.0.0 (v2)
  mac/Keyman4Mac/Keyman4Mac.xcodeproj/project.pbxproj
  mac/Keyman4Mac/Keyman4Mac/Info.plist
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/xcshareddata/xcschemes/Keyman.xcscheme
  mac/Keyman4MacIM/Keyman4MacIM/Info.plist
  mac/Keyman4MacIM/Keyman4MacIM/InfoPlist.strings
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/project.pbxproj
  mac/KeymanEngine4Mac/KeymanEngine4Mac/Info.plist
  mac/is_same_version.sh
Labels: mac, modification

#1591 Merge beta fixes for P5S4, week 1, to master
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/FileUtils.java
  android/KMEA/app/src/main/res/values/strings.xml
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/FileUtilsTest.java
  android/history.md
  linux/.pbuilderrc
  linux/README.md
  linux/history.md
  linux/ibus-keyman/src/Makefile.am
  linux/ibus-keyman/src/kmpdetails.c
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/uninstall_kmp.py
  linux/scripts/build.sh
  linux/scripts/cow.sh
  windows/src/desktop/history.md
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/desktop/setup/UfrmRunDesktop.pas
  windows/src/developer/TIKE/actions/dmActionsMain.dfm
  windows/src/developer/TIKE/actions/dmActionsMain.pas
  windows/src/developer/TIKE/child/UfrmPackageEditor.pas
  windows/src/developer/TIKE/dialogs/UfrmNew.pas
  windows/src/developer/TIKE/http/Keyman.Developer.System.HttpServer.AppSource.pas
  windows/src/developer/TIKE/main/Keyman.Developer.UI.UframeCEFHost.pas
  windows/src/developer/TIKE/oskbuilder/UframeTouchLayoutBuilder.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.ProjectFile.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.ProjectLoader.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.ProjectSaver.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.kmnProjectFileAction.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.kpsProjectFileAction.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewProjectParameters.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmProjectSettings.dfm
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmProjectSettings.pas
  windows/src/developer/TIKE/xml/app/editor/editor.js
  windows/src/developer/TIKE/xml/layoutbuilder/builder.js
  windows/src/developer/TIKE/xml/project/project.js
  windows/src/developer/history.md
  windows/src/developer/kmcomp/kccompilepackage.pas
  windows/src/developer/kmcomp/kccompileproject.pas
  windows/src/developer/kmcomp/main.pas
  windows/src/developer/kmconvert/Keyman.Developer.System.KeyboardProjectTemplate.pas
  windows/src/global/delphi/general/CompilePackage.pas
  windows/src/global/delphi/general/CompilePackageInstaller.pas
  windows/src/global/delphi/general/kmxfile.pas
  windows/src/global/delphi/keyboards/Keyman.System.KeyboardUtils.pas
  windows/src/global/delphi/packages/Keyman.System.PackageInfoRefreshKeyboards.pas
  windows/src/unit-tests/keyboard-package-versions/Keyman.Test.System.CompilePackageVersioningTest.pas
Labels: cherry-pick

#1588 [Web] Unintended use of goog.DebugLoader fix
  web/package-lock.json
  web/package.json
  web/source/kmwapi.ts
Labels: bug, web

#1543 [Linux] appstream appdata files
  linux/history.md
  linux/ibus-keyman/debian/com.github.ibus.ibus-keyman.metainfo.xml
  linux/ibus-keyman/debian/install
  linux/ibus-kmfl/debian/com.github.ibus.ibus-kmfl.metainfo.xml
  linux/ibus-kmfl/debian/install
  linux/keyman-config/debian/com.keyman.config.appdata.xml
  linux/keyman-config/debian/keyman.install
Labels: enhancement, linux

#1593 [Web] goog.DebugLoader merge resolution
  mac/Keyman4Mac/Keyman4Mac.xcodeproj/project.pbxproj
  mac/Keyman4Mac/Keyman4Mac/Info.plist
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/xcshareddata/xcschemes/Keyman.xcscheme
  mac/Keyman4MacIM/Keyman4MacIM/Info.plist
  mac/Keyman4MacIM/Keyman4MacIM/InfoPlist.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/KMAboutWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMOSVersion.h
  mac/Keyman4MacIM/Keyman4MacIM/KMOSVersion.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/project.pbxproj
  mac/KeymanEngine4Mac/KeymanEngine4Mac/Info.plist
  mac/is_same_version.sh
  web/package-lock.json
  web/package.json
  web/source/kmwapi.ts
Labels: bug, web

#1597 [windows] Kannada localization file update
  windows/src/desktop/kmshell/locale/kan-Knda-IN/locale.xml
Labels: windows

#1598 [Windows] Changed to Kannada font and also short the text to fit in the buttons
  windows/src/desktop/kmshell/locale/kan-Knda-IN/locale.xml
Labels: modification, windows

#1607 [Developer] Ensure text editor resizes when window does
  windows/src/developer/TIKE/xml/app/editor/editor.js
Labels: bug, developer

#1605 [Developer] Crash when creating new touch layout in certain circumstances.
  windows/src/developer/TIKE/oskbuilder/UframeTouchLayoutBuilder.pas
Labels: bug, developer

#1606 [Developer] Buttons in Distribution tab now work.
  windows/src/developer/TIKE/child/UfrmEditor.pas
  windows/src/developer/TIKE/main/UfrmMain.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmProject.pas
Labels: bug, developer

#1603 [Windows] Keyman now handles backspace correctly again for SMP characters in TSF-aware apps
  windows/src/engine/keyman32/kmprocess.cpp
  windows/src/engine/keyman32/message-analyzer/README.md
Labels: bug, windows

#1574 [linux] Update launchpad instructions
  linux/README.md
Labels: linux

#1615 Merge P5S4 beta pull requests to alpha
  linux/README.md
  linux/history.md
  linux/ibus-keyman/debian/com.github.ibus.ibus-keyman.metainfo.xml
  linux/ibus-keyman/debian/install
  linux/ibus-kmfl/debian/com.github.ibus.ibus-kmfl.metainfo.xml
  linux/ibus-kmfl/debian/install
  linux/keyman-config/debian/com.keyman.config.appdata.xml
  linux/keyman-config/debian/keyman.install
  windows/src/developer/TIKE/child/UfrmEditor.pas
  windows/src/developer/TIKE/main/UfrmMain.pas
  windows/src/developer/TIKE/oskbuilder/UframeTouchLayoutBuilder.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmProject.pas
  windows/src/developer/TIKE/xml/app/editor/editor.js
  windows/src/engine/keyman32/kmprocess.cpp
  windows/src/engine/keyman32/message-analyzer/README.md
Labels: cherry-pick

#1594 [Mac] Beta About Box seems stuck
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/Info.plist
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/KMAboutWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/KMAboutWindowController.xib
Labels: bug, mac

#1601 [linux] Sanitize packageID, keyboardID, and kmx filenames
  linux/history.md
  linux/keyman-config/keyman_config/ibus_util.py
  linux/keyman-config/keyman_config/install_kmp.py
Labels: linux

#1621 [Windows] AltGr causes sticky Left Control when some Windows European layouts are installed.
  windows/src/engine/keyman32/keyman-debug-etw.man
  windows/src/engine/keyman32/serialkeyeventserver.cpp
Labels: bug, windows

#1623 [meta] history for final beta
  android/history.md
  ios/history.md
  linux/history.md
  mac/history.md
  web/history.md
  windows/src/desktop/history.md
  windows/src/developer/history.md
Labels: modification

#1608 [Linux] Have launchpad watch stable for Keyman 11 release
  linux/scripts/launchpad.sh
Labels: linux, staging

#1626 Merge final 11.0 beta changes to 12.0 alpha
  android/history.md
  ios/history.md
  linux/history.md
  linux/keyman-config/keyman_config/ibus_util.py
  linux/keyman-config/keyman_config/install_kmp.py
  linux/scripts/launchpad.sh
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/Info.plist
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/KMAboutWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/KMAboutWindowController.xib
  mac/history.md
  web/history.md
  windows/src/desktop/history.md
  windows/src/developer/history.md
  windows/src/engine/keyman32/keyman-debug-etw.man
  windows/src/engine/keyman32/serialkeyeventserver.cpp
Labels: cherry-pick

#1627 [Linux] Update history
  linux/history.md
Labels: bug, linux

#1625 [Web] Disables Safari tests for KMW pending BrowserStack fix.
  common/predictive-text/unit_tests/in_browser/CI.conf.js
  web/unit_tests/CI.conf.js
Labels: web

#1629 [Web] Toolbar UI minification fix
  web/history.md
  web/source/kmwuitoolbar.ts
Labels: bug, web

#1630 [Web] Pulls #1629's fix into master.
  web/source/kmwuitoolbar.ts
Labels: bug, cherry-pick, web

#1611 [Web] Keyboard rule transcriptions
  web/source/dom/input.ts
  web/source/dom/textarea.ts
  web/source/includes/lmMsgs.d.ts
  web/source/includes/lmlayer.ts
  web/source/text/deadkeys.ts
  web/source/text/keyEvent.ts
  web/source/text/mock.ts
  web/source/text/outputTarget.ts
  web/source/text/processor.ts
  web/source/tsconfig.dev_resources.json
  web/unit_tests/cases/element_interfaces.js
  web/unit_tests/cases/target_mocks.js
  web/unit_tests/cases/transcriptions.js
Labels: enhancement, web

#1602 [Web] Compilation with the LMLayer
  common/predictive-text/build.sh
  common/predictive-text/index.d.ts
  common/predictive-text/index.ts
  common/predictive-text/promise-store.ts
  common/predictive-text/unit_tests/in_browser/base.conf.js
  common/predictive-text/unit_tests/in_browser/cases/top-level-lmlayer.js
  common/predictive-text/unit_tests/in_browser/cases/worker-dummy-integration.js
  common/predictive-text/unit_tests/in_browser/cases/worker-wordlist-integration.js
  common/predictive-text/unit_tests/in_browser/cases/worker.js
  web/package-lock.json
  web/package.json
  web/source/build.sh
  web/source/closure.ts
  web/source/dom/input.ts
  web/source/dom/textarea.ts
  web/source/includes/lmMsgs.d.ts
  web/source/includes/lmlayer.ts
  web/source/kmwapi.ts
  web/source/kmwbase.ts
  web/source/text/deadkeys.ts
  web/source/text/keyEvent.ts
  web/source/text/mock.ts
  web/source/text/outputTarget.ts
  web/source/text/processor.ts
  web/source/tsconfig.base.json
  web/source/tsconfig.dev_resources.json
  web/unit_tests/cases/element_interfaces.js
  web/unit_tests/cases/engine_chirality.js
  web/unit_tests/cases/target_mocks.js
  web/unit_tests/cases/transcriptions.js
Labels: enhancement, lm-layer, web

#1632 [Web] OSK key layer assignment fix
  web/history.md
  web/source/kmwosk.ts
Labels: bug, web

#1633 [Web] Fixes #1628 for the 12.0 alpha
  web/source/osk/visualKeyboard.ts
  web/source/text/processor.ts
Labels: bug, cherry-pick, web

#1631 Use more generic preprocessor macro 64bit
  common/engine/keyboardprocessor/src/kmx/kmx_base.h
Labels: common

#1636 Use more generic preprocessor macro 64bit
  common/engine/keyboardprocessor/src/kmx/kmx_base.h
Labels: cherry-pick, common

#1634 [Android] Check activity is not finishing before showing error dialog
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListActivity.java
  android/history.md
Labels: android, bug

#1637 Cherrypick #1634 to master
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListActivity.java
  android/history.md
Labels: android, bug, cherry-pick
