Repository keymanapp/keyman, pull requests merged in 2019-11, with the labels that each got.

#2266 fix(android): Cherrypick #2255 to master
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMEA/app/src/main/assets/keyboard.html
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/history.md
Labels: android, bug, cherry-pick

#2249 [Android][Cherrypick] Also use the lexical model package version for generating Dataset
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/JSONUtils.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
Labels: android, bug, cherry-pick

#2276 feat(windows): Command line app to test issue around #1680
  windows/src/support/validate-registry-fix-for-1680/validate1680.dpr
  windows/src/support/validate-registry-fix-for-1680/validate1680.dproj
  windows/src/support/validate-registry-fix-for-1680/validate1680.res
Labels: bug, windows

#2291 fix(developer): title of Online Update dialog was wrong
  windows/src/developer/TIKE/Tike.dpr
  windows/src/developer/TIKE/Tike.dproj
  windows/src/developer/TIKE/actions/dmActionsMain.dfm
  windows/src/developer/TIKE/actions/dmActionsMain.pas
  windows/src/developer/TIKE/child/UfrmKeymanWizard.dfm
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/dialogs/UfrmOptions.dfm
  windows/src/developer/TIKE/dialogs/UfrmOptions.pas
  windows/src/developer/TIKE/kct/version.rc
  windows/src/developer/TIKE/main/UfrmMain.dfm
  windows/src/developer/TIKE/main/UfrmMain.pas
  windows/src/developer/TIKE/update/Keyman.Developer.System.TikeOnlineUpdateCheckMessages.pas
  windows/src/developer/TIKE/update/Keyman.Developer.UI.TikeOnlineUpdateCheck.pas
  windows/src/developer/TIKE/update/Keyman.Developer.UI.UfrmTikeOnlineUpdateNewVersion.dfm
  windows/src/developer/TIKE/update/Keyman.Developer.UI.UfrmTikeOnlineUpdateNewVersion.pas
  windows/src/developer/TIKE/update/Keyman.Developer.UI.UfrmTikeOnlineUpdateSetup.dfm
  windows/src/developer/TIKE/update/Keyman.Developer.UI.UfrmTikeOnlineUpdateSetup.pas
Labels: bug, developer

#2286 feat[android]: change readme page handling for custom package install
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
  android/KMAPro/kMAPro/src/main/res/layout/activity_package_installer.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/FileUtils.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/FileUtilsTest.java
Labels: android, enhancement

#2274 [Web] Bounds-check on context deletion from keyboard rules
  web/source/dom/contentEditable.ts
  web/source/dom/designIFrame.ts
  web/source/dom/input.ts
  web/source/dom/textarea.ts
  web/source/dom/touchAlias.ts
  web/source/text/kbdInterface.ts
  web/source/text/outputTarget.ts
  web/unit_tests/cases/element_interfaces.js
Labels: bug, web

#2268 fix(web): iOS-Safari user agent spoof detection
  web/source/kmwdevice.ts
  web/source/utils/version.ts
Labels: bug, ios, web

#2287 fix(web): Fixes mnemonic code handling issues
  web/history.md
  web/source/text/processor.ts
Labels: bug, web

#2279 Android dependencies
  android/KMAPro/build.gradle
  android/KMAPro/gradle/wrapper/gradle-wrapper.properties
  android/KMAPro/kMAPro/build.gradle
  android/KMEA/app/build.gradle
  android/KMEA/app/src/test/resources/com/tavultesoft/kmea/robolectric.properties
  android/KMEA/build.gradle
  android/KMEA/gradle.properties
  android/KMEA/gradle/wrapper/gradle-wrapper.properties
  android/README.md
  android/history.md
Labels: android, modification

#2295 fix(developer): nul in context caused incorrect deletion for 10.0 keyboards
  windows/src/developer/TIKE/compile/CompileKeymanWeb.pas
Labels: bug, developer, developer-compiler

#2294 fix(developer): crash when deleting selected platform in code view
  windows/src/developer/TIKE/xml/layoutbuilder/builder.js
Labels: bug, developer

#2309 fix(web): Fixes bug in version hotkey combo
  web/source/osk/oskManager.ts
Labels: bug, web

#2305 fix(Android, ci): Resolve linting errors
  android/KMAPro/build.sh
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/WebBrowserActivity.java
  android/KMEA/app/build.gradle
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudCatalogDownloadTask.java
  android/KMEA/build.sh
  android/history.md
Labels: android, bug, ci

#2275 feat(android): Feature/keyboard download manager
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardPickerAdapter.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguagesSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudApiTypes.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudCatalogDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudDataJsonUtil.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudDownloadMgr.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudKeyboardDataDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudKeyboardDownloadReturns.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudKeyboardMetaDataDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudLexicalPackageDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/ICloudDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/Keyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
  android/KMEA/app/src/main/res/values/strings.xml
  android/history.md
Labels: android, enhancement

#2306 fix(ios): System keyboard popup-key positioning confinement
  ios/engine/KMEI/KeymanEngine/Classes/SubKeysView.swift
Labels: bug, ios

#2301 fix(ios): Fixes bad initialization of system keyboard width
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
Labels: bug, ios

#2277 [iOS] Basic dark mode implementation
  ios/keyman/Keyman/Keyman-Info.plist
  ios/keyman/Keyman/Keyman/GetStartedViewController/GetStartedViewController.swift
  ios/keyman/Keyman/Keyman/MainViewController.swift
Labels: enhancement, ios

#2316 fix(windows): Keyman was not working with Skype
  windows/src/engine/keyman/main.pas
Labels: bug, windows

#2308 Android cleanup downloadtasks
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ConfirmDialogFragment.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguagesSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/CloudApiTypes.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/CloudDataJsonUtil.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/CloudDownloadMgr.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/ICloudDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudCatalogDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudCatalogDownloadReturns.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudKeyboardDataDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudKeyboardDownloadReturns.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudKeyboardMetaDataDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudLexicalPackageDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudCatalogDownloadTask.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/JSONUtils.java
  android/history.md
Labels: android

#2290 chore(linux): Pass parameters in Jenkinsfile
  linux/Jenkinsfile
Labels: enhancement, linux

#2297 fix(windows): Keyman was crashing sporadically
  windows/src/engine/keyman/UfrmKeyman7Main.pas
  windows/src/engine/keyman/keyman.dpr
  windows/src/engine/keyman32/Keyman32.cpp
  windows/src/engine/keyman32/hookutils.cpp
  windows/src/engine/keyman32/hotkeys.cpp
  windows/src/engine/keyman32/hotkeys.h
  windows/src/engine/keyman32/k32_dbg.cpp
  windows/src/engine/keyman32/k32_globals.cpp
  windows/src/engine/keyman32/k32_lowlevelkeyboardhook.cpp
  windows/src/engine/keyman32/keyboardoptions.cpp
  windows/src/engine/keyman32/kmhook_callwndproc.cpp
  windows/src/engine/keyman32/serialkeyeventclient.cpp
  windows/src/global/delphi/general/klog.pas
  windows/src/global/inc/keyman64.h
Labels: bug, windows

#2320 chore(linux): Update dependencies for Linux packaging
  linux/build/agent/dependencies.config
Labels: enhancement, linux

#2321 chore(linux): Allow to skip calculation of version number
  linux/scripts/reconf.sh
Labels: ci, enhancement, linux

#2325 fix(linux): Fix Linux package build
  linux/scripts/reconf.sh
Labels: linux

#2313 feat[android]: Show progress to wait for catalog update
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudCatalogDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
  android/KMEA/app/src/main/res/layout/activity_list_with_progress_layout.xml
  android/KMEA/app/src/main/res/layout/progress_layout.xml
  android/KMEA/app/src/main/res/values/strings.xml
  android/history.md
Labels: android, bug

#2284 cherry(web): Bounds-check on context deletion from keyboard rules
  web/source/dom/contentEditable.ts
  web/source/dom/designIFrame.ts
  web/source/dom/input.ts
  web/source/dom/textarea.ts
  web/source/dom/touchAlias.ts
  web/source/text/kbdInterface.ts
  web/source/text/outputTarget.ts
  web/unit_tests/cases/element_interfaces.js
Labels: bug, cherry-pick, web

#2283 cherry(web): iOS-Safari user agent spoof detection
  web/source/kmwdevice.ts
  web/source/utils/version.ts
Labels: bug, cherry-pick, web

#2288 cherry(web): Fixes mnemonic code handling issues
  web/source/text/processor.ts
Labels: bug, cherry-pick, web

#2324 fix(windows): Keyman crash and interop with Metro-style apps 🍒
  windows/src/desktop/history.md
  windows/src/engine/keyman/UfrmKeyman7Main.pas
  windows/src/engine/keyman/keyman.dpr
  windows/src/engine/keyman/main.pas
  windows/src/engine/keyman32/Keyman32.cpp
  windows/src/engine/keyman32/hookutils.cpp
  windows/src/engine/keyman32/hotkeys.cpp
  windows/src/engine/keyman32/hotkeys.h
  windows/src/engine/keyman32/k32_dbg.cpp
  windows/src/engine/keyman32/k32_globals.cpp
  windows/src/engine/keyman32/k32_lowlevelkeyboardhook.cpp
  windows/src/engine/keyman32/keyboardoptions.cpp
  windows/src/engine/keyman32/kmhook_callwndproc.cpp
  windows/src/engine/keyman32/serialkeyeventclient.cpp
  windows/src/global/delphi/general/klog.pas
  windows/src/global/inc/keyman64.h
Labels: bug, cherry-pick, stable, windows

#2318 fix(ios): Fixes bad initialization of system keyboard width
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/history.md
Labels: cherry-pick, ios, stable

#2317 fix(ios): System keyboard popup-key positioning confinement 🍒
  ios/engine/KMEI/KeymanEngine/Classes/SubKeysView.swift
Labels: cherry-pick, ios, stable

#2319 fix(android): Sanitize version for API query
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
  android/history.md
Labels: android, bug

#2327 chore(common): Add .editorconfig file
  .editorconfig
  linux/scripts/.editorconfig
  linux/scripts/reconf.sh
Labels: linux

#2329 chore(web): history
  web/history.md
Labels: modification, web

#2331 fix(windows): focus is incorrect for CEF
  windows/src/developer/TIKE/main/Keyman.Developer.UI.UframeCEFHost.dfm
  windows/src/developer/TIKE/main/Keyman.Developer.UI.UframeCEFHost.pas
  windows/src/developer/TIKE/main/UframeTextEditor.pas
Labels: bug, developer

#2330 fix(windows): OSK restores to wrong monitor
  windows/src/engine/keyman/viskbd/UfrmVisualKeyboard.pas
Labels: bug, windows

#2342 chore: history.md 🍒🍒
  windows/src/desktop/history.md
  windows/src/developer/history.md
Labels: developer, windows

#2341 fix(windows): OSK restores to wrong monitor 🍒
  windows/src/desktop/history.md
  windows/src/engine/keyman/viskbd/UfrmVisualKeyboard.pas
Labels: bug, cherry-pick, stable, windows

#2340 fix(windows): focus is incorrect for CEF 🍒
  windows/src/developer/TIKE/main/Keyman.Developer.UI.UframeCEFHost.dfm
  windows/src/developer/TIKE/main/Keyman.Developer.UI.UframeCEFHost.pas
  windows/src/developer/TIKE/main/UframeTextEditor.pas
  windows/src/developer/history.md
Labels: bug, cherry-pick, developer, stable

#2334 fix(developer): keyboard_info merge mobile wrong
  windows/src/developer/TIKE/compile/MergeKeyboardInfo.pas
Labels: bug, developer, developer-compiler

#2343 fix(developer): keyboard_info merge mobile wrong 🍒
  windows/src/developer/TIKE/compile/MergeKeyboardInfo.pas
  windows/src/developer/history.md
Labels: bug, cherry-pick, developer, developer-compiler, stable

#2354 [Web] Toolchain update + dev-resource compilation fix
  web/package-lock.json
  web/package.json
  web/source/kmwdevice.ts
  web/source/kmwexthtml.ts
  web/source/osk/visualKeyboard.ts
  web/source/utils/version.ts
Labels: bug, compatibility, web

#2353 fix(web): displayUnderlying flag was ignored
  web/source/osk/visualKeyboard.ts
Labels: bug, web

#2361 fix[android]: change xmx for gradle daemons to 1GB
  android/KMAPro/gradle.properties
  android/KMEA/gradle.properties
  android/history.md
Labels: android, ci

#2335 feat[android]: Update catalog and check for keyboard updates on startup
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/res/drawable-hdpi/ic_cloud_download.png
  android/KMAPro/kMAPro/src/main/res/drawable-mdpi/ic_cloud_download.png
  android/KMAPro/kMAPro/src/main/res/drawable-xhdpi/ic_cloud_download.png
  android/KMAPro/kMAPro/src/main/res/drawable-xxhdpi/ic_cloud_download.png
  android/KMAPro/kMAPro/src/main/res/drawable/shape_update_count.xml
  android/KMAPro/kMAPro/src/main/res/layout/update_count_view.xml
  android/KMAPro/kMAPro/src/main/res/menu-land/main.xml
  android/KMAPro/kMAPro/src/main/res/menu-sw600dp/main.xml
  android/KMAPro/kMAPro/src/main/res/menu/main.xml
  android/KMAPro/kMAPro/src/main/res/menu/overflow_menu.xml
  android/KMAPro/kMAPro/src/main/res/values-land/dimens.xml
  android/KMAPro/kMAPro/src/main/res/values-sw600dp/dimens.xml
  android/KMAPro/kMAPro/src/main/res/values-sw720dp/dimens.xml
  android/KMAPro/kMAPro/src/main/res/values/dimens.xml
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ConfirmDialogFragment.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguagesSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/CloudDataJsonUtil.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudCatalogDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/logic/ResourcesUpdateTool.java
  android/KMEA/app/src/main/res/drawable/ic_keyboard.png
  android/KMEA/app/src/main/res/values/strings.xml
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/logic/ResourcesUpdateToolTest.java
  android/history.md
Labels: android, enhancement

#2326 feat[android]: Create simple UI test for android app
  android/KMEA/app/build.gradle
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/FileUtils.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/FileUtilsTest.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/view/FunctionalTestHelper.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/view/KeyboardPickerTest.java
  android/history.md
Labels: android, enhancement

#2365 fix(android): Grant WRITE_EXTERNAL_STORAGE permission
  android/KMEA/app/src/main/AndroidManifest.xml
  android/history.md
Labels: android, bug

#2360 feat(windows): left-only hotkeys
  windows/src/engine/keyman/UfrmKeyman7Main.pas
  windows/src/engine/keyman32/appint/aiTIP.cpp
  windows/src/engine/keyman32/globals.h
  windows/src/engine/keyman32/hotkeys.h
  windows/src/engine/keyman32/k32_lowlevelkeyboardhook.cpp
  windows/src/engine/keyman32/keybd_shift.cpp
  windows/src/engine/keyman32/kmhook_callwndproc.cpp
  windows/src/engine/keyman32/kmhook_keyboard.cpp
  windows/src/engine/keyman32/selectkeyboard.cpp
  windows/src/engine/keyman32/serialkeyeventserver.cpp
  windows/src/global/delphi/general/DebugPaths.pas
  windows/src/global/delphi/general/KeymanControlMessages.pas
  windows/src/global/delphi/general/RegistryKeys.pas
  windows/src/global/inc/keyman64.h
  windows/src/global/inc/keymancontrol.h
  windows/src/global/inc/registry.h
Labels: enhancement, windows

#2363 fix(android): Update build dependencies for Sample and Test projects
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample1/build.gradle
  android/Samples/KMSample1/gradle.properties
  android/Samples/KMSample1/gradle/wrapper/gradle-wrapper.properties
  android/Samples/KMSample2/app/build.gradle
  android/Samples/KMSample2/build.gradle
  android/Samples/KMSample2/gradle.properties
  android/Samples/KMSample2/gradle/wrapper/gradle-wrapper.properties
  android/Tests/KeyboardHarness/app/build.gradle
  android/Tests/KeyboardHarness/build.gradle
  android/Tests/KeyboardHarness/gradle.properties
  android/Tests/KeyboardHarness/gradle/wrapper/gradle-wrapper.properties
  android/Tests/keycode/app/build.gradle
  android/Tests/keycode/build.gradle
  android/Tests/keycode/gradle.properties
  android/Tests/keycode/gradle/wrapper/gradle-wrapper.properties
  oem/firstvoices/android/app/build.gradle
  oem/firstvoices/android/build.gradle
  oem/firstvoices/android/gradle.properties
  oem/firstvoices/android/gradle/wrapper/gradle-wrapper.properties
Labels: android, ci

#2369 fix(android): Update KMSample1 project to include Tamil dictionary
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/Samples/KMSample1/app/src/main/assets/models/example.ta.wordlist/example.ta.wordlist.model.js
  android/Samples/KMSample1/app/src/main/assets/models/example.ta.wordlist/kmp.json
  android/Samples/KMSample1/app/src/main/java/com/keyman/kmsample1/MainActivity.java
  android/history.md
Labels: android, enhancement

#2281 [Android] Workaround to fix left deletions
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/CharSequenceUtil.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/CharSequenceUtilTest.java
  android/history.md
Labels: android, bug, stable

#2372 change(web): Updates unit test browser targets for CI
  web/unit_tests/CI.conf.js
Labels: cherry-pick, ci, stable, web

#2371 change(web): Updates unit test browser targets for CI
  web/unit_tests/CI.conf.js
Labels: ci, web

#2376 fix(android): Fix left-deletions
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/CharSequenceUtil.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/CharSequenceUtilTest.java
  android/history.md
Labels: android, bug, cherry-pick

#2355 fix(web): displayUnderlying flag was ignored 🍒
  web/history.md
  web/source/osk/visualKeyboard.ts
Labels: bug, cherry-pick, stable, web

#2364 [Web] Toolchain update (cherrypick)
  web/package-lock.json
  web/package.json
  web/source/kmwdevice.ts
  web/source/kmwexthtml.ts
  web/source/osk/visualKeyboard.ts
  web/source/utils/version.ts
Labels: bug, cherry-pick, compatibility, stable, web

#2368 fix(ios): Crash prevention for (some) malformed language data from API
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/APIKeyboardRepository.swift
Labels: bug, ios

#2377 [Android] Check getTextBeforeCursor() doesn't return null
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/history.md
Labels: android, bug, stable

#2378 [Android] Fix a few CloudRepository issues
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/JSONUtils.java
  android/history.md
Labels: android, bug, stable

#2382 [Android][Cherrypick] Check getTextBeforeCursor() doesn't return null
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/history.md
Labels: android, bug, cherry-pick

#2358 [Android] ES6 & API 19-23 compatibility changes
  android/KMEA/app/src/main/assets/keyboard.html
  common/predictive-text/index.ts
  common/predictive-text/message.d.ts
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  common/predictive-text/promise-store.ts
  common/predictive-text/worker/index.ts
  web/bulk_rendering/renderer_core.ts
  web/package-lock.json
  web/package.json
  web/source/build.sh
  web/source/dom/utils.ts
  web/source/kmwbase.ts
Labels: android, bug, compatibility, work-in-progress

#2383 cherry(web): macOS Firefox detection/fire + test stability
  web/source/kmwdevice.ts
  web/unit_tests/CI.conf.js
  web/unit_tests/base.conf.js
  web/unit_tests/cases/attachmentAPI.js
  web/unit_tests/cases/basics.js
  web/unit_tests/cases/element_interfaces.js
  web/unit_tests/cases/touch_aliases.js
  web/unit_tests/test.sh
  web/unit_tests/test_init_check.js
  web/unit_tests/test_utils.js
Labels: bug, cherry-pick, web

#2381 fix(web): macOS Firefox detection/fire + test stability
  web/source/kmwdevice.ts
  web/unit_tests/CI.conf.js
  web/unit_tests/base.conf.js
  web/unit_tests/cases/attachmentAPI.js
  web/unit_tests/cases/basics.js
  web/unit_tests/cases/element_interfaces.js
  web/unit_tests/cases/touch_aliases.js
  web/unit_tests/test.sh
  web/unit_tests/test_init_check.js
  web/unit_tests/test_utils.js
Labels: bug, web

#2388 fix(developer): check if author email exists
  developer/js/source/model-info-compiler/model-info-compiler.ts
Labels: developer, developer-compiler, modification

#2385 [Android] Fix a few CloudRepository issues
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/CloudDataJsonUtil.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/JSONUtils.java
  android/history.md
Labels: android, bug, cherry-pick

#2393 fix(android): Add checks to avoid exceptions
  android/KMAPro/kMAPro/build.gradle
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/JSONParser.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/CloudDataJsonUtil.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/CloudDownloadMgr.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
  android/history.md
Labels: android, bug

#2392 [Developer] Enable stricter type checks
  developer/js/package-lock.json
  developer/js/package.json
  developer/js/source/jszip.d.ts
  developer/js/source/lexical-model-compiler/stub.ts
  developer/js/source/model-info-compiler/model-info-compiler.ts
  developer/js/source/package-compiler/kmp-compiler.ts
  developer/js/source/package-compiler/kps-file.ts
  developer/js/source/util/util.ts
  developer/js/tsconfig.json
Labels: developer, developer-compiler, modification
