Repository keymanapp/keyman, pull requests merged in 2019-05, with the labels that each got.

#1752 [LMLayer-CLI] Fix argument parsing bug.
  common/test/predictive-text/index.js
Labels: enhancement, lm-layer

#1747 [Web] Predictive text UX improvements
  web/source/kmwdomevents.ts
  web/source/osk/banner.ts
  web/source/osk/bannerManager.ts
  web/source/text/kbdInterface.ts
  web/source/text/outputTarget.ts
  web/source/text/prediction/modelManager.ts
  web/source/text/processor.ts
  web/testing/prediction-ui/index.html
Labels: enhancement, web

#1751 [Android] Add "Settings" menu
  android/KMAPro/kMAPro/build.gradle
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/GetStartedActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeymanSettingsActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeymanSettingsFragment.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/res/drawable-hdpi/ic_settings.png
  android/KMAPro/kMAPro/src/main/res/drawable-mdpi/ic_settings.png
  android/KMAPro/kMAPro/src/main/res/drawable-xhdpi/ic_settings.png
  android/KMAPro/kMAPro/src/main/res/drawable-xxhdpi/ic_settings.png
  android/KMAPro/kMAPro/src/main/res/drawable-xxxhdpi/ic_settings.png
  android/KMAPro/kMAPro/src/main/res/layout/get_started_list_layout.xml
  android/KMAPro/kMAPro/src/main/res/layout/keyman_settings_layout.xml
  android/KMAPro/kMAPro/src/main/res/layout/preference_icon_layout.xml
  android/KMAPro/kMAPro/src/main/res/menu-land/main.xml
  android/KMAPro/kMAPro/src/main/res/menu-sw600dp/main.xml
  android/KMAPro/kMAPro/src/main/res/menu/main.xml
  android/KMAPro/kMAPro/src/main/res/values-sw600dp/dimens.xml
  android/KMAPro/kMAPro/src/main/res/values-sw720dp-land/dimens.xml
  android/KMAPro/kMAPro/src/main/res/values-sw720dp/dimens.xml
  android/KMAPro/kMAPro/src/main/res/values-v21/styles.xml
  android/KMAPro/kMAPro/src/main/res/values/dimens.xml
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMAPro/kMAPro/src/main/res/values/styles.xml
  android/history.md
Labels: android, enhancement

#1758 [Web] Updates the simple-en-wordlist bootstrap lexical model.
  web/testing/prediction-ui/simple-en-wordlist.js
Labels: web

#1703 [iOS] Banner replacement
  ios/engine/KMEI/KeymanEngine/Classes/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyPreviewView.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardMenuView.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/SubKeysView.swift
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/keyboard.html
  ios/keyman/Keyman/SWKeyboard/KeyboardViewController.swift
  web/source/kmwembedded.ts
  web/source/osk/banner.ts
  web/source/osk/bannerManager.ts
  web/source/resources/osk/kmwosk.css
Labels: enhancement, ios, web

#1755 [LMLayer] Word breaking
  common/predictive-text/unit_tests/headless/ascii-word-breaker.js
  common/predictive-text/worker/defaultWordBreaker.ts
  common/predictive-text/worker/index.ts
  common/predictive-text/worker/models/trie-model.ts
  common/predictive-text/worker/models/wordlist-model.ts
  common/predictive-text/worker/word_breaking/ascii-word-breaker.ts
  common/predictive-text/worker/word_breaking/placeholder-word-breaker.ts
  common/predictive-text/worker/worker-interfaces.ts
Labels: enhancement, lm-layer

#1737 [iOS] Linking of installed lexical models with embedded KMW
  ios/engine/KMEI/KeymanEngine/Classes/Extension/UserDefaults+Types.swift
  ios/engine/KMEI/KeymanEngine/Classes/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LexicalModelPickerViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
Labels: enhancement, ios

#1766 [Developer] Move lexical model compiler to Keyman repo
  developer/README.md
  developer/js/.gitignore
  developer/js/index.ts
  developer/js/lexical-model-compiler/build-trie.ts
  developer/js/lexical-model-compiler/lexical-model.ts
  developer/js/lexical-model-compiler/model-info-file.ts
  developer/js/lexical-model-compiler/stub.ts
  developer/js/package-compiler/kmp-compiler.ts
  developer/js/package-compiler/kmp-json-file.ts
  developer/js/package-compiler/kps-file.ts
  developer/js/package-lock.json
  developer/js/package.json
  developer/js/tsconfig.json
Labels: developer, developer-compiler, enhancement

#1765 [Web, Android, iOS] Null suggestion banner bug
  web/source/osk/banner.ts
  web/source/text/prediction/modelManager.ts
Labels: android, bug, ios, web

#1760 [Android] Add "Languages Settings" menu
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeymanSettingsFragment.java
  android/KMEA/app/src/main/AndroidManifest.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguagesSettingsActivity.java
  android/KMEA/app/src/main/res/layout/keyboard_picker_list_layout.xml
  android/KMEA/app/src/main/res/layout/keyboard_picker_toolbar.xml
  android/KMEA/app/src/main/res/layout/languages_settings_list_layout.xml
  android/KMEA/app/src/main/res/layout/list_toolbar.xml
  android/KMEA/app/src/main/res/values/strings.xml
Labels: android, enhancement

#1768 [Android] Add stubs to "models picker" and "model info" menu
  android/KMEA/app/src/main/AndroidManifest.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelsPickerActivity.java
  android/KMEA/app/src/main/res/layout/models_list_row_layout.xml
  android/KMEA/app/src/main/res/values/strings.xml
Labels: android, enhancement

#1772 [Android] Insert more places for lexical models to be registered
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
Labels: android, enhancement

#1764 [iOS] Fixes issues with context reset ops.
  ios/engine/KMEI/KeymanEngine/Classes/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/TextField.swift
  ios/engine/KMEI/KeymanEngine/Classes/TextView.swift
Labels: bug, ios

#1773 [Web, iOS, Android] Base for predictive text longpress
  android/KMEA/app/src/main/assets/keyboard.html
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/JSONParser.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardCommandStructs.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/keyboard.html
  web/source/kmwembedded.ts
  web/source/osk/banner.ts
Labels: android, enhancement, ios, web

#1757 [iOS 11.0] Patches issue with LTR/RTL codepoints in context.
  ios/engine/KMEI/KeymanEngine/Classes/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/TextField.swift
  ios/engine/KMEI/KeymanEngine/Classes/TextView.swift
  ios/history.md
Labels: bug, ios

#1756 [iOS] Filters out prefixed LTR/RTL marks from context.
  ios/engine/KMEI/KeymanEngine/Classes/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/TextField.swift
  ios/engine/KMEI/KeymanEngine/Classes/TextView.swift
Labels: bug, ios

#1776 [Web] Support for 'rotation' of predictive suggestions
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  common/predictive-text/worker/models/trie-model.ts
  common/predictive-text/worker/models/wordlist-model.ts
  ios/.gitignore
  ios/build.sh
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Storage.swift
  web/source/build.sh
  web/source/kmwdomevents.ts
  web/source/kmwembedded.ts
  web/source/osk/banner.ts
  web/source/text/prediction/modelManager.ts
Labels: enhancement, web

#1781 [Web] Model Deregistration
  web/source/osk/bannerManager.ts
  web/source/text/prediction/modelManager.ts
Labels: android, enhancement, web

#1783 [Android] Fix exception when setting banner height 0
  android/KMEA/app/src/main/assets/keyboard.html
Labels: android, bug

#1778 [Web] Fat-finger detection + probability generation
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/res/layout/predictive_submenu.xml
  web/source/dom/utils.ts
  web/source/kmwdevice.ts
  web/source/kmwembedded.ts
  web/source/kmwnative.ts
  web/source/osk/activeLayout.ts
  web/source/osk/visualKeyboard.ts
Labels: enhancement, web

#1792 [Web] Disables the LMLayer when IE active and < 11.
  web/source/text/prediction/modelManager.ts
Labels: bug, web

#1784 [LMLayer] Add default Unicode Word Breaking
  common/predictive-text/unit_tests/headless/default-word-breaker.js
  common/predictive-text/worker/word_breaking/default-word-breaking/data.ts
  common/predictive-text/worker/word_breaking/default-word-breaking/index.ts
  developer/js/lexical-model-compiler/lexical-model.ts
Labels: enhancement, lm-layer

#1787 [LMLayer] Pass searchTermToKey function to Trie model
  common/predictive-text/unit_tests/headless/worker-predict-trie.js
  common/predictive-text/worker/models/trie-model.ts
  developer/js/index.ts
  developer/js/lexical-model-compiler/build-trie.ts
  developer/js/lexical-model-compiler/lexical-model.ts
Labels: lm-layer

#1795 [LMLayer] Deselect suggestions when one is selected.
  common/test/predictive-text/index.js
  common/test/predictive-text/package-lock.json
Labels: lm-layer

#1799 [Developer] Lexical model compiler should validate model ids found in packages while building
  developer/js/index.ts
Labels: bug, developer, developer-compiler

#1798 [developer] Lexical model compiler was not flattening languages arrays for .model_info file
  developer/js/index.ts
Labels: bug, developer, developer-compiler

#1800 [LMLayer, Android] Adds workaround for Android duplicate load msg bug.
  common/predictive-text/worker/index.ts
  web/testing/prediction-ui/index.html
Labels: android, bug, lm-layer

#1794 [Android] Download lexical models via menu
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/AndroidManifest.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ConfirmDialogFragment.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelsPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/JSONUtils.java
  android/KMEA/app/src/main/res/values/strings.xml
Labels: android, enhancement

#1803 [LMLayer] The ModelCompositor
  common/predictive-text/index.ts
  common/predictive-text/message.d.ts
  common/predictive-text/unit_tests/headless/worker-predict-dummy.js
  common/predictive-text/unit_tests/headless/worker-predict-trie.js
  common/predictive-text/unit_tests/headless/worker-predict-wordlist.js
  common/predictive-text/worker/index.ts
  common/predictive-text/worker/model-compositor.ts
  common/predictive-text/worker/models/dummy-model.ts
  common/predictive-text/worker/models/trie-model.ts
  common/predictive-text/worker/models/wordlist-model.ts
  common/predictive-text/worker/worker-interfaces.ts
  web/source/text/outputTarget.ts
  web/source/text/prediction/modelManager.ts
  web/source/text/processor.ts
Labels: enhancement, lm-layer

#1802 [Web] Fat-finger language modeling
  common/predictive-text/index.ts
  common/predictive-text/message.d.ts
  common/predictive-text/unit_tests/headless/worker-predict-dummy.js
  common/predictive-text/unit_tests/headless/worker-predict-trie.js
  common/predictive-text/unit_tests/headless/worker-predict-wordlist.js
  common/predictive-text/worker/index.ts
  common/predictive-text/worker/model-compositor.ts
  common/predictive-text/worker/models/dummy-model.ts
  common/predictive-text/worker/models/trie-model.ts
  common/predictive-text/worker/models/wordlist-model.ts
  common/predictive-text/worker/worker-interfaces.ts
  web/source/osk/activeLayout.ts
  web/source/osk/defaultLayouts.ts
  web/source/osk/visualKeyboard.ts
  web/source/text/keyEvent.ts
  web/source/text/outputTarget.ts
  web/source/text/prediction/modelManager.ts
  web/source/text/processor.ts
  web/unit_tests/cases/transcriptions.js
Labels: enhancement, lm-layer, web
