Repository keymanapp/keyman, pull requests merged in 2019-10, with the labels that each got.

#2151 [Web] Fixes setLastActiveElement for touch form factors
  web/history.md
  web/source/kmwdom.ts
  web/source/kmwdomevents.ts
Labels: bug, web

#2153 [Windows] Prevent crashes when debug log cannot start; add extra logging.
  windows/src/desktop/history.md
  windows/src/engine/keyman32/Keyman32.cpp
  windows/src/engine/kmcomapi/util/utilkeymancontrol.pas
  windows/src/engine/kmtip/kmkey.cpp
  windows/src/global/delphi/debug/Keyman.System.DebugLogManager.pas
Labels: bug, windows

#2154 [Windows] history.md tweak 12.0.42
  windows/src/desktop/history.md
Labels: modification, windows

#2157 [Windows] Change destruction order for Keyman to avoid error reloading.
  windows/src/engine/keyman/main.pas
  windows/src/engine/kmcomapi/util/keymanautoobject.pas
Labels: bug, windows

#2158 [Windows] history.md
  windows/src/desktop/history.md
Labels: modification, windows

#2161 [LMLayer] Fix linking step
  common/predictive-text/build.sh
  developer/js/build.sh
  windows/src/test/unit-tests/Makefile
Labels: developer, lm-layer, modification, web

#2164 [Developer] Remove model version from package metadata.
  developer/js/source/package-compiler/kmp-compiler.ts
  developer/js/source/package-compiler/kmp-json-file.ts
  developer/js/source/package-compiler/kps-file.ts
  developer/js/tests/fixtures/example.qaa.sencoten/example.qaa.sencoten.model.kmp.json
  windows/src/developer/TIKE/child/UfrmPackageEditor.dfm
  windows/src/developer/TIKE/child/UfrmPackageEditor.pas
  windows/src/developer/history.md
  windows/src/developer/kmconvert/Keyman.Developer.System.ModelProjectTemplate.pas
  windows/src/global/delphi/general/CompilePackage.pas
  windows/src/global/delphi/general/PackageInfo.pas
  windows/src/global/delphi/packages/Keyman.System.PackageInfoRefreshLexicalModels.pas
Labels: developer, developer-compiler, modification

#2163 [Developer] Dropping character from Character Map onto Touch Layout Editor now saves the change.
  windows/src/developer/TIKE/xml/layoutbuilder/builder.js
Labels: bug, developer

#2167 [Android] Add wrappers to missing API methods
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/history.md
Labels: android, bug, compatibility

#2165 [iOS] KMEI: Reinstates pre-refactor API endpoints w helpers
  ios/engine/KMEI/KeymanEngine/Classes/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/LanguageResource.swift
Labels: compatibility, ios

#2170 [Developer] Make default padding in touch layout editor match default padding in KeymanWeb.
  windows/src/developer/TIKE/xml/layoutbuilder/builder.css
  windows/src/developer/TIKE/xml/layoutbuilder/builder.js
  windows/src/developer/history.md
Labels: bug, developer

#2169 [Web] Refactor magic values for key width, padding and margin into constants, and reduce over-enthusiastic rounding efforts
  web/source/osk/activeLayout.ts
  web/source/osk/visualKeyboard.ts
Labels: modification, web

#2172 [Web] Blocks fat-finger calculations from changing OSK layers
  web/history.md
  web/source/text/kbdInterface.ts
Labels: bug, web

#2178 [Developer] Document @keymanapp/lexical-model-types
  common/lexical-model-types/README.md
Labels: developer, enhancement, lm-layer

#2179 [Developer] Make lexical-model-compiler README slightly more user-centric.
  developer/js/README.md
Labels: developer, developer-compiler, enhancement

#2180 P7S8 final cherry-pick to master
  common/lexical-model-types/README.md
Labels: cherry-pick, web

#2181 Add history.md 12.0 stable entries
  android/history.md
  ios/history.md
  linux/history.md
  mac/history.md
  web/history.md
  windows/src/desktop/history.md
  windows/src/developer/history.md
Labels: modification

#2188 [Linux] Change watch to only follow stable
  linux/history.md
  linux/ibus-keyman/debian/watch
  linux/ibus-kmfl/debian/watch
  linux/keyman-config/debian/watch
  linux/kmflcomp/debian/watch
  linux/libkmfl/debian/watch
Labels: linux, stable

#2193 [iOS] Model installation - use of package version (12.0 stable)
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/history.md
Labels: bug, cherry-pick, ios

#2191 [iOS] Model installation - use of package version
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
Labels: bug, ios

#2195 [Android] Use lexical model package version for lexical model version
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/LexicalModelPackageProcessor.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/LexicalModelPackageProcessorTest.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/PackageProcessorTest.java
  android/history.md
Labels: android, bug

#2187 [Web] Updates notifyKeyboard and uses of KNS
  web/source/kmwdomevents.ts
  web/source/kmwkeyboards.ts
  web/source/text/kbdInterface.ts
  web/source/text/processor.ts
Labels: bug, web

#2194 [Web] Updates notifyKeyboard and uses of KNS (12.0 stable)
  web/history.md
  web/source/kmwdomevents.ts
  web/source/kmwkeyboards.ts
  web/source/text/kbdInterface.ts
  web/source/text/processor.ts
Labels: bug, cherry-pick, web

#2189 [Developer] Fix netbios reference when retrieving list of addresses
  windows/src/developer/TIKE/web/UmodWebHttpServer.pas
Labels: bug, developer

#2196 [Android] Use package version for lexical model version
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/LexicalModelPackageProcessor.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/LexicalModelPackageProcessorTest.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/PackageProcessorTest.java
  android/history.md
Labels: android, bug, cherry-pick

#2203 [Android] If analytics is disabled, the app may crash.
  README.md
  android/.gitignore
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
Labels: android, bug

#2204 [Android] If analytics is disabled, the app may crash.
  README.md
  android/.gitignore
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/history.md
Labels: android, bug, cherry-pick

#2205 [Android] One more check in another file for analytics
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
Labels: android, bug

#2213 [Windows] Upgrades from 11.0 and 12.0 were losing installed keyboards and settings.
  windows/src/desktop/inst/keymandesktop.wxs
  windows/src/desktop/setup/RunTools.pas
Labels: bug, windows

#2214 [Windows] [12.0] Upgrades from 11.0 and 12.0 were losing installed keyboards and settings.
  windows/src/desktop/history.md
  windows/src/desktop/inst/keymandesktop.wxs
  windows/src/desktop/setup/RunTools.pas
Labels: bug, cherry-pick, windows

#2253 chore: Add Conventional commits Git message hook
  configure-repo.sh
  resources/git-hooks/commit-msg
Labels: common, modification

#2244 [Windows] Update build scripts, compiler conditionals, and address hints arising with move to Delphi 10.3.2
  windows/src/Defines.mak
  windows/src/README.md
  windows/src/buildtools/delphiprojectmanager/Makefile
  windows/src/buildtools/devtools/DevDelphiCompileWrapper.pas
  windows/src/buildtools/devtools/DevDelphiStarterCompileWrapper.pas
  windows/src/buildtools/devtools/DevIncludePaths.pas
  windows/src/buildtools/devtools/DevInstallPackages.pas
  windows/src/buildtools/devtools/Makefile
  windows/src/buildtools/devtools/UfrmCompilerErrors.pas
  windows/src/buildtools/mkver/Makefile
  windows/src/buildtools/msbuild-wrapper.bat
  windows/src/developer/TIKE/compile/MergeKeyboardInfo.pas
  windows/src/developer/TIKE/compile/ValidateKeyboardInfo.pas
  windows/src/ext/mbcolor/mxs.inc
  windows/src/global/delphi/comp/FixedTrackbar.pas
  windows/src/global/delphi/general/JsonUtil.pas
  windows/src/global/delphi/general/Keyman.System.RegExGroupHelperRSP19902.pas
  windows/src/global/delphi/general/Keyman.System.UpdateCheckResponse.pas
  windows/src/global/delphi/general/kpsfile.pas
  windows/src/test/unit-tests/group-helper-rsp19902/Keyman.Test.RegExGroupHelperRSP19902Test.pas
Labels: modification, windows

#2262 fix: commit-msg requires bash and +x
  resources/git-hooks/commit-msg
Labels: common

#2263 chore(linux): Add Jenkinsfile for package building
  linux/Jenkinsfile
Labels: ci, linux

#2255 fix: Temporarily disable dictionary when entering password field
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMEA/app/src/main/assets/keyboard.html
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/history.md
Labels: android, bug, stable
