Repository keymanapp/keyman, pull requests merged in 2019-01, with the labels that each got.

#1462 11.0 beta history seed
  android/history.md
  ios/history.md
  linux/VERSION
  linux/history.md
  mac/history.md
  resources/historyUtils.sh
  resources/shellHelperFunctions.sh
  resources/validateAllHistory.sh
  web/history.md
  windows/src/desktop/history.md
  windows/src/developer/history.md
Labels: staging

#1452 [Web] Publishes the alignInputs() function as API for touch-alias correction.
  web/history.md
  web/source/kmwbase.ts
  web/source/kmwembedded.ts
  web/source/kmwnative.ts
  web/source/kmwosk.ts
  web/source/kmwrotation.ts
Labels: enhancement, web

#1463 [Web] alignInputs() API cherry-pick
  web/history.md
  web/source/kmwbase.ts
  web/source/kmwembedded.ts
  web/source/kmwnative.ts
  web/source/kmwosk.ts
  web/source/kmwrotation.ts
Labels: cherry-pick, enhancement, web

#1467 [linux] add missing files get_info and ibus_util
  linux/Makefile
  linux/keyman-config/Makefile
  linux/keyman-config/keyman_config/get_info.py
  linux/keyman-config/keyman_config/ibus_util.py
  linux/scripts/reconf.sh
Labels: bug, linux

#1465 [Web] Fixes mobile form-factor layer update logic.
  web/history.md
  web/source/kmwosk.ts
Labels: bug, web

#1466 [Web] Cherry-picks OSK layer logic fix
  web/source/kmwosk.ts
Labels: bug, cherry-pick, web

#1474 [web] Fix default mapping of external keyboard keys for "tab" and "backspace" in mobile apps
  android/history.md
  web/history.md
  web/source/kmwembedded.ts
Labels: bug, web

#1468 [linux] auto restart IBus when apt and kbp versioning
  common/engine/keyboardprocessor/debian/watch
  common/engine/keyboardprocessor/include/keyman/meson.build
  common/engine/keyboardprocessor/meson.build
  common/engine/keyboardprocessor/src/meson.build
  linux/VERSION
  linux/ibus-keyman/debian/postinst
  linux/ibus-keyman/debian/postrm
  linux/ibus-keyman/debian/watch
  linux/ibus-kmfl/debian/watch
  linux/keyman-config/debian/watch
  linux/kmflcomp/debian/watch
  linux/libkmfl/debian/watch
  linux/scripts/dist.sh
  linux/scripts/launchpad.sh
  linux/scripts/reconf.sh
  linux/scripts/version.sh
Labels: linux

#1461 [meta] Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: enhancement

#1471 [meta] Merge history from beta 11 to alpha 12
  android/history.md
  ios/history.md
  linux/history.md
  mac/history.md
  resources/historyUtils.sh
  resources/shellHelperFunctions.sh
  resources/validateAllHistory.sh
  web/history.md
  windows/src/desktop/history.md
  windows/src/developer/history.md
Labels: cherry-pick, enhancement

#1475 [iOS] System keyboard launching efficiency
  ios/Cartfile.resolved
  ios/engine/KMEI/KeymanEngine/Classes/Constants.swift
  ios/history.md
Labels: bug, ios

#1490 [linux] fix majorversion which broke download window
  linux/scripts/reconf.sh
Labels: bug, linux

#1477 [common][linux] keyboardprocessor on xenial
  common/engine/keyboardprocessor/tests/unit/kmx/meson.build
Labels: common, linux

#1482 [Developer] Tweak layout of Options dialog Editor tab
  windows/src/developer/TIKE/dialogs/UfrmOptions.dfm
  windows/src/developer/TIKE/dialogs/UfrmOptions.pas
  windows/src/developer/history.md
Labels: developer

#1481 [Developer] Remove legacy ethnologue data from character map database
  windows/src/developer/history.md
  windows/src/global/delphi/charmap/UnicodeData.pas
Labels: bug, developer

#1485 [Windows] If a language was dynamically loaded by Windows, then the hotkey entry is never assigned when a keyboard is installed
  windows/src/README.md
  windows/src/desktop/history.md
  windows/src/engine/kmcomapi/com/languages/keymanlanguages.pas
Labels: bug, windows

#1495 [Linux] km-config and .kmp icons
  linux/keyman-config/MANIFEST.in
  linux/keyman-config/debian/keyman.install
  linux/keyman-config/debian/keyman.sharedmimeinfo
  linux/keyman-config/icons/128/km-config.png
  linux/keyman-config/icons/16/application-x-kmp.png
  linux/keyman-config/icons/24/application-x-kmp.png
  linux/keyman-config/icons/24/km-config.png
  linux/keyman-config/icons/32/application-x-kmp.png
  linux/keyman-config/icons/32/km-config.png
  linux/keyman-config/icons/48/application-x-kmp.png
  linux/keyman-config/icons/48/km-config.png
  linux/keyman-config/icons/64/application-x-kmp.png
  linux/keyman-config/icons/64/km-config.png
Labels: enhancement, linux

#1497 [linux] remove debconf template not needed any more
  linux/keyman-config/debian/po/POTFILES.in
  linux/keyman-config/debian/po/templates.pot
  linux/keyman-config/debian/python3-keyman-config.config
  linux/keyman-config/debian/python3-keyman-config.install
  linux/keyman-config/debian/python3-keyman-config.postinst
  linux/keyman-config/debian/python3-keyman-config.templates
Labels: linux

#1498 [Developer] Ensure button enabled state is updated after compiling package
  windows/src/developer/TIKE/child/UfrmPackageEditor.pas
Labels: bug, developer

#1499 [Developer] Creating a new project doesn't open it automatically.
  windows/src/developer/TIKE/main/Keyman.Developer.UI.ImportWindowsKeyboardDialogManager.pas
  windows/src/developer/TIKE/main/UfrmMain.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewProject.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewProjectParameters.pas
  windows/src/developer/history.md
Labels: bug, developer

#1503 [Windows] Remove legacy API endpoints
  windows/src/desktop/history.md
  windows/src/engine/keyman32/K32_info.cpp
  windows/src/engine/keyman32/KEYMAN32.DEF
  windows/src/engine/keyman32/Keyman32.cpp
  windows/src/engine/keyman32/Keyman32.vcxproj
  windows/src/engine/keyman32/Keyman32.vcxproj.filters
  windows/src/engine/keyman32/globals.h
  windows/src/engine/keyman32/k32_globals.cpp
  windows/src/engine/keyman64/keyman64.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj.filters
  windows/src/engine/kmtip/inserttext.cpp
  windows/src/global/inc/Kl95api.h
  windows/src/global/inc/Km95api.h
  windows/src/global/inc/keyman64.h
  windows/src/global/inc/keymanapi.h
Labels: enhancement, windows

#1508 [Windows] kmshell now only checks for damaged profiles when starting Configuration or Keyman itself
  windows/src/desktop/history.md
  windows/src/desktop/kmshell/main/initprog.pas
Labels: bug, windows

#1496 [Web] OSK refactor - Touch's language menu
  web/source/kmwexthtml.ts
  web/source/kmwosk.ts
  web/source/kmwrotation.ts
  web/source/kmwutils.ts
  web/source/osk/languageMenu.ts
Labels: enhancement, web

#1493 [Web] OSK default layout refactor
  web/source/keymanweb.ts
  web/source/kmwbase.ts
  web/source/kmwexthtml.ts
  web/source/kmwlayout.ts
  web/source/kmwosk.ts
  web/source/kmwrotation.ts
  web/source/kmwutils.ts
  web/source/osk/defaultLayouts.ts
  web/source/osk/languageMenu.ts
  web/source/tsconfig.embedded.json
  web/source/tsconfig.web.json
Labels: enhancement, web

#1507 [Android] Improve font handling
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/FileUtils.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/FileUtilsTest.java
  android/history.md
Labels: android, bug

#1506 [Windows] Fix support for Caps Lock headers
  windows/src/desktop/history.md
  windows/src/engine/keyman32/appint/aiTIP.cpp
  windows/src/engine/keyman32/appint/aiWin2000Unicode.cpp
  windows/src/engine/keyman32/appint/aiWin2000Unicode.h
  windows/src/engine/keyman32/capsstate.cpp
  windows/src/engine/keyman32/keystate.cpp
  windows/src/engine/kmtip/keys.cpp
  windows/src/engine/kmtip/kmkey.cpp
  windows/src/engine/kmtip/kmtip.h
  windows/src/test/manual-tests/caps_lock_headers/HISTORY.md
  windows/src/test/manual-tests/caps_lock_headers/LICENSE.md
  windows/src/test/manual-tests/caps_lock_headers/README.md
  windows/src/test/manual-tests/caps_lock_headers/build/caps_lock_caps_always_off.kmx
  windows/src/test/manual-tests/caps_lock_headers/build/caps_lock_caps_always_off.kvk
  windows/src/test/manual-tests/caps_lock_headers/build/caps_lock_caps_on_only.kmx
  windows/src/test/manual-tests/caps_lock_headers/build/caps_lock_caps_on_only.kvk
  windows/src/test/manual-tests/caps_lock_headers/build/caps_lock_headers.kmp
  windows/src/test/manual-tests/caps_lock_headers/build/caps_lock_shift_frees_caps.kmp
  windows/src/test/manual-tests/caps_lock_headers/build/caps_lock_shift_frees_caps.kmx
  windows/src/test/manual-tests/caps_lock_headers/build/caps_lock_shift_frees_caps.kvk
  windows/src/test/manual-tests/caps_lock_headers/caps_lock_headers.keyboard_info
  windows/src/test/manual-tests/caps_lock_headers/caps_lock_headers.kpj
  windows/src/test/manual-tests/caps_lock_headers/source/caps_lock_caps_always_off.kmn
  windows/src/test/manual-tests/caps_lock_headers/source/caps_lock_caps_always_off.kvks
  windows/src/test/manual-tests/caps_lock_headers/source/caps_lock_caps_on_only.kmn
  windows/src/test/manual-tests/caps_lock_headers/source/caps_lock_caps_on_only.kvks
  windows/src/test/manual-tests/caps_lock_headers/source/caps_lock_headers.kps
  windows/src/test/manual-tests/caps_lock_headers/source/caps_lock_shift_frees_caps.kmn
  windows/src/test/manual-tests/caps_lock_headers/source/caps_lock_shift_frees_caps.kvks
  windows/src/test/manual-tests/caps_lock_headers/source/readme.htm
  windows/src/test/manual-tests/caps_lock_headers/source/welcome.htm
Labels: bug, windows

#1505 [Windows] Switching between Keyman keyboards in same language using TSF interface could fail
  windows/src/engine/kmtip/keys.cpp
  windows/src/engine/kmtip/kmtip.h
Labels: bug, windows

#1518 [linux] build ibus-keyman on xenial
  linux/history.md
  linux/ibus-keyman/configure.ac
Labels: enhancement, linux

#1520 [Android] Change keyboard version comparison from Float to strings
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/FileUtils.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/FileUtilsTest.java
  android/history.md
Labels: bug

#1521 [linux] more on restarting ibus
  linux/history.md
  linux/ibus-keyman/debian/postinst
  linux/ibus-keyman/debian/postrm
Labels: linux

#1514 [Windows] [Stable-10.0] Back port of stability fixes for Keyman Desktop 10.0
  windows/src/desktop/history.md
  windows/src/desktop/kmshell/main/KeyboardTIPCheck.pas
  windows/src/desktop/kmshell/main/UImportOlderVersionSettings.pas
  windows/src/desktop/kmshell/main/UfrmMain.pas
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/desktop/setup/RunTools.pas
  windows/src/engine/kmcomapi/com/options/keymanoptions.pas
  windows/src/engine/kmcomapi/util/keymanerrorcodes.pas
  windows/src/engine/kmcomapi/util/utilkeymanoption.pas
  windows/src/engine/kmtip/keys.cpp
  windows/src/engine/kmtip/kmtip.h
  windows/src/global/delphi/general/UCreateProcessAsShellUser.pas
  windows/src/global/delphi/general/kmcomapi_errors.pas
Labels: bug, cherry-pick, stable, windows

#1526 [Android] dispatch external keys if KMW doesn't handle them
  android/KMEA/app/src/main/assets/keyboard.html
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMHardwareKeyboardInterpreter.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardJSHandler.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMScanCodeMap.java
  android/history.md
  web/source/kmwembedded.ts
Labels: android, bug

#1534 [Developer] Rename default to '(current layer)' to reduce ambiguity.
  windows/src/developer/TIKE/xml/layoutbuilder/builder.js
Labels: developer, modification

#1522 [LMLayer] Implement Dummy language model + refactorings
  common/predictive-text/docs/worker-communication-protocol.md
  common/predictive-text/index.ts
  common/predictive-text/message.d.ts
  common/predictive-text/promise-store.ts
  common/predictive-text/unit_tests/headless/promise-store.js
  common/predictive-text/unit_tests/headless/worker-initialization.js
  common/predictive-text/unit_tests/headless/worker-predict-dummy.js
  common/predictive-text/unit_tests/headless/worker-predict.js
  common/predictive-text/unit_tests/helpers.js
  common/predictive-text/unit_tests/in_browser/CI.conf.js
  common/predictive-text/unit_tests/in_browser/base.conf.js
  common/predictive-text/unit_tests/in_browser/cases/top-level-lmlayer.js
  common/predictive-text/unit_tests/in_browser/cases/worker-dummy-integration.js
  common/predictive-text/unit_tests/in_browser/json/future_suggestions/i_got_distracted_by_hazel.json
  common/predictive-text/unit_tests/test.sh
  common/predictive-text/worker/dummy-model.ts
  common/predictive-text/worker/index.ts
  common/predictive-text/worker/worker-interfaces.ts
Labels: lm-layer

#1539 [Web] [Developer] displayUnderlying flag is now separate for different platforms.
  web/source/kmwosk.ts
  windows/src/developer/TIKE/compile/CompileKeymanWeb.pas
  windows/src/developer/TIKE/oskbuilder/TouchLayout.pas
  windows/src/developer/TIKE/oskbuilder/TouchLayoutDefinitions.pas
  windows/src/developer/TIKE/oskbuilder/UframeTouchLayoutBuilder.pas
  windows/src/developer/TIKE/xml/layoutbuilder/builder.css
  windows/src/developer/TIKE/xml/layoutbuilder/builder.js
  windows/src/developer/TIKE/xml/layoutbuilder/builder.xsl
Labels: developer, enhancement, web

#1525 [Web] Keystroke processing refactor
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMModifierCodes.java
  android/Tests/KeyboardHarness/app/src/main/assets/cloud/chirality-1.0.js
  web/package-lock.json
  web/package.json
  web/source/kmwbase.ts
  web/source/kmwcallback.ts
  web/source/kmwdomevents.ts
  web/source/kmwembedded.ts
  web/source/kmwhotkeys.ts
  web/source/kmwkeyboards.ts
  web/source/kmwkeymaps.ts
  web/source/kmwtypedefs.ts
  web/source/osk/defaultLayouts.ts
  web/source/osk/oskManager.ts
  web/source/osk/visualKeyboard.ts
  web/source/recorder_ui_and_stubs.js
  web/source/text/codes.ts
  web/source/text/processor.ts
  web/testing/chirality/chirality.js
  web/unit_tests/resources/keyboards/khmer_angkor.js
  web/unit_tests/resources/keyboards/test_deadkeys.js
Labels: enhancement, web

#1524 [Web] Adds better typing for OSK keys, some related fixes.
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMModifierCodes.java
  android/Tests/KeyboardHarness/app/src/main/assets/cloud/chirality-1.0.js
  web/package-lock.json
  web/package.json
  web/source/kmwbase.ts
  web/source/kmwcallback.ts
  web/source/kmwdomevents.ts
  web/source/kmwembedded.ts
  web/source/kmwhotkeys.ts
  web/source/kmwkeyboards.ts
  web/source/kmwkeymaps.ts
  web/source/kmwnative.ts
  web/source/kmwtypedefs.ts
  web/source/osk/defaultLayouts.ts
  web/source/osk/languageMenu.ts
  web/source/osk/oskManager.ts
  web/source/osk/visualKeyboard.ts
  web/source/recorder_ui_and_stubs.js
  web/source/text/codes.ts
  web/source/text/processor.ts
  web/testing/chirality/chirality.js
  web/unit_tests/resources/keyboards/khmer_angkor.js
  web/unit_tests/resources/keyboards/test_deadkeys.js
Labels: enhancement, web

#1519 [Web] Splits the OSK's outer shell object from its individualized inner Visual Keyboard.
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMModifierCodes.java
  android/Tests/KeyboardHarness/app/src/main/assets/cloud/chirality-1.0.js
  web/package-lock.json
  web/package.json
  web/source/keymanweb.ts
  web/source/kmwbase.ts
  web/source/kmwcallback.ts
  web/source/kmwdom.ts
  web/source/kmwdomevents.ts
  web/source/kmwembedded.ts
  web/source/kmwexthtml.ts
  web/source/kmwhotkeys.ts
  web/source/kmwkeyboards.ts
  web/source/kmwkeymaps.ts
  web/source/kmwnative.ts
  web/source/kmwosk.ts
  web/source/kmwtypedefs.ts
  web/source/kmwutils.ts
  web/source/osk/defaultLayouts.ts
  web/source/osk/languageMenu.ts
  web/source/osk/oskManager.ts
  web/source/osk/visualKeyboard.ts
  web/source/recorder_ui_and_stubs.js
  web/source/singleton.ts
  web/source/text/codes.ts
  web/source/text/processor.ts
  web/source/tsconfig.embedded.json
  web/source/tsconfig.web.json
  web/testing/chirality/chirality.js
  web/unit_tests/resources/keyboards/khmer_angkor.js
  web/unit_tests/resources/keyboards/test_deadkeys.js
Labels: enhancement, web

#1544 [LMLayer] Tidying up, plus fix minor bug
  common/predictive-text/promise-store.ts
  common/predictive-text/unit_tests/headless/promise-store.js
  common/predictive-text/unit_tests/in_browser/cases/worker.js
  common/predictive-text/worker/index.ts
Labels: lm-layer

#1547 [common] bugfix for potential utf overrun on beta brach
  common/engine/keyboardprocessor/src/km_kbp_context_api.cpp
  common/engine/keyboardprocessor/src/utfcodec.hpp
  common/engine/keyboardprocessor/tests/unit/kmnkbd/context_api.cpp
Labels: bug, common

#1537 [Web] Beta versioning
  web/.gitignore
  web/package-lock.json
  web/package.json
  web/source/build.sh
  web/source/keymanweb.ts
  web/source/kmwbase.ts
  web/source/kmwcallback.ts
  web/source/kmwdebug.js
  web/source/kmwembedded.ts
  web/source/kmwinit.ts
  web/source/kmwkeyboards.ts
  web/source/kmwkeymaps.ts
  web/source/kmwlayout.ts
  web/source/kmwnative.ts
  web/source/kmwosk.ts
  web/source/kmwreleasestub.js
  web/source/kmwstring.ts
  web/source/kmwuibutton.ts
  web/source/kmwuifloat.ts
  web/source/kmwuitoggle.ts
  web/source/kmwuitoolbar.ts
  web/source/resources/osk/kmwosk.css
Labels: web

#1550 [Android] Update installing a multilingual keyboard from local kmp package
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/JSONUtils.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/JSONUtilsTest.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/PackageProcessorTest.java
  android/KMEA/test_resources/packages/galaxie_greek_hebrew_mnemonic/kmp.json
  android/KMEA/test_resources/packages/sil_cameroon_qwerty/kmp.json
  android/history.md
Labels: android, bug

#1554 [Android] Add HashMap.getOrDefault for older Android API levels
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/MapCompat.java
  android/history.md
Labels: android, bug

#1555 [Android] Misc UI cleanup
  android/.gitignore
  android/KMAPro/kMAPro/src/main/res/layout/get_started_list_layout.xml
  android/KMEA/app/src/main/AndroidManifest.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ConfirmDialogFragment.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/JSONUtils.java
  android/KMEA/app/src/main/res/values/styles.xml
  android/history.md
Labels: android, bug
