Repository keymanapp/keyman, pull requests merged in 2020-10, with the labels that each got.

#3648 fix(android/app): Switch system keyboard in KMPBrowserActivity
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KMPBrowserActivity.java
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
Labels: android/, android/app/, bug

#3652 auto: increment master version to 14.0.154
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3637 fix(windows): Upgrading keyboards with transient profiles
  windows/src/desktop/kmshell/main/Keyman.Configuration.System.UImportOlderVersionKeyboards11To13.pas
  windows/src/global/delphi/general/Keyman.System.CanonicalLanguageCodeUtils.pas
Labels: fix, windows/, windows/config/

#3638 fix(windows): upgrading disabled keyboards
  windows/src/desktop/kmshell/main/Keyman.Configuration.System.UImportOlderVersionKeyboards11To13.pas
  windows/src/engine/kmcomapi/processes/keyboard/Keyman.System.Process.KPInstallKeyboardLanguage.pas
Labels: fix, windows/, windows/config/, windows/engine/

#3640 fix(developer): coverity reports for compiler
  windows/src/Makefile
  windows/src/developer/kmcmpdll/Compiler.cpp
  windows/src/developer/kmcmpdll/NamedCodeConstants.cpp
  windows/src/developer/kmcmpdll/kcframe.cpp
  windows/src/developer/kmcmpdll/kmcmpdll.h
  windows/src/developer/kmcmpdll/versioning.cpp
Labels: developer/, developer/compilers/, fix, windows/

#3641 fix(windows): coverity reports for mcompile
  windows/src/engine/mcompile/mc_import_rules.cpp
  windows/src/engine/mcompile/mc_kmxfile.cpp
  windows/src/engine/mcompile/mc_savekeyboard.cpp
  windows/src/engine/mcompile/mc_unicode.cpp
  windows/src/engine/mcompile/mcompile.cpp
Labels: fix, windows/, windows/engine/

#3642 fix(windows): coverity reports for kmtip
  windows/src/engine/kmtip/debug.cpp
  windows/src/engine/kmtip/inserttext.cpp
  windows/src/engine/kmtip/kmkey.cpp
  windows/src/engine/kmtip/kmtip.cpp
  windows/src/engine/kmtip/register.cpp
Labels: fix, windows/, windows/engine/

#3649 fix(windows): coverity reports for keyman32
  windows/src/engine/keyman32/DebugEventTrace.cpp
  windows/src/engine/keyman32/K32_load.cpp
  windows/src/engine/keyman32/Keyman32.cpp
  windows/src/engine/keyman32/SharedBuffers.cpp
  windows/src/engine/keyman32/addins.cpp
  windows/src/engine/keyman32/appint/aiTIP.cpp
  windows/src/engine/keyman32/appint/aiWin2000Unicode.cpp
  windows/src/engine/keyman32/appint/appint.cpp
  windows/src/engine/keyman32/calldll.cpp
  windows/src/engine/keyman32/k32_dbg.cpp
  windows/src/engine/keyman32/k32_tsf.cpp
  windows/src/engine/keyman32/keybd_shift.cpp
  windows/src/engine/keyman32/keyboardoptions.cpp
  windows/src/engine/keyman32/kmhook_getmessage.cpp
  windows/src/engine/keyman32/kmprocess.cpp
  windows/src/engine/keyman32/selectkeyboard.cpp
  windows/src/engine/keyman32/serialkeyeventserver.cpp
  windows/src/engine/keyman32/versioninfo.cpp
  windows/src/global/vc/keymansentry.cpp
Labels: fix, windows/, windows/engine/

#3653 chore: exclude parens if no scope in commit msg
  resources/git-hooks/prepare-commit-msg
Labels: chore, common/, common/resources/

#3660 auto: increment master version to 14.0.155
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3645 refactor(common/models): centralizes suggestion & keep inits
  common/core/web/input-processor/src/text/prediction/languageProcessor.ts
  common/models/templates/src/common.ts
  common/models/templates/src/index.ts
  common/models/templates/src/quote-behavior.ts
  common/models/templates/src/trie-model.ts
  common/models/templates/test/test-common.js
  common/models/templates/test/test-quote-behavior.js
  common/predictive-text/unit_tests/headless/worker-custom-punctuation.js
  common/predictive-text/unit_tests/headless/worker-model-compositor.js
  common/predictive-text/worker/model-compositor.ts
  web/source/osk/banner.ts
Labels: common/, common/core/, common/core/web/, common/models/, common/models/templates/, web/, web/engine/

#3657 fix(common/models): predictions after typed whitespace
  common/predictive-text/unit_tests/headless/edit-distance/distance-modeler.js
  common/predictive-text/worker/correction/context-tracker.ts
  common/predictive-text/worker/correction/distance-modeler.ts
  common/predictive-text/worker/model-compositor.ts
Labels: common/, common/models/

#3659 fix(web): Fix how layer is separated from key name
  web/source/kmwembedded.ts
Labels: android/, android/engine/, bug, web/, web/engine/

#3677 auto: increment master version to 14.0.156
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3654 chore(windows): Move to Windows SDK 10.0.17763.0
  windows/src/Defines.mak
  windows/src/README.md
  windows/src/buildtools/getfilelocks/getfilelocks.vcxproj
  windows/src/developer/kmcmpdll/kcframe.vcxproj
  windows/src/developer/kmcmpdll/kmcmpdll.vcxproj
  windows/src/developer/kmdecomp/kmdecomp.vcxproj
  windows/src/developer/samples/imsample/IMSample.vcxproj
  windows/src/engine/keyman32/Keyman32.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj
  windows/src/engine/keymanx64/keymanx64.vcxproj
  windows/src/engine/kmtip/kmtip.vcxproj
  windows/src/engine/mcompile/mcompile.vcxproj
  windows/src/ext/tds2dbg/tds2dbg.vcxproj
  windows/src/support/enumtsfcpp/enumtsfcpp/enumtsfcpp.vcxproj
  windows/src/test/mnemonic-to-positional/importkeyboard/importkeyboard/importkeyboard.vcxproj
  windows/src/test/unit-tests/shared-data/cpp/cppshareddata.vcxproj
Labels: chore, developer/, windows/, windows/engine/

#3668 fix(windows): Some registry keys could have incorrect permissions 🍒
  windows/src/engine/keyman/main.pas
Labels: fix, windows/, windows/engine/

#3670 fix(developer): ci uses repo tier and version
  developer/js/build.sh
  windows/src/developer/inst/copydev.in
Labels: developer/, developer/compilers/, fix, windows/

#3671 fix(windows): update CI for publishing desktop help
  windows/src/buildtools/help-keyman-com.sh
Labels: fix, windows/

#3672 fix(web): ci uses repo tier and version
  common/models/types/build.sh
Labels: common/, common/models/, common/models/types/, fix

#3678 fix(windows): improve version numbers
  developer/js/README.md
  oem/firstvoices/windows/src/inst/download.in
  oem/firstvoices/windows/src/localedef.dtd.in
  windows/src/buildtools/inst/copydebug.in
  windows/src/buildtools/inst/srcbackup.in
  windows/src/desktop/help/install.in
  windows/src/desktop/inst/download.in
  windows/src/desktop/insthelp/manifest.in
  windows/src/desktop/kmbrowserhost/manifest.in
  windows/src/desktop/kmshell/localedef.dtd.in
  windows/src/desktop/kmshell/manifest.in
  windows/src/desktop/setup/debug-manifest.in
  windows/src/desktop/setup/manifest.in
  windows/src/developer/TIKE/manifest.in
  windows/src/developer/inst/copydev.in
  windows/src/developer/kmcomp/manifest.in
  windows/src/developer/kmconvert/manifest.in
  windows/src/developer/setup/manifest.in
  windows/src/engine/inst/download.in
  windows/src/engine/keyman/debug-manifest.in
  windows/src/engine/keyman/manifest.in
  windows/src/engine/keymanx64/manifest.in
  windows/src/engine/kmcomapi/manifest.in
  windows/src/engine/mcompile/manifest.in
  windows/src/engine/tsysinfo/manifest.in
  windows/src/engine/tsysinfox64/manifest.in
  windows/src/global/help/version.in
  windows/src/support/kmkb0045/manifest.in
Labels: developer/, developer/compilers/, developer/ide/, fix, oem/, oem/fv/, oem/fv/windows/, windows/, windows/config/, windows/engine/

#3681 chore: don't add tag to version in filenames
  .gitignore
  oem/firstvoices/windows/src/inst/download.in
  windows/src/desktop/inst/download.in
  windows/src/developer/inst/Makefile
  windows/src/developer/inst/download.in
  windows/src/engine/inst/download.in
Labels: developer/, fix, oem/, oem/fv/, oem/fv/windows/, windows/, windows/config/, windows/engine/

#3683 auto: increment master version to 14.0.157
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3682 fix(windows): show version with tag in setup
  windows/src/desktop/setup/SetupStrings.pas
  windows/src/desktop/setup/UfrmInstallOptions.dfm
  windows/src/desktop/setup/UfrmInstallOptions.pas
  windows/src/desktop/setup/locale/en/strings.xml
  windows/src/global/delphi/general/Keyman.System.UpdateCheckResponse.pas
Labels: fix, windows/, windows/config/

#3684 fix(windows): keyman desktop setup filename
  windows/src/desktop/inst/download.in
Labels: fix, windows/, windows/config/

#3687 auto: increment master version to 14.0.158
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3647 feat(common/models): 'revert' now uses model's punctuation
  common/core/web/input-processor/src/text/prediction/languageProcessor.ts
  common/models/templates/src/common.ts
  common/models/templates/test/test-common.js
  common/models/types/index.d.ts
  common/predictive-text/docs/worker-communication-protocol.md
  common/predictive-text/index.ts
  common/predictive-text/message.d.ts
  common/predictive-text/unit_tests/headless/worker-dummy-integration.js
  common/predictive-text/unit_tests/headless/worker-model-compositor.js
  common/predictive-text/unit_tests/headless/worker-predict.js
  common/predictive-text/unit_tests/in_browser/cases/worker-dummy-integration.js
  common/predictive-text/worker/index.ts
  common/predictive-text/worker/model-compositor.ts
  common/predictive-text/worker/worker-interfaces.ts
  web/source/osk/banner.ts
Labels: common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, web/, web/engine/

#3691 fix(windows): launch configuration non-elevated
  windows/src/global/delphi/general/utilexecute.pas
Labels: fix, windows/

#3693 fix(windows): disabled keyboards listed in hotkeys
  windows/src/engine/kmcomapi/com/languages/keymanlanguages.pas
Labels: fix, windows/, windows/engine/

#3696 auto: increment master version to 14.0.159
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3597 fix(web): unit test script failure on compilation failures
  web/unit_tests/test.sh
Labels: bug, web/

#3703 auto: increment master version to 14.0.160
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3700 feat(common/models): disables "keep" when word is not suggestion otherwise
  common/models/types/index.d.ts
  common/predictive-text/worker/model-compositor.ts
  web/source/osk/banner.ts
Labels: common/, common/models/, common/models/types/, web/, web/engine/

#3702 feat(common/core/web): selective wordbreak swallowing after accepting suggestions
  common/core/web/input-processor/src/text/prediction/languageProcessor.ts
  common/models/types/index.d.ts
  common/predictive-text/docs/worker-communication-protocol.md
  common/predictive-text/worker/index.ts
  common/predictive-text/worker/model-compositor.ts
  web/source/osk/banner.ts
Labels: common/, common/core/, common/core/web/, common/models/, common/models/types/, enhancement, web/, web/engine/

#3705 refactor(common/models): extract Outcome type
  common/models/templates/src/common.ts
  common/models/templates/src/trie-model.ts
  common/models/types/index.d.ts
  common/predictive-text/worker/model-compositor.ts
Labels: common/, common/models/, common/models/templates/, common/models/types/, refactor

#3708 auto: increment master version to 14.0.161
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3709 fix(common/core/web): fixes revert event bug
  common/core/web/input-processor/src/text/prediction/languageProcessor.ts
Labels: bug, common/, common/core/, common/core/web/

#3712 auto: increment master version to 14.0.162
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3664 fix(web): Let embedded device handle K_TAB or K_ENTER
  web/source/kmwembedded.ts
Labels: bug, web/, web/engine/

#3713 auto: increment master version to 14.0.163
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3718 fix(web): Remove base key from popup keys
  web/source/kmwembedded.ts
  web/source/osk/visualKeyboard.ts
Labels: android/, android/engine/, modification, web/, web/engine/

#3723 auto: increment master version to 14.0.164
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3663 feat(common/models): context tracking of accepted Suggestions
  common/core/web/input-processor/src/text/prediction/languageProcessor.ts
  common/models/types/index.d.ts
  common/predictive-text/unit_tests/headless/edit-distance/context-tracker.js
  common/predictive-text/unit_tests/headless/worker-model-compositor.js
  common/predictive-text/worker/correction/context-tracker.ts
  common/predictive-text/worker/model-compositor.ts
  common/predictive-text/worker/worker-interfaces.ts
Labels: common/, common/core/, common/core/web/, common/models/, common/models/types/, feat

#3685 feat(common/models): context reversion modeling
  common/core/web/input-processor/src/text/prediction/languageProcessor.ts
  common/predictive-text/docs/worker-communication-protocol.md
  common/predictive-text/index.ts
  common/predictive-text/message.d.ts
  common/predictive-text/unit_tests/headless/worker-model-compositor.js
  common/predictive-text/worker/correction/context-tracker.ts
  common/predictive-text/worker/index.ts
  common/predictive-text/worker/model-compositor.ts
  common/predictive-text/worker/worker-interfaces.ts
  web/source/kmwembedded.ts
  web/source/osk/banner.ts
Labels: common/, common/core/, common/core/web/, common/models/, web/, web/engine/

#3714 fix(windows): RefreshKeyboards loses some profiles
  windows/src/engine/keyman32/Keyman32.cpp
Labels: fix, windows/, windows/engine/

#3717 fix(windows): icons missing in Configuration
  windows/src/desktop/kmshell/main/UfrmMain.pas
Labels: fix, windows/, windows/config/

#3719 fix(windows): tweak scrolling in keyboard menu
  windows/src/engine/keyman/UfrmKeymanMenu.pas
Labels: fix, windows/, windows/engine/

#3716 fix(developer): crash creating basic project
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewProjectParameters.pas
Labels: developer/, developer/ide/, fix

#3729 auto: increment master version to 14.0.165
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3674 fix(web): Fix layer how layer is separated from key name
  android/KMAPro/kMAPro/build.gradle
  android/KMEA/app/build.gradle
  android/README.md
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample2/app/build.gradle
  android/Tests/KeyboardHarness/app/build.gradle
  android/history.md
  oem/firstvoices/android/app/build.gradle
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/MainActivity.java
  web/source/kmwembedded.ts
Labels: android/, android/app/, android/engine/, bug, cherry-pick, stable, web/, web/engine/

#3707 fix(web): K_SPACE handling for embedded mode, hardware keystrokes
  common/core/web/keyboard-processor/src/text/defaultOutput.ts
  common/core/web/keyboard-processor/src/text/keyboardProcessor.ts
Labels: android/, bug, common/, common/core/, common/core/web/, web/, web/engine/

#3736 auto: increment master version to 14.0.166
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto

#3039 fix(web): disable U+25CC for diacritics
  web/source/osk/visualKeyboard.ts
Labels: bug, ios/, web/, web/engine/

#3706 refactor(common/models): Common tokenization and wordbreaking functions
  common/models/templates/src/tokenization.ts
  common/models/templates/src/trie-model.ts
  common/models/templates/test/test-tokenization.js
  common/models/types/index.d.ts
  common/predictive-text/unit_tests/headless/default-word-breaker.js
  common/predictive-text/worker/correction/context-tracker.ts
  common/predictive-text/worker/index.ts
  common/predictive-text/worker/model-compositor.ts
  common/predictive-text/worker/models/dummy-model.ts
Labels: common/, common/models/, common/models/templates/, common/models/types/, modification, refactor

#3735 fix(windows): setup status showed only 'removing older versions'
  windows/src/desktop/setup/RunTools.pas
  windows/src/desktop/setup/SetupStrings.pas
  windows/src/desktop/setup/locale/en/strings.xml
Labels: fix, windows/, windows/config/

#3727 fix(windows): improve tsysinfo upload messages
  windows/src/engine/tsysinfo/UfrmEmail.pas
Labels: fix, windows/, windows/engine/

#3728 chore(windows): update msgping to Winsdk 10
  windows/src/support/msgping/msgping/msgping.sln
  windows/src/support/msgping/msgping/msgping.vcxproj
  windows/src/support/msgping/msgping/msgping.vcxproj.filters
Labels: chore, windows/

#3721 fix(android/engine): Improve KMManager robustness
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
Labels: android/, android/engine/, bug

#3701 feat(common/core/web): fat-finger ignores inputs that beep
  common/core/web/input-processor/src/text/inputProcessor.ts
  web/testing/index.html
  web/testing/issue3701/index.html
  web/testing/issue3701/nrc.en.mtnt.model.js
  web/testing/issue3701/test3701/HISTORY.md
  web/testing/issue3701/test3701/LICENSE.md
  web/testing/issue3701/test3701/README.md
  web/testing/issue3701/test3701/build/test3701.js
  web/testing/issue3701/test3701/debug.log
  web/testing/issue3701/test3701/source/readme.htm
  web/testing/issue3701/test3701/source/test3701.keyman-touch-layout
  web/testing/issue3701/test3701/source/test3701.kmn
  web/testing/issue3701/test3701/source/test3701.kps
  web/testing/issue3701/test3701/source/test3701.kvks
  web/testing/issue3701/test3701/source/welcome.htm
  web/testing/issue3701/test3701/test3701.keyboard_info
  web/testing/issue3701/test3701/test3701.kpj
Labels: common/, common/core/, common/core/web/, web/

#3741 auto: increment master version to 14.0.167
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3722 fix(android/browser): Improve how embedded browser handles input
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/WebBrowserActivity.java
Labels: android/, android/app/, android/browser/, bug

#3743 auto: increment master version to 14.0.168
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3738 chore(android): Update dependencies
  android/KMAPro/.idea/compiler.xml
  android/KMAPro/kMAPro/build.gradle
  android/KMEA/app/build.gradle
  android/README.md
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample2/app/build.gradle
  android/Tests/KeyboardHarness/app/build.gradle
  android/Tests/keycode/app/build.gradle
  oem/firstvoices/android/app/build.gradle
Labels: android/, android/app/, android/engine/, android/samples/, oem/, oem/fv/, oem/fv/android/

#3746 auto: increment master version to 14.0.169
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3739 fix(windows): restore Setup after minimize
  windows/src/desktop/setup/UfrmRunDesktop.dfm
  windows/src/desktop/setup/UfrmRunDesktop.pas
Labels: fix, windows/, windows/config/

#3745 fix(windows): buffer overrun in debug function
  windows/src/engine/kmtip/inserttext.cpp
Labels: fix, windows/, windows/engine/

#3747 fix(windows): download error dialog could be blank
  windows/src/desktop/setup/RunTools.pas
  windows/src/desktop/setup/UfrmDownloadProgress.pas
Labels: fix, windows/, windows/config/

#2456 feat: Keyman Settings Manager base classes
  windows/src/global/delphi/general/Keyman.System.Settings.pas
  windows/src/global/delphi/general/Keyman.System.SettingsManager.pas
  windows/src/global/delphi/general/Keyman.System.SettingsManagerFile.pas
  windows/src/global/delphi/general/RegistryKeys.pas
Labels: enhancement, windows/

#3732 feat(windows): kmconfig console app
  windows/src/desktop/Makefile
  windows/src/desktop/desktop.groupproj
  windows/src/desktop/inst/keymandesktop.wxs
  windows/src/desktop/kmconfig/Keyman.System.KMConfigMain.pas
  windows/src/desktop/kmconfig/Makefile
  windows/src/desktop/kmconfig/elevation.png
  windows/src/desktop/kmconfig/kmconfig.dpr
  windows/src/desktop/kmconfig/kmconfig.dproj
  windows/src/desktop/kmconfig/kmconfig.res
  windows/src/desktop/kmconfig/manifest.in
  windows/src/desktop/kmconfig/manifest.rc
  windows/src/desktop/kmconfig/version.in
  windows/src/global/delphi/general/Keyman.System.Settings.pas
Labels: feat, windows/, windows/config/

#3734 feat(windows): Apps for Controlling Browser TSF integration
  windows/src/support/control_chrome_tsf/control_chrome_tsf.dpr
  windows/src/support/control_chrome_tsf/control_chrome_tsf.dproj
  windows/src/support/control_chrome_tsf/control_chrome_tsf.res
  windows/src/support/control_chrome_tsf/control_chrome_tsf_Icon.ico
  windows/src/support/control_firefox_tsf/README.md
  windows/src/support/control_firefox_tsf/control_firefox_tsf.dpr
  windows/src/support/control_firefox_tsf/control_firefox_tsf.dproj
  windows/src/support/control_firefox_tsf/control_firefox_tsf.res
  windows/src/support/control_firefox_tsf/control_firefox_tsf_Icon.ico
Labels: feat, windows/

#3762 auto: increment master version to 14.0.170
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3754 fix(windows): Remove double refresh
  windows/src/engine/keyman32/Keyman32.cpp
  windows/src/engine/keyman32/globals.h
  windows/src/engine/keyman32/k32_globals.cpp
Labels: fix, windows/, windows/engine/

#3753 fix(windows): Keyman Configuration changes apply instantly
  windows/src/desktop/kmshell/help/UfrmHelp.pas
  windows/src/desktop/kmshell/install/UfrmInstallKeyboard.pas
  windows/src/desktop/kmshell/main/OnlineUpdateCheck.pas
  windows/src/desktop/kmshell/main/UfrmKeepInTouch.pas
  windows/src/desktop/kmshell/main/UfrmMain.pas
  windows/src/desktop/kmshell/main/UfrmOnlineUpdateNewVersion.pas
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/desktop/kmshell/startup/UfrmSplash.pas
  windows/src/desktop/kmshell/util/utilkmshell.pas
  windows/src/desktop/kmshell/xml/config.css
  windows/src/desktop/kmshell/xml/keyman_footer.xsl
  windows/src/desktop/kmshell/xml/strings.xml
  windows/src/engine/kmcomapi/com/system/keymancontrol.pas
  windows/src/engine/kmcomapi/com/system/keymansysteminfo.pas
  windows/src/engine/kmcomapi/processes/kpbase.pas
  windows/src/engine/kmcomapi/util/internalinterfaces.pas
  windows/src/global/delphi/hints/UfrmHint.pas
  windows/src/global/delphi/ui/UfrmWebContainer.pas
Labels: fix, windows/, windows/config/, windows/engine/

#3760 fix(windows): Make help button work
  windows/src/global/delphi/ui/UfrmWebContainer.pas
Labels: fix, windows/

#3761 fix(windows): use new windows url for online update check
  windows/src/desktop/kmshell/main/OnlineUpdateCheck.pas
  windows/src/desktop/kmshell/util/UfrmDownloadProgress.dfm
  windows/src/global/delphi/general/Keyman.System.UpdateCheckResponse.pas
  windows/src/global/delphi/general/Upload_Settings.pas
  windows/src/global/delphi/general/httpuploader.pas
Labels: fix, windows/, windows/config/

#3764 fix(windows): Community button had wrong link
  windows/src/desktop/kmshell/xml/keyman_support.xsl
Labels: fix, windows/, windows/config/

#3763 fix(windows): Crash in Keep in Touch external link
  windows/src/desktop/kmshell/install/UfrmInstallKeyboardFromWeb.pas
  windows/src/desktop/kmshell/main/UfrmMain.pas
  windows/src/developer/TIKE/main/UfrmHelp.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmProject.pas
  windows/src/global/delphi/chromium/Keyman.UI.UframeCEFHost.pas
Labels: developer/, developer/ide/, fix, windows/, windows/config/

#3766 fix(windows): Fix multiple issues with UI locales
  windows/src/desktop/kmshell/main/UfrmMain.pas
  windows/src/desktop/kmshell/util/UILanguages.pas
  windows/src/desktop/kmshell/xml/elements.xsl
  windows/src/desktop/kmshell/xml/keyman.xsl
  windows/src/desktop/kmshell/xml/menu.css
  windows/src/desktop/kmshell/xml/menu.js
  windows/src/global/delphi/cust/CustomisationMessages.pas
Labels: fix, windows/, windows/config/

#3740 fix(android/engine): Only get keyboard version for cloud/
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
Labels: android/, android/engine/

#3771 auto: increment master version to 14.0.171
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3768 fix(android/browser): Fix slow input in embedded browser (WebViews)
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KMPBrowserActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/WebBrowserActivity.java
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
Labels: android/, android/app/, android/browser/, bug

#3767 chore(common/models): fixes context tracking with accepted suggestions
  common/predictive-text/worker/correction/context-tracker.ts
Labels: chore, common/, common/models/, modification

#3774 chore(windows): small cleanups
  windows/src/desktop/kmshell/main/UfrmMain.pas
  windows/src/engine/engine.sln
  windows/src/engine/keyman32/k32_lowlevelkeyboardhook.cpp
Labels: chore, windows/, windows/config/, windows/engine/

#3785 auto: increment master version to 14.0.172
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3779 fix(windows): remove msctf free from DllMain
  windows/src/engine/.gitignore
  windows/src/engine/keyman32/Keyman32.cpp
  windows/src/engine/keyman32/Keyman32.vcxproj
  windows/src/engine/keyman32/appint/aiTIP.cpp
  windows/src/engine/keyman32/globals.h
  windows/src/engine/keyman32/k32_globals.cpp
  windows/src/engine/keyman32/k32_tsf.cpp
  windows/src/engine/keyman32/k32_tsf.h
  windows/src/engine/keyman32/kmhook_callwndproc.cpp
  windows/src/engine/keyman32/kmhook_getmessage.cpp
  windows/src/engine/keyman32/selectkeyboard.cpp
  windows/src/global/inc/keyman64.h
Labels: fix, windows/, windows/engine/

#3781 fix(windows): error reading kmp.inf in setup
  windows/src/desktop/setup/Keyman.Setup.System.InstallInfo.pas
Labels: fix, windows/, windows/config/

#3782 chore(web): Update keymanweb-osk.ttf to v. 2.100
  web/README.md
  web/source/resources/osk/keymanweb-osk.ttf
Labels: chore, web/, web/engine/

#3731 fix(android/engine): Fix issues when re-installing lexical-models
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/LanguageResource.java
Labels: android/, android/app/, android/engine/, bug

#3791 fix(windows): setup now allows choice of source
  windows/src/desktop/setup/Keyman.Setup.System.InstallInfo.pas
  windows/src/desktop/setup/RunTools.pas
  windows/src/desktop/setup/SetupStrings.pas
  windows/src/desktop/setup/UfrmInstallOptions.dfm
  windows/src/desktop/setup/UfrmInstallOptions.pas
  windows/src/desktop/setup/UfrmRunDesktop.pas
  windows/src/desktop/setup/bootstrapmain.pas
  windows/src/desktop/setup/locale/en/strings.xml
Labels: fix, windows/, windows/config/

#3795 auto: increment master version to 14.0.173
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3790 fix(windows): Cleanup setup.inf processing and CompareVersions function
  windows/src/desktop/setup/.gitignore
  windows/src/desktop/setup/Keyman.Setup.System.InstallInfo.pas
  windows/src/desktop/setup/Keyman.Setup.System.MsiUtils.pas
  windows/src/desktop/setup/MsiPackageCode.pas
  windows/src/desktop/setup/bootstrapmain.pas
  windows/src/desktop/setup/setup.dpr
  windows/src/desktop/setup/setup.dproj
  windows/src/global/delphi/general/VersionInfo.pas
  windows/src/unit-tests/windows-setup/WindowsSetupTest.dpr
  windows/src/unit-tests/windows-setup/WindowsSetupTest.dproj
Labels: fix, windows/, windows/config/

#3792 fix(windows): show bootstrap progress in setup
  windows/src/desktop/setup/SetupStrings.pas
  windows/src/desktop/setup/UfrmDownloadProgress.dfm
  windows/src/desktop/setup/UfrmDownloadProgress.pas
  windows/src/desktop/setup/bootstrapmain.pas
  windows/src/desktop/setup/locale/en/strings.xml
  windows/src/desktop/setup/setup.dpr
  windows/src/desktop/setup/setup.dproj
Labels: fix, windows/, windows/config/

#3793 fix(windows): cleanup setup action list
  windows/src/desktop/setup/UfrmRunDesktop.dfm
  windows/src/desktop/setup/UfrmRunDesktop.pas
Labels: fix, windows/, windows/config/

#3133 fix(ios): tweaks to project files
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
Labels: bug, ios/, oem/, stable

#3803 chore(android/engine): Remove use of lexical-model catalog
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudCatalogDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudCatalogDownloadReturns.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/Dataset.java
Labels: android/, android/engine/, chore

#3799 fix(windows): disabling/enabling a profile could have wrong association
  windows/src/engine/kmcomapi/com/keyboardlanguages/keymankeyboardlanguage.pas
  windows/src/engine/kmcomapi/com/keyboardlanguages/keymankeyboardlanguageinstalled.pas
  windows/src/engine/kmcomapi/processes/keyboard/Keyman.System.Process.KPInstallKeyboardLanguage.pas
  windows/src/engine/kmcomapi/processes/keyboard/kpinstallkeyboard.pas
Labels: fix, windows/, windows/engine/

#3800 fix(windows): keyboard menu could get out of sync
  windows/src/engine/keyman/Menu_KeyboardItems.pas
Labels: fix, windows/, windows/engine/

#3805 fix(windows): crash installing package with a race
  windows/src/desktop/kmshell/install/UfrmInstallKeyboard.pas
  windows/src/engine/kmcomapi/com/keyboards/keymankeyboardfile.pas
  windows/src/engine/kmcomapi/com/keyboards/keymankeyboardinstalled.pas
  windows/src/global/delphi/general/utilxml.pas
Labels: fix, windows/, windows/config/, windows/engine/

#3804 fix(windows): Handle failure on task creation
  windows/src/desktop/kmshell/util/Keyman.System.KeymanStartTask.pas
  windows/src/global/delphi/general/Keyman.System.KeymanSentryClient.pas
Labels: fix, windows/, windows/config/

#3807 auto: increment master version to 14.0.174
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/
