Repository keymanapp/keyman, pull requests merged in 2020-05, with the labels that each got.

#3050 modify(oem): Update DSN for FV Android app
  oem/firstvoices/android/app/src/main/AndroidManifest.xml
Labels: android, modification, oem

#2994 feat(web/engine): Basic KeyboardProcessor tests
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/keyboard-processor/src/text/kbdInterface.ts
  common/core/web/keyboard-processor/src/text/keyboardProcessor.ts
  common/core/web/keyboard-processor/test.sh
  common/core/web/keyboard-processor/tests/cases/basic-init.js
  common/core/web/keyboard-processor/tests/cases/transcriptions.js
  common/core/web/keyboard-processor/tests/cases/versions.js
  common/core/web/keyboard-processor/tests/resources/keyboards/khmer_angkor.js
  common/core/web/keyboard-processor/tests/resources/keyboards/lao_2008_basic.js
  common/core/web/keyboard-processor/tests/resources/keyboards/options_with_save.js
  common/core/web/keyboard-processor/tests/resources/keyboards/test_chirality.js
  common/core/web/keyboard-processor/tests/resources/keyboards/test_chirality.kmn
  common/core/web/keyboard-processor/tests/resources/keyboards/test_chirality.kmx
  common/core/web/keyboard-processor/tests/resources/keyboards/test_chirality.kvk
  common/core/web/keyboard-processor/tests/resources/keyboards/test_chirality.kvks
  common/core/web/keyboard-processor/tests/resources/keyboards/test_deadkeys.js
  common/core/web/keyboard-processor/tests/resources/keyboards/test_deadkeys.kmn
  common/core/web/keyboard-processor/tests/resources/keyboards/test_deadkeys.kmx
  common/core/web/keyboard-processor/tests/resources/keyboards/test_deadkeys.kvk
  common/core/web/keyboard-processor/tests/resources/keyboards/test_deadkeys.kvks
  common/core/web/keyboard-processor/tests/resources/keyboards/test_simple_deadkeys.js
  common/core/web/keyboard-processor/tests/resources/keyboards/test_simple_deadkeys.kmn
  common/core/web/keyboard-processor/tests/resources/keyboards/test_simple_deadkeys.kmx
  common/core/web/keyboard-processor/tests/resources/keyboards/unit_test_keyboards.kpj
  web/package-lock.json
  web/package.json
  web/source/kmwapi.ts
  web/unit_tests/test.sh
Labels: enhancement, web

#3045 fix(oem,common): Update FirstVoices build_keyboards.sh script
  android/build.sh
  oem/firstvoices/android/app/src/main/assets/sil_euro_latin.kmp
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/FVShared.java
  oem/firstvoices/android/build.sh
  oem/firstvoices/common/build_keyboards.sh
  oem/firstvoices/ios/build.sh
  oem/firstvoices/ios/build_keyboards.sh
Labels: android, ios, oem

#3062 auto: increment master version to 14.0.63
  HISTORY.md
  VERSION.md
Labels: auto

#3061 fix(android): Fix FileUtilsTest to be cross-platform
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/FileUtilsTest.java
Labels: android, bug

#3064 fix(windows): add LARGEADDRESSAWARE flag for all CEF processes
  windows/src/desktop/kmbrowserhost/kmbrowserhost.dpr
  windows/src/desktop/kmbrowserhost/kmbrowserhost.dproj
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/kmshell/kmshell.res
  windows/src/engine/tsysinfo/tsysinfo.dpr
  windows/src/engine/tsysinfo/tsysinfo.dproj
Labels: bug, windows

#3051 Fix/android/remove more custom
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/JSONUtils.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/PackageProcessorTest.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/FVShared.java
Labels: android, modification

#3066 fix(ios): FV settings bundle for SWKeyboard
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
Labels: bug, ios, oem

#3059 change(common/lmlayer): single-pass join word breaker decorator
  common/predictive-text/worker/word_breaking/join-word-breaker-decorator.ts
Labels: modification, web, web-lm-layer

#3067 auto: increment master version to 14.0.64
  HISTORY.md
  VERSION.md
Labels: auto

#3069 fix(ios): add sentry framework to fv keyboards
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
Labels: bug, ios, oem

#3070 auto: increment master version to 14.0.65
  HISTORY.md
  VERSION.md
Labels: auto

#3072 fix(ios): try embed of sentry again for fv
  oem/firstvoices/ios/Cartfile
  oem/firstvoices/ios/Cartfile.resolved
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
Labels: bug, ios, oem

#3073 auto: increment master version to 14.0.66
  HISTORY.md
  VERSION.md
Labels: auto

#3074 fix(ios): fv add sentry framework to carthage build step
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
Labels: bug, ios, oem

#3075 auto: increment master version to 14.0.67
  HISTORY.md
  VERSION.md
Labels: auto

#3080 fix(ios): Additional libraries for FirstVoices SWKeyboard
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
Labels: bug, ios, oem

#3081 auto: increment master version to 14.0.68
  HISTORY.md
  VERSION.md
Labels: auto

#3076 fix(common): enable build for win x64, use global VERSION.md and fix decxstr() bug
  common/core/desktop/build.bat
  common/core/desktop/doc/BUILDING.md
  common/core/desktop/getversion.bat
  common/core/desktop/getversion.sh
  common/core/desktop/meson.build
  common/core/desktop/src/kmx/kmx_context.cpp
  common/core/desktop/src/kmx/kmx_context.h
  common/core/desktop/src/kmx/kmx_debug.cpp
  common/core/desktop/src/kmx/kmx_processor.cpp
  common/core/desktop/src/kmx/kmx_xstring.cpp
  common/core/desktop/src/kmx/kmx_xstring.h
  common/core/desktop/tests/unit/kmx/kmx.cpp
  resources/build/README.md
  resources/build/vswhere-LICENSE.txt
  resources/build/vswhere.exe
  windows/src/engine/keyman32/appint/appint.cpp
  windows/src/global/inc/xstring.h
  windows/src/global/vc/xstring.cpp
Labels: bug, common

#3079 modify(android): Add methods to go between LanguageResource and JSON
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/CloudDataJsonUtil.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/Keyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/LanguageResource.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/LexicalModel.java
Labels: android, modification

#3078 feat(common): auto-update for package versioning
  resources/build/increment-version.sh
Labels: ci, common, enhancement

#3089 fix(common): npm install required for auto inc lerna versions
  resources/build/increment-version.sh
Labels: bug, common

#3087 fix(windows): sentry x64 stacks truncated pointers
  windows/src/global/vc/keymansentry.cpp
Labels: bug, windows

#3090 auto: increment master version to 14.0.70
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/lexical-model-types/package-lock.json
  common/lexical-model-types/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  lerna.json
  web/package-lock.json
  web/package.json
Labels: auto

#3093 fix(android): Fix back button after System Keyboard dismissed
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
Labels: android, bug

#3094 fix(android): Back button to dismiss system keyboard
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/Samples/KMSample2/app/src/main/java/com/keyman/kmsample2/SystemKeyboard.java
  android/history.md
Labels: android, bug, cherry-pick, stable

#3095 fix(android): Back button to dismiss KMSample2 system keyboard
  android/Samples/KMSample2/app/src/main/java/com/keyman/kmsample2/SystemKeyboard.java
Labels: android, bug

#3096 fix(oem): Back button to dismiss FV Android system keyboard
  oem/firstvoices/android/.gitignore
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/SystemKeyboard.java
Labels: android, bug, oem

#3097 fix(android): Fix system keyboard alignment
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/history.md
Labels: android, bug, cherry-pick, stable

#3099 auto: increment master version to 14.0.71
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/lexical-model-types/package-lock.json
  common/lexical-model-types/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  lerna.json
  web/package-lock.json
  web/package.json
Labels: auto

#3100 fix(windows): use consistent sentry db location
  windows/src/global/delphi/general/Keyman.System.KeymanSentryClient.pas
  windows/src/global/vc/keymansentry.cpp
Labels: fix, windows

#3104 auto: increment master version to 14.0.72
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/lexical-model-types/package-lock.json
  common/lexical-model-types/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  lerna.json
  web/package-lock.json
  web/package.json
Labels: auto

#3103 fix(ios/oem): Fixes FV app's system keyboard 🍒
  oem/firstvoices/ios/Cartfile
  oem/firstvoices/ios/Cartfile.resolved
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
  oem/firstvoices/ios/FirstVoices/FVKeyboardList.swift
  oem/firstvoices/ios/FirstVoices/KeyboardInfo.swift
  oem/firstvoices/ios/build_common.sh
Labels: bug, cherry-pick, ios, oem, stable

#3063 fix(ios/oem): firstvoices icon for 13.0 🍒
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/Contents.json
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iPad_76x76-1.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/Contents.json
Labels: bug, cherry-pick, ios, oem, stable

#3041 fix(ios): download fv keyboards 🍒
  ios/README.md
  oem/firstvoices/ios/build.sh
  oem/firstvoices/ios/build_keyboards.sh
  resources/build/jq-win64.exe
  resources/build/jq.inc.sh
  resources/build/run-required-test-builds.sh
Labels: bug, cherry-pick, ios, oem, stable

#3105 fix(ios/oem): Fixes FV app's system keyboard
  oem/firstvoices/ios/Cartfile
  oem/firstvoices/ios/Cartfile.resolved
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
  oem/firstvoices/ios/FirstVoices/FVKeyboardList.swift
  oem/firstvoices/ios/FirstVoices/KeyboardInfo.swift
  oem/firstvoices/ios/build_common.sh
Labels: bug, ios, oem

#3108 fix(ios/oem): FV light mode lock and basic banner fix
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
  oem/firstvoices/ios/FirstVoices/Info.plist
  oem/firstvoices/ios/SWKeyboard/Images/banner-Landscape-568h@2x.png
  oem/firstvoices/ios/SWKeyboard/Images/banner-Landscape-568h@3x.png
  oem/firstvoices/ios/SWKeyboard/Images/banner-Landscape.png
  oem/firstvoices/ios/SWKeyboard/Images/banner-Landscape@2x.png
  oem/firstvoices/ios/SWKeyboard/Images/banner-Landscape@2x~ipad.png
  oem/firstvoices/ios/SWKeyboard/Images/banner-Landscape~ipad.png
  oem/firstvoices/ios/SWKeyboard/Images/banner-Portrait.png
  oem/firstvoices/ios/SWKeyboard/Images/banner-Portrait@2x.png
  oem/firstvoices/ios/SWKeyboard/Images/banner-Portrait@2x~ipad.png
  oem/firstvoices/ios/SWKeyboard/Images/banner-Portrait@3x.png
  oem/firstvoices/ios/SWKeyboard/Images/banner-Portrait~ipad.png
Labels: bug, ios, oem

#3107 fix(windows): sentry cef shutdown interactions
  windows/src/engine/Makefile
  windows/src/engine/keyman/Makefile
  windows/src/global/delphi/chromium/Keyman.System.CEFManager.pas
Labels: bug, windows

#3091 feat(android): Migrate installed keyboards list to keyboards_list.json
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/KeyboardController.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/LanguageResource.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/FileUtils.java
Labels: android, modification

#3114 auto: increment master version to 14.0.73
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/lexical-model-types/package-lock.json
  common/lexical-model-types/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  lerna.json
  web/package-lock.json
  web/package.json
Labels: auto

#3083 fix(windows): force output keystroke failure
  common/core/desktop/tests/unit/kmx/043 - output and keystroke.kmn
  common/core/desktop/tests/unit/kmx/043 - output and keystroke.kmx
  common/core/desktop/tests/unit/kmx/meson.build
  windows/src/engine/keyman32/appint/appint.h
  windows/src/engine/keyman32/kmprocess.cpp
Labels: bug, windows

#3115 fix(windows): kmshell title and kmbrowserhost sentry
  windows/src/desktop/kmbrowserhost/kmbrowserhost.dpr
  windows/src/desktop/kmbrowserhost/kmbrowserhost.dproj
  windows/src/desktop/kmbrowserhost/kmbrowserhost.res
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/global/delphi/general/Keyman.System.KeymanSentryClient.pas
Labels: bug, windows

#3116 auto: increment master version to 14.0.74
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/lexical-model-types/package-lock.json
  common/lexical-model-types/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  lerna.json
  web/package-lock.json
  web/package.json
Labels: auto

#3117 fix(windows): kmbrowserhost was missing debug info
  windows/src/desktop/kmbrowserhost/kmbrowserhost.dproj
Labels: bug, windows

#3118 auto: increment master version to 14.0.75
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/lexical-model-types/package-lock.json
  common/lexical-model-types/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  lerna.json
  web/package-lock.json
  web/package.json
Labels: auto

#3123 feat(android): Add Tamil lexical model to KMSample2
  android/Samples/KMSample2/app/src/main/assets/example.ta.wordlist.model.kmp
  android/Samples/KMSample2/app/src/main/java/com/keyman/kmsample2/SystemKeyboard.java
Labels: android, bug

#3126 auto: increment master version to 14.0.76
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/lexical-model-types/package-lock.json
  common/lexical-model-types/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  lerna.json
  web/package-lock.json
  web/package.json
Labels: auto

#3129 fix(windows): use correct name for Sentry in C++
  windows/src/global/inc/keymansentry.h
Labels: bug, windows

#3112 chore: Allow to override hook defs
  resources/git-hooks/commit-msg
Labels: common

#3131 auto: increment master version to 14.0.77
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/lexical-model-types/package-lock.json
  common/lexical-model-types/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  lerna.json
  web/package-lock.json
  web/package.json
Labels: auto

#3136 fix(ios/oem): Fixes keyboard metadata decoding 🍒
  oem/firstvoices/ios/FirstVoices/FVKeyboardList.swift
  oem/firstvoices/ios/FirstVoices/KeyboardInfo.swift
Labels: bug, cherry-pick, ios, oem, stable

#3109 fix(ios/oem): FV light mode lock and basic banner fix 🍒
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
  oem/firstvoices/ios/FirstVoices/FVKeyboardList.swift
  oem/firstvoices/ios/FirstVoices/Info.plist
  oem/firstvoices/ios/FirstVoices/KeyboardInfo.swift
  oem/firstvoices/ios/SWKeyboard/Images/banner-Landscape-568h@2x.png
  oem/firstvoices/ios/SWKeyboard/Images/banner-Landscape-568h@3x.png
  oem/firstvoices/ios/SWKeyboard/Images/banner-Landscape.png
  oem/firstvoices/ios/SWKeyboard/Images/banner-Landscape@2x.png
  oem/firstvoices/ios/SWKeyboard/Images/banner-Landscape@2x~ipad.png
  oem/firstvoices/ios/SWKeyboard/Images/banner-Landscape~ipad.png
  oem/firstvoices/ios/SWKeyboard/Images/banner-Portrait.png
  oem/firstvoices/ios/SWKeyboard/Images/banner-Portrait@2x.png
  oem/firstvoices/ios/SWKeyboard/Images/banner-Portrait@2x~ipad.png
  oem/firstvoices/ios/SWKeyboard/Images/banner-Portrait@3x.png
  oem/firstvoices/ios/SWKeyboard/Images/banner-Portrait~ipad.png
Labels: bug, cherry-pick, ios, oem, stable

#3132 refactor(web/engine): renames DeviceSpec, moves to utils
  common/core/web/input-processor/src/text/inputProcessor.ts
  common/core/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/core/web/keyboard-processor/src/keyboards/keyboard.ts
  common/core/web/keyboard-processor/src/text/kbdInterface.ts
  common/core/web/keyboard-processor/src/text/keyEvent.ts
  common/core/web/keyboard-processor/src/text/keyboardProcessor.ts
  common/core/web/keyboard-processor/src/text/systemStores.ts
  common/core/web/tools/recorder/src/index.ts
  common/core/web/tools/recorder/src/nodeProctor.ts
  common/core/web/tools/recorder/src/proctor.ts
  common/core/web/utils/src/deviceSpec.ts
  common/core/web/utils/src/index.ts
  web/bulk_rendering/tsconfig.json
  web/source/dom/preProcessor.ts
  web/source/kmwdevice.ts
  web/source/osk/oskManager.ts
  web/source/osk/visualKeyboard.ts
  web/tools/recorder/browserProctor.ts
Labels: modification, web

#3137 fix(ios): Fixes keyboard metadata decoding, tweaks to project files
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
  oem/firstvoices/ios/FirstVoices/FVKeyboardList.swift
  oem/firstvoices/ios/FirstVoices/KeyboardInfo.swift
Labels: bug, ios, oem

#3142 auto: increment master version to 14.0.78
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/lexical-model-types/package-lock.json
  common/lexical-model-types/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  lerna.json
  web/package-lock.json
  web/package.json
Labels: auto

#3125 refactor(common/models): factor out word breakers to their own package
  common/models/wordbreakers/.gitignore
  common/models/wordbreakers/README.md
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/models/wordbreakers/src/ascii.ts
  common/models/wordbreakers/src/default/data.ts
  common/models/wordbreakers/src/default/index.ts
  common/models/wordbreakers/src/index.ts
  common/models/wordbreakers/src/placeholder.ts
  common/models/wordbreakers/test/test-ascii-word-breaker.js
  common/models/wordbreakers/test/test-default-word-breaker.js
  common/models/wordbreakers/test/test-placeholder-word-breaker.js
  common/models/wordbreakers/tsconfig.json
  common/predictive-text/package.json
  common/predictive-text/unit_tests/headless/default-word-breaker.js
  common/predictive-text/worker/index.ts
  common/predictive-text/worker/models/trie-model.ts
  lerna.json
Labels: common/, common/models/, common/models/wordbreakers/, modification

#3138 fix(developer): crash when developer starts
  windows/src/ext/sentry/Sentry.Client.pas
Labels: bug, developer/

#3113 modify(android): Refactor KeyboardPickerActivity
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/GetStartedActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ConfirmDialogFragment.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardPickerAdapter.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/Keyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/KeyboardController.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/adapters/NestedAdapter.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/view/FunctionalTestHelper.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/view/KeyboardPickerTest.java
  android/KMEA/test_resources/v14/sil_euro_latin.kmp
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/FVShared.java
Labels: android/, modification

#3139 chore(common/resources): cleanup scopes
  resources/build/increment-version.sh
  resources/build/jq-win64.exe
  resources/build/run-required-test-builds.sh
  resources/build/sentry-control.inc.sh
  resources/build/trigger-builds.inc.sh
  resources/build/trigger-definitions.inc.sh
  resources/git-hooks/commit-msg
  resources/git-hooks/commit-msg-defs
  resources/git-hooks/prepare-commit-msg
  resources/scopes/README.md
  resources/scopes/commit-types.json
  resources/scopes/commit-types.schema.json
  resources/scopes/scopes.json
  resources/scopes/scopes.schema.json
Labels: common/

#3122 feat(web): starts proper KMW Sentry integration
  common/core/web/tools/sentry-manager/.gitignore
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/tools/sentry-manager/src/build.sh
  common/core/web/tools/sentry-manager/src/index.ts
  common/core/web/tools/sentry-manager/src/tsconfig.json
  lerna.json
  resources/build/build-utils.sh
  web/package-lock.json
  web/package.json
  web/source/build.sh
  web/source/keyboards/kmwkeyboards.ts
  web/source/kmwbase.ts
  web/testing/index.html
  web/testing/sentry-integration/errorhdr.js
  web/testing/sentry-integration/index.html
  web/testing/sentry-integration/timeout.js
  web/testing/sentry-integration/unparsable.js
  web/tools/recorder/build.sh
Labels: enhancement, web/

#3145 change(web/utils): add and distribute type declaration
  common/core/web/utils/package.json
  common/core/web/utils/src/tsconfig.json
Labels: enhancement, web/

#3148 fix(common): drops version updates for deprecated common/lexical-model-types
  lerna.json
Labels: common/, common/models/

#3149 auto: increment master version to 14.0.79
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  lerna.json
  web/package-lock.json
  web/package.json
Labels: auto

#3140 fix(android): Fix system keyboard globe button override
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
Labels: android/, android/engine/, bug

#3146 fix(web/utils): use build script to generate environment.inc.ts
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package.json
  common/core/web/keyboard-processor/src/build.sh
  common/core/web/tools/recorder/src/build.sh
  common/core/web/utils/build.sh
  common/core/web/utils/package.json
  common/core/web/utils/tsconfig.json
  common/predictive-text/build.sh
  common/predictive-text/package.json
  resources/gosh
  resources/gosh.bat
  resources/gosh.js
  web/package.json
Labels: bug, common/, common/core/, common/core/web/, common/resources/

#3147 change(common/core/web,web): update deps to @keymanapp/models-types
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package.json
  common/core/web/keyboard-processor/src/tsconfig.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/recorder/src/build.sh
  common/core/web/tools/recorder/src/nodeProctor.tsconfig.json
  common/core/web/tools/recorder/src/tsconfig.json
  common/core/web/tools/sentry-manager/src/build.sh
  common/core/web/utils/build.sh
  common/core/web/utils/package.json
  common/lexical-model-types/package.json
  resources/gosh.js
  web/package.json
Labels: common/core/, common/core/web/, modification, web/

#3156 auto: increment master version to 14.0.80
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  lerna.json
  web/package-lock.json
  web/package.json
Labels: auto

#3155 fix(android/engine): Remove LanguageListUtil
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListUtil.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/Keyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/KeyboardController.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/LanguageResource.java
Labels: android/, android/engine/, modification

#3161 fix(android): Fix system keyboard globe button override
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/history.md
Labels: android/, android/engine/, bug, cherry-pick, stable

#3128 refactor(common/lmlayer): create package: @keymanapp/models-templates
  common/core/web/utils/package.json
  common/models/templates/.gitignore
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/templates/src/common.ts
  common/models/templates/src/index.ts
  common/models/templates/src/trie-model.ts
  common/models/templates/test/fixtures/tries/accented.json
  common/models/templates/test/fixtures/tries/english-1000.json
  common/models/templates/test/helpers.js
  common/models/templates/test/test-trie-model.js
  common/models/templates/tsconfig.json
  common/predictive-text/package.json
  common/predictive-text/worker/model-compositor.ts
Labels: common/, common/models/, common/models/templates/, enhancement

#3164 auto: increment master version to 14.0.81
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  lerna.json
  web/package-lock.json
  web/package.json
Labels: auto

#3159 refactor(resources): convert gosh into npm package 🙃
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package.json
  common/core/web/utils/package.json
  common/predictive-text/package.json
  lerna.json
  resources/gosh/README.md
  resources/gosh/gosh.bat
  resources/gosh/gosh.js
  resources/gosh/gosh.sh
  resources/gosh/package.json
  web/package.json
Labels: common/, common/resources/

#3158 chore(common,web): use consistent TypeScript dep on all packages
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  lerna.json
  package-lock.json
  package.json
  web/package-lock.json
  web/package.json
Labels: common/core/web/, common/models/, dependencies, modification, web/

#3144 chore(common/resources): add `common/models` to build trigger definitions
  resources/build/trigger-definitions.inc.sh
Labels: common/, common/models/, common/resources/, modification

#3165 fix(android): Add Tamil lexical model to KMSample2
  .gitignore
  android/Samples/KMSample2/app/src/main/assets/models/example.ta.wordlist/example.ta.wordlist.model.js
  android/Samples/KMSample2/app/src/main/assets/models/example.ta.wordlist/kmp.json
  android/Samples/KMSample2/app/src/main/java/com/keyman/kmsample2/SystemKeyboard.java
  android/history.md
Labels: android/, android/samples/, cherry-pick, enhancement, stable

#3171 fix(common): adds package-lock.json for gosh package
  resources/gosh/package-lock.json
Labels: bug, common/, common/resources/, fix

#3172 auto: increment master version to 14.0.82
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  web/package-lock.json
  web/package.json
Labels: auto

#3173 fix(ios): fixes build warning on Error coersion, fixes logged error for intermediate embedded state
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadManager.swift
  web/source/osk/visualKeyboard.ts
Labels: bug, ios/, ios/engine/, web/engine/

#3169 fix(linux): Don't fail (un-)install if running multiple ibus
  linux/ibus-keyman/debian/postinst
  linux/ibus-keyman/debian/postrm
Labels: fix, linux/

#3168 chore(linux): Update maintainer in package metadata
  common/core/desktop/debian/control
  common/core/desktop/debian/copyright
  linux/ibus-keyman/debian/control
  linux/ibus-keyman/debian/copyright
  linux/ibus-kmfl/debian/control
  linux/keyman-config/debian/control
  linux/keyman-config/debian/copyright
  linux/kmflcomp/debian/control
  linux/kmflcomp/debian/copyright
  linux/libkmfl/debian/control
Labels: linux/, modification

#3176 feat(linux): Improve appstream metadata
  linux/ibus-keyman/debian/com.github.ibus.ibus-keyman.metainfo.xml
  linux/ibus-kmfl/debian/com.github.ibus.ibus-kmfl.metainfo.xml
  linux/keyman-config/debian/com.keyman.config.appdata.xml
  linux/keyman-config/debian/control
Labels: enhancement, linux/

#3177 auto: increment master version to 14.0.83
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  web/package-lock.json
  web/package.json
Labels: auto

#3162 change(ios): Selective Sentry uploads
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/kmbuild.sh
  resources/build/build-utils.sh
Labels: ios/, ios/app/, ios/engine/, modification

#3182 fix(common/models/types): fixes models-types build script, sets std header
  common/models/types/build.sh
Labels: bug, common/, common/models/, common/models/types/

#3185 auto: increment master version to 14.0.84
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  web/package-lock.json
  web/package.json
Labels: auto

#3163 change(web): Selective Sentry uploads
  web/source/build.sh
Labels: modification, web/, web/engine/

#3179 refactor(ios/engine): Polishes HTTPDownloader to prep for unit testing
  ios/engine/KMEI/KeymanEngine/Classes/HTTPDownloader.swift
Labels: ios/, ios/engine/, modification

#3180 feat(ios/engine): HTTPDownloader unit testing
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/HTTPDownloadRequest.swift
  ios/engine/KMEI/KeymanEngine/Classes/HTTPDownloader.swift
  ios/engine/KMEI/KeymanEngineTests/HTTPDownloaderTests.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/Downloading/ExpectationDownloaderDelegate.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/Downloading/URLSessionDownloadTaskMock.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/Downloading/URLSessionMock.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/TestUtils.swift
Labels: enhancement, ios/, ios/engine/

#3184 fix(linux): Disable buttons if no keyboard installed
  linux/keyman-config/keyman_config/keyboard_details.py
  linux/keyman-config/keyman_config/view_installed.py
Labels: enhancement, fix, linux/, linux/config/

#3186 change(ios/engine): Removes unused, deprecated JS/JSON-based adhoc install code
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/KeyboardAPICall.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadManager.swift
  ios/engine/KMEI/KeymanEngineDemo/MainViewController.swift
  ios/keyman/Keyman/Keyman/MainViewController.swift
Labels: ios/, ios/engine/, modification

#3166 change(developer): packs ModelCompiler via npm pack, 7-zip
  developer/js/.npmignore
  windows/src/developer/inst/copydev.in
Labels: developer/, developer/compilers/, modification

#3071 change(common/lmlayer): move joiner from LMLayer to model compiler
  common/models/templates/package.json
  common/predictive-text/worker/word_breaking/join-word-breaker-decorator.ts
  developer/js/.npmignore
  developer/js/build.sh
  developer/js/package-lock.json
  developer/js/package.json
  developer/js/source/lexical-model-compiler/join-word-breaker-decorator.ts
  developer/js/source/lexical-model-compiler/lexical-model-compiler.ts
  developer/js/tests/helpers/index.ts
  developer/js/tests/test-join-word-breaker.ts
  developer/js/tsconfig.json
  lerna.json
  resources/shellHelperFunctions.sh
  windows/src/developer/inst/copydev.in
Labels: common/models/, developer/, developer/compilers/, enhancement, modification, web/

#3189 auto: increment master version to 14.0.85
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  web/package-lock.json
  web/package.json
Labels: auto

#3187 modify(android/engine): Clean up naming for formatting QR code URL
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/QRCodeUtil.java
Labels: android/, android/engine/, modification

#3188 fix(android/engine): Fix generation of QR code
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/QRCodeUtil.java
  android/history.md
Labels: android/, android/engine/, bug, cherry-pick, stable

#3190 auto: increment master version to 14.0.86
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  web/package-lock.json
  web/package.json
Labels: auto
