Repository keymanapp/keyman, pull requests merged in 2020-11, with the labels that each got.

#3812 chore(common): improve build README.md
  resources/build/README.md
Labels: chore, common/, common/resources/

#3813 auto: increment master version to 14.0.175
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3808 feat(android/engine): Add check for associated model on ModelPickerActivity
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/LanguageSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudCatalogDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudCatalogDownloadReturns.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudLexicalModelMetaDataDownloadCallback.java
  android/KMEA/app/src/main/res/layout/progress_layout.xml
  android/KMEA/app/src/main/res/values/strings.xml
Labels: android/, android/app/, android/engine/

#3821 auto: increment master version to 14.0.176
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3819 fix(developer): remove obsolete NRSIAllTags
  resources/standards-data/alltags/alltags.txt
  resources/standards-data/alltags/readme.md
  windows/src/buildtools/build_standards_data/Keyman.Console.BuildStandardsData.pas
  windows/src/buildtools/build_standards_data/Keyman.System.BuildNRSIAllTags.pas
  windows/src/buildtools/build_standards_data/Makefile
  windows/src/buildtools/build_standards_data/build_standards_data.dpr
  windows/src/buildtools/build_standards_data/build_standards_data.dproj
  windows/src/buildtools/buildpkg/buildpkg.dpr
  windows/src/buildtools/buildpkg/buildpkg.dproj
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/developer/TIKE/Tike.dpr
  windows/src/developer/TIKE/Tike.dproj
  windows/src/developer/kmcomp/kmcomp.dpr
  windows/src/developer/kmcomp/kmcomp.dproj
  windows/src/developer/kmconvert/kmconvert.dpr
  windows/src/developer/kmconvert/kmconvert.dproj
  windows/src/engine/kmcomapi/kmcomapi.dpr
  windows/src/engine/kmcomapi/kmcomapi.dproj
  windows/src/global/delphi/general/Keyman.System.LanguageCodeUtils.pas
  windows/src/unit-tests/Makefile
  windows/src/unit-tests/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dpr
  windows/src/unit-tests/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dproj
  windows/src/unit-tests/kmx-file-languages/KMXFileLanguagesTestSuite.dpr
  windows/src/unit-tests/kmx-file-languages/KMXFileLanguagesTestSuite.dproj
  windows/src/unit-tests/standards-data/Keyman.Test.System.CanonicalLanguageCodeUtilsTest.pas
  windows/src/unit-tests/standards-data/Makefile
  windows/src/unit-tests/standards-data/standardsdata.dpr
  windows/src/unit-tests/standards-data/standardsdata.dproj
Labels: common/, common/resources/, developer/, developer/compilers/, developer/ide/, fix, windows/, windows/config/, windows/engine/

#3818 fix(developer): Incorrect script:language map
  windows/src/developer/TIKE/dialogs/languages/Keyman.Developer.UI.UfrmSelectBCP47Language.pas
Labels: developer/, developer/ide/, fix

#3823 fix(android/app): Remove network check on "Get Started" menu
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/GetStartedActivity.java
Labels: android/, android/app/

#3826 auto: increment master version to 14.0.177
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3816 fix(developer): support for notany() and context()
  windows/src/developer/TIKE/compile/CompileKeymanWeb.pas
  windows/src/developer/kmcmpdll/Compiler.cpp
  windows/src/developer/kmcmpdll/Compiler.rc
  windows/src/global/delphi/general/kmxfileconsts.pas
  windows/src/global/inc/Comperr.h
  windows/src/global/inc/Compiler.h
Labels: developer/, developer/ide/, fix, windows/

#3829 fix(developer): debug window inherits editor font
  windows/src/developer/TIKE/child/UfrmDebug.pas
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
Labels: developer/, developer/ide/, fix

#3838 auto: increment master version to 14.0.178
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3839 fix(developer): Remove IE dependency from Developer Setup
  windows/src/developer/setup/SetupStrings.pas
  windows/src/developer/setup/UfrmRun.pas
Labels: developer/, fix

#3844 auto: increment master version to 14.0.179
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3830 fix(windows): Import OSK wrong for European layouts
  windows/src/developer/kmconvert/Keyman.Developer.System.ImportKeyboardDLL.pas
Labels: developer/, fix

#3833 fix(windows): SizeOfImage header was wrong for dbg
  windows/src/buildtools/build_standards_data/build_standards_data.dproj
  windows/src/buildtools/buildpkg/Makefile
  windows/src/buildtools/buildpkg/buildpkg.dproj
  windows/src/buildtools/sentrytool/sentrytool.dproj
  windows/src/desktop/insthelp/Makefile
  windows/src/desktop/kmbrowserhost/Makefile
  windows/src/desktop/kmbrowserhost/kmbrowserhost.dproj
  windows/src/desktop/kmconfig/Makefile
  windows/src/desktop/kmconfig/kmconfig.dproj
  windows/src/desktop/kmshell/Makefile
  windows/src/desktop/setup/Makefile
  windows/src/desktop/setup/setup.dproj
  windows/src/developer/TIKE/Makefile
  windows/src/developer/kmanalyze/Makefile
  windows/src/developer/kmcomp/Makefile
  windows/src/developer/kmconvert/Makefile
  windows/src/developer/kmconvert/kmconvert.dproj
  windows/src/developer/setup/Makefile
  windows/src/engine/inst/insthelper/Makefile
  windows/src/engine/keyman/Makefile
  windows/src/engine/kmcomapi/Makefile
  windows/src/engine/kmcomapi/kmcomapi.dproj
  windows/src/engine/tsysinfo/Makefile
  windows/src/engine/tsysinfox64/Makefile
  windows/src/ext/sentry/test/Makefile
  windows/src/ext/sentry/test/SentryClientTest.dproj
  windows/src/ext/sentry/test/SentryClientVclTest.dproj
  windows/src/support/oskbulkrenderer/Makefile
  windows/src/support/oskbulkrenderer/oskbulkrenderer.dproj
  windows/src/support/unload_keyboards/unloadkeyboards.dproj
Labels: developer/, developer/compilers/, developer/ide/, fix, windows/, windows/config/, windows/engine/

#3834 chore(windows): symbol server support
  windows/src/Defines.mak
  windows/src/Header.mak
  windows/src/Target.mak
  windows/src/buildtools/importkeyboard/Makefile
  windows/src/desktop/insthelp/Makefile
  windows/src/desktop/kmbrowserhost/Makefile
  windows/src/desktop/kmconfig/Makefile
  windows/src/desktop/kmshell/Makefile
  windows/src/desktop/setup/Makefile
  windows/src/developer/TIKE/Makefile
  windows/src/developer/inst/Makefile
  windows/src/developer/kmanalyze/Makefile
  windows/src/developer/kmcmpdll/Makefile
  windows/src/developer/kmcomp/Makefile
  windows/src/developer/kmconvert/Makefile
  windows/src/developer/kmdecomp/Makefile
  windows/src/developer/samples/imsample/Makefile
  windows/src/developer/setup/Makefile
  windows/src/engine/inst/Makefile
  windows/src/engine/inst/insthelper/Makefile
  windows/src/engine/keyman/Makefile
  windows/src/engine/keyman32/Makefile
  windows/src/engine/keyman64/Makefile
  windows/src/engine/keymanmc/Makefile
  windows/src/engine/keymanx64/Makefile
  windows/src/engine/kmcomapi/Makefile
  windows/src/engine/kmtip/Makefile
  windows/src/engine/mcompile/Makefile
  windows/src/engine/tsysinfo/Makefile
  windows/src/engine/tsysinfox64/Makefile
  windows/src/global/Makefile
  windows/src/support/charident/Makefile
  windows/src/support/etl2log/Makefile
  windows/src/support/km_yim/Makefile
  windows/src/support/kmkb0045/Makefile
  windows/src/support/oskbulkrenderer/Makefile
Labels: chore, developer/, developer/compilers/, developer/ide/, windows/, windows/config/, windows/engine/

#3842 fix(windows): sporadic 8087 control word corruption
  windows/src/ext/sentry/Sentry.Client.pas
Labels: fix, windows/

#3853 auto: increment master version to 14.0.180
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3854 fix(windows): makefile format error
  windows/src/Defines.mak
Labels: fix, windows/

#3856 auto: increment master version to 14.0.181
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3848 fix(common/core/web): fixes no-output logic check, arrow keys
  common/core/web/keyboard-processor/src/text/defaultOutput.ts
Labels: bug, common/, common/core/, common/core/web/, web/, web/engine/

#3859 fix(common/core/web): adds missing null-check
  common/core/web/keyboard-processor/src/text/keyboardProcessor.ts
Labels: bug, common/, common/core/, common/core/web/, fix

#3861 auto: increment master version to 14.0.182
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3857 fix(web/engine): blocks key previews for blank/hidden keys
  web/source/osk/visualKeyboard.ts
Labels: bug, fix, web/, web/engine/

#3860 fix(common/core/web): Fixes engine-level context tests, adds notany cases
  common/core/web/keyboard-processor/src/text/kbdInterface.ts
  common/core/web/keyboard-processor/test.sh
  common/core/web/keyboard-processor/tests/cases/engine/context.js
Labels: bug, common/, common/core/, common/core/web/, web/, web/engine/

#3870 auto: increment master version to 14.0.183
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3866 feat(windows): major version upgrades
  windows/src/desktop/kmshell/main/OnlineUpdateCheck.pas
  windows/src/desktop/setup/Keyman.Setup.System.OnlineResourceCheck.pas
Labels: fix, windows/, windows/config/

#3868 feat(developer): support major version upgrades
  windows/src/developer/TIKE/update/Keyman.Developer.UI.TikeOnlineUpdateCheck.pas
  windows/src/developer/setup/UfrmRun.pas
  windows/src/global/delphi/general/Upload_Settings.pas
Labels: developer/, developer/ide/, feat, windows/

#3871 Delphi version requirement note
  windows/src/README.md
Labels: windows/

#3851 feat(web/engine): updates osk font, adds layout codes for new glyphs
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/build.sh
  web/source/osk/visualKeyboard.ts
  web/source/resources/osk/keymanweb-osk.eot
  web/source/resources/osk/keymanweb-osk.ttf
  web/source/resources/osk/keymanweb-osk.woff
  web/source/resources/osk/kmwosk.css
Labels: android/, android/engine/, enhancement, feat, web/, web/engine/

#3847 fix(common/core/web): meta key handling
  common/core/desktop/src/kmx/kmx_file.h
  common/core/web/keyboard-processor/src/text/codes.ts
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMBinaryFileFormat.h
  web/source/dom/preProcessor.ts
  windows/src/global/inc/Compiler.h
Labels: bug, common/, common/core/, common/core/desktop/, common/core/web/, mac/, mac/engine/, web/, web/engine/, windows/

#3877 auto: increment master version to 14.0.184
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3770 feat(developer/compilers): compiler-side groundwork for applyCasing
  common/models/templates/src/common.ts
  common/models/templates/src/trie-model.ts
  common/models/types/index.d.ts
  developer/js/source/lexical-model-compiler/build-trie.ts
  developer/js/source/lexical-model-compiler/lexical-model-compiler.ts
  developer/js/source/lexical-model-compiler/lexical-model.ts
  developer/js/source/lexical-model-compiler/model-defaults.ts
  developer/js/source/lexical-model-compiler/model-definitions.ts
  developer/js/tests/test-compile-model-with-pseudoclosure.ts
  developer/js/tests/test-default-apply-case.ts
  developer/js/tests/test-default-search-term-to-key.ts
  developer/js/tests/test-model-definitions.ts
Labels: common/, common/models/, common/models/templates/, common/models/types/, developer/, developer/compilers/, enhancement, feat

#3824 feat(common/models): use of applyCasing for suggestions
  common/models/types/index.d.ts
  common/predictive-text/unit_tests/headless/worker-model-compositor.js
  common/predictive-text/worker/index.ts
  common/predictive-text/worker/model-compositor.ts
Labels: common/, common/models/, common/models/types/, enhancement, feat, web/

#3845 feat(common/models): casing for suggestions with partial replacement
  common/models/types/index.d.ts
  common/predictive-text/unit_tests/headless/worker-model-compositor.js
  common/predictive-text/worker/model-compositor.ts
Labels: chore, common/, common/models/, common/models/types/, modification

#3888 fix(common/core/web): Add environment to web Sentry reports
  common/core/web/tools/sentry-manager/src/index.ts
  resources/web-environment/build.sh
Labels: chore, common/, common/core/, common/core/web/, common/resources/

#3867 fix(android/engine): Update in-app TextView context on pageLoaded
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMTextView.java
Labels: android/, android/engine/, bug

#3890 auto: increment master version to 14.0.185
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3858 feat(web/engine): allows touch aliasing away from blank keys
  web/source/osk/visualKeyboard.ts
Labels: enhancement, feat, web/, web/engine/

#3876 chore(linux): Additionally build packages for Ubuntu 20.10 (Groovy)
  linux/.pbuilderrc
  linux/Jenkinsfile
  linux/scripts/cow.sh
  linux/scripts/launchpad.sh
Labels: chore, linux/

#3686 fix(linux): Remove version.sh and get tier/version from .md files
  linux/keyman-config/keyman_config/__init__.py
  linux/keyman-config/keyman_config/version.py.in
  linux/keyman-config/km-config
  linux/scripts/dist.sh
  linux/scripts/launchpad.sh
  linux/scripts/reconf.sh
  linux/scripts/version.sh
Labels: linux/, linux/config/, modification

#3899 fix(android/samples): Remove use of version.gradle in Sample projects
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample2/app/build.gradle
Labels: android/, android/samples/, bug

#3825 feat(android/engine): Add embedded KeymanWeb engine crash reporting to Sentry
  android/.gitignore
  android/KMAPro/build.gradle
  android/KMAPro/build.sh
  android/KMAPro/kMAPro/build.gradle
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeymanSettingsActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeymanSettingsFragment.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMEA/app/build.gradle
  android/KMEA/app/src/main/assets/keyboard.html
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/KMLog.java
  android/KMEA/build.sh
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/tools/sentry-manager/src/index.ts
Labels: android/, android/app/, android/engine/, common/, common/core/, common/core/web/, feat

#3903 auto: increment master version to 14.0.186
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3886 feat(mac): Sentry support
  mac/Keyman4Mac/Keyman4Mac/Info.plist
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/Info.plist
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/Keyman4MacIM/Podfile
  mac/Keyman4MacIM/Podfile.lock
  mac/KeymanEngine4Mac/KeymanEngine4Mac/Info.plist
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/build.sh
Labels: feat, mac/, mac/engine/

#3891 chore(mac): rewrite plists after build
  mac/build.sh
Labels: chore, mac/, mac/engine/

#3892 fix(mac): add icon for Keyman.app
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/Images.xcassets/AppIcon.appiconset/Contents.json
  mac/Keyman4MacIM/Keyman4MacIM/Images.xcassets/AppIcon.appiconset/icon_128x128.png
  mac/Keyman4MacIM/Keyman4MacIM/Images.xcassets/AppIcon.appiconset/icon_128x128@2x.png
  mac/Keyman4MacIM/Keyman4MacIM/Images.xcassets/AppIcon.appiconset/icon_16x16.png
  mac/Keyman4MacIM/Keyman4MacIM/Images.xcassets/AppIcon.appiconset/icon_16x16@2x.png
  mac/Keyman4MacIM/Keyman4MacIM/Images.xcassets/AppIcon.appiconset/icon_256x256.png
  mac/Keyman4MacIM/Keyman4MacIM/Images.xcassets/AppIcon.appiconset/icon_256x256@2x.png
  mac/Keyman4MacIM/Keyman4MacIM/Images.xcassets/AppIcon.appiconset/icon_32x32.png
  mac/Keyman4MacIM/Keyman4MacIM/Images.xcassets/AppIcon.appiconset/icon_32x32@2x.png
  mac/Keyman4MacIM/Keyman4MacIM/Images.xcassets/AppIcon.appiconset/icon_512x512.png
  mac/Keyman4MacIM/Keyman4MacIM/Images.xcassets/AppIcon.appiconset/icon_512x512@2x.png
Labels: fix, mac/, mac/engine/

#3893 fix(mac): codesign resilience
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/build.sh
Labels: fix, mac/, mac/engine/

#3904 fix(mac): support page and copyright
  mac/Keyman4Mac/Keyman4Mac/Info.plist
  mac/Keyman4MacIM/Keyman4MacIM/Info.plist
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/KMAboutWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/KMConfigurationWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMDownloadKeyboard/KMDownloadKBWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/KMInfoWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/Info.plist
  mac/build.sh
Labels: fix, mac/, mac/engine/

#3905 fix(android/oem): Update Sentry library in FV app
  oem/firstvoices/android/app/build.gradle
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/MainActivity.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/SystemKeyboard.java
Labels: android/, bug, oem/, oem/fv/, oem/fv/android/

#3874 fix(android/app): Install keyboard packages w/o welcome.htm
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/WebViewFragment.java
Labels: android/, android/app/, bug

#3909 fix(web/engine): fixes OSK rotation
  android/KMEA/app/src/main/assets/keyboard.html
  common/core/web/keyboard-processor/src/keyboards/keyboard.ts
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/keyboard.html
  web/source/keyboards/kmwkeyboards.ts
  web/source/kmwrotation.ts
Labels: android/, android/engine/, bug, common/, common/core/, common/core/web/, fix, ios/, ios/engine/, web/, web/engine/

#3887 feat(common/core/web): integrated suggestion casing tests
  common/core/web/input-processor/tests/cases/languageProcessor.js
  common/models/templates/src/trie-model.ts
  common/predictive-text/unit_tests/headless/worker-model-compositor.js
  common/predictive-text/worker/model-compositor.ts
Labels: common/, common/core/, common/core/web/, common/models/, common/models/templates/

#3911 fix(ios/engine): changes image-banner display logic
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
Labels: ios/, ios/engine/

#3916 auto: increment master version to 14.0.187
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3908 chore(mac): use new keyboard install page
  mac/Keyman4MacIM/Keyman4MacIM/KMDownloadKeyboard/KMDownloadKBWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
Labels: chore, mac/, mac/engine/

#3884 fix(ios/engine): allows some language-code incomplete matches during package installation
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/AssociatingPackageInstaller.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/KeyboardSearchViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceFileManager.swift
  ios/engine/KMEI/KeymanEngineTests/AssociatingPackageInstallerTests.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/Keyboards.swift
Labels: ios/, ios/engine/

#3889 feat(ios/engine): launches external links outside the app
  ios/engine/KMEI/KeymanEngine/Classes/PackageWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/KeyboardSearchViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/UniversalLinks.swift
  ios/keyman/Keyman/Keyman/AppDelegate.swift
Labels: enhancement, feat, ios/, ios/app/, ios/engine/

#3913 chore(linux): Fix launchpad build (closes #3875)
  .gitignore
  common/core/desktop/debian/watch
  linux/ibus-keyman/debian/watch
  linux/ibus-kmfl/debian/watch
  linux/keyman-config/debian/watch
  linux/kmflcomp/debian/watch
  linux/libkmfl/debian/watch
  linux/scripts/launchpad.sh
  linux/scripts/watch.in
Labels: chore, common/, common/core/, common/core/desktop/, linux/, linux/config/, linux/engine/

#3914 fix(linux): Don't fail installation if restarting ibus fails (v13)
  linux/ibus-keyman/debian/postinst
  linux/ibus-keyman/debian/postrm
Labels: bug, linux/, linux/engine/

#3929 auto: increment master version to 14.0.188
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3880 Update README.md
  mac/README.md
Labels: chore, mac/, mac/engine/

#3921 fix(windows): sentry range check error
  windows/src/ext/sentry/Sentry.Client.pas
Labels: fix, windows/

#3926 chore(common): Clean up commit types in HISTORY.md
  HISTORY.md
Labels: chore, common/, common/resources/

#3927 fix(android, ios): adds null guard to refreshLayouts call
  android/KMEA/app/src/main/assets/keyboard.html
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/keyboard.html
Labels: android/, android/engine/, bug, fix, ios/, ios/engine/

#3925 fix(ios/engine): banner inconsistency
  ios/engine/KMEI/KeymanEngine/Classes/InputViewController.swift
  web/source/osk/visualKeyboard.ts
Labels: bug, fix, ios/, ios/engine/, web/, web/engine/

#3937 chore(web): adds LTREnter, LTRBkSp, and associated layout mapping
  web/source/osk/visualKeyboard.ts
Labels: chore, web/, web/engine/

#3941 fix(web): adds null guards for two Sentry errors
  web/source/kmwrotation.ts
  web/source/osk/preProcessor.ts
Labels: bug, fix, web/, web/engine/

#3942 chore(common): additional cleanup to HISTORY.md
  HISTORY.md
Labels: chore

#3943 auto: increment master version to 14.0.189
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3932 fix(mac): re-sign files post plist update
  mac/Keyman4MacIM/Keyman.Debug.entitlements
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/project.pbxproj
  mac/build.sh
Labels: fix, mac/, mac/engine/

#3933 fix(mac/engine): wrong variable type
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
Labels: fix, mac/, mac/engine/

#3924 feat(mac): Add support for "ISO" keyboard layouts
  mac/Keyman4Mac/Keyman4Mac/AppDelegate.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMBinaryFileFormat.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/MacVKCodes.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/OSKView.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/WindowsVKCodes.h
Labels: feat, mac/, mac/engine/

#3944 fix(mac): turn on legacy mode for Java apps
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
Labels: fix, mac/, mac/engine/

#3878 feat(developer): add new touch layout special tags
  web/source/osk/visualKeyboard.ts
  windows/src/developer/TIKE/compile/CompileKeymanWeb.pas
  windows/src/developer/TIKE/xml/layoutbuilder/builder.css
  windows/src/developer/TIKE/xml/layoutbuilder/builder.js
  windows/src/developer/TIKE/xml/layoutbuilder/keymanweb-osk.ttf
  windows/src/global/delphi/general/CompileErrorCodes.pas
  windows/src/global/inc/Comperr.h
  windows/src/test/integration-tests/keymanapi/test/keymanweb-osk.ttf
  windows/src/test/unit-tests/kmcomp/test.bat
  windows/src/test/unit-tests/kmcomp/test_touchlayout_14_1.keyman-touch-layout
  windows/src/test/unit-tests/kmcomp/test_touchlayout_14_1.kmn
  windows/src/test/unit-tests/kmcomp/test_touchlayout_14_2.keyman-touch-layout
  windows/src/test/unit-tests/kmcomp/test_touchlayout_14_2.kmn
  windows/src/test/unit-tests/kmcomp/test_touchlayout_14_3.keyman-touch-layout
  windows/src/test/unit-tests/kmcomp/test_touchlayout_14_3.kmn
  windows/src/test/unit-tests/kmcomp/tests.kpj
Labels: developer/, developer/ide/, feat, web/, web/engine/, windows/

#3948 fix(web): default attachment behavior
  web/source/dom/domManager.ts
Labels: fix, web/, web/engine/

#3946 fix(mac): arrow keys now reset context
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
Labels: fix, mac/, mac/engine/

#3949 feat(mac): user-controllable legacy app list
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
Labels: feat, mac/, mac/engine/

#3952 chore(mac): fix iso section key code
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/MacVKCodes.h
Labels: chore, mac/, mac/engine/

#3947 chore(common/resources): Part 3 of additional HISTORY.md cleanup
  HISTORY.md
Labels: chore, common/, common/resources/

#3956 auto: increment master version to 14.0.190
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3923 fix(android/oem): Check keyboard selected before allowing setup
  oem/firstvoices/android/.editorconfig
  oem/firstvoices/android/app/src/main/assets/setup/android-instructions.css
  oem/firstvoices/android/app/src/main/assets/setup/main.html
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/MainActivity.java
Labels: android/, bug, oem/, oem/fv/, oem/fv/android/

#3957 chore(common): fixup missing history
  HISTORY.md
  resources/build/version/src/fixupHistory.ts
Labels: chore, common/, common/resources/

#3955 chore(linux): Fix launchpad script (v13)
  linux/scripts/launchpad.sh
Labels: chore, linux/, linux/config/, stable

#3968 auto: increment master version to 14.0.191
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3959 fix(mac): improve robustness of altool call
  mac/build.sh
Labels: fix, mac/, mac/engine/

#3961 fix(mac): Handle duplicate filenames for packages
  mac/Keyman4MacIM/Keyman4MacIM/KMPackage.m
Labels: fix, mac/, mac/engine/

#3974 chore(common/resources): Document keeping scopes in sync
  resources/scopes/README.md
Labels: chore, common/, common/resources/

#3897 fix(common/models): proper RTL quote ordering
  common/models/templates/src/quote-behavior.ts
  common/models/templates/test/test-quote-behavior.js
Labels: bug, common/, common/models/, common/models/templates/

#3976 chore(mac): englishspanish test keyboard
  mac/test/EnglishSpanish/EnglishSpanish.kmn
  mac/test/EnglishSpanish/EnglishSpanish.kmp
  mac/test/EnglishSpanish/EnglishSpanish.kmx
  mac/test/EnglishSpanish/EnglishSpanish.kps
  mac/test/EnglishSpanish/README.md
Labels: chore, mac/, mac/engine/

#3977 chore(mac/resources): Catch up mac history for 13.0 releases
  mac/history.md
Labels: chore, mac/, mac/resources/

#3964 fix(android/engine,android/app) Notify when invalid keyboard package fails to install
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
Labels: android/, android/app/, android/engine/, bug

#3978 chore(windows): cleanup unused variable
  windows/src/desktop/setup/UfrmRunDesktop.pas
Labels: chore, windows/, windows/config/

#3988 auto: increment master version to 14.0.192
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3983 chore(linux/resources): Cleanup formatting in history.md
  linux/history.md
Labels: chore, linux/, linux/resources/

#3990 auto: increment master version to 14.0.193
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3999 chore: refresh github templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: chore

#4027 auto: increment master version to 14.0.194
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/
