Repository keymanapp/keyman, pull requests merged in 2020-07, with the labels that each got.

#3297 fix(android): Resize PackageActivity title text
  android/KMAPro/kMAPro/src/main/res/values/dimens.xml
Labels: android/, android/app/, android/engine/

#3305 auto: increment master version to 14.0.105
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3300 feat(android): Download default resources at build time
  android/.gitignore
  android/KMAPro/build.sh
  android/KMAPro/kMAPro/src/main/assets/nrc.en.mtnt.model.kmp
  android/KMAPro/kMAPro/src/main/assets/sil_euro_latin.kmp
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/Keyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/KeyboardController.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/LexicalModel.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/KMManagerTest.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/view/FunctionalTestHelper.java
  android/KMEA/build.sh
  android/README.md
  android/build.sh
  resources/build/build-download-resources.sh
  resources/build/build-utils.sh
Labels: android/, android/app/, android/engine/, common/, common/resources/, feat

#3308 fix(android/engine): Fix unbound variable in build script
  android/KMEA/build.sh
Labels: android/, android/engine/, bug

#3312 auto: increment master version to 14.0.106
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3307 fix(android/app) Download associated dictionary when installing cloud keyboard package
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
Labels: android/, android/app/, android/engine/, bug

#3314 auto: increment master version to 14.0.107
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3319 feat(android): Add additional info on installed keyboards exceptions
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/KeyboardController.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/KMLog.java
Labels: android/, android/engine/, feat

#3324 auto: increment master version to 14.0.108
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3321 refactor(windows): PackagesOnly parameter
  windows/src/desktop/setup/RunTools.pas
  windows/src/desktop/setup/UfrmRunDesktop.pas
  windows/src/desktop/setup/bootstrapmain.pas
Labels: refactor, windows/, windows/config/

#3320 chore(windows): code cleanup
  windows/src/desktop/setup/Keyman.Setup.System.InstallInfo.pas
  windows/src/desktop/setup/Keyman.Setup.System.OnlineResourceCheck.pas
  windows/src/desktop/setup/Keyman.Setup.System.ResourceDownloader.pas
  windows/src/desktop/setup/RunTools.pas
  windows/src/desktop/setup/UfrmRunDesktop.pas
  windows/src/desktop/setup/bootstrapmain.pas
Labels: chore, windows/, windows/config/

#3317 chore(windows): update setup i18n
  windows/src/desktop/setup/Keyman.Setup.System.InstallInfo.pas
  windows/src/desktop/setup/Keyman.Setup.System.OnlineResourceCheck.pas
  windows/src/desktop/setup/Keyman.Setup.System.ResourceDownloader.pas
  windows/src/desktop/setup/RunTools.pas
  windows/src/desktop/setup/SetupStrings.pas
  windows/src/desktop/setup/TntDialogHelp.pas
  windows/src/desktop/setup/UfrmInstallOptions.dfm
  windows/src/desktop/setup/UfrmInstallOptions.pas
  windows/src/desktop/setup/UfrmRunDesktop.dfm
  windows/src/desktop/setup/UfrmRunDesktop.pas
  windows/src/desktop/setup/bootstrapmain.pas
  windows/src/desktop/setup/keyman-title.jpg
  windows/src/desktop/setup/logo.png
  windows/src/global/delphi/general/KeymanVersion.pas
Labels: chore, windows/, windows/config/

#3316 chore: Cleanup logging in Windows Setup
  windows/src/desktop/setup/Keyman.Setup.System.InstallInfo.pas
  windows/src/desktop/setup/Keyman.Setup.System.OnlineResourceCheck.pas
  windows/src/desktop/setup/Keyman.Setup.System.ResourceDownloader.pas
  windows/src/desktop/setup/RunTools.pas
  windows/src/desktop/setup/SetupStrings.pas
  windows/src/desktop/setup/TntDialogHelp.pas
  windows/src/desktop/setup/UfrmInstallOptions.dfm
  windows/src/desktop/setup/UfrmInstallOptions.pas
  windows/src/desktop/setup/UfrmRunDesktop.dfm
  windows/src/desktop/setup/UfrmRunDesktop.pas
  windows/src/desktop/setup/bootstrapmain.pas
  windows/src/desktop/setup/keyman-title.jpg
  windows/src/desktop/setup/logo.png
  windows/src/desktop/setup/setup.dpr
  windows/src/desktop/setup/setup.dproj
  windows/src/global/delphi/general/KeymanVersion.pas
Labels: chore, windows/, windows/config/

#3315 chore: cleanup global ExtPath
  windows/src/desktop/setup/Keyman.Setup.System.InstallInfo.pas
  windows/src/desktop/setup/Keyman.Setup.System.OnlineResourceCheck.pas
  windows/src/desktop/setup/Keyman.Setup.System.ResourceDownloader.pas
  windows/src/desktop/setup/RunTools.pas
  windows/src/desktop/setup/SetupStrings.pas
  windows/src/desktop/setup/TntDialogHelp.pas
  windows/src/desktop/setup/UfrmInstallOptions.dfm
  windows/src/desktop/setup/UfrmInstallOptions.pas
  windows/src/desktop/setup/UfrmRunDesktop.dfm
  windows/src/desktop/setup/UfrmRunDesktop.pas
  windows/src/desktop/setup/bootstrapmain.pas
  windows/src/desktop/setup/keyman-title.jpg
  windows/src/desktop/setup/logo.png
  windows/src/desktop/setup/setup.dpr
  windows/src/desktop/setup/setup.dproj
  windows/src/developer/setup/bootstrapmain.pas
  windows/src/global/delphi/general/KeymanVersion.pas
  windows/src/global/delphi/setup/SFX.pas
Labels: chore, developer/, windows/, windows/config/

#3304 feat(windows): Keyman Setup online bootstrap
  windows/src/.gitignore
  windows/src/desktop/inst/.gitignore
  windows/src/desktop/kmshell/install/Keyman.Configuration.UI.MitigationForWin10_1803.pas
  windows/src/desktop/kmshell/install/UfrmInstallKeyboard.pas
  windows/src/desktop/kmshell/kmshell.res
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/desktop/setup/Keyman.Setup.System.InstallInfo.pas
  windows/src/desktop/setup/Keyman.Setup.System.OnlineResourceCheck.pas
  windows/src/desktop/setup/Keyman.Setup.System.ResourceDownloader.pas
  windows/src/desktop/setup/MsiPackageCode.pas
  windows/src/desktop/setup/RunTools.pas
  windows/src/desktop/setup/SetupStrings.pas
  windows/src/desktop/setup/TntDialogHelp.pas
  windows/src/desktop/setup/UfrmDownloadProgress.dfm
  windows/src/desktop/setup/UfrmDownloadProgress.pas
  windows/src/desktop/setup/UfrmInstallOptions.dfm
  windows/src/desktop/setup/UfrmInstallOptions.pas
  windows/src/desktop/setup/UfrmRunDesktop.dfm
  windows/src/desktop/setup/UfrmRunDesktop.pas
  windows/src/desktop/setup/bootstrapmain.pas
  windows/src/desktop/setup/keyman-title.jpg
  windows/src/desktop/setup/logo.png
  windows/src/desktop/setup/setup.dpr
  windows/src/desktop/setup/setup.dproj
  windows/src/developer/setup/bootstrapmain.pas
  windows/src/engine/kmcomapi/com/keyboards/keymankeyboardfile.pas
  windows/src/engine/kmcomapi/com/keyboards/keymankeyboardsinstalled.pas
  windows/src/engine/kmcomapi/com/packages/keymanpackagefile.pas
  windows/src/engine/kmcomapi/com/packages/keymanpackagesinstalled.pas
  windows/src/engine/kmcomapi/keymanapi_TLB.pas
  windows/src/engine/kmcomapi/kmcomapi.dpr
  windows/src/engine/kmcomapi/kmcomapi.ridl
  windows/src/engine/kmcomapi/processes/keyboard/kpinstallkeyboard.pas
  windows/src/engine/kmcomapi/processes/package/kpinstallpackage.pas
  windows/src/engine/tsysinfox64/tsysinfox64.dproj
  windows/src/global/delphi/general/Keyman.System.UpdateCheckResponse.pas
  windows/src/global/delphi/general/KeymanVersion.pas
  windows/src/global/delphi/general/PackageInfo.pas
  windows/src/global/delphi/general/Upload_Settings.pas
  windows/src/global/delphi/general/VersionInfo.pas
  windows/src/global/delphi/setup/SFX.pas
Labels: developer/, feat, windows/, windows/config/, windows/engine/

#3322 feat(android): Use build-download-resources.sh for KMApro and FV apps
  android/KMAPro/build.sh
  oem/firstvoices/android/app/src/main/assets/sil_euro_latin.kmp
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/FVShared.java
  oem/firstvoices/android/build.sh
  resources/build/build-download-resources.sh
Labels: android/, android/app/, common/, common/resources/, oem/, oem/fv/, oem/fv/android/

#3299 refactor(ios/engine): Centralized package download utility function
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/HTTPDownloader.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanPackage.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadQueue.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceFileManager.swift
  ios/engine/KMEI/KeymanEngineTests/HTTPDownloaderTests.swift
  ios/engine/KMEI/KeymanEngineTests/ResourceDownloadManagerTests.swift
  ios/engine/KMEI/KeymanEngineTests/ResourceDownloadQueueTests.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/Downloading/ExpectationDownloaderDelegate.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/Downloading/URLSessionDownloadTaskMock.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/Downloading/URLSessionMock.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/TestUtils.swift
Labels: ios/, ios/engine/, modification

#3323 fix(android/oem): Add a fallback keyboard to FV Android app
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/Keyboard.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/view/FunctionalTestHelper.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/MainActivity.java
Labels: android/, android/app/, android/engine/, oem/, oem/fv/, oem/fv/android/

#3330 auto: increment master version to 14.0.109
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3327 refactor(ios/engine): lexical model query & download rework
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/APILexicalModelRepository.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageLMDetailViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LexicalModelPickerViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Queries/Queries+LexicalModel.swift
  ios/engine/KMEI/KeymanEngine/Classes/Queries/Queries+PackageVersion.swift
  ios/engine/KMEI/KeymanEngine/Classes/Queries/Queries.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/InstalledLanguagesViewController.swift
  ios/engine/KMEI/KeymanEngineTests/QueryModelTests.swift
  ios/engine/KMEI/KeymanEngineTests/QueryPackageVersionTests.swift
  ios/engine/KMEI/KeymanEngineTests/ResourceDownloadManagerTests.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/Queries.swift
  ios/engine/KMEI/KeymanEngineTests/resources/Queries.bundle/model-case-en.json
  ios/engine/KMEI/KeymanEngineTests/resources/Queries.bundle/package-version-case-mtnt.json
  ios/keyman/Keyman/Keyman/MainViewController.swift
Labels: ios/, ios/app/, ios/engine/, modification

#3333 refactor(ios/engine): hashable package keys
  ios/engine/KMEI/KeymanEngine/Classes/KeymanPackage.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/LanguageResource.swift
  ios/engine/KMEI/KeymanEngine/Classes/Queries/Queries+PackageVersion.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadManager.swift
  ios/engine/KMEI/KeymanEngineTests/QueryPackageVersionTests.swift
Labels: ios/, ios/engine/, modification

#3334 fix(ios/engine): version equality
  ios/engine/KMEI/KeymanEngine/Classes/Model/Version.swift
  ios/engine/KMEI/KeymanEngineTests/VersionTests.swift
Labels: bug, ios/, ios/engine/

#3291 refactor(linux): make some methods protected
  linux/keyman-config/keyman_config/downloadkeyboard.py
Labels: linux/, linux/config/

#3326 feat(windows): New Keyboard Search and Download
  windows/src/desktop/kmshell/install/DownloadLocale.pas
  windows/src/desktop/kmshell/install/UfrmInstallKeyboard.pas
  windows/src/desktop/kmshell/install/UfrmInstallKeyboardFromWeb.pas
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/kmshell/kmshell.res
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/global/delphi/general/Upload_Settings.pas
Labels: developer/, developer/compilers/, feat, windows/, windows/config/

#3332 feat(android/oem): Add nrc.str.sencoten model and update SystemKeyboard from KMAPro
  android/KMAPro/build.sh
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
  oem/firstvoices/android/.gitignore
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/FVShared.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/MainActivity.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/SystemKeyboard.java
  oem/firstvoices/android/build.sh
Labels: android/, android/app/, android/engine/, oem/, oem/fv/, oem/fv/android/

#3349 auto: increment master version to 14.0.110
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3340 refactor(developer): hashmap-based wordlist compilation
  developer/js/source/lexical-model-compiler/build-trie.ts
  developer/js/tests/test-parse-wordlist.ts
Labels: developer/, developer/compilers/, modification

#3338 fix(developer/compilers): merge duplicate words during compile
  developer/js/source/lexical-model-compiler/build-trie.ts
  developer/js/tests/test-parse-wordlist.ts
Labels: developer/, developer/compilers/, fix

#3355 chore(linux): Add license details for kmpdetails.*
  linux/ibus-keyman/debian/copyright
Labels: chore, linux/, linux/engine/

#3356 auto: increment master version to 14.0.111
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3352 fix(developer): distributed model complier no longer relies on npm link
  developer/js/package-lock.json
  developer/js/package.json
  windows/src/developer/history.md
Labels: bug, developer/, developer/compilers/, stable

#3351 fix(developer/compilers): merge duplicate words during compile 🍒
  developer/js/source/lexical-model-compiler/build-trie.ts
  developer/js/tests/test-parse-wordlist.ts
Labels: cherry-pick, developer/, developer/compilers/, fix, stable

#3302 fix(web): properly initializes transcription buffer cap constant 🍒
  android/history.md
  ios/history.md
  web/source/text/prediction/modelManager.ts
Labels: bug, cherry-pick, stable, web/, web/engine/

#3353 fix(android/engine): Update deprecated call to switch system keyboard for Android P
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
Labels: android/, android/engine/, modification

#3358 fix(android/engine): Update deprecated call to switch system keyboard for Android P 🍒-pick of #3353
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/history.md
Labels: android/app/, android/engine/, cherry-pick, stable

#3357 fix(ios): certificate details for FV Keyboards
  oem/firstvoices/ios/exportAppStore.plist
Labels: fix, ios/, oem/, oem/fv/, oem/fv/ios/, stable

#3359 auto: increment master version to 14.0.112
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3335 refactor(ios/engine): package-version query caching + package state properties
  ios/engine/KMEI/KeymanEngine/Classes/Constants.swift
  ios/engine/KMEI/KeymanEngine/Classes/Extension/UserDefaults+Types.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanPackage.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/LanguageResource.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceFileManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/Storage.swift
  ios/engine/KMEI/KeymanEngineTests/KeymanPackageTests.swift
  ios/engine/KMEI/KeymanEngineTests/MigrationTests.swift
  ios/engine/KMEI/KeymanEngineTests/ResourceDownloadManagerTests.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/Queries.swift
  ios/engine/KMEI/KeymanEngineTests/resources/Queries.bundle/package-version-km-updated.json
  ios/engine/KMEI/KeymanEngineTests/resources/Queries.bundle/package-version-km.json
Labels: enhancement, ios/, ios/engine/, modification

#3341 refactor(ios/engine): keyboard downloads now retrieve KMPs
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadManager.swift
  ios/engine/KMEI/KeymanEngineTests/ResourceDownloadManagerTests.swift
Labels: ios/, ios/engine/, modification

#3342 refactor(ios/engine): download queue & download state detection cleanup
  ios/engine/KMEI/KeymanEngine/Classes/KeymanPackage.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageLMDetailViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadQueue.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceFileManager.swift
  ios/engine/KMEI/KeymanEngineTests/FileManagementTests.swift
  ios/engine/KMEI/KeymanEngineTests/KeymanPackageTests.swift
  ios/engine/KMEI/KeymanEngineTests/ResourceDownloadManagerTests.swift
  ios/engine/KMEI/KeymanEngineTests/ResourceDownloadQueueTests.swift
Labels: ios/, ios/engine/, modification

#3350 chore(developer): cleanup test constants
  developer/js/tests/test-parse-wordlist.ts
Labels: chore, developer/, developer/compilers/

#3371 feat(windows): disable defaults options when Keyman already installed
  windows/src/desktop/setup/UfrmInstallOptions.pas
Labels: feat, windows/, windows/config/

#3370 feat(windows): setup will retry if offline during initial install steps
  windows/src/desktop/setup/SetupStrings.pas
  windows/src/desktop/setup/TntDialogHelp.pas
  windows/src/desktop/setup/UfrmInstallOptions.pas
  windows/src/desktop/setup/bootstrapmain.pas
Labels: feat, windows/, windows/config/

#3369 feat(windows): setup select tier from filename or parameter
  windows/src/desktop/setup/Keyman.Setup.System.InstallInfo.pas
  windows/src/desktop/setup/Keyman.Setup.System.OnlineResourceCheck.pas
  windows/src/desktop/setup/SetupStrings.pas
  windows/src/desktop/setup/TntDialogHelp.pas
  windows/src/desktop/setup/UfrmInstallOptions.pas
  windows/src/desktop/setup/bootstrapmain.pas
  windows/src/unit-tests/windows-setup/Keyman.System.Test.InstallInfoTest.pas
Labels: feat, windows/, windows/config/

#3368 fix(windows): re-add license to setup
  windows/src/desktop/setup/Keyman.Setup.System.InstallInfo.pas
  windows/src/desktop/setup/Keyman.Setup.System.OnlineResourceCheck.pas
  windows/src/desktop/setup/SetupStrings.pas
  windows/src/desktop/setup/TntDialogHelp.pas
  windows/src/desktop/setup/UfrmHTML.dfm
  windows/src/desktop/setup/UfrmHTML.pas
  windows/src/desktop/setup/UfrmInstallOptions.pas
  windows/src/desktop/setup/UfrmRunDesktop.pas
  windows/src/desktop/setup/bootstrapmain.pas
  windows/src/desktop/setup/setup.dpr
  windows/src/desktop/setup/setup.dproj
  windows/src/global/delphi/general/Keyman.System.MITLicense.pas
  windows/src/unit-tests/windows-setup/Keyman.System.Test.InstallInfoTest.pas
Labels: fix, windows/, windows/config/

#3365 change(common/models/wordbreakers): update word boundary props to 13.0
  common/models/wordbreakers/src/default/data.ts
  common/models/wordbreakers/src/default/index.ts
Labels: common/, common/models/, common/models/wordbreakers/, enhancement

#3364 feat(linux): Use staging URLs for alpha version
  linux/keyman-config/keyman_config/__init__.py
  linux/keyman-config/keyman_config/downloadkeyboard.py
  linux/keyman-config/keyman_config/get_kmp.py
  linux/keyman-config/keyman_config/keyboard_details.py
  linux/keyman-config/keyman_config/version.py.in
  linux/keyman-config/km-package-install
  linux/scripts/reconf.sh
Labels: enhancement, linux/, linux/config/

#3362 refactor(ios/engine): update detection now based upon packages
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/KeymanPackage.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadManager.swift
  ios/engine/KMEI/KeymanEngineTests/ResourceUpdateTests.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/EngineStateBundler.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/Queries.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/Updates.swift
  ios/engine/KMEI/KeymanEngineTests/resources/Queries.bundle/package-version-post-migration.json
  ios/engine/KMEI/KeymanEngineTests/resources/khmer_angkor update-base.bundle/Library/Preferences/group.KM4I.plist
  ios/engine/KMEI/KeymanEngineTests/resources/khmer_angkor update-base.bundle/Library/keyman/keyboards/khmer_angkor/FONTLOG.txt
  ios/engine/KMEI/KeymanEngineTests/resources/khmer_angkor update-base.bundle/Library/keyman/keyboards/khmer_angkor/KAK_Documentation_EN.pdf
  ios/engine/KMEI/KeymanEngineTests/resources/khmer_angkor update-base.bundle/Library/keyman/keyboards/khmer_angkor/KAK_Documentation_KH.pdf
  ios/engine/KMEI/KeymanEngineTests/resources/khmer_angkor update-base.bundle/Library/keyman/keyboards/khmer_angkor/Mondulkiri-B.ttf
  ios/engine/KMEI/KeymanEngineTests/resources/khmer_angkor update-base.bundle/Library/keyman/keyboards/khmer_angkor/Mondulkiri-BI.ttf
  ios/engine/KMEI/KeymanEngineTests/resources/khmer_angkor update-base.bundle/Library/keyman/keyboards/khmer_angkor/Mondulkiri-I.ttf
  ios/engine/KMEI/KeymanEngineTests/resources/khmer_angkor update-base.bundle/Library/keyman/keyboards/khmer_angkor/Mondulkiri-R.ttf
  ios/engine/KMEI/KeymanEngineTests/resources/khmer_angkor update-base.bundle/Library/keyman/keyboards/khmer_angkor/OFL-FAQ.txt
  ios/engine/KMEI/KeymanEngineTests/resources/khmer_angkor update-base.bundle/Library/keyman/keyboards/khmer_angkor/OFL.txt
  ios/engine/KMEI/KeymanEngineTests/resources/khmer_angkor update-base.bundle/Library/keyman/keyboards/khmer_angkor/keyboard_layout.png
  ios/engine/KMEI/KeymanEngineTests/resources/khmer_angkor update-base.bundle/Library/keyman/keyboards/khmer_angkor/khmer_angkor.js
  ios/engine/KMEI/KeymanEngineTests/resources/khmer_angkor update-base.bundle/Library/keyman/keyboards/khmer_angkor/khmer_angkor.kmx
  ios/engine/KMEI/KeymanEngineTests/resources/khmer_angkor update-base.bundle/Library/keyman/keyboards/khmer_angkor/khmer_angkor.kvk
  ios/engine/KMEI/KeymanEngineTests/resources/khmer_angkor update-base.bundle/Library/keyman/keyboards/khmer_angkor/kmp.inf
  ios/engine/KMEI/KeymanEngineTests/resources/khmer_angkor update-base.bundle/Library/keyman/keyboards/khmer_angkor/kmp.json
  ios/engine/KMEI/KeymanEngineTests/resources/khmer_angkor update-base.bundle/Library/keyman/keyboards/khmer_angkor/welcome.htm
  ios/keyman/Keyman/Keyman/MainViewController.swift
Labels: ios/, ios/app/, ios/engine/, modification

#3363 refactor(ios/engine): package download notifications
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageDetailViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageLMDetailViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LexicalModelPickerViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Notification/Notifications.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadQueue.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/InstalledLanguagesViewController.swift
  ios/engine/KMEI/KeymanEngineTests/FileManagementTests.swift
  ios/engine/KMEI/KeymanEngineTests/ResourceDownloadManagerTests.swift
Labels: ios/, ios/engine/, modification

#3372 refactor(ios/engine): package-based resource updates, cloud resource migration
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/KeymanPackage.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageLMDetailViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Notification/Notifications.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadQueue.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/InstalledLanguagesViewController.swift
  ios/engine/KMEI/KeymanEngineTests/ResourceUpdateTests.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/Packages.swift
  ios/engine/KMEI/KeymanEngineTests/resources/Keyboards.bundle/balochi_latin.kmp
  ios/engine/KMEI/KeymanEngineTests/resources/Keyboards.bundle/basic_kbdfr.kmp
  ios/engine/KMEI/KeymanEngineTests/resources/Keyboards.bundle/basic_kbdth0.kmp
  ios/engine/KMEI/KeymanEngineTests/resources/Keyboards.bundle/fv_sencoten.kmp
  ios/engine/KMEI/KeymanEngineTests/resources/Keyboards.bundle/indigenous_nt.kmp
  ios/engine/KMEI/KeymanEngineTests/resources/Keyboards.bundle/sil_cameroon_qwerty.kmp
  ios/engine/KMEI/KeymanEngineTests/resources/Keyboards.bundle/sil_ipa.kmp
  ios/engine/KMEI/KeymanEngineTests/resources/Lexical Models.bundle/nrc.str.sencoten.model.kmp
  ios/engine/KMEI/KeymanEngineTests/resources/Lexical Models.bundle/sil.bcc-latn.upp_ptwl1.model.kmp
Labels: ios/, ios/engine/, modification

#3373 fix(ios/engine): engine tier enum, proper detection
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/Model/Version.swift
  ios/engine/KMEI/KeymanEngineTests/VersionTests.swift
Labels: bug, ios/, ios/engine/, modification

#3381 refactor(ios/engine): Centralized Keyman domain definitions
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/Alerts.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/APIKeyboardRepository.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/APILexicalModelRepository.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanHosts.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LexicalModelInfoViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/ResourceInfoViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/InstallableKeyboard.swift
  ios/engine/KMEI/KeymanEngine/Classes/Queries/Queries+LexicalModel.swift
  ios/engine/KMEI/KeymanEngine/Classes/Queries/Queries+PackageVersion.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadQueue.swift
  ios/engine/KMEI/KeymanEngineTests/KMPJSONTests.swift
  ios/engine/KMEI/KeymanEngineTests/KeymanHostTests.swift
Labels: ios/, ios/engine/, modification

#3290 fix(linux): Use language from search when installing keyboard
  linux/keyman-config/keyman_config/downloadkeyboard.py
  linux/keyman-config/keyman_config/gnome_keyboards_util.py
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/keyman_config/uninstall_kmp.py
  linux/keyman-config/keyman_config/view_installed.py
  linux/keyman-config/tests/test_install_kmp.py
Labels: enhancement, linux/, linux/config/

#3376 refactor(linux): Small refactorings
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/keyman_config/view_installed.py
  linux/keyman-config/setup.py
Labels: linux/, linux/config/, refactor

#3380 refactor(developer/compilers): reading from a wordlist
  developer/js/source/lexical-model-compiler/build-trie.ts
  developer/js/tests/test-parse-wordlist.ts
Labels: developer/, developer/compilers/, enhancement

#3386 auto: increment master version to 14.0.114
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3390 auto: increment master version to 14.0.115
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3389 fix(windows): proxy configuration from system
  windows/src/global/delphi/general/httpuploader.pas
Labels: fix, windows/

#3392 fix(windows): hide unavailable options in Setup
  windows/src/desktop/setup/UfrmInstallOptions.pas
Labels: fix, windows/, windows/config/

#3391 fix(windows): make sure silent is actually silent for setup
  windows/src/desktop/setup/Keyman.Setup.System.OnlineResourceCheck.pas
  windows/src/desktop/setup/Keyman.Setup.System.ResourceDownloader.pas
  windows/src/desktop/setup/RunTools.pas
  windows/src/desktop/setup/UfrmDownloadProgress.pas
  windows/src/desktop/setup/UfrmInstallOptions.pas
Labels: feat, windows/, windows/config/

#3387 chore(windows): staging site hostnames
  windows/src/desktop/setup/Keyman.Setup.System.OnlineResourceCheck.pas
  windows/src/desktop/setup/Keyman.Setup.System.ResourceDownloader.pas
  windows/src/desktop/setup/RunTools.pas
  windows/src/desktop/setup/UfrmDownloadProgress.pas
  windows/src/desktop/setup/UfrmInstallOptions.pas
  windows/src/global/delphi/general/Upload_Settings.pas
  windows/src/global/delphi/general/httpuploader.pas
Labels: chore, windows/, windows/config/

#3382 feat(windows): keyman: protocol handler
  windows/src/desktop/inst/keymandesktop.wxs
  windows/src/desktop/kmshell/install/DownloadLocale.pas
  windows/src/desktop/kmshell/install/Keyman.Configuration.UI.InstallFile.pas
  windows/src/desktop/kmshell/install/Keyman.Configuration.UI.KeymanProtocolHandler.pas
  windows/src/desktop/kmshell/install/UfrmInstallKeyboard.pas
  windows/src/desktop/kmshell/install/UfrmInstallKeyboardFromWeb.pas
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/kmshell/kmshell.res
  windows/src/desktop/kmshell/main/UfrmMain.pas
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/desktop/setup/Keyman.Setup.System.OnlineResourceCheck.pas
  windows/src/desktop/setup/Keyman.Setup.System.ResourceDownloader.pas
  windows/src/desktop/setup/RunTools.pas
  windows/src/desktop/setup/UfrmDownloadProgress.pas
  windows/src/desktop/setup/UfrmInstallOptions.pas
  windows/src/global/delphi/general/Upload_Settings.pas
  windows/src/global/delphi/general/httpuploader.pas
Labels: feat, windows/, windows/config/

#3385 feat(developer/compilers): logging errors and warnings in the lexical model compiler
  developer/js/source/errors.ts
  developer/js/source/lexical-model-compiler/build-trie.ts
  developer/js/tests/helpers/index.ts
  developer/js/tests/test-error-logger.ts
  developer/js/tests/test-parse-wordlist.ts
  windows/src/global/delphi/general/CompileErrorCodes.pas
  windows/src/global/inc/Comperr.h
Labels: developer/, developer/compilers/, enhancement, windows/

#3400 auto: increment master version to 14.0.116
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3383 refactor(ios/engine): builds package download links
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadManager.swift
  ios/engine/KMEI/KeymanEngineTests/ResourceDownloadManagerTests.swift
Labels: ios/, ios/engine/, modification

#3388 refactor(ios/engine): chained lexical model install callback, fix
  ios/engine/KMEI/KeymanEngine/Classes/KeymanHosts.swift
  ios/engine/KMEI/KeymanEngine/Classes/Queries/Queries+LexicalModel.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadManager.swift
  ios/engine/KMEI/KeymanEngineTests/QueryModelTests.swift
  ios/engine/KMEI/KeymanEngineTests/ResourceDownloadManagerTests.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/Queries.swift
  ios/engine/KMEI/KeymanEngineTests/resources/Queries.bundle/model-case-km.json
Labels: ios/, ios/engine/, modification

#3395 feat(ios/engine): download queue concurrency
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadQueue.swift
Labels: enhancement, ios/, ios/engine/

#3384 feat(ios/engine): keyboard search core
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/KeyboardSearchViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/InstalledLanguagesViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/LanguageSettingsViewController.swift
  ios/engine/KMEI/KeymanEngineTests/KeyboardSearchTests.swift
Labels: enhancement, ios/, ios/engine/

#3401 feat(ios/engine): support for deferred chaining of lexical model downloads
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/KeyboardSearchViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/InstalledLanguagesViewController.swift
  ios/engine/KMEI/KeymanEngineTests/KeyboardSearchTests.swift
Labels: enhancement, ios/, ios/engine/

#3397 docs(linux): Update readme
  linux/keyman-config/README.md
Labels: chore, linux/, linux/config/

#3405 feat(ios/engine): use of Keyman staging sites
  ios/engine/KMEI/KeymanEngine/Classes/KeymanHosts.swift
Labels: enhancement, ios/, ios/engine/

#3398 feat(linux): keyman:// protocol handler
  linux/keyman-config/.editorconfig
  linux/keyman-config/debian/keyman.sharedmimeinfo
  linux/keyman-config/debian/km-config.desktop
  linux/keyman-config/keyman_config/handle_install.py
  linux/keyman-config/km-config
  linux/keyman-config/tests/test_handle_install.py
Labels: enhancement, linux/, linux/config/

#3402 chore(ios/engine): dead code removal + deprecations
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/APIKeyboardRepository.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/APILexicalModelRepository.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/KeyboardRepository.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/KeyboardRepositoryDelegate.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/LexicalModelRepository.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/LexicalModelRepositoryDelegate.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/KeyboardNameTableViewCell.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageDetailViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageLMDetailViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Queries/Queries+LexicalModel.swift
  ios/engine/KMEI/KeymanEngine/Classes/Queries/Queries+PackageVersion.swift
  ios/engine/KMEI/KeymanEngine/Classes/Queries/Queries.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/InstalledLanguagesViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/LanguageSettingsViewController.swift
Labels: chore, ios/, ios/engine/

#3409 auto: increment master version to 14.0.117
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3412 feat(windows): Removes unused strings from locale.xml
  windows/src/desktop/kmshell/xml/locale.xml
  windows/src/test/i18n-check-unused-strings/.gitignore
  windows/src/test/i18n-check-unused-strings/i18n-check-unused-strings.sh
Labels: feat, windows/, windows/config/

#3410 refactor(ios/engine): package installer tweaks
  ios/engine/KMEI/KeymanEngine/Classes/KeymanPackage.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/PackageInstallViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceFileManager.swift
Labels: bug, ios/, ios/engine/, modification

#3407 chore(ios/engine): more obsoletions
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/APIKeyboardRepository.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/APILexicalModelRepository.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/KeyboardRepository.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/KeyboardRepositoryDelegate.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/LexicalModelRepository.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardRepository/LexicalModelRepositoryDelegate.swift
  ios/engine/KMEI/KeymanEngine/Classes/Obsoletions.swift
Labels: chore, ios/, ios/engine/, modification

#3417 auto: increment master version to 14.0.118
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3343 fix(android/app): Use go/android/ links to download cloud keyboards
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/WebBrowserActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMPBrowserActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/FileUtils.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/KMPLink.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/FileUtilsTest.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/KMPLinkTest.java
Labels: android/, android/app/, android/engine/, bug

#3418 chore: unify crowdin.yml
  android/crowdin.yml
  crowdin.yml
  resources/build/l10n/README.md
  windows/src/desktop/crowdin.yml
Labels: chore, common/, common/resources/, ios/, windows/, windows/config/

#3415 fix(windows): more i18n cleanup:
  android/crowdin.yml
  crowdin.yml
  oem/firstvoices/windows/src/inst/Makefile
  oem/firstvoices/windows/src/xml/locale.xml
  resources/build/l10n/README.md
  windows/src/desktop/crowdin.yml
  windows/src/desktop/kmshell/.gitignore
  windows/src/desktop/kmshell/Makefile
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/locale/de/locale.xml
  windows/src/desktop/kmshell/locale/fr/locale.xml
  windows/src/desktop/kmshell/locale/kan-Knda-IN/locale.xml
  windows/src/desktop/kmshell/locale/my/locale.xml
  windows/src/desktop/kmshell/locale/pt-BR/locale.xml
  windows/src/desktop/kmshell/locale/qqq/locale.xml
  windows/src/desktop/kmshell/locale/ta/locale.xml
  windows/src/desktop/kmshell/locale/tr/locale.xml
  windows/src/desktop/kmshell/locale/vec/locale.xml
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/engine/keyman/keyman.dproj
  windows/src/engine/keyman/viskbd/UfrmOSKFontHelper.dfm
  windows/src/engine/kmcomapi/processes/package/kpinstallpackage.pas
  windows/src/global/delphi/cust/CustomisationStorage.pas
  windows/src/global/delphi/cust/StockFileNames.pas
  windows/src/global/delphi/general/FixupLocaleDoctype.pas
  windows/src/global/delphi/general/KeymanPaths.pas
  windows/src/global/inst/data/UnicodeData.ldb
  windows/src/test/test_i3688/i3688.kct
  windows/src/test/test_i3688/i3688.kpp
  windows/src/test/test_i3688/i3688.pxx
Labels: fix, oem/, oem/fv/, oem/fv/windows/, windows/, windows/config/, windows/engine/

#3414 fix(windows): i18n of strings in Font Helper
  android/crowdin.yml
  crowdin.yml
  oem/firstvoices/windows/src/inst/Makefile
  oem/firstvoices/windows/src/xml/locale.xml
  resources/build/l10n/README.md
  windows/src/desktop/crowdin.yml
  windows/src/desktop/kmshell/.gitignore
  windows/src/desktop/kmshell/Makefile
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/locale/de/locale.xml
  windows/src/desktop/kmshell/locale/fr/locale.xml
  windows/src/desktop/kmshell/locale/kan-Knda-IN/locale.xml
  windows/src/desktop/kmshell/locale/my/locale.xml
  windows/src/desktop/kmshell/locale/pt-BR/locale.xml
  windows/src/desktop/kmshell/locale/qqq/locale.xml
  windows/src/desktop/kmshell/locale/ta/locale.xml
  windows/src/desktop/kmshell/locale/tr/locale.xml
  windows/src/desktop/kmshell/locale/vec/locale.xml
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/engine/keyman/keyman.dproj
  windows/src/engine/keyman/viskbd/UfrmOSKFontHelper.dfm
  windows/src/engine/keyman/viskbd/UfrmOSKFontHelper.pas
  windows/src/engine/kmcomapi/processes/package/kpinstallpackage.pas
  windows/src/global/delphi/cust/CustomisationStorage.pas
  windows/src/global/delphi/cust/StockFileNames.pas
  windows/src/global/delphi/general/FixupLocaleDoctype.pas
  windows/src/global/delphi/general/KeymanPaths.pas
  windows/src/global/inst/data/UnicodeData.ldb
  windows/src/test/test_i3688/i3688.kct
  windows/src/test/test_i3688/i3688.kpp
  windows/src/test/test_i3688/i3688.pxx
Labels: fix, windows/, windows/engine/

#3413 feat(windows): generate message consts at build time
  android/crowdin.yml
  crowdin.yml
  oem/firstvoices/windows/src/inst/Makefile
  oem/firstvoices/windows/src/xml/locale.xml
  resources/build/l10n/README.md
  windows/src/.gitignore
  windows/src/Makefile
  windows/src/buildtools/devtools/DevUtils.pas
  windows/src/buildtools/devtools/Keyman.System.DevTools.BuildMessageConstants.pas
  windows/src/buildtools/devtools/devtools.dpr
  windows/src/buildtools/devtools/devtools.dproj
  windows/src/desktop/crowdin.yml
  windows/src/desktop/kmshell/.gitignore
  windows/src/desktop/kmshell/Makefile
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/locale/de/locale.xml
  windows/src/desktop/kmshell/locale/fr/locale.xml
  windows/src/desktop/kmshell/locale/kan-Knda-IN/locale.xml
  windows/src/desktop/kmshell/locale/my/locale.xml
  windows/src/desktop/kmshell/locale/pt-BR/locale.xml
  windows/src/desktop/kmshell/locale/qqq/locale.xml
  windows/src/desktop/kmshell/locale/ta/locale.xml
  windows/src/desktop/kmshell/locale/tr/locale.xml
  windows/src/desktop/kmshell/locale/vec/locale.xml
  windows/src/desktop/kmshell/main/UfrmChangeHotkey.pas
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/desktop/kmshell/xml/locale.xml
  windows/src/developer/TIKE/Tike.dpr
  windows/src/developer/TIKE/Tike.dproj
  windows/src/developer/TIKE/kct/MessageDefaults.pas
  windows/src/developer/TIKE/kct/README.TXT
  windows/src/developer/TIKE/kct/StockObjects.pas
  windows/src/developer/TIKE/kct/arrow.bmp
  windows/src/developer/TIKE/kct/btnSave.bmp
  windows/src/developer/TIKE/kct/icons/form_lrg.bmp
  windows/src/developer/TIKE/kct/icons/form_sml.bmp
  windows/src/developer/TIKE/kct/icons/licencedetails_lrg.bmp
  windows/src/developer/TIKE/kct/icons/licencedetails_sml.bmp
  windows/src/engine/keyman/UfrmKeyman7Main.pas
  windows/src/engine/keyman/keyman.dproj
  windows/src/engine/keyman/viskbd/UfrmOSKFontHelper.dfm
  windows/src/engine/keyman/viskbd/UfrmOSKFontHelper.pas
  windows/src/engine/kmcomapi/kmcomapi.dpr
  windows/src/engine/kmcomapi/kmcomapi.dproj
  windows/src/engine/kmcomapi/processes/package/kpinstallpackage.pas
  windows/src/global/delphi/cust/CustomisationMessages.pas
  windows/src/global/delphi/cust/CustomisationStorage.pas
  windows/src/global/delphi/cust/MessageDefaults.pas
  windows/src/global/delphi/cust/MessageIdentifierConsts.pas
  windows/src/global/delphi/cust/StockFileNames.pas
  windows/src/global/delphi/cust/StockMessages.pas
  windows/src/global/delphi/general/FixupLocaleDoctype.pas
  windows/src/global/delphi/general/KeymanPaths.pas
  windows/src/global/inst/data/UnicodeData.ldb
  windows/src/test/test_i3688/i3688.kct
  windows/src/test/test_i3688/i3688.kpp
  windows/src/test/test_i3688/i3688.pxx
Labels: developer/, developer/ide/, feat, windows/, windows/config/, windows/engine/

#3421 refactor(windows): refactor Dialog elements
  windows/src/desktop/kmshell/xml/basekeyboard.xsl
  windows/src/desktop/kmshell/xml/dialoginfo.xml
  windows/src/desktop/kmshell/xml/downloadkeyboard.xsl
  windows/src/desktop/kmshell/xml/elements.xsl
  windows/src/desktop/kmshell/xml/help.xsl
  windows/src/desktop/kmshell/xml/hint.xsl
  windows/src/desktop/kmshell/xml/installkeyboard.xsl
  windows/src/desktop/kmshell/xml/locale.xml
  windows/src/desktop/kmshell/xml/onlineupdate.xsl
  windows/src/desktop/kmshell/xml/proxyconfiguration.xsl
  windows/src/desktop/kmshell/xml/splash.xsl
Labels: refactor, windows/, windows/config/

#3422 chore(windows): Remove usage page resources
  oem/firstvoices/windows/src/xml/locale.xml
  oem/firstvoices/windows/src/xml/usage_keyboard.xsl
  oem/firstvoices/windows/src/xml/usage_off.xsl
  windows/src/desktop/kmshell/xml/locale.xml
  windows/src/desktop/kmshell/xml/usage_keyboard.xsl
  windows/src/desktop/kmshell/xml/usage_off.xsl
Labels: chore, oem/, oem/fv/, oem/fv/windows/, windows/, windows/config/

#3425 auto: increment master version to 14.0.119
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3424 feat(windows): convert locale.xml to strings.xml format
  crowdin.yml
  oem/firstvoices/windows/src/xml/basekeyboard.xsl
  oem/firstvoices/windows/src/xml/dialoginfo.xml
  oem/firstvoices/windows/src/xml/downloadkeyboard.xsl
  oem/firstvoices/windows/src/xml/elements.xsl
  oem/firstvoices/windows/src/xml/fonthelper.xsl
  oem/firstvoices/windows/src/xml/help.xsl
  oem/firstvoices/windows/src/xml/hint.xsl
  oem/firstvoices/windows/src/xml/installkeyboard.xsl
  oem/firstvoices/windows/src/xml/keyman.xsl
  oem/firstvoices/windows/src/xml/keyman_footer.xsl
  oem/firstvoices/windows/src/xml/keyman_hotkeys.xsl
  oem/firstvoices/windows/src/xml/keyman_keepintouch.xsl
  oem/firstvoices/windows/src/xml/keyman_keyboardlist.xsl
  oem/firstvoices/windows/src/xml/keyman_menu.xsl
  oem/firstvoices/windows/src/xml/keyman_options.xsl
  oem/firstvoices/windows/src/xml/keyman_support.xsl
  oem/firstvoices/windows/src/xml/onlineupdate.xsl
  oem/firstvoices/windows/src/xml/proxyconfiguration.xsl
  oem/firstvoices/windows/src/xml/splash.xsl
  oem/firstvoices/windows/src/xml/vkhints.xsl
  oem/firstvoices/windows/src/xml/welcome_fonts.xsl
  windows/src/Makefile
  windows/src/buildtools/devtools/Keyman.System.DevTools.BuildMessageConstants.pas
  windows/src/desktop/kmshell/util/XMLTemplatePath.pas
  windows/src/desktop/kmshell/xml/basekeyboard.xsl
  windows/src/desktop/kmshell/xml/downloadkeyboard.xsl
  windows/src/desktop/kmshell/xml/elements.xsl
  windows/src/desktop/kmshell/xml/help.xsl
  windows/src/desktop/kmshell/xml/hint.xsl
  windows/src/desktop/kmshell/xml/installkeyboard.xsl
  windows/src/desktop/kmshell/xml/keyman.xsl
  windows/src/desktop/kmshell/xml/keyman_footer.xsl
  windows/src/desktop/kmshell/xml/keyman_hotkeys.xsl
  windows/src/desktop/kmshell/xml/keyman_keepintouch.xsl
  windows/src/desktop/kmshell/xml/keyman_keyboardlist.xsl
  windows/src/desktop/kmshell/xml/keyman_menu.xsl
  windows/src/desktop/kmshell/xml/keyman_options.xsl
  windows/src/desktop/kmshell/xml/keyman_support.xsl
  windows/src/desktop/kmshell/xml/locale.xml
  windows/src/desktop/kmshell/xml/onlineupdate.xsl
  windows/src/desktop/kmshell/xml/proxyconfiguration.xsl
  windows/src/desktop/kmshell/xml/splash.xsl
  windows/src/desktop/kmshell/xml/strings.xml
  windows/src/desktop/kmshell/xml/welcome_fonts.xsl
  windows/src/desktop/locale/locale-to-android-strings.xsl
  windows/src/global/delphi/cust/CustomisationMessages.pas
  windows/src/global/delphi/general/KeymanPaths.pas
  windows/src/global/delphi/ui/XMLRenderer.pas
  windows/src/test/i18n-check-unused-strings/i18n-check-unused-strings.sh
Labels: feat, oem/, oem/fv/, oem/fv/windows/, windows/, windows/config/

#3428 refactor(windows): add translations to windows install
  crowdin.yml
  oem/firstvoices/windows/src/xml/keyman_support.xsl
  oem/firstvoices/windows/src/xml/splash.xsl
  windows/src/buildtools/devtools/DevUtils.pas
  windows/src/desktop/inst/.gitignore
  windows/src/desktop/inst/Makefile
  windows/src/desktop/inst/download.in
  windows/src/desktop/inst/keymandesktop.wxs
  windows/src/desktop/kmshell/locale/de/locale.xml
  windows/src/desktop/kmshell/locale/de/strings.xml
  windows/src/desktop/kmshell/locale/fr/locale.xml
  windows/src/desktop/kmshell/locale/fr/strings.xml
  windows/src/desktop/kmshell/locale/kan-Knda-IN/locale.xml
  windows/src/desktop/kmshell/locale/kan-Knda-IN/strings.xml
  windows/src/desktop/kmshell/locale/my/locale.xml
  windows/src/desktop/kmshell/locale/my/strings.xml
  windows/src/desktop/kmshell/locale/pt-BR/locale.xml
  windows/src/desktop/kmshell/locale/pt-BR/strings.xml
  windows/src/desktop/kmshell/locale/qqq/strings.xml
  windows/src/desktop/kmshell/locale/ta/locale.xml
  windows/src/desktop/kmshell/locale/ta/strings.xml
  windows/src/desktop/kmshell/locale/tr/locale.xml
  windows/src/desktop/kmshell/locale/tr/strings.xml
  windows/src/desktop/kmshell/locale/vec/locale.xml
  windows/src/desktop/kmshell/locale/vec/strings.xml
  windows/src/desktop/kmshell/xml/splash.xsl
  windows/src/global/inst/data/UnicodeData.ldb
Labels: oem/, oem/fv/, oem/fv/windows/, refactor, windows/, windows/config/

#3429 refactor(windows): remove old locale links
  crowdin.yml
  windows/src/desktop/kmshell/install/DownloadLocale.pas
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/kmshell/kmshell.res
  windows/src/desktop/kmshell/xml/keyman.xsl
  windows/src/global/delphi/general/Upload_Settings.pas
  windows/src/global/delphi/ui/UfrmWebContainer.pas
Labels: refactor, windows/, windows/config/

#3430 chore(windows): remove old locale tools
  windows/src/support/locale-cleanup/localecleanup.dpr
  windows/src/support/locale-cleanup/localecleanup.dproj
  windows/src/support/locale-cleanup/ulocalecleanup.pas
  windows/src/support/locale-pseudo/LocalePseudo.dpr
  windows/src/support/locale-pseudo/LocalePseudo.dproj
  windows/src/support/locale-pseudo/MakePseudoLocaleXml.pas
  windows/src/support/uieditor/Makefile
  windows/src/support/uieditor/UfrmLocaleEditor.dfm
  windows/src/support/uieditor/UfrmLocaleEditor.pas
  windows/src/support/uieditor/uieditor.bdsproj
  windows/src/support/uieditor/uieditor.cfg
  windows/src/support/uieditor/uieditor.dpr
  windows/src/support/uieditor/uieditor.res
  windows/src/support/uieditor/version.rc
Labels: chore, windows/

#2745 feat(ios): Start of engine and app internationalization
  crowdin.yml
  ios/.gitignore
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/Alerts.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardKeymanPackage.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardMenuView.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanPackage.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/Base.lproj/ResourceInfoView.xib
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/KeyboardSwitcherViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LanguageLMDetailViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LexicalModelInfoViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LexicalModelPickerViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/ResourceInfoViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/en.lproj/ResourceInfoView.strings
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/km.lproj/ResourceInfoView.strings
  ios/engine/KMEI/KeymanEngine/Classes/LexicalModelKeymanPackage.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/PackageInstallViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceFileManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/InstalledLanguagesViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/LanguageSettingsViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/SettingsViewController.swift
  ios/engine/KMEI/KeymanEngine/en.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/en.lproj/Localizable.stringsdict
  ios/i18n-export.sh
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/GetStartedViewController/GetStartedViewController.swift
  ios/keyman/Keyman/Keyman/KMWebBrowser/BookmarksViewController.swift
  ios/keyman/Keyman/Keyman/KMWebBrowser/BookmarksViewController.xib
  ios/keyman/Keyman/Keyman/MainViewController.swift
  ios/keyman/Keyman/Keyman/en.lproj/InfoPlist.strings
  ios/keyman/Keyman/Keyman/en.lproj/Localizable.strings
  ios/keyman/Keyman/Settings.bundle/en.lproj/Root.strings
  resources/shellHelperFunctions.sh
Labels: common/, common/resources/, enhancement, ios/, ios/app/, ios/engine/

#3433 auto: increment master version to 14.0.120
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3423 feat(android): Use api.keyman-staging.com for pre-release builds
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
Labels: android/, android/engine/

#3432 refactor(ios/engine): merges keyboard & lexical model info views, fixes QR code logic
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LexicalModelInfoViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/LexicalModelPickerViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/ResourceInfoViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/LanguageResource.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/LanguageSettingsViewController.swift
Labels: ios/, ios/engine/, modification

#3431 feat(android): Add app association to keyman.com
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
Labels: android/, android/app/

#3434 chore(windows): cleanup comments in strings.xml
  windows/src/desktop/kmshell/xml/strings.xml
Labels: chore, windows/, windows/config/

#3416 feat(ios/engine): language selection during (file-based) package installation
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/KeymanPackage.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/Language.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/PackageInstallView.xib
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/PackageInstallViewController.swift
  ios/engine/KMEI/KeymanEngine/en.lproj/Localizable.strings
Labels: enhancement, ios/, ios/engine/

#3437 feat(ios/engine) Package-installer layout optimizations
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/PackageInstallView.xib
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/PackageInstallViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/PackageInstallView_iPad.xib
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/PackageInstallView_iPhone.xib
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceFileManager.swift
  ios/engine/KMEI/KeymanEngine/en.lproj/Localizable.strings
Labels: enhancement, ios/, ios/engine/

#3441 auto: increment master version to 14.0.121
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/
