Repository keymanapp/keyman, pull requests merged in 2020-03, with the labels that each got.

#2758 feat(windows): etl2log support tool
  windows/src/support/Makefile
  windows/src/support/etl2log/Makefile
  windows/src/support/etl2log/etl2log.cpp
  windows/src/support/etl2log/etl2log.sln
  windows/src/support/etl2log/etl2log.vcxproj
  windows/src/support/etl2log/etl2log.vcxproj.filters
  windows/src/support/etl2log/load.cpp
  windows/src/support/etl2log/logging.cpp
  windows/src/support/etl2log/logging.h
  windows/src/support/etl2log/stdafx.cpp
  windows/src/support/etl2log/stdafx.h
  windows/src/support/etl2log/version.in
Labels: enhancement, windows

#2741 feat(developer): allow use of ISO9995 in key ids
  windows/src/developer/TIKE/compile/CompileKeymanWeb.pas
  windows/src/developer/TIKE/debug/UfrmKeyTest.dfm
  windows/src/developer/TIKE/debug/UfrmKeyTest.pas
  windows/src/developer/kmcmpdll/Compiler.cpp
  windows/src/developer/kmcmpdll/vkeys.h
  windows/src/global/delphi/general/VKeys.pas
Labels: developer, developer-compiler, enhancement

#2734 Feature: Android - Handle keyman:// protocol to download kmp keyboard
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/DownloadIntentService.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/FileUtils.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/FileUtilsTest.java
Labels: android, enhancement

#2751 change(android): Cleanup UI strings
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeymanSettingsFragment.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardPickerAdapter.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguagesSettingsActivity.java
  android/KMEA/app/src/main/res/values/strings.xml
Labels: android, modification

#2773 fix(ios): fixes broken online-help versioned link
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Migrations.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/Version.swift
  ios/engine/KMEI/KeymanEngineTests/VersionTests.swift
  ios/keyman/Keyman/Keyman/InfoViewController/InfoViewController.swift
  ios/keyman/Keyman/Keyman/SetUpViewController/SetUpViewController.swift
Labels: bug, ios

#2777 auto: increment master version to 14.0.19
  HISTORY.md
  VERSION.md
Labels: auto

#2781 fix(web): support otf extension for truetype fonts 🍒
  web/history.md
  web/source/kmwutils.ts
Labels: bug, cherry-pick, stable, web

#2780 fix(web): support otf extension for truetype fonts
  web/source/kmwutils.ts
Labels: bug, web

#2783 auto: increment master version to 14.0.20
  HISTORY.md
  VERSION.md
Labels: auto

#2788 auto: increment master version to 14.0.21
  HISTORY.md
  VERSION.md
Labels: auto

#2790 fix(ci): builds were never triggered
  resources/build/trigger-builds.sh
Labels: bug, ci

#2791 auto: increment master version to 14.0.22
  HISTORY.md
  VERSION.md
Labels: auto

#2787 fix(common): parameter order incorrect in git diff
  resources/build/run-required-test-builds.sh
Labels: bug, ci, common

#2775 feat(ios): compilations within Xcode now properly set version
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/Model/Version.swift
  ios/engine/KMEI/KeymanEngineTests/VersionTests.swift
  ios/keyman/Keyman/Keyman-Info.plist
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/MainViewController.swift
  ios/kmbuild.sh
  resources/build/xcode-utils.sh
Labels: enhancement, ios

#2694 fix(web): Web CI fix 🍒
  web/unit_tests/CI.conf.js
Labels: bug, cherry-pick, ci, web

#2704 fix(ios): fixes scale-selection logic 🍒
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardScaleMap.swift
Labels: bug, cherry-pick, ios

#2774 fix(ios): Fixes online help link versioning
  ios/engine/KMEI/KeymanEngine/Classes/Model/Version.swift
  ios/keyman/Keyman/Keyman/InfoViewController/InfoViewController.swift
  ios/keyman/Keyman/Keyman/SetUpViewController/SetUpViewController.swift
Labels: bug, cherry-pick, ios

#2776 fix(ios/engine): Fixes iOS char-delete context bug on newlines
  ios/engine/KMEI/KeymanEngine/Classes/InputViewController.swift
  ios/history.md
Labels: bug, cherry-pick, ios, stable

#2770 fix(ios/engine): Fixes context bug for certain keyboard rules after newlines
  ios/engine/KMEI/KeymanEngine/Classes/InputViewController.swift
Labels: bug, ios

#2793 feat(android): Update additional main app strings for crowdin
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
Labels: android, enhancement

#2771 feat(ios): Start of Sentry-based crash reporting
  .gitignore
  ios/Cartfile
  ios/Cartfile.resolved
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/Alerts.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadQueue.swift
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/AppDelegate.swift
  ios/keyman/Keyman/Keyman/InfoViewController/InfoViewController.swift
  ios/keyman/Keyman/Keyman/SetUpViewController/SetUpViewController.swift
  resources/build/build-utils.sh
  resources/build/xcode-utils.sh
Labels: enhancement, ios

#2782 feat(ios): Improved Sentry integration (first pass)
  ios/.gitignore
  ios/README.md
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/Errors/SentryManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Extension/UserDefaults+Types.swift
  ios/engine/KMEI/KeymanEngine/Classes/Migrations.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/Version.swift
  ios/engine/KMEI/KeymanEngine/Info.plist
  ios/engine/KMEI/KeymanEngineTests/VersionTests.swift
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/AppDelegate.swift
  ios/keyman/Keyman/Keyman/InfoViewController/InfoViewController.swift
  ios/keyman/Keyman/Keyman/SetUpViewController/SetUpViewController.swift
  ios/keyman/Keyman/SWKeyboard/KeyboardViewController.swift
  resources/build/xcode-utils.sh
Labels: enhancement, ios

#2798 auto: increment master version to 14.0.23
  HISTORY.md
  VERSION.md
Labels: auto

#2800 fix(ios): fixes Carthage framework copy for Sentry
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
Labels: bug, ios

#2805 auto: increment master version to 14.0.24
  HISTORY.md
  VERSION.md
Labels: auto

#2795 fix(linux): Fix CI dist path to common/core/desktop
  linux/scripts/dist.sh
Labels: bug, linux

#2796 fix(web): fixes build number reference of API call
  web/source/kmwkeyboards.ts
Labels: bug, web, web-bookmarklet

#2797 fix(web): fixes build number reference of API call
  web/source/kmwkeyboards.ts
Labels: bug, cherry-pick, web, web-bookmarklet

#2802 fix(web): updating BuildVisualKeyboard
  web/source/kmwbase.ts
  web/source/osk/visualKeyboard.ts
  web/testing/build-visual-keyboard/index.html
  web/testing/index.html
Labels: bug, web

#2807 fix(web): updating BuildVisualKeyboard
  web/history.md
  web/source/kmwbase.ts
  web/source/osk/visualKeyboard.ts
  web/testing/build-visual-keyboard/index.html
  web/testing/index.html
Labels: bug, cherry-pick, stable, web

#2812 auto: increment master version to 14.0.25
  HISTORY.md
  VERSION.md
Labels: auto

#2794 feat(common): sentry release control
  resources/build/increment-version.sh
  resources/build/sentry-control.sh
Labels: ci, common, enhancement

#2680 chore(windows): improve build script tests
  windows/src/Defines.mak
  windows/src/Makefile
  windows/src/README.md
Labels: modification, windows

#2809 fix(web): enhanced sourcemaps + proper sourcemaps for minified KMW
  resources/build/build-utils.sh
  web/package-lock.json
  web/package.json
  web/source/build.sh
  web/source/tsconfig.base.json
  web/tools/sourcemap-root/.gitignore
  web/tools/sourcemap-root/index.ts
  web/tools/sourcemap-root/tsconfig.json
Labels: bug, web

#2801 feat/common/parse-crowdin Add script to parse crowdin translation file
  .crowdin-tmp/.gitkeep
  .gitignore
  android/KMAPro/kMAPro/build.gradle
  android/KMEA/app/build.gradle
  android/build.sh
  resources/build/l10n/README.md
  resources/build/l10n/parse-crowdin-android.sh
  resources/build/l10n/parse-crowdin.sh
Labels: android, common, enhancement

#2814 fix(linux): Fix how keyboardprocessor version is set in dist.sh
  linux/scripts/dist.sh
Labels: bug, ci, common

#2810 feat(android): Additional Sentry integration
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/res/menu/overflow_menu.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
Labels: android, enhancement

#2808 fix(web): applies base key layer property to unassigned subkeys
  web/source/osk/visualKeyboard.ts
Labels: bug, web

#2816 feat(android): Start adding RTL to layouts
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/res/layout/activity_info.xml
  android/KMAPro/kMAPro/src/main/res/layout/activity_package_installer.xml
  android/KMAPro/kMAPro/src/main/res/layout/activity_web_browser.xml
  android/KMAPro/kMAPro/src/main/res/layout/add_bookmark_dialog_layout.xml
  android/KMAPro/kMAPro/src/main/res/layout/bookmarks_list_layout.xml
  android/KMAPro/kMAPro/src/main/res/layout/bookmarks_row_layout.xml
  android/KMAPro/kMAPro/src/main/res/layout/get_started_list_layout.xml
  android/KMAPro/kMAPro/src/main/res/layout/get_started_row_layout.xml
  android/KMAPro/kMAPro/src/main/res/layout/get_started_toolbar.xml
  android/KMAPro/kMAPro/src/main/res/layout/text_size_controller.xml
  android/KMAPro/kMAPro/src/main/res/layout/update_count_view.xml
  android/KMAPro/kMAPro/src/main/res/layout/web_browser_bar_layout.xml
  android/KMEA/app/build.gradle
  android/KMEA/app/src/main/res/layout/keyboard_picker_list_layout.xml
  android/KMEA/app/src/main/res/layout/list_row_layout1.xml
  android/KMEA/app/src/main/res/layout/list_row_layout2.xml
  android/KMEA/app/src/main/res/layout/list_row_layout3.xml
  android/KMEA/app/src/main/res/layout/list_row_layout4.xml
  android/KMEA/app/src/main/res/layout/models_list_row_layout.xml
  oem/firstvoices/android/app/build.gradle
Labels: android, enhancement

#2815 fix(common/lmlayer): fixes word lookup from Tries for SMP script-based languages
  common/predictive-text/worker/models/trie-model.ts
Labels: bug, web, web-lm-layer

#2819 feat(common): add release finalization for Sentry
  resources/build/sentry-control.sh
Labels: ci, common

#2822 fix(web): further fixes BuildVisualKeyboard. Fixes #2818
  web/source/osk/visualKeyboard.ts
Labels: bug, web

#2820 fix(web): applies base key layer property to unassigned subkeys 🍒
  web/source/osk/visualKeyboard.ts
Labels: bug, cherry-pick, stable, web

#2821 fix(common/lmlayer): fixes word lookup from Tries for SMP script-based languages 🍒
  common/predictive-text/worker/models/trie-model.ts
Labels: bug, cherry-pick, stable, web, web-lm-layer

#2823 fix(web): further fixes BuildVisualKeyboard. Fixes #2818
  web/history.md
  web/source/osk/visualKeyboard.ts
Labels: bug, cherry-pick, stable, web

#2824 fix(web): fixes internal reference for validation tool
  web/bulk_rendering/renderer_core.ts
Labels: bug, web

#2825 fix(web): fixes internal reference for validation tool
  web/bulk_rendering/renderer_core.ts
  web/history.md
Labels: bug, cherry-pick, stable, web

#2827 auto: increment master version to 14.0.26
  HISTORY.md
  VERSION.md
Labels: auto

#2828 fix(oem): Disable monitoring of ANR for oem Android app
  oem/firstvoices/android/app/src/main/AndroidManifest.xml
Labels: android, bug

#2831 auto: increment master version to 14.0.27
  HISTORY.md
  VERSION.md
Labels: auto

#2844 auto: increment master version to 14.0.28
  HISTORY.md
  VERSION.md
Labels: auto

#2839 fix(web): fixes design mode and content editable issues
  web/source/dom/contentEditable.ts
  web/source/dom/designIFrame.ts
  web/source/dom/utils.ts
  web/source/kmwdom.ts
  web/source/kmwdomevents.ts
  web/source/kmwuitoggle.ts
  web/source/osk/oskManager.ts
Labels: bug, cherry-pick, stable, web

#2841 fix(ios): corrects OSK height adjustment, banner display issues
  ios/history.md
  web/history.md
  web/source/osk/banner.ts
  web/source/osk/visualKeyboard.ts
  web/source/resources/osk/kmwosk.css
Labels: bug, cherry-pick, ios, stable, web

#2838 fix(web): fixes design mode and content editable issues
  web/source/dom/contentEditable.ts
  web/source/dom/designIFrame.ts
  web/source/dom/utils.ts
  web/source/kmwdom.ts
  web/source/kmwdomevents.ts
  web/source/kmwuitoggle.ts
  web/source/osk/oskManager.ts
Labels: bug, web

#2840 fix(ios): corrects OSK height adjustment, banner display issues.
  resources/build/jq-license.txt
  resources/build/jq-win64.exe
  resources/build/run-required-test-builds.sh
  web/source/osk/banner.ts
  web/source/osk/visualKeyboard.ts
  web/source/resources/osk/kmwosk.css
Labels: bug, ios, web

#2830 refactor(web/engine): new RuleBehavior return type from keyboard calls, utilization
  web/source/kmwdom.ts
  web/source/text/kbdInterface.ts
  web/source/text/outputTarget.ts
  web/source/text/processor.ts
Labels: modification, web

#2846 refactor(web/engine): KeyEvent object now refers to outputTarget over element
  web/source/build.sh
  web/source/kmwdomevents.ts
  web/source/kmwembedded.ts
  web/source/text/kbdInterface.ts
  web/source/text/keyEvent.ts
  web/source/text/processor.ts
Labels: modification, web

#2843 fix(linux): Fix failing Linux package builds
  .gitignore
  common/core/desktop/meson.build
  linux/keyman-config/MANIFEST.in
  linux/scripts/dist.sh
  linux/scripts/reconf.sh
Labels: linux

#2842 feat(linux): Add focal as platform to build packages for
  linux/Jenkinsfile
  linux/scripts/launchpad.sh
Labels: linux

#2852 auto: increment master version to 14.0.29
  HISTORY.md
  VERSION.md
Labels: auto

#2855 auto: increment master version to 14.0.30
  HISTORY.md
  VERSION.md
Labels: auto

#2856 docs(common): minor updates to readme
  README.md
Labels: common

#2857 auto: increment master version to 14.0.31
  HISTORY.md
  VERSION.md
Labels: auto

#2860 fix(android): Fix min SDK version for Sample and Test apps
  android/Tests/KeyboardHarness/app/build.gradle
Labels: android, bug

#2865 auto: increment master version to 14.0.32
  HISTORY.md
  VERSION.md
Labels: auto

#2866 fix(windows): include sources for sentry
  windows/src/buildtools/sentry-upload-difs.sh
  windows/src/buildtools/tds2pdb/tds2pdb.bdsproj
  windows/src/buildtools/tds2pdb/tds2pdb.cfg
  windows/src/buildtools/tds2pdb/tds2pdb.dpr
  windows/src/buildtools/tds2pdb/tds2pdb.res
  windows/src/buildtools/tds2pdb/tds2pdbMain.dfm
  windows/src/buildtools/tds2pdb/tds2pdbMain.pas
  windows/src/developer/TIKE/Tike.dproj
Labels: bug, developer, windows

#2867 auto: increment master version to 14.0.33
  HISTORY.md
  VERSION.md
Labels: auto

#2872 fix(android): Update min SDK versions for sample apps
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample2/app/build.gradle
Labels: android, bug

#2854 refactor(web/engine): reworks default output handling to return RuleBehaviors
  android/KMEA/app/src/main/assets/keyboard.html
  web/source/kmwembedded.ts
  web/source/text/defaultOutput.ts
  web/source/text/kbdInterface.ts
  web/source/text/processor.ts
Labels: modification, web

#2849 refactor(web/engine): extended abstraction with OutputTarget
  web/source/dom/contentEditable.ts
  web/source/dom/designIFrame.ts
  web/source/dom/input.ts
  web/source/dom/textarea.ts
  web/source/dom/touchAlias.ts
  web/source/kmwembedded.ts
  web/source/text/outputTarget.ts
  web/source/text/processor.ts
  web/testing/prediction-ui/index.html
Labels: modification, web

#2850 refactor(web/engine): reworks use of embedded's keyman['oninserttext']
  web/source/text/kbdInterface.ts
  web/source/text/processor.ts
Labels: modification, web

#2853 refactor(web/engine): Modularize default key output handling
  android/KMEA/app/src/main/assets/keyboard.html
  web/source/kmwembedded.ts
  web/source/text/defaultOutput.ts
  web/source/text/kbdInterface.ts
  web/source/text/processor.ts
Labels: modification, web

#2859 refactor(web/engine): removes shiftState parameter
  web/source/kmwembedded.ts
  web/source/text/defaultOutput.ts
  web/source/text/processor.ts
Labels: modification, web

#2861 refactor(web/engine): moves new RuleBehavior type & behaviors to own file
  web/source/text/kbdInterface.ts
  web/source/text/processor.ts
  web/source/text/ruleBehavior.ts
Labels: modification, web

#2862 refactor(web/engine): doInputEvent moved to OutputTarget
  web/source/dom/contentEditable.ts
  web/source/dom/designIFrame.ts
  web/source/dom/input.ts
  web/source/dom/textarea.ts
  web/source/dom/touchAlias.ts
  web/source/text/kbdInterface.ts
  web/source/text/outputTarget.ts
  web/source/text/processor.ts
Labels: modification, web

#2863 refactor(web/engine): KeyboardInterface now property of Processor
  web/source/keymanweb.ts
  web/source/kmwbase.ts
  web/source/kmwdebug.js
  web/source/kmwdom.ts
  web/source/kmwdomevents.ts
  web/source/kmwembedded.ts
  web/source/text/kbdInterface.ts
  web/source/text/processor.ts
  web/testing/regression-tests/src/test-runner.js
  web/unit_tests/cases/engine.js
Labels: modification, web

#2871 fix(windows): some sentry symbolication was not working
  windows/src/buildtools/sentrytool/Keyman.System.MapToSym.pas
  windows/src/developer/TIKE/main/KeymanDeveloperUtils.pas
  windows/src/developer/TIKE/main/UfrmMain.pas
  windows/src/ext/sentry/Sentry.Client.pas
  windows/src/ext/tds2dbg/tds2dbg.sln
  windows/src/ext/tds2dbg/tds2dbg.vcxproj
  windows/src/ext/tds2dbg/tds2dbg.vcxproj.filters
  windows/src/global/delphi/general/Keyman.System.KeymanSentryClient.pas
Labels: bug, developer, windows

#2877 fix(linux): Use __release_version__ for downloadkeyboard window
  linux/README.md
  linux/keyman-config/keyman_config/__init__.py
  linux/keyman-config/keyman_config/downloadkeyboard.py
  linux/keyman-config/keyman_config/version.py.in
  linux/scripts/reconf.sh
Labels: bug, linux

#2878 auto: increment master version to 14.0.34
  HISTORY.md
  VERSION.md
Labels: auto

#2879 fix(web): fixes embedded kbd initialization
  android/KMEA/app/src/main/assets/keyboard.html
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/keyboard.html
Labels: android, bug, ios

#2881 fix(ios): popup keys over base keys no longer emit base char.
  web/source/osk/visualKeyboard.ts
Labels: bug, ios

#2885 auto: increment master version to 14.0.35
  HISTORY.md
  VERSION.md
Labels: auto

#2875 feat(windows): new error notification dialog
  windows/src/engine/tsysinfo/UfrmRemoteExceptionHandler.dfm
  windows/src/engine/tsysinfo/UfrmRemoteExceptionHandler.pas
  windows/src/engine/tsysinfo/sysinfo_main.pas
  windows/src/engine/tsysinfo/tsysinfo.dpr
  windows/src/engine/tsysinfo/tsysinfo.dproj
  windows/src/ext/sentry/Sentry.Client.pas
  windows/src/global/delphi/general/Keyman.System.KeymanSentryClient.pas
  windows/src/global/delphi/general/Upload_Settings.pas
Labels: developer, enhancement, windows

#2886 feat(windows): sentry c++ wrappers
  windows/src/README.md
  windows/src/developer/kmanalyze/kmanalyze.cpp
  windows/src/developer/kmanalyze/kmanalyze.vcxproj
  windows/src/developer/kmanalyze/kmanalyze.vcxproj.filters
  windows/src/developer/kmanalyze/pch.h
  windows/src/developer/kmdecomp/kmdecomp.cpp
  windows/src/developer/kmdecomp/kmdecomp.vcxproj
  windows/src/developer/kmdecomp/kmdecomp.vcxproj.filters
  windows/src/engine/mcompile/mcompile.cpp
  windows/src/engine/mcompile/mcompile.vcxproj
  windows/src/engine/mcompile/mcompile.vcxproj.filters
  windows/src/engine/mcompile/stdafx.h
  windows/src/ext/sentry/sentry.h
  windows/src/ext/sentry/sentry.lib
  windows/src/global/inc/keymansentry.h
  windows/src/global/vc/keymansentry.cpp
Labels: developer, developer-compiler, enhancement, windows

#2864 refactor(web/engine): activeKeyboard now tracked on Processor
  web/bulk_rendering/renderer_core.ts
  web/source/kmwbase.ts
  web/source/kmwdomevents.ts
  web/source/kmwembedded.ts
  web/source/kmwkeyboards.ts
  web/source/osk/defaultLayouts.ts
  web/source/osk/oskManager.ts
  web/source/osk/visualKeyboard.ts
  web/source/text/defaultOutput.ts
  web/source/text/kbdInterface.ts
  web/source/text/processor.ts
Labels: modification, web

#2868 refactor(web/engine): Initial definition of typed Keyboard wrapper
  web/bulk_rendering/build.sh
  web/bulk_rendering/renderer_core.ts
  web/source/keyboards/keyboard.ts
  web/source/keyboards/kmwkeyboards.ts
  web/source/kmwbase.ts
  web/source/kmwdomevents.ts
  web/source/osk/defaultLayouts.ts
  web/source/osk/oskManager.ts
  web/source/osk/visualKeyboard.ts
  web/source/text/kbdInterface.ts
  web/source/text/prediction/modelManager.ts
  web/source/text/processor.ts
Labels: modification, web

#2869 refactor(web/engine): More Keyboard wrapper properties
  web/source/keyboards/keyboard.ts
  web/source/keyboards/kmwkeyboards.ts
  web/source/kmwbase.ts
  web/source/kmwdom.ts
  web/source/kmwdomevents.ts
  web/source/osk/banner.ts
  web/source/osk/defaultLayouts.ts
  web/source/osk/oskManager.ts
  web/source/osk/visualKeyboard.ts
  web/source/text/kbdInterface.ts
  web/source/text/processor.ts
Labels: modification, web

#2870 refactor(web/engine): headless-friendly keymapping
  web/source/keymanweb.ts
  web/source/kmwbase.ts
  web/source/osk/defaultLayouts.ts
  web/source/text/kbdInterface.ts
  web/source/text/keyMapping.ts
  web/source/text/processor.ts
Labels: modification, web

#2883 refactor(web/engine): relocates keyboard tag code, adds typing
  web/source/keyboards/keyboard.ts
  web/source/keyboards/kmwkeyboards.ts
  web/source/text/kbdInterface.ts
  web/source/text/processor.ts
Labels: modification, web

#2884 fix(web): fixes variable stores
  web/source/keyboards/kmwkeyboards.ts
  web/source/kmwbase.ts
  web/source/recorder_KeyboardScripts.js
  web/source/text/kbdInterface.ts
  web/testing/index.html
  web/testing/options-with-save/index.html
  web/testing/options-with-save/options_with_save.js
  web/unit_tests/CI.conf.js
  web/unit_tests/cases/engine.js
  web/unit_tests/json/engine_tests/options_with_save_1.json
  web/unit_tests/json/engine_tests/options_with_save_2.json
  web/unit_tests/json/keyboards/options_with_save.json
  web/unit_tests/resources/keyboards/options_with_save.js
Labels: bug, web

#2889 auto: increment master version to 14.0.36
  HISTORY.md
  VERSION.md
Labels: auto

#2890 fix(web/engine): Fixes default key lookup returns
  web/source/text/defaultOutput.ts
Labels: bug, web

#2896 auto: increment master version to 14.0.37
  HISTORY.md
  VERSION.md
Labels: auto

#2887 feat(windows): crash reports in CEF
  windows/src/desktop/kmshell/.gitignore
  windows/src/desktop/kmshell/Makefile
  windows/src/desktop/kmshell/xml/basekeyboard.xsl
  windows/src/desktop/kmshell/xml/config.js
  windows/src/desktop/kmshell/xml/downloadkeyboard.xsl
  windows/src/desktop/kmshell/xml/help.xsl
  windows/src/desktop/kmshell/xml/hint.xsl
  windows/src/desktop/kmshell/xml/installkeyboard.xsl
  windows/src/desktop/kmshell/xml/keyman.xsl
  windows/src/desktop/kmshell/xml/onlineupdate.xsl
  windows/src/desktop/kmshell/xml/proxyconfiguration.xsl
  windows/src/desktop/kmshell/xml/sentry.bundle.min.js
  windows/src/desktop/kmshell/xml/sentry.init.js.in
  windows/src/desktop/kmshell/xml/splash.xsl
  windows/src/desktop/kmshell/xml/usage_keyboard.xsl
  windows/src/desktop/kmshell/xml/usage_off.xsl
  windows/src/desktop/kmshell/xml/vkhints.xsl
  windows/src/desktop/kmshell/xml/welcome_fonts.xsl
  windows/src/developer/TIKE/Makefile
  windows/src/developer/TIKE/http/Keyman.Developer.System.HttpServer.App.pas
  windows/src/developer/TIKE/xml/app/.gitignore
  windows/src/developer/TIKE/xml/app/editor/index.html
  windows/src/developer/TIKE/xml/app/lib/sentry/bundle.min.js
  windows/src/developer/TIKE/xml/app/lib/sentry/init.js.in
  windows/src/developer/TIKE/xml/help/help.xsl
  windows/src/developer/TIKE/xml/kmw/index.html
  windows/src/developer/TIKE/xml/kmw/packages.html
  windows/src/developer/TIKE/xml/layoutbuilder/builder.xsl
  windows/src/developer/TIKE/xml/project/elements.xsl
  windows/src/global/delphi/chromium/Keyman.System.CEFManager.pas
Labels: developer, enhancement, windows

#2895 feat(common): Use Crowdin CLI (v3) for handling l10n files
  android/crowdin.yml
  resources/build/l10n/README.md
Labels: common, enhancement

#2897 fix(windows): show error if tsysinfo fails to start; kmcomapi reporting
  windows/src/desktop/kmbrowserhost/kmbrowserhost.dpr
  windows/src/desktop/kmbrowserhost/kmbrowserhost.dproj
  windows/src/desktop/kmbrowserhost/kmbrowserhost.res
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/kmshell/kmshell.res
  windows/src/desktop/kmshell/main/UImportOlderVersionKeyboards.pas
  windows/src/desktop/setup/RunTools.pas
  windows/src/desktop/setup/setup.dpr
  windows/src/desktop/setup/setup.dproj
  windows/src/developer/TIKE/Tike.dpr
  windows/src/developer/TIKE/Tike.dproj
  windows/src/engine/keyman/keyman.dpr
  windows/src/engine/keyman/keyman.dproj
  windows/src/engine/kmcomapi/com/keyman_implementation.pas
  windows/src/engine/kmcomapi/kmcomapi.dpr
  windows/src/engine/kmcomapi/kmcomapi.dproj
  windows/src/engine/kmcomapi/processes/keyboard/kprecompilemnemonickeyboard.pas
  windows/src/engine/kmcomapi/processes/package/kpinstallpackage.pas
  windows/src/engine/kmcomapi/util/utilhandleexception.pas
  windows/src/engine/tsysinfo/UfrmEmail.pas
  windows/src/engine/tsysinfo/sysinfo_main.pas
  windows/src/engine/tsysinfo/tsysinfo.dpr
  windows/src/engine/tsysinfo/tsysinfo.dproj
  windows/src/ext/sentry/Sentry.Client.pas
  windows/src/global/delphi/debug/Keyman.System.DebugLogManager.pas
  windows/src/global/delphi/general/ErrLogPath.pas
  windows/src/global/delphi/general/Keyman.System.KeymanSentryClient.pas
  windows/src/global/delphi/general/KeymanPaths.pas
  windows/src/global/vc/keymansentry.cpp
Labels: modification, windows

#2904 auto: increment master version to 14.0.38
  HISTORY.md
  VERSION.md
Labels: auto

#2908 auto: increment master version to 14.0.39
  HISTORY.md
  VERSION.md
Labels: auto

#2898 feat(windows): sentry x64 support
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/kmshell/kmshell.res
  windows/src/desktop/kmshell/main/UImportOlderVersionSettings.pas
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/desktop/kmshell/xml/locale.xml
  windows/src/desktop/setup/RunTools.pas
  windows/src/desktop/setup/SetupStrings.pas
  windows/src/desktop/setup/UfrmInstallOptions.dfm
  windows/src/desktop/setup/UfrmInstallOptions.pas
  windows/src/desktop/setup/UfrmRunDesktop.pas
  windows/src/developer/Makefile
  windows/src/developer/TIKE/dialogs/UfrmOptions.dfm
  windows/src/developer/TIKE/dialogs/UfrmOptions.pas
  windows/src/developer/TIKE/main/KeymanDeveloperOptions.pas
  windows/src/developer/TIKE/main/UfrmMain.pas
  windows/src/developer/inst/kmdev.wxs
  windows/src/developer/kmcomp/kmcomp.dproj
  windows/src/engine/Makefile
  windows/src/engine/inst/components.wxs
  windows/src/engine/keymanx64/keymanx64.cpp
  windows/src/engine/keymanx64/keymanx64.vcxproj
  windows/src/engine/keymanx64/keymanx64.vcxproj.filters
  windows/src/engine/kmcomapi/Makefile
  windows/src/engine/kmcomapi/util/utilkeymanoption.pas
  windows/src/engine/tsysinfo/UfrmRemoteExceptionHandler.pas
  windows/src/engine/tsysinfox64/Makefile
  windows/src/engine/tsysinfox64/tsysinfox64.dpr
  windows/src/engine/tsysinfox64/tsysinfox64.dproj
  windows/src/ext/sentry/Sentry.Client.Console.pas
  windows/src/ext/sentry/Sentry.Client.Vcl.pas
  windows/src/ext/sentry/Sentry.Client.pas
  windows/src/ext/sentry/sentry.pas
  windows/src/ext/sentry/sentry.x64.dll
  windows/src/ext/sentry/sentry.x64.lib
  windows/src/global/delphi/general/Keyman.System.KeymanSentryClient.pas
  windows/src/global/delphi/general/KeymanOptionNames.pas
  windows/src/global/delphi/general/RegistryKeys.pas
  windows/src/global/inc/keymansentry.h
  windows/src/global/inc/registry.h
  windows/src/global/vc/keymansentry.cpp
  windows/src/test/test_i3633/verify.dpr
Labels: enhancement, windows

#2909 auto: increment master version to 14.0.40
  HISTORY.md
  VERSION.md
Labels: auto

#2912 fix(developer): use correct registry types for sentry options
  windows/src/developer/TIKE/main/KeymanDeveloperOptions.pas
Labels: bug, developer

#2913 fix(windows): replaces empty eventid with underscore when autoreport errors off
  windows/src/global/delphi/general/Keyman.System.KeymanSentryClient.pas
Labels: bug, developer, windows

#2891 refactor(web): namespacing DOM-focused management
  web/source/dom/domEventHandlers.ts
  web/source/dom/domManager.ts
  web/source/dom/targets/contentEditable.ts
  web/source/dom/targets/designIFrame.ts
  web/source/dom/targets/input.ts
  web/source/dom/targets/readme.md
  web/source/dom/targets/textarea.ts
  web/source/dom/targets/touchAlias.ts
  web/source/dom/targets/wrapElement.ts
  web/source/kmwbase.ts
  web/source/osk/languageMenu.ts
  web/source/recorder_ui_and_stubs.js
  web/source/text/kbdInterface.ts
  web/source/text/processor.ts
  web/source/tsconfig.dev_resources.json
  web/unit_tests/cases/element_interfaces.js
  web/unit_tests/cases/events.js
  web/unit_tests/cases/target_mocks.js
Labels: modification, web

#2892 refactor(web/engine): starts DOM pre-processor
  web/source/dom/domEventHandlers.ts
  web/source/dom/preProcessor.ts
  web/source/kmwhotkeys.ts
  web/source/text/processor.ts
Labels: modification, web

#2893 refactor(web): starts OSK preprocessor
  web/source/kmwembedded.ts
  web/source/osk/preProcessor.ts
  web/source/osk/visualKeyboard.ts
  web/source/recorder_ui_and_stubs.js
  web/source/text/processor.ts
Labels: modification, web

#2894 refactor(web): headless device representation
  web/source/dom/preProcessor.ts
  web/source/keyboards/keyboard.ts
  web/source/kmwdevice.ts
  web/source/kmwembedded.ts
  web/source/osk/preProcessor.ts
  web/source/text/engineDeviceSpec.ts
  web/source/text/kbdInterface.ts
  web/source/text/keyEvent.ts
  web/source/text/processor.ts
Labels: modification, web

#2899 refactor(web): cleanup for Processor.processKeyEvent
  web/source/dom/domEventHandlers.ts
  web/source/dom/preProcessor.ts
  web/source/kmwembedded.ts
  web/source/osk/preProcessor.ts
  web/source/text/kbdInterface.ts
  web/source/text/processor.ts
Labels: modification, web

#2916 chore(common): Cleanup unused folders and update README
  .crowdin-tmp/.gitkeep
  .gitignore
  resources/build/l10n/README.md
Labels: common

#2918 auto: increment master version to 14.0.41
  HISTORY.md
  VERSION.md
Labels: auto

#2901 refactor(web/engine): KeyboardInterface/Processor cleanup and prep
  web/source/dom/domEventHandlers.ts
  web/source/dom/domManager.ts
  web/source/keymanweb.ts
  web/source/kmwbase.ts
  web/source/text/kbdInterface.ts
  web/source/text/outputTarget.ts
  web/source/text/processor.ts
Labels: modification, web

#2902 refactor(web/engine): Preps keyboard layouts definitions for web-core
  web/source/dom/preProcessor.ts
  web/source/keyboards/activeLayout.ts
  web/source/keyboards/defaultLayouts.ts
  web/source/keyboards/keyboard.ts
  web/source/osk/oskManager.ts
  web/source/osk/preProcessor.ts
  web/source/osk/visualKeyboard.ts
  web/source/text/processor.ts
Labels: modification, web

#2903 refactor(web/engine): layouts now full property of Keyboard wrapper
  web/source/keyboards/activeLayout.ts
  web/source/keyboards/defaultLayouts.ts
  web/source/keyboards/keyboard.ts
  web/source/osk/oskManager.ts
  web/source/osk/preProcessor.ts
  web/source/osk/visualKeyboard.ts
  web/source/text/processor.ts
Labels: modification, web

#2921 feat(android): Specify optional language ID for installing kmp
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/LexicalModelPackageProcessor.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/LexicalModelPackageProcessorTest.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/PackageProcessorTest.java
Labels: android, enhancement

#2929 auto: increment master version to 14.0.42
  HISTORY.md
  VERSION.md
Labels: auto
