Repository keymanapp/keyman, pull requests merged in 2020-04, with the labels that each got.

#2930 fix(android): Fix globe button crash on 3rd party apps
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
Labels: android, bug

#2928 modify(android) Install default asset kmp's
  android/KMAPro/kMAPro/build.gradle
  android/KMAPro/kMAPro/src/main/assets/nrc.en.mtnt.model.kmp
  android/KMAPro/kMAPro/src/main/assets/sil_euro_latin.kmp
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/assets/cloud/DejaVuSans.ttf
  android/KMEA/app/src/main/assets/cloud/sil_euro_latin-1.8.1.js
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/FileUtils.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/FileUtilsTest.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/view/FunctionalTestHelper.java
Labels: android, modification

#2934 auto: increment master version to 14.0.43
  HISTORY.md
  VERSION.md
Labels: auto

#2932 fix(android, stable): Fix globe button crash for 3rd party apps
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/history.md
Labels: android, bug, cherry-pick, stable

#2936 fix(web/engine): default layout fix for chiral keyboards
  web/source/keyboards/keyboard.ts
Labels: bug, web

#2933 fix(android): Fix exception in ResourcesUpdateTool
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/logic/ResourcesUpdateTool.java
Labels: android, bug

#2935 modify(android): Update sample and test projects to install asset kmp's
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample1/app/src/main/assets/basic_kbdtam99.kmp
  android/Samples/KMSample1/app/src/main/assets/cloud/aava1.ttf
  android/Samples/KMSample1/app/src/main/assets/cloud/tamil99m-1.1.js
  android/Samples/KMSample1/app/src/main/assets/example.ta.wordlist.model.kmp
  android/Samples/KMSample1/app/src/main/assets/models/example.ta.wordlist/example.ta.wordlist.model.js
  android/Samples/KMSample1/app/src/main/assets/models/example.ta.wordlist/kmp.json
  android/Samples/KMSample1/app/src/main/java/com/keyman/kmsample1/MainActivity.java
  android/Samples/KMSample1/build.gradle
  android/Samples/KMSample2/app/build.gradle
  android/Samples/KMSample2/app/src/main/assets/basic_kbdtam99.kmp
  android/Samples/KMSample2/app/src/main/assets/cloud/aava1.ttf
  android/Samples/KMSample2/app/src/main/assets/cloud/tamil99m-1.1.js
  android/Samples/KMSample2/app/src/main/java/com/keyman/kmsample2/SystemKeyboard.java
  android/Samples/KMSample2/build.gradle
  android/Tests/KeyboardHarness/app/build.gradle
  android/Tests/KeyboardHarness/app/src/main/assets/cloud/chirality-1.0.js
  android/Tests/KeyboardHarness/app/src/main/assets/cloud/platformtest-1.0.js
  android/Tests/KeyboardHarness/app/src/main/assets/code2001.ttf
  android/Tests/KeyboardHarness/app/src/main/assets/keyboardharness.kmp
  android/Tests/KeyboardHarness/app/src/main/assets/keyboardharness.kpj
  android/Tests/KeyboardHarness/app/src/main/assets/keyboardharness.kps
  android/Tests/KeyboardHarness/app/src/main/assets/longpress.js
  android/Tests/KeyboardHarness/app/src/main/java/com/keyman/android/tests/keyboardHarness/MainActivity.java
  android/Tests/KeyboardHarness/build.gradle
  android/Tests/KeyboardHarness/readme.md
Labels: android, modification

#2937 auto: increment master version to 14.0.44
  HISTORY.md
  VERSION.md
Labels: auto

#2915 refactor(web/engine): begins formally removing DOM-aware keyboard API functions from web-core KeyboardInterface
  web/source/keyboards/keyboard.ts
  web/source/kmwbase.ts
  web/source/text/domKbdInterface.ts
  web/source/text/kbdInterface.ts
  web/source/text/processor.ts
Labels: modification, web

#2922 refactor(web/engine): relocates DOM-only parts of Processor
  web/source/dom/domEventHandlers.ts
  web/source/dom/preProcessor.ts
  web/source/dom/utils.ts
  web/source/keymanweb.ts
  web/source/kmwbase.ts
  web/source/kmwembedded.ts
  web/source/osk/banner.ts
  web/source/osk/preProcessor.ts
  web/source/text/domKbdInterface.ts
  web/source/text/prediction/modelManager.ts
  web/source/text/processor.ts
  web/testing/regression-tests/src/test-runner.js
Labels: modification, web

#2919 refactor(web/engine): start of system store abstraction
  web/source/text/kbdInterface.ts
  web/source/text/systemStores.ts
Labels: modification, web

#2920 refactor(web/engine): Processor now manages current layer; OSK listens via callback
  web/bulk_rendering/renderer_core.ts
  web/source/kmwbase.ts
  web/source/kmwembedded.ts
  web/source/osk/visualKeyboard.ts
  web/source/text/kbdInterface.ts
  web/source/text/processor.ts
  web/source/text/ruleBehavior.ts
  web/source/text/systemStores.ts
Labels: modification, web

#2925 refactor(web/engine): RuleBehavior now headless
  web/source/dom/domManager.ts
  web/source/text/processor.ts
  web/source/text/ruleBehavior.ts
Labels: modification, web

#2926 refactor(web/engine): variable store storage abstraction
  web/source/dom/domManager.ts
  web/source/dom/variableStoreCookieSerializer.ts
  web/source/kmwbase.ts
  web/source/text/kbdInterface.ts
  web/source/text/processor.ts
  web/source/text/ruleBehavior.ts
Labels: modification, web

#2927 fix(web): fixes activeElement typing
  web/source/dom/domEventHandlers.ts
  web/source/dom/domManager.ts
  web/source/kmwbase.ts
Labels: bug, web

#2938 refactor(web/engine): relocates DOM-only parts of Processor
  web/source/dom/domEventHandlers.ts
  web/source/dom/preProcessor.ts
  web/source/dom/utils.ts
  web/source/keymanweb.ts
  web/source/kmwbase.ts
  web/source/kmwembedded.ts
  web/source/osk/banner.ts
  web/source/osk/preProcessor.ts
  web/source/text/domKbdInterface.ts
  web/source/text/prediction/modelManager.ts
  web/source/text/processor.ts
  web/testing/regression-tests/src/test-runner.js
Labels: modification, web

#2943 fix(android): Change KeyboardHarness/build.sh to not rebuild KMEA
  android/KMEA/build.sh
  android/Tests/KeyboardHarness/build.sh
  android/Tests/KeyboardHarness/readme.md
Labels: android, bug

#2944 feat(android): Propagate languageID when downloading kmp
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/DownloadIntentService.java
Labels: android, bug, enhancement

#2945 auto: increment master version to 14.0.45
  HISTORY.md
  VERSION.md
Labels: auto

#2948 auto: increment master version to 14.0.46
  HISTORY.md
  VERSION.md
Labels: auto

#2946 fix(android): Add check for WRITE_EXTERNAL_STORAGE permission
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/CloudDownloadMgr.java
Labels: android, bug

#2955 auto: increment master version to 14.0.47
  HISTORY.md
  VERSION.md
Labels: auto

#2954 fix(common/lmlayer): use searchTermToKey() on input
  common/predictive-text/unit_tests/in_browser/cases/worker-trie-integration.js
  common/predictive-text/unit_tests/in_browser/resources/models/naive-trie.js
  common/predictive-text/worker/models/trie-model.ts
Labels: bug, modification, web, web-lm-layer

#2939 refactor(web/engine): proper split-off of DOM-reliant code
  web/source/dom/domDefaultOutput.ts
  web/source/dom/domEventHandlers.ts
  web/source/dom/domManager.ts
  web/source/dom/targets/contentEditable.ts
  web/source/dom/targets/designIFrame.ts
  web/source/dom/targets/input.ts
  web/source/dom/targets/outputTarget.ts
  web/source/dom/targets/textarea.ts
  web/source/dom/targets/touchAlias.ts
  web/source/dom/targets/wrapElement.ts
  web/source/keyboards/defaultLayouts.ts
  web/source/kmwutils.ts
  web/source/text/defaultOutput.ts
  web/source/text/outputTarget.ts
  web/source/text/processor.ts
  web/source/utils/deepCopy.ts
Labels: modification, web

#2940 refactor(web/engine): InputProcessor/KeyboardProcessor split
  web/bulk_rendering/renderer_core.ts
  web/source/dom/domEventHandlers.ts
  web/source/dom/domManager.ts
  web/source/dom/preProcessor.ts
  web/source/keyboards/keyboard.ts
  web/source/keyboards/kmwkeyboards.ts
  web/source/keymanweb.ts
  web/source/kmwbase.ts
  web/source/kmwdebug.js
  web/source/kmwembedded.ts
  web/source/osk/banner.ts
  web/source/osk/oskManager.ts
  web/source/osk/preProcessor.ts
  web/source/osk/visualKeyboard.ts
  web/source/text/inputProcessor.ts
  web/source/text/kbdInterface.ts
  web/source/text/keyEvent.ts
  web/source/text/keyboardProcessor.ts
  web/source/text/prediction/modelManager.ts
  web/source/text/ruleBehavior.ts
  web/testing/chirality/chirality.js
  web/testing/regression-tests/src/test-runner.js
  web/unit_tests/cases/engine.js
Labels: modification, web

#2951 fix(ios): prevents in-app keyboard resets
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
Labels: bug, ios

#2941 refactor(web/engine): headless KeyboardProcessor
  resources/build/build-utils.sh
  web/source/build-keyboard-processor.sh
  web/source/build.sh
  web/source/keyboard-processor.tsconfig.json
  web/source/keyboards/defaultLayouts.ts
  web/source/text/keyboardProcessor.ts
  web/source/utils/globalObject.ts
  web/source/utils/version.ts
Labels: modification, web

#2964 auto: increment master version to 14.0.48
  HISTORY.md
  VERSION.md
Labels: auto

#2931 feat(windows): use crashpad and better call stacks
  windows/src/buildtools/sentrytool/Keyman.System.AddPdbToPe.pas
  windows/src/buildtools/sentrytool/Keyman.System.MapToSym.pas
  windows/src/buildtools/sentrytool/Keyman.System.SentryTool.SentryToolMain.pas
  windows/src/buildtools/sentrytool/sentrytool.dproj
  windows/src/desktop/kmbrowserhost/kmbrowserhost.dpr
  windows/src/developer/Makefile
  windows/src/developer/kmanalyze/kmanalyze.vcxproj
  windows/src/developer/kmcmpdll/Compiler.cpp
  windows/src/developer/kmcomp/kmcomp.dpr
  windows/src/developer/kmcomp/kmcomp.dproj
  windows/src/developer/kmconvert/kmconvert.dpr
  windows/src/developer/kmconvert/kmconvert.dproj
  windows/src/engine/Makefile
  windows/src/engine/tsysinfox64/Makefile
  windows/src/engine/tsysinfox64/tsysinfox64.dpr
  windows/src/engine/tsysinfox64/tsysinfox64.dproj
  windows/src/ext/sentry/Sentry.Client.pas
  windows/src/ext/sentry/crashpad_handler.exe
  windows/src/ext/sentry/sentry.dll
  windows/src/ext/sentry/sentry.h
  windows/src/ext/sentry/sentry.lib
  windows/src/ext/sentry/sentry.pas
  windows/src/ext/sentry/sentry.x64.dll
  windows/src/ext/sentry/sentry.x64.lib
  windows/src/global/delphi/general/Keyman.System.KeymanSentryClient.pas
  windows/src/global/delphi/general/KeymanPaths.pas
  windows/src/global/delphi/general/compile.pas
  windows/src/global/vc/keymansentry.cpp
  windows/src/test/test_i3633/verify.dpr
Labels: developer, enhancement, windows

#2967 auto: increment master version to 14.0.49
  HISTORY.md
  VERSION.md
Labels: auto

#2978 chore(common/lmlayer): do not run tests in IE11 in Windows
  common/predictive-text/unit_tests/in_browser/CI.conf.js
  common/predictive-text/unit_tests/in_browser/browser-test.sh
Labels: modification, web, web-lm-layer

#2979 auto: increment master version to 14.0.50
  HISTORY.md
  VERSION.md
Labels: auto

#2981 fix(android): Handle default font DejaVuSans.ttf
  android/KMEA/app/src/main/assets/DejaVuSans.ttf
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
Labels: android, bug

#2961 feat(android): Add KMPBrowserActivity for cloud keyboard searches
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/AndroidManifest.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMPBrowserActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguagesSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/JSONUtils.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/FileUtils.java
  android/KMEA/app/src/main/res/layout/activity_kmp_browser.xml
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/JSONUtilsTest.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/PackageProcessorTest.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/FileUtilsTest.java
Labels: android, enhancement

#2953 feat(android): Download cloud keyboards from https://keyman.com/keyboards
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/WebBrowserActivity.java
  android/KMEA/app/src/main/AndroidManifest.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMPBrowserActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguagesSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/JSONUtils.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/FileUtils.java
  android/KMEA/app/src/main/res/layout/activity_kmp_browser.xml
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/JSONUtilsTest.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/PackageProcessorTest.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/FileUtilsTest.java
Labels: android, enhancement

#2882 fix(ios): [cherry] popup keys over base keys no longer emit base char
  ios/history.md
  web/source/osk/visualKeyboard.ts
Labels: bug, cherry-pick, ios, stable

#2952 fix(ios): prevents in-app keyboard resets
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
Labels: bug, cherry-pick, ios, stable

#2960 fix(ios): iOS 13.4 subkey menu workaround
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/SubKeysView.swift
  web/source/kmwembedded.ts
Labels: bug, cherry-pick, ios, stable

#2970 change(ios): Web-based popup key longpresses 🍒
  web/source/kmwembedded.ts
  web/source/kmwnative.ts
  web/source/osk/visualKeyboard.ts
Labels: bug, cherry-pick, enhancement, ios, stable, web

#2959 fix(ios): iOS 13.4 subkey menu workaround
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/SubKeysView.swift
  web/source/kmwembedded.ts
Labels: bug, ios

#2968 change(ios): Web-based popup key longpresses
  web/source/kmwembedded.ts
  web/source/kmwnative.ts
  web/source/osk/visualKeyboard.ts
Labels: bug, enhancement, ios, web

#2957 fix(common/lmlayer): use searchTermToKey() on input
  common/predictive-text/unit_tests/in_browser/cases/worker-trie-integration.js
  common/predictive-text/unit_tests/in_browser/resources/models/naive-trie.js
  common/predictive-text/worker/models/trie-model.ts
  web/history.md
Labels: bug, cherry-pick, stable, web, web-lm-layer

#2973 fix(web): repairs Web regression test suite
  web/testing/regression-tests/karma.conf.js
  web/testing/regression-tests/src/test-runner.js
Labels: bug, web

#2984 feat(android): Dismiss system keyboard on Back press
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
Labels: android, enhancement

#2991 auto: increment master version to 14.0.51
  HISTORY.md
  VERSION.md
Labels: auto

#2993 modify(android): Update minimum SDK to 21
  android/KMAPro/kMAPro/build.gradle
  android/KMEA/app/build.gradle
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample2/app/build.gradle
  android/Tests/KeyboardHarness/app/build.gradle
  oem/firstvoices/android/app/build.gradle
Labels: android, modification

#2995 auto: increment master version to 14.0.52
  HISTORY.md
  VERSION.md
Labels: auto

#2969 refactor(web/engine): precomputation for OSK key events, headless production thereof
  web/source/keyboards/activeLayout.ts
  web/source/keyboards/keyboard.ts
  web/source/kmwembedded.ts
  web/source/osk/preProcessor.ts
  web/source/osk/visualKeyboard.ts
  web/source/text/inputProcessor.ts
  web/source/text/keyboardProcessor.ts
  web/source/utils/deepCopy.ts
  web/testing/chirality/chirality.js
Labels: modification, web

#2974 refactor(web/engine): initial ModelManager split
  web/source/dom/domEventHandlers.ts
  web/source/kmwbase.ts
  web/source/osk/banner.ts
  web/source/osk/bannerManager.ts
  web/source/osk/preProcessor.ts
  web/source/osk/visualKeyboard.ts
  web/source/text/inputProcessor.ts
  web/source/text/prediction/languageProcessor.ts
  web/source/text/prediction/modelManager.ts
Labels: modification, web

#2975 refactor(web/engine): lm-layer enablement state management rework
  web/source/dom/domManager.ts
  web/source/dom/domOverrides.ts
  web/source/osk/bannerManager.ts
  web/source/osk/preProcessor.ts
  web/source/text/inputProcessor.ts
  web/source/text/prediction/languageProcessor.ts
  web/source/text/prediction/modelManager.ts
Labels: modification, web

#2976 refactor(web/engine): predictive data routing, LanguageProcessor as EventEmitter
  web/package-lock.json
  web/package.json
  web/source/dom/preProcessor.ts
  web/source/includes/events.ts
  web/source/kmwembedded.ts
  web/source/osk/banner.ts
  web/source/osk/bannerManager.ts
  web/source/osk/preProcessor.ts
  web/source/text/inputProcessor.ts
  web/source/text/prediction/languageProcessor.ts
  web/source/text/prediction/modelManager.ts
  web/source/text/ruleBehavior.ts
Labels: modification, web

#2982 refactor(web/engine): web-core build prep
  web/source/build-web-core.sh
  web/source/dom/domEventHandlers.ts
  web/source/dom/domOverrides.ts
  web/source/osk/banner.ts
  web/source/text/inputProcessor.ts
  web/source/text/prediction/languageProcessor.ts
  web/source/text/prediction/modelManager.ts
  web/source/web-core.tsconfig.json
Labels: modification, web

#3002 auto: increment master version to 14.0.53
  HISTORY.md
  VERSION.md
Labels: auto

#3007 cherrypick(android) - Fix ResourcesUpdateTool crash
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/logic/ResourcesUpdateTool.java
  android/history.md
Labels: android, bug, cherry-pick, stable

#2986 refactor(common/lmlayer): Abstracted connection between LMLayer and Worker initialization
  common/predictive-text/index.ts
  common/predictive-text/unit_tests/in_browser/cases/top-level-lmlayer.js
  common/predictive-text/unit_tests/in_browser/cases/worker.js
  common/predictive-text/web-defaultWorker.ts
  common/predictive-text/worker-interface.d.ts
  common/predictive-text/worker/index.ts
  common/predictive-text/worker/tsconfig.json
  web/source/includes/lmlayer.ts
Labels: modification, web, web-lm-layer

#3010 fix(android): predictive banner display bugfix
  android/KMEA/app/src/main/assets/keyboard.html
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
Labels: android, bug

#3009 fix(android): Fix system keyboard alignment
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
Labels: android, bug, compatibility

#3015 auto: increment master version to 14.0.54
  HISTORY.md
  VERSION.md
Labels: auto

#3016 refactor(common/lmlayer): word breaker compilation
  developer/js/source/lexical-model-compiler/lexical-model-compiler.ts
  developer/js/source/lexical-model-compiler/lexical-model.ts
  developer/js/tests/test-compile-trie.ts
Labels: developer-compiler, modification, web-lm-layer

#3019 auto: increment master version to 14.0.55
  HISTORY.md
  VERSION.md
Labels: auto

#3018 modify(android): Convert LanguageListActivity to utility
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/AndroidManifest.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListUtil.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguagesSettingsActivity.java
  android/KMEA/app/src/main/res/values/strings.xml
Labels: android, modification

#3013 modify(android): Change "Get Started" keyboard picker to bring up embedded keyboard search
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/GetStartedActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/AndroidManifest.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListUtil.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguagesSettingsActivity.java
  android/KMEA/app/src/main/res/values/strings.xml
Labels: android, modification

#2992 refactor(web/engine): successful web-core compilation
  web/source/includes/dom-lmlayer.ts
  web/source/includes/node-lmlayer.ts
  web/source/kmwbase.ts
  web/source/text/inputProcessor.ts
  web/source/text/prediction/modelManager.ts
  web/source/tsconfig.embedded.json
  web/source/tsconfig.web.json
  web/source/web-core.tsconfig.json
Labels: modification, web

#2971 change(common/lmlayer): always bundle searchTermToKey() with model
  common/predictive-text/worker/models/trie-model.ts
  developer/js/source/lexical-model-compiler/build-trie.ts
  developer/js/source/lexical-model-compiler/lexical-model-compiler.ts
  developer/js/tests/test-compile-trie.ts
  developer/js/tests/test-default-search-term-to-key.ts
Labels: developer-compiler, modification, web, web-lm-layer

#3014 change(common/lmlayer): remove NFD table
  common/predictive-text/worker/models/trie-model.ts
Labels: modification, web, web-lm-layer

#3022 auto: increment master version to 14.0.56
  HISTORY.md
  VERSION.md
Labels: auto

#3025 fix(android): Clarify label that shows "Get Started" on startup
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/GetStartedActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeymanSettingsFragment.java
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
Labels: android, bug

#3023 feat(common/lmlayer): allow for verbose word breaker specification
  developer/js/source/lexical-model-compiler/lexical-model-compiler.ts
  developer/js/source/lexical-model-compiler/lexical-model.ts
  developer/js/tests/fixtures/example.qaa.wordbreaker/example.qaa.wordbreaker.model.ts
  developer/js/tests/fixtures/example.qaa.wordbreaker/wordlist.tsv
  developer/js/tests/test-compile-model.ts
Labels: developer, developer-compiler, enhancement, web, web-lm-layer

#3026 auto: increment master version to 14.0.57
  HISTORY.md
  VERSION.md
Labels: auto

#3029 modify(common): Update to Unicode 13.0
  resources/standards-data/unicode-character-database/Blocks.txt
  resources/standards-data/unicode-character-database/UnicodeData.txt
  resources/standards-data/unicode-character-database/unicode-copyright.txt
Labels: common, modification

#3020 modify(android): Refactor Keyboard class to not use Map
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardPickerAdapter.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/CloudDataJsonUtil.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/Dataset.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/Keyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/LanguageResource.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/LexicalModel.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/cloud/CloudDataJsonUtilTest.java
Labels: android, modification

#3031 auto: increment master version to 14.0.58
  HISTORY.md
  VERSION.md
Labels: auto

#3024 change(common/lmlayer): improvements to default searchTermToKey
  developer/js/source/lexical-model-compiler/build-trie.ts
  developer/js/tests/test-default-search-term-to-key.ts
Labels: developer, developer-compiler, enhancement, web, web-lm-layer

#3034 auto: increment master version to 14.0.59
  HISTORY.md
  VERSION.md
Labels: auto

#3037 chore: merge stable history
  android/history.md
  ios/history.md
  linux/history.md
  web/history.md
  windows/src/developer/history.md
Labels: modification

#3021 feat(common/lmlayer): create join word breaker decorator
  common/predictive-text/unit_tests/headless/join-word-breaker.js
  common/predictive-text/worker/word_breaking/join-word-breaker-decorator.ts
Labels: enhancement, web, web-lm-layer

#3040 fix(ios): download fv keyboards
  ios/README.md
  oem/firstvoices/ios/build.sh
  oem/firstvoices/ios/build_keyboards.sh
  resources/build/jq.inc.sh
  resources/build/run-required-test-builds.sh
Labels: bug, ios, oem

#3033 modify(android): Refactor LanguageResource() and remove "Custom" property
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardPickerAdapter.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageListUtil.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/CloudDataJsonUtil.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudKeyboardMetaDataDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/Dataset.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/Keyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/LanguageResource.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/LexicalModel.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/FileUtils.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/cloud/CloudDataJsonUtilTest.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/FileUtilsTest.java
Labels: android, modification

#3043 auto: increment master version to 14.0.60
  HISTORY.md
  VERSION.md
Labels: auto

#2997 feat(common): initial use of lerna (in-repo package links only)
  .gitignore
  README.md
  common/predictive-text/build.sh
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  common/predictive-text/unit_tests/test.sh
  lerna.json
  package-lock.json
  package.json
  resources/shellHelperFunctions.sh
  web/bulk_rendering/build.sh
  web/package-lock.json
  web/package.json
  web/source/build.sh
  web/source/build_dev_resources.sh
  web/source/includes/dom-lmlayer.ts
  web/source/includes/node-lmlayer.ts
Labels: common, enhancement, web, web-lm-layer

#3001 change(web/engine): spins core/web/keyboard-processor package off from KeymanWeb
  common/core/web/keyboard-processor/.gitignore
  common/core/web/keyboard-processor/README.md
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/keyboard-processor/src/build.sh
  common/core/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/core/web/keyboard-processor/src/keyboards/defaultLayouts.ts
  common/core/web/keyboard-processor/src/keyboards/keyboard.ts
  common/core/web/keyboard-processor/src/text/codes.ts
  common/core/web/keyboard-processor/src/text/deadkeys.ts
  common/core/web/keyboard-processor/src/text/defaultOutput.ts
  common/core/web/keyboard-processor/src/text/engineDeviceSpec.ts
  common/core/web/keyboard-processor/src/text/kbdInterface.ts
  common/core/web/keyboard-processor/src/text/keyEvent.ts
  common/core/web/keyboard-processor/src/text/keyMapping.ts
  common/core/web/keyboard-processor/src/text/keyboardProcessor.ts
  common/core/web/keyboard-processor/src/text/kmwstring.ts
  common/core/web/keyboard-processor/src/text/outputTarget.ts
  common/core/web/keyboard-processor/src/text/ruleBehavior.ts
  common/core/web/keyboard-processor/src/text/systemStores.ts
  common/core/web/keyboard-processor/src/tsconfig.json
  common/core/web/keyboard-processor/src/utils/deepCopy.ts
  common/core/web/keyboard-processor/src/utils/globalObject.ts
  common/core/web/keyboard-processor/src/utils/version.ts
  common/predictive-text/package.json
  common/predictive-text/worker/index.ts
  lerna.json
  web/bulk_rendering/tsconfig.json
  web/package.json
  web/source/build.sh
  web/source/dom/domManager.ts
  web/source/dom/targets/touchAlias.ts
  web/source/dom/touchAliasElement.ts
  web/source/keyboards/kmwkeyboards.ts
  web/source/keymanweb.ts
  web/source/kmwapi.ts
  web/source/kmwdevice.ts
  web/source/kmwembedded.ts
  web/source/kmwnative.ts
  web/source/kmwtypedefs.ts
  web/source/kmwuifloat.ts
  web/source/kmwuitoggle.ts
  web/source/kmwutils.ts
  web/source/osk/oskManager.ts
  web/source/osk/visualKeyboard.ts
  web/source/text/domKbdInterface.ts
  web/source/text/inputProcessor.ts
  web/source/text/prediction/modelManager.ts
  web/source/tsconfig.dev_resources.json
  web/source/tsconfig.recorder.json
Labels: modification, web

#3046 chore(common/lmlayer): change author from personal to work affiliation
  common/predictive-text/package.json
Labels: modification, web, web-lm-layer

#3048 auto: increment master version to 14.0.61
  HISTORY.md
  VERSION.md
Labels: auto

#3044 fix(ios): firstvoices icon and version info
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/Contents.json
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iPad_76x76-1.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/Contents.json
  oem/firstvoices/ios/build_common.sh
Labels: bug, ios, oem

#3006 feat(windows): Sentry integration fixes and polish
  android/KMAPro/kMAPro/build.gradle
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/build.gradle
  android/KMEA/build.sh
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample2/app/build.gradle
  android/Tests/KeyboardHarness/app/build.gradle
  android/Tests/keycode/app/build.gradle
  android/version.gradle
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/Errors/SentryManager.swift
  ios/engine/KMEI/KeymanEngine/Info.plist
  ios/keyman/Keyman/Keyman-Info.plist
  ios/kmbuild.sh
  oem/firstvoices/android/app/build.gradle
  oem/firstvoices/android/app/src/main/AndroidManifest.xml
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/MainActivity.java
  resources/build/build-utils.sh
  resources/build/xcode-utils.sh
  windows/src/buildtools/mkver/Main.pas
  windows/src/buildtools/sentry-upload-difs.sh
  windows/src/desktop/kmshell/util/Keyman.Configuration.UI.UfrmDiagnosticTests.dfm
  windows/src/desktop/kmshell/util/Keyman.Configuration.UI.UfrmDiagnosticTests.pas
  windows/src/desktop/kmshell/xml/sentry.init.js.in
  windows/src/developer/TIKE/xml/app/lib/sentry/init.js.in
  windows/src/developer/inst/kmdev.wxs
  windows/src/developer/kmcomp/Makefile
  windows/src/developer/kmcomp/kmcomp.dproj
  windows/src/engine/inst/components.wxs
  windows/src/engine/tsysinfo/UfrmRemoteExceptionHandler.pas
  windows/src/ext/sentry/Sentry.Client.pas
  windows/src/global/delphi/chromium/Keyman.System.CEFManager.pas
  windows/src/global/delphi/general/Keyman.System.KeymanSentryClient.pas
  windows/src/global/delphi/general/Keyman.System.KeymanVersionInfo.pas
  windows/src/global/delphi/general/KeymanVersionInfo.inc
  windows/src/global/delphi/general/keymanversion_build.in
  windows/src/global/inc/keymanversion_build.in
  windows/src/global/vc/keymansentry.cpp
Labels: android, common, developer, enhancement, ios, windows

#3032 feat(common/lmlayer): compile joinWordsAt property
  developer/js/source/lexical-model-compiler/lexical-model-compiler.ts
  developer/js/source/lexical-model-compiler/lexical-model.ts
  developer/js/tests/fixtures/example.qaa.joinwordbreaker/example.qaa.joinwordbreaker.model.ts
  developer/js/tests/fixtures/example.qaa.joinwordbreaker/wordlist.tsv
  developer/js/tests/helpers/index.ts
  developer/js/tests/test-compile-model.ts
Labels: developer, developer-compiler, enhancement

#3053 auto: increment master version to 14.0.62
  HISTORY.md
  VERSION.md
Labels: auto
