Repository keymanapp/keyman, pull requests merged in 2020-02, with the labels that each got.

#2564 chore: use alternate automerge
  .github/workflows/auto-merge-keyman-server-pr.yml
Labels: ci, modification

#2565 auto: increment master version to 14.0.2
  VERSION.md
Labels: auto

#2562 chore: version tags
  resources/build/build-utils.sh
Labels: ci, enhancement

#2567 auto: increment master version to 14.0.3
  HISTORY.md
  VERSION.md
Labels: auto

#2568 chore(ci): increment version final
  resources/build/build-utils.sh
  resources/build/increment-version.sh
  resources/build/version/.gitignore
  resources/build/version/README.md
  resources/build/version/package-lock.json
  resources/build/version/package.json
  resources/build/version/src/fixupHistory.ts
  resources/build/version/src/graphql/queries.ts
  resources/build/version/src/incrementVersion.ts
  resources/build/version/src/index.ts
  resources/build/version/src/util/spawnAwait.ts
  resources/build/version/tsconfig.json
  resources/build/version/tsconfig.production.json
Labels: ci, enhancement

#2571 auto: increment master version to 14.0.4
  HISTORY.md
  VERSION.md
Labels: auto

#2560 fix(ios): Fixes margins on keyboard in iOS 9/10
  ios/engine/KMEI/KeymanEngine/Classes/InputViewController.swift
  ios/history.md
Labels: bug, ios

#2572 chore(ci): trigger builds after version increment
  resources/build/increment-version.sh
  resources/build/trigger-builds.sh
Labels: ci, enhancement

#2561 fix(web): default BKSP output targeting
  web/history.md
  web/source/text/processor.ts
Labels: bug, web

#2573 auto: increment master version to 14.0.5
  HISTORY.md
  VERSION.md
Labels: auto

#2574 fix(linux) Remove cosmic and disco releases
  linux/.pbuilderrc
  linux/history.md
  linux/scripts/cow.sh
  linux/scripts/launchpad.sh
Labels: linux

#2576 chore(ci): support test builds on master/beta/stable-x.y
  HISTORY.md
  resources/build/build-utils.sh
  resources/build/history/history-utils.sh
  resources/build/version/src/fixupHistory.ts
  resources/git-hooks/commit-msg
Labels: ci, modification

#2584 auto: increment master version to 14.0.6
  HISTORY.md
  VERSION.md
Labels: auto

#2580 fix(windows): Windows touch keyboard would cancel on each keystroke
  windows/src/desktop/history.md
  windows/src/engine/keyman/UfrmKeyman7Main.dfm
  windows/src/engine/keyman/UfrmKeyman7Main.pas
  windows/src/engine/keyman/keyman.dpr
  windows/src/engine/keyman/keyman.dproj
  windows/src/engine/keyman/touchkeyboard/Keyman.System.FrameworkInputPane.pas
  windows/src/engine/keyman32/KEYMAN32.DEF
  windows/src/engine/keyman32/k32_lowlevelkeyboardhook.cpp
  windows/src/engine/kmcomapi/com/system/keymancontrol.pas
  windows/src/global/delphi/general/KeymanEngineControl.pas
Labels: bug, windows

#2583 fix(linux): Fix 'About' keyboard when missing copyright
  linux/history.md
  linux/keyman-config/keyman_config/keyboard_details.py
Labels: bug, linux

#2566 feat(linux): Keyboard options configuration dialog
  linux/.editorconfig
  linux/history.md
  linux/ibus-keyman/src/engine.c
  linux/ibus-keyman/src/keymanutil.c
  linux/ibus-keyman/src/keymanutil.h
  linux/keyman-config/Makefile
  linux/keyman-config/README.md
  linux/keyman-config/com.keyman.gschema.xml
  linux/keyman-config/keyman_config/dconf_util.py
  linux/keyman-config/keyman_config/list_installed_kmp.py
  linux/keyman-config/keyman_config/options.py
  linux/keyman-config/keyman_config/view_installed.py
  linux/scripts/install.sh
Labels: enhancement, linux

#2581 feat: prepare-commit-msg hook for autogenerated conventional commit messages
  configure-repo.sh
  resources/git-hooks/commit-msg
  resources/git-hooks/commit-msg-defs
  resources/git-hooks/prepare-commit-msg
Labels: common, enhancement

#2589 fix(linux): cherry-pick packaging changes from beta branch
  linux/.pbuilderrc
  linux/scripts/cow.sh
  linux/scripts/launchpad.sh
Labels: cherry-pick, linux

#2591 fix(linux): Display the script name in log output
  linux/scripts/jenkins.sh
Labels: linux

#2600 auto: increment master version to 14.0.7
  HISTORY.md
  VERSION.md
Labels: auto

#2602 chore(ci): Tweak history management
  HISTORY.md
  resources/build/increment-version.sh
  resources/build/version/src/fixupHistory.ts
Labels: bug, ci

#2598 chore(common): Update README.md
  README.md
Labels: common, enhancement

#2605 chore: update history
  HISTORY.md
  VERSION.md
Labels: bug, ci

#2606 chore: merge beta P9S1 changes to master
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ConfirmDialogFragment.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/history.md
  common/lexical-model-types/index.d.ts
  common/predictive-text/docs/worker-communication-protocol.md
  common/predictive-text/worker/model-compositor.ts
  configure-repo.sh
  ios/engine/KMEI/KeymanEngine/Classes/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/history.md
  ios/keyman/Keyman/Keyman/GetStartedViewController/GetStartedViewController.swift
  linux/.editorconfig
  linux/history.md
  linux/ibus-keyman/src/engine.c
  linux/ibus-keyman/src/keymanutil.c
  linux/ibus-keyman/src/keymanutil.h
  linux/keyman-config/Makefile
  linux/keyman-config/README.md
  linux/keyman-config/com.keyman.gschema.xml
  linux/keyman-config/keyman_config/dconf_util.py
  linux/keyman-config/keyman_config/keyboard_details.py
  linux/keyman-config/keyman_config/list_installed_kmp.py
  linux/keyman-config/keyman_config/options.py
  linux/keyman-config/keyman_config/view_installed.py
  linux/scripts/install.sh
  linux/scripts/launchpad.sh
  mac/history.md
  resources/git-hooks/commit-msg
  resources/git-hooks/commit-msg-defs
  resources/git-hooks/prepare-commit-msg
  web/history.md
  web/source/osk/banner.ts
  web/source/text/processor.ts
  windows/src/desktop/history.md
  windows/src/developer/history.md
  windows/src/engine/keyman/UfrmKeyman7Main.dfm
  windows/src/engine/keyman/UfrmKeyman7Main.pas
  windows/src/engine/keyman/keyman.dpr
  windows/src/engine/keyman/keyman.dproj
  windows/src/engine/keyman/touchkeyboard/Keyman.System.FrameworkInputPane.pas
  windows/src/engine/keyman32/KEYMAN32.DEF
  windows/src/engine/keyman32/k32_lowlevelkeyboardhook.cpp
  windows/src/engine/kmcomapi/com/system/keymancontrol.pas
  windows/src/global/delphi/general/KeymanEngineControl.pas
Labels: cherry-pick

#2603 chore(ci): is build required?
  resources/build/build-triggers.sh
  resources/build/is-build-required.sh
Labels: ci, enhancement

#2599 fix(linux): Install requirements before packaging
  .editorconfig
  linux/keyman-config/README.md
  linux/keyman-config/debian/control
  linux/scripts/jenkins.sh
Labels: ci, linux

#2610 auto: increment master version to 14.0.9
  HISTORY.md
  VERSION.md
Labels: auto

#2578 fix(ios): fixes installation of default resources and updates them
  ios/engine/KMEI/KeymanEngine/Classes/Constants.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Migrations.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/Version.swift
  ios/engine/KMEI/KeymanEngine/Classes/Storage.swift
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/nrc.en.mtnt-0.1.2.model.kmp
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/nrc.en.mtnt-0.1.4.model.kmp
Labels: bug, ios

#2608 chore(android): Update default nrc.en.mtnt.model to 0.1.4
  android/KMEA/app/src/main/assets/nrc.en.mtnt.model.kmp
  android/history.md
Labels: android, enhancement

#2614 fix(common/core): buffer overrun in context api
  common/engine/keyboardprocessor/src/km_kbp_context_api.cpp
Labels: bug, common, mac, windows

#2612 chore(ci): add build scripts for beta tests 🍒
  resources/build/build-utils.sh
  resources/build/run-required-test-builds.sh
  resources/build/trigger-builds.sh
  resources/build/trigger-definitions.sh
Labels: cherry-pick, ci

#2611 fix(ci): refactor trigger of test builds
  resources/build/build-triggers.sh
  resources/build/is-build-required.sh
  resources/build/run-required-test-builds.sh
  resources/build/trigger-builds.sh
  resources/build/trigger-definitions.sh
Labels: bug, ci

#2615 fix(ci): don't include build-utils.sh
  resources/build/run-required-test-builds.sh
Labels: bug, ci

#2607 fix(common): Fix setting context when >= 64 characters
  common/engine/keyboardprocessor/src/kmx/kmx_context.cpp
  common/engine/keyboardprocessor/src/kmx/kmx_options.cpp
  common/engine/keyboardprocessor/tests/unit/kmx/040 - long context.kmn
  common/engine/keyboardprocessor/tests/unit/kmx/040 - long context.kmx
  common/engine/keyboardprocessor/tests/unit/kmx/041 - long context and deadkeys.kmn
  common/engine/keyboardprocessor/tests/unit/kmx/041 - long context and deadkeys.kmx
  common/engine/keyboardprocessor/tests/unit/kmx/042 - long context and split deadkeys.kmn
  common/engine/keyboardprocessor/tests/unit/kmx/042 - long context and split deadkeys.kmx
  common/engine/keyboardprocessor/tests/unit/kmx/kmp.json
  common/engine/keyboardprocessor/tests/unit/kmx/kmx.cpp
  common/engine/keyboardprocessor/tests/unit/kmx/meson.build
  linux/history.md
Labels: bug, common, linux

#2593 fix(ios): Icon image change on light/dark mode transition
  ios/keyman/Keyman/Keyman/MainViewController.swift
Labels: bug, ios

#2594 fix(ios): Keyboard banner light/dark transitions
  ios/engine/KMEI/KeymanEngine/Classes/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/history.md
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/MainViewController.swift
  ios/keyman/Keyman/SWKeyboard/ImageBanner.xib
  ios/keyman/Keyman/SWKeyboard/ImageBannerViewController.swift
  ios/keyman/Keyman/SWKeyboard/KeyboardViewController.swift
  web/source/osk/banner.ts
Labels: bug, ios

#2609 fix(linux): Fix packaging of keyman-config on Xenial
  linux/keyman-config/debian/control
Labels: ci, linux

#2618 auto: increment master version to 14.0.10
  HISTORY.md
  VERSION.md
Labels: auto

#2616 fix(common/core): buffer overrun in context api 🍒
  common/engine/keyboardprocessor/src/km_kbp_context_api.cpp
Labels: bug, cherry-pick, common, mac, windows

#2622 fix(web): patches Float and Toggle UI issues
  web/source/kmwuifloat.ts
  web/source/kmwuitoggle.ts
Labels: bug, web

#2623 change(web): build.sh recompilation of LMLayer only performed when needed
  web/source/build.sh
Labels: modification, web

#2626 fix(ios): Fixes in-app use of KMSample2
  ios/engine/KMEI/KeymanEngine/Classes/Colors+Extension.swift
  ios/engine/KMEI/KeymanEngine/Classes/Colors.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/KeyboardSwitcherViewController.swift
  ios/engine/KMEI/KeymanEngine/Keyboard Colors.xcassets/KeyboardSelectionPrimary.colorset/Contents.json
  ios/samples/KMSample2/KMSample2.xcodeproj/project.pbxproj
Labels: bug, ios

#2619 fix(developer): touch layout editor character map integration
  windows/src/developer/TIKE/oskbuilder/UframeTouchLayoutBuilder.pas
  windows/src/engine/keyman/touchkeyboard/Keyman.System.FrameworkInputPane.pas
Labels: bug, developer

#2620 fix(developer/compiler): package: version mismatch
  windows/src/developer/history.md
  windows/src/global/delphi/packages/Keyman.System.PackageInfoRefreshKeyboards.pas
Labels: bug, developer, developer-compiler

#2621 fix(developer/compiler): compiler sometimes merges touch platform support wrongly in .keyboard_info
  windows/src/developer/TIKE/compile/MergeKeyboardInfo.pas
  windows/src/developer/history.md
Labels: bug, developer, developer-compiler

#2627 fix(ios): Fixes lexical model url generation for updates
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadManager.swift
  ios/history.md
  ios/keyman/Keyman/SWKeyboard/KeyboardViewController.swift
Labels: bug, ios

#2624 fix(linux): Cherrypick linux packaging fixes
  .editorconfig
  linux/keyman-config/README.md
  linux/keyman-config/debian/control
  linux/scripts/jenkins.sh
Labels: cherry-pick, ci, linux

#2633 fix(developer/ide): model debugger mime type mismatch
  windows/src/developer/TIKE/http/Keyman.Developer.System.HttpServer.Base.pas
  windows/src/developer/TIKE/http/Keyman.Developer.System.HttpServer.Debugger.pas
  windows/src/developer/history.md
Labels: bug, developer

#2631 fix(ios): Fixes invalid keyboard display when backing out of sharing text
  ios/history.md
  ios/keyman/Keyman/Keyman/MainViewController.swift
Labels: bug, ios

#2640 fix(oem): Update version of androidx.appcompat
  oem/firstvoices/android/app/build.gradle
Labels: android, bug

#2634 fix(developer/ide): Model editor various bugs
  windows/src/developer/TIKE/child/Keyman.Developer.UI.UfrmModelEditor.pas
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/help/Keyman.Developer.System.HelpTopics.pas
  windows/src/developer/history.md
Labels: bug, developer

#2642 fix(web): fixes positioning of native-mode language menu
  web/history.md
  web/source/dom/touchAliasElement.ts
  web/source/osk/languageMenu.ts
  web/source/resources/osk/kmwosk.css
Labels: bug, web

#2644 change(android): Update app dependencies
  android/KMAPro/kMAPro/build.gradle
  android/KMEA/app/build.gradle
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample2/app/build.gradle
  android/Tests/KeyboardHarness/app/build.gradle
  android/Tests/keycode/app/build.gradle
  android/history.md
Labels: android, modification

#2646 fix(ios): initial-install check within Migrations
  ios/engine/KMEI/KeymanEngine/Classes/Migrations.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/Version.swift
Labels: bug, ios

#2588 fix(mac): Modifier keys were resetting cached context
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/Categories/NSString+XString.m
  mac/README.md
  mac/build.sh
  mac/history.md
Labels: bug, mac

#2643 refactor(mac): initial steps of input pathway
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
Labels: bug, mac

#2647 fix(web): Fat-finger complication fixes
  web/source/text/prediction/modelManager.ts
  web/source/text/processor.ts
Labels: bug, web

#2629 feat(web): restyles prediction banner
  android/history.md
  ios/history.md
  web/history.md
  web/source/osk/banner.ts
  web/source/resources/osk/kmwosk.css
Labels: android, enhancement, ios, web

#2650 chore(oem): FV iconography update
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/Contents.json
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_Appstore_1024x1024.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iOS_Settings_29x29.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iOS_Settings_58x58-1.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iOS_Settings_58x58.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iOS_Settings_87x87.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iPadPro_167x167.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iPad_152x152.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iPhone_120x120-1.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iPhone_120x120.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iPhone_Retina_180x180.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iPhone_x1_40x40.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iPhone_x2_80x80-1.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iPhone_x2_80x80.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/Icon-1024.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/Icon-120.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/Icon-152.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/Icon-167.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/Icon-180.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/Icon-29.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/Icon-40.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/Icon-58.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/Icon-76.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/Icon-80.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/Icon-87.png
Labels: ios, modification

#2652 fix(common): Update configure-repo.sh to ln commit-msg-defs
  configure-repo.sh
Labels: common

#2635 fix(android): Add ability to reinitialize `CloudDownloadMgr`
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/CloudDownloadMgr.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/logic/ResourcesUpdateTool.java
  android/history.md
Labels: android, bug

#2654 auto: increment master version to 14.0.11
  HISTORY.md
  VERSION.md
Labels: auto

#2660 fix(mac): invalid build script params removed
  mac/build.sh
Labels: bug, mac

#2661 fix(developer): crash in context help
  windows/src/developer/TIKE/main/UfrmHelp.pas
Labels: bug, developer

#2663 fix(developer): crash importing blank OSK
  windows/src/developer/TIKE/oskbuilder/UframeTouchLayoutBuilder.pas
Labels: bug, developer

#2648 fix(common, linux): Misc keyboard processor fixes for Xenial
  common/engine/keyboardprocessor/src/utfcodec.hpp
  linux/history.md
  linux/ibus-keyman/debian/control
  linux/keyman-config/Makefile
  linux/keyman-config/debian/control
Labels: ci, common, linux

#2664 [Linux] Fix tier used in debian watch files
  common/engine/keyboardprocessor/debian/watch
  linux/history.md
  linux/ibus-keyman/debian/control
  linux/ibus-keyman/debian/watch
  linux/ibus-kmfl/debian/watch
  linux/keyman-config/debian/watch
  linux/kmflcomp/debian/watch
  linux/libkmfl/debian/watch
  linux/scripts/launchpad.sh
Labels: bug, ci, linux

#2666 auto: increment master version to 14.0.12
  HISTORY.md
  VERSION.md
Labels: auto

#2662 fix(ios): Engine demo fix
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/Colors+Extension.swift
  ios/engine/KMEI/KeymanEngine/Classes/Colors.swift
  ios/engine/KMEI/KeymanEngine/Keyboard Colors.xcassets/HelpBubbleGradient1.colorset/Contents.json
  ios/engine/KMEI/KeymanEngine/Keyboard Colors.xcassets/HelpBubbleGradient2.colorset/Contents.json
  ios/history.md
Labels: bug, ios

#2669 test(android): Fix builds for Sample and Test apps
  HISTORY.md
  android/Samples/KMSample1/app/build.gradle
  android/Tests/KeyboardHarness/build.sh
Labels: android, bug, ci

#2671 docs(ios): Updates offline help for new 13.0 content
  ios/history.md
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/NotoSans-Regular-Ascii.ttf
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/add-keyboard-file-i.b0b4249fc27f737685a10fa6781db8b6.png
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/add-keyboard-i2.7b50d219584845142e3644694eeef1c3.png
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/add-keyboard-i2.f815f73c0363f547b5c756ebcdb4a89a.png
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/file-share-1i.6b5cb90a3fe79c777ae3e71db9d389c4.png
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/file-share-2i.b5ac36c325ecebb21ae10a44ee80a7e2.png
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/fonts.css
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/headerbar.5b66d10475396d1a17cb0d687f794262.png
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/index.php.html
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/index.php@embed=ios.html
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/installing-custom-keyboards.php.html
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/installing-fonts.php.html
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/installing-keyboards.php.html
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/installing-system-keyboard.php.html
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/keyboard.c855e229114c70aa572854de8d37265d.css
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/keyboard.f84ff11b7f61a4be1fa5437cf6ba17e0.css
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/keys.298336161ce24cc84fd19fc4ecb6f7ae.css
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/keys2.gif
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/logo2.d8805a27a5c0399d234f1f84aca74cae.png
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/qr-code-share-1i.712a0fe2abd4897b44a7b16ada1eaeda.png
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/qr-code-share-2i.fdd13bba60d1e46353290256e00f663a.png
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/qr-code-share-3i.7391cc9a2f049740cb6512d1e74273ff.png
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/qr-code-share-4i.b7bd5f4cea227ffa9e72bfb3554f2fb0.png
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/robots.txt.html
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/search-icon.png
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/sharing-keyboards.php.html
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/sil-logo-blue-2017_1.7742a0bfa005af55e62b98d27f8b033c.png
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/template.14a5a294ac88d01847a3fa1b51fb8a79.css
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/template.5f4056fcb922f05667eb19e3809c64db.css
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/triangle.png
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/uninstalling-keyboards.php.html
  ios/keyman/Keyman/resources/OfflineHelp.bundle/Contents/Resources/using-keyman-browser.php.html
Labels: enhancement, ios

#2672 fix(developer): upgrade removes preferences 🍒
  windows/src/developer/TIKE/child/Keyman.Developer.UI.UfrmModelEditor.pas
  windows/src/developer/history.md
  windows/src/developer/inst/kmdev.wxs
Labels: bug, cherry-pick, developer

#2668 fix(developer): upgrade removes preferences
  windows/src/developer/inst/kmdev.wxs
Labels: bug, developer

#2665 chore(ci): Rename trigger-definitions.sh to *.config
  resources/build/run-required-test-builds.sh
  resources/build/trigger-definitions.config
Labels: ci, modification

#2675 Fix/linux/setup gschema
  linux/history.md
  linux/keyman-config/debian/keyman.install
  linux/keyman-config/debian/keyman.postinst
Labels: bug, linux

#2677 auto: increment master version to 14.0.13
  HISTORY.md
  VERSION.md
Labels: auto

#2674 fix(ios): Responsive predictive toggles
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/LanguageSettingsViewController.swift
Labels: bug, ios

#2681 chore(windows): cleanup documentation
  windows/src/desktop/help/Makefile
  windows/src/desktop/help/basic/config_tasks/keyboards_tab.xml
  windows/src/desktop/help/context/activate.xml
  windows/src/desktop/help/context/langsetup.xml
  windows/src/desktop/help/context/splash.xml
  windows/src/desktop/help/desktop_images/addin.png
  windows/src/desktop/help/desktop_images/config-activation.png
  windows/src/desktop/help/desktop_images/diagnostic-link.png
  windows/src/desktop/help/desktop_images/diagnostic-progress.png
  windows/src/desktop/help/desktop_images/diagnostic-report.png
  windows/src/desktop/help/desktop_images/diagnostic-sendform.png
  windows/src/desktop/help/desktop_images/help-menu.png
  windows/src/desktop/help/desktop_images/keyboard-share.png
  windows/src/desktop/help/desktop_images/keyboard-uninstall.png
  windows/src/desktop/help/desktop_images/language-tasks.png
  windows/src/desktop/help/desktop_images/lct_complexscript_01.png
  windows/src/desktop/help/desktop_images/lct_rtlscript_01.png
  windows/src/desktop/help/desktop_images/manual-activation.png
  windows/src/desktop/help/desktop_images/menu-free.png
  windows/src/desktop/help/desktop_images/proxy-empty.png
  windows/src/desktop/help/desktop_images/setup-click2.png
  windows/src/desktop/help/desktop_images/setup-click3.png
  windows/src/desktop/help/desktop_images/splash-activation.png
  windows/src/desktop/help/desktop_images/splash-buy.png
  windows/src/desktop/help/desktop_images/splash-trial.png
  windows/src/desktop/help/desktop_images/start_download_keyboard_list.png
  windows/src/desktop/help/desktop_images/start_download_keyboard_list2.png
  windows/src/desktop/help/desktop_images/start_download_language_search.png
  windows/src/desktop/help/desktop_images/support-request.png
  windows/src/desktop/help/desktop_images/support-settings.png
  windows/src/desktop/help/desktop_images/support-settingsok.png
  windows/src/desktop/help/desktop_images/tab-layout.png
  windows/src/desktop/help/desktop_images/tab-support-light.png
  windows/src/desktop/help/desktop_images/tab-support.png
  windows/src/desktop/help/desktop_images/toolboxicon-off.png
  windows/src/desktop/help/desktop_images/toolboxicon-select.png
  windows/src/desktop/help/desktop_images/tutorial.png
  windows/src/desktop/help/desktop_images/uniscribe425.png
  windows/src/desktop/help/desktop_images/uniscribe626.png
  windows/src/desktop/help/desktop_images/xp-taskbar1.png
  windows/src/desktop/help/desktop_images/xp-taskbar2.png
  windows/src/desktop/help/index.xml
  windows/src/desktop/help/pro_feature.xml
  windows/src/desktop/help/start/hotkey_set.xml
  windows/src/desktop/help/topicresponse.js
  windows/src/desktop/help/topicresponse.xml
Labels: modification, windows

#2686 auto: increment master version to 14.0.14
  HISTORY.md
  VERSION.md
Labels: auto

#2688 [stable][linux]: Add gsettings schema to manifest
  linux/history.md
  linux/keyman-config/MANIFEST.in
Labels: bug, linux, stable

#2697 chore(linux): allow to trigger Jenkins build from script
  resources/build/build-utils.sh
  resources/build/increment-version.sh
  resources/build/run-required-test-builds.sh
  resources/build/trigger-builds.sh
  resources/build/trigger-definitions.config
Labels: ci, linux

#2703 fix(ios): Resource update issues
  ios/engine/KMEI/KeymanEngine/Classes/Model/KMPKeyboard.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/KMPLexicalModel.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/KeyboardKeymanPackage.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/KeymanPackage.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/LexicalModelKeymanPackage.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadQueue.swift
Labels: bug, ios

#2693 fix(web): Web CI target reversion
  web/unit_tests/CI.conf.js
Labels: bug, ci, web

#2701 refactor(common): Simplify and improve getting hook directory
  configure-repo.sh
  resources/git-hooks/commit-msg
  resources/git-hooks/prepare-commit-msg
Labels: common, modification

#2707 auto: increment master version to 14.0.15
  HISTORY.md
  VERSION.md
Labels: auto

#2715 fix(android): Sanitize app version string for api query
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
Labels: android, bug

#2706 chore(ci): Improve output when triggering Jenkins jobs
  resources/build/run-required-test-builds.sh
  resources/build/trigger-builds.sh
Labels: enhancement, linux

#2714 fix(ci): Fix increment-version.sh script
  resources/build/increment-version.sh
Labels: ci, common

#2718 auto: increment master version to 14.0.16
  HISTORY.md
  VERSION.md
Labels: auto

#2719 fix(android) Fix crash on kbdMapList
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
Labels: android, bug

#2724 fix(android): Sanitize app version for api query
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
Labels: android, bug, cherry-pick, stable

#2723 fix(android): Cherrypick #2711 to fix null kbdMapList
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/history.md
Labels: android, bug, cherry-pick, stable

#2726 fix(developer): crash when switching layout templates
  windows/src/developer/TIKE/xml/layoutbuilder/builder.js
Labels: bug, developer

#2732 auto: increment master version to 14.0.17
  HISTORY.md
  VERSION.md
Labels: auto

#2721 fix(developer): crash when switching layout templates 🍒
  windows/src/developer/TIKE/xml/layoutbuilder/builder.js
  windows/src/developer/history.md
Labels: bug, cherry-pick, developer, stable

#2731 feat(developer): always save options
  windows/src/developer/TIKE/Tike.dpr
  windows/src/developer/TIKE/Tike.dproj
  windows/src/developer/TIKE/child/UfrmKeymanWizard.dfm
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/dialogs/Keyman.Developer.UI.UfrmMessageDlgWithSave.dfm
  windows/src/developer/TIKE/dialogs/Keyman.Developer.UI.UfrmMessageDlgWithSave.pas
  windows/src/developer/TIKE/dialogs/UfrmOptions.dfm
  windows/src/developer/TIKE/dialogs/UfrmOptions.pas
  windows/src/developer/TIKE/main/KeymanDeveloperOptions.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.kmnProjectFileUI.pas
  windows/src/global/delphi/general/RegistryKeys.pas
Labels: developer, enhancement

#2736 fix(developer): insert from charmap into touch editor
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/oskbuilder/UframeTouchLayoutBuilder.pas
  windows/src/developer/history.md
Labels: bug, developer, stable

#2722 feat(common): Support git worktree when configuring local hooks
  configure-repo.sh
Labels: common, enhancement

#2720 docs(linux): Add linux packaging documentation
  docs/linux-packaging.md
  linux/README.md
Labels: enhancement, linux

#2737 fix(developer): insert from charmap into touch editor 🍒
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/oskbuilder/UframeTouchLayoutBuilder.pas
Labels: bug, cherry-pick, developer

#2692 feat(ios): KeymanEngine version migration unit tests
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/Storage.swift
  ios/engine/KMEI/KeymanEngineTests/MigrationTests.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/Keyboards.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/LexicalModels.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/Migrations.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/TestUtils.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/UserDefaults.swift
  ios/engine/KMEI/KeymanEngineTests/resources/12.0 Ad-hoc Migration.bundle/Documents/khmer10.kmp.zip
  ios/engine/KMEI/KeymanEngineTests/resources/12.0 Ad-hoc Migration.bundle/Documents/temp/nrc.en.mtnt-0.1.2.model.kmp.zip/kmp.json
  ios/engine/KMEI/KeymanEngineTests/resources/12.0 Ad-hoc Migration.bundle/Documents/temp/nrc.en.mtnt-0.1.2.model.kmp.zip/nrc.en.mtnt.model.js
  ios/engine/KMEI/KeymanEngineTests/resources/12.0 Ad-hoc Migration.bundle/Library/keyman/keyboards/khmer10/Mondulkiri-R.ttf
  ios/engine/KMEI/KeymanEngineTests/resources/12.0 Ad-hoc Migration.bundle/Library/keyman/keyboards/khmer10/khmer10-1.3.js
  ios/engine/KMEI/KeymanEngineTests/resources/12.0 Ad-hoc Migration.bundle/Library/keyman/keyboards/sil_euro_latin/DejaVuSans.ttf
  ios/engine/KMEI/KeymanEngineTests/resources/12.0 Ad-hoc Migration.bundle/Library/keyman/keyboards/sil_euro_latin/sil_euro_latin-1.8.1.js
  ios/engine/KMEI/KeymanEngineTests/resources/12.0 Ad-hoc Migration.bundle/Library/keyman/lexicalModels/nrc.en.mtnt/nrc.en.mtnt-0.1.2.model.js
  ios/engine/KMEI/KeymanEngineTests/resources/12.0 Ad-hoc Migration.bundle/Library/keyman/lexicalModels/nrc.en.mtnt/nrc.en.mtnt-0.1.2.model.kmp
  ios/engine/KMEI/KeymanEngineTests/resources/No-defaults 10.0 Migration.bundle/Library/keyman/keyboards/khmer_angkor/khmer_angkor-1.0.6.js
  ios/engine/KMEI/KeymanEngineTests/resources/Simple 10.0 Migration.bundle/Library/keyman/keyboards/european2/DejaVuSans.ttf
  ios/engine/KMEI/KeymanEngineTests/resources/Simple 10.0 Migration.bundle/Library/keyman/keyboards/european2/european2-1.6.js
  ios/engine/KMEI/KeymanEngineTests/resources/Simple 12.0 Migration.bundle/Library/keyman/keyboards/khmer_angkor/khmer_angkor-1.0.6.js
  ios/engine/KMEI/KeymanEngineTests/resources/Simple 12.0 Migration.bundle/Library/keyman/keyboards/sil_euro_latin/DejaVuSans.ttf
  ios/engine/KMEI/KeymanEngineTests/resources/Simple 12.0 Migration.bundle/Library/keyman/keyboards/sil_euro_latin/sil_euro_latin-1.8.1.js
  ios/engine/KMEI/KeymanEngineTests/resources/Simple 12.0 Migration.bundle/Library/keyman/lexicalModels/nrc.en.mtnt/nrc.en.mtnt-0.1.2.model.js
  ios/engine/KMEI/KeymanEngineTests/resources/Simple 12.0 Migration.bundle/Library/keyman/lexicalModels/nrc.en.mtnt/nrc.en.mtnt-0.1.2.model.kmp
Labels: enhancement, ios

#2695 feat(ios): Adds keyboard-scale unit tests, fixes unknown-device bug
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardScaleMap.swift
  ios/engine/KMEI/KeymanEngineTests/KeyboardScaleTests.swift
Labels: bug, enhancement, ios

#2739 fix(developer): debugger breaking smp with bksp
  windows/src/developer/TIKE/child/UfrmDebug.pas
Labels: bug, developer

#2649 feat(ios): starts iOS unit testing
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardScaleMap.swift
  ios/engine/KMEI/KeymanEngine/Classes/Model/KeymanPackage.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceFileManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Storage.swift
  ios/engine/KMEI/KeymanEngineTests/AppDelegate.swift
  ios/engine/KMEI/KeymanEngineTests/FileManagementTests.swift
  ios/engine/KMEI/KeymanEngineTests/KeyboardScaleTests.swift
  ios/engine/KMEI/KeymanEngineTests/KeymanEngineTests.swift
  ios/engine/KMEI/KeymanEngineTests/MigrationTests.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/Keyboards.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/LexicalModels.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/Migrations.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/TestUtils.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/UserDefaults.swift
  ios/engine/KMEI/KeymanEngineTests/VersionTests.swift
  ios/engine/KMEI/KeymanEngineTests/resources/12.0 Ad-hoc Migration.bundle/Documents/khmer10.kmp.zip
  ios/engine/KMEI/KeymanEngineTests/resources/12.0 Ad-hoc Migration.bundle/Documents/temp/nrc.en.mtnt-0.1.2.model.kmp.zip/kmp.json
  ios/engine/KMEI/KeymanEngineTests/resources/12.0 Ad-hoc Migration.bundle/Documents/temp/nrc.en.mtnt-0.1.2.model.kmp.zip/nrc.en.mtnt.model.js
  ios/engine/KMEI/KeymanEngineTests/resources/12.0 Ad-hoc Migration.bundle/Library/keyman/keyboards/khmer10/Mondulkiri-R.ttf
  ios/engine/KMEI/KeymanEngineTests/resources/12.0 Ad-hoc Migration.bundle/Library/keyman/keyboards/khmer10/khmer10-1.3.js
  ios/engine/KMEI/KeymanEngineTests/resources/12.0 Ad-hoc Migration.bundle/Library/keyman/keyboards/sil_euro_latin/DejaVuSans.ttf
  ios/engine/KMEI/KeymanEngineTests/resources/12.0 Ad-hoc Migration.bundle/Library/keyman/keyboards/sil_euro_latin/sil_euro_latin-1.8.1.js
  ios/engine/KMEI/KeymanEngineTests/resources/12.0 Ad-hoc Migration.bundle/Library/keyman/lexicalModels/nrc.en.mtnt/nrc.en.mtnt-0.1.2.model.js
  ios/engine/KMEI/KeymanEngineTests/resources/12.0 Ad-hoc Migration.bundle/Library/keyman/lexicalModels/nrc.en.mtnt/nrc.en.mtnt-0.1.2.model.kmp
  ios/engine/KMEI/KeymanEngineTests/resources/Keyboards.bundle/khmer_angkor.kmp
  ios/engine/KMEI/KeymanEngineTests/resources/Lexical Models.bundle/nrc.en.mtnt.model.kmp
  ios/engine/KMEI/KeymanEngineTests/resources/No-defaults 10.0 Migration.bundle/Library/keyman/keyboards/khmer_angkor/khmer_angkor-1.0.6.js
  ios/engine/KMEI/KeymanEngineTests/resources/Simple 10.0 Migration.bundle/Library/keyman/keyboards/european2/DejaVuSans.ttf
  ios/engine/KMEI/KeymanEngineTests/resources/Simple 10.0 Migration.bundle/Library/keyman/keyboards/european2/european2-1.6.js
  ios/engine/KMEI/KeymanEngineTests/resources/Simple 12.0 Migration.bundle/Library/keyman/keyboards/khmer_angkor/khmer_angkor-1.0.6.js
  ios/engine/KMEI/KeymanEngineTests/resources/Simple 12.0 Migration.bundle/Library/keyman/keyboards/sil_euro_latin/DejaVuSans.ttf
  ios/engine/KMEI/KeymanEngineTests/resources/Simple 12.0 Migration.bundle/Library/keyman/keyboards/sil_euro_latin/sil_euro_latin-1.8.1.js
  ios/engine/KMEI/KeymanEngineTests/resources/Simple 12.0 Migration.bundle/Library/keyman/lexicalModels/nrc.en.mtnt/nrc.en.mtnt-0.1.2.model.js
  ios/engine/KMEI/KeymanEngineTests/resources/Simple 12.0 Migration.bundle/Library/keyman/lexicalModels/nrc.en.mtnt/nrc.en.mtnt-0.1.2.model.kmp
  ios/keymanios.xcworkspace/xcshareddata/xcschemes/Keyman.xcscheme
  ios/test.sh
Labels: enhancement, ios

#2742 auto: increment master version to 14.0.18
  HISTORY.md
  VERSION.md
Labels: auto
