Repository keymanapp/keyman, pull requests merged in 2020-08, with the labels that each got.

#3442 fix(android): Fix KMTextView to compile on Linux
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMTextView.java
  android/README.md
Labels: android/, android/engine/, bug

#3450 auto: increment master version to 14.0.122
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3449 feat(android/app): Associate app with /keyboards/install links
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
Labels: android/, android/app/

#3439 fix(android): Update KMPBrowser to pass external links to user browser
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMPBrowserActivity.java
Labels: android/, android/engine/

#3451 feat(ios/engine): Language-pick associator
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/LanguagePickAssociator.swift
  ios/engine/KMEI/KeymanEngineTests/KeyboardSearchTests.swift
  ios/engine/KMEI/KeymanEngineTests/LanguagePickAssociatorTests.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/Queries.swift
  ios/engine/KMEI/KeymanEngineTests/resources/Queries.bundle/model-case-none.json
  ios/engine/KMEI/KeymanEngineTests/resources/Queries.bundle/model-case-str.json
Labels: ios/, ios/engine/

#3454 auto: increment master version to 14.0.123
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3453 feat(android): Use staging help site for pre-release builds
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/InfoActivity.java
  android/build-help.sh
Labels: android/, android/app/

#3452 fix(android): Cleanup string formatting with strings.xml
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/InfoActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeymanSettingsInstallActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardPickerAdapter.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguagesSettingsActivity.java
  android/KMEA/app/src/main/res/values/strings.xml
Labels: android/, android/app/, android/engine/, modification

#3456 chore(android): Add script to find unused strings. Manually remove them
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/LanguageSettingsActivity.java
  android/KMEA/app/src/main/res/values/strings.xml
  android/utility/.gitignore
  android/utility/i18n-check-unused-strings.sh
Labels: android/, android/app/, android/engine/

#3455 feat(ios/engine): LanguagePickAssociator progress tracking, base integration with package lang picker
  ios/engine/KMEI/KeymanEngine/Classes/KeymanPackage.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/LanguagePickAssociator.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/PackageInstallViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceFileManager.swift
  ios/engine/KMEI/KeymanEngineTests/LanguagePickAssociatorTests.swift
Labels: enhancement, ios/, ios/engine/

#3459 auto: increment master version to 14.0.124
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3444 feat(windows): i18n for Setup
  crowdin.yml
  windows/src/buildtools/devtools/DevUtils.pas
  windows/src/buildtools/devtools/Keyman.System.DevTools.BuildSetupStringTranslations.pas
  windows/src/buildtools/devtools/devtools.dpr
  windows/src/buildtools/devtools/devtools.dproj
  windows/src/desktop/insthelp/main.pas
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/kmshell/kmshell.res
  windows/src/desktop/kmshell/main/Keyman.Configuration.System.KeymanUILanguageManager.pas
  windows/src/desktop/kmshell/main/UImportOlderVersionSettings.pas
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/desktop/setup/.gitignore
  windows/src/desktop/setup/Keyman.Setup.System.InstallInfo.pas
  windows/src/desktop/setup/Keyman.Setup.System.SetupUILanguageManager.pas
  windows/src/desktop/setup/Makefile
  windows/src/desktop/setup/SetupStrings.pas
  windows/src/desktop/setup/UfrmRunDesktop.dfm
  windows/src/desktop/setup/UfrmRunDesktop.pas
  windows/src/desktop/setup/bootstrapmain.pas
  windows/src/desktop/setup/locale/en/strings.xml
  windows/src/desktop/setup/setup.dpr
  windows/src/desktop/setup/setup.dproj
  windows/src/global/delphi/general/Keyman.System.UILanguageManager.pas
  windows/src/global/delphi/general/RegistryKeys.pas
  windows/src/unit-tests/Makefile
  windows/src/unit-tests/ui-language-manager/Keyman.System.Test.UILanguageManagerTest.pas
  windows/src/unit-tests/ui-language-manager/Makefile
  windows/src/unit-tests/ui-language-manager/UILanguageManagerTest.dpr
  windows/src/unit-tests/ui-language-manager/UILanguageManagerTest.dproj
  windows/src/unit-tests/ui-language-manager/UILanguageManagerTest.res
  windows/src/unit-tests/windows-setup/WindowsSetupTest.dpr
  windows/src/unit-tests/windows-setup/WindowsSetupTest.dproj
Labels: feat, windows/, windows/config/

#3446 feat(windows): add globe icon to Configuration UI
  windows/src/desktop/kmshell/xml/globe.png
  windows/src/desktop/kmshell/xml/keyman.xsl
  windows/src/global/res/globe.svg
Labels: feat, windows/, windows/config/

#3447 feat(windows): set UI language from Setup preference on first install
  windows/src/desktop/kmshell/main/UImportOlderVersionSettings.pas
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/desktop/setup/RunTools.pas
Labels: feat, windows/, windows/config/

#3448 feat(windows): docs on editing translations
  windows/src/desktop/help/advanced/locale_edit.xml
  windows/src/desktop/help/start/locale.xml
Labels: feat, windows/, windows/config/

#3457 Modify/android/improve string context
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMEA/app/src/main/res/values/strings.xml
Labels: android/, android/app/, android/engine/

#3462 fix(android/app): Fix environment portion of app version string
  android/KMAPro/kMAPro/build.gradle
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/InfoActivity.java
  android/version.gradle
  resources/build/build-utils.sh
Labels: android/, android/app/, common/, common/resources/

#3464 auto: increment master version to 14.0.125
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3467 fix(android): Update Gradle wrapper to 5.6.4
  android/KMAPro/gradle/wrapper/gradle-wrapper.jar
  android/KMAPro/gradle/wrapper/gradle-wrapper.properties
  android/KMAPro/gradlew
  android/KMAPro/gradlew.bat
  android/KMEA/gradle/wrapper/gradle-wrapper.jar
  android/KMEA/gradle/wrapper/gradle-wrapper.properties
  android/KMEA/gradlew
  android/KMEA/gradlew.bat
  oem/firstvoices/android/gradle/wrapper/gradle-wrapper.jar
  oem/firstvoices/android/gradle/wrapper/gradle-wrapper.properties
  oem/firstvoices/android/gradlew
  oem/firstvoices/android/gradlew.bat
Labels: android/, android/app/, android/engine/, oem/, oem/fv/, oem/fv/android/

#3458 feat(ios/engine): Associating package installer
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/AssociatingPackageInstaller.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/LanguagePickAssociator.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/PackageInstallViewController.swift
  ios/engine/KMEI/KeymanEngineTests/AssociatingPackageInstallerTests.swift
  ios/keyman/Keyman/Keyman/PackageBrowserViewController.swift
Labels: enhancement, ios/, ios/app/, ios/engine/

#3465 feat(ios/app): Associating package installer use within existing install paths
  ios/engine/KMEI/KeymanEngine/Classes/Alerts.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/KeyboardSearchViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceFileManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/InstalledLanguagesViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/LanguageSettingsViewController.swift
  ios/engine/KMEI/KeymanEngineTests/KeyboardSearchTests.swift
  ios/keyman/Keyman/Keyman/AppDelegate.swift
  ios/keyman/Keyman/Keyman/PackageBrowserViewController.swift
Labels: enhancement, ios/, ios/app/, ios/engine/

#3472 auto: increment master version to 14.0.126
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3469 fix(android): Add CI script to publish to Play Store
  android/build-publish.sh
Labels: android/, android/app/, oem/, oem/fv/, oem/fv/android/

#3471 fix(android): Update sentry plugin to remove obsolete API use
  android/KMAPro/build.gradle
  android/KMEA/build.gradle
  oem/firstvoices/android/build.gradle
Labels: android/, android/app/, android/engine/, oem/, oem/fv/, oem/fv/android/

#3466 feat(ios/app): universal links for keyboard installation
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/Model/FullKeyboardID.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/KeyboardSearchViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/UniversalLinks.swift
  ios/engine/KMEI/KeymanEngineTests/KeyboardSearchTests.swift
  ios/engine/KMEI/KeymanEngineTests/UniversalLinkTests.swift
  ios/keyman/Keyman/Keyman/AppDelegate.swift
  ios/keyman/Keyman/Keyman/Keyman.entitlements
Labels: enhancement, ios/, ios/app/, ios/engine/

#3468 fix(ios/engine): Proper associating-installer deinitialization, cancellation tests
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/AssociatingPackageInstaller.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/LanguagePickAssociator.swift
  ios/engine/KMEI/KeymanEngineTests/AssociatingPackageInstallerTests.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/Downloading/URLSessionMock.swift
Labels: fix, ios/, ios/engine/

#3470 refactor(ios): error definitions, i18n
  ios/engine/KMEI/KeymanEngine/Classes/Constants.swift
  ios/engine/KMEI/KeymanEngine/Classes/Queries/Queries+PackageVersion.swift
  ios/engine/KMEI/KeymanEngine/Classes/Queries/Queries.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/AssociatingPackageInstaller.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadQueue.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/Storage.swift
  ios/engine/KMEI/KeymanEngine/en.lproj/Localizable.strings
Labels: ios/, ios/engine/, modification

#3473 chore: cleanup keyboardprocessor.h.in
  common/core/desktop/doc/meson.build
  common/core/desktop/include/keyboardprocessor.h.in
  common/core/desktop/include/keyman/keyboardprocessor.h.in
Labels: chore, common/, common/core/, common/core/desktop/

#3475 auto: increment master version to 14.0.127
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3477 refactor(common/models): LMLayer state management tweak, persistent ModelCompositor
  common/predictive-text/worker/index.ts
  common/predictive-text/worker/worker-interfaces.ts
Labels: common/, common/models/, modification

#3478 auto: increment master version to 14.0.128
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3378 feat(linux): Hook up Sentry for km-config
  linux/keyman-config/Makefile
  linux/keyman-config/README.md
  linux/keyman-config/debian/control
  linux/keyman-config/keyman_config/__init__.py
Labels: chore, linux/, linux/config/

#3406 chore(linux): Use new staging site names and use variable for downloads.keyman.com
  linux/keyman-config/keyman_config/__init__.py
  linux/keyman-config/keyman_config/get_kmp.py
Labels: chore, linux/, linux/config/

#3482 auto: increment master version to 14.0.129
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3463 feat(windows): rework download keyboard dialog style
  windows/src/desktop/kmshell/install/UfrmInstallKeyboardFromWeb.pas
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/kmshell/kmshell.res
  windows/src/desktop/kmshell/xml/config.css
  windows/src/desktop/kmshell/xml/downloadkeyboard.xsl
  windows/src/desktop/kmshell/xml/elements.xsl
  windows/src/desktop/kmshell/xml/strings.xml
  windows/src/global/delphi/chromium/Keyman.UI.UframeCEFHost.dfm
  windows/src/global/delphi/chromium/Keyman.UI.UframeCEFHost.pas
Labels: feat, windows/, windows/config/

#3249 chore: Add sample vscode settings files
  docs/settings/README.md
  docs/settings/linux/c_cpp_properties.json
  docs/settings/linux/extensions.json
  docs/settings/linux/launch.json
  docs/settings/linux/settings.json
Labels: common/, common/resources/

#3408 fix(linux): Lookup language tag from keyboard
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/tests/test_install_kmp.py
Labels: bug, linux/, linux/config/

#3488 auto: increment master version to 14.0.130
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3491 fix(android): Fix util to getting the tier on CI builds
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/KMManagerTest.java
Labels: android/, android/engine/, bug

#3493 auto: increment master version to 14.0.131
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3481 feat(android/app): Add language picker for keyboard package installation
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/SelectLanguageActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/SelectPackageActivity.java
  android/KMAPro/kMAPro/src/main/res/drawable/ic_action_back.xml
  android/KMAPro/kMAPro/src/main/res/drawable/ic_action_forward.xml
  android/KMAPro/kMAPro/src/main/res/layout/activity_package_installer.xml
  android/KMAPro/kMAPro/src/main/res/layout/activity_select_language.xml
  android/KMAPro/kMAPro/src/main/res/layout/bottom_navigation_layout.xml
  android/KMAPro/kMAPro/src/main/res/values/dimens.xml
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudKeyboardPackageDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/LexicalModelPackageProcessor.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
  android/KMEA/app/src/main/res/values/strings.xml
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/LexicalModelPackageProcessorTest.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/PackageProcessorTest.java
Labels: android/, android/app/, android/engine/, feat

#3496 docs(common): Clarify l10n readme
  resources/build/l10n/README.md
Labels: common/, common/resources/, modification

#3495 feat(linux): Small UI improvements
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/keyman_config/keyboard_details.py
  linux/keyman-config/keyman_config/view_installed.py
  linux/keyman-config/keyman_config/welcome.py
Labels: linux/, linux/config/, modification

#3492 feat(linux): Add i18n for Linux
  crowdin.yml
  linux/.gitignore
  linux/keyman-config/.editorconfig
  linux/keyman-config/Makefile
  linux/keyman-config/README.md
  linux/keyman-config/keyman_config/__init__.py
  linux/keyman-config/keyman_config/downloadkeyboard.py
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/keyman_config/keyboard_details.py
  linux/keyman-config/keyman_config/options.py
  linux/keyman-config/keyman_config/view_installed.py
  linux/keyman-config/keyman_config/welcome.py
  linux/keyman-config/locale/keyman-config.pot
  resources/build/l10n/README.md
Labels: common/, common/resources/, enhancement, linux/, linux/config/

#3505 auto: increment master version to 14.0.133
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3479 feat(common/models): lexicon traversal
  common/models/templates/src/common.ts
  common/models/templates/src/trie-model.ts
  common/models/templates/test/fixtures/tries/smp-apple.json
  common/models/templates/test/test-trie-traversal.js
  common/models/types/index.d.ts
Labels: common/, common/models/, common/models/templates/, common/models/types/, enhancement

#3480 feat(common/models): actual priority queue for Trie models
  common/models/templates/src/priority-queue.ts
  common/models/templates/src/trie-model.ts
  common/models/templates/test/test-priority-queue.js
Labels: common/, common/models/, common/models/templates/, enhancement

#3486 feat(common/models): efficient batch-enqueue
  common/models/templates/src/priority-queue.ts
  common/models/templates/test/test-priority-queue.js
Labels: common/, common/models/, common/models/templates/, enhancement

#3508 auto: increment master version to 14.0.134
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3504 [linux] Add packaging of Linux localization files
  linux/LICENSE.md
  linux/keyman-config/Makefile
  linux/keyman-config/README.md
  linux/keyman-config/debian/control
  linux/keyman-config/debian/rules
  linux/keyman-config/keyman_config/__init__.py
  linux/keyman-config/setup.py
  linux/scripts/dist.sh
Labels: enhancement, linux/, linux/config/

#3515 auto: increment master version to 14.0.135
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3506 feat(common/models): override script defaults: spaces break words
  developer/js/libexec/create-override-script-regexp.ts
  developer/js/source/lexical-model-compiler/lexical-model-compiler.ts
  developer/js/source/lexical-model-compiler/lexical-model.ts
  developer/js/source/lexical-model-compiler/script-overrides-decorator.ts
  developer/js/tests/fixtures/example.qaa.scriptusesspaces/example.qaa.scriptusesspaces.model.ts
  developer/js/tests/fixtures/example.qaa.scriptusesspaces/wordlist.tsv
  developer/js/tests/test-compile-model.ts
  developer/js/tests/test-override-script-defaults.ts
Labels: developer/, developer/compilers/, enhancement

#3514 fix(android/engine): Check asset package version before installing
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
Labels: android/, android/engine/

#3498 feat(android): Use Stepper for navigating package installation steps
  android/KMAPro/build.gradle
  android/KMAPro/kMAPro/build.gradle
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeymanSettingsInstallActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/SelectLanguageActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/SelectLanguageFragment.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/SelectPackageActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/StepperAdapter.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/WebViewFragment.java
  android/KMAPro/kMAPro/src/main/res/layout/activity_package_installer.xml
  android/KMAPro/kMAPro/src/main/res/layout/activity_select_language.xml
  android/KMAPro/kMAPro/src/main/res/layout/fragment_select_language.xml
  android/KMAPro/kMAPro/src/main/res/layout/fragment_webview_layout.xml
  android/KMAPro/kMAPro/src/main/res/layout/titlebar.xml
  android/KMAPro/kMAPro/src/main/res/values/dimens.xml
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
  android/KMEA/app/src/main/res/layout/list_toolbar.xml
  android/KMEA/app/src/main/res/values/dimens.xml
  android/KMEA/app/src/main/res/values/strings.xml
Labels: android/, android/app/, android/engine/

#3528 auto: increment master version to 14.0.136
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3523 fix(android/app): Inject meta viewport tag for viewing help
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/WebViewFragment.java
Labels: android/, android/app/

#3532 fix(android/app): Fix overflow menu for hdpi devices
  android/KMAPro/kMAPro/build.gradle
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/res/drawable-xxxhdpi/ic_light_action_overflow.png
  android/KMAPro/kMAPro/src/main/res/layout/titlebar.xml
  android/KMAPro/kMAPro/src/main/res/menu/main.xml
  android/KMAPro/kMAPro/src/main/res/menu/overflow_menu.xml
  android/KMEA/app/build.gradle
Labels: android/, android/app/, android/engine/

#3509 feat(windows): Rework of profile installation - Engine
  windows/src/desktop/kmshell/install/Keyman.Configuration.UI.InstallFile.pas
  windows/src/desktop/kmshell/kmshell.res
  windows/src/engine/kmcomapi/com/keyboardlanguages/keymankeyboardlanguageinstalled.pas
  windows/src/engine/kmcomapi/com/keyboardlanguages/keymankeyboardlanguagesfile.pas
  windows/src/engine/kmcomapi/com/keyboardlanguages/keymankeyboardlanguagesinstalled.pas
  windows/src/engine/kmcomapi/com/keyboards/keymankeyboardfile.pas
  windows/src/engine/kmcomapi/com/keyboards/keymankeyboardinstalled.pas
  windows/src/engine/kmcomapi/com/keyboards/keymankeyboardsinstalled.pas
  windows/src/engine/kmcomapi/com/packages/keymanpackagefile.pas
  windows/src/engine/kmcomapi/com/packages/keymanpackagesinstalled.pas
  windows/src/engine/kmcomapi/com/system/keymancontrol.pas
  windows/src/engine/kmcomapi/keymanapi_TLB.pas
  windows/src/engine/kmcomapi/kmcomapi.dpr
  windows/src/engine/kmcomapi/kmcomapi.dproj
  windows/src/engine/kmcomapi/kmcomapi.ridl
  windows/src/engine/kmcomapi/processes/keyboard/Keyman.System.Process.KPInstallKeyboardLanguage.pas
  windows/src/engine/kmcomapi/processes/keyboard/Keyman.System.Process.KPUninstallKeyboardLanguage.pas
  windows/src/engine/kmcomapi/processes/keyboard/kpinstallkeyboard.pas
  windows/src/engine/kmcomapi/processes/keyboard/kpinstallkeyboardlanguageprofiles.pas
  windows/src/engine/kmcomapi/processes/keyboard/kpuninstallkeyboard.pas
  windows/src/engine/kmcomapi/processes/keyboard/kpuninstallkeyboardlanguageprofiles.pas
  windows/src/engine/kmcomapi/processes/package/kpinstallpackage.pas
  windows/src/engine/kmcomapi/util/internalinterfaces.pas
  windows/src/engine/kmcomapi/util/keymanerrorcodes.pas
  windows/src/global/delphi/general/BCP47Tag.pas
  windows/src/global/delphi/general/RegKeyboards.pas
  windows/src/global/delphi/general/RegistryKeys.pas
  windows/src/global/delphi/general/Windows8LanguageList.pas
  windows/src/global/delphi/general/kmcomapi_errors.inc
  windows/src/global/delphi/general/kmcomapi_errors.pas
  windows/src/global/delphi/general/utiltsf.pas
  windows/src/global/delphi/winapi/input_installlayoutortip.pas
Labels: feat, windows/, windows/config/, windows/engine/

#3510 feat(windows): profile installation - Keyman for Windows
  windows/src/desktop/kmshell/install/Keyman.Configuration.System.TIPMaintenance.pas
  windows/src/desktop/kmshell/install/Keyman.Configuration.UI.InstallFile.pas
  windows/src/desktop/kmshell/install/UfrmInstallKeyboard.pas
  windows/src/desktop/kmshell/install/UfrmInstallKeyboardLanguage.pas
  windows/src/desktop/kmshell/install/uninstall.pas
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/kmshell/main/OnlineUpdateCheck.pas
  windows/src/desktop/kmshell/main/UfrmMain.pas
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/desktop/kmshell/util/UtilWaitForTSF.pas
  windows/src/global/delphi/general/Keyman.UI.UfrmProgress.dfm
  windows/src/global/delphi/general/Keyman.UI.UfrmProgress.pas
Labels: feat, windows/, windows/config/

#3511 feat(windows): profile installation - Support Tool
  windows/src/support/unload_keyboards/LangManager.pas
  windows/src/support/unload_keyboards/UfrmUnloadKeyboards.dfm
  windows/src/support/unload_keyboards/UfrmUnloadKeyboards.pas
  windows/src/support/unload_keyboards/unloadkeyboards.dpr
  windows/src/support/unload_keyboards/unloadkeyboards.dproj
  windows/src/support/unload_keyboards/unloadkeyboards.res
Labels: feat, windows/

#3516 chore(windows): remove stockeditor
  windows/src/buildtools/Makefile
  windows/src/buildtools/stockeditor/COMMessageEditor.dfm
  windows/src/buildtools/stockeditor/COMMessageEditor.pas
  windows/src/buildtools/stockeditor/Makefile
  windows/src/buildtools/stockeditor/StockEditor.bdsproj
  windows/src/buildtools/stockeditor/StockEditor.cfg
  windows/src/buildtools/stockeditor/StockEditor.dof
  windows/src/buildtools/stockeditor/StockEditor.dpr
  windows/src/buildtools/stockeditor/StockEditor.dproj
  windows/src/buildtools/stockeditor/StockEditor.res
  windows/src/buildtools/stockeditor/StockEditor_Icon.ico
  windows/src/buildtools/stockeditor/UfrmMain.dfm
  windows/src/buildtools/stockeditor/UfrmMain.pas
Labels: chore, windows/

#3517 fix(windows): refresh configuration after changes
  windows/src/desktop/kmshell/main/UfrmMain.pas
Labels: fix, windows/, windows/config/

#3520 feat(windows): split language registration on app install
  windows/src/desktop/kmshell/install/Keyman.Configuration.System.TIPMaintenance.pas
  windows/src/desktop/kmshell/install/Keyman.Configuration.UI.InstallFile.pas
  windows/src/desktop/kmshell/kmshell.res
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/desktop/setup/RunTools.pas
Labels: feat, windows/, windows/config/

#3535 fix(linux): Improve robustness when installing ibus-keyman
  linux/ibus-keyman/debian/postinst
Labels: fix, linux/, linux/engine/

#3538 auto: increment master version to 14.0.137
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#3536 fix(android): Fix overflow menu for hdpi devices
  android/KMAPro/kMAPro/build.gradle
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/res/drawable-xxxhdpi/ic_light_action_overflow.png
  android/KMAPro/kMAPro/src/main/res/layout/titlebar.xml
  android/KMAPro/kMAPro/src/main/res/menu/main.xml
  android/KMAPro/kMAPro/src/main/res/menu/overflow_menu.xml
  android/KMEA/app/build.gradle
  android/history.md
Labels: android/, android/app/, bug, cherry-pick, stable

#3541 fix(android/engine): Fix package filename when downloading from cloud
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudKeyboardPackageDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudLexicalPackageDownloadCallback.java
Labels: android/, android/engine/

#3524 feat(windows): select language at keyboard install
  windows/src/desktop/kmshell/install/Keyman.Configuration.System.TIPMaintenance.pas
  windows/src/desktop/kmshell/install/Keyman.Configuration.UI.InstallFile.pas
  windows/src/desktop/kmshell/install/UfrmInstallKeyboard.pas
  windows/src/desktop/kmshell/xml/installkeyboard.css
  windows/src/desktop/kmshell/xml/installkeyboard.js
  windows/src/desktop/kmshell/xml/installkeyboard.xsl
  windows/src/desktop/kmshell/xml/strings.xml
  windows/src/engine/kmcomapi/com/keyboards/keymankeyboardfile.pas
Labels: feat, windows/, windows/config/, windows/engine/

#3539 fix(windows): add transient profile support to keyman32
  windows/src/engine/keyman32/Keyman32.cpp
  windows/src/engine/keyman32/appint/aiTIP.cpp
  windows/src/global/inc/keyman64.h
  windows/src/global/inc/registry.h
Labels: fix, windows/, windows/engine/

#3544 auto: increment master version to 14.0.138
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/
