Repository keymanapp/keyman, pull requests merged in 2021-05, with the labels that each got.

#5003 chore(common): update stable history for 14.0.273
  HISTORY.md
Labels: chore, common/

#5009 auto: increment master version to 15.0.41
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5033 chore(linux): Add support for Ubuntu 21.04 (hirsute)
  linux/.pbuilderrc
  linux/Jenkinsfile
  linux/scripts/cow.sh
  linux/scripts/launchpad.sh
Labels: chore, linux/

#5036 auto: increment master version to 15.0.42
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4992 chore(common): Check in crowdin files for Azerbaijani
  android/KMAPro/kMAPro/src/main/res/values-az-rAZ/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/DisplayLanguages.java
  android/KMEA/app/src/main/res/values-az-rAZ/strings.xml
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/az.lproj/ResourceInfoView.strings
  ios/engine/KMEI/KeymanEngine/az.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/az.lproj/Localizable.stringsdict
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/az.lproj/Localizable.strings
  linux/keyman-config/locale/az_AZ.po
  windows/src/desktop/kmshell/locale/az-AZ/strings.xml
  windows/src/desktop/setup/locale/az-AZ/strings.xml
Labels: android/, android/app/, android/engine/, chore, common/, ios/, ios/app/, ios/engine/, linux/, linux/config/, windows/, windows/config/

#5035 chore(linux): Add support for Ubuntu 21.04 (hirsute) 🍒
  linux/.pbuilderrc
  linux/Jenkinsfile
  linux/scripts/cow.sh
  linux/scripts/launchpad.sh
Labels: cherry-pick, chore, linux/

#5041 auto: increment master version to 15.0.43
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5030 chore(mac): update requirements to include Big Sur
  mac/help/about/requirements.md
Labels: chore, mac/, mac/engine/

#5047 chore(android/app): Always use offline help
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/InfoActivity.java
  android/help/about/whatsnew.md
  android/help/index.md
Labels: android/, android/app/, chore

#5000 fix(windows): avoid disabling Keyman when speech recognition starts
  windows/src/engine/kmtip/debug.cpp
  windows/src/engine/kmtip/globals.h
  windows/src/engine/kmtip/kmtip.cpp
  windows/src/engine/kmtip/kmtip.h
  windows/src/engine/kmtip/tmgrsink.cpp
Labels: fix, windows/, windows/engine/

#5007 chore(windows): add telemetry to trace crash on exit
  windows/src/global/delphi/chromium/Keyman.System.CEFManager.pas
  windows/src/global/delphi/chromium/Keyman.UI.UframeCEFHost.pas
Labels: chore, windows/

#5008 chore(windows): add telemetry to trace crash on exit 🍒
  windows/src/global/delphi/chromium/Keyman.System.CEFManager.pas
  windows/src/global/delphi/chromium/Keyman.UI.UframeCEFHost.pas
Labels: cherry-pick, chore, windows/

#5038 fix(windows): avoid disabling Keyman when speech recognition starts 🍒
  windows/src/engine/kmtip/debug.cpp
  windows/src/engine/kmtip/globals.h
  windows/src/engine/kmtip/kmtip.cpp
  windows/src/engine/kmtip/kmtip.h
  windows/src/engine/kmtip/tmgrsink.cpp
Labels: cherry-pick, fix, windows/, windows/engine/

#5002 fix(windows): make keymanx64 responsible for its own lifecycle
  windows/src/engine/keyman/UfrmKeyman7Main.pas
  windows/src/engine/keymanx64/keymanx64.cpp
  windows/src/global/delphi/general/UserMessages.pas
Labels: developer/, developer/ide/, fix, windows/, windows/engine/

#5055 auto: increment master version to 15.0.44
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5051 chore(android/app): Always use offline help 🍒
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/InfoActivity.java
Labels: android/, android/app/, cherry-pick, chore

#5039 chore(common): Check in crowdin files for Azerbaijani 🍒
  android/KMAPro/kMAPro/src/main/res/values-az-rAZ/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/DisplayLanguages.java
  android/KMEA/app/src/main/res/values-az-rAZ/strings.xml
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/az.lproj/ResourceInfoView.strings
  ios/engine/KMEI/KeymanEngine/az.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/az.lproj/Localizable.stringsdict
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/az.lproj/Localizable.strings
  linux/keyman-config/locale/az_AZ.po
  windows/src/desktop/kmshell/locale/az-AZ/strings.xml
  windows/src/desktop/setup/locale/az-AZ/strings.xml
Labels: android/, android/app/, android/engine/, cherry-pick, chore, common/, ios/, ios/app/, ios/engine/, linux/, linux/config/, windows/, windows/config/

#5057 chore(windows): FixupMissingFile needed current component code
  windows/src/global/delphi/ui/UFixupMissingFile.pas
Labels: chore, windows/

#5058 fix(linux): Enable caps lock support 🍒
  linux/ibus-keyman/src/engine.c
Labels: cherry-pick, fix, linux/, linux/engine/

#5056 chore(windows): remove unused utilrun unit
  windows/src/engine/kmcomapi/kmcomapi.dpr
  windows/src/engine/kmcomapi/kmcomapi.dproj
  windows/src/engine/kmcomapi/util/utilrun.pas
Labels: chore, windows/, windows/engine/

#5031 fix(developer): two small issues in kmdecomp
  windows/src/developer/kmdecomp/kmdecomp.vcxproj
  windows/src/developer/kmdecomp/savekeyboard.cpp
Labels: developer/, fix

#5065 auto: increment master version to 15.0.45
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5060 fix(windows): refactor controller windows
  windows/src/engine/keyman/UfrmKeyman7Main.pas
  windows/src/engine/keyman/viskbd/UfrmVisualKeyboard.pas
  windows/src/engine/keyman32/KEYMAN32.DEF
  windows/src/engine/keyman32/Keyman32.cpp
  windows/src/engine/keyman32/globals.h
  windows/src/engine/keyman32/k32_globals.cpp
  windows/src/engine/keyman32/kmhook_callwndproc.cpp
  windows/src/engine/keyman32/kmhook_getmessage.cpp
  windows/src/engine/keyman32/kmhook_keyboard.cpp
  windows/src/engine/keymanx64/keymanx64.cpp
  windows/src/engine/kmcomapi/com/system/keymancontrol.pas
  windows/src/global/delphi/general/KeymanEngineControl.pas
Labels: fix, windows/, windows/engine/

#5061 chore(windows): remove KMC_CHANGEUISTATE
  windows/src/engine/keyman32/appint/aiTIP.cpp
  windows/src/engine/keyman32/kmhook_getmessage.cpp
  windows/src/global/delphi/general/KeymanControlMessages.pas
  windows/src/global/inc/keyman64.h
  windows/src/global/inc/keymancontrol.h
Labels: chore, windows/, windows/engine/

#5064 fix(linux): Swap order of dependencies for Debian package
  linux/keyman-config/debian/control
Labels: fix, linux/, linux/config/

#5054 fix(linux): Fix Caps Lock
  linux/ibus-keyman/README.md
  linux/ibus-keyman/src/engine.c
Labels: fix, linux/, linux/engine/

#5070 fix(linux): Swap order of dependencies for Debian package 🍒
  common/core/desktop/debian/changelog
  linux/ibus-keyman/debian/changelog
  linux/ibus-kmfl/debian/changelog
  linux/keyman-config/debian/changelog
  linux/keyman-config/debian/control
  linux/kmflcomp/debian/changelog
  linux/libkmfl/debian/changelog
Labels: cherry-pick, common/, common/core/, common/core/desktop/, fix, linux/, linux/config/, linux/engine/

#5073 auto: increment master version to 15.0.46
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5062 chore(windows): remove unused keymanx64 parameter
  windows/src/engine/keyman/UfrmKeyman7Main.pas
  windows/src/engine/keymanx64/keymanx64.cpp
Labels: chore, windows/, windows/engine/

#5071 fix(android/engine): Check lexical-model file exists before using
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
Labels: android/, android/engine/, fix

#5080 fix(android/engine): Check lexical-model file exists before using 🍒
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
Labels: android/, android/engine/, cherry-pick, fix

#5081 auto: increment master version to 15.0.47
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5082 fix(developer): kmconvert commandline and deploy
  windows/src/Target.mak
  windows/src/developer/kmcomp/kmcomp.dpr
  windows/src/developer/kmconvert/Keyman.Developer.System.KMConvertParameters.pas
  windows/src/developer/kmconvert/Keyman.Developer.System.KeymanConvertMain.pas
  windows/src/developer/kmconvert/Makefile
  windows/src/developer/kmconvert/kmconvert.dpr
Labels: developer/, developer/compilers/, fix, windows/

#5083 fix(developer): kmconvert commandline and deploy 🍒
  windows/src/Target.mak
  windows/src/developer/kmcomp/kmcomp.dpr
  windows/src/developer/kmconvert/Keyman.Developer.System.KMConvertParameters.pas
  windows/src/developer/kmconvert/Keyman.Developer.System.KeymanConvertMain.pas
  windows/src/developer/kmconvert/Makefile
  windows/src/developer/kmconvert/kmconvert.dpr
Labels: cherry-pick, developer/, developer/compilers/, fix, stable, windows/

#5086 auto: increment master version to 15.0.48
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5087 chore(common): Update stable history for 14.0.274
  HISTORY.md
Labels: chore, common/

#5075 fix(web): position popups correctly in landscape mode on Android and during Chrome emulation
  web/source/osk/visualKeyboard.ts
Labels: fix, web/, web/engine/

#5090 fix(web): position popups correctly in landscape mode on Android and during Chrome emulation 🍒
  web/source/osk/visualKeyboard.ts
Labels: cherry-pick, fix, web/, web/engine/

#5094 auto: increment master version to 15.0.49
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5099 fix(common/core/desktop): Fix warnings when compiling for armhf
  common/core/desktop/src/kmx/kmx_file.cpp
  common/core/desktop/src/kmx/kmx_processor.h
Labels: common/, common/core/, common/core/desktop/, fix

#5101 fix(common/core/desktop): Don't segfault on invalid .kmx file
  common/core/desktop/src/kmx/kmx_processevent.cpp
Labels: common/, common/core/, common/core/desktop/, fix

#5109 fix(common/core/desktop): Fix warnings when compiling for armhf 🍒
  common/core/desktop/src/kmx/kmx_file.cpp
  common/core/desktop/src/kmx/kmx_processor.h
Labels: cherry-pick, common/, common/core/, common/core/desktop/, fix, linux/

#5116 auto: increment master version to 15.0.50
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5102 chore(common): Check in crowdin strings for Amharic
  android/KMAPro/kMAPro/src/main/res/values-am-rET/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/DisplayLanguages.java
  android/KMEA/app/src/main/res/values-am-rET/strings.xml
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/am.lproj/ResourceInfoView.strings
  ios/engine/KMEI/KeymanEngine/am.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/am.lproj/Localizable.stringsdict
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/am.lproj/Localizable.strings
  linux/keyman-config/locale/am_ET.po
  windows/src/desktop/kmshell/locale/am-ET/strings.xml
  windows/src/desktop/setup/locale/am-ET/strings.xml
Labels: android/, android/app/, android/engine/, chore, common/, ios/, ios/app/, ios/engine/, linux/, linux/config/, windows/, windows/config/

#5117 chore(common): Check in crowdin strings for Amharic 🍒
  android/KMAPro/kMAPro/src/main/res/values-am-rET/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/DisplayLanguages.java
  android/KMEA/app/src/main/res/values-am-rET/strings.xml
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/am.lproj/ResourceInfoView.strings
  ios/engine/KMEI/KeymanEngine/am.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/am.lproj/Localizable.stringsdict
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/am.lproj/Localizable.strings
  linux/keyman-config/locale/am_ET.po
  windows/src/desktop/kmshell/locale/am-ET/strings.xml
  windows/src/desktop/setup/locale/am-ET/strings.xml
Labels: android/, android/app/, android/engine/, cherry-pick, chore, common/, ios/, ios/app/, ios/engine/, linux/, linux/config/, windows/, windows/config/

#5092 chore(common): resolve audit issues in Web-related repo NPM packages
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  package-lock.json
  package.json
  web/package-lock.json
  web/package.json
Labels: chore, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/wordbreakers/, developer/, developer/compilers/, web/

#4932 refactor(linux): Refactor `install_kmp.py`
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/tests/test_install_kmp.py
Labels: linux/, linux/config/, refactor

#5113 chore(linux): Swap order of dependency
  linux/keyman-config/debian/control
Labels: chore, linux/, linux/config/

#5114 chore(linux): Swap order of dependency 🍒
  linux/keyman-config/debian/control
Labels: cherry-pick, chore, linux/, linux/config/

#5115 chore(linux): Remove unnecessary dependency on kmflcomp
  linux/keyman-config/README.md
  linux/keyman-config/debian/control
Labels: chore, linux/, linux/config/

#5122 auto: increment master version to 15.0.51
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5085 feat(developer): Add 'full copyright' field to templates
  windows/src/developer/TIKE/main/Keyman.Developer.UI.ImportWindowsKeyboardDialogManager.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewModelProjectParameters.dfm
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewModelProjectParameters.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewProjectParameters.dfm
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewProjectParameters.pas
  windows/src/developer/kmconvert/Keyman.Developer.System.ImportWindowsKeyboard.pas
  windows/src/developer/kmconvert/Keyman.Developer.System.KMConvertParameters.pas
  windows/src/developer/kmconvert/Keyman.Developer.System.KeymanConvertMain.pas
  windows/src/developer/kmconvert/Keyman.Developer.System.ProjectTemplate.pas
  windows/src/developer/kmconvert/data/basic-keyboard/LICENSE.md
  windows/src/developer/kmconvert/data/basic-keyboard/README.md
  windows/src/developer/kmconvert/data/basic-keyboard/source/welcome.htm
  windows/src/developer/kmconvert/data/wordlist-lexical-model/LICENSE.md
  windows/src/developer/kmconvert/data/wordlist-lexical-model/README.md
Labels: developer/, developer/ide/, feat

#5096 fix(developer): TframeTextEditor.SetText was not synchronous
  windows/src/developer/TIKE/main/UframeTextEditor.pas
Labels: developer/, developer/ide/, fix

#5097 fix(developer): TframeTextEditor.SetText was not synchronous 🍒
  windows/src/developer/TIKE/main/UframeTextEditor.pas
Labels: cherry-pick, developer/, developer/ide/, fix

#5098 chore(android): Update Gradle and other dependencies
  android/KMAPro/.idea/runConfigurations.xml
  android/KMAPro/build.gradle
  android/KMAPro/gradle/wrapper/gradle-wrapper.properties
  android/KMAPro/kMAPro/build.gradle
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/InfoActivity.java
  android/KMEA/.idea/runConfigurations.xml
  android/KMEA/app/build.gradle
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/KMPLink.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/KMManagerTest.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/logic/ResourcesUpdateToolTest.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/view/FunctionalTestHelper.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/view/KeyboardPickerTest.java
  android/KMEA/build.gradle
  android/KMEA/gradle.properties
  android/KMEA/gradle/wrapper/gradle-wrapper.properties
Labels: android/, android/app/, android/engine/, chore

#5089 chore(web): add test page for playing with CKEditor
  web/testing/ckeditor/index.html
  web/testing/ckeditor/inline.html
  web/testing/ckeditor/utilities.js
  web/testing/index.html
Labels: chore, web/

#5123 chore(ios): update fv cert ref
  oem/firstvoices/ios/exportAppStore.plist
Labels: chore, ios/, oem/, oem/fv/, oem/fv/ios/

#5124 chore(ios): update fv cert ref 🍒
  oem/firstvoices/ios/exportAppStore.plist
Labels: cherry-pick, chore, ios/, oem/, oem/fv/, oem/fv/ios/

#5108 chore(mac): Add help links for installing Keyman and keyboards
  mac/help/mac_images/video.png
  mac/help/start/install-keyboard.md
  mac/help/start/install-keyman.md
Labels: chore, mac/, mac/engine/

#5126 chore(android): Update targetSDKVersion to 30
  android/KMAPro/kMAPro/build.gradle
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/InfoActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KMPBrowserActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/WebBrowserActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/WebViewFragment.java
  android/KMEA/app/build.gradle
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
Labels: android/, android/app/, android/engine/, chore

#5129 auto: increment master version to 15.0.52
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5127 chore(android/samples,oem/fv/android) Update dependencies
  android/README.md
  android/Samples/KMSample1/.idea/runConfigurations.xml
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample1/build.gradle
  android/Samples/KMSample1/build.sh
  android/Samples/KMSample1/gradle/wrapper/gradle-wrapper.properties
  android/Samples/KMSample2/.idea/runConfigurations.xml
  android/Samples/KMSample2/app/build.gradle
  android/Samples/KMSample2/build.gradle
  android/Samples/KMSample2/gradle/wrapper/gradle-wrapper.properties
  android/Tests/KeyboardHarness/app/build.gradle
  android/Tests/KeyboardHarness/build.gradle
  android/Tests/KeyboardHarness/gradle/wrapper/gradle-wrapper.properties
  oem/firstvoices/android/app/build.gradle
  oem/firstvoices/android/build.gradle
  oem/firstvoices/android/gradle/wrapper/gradle-wrapper.properties
Labels: android/, android/samples/, chore, oem/, oem/fv/, oem/fv/android/

#5121 feat(web): basic promise wrapper on cloud api call
  web/source/keyboards/kmwkeyboards.ts
Labels: feat, web/, web/engine/

#5135 chore(ios): works around wrong-workspace Carthage 0.38 lookup issue
  ios/kmbuild.sh
  oem/firstvoices/ios/build_common.sh
Labels: chore, ios/, oem/, oem/fv/, oem/fv/ios/, stable

#5138 auto: increment master version to 15.0.53
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5132 feat(android/app): Auto-generate Play Store release notes
  android/.gitignore
  android/KMAPro/kMAPro/src/main/play/release-notes/en-US/.gitkeep
  android/build-help.sh
  android/help/about/whatsnew.md
Labels: android/, feat

#5134 fix(web): active element selection in multi-touch scenarios
  web/source/dom/domEventHandlers.ts
  web/source/dom/touchAliasElement.ts
Labels: fix, web/, web/engine/

#5131 chore(windows): cleanup old .dof, .bdsproj and .cfg files
  windows/src/Defines.mak
  windows/src/desktop/kmshell/kmshell.cfg
  windows/src/desktop/kmshell/kmshell.dof
  windows/src/desktop/setup/setup.cfg
  windows/src/developer/TIKE/Tike.bdsproj
  windows/src/developer/TIKE/Tike.cfg
  windows/src/developer/TIKE/Tike.dof
  windows/src/developer/kmcomp/kmcomp.bdsproj
  windows/src/developer/kmcomp/kmcomp.dof
  windows/src/developer/setup/setup.bdsproj
  windows/src/developer/setup/setup.cfg
  windows/src/engine/inst/insthelper/insthelper.bdsproj
  windows/src/engine/inst/insthelper/insthelper.cfg
  windows/src/engine/inst/insthelper/insthelper.dof
  windows/src/engine/inst/insthelper/insthelper.dproj
  windows/src/engine/keyman/keyman.cfg
  windows/src/engine/keyman/keyman.dof
  windows/src/engine/kmcomapi/kmcomapi.dof
  windows/src/engine/tsysinfo/tsysinfo.cfg
  windows/src/global/delphi/keyman_components.bdsproj
  windows/src/global/delphi/keyman_components.cfg
  windows/src/global/delphi/keyman_components.dof
Labels: chore, developer/, developer/compilers/, developer/ide/, windows/, windows/config/, windows/engine/

#5107 chore(ios): shift to use of XCFrameworks
  ios/.gitignore
  ios/Cartfile
  ios/Cartfile.resolved
  ios/README.md
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/kmbuild.sh
  ios/samples/KMSample1/KMSample1.xcodeproj/project.pbxproj
  ios/samples/KMSample2/KMSample2.xcodeproj/project.pbxproj
  ios/samples/build_common.sh
  ios/scripts/kme-universal.sh
  oem/firstvoices/ios/.gitignore
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
  oem/firstvoices/ios/SWKeyboard/Info.plist
  oem/firstvoices/ios/build_common.sh
  resources/build/carthage-workaround.sh
Labels: chore, common/, common/resources/, ios/, ios/app/, ios/engine/, ios/samples/, oem/, oem/fv/, oem/fv/ios/

#5142 fix(web): multi touch handling 🍒
  web/source/dom/domEventHandlers.ts
  web/source/dom/touchAliasElement.ts
Labels: cherry-pick, fix, web/, web/engine/

#5141 chore(ios): artifact prep script now in-repo
  ios/tools/prepRelease.sh
Labels: chore, ios/, stable

#5140 chore(ios): imports iOS artifact-upload script for CI use
  ios/tools/prepRelease.sh
Labels: chore, ios/

#4847 refactor(ios/engine): "should reload keyboard" now a property of the keyboard
  ios/engine/KMEI/KeymanEngine/Classes/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/PackageInstallViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/InstalledLanguagesViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/SettingsViewController.swift
Labels: ios/, ios/engine/, modification, refactor

#5119 docs(windows): Initial commit - README.md
  windows/src/desktop/README.md
  windows/src/developer/README.md
  windows/src/engine/README.md
Labels: developer/, docs, windows/, windows/config/, windows/engine/

#5143 chore(windows): move to vc++ 2019
  common/core/desktop/doc/BUILDING.md
  windows/src/.gitignore
  windows/src/README.md
  windows/src/desktop/help/start/download-and-install-keyboard.md
  windows/src/developer/kmanalyze/kmanalyze.vcxproj
  windows/src/developer/kmcmpdll/kmcmpdll.vcxproj
  windows/src/developer/kmdecomp/kmdecomp.vcxproj
  windows/src/engine/keyman32/Keyman32.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj
  windows/src/engine/keymanx64/keymanx64.vcxproj
  windows/src/engine/kmrefresh/kmrefresh.vcxproj
  windows/src/engine/kmtip/kmtip.vcxproj
  windows/src/engine/mcompile/mc_import_rules.cpp
  windows/src/engine/mcompile/mcompile.vcxproj
Labels: chore, common/, common/core/, common/core/desktop/, developer/, windows/, windows/config/, windows/engine/

#5148 auto: increment master version to 15.0.54
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5144 chore(windows): Update Sentry to 0.4.9
  windows/src/ext/sentry.txt
  windows/src/ext/sentry/build_sentry_for_keyman.bat
  windows/src/ext/sentry/crashpad_handler.exe
  windows/src/ext/sentry/sentry.dll
  windows/src/ext/sentry/sentry.h
  windows/src/ext/sentry/sentry.lib
  windows/src/ext/sentry/sentry.pas
  windows/src/ext/sentry/sentry.x64.dll
  windows/src/ext/sentry/sentry.x64.lib
  windows/src/global/delphi/general/Keyman.System.KeymanSentryClient.pas
Labels: chore, windows/

#5136 chore(web): Add CI script to kill BrowserStack tunnel
  web/source/build_kill_browserstack.sh
Labels: chore, web/, web/engine/

#5152 chore(web): Add CI script to kill BrowserStack tunnel 🍒
  web/source/build_kill_browserstack.sh
Labels: cherry-pick, chore, web/, web/engine/

#5147 docs(linux): Update readme
  linux/README.md
Labels: docs, linux/

#5146 chore(linux): Update changelogs 🍒
  common/core/desktop/debian/changelog
  linux/ibus-keyman/debian/changelog
  linux/ibus-kmfl/debian/changelog
  linux/keyman-config/debian/changelog
  linux/kmflcomp/debian/changelog
  linux/libkmfl/debian/changelog
Labels: cherry-pick, chore, common/, common/core/, common/core/desktop/, linux/, linux/config/, linux/engine/

#5155 fix(ios): re-enable SKIP_INSTALL
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/kmbuild.sh
Labels: fix, ios/, ios/engine/

#5159 auto: increment master version to 15.0.55
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5160 fix(ios): artifact upload preparation
  ios/.gitignore
  ios/kmbuild.sh
  ios/tools/prepRelease.sh
Labels: fix, ios/

#5163 auto: increment master version to 15.0.56
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5164 fix(ios): link, but NOT embed KeymanEngine.xcframework in app exs
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
Labels: fix, ios/, ios/app/, oem/, oem/fv/, oem/fv/ios/

#5157 feat(common): offline help css
  android/build-help.sh
  ios/build-help.sh
  mac/build-help.sh
  resources/build/offline-help-style-spec.txt
  windows/src/desktop/help/build.sh
Labels: android/, common/, common/resources/, feat, ios/, mac/, mac/engine/, windows/, windows/config/

#5158 change(ios): help always offline
  ios/help/about/history.md
  ios/help/index.md
  ios/keyman/Keyman/Keyman/InfoViewController/InfoViewController.swift
Labels: ios/, ios/app/, modification

#5171 auto: increment master version to 15.0.57
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5161 fix(ios): artifact upload preparation 🍒
  ios/.gitignore
  ios/tools/prepRelease.sh
Labels: cherry-pick, fix, ios/

#5120 chore(ios): dependencies - update sentry-cocoa to 6.2.1
  ios/Cartfile
  ios/Cartfile.resolved
  ios/engine/KMEI/KeymanEngine/Classes/Errors/SentryManager.swift
  ios/kmbuild.sh
  oem/firstvoices/ios/Cartfile
  oem/firstvoices/ios/Cartfile.resolved
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
  oem/firstvoices/ios/build_common.sh
Labels: chore, ios/, ios/engine/, oem/, oem/fv/, oem/fv/ios/

#5168 change(ios): minimum iOS version -> 12.1
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/Colors+Extension.swift
  ios/engine/KMEI/KeymanEngine/Classes/Colors.swift
  ios/engine/KMEI/KeymanEngine/Classes/Extension/JSONDecoder.DateDecodingStrategy+ISO8601Fallback.swift
  ios/engine/KMEI/KeymanEngine/Classes/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/PackageInstallViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/InstalledLanguagesViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/LanguageSettingsViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/SettingsViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/TextField.swift
  ios/engine/KMEI/KeymanEngine/Classes/TextView.swift
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/AppDelegate.swift
  ios/keyman/Keyman/Keyman/GetStartedViewController/GetStartedViewController.swift
  ios/keyman/Keyman/Keyman/MainViewController.swift
  ios/samples/KMSample1/KMSample1.xcodeproj/project.pbxproj
  ios/samples/KMSample2/KMSample2.xcodeproj/project.pbxproj
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
Labels: chore, ios/, ios/app/, ios/engine/, ios/samples/, oem/, oem/fv/, oem/fv/ios/

#5173 chore(ios): renames problematic app selectors
  ios/keyman/Keyman/Keyman/MainViewController.swift
Labels: chore, ios/, ios/app/

#5176 auto: increment master version to 15.0.58
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5145 chore(android): Add -clean flag to build script
  android/KMAPro/kMAPro/build.gradle
  android/build.sh
  oem/firstvoices/android/app/build.gradle
Labels: android/, android/app/, chore, oem/, oem/fv/, oem/fv/android/

#5177 chore(android): Add -clean flag to build script 🍒
  android/KMAPro/kMAPro/build.gradle
  android/build.sh
  oem/firstvoices/android/app/build.gradle
Labels: android/, android/app/, cherry-pick, chore, oem/, oem/fv/, oem/fv/android/

#5150 feat(web): Add script to deploy KeymanWeb release to s.keyman.com
  resources/build/jq.inc.sh
  web/tools/s_keyman_com.sh
Labels: common/, common/resources/, feat, web/

#5153 feat(ios): partial conversion of internal logs to use of Sentry
  ios/engine/KMEI/KeymanEngine/Classes/Errors/SentryManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Extension/UserDefaults+Types.swift
  ios/engine/KMEI/KeymanEngine/Classes/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardScaleMap.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanPackage.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Migrations.swift
  ios/engine/KMEI/KeymanEngine/Classes/Notification/NotificationCenter+Typed.swift
  ios/engine/KMEI/KeymanEngine/Classes/Queries/Queries+LexicalModel.swift
  ios/engine/KMEI/KeymanEngine/Classes/Queries/Queries+PackageVersion.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadQueue.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceFileManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/Storage.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/InstalledLanguagesViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/LanguageSettingsViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/SettingsViewController.swift
  ios/keyman/Keyman/Keyman/AppDelegate.swift
  ios/keyman/Keyman/Keyman/InfoViewController/InfoViewController.swift
  ios/keyman/Keyman/Keyman/SetUpViewController/SetUpViewController.swift
  ios/keyman/Keyman/SWKeyboard/KeyboardViewController.swift
Labels: feat, ios/, ios/app/, ios/engine/

#5170 fix(linux): Fix Makefile and instructions for building
  linux/keyman-config/Makefile
  linux/keyman-config/README.md
Labels: fix, linux/, linux/config/

#5186 auto: increment master version to 15.0.59
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5175 fix(common): build script help param
  android/KMAPro/build.sh
  android/KMEA/build.sh
  android/Samples/KMSample1/build.sh
  android/Tests/KeyboardHarness/build.sh
  android/build-publish.sh
  common/core/web/keyboard-processor/test.sh
  common/predictive-text/unit_tests/in_browser/browser-test.sh
  ios/kmbuild.sh
  ios/samples/build_common.sh
  mac/Keyman4MacIM/make-km-dmg.sh
  mac/Keyman4MacIM/write-download_info.sh
  mac/build.sh
  oem/firstvoices/android/build.sh
  oem/firstvoices/android/build_common.sh
  oem/firstvoices/common/build_keyboards.sh
  oem/firstvoices/ios/build_common.sh
  web/source/build.sh
  web/unit_tests/test.sh
  windows/src/desktop/locale/crowdin-control.sh
Labels: android/, android/app/, android/engine/, android/samples/, common/, common/core/, common/core/web/, fix, ios/, ios/samples/, mac/, mac/engine/, oem/, oem/fv/, oem/fv/android/, oem/fv/ios/, web/, web/engine/, windows/, windows/config/

#5178 feat(ios): resource file validation before use
  ios/engine/KMEI/KeymanEngine/Classes/Errors/KeyboardError.swift
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/en.lproj/Localizable.strings
Labels: feat, ios/, ios/engine/

#5197 fix(windows): cleanup edge cases in k32_load
  common/core/desktop/src/kmx/kmx_file.cpp
  windows/src/engine/keyman32/K32_load.cpp
Labels: common/, common/core/, common/core/desktop/, fix, windows/, windows/engine/

#5185 fix(linux): Don't crash on invalid metadata
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/keyboard_details.py
  linux/keyman-config/keyman_config/view_installed.py
Labels: fix, linux/, linux/config/

#5198 fix(android/samples): Set gradlew executable for Tests
  android/Tests/KeyboardHarness/gradlew
  android/Tests/keycode/gradlew
Labels: android/, fix

#5189 fix(windows): avoid cached hotkey state 🍒
  windows/src/engine/keyman32/k32_lowlevelkeyboardhook.cpp
  windows/src/global/delphi/general/Keyman.System.Settings.pas
  windows/src/global/delphi/general/RegistryKeys.pas
  windows/src/global/inc/registry.h
Labels: cherry-pick, fix, windows/, windows/engine/

#5190 fix(windows): avoid cached hotkey state
  windows/src/engine/keyman32/k32_lowlevelkeyboardhook.cpp
  windows/src/global/delphi/general/Keyman.System.Settings.pas
  windows/src/global/delphi/general/RegistryKeys.pas
  windows/src/global/inc/registry.h
Labels: fix, windows/, windows/engine/

#5192 chore(windows): minor maintenance
  windows/src/.gitignore
  windows/src/buildtools/cef-checkout.sh
  windows/src/developer/inst/kmdev.wxs
Labels: chore, developer/, windows/

#5199 fix(android/samples): Set gradlew executable for Tests 🍒
  android/Tests/KeyboardHarness/gradlew
  android/Tests/keycode/gradlew
Labels: android/, cherry-pick, fix

#5169 fix(common/core/desktop): Fix failing tests on armhf
  common/core/desktop/debian/control
  common/core/desktop/src/kmx/kmx_base.h
  common/core/desktop/src/kmx/kmx_file.cpp
  common/core/desktop/src/kmx/kmx_file.h
  windows/src/engine/keyman32/K32_load.cpp
Labels: common/, common/core/, common/core/desktop/, fix, linux/, windows/, windows/engine/

#5205 auto: increment master version to 15.0.60
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5187 fix(windows): sentry.dll version handling
  windows/src/desktop/inst/keymandesktop.wxs
  windows/src/developer/inst/kmdev.wxs
  windows/src/developer/kmanalyze/kmanalyze.vcxproj
  windows/src/developer/kmdecomp/kmdecomp.vcxproj
  windows/src/engine/inst/components.wxs
  windows/src/engine/inst/keymanengine.wxs
  windows/src/engine/keymanx64/keymanx64.vcxproj
  windows/src/engine/mcompile/mcompile.vcxproj
  windows/src/ext/sentry/2.3/README.md
  windows/src/ext/sentry/2.3/crashpad_handler.exe
  windows/src/ext/sentry/2.3/sentry.dll
  windows/src/ext/sentry/2.3/sentry.x64.dll
  windows/src/ext/sentry/test/Sentry.Client.Test.SentryClientTestMain.pas
  windows/src/global/delphi/general/Keyman.System.KeymanSentryClient.pas
  windows/src/global/delphi/general/KeymanPaths.pas
  windows/src/global/vc/keymansentry.cpp
Labels: developer/, fix, windows/, windows/config/, windows/engine/

#5204 fix(common/core/desktop): Fix failing tests on armhf 🍒
  common/core/desktop/debian/control
  common/core/desktop/src/kmx/kmx_base.h
  common/core/desktop/src/kmx/kmx_file.cpp
  common/core/desktop/src/kmx/kmx_file.h
  windows/src/engine/keyman32/K32_load.cpp
Labels: cherry-pick, common/, common/core/, common/core/desktop/, fix, linux/, stable, windows/, windows/engine/

#5179 feat(web): Add script to deploy KeymanWeb release to s.keyman.com 🍒
  resources/build/jq.inc.sh
  web/tools/s_keyman_com.sh
Labels: cherry-pick, common/, common/resources/, feat, web/
