Repository keymanapp/keyman, pull requests merged in 2021-12, with the labels that each got.

#5973 feat(android/engine): Add other IME's to the Keyboard Picker menu
  android/KMEA/app/src/main/AndroidManifest.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/res/layout/ime_list_layout.xml
  android/KMEA/app/src/main/res/layout/keyboard_picker_list_layout.xml
  android/KMEA/app/src/main/res/layout/list_row_layout5.xml
  android/KMEA/app/src/main/res/values-land/dimens.xml
  android/KMEA/app/src/main/res/values/dimens.xml
  android/KMEA/app/src/main/res/values/strings.xml
Labels: android/, feat, android/engine/

#5979 chore(android): Specify build tools version on other projects
  android/README.md
  android/Samples/KMSample2/app/build.gradle
  oem/firstvoices/android/app/build.gradle
Labels: android/, oem/, oem/fv/, oem/fv/android/, chore, android/samples/

#5994 auto: increment master version to 15.0.159
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5995 fix(developer): debugger crash with empty group
  windows/src/developer/TIKE/debug/debugkeyboard.pas
Labels: developer/, fix, developer/ide/

#5991 chore(android): Document switching to other system keyboard
  android/help/android_images/close-keyman-a.png
  android/help/android_images/other-input-methods.png
  android/help/basic/switching-between-keyboards.md
Labels: android/, chore

#5987 fix(android/engine): Fix font paths
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
Labels: android/, fix, android/engine/

#5990 fix(android/engine): Fix font paths 🍒
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
Labels: android/, cherry-pick, fix, android/engine/

#5993 chore(linux): Remove lintian warning
  linux/ibus-keyman/debian/rules
  linux/ibus-kmfl/debian/rules
  linux/kmflcomp/debian/rules
  linux/libkmfl/debian/rules
Labels: linux/, linux/engine/, chore

#6001 auto: increment master version to 15.0.160
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5972 fix(developer): building kmw keyboard had wrong message callback signature
  windows/src/developer/kmcomp/Keyman.Developer.System.Project.ProjectLogConsole.pas
  windows/src/developer/kmcomp/main.pas
Labels: developer/, developer/compilers/, fix

#5984 feat(developer): support for start-of-sentence in IDE 🍆
  windows/src/developer/TIKE/help/kwhelp.pas
  windows/src/developer/TIKE/xml/app/editor/language.keyman.js
Labels: developer/, feat, developer/ide/

#6003 chore(common): add more description to Buf method
  common/core/desktop/src/kmx/kmx_context.h
  windows/src/engine/keyman32/appint/appint.h
Labels: windows/, common/, common/core/, common/core/desktop/, windows/engine/, chore

#5998 chore(linux): Allow to specify debian revision
  linux/scripts/debian.sh
Labels: linux/, stable, chore

#5968 chore(linux): add non-surrounding-text feature to tests 🎫
  common/core/desktop/src/kmx/kmx_context.cpp
  common/core/desktop/src/kmx/kmx_processevent.cpp
  common/core/desktop/tests/unit/kmnkbd/meson.build
  common/core/desktop/tests/unit/kmnkbd/test_kmx_context.cpp
  common/core/desktop/tests/unit/kmnkbd/test_kmx_xstring.cpp
  common/core/desktop/tests/unit/kmx/041 - long context and deadkeys.kmn
  common/core/desktop/tests/unit/kmx/041 - long context and deadkeys.kmx
  common/core/desktop/tests/unit/kmx/042 - long context and split deadkeys.kmn
  common/core/desktop/tests/unit/kmx/042 - long context and split deadkeys.kmx
  common/core/desktop/tests/unit/test_assert.h
  linux/ibus-keyman/tests/ibusimcontext.c
  linux/ibus-keyman/tests/ibusimcontext.h
  linux/ibus-keyman/tests/run-tests.sh
  linux/ibus-keyman/tests/testfixture.cpp
Labels: linux/, common/, linux/engine/, common/core/, common/core/desktop/, chore

#6009 auto: increment master version to 15.0.161
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5999 chore(linux): Allow to specify debian revision :package: :cherries:
  linux/scripts/debian.sh
Labels: linux/, cherry-pick, chore

#6000 chore(linux): Remove lintian warning :package: :cherries:
  linux/legacy/ibus-kmfl/debian/rules
  linux/legacy/kmflcomp/debian/rules
  linux/legacy/libkmfl/debian/rules
Labels: linux/, cherry-pick, chore

#6010 auto: increment master version to 15.0.162
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6007 chore(linux): Update changelogs for 14.0.283 :package:
  common/core/desktop/debian/changelog
  linux/ibus-keyman/debian/changelog
  linux/ibus-kmfl/debian/changelog
  linux/keyman-config/debian/changelog
  linux/kmflcomp/debian/changelog
  linux/libkmfl/debian/changelog
Labels: linux/, stable, common/, linux/config/, linux/engine/, common/core/, common/core/desktop/, chore

#6008 chore(linux): Update changelogs for 14.0.283 :package: :cherries:
  linux/debian/changelog
  linux/legacy/ibus-kmfl/debian/changelog
  linux/legacy/kmflcomp/debian/changelog
  linux/legacy/libkmfl/debian/changelog
Labels: linux/, cherry-pick, chore

#6011 auto: increment master version to 15.0.163
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6012 chore(common): buf now uses decxstr so remove comment
  common/core/desktop/src/kmx/kmx_context.h
  windows/src/engine/keyman32/appint/appint.h
Labels: windows/, common/, common/core/, common/core/desktop/, windows/engine/, chore

#6014 auto: increment master version to 15.0.164
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6002 refactor(common/core): Use defines in all xstring tests
  common/core/desktop/src/kmx/kmx_file.h
  common/core/desktop/tests/unit/kmnkbd/test_kmx_xstring.cpp
Labels: common/, common/core/, common/core/desktop/, refactor

#6023 auto: increment master version to 15.0.165
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5906 fix(web): font size was not consistently set
  common/core/web/keyboard-processor/src/keyboards/defaultLayouts.ts
  web/source/dom/domEventHandlers.ts
  web/source/dom/domManager.ts
  web/source/kmwdevice.ts
  web/source/kmwutils.ts
  web/source/osk/oskBaseKey.ts
  web/source/osk/oskView.ts
  web/source/osk/visualKeyboard.ts
  windows/src/developer/TIKE/xml/kmw/test.js
Labels: web/, windows/, developer/, common/, fix, web/engine/, common/core/, common/core/web/, developer/ide/

#6027 auto: increment master version to 15.0.166
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6021 chore(windows): use findstr instead of Borland grep ✈
  windows/src/Defines.mak
  windows/src/engine/keyman/Makefile
  windows/src/engine/keymanx64/Makefile
  windows/src/test/unit-tests/compile-supplementary-support/Makefile
Labels: windows/, windows/engine/, chore

#6022 chore(windows): replace mkver with mkver.sh ✈
  windows/src/Defines.mak
  windows/src/Makefile
  windows/src/Target.mak
  windows/src/buildtools/Makefile
  windows/src/buildtools/buildpkg/version.rc
  windows/src/buildtools/buildunidata/version.rc
  windows/src/buildtools/mkver.sh
  windows/src/buildtools/mkver/Main.pas
  windows/src/buildtools/mkver/Makefile
  windows/src/buildtools/mkver/TagFunctions.pas
  windows/src/buildtools/mkver/mkver.bdsproj
  windows/src/buildtools/mkver/mkver.cfg
  windows/src/buildtools/mkver/mkver.dof
  windows/src/buildtools/mkver/mkver.dpr
  windows/src/buildtools/mkver/mkver.dproj
  windows/src/buildtools/mkver/mkver.res
  windows/src/buildtools/mkver/mkver_Icon.ico
  windows/src/desktop/insthelp/version.rc
  windows/src/desktop/kmbrowserhost/version.rc
  windows/src/desktop/kmconfig/version.rc
  windows/src/desktop/kmshell/version.rc
  windows/src/desktop/setup/version.rc
  windows/src/developer/TIKE/version.rc
  windows/src/developer/kmanalyze/version.rc
  windows/src/developer/kmcmpdll/version.rc
  windows/src/developer/kmcomp/version.rc
  windows/src/developer/kmconvert/version.rc
  windows/src/developer/kmdecomp/version.rc
  windows/src/developer/kmndebug/version.rc
  windows/src/developer/samples/imsample/version.rc
  windows/src/developer/setup/version.rc
  windows/src/engine/inst/insthelper/version.rc
  windows/src/engine/keyman/version.rc
  windows/src/engine/keyman32/version.rc
  windows/src/engine/keyman64/version.rc
  windows/src/engine/keymanx64/version.rc
  windows/src/engine/kmcomapi/version.rc
  windows/src/engine/kmrefresh/version.rc
  windows/src/engine/kmtip/version.rc
  windows/src/engine/mcompile/version.rc
  windows/src/engine/tsysinfo/version.rc
  windows/src/engine/tsysinfox64/version.rc
  windows/src/global/help/Makefile
  windows/src/global/inc/keymanversion.h
  windows/src/support/charident/version.rc
  windows/src/support/etl2log/version.rc
  windows/src/support/imtest/version.rc
  windows/src/support/kdebug/version.rc
  windows/src/support/kmkb0045/version.rc
  windows/src/support/oskbulkrenderer/version.rc
  windows/src/support/richedit_examine/version.rc
  windows/src/support/windowinfo/version.rc
  windows/src/test/manual-tests/test_i3619/i3619tip/i3619tip/i3619tip/version.rc
Labels: windows/, developer/, developer/compilers/, developer/ide/, windows/config/, chore

#6030 chore(windows): build without delphi ✈
  docs/build/windows.md
  windows/src/Defines.mak
  windows/src/Makefile
  windows/src/README.md
  windows/src/buildtools/Makefile
  windows/src/desktop/Makefile
  windows/src/developer/Makefile
  windows/src/engine/Makefile
  windows/src/ext/Makefile
  windows/src/global/Makefile
  windows/src/support/Makefile
  windows/src/test/Makefile
Labels: windows/, developer/, windows/config/, windows/engine/, chore

#6038 auto: increment master version to 15.0.167
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6039 fix(windows): remove unused variable
  windows/src/global/delphi/comp/OnScreenKeyboard.pas
Labels: windows/, fix

#6042 auto: increment master version to 15.0.168
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6037 feat(linux): Add support for Ubuntu 22.04 Jammy
  linux/.pbuilderrc
  linux/Jenkinsfile
  linux/scripts/cow.sh
  linux/scripts/launchpad.sh
Labels: linux/, feat

#6045 auto: increment master version to 15.0.169
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6016 fix(mac): display Unicode package name correctly instead of '????'
  mac/Keyman4Mac/Keyman4Mac/AppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/KMConfigurationWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/KMInfoWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardHelpWindow/KMKeyboardHelpWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardInfo.h
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardInfo.m
  mac/Keyman4MacIM/Keyman4MacIM/KMPackageInfo.h
  mac/Keyman4MacIM/Keyman4MacIM/KMPackageInfo.m
  mac/Keyman4MacIM/Keyman4MacIM/KMPackageReader.h
  mac/Keyman4MacIM/Keyman4MacIM/KMPackageReader.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMXFile.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMXFile.m
Labels: mac/, fix, mac/config/, mac/engine/

#6044 fix(linux): Improve ibus-keyman tests
  linux/ibus-keyman/tests/testfixture.cpp
Labels: linux/, fix, linux/engine/

#6055 auto: increment master version to 15.0.170
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6051 docs(linux): Document how to disable error reporting
  linux/help/common/index.md
Labels: linux/, docs

#6052 fix(linux): fix release version number for Sentry reporting
  linux/keyman-config/keyman_config/__init__.py
Labels: linux/, fix, linux/config/

#6053 fix(linux): fix release version number for Sentry reporting :cherries:
  linux/keyman-config/keyman_config/__init__.py
Labels: linux/, cherry-pick, fix, linux/config/

#6054 fix(linux): Fix package description
  linux/debian/com.keyman.config.appdata.xml
  linux/debian/com.keyman.ibus_keyman.metainfo.xml
  linux/debian/control
  linux/debian/km-config.desktop
Labels: linux/, fix

#6058 auto: increment master version to 15.0.171
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6033 feat(developer): remember test page preferences on reload 🛒
  windows/src/developer/TIKE/xml/kmw/test.js
Labels: developer/, feat, developer/ide/

#6034 feat(developer): tidy up package list in web test view 🛒
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.kpsProjectFileUI.pas
  windows/src/developer/TIKE/xml/kmw/packages.html
  windows/src/developer/TIKE/xml/kmw/packages.js
  windows/src/developer/TIKE/xml/kmw/test.css
Labels: developer/, feat, developer/ide/

#6035 feat(developer): live reload of web debugger 🛒
  windows/src/developer/TIKE/http/Keyman.Developer.System.HttpServer.Debugger.pas
  windows/src/developer/TIKE/xml/kmw/packages.js
  windows/src/developer/TIKE/xml/kmw/test.js
Labels: developer/, feat, developer/ide/

#6036 feat(developer): cache web debug objects across sessions 🛒
  windows/src/developer/TIKE/Tike.dpr
  windows/src/developer/TIKE/actions/dmActionsMain.dfm
  windows/src/developer/TIKE/actions/dmActionsMain.pas
  windows/src/developer/TIKE/http/Keyman.Developer.System.HttpServer.Debugger.pas
  windows/src/developer/TIKE/web/UmodWebHttpServer.pas
  windows/src/global/delphi/general/KeyboardFonts.pas
Labels: windows/, developer/, feat, developer/ide/

#6061 fix(developer): project_mru.xml path
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.WelcomeRenderer.pas
Labels: developer/, fix, developer/ide/

#6062 chore(developer): add browse4folder to components
  windows/src/ext/browse4folder/Browse4Folder.pas
  windows/src/global/delphi/keyman_components.dpk
  windows/src/global/delphi/keyman_components.dproj
Labels: windows/, developer/, chore

#6059 docs(windows): Add note on split user/admin accounts
  windows/src/desktop/help/start/download-and-install-keyboard.md
Labels: windows/, windows/config/, docs

#6006 fix(mac): increase OSK character size by 50%
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KeyView.m
Labels: mac/, fix, mac/engine/

#6067 auto: increment master version to 15.0.172
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6074 fix(developer): work around devDependencies bug in npm
  developer/js/.npmignore
  developer/js/bundle.sh
  windows/src/developer/inst/download.in
Labels: windows/, developer/, developer/compilers/, fix

#6065 chore(windows): nmake makefile cleanup
  windows/src/Makefile
  windows/src/buildtools/devtools/Makefile
  windows/src/buildtools/sentrytool/Makefile
  windows/src/engine/keyman32/Makefile
  windows/src/engine/keyman64/Makefile
  windows/src/engine/tsysinfox64/Makefile
  windows/src/global/delphi/Makefile
Labels: windows/, windows/engine/, chore

#6060 chore(common): Check in crowdin strings for Spanish (Latin America) 🍒
  android/KMAPro/kMAPro/src/main/res/values-b+es+419/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/DisplayLanguages.java
  android/KMEA/app/src/main/res/values-b+es+419/strings.xml
  crowdin.yml
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/es-419.lproj/ResourceInfoView.strings
  ios/engine/KMEI/KeymanEngine/es-419.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/es-419.lproj/Localizable.stringsdict
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/es-419.lproj/Localizable.strings
  linux/keyman-config/locale/es_419.po
  windows/src/desktop/kmshell/locale/es-419/strings.xml
  windows/src/desktop/setup/locale/es-419/strings.xml
Labels: windows/, android/, ios/, linux/, stable, cherry-pick, common/, android/engine/, android/app/, ios/app/, ios/engine/, linux/config/, windows/config/, chore

#6078 auto: increment master version to 15.0.173
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/
