Repository keymanapp/keyman, pull requests merged in 2021-08, with the labels that each got.

#5532 auto: increment master version to 15.0.91
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5534 fix(android): avoid error with empty font data
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
Labels: android/, android/engine/, fix, stable

#5490 fix(web): stuck key highlighting from touchpoint movement
  web/source/osk/visualKeyboard.ts
Labels: fix, web/, web/engine/

#5537 auto: increment master version to 15.0.92
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5535 fix(android/app): Check Play Store release notes less than 500 chars
  android/build-help.sh
Labels: android/, fix

#5505 fix(linux): Improve uninstallation
  linux/keyman-config/keyman_config/uninstall_kmp.py
Labels: fix, linux/, linux/config/

#5508 refactor(linux): Reformat keycode_to_vk table
  linux/ibus-keyman/src/engine.c
Labels: linux/, linux/engine/, refactor

#5529 refactor(linux): Cleanup import of os.path
  linux/keyman-config/keyman_config/__init__.py
  linux/keyman-config/keyman_config/downloadkeyboard.py
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/keyman_config/kmpmetadata.py
  linux/keyman-config/keyman_config/uninstall_kmp.py
  linux/keyman-config/keyman_config/view_installed.py
  linux/keyman-config/km-kvk2ldml
Labels: linux/, linux/config/, refactor

#5498 chore(common/core): Allow shell script for kmcomp
  common/core/desktop/tests/unit/kmx/meson.build
Labels: chore, common/, common/core/, common/core/desktop/

#5518 refactor(common/core): Move comment to where it belongs
  common/core/desktop/src/kmx/kmx_processevent.cpp
Labels: common/, common/core/, common/core/desktop/, refactor

#5550 auto: increment master version to 15.0.94
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5486 chore(ios,windows): Update crowdin strings for Azerbaijani
  ios/engine/KMEI/KeymanEngine/az.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/az.lproj/Localizable.stringsdict
  ios/keyman/Keyman/Keyman/Classes/GetStartedViewController/GetStartedViewController.swift
  ios/keyman/Keyman/Keyman/az.lproj/Localizable.strings
  windows/src/desktop/kmshell/locale/az-AZ/strings.xml
Labels: chore, ios/, ios/app/, ios/engine/, windows/, windows/config/

#5546 chore(android): Update sentry-android-gradle-plugin to 2.1.0
  android/KMAPro/build.gradle
  android/KMAPro/kMAPro/build.gradle
  android/README.md
  android/Samples/KMSample1/build.gradle
  android/Samples/KMSample2/build.gradle
  android/Tests/KeyboardHarness/app/build.gradle
  android/Tests/KeyboardHarness/build.gradle
  oem/firstvoices/android/app/build.gradle
  oem/firstvoices/android/build.gradle
Labels: android/, android/app/, android/samples/, chore, oem/, oem/fv/, oem/fv/android/

#5538 fix(web): Have util.wait check useAlerts option
  web/source/kmwnative.ts
  web/testing/index.html
  web/testing/issue5455/index.html
Labels: fix, web/, web/engine/

#5554 auto: increment stable-14.0 version to 14.0.281
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5423 fix(android): gracefully handle errors in KMW keyboards
  android/KMEA/app/src/main/assets/keyboard.html
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/res/values/strings.xml
Labels: android/, android/engine/, fix

#5549 chore(linux): Remove compiler warning in ibus-keyman
  linux/ibus-keyman/src/keyman-service.c
Labels: chore, linux/, linux/engine/

#5558 auto: increment master version to 15.0.95
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5559 fix(windows): wrap text in keyboard installation dialog
  windows/src/desktop/kmshell/xml/installkeyboard.css
Labels: windows/, fix

#5556 fix(windows): tsysinfo format grid correctly
  windows/src/engine/tsysinfo/Makefile
  windows/src/engine/tsysinfo/base.xslt
Labels: windows/, fix, windows/engine/

#5520 feat(android): Add API for checking Chrome version
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KMPBrowserActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/WebViewFragment.java
  android/KMAPro/kMAPro/src/main/res/layout/activity_main.xml
  android/KMAPro/kMAPro/src/main/res/layout/update_chrome_layout.xml
  android/KMAPro/kMAPro/src/main/res/values-sw600dp/dimens.xml
  android/KMAPro/kMAPro/src/main/res/values/dimens.xml
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMHelpFileActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/WebViewUtil.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/WebViewUtils.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/WebViewUtilsTest.java
Labels: android/, feat, android/engine/, android/app/

#5541 fix(android/app): Fix cleanup when progress dialog cancelled
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/DownloadIntentService.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/DownloadResultReceiver.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/LanguagesSettingsActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/FileUtils.java
Labels: android/, fix, android/engine/, android/app/

#5562 fix(common/core/desktop): split smp for context chars
  common/core/desktop/src/kmx/kmx_actions.cpp
  common/core/desktop/tests/unit/kmx/028 - smp.kmn
  common/core/desktop/tests/unit/kmx/028 - smp.kmx
Labels: common/, fix, common/core/, common/core/desktop/

#5513 feat(developer): debugger uses Keyman Core 🐞
  windows/src/developer/TIKE/Tike.dpr
  windows/src/developer/TIKE/Tike.dproj
  windows/src/developer/TIKE/actions/dmActionsKeyboardEditor.pas
  windows/src/developer/TIKE/child/UfrmDebug.pas
  windows/src/developer/TIKE/child/UfrmDebugStatus.dfm
  windows/src/developer/TIKE/child/UfrmDebugStatus.pas
  windows/src/developer/TIKE/child/UfrmKeymanWizard.dfm
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/debug/DebugUtils.pas
  windows/src/developer/TIKE/debug/Keyman.System.Debug.DebugCore.pas
  windows/src/developer/TIKE/debug/Keyman.System.Debug.DebugEvent.pas
  windows/src/developer/TIKE/debug/RegressionTest.pas
  windows/src/developer/TIKE/debug/UfrmDebugStatus_CallStack.pas
  windows/src/developer/TIKE/debug/UfrmDebugStatus_Child.pas
  windows/src/developer/TIKE/debug/UfrmDebugStatus_Deadkeys.pas
  windows/src/developer/TIKE/debug/UfrmDebugStatus_Elements.pas
  windows/src/developer/TIKE/debug/UfrmDebugStatus_Events.dfm
  windows/src/developer/TIKE/debug/UfrmDebugStatus_Events.pas
  windows/src/developer/TIKE/debug/UfrmDebugStatus_Key.pas
  windows/src/developer/TIKE/debug/UfrmDebugStatus_RegTest.dfm
  windows/src/developer/TIKE/debug/UfrmDebugStatus_RegTest.pas
  windows/src/developer/TIKE/debug/debugdeadkeys.pas
  windows/src/developer/TIKE/debug/debugkeyboard.pas
  windows/src/developer/TIKE/debughost.kmx
  windows/src/developer/TIKE/dialogs/UfrmVisualKeyboardImportKMX.dfm
  windows/src/developer/TIKE/dialogs/UfrmVisualKeyboardImportKMX.pas
  windows/src/developer/TIKE/main/Keyman.System.Debug.DebugUIStatus.pas
  windows/src/developer/TIKE/main/Keyman.System.VisualKeyboardImportKMX.pas
  windows/src/developer/TIKE/main/KeymanDeveloperUtils.pas
  windows/src/developer/TIKE/main/UKeyBitmap.pas
  windows/src/developer/TIKE/main/UfrmMain.pas
  windows/src/developer/TIKE/main/debugging.pas
  windows/src/developer/TIKE/redist/debughost.kmn
  windows/src/developer/TIKE/redist/debughost.kmx
  windows/src/developer/inst/kmdev.wxs
  windows/src/global/delphi/general/Keyman.System.KeymanCore.pas
  windows/src/global/delphi/general/Keyman.System.KeymanCoreDebug.pas
  windows/src/global/delphi/general/KeymanPaths.pas
  windows/src/global/delphi/general/VKeyChars.pas
Labels: windows/, developer/, feat, developer/ide/

#5480 fix(common/models): keep/suggestion diacritic sensitivity when de-duping
  common/predictive-text/unit_tests/headless/worker-model-compositor.js
  common/predictive-text/worker/model-compositor.ts
Labels: common/, fix

#5552 fix(common/models): keep/suggestion diacritic sensitivity when de-duping 🍒
  common/predictive-text/unit_tests/headless/worker-model-compositor.js
  common/predictive-text/worker/model-compositor.ts
Labels: cherry-pick, common/, fix

#5555 fix(web): Blank spacebar text when displayName is empty string
  web/source/osk/visualKeyboard.ts
  web/testing/spacebar-text/index.html
Labels: web/, fix, web/engine/

#5497 chore(common/core): Linux side of caps-lock stores 🚧
  common/core/desktop/src/kmx/kmx_capslock.cpp
  common/core/desktop/src/kmx/kmx_processevent.cpp
  common/core/desktop/src/kmx/kmx_processevent.h
  common/core/desktop/tests/unit/kmx/031 - caps lock.kmn
  common/core/desktop/tests/unit/kmx/031 - caps lock.kmx
  common/core/desktop/tests/unit/kmx/032 - caps control.kmn
  common/core/desktop/tests/unit/kmx/032 - caps control.kmx
  common/core/desktop/tests/unit/kmx/meson.build
  linux/ibus-keyman/configure.ac
  linux/ibus-keyman/src/Makefile.am
  linux/ibus-keyman/src/engine.c
Labels: linux/, common/, linux/engine/, common/core/, common/core/desktop/, chore

#5566 auto: increment master version to 15.0.96
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5565 docs(linux): Fix readme for ibus-keyman
  linux/ibus-keyman/README.md
Labels: linux/, linux/engine/, docs

#5564 chore(common/core): Add uninstall option to build script
  common/core/desktop/build.sh
Labels: common/, common/core/, common/core/desktop/, chore

#5582 feat(web): setup build artifacts for manual tests
  web/README.md
Labels: web/, feat

#5569 feat(ios): adds option for Simulator-compatible testing artifact
  ios/kmbuild.sh
  ios/tools/prepRelease.sh
  oem/firstvoices/ios/build_common.sh
Labels: ios/, oem/, feat, oem/fv/, oem/fv/ios/

#5557 feat(ios): adds option for Simulator-compatible testing artifact
  ios/kmbuild.sh
  ios/tools/prepRelease.sh
  oem/firstvoices/ios/build_common.sh
Labels: ios/, common/, oem/, feat, oem/fv/, oem/fv/ios/

#5451 refactor(web): OSK layout hierarchy encapsulation 📐
  common/core/web/keyboard-processor/src/keyboards/activeLayout.ts
  web/source/kmwembedded.ts
  web/source/osk/languageMenu.ts
  web/source/osk/oskBaseKey.ts
  web/source/osk/oskKey.ts
  web/source/osk/oskLayer.ts
  web/source/osk/oskLayerGroup.ts
  web/source/osk/oskManager.ts
  web/source/osk/oskRow.ts
  web/source/osk/visualKeyboard.ts
Labels: web/, common/, web/engine/, common/core/, common/core/web/, refactor

#5459 refactor(web): reworks VisualKeyboard layout spec design 📐
  android/KMEA/app/src/main/assets/keyboard.html
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardJSHandler.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  web/source/kmwembedded.ts
  web/source/osk/bannerManager.ts
  web/source/osk/browser/oskSubKey.ts
  web/source/osk/layouts/targetedFloatLayout.ts
  web/source/osk/lengthStyle.ts
  web/source/osk/oskBaseKey.ts
  web/source/osk/oskKey.ts
  web/source/osk/oskLayer.ts
  web/source/osk/oskLayerGroup.ts
  web/source/osk/oskManager.ts
  web/source/osk/oskRow.ts
  web/source/osk/utils.ts
  web/source/osk/visualKeyboard.ts
Labels: web/, android/, android/engine/, web/engine/, refactor

#5462 refactor(web): overhaul of OSK key layout calcs + styling, merges desktop & touch logic 📐
  web/source/osk/browser/keytip.ts
  web/source/osk/browser/oskSubKey.ts
  web/source/osk/browser/subkeyPopup.ts
  web/source/osk/oskBaseKey.ts
  web/source/osk/oskKey.ts
  web/source/osk/oskLayer.ts
  web/source/osk/oskLayerGroup.ts
  web/source/osk/oskManager.ts
  web/source/osk/oskRow.ts
  web/source/osk/visualKeyboard.ts
  web/source/resources/osk/kmwosk.css
Labels: web/, web/engine/, refactor

#5587 fix(android): removes duplicated line
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
Labels: android/, fix, android/engine/

#5583 fix(linux): Check for valid kmp file
  linux/keyman-config/keyman_config/handle_install.py
  linux/keyman-config/km-package-install
  linux/keyman-config/tests/test_gnome_keyboards_util.py
  linux/keyman-config/tests/test_handle_install.py
Labels: linux/, fix, linux/config/

#5585 fix(linux): Handle corrupt icon file
  linux/keyman-config/keyman_config/view_installed.py
Labels: linux/, fix, linux/config/

#5586 fix(windows): handle restoring modal dialogs consistently
  windows/src/desktop/kmshell/main/UfrmHTML.dfm
  windows/src/desktop/kmshell/main/UfrmHTML.pas
  windows/src/desktop/kmshell/startup/UfrmSplash.dfm
  windows/src/desktop/kmshell/startup/UfrmSplash.pas
  windows/src/global/delphi/ui/UfrmKeymanBase.pas
Labels: windows/, fix, windows/config/

#5572 chore(android): Remove runConfigurations.xml files
  android/KMEA/.idea/runConfigurations.xml
  android/Samples/KMSample1/.idea/runConfigurations.xml
  android/Samples/KMSample2/.idea/runConfigurations.xml
Labels: android/, chore

#5487 chore(ios,windows): Update crowdin strings for Azerbaijani 🍒
  ios/engine/KMEI/KeymanEngine/az.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/az.lproj/Localizable.stringsdict
  ios/keyman/Keyman/Keyman/GetStartedViewController/GetStartedViewController.swift
  ios/keyman/Keyman/Keyman/az.lproj/Localizable.strings
  windows/src/desktop/kmshell/locale/az-AZ/strings.xml
Labels: windows/, ios/, cherry-pick, ios/app/, ios/engine/, windows/config/, chore

#5596 fix(oem/fv/ios): build configuration for 14.0's test-oriented simulator artifact
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
  oem/firstvoices/ios/build_common.sh
Labels: ios/, stable, oem/, fix, oem/fv/, oem/fv/ios/

#4657 fix(windows): Welcome should always show in front
  windows/src/desktop/kmshell/install/Keyman.Configuration.UI.InstallFile.pas
  windows/src/desktop/kmshell/main/UfrmHTML.pas
  windows/src/desktop/kmshell/main/UfrmMain.pas
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/desktop/kmshell/startup/help/UfrmTextEditor.pas
  windows/src/engine/kmcomapi/com/system/keymancontrol.pas
  windows/src/global/delphi/general/KeymanPaths.pas
Labels: windows/, fix, windows/config/, windows/engine/

#5602 auto: increment master version to 15.0.97
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5589 fix(linux): Handle corrupt icon file 🍒
  linux/keyman-config/keyman_config/view_installed.py
Labels: linux/, cherry-pick, fix, linux/config/

#5590 fix(linux): Check for valid kmp file 🍒
  linux/keyman-config/keyman_config/handle_install.py
  linux/keyman-config/km-package-install
  linux/keyman-config/tests/test_gnome_keyboards_util.py
  linux/keyman-config/tests/test_handle_install.py
Labels: linux/, cherry-pick, fix, linux/config/

#5607 fix(linux): Fix uploading to launchpad 📦
  linux/debian/changelog
  linux/scripts/package-build.inc.sh
Labels: linux/, fix

#5608 auto: increment master version to 15.0.98
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5588 fix(developer): debugger cleanup 🐞
  windows/src/developer/TIKE/Tike.dpr
  windows/src/developer/TIKE/Tike.dproj
  windows/src/developer/TIKE/child/UfrmDebug.dfm
  windows/src/developer/TIKE/child/UfrmDebug.pas
  windows/src/developer/TIKE/debug/Keyman.System.Debug.DebugEvent.pas
  windows/src/developer/TIKE/debug/Keyman.UI.Debug.CharacterGridRenderer.pas
  windows/src/developer/TIKE/debug/debugdeadkeys.pas
  windows/src/global/delphi/comp/KeymanDeveloperDebuggerMemo.pas
Labels: windows/, developer/, fix, developer/ide/

#5592 chore(developer): debug deadkey 1-based values 🐞
  windows/src/developer/TIKE/child/UfrmDebug.pas
  windows/src/developer/TIKE/debug/RegressionTest.pas
  windows/src/developer/TIKE/debug/debugdeadkeys.pas
  windows/src/developer/TIKE/debug/debugkeyboard.pas
Labels: developer/, developer/ide/, chore

#5593 chore(developer): refactor forcekeyboard in debug 🐞
  windows/src/developer/TIKE/child/UfrmDebug.pas
Labels: developer/, developer/ide/, chore

#5594 fix(developer): get Test Mode working again 🐞
  windows/src/developer/TIKE/actions/dmActionsKeyboardEditor.pas
  windows/src/developer/TIKE/child/UfrmDebug.pas
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/dialogs/UfrmMustIncludeDebug.dfm
  windows/src/developer/TIKE/dialogs/UfrmMustIncludeDebug.pas
Labels: developer/, fix, developer/ide/

#5595 chore(developer): hide debug events panel 🐞
  windows/src/developer/TIKE/child/UfrmDebugStatus.pas
  windows/src/developer/TIKE/main/UfrmMain.dfm
  windows/src/developer/TIKE/main/UfrmMain.pas
Labels: developer/, developer/ide/, chore

#5553 fix(common/core/web): behavior with unmatched final group
  common/core/web/keyboard-processor/src/text/kbdInterface.ts
  common/core/web/keyboard-processor/src/text/keyboardProcessor.ts
  common/core/web/keyboard-processor/src/text/ruleBehavior.ts
  common/core/web/keyboard-processor/tests/cases/engine/unmatched_final_group.js
  common/core/web/tests/resources/fixtures/singleTextArea.html
  common/core/web/tests/resources/json/engine_tests/ghp_enter.json
  common/core/web/tests/resources/json/keyboards/galaxie_hebrew_positional.json
  common/core/web/tests/resources/keyboards/galaxie_hebrew_positional-2.2.js
  web/source/dom/preProcessor.ts
  web/source/kmwembedded.ts
  web/source/osk/preProcessor.ts
  web/tools/recorder/recorder_KeyboardScripts.js
  web/unit_tests/cases/engine.js
Labels: web/, common/, fix, web/engine/, common/core/, common/core/web/

#5548 fix(ios): iOS 13 and 14 only - stuck settings toggles
  ios/engine/KMEI/KeymanEngine/Classes/Settings/LanguageSettingsViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/SettingsViewController.swift
Labels: ios/, fix, ios/engine/

#5601 fix(linux): Fix lost context after pressing K_SHIFT 🚧
  common/core/desktop/src/kmx/kmx_processevent.cpp
  common/core/desktop/tests/unit/kmx/013 - deadkeys.kmn
  common/core/desktop/tests/unit/kmx/013 - deadkeys.kmx
  common/core/desktop/tests/unit/kmx/048 - modifier keys keep context.kmn
  common/core/desktop/tests/unit/kmx/048 - modifier keys keep context.kmx
  common/core/desktop/tests/unit/kmx/meson.build
  linux/ibus-keyman/src/engine.c
Labels: linux/, common/, fix, linux/engine/, common/core/, common/core/desktop/

#5616 auto: increment master version to 15.0.99
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5606 feat(android/app): Add menu to adjust keyboard height
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/AdjustKeyboardHeightActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeymanSettingsFragment.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/res/drawable-hdpi/blank_osk.png
  android/KMAPro/kMAPro/src/main/res/drawable-hdpi/ic_height.png
  android/KMAPro/kMAPro/src/main/res/drawable-hdpi/ic_keyboard.png
  android/KMAPro/kMAPro/src/main/res/drawable-land-hdpi/blank_osk.png
  android/KMAPro/kMAPro/src/main/res/drawable-mdpi/ic_height.png
  android/KMAPro/kMAPro/src/main/res/drawable-mdpi/ic_keyboard.png
  android/KMAPro/kMAPro/src/main/res/drawable-sw600dp-land/blank_osk.png
  android/KMAPro/kMAPro/src/main/res/drawable-sw600dp/blank_osk.png
  android/KMAPro/kMAPro/src/main/res/drawable-sw720dp-land/blank_osk.png
  android/KMAPro/kMAPro/src/main/res/drawable-sw720dp/blank_osk.png
  android/KMAPro/kMAPro/src/main/res/drawable-xhdpi/ic_height.png
  android/KMAPro/kMAPro/src/main/res/drawable-xhdpi/ic_keyboard.png
  android/KMAPro/kMAPro/src/main/res/drawable-xxhdpi/ic_height.png
  android/KMAPro/kMAPro/src/main/res/drawable-xxhdpi/ic_keyboard.png
  android/KMAPro/kMAPro/src/main/res/drawable-xxxhdpi/ic_height.png
  android/KMAPro/kMAPro/src/main/res/drawable-xxxhdpi/ic_keyboard.png
  android/KMAPro/kMAPro/src/main/res/drawable/dash_border.xml
  android/KMAPro/kMAPro/src/main/res/layout/activity_adjust_keyboard_height.xml
  android/KMAPro/kMAPro/src/main/res/layout/preference_height_icon_layout.xml
  android/KMAPro/kMAPro/src/main/res/values-sw600dp/dimens.xml
  android/KMAPro/kMAPro/src/main/res/values-sw720dp/dimens.xml
  android/KMAPro/kMAPro/src/main/res/values/dimens.xml
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
Labels: android/, feat, android/engine/, android/app/

#5617 auto: increment master version to 15.0.100
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5612 fix(linux): Fix uploading to launchpad for legacy projects 📦
  linux/scripts/package-build.inc.sh
Labels: linux/, fix

#5618 auto: increment master version to 15.0.101
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5530 refactor(web): mouse-based use of touch handlers 👆
  web/source/osk/inputEventCoordinate.ts
  web/source/osk/mouseEventEngine.ts
  web/source/osk/oskBaseKey.ts
  web/source/osk/visualKeyboard.ts
Labels: web/, web/engine/, refactor

#5627 auto: increment master version to 15.0.102
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5570 fix(android/engine): UX improvement when 1 keyboard installed
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/help/basic/switching-between-keyboards.md
  android/help/context/menu-phone.md
  android/help/context/menu-tablet.md
Labels: android/, fix, android/engine/

#4172 chore(windows): sentrytool param file support
  windows/src/buildtools/sentrytool/Keyman.System.SentryTool.SentryToolMain.pas
Labels: windows/, chore

#5597 fix(developer): F6 in debugger and cef focus 🐞
  windows/src/developer/TIKE/actions/dmActionsKeyboardEditor.dfm
  windows/src/developer/TIKE/actions/dmActionsKeyboardEditor.pas
  windows/src/global/delphi/chromium/Keyman.UI.UframeCEFHost.pas
Labels: windows/, developer/, fix, developer/ide/

#5527 chore(common): add report-history.sh 🏰
  resources/build/report-history.sh
  resources/build/version/package-lock.json
  resources/build/version/src/fixupHistory.ts
  resources/build/version/src/index.ts
  resources/build/version/src/reportHistory.ts
Labels: common/, common/resources/, chore

#5603 chore(common): more on report-history 🏰
  resources/build/report-history.sh
  resources/build/version/src/index.ts
  resources/build/version/src/reportHistory.ts
Labels: common/, common/resources/, chore

#5604 chore: fixup HISTORY.md 🏰
  HISTORY.md
Labels: common/, common/resources/, chore

#5605 chore: fixup stable HISTORY.md 🍒 🏰
  HISTORY.md
Labels: cherry-pick, common/, common/resources/, chore

#5621 chore(android/app): Add in-app help for adjusting keyboard height
  android/help/about/whatsnew.md
  android/help/android_images/adjust-height.png
  android/help/android_images/blank-osk.png
  android/help/android_images/ic_content_add.png
  android/help/android_images/reset-to-default.png
  android/help/android_images/settings-screen-ap.png
  android/help/android_images/settings-screen-at.png
  android/help/basic/config/adjust-keyboard-height.md
  android/help/basic/config/index.md
  android/help/basic/config/install-keyboard-or-dictionary.md
  android/help/basic/config/spacebar-caption.md
Labels: android/, chore

#5632 auto: increment master version to 15.0.103
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5624 chore(linux): Improve debian package script
  docs/linux-packaging.md
  linux/scripts/debian.sh
Labels: linux/, stable, chore

#5626 chore(linux): Improve debian package script 🍒
  docs/linux-packaging.md
  linux/scripts/debian.sh
Labels: linux/, cherry-pick, chore

#5623 chore(linux): Fix uploading to Sentry
  linux/debian/rules
  linux/keyman-config/keyman_config/__init__.py
  linux/keyman-config/keyman_config/version.py.in
  linux/scripts/reconf.sh
Labels: linux/, linux/config/, chore

#5625 chore(linux): Fix uploading to Sentry 🍒
  linux/keyman-config/debian/rules
  linux/keyman-config/keyman_config/__init__.py
  linux/keyman-config/keyman_config/version.py.in
  linux/scripts/reconf.sh
Labels: linux/, stable, cherry-pick, linux/config/, chore

#5654 fix(linux): Remove Linux workspace
  linux.code-workspace
Labels: linux/, fix

#5659 auto: increment master version to 15.0.107
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5651 fix(web): Fix layers for embedded longpress keys
  android/KMEA/app/src/main/assets/keyboard.html
  web/source/kmwembedded.ts
Labels: web/, android/, stable, fix, android/engine/, web/engine/

#5631 fix(linux): Fix launch of km-config
  linux/debian/km-config.desktop
  linux/keyman-config/km-config
  linux/keyman-config/maninc/km-config.inc
Labels: linux/, fix, linux/config/

#5662 auto: increment master version to 15.0.108
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/
