Repository keymanapp/keyman, pull requests merged in 2021-02, with the labels that each got.

#4371 fix(web): removes stylesheets from unloaded keyboards
  web/source/osk/oskManager.ts
  web/source/osk/visualKeyboard.ts
Labels: fix, web/, web/engine/

#4370 fix(android, ios): eliminates OSK layout flashing from predictive text banner display
  android/KMEA/app/src/main/assets/keyboard.html
  common/core/web/input-processor/src/text/prediction/languageProcessor.ts
  web/source/osk/banner.ts
  web/source/osk/bannerManager.ts
Labels: android/, android/engine/, common/, common/core/, common/core/web/, fix, ios/, web/, web/engine/

#4380 fix(windows): crash for Sinhala mitigation
  windows/src/engine/kmcomapi/processes/keyboard/Keyman.System.MitigateWin10_1803LanguageInstall.pas
Labels: fix, windows/, windows/engine/

#4374 chore(linux): Don't report on Sentry when running unit tests
  linux/keyman-config/keyman_config/__init__.py
Labels: cherry-pick, chore, linux/, linux/config/

#4376 chore(linux): Pass second tag parameter to Jenkins build
  resources/build/trigger-builds.inc.sh
Labels: chore, common/, common/resources/, linux/

#4388 chore(linux): Pass second tag parameter to Jenkins build
  resources/build/trigger-builds.inc.sh
Labels: cherry-pick, chore, common/, common/resources/, linux/

#4390 auto: increment master version to 15.0.14
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4391 auto: increment beta version to 14.0.234
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4379 fix(windows): remove Show Keyboard Usage hotkey
  windows/src/desktop/kmshell/locale/de/strings.xml
  windows/src/desktop/kmshell/locale/fr/strings.xml
  windows/src/desktop/kmshell/locale/kan-Knda-IN/strings.xml
  windows/src/desktop/kmshell/locale/km-KH/strings.xml
  windows/src/desktop/kmshell/locale/my/strings.xml
  windows/src/desktop/kmshell/locale/pt-BR/strings.xml
  windows/src/desktop/kmshell/locale/qqq/strings.xml
  windows/src/desktop/kmshell/locale/ta/strings.xml
  windows/src/desktop/kmshell/locale/tr/strings.xml
  windows/src/desktop/kmshell/locale/vec/strings.xml
  windows/src/desktop/kmshell/xml/keyman_hotkeys.xsl
  windows/src/desktop/kmshell/xml/strings.xml
  windows/src/engine/keyman/viskbd/UfrmVisualKeyboard.pas
  windows/src/global/delphi/general/InterfaceHotkeys.pas
Labels: fix, windows/, windows/config/, windows/engine/

#4381 fix(windows): avoid invalid language codes in Add Language dialog
  windows/src/desktop/kmshell/install/UfrmInstallKeyboardLanguage.pas
  windows/src/engine/kmcomapi/com/keyman_implementation.pas
  windows/src/engine/kmcomapi/keymanapi_TLB.pas
  windows/src/engine/kmcomapi/kmcomapi.ridl
  windows/src/global/delphi/general/Keyman.System.CanonicalLanguageCodeUtils.pas
Labels: fix, windows/, windows/config/, windows/engine/

#4389 docs(linux): Improve packaging doc
  docs/linux-packaging.md
Labels: docs, linux/

#4403 auto: increment master version to 15.0.15
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4404 auto: increment beta version to 14.0.235
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4384 fix(windows): Ensure UAC window comes to foreground
  windows/src/desktop/kmshell/install/UfrmInstallKeyboard.pas
Labels: fix, windows/, windows/config/

#4392 fix(windows): setup should ignore cert revocation
  windows/src/global/delphi/general/httpuploader.pas
Labels: fix, windows/

#4398 fix(developer): don't check both setup.exe and setup-redist.exe
  windows/src/global/delphi/general/CompilePackageInstaller.pas
Labels: developer/, fix, windows/

#4386 fix(windows): Show balloon when Keyman is already running
  windows/src/desktop/kmshell/startup/UfrmSplash.pas
  windows/src/desktop/kmshell/xml/strings.xml
  windows/src/engine/keyman/UfrmKeyman7Main.pas
  windows/src/global/delphi/general/KeymanControlMessages.pas
Labels: fix, windows/, windows/config/, windows/engine/

#4399 fix(developer): Generate platforms correctly from template
  windows/src/developer/TIKE/main/KeyboardParser.pas
  windows/src/developer/kmconvert/Keyman.Developer.System.KeyboardProjectTemplate.pas
  windows/src/developer/kmconvert/Keyman.Developer.System.ModelProjectTemplate.pas
  windows/src/developer/kmconvert/Keyman.Developer.System.ProjectTemplate.pas
  windows/src/global/delphi/general/UKeymanTargets.pas
Labels: developer/, developer/ide/, fix, windows/

#4400 fix(developer): Import Keyboard support for Targets
  windows/src/developer/TIKE/main/Keyman.Developer.UI.ImportWindowsKeyboardDialogManager.pas
  windows/src/developer/kmconvert/Keyman.Developer.System.ImportWindowsKeyboard.pas
Labels: developer/, developer/ide/, fix

#4394 fix(ios): fixes unit test mocking, test init
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngineTests/AssociatingPackageInstallerTests.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/Downloading/URLSessionDataTaskMock.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/Downloading/URLSessionDownloadTaskMock.swift
  ios/keymanios.xcworkspace/xcshareddata/xcschemes/Keyman.xcscheme
Labels: bug, fix, ios/, ios/engine/

#4395 fix(ios): fixes app crash on network/install error during resource updates
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceDownloadQueue.swift
  ios/engine/KMEI/KeymanEngineTests/ResourceUpdateTests.swift
Labels: fix, ios/, ios/engine/

#4396 fix(ios): fixes package-install/update event concurrency management
  ios/engine/KMEI/KeymanEngine/Classes/Settings/InstalledLanguagesViewController.swift
Labels: fix, ios/, ios/engine/

#4401 fix(common/models): bksp workaround now works beyond first word
  common/predictive-text/worker/correction/context-tracker.ts
Labels: common/, common/models/, fix

#4405 chore(windows): tests should be case-sensitive
  windows/src/global/delphi/general/Keyman.System.UILanguageManager.pas
  windows/src/test/unit-tests/androidstringtokeymanlocalestring/Keyman.Test.AndroidStringToKeymanLocaleStringTest.pas
  windows/src/test/unit-tests/group-helper-rsp19902/Keyman.Test.RegExGroupHelperRSP19902Test.pas
  windows/src/test/unit-tests/model-ts-parser/Keyman.System.Test.LexicalModelParserTest.pas
  windows/src/unit-tests/jsonutil/Keyman.System.Test.JsonUtilTest.pas
  windows/src/unit-tests/keyboard-js-info/Keyman.Test.System.KeyboardJSInfoTest.pas
  windows/src/unit-tests/keyboard-package-versions/Keyman.Test.System.CompilePackageVersioningTest.pas
  windows/src/unit-tests/kmx-file-languages/Keyman.Test.System.KMXFileLanguagesTest.pas
  windows/src/unit-tests/package-info/PackageInfoTest.pas
  windows/src/unit-tests/standards-data/Keyman.Test.System.CanonicalLanguageCodeUtilsTest.pas
  windows/src/unit-tests/standards-data/Keyman.Test.System.Standards.LangTagsRegistryTest.pas
  windows/src/unit-tests/ui-language-manager/Keyman.System.Test.UILanguageManagerTest.pas
  windows/src/unit-tests/windows-setup/Keyman.System.Test.InstallInfoTest.pas
Labels: chore, windows/

#4406 fix(windows): crash deleting wordlist
  windows/src/developer/TIKE/child/Keyman.Developer.UI.UfrmModelEditor.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.modelTsProjectFile.pas
Labels: developer/, developer/ide/, fix, windows/

#4407 fix(windows): Use forward slashes in wordlist paths
  windows/src/developer/TIKE/child/Keyman.Developer.UI.UfrmModelEditor.pas
Labels: developer/, developer/ide/, fix, windows/

#4402 fix(linux): Don't crash if uninstalling last keyboard
  linux/keyman-config/keyman_config/gnome_keyboards_util.py
Labels: fix, linux/, linux/config/

#4417 auto: increment beta version to 14.0.236
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4412 chore(windows/resources): Fix typo about Community Forum link
  windows/src/desktop/help/index.md
Labels: chore, windows/, windows/config/

#4413 change(android/app): Separate displaying welcome.htm from keyboard installation
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/SelectLanguageActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/SelectLanguageFragment.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/StepperAdapter.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/FileUtils.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/HelpFile.java
Labels: android/, android/app/, android/engine/, bug

#4418 fix(linux): Improve fix for #3399
  linux/keyman-config/Makefile
  linux/keyman-config/buildtools/build-langtags.py
  linux/keyman-config/keyman_config/bcp47tag.py
  linux/keyman-config/keyman_config/canonical_language_code_utils.py
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/standards/.gitignore
  linux/keyman-config/keyman_config/standards/README.md
  linux/keyman-config/tests/test_bcp47tag.py
  linux/keyman-config/tests/test_canonical_language_code_utils.py
  linux/keyman-config/tests/test_install_kmp.py
  linux/keyman-config/tests/test_lang_tags_map.py
  linux/scripts/reconf.sh
Labels: fix, linux/, linux/config/

#4422 auto: increment beta version to 14.0.237
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4428 fix(linux): Fix packaging
  linux/keyman-config/setup.py
Labels: fix, linux/, linux/config/

#4431 auto: increment beta version to 14.0.238
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4434 fix(android/engine): Remove WRITE_EXTERNAL_STORAGE from manifest
  android/KMEA/app/src/main/AndroidManifest.xml
Labels: android/, android/engine/, fix

#4420 chore(common): Check in crowdin files for French
  README.md
  android/KMAPro/kMAPro/src/main/res/values-fr-rFR/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/DisplayLanguages.java
  android/KMEA/app/src/main/res/values-fr-rFR/strings.xml
  crowdin.yml
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/fr.lproj/ResourceInfoView.strings
  ios/engine/KMEI/KeymanEngine/fr.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/fr.lproj/Localizable.stringsdict
  ios/keyman/Keyman/Keyman/fr.lproj/Localizable.strings
  linux/keyman-config/locale/fr_FR.po
  windows/src/buildtools/devtools/Keyman.System.DevTools.BuildSetupStringTranslations.pas
  windows/src/desktop/kmshell/locale/fr/strings.xml
  windows/src/desktop/setup/locale/fr/strings.xml
Labels: android/, android/app/, android/engine/, chore, common/, ios/, ios/app/, ios/engine/, linux/, linux/config/, windows/, windows/config/

#4440 auto: increment beta version to 14.0.239
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4408 fix(developer): debug information with unicode identifiers
  windows/src/developer/TIKE/compile/CompileKeymanWeb.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.ProjectFile.pas
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.kmnProjectFileAction.pas
  windows/src/global/delphi/general/CompileErrorCodes.pas
  windows/src/global/delphi/general/compile.pas
  windows/src/global/inc/Comperr.h
Labels: developer/, developer/ide/, fix, windows/

#4410 fix(developer): Compiler check for if and nul at start of context
  windows/src/developer/kmcmpdll/Compiler.cpp
  windows/src/developer/kmcmpdll/Compiler.rc
  windows/src/global/delphi/general/CompileErrorCodes.pas
  windows/src/global/inc/Comperr.h
  windows/src/test/unit-tests/kmcomp/test.bat
  windows/src/test/unit-tests/kmcomp/test_4280_if_start_1.kmn
  windows/src/test/unit-tests/kmcomp/test_4280_if_start_2.kmn
  windows/src/test/unit-tests/kmcomp/test_4280_nul_start_1.kmn
  windows/src/test/unit-tests/kmcomp/test_4280_nul_start_2.kmn
  windows/src/test/unit-tests/kmcomp/tests.kpj
Labels: developer/, fix, windows/

#4425 feat(developer): improve BCP 47 canonicalization
  windows/src/developer/TIKE/compile/ValidateKeyboardInfo.pas
  windows/src/developer/TIKE/dialogs/languages/Keyman.Developer.UI.UfrmSelectBCP47Language.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmNewProjectParameters.pas
  windows/src/developer/kmcomp/Keyman.Developer.System.ValidateRepoChanges.pas
  windows/src/developer/kmcomp/kmcomp.dpr
  windows/src/developer/kmcomp/kmcomp.dproj
  windows/src/developer/kmcomp/main.pas
  windows/src/developer/kmconvert/Keyman.Developer.System.ProjectTemplate.pas
  windows/src/engine/kmcomapi/com/keyboardlanguages/keymankeyboardlanguagesfile.pas
  windows/src/engine/kmcomapi/com/keyboardlanguages/keymankeyboardlanguagesinstalled.pas
  windows/src/engine/kmcomapi/com/keyman_implementation.pas
  windows/src/engine/kmcomapi/processes/keyboard/kpinstallkeyboard.pas
  windows/src/global/delphi/general/CompilePackage.pas
  windows/src/global/delphi/general/Keyman.System.CanonicalLanguageCodeUtils.pas
  windows/src/global/delphi/packages/Keyman.System.PackageInfoRefreshKeyboards.pas
  windows/src/global/delphi/packages/Keyman.System.PackageInfoRefreshLexicalModels.pas
  windows/src/unit-tests/keyboard-info/test-valid.keyboard_info
  windows/src/unit-tests/standards-data/Keyman.Test.System.CanonicalLanguageCodeUtilsTest.pas
  windows/src/unit-tests/unit-tests.groupproj
Labels: developer/, developer/compilers/, developer/ide/, feat, windows/, windows/engine/

#4414 chore(linux): Check in markdown help for Linux
  linux/help/about/history.md
  linux/help/about/index.md
  linux/help/about/welcome.md
  linux/help/about/whatsnew.md
  linux/help/common/index.md
  linux/help/index.md
  linux/help/linux_images/add-input-source-khmer-angkor.png
  linux/help/linux_images/add-input-source-khmer.png
  linux/help/linux_images/add-input-source.png
  linux/help/linux_images/download-khmer-angkor.png
  linux/help/linux_images/km-config-khmer-angkor.png
  linux/help/linux_images/km-config.png
  linux/help/linux_images/mobile viewport.png
  linux/help/linux_images/onboard.png
  linux/help/linux_images/package-khmer-angkor-welcome.png
  linux/help/linux_images/region-and-language.png
  linux/help/linux_images/region-language-khmer-angkor.png
  linux/help/linux_images/search-khmer-angkor.png
  linux/help/start/index.md
  linux/help/start/installing-keyboard.md
Labels: chore, linux/, linux/resources/

#4441 auto: increment beta version to 14.0.240
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4411 fix(common/models): predictions after context reset / caret shift
  common/predictive-text/unit_tests/headless/edit-distance/distance-modeler.js
  common/predictive-text/worker/correction/context-tracker.ts
  common/predictive-text/worker/correction/distance-modeler.ts
  common/predictive-text/worker/model-compositor.ts
Labels: common/, common/models/, fix

#4433 modify(common): Refactor help-keyman-com.sh script for uploading help files
  android/KMAPro/build.sh
  android/README.md
  android/build-help.sh
  android/help/context/menu_phone.md
  android/help/context/menu_tablet.md
  android/htmlink.lua
  resources/build/help-keyman-com.sh
  windows/src/buildtools/help-keyman-com.sh
Labels: android/, android/app/, common/, common/resources/, windows/

#4439 fix(linux): improve BCP 47 canonicalization
  linux/keyman-config/buildtools/build-langtags.py
  linux/keyman-config/keyman_config/bcp47tag.py
  linux/keyman-config/keyman_config/canonical_language_code_utils.py
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/tests/test_bcp47tag.py
  linux/keyman-config/tests/test_canonical_language_code_utils.py
Labels: fix, linux/, linux/config/

#4456 auto: increment beta version to 14.0.241
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4459 fix(common/resources): Just use master branch for help.keyman.com
  resources/build/help-keyman-com.sh
Labels: common/, common/resources/, fix

#4454 fix(windows): hotkeys offset in config list
  windows/src/desktop/kmshell/xml/keyman_hotkeys.xsl
Labels: fix, windows/, windows/config/

#4443 chore(ios): Settings case-statement cleanup
  ios/engine/KMEI/KeymanEngine/Classes/Settings/SettingsViewController.swift
Labels: chore, ios/, ios/engine/

#4455 fix(linux): Also use staging site for beta versions
  linux/keyman-config/keyman_config/__init__.py
Labels: fix, linux/, linux/config/

#4466 auto: increment beta version to 14.0.242
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4462 fix(android/engine): Display online keyboard help
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/Keyboard.java
Labels: android/, android/engine/, fix

#4468 fix(windows): Track modifier changes in UWP apps
  windows/src/engine/keyman32/appint/aiTIP.cpp
  windows/src/engine/keyman32/kmhook_getmessage.cpp
Labels: fix, windows/, windows/engine/

#4469 fix(common/resources): Fix help.keyman.com path for commit
  resources/build/help-keyman-com.sh
Labels: common/, common/resources/, fix

#4472 fix(common): create GitHub comments serially
  resources/build/version/src/fixupHistory.ts
Labels: common/, common/resources/, fix

#4458 chore(windows): FirstVoices Keyboards Configuration merge
  oem/firstvoices/windows/.gitignore
  oem/firstvoices/windows/src/branding/menutitle.png
  oem/firstvoices/windows/src/inst/Makefile
  oem/firstvoices/windows/src/inst/license.html
  oem/firstvoices/windows/src/inst/license.rtf
  oem/firstvoices/windows/src/inst/setuptitle.png
  oem/firstvoices/windows/src/xml/basekeyboard.xsl
  oem/firstvoices/windows/src/xml/config.css
  oem/firstvoices/windows/src/xml/config.js
  oem/firstvoices/windows/src/xml/downloadkeyboard.xsl
  oem/firstvoices/windows/src/xml/elements.xsl
  oem/firstvoices/windows/src/xml/fonthelper.xsl
  oem/firstvoices/windows/src/xml/globe.png
  oem/firstvoices/windows/src/xml/help.xsl
  oem/firstvoices/windows/src/xml/hint.xsl
  oem/firstvoices/windows/src/xml/installkeyboard.css
  oem/firstvoices/windows/src/xml/installkeyboard.js
  oem/firstvoices/windows/src/xml/installkeyboard.xsl
  oem/firstvoices/windows/src/xml/keyman-desktop-for-first-voices-486x86-black.png
  oem/firstvoices/windows/src/xml/keyman-desktop.png
  oem/firstvoices/windows/src/xml/keyman.xsl
  oem/firstvoices/windows/src/xml/keyman_footer.xsl
  oem/firstvoices/windows/src/xml/keyman_hotkeys.xsl
  oem/firstvoices/windows/src/xml/keyman_keepintouch.xsl
  oem/firstvoices/windows/src/xml/keyman_keyboardlist.xsl
  oem/firstvoices/windows/src/xml/keyman_menu.xsl
  oem/firstvoices/windows/src/xml/keyman_options.xsl
  oem/firstvoices/windows/src/xml/keyman_support.xsl
  oem/firstvoices/windows/src/xml/locale.xml
  oem/firstvoices/windows/src/xml/menu-frame.js
  oem/firstvoices/windows/src/xml/menu.css
  oem/firstvoices/windows/src/xml/menu.js
  oem/firstvoices/windows/src/xml/onlineupdate.xsl
  oem/firstvoices/windows/src/xml/proxyconfiguration.xsl
  oem/firstvoices/windows/src/xml/qrcode.min.js
  oem/firstvoices/windows/src/xml/sentry.bundle.min.js
  oem/firstvoices/windows/src/xml/sentry.init.js.in
  oem/firstvoices/windows/src/xml/sil-logo-blue.png
  oem/firstvoices/windows/src/xml/splash.css
  oem/firstvoices/windows/src/xml/splash.xsl
  oem/firstvoices/windows/src/xml/strings.xml
  oem/firstvoices/windows/src/xml/vkhints.xsl
  oem/firstvoices/windows/src/xml/welcome_fonts.xsl
  windows/src/desktop/kmshell/main/UfrmMain.pas
  windows/src/desktop/kmshell/xml/menu.css
  windows/src/engine/kmcomapi/com/keyboardlanguages/keymankeyboardlanguageinstalled.pas
Labels: chore, oem/, oem/fv/, oem/fv/windows/, windows/

#4478 chore: manual version increment
  VERSION.md
Labels: chore, common/, common/resources/

#4479 chore(mac): Check in markdown help
  mac/help/about/history.md
  mac/help/about/index.md
  mac/help/about/requirements.md
  mac/help/about/welcome.md
  mac/help/about/whatsnew.md
  mac/help/basic/config/index.md
  mac/help/basic/config/keyboards.md
  mac/help/basic/config/options.md
  mac/help/basic/config/support.md
  mac/help/basic/index.md
  mac/help/common/adware.md
  mac/help/common/bug.md
  mac/help/common/free.md
  mac/help/common/index.md
  mac/help/common/keyboards.md
  mac/help/common/os.md
  mac/help/common/osk.md
  mac/help/common/requirements.md
  mac/help/common/support.md
  mac/help/index.md
  mac/help/mac_images/add.png
  mac/help/mac_images/add_keyman.png
  mac/help/mac_images/apple_menu.png
  mac/help/mac_images/go_to_folder.png
  mac/help/mac_images/help_button.png
  mac/help/mac_images/icon-fonts.png
  mac/help/mac_images/icon-help.png
  mac/help/mac_images/icon-intro.png
  mac/help/mac_images/icon-keyman.png
  mac/help/mac_images/icon-osk.png
  mac/help/mac_images/icon-unicode.png
  mac/help/mac_images/information_button.png
  mac/help/mac_images/input_menu.png
  mac/help/mac_images/keyboards_menu.png
  mac/help/mac_images/keyman_config.png
  mac/help/mac_images/keyman_install.png
  mac/help/mac_images/keyman_menu_config.png
  mac/help/mac_images/menu_bar.png
  mac/help/mac_images/menu_bar_keyman.png
  mac/help/mac_images/osk_amharic.png
  mac/help/mac_images/privacy_accessibility.png
  mac/help/mac_images/privacy_files_and_folders.png
  mac/help/mac_images/privacy_input_monitoring.png
  mac/help/mac_images/privacy_input_monitoring_locked.png
  mac/help/mac_images/remove.png
  mac/help/mac_images/remove_button.png
  mac/help/mac_images/remove_keyman.png
  mac/help/mac_images/system_preferences.png
  mac/help/start/index.md
  mac/help/start/install-keyboard.md
  mac/help/start/install-keyman.md
  mac/help/start/tutorial.md
  mac/help/troubleshooting/configure-security.md
  mac/help/troubleshooting/index.md
  mac/help/troubleshooting/uninstall-keyman.md
Labels: chore, mac/, mac/engine/

#4480 auto: increment master version to 15.0.17
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4474 fix(common/core/web): mock construction with caret at index 0
  common/core/web/keyboard-processor/src/text/outputTarget.ts
  resources/build/trigger-definitions.inc.sh
Labels: common/, common/core/, common/core/web/, common/resources/, fix, web/

#4471 change(oem/fv/ios): FV keyboards now package-based
  oem/firstvoices/common/build_keyboards.sh
  oem/firstvoices/ios/FVShared/FVShared.swift
  oem/firstvoices/ios/FirstVoices/FVKeyboardList.swift
  oem/firstvoices/ios/FirstVoices/ViewController.swift
  oem/firstvoices/ios/build.sh
Labels: ios/, oem/, oem/fv/, oem/fv/ios/

#4464 fix(linux): Fix dependencies on packages
  linux/keyman-config/debian/control
Labels: fix, linux/, linux/config/

#4482 auto: increment beta version to 14.0.243
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4486 fix(windows): tsysinfox64 not signed
  resources/build/version/src/fixupHistory.ts
  windows/src/Makefile
Labels: common/, common/resources/, fix, windows/

#4487 fix(windows): tsysinfox64 signature 🍒
  windows/src/Makefile
  windows/src/desktop/history.md
Labels: cherry-pick, fix, windows

#4485 chore(android/app): Update help formatting and images
  android/help/android_images/dist-readme-ap.png
  android/help/android_images/dist-readme-at.png
  android/help/android_images/dist-welcome-ap.png
  android/help/android_images/dist-welcome-at.png
  android/help/android_images/dl-success-ap.png
  android/help/android_images/dl-success-at.png
  android/help/android_images/khmer-readme-a.png
  android/help/android_images/khmer-welcome-a.png
  android/help/android_images/settings-language-ap.png
  android/help/basic/installing-custom-packages.md
  android/help/context/menu-phone.md
  android/help/context/menu-tablet.md
Labels: android/, chore

#4477 fix(android/engine): Display welcome.htm help within the app
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeyboardSettingsActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/res/values-ann/strings.xml
  android/KMAPro/kMAPro/src/main/res/values-de-rDE/strings.xml
  android/KMAPro/kMAPro/src/main/res/values-fr-rFR/strings.xml
  android/KMAPro/kMAPro/src/main/res/values-km-rKH/strings.xml
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMEA/app/src/main/AndroidManifest.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMHelpFileActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/HelpFile.java
  android/KMEA/app/src/main/res/layout/activity_help_file_layout.xml
  android/KMEA/app/src/main/res/layout/titlebar.xml
  android/KMEA/app/src/main/res/values-ann/strings.xml
  android/KMEA/app/src/main/res/values-de-rDE/strings.xml
  android/KMEA/app/src/main/res/values-fr-rFR/strings.xml
  android/KMEA/app/src/main/res/values-km-rKH/strings.xml
  android/KMEA/app/src/main/res/values/strings.xml
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/view/KeyboardPickerTest.java
  android/README.md
Labels: android/, android/app/, android/engine/, fix

#4491 fix(ios): tutorial's link to "Add a Keyboard" links directly to keyboard search
  ios/engine/KMEI/KeymanEngine/Classes/Settings/InstalledLanguagesViewController.swift
  ios/keyman/Keyman/Keyman/MainViewController.swift
Labels: fix, ios/, ios/app/, ios/engine/

#4481 feat(linux): Improve output of km-package-list-installed
  linux/keyman-config/km-package-list-installed
Labels: feat, linux/, linux/config/

#4494 auto: increment beta version to 14.0.244
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4502 fix(common/models): merges identical suggestions after casing
  common/predictive-text/worker/model-compositor.ts
Labels: common/, common/models/, fix, web/

#4501 fix(web): macOS 11 agent string parse
  web/source/kmwdevice.ts
Labels: cherry-pick, fix, web/

#4497 fix(web): macOS 11 agent string parsing
  web/source/kmwdevice.ts
Labels: fix, web/, web/engine/

#4500 fix(ios): app logging messages were transient, never stored
  ios/engine/KMEI/KeymanEngine/Classes/Log.swift
  ios/engine/KMEI/KeymanEngineDemo/AppDelegate.swift
  ios/engine/KMEI/SystemKeyboard/KeyboardViewController.swift
  ios/keyman/Keyman/Keyman/AppDelegate.swift
  ios/keyman/Keyman/Keyman/Log.swift
  ios/keyman/Keyman/SWKeyboard/KeyboardViewController.swift
Labels: fix, ios/, ios/app/, ios/engine/

#4492 chore(ios): web-side sentry enablement try-catch
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
Labels: chore, ios/, ios/engine/

#4506 auto: increment beta version to 14.0.245
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4507 auto: increment master version to 15.0.18
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4508 fix(common/core/web): core key-processing now always returns RuleBehavior type.
  common/core/web/input-processor/src/text/inputProcessor.ts
  common/core/web/keyboard-processor/src/text/ruleBehavior.ts
Labels: common/, common/core/, common/core/web/, fix, web/

#4510 fix(common/resources): Set help-keyman.com.sh executable
  resources/build/help-keyman-com.sh
Labels: common/, common/resources/, fix

#4504 fix(developer/compilers): fixes error when "constructor" is in wordlist
  developer/js/source/lexical-model-compiler/build-trie.ts
Labels: developer/, developer/compilers/, fix

#4514 fix(web): hides touch-alias caret when keystroke causes focus change
  web/source/dom/domDefaultOutput.ts
  web/source/dom/targets/touchAlias.ts
Labels: fix, web/, web/engine/

#4521 auto: increment beta version to 14.0.246
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4522 chore(common): allow forced version increment
  resources/build/increment-version.sh
  resources/build/version/src/fixupHistory.ts
  resources/build/version/src/index.ts
Labels: chore, common/, common/resources/

#4523 auto: increment beta version to 14.0.247
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4512 fix(web): keyboard documentation patch-up
  web/source/osk/visualKeyboard.ts
Labels: fix, web/, web/engine/

#4516 fix(web): removes package namespacing from kbd's CSS class
  web/source/osk/oskManager.ts
Labels: android/, fix, web/, web/engine/

#4518 fix(web): mobile layouts for static keyboards now %-based
  web/history.md
  web/source/osk/visualKeyboard.ts
Labels: cherry-pick, fix, web/

#4519 fix(web): removes package namespacing from kbd's CSS class
  android/history.md
  web/source/osk/oskManager.ts
Labels: android/, cherry-pick, fix, web/

#4524 fix(ios): now handles security-scoped files
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceFileManager.swift
  ios/history.md
Labels: cherry-pick, fix, ios/

#4530 fix(linux): Set help-keyman.com.sh executable
  resources/build/help-keyman-com.sh
Labels: common/, common/resources/, fix, linux/

#4533 auto: increment beta version to 14.0.248
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4534 auto: increment master version to 15.0.19
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4536 fix(windows): Handle Caps Lock event correctly from TIP
  windows/src/engine/keyman32/appint/aiTIP.cpp
  windows/src/engine/keyman32/kmhook_getmessage.cpp
  windows/src/global/inc/keyman64.h
Labels: fix, windows/, windows/engine/

#4537 fix(developer): run even if sentry unavailable
  windows/src/global/delphi/general/Keyman.System.KeymanSentryClient.pas
Labels: developer/, fix, windows/

#4539 fix(developer): UTF-8 messages in LM compiler
  windows/src/global/delphi/lexicalmodels/Keyman.Developer.System.LexicalModelCompile.pas
Labels: developer/, fix, windows/

#4427 feat(common/models): mid-context suggestions & reversions, fix(common/models): correction-search SMP issues
  common/core/web/input-processor/src/text/prediction/languageProcessor.ts
  common/core/web/keyboard-processor/src/text/outputTarget.ts
  common/models/templates/src/common.ts
  common/predictive-text/unit_tests/headless/worker-model-compositor.js
  common/predictive-text/worker/model-compositor.ts
  ios/engine/KMEI/KeymanEngine/Classes/InputViewController.swift
Labels: android/, android/engine/, common/, common/core/, common/core/web/, common/models/, common/models/templates/, feat, ios/, ios/engine/, web/

#4543 fix(ios): package installer completion requires welcome dismissal
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/AssociatingPackageInstaller.swift
Labels: fix, ios/, ios/engine/

#4378 fix(windows): Refresh settings on 64-bit apps
  windows/src/engine/keyman32/Keyman32.cpp
  windows/src/engine/keyman32/globals.h
  windows/src/engine/keyman32/k32_globals.cpp
Labels: fix, windows/, windows/engine/

#4535 fix(windows): prevent re-registration of TIPs on 14.0 upgrade
  windows/src/desktop/kmshell/main/Keyman.Configuration.System.UImportOlderVersionKeyboards11To13.pas
Labels: fix, windows/, windows/config/

#4546 auto: increment beta version to 14.0.249
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/
