Repository keymanapp/keyman, pull requests merged in 2021-11, with the labels that each got.

#5862 chore(common/core): refactor kmx unit tests 🎫
  common/core/desktop/tests/unit/kmx/kmx.cpp
  common/core/desktop/tests/unit/kmx/kmx_test_source.cpp
  common/core/desktop/tests/unit/kmx/kmx_test_source.hpp
  common/core/desktop/tests/unit/kmx/meson.build
Labels: common/, common/core/, common/core/desktop/, chore

#5863 chore(linux): Extract keycode_to_vk[] to separate header file 🎫
  linux/ibus-keyman/src/Makefile.am
  linux/ibus-keyman/src/engine.c
  linux/ibus-keyman/src/keycodes.h
Labels: linux/, linux/engine/, chore

#5875 auto: increment master version to 15.0.140
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5838 feat(android): Allow uninstall of sil_euro_latin keyboard
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeyboardSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/KeyboardController.java
  android/help/basic/uninstalling-keyboards.md
Labels: android/, feat, android/engine/, android/app/

#5864 chore(common/core): Compile test keyboards to .kmp 🎫
  common/core/desktop/tests/meson.build
  common/core/desktop/tests/unit/kmx/meson.build
  common/core/desktop/tests/unit/kmx/template/keyboard.kmn.in
  common/core/desktop/tests/unit/kmx/template/keyboard.kpj.in
  common/core/desktop/tests/unit/kmx/template/keyboard.kps.in
  common/core/desktop/tests/unit/meson.build
Labels: common/, common/core/, common/core/desktop/, chore

#5880 auto: increment master version to 15.0.141
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5877 feat(mac): Add Keyman for macOS files to crowdin.yml
  crowdin.yml
Labels: mac/, feat

#5881 chore(linux): Add integration tests for ibus-keyman 🎫
  .flake8
  common/core/desktop/.gitignore
  common/core/desktop/tests/unit/kmx/020 - deadkeys and backspace.kmn
  linux/debian/not-installed
  linux/ibus-keyman/Makefile.am
  linux/ibus-keyman/configure.ac
  linux/ibus-keyman/src/engine.c
  linux/ibus-keyman/tests/.gitignore
  linux/ibus-keyman/tests/Makefile.am
  linux/ibus-keyman/tests/ibusimcontext.c
  linux/ibus-keyman/tests/ibusimcontext.h
  linux/ibus-keyman/tests/run-tests.sh
  linux/ibus-keyman/tests/testfixture.cpp
  linux/ibus-keyman/tests/testmodule.c
  linux/ibus-keyman/tests/testmodule.h
Labels: linux/, common/, linux/engine/, common/core/, common/core/desktop/, chore

#5887 auto: increment master version to 15.0.142
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5886 chore(linux): Cleanup 🎫
  linux/ibus-keyman/tests/ibusimcontext.c
Labels: linux/, linux/engine/, chore

#5885 chore(linux): cleanup defunct tests 🎫
  linux/ibus-keyman/test/README.md
  linux/ibus-keyman/test/change_keyboard.py
  linux/ibus-keyman/test/keypress_actions.py
  linux/ibus-keyman/test/runtests.sh
  linux/ibus-keyman/test/sequence_step.py
  linux/ibus-keyman/test/test_ibus_keyman.py
Labels: linux/, linux/engine/, chore

#5884 chore(linux): fix failing ibus-keyman tests 🎫
  linux/ibus-keyman/.gitignore
  linux/ibus-keyman/src/keymanutil.h
  linux/ibus-keyman/tests/Makefile.am
  linux/ibus-keyman/tests/ibusimcontext.c
  linux/ibus-keyman/tests/run-tests.sh
  linux/ibus-keyman/tests/testfixture.cpp
  linux/ibus-keyman/tests/testmodule.h
Labels: linux/, linux/engine/, chore

#5890 auto: increment master version to 15.0.143
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5776 fix(developer): handle shortcut keys in debugger
  windows/src/developer/TIKE/child/UfrmDebug.pas
  windows/src/developer/TIKE/main/RedistFiles.pas
  windows/src/global/delphi/comp/KeymanDeveloperDebuggerMemo.pas
Labels: windows/, developer/, fix, developer/ide/

#5896 auto: increment master version to 15.0.144
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5878 fix(android/engine): Truncate language name in list
  android/KMEA/app/src/main/res/layout/list_row_layout3.xml
Labels: android/, fix, android/engine/

#5849 fix(android/app): Check KMP file exists before attempting to extract
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
Labels: android/, fix, android/app/, DO-NOT-MERGE

#5874 fix(web): Check parent element is defined before assigning
  web/source/dom/domManager.ts
Labels: web/, fix, web/engine/

#5899 fix(android/app): Revert test code
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
Labels: bug, android/, fix, android/app/

#5900 auto: increment master version to 15.0.145
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5893 fix(developer): crash exporting OSK on European keyboard
  windows/src/global/delphi/comp/OnScreenKeyboard.pas
Labels: windows/, developer/, fix

#5895 feat(developer): validate .kps files during compile
  common/schemas/kps/README.md
  common/schemas/kps/kps.xsd
  windows/src/developer/TIKE/Makefile
  windows/src/developer/TIKE/Tike.dpr
  windows/src/developer/TIKE/Tike.dproj
  windows/src/developer/TIKE/project/Keyman.Developer.System.Project.kpsProjectFileAction.pas
  windows/src/developer/inst/kmdev.wxs
  windows/src/developer/kmcomp/kccompilepackage.pas
  windows/src/developer/kmcomp/kmcomp.dpr
  windows/src/developer/kmcomp/kmcomp.dproj
  windows/src/developer/kmcomp/main.pas
  windows/src/global/delphi/general/Keyman.Developer.System.ValidateKpsFile.pas
  windows/src/test/unit-tests/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dpr
  windows/src/test/unit-tests/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dproj
Labels: windows/, developer/, common/, developer/compilers/, feat, developer/ide/

#5901 auto: increment master version to 15.0.146
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5894 feat(developer): support for U_xxxx_yyyy
  common/core/desktop/src/kmx/kmx_file.h
  common/core/web/keyboard-processor/src/text/defaultOutput.ts
  common/test/keyboards/.gitignore
  common/test/keyboards/u_xxxx_yyyy_2858/HISTORY.md
  common/test/keyboards/u_xxxx_yyyy_2858/LICENSE.md
  common/test/keyboards/u_xxxx_yyyy_2858/README.md
  common/test/keyboards/u_xxxx_yyyy_2858/source/readme.htm
  common/test/keyboards/u_xxxx_yyyy_2858/source/u_xxxx_yyyy_2858.keyman-touch-layout
  common/test/keyboards/u_xxxx_yyyy_2858/source/u_xxxx_yyyy_2858.kmn
  common/test/keyboards/u_xxxx_yyyy_2858/source/u_xxxx_yyyy_2858.kps
  common/test/keyboards/u_xxxx_yyyy_2858/source/u_xxxx_yyyy_2858.kvks
  common/test/keyboards/u_xxxx_yyyy_2858/source/welcome.htm
  common/test/keyboards/u_xxxx_yyyy_2858/u_xxxx_yyyy_2858.keyboard_info
  common/test/keyboards/u_xxxx_yyyy_2858/u_xxxx_yyyy_2858.kpj
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMBinaryFileFormat.h
  web/source/osk/oskKey.ts
  windows/src/developer/TIKE/compile/CompileKeymanWeb.pas
  windows/src/developer/TIKE/main/RedistFiles.pas
  windows/src/developer/kmcmpdll/Compiler.cpp
  windows/src/global/delphi/general/kmxfileconsts.pas
  windows/src/global/inc/Compiler.h
Labels: web/, windows/, developer/, mac/, common/, feat, mac/engine/, web/engine/, common/core/, common/core/desktop/, common/core/web/, developer/ide/

#5903 auto: increment master version to 15.0.147
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5839 chore(android,linux,windows): Check in crowdin strings for Bura-Pabir
  android/KMAPro/kMAPro/src/main/res/values-bwr-rNT/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/DisplayLanguages.java
  android/KMEA/app/src/main/res/values-bwr-rNT/strings.xml
  ios/engine/KMEI/KeymanEngine/Classes/bwr-ng.lproj/ResourceInfoView.strings
  ios/engine/KMEI/KeymanEngine/bwr-ng.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/bwr-ng.lproj/Localizable.stringsdict
  ios/keyman/Keyman/Keyman/bwr-ng.lproj/Localizable.strings
  linux/keyman-config/locale/bwr_NT.po
  windows/src/desktop/kmshell/locale/bwr-NT/strings.xml
  windows/src/desktop/setup/locale/bwr-NT/strings.xml
Labels: windows/, android/, ios/, linux/, common/, android/engine/, android/app/, ios/app/, ios/engine/, linux/config/, windows/config/, chore, user-test-required

#5892 chore: add keyman-local.com to iis https setup
  resources/devbox/iis-https/README.md
  resources/devbox/iis-https/v3.ext
Labels: common/, common/resources/, chore

#5908 fix(web): avoid error if timerid not valid
  web/source/keyboards/kmwkeyboards.ts
Labels: web/, fix, web/engine/

#5911 auto: increment master version to 15.0.148
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5857 chore(common): Check in crowdin strings for Mandara (Wandala)
  android/KMAPro/kMAPro/src/main/res/values-mfi-rNG/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/DisplayLanguages.java
  android/KMEA/app/src/main/res/values-mfi-rNG/strings.xml
  ios/engine/KMEI/KeymanEngine/Classes/mfi.lproj/ResourceInfoView.strings
  ios/engine/KMEI/KeymanEngine/mfi.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/mfi.lproj/Localizable.stringsdict
  ios/keyman/Keyman/Keyman/mfi.lproj/Localizable.strings
  linux/keyman-config/locale/mfi_NG.po
  windows/src/desktop/kmshell/locale/mfi-NG/strings.xml
  windows/src/desktop/setup/locale/mfi-NG/strings.xml
Labels: windows/, android/, ios/, linux/, common/, android/engine/, android/app/, ios/app/, ios/engine/, linux/config/, windows/config/, chore

#5883 chore(linux): Update method comments
  linux/ibus-keyman/.gitignore
  linux/ibus-keyman/configure.ac
  linux/ibus-keyman/src/Makefile.am
  linux/ibus-keyman/src/keymanutil.c
  linux/ibus-keyman/src/keymanutil.h
  linux/ibus-keyman/src/test/Makefile.am
  linux/ibus-keyman/src/test/keymanutil_tests.c
Labels: linux/, linux/engine/, chore

#5917 auto: increment master version to 15.0.149
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5770 chore(developer): Update jszip version
  developer/js/package-lock.json
  developer/js/package.json
  developer/js/source/jszip.d.ts
  developer/js/source/kmlmp.ts
  developer/js/source/package-compiler/kmp-compiler.ts
Labels: developer/, developer/compilers/, chore

#5841 chore(common): Check in crowdin strings for Fulfulde Nigeria
  android/KMAPro/kMAPro/src/main/res/values-ff-rNG/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/DisplayLanguages.java
  android/KMEA/app/src/main/res/values-ff-rNG/strings.xml
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/ff-ng.lproj/ResourceInfoView.strings
  ios/engine/KMEI/KeymanEngine/ff-ng.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/ff-ng.lproj/Localizable.stringsdict
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/ff-ng.lproj/Localizable.strings
  linux/keyman-config/locale/ff_NG.po
  windows/src/desktop/kmshell/locale/ff-NG/strings.xml
  windows/src/desktop/setup/locale/ff-NG/strings.xml
Labels: windows/, android/, ios/, linux/, common/, android/engine/, android/app/, ios/app/, ios/engine/, linux/config/, windows/config/, chore

#5927 auto: increment master version to 15.0.150
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5916 fix(web): remove canvas use for iOS compatibility 🍒
  web/source/kmwembedded.ts
  web/source/osk/visualKeyboard.ts
  web/source/resources/osk/kmwosk.css
Labels: web/, stable, cherry-pick, fix, web/engine/, user-test-required

#5915 fix(web): remove canvas use for iOS compatibility
  web/source/osk/browser/keytip.ts
  web/source/resources/osk/kmwosk.css
Labels: web/, fix, web/engine/, user-test-required

#5930 auto: increment master version to 15.0.151
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5931 auto: increment stable-14.0 version to 14.0.284
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5913 fix(android/engine): Support for U_xxxx_yyyy subkeys
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  common/test/keyboards/u_xxxx_yyyy_2858/source/NotoSansOldItalic-Regular.ttf
  common/test/keyboards/u_xxxx_yyyy_2858/source/OFL.txt
  common/test/keyboards/u_xxxx_yyyy_2858/source/u_xxxx_yyyy_2858.keyman-touch-layout
  common/test/keyboards/u_xxxx_yyyy_2858/source/u_xxxx_yyyy_2858.kps
Labels: android/, common/, fix, android/engine/

#5933 fix(mac): use xcframework to support m1
  mac/Cartfile.private
  mac/Cartfile.resolved
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/build.sh
Labels: mac/, fix, mac/engine/

#5937 fix(developer): move web osk beneath text area
  windows/src/developer/TIKE/xml/kmw/index.html
  windows/src/developer/TIKE/xml/kmw/test.css
Labels: developer/, fix, developer/ide/

#5941 auto: increment master version to 15.0.152
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5842 fix(common/core): Update decxstr to check all characters while decrementing
  common/core/desktop/src/kmx/kmx_file.h
  common/core/desktop/src/kmx/kmx_xstring.cpp
  common/core/desktop/tests/unit/kmnkbd/test_kmx_xstring.cpp
Labels: common/, fix, common/core/

#5956 auto: increment master version to 15.0.153
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5902 fix(web): resolve unhandled exception in promise
  web/source/keyboards/kmwkeyboards.ts
  web/source/kmwbase.ts
  web/testing/commonHeader.js
Labels: web/, fix, web/engine/

#5957 auto: increment master version to 15.0.154
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5910 fix(web): simplify hide transition
  web/source/osk/oskView.ts
Labels: web/, fix, web/engine/

#5938 fix(web): inline osk keytip position
  web/source/osk/browser/keytip.ts
Labels: web/, fix, web/engine/

#5869 feat(mac): i18n, support localization of Keyman for Mac
  crowdin.yml
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/Base.lproj/MainMenu.xib
  mac/Keyman4MacIM/Keyman4MacIM/Info.plist
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/Base.lproj/KMAboutWindowController.xib
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/KMAboutWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/KMAboutWindowController.xib
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/en.lproj/KMAboutWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/km.lproj/KMAboutWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/Base.lproj/preferences.xib
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/KMConfigurationWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/en.lproj/preferences.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/km.lproj/preferences.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/Base.lproj/KMInfoWindowController.xib
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/KMInfoWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/en.lproj/KMInfoWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/km.lproj/KMInfoWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardHelpWindow/Base.lproj/KMKeyboardHelpWindowController.xib
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardHelpWindow/en.lproj/KMKeyboardHelpWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardHelpWindow/km.lproj/KMKeyboardHelpWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/en.lproj/Localizable.strings
  mac/Keyman4MacIM/Keyman4MacIM/en.lproj/MainMenu.strings
  mac/Keyman4MacIM/Keyman4MacIM/km.lproj/Localizable.strings
  mac/Keyman4MacIM/Keyman4MacIM/km.lproj/MainMenu.strings
  mac/Keyman4MacIM/Podfile.lock
Labels: mac/, feat, mac/engine/

#5954 chore(linux): Remove unused test methods 🎫
  linux/ibus-keyman/tests/ibusimcontext.c
  linux/ibus-keyman/tests/ibusimcontext.h
Labels: linux/, linux/engine/, chore

#5889 chore(linux): Run ibus-keyman tests as part of the build 🎫
  linux/Makefile
  linux/build/agent/dependencies.config
  linux/debian/control
  linux/debian/not-installed
  linux/ibus-keyman/.gitignore
  linux/ibus-keyman/Makefile.am
  linux/ibus-keyman/glib-tap.mk
  linux/ibus-keyman/src/test/Makefile.am
  linux/ibus-keyman/src/test/keymanutil_tests.c
  linux/ibus-keyman/src/test/run-tests.sh
  linux/ibus-keyman/tap-driver.sh
  linux/ibus-keyman/tap-test
  linux/ibus-keyman/tests/Makefile.am
  linux/ibus-keyman/tests/README.md
  linux/ibus-keyman/tests/run-tests.sh
Labels: linux/, linux/engine/, chore

#5961 auto: increment master version to 15.0.155
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5934 chore(android,oem/fv/android): Update targetSDKVersion to 30 🍒
  android/KMAPro/.idea/runConfigurations.xml
  android/KMAPro/kMAPro/build.gradle
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/InfoActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KMPBrowserActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/WebBrowserActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/WebViewFragment.java
  android/KMEA/app/build.gradle
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/Samples/KMSample1/.idea/runConfigurations.xml
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample2/app/build.gradle
  android/Tests/KeyboardHarness/app/build.gradle
  android/Tests/keycode/app/build.gradle
  oem/firstvoices/android/app/build.gradle
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/MainActivity.java
Labels: android/, cherry-pick, oem/, android/engine/, android/app/, oem/fv/, oem/fv/android/, chore, android/samples/

#5919 fix(web): reset scroll anchor on touchend
  web/source/dom/domEventHandlers.ts
  web/source/dom/domManager.ts
  web/testing/index.html
  web/testing/scrolling/index.html
Labels: web/, fix, web/engine/

#5946 fix(web): shorten setFocusTimer()
  web/source/dom/domEventHandlers.ts
Labels: web/, fix, web/engine/

#5952 fix(web): clear longpress timeout if user does a flick up
  web/source/osk/browser/pendingLongpress.ts
  web/source/osk/visualKeyboard.ts
Labels: web/, fix, web/engine/

#5967 auto: increment master version to 15.0.156
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5948 fix(web): popupBaseKey null check
  web/source/osk/visualKeyboard.ts
Labels: web/, stable, fix, web/engine/

#5959 fix(windows): fix loadkeyboardoptions core memory error
  windows/src/engine/keyman32/keyboardoptions.cpp
Labels: windows/, fix, windows/engine/

#5976 auto: increment master version to 15.0.157
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#5949 fix(web): remove obsolete popupBaseTarget
  web/source/osk/uiTouchHandlerBase.ts
Labels: web/, fix, web/engine/

#5958 fix(web): improve keyboard switch performance
  android/KMEA/app/src/main/assets/keyboard.html
  web/source/osk/oskView.ts
  web/source/text/prediction/modelManager.ts
Labels: web/, android/, fix, android/engine/, web/engine/

#5947 fix(web): support saving focus for custom OSK interactions
  web/source/dom/domEventHandlers.ts
Labels: web/, fix, web/engine/

#5923 fix(developer): render OSK nicely on touch devices
  windows/src/developer/TIKE/xml/kmw/index.html
  windows/src/developer/TIKE/xml/kmw/test.css
  windows/src/developer/TIKE/xml/kmw/test.js
Labels: developer/, developer/ide/

#5970 fix(developer): kmdecomp string overflow
  windows/src/developer/kmdecomp/kmdecomp.vcxproj
  windows/src/developer/kmdecomp/savekeyboard.cpp
Labels: developer/, fix

#5971 chore(developer): move kcframe into its own folder
  windows/src/developer/developer.sln
  windows/src/developer/kmcmpdll/kcframe/kcframe.cpp
  windows/src/developer/kmcmpdll/kcframe/kcframe.vcxproj
  windows/src/developer/kmcmpdll/kcframe/kcframe.vcxproj.filters
Labels: developer/, chore

#5977 fix(web): restore `dragEnd` function 🔥
  web/source/dom/domEventHandlers.ts
Labels: web/, fix, web/engine/

#5850 feat(common/core/desktop): Allow preserved key support
  common/core/desktop/include/keyman/keyboardprocessor.h
  common/core/desktop/src/km_kbp_keyboard_api.cpp
  common/core/desktop/src/kmx/kmx_conversion.cpp
  common/core/desktop/src/kmx/kmx_conversion.h
  common/core/desktop/src/kmx/kmx_processevent.cpp
  common/core/desktop/src/kmx/kmx_processevent.h
  common/core/desktop/src/kmx/kmx_processor.cpp
  common/core/desktop/src/kmx/kmx_processor.hpp
  common/core/desktop/src/kmx/kmx_xstring.cpp
  common/core/desktop/src/kmx/kmx_xstring.h
  common/core/desktop/src/meson.build
  common/core/desktop/src/mock/mock_processor.cpp
  common/core/desktop/src/mock/mock_processor.hpp
  common/core/desktop/src/processor.hpp
  common/core/desktop/src/rust/rust_mock_processor.cpp
  common/core/desktop/src/rust/rust_mock_processor.hpp
  common/core/desktop/tests/unit/kmnkbd/keyboard_api.cpp
  common/core/desktop/tests/unit/kmx/kmx_key_list.cpp
  common/core/desktop/tests/unit/kmx/kmx_key_list.kmn
  common/core/desktop/tests/unit/kmx/kmx_key_list.kmx
  common/core/desktop/tests/unit/kmx/meson.build
  linux/ibus-keyman/tests/Makefile.am
  windows/src/engine/keyman32/preservedkeymap.cpp
Labels: windows/, linux/, common/, feat, linux/engine/, common/core/, common/core/desktop/, windows/engine/

#5481 chore(windows): Consolidate documentation for Windows devboxes
  docs/build/old/core-desktop-notes.md
  docs/build/windows.md
  windows/src/README.md
Labels: windows/, chore

#5978 chore(developer): tweak language metadata message
  windows/src/developer/TIKE/child/UfrmKeymanWizard.dfm
Labels: developer/, developer/ide/, chore

#5975 fix(linux): Add test targets to Makefile 🎫
  linux/Makefile
Labels: linux/, stable, fix

#5966 fix(linux): Fix ibus-keyman integration tests 🎫
  common/core/desktop/tests/unit/kmx/041 - long context and deadkeys.kmn
  common/core/desktop/tests/unit/kmx/042 - long context and split deadkeys.kmn
  linux/ibus-keyman/tests/testfixture.cpp
Labels: linux/, common/, fix, linux/engine/, common/core/, common/core/desktop/

#5982 auto: increment master version to 15.0.158
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/
