Repository keymanapp/keyman, pull requests merged in 2021-06, with the labels that each got.

#5174 chore(ios): renames problematic app selectors 🍒
  ios/keyman/Keyman/Keyman/MainViewController.swift
Labels: cherry-pick, chore, ios/, ios/app/

#5202 fix(windows): start keymanx64 with ShellExecute
  windows/src/engine/keyman/UfrmKeyman7Main.pas
  windows/src/engine/keymanx64/keymanx64.cpp
Labels: fix, windows/, windows/engine/

#5203 fix(windows): fix size of splash
  windows/src/desktop/kmshell/startup/UfrmSplash.dfm
  windows/src/global/delphi/chromium/Keyman.System.CEFManager.pas
  windows/src/global/delphi/chromium/Keyman.UI.UframeCEFHost.dfm
  windows/src/global/delphi/chromium/Keyman.UI.UframeCEFHost.pas
  windows/src/global/delphi/ui/UfrmWebContainer.pas
Labels: fix, windows/, windows/config/

#5210 auto: increment master version to 15.0.61
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5213 fix(linux): Exclude s390x from package builds for ibus-keyman
  linux/ibus-keyman/debian/control
Labels: fix, linux/, linux/engine/

#5215 feat(linux): Integrate with fcitx5
  linux/README.md
  linux/keyman-config/README.md
  linux/keyman-config/debian/control
  linux/keyman-config/keyman_config/fcitx_util.py
  linux/keyman-config/keyman_config/ibus_util.py
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/install_window.py
  linux/scripts/jenkins.sh
Labels: feat, linux/, linux/config/

#5221 auto: increment master version to 15.0.62
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5217 fix(developer): support spaces in regression tests
  windows/src/developer/TIKE/debug/RegressionTest.pas
Labels: developer/, developer/ide/, fix

#5218 fix(developer): support spaces in regression tests 🍒
  windows/src/developer/TIKE/debug/RegressionTest.pas
Labels: cherry-pick, developer/, developer/ide/, fix

#5223 auto: increment stable-14.0 version to 14.0.276
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5224 auto: increment master version to 15.0.63
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5220 fix(linux): Exclude s390x from package builds for ibus-keyman 🍒
  linux/ibus-keyman/debian/control
Labels: cherry-pick, fix, linux/, linux/engine/

#5162 feat(common): Rust infrastructure
  common/core/desktop/.gitignore
  common/core/desktop/build.bat
  common/core/desktop/build.sh
  common/core/desktop/build_cargo.bat
  common/core/desktop/debian/control
  common/core/desktop/debian/rules
  common/core/desktop/doc/BUILDING.md
  common/core/desktop/gettier.sh
  common/core/desktop/getversion.sh
  common/core/desktop/include/keyman/keyboardprocessor.h.in
  common/core/desktop/meson.build
  common/core/desktop/src/km_kbp_keyboard_api.cpp
  common/core/desktop/src/kmx/kmx_context.cpp
  common/core/desktop/src/meson.build
  common/core/desktop/src/rust/Cargo.lock
  common/core/desktop/src/rust/Cargo.toml
  common/core/desktop/src/rust/rust_mock_processor.cpp
  common/core/desktop/src/rust/rust_mock_processor.hpp
  common/core/desktop/src/rust/src/lib.rs
  common/core/desktop/tests/meson.build
  common/core/desktop/tests/unit/kmnkbd/meson.build
  common/core/desktop/tests/unit/kmx/meson.build
  common/core/desktop/tests/unit/rust_mock/keyboard_api.cpp
  common/core/desktop/tests/unit/rust_mock/meson.build
  common/core/desktop/tests/unit/rust_mock/state_api.cpp
  linux/Makefile
  linux/README.md
  linux/README.repo
  linux/build/agent/dependencies.config
  linux/scripts/build.sh
  linux/scripts/dist.sh
  linux/scripts/install.sh
  linux/scripts/jenkins.sh
  linux/scripts/reconf.sh
  resources/build/trigger-definitions.inc.sh
  resources/shellHelperFunctions.sh
  windows/src/engine/keyman32/Keyman32.vcxproj
  windows/src/engine/keyman32/Makefile
  windows/src/engine/keyman64/keyman64.vcxproj
Labels: common/, common/core/, common/core/desktop/, common/resources/, feat, linux/

#5234 fix(web): Always pass kill_browserstack
  web/source/build_kill_browserstack.sh
Labels: fix, web/, web/engine/

#5235 fix(web): Always pass kill_browserstack 🍒
  web/source/build_kill_browserstack.sh
Labels: cherry-pick, fix, web/, web/engine/

#5206 chore(common): iis setup script for dev boxes
  resources/devbox/iis-https/.gitignore
  resources/devbox/iis-https/README.md
  resources/devbox/iis-https/server.csr.cnf
  resources/devbox/iis-https/setup-iis-https.sh
  resources/devbox/iis-https/v3.ext
Labels: chore, common/, common/resources/

#5207 fix(windows): support Esc key in Download Keyboard dialog
  windows/src/desktop/kmshell/install/UfrmInstallKeyboardFromWeb.pas
  windows/src/desktop/kmshell/xml/downloadkeyboard.xsl
Labels: fix, windows/, windows/config/

#5201 fix(android/engine): Adjust default OSK landscape size
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/res/values-land/dimens.xml
  android/KMEA/app/src/main/res/values-sw600dp-land/dimens.xml
  android/KMEA/app/src/main/res/values-sw720dp-land/dimens.xml
Labels: android/, android/engine/, fix

#5241 auto: increment master version to 15.0.64
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5230 feat(android): Automatically install keyboard through Play Store
  android/KMAPro/kMAPro/build.gradle
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/CheckInstallReferrer.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
Labels: android/, android/app/, feat

#5231 feat(android): Automatically install keyboard through Play Store 🍒
  android/KMAPro/kMAPro/build.gradle
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/CheckInstallReferrer.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
Labels: android/, android/app/, cherry-pick, feat

#5244 fix(oem/fv/ios): app encryption flag for app store uploads (15.0)
  oem/firstvoices/ios/FirstVoices/Info.plist
Labels: fix, ios/, oem/, oem/fv/, oem/fv/ios/

#5181 refactor(common/core/web, web): target-agnostic key events
  common/core/web/input-processor/src/text/inputProcessor.ts
  common/core/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/core/web/keyboard-processor/src/text/defaultOutput.ts
  common/core/web/keyboard-processor/src/text/keyEvent.ts
  common/core/web/keyboard-processor/src/text/keyboardProcessor.ts
  common/core/web/keyboard-processor/src/text/ruleBehavior.ts
  common/core/web/tools/recorder/src/nodeProctor.ts
  web/source/dom/domDefaultOutput.ts
  web/source/dom/domEventHandlers.ts
  web/source/dom/domOverrides.ts
  web/source/dom/preProcessor.ts
  web/source/kmwembedded.ts
  web/source/osk/preProcessor.ts
Labels: common/, common/core/, common/core/web/, refactor, web/, web/engine/

#5243 fix(oem/fv/ios): app encryption flag for app store uploads (14.0)
  oem/firstvoices/ios/FirstVoices/Info.plist
Labels: fix, ios/, oem/, oem/fv/, oem/fv/ios/, stable

#5249 fix(linux): Fix packaging on ppa
  resources/shellHelperFunctions.sh
Labels: common/, common/resources/, fix, linux/

#5251 auto: increment master version to 15.0.65
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5253 docs(ios): minor readme tweak regarding prerequisites
  ios/README.md
  web/README.md
Labels: docs, ios/, web/

#5248 fix(common/core/web): optimizes transform construction
  common/core/web/keyboard-processor/src/text/outputTarget.ts
  common/core/web/keyboard-processor/tests/cases/transcriptions.js
Labels: bug, common/, common/core/, common/core/web/, fix, web/

#5255 fix(common/core/web): optimizes transform construction 🍒
  common/core/web/keyboard-processor/src/text/outputTarget.ts
  common/core/web/keyboard-processor/tests/cases/transcriptions.js
Labels: cherry-pick, common/, common/core/, common/core/web/, fix, web/

#5240 feat(android): silent install for referred kbd
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/CheckInstallReferrer.java
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/DownloadIntentService.java
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/KmpInstallMode.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/DownloadResultReceiver.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
Labels: android/, android/app/, android/engine/, feat

#5247 fix(android): rotation is not updating keyboard
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/Samples/KMSample2/app/src/main/java/com/keyman/kmsample2/SystemKeyboard.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/SystemKeyboard.java
Labels: android/, android/app/, android/samples/, fix, oem/, oem/fv/, oem/fv/android/

#5262 fix(android): rotation is not updating keyboard 🍒
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/Samples/KMSample2/app/src/main/java/com/keyman/kmsample2/SystemKeyboard.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/SystemKeyboard.java
Labels: android/, android/app/, android/samples/, cherry-pick, fix, oem/, oem/fv/, oem/fv/android/

#5266 feat(android): silent install for referred kbd 🍒
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/CheckInstallReferrer.java
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/DownloadIntentService.java
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/KmpInstallMode.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/DownloadResultReceiver.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
Labels: android/, android/app/, cherry-pick, feat

#5270 fix(windows): disable new hotkey modifier check
  windows/src/engine/keyman32/k32_lowlevelkeyboardhook.cpp
  windows/src/global/delphi/general/Keyman.System.Settings.pas
Labels: cherry-pick, fix, stable, windows/, windows/engine/

#5271 auto: increment stable-14.0 version to 14.0.277
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5274 auto: increment master version to 15.0.67
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5250 feat(linux): Fix Linux packaging on i386
  common/core/desktop/debian/rules
  linux/ibus-keyman/debian/control
Labels: common/, common/core/, common/core/desktop/, feat, linux/, linux/engine/

#5275 auto: increment master version to 15.0.68
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5268 chore(common): bash version for run-required-test-builds.sh 🍒
  resources/build/run-required-test-builds.sh
Labels: cherry-pick, chore, common/, common/resources/

#5276 chore(common): Add YouTube links to Keyman 14 features
  android/help/about/whatsnew.md
  android/help/android_images/video.png
  ios/help/about/whatsnew.md
  ios/help/ios_images/video.png
  linux/help/about/whatsnew.md
  linux/help/linux_images/video.png
  mac/help/about/whatsnew.md
  windows/src/desktop/help/about/whatsnew.md
  windows/src/desktop/help/desktop_images/video.png
Labels: android/, chore, common/, ios/, linux/, mac/, mac/engine/, windows/, windows/config/

#5269 chore(common): Check in crowdin strings for Spanish (Latin America)
  android/KMAPro/kMAPro/src/main/res/values-b+es+419/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/DisplayLanguages.java
  android/KMEA/app/src/main/res/values-b+es+419/strings.xml
  crowdin.yml
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/es-419.lproj/ResourceInfoView.strings
  ios/engine/KMEI/KeymanEngine/es-419.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/es-419.lproj/Localizable.stringsdict
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/es-419.lproj/Localizable.strings
  linux/keyman-config/locale/es_419.po
  windows/src/desktop/kmshell/locale/es-419/strings.xml
  windows/src/desktop/setup/locale/es-419/strings.xml
Labels: android/, android/app/, android/engine/, chore, common/, ios/, ios/app/, ios/engine/, linux/, linux/config/, windows/, windows/config/

#5257 refactor(web): polishes management of OSK keys
  web/source/kmwutils.ts
  web/source/osk/utils.ts
  web/source/osk/visualKeyboard.ts
Labels: refactor, web/, web/engine/

#5259 refactor(web): Visual Keyboard disentanglement - pass 1
  web/source/kmwbase.ts
  web/source/kmwembedded.ts
  web/source/kmwutils.ts
  web/source/osk/oskManager.ts
  web/source/osk/visualKeyboard.ts
Labels: refactor, web/, web/engine/

#5278 refactor(web): VisualKeyboard height styling consistency
  web/source/osk/oskManager.ts
  web/source/osk/visualKeyboard.ts
Labels: refactor, web/, web/engine/

#5273 fix(common/models): predictive-text engine use of NFD input
  common/predictive-text/worker/correction/distance-modeler.ts
Labels: common/, common/models/, fix

#5285 chore(common): Add YouTube links to Keyman 14 features 🍒
  android/help/about/whatsnew.md
  android/help/android_images/video.png
  ios/help/about/whatsnew.md
  ios/help/ios_images/video.png
  linux/help/about/whatsnew.md
  linux/help/linux_images/video.png
  mac/help/about/whatsnew.md
  windows/src/desktop/help/about/whatsnew.md
  windows/src/desktop/help/desktop_images/video.png
Labels: android/, cherry-pick, chore, common/, ios/, linux/, mac/, mac/engine/, windows/, windows/config/

#5286 fix(common/models): predictive-text engine use of NFD input 🍒
  common/predictive-text/worker/correction/distance-modeler.ts
Labels: cherry-pick, common/, fix

#5282 chore(linux): Fix warnings
  linux/ibus-keyman/src/engine.c
  linux/ibus-keyman/src/keymanutil.c
Labels: chore, linux/, linux/engine/

#5289 auto: increment master version to 15.0.69
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5279 refactor(web): OSK layout calculations - simplification
  common/core/web/keyboard-processor/src/keyboards/activeLayout.ts
  web/source/osk/visualKeyboard.ts
Labels: common/, common/core/, common/core/web/, refactor, web/, web/engine/

#5280 refactor(web): VisualKeyboard - key event model
  web/source/osk/preProcessor.ts
  web/source/osk/visualKeyboard.ts
  web/tools/recorder/scribe.ts
Labels: refactor, web/, web/engine/

#5287 refactor(web): OSK keytip abstraction
  web/.gitignore
  web/source/kmwembedded.ts
  web/source/osk/browser/keytip.ts
  web/source/osk/embedded/keytip.ts
  web/source/osk/keytip.interface.ts
  web/source/osk/visualKeyboard.ts
Labels: refactor, web/, web/engine/

#5288 refactor(web): encapsulation of browser-based subkey array popup
  web/source/kmwembedded.ts
  web/source/osk/browser/subkeyPopup.ts
  web/source/osk/visualKeyboard.ts
Labels: refactor, web/, web/engine/

#5267 chore(common): bash version for run-required-test-builds.sh
  resources/build/run-required-test-builds.sh
Labels: chore, common/, common/resources/

#5281 fix(linux): Adjust version of dependency for ibus-keyman
  linux/ibus-keyman/debian/control
Labels: fix, linux/, linux/engine/

#5297 auto: increment master version to 15.0.70
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5290 fix(web): touch-move cancellation
  web/source/osk/visualKeyboard.ts
Labels: fix, web/, web/engine/

#5298 fix(developer): kmconvert help match reality
  windows/src/developer/kmconvert/Keyman.Developer.System.KMConvertParameters.pas
Labels: developer/, fix

#5299 fix(developer): kmconvert help match reality 🍒
  windows/src/developer/kmconvert/Keyman.Developer.System.KMConvertParameters.pas
Labels: cherry-pick, developer/, fix

#5303 chore(linux): Update changelogs to match Debian
  common/core/desktop/debian/changelog
  linux/ibus-keyman/debian/changelog
  linux/ibus-kmfl/debian/changelog
  linux/keyman-config/debian/changelog
  linux/kmflcomp/debian/changelog
  linux/libkmfl/debian/changelog
Labels: chore, common/, common/core/, common/core/desktop/, linux/, linux/config/, linux/engine/, stable

#5305 auto: increment master version to 15.0.71
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5233 feat(common): keyboard_processor wasm build
  common/core/desktop/.gitignore
  common/core/desktop/build.sh
  common/core/desktop/build_cargo.bat
  common/core/desktop/doc/BUILDING.md
  common/core/desktop/meson.build
  common/core/desktop/src/meson.build
  common/core/desktop/src/rust/Cargo.toml
  common/core/desktop/src/rust/keyman_keyboard_processor/Cargo.lock
  common/core/desktop/src/rust/keyman_keyboard_processor/Cargo.toml
  common/core/desktop/src/rust/keyman_keyboard_processor/src/lib.rs
  common/core/desktop/src/rust/native/Cargo.lock
  common/core/desktop/src/rust/native/Cargo.toml
  common/core/desktop/src/rust/native/src/lib.rs
  common/core/desktop/src/rust/wasm/Cargo.lock
  common/core/desktop/src/rust/wasm/Cargo.toml
  common/core/desktop/src/rust/wasm/src/lib.rs
  common/core/desktop/tests/meson.build
  common/core/desktop/tests/unit/json/jsontest.cpp
  common/core/desktop/tests/unit/json/meson.build
  common/core/desktop/tests/unit/kmx/meson.build
  common/core/desktop/wasm.build.linux.in
  common/core/desktop/wasm.build.mac.in
  common/core/desktop/wasm.build.win.in
  common/core/desktop/wasm.defs.build
  windows/src/engine/keyman32/Keyman32.vcxproj
  windows/src/engine/keyman32/Makefile
  windows/src/engine/keyman64/keyman64.vcxproj
Labels: common/, common/core/, common/core/desktop/, feat, windows/, windows/engine/

#5304 chore(linux): Update changelogs to match Debian 🍒
  common/core/desktop/debian/changelog
  linux/ibus-keyman/debian/changelog
  linux/ibus-kmfl/debian/changelog
  linux/keyman-config/debian/changelog
  linux/kmflcomp/debian/changelog
  linux/libkmfl/debian/changelog
Labels: cherry-pick, chore, common/, common/core/, common/core/desktop/, linux/, linux/config/, linux/engine/

#5315 auto: increment master version to 15.0.72
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5331 fix(mac): .kmx max file version is now 0x0E00 (14.0) 🍒
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMBinaryFileFormat.h
Labels: cherry-pick, fix, mac/, mac/engine/

#5330 fix(mac): kmp.inf is windows-1252 🍒
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
Labels: cherry-pick, fix, mac/, mac/engine/

#5329 fix(mac): .kmx max file version is now 0x0E00 (14.0)
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMBinaryFileFormat.h
Labels: fix, mac/, mac/engine/

#5328 fix(mac): kmp.inf is windows-1252
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
Labels: fix, mac/, mac/engine/

#5254 fix(windows): restore endpoints for interface stability
  windows/src/engine/keyman32/KEYMAN32.DEF
  windows/src/engine/keyman32/k32_globals.cpp
  windows/src/engine/kmcomapi/com/system/keymancontrol.pas
  windows/src/global/delphi/general/KeymanEngineControl.pas
Labels: common/, common/resources/, fix, windows/, windows/engine/

#5222 fix(windows): improve keymanx64 start stability 🍒
  windows/src/engine/keyman/UfrmKeyman7Main.pas
  windows/src/engine/keyman/viskbd/UfrmVisualKeyboard.pas
  windows/src/engine/keyman32/KEYMAN32.DEF
  windows/src/engine/keyman32/Keyman32.cpp
  windows/src/engine/keyman32/appint/aiTIP.cpp
  windows/src/engine/keyman32/globals.h
  windows/src/engine/keyman32/k32_globals.cpp
  windows/src/engine/keyman32/kmhook_callwndproc.cpp
  windows/src/engine/keyman32/kmhook_getmessage.cpp
  windows/src/engine/keyman32/kmhook_keyboard.cpp
  windows/src/engine/keymanx64/keymanx64.cpp
  windows/src/engine/kmcomapi/com/system/keymancontrol.pas
  windows/src/global/delphi/general/KeymanControlMessages.pas
  windows/src/global/delphi/general/KeymanEngineControl.pas
  windows/src/global/delphi/general/UserMessages.pas
  windows/src/global/inc/keyman64.h
  windows/src/global/inc/keymancontrol.h
Labels: cherry-pick, fix, windows/, windows/engine/

#5322 chore(linux): Build also on riscv64 to facilitate migration on Ubuntu
  common/core/desktop/debian/changelog
  common/core/desktop/debian/control
  linux/ibus-keyman/debian/changelog
  linux/ibus-keyman/debian/control
Labels: chore, common/, common/core/, common/core/desktop/, linux/, linux/engine/

#5323 chore(linux): Build also on riscv64 to facilitate migration on Ubuntu 🍒
  common/core/desktop/debian/changelog
  common/core/desktop/debian/control
  linux/ibus-keyman/debian/changelog
  linux/ibus-keyman/debian/control
Labels: cherry-pick, chore, common/, common/core/, common/core/desktop/, linux/, linux/engine/

#5291 refactor(web): OSK key source-code reorganization
  web/source/osk/browser/oskSubKey.ts
  web/source/osk/browser/subkeyPopup.ts
  web/source/osk/oskBaseKey.ts
  web/source/osk/oskKey.ts
  web/source/osk/visualKeyboard.ts
  windows/src/developer/TIKE/compile/CompileKeymanWeb.pas
Labels: developer/, developer/ide/, refactor, web/, web/engine/, windows/

#5292 refactor(web): osk key highlighting/preview behavior
  web/source/osk/browser/oskSubKey.ts
  web/source/osk/browser/subkeyPopup.ts
  web/source/osk/oskKey.ts
  web/source/osk/visualKeyboard.ts
Labels: refactor, web/, web/engine/

#5321 change(ios): setText now uses JSON serialization
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeymanWebViewController.swift
Labels: ios/, ios/engine/, modification

#5335 auto: increment master version to 15.0.73
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto

#5337 chore(windows): add engine test framework
  windows/src/engine/.gitignore
  windows/src/engine/engine.sln
  windows/src/engine/keyman32/Makefile
  windows/src/engine/keyman32/keyman-engine.vcxproj
  windows/src/engine/keyman32/keyman-engine.vcxproj.filters
  windows/src/engine/keyman32/tests/keyman32-tests/keyman32-tests.vcxproj
  windows/src/engine/keyman32/tests/keyman32-tests/packages.config
  windows/src/engine/keyman32/tests/keyman32-tests/pch.cpp
  windows/src/engine/keyman32/tests/keyman32-tests/pch.h
  windows/src/engine/keyman32/tests/keyman32-tests/test.cpp
Labels: chore, windows/, windows/engine/

#5326 feat(linux): Auto-generate reference help
  linux/.gitignore
  linux/keyman-config/Makefile
  linux/keyman-config/build-help.sh
  linux/keyman-config/buildtools/help2man
  linux/keyman-config/buildtools/help2md
  linux/keyman-config/debian/control
  linux/keyman-config/km-config
  linux/keyman-config/maninc/km-config.inc
  linux/scripts/deb.sh
  linux/scripts/dist.sh
  linux/scripts/jenkins.sh
  resources/build/help-keyman-com.sh
Labels: common/, common/resources/, feat, linux/, linux/config/

#5345 fix(linux): Improve error handling if `lang_tags_map.py` is missing
  linux/keyman-config/keyman_config/canonical_language_code_utils.py
  linux/keyman-config/keyman_config/standards/README.md
Labels: fix, linux/, linux/config/

#5346 auto: increment master version to 15.0.74
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5350 fix(android): fixes application of nextlayer for subkeys with customized layer setting
  android/KMEA/app/src/main/assets/keyboard.html
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
Labels: android/, android/engine/, fix

#5351 fix(android): fixes application of nextlayer for subkeys with customized layer setting 🍒
  android/KMEA/app/src/main/assets/keyboard.html
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
Labels: android/, android/engine/, cherry-pick, fix

#5319 feat(common/core/web): engine correction-prep optimizations
  common/core/web/input-processor/src/text/contextWindow.ts
  common/core/web/input-processor/src/text/inputProcessor.ts
  common/core/web/input-processor/src/text/prediction/languageProcessor.ts
  common/core/web/input-processor/tests/cases/inputProcessor.js
  common/core/web/keyboard-processor/src/text/outputTarget.ts
Labels: common/, common/core/, common/core/web/, feat, web/

#5352 feat(common/core/web): engine correction-prep optimizations 🍒
  common/core/web/input-processor/src/text/contextWindow.ts
  common/core/web/input-processor/src/text/inputProcessor.ts
  common/core/web/input-processor/src/text/prediction/languageProcessor.ts
  common/core/web/input-processor/tests/cases/inputProcessor.js
  common/core/web/keyboard-processor/src/text/outputTarget.ts
Labels: cherry-pick, common/, common/core/, common/core/web/, feat, web/

#5334 feat(linux): Add support for impish (Ubuntu 21.10)
  linux/.pbuilderrc
  linux/Jenkinsfile
  linux/scripts/cow.sh
  linux/scripts/launchpad.sh
Labels: feat, linux/

#5359 fix(linux): Add libglib2.0-bin to keyman Depends
  linux/keyman-config/debian/changelog
  linux/keyman-config/debian/control
Labels: fix, linux/, linux/config/

#5360 fix(linux): Add libglib2.0-bin to keyman Depends 🍒
  linux/keyman-config/debian/changelog
  linux/keyman-config/debian/control
Labels: cherry-pick, fix, linux/, linux/config/

#5364 auto: increment master version to 15.0.75
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5341 fix(windows): osk scaling mismatch on horz axis
  windows/src/global/delphi/comp/OnScreenKeyboard.pas
Labels: fix, windows/

#5342 fix(windows): osk scaling mismatch on horz axis 🍒
  windows/src/global/delphi/comp/OnScreenKeyboard.pas
Labels: cherry-pick, fix, windows/

#5363 fix(linux): Don't add duplicate entries when reinstalling keyboard
  linux/keyman-config/keyman_config/install_kmp.py
Labels: fix, linux/, linux/config/

#5362 fix(linux): fix tab completion for command line tools
  linux/keyman-config/debian/keyman.bash-completion
  linux/keyman-config/km-config
  linux/keyman-config/km-config.bash-completion
  linux/keyman-config/km-kvk2ldml.bash-completion
  linux/keyman-config/km-package-get.bash-completion
  linux/keyman-config/km-package-install.bash-completion
  linux/keyman-config/km-package-uninstall.bash-completion
Labels: fix, linux/, linux/config/

#5302 feat(web): Add option useAlerts to control alerts()
  web/source/dom/domManager.ts
  web/source/keyboards/kmwkeyboards.ts
  web/source/kmwbase.ts
  web/source/kmwembedded.ts
  web/source/kmwnative.ts
  web/source/kmwutils.ts
  web/source/osk/oskManager.ts
  web/testing/attachment-api/index.html
  web/testing/promise-api/index.html
Labels: feat, web/, web/engine/

#5369 fix(linux): Don't add duplicate entries when reinstalling keyboard 🍒
  linux/keyman-config/keyman_config/install_kmp.py
Labels: cherry-pick, fix, linux/, linux/config/

#5374 auto: increment master version to 15.0.76
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5375 chore(android): Add help on Settings option to change spacebar caption
  android/help/about/whatsnew.md
  android/help/android_images/settings-screen-ap.png
  android/help/android_images/spacebar-caption-ap.png
  android/help/basic/config/index.md
Labels: android/, chore

#5376 feat(android): hide textarea for perf
  android/KMEA/app/src/main/assets/keyboard.html
Labels: android/, android/engine/, feat

#5379 chore: keyboard_info.source.json 1.0.6
  windows/src/global/inst/data/keyboard_info/README.md
  windows/src/global/inst/data/keyboard_info/keyboard_info.source.json
Labels: chore, windows/

#5380 chore: keyboard_info.source.json 1.0.6 🍒
  windows/src/global/inst/data/keyboard_info/README.md
  windows/src/global/inst/data/keyboard_info/keyboard_info.source.json
Labels: cherry-pick, chore, windows/

#5338 refactor(android): setKeyboard and setKeymanLanguage
  android/KMEA/app/src/main/assets/keyboard.html
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
Labels: android/, android/engine/, refactor

#5340 feat(web): Merge keyboard stub with error stub
  web/source/keyboards/kmwkeyboards.ts
  web/source/kmwbase.ts
  web/testing/promise-api/promisehdr.js
Labels: feat, web/, web/engine/

#5370 feat(linux): Add reference index page
  linux/help/about/history.md
  linux/help/about/index.md
  linux/help/about/welcome.md
  linux/help/about/whatsnew.md
  linux/help/common/index.md
  linux/help/index.md
  linux/help/reference/index.md
  linux/help/start/index.md
  linux/help/start/installing-keyboard.md
Labels: docs, feat, linux/

#5371 fix(linux): Fix restarting ibus when running with sudo
  linux/keyman-config/keyman_config/ibus_util.py
  linux/keyman-config/keyman_config/install_kmp.py
Labels: linux/, linux/config/

#5372 refactor(linux): Centralize paths
  linux/keyman-config/keyman_config/deprecated_decorator.py
  linux/keyman-config/keyman_config/get_kmp.py
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/keyman_config/list_installed_kmp.py
  linux/keyman-config/keyman_config/uninstall_kmp.py
  linux/keyman-config/keyman_config/view_installed.py
  linux/keyman-config/km-package-list-installed
Labels: linux/, linux/config/, refactor

#5373 fix(linux): Save QR code in temporary directory
  linux/keyman-config/keyman_config/keyboard_details.py
Labels: fix, linux/, linux/config/

#5386 auto: increment master version to 15.0.77
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5377 feat(android): hide textarea for perf 🍒
  android/KMEA/app/src/main/assets/keyboard.html
Labels: android/, android/engine/, cherry-pick, feat

#5333 change(ios): setText now uses JSON serialization 🍒
  ios/engine/KMEI/KeymanEngine/Classes/KeymanWebViewController.swift
Labels: cherry-pick, ios/, ios/engine/, modification

#5368 feat(ios): refinement of spacebar-captioning PR
  ios/engine/KMEI/KeymanEngine/Classes/Extension/UserDefaults+Types.swift
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/SettingsViewController.swift
  oem/firstvoices/ios/build_common.sh
Labels: feat, ios/, ios/engine/, oem/, oem/fv/, oem/fv/ios/

#5383 fix(windows): #5336 appcontext get to handle small buffer
  windows/src/engine/keyman32/appint/appint.cpp
  windows/src/engine/keyman32/appint/appint.h
  windows/src/engine/keyman32/tests/keyman32-tests/appinttests.cpp
  windows/src/engine/keyman32/tests/keyman32-tests/keyman32-tests.vcxproj
  windows/src/engine/keyman32/tests/keyman32-tests/test.cpp
Labels: fix, windows/, windows/engine/

#5388 auto: increment stable-14.0 version to 14.0.278
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5390 fix(common): get handle caller buffer size small than internal Fixes …
  common/core/desktop/src/kmx/kmx_context.cpp
  common/core/desktop/src/kmx/kmx_context.h
  windows/src/engine/keyman32/appint/appint.h
Labels: common/, common/core/, common/core/desktop/, fix, windows/, windows/engine/

#5395 auto: increment master version to 15.0.78
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#5392 fix(web): console errors when using SHIFT w help-text 'osk'
  web/source/osk/oskManager.ts
Labels: fix, web/, web/engine/

#5402 auto: increment master version to 15.0.79
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/
