Repository keymanapp/keyman, pull requests merged in 2021-01, with the labels that each got.

#4215 chore(linux): pass tag to Jenkins build (#4160)
  resources/build/trigger-builds.inc.sh
Labels: chore, common/, common/resources/, linux/

#4214 chore(linux): Allow to push to the `keyman-beta` ppa
  docs/linux-packaging.md
  linux/scripts/launchpad.sh
Labels: chore, linux/

#4219 auto: increment master version to 15.0.6
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4220 fix(linux): only pass tag if we just created one
  resources/build/trigger-builds.inc.sh
Labels: common/, common/resources/, fix, linux/

#4225 auto: increment master version to 15.0.7
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4224 chore(linux): pass tag to Jenkins build (#4160)
  resources/build/trigger-builds.inc.sh
Labels: chore, common/, common/resources/, linux/

#4229 auto: increment beta version to 14.0.219
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4230 chore: bugfix cherrypick (#4208, #4210)
  common/predictive-text/worker/correction/classical-calculation.ts
  common/predictive-text/worker/correction/context-tracker.ts
  ios/engine/KMEI/KeymanEngine/Classes/Settings/InstalledLanguagesViewController.swift
  web/source/dom/domEventHandlers.ts
Labels: cherry-pick, common/, ios/, ios/engine/, web/, web/engine/

#4231 fix(common/core/web): mnemonic modifier key-up handling
  common/core/web/keyboard-processor/src/text/keyboardProcessor.ts
Labels: bug, common/, common/core/, common/core/web/, fix, web/

#4223 chore(linux): Update debian metadata
  common/core/desktop/debian/changelog
  common/core/desktop/debian/compat
  common/core/desktop/debian/control
  common/core/desktop/debian/copyright
  common/core/desktop/debian/rules
  docs/linux-packaging.md
  linux/.gitignore
  linux/.pbuilderrc
  linux/Jenkinsfile
  linux/README.md
  linux/ibus-keyman/debian/changelog
  linux/ibus-keyman/debian/com.keyman.ibus_keyman.metainfo.xml
  linux/ibus-keyman/debian/compat
  linux/ibus-keyman/debian/control
  linux/ibus-keyman/debian/copyright
  linux/ibus-keyman/debian/install
  linux/ibus-keyman/debian/postinst
  linux/ibus-keyman/debian/postrm
  linux/ibus-keyman/debian/rules
  linux/ibus-kmfl/debian/changelog
  linux/ibus-kmfl/debian/com.keyman.ibus_kmfl.metainfo.xml
  linux/ibus-kmfl/debian/compat
  linux/ibus-kmfl/debian/control
  linux/ibus-kmfl/debian/copyright
  linux/ibus-kmfl/debian/install
  linux/ibus-kmfl/debian/rules
  linux/keyman-config/debian/changelog
  linux/keyman-config/debian/compat
  linux/keyman-config/debian/control
  linux/keyman-config/debian/copyright
  linux/keyman-config/debian/keyman.install
  linux/keyman-config/debian/keyman.links
  linux/keyman-config/debian/keyman.manpages
  linux/keyman-config/debian/keyman.postinst
  linux/keyman-config/debian/python3-keyman-config.dirs
  linux/keyman-config/icons/48/application-x-kmp.png
  linux/keyman-config/icons/64/application-x-kmp.png
  linux/kmflcomp/debian/changelog
  linux/kmflcomp/debian/compat
  linux/kmflcomp/debian/control
  linux/kmflcomp/debian/copyright
  linux/kmflcomp/debian/gbp.conf
  linux/kmflcomp/debian/libkmflcomp-dev.install
  linux/kmflcomp/debian/libkmflcomp0.install
  linux/kmflcomp/debian/libkmflcomp0.symbols
  linux/kmflcomp/debian/rules
  linux/libkmfl/debian/changelog
  linux/libkmfl/debian/compat
  linux/libkmfl/debian/control
  linux/libkmfl/debian/gbp.conf
  linux/libkmfl/debian/libkmfl-dev.install
  linux/libkmfl/debian/libkmfl0.install
  linux/libkmfl/debian/libkmfl0.symbols
  linux/libkmfl/debian/rules
  linux/scripts/cow.sh
  linux/scripts/debian.sh
  linux/scripts/launchpad.sh
  linux/scripts/package-build.inc.sh
Labels: chore, common/, common/core/, common/core/desktop/, linux/, linux/config/, linux/engine/

#4234 auto: increment master version to 15.0.8
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4235 auto: increment beta version to 14.0.220
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4170 fix(android/engine): Remove usage of WRITE_EXTERNAL_STORAGE permission
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/CloudApiTypes.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/CloudDataJsonUtil.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/CloudDownloadMgr.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/ICloudDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudCatalogDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudKeyboardPackageDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudLexicalModelMetaDataDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudLexicalPackageDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/DownloadFileUtils.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/FileUtils.java
  android/KMEA/app/src/main/res/values/strings.xml
Labels: android/, android/app/, android/engine/, bug

#4232 fix(web): osk size & position after focus changes
  web/source/osk/oskManager.ts
Labels: bug, fix, web/, web/engine/

#4233 chore(linux): Update debian metadata based on Debian repos
  common/core/desktop/debian/changelog
  common/core/desktop/debian/compat
  common/core/desktop/debian/control
  common/core/desktop/debian/rules
  docs/linux-packaging.md
  linux/.gitignore
  linux/.pbuilderrc
  linux/Jenkinsfile
  linux/README.md
  linux/ibus-keyman/debian/changelog
  linux/ibus-keyman/debian/com.keyman.ibus_keyman.metainfo.xml
  linux/ibus-keyman/debian/compat
  linux/ibus-keyman/debian/control
  linux/ibus-keyman/debian/copyright
  linux/ibus-keyman/debian/install
  linux/ibus-keyman/debian/postinst
  linux/ibus-keyman/debian/postrm
  linux/ibus-keyman/debian/rules
  linux/ibus-kmfl/debian/changelog
  linux/ibus-kmfl/debian/com.keyman.ibus_kmfl.metainfo.xml
  linux/ibus-kmfl/debian/compat
  linux/ibus-kmfl/debian/control
  linux/ibus-kmfl/debian/copyright
  linux/ibus-kmfl/debian/install
  linux/ibus-kmfl/debian/rules
  linux/keyman-config/debian/changelog
  linux/keyman-config/debian/compat
  linux/keyman-config/debian/control
  linux/keyman-config/debian/keyman.install
  linux/keyman-config/debian/keyman.links
  linux/keyman-config/debian/keyman.manpages
  linux/keyman-config/debian/keyman.postinst
  linux/keyman-config/debian/python3-keyman-config.dirs
  linux/keyman-config/icons/48/application-x-kmp.png
  linux/keyman-config/icons/64/application-x-kmp.png
  linux/kmflcomp/debian/changelog
  linux/kmflcomp/debian/compat
  linux/kmflcomp/debian/control
  linux/kmflcomp/debian/copyright
  linux/kmflcomp/debian/gbp.conf
  linux/kmflcomp/debian/libkmflcomp-dev.install
  linux/kmflcomp/debian/libkmflcomp0.install
  linux/kmflcomp/debian/libkmflcomp0.symbols
  linux/kmflcomp/debian/rules
  linux/libkmfl/debian/changelog
  linux/libkmfl/debian/compat
  linux/libkmfl/debian/control
  linux/libkmfl/debian/gbp.conf
  linux/libkmfl/debian/libkmfl-dev.install
  linux/libkmfl/debian/libkmfl0.install
  linux/libkmfl/debian/libkmfl0.symbols
  linux/libkmfl/debian/rules
  linux/scripts/cow.sh
  linux/scripts/debian.sh
  linux/scripts/launchpad.sh
  linux/scripts/package-build.inc.sh
Labels: cherry-pick, chore, common/, common/core/, common/core/desktop/, linux/, linux/config/, linux/engine/

#4245 auto: increment beta version to 14.0.221
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4175 fix(windows): fix menu popup position
  windows/src/engine/keyman/KeymanTrayIcon.pas
  windows/src/engine/keyman/UfrmKeyman7Main.pas
  windows/src/engine/keyman/UfrmKeymanMenu.dfm
  windows/src/engine/keyman/UfrmKeymanMenu.pas
Labels: fix, windows/, windows/engine/

#4180 fix(windows): Update mitigation for Keyman 14 and Windows 10 19597
  windows/src/engine/kmcomapi/com/keyboardlanguages/keymankeyboardlanguageinstalled.pas
  windows/src/engine/kmcomapi/com/keyboardlanguages/keymankeyboardlanguagesfile.pas
  windows/src/engine/kmcomapi/com/keyboardlanguages/keymankeyboardlanguagesinstalled.pas
  windows/src/engine/kmcomapi/com/keyboards/keymankeyboardfile.pas
  windows/src/engine/kmcomapi/processes/keyboard/Keyman.System.MitigateWin10_1803LanguageInstall.pas
  windows/src/engine/kmcomapi/processes/keyboard/Keyman.System.Process.KPInstallKeyboardLanguage.pas
  windows/src/engine/kmcomapi/processes/keyboard/kpinstallkeyboard.pas
  windows/src/global/delphi/general/kmxfile.pas
Labels: fix, windows/, windows/engine/

#4209 fix(developer): Allow unhandled keys to go through to debugger memo
  windows/src/engine/keyman32/kmprocess.cpp
Labels: developer/, developer/ide/, fix, windows/, windows/engine/

#4249 auto: increment beta version to 14.0.222
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4228 chore(common): Check in crowdin files for km (Khmer)
  android/KMAPro/kMAPro/src/main/res/values-km-rKH/strings.xml
  android/KMEA/app/src/main/res/values-km-rKH/strings.xml
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/km.lproj/ResourceInfoView.strings
  ios/engine/KMEI/KeymanEngine/km.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/km.lproj/Localizable.stringsdict
  ios/keyman/Keyman/Keyman/km.lproj/Localizable.strings
  linux/keyman-config/locale/km_KH.po
  windows/src/desktop/kmshell/locale/km-KH/strings.xml
  windows/src/desktop/setup/locale/km-KH/strings.xml
Labels: android/, android/app/, android/engine/, ios/, ios/app/, ios/engine/, linux/, linux/config/, windows/, windows/config/

#4241 fix(web): OSK key preview positioning
  web/source/osk/visualKeyboard.ts
Labels: bug, fix, web/, web/engine/

#4243 fix(web): disables predictive text on Opera mini
  web/source/dom/domOverrides.ts
Labels: fix, web/, web/engine/

#4257 auto: increment beta version to 14.0.223
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4251 fix(windows): typo in font helper string
  windows/src/desktop/kmshell/xml/strings.xml
Labels: fix, windows/, windows/config/

#4256 chore(android/app): Add Obolo language from crowdin
  android/KMAPro/kMAPro/src/main/res/values-ann/strings.xml
  android/KMEA/app/src/main/res/values-ann/strings.xml
Labels: android/, android/app/, android/engine/, chore

#4238 fix(web): unexpected errors in OSK / banner position calculations
  web/source/dom/uiTouchHandlerBase.ts
  web/source/osk/visualKeyboard.ts
Labels: fix, web/, web/engine/

#4258 chore(linux): Improve version number for debian package
  linux/scripts/debian.sh
  linux/scripts/package-build.inc.sh
  linux/scripts/watch.in
Labels: chore, linux/

#4272 auto: increment beta version to 14.0.224
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4254 fix(android): Popup misalignments and compatibility with WeChat, Telegram
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/Samples/KMSample2/app/src/main/java/com/keyman/kmsample2/SystemKeyboard.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/SystemKeyboard.java
Labels: android/, android/app/, android/engine/, android/samples/, fix, oem/, oem/fv/, oem/fv/android/

#4253 chore(web): sample pages now wait on init's promise for keyboard loading
  web/samples/minified.html
  web/samples/multilingual.html
  web/samples/unminified.html
  web/testing/unminified - manual.html
  web/testing/unminified.html
Labels: modification, web/, web/samples/

#4271 chore(linux): Allow to push to the `keyman-beta` ppa
  docs/linux-packaging.md
  linux/scripts/launchpad.sh
Labels: linux/

#4283 auto: increment beta version to 14.0.225
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4284 auto: increment master version to 15.0.9
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4267 fix(android/samples): Fix Sentry dependencies
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample1/build.gradle
  android/Samples/KMSample2/app/build.gradle
  android/Samples/KMSample2/build.gradle
  android/Tests/KeyboardHarness/app/build.gradle
  android/Tests/KeyboardHarness/build.gradle
Labels: android/, android/samples/, bug

#4286 fix(web): better font-wait null guards
  web/source/osk/visualKeyboard.ts
Labels: fix, web/, web/engine/

#4255 fix(web): uses CSS line-height to vertically center oversized OSK keycaps
  web/source/osk/visualKeyboard.ts
Labels: bug, web/, web/engine/

#4274 fix(developer): disable TSentryClient on WINE
  windows/src/ext/sentry/Sentry.Client.pas
  windows/src/global/delphi/general/Keyman.System.KeymanSentryClient.pas
Labels: fix, windows/

#4282 fix(web): no key previews for special keys reliant on keyboard-specific OSK font
  web/source/osk/visualKeyboard.ts
Labels: fix, web/, web/engine/

#4293 fix(web): default kbd ui name is now generic
  web/source/kmwuibutton.ts
  web/source/kmwuifloat.ts
  web/source/kmwuitoggle.ts
  web/source/osk/visualKeyboard.ts
Labels: fix, web/, web/engine/, web/ui/

#4291 fix(developer/compilers): fixes dependency versioning on alpha, beta tiers
  resources/shellHelperFunctions.sh
Labels: common/, common/resources/, developer/, developer/compilers/, fix

#4297 auto: increment beta version to 14.0.226
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4276 fix(windows, common/core/desktop): context mismatch with if and dk
  common/core/desktop/src/kmx/kmx_processor.cpp
  common/core/desktop/src/kmx/kmx_processor.h
  common/core/desktop/tests/unit/kmx/044 - if and context.kmn
  common/core/desktop/tests/unit/kmx/044 - if and context.kmx
  common/core/desktop/tests/unit/kmx/045 - deadkey and context.kmn
  common/core/desktop/tests/unit/kmx/045 - deadkey and context.kmx
  common/core/desktop/tests/unit/kmx/046 - deadkey and contextex.kmn
  common/core/desktop/tests/unit/kmx/046 - deadkey and contextex.kmx
  common/core/desktop/tests/unit/kmx/meson.build
  windows/src/engine/keyman32/globals.h
  windows/src/engine/keyman32/kmprocess.cpp
  windows/src/test/GH-4275 - contextex-mismatch-with-if/.gitignore
  windows/src/test/GH-4275 - contextex-mismatch-with-if/context_mismatch_with_if/HISTORY.md
  windows/src/test/GH-4275 - contextex-mismatch-with-if/context_mismatch_with_if/LICENSE.md
  windows/src/test/GH-4275 - contextex-mismatch-with-if/context_mismatch_with_if/README.md
  windows/src/test/GH-4275 - contextex-mismatch-with-if/context_mismatch_with_if/context_mismatch_with_if.keyboard_info
  windows/src/test/GH-4275 - contextex-mismatch-with-if/context_mismatch_with_if/context_mismatch_with_if.kpj
  windows/src/test/GH-4275 - contextex-mismatch-with-if/context_mismatch_with_if/source/context_mismatch_with_if.keyman-touch-layout
  windows/src/test/GH-4275 - contextex-mismatch-with-if/context_mismatch_with_if/source/context_mismatch_with_if.kmn
  windows/src/test/GH-4275 - contextex-mismatch-with-if/context_mismatch_with_if/source/context_mismatch_with_if.kps
  windows/src/test/GH-4275 - contextex-mismatch-with-if/context_mismatch_with_if/source/context_mismatch_with_if.kvks
  windows/src/test/GH-4275 - contextex-mismatch-with-if/context_mismatch_with_if/source/readme.htm
  windows/src/test/GH-4275 - contextex-mismatch-with-if/context_mismatch_with_if/source/welcome.htm
Labels: common/, common/core/, common/core/desktop/, fix, windows/, windows/engine/

#4295 chore(common): Check in crowdin files for de (German)
  android/KMAPro/kMAPro/src/main/res/values-de-rDE/strings.xml
  android/KMEA/app/src/main/res/values-de-rDE/strings.xml
  crowdin.yml
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/de.lproj/ResourceInfoView.strings
  ios/engine/KMEI/KeymanEngine/de.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/de.lproj/Localizable.stringsdict
  ios/keyman/Keyman/Keyman/de.lproj/Localizable.strings
  linux/keyman-config/locale/de_DE.po
  windows/src/desktop/kmshell/locale/de/strings.xml
  windows/src/desktop/setup/locale/de/strings.xml
Labels: android/, android/app/, android/engine/, chore, ios/, ios/app/, ios/engine/, linux/, linux/config/, windows/, windows/config/

#4261 feat(android/app): Add option to change display language
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/BookmarksActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/GetStartedActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/InfoActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KMPBrowserActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeymanSettingsActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeymanSettingsFragment.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeymanSettingsLocalizeActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/WebBrowserActivity.java
  android/KMAPro/kMAPro/src/main/res/drawable-hdpi/ic_translate.png
  android/KMAPro/kMAPro/src/main/res/drawable-mdpi/ic_translate.png
  android/KMAPro/kMAPro/src/main/res/drawable-xhdpi/ic_translate.png
  android/KMAPro/kMAPro/src/main/res/drawable-xxhdpi/ic_translate.png
  android/KMAPro/kMAPro/src/main/res/drawable-xxxhdpi/ic_translate.png
  android/KMAPro/kMAPro/src/main/res/layout/preference_translate_icon_layout.xml
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMEA/app/build.gradle
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/BaseActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/DisplayLanguages.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/ContextUtils.java
  resources/build/l10n/README.md
Labels: android/, android/app/, android/engine/, common/, common/resources/, feat

#4299 fix(developer/compilers): fixes developer build breakage from #4291
  windows/src/test/unit-tests/Makefile
Labels: developer/, developer/compilers/, fix, windows/

#4292 fix(android/app): Handle keyman protocol from external browser
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/KMPLink.java
Labels: android/, android/app/, android/engine/, bug

#4302 auto: increment beta version to 14.0.227
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4300 fix(android/engine): Fix zip slip vulnerability
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/ZipUtils.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/ZipUtilsTest.java
  android/KMEA/test_resources/zip-slip-win.zip
Labels: android/, android/engine/, bug

#4279 fix(web): OSK loading efficiency
  web/source/osk/oskManager.ts
  web/source/osk/visualKeyboard.ts
Labels: fix, web/, web/engine/

#4304 fix(web): toolbar and loading optimisations
  web/source/keyboards/kmwkeyboards.ts
  web/source/kmwbase.ts
  web/source/kmwuitoolbar.ts
Labels: fix, web/, web/engine/, web/ui/

#4305 chore(web): updates MTNT for pred-text testing page to 0.1.5 (casing)
  web/testing/prediction-mtnt/nrc.en.mtnt.model.js
Labels: chore, web/

#4310 fix(android/samples): Add dependency on androidx.preference
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample2/app/build.gradle
  android/Tests/KeyboardHarness/app/build.gradle
Labels: android/, android/samples/, bug

#4312 auto: increment beta version to 14.0.228
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4306 fix(web): default popup key selection, space highlight after popup
  web/source/osk/visualKeyboard.ts
Labels: fix, web/, web/engine/

#4308 fix(web): language menu key highlighting
  web/source/osk/visualKeyboard.ts
Labels: fix, web/, web/engine/

#4270 fix(web): dynamic font downscaling for OSK keys
  web/source/kmwutils.ts
  web/source/osk/visualKeyboard.ts
  web/source/resources/osk/kmwosk.css
Labels: fix, web/, web/engine/

#4307 chore(windows/resources): Cleanup Notes and Tips in help
  windows/src/desktop/help/TODO.md
  windows/src/desktop/help/advanced/locale_edit.md
  windows/src/desktop/help/basic/config_tasks/hotkeys_tab.md
  windows/src/desktop/help/basic/config_tasks/keyboards_tab.md
  windows/src/desktop/help/basic/config_tasks/options_tab.md
  windows/src/desktop/help/basic/config_tasks/support_tab.md
  windows/src/desktop/help/basic/keyboard_tasks/enable_keyboard.md
  windows/src/desktop/help/basic/keyboard_tasks/uninstall_keyboard.md
  windows/src/desktop/help/basic/languageswitcher.md
  windows/src/desktop/help/basic/text_editor.md
  windows/src/desktop/help/basic/toolbox_tasks/charactermap.md
  windows/src/desktop/help/basic/toolbox_tasks/fonthelper.md
  windows/src/desktop/help/basic/toolbox_tasks/osk.md
  windows/src/desktop/help/basic/toolbox_tasks/toolbox.md
  windows/src/desktop/help/basic/traymenu.md
  windows/src/desktop/help/common/os.md
  windows/src/desktop/help/start/configure_computer.md
Labels: chore, windows/, windows/config/

#4237 fix(developer): Debug character grid performance
  windows/src/developer/TIKE/child/UfrmDebug.dfm
  windows/src/developer/TIKE/child/UfrmDebug.pas
Labels: developer/, developer/ide/, fix

#4315 chore(android/samples): Remove old sample keyboard loaded code
  android/Samples/KMSample1/app/src/main/java/com/keyman/kmsample1/MainActivity.java
  android/Samples/KMSample2/app/src/main/java/com/keyman/kmsample2/SystemKeyboard.java
Labels: android/, android/samples/, chore

#4321 auto: increment beta version to 14.0.229
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4326 fix(android/app): Wrap preference screen titles
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeymanSettingsFragment.java
Labels: android/, android/app/, bug

#4327 fix(ios): better handling of scoped vs non-scoped package URLs
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceFileManager.swift
Labels: bug, fix, ios/, ios/engine/

#4316 fix(web): bulk renderer using video stream capture
  web/bulk_rendering/README.md
  web/bulk_rendering/compare.html
  web/bulk_rendering/index.html
  web/bulk_rendering/renderer_core.ts
  web/bulk_rendering/tsconfig.json
  web/package-lock.json
  web/package.json
Labels: fix, web/

#4329 change(android/engine): Allow swipe to dismiss update notifications
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/logic/ResourcesUpdateTool.java
Labels: android/, android/engine/, modification

#4334 auto: increment master version to 15.0.10
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4330 fix(windows): invalid character in text content opening help
  windows/src/desktop/kmshell/help/UfrmHelp.pas
  windows/src/desktop/kmshell/web/Keyman.Configuration.System.HttpServer.App.pas
Labels: fix, windows/, windows/config/

#4331 fix(windows): align title to top in Install Keyboard
  windows/src/desktop/kmshell/xml/installkeyboard.css
Labels: fix, windows/, windows/config/

#4342 fix(ios): renew distribution certificate
  ios/exportAppStore.plist
Labels: fix, ios/

#4344 fix(ios): renew distribution certificate 🍒
  ios/exportAppStore.plist
Labels: fix, ios/

#4345 auto: increment master version to 15.0.11
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4347 fix(ios): reloads keyboard after package updates
  ios/engine/KMEI/KeymanEngine/Classes/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/PackageInstallViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Settings/InstalledLanguagesViewController.swift
Labels: fix, ios/, ios/engine/

#4332 fix(ios): fixes accidental logo / cancel button overlap during package installation
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/PackageInstallViewController.swift
  ios/keyman/Keyman/Keyman/MainViewController.swift
  ios/keyman/Keyman/Keyman/PackageBrowserViewController.swift
Labels: fix, ios/, ios/app/, ios/engine/

#4338 fix(ios): resolves rough edges with installation view transitions
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/AssociatingPackageInstaller.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/PackageInstallViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceFileManager.swift
  ios/keyman/Keyman/Keyman/PackageBrowserViewController.swift
Labels: fix, ios/, ios/app/, ios/engine/

#4352 fix(web/ui): propagates UI module build failures
  web/source/build.sh
Labels: fix, web/, web/engine/, web/ui/

#4226 chore: Enhance PR labeling based on PR title
  .github/labeler.yml
  .github/multi-labeler.yml
  .github/workflows/labeler.yml
Labels: chore, common/, common/resources/

#4341 chore(linux): Fix typo
  linux/scripts/debian.sh
Labels: chore, linux/

#4358 auto: increment master version to 15.0.12
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4351 chore(windows/resources): Address more TODO links for help
  windows/src/desktop/help/TODO.md
  windows/src/desktop/help/basic/make-taskbar-icon-visible.md
  windows/src/desktop/help/basic/toolbox/character-map.md
  windows/src/desktop/help/index.md
  windows/src/desktop/help/start/tutorial.md
  windows/src/desktop/help/troubleshooting/font.md
Labels: chore, windows/, windows/config/

#4362 fix(windows): setup strings comment for language
  windows/src/desktop/setup/locale/en/strings.xml
Labels: fix, windows/, windows/config/

#4348 fix(windows): Splash button sizes
  windows/src/desktop/kmshell/xml/splash.css
Labels: fix, windows/, windows/config/

#4363 chore: manual version increment
  VERSION.md
Labels: chore

#4364 auto: increment beta version to 14.0.231
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4357 chore(common): Enhance PR labeling based on PR title
  .github/labeler.yml
  .github/multi-labeler.yml
  .github/workflows/labeler.yml
Labels: cherry-pick, chore, common/

#4353 change(web): set -eu for web scripts
  common/core/web/input-processor/src/build.sh
  common/core/web/keyboard-processor/src/build.sh
  common/core/web/utils/build.sh
  web/source/build.sh
Labels: common/, common/core/, common/core/web/, modification, web/, web/engine/

#4366 fix(ios): accidental duplicated line from merge
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/PackageInstallViewController.swift
Labels: fix, ios/

#4368 auto: increment beta version to 14.0.232
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4355 chore(linux): Improve launchpad.sh script
  linux/scripts/package-build.inc.sh
Labels: chore, linux/

#4356 chore(linux): Don't report on Sentry when running unit tests
  linux/keyman-config/keyman_config/__init__.py
Labels: chore, linux/, linux/config/

#4365 fix(windows): Ignore Access Denied error creating task
  windows/src/desktop/kmshell/util/Keyman.System.KeymanStartTask.pas
Labels: fix, windows/, windows/config/

#4367 chore(windows/resources): Fix more titles and TODOs in help
  windows/src/desktop/help/about/index.md
  windows/src/desktop/help/advanced/locale_edit.md
  windows/src/desktop/help/basic/select-keyboard.md
  windows/src/desktop/help/common/index.md
  windows/src/desktop/help/context/index.md
  windows/src/desktop/help/context/osk_usage.md
  windows/src/desktop/help/troubleshooting/hidden.md
  windows/src/desktop/help/troubleshooting/index.md
Labels: chore, windows/, windows/config/

#4372 auto: increment master version to 15.0.13
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4373 auto: increment beta version to 14.0.233
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto, common/, common/core/, common/core/web/, common/models/, common/models/templates/, common/models/types/, common/models/wordbreakers/, common/resources/, developer/, developer/compilers/, web/

#4360 fix(windows): SMP-aware deletion in TSF-aware apps
  windows/src/engine/keyman32/appint/aiTIP.cpp
  windows/src/engine/keyman32/appint/aiWin2000Unicode.cpp
  windows/src/engine/keyman32/appint/appint.cpp
  windows/src/engine/keyman32/kmprocess.cpp
  windows/src/global/inc/Compiler.h
  windows/src/global/vc/xstring.cpp
Labels: fix, windows/, windows/engine/

#4361 fix(common): tweak surrogate pair deletions
  common/core/desktop/build.bat
  common/core/desktop/doc/BUILDING.md
  common/core/desktop/src/kmx/kmx_context.cpp
  common/core/desktop/src/kmx/kmx_processor.cpp
  common/core/desktop/src/kmx/kmx_xstring.cpp
  common/core/desktop/tests/unit/kmx/028 - smp.kmn
  common/core/desktop/tests/unit/kmx/028 - smp.kmx
  common/core/desktop/tests/unit/kmx/kmx.cpp
Labels: common/, common/core/, common/core/desktop/, fix

#4349 fix(windows): Enter and Spacebar handling in Configuration
  windows/src/desktop/kmshell/xml/menu-frame.js
Labels: fix, windows/, windows/config/
