Repository keymanapp/keyman, pull requests merged in 2022-02, with the labels that each got.

#6179 fix(linux): Don't crash if we lack permissions
  linux/keyman-config/keyman_config/__init__.py
  linux/keyman-config/keyman_config/convertico.py
  linux/keyman-config/keyman_config/get_info.py
  linux/keyman-config/keyman_config/get_kmp.py
  linux/keyman-config/keyman_config/gnome_keyboards_util.py
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/keyman_config/keyboard_details.py
  linux/keyman-config/keyman_config/kmpmetadata.py
  linux/keyman-config/keyman_config/kvk2ldml.py
  linux/keyman-config/keyman_config/list_installed_kmp.py
  linux/keyman-config/km-package-install
Labels: linux/, fix, linux/config/

#6184 chore(linux): stop releasing KMFL together with Keyman
  linux/Jenkinsfile
  linux/README.md
  linux/help/about/welcome.md
  linux/help/common/index.md
  linux/help/reference/index.md
  linux/scripts/build.sh
  linux/scripts/deb.sh
  linux/scripts/dist.sh
  linux/scripts/install.sh
  linux/scripts/jenkins.sh
  linux/scripts/package-build.inc.sh
  linux/scripts/reconf.sh
Labels: linux/, chore

#6190 auto: increment master version to 15.0.190
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6159 fix(linux): Don't crash when installing keyboards in Wasta
  linux/keyman-config/keyman_config/gnome_keyboards_util.py
  linux/keyman-config/keyman_config/gsettings.py
  linux/keyman-config/keyman_config/ibus_util.py
  linux/keyman-config/tests/test_gsettings.py
  linux/keyman-config/tests/test_ibus_util.py
Labels: linux/, fix, linux/config/

#6194 auto: increment master version to 15.0.191
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6143 fix(developer): remove keymanengine.msm
  windows/src/developer/TIKE/Tike.dpr
  windows/src/developer/TIKE/Tike.dproj
  windows/src/developer/TIKE/actions/dmActionsKeyboardEditor.pas
  windows/src/developer/TIKE/child/UfrmPackageEditor.pas
  windows/src/developer/TIKE/main/KeymanDeveloperUtils.pas
  windows/src/developer/TIKE/main/UfrmMain.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.kmnProjectFileUI.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.kpsProjectFileUI.pas
  windows/src/developer/inst/kmdev.wxs
  windows/src/global/delphi/general/utilfiletypes.pas
Labels: windows/, developer/, fix, developer/ide/

#6201 auto: increment master version to 15.0.192
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6181 chore(oem/firstvoices): Add fv_haisla keyboard
  oem/firstvoices/keyboards.csv
Labels: common/, oem/, oem/fv/, chore, user-test-required

#6198 chore(linux): Improve dependencies in Linux package
  linux/debian/control
Labels: linux/, chore

#6199 chore(linux): Remove obsolete Ubuntu 21.04 Hirsute
  linux/scripts/cow.sh
  linux/scripts/launchpad.sh
Labels: linux/, chore

#6208 chore(ios): certificate update again
  ios/exportAppStore.plist
Labels: ios/, chore

#6210 chore(ios): certificate update 🍒
  ios/exportAppStore.plist
Labels: ios/, cherry-pick, chore

#6215 auto: increment master version to 15.0.194
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6217 chore(android): Update Play publishing plugin to 3.5.0
  android/KMAPro/kMAPro/build.gradle
  oem/firstvoices/android/app/build.gradle
Labels: android/, oem/, android/app/, oem/fv/, oem/fv/android/, chore

#6206 feat(android/engine): Single tap globe switch to previous system IME
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
Labels: android/, feat, android/engine/

#6109 feat(linux): Try to start ibus if not running
  linux/debian/ibus-keyman.postinst
  linux/debian/ibus-keyman.postrm
  linux/keyman-config/keyman_config/ibus_util.py
Labels: linux/, feat, linux/config/

#6223 chore(android): Upgrade gradle-wrapper version to 6.8
  android/KMAPro/gradle/wrapper/gradle-wrapper.properties
  android/KMEA/gradle/wrapper/gradle-wrapper.properties
  android/Samples/KMSample1/gradle/wrapper/gradle-wrapper.properties
  android/Samples/KMSample2/gradle/wrapper/gradle-wrapper.properties
  android/Tests/KeyboardHarness/gradle/wrapper/gradle-wrapper.properties
  oem/firstvoices/android/gradle/wrapper/gradle-wrapper.properties
Labels: android/, oem/, android/engine/, android/app/, oem/fv/, oem/fv/android/, chore, android/samples/

#6219 fix(windows): add flag to track core process event
  windows/src/engine/keyman32/calldll.cpp
  windows/src/engine/keyman32/globals.h
  windows/src/engine/keyman32/kmhook_getmessage.cpp
  windows/src/engine/keyman32/kmprocess.cpp
  windows/src/engine/keyman32/kmprocessactions.cpp
Labels: windows/, fix, windows/engine/

#6225 fix(windows): create Keyman/Diag folder in redirected profile 🍒
  windows/src/desktop/setup/RunTools.pas
Labels: windows/, cherry-pick, fix, windows/config/

#6251 auto: increment master version to 15.0.198
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6234 chore(android/app): Clarify help on switching keyboards
  android/help/about/whatsnew.md
  android/help/basic/switching-between-keyboards.md
Labels: android/, chore, docs

#6260 auto: increment master version to 15.0.199
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6248 fix(web): Non-integer OSK sizes
  web/source/osk/oskView.ts
Labels: web/, fix, web/engine/

#6264 auto: increment master version to 15.0.200
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6263 chore(common): Update French strings
  android/KMAPro/kMAPro/src/main/res/values-fr-rFR/strings.xml
  android/KMEA/app/src/main/res/values-fr-rFR/strings.xml
  ios/engine/KMEI/KeymanEngine/fr.lproj/Localizable.strings
  linux/keyman-config/locale/fr_FR.po
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/fr.lproj/KMAboutWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/fr.lproj/preferences.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/fr.lproj/KMInfoWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardHelpWindow/fr.lproj/KMKeyboardHelpWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/fr.lproj/Localizable.strings
  mac/Keyman4MacIM/Keyman4MacIM/fr.lproj/MainMenu.strings
  windows/src/desktop/kmshell/locale/fr/strings.xml
Labels: windows/, android/, ios/, mac/, linux/, common/, android/engine/, android/app/, ios/engine/, linux/config/, mac/engine/, windows/config/, chore

#6266 auto: increment master version to 15.0.201
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6259 fix(developer): npm publish with correct tier
  common/models/types/build.sh
  developer/js/build.sh
Labels: developer/, common/, common/models/, developer/compilers/, fix, common/models/types/

#6241 fix(linux): Fix stray `[-vv]` in man pages
  linux/keyman-config/buildtools/help2man
  linux/keyman-config/km-package-install
Labels: linux/, fix, linux/config/, has-user-test

#6271 auto: increment master version to 15.0.202
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6246 feat(common): echo in macos.sh setup script
  resources/devbox/macos/macos.sh
Labels: common/, common/resources/, feat

#6262 chore(common): Add CODEOWNERS file
  docs/CODEOWNERS
Labels: common/, chore

#6222 fix(windows): create Keyman/Diag folder in redirected profile
  windows/src/desktop/setup/RunTools.pas
Labels: windows/, fix, windows/config/, has-user-test

#6226 chore(oem/fv): Add keyboard version and languages
  oem/firstvoices/common/build_csv_languages.sh
  oem/firstvoices/keyboards.csv
Labels: common/, oem/, oem/fv/, chore, has-user-test

#6211 fix(common/core/desktop): Add num and scroll lock mask to VKeyToChar
  common/core/desktop/src/kmx/kmx_processevent.cpp
  windows/src/engine/keyman32/kmprocess.cpp
Labels: windows/, common/, fix, common/core/, common/core/desktop/, windows/engine/, has-user-test

#6278 fix(linux): Properly compare versions in km-package-install
  linux/keyman-config/km-package-install
Labels: linux/, fix, linux/config/, has-user-test

#6289 auto: increment master version to 15.0.203
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6291 chore(common): remove rust (for now!) 🦀
  common/core/desktop/build.sh
  common/core/desktop/include/keyman/keyboardprocessor.h
  common/core/desktop/meson.build
  common/core/desktop/src/km_kbp_keyboard_api.cpp
  common/core/desktop/src/meson.build
  common/core/desktop/src/rust/keyman_keyboard_processor/Cargo.lock
  common/core/desktop/src/rust/keyman_keyboard_processor/Cargo.toml
  common/core/desktop/src/rust/keyman_keyboard_processor/src/lib.rs
  common/core/desktop/src/rust/native/Cargo.lock
  common/core/desktop/src/rust/native/Cargo.toml
  common/core/desktop/src/rust/native/src/lib.rs
  common/core/desktop/src/rust/rust_mock_processor.cpp
  common/core/desktop/src/rust/rust_mock_processor.hpp
  common/core/desktop/src/rust/wasm/Cargo.lock
  common/core/desktop/src/rust/wasm/Cargo.toml
  common/core/desktop/src/rust/wasm/src/lib.rs
  common/core/desktop/tests/unit/kmnkbd/meson.build
  common/core/desktop/tests/unit/kmx/meson.build
  common/core/desktop/tests/unit/meson.build
  common/core/desktop/tests/unit/rust_mock/keyboard_api.cpp
  common/core/desktop/tests/unit/rust_mock/meson.build
  common/core/desktop/tests/unit/rust_mock/state_api.cpp
  docs/build/macos.md
  docs/build/old/core-desktop-notes.md
  docs/build/windows.md
  docs/settings/linux/extensions.json
  docs/settings/linux/settings.json
  docs/settings/linux/tasks.json
  linux/debian/control
  resources/devbox/macos/macos.sh
  windows/src/engine/keyman32/Keyman32.vcxproj
  windows/src/engine/keyman32/keyman-engine.vcxproj
  windows/src/engine/keyman32/tests/keyman-engine-tests/keyman-engine-tests.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj
Labels: linux/, common/, common/resources/, common/core/, common/core/desktop/, chore

#6293 auto: increment master version to 15.0.204
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6249 fix(web): add readonly mode for rule behavior finalization 🎢
  common/core/web/input-processor/src/text/inputProcessor.ts
  common/core/web/input-processor/src/text/prediction/languageProcessor.ts
  common/core/web/keyboard-processor/src/text/kbdInterface.ts
  common/core/web/keyboard-processor/src/text/keyboardProcessor.ts
  common/core/web/keyboard-processor/src/text/outputTarget.ts
  common/core/web/keyboard-processor/src/text/ruleBehavior.ts
  web/source/dom/domOverrides.ts
  web/source/osk/banner.ts
Labels: web/, android/, common/, fix, android/engine/, web/engine/, common/core/, common/core/web/

#6273 chore(android): separate android-host.js 🎢
  android/KMEA/app/src/main/assets/android-host.js
  android/KMEA/app/src/main/assets/keyboard.html
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
Labels: android/, android/engine/, chore

#6274 fix(android): properly handle selection 🎢
  android/KMEA/app/src/main/assets/android-host.js
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
Labels: android/, fix, android/engine/, has-user-test

#6279 chore(ios): separate ios-host.js 🎢
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/Storage.swift
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/ios-host.js
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/keyboard.html
Labels: android/, ios/, android/engine/, ios/engine/, chore

#6280 fix(ios): properly handle selection 🎢
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/InputViewController.swift
Labels: ios/, fix, ios/engine/, has-user-test

#6250 feat(android): Android web-based test harness 🎢
  android/KMEA/app/src/main/assets/android-host.js
  android/KMEA/app/src/main/assets/keyboard.html
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  common/core/web/input-processor/src/text/inputProcessor.ts
  common/core/web/input-processor/src/text/prediction/languageProcessor.ts
  common/core/web/keyboard-processor/src/text/kbdInterface.ts
  common/core/web/keyboard-processor/src/text/keyboardProcessor.ts
  common/core/web/keyboard-processor/src/text/outputTarget.ts
  common/core/web/keyboard-processor/src/text/ruleBehavior.ts
  common/core/web/tests/resources/json/keyboards/web_context_tests.json
  common/core/web/tests/resources/keyboards/web_context_tests.js
  common/test/keyboards/web_context_tests/HISTORY.md
  common/test/keyboards/web_context_tests/README.md
  common/test/keyboards/web_context_tests/source/readme.htm
  common/test/keyboards/web_context_tests/source/web_context_tests.keyman-touch-layout
  common/test/keyboards/web_context_tests/source/web_context_tests.kmn
  common/test/keyboards/web_context_tests/source/web_context_tests.kps
  common/test/keyboards/web_context_tests/source/web_context_tests.kvks
  common/test/keyboards/web_context_tests/source/welcome.htm
  common/test/keyboards/web_context_tests/web_context_tests.kpj
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/Storage.swift
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/ios-host.js
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/keyboard.html
  web/source/dom/domOverrides.ts
  web/source/dom/targets/contentEditable.ts
  web/source/dom/targets/designIFrame.ts
  web/source/dom/targets/input.ts
  web/source/dom/targets/textarea.ts
  web/source/dom/targets/touchAlias.ts
  web/source/osk/banner.ts
  web/testing/android-harness/.gitignore
  web/testing/android-harness/build.sh
  web/testing/android-harness/host.css
  web/testing/android-harness/host.js
  web/testing/android-harness/index.html
  web/testing/android-harness/jquery.min.js
  web/testing/commonHeader.js
  web/testing/web_context_tests.js
  web/unit_tests/CI.conf.js
  web/unit_tests/cases/element_interfaces.js
  web/unit_tests/cases/text_selection.js
Labels: web/, android/, ios/, common/, feat, android/engine/, ios/engine/, web/engine/, common/core/, common/core/web/
