Repository keymanapp/keyman, pull requests merged in 2022-10, with the labels that each got.

#7371 fix(developer): handle invalid kps xml when loading project view
  developer/src/tike/project/Keyman.Developer.System.Project.kpsProjectFile.pas
Labels: developer/, fix, developer/ide/

#7393 auto: increment master version to 16.0.74
  HISTORY.md
  VERSION.md
Labels: auto

#7390 chore(android/engine): Display Toast notifications on Sentry errors
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/BaseActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudLexicalModelMetaDataDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/FileUtils.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/KMLog.java
Labels: android/, android/engine/, android/app/, chore, has-user-test

#7388 fix(android/engine): Dismiss subkeys on multi-touch
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
Labels: android/, fix, android/engine/, has-user-test

#7399 auto: increment master version to 16.0.75
  HISTORY.md
  VERSION.md
Labels: auto

#7405 chore(common): builder script maintenance
  resources/build/tests/builder.inc.test.sh
  resources/builder.inc.sh
Labels: common/, common/resources/, chore

#7409 auto: increment master version to 16.0.76
  HISTORY.md
  VERSION.md
Labels: auto

#7396 chore(linux): Cleanup unnecessary surrogate check
  linux/ibus-keyman/src/engine.c
Labels: linux/, linux/engine/, chore

#7416 auto: increment master version to 16.0.77
  HISTORY.md
  VERSION.md
Labels: auto

#7413 chore(developer): enable source maps for kmc commands 🙀
  developer/src/inst/node/kmc.cmd
  developer/src/inst/node/kmlmc.cmd
  developer/src/inst/node/kmlmi.cmd
  developer/src/inst/node/kmlmp.cmd
  developer/src/tike/kmlmc.cmd
  developer/src/tike/kmlmi.cmd
  developer/src/tike/kmlmp.cmd
Labels: developer/, developer/ide/, chore, epic-ldml

#7359 fix(web): possible error on change of context to a contextEditable
  web/source/dom/targets/contentEditable.ts
  web/source/dom/targets/designIFrame.ts
Labels: web/, fix, web/engine/

#7381 chore(web): unit test polishing pass
  web/unit_tests/cases/engine.js
  web/unit_tests/cases/engine_chirality.js
  web/unit_tests/cases/events.js
  web/unit_tests/cases/text_selection.js
  web/unit_tests/test_utils.js
Labels: web/, chore

#7429 auto: increment master version to 16.0.78
  HISTORY.md
  VERSION.md
Labels: auto

#7420 chore(developer): enable sourcemaps for kmc 🙀
  developer/src/tike/kmc.cmd
Labels: developer/, developer/ide/, chore, epic-ldml

#7421 feat(common): add keyman-touch-layout format and readers/writers for typescript 🙀
  common/schemas/keyman-touch-layout/keyman-touch-layout.clean.spec.json
  common/schemas/keyman-touch-layout/keyman-touch-layout.spec.json
  common/web/types/build.sh
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file-reader.ts
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file-writer.ts
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file.ts
  common/web/types/test/fixtures/keyman-touch-layout/khmer_angkor.keyman-touch-layout
  common/web/types/test/fixtures/keyman-touch-layout/legacy.keyman-touch-layout
  common/web/types/test/helpers/index.ts
  common/web/types/test/keyman-touch-layout/test-keyman-touch-layout-file-reader.ts
  common/web/types/test/keyman-touch-layout/test-keyman-touch-layout-round-trip.ts
Labels: common/, common/resources/, feat, common/web/, epic-ldml

#7422 feat(developer): generate .js from ldml .xml 🙀
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file-writer.ts
  developer/src/kmc-keyboard/src/compiler/keymanweb-compiler.ts
  developer/src/kmc-keyboard/src/main.ts
  developer/src/kmc-keyboard/test/fixtures/basic-no-debug.js
  developer/src/kmc-keyboard/test/fixtures/basic.js
  developer/src/kmc-keyboard/test/test-keymanweb-compiler.ts
Labels: developer/, common/, developer/compilers/, feat, common/web/, epic-ldml

#7058 feat(web): gesture touchpath segmentation core 🐵
  common/web/gesture-recognizer/src/cumulativePathStats.ts
  common/web/gesture-recognizer/src/inputSample.ts
  common/web/gesture-recognizer/src/pathSegmenter.ts
  common/web/gesture-recognizer/src/segment.ts
  common/web/gesture-recognizer/src/tools/recorder/src/recorder.js
  common/web/gesture-recognizer/src/trackedPath.ts
Labels: web/, common/, feat, common/web/, epic-gestures

#7142 feat(web): touchpath segment objects 🐵
  common/web/gesture-recognizer/src/constructingSegment.ts
  common/web/gesture-recognizer/src/cumulativePathStats.ts
  common/web/gesture-recognizer/src/pathSegmenter.ts
  common/web/gesture-recognizer/src/segment.ts
  common/web/gesture-recognizer/src/segmentClassifier.ts
  common/web/gesture-recognizer/src/subsegmentCompatibilityAnalyzer.ts
  common/web/gesture-recognizer/src/trackedPath.ts
Labels: web/, common/, feat, common/web/, epic-gestures

#7157 feat(web): headless segmentation unit tests 🐵
  common/web/gesture-recognizer/package.json
  common/web/gesture-recognizer/src/constructingSegment.ts
  common/web/gesture-recognizer/src/cumulativePathStats.ts
  common/web/gesture-recognizer/src/gestureRecognizer.ts
  common/web/gesture-recognizer/src/pathSegmenter.ts
  common/web/gesture-recognizer/src/segment.ts
  common/web/gesture-recognizer/src/test/auto/browser/cases/recordedCoordSequences.js
  common/web/gesture-recognizer/src/test/auto/headless/basicSegmentations.js
  common/web/gesture-recognizer/src/test/auto/headless/pathStats.js
  common/web/gesture-recognizer/src/test/auto/headless/recordedSegmentations.js
  common/web/gesture-recognizer/src/test/auto/headless/segmentConstruction.js
  common/web/gesture-recognizer/src/test/auto/headless/trackedPath.js
  common/web/gesture-recognizer/src/test/resources/assertSegmentSimilarity.js
  common/web/gesture-recognizer/src/test/resources/json/receiver/basicMultitouch.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/desktopRoamAndReturn.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/embeddedBorderCancel.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/hardBorderCancel.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/mobileProximityApproach.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/mobileSafeZoneCancel.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/popupLongRoamingEnd.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/popupSafePersistence.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/popupShimCancel.json
  common/web/gesture-recognizer/src/test/resources/json/segmentation/flick_ne_se.json
  common/web/gesture-recognizer/src/test/resources/json/segmentation/longpress_to_ne.json
  common/web/gesture-recognizer/src/test/resources/json/segmentation/nonstationary_hold.json
  common/web/gesture-recognizer/src/test/resources/json/segmentation/quick_small_square.json
  common/web/gesture-recognizer/src/test/resources/json/segmentation/simple_ne_move.json
  common/web/gesture-recognizer/src/test/test.sh
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessRecordingSimulator.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessWrapper.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/timedPromise.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/touchpathTurtle.ts
  package-lock.json
Labels: web/, common/, feat, common/web/, epic-gestures

#7079 fix(linux): Fix reordering of output
  linux/ibus-keyman/src/engine.c
Labels: linux/, fix, linux/engine/, has-user-test

#7435 chore(linux): Add Node.js to the docker container
  linux/Dockerfile
Labels: linux/, chore

#7441 auto: increment master version to 16.0.79
  HISTORY.md
  VERSION.md
Labels: auto

#7392 chore(common/models, web): more script updates
  common/predictive-text/.build-builder
  common/predictive-text/build.sh
  common/predictive-text/unit_tests/headless/promise-store.js
  common/predictive-text/unit_tests/headless/top-level-lmlayer.js
  common/predictive-text/unit_tests/in_browser/base.conf.js
  common/predictive-text/unit_tests/in_browser/browser-test.sh
  common/predictive-text/unit_tests/test.sh
  common/web/input-processor/build.sh
  common/web/input-processor/src/build.sh
  common/web/input-processor/test.sh
  resources/build/tests/builder.inc.test.sh
  web/unit_tests/test.sh
Labels: web/, common/, common/resources/, common/web/, chore, test-browserstack

#7438 feat(common): builder dependency support
  common/predictive-text/build.sh
  common/predictive-text/unit_tests/test.sh
  common/web/input-processor/build.sh
  common/web/keyboard-processor/build.sh
  common/web/keyman-version/build.sh
  common/web/lm-worker/build.sh
  common/web/recorder/build.sh
  common/web/utils/build.sh
  resources/build/tests/builder-deps.test.sh
  resources/build/tests/builder.inc.test.sh
  resources/builder.inc.sh
  resources/shellHelperFunctions.sh
  web/unit_tests/test.sh
Labels: web/, common/, common/resources/, feat, common/web/

#7439 chore(common): further tweaks to builder scripts
  common/predictive-text/build.sh
  common/predictive-text/unit_tests/test.sh
  common/web/input-processor/build.sh
  common/web/recorder/build.sh
  resources/build/tests/builder.inc.test.sh
  resources/builder.inc.sh
Labels: common/, common/resources/, common/web/, chore

#7445 chore(web): merge master into feature-gestures 🐵
  .gitignore
  HISTORY.md
  VERSION.md
  common/predictive-text/.build-builder
  common/predictive-text/build.sh
  common/predictive-text/unit_tests/headless/promise-store.js
  common/predictive-text/unit_tests/headless/top-level-lmlayer.js
  common/predictive-text/unit_tests/in_browser/base.conf.js
  common/predictive-text/unit_tests/in_browser/browser-test.sh
  common/predictive-text/unit_tests/test.sh
  common/web/input-processor/build.sh
  common/web/input-processor/src/build.sh
  common/web/input-processor/test.sh
  common/web/keyboard-processor/build.sh
  common/web/keyman-version/build.sh
  common/web/lm-worker/build.sh
  common/web/recorder/build.sh
  common/web/utils/build.sh
  linux/Dockerfile
  linux/LICENSE.md
  linux/README.md
  linux/README.repo
  linux/ibus-keyman/src/engine.c
  linux/keyman-config/Makefile
  linux/keyman-config/README.md
  linux/keyman-config/setup.py
  linux/legacy/LICENSE.md
  linux/legacy/README.md
  resources/build/tests/builder-deps.test.sh
  resources/build/tests/builder.inc.test.sh
  resources/builder.inc.sh
  resources/shellHelperFunctions.sh
  web/unit_tests/test.sh
Labels: web/, linux/, common/, common/resources/, linux/config/, linux/engine/, common/web/, chore, epic-gestures

#7446 chore(web): feature-gesture builder script updates 🐵
  common/web/gesture-recognizer/build.sh
  common/web/gesture-recognizer/src/test/test.sh
Labels: web/, common/, common/web/, chore, epic-gestures

#7452 auto: increment master version to 16.0.80
  HISTORY.md
  VERSION.md
Labels: auto

#7448 chore(common): fixup broken kmlmc script dependency 🙀
  common/predictive-text/build.sh
  common/web/input-processor/build.sh
Labels: common/, common/web/, chore, epic-ldml

#7442 feat(core): kmx_xstring: New UTF-16 to UTF-32 function 🙀
  core/src/kmx/kmx_xstring.h
  core/tests/unit/kmnkbd/test_kmx_xstring.cpp
Labels: feat, core/, epic-ldml

#7443 feat(core): ldml: Use new UTF-16 to UTF-32 function 🙀
  core/src/ldml/ldml_processor.cpp
  core/tests/unit/ldml/keyboards/k_002_tinyu32.xml
  core/tests/unit/ldml/keyboards/meson.build
Labels: feat, core/, epic-ldml

#7403 feat(core): early implementation of transforms 🙀
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_processor.hpp
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/src/meson.build
  core/tests/unit/ldml/keyboards/k_003_transform.xml
  core/tests/unit/ldml/keyboards/meson.build
Labels: linux/, feat, core/, epic-ldml

#7437 feat(core): kmx_plus: add accessors for elem 🙀
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/kmx/kmx_processevent.h
  core/src/ldml/ldml_processor.cpp
  core/tests/unit/ldml/test_kmx_plus.cpp
Labels: feat, core/, epic-ldml

#7436 chore(core): ldml: split out vkey processing 🙀
  core/src/kmx/kmx_xstring.h
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_processor.hpp
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/src/ldml/ldml_vkeys.cpp
  core/src/ldml/ldml_vkeys.hpp
  core/src/meson.build
  core/tests/unit/kmnkbd/test_kmx_xstring.cpp
  core/tests/unit/ldml/keyboards/k_002_tinyu32.xml
  core/tests/unit/ldml/keyboards/k_003_transform.xml
  core/tests/unit/ldml/keyboards/meson.build
Labels: core/, chore, epic-ldml

#7453 feat(common): builder script dependency and legacy script report
  common/predictive-text/build.sh
  resources/build/builder-report.sh
  resources/builder.inc.sh
Labels: common/, common/resources/, feat

#7451 chore(linux): Adjust Linux specific files in `.gitignore`
  .gitignore
Labels: linux/, chore

#7454 fix(core): xstring/utf32 review feedback
  core/src/kmx/kmx_xstring.h
  core/src/ldml/ldml_processor.cpp
  core/tests/unit/kmnkbd/test_kmx_xstring.cpp
Labels: fix, core/

#7460 auto: increment master version to 16.0.81
  HISTORY.md
  VERSION.md
Labels: auto

#7456 chore(common): update build.sh dependencies for epic-ldml 🙀
  common/tools/hextobin/build.sh
  common/web/keyman-version/build.sh
  common/web/types/build.sh
  core/build.sh
  core/commands.inc.sh
  developer/src/kmc-keyboard/build.sh
  developer/src/kmc-model-info/build.sh
  developer/src/kmc-model/build.sh
  developer/src/kmc-package/build.sh
  developer/src/kmc/build.sh
Labels: developer/, common/, developer/compilers/, core/, common/web/, chore, epic-ldml

#7461 auto: increment master version to 16.0.82
  HISTORY.md
  VERSION.md
Labels: auto

#7188 change(web): rotation polish - OSK reload no longer needed 🍒
  web/source/kmwembedded.ts
  web/source/kmwrotation.ts
  web/source/kmwutils.ts
  web/source/osk/anchoredOskView.ts
  web/source/osk/oskView.ts
Labels: web/, stable, cherry-pick, web/engine/, has-user-test, user-test-failed

#7343 change(web): now utilizes 'inputMode="none"' on supported touch devices 📴
  developer/src/server/src/site/chargrid.js
  web/source/dom/domDefaultOutput.ts
  web/source/dom/domEventHandlers.ts
  web/source/dom/domManager.ts
  web/source/dom/targets/input.ts
  web/source/dom/targets/readme.md
  web/source/dom/targets/touchAlias.ts
  web/source/dom/targets/wrapElement.ts
  web/source/dom/touchAliasElement.ts
  web/source/dom/utils.ts
  web/source/kmwbase.ts
  web/source/kmwnative.ts
  web/source/osk/visualKeyboard.ts
  web/source/tsconfig.dev_resources.json
  web/testing/attachment-api/index.html
  web/tools/recorder/browserDriver.ts
  web/tools/recorder/browserProctor.ts
  web/tools/recorder/recorder_ui_and_stubs.js
  web/unit_tests/cases/attachmentAPI.js
  web/unit_tests/cases/element_interfaces.js
  web/unit_tests/cases/engine.js
  web/unit_tests/cases/events.js
  web/unit_tests/cases/text_selection.js
  web/unit_tests/cases/touch_aliases.js
  web/unit_tests/test_utils.js
Labels: web/, developer/, common/, web/engine/, common/web/, developer/ide/, has-user-test

#7360 chore(web): drops alignInputs, hideInputs 📴
  web/source/kmwbase.ts
  web/source/kmwembedded.ts
  web/source/kmwnative.ts
  web/source/kmwrotation.ts
  web/source/kmwutils.ts
  web/source/osk/oskView.ts
  web/source/osk/visualKeyboard.ts
  web/testing/inline-osk/index.html
Labels: web/, web/engine/, chore

#7462 chore(common): `--debug` standard flag for builder
  resources/builder.inc.sh
Labels: common/, common/resources/, chore

#7459 fix(ios): Allow Full Access enabled to fix ios 16 invisible keyboard
  oem/firstvoices/ios/SWKeyboard/Info.plist
Labels: ios/, oem/, fix, oem/fv/, oem/fv/ios/, has-user-test

#7469 auto: increment master version to 16.0.83
  HISTORY.md
  VERSION.md
Labels: auto

#7468 docs(linux): Update readmes
  docs/settings/README.md
  docs/settings/linux/.devcontainer/Dockerfile
  docs/settings/linux/.devcontainer/devcontainer.json
  linux/README.md
Labels: linux/, docs

#7465 fix(ios): Allow Full Access enabled to fix ios 16 invisible keyboard 🍒
  oem/firstvoices/ios/SWKeyboard/Info.plist
Labels: ios/, stable, cherry-pick, oem/, fix, oem/fv/, oem/fv/ios/, has-user-test

#7480 auto: increment master version to 16.0.84
  HISTORY.md
  VERSION.md
Labels: auto

#7481 auto: increment stable-15.0 version to 15.0.272
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, stable, common/, common/models/, developer/compilers/, common/resources/, auto, common/models/types/, common/models/templates/, common/models/wordbreakers/, common/core/, common/core/web/

#7372 fix(developer): Handle hints and warnings cleanly
  developer/src/common/delphi/lexicalmodels/Keyman.Developer.System.LexicalModelCompile.pas
  developer/src/tike/child/Keyman.Developer.UI.UframeWordlistEditor.pas
  developer/src/tike/child/Keyman.Developer.UI.UfrmModelEditor.pas
  developer/src/tike/child/Keyman.Developer.UI.UfrmWordlistEditor.pas
  developer/src/tike/kmlmc.cmd
  developer/src/tike/main/UframeTextEditor.pas
  developer/src/tike/main/UfrmMain.pas
Labels: developer/, fix, developer/ide/, has-user-test

#7430 fix(developer): Ctrl key to select key was conflicting with shortcuts
  developer/src/tike/child/UfrmKeymanWizard.dfm
  developer/src/tike/child/UfrmKeymanWizard.pas
  developer/src/tike/child/UfrmMDIEditor.pas
  developer/src/tike/child/UfrmOSKEditor.pas
  developer/src/tike/main/UframeOnScreenKeyboardEditor.pas
  developer/src/tike/main/UfrmMain.dfm
  developer/src/tike/main/UfrmMain.pas
Labels: developer/, fix, developer/ide/, has-user-test

#7466 chore(android/engine): Update Keyman references in android-host.js
  android/KMEA/app/src/main/assets/android-host.js
Labels: android/, android/engine/, chore, has-user-test

#7495 auto: increment master version to 16.0.85
  HISTORY.md
  VERSION.md
Labels: auto

#7479 fix(developer): support CLDR sample keyboards 🙀
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  resources/standards-data/ldml-keyboards/techpreview/3.0/fr-t-k0-azerty.xml
  resources/standards-data/ldml-keyboards/techpreview/cldr_info.json
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard.dtd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard.xsd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboardTest.dtd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboardTest.xsd
  resources/standards-data/ldml-keyboards/techpreview/fixup-schema.js
  resources/standards-data/ldml-keyboards/techpreview/ldml-keyboard.schema.json
  resources/standards-data/ldml-keyboards/techpreview/ldml-keyboardtest.schema.json
Labels: developer/, common/, common/resources/, fix, common/web/, epic-ldml

#7494 fix(linux): Fix upload script
  linux/scripts/upload-to-debian.sh
Labels: linux/, fix

#7491 docs(linux): Update sample vscode settings
  docs/settings/linux/c_cpp_properties.json
  docs/settings/linux/extensions.json
  docs/settings/linux/settings.json
Labels: linux/, docs

#7472 fix(android/engine): Dismiss key preview and subkeys on globe action
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
Labels: android/, fix, android/engine/, has-user-test

#7500 refactor(linux): Cleanup whitespace
  linux/ibus-keyman/src/engine.c
Labels: linux/, linux/engine/, refactor

#7499 chore(linux): Improve debug output
  linux/ibus-keyman/src/engine.c
Labels: linux/, linux/engine/, chore

#7505 auto: increment master version to 16.0.86
  HISTORY.md
  VERSION.md
Labels: auto

#7477 chore(resources): update to latest CLDR preview 🙀
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml.ts
  common/web/types/test/fixtures/invalid-conforms-to.xml
  common/web/types/test/fixtures/invalid-structure-per-dtd.xml
  core/src/ldml/C7043_ldml.md
  core/tests/unit/ldml/keyboards/k_001_tiny.xml
  core/tests/unit/ldml/keyboards/k_002_tinyu32.xml
  core/tests/unit/ldml/keyboards/k_003_transform.xml
  developer/src/kmc-keyboard/src/compiler/bksp.ts
  developer/src/kmc-keyboard/src/compiler/compiler.ts
  developer/src/kmc-keyboard/src/compiler/keys.ts
  developer/src/kmc-keyboard/src/compiler/tran.ts
  developer/src/kmc-keyboard/src/compiler/visual-keyboard-compiler.ts
  developer/src/kmc-keyboard/src/compiler/vkey.ts
  developer/src/kmc-keyboard/test/fixtures/basic.xml
  developer/src/kmc-keyboard/test/fixtures/sections/bksp/minimal.xml
  developer/src/kmc-keyboard/test/fixtures/sections/finl/minimal.xml
  developer/src/kmc-keyboard/test/fixtures/sections/keys/hardware.xml
  developer/src/kmc-keyboard/test/fixtures/sections/keys/invalid-hardware-too-many-keys.xml
  developer/src/kmc-keyboard/test/fixtures/sections/keys/invalid-hardware-too-many-rows.xml
  developer/src/kmc-keyboard/test/fixtures/sections/keys/invalid-missing-layer.xml
  developer/src/kmc-keyboard/test/fixtures/sections/keys/invalid-undefined-key.xml
  developer/src/kmc-keyboard/test/fixtures/sections/keys/minimal.xml
  developer/src/kmc-keyboard/test/fixtures/sections/loca/invalid-locale.xml
  developer/src/kmc-keyboard/test/fixtures/sections/loca/minimal.xml
  developer/src/kmc-keyboard/test/fixtures/sections/loca/multiple.xml
  developer/src/kmc-keyboard/test/fixtures/sections/meta/invalid-normalization.xml
  developer/src/kmc-keyboard/test/fixtures/sections/meta/invalid-version-1.0.xml
  developer/src/kmc-keyboard/test/fixtures/sections/meta/invalid-version-v1.0.3.xml
  developer/src/kmc-keyboard/test/fixtures/sections/meta/maximal.xml
  developer/src/kmc-keyboard/test/fixtures/sections/meta/minimal.xml
  developer/src/kmc-keyboard/test/fixtures/sections/name/minimal.xml
  developer/src/kmc-keyboard/test/fixtures/sections/name/multiple.xml
  developer/src/kmc-keyboard/test/fixtures/sections/ordr/minimal.xml
  developer/src/kmc-keyboard/test/fixtures/sections/tran/minimal.xml
  developer/src/kmc-keyboard/test/fixtures/sections/vkey/invalid-from-vkey.xml
  developer/src/kmc-keyboard/test/fixtures/sections/vkey/invalid-repeated-vkey.xml
  developer/src/kmc-keyboard/test/fixtures/sections/vkey/invalid-to-vkey.xml
  developer/src/kmc-keyboard/test/fixtures/sections/vkey/minimal.xml
  developer/src/kmc-keyboard/test/fixtures/sections/vkey/redundant.xml
  developer/src/kmc-keyboard/test/fixtures/sections/vkey/same-target.xml
  developer/src/kmc-keyboard/test/test-bksp.ts
  developer/src/kmc/src/kmc.ts
  resources/standards-data/ldml-keyboards/techpreview/3.0/fr-t-k0-azerty.xml
  resources/standards-data/ldml-keyboards/techpreview/3.0/mt.xml
  resources/standards-data/ldml-keyboards/techpreview/cldr_info.json
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard.dtd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard.xsd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboardTest.dtd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboardTest.xsd
  resources/standards-data/ldml-keyboards/techpreview/fetch-latest-cldr-techpreview.sh
  resources/standards-data/ldml-keyboards/techpreview/fixup-schema.js
  resources/standards-data/ldml-keyboards/techpreview/import/README.md
  resources/standards-data/ldml-keyboards/techpreview/import/keys-Zyyy-punctuation.xml
  resources/standards-data/ldml-keyboards/techpreview/ldml-keyboard.schema.json
  resources/standards-data/ldml-keyboards/techpreview/ldml-keyboardtest.schema.json
  resources/standards-data/ldml-keyboards/techpreview/ldmlKeyboard.xsd
  resources/standards-data/ldml-keyboards/techpreview/test/fr-t-k0-azerty-test.xml
Labels: developer/, common/, developer/compilers/, common/resources/, core/, common/web/, chore, epic-ldml

#7496 chore: merge master into feature-ldml
  .gitignore
  HISTORY.md
  VERSION.md
  android/KMEA/app/src/main/assets/android-host.js
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/KeyboardController.java
  developer/src/common/delphi/lexicalmodels/Keyman.Developer.System.LexicalModelCompile.pas
  developer/src/server/src/site/chargrid.js
  developer/src/server/src/site/test.js
  developer/src/tike/child/Keyman.Developer.UI.UframeWordlistEditor.pas
  developer/src/tike/child/Keyman.Developer.UI.UfrmModelEditor.pas
  developer/src/tike/child/Keyman.Developer.UI.UfrmWordlistEditor.pas
  developer/src/tike/child/UfrmKeymanWizard.dfm
  developer/src/tike/child/UfrmKeymanWizard.pas
  developer/src/tike/child/UfrmMDIEditor.pas
  developer/src/tike/child/UfrmOSKEditor.pas
  developer/src/tike/main/UframeOnScreenKeyboardEditor.pas
  developer/src/tike/main/UframeTextEditor.pas
  developer/src/tike/main/UfrmMain.dfm
  developer/src/tike/main/UfrmMain.pas
  docs/settings/README.md
  docs/settings/linux/.devcontainer/Dockerfile
  docs/settings/linux/.devcontainer/devcontainer.json
  linux/README.md
  oem/firstvoices/ios/SWKeyboard/Info.plist
  resources/build/builder-report.sh
  resources/builder.inc.sh
  web/source/dom/domDefaultOutput.ts
  web/source/dom/domEventHandlers.ts
  web/source/dom/domManager.ts
  web/source/dom/targets/input.ts
  web/source/dom/targets/readme.md
  web/source/dom/targets/touchAlias.ts
  web/source/dom/targets/wrapElement.ts
  web/source/dom/touchAliasElement.ts
  web/source/dom/utils.ts
  web/source/kmwbase.ts
  web/source/kmwembedded.ts
  web/source/kmwnative.ts
  web/source/kmwrotation.ts
  web/source/kmwtypedefs.ts
  web/source/kmwutils.ts
  web/source/osk/oskView.ts
  web/source/osk/visualKeyboard.ts
  web/source/tsconfig.dev_resources.json
  web/testing/attachment-api/index.html
  web/testing/inline-osk/index.html
  web/tools/recorder/browserDriver.ts
  web/tools/recorder/browserProctor.ts
  web/tools/recorder/recorder_ui_and_stubs.js
  web/unit_tests/cases/attachmentAPI.js
  web/unit_tests/cases/element_interfaces.js
  web/unit_tests/cases/engine.js
  web/unit_tests/cases/events.js
  web/unit_tests/cases/text_selection.js
  web/unit_tests/cases/touch_aliases.js
  web/unit_tests/test_utils.js
Labels: web/, android/, developer/, linux/, common/, common/resources/, oem/, android/engine/, web/engine/, developer/ide/, oem/fv/, oem/fv/ios/, chore, docs

#7431 fix(developer): Handle invalid graphics in icon editor
  developer/src/tike/main/UframeBitmapEditor.dfm
  developer/src/tike/main/UframeBitmapEditor.pas
Labels: developer/, fix, developer/ide/, has-user-test

#7470 chore(common): move to new GitHub issue form templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: common/, chore

#7484 change(web): removes unused config, help buttons from OSK
  web/source/osk/layouts/targetedFloatLayout.ts
  web/source/osk/layouts/titleBar.ts
  web/source/osk/oskView.ts
  web/testing/index.html
  web/testing/osk-event-buttons/index.html
  web/testing/osk-event-buttons/oskButtonSrc.js
Labels: web/, web/engine/, has-user-test

#7449 fix(windows): ensure all modifier events go to serialized queue
  windows/src/engine/keyman32/Keyman32.cpp
  windows/src/engine/keyman32/globals.h
  windows/src/engine/keyman32/k32_globals.cpp
  windows/src/engine/keyman32/k32_lowlevelkeyboardhook.cpp
  windows/src/engine/keyman32/serialkeyeventserver.cpp
Labels: windows/, fix, windows/engine/, has-user-test, user-test-failed

#7464 chore(common): automatically run internal dependencies on builder
  resources/build/tests/build-utils-traps.test.sh
  resources/build/tests/builder-deps.test.sh
  resources/builder.inc.sh
Labels: common/, common/resources/, chore

#7511 auto: increment master version to 16.0.87
  HISTORY.md
  VERSION.md
Labels: auto

#7488 fix(web): touch-platform language menu initial scrolling + index scrolling
  web/source/osk/languageMenu.ts
Labels: web/, fix, web/engine/, has-user-test

#7519 auto: increment master version to 16.0.88
  HISTORY.md
  VERSION.md
Labels: auto

#7514 fix(common): ignore deps when formatting help
  resources/builder.inc.sh
Labels: common/, common/resources/, fix

#7501 refactor(linux): Comment unused methods
  linux/ibus-keyman/src/engine.c
Labels: linux/, linux/engine/, refactor

#7502 chore(linux): Rename internal method to `commit_string`
  linux/ibus-keyman/src/engine.c
Labels: linux/, linux/engine/, chore

#7503 chore(linux): call `reset_context` instead of `...focus_in`
  linux/ibus-keyman/src/engine.c
Labels: linux/, linux/engine/, chore

#7508 chore(core): move `DebugLog` into parent folder 🙀
  core/src/debuglog.cpp
  core/src/debuglog.h
  core/src/kmx/kmx_consts.cpp
  core/src/kmx/kmx_debug.cpp
  core/src/kmx/kmx_processevent.h
  core/src/ldml/ldml_processor.cpp
  core/src/meson.build
  linux/ibus-keyman/tests/Makefile.am
Labels: linux/, linux/engine/, core/, chore

#7522 chore(common): Update crowdin strings for Amharic
  android/KMAPro/kMAPro/src/main/res/values-am-rET/strings.xml
  android/KMEA/app/src/main/res/values-am-rET/strings.xml
  ios/engine/KMEI/KeymanEngine/am.lproj/Localizable.strings
  linux/keyman-config/locale/am_ET.po
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/am.lproj/preferences.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/am.lproj/KMInfoWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/am.lproj/Localizable.strings
Labels: android/, ios/, mac/, linux/, common/, android/engine/, android/app/, ios/engine/, linux/config/, chore

#7507 chore(android): Update help whatsnew for 16.0
  android/help/about/whatsnew.md
  android/help/index.md
Labels: android/, chore

#7528 auto: increment master version to 16.0.89
  HISTORY.md
  VERSION.md
Labels: auto

#7504 fix(core): Add missing include files
  core/include/keyman/meson.build
  core/src/meson.build
  linux/debian/tests/README.md
  linux/debian/tests/control
  linux/debian/tests/test_build
Labels: linux/, fix, core/

#7539 feat(windows): Change "None" to "No Hotkey" matching new config
  windows/src/desktop/kmshell/main/UfrmChangeHotkey.dfm
Labels: windows/, feat, windows/config/

#7486 feat(web): keyboard layout spec now allows numeric width, pad, sp
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/keyboard-processor/src/keyboards/defaultLayouts.ts
  web/source/osk/browser/oskSubKey.ts
  web/source/osk/oskBaseKey.ts
  web/source/osk/oskKey.ts
Labels: web/, common/, feat, web/engine/, common/web/, has-user-test

#7525 chore(common): update actions to node16
  .github/workflows/auto-merge-keyman-server-pr.yml
  .github/workflows/crowdin.yml
  .github/workflows/labeler.yml
Labels: common/, chore

#7463 chore(web): KMW dev-tools reorganization, cleanup, script updates 📜
  web/source/build_dev_resources.sh
  web/source/tsconfig.dev_resources.json
  web/tools/build.sh
  web/tools/device-detect/readme.md
  web/tools/device-detect/tsconfig.json
  web/tools/element-wrappers/readme.md
  web/tools/element-wrappers/tsconfig.json
  web/tools/recorder/build.sh
  web/tools/recorder/tsconfig.json
  web/unit_tests/base.conf.js
  web/unit_tests/test.sh
Labels: web/, web/engine/, chore

#7544 fix(web): allow `isChiral()` to accept string name parameter of keyboard
  web/source/kmwbase.ts
Labels: web/, fix, web/engine/

#7543 fix(web): ensures keyboard does not change underneath OSK keystroke
  common/web/input-processor/src/text/inputProcessor.ts
  common/web/keyboard-processor/src/text/keyEvent.ts
  web/source/osk/preProcessor.ts
  web/source/osk/visualKeyboard.ts
Labels: web/, common/, fix, web/engine/, common/web/

#7550 auto: increment master version to 16.0.90
  HISTORY.md
  VERSION.md
Labels: auto

#7545 chore(common): update configure-repo.sh to include pre-commit hook
  configure-repo.sh
Labels: common/, chore

#7498 chore(common): Add crowdin strings for Dutch
  android/KMAPro/kMAPro/src/main/res/values-nl-rNL/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/DisplayLanguages.java
  android/KMEA/app/src/main/res/values-nl-rNL/strings.xml
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/nl.lproj/ResourceInfoView.strings
  ios/engine/KMEI/KeymanEngine/nl.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/nl.lproj/Localizable.stringsdict
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/nl.lproj/Localizable.strings
  linux/keyman-config/locale/nl_NL.po
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/nl.lproj/KMAboutWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/nl.lproj/preferences.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/nl.lproj/KMInfoWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardHelpWindow/nl.lproj/KMKeyboardHelpWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/nl.lproj/Localizable.strings
  mac/Keyman4MacIM/Keyman4MacIM/nl.lproj/MainMenu.strings
  windows/src/desktop/kmshell/locale/nl-NL/strings.xml
  windows/src/desktop/setup/locale/nl-NL/strings.xml
Labels: windows/, android/, ios/, mac/, linux/, common/, android/engine/, android/app/, ios/app/, ios/engine/, linux/config/, windows/config/, chore, has-user-test

#7560 auto: increment master version to 16.0.91
  HISTORY.md
  VERSION.md
Labels: auto

#7530 fix(developer): handle LControl being set by Windows when AltGr pressed
  developer/src/tike/actions/dmActionsKeyboardEditor.dfm
  developer/src/tike/actions/dmActionsKeyboardEditor.pas
  developer/src/tike/child/UfrmDebug.pas
  developer/src/tike/main/UfrmMain.dfm
Labels: developer/, fix, developer/ide/, has-user-test

#7546 chore(windows): convert `wm_keyman_keyevent` and `wm_keyman_modifierevent` to private `WM_USER` messages
  windows/src/engine/keyman32/Keyman32.cpp
  windows/src/engine/keyman32/globals.h
  windows/src/engine/keyman32/k32_dbg.cpp
  windows/src/engine/keyman32/k32_globals.cpp
  windows/src/engine/keyman32/k32_lowlevelkeyboardhook.cpp
  windows/src/engine/keyman32/kmhook_getmessage.cpp
  windows/src/engine/keyman32/serialkeyeventcommon.h
  windows/src/engine/keyman32/serialkeyeventserver.cpp
Labels: windows/, windows/engine/, chore, has-user-test

#7558 chore(common): Update help references from 15.0 to 16.0
  ios/help/about/whatsnew.md
  ios/help/index.md
  linux/help/about/whatsnew.md
  linux/help/index.md
  linux/help/reference/index.md
  mac/help/about/requirements.md
  mac/help/about/whatsnew.md
  mac/help/common/keyboards.md
  mac/help/common/os.md
  mac/help/index.md
  windows/src/desktop/help/about/whatsnew.md
  windows/src/desktop/help/basic/config/options.md
  windows/src/desktop/help/index.md
Labels: windows/, ios/, mac/, linux/, common/, windows/config/, chore

#7520 fix(core): remove `KMN_API` from callback spec
  core/include/keyman/keyboardprocessor.h
Labels: fix, core/

#7537 fix(developer): handle LControl being set by Windows when AltGr pressed 🍒
  windows/src/developer/TIKE/actions/dmActionsKeyboardEditor.dfm
  windows/src/developer/TIKE/actions/dmActionsKeyboardEditor.pas
  windows/src/developer/TIKE/child/UfrmDebug.pas
  windows/src/developer/TIKE/main/UfrmMain.dfm
Labels: developer/, stable, cherry-pick, fix, developer/ide/

#7553 fix(developer): exclude `nocaps` from layer id modifier components
  developer/src/tike/xml/layoutbuilder/constants.js
Labels: developer/, fix, developer/ide/

#7555 fix(android/engine): Dismiss subkeys when hiding keyboard
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
Labels: android/, fix, android/engine/, has-user-test

#7565 auto: increment master version to 16.0.92
  HISTORY.md
  VERSION.md
Labels: auto

#7562 fix(android/engine): Dismiss subkeys when hiding keyboard 🍒
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
Labels: android/, stable, cherry-pick, fix, android/engine/, has-user-test

#7554 fix(android/engine): Dismiss key previews and subkeys on multi-touch 🍒
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
Labels: android/, stable, cherry-pick, fix, android/engine/, has-user-test

#7572 fix(android/engine): Add FLAG_ACTIVITY_NEW_TASK flag for resource update
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/logic/ResourcesUpdateTool.java
Labels: android/, fix, android/engine/

#7571 change(common/models): prevent integration test flakiness due to prediction-search timeouts
  common/predictive-text/index.ts
  common/predictive-text/unit_tests/in_browser/cases/top-level-lmlayer.js
  common/predictive-text/unit_tests/in_browser/cases/worker-dummy-integration.js
  common/predictive-text/unit_tests/in_browser/cases/worker-trie-integration.js
  common/web/lm-worker/src/index.ts
  common/web/lm-worker/src/model-compositor.ts
  common/web/lm-worker/src/worker-interfaces.ts
Labels: common/, common/web/

#7573 chore: make git pre-commit hook executable
  resources/git-hooks/pre-commit
Labels: common/, common/resources/, chore

#7516 fix(web): bulk renderer update
  web/bulk_rendering/README.md
  web/bulk_rendering/renderer_core.ts
Labels: web/, fix

#7575 auto: increment master version to 16.0.93
  HISTORY.md
  VERSION.md
Labels: auto

#7206 feat(windows): configuration UI polish
  windows/src/desktop/kmshell/main/UfrmMain.dfm
  windows/src/desktop/kmshell/xml/config.css
  windows/src/desktop/kmshell/xml/config.js
  windows/src/desktop/kmshell/xml/elements.xsl
  windows/src/desktop/kmshell/xml/keyman_keyboardlist.xsl
  windows/src/desktop/kmshell/xml/menu-frame.js
  windows/src/desktop/kmshell/xml/shield.png
  windows/src/desktop/kmshell/xml/strings.xml
Labels: windows/, feat, windows/config/, has-user-test

#7577 chore: move to 17.0-alpha
  HISTORY.md
  VERSION.md
  android/help/about/whatsnew.md
  android/help/index.md
  ios/help/about/whatsnew.md
  ios/help/index.md
  linux/help/about/whatsnew.md
  linux/help/index.md
  mac/help/about/whatsnew.md
  mac/help/index.md
  windows/src/desktop/help/about/whatsnew.md
  windows/src/desktop/help/index.md
Labels: windows/, android/, ios/, mac/, linux/, windows/config/, chore

#7578 auto: increment beta version to 16.0.95
  HISTORY.md
  VERSION.md
Labels: auto

#7579 auto: increment master version to 17.0.2
  HISTORY.md
  VERSION.md
Labels: auto
