Repository keymanapp/keyman, pull requests merged in 2022-12, with the labels that each got.

#7855 auto: increment stable-15.0 version to 15.0.275
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, stable, common/, common/models/, developer/compilers/, common/resources/, auto, common/models/types/, common/models/templates/, common/models/wordbreakers/, common/core/, common/core/web/

#7859 chore(linux): Update debian changelog
  linux/debian/changelog
Labels: linux/, stable, chore

#7864 auto: increment beta version to 16.0.119
  HISTORY.md
  VERSION.md
Labels: auto

#7867 chore: Change platform advocates
  docs/CODEOWNERS
Labels: chore, docs

#7869 auto: increment beta version to 16.0.120
  HISTORY.md
  VERSION.md
Labels: auto

#7868 docs(linux): Move Linux documentation
  docs/linux/README.md
  docs/linux/ibus-keyman.md
  docs/linux/keyman-config.md
  docs/linux/packaging.md
  linux/README.md
  linux/ibus-keyman/README.md
  linux/keyman-config/README.md
Labels: linux/, linux/config/, linux/engine/, docs

#7873 chore(linux): Remove building for Bionic
  linux/Jenkinsfile
  linux/scripts/cow.sh
  linux/scripts/launchpad.sh
Labels: linux/, chore

#7874 chore(linux): Remove some shellcheck warnings
  linux/scripts/cow.sh
Labels: linux/, chore

#7875 chore(linux): Improve package build
  linux/ibus-keyman/src/test/run-tests.sh
Labels: linux/, linux/engine/, chore

#7877 auto: increment beta version to 16.0.121
  HISTORY.md
  VERSION.md
Labels: auto

#7878 auto: increment master version to 17.0.15
  HISTORY.md
  VERSION.md
Labels: auto

#7876 chore(linux): Update vscode settings for Linux
  docs/settings/linux/c_cpp_properties.json
  docs/settings/linux/extensions.json
  docs/settings/linux/settings.json
  docs/settings/linux/tasks.json
Labels: linux/, chore, docs

#7883 auto: increment master version to 17.0.16
  HISTORY.md
  VERSION.md
Labels: auto

#7813 refactor(linux): Update ibusimcontext.c
  linux/ibus-keyman/tests/ibusimcontext.c
Labels: linux/, linux/engine/, refactor, docs

#7886 chore(linux): Fix `make install`
  linux/keyman-config/setup.py
Labels: linux/, linux/config/, chore

#7888 fix(developer): kmc-model esbuild node_modules path 🙀
  developer/src/kmc-model/package.json
Labels: developer/, developer/compilers/, fix, epic-ldml

#7892 auto: increment beta version to 16.0.122
  HISTORY.md
  VERSION.md
Labels: auto

#7898 fix(windows): modify disable keyboard display
  windows/src/desktop/kmshell/xml/config.css
  windows/src/desktop/kmshell/xml/config.js
  windows/src/desktop/kmshell/xml/elements.xsl
  windows/src/desktop/kmshell/xml/keyman_keyboardlist.xsl
Labels: windows/, fix, windows/config/, has-user-test

#7887 fix(developer): invalid charmap cell selection when updating to empty search result
  common/windows/delphi/charmap/UfrmCharacterMapNew.pas
Labels: developer/, common/, fix

#7904 auto: increment beta version to 16.0.123
  HISTORY.md
  VERSION.md
Labels: auto

#7885 chore: merge beta to master
  HISTORY.md
  VERSION.md
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/res/menu-land/main.xml
  android/KMAPro/kMAPro/src/main/res/menu-sw600dp/main.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/CloudDataJsonUtil.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/logic/ResourcesUpdateTool.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/cloud/CloudDataJsonUtilTest.java
  android/help/about/whatsnew.md
  common/windows/delphi/general/utilhttp.pas
  common/windows/delphi/web/Keyman.System.HttpServer.Base.pas
  developer/src/tike/http/Keyman.Developer.System.HttpServer.App.pas
  developer/src/tike/http/Keyman.Developer.System.HttpServer.AppSource.pas
  developer/src/tike/main/mrulist.pas
  developer/src/tike/update/Keyman.Developer.UI.TikeOnlineUpdateCheck.pas
  docs/CODEOWNERS
  linux/debian/changelog
  linux/ibus-keyman/src/test/run-tests.sh
  linux/scripts/upload-to-debian.sh
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMBinaryFileFormat.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  web/source/osk/languageMenu.ts
  web/source/resources/osk/kmwosk.css
Labels: web/, android/, developer/, mac/, linux/, common/, android/engine/, android/app/, linux/engine/, web/engine/, developer/ide/, chore, docs

#7897 chore(android): Update Gradle dependencies; targetSDKVersion to 33
  android/KMAPro/build.gradle
  android/KMAPro/gradle/wrapper/gradle-wrapper.properties
  android/KMAPro/kMAPro/build.gradle
  android/KMEA/app/build.gradle
  android/KMEA/app/src/main/AndroidManifest.xml
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/FileUtilsTest.java
  android/KMEA/build.gradle
  android/KMEA/gradle/wrapper/gradle-wrapper.properties
  android/README.md
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample1/build.gradle
  android/Samples/KMSample1/gradle/wrapper/gradle-wrapper.properties
  android/Samples/KMSample2/app/build.gradle
  android/Samples/KMSample2/build.gradle
  android/Samples/KMSample2/gradle/wrapper/gradle-wrapper.properties
  android/Tests/KeyboardHarness/app/build.gradle
  android/Tests/KeyboardHarness/build.gradle
  android/Tests/KeyboardHarness/gradle/wrapper/gradle-wrapper.properties
  android/Tests/keycode/.idea/.gitignore
  android/Tests/keycode/app/build.gradle
  android/Tests/keycode/app/src/main/AndroidManifest.xml
  android/Tests/keycode/build.gradle
  android/Tests/keycode/gradle/wrapper/gradle-wrapper.properties
  oem/firstvoices/android/app/build.gradle
  oem/firstvoices/android/build.gradle
  oem/firstvoices/android/gradle/wrapper/gradle-wrapper.properties
Labels: android/, oem/, android/engine/, android/app/, oem/fv/, oem/fv/android/, chore, has-user-test, android/samples/

#7912 auto: increment master version to 17.0.18
  HISTORY.md
  VERSION.md
Labels: auto

#7910 chore(common): Fix shellcheck warnings
  resources/build/run-required-test-builds.sh
  resources/build/trigger-builds.inc.sh
Labels: common/, common/resources/, chore

#7919 auto: increment master version to 17.0.19
  HISTORY.md
  VERSION.md
Labels: auto

#7917 fix(linux): Fix dependency of ibus-keyman 🚑
  linux/debian/libkmnkbp0-0.symbols
Labels: linux/, fix, user-test-required, has-user-test

#7918 fix(linux): Fix dependency of ibus-keyman 🚑 🍒
  linux/debian/libkmnkbp0-0.symbols
Labels: linux/, cherry-pick, fix

#7921 auto: increment beta version to 16.0.124
  HISTORY.md
  VERSION.md
Labels: auto

#7922 auto: increment master version to 17.0.20
  HISTORY.md
  VERSION.md
Labels: auto

#7908 fix(oem/fv/android): Cleanup version title
  oem/firstvoices/android/app/src/main/res/values/strings.xml
Labels: android/, oem/, fix, oem/fv/, oem/fv/android/, has-user-test

#7923 auto: increment beta version to 16.0.125
  HISTORY.md
  VERSION.md
Labels: auto

#7901 chore(android/samples): Remove Sentry dependencies
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeyboardSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/DependencyUtil.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/KMLog.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/QRCodeUtil.java
  android/README.md
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample1/build.gradle
  android/Samples/KMSample2/app/build.gradle
  android/Samples/KMSample2/build.gradle
  android/Tests/KeyboardHarness/app/build.gradle
  android/Tests/KeyboardHarness/build.gradle
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/SystemKeyboard.java
Labels: android/, oem/, android/engine/, android/app/, oem/fv/, oem/fv/android/, chore, has-user-test, android/samples/

#7900 fix(windows): no languages warning source changed
  windows/src/desktop/kmshell/xml/keyman_keyboardlist.xsl
Labels: windows/, fix, windows/config/, has-user-test

#7925 chore: Revert "chore(common): Fix shellcheck warnings"
  resources/build/run-required-test-builds.sh
  resources/build/trigger-builds.inc.sh
Labels: common/, common/resources/, chore

#7930 auto: increment beta version to 16.0.126
  HISTORY.md
  VERSION.md
Labels: auto

#7931 auto: increment master version to 17.0.21
  HISTORY.md
  VERSION.md
Labels: auto

#7932 fix(windows): shutdown fix masked modal result 🔥
  windows/src/desktop/kmshell/main/UfrmWebContainer.pas
Labels: windows/, fix, windows/config/, has-user-test

#7933 fix(windows): shutdown fix masked modal result 🔥 🍒
  windows/src/desktop/kmshell/main/UfrmWebContainer.pas
Labels: windows/, cherry-pick, fix, windows/config/, has-user-test

#7936 auto: increment beta version to 16.0.127
  HISTORY.md
  VERSION.md
Labels: auto

#7942 auto: increment master version to 17.0.22
  HISTORY.md
  VERSION.md
Labels: auto

#7941 fix(oem/fv/android): Fix keyboard version title (again)
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/FVKeyboardSettingsActivity.java
  oem/firstvoices/android/app/src/main/res/values/strings.xml
Labels: android/, oem/, fix, oem/fv/, oem/fv/android/, has-user-test

#7909 fix(oem/fv/android): Add view permission of online help
  oem/firstvoices/android/app/src/main/AndroidManifest.xml
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/FVShared.java
Labels: android/, oem/, fix, oem/fv/, oem/fv/android/, has-user-test

#7935 fix(windows): modifer event is always serialized
  windows/src/engine/keyman32/k32_lowlevelkeyboardhook.cpp
Labels: windows/, fix, windows/engine/, has-user-test

#7943 auto: increment beta version to 16.0.128
  HISTORY.md
  VERSION.md
Labels: auto

#7927 fix(developer): force ES3 code generation for LMs
  developer/src/kmlmc/source/lexical-model-compiler/lexical-model-compiler.ts
  developer/src/kmlmc/source/util/util.ts
Labels: developer/, fix

#7944 auto: increment beta version to 16.0.129
  HISTORY.md
  VERSION.md
Labels: auto

#7945 chore(core): feature-ldml merge from master, again 🙀
  HISTORY.md
  VERSION.md
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeyboardSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardInfoActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/DependencyUtil.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/KMLog.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/QRCodeUtil.java
  android/README.md
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample1/build.gradle
  android/Samples/KMSample2/app/build.gradle
  android/Samples/KMSample2/build.gradle
  android/Tests/KeyboardHarness/app/build.gradle
  android/Tests/KeyboardHarness/build.gradle
  linux/debian/libkmnkbp0-0.symbols
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/SystemKeyboard.java
  windows/src/desktop/kmshell/main/UfrmWebContainer.pas
Labels: windows/, android/, linux/, oem/, android/engine/, android/app/, core/, oem/fv/, oem/fv/android/, windows/config/, chore, epic-ldml, android/samples/
