Repository keymanapp/keyman, pull requests merged in 2022-08, with the labels that each got.

#7003 fix(developer): increase maximum file size for server 🎾
  developer/src/server/src/index.ts
Labels: developer/, fix

#7004 fix(developer): increase maximum file size for server 🎾 🍒
  developer/server/src/index.ts
Labels: developer/, cherry-pick, fix

#7015 fix(developer): rebuilding a model would not refresh it in server 🎾
  developer/src/server/package.json
  developer/src/server/src/handlers/api/debugobject/get.ts
  developer/src/server/src/handlers/api/debugobject/unregister.ts
Labels: developer/, fix

#7016 fix(developer): rebuilding a model would not refresh it in server 🎾 🍒
  developer/server/package.json
  developer/server/src/handlers/api/debugobject/get.ts
  developer/server/src/handlers/api/debugobject/unregister.ts
Labels: developer/, cherry-pick, fix

#7022 chore(common): GitHub issue template tweaks
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: common/, chore

#7017 chore(linux): Add script to upload to debian 🍒
  docs/linux-packaging.md
  linux/scripts/upload-to-debian.sh
  resources/build/build-utils.sh
  resources/shellHelperFunctions.sh
Labels: linux/, cherry-pick, common/, common/resources/, chore

#7026 auto: increment master version to 16.0.43
  HISTORY.md
  VERSION.md
Labels: auto

#7024 chore(web): centralizes web-based modules' CI unit test configurations 🤝
  common/predictive-text/unit_tests/in_browser/CI.conf.js
  common/predictive-text/unit_tests/in_browser/base.conf.js
  common/predictive-text/unit_tests/in_browser/cases/test-config.js
  common/predictive-text/unit_tests/in_browser/cases/top-level-lmlayer.js
  common/predictive-text/unit_tests/in_browser/cases/worker-dummy-integration.js
  common/predictive-text/unit_tests/in_browser/cases/worker-trie-integration.js
  common/predictive-text/unit_tests/in_browser/cases/worker.js
  common/predictive-text/unit_tests/in_browser/helpers.js
  common/test/resources/karma-browserstack-config.js
  common/test/resources/timeout-adapter.js
  web/unit_tests/CI.conf.js
  web/unit_tests/base.conf.js
  web/unit_tests/cases/attachmentAPI.js
  web/unit_tests/cases/basics.js
  web/unit_tests/cases/element_interfaces.js
  web/unit_tests/cases/engine.js
  web/unit_tests/cases/engine_chirality.js
  web/unit_tests/cases/events.js
  web/unit_tests/cases/target_mocks.js
  web/unit_tests/cases/test_config.js
  web/unit_tests/cases/text_selection.js
  web/unit_tests/cases/touch_aliases.js
  web/unit_tests/test_init_check.js
  web/unit_tests/test_utils.js
Labels: web/, common/, common/web/, chore

#7027 refactor(web): converts test_utils funcs to Promise use 🤝
  web/unit_tests/cases/attachmentAPI.js
  web/unit_tests/cases/basics.js
  web/unit_tests/cases/engine.js
  web/unit_tests/cases/engine_chirality.js
  web/unit_tests/cases/events.js
  web/unit_tests/cases/text_selection.js
  web/unit_tests/test_utils.js
Labels: web/, refactor

#7023 chore(core): get wasm core building again
  core/build.sh
  core/src/kmx/kmx_debugger.cpp
  core/tests/unit/kmnkbd/debug_api.cpp
  core/tests/unit/kmnkbd/meson.build
  core/tests/unit/kmx/meson.build
  docs/build/macos.md
  docs/build/windows.md
  resources/build/trigger-definitions.inc.sh
Labels: common/, common/resources/, chore, common/core/

#7018 chore(common): build-utils.sh minor tweaks
  common/web/keyman-version/build.sh
  core/build.sh
  core/gettier.sh
  mac/setup/build.sh
  resources/build/build-utils.sh
  resources/build/build-utils.test.sh
  resources/shellHelperFunctions.sh
Labels: mac/, common/, common/resources/, mac/engine/, common/web/, chore, common/core/

#7034 fix(developer): stack overflow when compiling non-web keyboard 🎾 🍒
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.kmnProjectFileUI.pas
Labels: developer/, cherry-pick, fix, developer/ide/

#7035 fix(developer): prevent crash attempting to compile ansi keyboard 🎾 🍒
  windows/src/developer/TIKE/compile/CompileKeymanWeb.pas
Labels: developer/, cherry-pick, fix, developer/ide/

#7038 auto: increment stable-15.0 version to 15.0.269
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/models/types/, common/models/templates/, common/models/wordbreakers/, common/core/, common/core/web/

#6787 change(web): rotation polish - OSK reload no longer needed ⬅️
  web/source/kmwembedded.ts
  web/source/kmwrotation.ts
  web/source/osk/anchoredOskView.ts
  web/source/osk/oskView.ts
Labels: web/, web/engine/, has-user-test, user-test-failed

#6979 change(web): updates mobile screen dimension detection code ⬅️
  web/source/kmwutils.ts
  web/source/osk/anchoredOskView.ts
Labels: web/, web/engine/, has-user-test

#7039 auto: increment master version to 16.0.44
  HISTORY.md
  VERSION.md
Labels: auto

#7040 chore(linux): Update debian changelog
  linux/debian/changelog
Labels: linux/, chore

#7041 chore(linux): Update debian changelog 🍒
  linux/debian/changelog
Labels: linux/, cherry-pick, chore

#7049 chore(common): add VERSION_160 to headers 🙀
  common/windows/cpp/include/legacy_kmx_file.h
  common/windows/delphi/keyboards/kmxfileconsts.pas
  core/src/kmx/kmx_file.h
  developer/src/kmcmpdll/Compiler.cpp
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMBinaryFileFormat.h
Labels: developer/, mac/, common/, mac/engine/, chore, common/core/

#7050 chore(common): add KF_KMXPLUS dwFlag value 🙀
  common/windows/cpp/include/legacy_kmx_file.h
  common/windows/delphi/keyboards/kmxfile.pas
  core/src/kmx/kmx_file.h
Labels: common/, chore, common/core/

#7048 feat(common): LDML keyboard_processor infrastructure 🙀
  core/src/km_kbp_keyboard_api.cpp
  core/src/kmx/kmx_file.h
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_processor.hpp
  core/src/meson.build
  core/tests/unit/ldml/000_null_keyboard.kmx
  core/tests/unit/ldml/000_null_keyboard.xml
  core/tests/unit/ldml/README.md
  core/tests/unit/ldml/kmp.json.in
  core/tests/unit/ldml/ldml.cpp
  core/tests/unit/ldml/ldml_test_source.cpp
  core/tests/unit/ldml/ldml_test_source.hpp
  core/tests/unit/ldml/meson.build
  core/tests/unit/ldml/template/keyboard.kmn.in
  core/tests/unit/ldml/template/keyboard.kpj.in
  core/tests/unit/ldml/template/keyboard.kps.in
  core/tests/unit/meson.build
Labels: common/, feat, epic-ldml, common/core/

#7053 auto: increment master version to 16.0.45
  HISTORY.md
  VERSION.md
Labels: auto

#7051 feat(linux): Replace deprecated distutils
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/km-package-install
  linux/keyman-config/tests/test_uninstall_kmp.py
Labels: linux/, feat, linux/config/, has-user-test

#7052 feat(linux): Replace deprecated distutils :cherries:
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/km-package-install
Labels: linux/, cherry-pick, feat, linux/config/

#7056 chore(linux): Adjust Linux source package to restructured code
  linux/scripts/dist.sh
Labels: linux/, chore

#7057 auto: increment master version to 16.0.46
  HISTORY.md
  VERSION.md
Labels: auto

#7055 feat(core): constant generator between core and developer 🙀
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/include/ldml/ldml-const-builder.ts
  core/include/ldml/tsconfig.json
  core/src/ldml/ldml_processor.cpp
  core/tools/ldml-const-builder/build.sh
Labels: common/, feat, common/core/

#7065 docs(core): cleanup in keyboardprocessor.h
  core/include/keyman/keyboardprocessor.h
Labels: common/, docs, common/core/

#7070 auto: increment master version to 16.0.47
  HISTORY.md
  VERSION.md
Labels: auto

#7062 chore(core): refactor kmx_file.h to common 🚑
  common/include/km_types.h
  common/include/kmx_file.h
  common/web/keyboard-processor/src/text/codes.ts
  common/windows/cpp/include/legacy_kmx_file.h
  core/include/keyman/keyboardprocessor.h
  core/include/keyman/keyboardprocessor_bits.h
  core/include/meson.build
  core/meson.build
  core/src/kmx/kmx_base.h
  core/src/kmx/kmx_processevent.h
  core/src/meson.build
  core/tests/unit/kmnkbd/meson.build
  core/tests/unit/kmnkbd/test_kmx_xstring.cpp
  docs/settings/linux/c_cpp_properties.json
  docs/settings/linux/tasks.json
  linux/debian/rules
  linux/ibus-keyman/README.md
  linux/ibus-keyman/tests/Makefile.am
  linux/scripts/build.sh
  linux/scripts/dist.sh
  windows/src/engine/keyman32/Keyman32.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj
Labels: windows/, linux/, common/, linux/engine/, common/web/, windows/engine/, chore, common/core/

#7031 fix(developer): stack overflow when compiling non-web keyboard 🎾
  developer/src/tike/project/Keyman.Developer.UI.Project.kmnProjectFileUI.pas
Labels: developer/, fix, has-user-test

#7033 fix(developer): prevent crash attempting to compile ansi keyboard 🎾
  developer/src/tike/compile/CompileKeymanWeb.pas
Labels: developer/, fix, has-user-test

#7060 chore(linux): Refactor `jenkins.sh`
  linux/scripts/jenkins.sh
Labels: linux/, chore

#7013 fix(developer): compiler emitting garbage for readonly groups 🎾
  developer/src/tike/compile/CompileKeymanWeb.pas
Labels: developer/, fix

#7014 fix(developer): compiler emitting garbage for readonly groups 🎾 🍒
  windows/src/developer/TIKE/compile/CompileKeymanWeb.pas
Labels: developer/, cherry-pick, fix, developer/ide/

#7073 auto: increment master version to 16.0.48
  HISTORY.md
  VERSION.md
Labels: auto

#7036 fix(web): button, float init timer cleanup
  web/source/kmwuibutton.ts
  web/source/kmwuifloat.ts
  web/source/kmwuitoolbar.ts
Labels: web/, fix, web/engine/, web/ui/

#6970 feat(web): Gesture Recognizer unit testing 🐵
  common/predictive-text/package.json
  common/test/resources/karma-browserstack-config.js
  common/web/gesture-recognizer/build.sh
  common/web/gesture-recognizer/package.json
  common/web/gesture-recognizer/src/gestureRecognizer.ts
  common/web/gesture-recognizer/src/mouseEventEngine.ts
  common/web/gesture-recognizer/src/test/auto/browser/CI.conf.js
  common/web/gesture-recognizer/src/test/auto/browser/base.conf.js
  common/web/gesture-recognizer/src/test/auto/browser/cases/canary.js
  common/web/gesture-recognizer/src/test/auto/browser/cases/other.js
  common/web/gesture-recognizer/src/test/auto/browser/cases/recordedCoordSequences.js
  common/web/gesture-recognizer/src/test/auto/browser/manual.conf.js
  common/web/gesture-recognizer/src/test/resources/json/basicMultitouch.json
  common/web/gesture-recognizer/src/test/resources/json/canaryRecording.json
  common/web/gesture-recognizer/src/test/resources/json/desktopRoamAndReturn.json
  common/web/gesture-recognizer/src/test/resources/json/embeddedBorderCancel.json
  common/web/gesture-recognizer/src/test/resources/json/hardBorderCancel.json
  common/web/gesture-recognizer/src/test/resources/json/mobileProximityApproach.json
  common/web/gesture-recognizer/src/test/resources/json/mobileSafeZoneCancel.json
  common/web/gesture-recognizer/src/test/resources/json/popupLongRoamingEnd.json
  common/web/gesture-recognizer/src/test/resources/json/popupSafePersistence.json
  common/web/gesture-recognizer/src/test/resources/json/popupShimCancel.json
  common/web/gesture-recognizer/src/test/test.sh
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/fixtureLayoutConfiguration.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputSequenceSimulator.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/sequenceRecorder.ts
  common/web/gesture-recognizer/src/touchEventEngine.ts
  common/web/lm-worker/package.json
  package-lock.json
  web/unit_tests/test.sh
Labels: web/, common/, feat, common/web/

#7066 feat(core): add event_flags to process_event #7046 🙀
  core/include/keyman/keyboardprocessor.h
  core/python/keyman/keyboardprocessor/_api.py
  core/python/keyman/keyboardprocessor/api.py
  core/src/km_kbp_processevent_api.cpp
  core/src/kmx/kmx_processor.cpp
  core/src/kmx/kmx_processor.hpp
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_processor.hpp
  core/src/mock/mock_processor.cpp
  core/src/mock/mock_processor.hpp
  core/src/processor.hpp
  core/tests/unit/kmnkbd/debug_api.cpp
  core/tests/unit/kmnkbd/state_api.cpp
  core/tests/unit/kmx/kmx.cpp
  core/tests/unit/kmx/kmx_imx.cpp
  core/tests/unit/ldml/ldml.cpp
  developer/src/tike/child/UfrmDebug.pas
  developer/src/tike/main/Keyman.System.KeymanCore.pas
  developer/src/tike/main/Keyman.System.VisualKeyboardImportKMX.pas
  linux/ibus-keyman/src/engine.c
  windows/src/engine/keyman32/kmprocess.cpp
Labels: windows/, developer/, linux/, common/, feat, linux/engine/, windows/engine/, common/core/

#7071 feat(core): add sample file, update union #5015 🙀
  core/src/kmx/kmx_file.h
  core/tests/unit/ldml/001_tiny.kmx
  core/tests/unit/ldml/001_tiny.xml
  resources/standards-data/ldml-keyboards/readme.md
  resources/standards-data/ldml-keyboards/techpreview/ldmlKeyboard.dtd
  resources/standards-data/ldml-keyboards/techpreview/readme.md
Labels: developer/, common/, common/resources/, feat, common/core/

#7076 auto: increment master version to 16.0.49
  HISTORY.md
  VERSION.md
Labels: auto

#7077 fix: remove saving and restoring context kbd options
  windows/src/engine/keyman32/appint/aiTIP.cpp
Labels: windows/, fix, windows/engine/, has-user-test

#7095 auto: increment master version to 16.0.50
  HISTORY.md
  VERSION.md
Labels: auto

#7083 feat(core): build out ldml structures / initial scaffolding implementation 🙀
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/include/ldml/ldml-const-builder.ts
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/C7043_ldml.md
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_processor.hpp
  core/src/meson.build
  core/tests/unit/ldml/001_tiny.kmx
  core/tests/unit/ldml/meson.build
  core/tests/unit/ldml/test_kmx_plus.cpp
Labels: common/, feat, common/core/

#7082 feat(core): augment unit tests for ldml 🙀
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/include/ldml/ldml-const-builder.ts
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/C7043_ldml.md
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_processor.hpp
  core/src/meson.build
  core/tests/unit/ldml/001_tiny.kmx
  core/tests/unit/ldml/001_tiny.xml
  core/tests/unit/ldml/meson.build
  core/tests/unit/ldml/test_kmx_plus.cpp
Labels: common/, feat, common/core/

#7094 chore(core): Remove obsolete python keyboardprocessor
  core/python/keyman/keyboardprocessor/_api.py
  core/python/keyman/keyboardprocessor/api.py
Labels: common/, chore, common/core/

#7104 chore: merge master into feature-ldml
  HISTORY.md
  VERSION.md
  common/include/km_types.h
  common/include/kmx_file.h
  common/web/keyboard-processor/src/text/codes.ts
  common/windows/cpp/include/legacy_kmx_file.h
  core/include/keyman/keyboardprocessor.h
  core/include/keyman/keyboardprocessor_bits.h
  core/include/meson.build
  core/meson.build
  core/python/keyman/keyboardprocessor/_api.py
  core/python/keyman/keyboardprocessor/api.py
  core/src/kmx/kmx_base.h
  core/src/kmx/kmx_processevent.h
  core/src/meson.build
  core/tests/unit/kmnkbd/meson.build
  core/tests/unit/kmnkbd/test_kmx_xstring.cpp
  developer/src/tike/compile/CompileKeymanWeb.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.kmnProjectFileUI.pas
  docs/settings/linux/c_cpp_properties.json
  docs/settings/linux/tasks.json
  linux/debian/changelog
  linux/debian/rules
  linux/ibus-keyman/README.md
  linux/ibus-keyman/tests/Makefile.am
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/km-package-install
  linux/keyman-config/tests/test_uninstall_kmp.py
  linux/scripts/build.sh
  linux/scripts/dist.sh
  linux/scripts/jenkins.sh
  package-lock.json
  resources/build/version/package.json
  web/source/kmwuibutton.ts
  web/source/kmwuifloat.ts
  web/source/kmwuitoolbar.ts
  windows/src/engine/keyman32/Keyman32.vcxproj
  windows/src/engine/keyman32/appint/aiTIP.cpp
  windows/src/engine/keyman64/keyman64.vcxproj
Labels: developer/, linux/, common/, linux/config/, linux/engine/, common/web/, chore, common/core/

#7105 auto: increment master version to 16.0.51
  HISTORY.md
  VERSION.md
Labels: auto

#7001 fix(android): verify browser before starting activity
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KMPBrowserActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeyboardSettingsActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardInfoActivity.java
  android/KMEA/app/src/main/res/values/strings.xml
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/FVShared.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/MainActivity.java
  oem/firstvoices/android/app/src/main/res/values/strings.xml
Labels: android/, oem/, fix, android/engine/, android/app/, oem/fv/, oem/fv/android/

#7096 chore: Change platform advocates per discussion
  docs/CODEOWNERS
Labels: common/, chore

#7089 fix(windows): Add invalidate context action to non-updatable parse
  windows/src/engine/keyman32/kmprocess.cpp
  windows/src/engine/keyman32/kmprocessactions.cpp
  windows/src/engine/keyman32/kmprocessactions.h
Labels: windows/, fix, windows/engine/, has-user-test

#7101 feat(developer): LDML keyboard compiler - infrastructure 🙀
  developer/src/.gitignore
  developer/src/Defines.mak
  developer/src/Makefile
  developer/src/inst/Makefile
  developer/src/inst/download.in.mak
  developer/src/inst/kmdev.wxs
  developer/src/inst/node/kmldmlc.cmd
  developer/src/kmldmlc/.gitignore
  developer/src/kmldmlc/Makefile
  developer/src/kmldmlc/README.md
  developer/src/kmldmlc/build.sh
  developer/src/kmldmlc/bundle.inc.sh
  developer/src/kmldmlc/package.json
  developer/src/kmldmlc/src/keyman/ldmlkeyboard/compiler.ts
  developer/src/kmldmlc/src/kmldmlc.ts
  developer/src/kmldmlc/tsconfig.json
  resources/build/build-utils.sh
Labels: developer/, common/, common/resources/, feat

#7103 feat(common): add parameter variable support to `builder_` functions
  resources/build/build-utils.sh
  resources/build/build-utils.test.sh
Labels: common/, common/resources/, feat

#7100 fix(core): ldml: remove 0-length arrays 🙀
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/include/ldml/ldml-const-builder.ts
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/ldml_processor.cpp
  core/tests/unit/ldml/001_tiny.kmx
Labels: common/, fix, common/core/

#7111 chore: merge master into feature-ldml
  HISTORY.md
  VERSION.md
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KMPBrowserActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KeyboardSettingsActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardInfoActivity.java
  android/KMEA/app/src/main/res/values/strings.xml
  docs/CODEOWNERS
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/FVShared.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/MainActivity.java
  oem/firstvoices/android/app/src/main/res/values/strings.xml
  resources/build/build-utils.sh
  resources/build/build-utils.test.sh
  windows/src/engine/keyman32/kmprocess.cpp
  windows/src/engine/keyman32/kmprocessactions.cpp
  windows/src/engine/keyman32/kmprocessactions.h
Labels: windows/, android/, common/, common/resources/, oem/, android/engine/, android/app/, oem/fv/, oem/fv/android/, windows/engine/, chore

#7112 Revert "feat(core): turn @keymanapp/ldml-keyboard-constants into a module 🙀"
  core/include/ldml/.gitignore
  core/include/ldml/package.json
  core/include/ldml/tsconfig.build.json
  core/include/ldml/tsconfig.json
  core/tools/ldml-const-builder/build.sh
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus.ts
  developer/src/kmldmlc/tsconfig.json
  package-lock.json
  package.json
Labels: user-test-missing

#7114 chore: Change platform advocates per discussion 🍒
  docs/CODEOWNERS
Labels: cherry-pick, chore

#7107 fix(windows): remove saving and restoring context kbd options 🍒
  windows/src/engine/keyman32/appint/aiTIP.cpp
Labels: windows/, fix, windows/engine/

#7108 fix(windows): Add invalidate context action to non-updatable parse 🍒
  windows/src/engine/keyman32/kmprocess.cpp
  windows/src/engine/keyman32/kmprocessactions.cpp
  windows/src/engine/keyman32/kmprocessactions.h
Labels: windows/, fix, windows/engine/

#7115 auto: increment master version to 16.0.52
  HISTORY.md
  VERSION.md
Labels: auto

#7116 fix(core): fixes for kmx_file rearrangement 🙀
  common/include/km_types.h
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/ldml_processor.cpp
  core/tests/unit/ldml/test_kmx_plus.cpp
Labels: common/, fix, common/core/

#7124 feat(core): ldml: validator for kmxplus 🙀
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_processor.hpp
  core/tests/unit/ldml/002_null_invalid.xml
  core/tests/unit/ldml/ldml.cpp
  core/tests/unit/ldml/meson.build
Labels: common/, feat, common/core/

#7125 feat(core): ldml: padding for vkey and loca 🙀
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/C7043_ldml.md
  core/tests/unit/ldml/000_null_keyboard.kmx
  core/tests/unit/ldml/001_tiny.kmx
Labels: common/, feat, common/core/

#7106 feat(developer): groundwork - kmx file structures 🙀
  developer/src/kmldmlc/package.json
  developer/src/kmldmlc/src/keyman/kmx/kmx-builder.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx.ts
  developer/src/kmldmlc/src/keyman/ldmlkeyboard/compiler.ts
  developer/src/kmldmlc/src/kmldmlc.ts
  developer/src/kmldmlc/src/restructure.d.ts
  package-lock.json
  package.json
Labels: developer/, feat

#7109 feat(developer): LDML compiler kmx-builder 🙀
  developer/src/kmldmlc/package.json
  developer/src/kmldmlc/src/keyman/kmx/kmx-builder.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx.ts
  developer/src/kmldmlc/src/keyman/ldmlkeyboard/compiler.ts
  package-lock.json
Labels: developer/, common/, common/resources/, feat, common/core/

#7119 fix(android/engine): Lower the max height for landscape orientation
  android/KMEA/app/src/main/res/values-land/dimens.xml
  android/KMEA/app/src/main/res/values-sw600dp-land/dimens.xml
  android/KMEA/app/src/main/res/values-sw720dp-land/dimens.xml
Labels: bug, android/, fix, android/engine/, has-user-test

#7120 feat(developer): Write kmxplus section 🙀
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-builder.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus-builder.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx.ts
  developer/src/kmldmlc/src/keyman/ldmlkeyboard/compiler.ts
Labels: developer/, common/, feat, common/core/

#7127 feat(developer): LDML keyboard XML Loader and Compiler 🙀
  developer/src/kmldmlc/src/keyman/compiler/callbacks.ts
  developer/src/kmldmlc/src/keyman/compiler/compiler.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus-builder.ts
  developer/src/kmldmlc/src/keyman/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/kmldmlc/src/keyman/ldml-keyboard/ldml-keyboard-xml.ts
  developer/src/kmldmlc/src/keyman/ldml-keyboard/us-virtual-keys.ts
  developer/src/kmldmlc/src/keyman/ldmlkeyboard/compiler.ts
  developer/src/kmldmlc/src/kmldmlc.ts
Labels: developer/, feat

#7128 fix(android/engine): :cherries: Lower the max height for landscape orientation
  android/KMEA/app/src/main/res/values-land/dimens.xml
  android/KMEA/app/src/main/res/values-sw600dp-land/dimens.xml
  android/KMEA/app/src/main/res/values-sw720dp-land/dimens.xml
Labels: android/, cherry-pick, fix, android/engine/, has-user-test

#7139 auto: increment stable-15.0 version to 15.0.270
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/models/types/, common/models/templates/, common/models/wordbreakers/, common/core/, common/core/web/

#7133 feat(linux): Dockerfile for linux builder
  docs/build/linux-ubuntu.md
  linux/Dockerfile
Labels: linux/, feat

#7148 auto: increment master version to 16.0.54
  HISTORY.md
  VERSION.md
Labels: auto

#6993 chore(core): rename json.hpp to jsonpp.hpp 🛩
  core/doc/meson.build
  core/src/jsonpp.cpp
  core/src/jsonpp.hpp
  core/src/keyboard.cpp
  core/src/km_kbp_context_api.cpp
  core/src/km_kbp_options_api.cpp
  core/src/km_kbp_state_api.cpp
  core/src/meson.build
  core/src/path.hpp
  core/tests/unit/json/jsontest.cpp
  core/tests/unit/json/meson.build
  linux/ibus-keyman/tests/Makefile.am
Labels: linux/, linux/engine/, core/, chore, feature-branch

#7000 chore(developer): remove unused dependencies from KeymanWeb compiler 🛩
  developer/src/kmcomp/kmcomp.dpr
  developer/src/kmcomp/kmcomp.dproj
  developer/src/kmconvert/kmconvert.dpr
  developer/src/kmconvert/kmconvert.dproj
  developer/src/test/auto/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dpr
  developer/src/test/auto/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dproj
  developer/src/test/auto/keyboard-package-versions/Keyman.Test.System.CompilePackageVersioningTest.pas
  developer/src/tike/compile/CompileKeymanWeb.pas
Labels: developer/, chore

#7138 chore: update core/ label
  .github/labeler.yml
Labels: common/, chore

#7129 feat(core): use kmldmlc to build test keyboards 🙀
  common/web/keyman-version/package.json
  core/build.sh
  core/tests/unit/ldml/000_null_keyboard.kmx
  core/tests/unit/ldml/001_tiny.kmx
  core/tests/unit/ldml/invalid-keyboards/ik_000_null_invalid.kmx
  core/tests/unit/ldml/invalid-keyboards/ik_000_null_invalid.xml
  core/tests/unit/ldml/invalid-keyboards/meson.build
  core/tests/unit/ldml/keyboards/k_000_null_keyboard.xml
  core/tests/unit/ldml/keyboards/k_001_tiny.xml
  core/tests/unit/ldml/keyboards/meson.build
  core/tests/unit/ldml/kmp.json.in
  core/tests/unit/ldml/meson.build
  core/tests/unit/ldml/template/keyboard.kmn.in
  core/tests/unit/ldml/template/keyboard.kpj.in
  core/tests/unit/ldml/template/keyboard.kps.in
  core/wasm.build.linux.in
  developer/src/kmldmlc/build.sh
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus.ts
  package-lock.json
Labels: developer/, common/, feat, core/, common/web/, epic-ldml

#7137 feat(core): hextobin tool 🙀
  common/tools/hextobin/.gitignore
  common/tools/hextobin/build.sh
  common/tools/hextobin/hextobin.ts
  common/tools/hextobin/index.ts
  common/tools/hextobin/package.json
  common/tools/hextobin/tsconfig.json
  core/build.sh
  core/tests/unit/ldml/invalid-keyboards/ik_000_null_invalid.kmx
  core/tests/unit/ldml/invalid-keyboards/ik_000_null_invalid.txt
  core/tests/unit/ldml/invalid-keyboards/meson.build
  core/tests/unit/ldml/meson.build
  package-lock.json
  package.json
Labels: common/, feat, core/, epic-ldml, common/core/

#7140 feat(developer): unit test framework for kmldmlc 🙀
  core/src/kmx/kmx_plus.h
  developer/src/kmldmlc/package.json
  developer/src/kmldmlc/src/kmldmlc.ts
  developer/src/kmldmlc/test/README.md
  developer/src/kmldmlc/test/fixtures/basic.txt
  developer/src/kmldmlc/test/fixtures/basic.xml
  developer/src/kmldmlc/test/helpers/index.ts
  developer/src/kmldmlc/test/test-base.ts
  developer/src/kmldmlc/test/test-compiler-e2e.ts
  developer/src/kmldmlc/test/tsconfig.json
  developer/src/kmldmlc/tsconfig.json
Labels: developer/, common/, feat, core/, common/core/

#7132 feat(core): ldml: improve file reading/validation 🙀
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/C7043_ldml.md
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_processor.hpp
Labels: common/, feat, core/, epic-ldml, common/core/

#7143 chore(linux): Add support for Ubuntu 22.10 "Kinetic Kudu" 🍒
  linux/.pbuilderrc
  linux/scripts/cow.sh
  linux/scripts/launchpad.sh
Labels: linux/, cherry-pick, chore

#7144 chore(linux): Update debian changelog
  linux/debian/changelog
Labels: linux/, chore

#7145 chore(linux): Update debian changelog 🍒
  linux/debian/changelog
Labels: linux/, cherry-pick, chore

#7152 fix(core): ldml: fix validator 🙀
  core/src/ldml/ldml_processor.cpp
Labels: common/, fix, core/, epic-ldml, user-test-missing, common/core/

#7147 fix(linux): Allow downgrades for installing build deps
  linux/scripts/jenkins.sh
Labels: linux/, fix

#7150 chore: merge master into feature-ldml 🙀
  .github/labeler.yml
  HISTORY.md
  VERSION.md
  android/KMEA/app/src/main/res/values-land/dimens.xml
  android/KMEA/app/src/main/res/values-sw600dp-land/dimens.xml
  android/KMEA/app/src/main/res/values-sw720dp-land/dimens.xml
  core/doc/meson.build
  core/src/jsonpp.cpp
  core/src/jsonpp.hpp
  core/src/keyboard.cpp
  core/src/km_kbp_context_api.cpp
  core/src/km_kbp_options_api.cpp
  core/src/km_kbp_state_api.cpp
  core/src/meson.build
  core/src/path.hpp
  core/tests/unit/json/jsontest.cpp
  core/tests/unit/json/meson.build
  developer/src/kmcomp/kmcomp.dpr
  developer/src/kmcomp/kmcomp.dproj
  developer/src/kmconvert/kmconvert.dpr
  developer/src/kmconvert/kmconvert.dproj
  developer/src/test/auto/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dpr
  developer/src/test/auto/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dproj
  developer/src/test/auto/keyboard-package-versions/Keyman.Test.System.CompilePackageVersioningTest.pas
  developer/src/tike/compile/CompileKeymanWeb.pas
  docs/build/linux-ubuntu.md
  linux/Dockerfile
  linux/ibus-keyman/src/engine.c
  linux/ibus-keyman/tests/Makefile.am
Labels: common/, core/, common/web/, chore

#7151 refactor(developer): separate files for kmldmlc sections 🙀
  developer/src/kmldmlc/src/keyman/compiler/compiler.ts
  developer/src/kmldmlc/src/keyman/compiler/keys.ts
  developer/src/kmldmlc/src/keyman/compiler/loca.ts
  developer/src/kmldmlc/src/keyman/compiler/meta.ts
  developer/src/kmldmlc/src/keyman/compiler/section-compiler.ts
Labels: developer/, refactor

#7149 chore(core): emcc off path for linux
  core/wasm.build.linux.in
Labels: core/, chore

#7160 auto: increment master version to 16.0.55
  HISTORY.md
  VERSION.md
Labels: auto

#7159 feat(core): set -DDEBUG for debug 🙀
  core/meson.build
  core/src/kmx/kmx_plus.h
Labels: feat, core/, epic-ldml

#7153 refactor(developer): each section compiler is a pure function 🙀
  core/include/ldml/keyboardprocessor_ldml.ts
  developer/src/kmldmlc/src/keyman/compiler/compiler.ts
  developer/src/kmldmlc/src/keyman/compiler/keys.ts
  developer/src/kmldmlc/src/keyman/compiler/loca.ts
  developer/src/kmldmlc/src/keyman/compiler/meta.ts
  developer/src/kmldmlc/src/keyman/compiler/section-compiler.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus.ts
  developer/src/kmldmlc/src/keyman/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/kmldmlc/src/kmldmlc.ts
  developer/src/kmldmlc/test/test-compiler-e2e.ts
Labels: developer/, common/, core/, refactor, epic-ldml

#7176 fix(android/engine): :cherries: Cleanup list of subkeys when dismissing window
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
Labels: android/, cherry-pick, fix, android/engine/, has-user-test
