Repository keymanapp/keyman, pull requests merged in 2022-11, with the labels that each got.

#7576 fix(ios): iPad was not recognised as tablet device 🍒
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/ios-host.js
  web/source/kmwembedded.ts
Labels: ios/, cherry-pick, fix

#7581 fix(android): Handle empty Play Store release notes
  android/KMAPro/build-play-store-notes.sh
Labels: android/, fix, android/app/

#7590 auto: increment master version to 17.0.3
  HISTORY.md
  VERSION.md
Labels: auto

#7531 fix(developer): Use US base layout for debugger
  developer/src/tike/child/UfrmDebug.pas
Labels: developer/, fix, developer/ide/, has-user-test

#7538 fix(developer): Use US base layout for debugger 🍒
  windows/src/developer/TIKE/child/UfrmDebug.pas
Labels: developer/, cherry-pick, fix, developer/ide/

#7583 fix(developer): prevent repeated `begin` statements
  developer/src/common/delphi/compiler/CompileErrorCodes.pas
  developer/src/kmcmpdll/Compiler.cpp
  developer/src/kmcmpdll/Compiler.rc
  developer/src/kmcmpdll/comperr.h
Labels: developer/, developer/compilers/, fix, has-user-test

#7596 auto: increment stable-15.0 version to 15.0.273
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, stable, common/, common/models/, developer/compilers/, common/resources/, auto, common/models/types/, common/models/templates/, common/models/wordbreakers/, common/core/, common/core/web/

#7584 fix(developer): generate a default icon for basic keyboard projects
  common/windows/delphi/ui/Keyman.System.Util.RenderLanguageIcon.pas
  developer/src/kmconvert/Keyman.Developer.System.GenerateKeyboardIcon.pas
  developer/src/kmconvert/Keyman.Developer.System.ImportWindowsKeyboard.pas
  developer/src/kmconvert/Keyman.Developer.System.KeyboardProjectTemplate.pas
  developer/src/kmconvert/Keyman.Developer.System.KeymanConvertMain.pas
  developer/src/tike/Tike.dpr
  developer/src/tike/Tike.dproj
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmNewProjectParameters.pas
Labels: developer/, common/, fix, developer/ide/, has-user-test

#7585 fix(developer): avoid reformatting unchanged system stores
  developer/src/tike/main/KeyboardParser.pas
Labels: developer/, fix, developer/ide/, has-user-test

#7595 fix(developer): publish `@keymanapp/keyman-version` to npm
  common/web/keyman-version/.npmignore
  common/web/keyman-version/build.sh
  developer/src/kmlmc/.npmignore
  developer/src/kmlmc/build.sh
  resources/build/build-utils-ci.inc.sh
Labels: developer/, common/, common/resources/, fix, common/web/

#7597 auto: increment beta version to 16.0.96
  HISTORY.md
  VERSION.md
Labels: auto

#7602 chore: Add #7554 to HISTORY.md
  HISTORY.md
Labels: stable, chore

#7593 fix(developer): Make Details and Build tabs scrollable
  developer/src/tike/child/Keyman.Developer.UI.UfrmModelEditor.dfm
  developer/src/tike/child/Keyman.Developer.UI.UfrmModelEditor.pas
  developer/src/tike/child/UfrmKeymanWizard.dfm
  developer/src/tike/child/UfrmKeymanWizard.pas
  developer/src/tike/child/UfrmPackageEditor.dfm
  developer/src/tike/child/UfrmPackageEditor.pas
Labels: developer/, fix, developer/ide/, has-user-test

#7594 fix(developer): support gif preview images in Package Editor
  developer/src/tike/child/UfrmPackageEditor.pas
Labels: developer/, fix, developer/ide/, has-user-test

#7601 fix(developer): handle high-bit-set HKL correctly
  common/windows/delphi/general/Glossary.pas
Labels: developer/, common/, fix

#7567 fix(core): move ldml const builder to es modules 🙀
  core/include/ldml/ldml-const-builder.ts
  core/include/ldml/tsconfig.build.json
Labels: fix, core/, epic-ldml

#7568 feat(core,developer): add basic support for ldml `disp` section 🙀
  common/web/types/src/kmx/kmx-plus-builder/build-disp.ts
  common/web/types/src/kmx/kmx-plus-builder/kmx-plus-builder.ts
  common/web/types/src/kmx/kmx-plus.ts
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml.ts
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  developer/src/kmc-keyboard/build.sh
  developer/src/kmc-keyboard/src/compiler/compiler.ts
  developer/src/kmc-keyboard/src/compiler/disp.ts
  developer/src/kmc-keyboard/src/compiler/messages.ts
  developer/src/kmc-keyboard/test/fixtures/basic.txt
  developer/src/kmc-keyboard/test/fixtures/basic.xml
  developer/src/kmc-keyboard/test/fixtures/sections/disp/invalid-dupto.xml
  developer/src/kmc-keyboard/test/fixtures/sections/disp/maximal.xml
  developer/src/kmc-keyboard/test/fixtures/sections/disp/minimal.xml
  developer/src/kmc-keyboard/test/fixtures/sections/disp/options-only.xml
  developer/src/kmc-keyboard/test/fixtures/sections/disp/typical.xml
  developer/src/kmc-keyboard/test/test-disp.ts
  resources/standards-data/ldml-keyboards/techpreview/cldr_info.json
  resources/standards-data/ldml-keyboards/techpreview/fixup-schema.js
  resources/standards-data/ldml-keyboards/techpreview/ldml-keyboard.schema.json
Labels: developer/, common/, developer/compilers/, common/resources/, feat, core/, common/web/, epic-ldml

#7603 fix(android/app): Add check if bundle to PackageActivity is null
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
Labels: android/, fix, android/app/

#7604 fix(common): always define dry_run variable
  resources/build/build-utils-ci.inc.sh
Labels: common/, common/resources/, fix

#7608 feat(web): Custom layer targets for Shift double-tap
  web/source/osk/browser/pendingMultiTap.ts
Labels: web/, feat, web/engine/

#7611 fix(android/engine): Handle parsing empty JSONArray as JSONObject
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/JSONParser.java
Labels: android/, fix, android/engine/

#7588 chore(core): ldml: cleanup 🙀
  core/src/kmx/kmx_plus.cpp
Labels: core/, chore, epic-ldml

#7591 feat(developer): improve err msg from Ajv 🙀
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
Labels: developer/, common/, feat, common/web/, epic-ldml

#7592 feat(developer): improve validation and gap/switch handling 🙀
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml.ts
  developer/src/kmc-keyboard/src/compiler/keys.ts
  developer/src/kmc-keyboard/src/compiler/messages.ts
  developer/src/kmc-keyboard/test/fixtures/sections/keys/gap-switch.xml
  developer/src/kmc-keyboard/test/fixtures/sections/keys/invalid-key-missing-attrs.xml
  developer/src/kmc-keyboard/test/test-keys.ts
Labels: developer/, common/, developer/compilers/, feat, common/web/, epic-ldml

#7614 auto: increment beta version to 16.0.97
  HISTORY.md
  VERSION.md
Labels: auto

#7587 fix(android/app): Don't show "Get Started" after setting Keyman as default system keyboard
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/GetStartedActivity.java
Labels: android/, fix, android/app/, has-user-test

#7600 fix(windows): include debug info in kmshell build
  windows/src/desktop/kmshell/kmshell.dproj
Labels: windows/, fix, windows/config/

#7607 fix(developer): tweak captions for consistency
  developer/src/tike/child/Keyman.Developer.UI.UfrmModelEditor.dfm
  developer/src/tike/child/UfrmPackageEditor.dfm
Labels: developer/, fix, developer/ide/

#7610 fix(mac): replace white background keyman system menu icon with transparent one
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/Images/keyman-icon.png
  mac/Keyman4MacIM/Keyman4MacIM/Images/keyman-icon@2x.png
  mac/Keyman4MacIM/Keyman4MacIM/Info.plist
Labels: mac/, fix, has-user-test

#7623 auto: increment beta version to 16.0.98
  HISTORY.md
  VERSION.md
Labels: auto

#7629 fix(core): sprintf to snprintf
  core/src/debuglog.cpp
Labels: fix, core/

#7620 fix(android/engine): Check temporary kmp file is valid
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
Labels: android/, fix, android/engine/

#7624 fix(developer): set keyman.osk immediately after switching device type
  developer/src/server/src/site/test.js
Labels: developer/, fix, developer/ide/

#7626 fix(developer): update monaco editor to 0.15.6
  developer/src/tike/xml/app/editor/editor.js
  developer/src/tike/xml/app/package-lock.json
  developer/src/tike/xml/app/package.json
Labels: developer/, fix, developer/ide/, has-user-test

#7633 chore(developer): tidy up compile hints
  developer/src/tike/http/Keyman.Developer.UI.ServerUI.pas
  developer/src/tike/project/Keyman.Developer.System.Project.WelcomeRenderer.pas
Labels: developer/, developer/ide/, chore

#7635 fix(developer): handle EEncodingError loading text file
  developer/src/tike/main/UframeTextEditor.pas
Labels: developer/, fix, developer/ide/

#7640 fix(developer): prevent exception in charmap when unable to focus
  common/windows/delphi/charmap/UfrmCharacterMapNew.pas
Labels: developer/, common/, fix

#7642 fix(developer): disable Keyboard|Compile if no project loaded
  developer/src/tike/actions/dmActionsKeyboardEditor.pas
Labels: developer/, fix, developer/ide/

#7648 fix(web): Handle undefined keyId in multi-tap
  web/source/osk/browser/pendingMultiTap.ts
Labels: web/, fix, web/engine/

#7651 fix(developer): kmlmc has runtime dependency on keyman-version
  developer/src/kmlmc/package.json
Labels: developer/, fix

#7638 fix(web): avoid reset for touch system keyboard
  common/web/input-processor/src/text/inputProcessor.ts
  common/web/keyboard-processor/src/text/keyboardProcessor.ts
Labels: web/, common/, fix, common/web/, has-user-test

#7617 fix(developer): improve support for inferred key cap text
  common/web/keyboard-processor/src/text/defaultOutput.ts
  developer/src/tike/xml/layoutbuilder/builder.js
  developer/src/tike/xml/layoutbuilder/prepare-key.js
  developer/src/tike/xml/layoutbuilder/subkeys.js
  web/source/osk/oskKey.ts
Labels: web/, developer/, common/, fix, web/engine/, common/web/, developer/ide/, has-user-test

#7653 auto: increment beta version to 16.0.99
  HISTORY.md
  VERSION.md
Labels: auto

#7652 fix(web): Add polyfill for Array.findIndex()
  common/web/lm-worker/build.sh
  common/web/lm-worker/src/polyfills/array.findIndex.js
Labels: web/, common/, fix, common/web/, has-user-test

#7654 fix(developer): handle edge cases for app sources
  developer/src/tike/http/Keyman.Developer.System.HttpServer.AppSource.pas
  developer/src/tike/oskbuilder/UframeTouchLayoutBuilder.pas
Labels: developer/, fix, developer/ide/

#7655 fix(developer): handle shutdown cleanup more cleanly
  developer/src/tike/Tike.dpr
  developer/src/tike/main/UfrmMain.pas
  developer/src/tike/update/Keyman.Developer.UI.TikeOnlineUpdateCheck.pas
Labels: developer/, fix, developer/ide/

#7657 fix(developer): handle crash reports without Keyman Engine installed
  common/windows/delphi/general/Keyman.System.KeymanSentryClient.pas
Labels: developer/, common/, fix

#7659 fix(developer): handle unpaired surrogate
  developer/src/tike/xml/app/editor/editor.js
Labels: developer/, fix, developer/ide/

#7661 fix(windows): Cleanup CEF more correctly in shutdown
  windows/src/desktop/kmshell/main/UfrmWebContainer.pas
Labels: windows/, fix, windows/config/

#7644 fix(core): `save()` should be on internal kmx action queue
  core/src/kmx/kmx_actions.h
  core/src/kmx/kmx_options.cpp
  core/src/kmx/kmx_options.h
  core/src/kmx/kmx_processevent.cpp
  core/src/kmx/kmx_processor.cpp
  core/tests/unit/kmnkbd/debug_api.cpp
Labels: fix, core/, has-user-test

#7650 fix(core): emit keystroke was writing to wrong queue
  core/src/kmx/kmx_actions.h
  core/src/kmx/kmx_processor.cpp
  core/tests/unit/kmnkbd/action_items.hpp
  core/tests/unit/kmnkbd/debug_api.cpp
  developer/src/tike/debug/Keyman.System.Debug.DebugEvent.pas
  developer/src/tike/main/Keyman.System.KeymanCore.pas
  developer/src/tike/main/Keyman.System.KeymanCoreDebug.pas
Labels: developer/, fix, core/, developer/ide/, has-user-test

#7665 auto: increment master version to 17.0.4
  HISTORY.md
  VERSION.md
Labels: auto

#7666 auto: increment beta version to 16.0.100
  HISTORY.md
  VERSION.md
Labels: auto

#7660 chore(linux): Update whatsnew
  linux/help/about/whatsnew.md
Labels: linux/, chore

#7669 chore: Update history-and-versioning to match history
  docs/history-and-versioning.md
Labels: common/, chore, docs

#7493 chore(linux): Update debian changelog
  linux/debian/changelog
Labels: linux/, stable, chore

#7492 chore(linux): Update debian changelog 🍒
  linux/debian/changelog
Labels: linux/, cherry-pick, chore

#7676 chore(android/engine): Don't show Toast errors on stable tier
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/KMLog.java
Labels: android/, android/engine/, chore

#7684 auto: increment master version to 17.0.5
  HISTORY.md
  VERSION.md
Labels: auto

#7685 auto: increment beta version to 16.0.101
  HISTORY.md
  VERSION.md
Labels: auto

#7677 fix(windows): Improve shutdown robustness
  common/windows/delphi/general/Keyman.System.KeymanSentryClient.pas
  windows/src/engine/keyman/UfrmKeyman7Main.pas
  windows/src/engine/keyman/kmint.pas
Labels: windows/, common/, fix, windows/engine/

#7667 fix(windows): base layout support in Keyman Core
  windows/src/engine/keyman32/CoreEnvironment.cpp
  windows/src/engine/keyman32/K32_load.cpp
  windows/src/engine/keyman32/Keyman32.cpp
  windows/src/engine/keyman32/Keyman32.vcxproj
  windows/src/engine/keyman32/Keyman32.vcxproj.filters
  windows/src/engine/keyman32/keymanengine.h
  windows/src/engine/keyman64/keyman64.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj.filters
Labels: windows/, fix, windows/engine/, has-user-test

#7631 fix(developer): URL parameters should be UTF-8
  common/windows/delphi/general/utilhttp.pas
  common/windows/delphi/web/Keyman.System.HttpServer.Base.pas
  developer/src/tike/http/Keyman.Developer.System.HttpServer.App.pas
  developer/src/tike/http/Keyman.Developer.System.HttpServer.AppSource.pas
Labels: developer/, common/, fix, developer/ide/, has-user-test, user-test-failed

#7679 fix(android/engine): Use IME package name if query permission denied 🍒
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
Labels: android/, stable, cherry-pick, fix, android/engine/, android/app/, has-user-test

#7668 fix(android/engine): Use IME package name if query permission denied
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
Labels: android/, fix, android/engine/, android/app/, has-user-test

#7678 fix(linux): Fix keyboard icon in system tray
  linux/ibus-keyman/src/keymanutil.c
Labels: linux/, fix, linux/engine/, has-user-test

#7680 chore(linux): Update debian changelog
  linux/debian/changelog
Labels: linux/, stable, chore

#7681 chore(linux): Update debian changelog :cherries:
  linux/debian/changelog
Labels: linux/, cherry-pick, chore

#7682 chore(linux): Update debian changelog :cherries:
  linux/debian/changelog
Labels: linux/, cherry-pick, chore

#7683 chore(linux): Update Debian standards version
  linux/debian/control
Labels: linux/, chore

#7695 auto: increment master version to 17.0.6
  HISTORY.md
  VERSION.md
Labels: auto

#7696 auto: increment beta version to 16.0.102
  HISTORY.md
  VERSION.md
Labels: auto

#7692 fix(windows): make sure IdStackWindows finalizes after Vcl.Forms
  windows/src/desktop/kmshell/kmshell.dpr
Labels: windows/, fix, windows/config/, has-user-test

#7674 fix(android/app): Append tier to app name
  android/KMAPro/kMAPro/build.gradle
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/version.gradle
Labels: android/, fix, android/app/, has-user-test

#7700 chore(android/app): Remove debugging info on build.gradle
  android/KMAPro/kMAPro/build.gradle
Labels: android/, android/app/, chore

#7701 auto: increment master version to 17.0.7
  HISTORY.md
  VERSION.md
Labels: auto

#7702 auto: increment beta version to 16.0.103
  HISTORY.md
  VERSION.md
Labels: auto

#7704 chore: fix TIER.md for master
  TIER.md
Labels: chore

#7706 auto: increment master version to 17.0.8
  HISTORY.md
  VERSION.md
Labels: auto

#7699 fix(windows): click in 1 pixel high box in Language Switch window caused crash
  windows/src/engine/keyman/langswitch/UfrmLanguageSwitch.pas
Labels: windows/, fix, windows/engine/

#7703 chore(windows): add sentry traces for unsolved crashes
  windows/src/desktop/kmshell/xml/config.js
  windows/src/desktop/kmshell/xml/menu-frame.js
  windows/src/desktop/kmshell/xml/menu.js
Labels: windows/, windows/config/, chore

#7709 fix(windows): handle timeout in downloads
  windows/src/desktop/kmshell/install/Keyman.Configuration.UI.KeymanProtocolHandler.pas
Labels: windows/, fix, windows/config/

#7707 chore(windows): Add safecall for internal CustomisationStorage API interface
  windows/src/engine/kmcomapi/com/system/keymancontrol.pas
  windows/src/engine/kmcomapi/util/internalinterfaces.pas
  windows/src/global/delphi/cust/custinterfaces.pas
Labels: windows/, windows/engine/, chore

#7710 chore(windows): include debug info in keyman build
  windows/src/engine/keyman/keyman.dproj
Labels: windows/, windows/engine/, chore

#7711 fix(windows): base layout support in Keyman Core 🍒
  common/predictive-text/testing/one-stage-embedded-webworker/build.sh
  common/predictive-text/testing/two-stage-embedded-webworker/build.sh
  developer/js/bundle.sh
  developer/server/build.sh
  developer/server/postbuild.sh
  resources/devbox/iis-https/setup-iis-https.sh
  resources/devbox/macos/keyman.macos.env.sh
  web/testing/android-harness/build.sh
  windows/src/buildtools/cef-checkout.sh
  windows/src/buildtools/mkver.sh
  windows/src/desktop/locale/crowdin-control.sh
  windows/src/engine/keyman32/CoreEnvironment.cpp
  windows/src/engine/keyman32/K32_load.cpp
  windows/src/engine/keyman32/Keyman32.cpp
  windows/src/engine/keyman32/Keyman32.vcxproj
  windows/src/engine/keyman32/Keyman32.vcxproj.filters
  windows/src/engine/keyman64/keyman64.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj.filters
  windows/src/ext/jedi/jvcl/tests/RALib/interpreter/Languages/_new/res.sh
  windows/src/ext/jedi/jvcl/tests/RALib/interpreter/Languages/czech/res.sh
  windows/src/ext/jedi/jvcl/tests/RALib/interpreter/Languages/english/res.sh
  windows/src/ext/jedi/jvcl/tests/RALib/interpreter/Languages/french/res.sh
  windows/src/ext/jedi/jvcl/tests/RALib/interpreter/Languages/german/res.sh
  windows/src/ext/jedi/jvcl/tests/RALib/interpreter/Languages/russian/res.sh
  windows/src/ext/jedi/jvcl/tests/RALib/interpreter/Languages/spanish(chilean)/res.sh
  windows/src/ext/jedi/jvcl/tests/RALib/interpreter/Languages/spanish/res.sh
  windows/src/ext/jedi/jvcl/tests/RALib/visual/Languages/czech/res.sh
  windows/src/ext/jedi/jvcl/websites/daily/sync_ftp.sh
  windows/src/ext/jedi/jvcl/websites/daily/update_jvcl_daily.sh
  windows/src/global/inc/keymanengine.h
  windows/src/test/manual-tests/i18n-check-unused-strings/i18n-check-unused-strings.sh
Labels: web/, windows/, developer/, stable, cherry-pick, common/, developer/compilers/, common/resources/, fix, windows/config/, windows/engine/

#7207 fix(windows): check if permissions for thread to access file
  windows/src/desktop/kmshell/install/Keyman.Configuration.UI.InstallFile.pas
Labels: windows/, fix, windows/config/, windows/engine/, has-user-test

#7561 feat(core): ldml: add `layr`, `disp`, `key2`, `list` sections to C7043.1 spec 🙀
  core/src/ldml/C7043_ldml.md
Labels: feat, core/, spec, epic-ldml

#7686 refactor(linux): Use consts instead of strings
  linux/ibus-keyman/src/engine.c
Labels: linux/, linux/engine/, refactor

#7718 auto: increment beta version to 16.0.104
  HISTORY.md
  VERSION.md
Labels: auto

#7719 chore(android/engine): Add more logging for keyboard restart
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/KeyboardController.java
Labels: android/, android/engine/, chore

#7714 chore(windows): add unit test for SetupCoreEnvironment
  core/src/mock/mock_processor.cpp
  windows/src/engine/keyman32/keyman-engine.vcxproj
  windows/src/engine/keyman32/keyman-engine.vcxproj.filters
  windows/src/engine/keyman32/tests/keyman-engine-tests/keyboardoptionstests.cpp
Labels: windows/, core/, windows/engine/, chore

#7726 docs(linux): Add example for keyman:// URL format
  linux/keyman-config/km-config
Labels: linux/, linux/config/, docs

#7727 fix(linux): set DEB_VERSION
  linux/debian/rules
Labels: linux/, fix

#7728 fix(linux): Don't crash if `und` is specified without `fonipa`
  linux/keyman-config/keyman_config/canonical_language_code_utils.py
Labels: linux/, fix, linux/config/, has-user-test

#7734 auto: increment beta version to 16.0.106
  HISTORY.md
  VERSION.md
Labels: auto

#7689 chore(windows): set platform core env explicitly
  windows/src/engine/keyman32/CoreEnvironment.cpp
Labels: windows/, windows/engine/, chore, has-user-test

#7735 fix(android): bump version_code major calculation
  android/version.gradle
Labels: android/, fix

#7736 fix(android): bump version_code major calculation
  android/version.gradle
Labels: android/, cherry-pick, fix

#7720 fix(android/engine): Remove duplicate file suffix when installing .kmp
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/packages/PackageProcessorTest.java
Labels: android/, fix, android/engine/, has-user-test

#7732 fix(linux): Ignore dbus exception when testing for fcitx
  linux/keyman-config/keyman_config/fcitx_util.py
Labels: linux/, fix, linux/config/

#7733 fix(linux): Fix lintian warnings
  core/src/kmx/kmx_processor.cpp
  linux/debian/rules
  linux/debian/source/lintian-overrides
  linux/debian/tests/README.md
  linux/debian/tests/control
  linux/debian/tests/test-build
  linux/scripts/reconf.sh
Labels: linux/, fix, core/

#7731 feat(linux): Add optional bcp47 parameter to km-package-install
  linux/keyman-config/km-package-install
Labels: linux/, feat, linux/config/, has-user-test

#7743 auto: increment master version to 17.0.9
  HISTORY.md
  VERSION.md
Labels: auto

#7744 auto: increment beta version to 16.0.107
  HISTORY.md
  VERSION.md
Labels: auto

#7755 fix(windows): Download Keyboard blue footer
  windows/src/desktop/kmshell/xml/downloadkeyboard.xsl
Labels: windows/, fix, windows/config/

#7754 fix(windows): tweak elevate icon in Config dialog
  windows/src/desktop/kmshell/xml/config.css
  windows/src/desktop/kmshell/xml/elements.xsl
  windows/src/desktop/kmshell/xml/shield.png
Labels: windows/, fix, windows/config/

#7751 chore: github issue template config.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: common/, chore

#7752 chore(windows): tweak sentry client for cross-module messages
  common/windows/delphi/ext/sentry/Sentry.Client.pas
Labels: windows/, common/, chore

#7694 fix(web): documentation keyboard style application + layout
  web/source/osk/oskRow.ts
  web/source/osk/oskView.ts
  web/source/osk/visualKeyboard.ts
  web/testing/build-visual-keyboard/index.html
Labels: web/, fix, web/engine/, has-user-test

#7764 fix(windows): fix checkbox and hint help button styles
  windows/src/desktop/kmshell/xml/config.css
  windows/src/desktop/kmshell/xml/help.xsl
  windows/src/desktop/kmshell/xml/hint.css
Labels: windows/, fix, windows/config/

#7715 chore(common): Update crowin strings for Fulfulde
  android/KMAPro/kMAPro/src/main/res/values-ff-rNG/strings.xml
  android/KMEA/app/src/main/res/values-ff-rNG/strings.xml
  ios/engine/KMEI/KeymanEngine/ff-ng.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/ff-ng.lproj/Localizable.stringsdict
  linux/keyman-config/locale/ff_NG.po
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/ff-ng.lproj/KMAboutWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/ff-ng.lproj/preferences.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/ff-ng.lproj/KMInfoWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardHelpWindow/ff-ng.lproj/KMKeyboardHelpWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/ff-ng.lproj/Localizable.strings
  mac/Keyman4MacIM/Keyman4MacIM/ff-ng.lproj/MainMenu.strings
  windows/src/desktop/kmshell/locale/ff-NG/strings.xml
Labels: windows/, android/, ios/, mac/, linux/, common/, android/engine/, android/app/, ios/engine/, linux/config/, windows/config/, chore, has-user-test

#7730 fix(linux): Fix installation if shared kbd already installed
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/keyman_config/list_installed_kmp.py
  linux/keyman-config/km-package-install
Labels: linux/, fix, linux/config/, has-user-test

#7746 fix(linux): Fix a warning
  linux/ibus-keyman/src/engine.c
Labels: linux/, fix, linux/engine/

#7761 chore(android): Update Target SDK Version to 31
  android/KMAPro/kMAPro/build.gradle
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMEA/app/build.gradle
  android/KMEA/app/src/main/AndroidManifest.xml
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample1/app/src/main/AndroidManifest.xml
  android/Samples/KMSample2/app/build.gradle
  android/Samples/KMSample2/app/src/main/AndroidManifest.xml
  android/Tests/KeyboardHarness/app/build.gradle
  android/Tests/KeyboardHarness/app/src/main/AndroidManifest.xml
  oem/firstvoices/android/app/build.gradle
  oem/firstvoices/android/app/src/main/AndroidManifest.xml
Labels: android/, oem/, android/engine/, android/app/, oem/fv/, oem/fv/android/, chore, has-user-test, android/samples/

#7771 auto: increment master version to 17.0.10
  HISTORY.md
  VERSION.md
Labels: auto

#7772 auto: increment beta version to 16.0.108
  HISTORY.md
  VERSION.md
Labels: auto

#7765 fix(windows): backout ms button style for add lang pop up
  windows/src/desktop/kmshell/xml/config.css
  windows/src/desktop/kmshell/xml/keyman_keyboardlist.xsl
Labels: windows/, fix, windows/config/

#7766 fix(android/app): Only check Install Referrer API with Play Store installs
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/CheckInstallReferrer.java
Labels: android/, fix, android/app/

#7758 fix(windows): Fix text selectable configuration
  windows/src/desktop/kmshell/xml/config.css
Labels: windows/, fix, windows/config/, has-user-test

#7767 feat(common/models): directional quote insensitivity
  developer/src/kmlmc/source/lexical-model-compiler/model-defaults.ts
  developer/src/kmlmc/tests/test-model-definitions.ts
Labels: developer/, common/, feat

#7777 fix: automatically merge changes to history back to master
  resources/build/increment-version.sh
  resources/build/version/src/fixupHistory.ts
  resources/build/version/src/index.ts
Labels: common/, common/resources/, fix

#7760 chore(windows): remove unused options from locales and UI
  oem/firstvoices/windows/src/xml/keyman_options.xsl
  oem/firstvoices/windows/src/xml/strings.xml
  windows/src/desktop/branding/messages.txt
  windows/src/desktop/kmshell/locale/am-ET/strings.xml
  windows/src/desktop/kmshell/locale/az-AZ/strings.xml
  windows/src/desktop/kmshell/locale/bwr-NG/strings.xml
  windows/src/desktop/kmshell/locale/ckl-NG/strings.xml
  windows/src/desktop/kmshell/locale/de/strings.xml
  windows/src/desktop/kmshell/locale/es-419/strings.xml
  windows/src/desktop/kmshell/locale/ff-NG/strings.xml
  windows/src/desktop/kmshell/locale/ff-ZA/strings.xml
  windows/src/desktop/kmshell/locale/fr/strings.xml
  windows/src/desktop/kmshell/locale/ha-HG/strings.xml
  windows/src/desktop/kmshell/locale/hia-NG/strings.xml
  windows/src/desktop/kmshell/locale/id-ID/strings.xml
  windows/src/desktop/kmshell/locale/it-IT/strings.xml
  windows/src/desktop/kmshell/locale/kan-Knda-IN/strings.xml
  windows/src/desktop/kmshell/locale/km-KH/strings.xml
  windows/src/desktop/kmshell/locale/kr-NG/strings.xml
  windows/src/desktop/kmshell/locale/mfi-NG/strings.xml
  windows/src/desktop/kmshell/locale/mrt-NG/strings.xml
  windows/src/desktop/kmshell/locale/my/strings.xml
  windows/src/desktop/kmshell/locale/nl-NL/strings.xml
  windows/src/desktop/kmshell/locale/pl-PL/strings.xml
  windows/src/desktop/kmshell/locale/pt-BR/strings.xml
  windows/src/desktop/kmshell/locale/pt-PT/strings.xml
  windows/src/desktop/kmshell/locale/qqq/locale.xml
  windows/src/desktop/kmshell/locale/qqq/strings.xml
  windows/src/desktop/kmshell/locale/shu-latn/strings.xml
  windows/src/desktop/kmshell/locale/ta/strings.xml
  windows/src/desktop/kmshell/locale/tr/strings.xml
  windows/src/desktop/kmshell/locale/vec/strings.xml
  windows/src/desktop/kmshell/locale/zh-CN/strings.xml
  windows/src/desktop/kmshell/xml/keyman_options.xsl
  windows/src/desktop/kmshell/xml/strings.xml
  windows/src/test/manual-tests/test_i2605/locale-tam.xml
Labels: windows/, oem/, oem/fv/, oem/fv/windows/, windows/config/, chore, has-user-test

#7775 fix(developer): cast to prevent ERangeError for failed http reqs in CEF
  common/windows/delphi/chromium/Keyman.UI.UframeCEFHost.pas
Labels: developer/, common/, fix

#7776 chore: cleanup history
  HISTORY.md
  resources/build/version/src/fixupHistory.ts
Labels: common/, common/resources/, chore

#7768 chore(android): Update Target SDK Version to 31 🍒
  android/KMAPro/kMAPro/build.gradle
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMEA/app/build.gradle
  android/KMEA/app/src/main/AndroidManifest.xml
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample1/app/src/main/AndroidManifest.xml
  android/Samples/KMSample2/app/build.gradle
  android/Samples/KMSample2/app/src/main/AndroidManifest.xml
  android/Tests/KeyboardHarness/app/build.gradle
  android/Tests/KeyboardHarness/app/src/main/AndroidManifest.xml
  oem/firstvoices/android/app/build.gradle
  oem/firstvoices/android/app/src/main/AndroidManifest.xml
Labels: android/, oem/, android/engine/, android/app/, oem/fv/, oem/fv/android/, chore, has-user-test, android/samples/

#7785 auto: increment beta version to 16.0.109
  HISTORY.md
  VERSION.md
Labels: auto

#7786 auto: increment master version to 17.0.11
  HISTORY.md
  VERSION.md
Labels: auto

#7757 fix(windows): buttons should be in list in Options tab
  windows/src/desktop/kmshell/xml/config.css
  windows/src/desktop/kmshell/xml/elements.xsl
  windows/src/desktop/kmshell/xml/keyman_options.xsl
Labels: windows/, fix, windows/config/

#7787 fix(android/engine): Add null check on kmp filename
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/CloudDataJsonUtil.java
Labels: android/, fix, android/engine/

#7782 fix(ios): make text size of in-app editor consistent with slider
  ios/keyman/Keyman/Keyman/AppDelegate.swift
  ios/keyman/Keyman/Keyman/Classes/MainViewController/MainViewController.swift
Labels: ios/, fix, has-user-test

#7762 fix(mac): Enable right-alt/option key mapping
  mac/Keyman4MacIM/Keyman4MacIM/Privacy/PrivacyConsent.m
Labels: mac/, fix, has-user-test

#7742 feat(linux): Add symbols file
  linux/debian/libkmnkbp0-0.symbols
Labels: linux/, feat

#7794 auto: increment beta version to 16.0.110
  HISTORY.md
  VERSION.md
Labels: auto

#7783 fix(linux): Revert "fix(linux): Fix a warning"
  linux/ibus-keyman/src/engine.c
Labels: linux/, fix, linux/engine/

#7780 fix: automatically merge changes to history back to master 🍒
  resources/build/increment-version.sh
  resources/build/version/src/fixupHistory.ts
  resources/build/version/src/index.ts
Labels: cherry-pick, common/, common/resources/, fix

#7789 chore(common): Update whatsnew for 16.0
  android/help/about/whatsnew.md
  ios/help/about/whatsnew.md
  linux/help/about/whatsnew.md
  mac/help/about/whatsnew.md
  windows/src/desktop/help/about/whatsnew.md
Labels: windows/, android/, ios/, mac/, linux/, common/, windows/config/, chore

#7773 ~WIP Key2~
  common/web/types/src/kmx/kmx-plus.ts
  common/web/types/src/kmx/string-list.ts
  core/src/ldml/C7043_ldml.md
  core/src/ldml/C7532_ldml_updating.md
  developer/src/kmc-keyboard/src/compiler/compiler.ts
  developer/src/kmc-keyboard/src/compiler/key2.ts
  developer/src/kmc-keyboard/test/fixtures/sections/key2/flicks.xml
  developer/src/kmc-keyboard/test/fixtures/sections/key2/maximal.xml
  developer/src/kmc-keyboard/test/helpers/index.ts
  developer/src/kmc-keyboard/test/test-key2.ts
Labels: work-in-progress, developer/, common/, developer/compilers/, core/, common/web/, epic-ldml, DO-NOT-MERGE

#7741 fix(web): inferred key text + spacebar caption scaling
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/keyboard-processor/src/text/defaultOutput.ts
  web/source/osk/browser/keytip.ts
  web/source/osk/oskKey.ts
  web/source/osk/visualKeyboard.ts
  web/testing/index.html
  web/testing/issue382/index.html
  web/testing/issue382/issue382-layout.js
  web/testing/issue382/issue382.js
  web/testing/issue382/issue382.kmn
  web/testing/issue382/issue382.kmx
  web/testing/issue382/issue382.kpj
  web/testing/issue382/issue382.kvks
Labels: web/, common/, fix, web/engine/, common/web/, has-user-test

#7612 feat(web): re-implementation of introductory globe-key help bubble
  android/.gitignore
  android/KMEA/app/src/main/assets/android-host.js
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/build.sh
  web/source/dom/domManager.ts
  web/source/kmwbase.ts
  web/source/kmwembedded.ts
  web/source/osk/embedded/globeHint.ts
  web/source/osk/embedded/singleInputCapture.ts
  web/source/osk/globehint.interface.ts
  web/source/osk/oskView.ts
  web/source/osk/visualKeyboard.ts
  web/source/resources/osk/globe-hint.css
  web/source/resources/osk/kmwosk.css
  web/source/tsconfig.json
  web/testing/android-harness/build.sh
Labels: web/, android/, feat, android/engine/, web/engine/, has-user-test

#7799 fix(android/engine): Fix logic error for updateKMP
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/CloudDataJsonUtil.java
Labels: android/, fix, android/engine/

#7792 fix(linux): Allow to build without patched ibus version
  linux/ibus-keyman/configure.ac
  linux/ibus-keyman/src/engine.c
Labels: linux/, fix, linux/engine/

#7793 chore(linux): Update autotools configuration
  linux/ibus-keyman/configure.ac
Labels: linux/, linux/engine/, chore

#7791 docs(ios): Update help documentation about Install and Allow Full Access
  ios/help/start/installing-system-keyboard.md
Labels: ios/, docs

#7802 auto: increment beta version to 16.0.111
  HISTORY.md
  VERSION.md
Labels: auto

#7781 fix(android/engine): Make it easier to test keyboard updates
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/CheckInstallReferrer.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/CloudDataJsonUtil.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudCatalogDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/logic/ResourcesUpdateTool.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/VersionUtils.java
Labels: android/, fix, android/engine/, android/app/, has-user-test

#7803 refactor(linux): Use consts instead of strings ⚙️ 🍒
  linux/ibus-keyman/src/engine.c
Labels: linux/, cherry-pick, linux/engine/, refactor

#7811 auto: increment beta version to 16.0.112
  HISTORY.md
  VERSION.md
Labels: auto

#7812 auto: increment master version to 17.0.12
  HISTORY.md
  VERSION.md
Labels: auto

#7806 fix: test builds should always run latest changes
  resources/build/run-required-test-builds.sh
  resources/build/trigger-builds.inc.sh
Labels: common/, common/resources/, fix

#7797 fix(web): unit test breakages
  web/source/osk/oskView.ts
  web/source/text/prediction/modelManager.ts
Labels: web/, fix, web/engine/
