Repository keymanapp/keyman, pull requests merged in 2022-09, with the labels that each got.

#7154 feat(developer): add unit tests for meta compiler 🙀
  developer/src/kmldmlc/src/keyman/compiler/callbacks.ts
  developer/src/kmldmlc/src/keyman/compiler/errors.ts
  developer/src/kmldmlc/src/keyman/compiler/keys.ts
  developer/src/kmldmlc/src/keyman/compiler/loca.ts
  developer/src/kmldmlc/src/keyman/compiler/meta.ts
  developer/src/kmldmlc/src/keyman/compiler/section-compiler.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus.ts
  developer/src/kmldmlc/src/keyman/ldml-keyboard/ldml-keyboard-xml.ts
  developer/src/kmldmlc/src/keyman/util/util.ts
  developer/src/kmldmlc/src/kmldmlc.ts
  developer/src/kmldmlc/test/fixtures/sections/meta/invalid-normalization.xml
  developer/src/kmldmlc/test/fixtures/sections/meta/maximal.xml
  developer/src/kmldmlc/test/fixtures/sections/meta/minimal.xml
  developer/src/kmldmlc/test/helpers/index.ts
  developer/src/kmldmlc/test/test-compiler-e2e.ts
  developer/src/kmldmlc/test/test-meta.ts
Labels: developer/, linux/, feat, epic-ldml

#7179 chore(core): split out validators 🙀
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/ldml_processor.cpp
Labels: core/, chore, epic-ldml

#7175 feat(developer): add loca tests 🙀
  developer/src/kmldmlc/src/keyman/compiler/errors.ts
  developer/src/kmldmlc/src/keyman/compiler/loca.ts
  developer/src/kmldmlc/src/keyman/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/kmldmlc/src/keyman/ldml-keyboard/ldml-keyboard-xml.ts
  developer/src/kmldmlc/test/fixtures/sections/loca/invalid-locale.xml
  developer/src/kmldmlc/test/fixtures/sections/loca/minimal.xml
  developer/src/kmldmlc/test/fixtures/sections/loca/multiple.xml
  developer/src/kmldmlc/test/test-loca.ts
  developer/src/kmldmlc/tsconfig.json
Labels: developer/, feat, epic-ldml

#7177 feat(developer): loca minimization + cleanup kmldmlc error list 🙀
  developer/src/kmldmlc/src/keyman/compiler/callbacks.ts
  developer/src/kmldmlc/src/keyman/compiler/errors.ts
  developer/src/kmldmlc/src/keyman/compiler/keys.ts
  developer/src/kmldmlc/src/keyman/compiler/loca.ts
  developer/src/kmldmlc/src/keyman/compiler/meta.ts
  developer/src/kmldmlc/src/kmldmlc.ts
  developer/src/kmldmlc/test/helpers/index.ts
  developer/src/kmldmlc/test/test-loca.ts
  developer/src/kmldmlc/test/test-meta.ts
Labels: developer/, feat, epic-ldml

#7178 chore(android): Reduce Toast notification noise
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudLexicalModelMetaDataDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/logic/ResourcesUpdateTool.java
Labels: android/, android/engine/, android/app/, chore, has-user-test

#7195 auto: increment master version to 16.0.56
  HISTORY.md
  VERSION.md
Labels: auto

#7192 chore(linux): Fix ibus-keyman.postinst script
  linux/debian/ibus-keyman.postinst
Labels: linux/, chore

#7156 fix(android/engine): Fix Backspace key to delete without errant subkeys
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
Labels: android/, fix, android/engine/, has-user-test

#7183 feat(developer): add kmlmc and kmldmlc to `make test` 🙀
  developer/src/kmlmc/Makefile
  developer/src/test/auto/Makefile
Labels: developer/, developer/compilers/, feat, epic-ldml

#7184 feat(developer): use json schema to verify source file 🙀
  developer/src/kmldmlc/build.sh
  developer/src/kmldmlc/package.json
  developer/src/kmldmlc/src/keyman/compiler/callbacks.ts
  developer/src/kmldmlc/src/keyman/compiler/errors.ts
  developer/src/kmldmlc/src/keyman/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/kmldmlc/src/kmldmlc.ts
  developer/src/kmldmlc/test/fixtures/invalid-conforms-to.xml
  developer/src/kmldmlc/test/fixtures/invalid-structure-per-dtd.xml
  developer/src/kmldmlc/test/helpers/index.ts
  developer/src/kmldmlc/test/ldml-keyboard/test-ldml-keyboard-xml-reader.ts
  developer/src/kmldmlc/test/test-compiler-e2e.ts
  developer/src/kmldmlc/test/test-loca.ts
  developer/src/kmldmlc/test/test-meta.ts
  package-lock.json
  resources/standards-data/ldml-keyboards/readme.md
  resources/standards-data/ldml-keyboards/techpreview/ldml-keyboard.schema.json
  resources/standards-data/ldml-keyboards/techpreview/ldmlKeyboard.xsd
Labels: developer/, common/, common/resources/, feat, epic-ldml

#7186 feat(common): add size and offset calculators to hextobin 🙀
  common/tools/hextobin/hextobin.ts
  common/tools/hextobin/index.ts
  core/tests/unit/ldml/invalid-keyboards/ik_000_null_invalid.txt
  developer/src/kmldmlc/test/fixtures/basic.txt
Labels: developer/, common/, feat, core/, epic-ldml

#7193 chore(core): define zero length string vs null string for kmxplus 🙀
  core/src/ldml/C7043_ldml.md
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus-builder.ts
  developer/src/kmldmlc/test/fixtures/basic.txt
Labels: developer/, core/, chore, epic-ldml

#7194 feat(common): hextobin `index` command 🙀
  common/tools/hextobin/hextobin.ts
  common/tools/hextobin/index.ts
  developer/src/kmldmlc/test/fixtures/basic.txt
Labels: developer/, common/, feat, epic-ldml

#7197 chore(core): order sections according to binary format 🙀
  core/include/ldml/keyboardprocessor_ldml.ts
  core/src/kmx/kmx_plus.h
  core/src/ldml/C7043_ldml.md
  developer/src/kmldmlc/src/keyman/compiler/compiler.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus-builder.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus.ts
  developer/src/kmldmlc/test/fixtures/basic.txt
Labels: developer/, core/, chore, epic-ldml

#7198 feat(developer): add compiler hint for non-minimal loca 🙀
  developer/src/kmldmlc/src/keyman/compiler/errors.ts
  developer/src/kmldmlc/src/keyman/compiler/loca.ts
  developer/src/kmldmlc/test/test-loca.ts
Labels: developer/, feat, epic-ldml

#7199 refactor(developer): kmldmlc - rename `CompilerErrors` to `CompilerMessages` 🙀
  developer/src/kmldmlc/src/keyman/compiler/keys.ts
  developer/src/kmldmlc/src/keyman/compiler/loca.ts
  developer/src/kmldmlc/src/keyman/compiler/messages.ts
  developer/src/kmldmlc/src/keyman/compiler/meta.ts
  developer/src/kmldmlc/src/keyman/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/kmldmlc/src/kmldmlc.ts
  developer/src/kmldmlc/test/ldml-keyboard/test-ldml-keyboard-xml-reader.ts
  developer/src/kmldmlc/test/test-loca.ts
  developer/src/kmldmlc/test/test-meta.ts
Labels: developer/, refactor, epic-ldml

#7200 feat(developer): add unit tests for 'name' compiler 🙀
  developer/src/kmldmlc/test/fixtures/sections/name/minimal.xml
  developer/src/kmldmlc/test/fixtures/sections/name/multiple.xml
  developer/src/kmldmlc/test/test-name.ts
Labels: developer/, feat, epic-ldml

#7201 feat(developer): add vkey support 🙀
  developer/src/kmldmlc/src/keyman/compiler/compiler.ts
  developer/src/kmldmlc/src/keyman/compiler/messages.ts
  developer/src/kmldmlc/src/keyman/compiler/section-compiler.ts
  developer/src/kmldmlc/src/keyman/compiler/vkey.ts
  developer/src/kmldmlc/src/keyman/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/kmldmlc/src/keyman/ldml-keyboard/ldml-keyboard-xml.ts
  developer/src/kmldmlc/src/keyman/ldml-keyboard/us-virtual-keys.ts
  developer/src/kmldmlc/test/fixtures/basic.txt
  developer/src/kmldmlc/test/fixtures/basic.xml
  developer/src/kmldmlc/test/fixtures/sections/vkey/invalid-from-vkey.xml
  developer/src/kmldmlc/test/fixtures/sections/vkey/invalid-repeated-vkey.xml
  developer/src/kmldmlc/test/fixtures/sections/vkey/invalid-to-vkey.xml
  developer/src/kmldmlc/test/fixtures/sections/vkey/minimal.xml
  developer/src/kmldmlc/test/fixtures/sections/vkey/redundant.xml
  developer/src/kmldmlc/test/fixtures/sections/vkey/same-target.xml
  developer/src/kmldmlc/test/test-vkey.ts
  resources/standards-data/ldml-keyboards/techpreview/ldml-keyboard.schema.json
Labels: developer/, common/, common/resources/, feat, epic-ldml

#7202 refactor(developer): cleanup virtual key constants 🙀
  developer/src/kmldmlc/src/keyman/compiler/keys.ts
  developer/src/kmldmlc/src/keyman/compiler/vkey.ts
  developer/src/kmldmlc/src/keyman/ldml-keyboard/us-virtual-keys.ts
  developer/src/kmldmlc/src/keyman/ldml-keyboard/virtual-key-constants.ts
  developer/src/kmldmlc/test/test-virtual-key-constants.ts
  developer/src/kmldmlc/test/test-vkey.ts
Labels: developer/, refactor, epic-ldml

#7203 chore(developer): add test for compiler messages and cleanup e2e test 🙀
  developer/src/kmldmlc/test/test-compiler-e2e.ts
  developer/src/kmldmlc/test/test-messages.ts
Labels: developer/, chore, epic-ldml

#7204 feat(core): ldml keyboard transform elements 🙀
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/src/kmx/kmx_plus.h
  core/src/ldml/C7043_ldml.md
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus.ts
Labels: developer/, feat, core/, epic-ldml

#7229 auto: increment master version to 16.0.58
  HISTORY.md
  VERSION.md
Labels: auto

#7215 fix(common/models): reconnects unit tests for worker-internal submodules 🎡
  common/models/templates/package.json
  common/models/templates/test/helpers.js
  common/models/templates/test/test-common.js
  common/models/templates/test/test-priority-queue.js
  common/models/templates/test/test-quote-behavior.js
  common/models/templates/test/test-tokenization.js
  common/models/templates/test/test-trie-model.js
  common/models/templates/test/test-trie-traversal.js
  common/models/templates/tsconfig.bundled.json
  common/models/wordbreakers/package.json
  common/models/wordbreakers/src/default/index.ts
  common/models/wordbreakers/test/test-ascii-word-breaker.js
  common/models/wordbreakers/test/test-default-word-breaker.js
  common/models/wordbreakers/test/test-placeholder-word-breaker.js
  common/predictive-text/unit_tests/test.sh
  common/web/utils/package.json
  package-lock.json
Labels: common/, common/models/, fix, common/web/, common/models/templates/, common/models/wordbreakers/

#7217 feat(common/models): extra Unicode-based wordbreaker unit tests
  common/models/wordbreakers/src/default/index.ts
  common/models/wordbreakers/test/test-default-word-breaker.js
Labels: common/, common/models/, feat, common/models/wordbreakers/

#7230 fix(core): ldml: improve utf-32 handling 🙀
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/kmx/kmx_xstring.cpp
  core/src/kmx/kmx_xstring.h
  core/src/ldml/ldml_processor.cpp
  core/tests/unit/kmnkbd/test_kmx_xstring.cpp
  core/tests/unit/ldml/test_kmx_plus.cpp
Labels: fix, core/, epic-ldml

#7211 refactor(developer): split kmxplus builder functions into separate files 🙀
  developer/src/kmldmlc/src/keyman/kmx/kmx-builder.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus-builder.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus-builder/build-keys.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus-builder/build-loca.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus-builder/build-meta.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus-builder/build-name.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus-builder/build-sect.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus-builder/build-strs.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus-builder/build-vkey.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus-builder/builder-section.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus-builder/kmx-plus-builder.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus.ts
Labels: developer/, refactor, epic-ldml

#7212 feat(developer): kmldmlc compiler for transforms 🙀
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  developer/src/kmldmlc/build.sh
  developer/src/kmldmlc/src/keyman/compiler/bksp.ts
  developer/src/kmldmlc/src/keyman/compiler/compiler.ts
  developer/src/kmldmlc/src/keyman/compiler/ordr.ts
  developer/src/kmldmlc/src/keyman/compiler/tran.ts
  developer/src/kmldmlc/src/keyman/kmx/element-string.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus-builder/build-elem.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus-builder/build-ordr.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus-builder/build-tran.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus-builder/kmx-plus-builder.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus.ts
  developer/src/kmldmlc/src/keyman/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/kmldmlc/src/keyman/ldml-keyboard/ldml-keyboard-xml.ts
  developer/src/kmldmlc/test/fixtures/basic.txt
  developer/src/kmldmlc/test/fixtures/basic.xml
  developer/src/kmldmlc/test/fixtures/sections/bksp/minimal.xml
  developer/src/kmldmlc/test/fixtures/sections/finl/minimal.xml
  developer/src/kmldmlc/test/fixtures/sections/ordr/minimal.xml
  developer/src/kmldmlc/test/fixtures/sections/tran/minimal.xml
  developer/src/kmldmlc/test/test-bksp.ts
  developer/src/kmldmlc/test/test-finl.ts
  developer/src/kmldmlc/test/test-ordr.ts
  developer/src/kmldmlc/test/test-tran.ts
  resources/build/build-utils.sh
Labels: developer/, common/, common/resources/, feat, core/, epic-ldml

#7213 feat(developer): add nyc to kmldmlc for test coverage 🙀
  developer/src/kmldmlc/.gitignore
  developer/src/kmldmlc/package.json
  package-lock.json
Labels: developer/, feat, epic-ldml

#7244 chore(core): improve xstring macros 🙀
  core/src/kmx/kmx_actions.cpp
  core/src/kmx/kmx_processor.cpp
  core/src/kmx/kmx_xstring.cpp
  core/src/kmx/kmx_xstring.h
  core/tests/unit/kmx/kmx.cpp
  core/tests/unit/ldml/ldml.cpp
Labels: core/, chore, epic-ldml

#7246 chore: merge master into feature-ldml 🙀
  HISTORY.md
  VERSION.md
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/cloud/impl/CloudLexicalModelMetaDataDownloadCallback.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/logic/ResourcesUpdateTool.java
  common/models/templates/package.json
  common/models/templates/test/helpers.js
  common/models/templates/test/test-common.js
  common/models/templates/test/test-priority-queue.js
  common/models/templates/test/test-quote-behavior.js
  common/models/templates/test/test-tokenization.js
  common/models/templates/test/test-trie-model.js
  common/models/templates/test/test-trie-traversal.js
  common/models/templates/tsconfig.bundled.json
  common/models/wordbreakers/package.json
  common/models/wordbreakers/src/default/index.ts
  common/models/wordbreakers/test/test-ascii-word-breaker.js
  common/models/wordbreakers/test/test-default-word-breaker.js
  common/models/wordbreakers/test/test-placeholder-word-breaker.js
  common/predictive-text/unit_tests/test.sh
  common/web/utils/package.json
  linux/debian/ibus-keyman.postinst
  package-lock.json
Labels: android/, linux/, common/, common/models/, android/engine/, android/app/, common/web/, common/models/templates/, common/models/wordbreakers/, chore, epic-ldml

#7233 chore: use keyman.com instead of keyman-staging.com
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/KMPLink.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/KMPLinkTest.java
  common/windows/delphi/general/Upload_Settings.pas
  ios/engine/KMEI/KeymanEngine/Classes/KeymanHosts.swift
  linux/keyman-config/keyman_config/__init__.py
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
Labels: android/, ios/, mac/, linux/, common/, android/engine/, ios/engine/, linux/config/, mac/engine/, chore, has-user-test

#7223 feat(core): add `km_kbp_event` API endpoint
  core/include/keyman/keyboardprocessor.h
  core/src/km_kbp_processevent_api.cpp
  core/src/processor.hpp
Labels: feat, core/

#7243 fix(windows): Delete both code units when deleting surrogate pairs in TSF-aware apps
  windows/src/engine/keyman32/kmprocessactions.cpp
Labels: windows/, fix, windows/engine/, has-user-test

#7257 auto: increment master version to 16.0.60
  HISTORY.md
  VERSION.md
Labels: auto

#7037 fix(web): enhanced timer for prediction algorithm
  common/web/lm-worker/src/correction/distance-modeler.ts
Labels: web/, common/, fix, common/web/

#7253 chore(core): fixup km_kbp_event docs
  core/include/keyman/keyboardprocessor.h
Labels: core/, chore

#7256 fix(windows): TSF apps delete all of smp 🍒
  windows/src/engine/keyman32/kmprocessactions.cpp
Labels: windows/, fix, windows/engine/

#7239 fix(android): Standardize language ID in language picker menu
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/SelectLanguageFragment.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/BCP47.java
Labels: android/, fix, android/engine/, android/app/, has-user-test

#7259 auto: increment master version to 16.0.61
  HISTORY.md
  VERSION.md
Labels: auto

#7248 chore(developer): remove name from meta section 🙀
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/C7043_ldml.md
  developer/src/kmldmlc/src/keyman/compiler/meta.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus-builder/build-meta.ts
  developer/src/kmldmlc/src/keyman/kmx/kmx-plus.ts
  developer/src/kmldmlc/test/fixtures/basic.txt
  developer/src/kmldmlc/test/test-meta.ts
Labels: developer/, core/, chore, epic-ldml

#7250 chore(developer): kmc - use local reference for json schema 🙀
  core/build.sh
  developer/src/kmc/build.sh
  developer/src/kmc/test/helpers/index.ts
Labels: developer/, core/, chore, epic-ldml

#7252 refactor(developer): kmc - encapsulate strs and elem items for sort 🙀
  developer/src/kmc/src/keyman/compiler/bksp.ts
  developer/src/kmc/src/keyman/compiler/compiler.ts
  developer/src/kmc/src/keyman/compiler/keys.ts
  developer/src/kmc/src/keyman/compiler/loca.ts
  developer/src/kmc/src/keyman/compiler/meta.ts
  developer/src/kmc/src/keyman/compiler/name.ts
  developer/src/kmc/src/keyman/compiler/ordr.ts
  developer/src/kmc/src/keyman/compiler/section-compiler.ts
  developer/src/kmc/src/keyman/compiler/tran.ts
  developer/src/kmc/src/keyman/kmx/element-string.ts
  developer/src/kmc/src/keyman/kmx/kmx-plus-builder/build-elem.ts
  developer/src/kmc/src/keyman/kmx/kmx-plus-builder/build-keys.ts
  developer/src/kmc/src/keyman/kmx/kmx-plus-builder/build-loca.ts
  developer/src/kmc/src/keyman/kmx/kmx-plus-builder/build-meta.ts
  developer/src/kmc/src/keyman/kmx/kmx-plus-builder/build-name.ts
  developer/src/kmc/src/keyman/kmx/kmx-plus-builder/build-ordr.ts
  developer/src/kmc/src/keyman/kmx/kmx-plus-builder/build-strs.ts
  developer/src/kmc/src/keyman/kmx/kmx-plus-builder/build-tran.ts
  developer/src/kmc/src/keyman/kmx/kmx-plus-builder/kmx-plus-builder.ts
  developer/src/kmc/src/keyman/kmx/kmx-plus.ts
  developer/src/kmc/test/fixtures/basic.txt
  developer/src/kmc/test/helpers/index.ts
  developer/src/kmc/test/test-bksp.ts
  developer/src/kmc/test/test-finl.ts
  developer/src/kmc/test/test-loca.ts
  developer/src/kmc/test/test-meta.ts
  developer/src/kmc/test/test-name.ts
  developer/src/kmc/test/test-ordr.ts
  developer/src/kmc/test/test-tran.ts
Labels: developer/, refactor, epic-ldml

#7263 docs(windows): add steps for using testhost debugging
  windows/src/engine/testhost/README.md
Labels: windows/, windows/engine/, chore, docs

#7190 fix(developer): compiler mismatch on currentLine
  developer/src/kmcmpdll/DeprecationChecks.cpp
  developer/src/kmcmpdll/UnreachableRules.cpp
Labels: developer/, fix, has-user-test

#7191 fix(developer): compiler mismatch on currentLine 🍒
  windows/src/developer/kmcmpdll/DeprecationChecks.cpp
  windows/src/developer/kmcmpdll/UnreachableRules.cpp
Labels: developer/, cherry-pick, fix

#7219 fix(developer): suppress repeated warnings about unreachable code
  developer/src/common/delphi/compiler/CompileErrorCodes.pas
  developer/src/kmcmpdll/comperr.h
  developer/src/tike/compile/CompileKeymanWeb.pas
Labels: developer/, fix, has-user-test

#7258 chore: try disabling concurrency for browserstack tests
  common/test/resources/karma-browserstack-config.js
Labels: common/, chore

#7260 chore(web): disable browserstack on non-web-specific builds
  common/predictive-text/unit_tests/test.sh
  resources/build/build-utils-ci.inc.sh
  resources/build/build-utils-ci.test.sh
  web/unit_tests/test.sh
Labels: web/, common/, common/resources/, chore

#7265 fix(developer): suppress repeated warnings about unreachable code 🍒
  windows/src/developer/TIKE/compile/CompileKeymanWeb.pas
  windows/src/global/delphi/general/CompileErrorCodes.pas
  windows/src/global/inc/Comperr.h
Labels: windows/, developer/, cherry-pick, fix, developer/ide/

#7270 auto: increment stable-15.0 version to 15.0.271
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/models/types/, common/models/templates/, common/models/wordbreakers/, common/core/, common/core/web/

#7272 auto: increment master version to 16.0.62
  HISTORY.md
  VERSION.md
Labels: auto

#7269 chore: merge master into feature-ldml 🙀
  HISTORY.md
  VERSION.md
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/SelectLanguageFragment.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/BCP47.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/KMPLink.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/KMPLinkTest.java
  common/predictive-text/unit_tests/test.sh
  common/test/resources/karma-browserstack-config.js
  common/web/lm-worker/src/correction/distance-modeler.ts
  common/windows/delphi/general/Upload_Settings.pas
  core/include/keyman/keyboardprocessor.h
  core/src/km_kbp_processevent_api.cpp
  core/src/processor.hpp
  developer/src/common/delphi/compiler/CompileErrorCodes.pas
  developer/src/kmcmpdll/DeprecationChecks.cpp
  developer/src/kmcmpdll/UnreachableRules.cpp
  developer/src/kmcmpdll/comperr.h
  developer/src/tike/compile/CompileKeymanWeb.pas
  ios/engine/KMEI/KeymanEngine/Classes/KeymanHosts.swift
  linux/keyman-config/keyman_config/__init__.py
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  resources/build/build-utils-ci.inc.sh
  resources/build/build-utils-ci.test.sh
  web/unit_tests/test.sh
  windows/src/engine/keyman32/keyman-engine.vcxproj
  windows/src/engine/keyman32/kmprocessactions.cpp
  windows/src/engine/keyman32/kmprocessactions.h
  windows/src/engine/keyman32/tests/keyman-engine-tests/keyman-engine-tests.vcxproj
  windows/src/engine/keyman32/tests/keyman-engine-tests/kmprocessactionstests.cpp
  windows/src/engine/testhost/README.md
Labels: web/, windows/, android/, developer/, ios/, mac/, linux/, common/, common/resources/, android/engine/, android/app/, ios/engine/, linux/config/, mac/engine/, core/, common/web/, windows/engine/, chore, epic-ldml

#7255 chore: make checksum optional 🙀
  common/windows/delphi/keyboards/kmxfile.pas
  core/src/kmx/kmx_file.cpp
  core/tests/unit/kmx/fixtures/binary/b_000_zero_checksum.kmn
  core/tests/unit/kmx/fixtures/binary/b_000_zero_checksum.txt
  core/tests/unit/kmx/fixtures/binary/meson.build
  core/tests/unit/kmx/fixtures/meson.build
  core/tests/unit/kmx/meson.build
  core/tests/unit/ldml/invalid-keyboards/meson.build
  core/tests/unit/ldml/meson.build
  core/tests/unit/meson.build
  developer/src/kmanalyze/kmanalyze.cpp
  developer/src/kmdecomp/kmdecomp.cpp
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMXFile.m
  windows/src/engine/keyman32/K32_load.cpp
  windows/src/engine/mcompile/mc_kmxfile.cpp
Labels: windows/, developer/, mac/, common/, mac/engine/, core/, windows/engine/, chore, epic-ldml

#7262 chore(core): use builder_ for build.sh 🙀
  core/.build-builder
  core/build.bat
  core/build.sh
  core/commands.inc.sh
  developer/src/tike/Makefile
  docs/settings/linux/tasks.json
  linux/scripts/build.sh
  linux/scripts/reconf.sh
  windows/src/engine/keyman32/Makefile
Labels: windows/, developer/, linux/, core/, windows/engine/, chore, epic-ldml

#7264 chore(core): verify StartGroup in kmx load 🙀
  core/src/kmx/kmx_file.cpp
Labels: core/, chore, epic-ldml

#7225 fix(developer): hide key-sizes when in desktop layout in touch layout editor
  developer/src/tike/xml/layoutbuilder/builder.css
  developer/src/tike/xml/layoutbuilder/builder.js
  developer/src/tike/xml/layoutbuilder/constants.js
Labels: developer/, fix, has-user-test

#7267 fix(developer): show more useful error if out of space during Setup
  common/windows/delphi/setup/SFX.pas
Labels: developer/, common/, fix

#7266 fix(android/engine): Standardize language ID in language picker 🍒
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/SelectLanguageFragment.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/BCP47.java
Labels: android/, cherry-pick, fix, android/engine/, android/app/, has-user-test

#7280 chore(linux): Update debian changelog
  linux/debian/changelog
Labels: linux/, chore

#7281 chore(linux): Update debian changelog 🍒
  linux/debian/changelog
Labels: linux/, cherry-pick, chore

#7291 fix(android/engine): Switch keyboard if uninstalling current one
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
Labels: android/, fix, android/engine/, has-user-test

#7205 fix(common/models): fixes quote-adjacent pred-text suggestions
  common/predictive-text/unit_tests/headless/edit-distance/context-tracker.js
  common/predictive-text/unit_tests/headless/transform-utils.js
  common/predictive-text/unit_tests/headless/worker-model-compositor.js
  common/web/lm-worker/src/correction/context-tracker.ts
  common/web/lm-worker/src/index.ts
  common/web/lm-worker/src/model-compositor.ts
  common/web/lm-worker/src/transformUtils.ts
Labels: common/, fix, common/web/, user-test-required, has-user-test

#7290 fix(common/models): max prediction wait check
  common/web/lm-worker/src/correction/distance-modeler.ts
Labels: common/, fix, common/web/, user-test-required, has-user-test

#7298 auto: increment master version to 16.0.65
  HISTORY.md
  VERSION.md
Labels: auto

#7274 fix(core): VerifyKeyboard() on kmxplus files 🙀
  common/include/kmx_file.h
  core/src/kmx/kmx_file.cpp
  core/src/kmx/kmx_file_validator.hpp
  core/src/kmx/kmx_processevent.h
  core/src/ldml/ldml_processor.cpp
Labels: common/, fix, core/, epic-ldml

#7296 chore(linux): Remove unused IBusLookupTable
  linux/ibus-keyman/src/engine.c
Labels: linux/, linux/engine/, chore

#7306 auto: increment master version to 16.0.66
  HISTORY.md
  VERSION.md
Labels: auto

#7288 chore: improve auto labeling
  .github/multi-labeler.yml
  .github/workflows/labeler.yml
Labels: common/, chore

#7289 chore: improve auto labeling 🍒
  .github/multi-labeler.yml
  .github/workflows/labeler.yml
Labels: stable, cherry-pick, common/, chore

#7308 auto: increment master version to 16.0.67
  HISTORY.md
  VERSION.md
Labels: auto

#7286 feat(developer): add kmx metadata to kmxplus compiles 🙀
  developer/src/kmc/build.sh
  developer/src/kmc/src/keyman/compiler/compiler-options.ts
  developer/src/kmc/src/keyman/compiler/compiler.ts
  developer/src/kmc/src/keyman/compiler/metadata-compiler.ts
  developer/src/kmc/src/kmc.ts
  developer/src/kmc/test/fixtures/basic.txt
  developer/src/kmc/test/fixtures/basic.xml
  developer/src/kmc/test/helpers/index.ts
  developer/src/kmc/test/test-compiler-e2e.ts
  developer/src/kmc/test/test-metadata-compiler.ts
  developer/src/kmc/test/tsconfig.json
Labels: developer/, feat, epic-ldml

#7241 fix(common/models): blocks full-text "corrections" ✏️
  common/predictive-text/unit_tests/headless/worker-model-compositor.js
  common/web/lm-worker/src/correction/distance-modeler.ts
  common/web/lm-worker/src/model-compositor.ts
Labels: common/, fix, common/web/, has-user-test

#7242 change(web): better fat-finger key weighting ✏️
  common/web/input-processor/src/text/inputProcessor.ts
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/keyboard-processor/src/text/codes.ts
Labels: web/, common/, common/web/, has-user-test

#7305 fix(web): fixes unintended auto-acceptance of suggestion after reverting
  web/source/osk/banner.ts
Labels: web/, fix, web/engine/, has-user-test

#7279 feat(common/models): wordbreaker customization
  common/models/templates/test/test-tokenization.js
  common/models/wordbreakers/src/default/data.ts
  common/models/wordbreakers/src/default/index.ts
  common/models/wordbreakers/test/test-default-word-breaker.js
Labels: common/, common/models/, feat, common/models/templates/, common/models/wordbreakers/

#7313 fix(common/models): fixes reference dropped by git merge
  common/web/lm-worker/src/model-compositor.ts
Labels: common/, fix, common/web/

#7303 test(android): Add final keyboard to test K_ENTER rule
  android/Tests/KeyboardHarness/app/src/main/assets/final.kmp
  android/Tests/KeyboardHarness/app/src/main/java/com/keyman/android/tests/keyboardHarness/MainActivity.java
Labels: android/, has-user-test

#7312 fix(web): fixes unintended auto-acceptance of suggestion after reverting 🍒
  web/source/osk/banner.ts
Labels: web/, stable, cherry-pick, fix, web/engine/

#7302 chore(common): Update to Unicode 15.0
  resources/standards-data/unicode-character-database/Blocks.txt
  resources/standards-data/unicode-character-database/UnicodeData.txt
Labels: common/, common/resources/, chore

#7316 chore(common): update auto labeler configuration 🍒
  .github/labeler.yml
Labels: cherry-pick, common/, chore

#7317 chore(common): make scripts executable and add pre-commit test 🍒
  common/windows/cef-checkout.sh
  common/windows/mkver.sh
  resources/build/build-utils-ci.test.sh
  resources/devbox/iis-https/setup-iis-https.sh
  resources/devbox/macos/keyman.macos.env.sh
  resources/git-hooks/pre-commit
  windows/src/desktop/locale/crowdin-control.sh
  windows/src/test/manual-tests/i18n-check-unused-strings/i18n-check-unused-strings.sh
Labels: windows/, cherry-pick, common/, common/resources/, windows/config/, chore

#7318 chore(common): remove unused ncc dependency
  package-lock.json
  resources/build/version/package.json
Labels: common/, common/resources/, chore

#7327 auto: increment master version to 16.0.68
  HISTORY.md
  VERSION.md
Labels: auto

#7323 chore(developer): remove crc generation from kmc-keyboard
  common/tools/hextobin/index.ts
  common/tools/hextobin/tsconfig.json
  developer/src/kmc-keyboard/package.json
  developer/src/kmc-keyboard/src/kmx/kmx-builder.ts
  developer/src/kmc-keyboard/test/fixtures/basic.txt
  package-lock.json
Labels: developer/, common/, developer/compilers/, chore, epic-ldml

#7315 chore(web): update `got` dependency for regression tests
  web/testing/regression-tests/README.md
  web/testing/regression-tests/package.json
  web/testing/regression-tests/src/test-runner.js
  web/testing/regression-tests/test.js
Labels: web/, chore

#7314 chore(developer): update multer dependency for server
  developer/src/server/package.json
  package-lock.json
Labels: developer/, developer/ide/, chore

#7321 chore(developer): update node-windows-trayicon to update node-gyp to 9.1.0
  developer/src/server/package.json
  package-lock.json
Labels: developer/, developer/ide/, chore

#7328 chore(core): changes ldml tsconfig to es2020 🙀
  core/include/ldml/package.json
  core/include/ldml/tsconfig.json
  tsconfig.cjs.json
  tsconfig.esm.json
Labels: core/, chore, epic-ldml

#7335 auto: increment master version to 16.0.69
  HISTORY.md
  VERSION.md
Labels: auto

#7336 fix(core): add hyphen to d parameter 🙀
  core/build.sh
Labels: fix, core/, epic-ldml

#7325 fix(android/engine): Check listview for setting keyboard selection
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
Labels: android/, fix, android/engine/, has-user-test

#7304 fix(android/engine): Switch keyboard if uninstalling current one :cherries:
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
Labels: android/, stable, cherry-pick, fix, android/engine/, has-user-test

#7319 refactor(common/web): reworks low-level module build scripts 🏗️
  common/web/input-processor/test.sh
  common/web/keyboard-processor/README.md
  common/web/keyboard-processor/build.sh
  common/web/keyboard-processor/package.json
  common/web/keyboard-processor/src/build.sh
  common/web/keyboard-processor/test.sh
  common/web/keyman-version/build.sh
  common/web/recorder/build.sh
  common/web/recorder/package.json
  common/web/recorder/src/build.sh
  common/web/utils/build.sh
  common/web/utils/package.json
  resources/build/build-utils.sh
  web/tools/recorder/build.sh
Labels: web/, common/, common/resources/, web/engine/, common/web/, refactor

#7333 refactor(common): `builder` script tweaks - "has action" vs "start action" 🏗️
  common/web/keyboard-processor/build.sh
  common/web/keyman-version/build.sh
  common/web/lm-worker/build.sh
  common/web/recorder/build.sh
  common/web/utils/build.sh
  resources/build/README.md
  resources/build/build-utils.md
  resources/build/build-utils.sh
  resources/build/build-utils.test.sh
  web/bulk_rendering/build.sh
Labels: web/, common/, common/resources/, common/web/, refactor

#7334 feat(common): builder trap-functionality testing 🏗️
  resources/build/build-utils.test.sh
  resources/build/tests/build-utils-traps.test.sh
  resources/build/tests/trap-test-builds.sh
Labels: web/, common/, common/resources/, feat, common/web/

#7339 chore(common): builder extra params support 🏗 🍒
  resources/build/build-utils.sh
  resources/build/build-utils.test.sh
Labels: cherry-pick, common/, common/resources/, chore

#7344 auto: increment master version to 16.0.70
  HISTORY.md
  VERSION.md
Labels: auto

#7300 chore(core): ignore checksum in 16.0 🙀
  common/include/kmx_file.h
  common/windows/cpp/include/legacy_kmx_file.h
  common/windows/cpp/include/legacy_kmx_memory.h
  common/windows/delphi/general/CRC32.pas
  common/windows/delphi/keyboards/kmxfile.pas
  core/src/kmx/kmx_base.h
  core/src/kmx/kmx_file.cpp
  core/src/kmx/kmx_file_validator.hpp
  developer/src/kmanalyze/kmanalyze.cpp
  developer/src/kmanalyze/kmanalyze.vcxproj
  developer/src/kmanalyze/kmanalyze.vcxproj.filters
  developer/src/kmcmpdll/Compiler.cpp
  developer/src/kmcomp/kmcomp.dpr
  developer/src/kmcomp/kmcomp.dproj
  developer/src/kmconvert/kmconvert.dpr
  developer/src/kmconvert/kmconvert.dproj
  developer/src/kmdecomp/crc32.cpp
  developer/src/kmdecomp/kmdecomp.cpp
  developer/src/kmdecomp/kmdecomp.vcxproj
  developer/src/kmdecomp/kmdecomp.vcxproj.filters
  developer/src/test/auto/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dpr
  developer/src/test/auto/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dproj
  developer/src/test/auto/kmx-file-languages/KMXFileLanguagesTestSuite.dpr
  developer/src/test/auto/kmx-file-languages/KMXFileLanguagesTestSuite.dproj
  developer/src/tike/Tike.dpr
  developer/src/tike/Tike.dproj
  developer/src/tike/main/KeymanDeveloperUtils.pas
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMBinaryFileFormat.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMXFile.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMXFile.m
  windows/src/buildtools/buildpkg/buildpkg.dpr
  windows/src/buildtools/buildpkg/buildpkg.dproj
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/engine/inst/insthelper/insthelper.dpr
  windows/src/engine/inst/insthelper/insthelper.dproj
  windows/src/engine/keyman/keyman.dpr
  windows/src/engine/keyman/keyman.dproj
  windows/src/engine/keyman32/K32_load.cpp
  windows/src/engine/kmcomapi/kmcomapi.dpr
  windows/src/engine/kmcomapi/kmcomapi.dproj
  windows/src/engine/mcompile/mc_crc32.cpp
  windows/src/engine/mcompile/mc_kmxfile.cpp
  windows/src/engine/mcompile/mc_kmxfile.h
  windows/src/engine/mcompile/mc_savekeyboard.cpp
  windows/src/engine/mcompile/mcompile.vcxproj
  windows/src/engine/mcompile/mcompile.vcxproj.filters
  windows/src/engine/tsysinfo/tsysinfo.dpr
  windows/src/engine/tsysinfo/tsysinfo.dproj
  windows/src/support/convert-iso6393-to-bcp47-for-keyboards/cvt.dpr
  windows/src/support/convert-iso6393-to-bcp47-for-keyboards/cvt.dproj
  windows/src/support/create_normalization_group/normgrp.dpr
  windows/src/support/kmxfonts/kmxfonts.dpr
  windows/src/support/kmxfonts/kmxfonts.dproj
  windows/src/test/manual-tests/test_iconsave/test_iconsave.dpr
  windows/src/test/manual-tests/test_iconsave/test_iconsave.dproj
Labels: windows/, developer/, mac/, common/, developer/compilers/, mac/engine/, core/, developer/ide/, windows/engine/, chore, epic-ldml

#7342 chore: merge master into feature-ldml 🙀
  HISTORY.md
  VERSION.md
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  common/models/templates/package.json
  common/models/wordbreakers/package.json
  common/predictive-text/package.json
  common/tools/hextobin/build.sh
  common/tools/hextobin/package.json
  common/web/input-processor/package.json
  common/web/input-processor/test.sh
  common/web/keyboard-processor/README.md
  common/web/keyboard-processor/build.sh
  common/web/keyboard-processor/package.json
  common/web/keyboard-processor/src/build.sh
  common/web/keyboard-processor/test.sh
  common/web/keyman-version/build.sh
  common/web/lm-worker/build.sh
  common/web/lm-worker/package.json
  common/web/recorder/build.sh
  common/web/recorder/package.json
  common/web/recorder/src/build.sh
  common/web/utils/build.sh
  common/web/utils/package.json
  core/commands.inc.sh
  core/tools/ldml-const-builder/build.sh
  developer/src/kmc-keyboard/build.sh
  developer/src/kmc-keyboard/package.json
  developer/src/kmc-keyboard/src/compiler/meta.ts
  developer/src/kmc-keyboard/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/kmc-model-info/build.sh
  developer/src/kmc-model/build.sh
  developer/src/kmc-package/build.sh
  developer/src/kmc/build.sh
  developer/src/server/package.json
  package-lock.json
  package.json
  resources/build/README.md
  resources/build/build-utils.md
  resources/build/build-utils.sh
  resources/build/build-utils.test.sh
  resources/build/tests/build-utils-traps.test.sh
  resources/build/tests/trap-test-builds.sh
  resources/build/version/package.json
  web/bulk_rendering/build.sh
  web/package.json
  web/testing/regression-tests/README.md
  web/testing/regression-tests/package.json
  web/testing/regression-tests/src/test-runner.js
  web/testing/regression-tests/test.js
  web/tools/recorder/build.sh
Labels: android/, developer/, common/, common/models/, developer/compilers/, android/engine/, core/, common/web/, common/models/templates/, common/models/wordbreakers/, developer/ide/, chore, epic-ldml

#7341 feat(developer): fixes to kmc-package for keyboard support 🙀
  developer/src/kmc-package/src/kmp-compiler.ts
  developer/src/kmc-package/src/kps-file.ts
  developer/src/kmc-package/test/fixtures/example.qaa.sencoten/example.qaa.sencoten.model.kmp.json
  developer/src/kmc-package/test/fixtures/khmer_angkor/build/khmer_angkor.js
  developer/src/kmc-package/test/fixtures/khmer_angkor/build/khmer_angkor.kmx
  developer/src/kmc-package/test/fixtures/khmer_angkor/build/khmer_angkor.kvk
  developer/src/kmc-package/test/fixtures/khmer_angkor/ref/kmp.json
  developer/src/kmc-package/test/fixtures/khmer_angkor/shared/fonts/khmer/busrakbd/khmer_busra_kbd.ttf
  developer/src/kmc-package/test/fixtures/khmer_angkor/shared/fonts/khmer/mondulkiri/FONTLOG.txt
  developer/src/kmc-package/test/fixtures/khmer_angkor/shared/fonts/khmer/mondulkiri/Mondulkiri-R.ttf
  developer/src/kmc-package/test/fixtures/khmer_angkor/shared/fonts/khmer/mondulkiri/OFL-FAQ.txt
  developer/src/kmc-package/test/fixtures/khmer_angkor/shared/fonts/khmer/mondulkiri/OFL.txt
  developer/src/kmc-package/test/fixtures/khmer_angkor/source/khmer_angkor.kps
  developer/src/kmc-package/test/fixtures/khmer_angkor/source/readme.htm
  developer/src/kmc-package/test/fixtures/khmer_angkor/source/splash.gif
  developer/src/kmc-package/test/fixtures/khmer_angkor/source/welcome/KAK_Documentation_EN.pdf
  developer/src/kmc-package/test/fixtures/khmer_angkor/source/welcome/KAK_Documentation_KH.pdf
  developer/src/kmc-package/test/fixtures/khmer_angkor/source/welcome/image002.png
  developer/src/kmc-package/test/fixtures/khmer_angkor/source/welcome/keyboard_layout.png
  developer/src/kmc-package/test/fixtures/khmer_angkor/source/welcome/welcome.htm
  developer/src/kmc-package/test/test-package-compiler.ts
  developer/src/kmc-package/test/tsconfig.json
  developer/src/kmc-package/tsconfig.json
  developer/src/kmc/src/kmlmi.ts
  developer/src/kmc/src/kmlmp.ts
Labels: developer/, developer/compilers/, feat, epic-ldml

#7347 fix(android): Add language name when installing default lexical-model
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/Samples/KMSample1/app/src/main/java/com/keyman/kmsample1/MainActivity.java
  android/Samples/KMSample2/app/src/main/java/com/keyman/kmsample2/SystemKeyboard.java
Labels: android/, fix, android/app/, has-user-test, android/samples/

#7350 chore(common): Add 15.0 stable entries to HISTORY.md :cherries:
  HISTORY.md
Labels: cherry-pick, common/, chore

#7356 auto: increment master version to 16.0.71
  HISTORY.md
  VERSION.md
Labels: auto

#7346 chore(web): update Node dev-dependencies
  common/predictive-text/package.json
  common/web/lm-worker/build.sh
  common/web/lm-worker/package.json
  package-lock.json
  web/package.json
Labels: web/, common/, common/web/, chore

#7355 feat(developer): kvk support 🙀
  common/schemas/kvk/kvk.ksy
  common/schemas/kvks/README.md
  common/schemas/kvks/kvks.schema.json
  common/schemas/kvks/kvks.xsd
  developer/src/kmc-keyboard/build.sh
  developer/src/kmc-keyboard/package.json
  developer/src/kmc-keyboard/src/compiler/callbacks.ts
  developer/src/kmc-keyboard/src/compiler/messages.ts
  developer/src/kmc-keyboard/src/kmx/kmx.ts
  developer/src/kmc-keyboard/src/kvk/kvk-file-reader.ts
  developer/src/kmc-keyboard/src/kvk/kvk-file-writer.ts
  developer/src/kmc-keyboard/src/kvk/kvk-file.ts
  developer/src/kmc-keyboard/src/kvk/kvks-file-reader.ts
  developer/src/kmc-keyboard/src/kvk/kvks-file.ts
  developer/src/kmc-keyboard/src/kvk/visual-keyboard.ts
  developer/src/kmc-keyboard/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/kmc-keyboard/src/util/util.ts
  developer/src/kmc-keyboard/test/fixtures/kvk/khmer_angkor.kvk
  developer/src/kmc-keyboard/test/fixtures/kvk/khmer_angkor.kvks
  developer/src/kmc-keyboard/test/helpers/index.ts
  developer/src/kmc-keyboard/test/kvk/test-kvk-file.ts
  developer/src/kmc-keyboard/test/kvk/test-kvk-round-trip.ts
  developer/src/kmc-keyboard/test/kvk/test-kvk-utils.ts
  developer/src/kmc-keyboard/test/kvk/test-kvks-file.ts
  developer/src/kmc-keyboard/test/ldml-keyboard/test-ldml-keyboard-xml-reader.ts
  developer/src/kmc-keyboard/test/test-bksp.ts
  developer/src/kmc-keyboard/test/test-compiler-e2e.ts
  developer/src/kmc-keyboard/test/test-finl.ts
  developer/src/kmc-keyboard/test/test-keys.ts
  developer/src/kmc-keyboard/test/test-loca.ts
  developer/src/kmc-keyboard/test/test-meta.ts
  developer/src/kmc-keyboard/test/test-metadata-compiler.ts
  developer/src/kmc-keyboard/test/test-name.ts
  developer/src/kmc-keyboard/test/test-ordr.ts
  developer/src/kmc-keyboard/test/test-tran.ts
  developer/src/kmc-keyboard/test/test-vkey.ts
  developer/src/kmc/src/kmc.ts
  package-lock.json
Labels: developer/, common/, developer/compilers/, feat, epic-ldml

#7357 refactor(developer): move compiler callbacks out of readers 🙀
  developer/src/kmc-keyboard/src/compiler/compiler.ts
  developer/src/kmc-keyboard/src/kvk/kvks-file-reader.ts
  developer/src/kmc-keyboard/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/kmc-keyboard/test/helpers/index.ts
  developer/src/kmc-keyboard/test/kvk/test-kvk-round-trip.ts
  developer/src/kmc-keyboard/test/kvk/test-kvks-file.ts
  developer/src/kmc-keyboard/test/ldml-keyboard/test-ldml-keyboard-xml-reader.ts
Labels: developer/, developer/compilers/, refactor, epic-ldml

#7361 feat(developer): visual keyboard compiler for LDML 🙀
  developer/src/kmc-keyboard/src/compiler/visual-keyboard-compiler.ts
  developer/src/kmc-keyboard/src/main.ts
  developer/src/kmc-keyboard/test/fixtures/basic-kvk.txt
  developer/src/kmc-keyboard/test/helpers/index.ts
  developer/src/kmc-keyboard/test/test-visual-keyboard-compiler-e2e.ts
  developer/src/kmc/package.json
  developer/src/kmc/src/kmc.ts
  developer/src/kmc/tsconfig.json
  package-lock.json
Labels: developer/, developer/compilers/, feat, epic-ldml

#7370 fix(developer): ensure backslash in paths passed to kmcomp
  developer/src/kmcomp/main.pas
Labels: developer/, developer/compilers/, fix

#7348 fix(web): Update spacebar caption when refreshing layout
  web/source/osk/oskView.ts
Labels: web/, fix, web/engine/, has-user-test

#7345 fix(common/web): mock deadkey handling after rules manipulating context 📴
  common/predictive-text/package.json
  common/web/keyboard-processor/src/text/outputTarget.ts
  common/web/lm-worker/build.sh
  common/web/lm-worker/package.json
  package-lock.json
  web/package.json
  web/source/dom/domEventHandlers.ts
  web/testing/attachment-api/index.html
  web/unit_tests/cases/element_interfaces.js
  web/unit_tests/test.sh
Labels: web/, common/, fix, web/engine/, common/web/

#7384 auto: increment master version to 16.0.72
  HISTORY.md
  VERSION.md
Labels: auto

#7385 fix(developer): kmc was overwriting kmx with kvk 🙀
  developer/src/kmc/src/kmc.ts
Labels: developer/, developer/compilers/, fix, epic-ldml

#7380 feat(common): kvks writer for TypeScript 🙀
  common/schemas/kvks/kvks.schema.json
  common/web/types/src/kvk/kvks-file-reader.ts
  common/web/types/src/kvk/kvks-file-writer.ts
  common/web/types/src/kvk/kvks-file.ts
  common/web/types/src/kvk/visual-keyboard.ts
  common/web/types/test/kvk/test-kvks-file.ts
Labels: common/, feat, common/web/, epic-ldml

#7383 fix(web): Only unhighlight suggestion if there's a pending one
  web/source/osk/uiTouchHandlerBase.ts
Labels: web/, fix, web/engine/, has-user-test

#7365 refactor(common): Split builder utilities to separate script
  resources/build/build-utils.sh
  resources/builder.inc.sh
Labels: web/, windows/, android/, developer/, common/, common/models/, common/resources/, oem/, android/engine/, android/app/, core/, common/web/, common/models/types/, developer/ide/, oem/fv/, windows/config/, chore, refactor
