Repository keymanapp/keyman, pull requests merged in 2022-06, with the labels that each got.

#6650 chore(android,ios,mac): Update crowdin strings for Spanish (Latin America)
  android/KMAPro/kMAPro/src/main/res/values-b+es+419/strings.xml
  android/KMEA/app/src/main/res/values-b+es+419/strings.xml
  ios/engine/KMEI/KeymanEngine/es-419.lproj/Localizable.strings
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/es-419.lproj/KMAboutWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/es-419.lproj/preferences.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/es-419.lproj/KMInfoWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardHelpWindow/es-419.lproj/KMKeyboardHelpWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/es-419.lproj/Localizable.strings
  mac/Keyman4MacIM/Keyman4MacIM/es-419.lproj/MainMenu.strings
Labels: android/, ios/, mac/, android/engine/, android/app/, ios/engine/, mac/engine/, chore, has-user-test

#6696 fix(developer): kmcomp package compiler race condition
  common/core/desktop/tests/unit/kmx/028 - smp.kmn
  common/core/desktop/tests/unit/kmx/meson.build
  windows/src/global/delphi/general/CompilePackage.pas
Labels: windows/, developer/, common/, fix, common/core/, common/core/desktop/

#6686 fix(web): crash in highlightKey
  web/source/osk/visualKeyboard.ts
Labels: web/, fix, web/engine/

#6691 fix(developer): install keyboard call should quote kmshell.exe path
  windows/src/developer/TIKE/main/KeymanDeveloperUtils.pas
Labels: developer/, fix, developer/ide/

#6700 auto: increment stable-14.0 version to 14.0.295
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/models/types/, common/models/templates/, common/models/wordbreakers/, common/core/, common/core/web/

#6702 auto: increment beta version to 15.0.258
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/models/types/, common/models/templates/, common/models/wordbreakers/, common/core/, common/core/web/

#6705 chore: add 14.0 entries to beta HISTORY.md
  HISTORY.md
Labels: common/, chore

#6707 chore(web): switch on additional BrowserStack reporting
  common/predictive-text/unit_tests/in_browser/CI.conf.js
  common/predictive-text/unit_tests/test.sh
  web/unit_tests/CI.conf.js
Labels: web/, common/, chore

#6689 fix(web): fixes OSK-interaction issues in Float, Toolbar UI modules
  web/source/kmwuifloat.ts
  web/source/kmwuitoolbar.ts
  web/source/osk/floatingOskView.ts
Labels: web/, fix, web/engine/, web/ui/, has-user-test

#6722 auto: increment beta version to 15.0.259
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/models/types/, common/models/templates/, common/models/wordbreakers/, common/core/, common/core/web/

#6671 fix(android/engine): Disable haptic feedback on hardware keystrokes
  android/KMEA/app/src/main/assets/android-host.js
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardJSHandler.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
Labels: android/, fix, android/engine/, has-user-test

#6727 fix(windows): Install TIP crash with inconsistent bcp47tag
  windows/src/desktop/kmshell/install/Keyman.Configuration.System.TIPMaintenance.pas
Labels: windows/, fix, windows/config/, has-user-test

#6714 change(web): adjusts minimum distance needed for quick-display of subkeys
  web/source/osk/oskLayer.ts
  web/source/osk/visualKeyboard.ts
Labels: web/, web/engine/, has-user-test

#6718 change(web): browser test timeout tweaks
  common/predictive-text/unit_tests/in_browser/CI.conf.js
  web/unit_tests/CI.conf.js
Labels: web/, common/

#6762 fix(common): update increment-version for new tsc, node versions 🎡
  package-lock.json
  package.json
  resources/build/increment-version.sh
  resources/build/version/package-lock.json
  resources/build/version/package.json
  resources/build/version/src/fixupHistory.ts
  resources/build/version/src/reportHistory.ts
Labels: common/, common/resources/, fix

#6767 auto: increment master version to 16.0.13
  HISTORY.md
  VERSION.md
Labels: auto

#6763 fix(web): row height layout calcs now consider layer-group padding
  web/source/osk/oskBaseKey.ts
  web/source/osk/oskLayer.ts
  web/source/osk/oskRow.ts
  web/source/osk/visualKeyboard.ts
Labels: web/, fix, web/engine/, has-user-test

#6761 chore(android): adds diagnostic logging to assist a fix for #6703
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/KeyboardController.java
Labels: android/, android/engine/, chore

#6704 fix(android): check index validity in getCurrentKeyboardInfo
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/LanguageSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/KeyboardController.java
Labels: android/, fix, android/engine/, android/app/, has-user-test

#6772 chore(common): version 15.0 release tweaks
  CONTRIBUTING.md
  README.md
Labels: user-test-missing

#6775 auto: increment stable-15.0 version to 15.0.261
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/models/types/, common/models/templates/, common/models/wordbreakers/, common/core/, common/core/web/

#6771 chore: beta to master merge A16S4
  HISTORY.md
  VERSION.md
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/LanguageSettingsActivity.java
  android/KMAPro/kMAPro/src/main/res/values-b+es+419/strings.xml
  android/KMEA/app/src/main/assets/android-host.js
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboardJSHandler.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelPickerActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/KeyboardController.java
  android/KMEA/app/src/main/res/values-b+es+419/strings.xml
  common/core/desktop/tests/unit/kmx/028 - smp.kmn
  common/core/desktop/tests/unit/kmx/meson.build
  common/predictive-text/unit_tests/in_browser/CI.conf.js
  common/predictive-text/unit_tests/test.sh
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/es-419.lproj/Localizable.strings
  ios/help/about/welcome.md
  ios/keyman/Keyman/Keyman/Classes/InfoViewController/InfoViewController.swift
  ios/keyman/Keyman/Keyman/Classes/InfoViewController/InfoViewController_iPad.xib
  ios/keyman/Keyman/Keyman/Classes/InfoViewController/InfoViewController_iPhone.xib
  ios/keyman/Keyman/Keyman/Classes/KMWebBrowser/WebBrowserViewController.xib
  ios/keyman/Keyman/Keyman/Classes/MainViewController/MainViewController.swift
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/es-419.lproj/KMAboutWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/es-419.lproj/preferences.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/es-419.lproj/KMInfoWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardHelpWindow/es-419.lproj/KMKeyboardHelpWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/es-419.lproj/Localizable.strings
  mac/Keyman4MacIM/Keyman4MacIM/es-419.lproj/MainMenu.strings
  web/source/kmwuifloat.ts
  web/source/kmwuitoolbar.ts
  web/source/osk/anchoredOskView.ts
  web/source/osk/floatingOskView.ts
  web/source/osk/oskBaseKey.ts
  web/source/osk/oskLayer.ts
  web/source/osk/oskRow.ts
  web/source/osk/visualKeyboard.ts
  web/unit_tests/CI.conf.js
  windows/src/desktop/kmshell/install/Keyman.Configuration.System.TIPMaintenance.pas
  windows/src/developer/TIKE/main/KeymanDeveloperUtils.pas
  windows/src/global/delphi/general/CompilePackage.pas
Labels: android/, ios/, mac/, common/, android/engine/, android/app/, ios/app/, ios/engine/, mac/engine/, chore, common/core/, common/core/desktop/

#6779 auto: increment master version to 16.0.14
  HISTORY.md
  VERSION.md
Labels: auto

#6791 chore(web): add 'index.html' to parent links in test pages
  web/samples/index.html
  web/testing/index.html
  web/tools/index.html
Labels: web/, web/samples/, chore

#6798 auto: increment master version to 16.0.15
  HISTORY.md
  VERSION.md
Labels: auto

#6789 fix(web): crash on custom modifier keys
  common/core/web/input-processor/src/text/inputProcessor.ts
Labels: web/, stable, common/, fix, has-user-test, common/core/, common/core/web/

#6790 fix(web): crash on custom modifier keys 🍒
  common/web/input-processor/src/text/inputProcessor.ts
Labels: web/, cherry-pick, common/, fix

#6706 fix(android): check index validity in getCurrentKeyboardInfo 🍒
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/LanguageSettingsActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelPickerActivity.java
Labels: android/, cherry-pick, fix, android/engine/, android/app/

#6776 chore: add trigger definitions for stable-15.0 and fixup force param for increment-version.sh 🍒
  resources/build/trigger-definitions.inc.sh
  resources/build/version/src/index.ts
Labels: cherry-pick, common/, common/resources/, chore

#6645 chore(developer): fixup server paths and build 🎢
  common/test/keyboards/build.sh
  developer/src/Makefile
  developer/src/inst/Makefile
  developer/src/inst/download.in.mak
  developer/src/inst/node/dist/Keyman_README.md
  developer/src/kmlmc/Makefile
  developer/src/server/Makefile
  developer/src/server/build-addins.inc.sh
  developer/src/server/build.sh
  developer/src/server/postbuild.sh
  developer/src/server/src/win32/README.md
  developer/src/server/src/win32/console/README.md
  developer/src/server/src/win32/trayicon/README.md
  developer/src/server/tsconfig.json
  developer/src/tike/main/Keyman.Developer.System.KeymanDeveloperPaths.pas
  package.json
  tsconfig.json
Labels: developer/, common/, developer/compilers/, chore

#6687 chore(developer): move browse4folder to Developer source 🎢
  developer/src/Makefile
  developer/src/ext/Makefile
  developer/src/ext/browse4folder.txt
  developer/src/ext/browse4folder/Browse4Folder.pas
  developer/src/ext/browse4folder/Makefile
  developer/src/ext/browse4folder/browse4folder.dpk
  developer/src/ext/browse4folder/browse4folder.dproj
  developer/src/ext/browse4folder/browse4folder.res
  developer/src/tike/Tike.dpr
  developer/src/tike/Tike.dproj
  windows/src/global/delphi/keyman_components.dpk
  windows/src/global/delphi/keyman_components.dproj
Labels: windows/, developer/, chore

#6688 chore(windows): remove delphiprojectmanager 🎢
  windows/src/Defines.mak
  windows/src/buildtools/Makefile
  windows/src/buildtools/delphiprojectmanager/DelphiProjectManagerWizard.pas
  windows/src/buildtools/delphiprojectmanager/Makefile
  windows/src/buildtools/delphiprojectmanager/delphiprojectmanager.cfg
  windows/src/buildtools/delphiprojectmanager/delphiprojectmanager.dof
  windows/src/buildtools/delphiprojectmanager/delphiprojectmanager.dpk
  windows/src/buildtools/delphiprojectmanager/delphiprojectmanager.dproj
  windows/src/buildtools/delphiprojectmanager/delphiprojectmanager.res
  windows/src/buildtools/delphiprojectmanager/delphiprojectmanager_Icon.ico
  windows/src/buildtools/devtools/DevCheckSvnStatus.pas
  windows/src/buildtools/devtools/DevDelphiCompileWrapper.pas
  windows/src/buildtools/devtools/DevDelphiStarterCompileWrapper.pas
  windows/src/buildtools/devtools/DevIncludePaths.pas
  windows/src/buildtools/devtools/DevUtils.pas
  windows/src/buildtools/devtools/Makefile
  windows/src/buildtools/devtools/UfrmCompilerErrors.dfm
  windows/src/buildtools/devtools/UfrmCompilerErrors.pas
  windows/src/buildtools/devtools/devtools.dpr
  windows/src/buildtools/devtools/devtools.dproj
  windows/src/global/delphi/general/RegistryKeys.pas
Labels: windows/, chore

#6690 chore(windows): remove unused regexpr package 🎢
  developer/src/tike/child/UfrmKeymanWizard.pas
  windows/src/buildtools/tds2dbg/DbgFile.pas
  windows/src/ext/Makefile
  windows/src/ext/regexpr.txt
  windows/src/ext/regexpr/History.txt
  windows/src/ext/regexpr/HyperLinksDecorator.pas
  windows/src/ext/regexpr/Makefile
  windows/src/ext/regexpr/RegExpr-ReadMe.txt
  windows/src/ext/regexpr/RegExpr.pas
  windows/src/ext/regexpr/TRegExpr.GID
  windows/src/ext/regexpr/TRegExpr.hlp
Labels: windows/, developer/, chore

#6801 auto: increment stable-15.0 version to 15.0.262
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/models/types/, common/models/templates/, common/models/wordbreakers/, common/core/, common/core/web/

#6802 auto: increment master version to 16.0.16
  HISTORY.md
  VERSION.md
Labels: auto

#6710 chore(windows): move json-schema-validator to developer 🎢
  developer/src/.gitignore
  developer/src/ext/json-schema-validator/LICENSE
  developer/src/ext/json-schema-validator/README.md
  developer/src/ext/json-schema-validator/json-schema-draft4.json.cpp
  developer/src/ext/json-schema-validator/json-schema.hpp
  developer/src/ext/json-schema-validator/json-uri.cpp
  developer/src/ext/json-schema-validator/json-validator.cpp
  developer/src/ext/json/LICENSE.MIT
  developer/src/ext/json/README.md
  developer/src/ext/json/json.hpp
  developer/src/kmcmpdll/kmcmpdll.vcxproj
  developer/src/kmcmpdll/kmcmpdll.vcxproj.filters
Labels: windows/, developer/, chore

#6711 chore(windows): remove JCL library dependency 🎢
  windows/src/buildtools/sentrytool/Keyman.System.JclMapScanner.pas
  windows/src/buildtools/sentrytool/Keyman.System.MapToSym.pas
  windows/src/buildtools/sentrytool/sentrytool.dpr
  windows/src/buildtools/sentrytool/sentrytool.dproj
Labels: windows/, chore

#6716 chore(developer): move qrcode component to Developer 🎢
  developer/src/ext/zxingqrcode/LICENSE.md
  developer/src/ext/zxingqrcode/README.md
  developer/src/ext/zxingqrcode/Source/DelphiZXIngQRCode.pas
  developer/src/ext/zxingqrcode/TestApp/DelphiZXingQRCodeTestApp.dpr
  developer/src/ext/zxingqrcode/TestApp/DelphiZXingQRCodeTestApp.dproj
  developer/src/ext/zxingqrcode/TestApp/DelphiZXingQRCodeTestApp.res
  developer/src/ext/zxingqrcode/TestApp/DelphiZXingQRCodeTestAppMainForm.dfm
  developer/src/ext/zxingqrcode/TestApp/DelphiZXingQRCodeTestAppMainForm.pas
  developer/src/tike/Tike.dpr
  developer/src/tike/Tike.dproj
  developer/src/tike/main/Keyman.System.QRCode.pas
Labels: developer/, chore

#6717 chore(windows): move tds2dbg to common 🎢
  common/windows/.gitignore
  common/windows/delphi/Defines.mak
  common/windows/delphi/ext/Makefile
  common/windows/delphi/ext/tds2dbg.txt
  common/windows/delphi/ext/tds2dbg/.gitignore
  common/windows/delphi/ext/tds2dbg/Build.txt
  common/windows/delphi/ext/tds2dbg/ChangeLog
  common/windows/delphi/ext/tds2dbg/LICENSE
  common/windows/delphi/ext/tds2dbg/Makefile
  common/windows/delphi/ext/tds2dbg/ReadMe.txt
  common/windows/delphi/ext/tds2dbg/fileutils.cpp
  common/windows/delphi/ext/tds2dbg/fileutils.h
  common/windows/delphi/ext/tds2dbg/log.cpp
  common/windows/delphi/ext/tds2dbg/log.h
  common/windows/delphi/ext/tds2dbg/main.cpp
  common/windows/delphi/ext/tds2dbg/tds2dbg.bin
  common/windows/delphi/ext/tds2dbg/tds2dbg.cpp
  common/windows/delphi/ext/tds2dbg/tds2dbg.dcf
  common/windows/delphi/ext/tds2dbg/tds2dbg.h
  common/windows/delphi/ext/tds2dbg/tds2dbg.sln
  common/windows/delphi/ext/tds2dbg/tds2dbg.vcxproj
  common/windows/delphi/ext/tds2dbg/tds2dbg.vcxproj.filters
  common/windows/delphi/ext/tds2dbg/tdscvstructs.h
  common/windows/delphi/ext/tds2dbg/testa.cpp
  windows/src/Defines.mak
  windows/src/buildtools/Makefile
  windows/src/buildtools/tds2dbg/DbgFile.pas
  windows/src/buildtools/tds2dbg/Makefile
Labels: windows/, common/, chore

#6719 chore(windows): move ext/sentry to common 🎢
  common/windows/delphi/ext/sentry.txt
  common/windows/delphi/ext/sentry/2.3/README.md
  common/windows/delphi/ext/sentry/2.3/crashpad_handler.exe
  common/windows/delphi/ext/sentry/2.3/sentry.dll
  common/windows/delphi/ext/sentry/2.3/sentry.x64.dll
  common/windows/delphi/ext/sentry/Sentry.Client.Console.pas
  common/windows/delphi/ext/sentry/Sentry.Client.Vcl.pas
  common/windows/delphi/ext/sentry/Sentry.Client.pas
  common/windows/delphi/ext/sentry/build_sentry_for_keyman.bat
  common/windows/delphi/ext/sentry/crashpad_handler.exe
  common/windows/delphi/ext/sentry/sentry.dll
  common/windows/delphi/ext/sentry/sentry.h
  common/windows/delphi/ext/sentry/sentry.lib
  common/windows/delphi/ext/sentry/sentry.pas
  common/windows/delphi/ext/sentry/sentry.x64.dll
  common/windows/delphi/ext/sentry/sentry.x64.lib
  common/windows/delphi/ext/sentry/test/Makefile
  common/windows/delphi/ext/sentry/test/Sentry.Client.Test.SentryClientTestMain.pas
  common/windows/delphi/ext/sentry/test/Sentry.Client.Test.SentryClientVclTestMain.dfm
  common/windows/delphi/ext/sentry/test/Sentry.Client.Test.SentryClientVclTestMain.pas
  common/windows/delphi/ext/sentry/test/SentryClientTest.dpr
  common/windows/delphi/ext/sentry/test/SentryClientTest.dproj
  common/windows/delphi/ext/sentry/test/SentryClientTest.res
  common/windows/delphi/ext/sentry/test/SentryClientVclTest.dfm
  common/windows/delphi/ext/sentry/test/SentryClientVclTest.dpr
  common/windows/delphi/ext/sentry/test/SentryClientVclTest.dproj
  common/windows/delphi/ext/sentry/test/SentryClientVclTest.res
  common/windows/delphi/ext/sentry/test/SentryTest.groupproj
  developer/src/Makefile
  developer/src/inst/kmdev.wxs
  developer/src/kmanalyze/kmanalyze.vcxproj
  developer/src/kmanalyze/kmanalyze.vcxproj.filters
  developer/src/kmcomp/kmcomp.dpr
  developer/src/kmcomp/kmcomp.dproj
  developer/src/kmconvert/kmconvert.dpr
  developer/src/kmconvert/kmconvert.dproj
  developer/src/kmdecomp/kmdecomp.vcxproj
  developer/src/tike/Tike.dpr
  developer/src/tike/Tike.dproj
  windows/src/desktop/inst/keymandesktop.wxs
  windows/src/desktop/kmbrowserhost/kmbrowserhost.dpr
  windows/src/desktop/kmbrowserhost/kmbrowserhost.dproj
  windows/src/desktop/kmconfig/kmconfig.dpr
  windows/src/desktop/kmconfig/kmconfig.dproj
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/kmshell/kmshell.res
  windows/src/engine/Makefile
  windows/src/engine/inst/components.wxs
  windows/src/engine/keyman/keyman.dpr
  windows/src/engine/keyman/keyman.dproj
  windows/src/engine/keymanx64/keymanx64.vcxproj
  windows/src/engine/mcompile/mcompile.vcxproj
  windows/src/engine/tsysinfo/tsysinfo.dpr
  windows/src/engine/tsysinfo/tsysinfo.dproj
  windows/src/engine/tsysinfox64/tsysinfox64.dpr
  windows/src/engine/tsysinfox64/tsysinfox64.dproj
  windows/src/global/delphi/general/Keyman.System.KeymanSentryClient.pas
Labels: windows/, developer/, common/, chore

#6724 chore(windows): move buildunidata to common 🎢
  common/windows/.gitignore
  common/windows/delphi/tools/Makefile
  common/windows/delphi/tools/build_standards_data/.gitignore
  common/windows/delphi/tools/buildunidata/Makefile
  common/windows/delphi/tools/buildunidata/buildunidata.dpr
  common/windows/delphi/tools/buildunidata/buildunidata.dproj
  common/windows/delphi/tools/buildunidata/buildunidata.res
  common/windows/delphi/tools/buildunidata/buildunidata_main.pas
  windows/src/buildtools/Makefile
  windows/src/buildtools/buildpkg/buildpkg.cfg
  windows/src/buildtools/buildunidata/Makefile
  windows/src/buildtools/buildunidata/buildunidata.cfg
  windows/src/buildtools/buildunidata/buildunidata.dpr
  windows/src/buildtools/buildunidata/version.rc
  windows/src/ext/plusmemo.txt
  windows/src/ext/sptbxlib.txt
  windows/src/global/inst/Makefile
Labels: windows/, common/, chore

#6736 chore(windows): move devtools to common 🎢
  common/windows/delphi/Defines.mak
  common/windows/delphi/tools/Makefile
  common/windows/delphi/tools/devtools/DevCheckGitStatus.pas
  common/windows/delphi/tools/devtools/DevIncludePaths.pas
  common/windows/delphi/tools/devtools/DevInstallPackages.pas
  common/windows/delphi/tools/devtools/DevReleaseBuildCheck.pas
  common/windows/delphi/tools/devtools/DevUtils.pas
  common/windows/delphi/tools/devtools/Keyman.System.DevTools.BuildMessageConstants.pas
  common/windows/delphi/tools/devtools/Keyman.System.DevTools.BuildSetupStringTranslations.pas
  common/windows/delphi/tools/devtools/Makefile
  common/windows/delphi/tools/devtools/SourceRootPath.pas
  common/windows/delphi/tools/devtools/devtools.dpr
  common/windows/delphi/tools/devtools/devtools.dproj
  common/windows/delphi/tools/devtools/devtools.res
  developer/src/Makefile
  windows/src/Defines.mak
  windows/src/Makefile
  windows/src/Target.mak
  windows/src/buildtools/Makefile
  windows/src/buildtools/devtools/devtools.dpr
  windows/src/buildtools/sentrytool/Makefile
  windows/src/desktop/setup/Makefile
Labels: windows/, developer/, common/, windows/config/, chore

#6737 chore(windows): remove test certificates 🎢
  common/windows/delphi/Defines.mak
  common/windows/delphi/tools/certificates/.gitignore
  common/windows/delphi/tools/certificates/Makefile
  docs/build/windows.md
  windows/src/Defines.mak
  windows/src/Makefile
  windows/src/README.md
  windows/src/buildtools/certificates/KeymanTest-sha1.cer
  windows/src/buildtools/certificates/KeymanTest-sha1.pfx
  windows/src/buildtools/certificates/KeymanTest-sha1.pvk
  windows/src/buildtools/certificates/KeymanTest-sha256.cer
  windows/src/buildtools/certificates/KeymanTest-sha256.pfx
  windows/src/buildtools/certificates/KeymanTest-sha256.pvk
  windows/src/buildtools/certificates/KeymanTestCA-sha1.cer
  windows/src/buildtools/certificates/KeymanTestCA-sha1.pvk
  windows/src/buildtools/certificates/KeymanTestCA-sha256.cer
  windows/src/buildtools/certificates/KeymanTestCA-sha256.pvk
  windows/src/test/manual-tests/installer/README.md
Labels: windows/, common/, chore

#6738 chore(windows): move sentrytool to common 🎢
  common/windows/delphi/Defines.mak
  common/windows/delphi/tools/Makefile
  common/windows/delphi/tools/sentrytool/Keyman.System.AddPdbToPe.pas
  common/windows/delphi/tools/sentrytool/Keyman.System.JclMapScanner.pas
  common/windows/delphi/tools/sentrytool/Keyman.System.MapToSym.pas
  common/windows/delphi/tools/sentrytool/Keyman.System.SentryTool.DelphiSearchFile.pas
  common/windows/delphi/tools/sentrytool/Keyman.System.SentryTool.SentryToolMain.pas
  common/windows/delphi/tools/sentrytool/Makefile
  common/windows/delphi/tools/sentrytool/Test/Keyman.Test.System.SentryTool.DelphiSearchFile.pas
  common/windows/delphi/tools/sentrytool/Test/sentrytoolTests.dpr
  common/windows/delphi/tools/sentrytool/Test/sentrytoolTests.dproj
  common/windows/delphi/tools/sentrytool/Test/sentrytoolTests.res
  common/windows/delphi/tools/sentrytool/sentrytool.dpr
  common/windows/delphi/tools/sentrytool/sentrytool.dproj
  common/windows/delphi/tools/sentrytool/sentrytool.res
  common/windows/delphi/tools/sentrytool/sentrytoolg.groupproj
  windows/src/Defines.mak
  windows/src/buildtools/Makefile
Labels: windows/, common/, chore

#6739 chore(windows): move test-klog to common and add call to Developer build 🎢
  common/windows/delphi/tools/Makefile
  common/windows/delphi/tools/test-klog/Makefile
  common/windows/delphi/tools/test-klog/test_klog.dpr
  common/windows/delphi/tools/test-klog/test_klog.dproj
  common/windows/delphi/tools/test-klog/test_klog.res
  developer/src/Makefile
  windows/src/Makefile
  windows/src/buildtools/Makefile
  windows/src/buildtools/test-klog/test_klog.cfg
  windows/src/buildtools/test-klog/test_klog.dpr
Labels: windows/, developer/, common/, chore

#6740 chore(windows): move cef-checkout.sh to common 🎢
  common/windows/CEF_VERSION.md
  common/windows/cef-checkout.sh
  common/windows/delphi/ext/cef4delphi.txt
  developer/src/Makefile
  docs/build/windows.md
  windows/src/Makefile
Labels: windows/, developer/, common/, chore

#6741 chore(windows): move mkver.sh to common 🎢
  common/windows/delphi/Defines.mak
  common/windows/mkver.sh
  windows/src/Defines.mak
Labels: windows/, common/, chore

#6742 chore(windows): move msbuild-wrapper.bat to common 🎢
  common/windows/delphi/Defines.mak
  common/windows/delphi/tools/msbuild-wrapper.bat
  windows/src/Defines.mak
Labels: windows/, common/, chore

#6795 fix(web): key preview styling, positioning issues 🍒
  web/source/osk/browser/keytip.ts
  web/source/resources/osk/kmwosk.css
Labels: web/, cherry-pick, web/engine/

#6784 fix(web): key tip constraint logic requires .bottom CSS
  web/source/osk/browser/keytip.ts
  web/source/resources/osk/kmwosk.css
Labels: web/, fix, web/engine/, has-user-test

#6807 fix(ios): overzealous error about missing banner image
  ios/keyman/Keyman/SWKeyboard/KeyboardViewController.swift
Labels: ios/, fix, ios/app/

#6809 chore(linux): Update Debian changelog 🐧
  linux/debian/changelog
Labels: linux/, stable, chore

#6810 chore(linux): Update Debian changelog 🍒 🐧
  linux/debian/changelog
Labels: linux/, cherry-pick, chore

#6812 fix(linux): Deal with non-existing files
  linux/keyman-config/keyman_config/install_kmp.py
Labels: linux/, fix, linux/config/

#6814 fix(linux): Catch KeyboardInterrupt
  linux/keyman-config/km-config
Labels: linux/, fix, linux/config/

#6818 chore(web): updates error-reporting lib uploader
  package-lock.json
  web/package.json
Labels: web/, chore

#6816 fix(ios): blocks known non-error "error" report 🍒
  ios/keyman/Keyman/SWKeyboard/KeyboardViewController.swift
Labels: ios/, cherry-pick, fix, ios/app/

#6793 fix(web): fixes doc-keyboard generation
  web/source/kmwbase.ts
Labels: web/, fix, web/engine/

#6817 fix(web): fixes doc-keyboard generation 🍒
  web/source/kmwbase.ts
Labels: web/, cherry-pick, fix, web/engine/

#6743 chore(windows): split sentry-upload-difs.sh to Developer 🎢
  developer/src/tools/sentry-upload-difs.sh
  windows/src/buildtools/sentry-upload-difs.sh
Labels: windows/, developer/, chore

#6744 chore(windows): move signtime.bat to common 🎢
  common/windows/delphi/Defines.mak
  common/windows/signtime.bat
  windows/src/Defines.mak
Labels: windows/, common/, chore

#6745 chore(windows): delete unused global/help folder 🎢
  windows/src/global/Makefile
  windows/src/global/help/Kmhelp.css
  windows/src/global/help/Makefile
  windows/src/global/help/hhdefs.php
  windows/src/global/help/kmhelp.php
  windows/src/global/help/kmhelphtml.php
  windows/src/global/help/kmhelpprint.css
  windows/src/global/help/kmhelprtf.php
  windows/src/global/help/version.php.in
Labels: windows/, chore

#6746 chore(windows): move global/inst to common 🎢
  .gitignore
  common/schemas/keyboard_info/README.md
  common/schemas/keyboard_info/keyboard_info.distribution.json
  common/schemas/keyboard_info/keyboard_info.source.json
  common/windows/data/Makefile
  common/windows/delphi/Defines.mak
  common/windows/delphi/ext/tds2dbg/Makefile
  common/windows/delphi/tools/buildunidata/Makefile
  developer/src/inst/kmdev.wxs
  developer/src/test/auto/keyboard-info/test.bat
  oem/firstvoices/windows/src/inst/Makefile
  windows/src/Defines.mak
  windows/src/desktop/inst/Makefile
  windows/src/desktop/inst/keymandesktop.wxs
  windows/src/global/Makefile
  windows/src/global/delphi/charmap/UnicodeData.pas
  windows/src/global/inst/Makefile
  windows/src/global/inst/guid-validator/guid-validator.html
  windows/src/global/inst/guid-validator/guid-validator.jscript.html
  windows/src/global/inst/guid-validator/guid-validator.wsf
  windows/src/global/inst/guid-validator/guid-validator.xsl
  windows/src/global/inst/guid-validator/out.xml
  windows/src/global/inst/guid-validator/out2.xml
Labels: windows/, developer/, common/, oem/, oem/fv/, oem/fv/windows/, windows/config/, chore

#6747 chore(windows): move global/vc to common and global/cpp 🎢
  common/windows/cpp/src/ConvertUTF.c
  common/windows/cpp/src/crc32.cpp
  common/windows/cpp/src/keymansentry.cpp
  common/windows/cpp/src/rc4.cpp
  common/windows/cpp/src/registry.cpp
  common/windows/cpp/src/unicode.cpp
  common/windows/cpp/src/xstring.cpp
  developer/src/kmanalyze/kmanalyze.vcxproj
  developer/src/kmanalyze/kmanalyze.vcxproj.filters
  developer/src/kmcmpdll/kmcmpdll.vcxproj
  developer/src/kmcmpdll/kmcmpdll.vcxproj.filters
  developer/src/kmdecomp/kmdecomp.vcxproj
  developer/src/kmdecomp/kmdecomp.vcxproj.filters
  windows/src/engine/keyman32/Keyman32.vcxproj
  windows/src/engine/keyman32/Keyman32.vcxproj.filters
  windows/src/engine/keyman32/keyman-engine.vcxproj
  windows/src/engine/keyman32/keyman-engine.vcxproj.filters
  windows/src/engine/keyman64/keyman64.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj.filters
  windows/src/engine/keymanx64/keymanx64.vcxproj
  windows/src/engine/keymanx64/keymanx64.vcxproj.filters
  windows/src/engine/kmtip/kmtip.vcxproj
  windows/src/engine/kmtip/kmtip.vcxproj.filters
  windows/src/engine/mcompile/mcompile.vcxproj
  windows/src/engine/mcompile/mcompile.vcxproj.filters
  windows/src/global/cpp/VKScanCodes.cpp
  windows/src/global/cpp/keynames.cpp
  windows/src/global/cpp/kmtip_guids.cpp
  windows/src/test/manual-tests/mnemonic-to-positional/m-to-p/m-to-p/m-to-p.vcxproj
  windows/src/test/manual-tests/mnemonic-to-positional/m-to-p/m-to-p/m-to-p.vcxproj.filters
Labels: windows/, developer/, common/, windows/engine/, chore

#6749 chore(windows): remove legacy m-to-p project 🎢
  windows/src/test/manual-tests/mnemonic-to-positional/importkeyboard/importkeyboard.sln
  windows/src/test/manual-tests/mnemonic-to-positional/importkeyboard/importkeyboard/ReadMe.txt
  windows/src/test/manual-tests/mnemonic-to-positional/importkeyboard/importkeyboard/importkeyboard.cpp
  windows/src/test/manual-tests/mnemonic-to-positional/importkeyboard/importkeyboard/importkeyboard.vcxproj
  windows/src/test/manual-tests/mnemonic-to-positional/importkeyboard/importkeyboard/importkeyboard.vcxproj.filters
  windows/src/test/manual-tests/mnemonic-to-positional/importkeyboard/importkeyboard/keytables.h
  windows/src/test/manual-tests/mnemonic-to-positional/importkeyboard/importkeyboard/stdafx.cpp
  windows/src/test/manual-tests/mnemonic-to-positional/importkeyboard/importkeyboard/stdafx.h
  windows/src/test/manual-tests/mnemonic-to-positional/importkeyboard/importkeyboard/targetver.h
  windows/src/test/manual-tests/mnemonic-to-positional/km m-to-p notes.txt
  windows/src/test/manual-tests/mnemonic-to-positional/m-to-p/m-to-p.sln
  windows/src/test/manual-tests/mnemonic-to-positional/m-to-p/m-to-p/ReadMe.txt
  windows/src/test/manual-tests/mnemonic-to-positional/m-to-p/m-to-p/crc32.cpp
  windows/src/test/manual-tests/mnemonic-to-positional/m-to-p/m-to-p/import_rules.cpp
  windows/src/test/manual-tests/mnemonic-to-positional/m-to-p/m-to-p/kmxfile.cpp
  windows/src/test/manual-tests/mnemonic-to-positional/m-to-p/m-to-p/kmxfile.h
  windows/src/test/manual-tests/mnemonic-to-positional/m-to-p/m-to-p/m-to-p.cpp
  windows/src/test/manual-tests/mnemonic-to-positional/m-to-p/m-to-p/m-to-p.h
  windows/src/test/manual-tests/mnemonic-to-positional/m-to-p/m-to-p/m-to-p.vcxproj
  windows/src/test/manual-tests/mnemonic-to-positional/m-to-p/m-to-p/m-to-p.vcxproj.filters
  windows/src/test/manual-tests/mnemonic-to-positional/m-to-p/m-to-p/savekeyboard.cpp
  windows/src/test/manual-tests/mnemonic-to-positional/m-to-p/m-to-p/stdafx.cpp
  windows/src/test/manual-tests/mnemonic-to-positional/m-to-p/m-to-p/stdafx.h
  windows/src/test/manual-tests/mnemonic-to-positional/m-to-p/m-to-p/syskbd.cpp
  windows/src/test/manual-tests/mnemonic-to-positional/m-to-p/m-to-p/syskbd.h
  windows/src/test/manual-tests/mnemonic-to-positional/m-to-p/m-to-p/syskbdnt32.cpp
  windows/src/test/manual-tests/mnemonic-to-positional/m-to-p/m-to-p/syskbdnt64.cpp
  windows/src/test/manual-tests/mnemonic-to-positional/m-to-p/m-to-p/targetver.h
  windows/src/test/manual-tests/mnemonic-to-positional/tests/rotate/rotate-in.kmn
  windows/src/test/manual-tests/mnemonic-to-positional/tests/rotate/rotate-in.kmx
  windows/src/test/manual-tests/mnemonic-to-positional/tests/rotate/rotate-out.bmp
  windows/src/test/manual-tests/mnemonic-to-positional/tests/rotate/rotate-out.kmn
  windows/src/test/manual-tests/mnemonic-to-positional/tests/rotate/rotate-out.kmx
  windows/src/test/manual-tests/mnemonic-to-positional/tests/rotate/rotate.TXT
  windows/src/test/manual-tests/mnemonic-to-positional/tests/rotate/rotate.klc
  windows/src/test/manual-tests/mnemonic-to-positional/tests/rotate/rotate/ROTATE_amd64.msi
  windows/src/test/manual-tests/mnemonic-to-positional/tests/rotate/rotate/ROTATE_i386.msi
  windows/src/test/manual-tests/mnemonic-to-positional/tests/rotate/rotate/ROTATE_ia64.msi
  windows/src/test/manual-tests/mnemonic-to-positional/tests/rotatedk/rotatedk-in.kmn
  windows/src/test/manual-tests/mnemonic-to-positional/tests/rotatedk/rotatedk-in.kmx
  windows/src/test/manual-tests/mnemonic-to-positional/tests/rotatedk/rotatedk-out.bmp
  windows/src/test/manual-tests/mnemonic-to-positional/tests/rotatedk/rotatedk-out.kmn
  windows/src/test/manual-tests/mnemonic-to-positional/tests/rotatedk/rotatedk-out.kmx
  windows/src/test/manual-tests/mnemonic-to-positional/tests/rotatedk/rotatedk.TXT
  windows/src/test/manual-tests/mnemonic-to-positional/tests/rotatedk/rotatedk.klc
  windows/src/test/manual-tests/mnemonic-to-positional/tests/rotatedk/rotatedk/ROTATEDK_amd64.msi
  windows/src/test/manual-tests/mnemonic-to-positional/tests/rotatedk/rotatedk/ROTATEDK_i386.msi
  windows/src/test/manual-tests/mnemonic-to-positional/tests/rotatedk/rotatedk/ROTATEDK_ia64.msi
Labels: windows/, chore

#6750 chore(windows): remove unused, obsolete headers 🎢
  common/windows/cpp/src/rc4.cpp
  developer/src/kmcmpdll/Compiler.cpp
  developer/src/kmcmpdll/keyman64.h
  developer/src/kmcmpdll/kmcmpdll.vcxproj
  developer/src/kmcmpdll/kmcmpdll.vcxproj.filters
  windows/src/engine/keyman32/Keyman32.vcxproj
  windows/src/engine/keyman32/Keyman32.vcxproj.filters
  windows/src/engine/keyman32/keyman-engine.vcxproj
  windows/src/engine/keyman32/keyman-engine.vcxproj.filters
  windows/src/engine/keyman64/keyman64.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj.filters
  windows/src/global/inc/compv4.h
  windows/src/global/inc/keymanengine.h
  windows/src/global/inc/onlineconstants.h
  windows/src/global/inc/rc4.h
Labels: windows/, developer/, common/, windows/engine/, chore

#6751 chore(developer): move developer-specific headers 🎢
  common/windows/cpp/include/legacy_kmx_file.h
  developer/src/kmcmpdll/CasedKeys.cpp
  developer/src/kmcmpdll/CheckFilenameConsistency.cpp
  developer/src/kmcmpdll/CheckForDuplicates.cpp
  developer/src/kmcmpdll/CheckNCapsConsistency.cpp
  developer/src/kmcmpdll/Compiler.cpp
  developer/src/kmcmpdll/DeprecationChecks.cpp
  developer/src/kmcmpdll/UnreachableRules.cpp
  developer/src/kmcmpdll/comperr.h
  developer/src/kmcmpdll/compfile.h
  developer/src/kmcmpdll/debugstore.h
  developer/src/kmcmpdll/kcframe/kcframe.cpp
  developer/src/kmcmpdll/keyman64.h
  developer/src/kmcmpdll/kmcmpdll.vcxproj
  developer/src/kmcmpdll/kmcmpdll.vcxproj.filters
  developer/src/kmcmpdll/versioning.cpp
  developer/src/test/auto/kmcomp-x64-structures/cppstructsize/cppstructsize.cpp
  developer/src/test/auto/kmcomp-x64-structures/cppstructsize/cppstructsize.vcxproj
  developer/src/test/auto/kmcomp-x64-structures/cppstructsize/cppstructsize.vcxproj.filters
  windows/src/engine/keyman32/Keyman32.vcxproj
  windows/src/engine/keyman32/Keyman32.vcxproj.filters
  windows/src/engine/keyman32/keyman-engine.vcxproj
  windows/src/engine/keyman32/keyman-engine.vcxproj.filters
  windows/src/engine/keyman64/keyman64.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj.filters
  windows/src/engine/kmtip/kmkey.cpp
  windows/src/engine/kmtip/kmtip.vcxproj
  windows/src/engine/kmtip/kmtip.vcxproj.filters
  windows/src/engine/mcompile/mc_savekeyboard.cpp
  windows/src/engine/mcompile/pch.h
  windows/src/global/delphi/general/kmxfile.pas
  windows/src/global/inc/keyman64.h
  windows/src/global/inc/keymanengine.h
Labels: windows/, developer/, common/, windows/engine/, chore

#6752 chore(windows): merge vkeys.h and move to common 🎢
  common/windows/cpp/include/vkeys.h
  common/windows/cpp/src/vkeys.cpp
  developer/src/kmanalyze/kmanalyze.cpp
  developer/src/kmanalyze/kmanalyze.vcxproj
  developer/src/kmanalyze/kmanalyze.vcxproj.filters
  developer/src/kmcmpdll/CasedKeys.cpp
  developer/src/kmcmpdll/Compiler.cpp
  developer/src/kmcmpdll/UnreachableRules.cpp
  developer/src/kmcmpdll/kmcmpdll.vcxproj
  developer/src/kmcmpdll/kmcmpdll.vcxproj.filters
  developer/src/kmcmpdll/vkeys.h
  developer/src/kmdecomp/crc32.cpp
  developer/src/kmdecomp/kmdecomp.cpp
  developer/src/kmdecomp/kmdecomp.vcxproj
  developer/src/kmdecomp/kmdecomp.vcxproj.filters
  developer/src/kmdecomp/pch.cpp
  developer/src/kmdecomp/pch.h
  developer/src/kmdecomp/savekeyboard.cpp
  windows/src/engine/keyman64/keyman64.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj.filters
  windows/src/engine/kmtip/keys.cpp
  windows/src/engine/kmtip/kmtip.vcxproj
  windows/src/engine/kmtip/kmtip.vcxproj.filters
  windows/src/global/inc/Vkeys.h
Labels: windows/, developer/, common/, windows/engine/, chore

#6753 chore(windows): relocate windows headers 🎢
  common/windows/cpp/include/keynames.h
  common/windows/cpp/src/keynames.cpp
  windows/include/kmtip_guids.h
  windows/src/engine/keyman32/Keyman32.vcxproj
  windows/src/engine/keyman32/Keyman32.vcxproj.filters
  windows/src/engine/keyman32/globals.h
  windows/src/engine/keyman32/keyman-engine.vcxproj
  windows/src/engine/keyman32/keyman-engine.vcxproj.filters
  windows/src/engine/keyman32/keymancontrol.h
  windows/src/engine/keyman32/keymanengine.h
  windows/src/engine/keyman32/testkeymanfunctioning.h
  windows/src/engine/keyman64/keyman64.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj.filters
  windows/src/engine/kmtip/globals.h
  windows/src/engine/kmtip/kmtip.vcxproj
  windows/src/engine/kmtip/kmtip.vcxproj.filters
  windows/src/global/inc/KEYNAMES.H
Labels: windows/, common/, windows/engine/, chore

#6823 auto: increment master version to 16.0.18
  HISTORY.md
  VERSION.md
Labels: auto

#6819 chore(web): updates error-reporting lib uploader (pseudo-🍒)
  web/package-lock.json
  web/package.json
Labels: web/, stable, cherry-pick, chore

#6832 auto: increment stable-15.0 version to 15.0.263
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/models/types/, common/models/templates/, common/models/wordbreakers/, common/core/, common/core/web/

#6754 chore(windows): move various headers to common 🎢
  common/windows/cpp/include/ConvertUTF.h
  common/windows/cpp/include/crc32.h
  common/windows/cpp/include/keymansentry.h
  common/windows/cpp/include/registry.h
  common/windows/cpp/include/unicode.h
  common/windows/cpp/include/xstring.h
  common/windows/cpp/src/ConvertUTF.c
  common/windows/cpp/src/keymansentry.cpp
  common/windows/cpp/src/registry.cpp
  developer/src/kmanalyze/kmanalyze.cpp
  developer/src/kmanalyze/kmanalyze.vcxproj
  developer/src/kmanalyze/kmanalyze.vcxproj.filters
  developer/src/kmanalyze/pch.h
  developer/src/kmcmpdll/Compiler.cpp
  developer/src/kmcmpdll/keyman64.h
  developer/src/kmcmpdll/kmcmpdll.vcxproj
  developer/src/kmcmpdll/kmcmpdll.vcxproj.filters
  developer/src/kmdecomp/kmdecomp.cpp
  windows/src/engine/keyman32/Keyman32.vcxproj
  windows/src/engine/keyman32/Keyman32.vcxproj.filters
  windows/src/engine/keyman32/keyman-engine.vcxproj
  windows/src/engine/keyman32/keyman-engine.vcxproj.filters
  windows/src/engine/keyman32/keymanengine.h
  windows/src/engine/keyman64/keyman64.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj.filters
  windows/src/engine/keymanx64/keymanx64.cpp
  windows/src/engine/keymanx64/keymanx64.vcxproj
  windows/src/engine/keymanx64/keymanx64.vcxproj.filters
  windows/src/engine/kmtip/kmkey.cpp
  windows/src/engine/kmtip/kmtip.vcxproj
  windows/src/engine/kmtip/kmtip.vcxproj.filters
  windows/src/engine/kmtip/register.cpp
  windows/src/engine/kmtip/server.cpp
  windows/src/engine/kmtip/tmgrsink.cpp
  windows/src/engine/mcompile/pch.h
  windows/src/global/inc/keyman64.h
Labels: windows/, developer/, common/, windows/engine/, chore

#6755 chore(windows): cleanup keyman64.h usage 🎢
  common/windows/cpp/include/legacy_kmx_memory.h
  developer/src/kmanalyze/kmanalyze.vcxproj
  developer/src/kmanalyze/kmanalyze.vcxproj.filters
  developer/src/kmanalyze/pch.h
  developer/src/kmcmpdll/kcframe/kcframe.vcxproj
  developer/src/kmcmpdll/kcframe/kcframe.vcxproj.filters
  developer/src/kmcmpdll/keyman64.h
  developer/src/kmcmpdll/kmcmpdll.vcxproj
  developer/src/kmcmpdll/kmcmpdll.vcxproj.filters
  developer/src/kmcmpdll/pch.h
  developer/src/kmdecomp/kmdecomp.cpp
  developer/src/kmdecomp/savekeyboard.cpp
  windows/src/engine/keyman32/Keyman32.vcxproj
  windows/src/engine/keyman32/Keyman32.vcxproj.filters
  windows/src/engine/keyman32/appint/aiDebugger.cpp
  windows/src/engine/keyman32/appint/aiDebugger.h
  windows/src/engine/keyman32/keyman-engine.vcxproj
  windows/src/engine/keyman32/keyman-engine.vcxproj.filters
  windows/src/engine/keyman32/keyman64.h
  windows/src/engine/keyman32/keymanengine.h
  windows/src/engine/keyman64/keyman64.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj.filters
  windows/src/engine/kmtip/inserttext.cpp
  windows/src/engine/kmtip/kmtip.vcxproj
  windows/src/engine/kmtip/registryw.cpp
Labels: windows/, developer/, common/, windows/engine/, chore

#6756 chore(windows): move keymanversion.h to common 🎢
  common/windows/cpp/include/.gitignore
  common/windows/cpp/include/keymanversion.h
  common/windows/cpp/include/keymanversion_build.in
  common/windows/cpp/src/keymansentry.cpp
  developer/src/Makefile
  developer/src/kmanalyze/version.rc
  developer/src/kmcmpdll/version.rc
  developer/src/kmcomp/version.rc
  developer/src/kmconvert/version.rc
  developer/src/kmdecomp/version.rc
  developer/src/samples/imsample/version.rc
  developer/src/setup/version.rc
  developer/src/tike/version.rc
  windows/src/Target.mak
  windows/src/buildtools/buildpkg/version.rc
  windows/src/desktop/insthelp/version.rc
  windows/src/desktop/kmbrowserhost/version.rc
  windows/src/desktop/kmconfig/version.rc
  windows/src/desktop/kmshell/version.rc
  windows/src/desktop/setup/version.rc
  windows/src/engine/inst/insthelper/version.rc
  windows/src/engine/keyman/version.rc
  windows/src/engine/keyman32/version.rc
  windows/src/engine/keyman64/version.rc
  windows/src/engine/keymanx64/version.rc
  windows/src/engine/kmcomapi/version.rc
  windows/src/engine/kmrefresh/version.rc
  windows/src/engine/kmtip/registryw.h
  windows/src/engine/kmtip/version.rc
  windows/src/engine/mcompile/version.rc
  windows/src/engine/tsysinfo/version.rc
  windows/src/engine/tsysinfox64/version.rc
  windows/src/global/Makefile
  windows/src/support/etl2log/version.rc
  windows/src/support/oskbulkrenderer/version.rc
  windows/src/test/manual-tests/test_i3619/i3619tip/i3619tip/i3619tip/version.rc
Labels: windows/, developer/, common/, windows/config/, windows/engine/, chore

#6758 chore(windows): move Delphi developer units to developer 🎢
  developer/src/common/delphi/keyboards/Keyman.System.KMXFileLanguages.pas
  developer/src/common/delphi/keyboards/Keyman.System.KeyboardInfoFile.pas
  developer/src/common/delphi/keyboards/Keyman.System.KeyboardJSInfo.pas
  developer/src/common/delphi/keyboards/Keyman.System.KeyboardUtils.pas
  developer/src/common/delphi/lexicalmodels/Keyman.Developer.System.LexicalModelCompile.pas
  developer/src/common/delphi/lexicalmodels/Keyman.System.LexicalModelUtils.pas
  developer/src/common/delphi/lexicalmodels/Keyman.System.WordlistTsvFile.pas
  developer/src/common/delphi/packages/Keyman.System.PackageInfoRefreshKeyboards.pas
  developer/src/common/delphi/packages/Keyman.System.PackageInfoRefreshLexicalModels.pas
  developer/src/kmcomp/kmcomp.dpr
  developer/src/kmcomp/kmcomp.dproj
  developer/src/kmconvert/kmconvert.dpr
  developer/src/kmconvert/kmconvert.dproj
  developer/src/test/auto/Makefile
  developer/src/test/auto/keyboard-js-info/KeyboardJSInfoTestSuite.dpr
  developer/src/test/auto/keyboard-js-info/KeyboardJSInfoTestSuite.dproj
  developer/src/test/auto/keyboard-js-info/KeyboardJSInfoTestSuite.res
  developer/src/test/auto/keyboard-js-info/Keyman.Test.System.KeyboardJSInfoTest.pas
  developer/src/test/auto/keyboard-js-info/Makefile
  developer/src/test/auto/keyboard-js-info/test/balochi_phonetic-1.1-debug.js
  developer/src/test/auto/keyboard-js-info/test/balochi_phonetic-1.1.js
  developer/src/test/auto/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dpr
  developer/src/test/auto/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dproj
  developer/src/test/auto/kmconvert/kmconverttest.dproj
  developer/src/test/auto/kmx-file-languages/KMXFileLanguagesTestSuite.dpr
  developer/src/test/auto/kmx-file-languages/KMXFileLanguagesTestSuite.dproj
  developer/src/test/auto/kmx-file-languages/KMXFileLanguagesTestSuite.res
  developer/src/test/auto/kmx-file-languages/Keyman.Test.System.KMXFileLanguagesTest.pas
  developer/src/test/auto/kmx-file-languages/Makefile
  developer/src/tike/Tike.dpr
  developer/src/tike/Tike.dproj
  windows/src/buildtools/buildpkg/buildpkg.dpr
  windows/src/buildtools/buildpkg/buildpkg.dproj
  windows/src/test/unit-tests/Makefile
  windows/src/test/unit-tests/kmx-file-languages/KMXFileLanguagesTestSuite.dpr
Labels: windows/, developer/, chore

#6760 chore(windows): rearrange global/delphi/ui units 🎢
  common/windows/delphi/ui/Keyman.System.Util.RenderLanguageIcon.pas
  developer/src/kmconvert/kmconvert.dpr
  developer/src/kmconvert/kmconvert.dproj
  developer/src/tike/Tike.dpr
  developer/src/tike/Tike.dproj
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/kmshell/main/UfrmKeymanBase.dfm
  windows/src/desktop/kmshell/main/UfrmKeymanBase.pas
  windows/src/desktop/kmshell/main/UfrmWebContainer.dfm
  windows/src/desktop/kmshell/main/UfrmWebContainer.pas
  windows/src/desktop/kmshell/render/XMLRenderer.pas
  windows/src/desktop/kmshell/util/UFixupMissingFile.pas
  windows/src/engine/keyman/keyman.dpr
  windows/src/engine/keyman/keyman.dproj
  windows/src/global/delphi/ui/GenericXMLRenderer.pas
Labels: windows/, developer/, common/, windows/config/, windows/engine/, chore

#6781 chore(windows): remove unused components 🎢
  common/windows/delphi/ext/cef4delphi.txt
  developer/src/tike/Tike.dpr
  developer/src/tike/Tike.dproj
  developer/src/tike/child/UfrmDebug.pas
  developer/src/tike/child/UfrmKeymanWizard.pas
  windows/src/global/delphi/comp/HeadingCheckListBox.pas
  windows/src/global/delphi/comp/HintLabel.pas
  windows/src/global/delphi/comp/KMDFontDialog.pas
  windows/src/global/delphi/comp/KeyTest.pas
  windows/src/global/delphi/comp/PanelOverlapped.pas
  windows/src/global/delphi/comp/SHDocVw_TLB.pas
  windows/src/global/delphi/comp/UnicodeControls.pas
  windows/src/global/delphi/comp/UnicodePanel.pas
  windows/src/global/delphi/comp/WebBrowserManager.pas
  windows/src/global/delphi/keyman_components.dpk
  windows/src/global/delphi/keyman_components.dproj
Labels: windows/, developer/, common/, chore

#6557 change(web): drops old IE-related handling code
  android/.gitignore
  android/KMEA/app/src/main/assets/keyboard.html
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/build.sh
  common/models/templates/src/trie-model.ts
  common/predictive-text/browser.tsconfig.json
  common/predictive-text/package.json
  common/predictive-text/tsconfig.json
  common/predictive-text/unit_tests/in_browser/manual.conf.js
  common/web/es6-shim/package.json
  common/web/es6-shim/tsconfig.json
  common/web/input-processor/src/tsconfig.bundled.json
  common/web/input-processor/src/tsconfig.json
  common/web/keyboard-processor/src/text/systemStores.ts
  common/web/lm-worker/build.sh
  common/web/lm-worker/src/polyfills/string.normalize.js
  common/web/recorder/src/index.ts
  tsconfig-base.json
  tsconfig.json
  web/bulk_rendering/tsconfig.json
  web/package.json
  web/source/dom/domEventHandlers.ts
  web/source/dom/domManager.ts
  web/source/dom/domOverrides.ts
  web/source/dom/preProcessor.ts
  web/source/dom/targets/contentEditable.ts
  web/source/dom/targets/designIFrame.ts
  web/source/dom/targets/outputTarget.ts
  web/source/dom/touchAliasElement.ts
  web/source/keyboards/kmwkeyboards.ts
  web/source/kmwbase.ts
  web/source/kmwdebug.js
  web/source/kmwdevice.ts
  web/source/kmwexthtml.ts
  web/source/kmwnative.ts
  web/source/kmwuifloat.ts
  web/source/kmwuitoggle.ts
  web/source/kmwuitoolbar.ts
  web/source/kmwutils.ts
  web/source/osk/browser/pendingMultiTap.ts
  web/source/osk/layouts/resizeBar.ts
  web/source/osk/lengthStyle.ts
  web/source/tsconfig.embedded.json
  web/source/tsconfig.json
  web/testing/commonHeader.js
  web/tools/recorder/browserDriver.ts
  web/unit_tests/cases/events.js
  web/unit_tests/manual.conf.js
Labels: web/, android/, common/, common/models/, android/engine/, web/engine/, web/ui/, common/web/, common/models/templates/, has-user-test

#6837 chore(ios): add manageAppVersionAndBuildNumber=false 🍒
  ios/exportAppStore.plist
  oem/firstvoices/ios/exportAppStore.plist
Labels: ios/, cherry-pick, oem/, oem/fv/, oem/fv/ios/, chore

#6839 auto: increment stable-15.0 version to 15.0.264
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/models/types/, common/models/templates/, common/models/wordbreakers/, common/core/, common/core/web/

#6805 chore(windows): remove shdocvw as unused 🎢
  windows/src/global/delphi/vcl/SHDocVw.pas
Labels: windows/, chore

#6815 chore(windows): delete unused files from global/delphi/general 🎢
  common/windows/delphi/general/CleartypeDrawCharacter.pas
  developer/src/kmcomp/kmcomp.dpr
  developer/src/kmcomp/kmcomp.dproj
  developer/src/tike/Tike.dpr
  developer/src/tike/Tike.dproj
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/kmshell/util/utilkmshell.pas
  windows/src/engine/keyman/keyman.dpr
  windows/src/engine/keyman/keyman.dproj
  windows/src/engine/kmcomapi/kmcomapi.dpr
  windows/src/engine/kmcomapi/kmcomapi.dproj
  windows/src/global/delphi/general/IntegerArray.pas
  windows/src/global/delphi/general/InternetState.pas
  windows/src/global/delphi/general/Keyman.System.KeymanVersionInfo.pas
  windows/src/global/delphi/general/MLang.pas
  windows/src/global/delphi/general/PackageFile.pas
  windows/src/global/delphi/general/SyncRegistryKeyboards.pas
  windows/src/global/delphi/general/UExtractFileDir.pas
  windows/src/global/delphi/general/UnitDrawArrow.pas
  windows/src/global/delphi/general/WideStringClass.pas
  windows/src/global/delphi/general/exceptionw.pas
  windows/src/global/delphi/general/inifileex.pas
  windows/src/global/delphi/general/test_iconsave.dpr
  windows/src/global/delphi/general/test_iconsave.dproj
  windows/src/global/delphi/general/test_iconsave.res
  windows/src/global/delphi/general/utilmsxml.pas
Labels: windows/, developer/, common/, windows/config/, windows/engine/, chore

#6828 chore(windows): move general keyboard units to common 🎢
  common/windows/delphi/keyboards/kmxfile.pas
  common/windows/delphi/keyboards/kmxfileconsts.pas
  common/windows/delphi/keyboards/kmxfileutils.pas
  common/windows/delphi/keyboards/utilkeyboard.pas
  developer/src/kmcomp/kmcomp.dpr
  developer/src/kmcomp/kmcomp.dproj
  developer/src/kmconvert/kmconvert.dpr
  developer/src/kmconvert/kmconvert.dproj
  developer/src/test/auto/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dpr
  developer/src/test/auto/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dproj
  developer/src/test/auto/kmcomp-x64-structures/passtructsize/passtructsize.dpr
  developer/src/test/auto/kmcomp-x64-structures/passtructsize/passtructsize.dproj
  developer/src/test/auto/kmx-file-languages/KMXFileLanguagesTestSuite.dpr
  developer/src/test/auto/kmx-file-languages/KMXFileLanguagesTestSuite.dproj
  developer/src/tike/Tike.dpr
  developer/src/tike/Tike.dproj
  windows/src/buildtools/buildpkg/buildpkg.dpr
  windows/src/buildtools/buildpkg/buildpkg.dproj
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/engine/keyman/keyman.dpr
  windows/src/engine/keyman/keyman.dproj
  windows/src/engine/kmcomapi/kmcomapi.dpr
  windows/src/engine/kmcomapi/kmcomapi.dproj
  windows/src/engine/tsysinfo/tsysinfo.dpr
  windows/src/engine/tsysinfo/tsysinfo.dproj
  windows/src/support/convert-iso6393-to-bcp47-for-keyboards/cvt.dpr
  windows/src/support/convert-iso6393-to-bcp47-for-keyboards/cvt.dproj
  windows/src/support/create_normalization_group/normgrp.dpr
  windows/src/support/kmxfonts/kmxfonts.dpr
  windows/src/support/kmxfonts/kmxfonts.dproj
  windows/src/support/oskbulkrenderer/oskbulkrenderer.dpr
  windows/src/support/oskbulkrenderer/oskbulkrenderer.dproj
  windows/src/test/manual-tests/regressiontest/regressiontest.dpr
  windows/src/test/manual-tests/regressiontest/regressiontest.dproj
  windows/src/test/manual-tests/test_iconsave/test_iconsave.dproj
Labels: windows/, developer/, common/, windows/config/, windows/engine/, chore

#6829 chore(windows): move general package units to common 🎢
  common/windows/delphi/packages/PackageFileFormats.pas
  common/windows/delphi/packages/PackageInfo.pas
  common/windows/delphi/packages/kmpinffile.pas
  developer/src/kmcomp/kmcomp.dpr
  developer/src/kmcomp/kmcomp.dproj
  developer/src/kmconvert/kmconvert.dpr
  developer/src/kmconvert/kmconvert.dproj
  developer/src/test/auto/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dpr
  developer/src/test/auto/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dproj
  developer/src/tike/Tike.dpr
  developer/src/tike/Tike.dproj
  windows/src/buildtools/buildpkg/buildpkg.dpr
  windows/src/buildtools/buildpkg/buildpkg.dproj
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/setup/setup.dpr
  windows/src/desktop/setup/setup.dproj
  windows/src/engine/kmcomapi/kmcomapi.dpr
  windows/src/engine/kmcomapi/kmcomapi.dproj
  windows/src/test/unit-tests/package-info/PackageInfoTestSuite.dpr
  windows/src/test/unit-tests/package-info/PackageInfoTestSuite.dproj
  windows/src/test/unit-tests/windows-setup/WindowsSetupTest.dpr
  windows/src/test/unit-tests/windows-setup/WindowsSetupTest.dproj
Labels: windows/, developer/, common/, windows/config/, windows/engine/, chore

#6835 chore(ios): log script actions and fixup export settings to avoid version being clobbered
  .gitignore
  ios/exportAppStore.plist
  ios/kmbuild.sh
  ios/samples/build_common.sh
  ios/scripts/kme-universal.sh
  mac/build.sh
  oem/firstvoices/ios/build_common.sh
  oem/firstvoices/ios/exportAppStore.plist
  resources/build/build-utils.sh
  resources/build/xcode-utils.sh
Labels: ios/, mac/, common/, common/resources/, oem/, mac/engine/, oem/fv/, oem/fv/ios/, chore, ios/samples/

#6845 auto: increment master version to 16.0.20
  HISTORY.md
  VERSION.md
Labels: auto

#6780 chore(web): shorten check/web/file-size check message
  web/tools/check-build-size.sh
Labels: web/, chore

#6850 auto: increment master version to 16.0.21
  HISTORY.md
  VERSION.md
Labels: auto

#6836 chore(ios): modernizes app-help's internals
  ios/keyman/Keyman/Keyman/Classes/InfoViewController/InfoViewController.swift
  ios/keyman/Keyman/Keyman/Classes/InfoViewController/InfoViewController_iPad.xib
  ios/keyman/Keyman/Keyman/Classes/InfoViewController/InfoViewController_iPhone.xib
  ios/keyman/Keyman/Keyman/Classes/SetUpViewController/SetUpViewController.swift
  ios/keyman/Keyman/Keyman/Classes/SetUpViewController/SetUpViewController.xib
Labels: ios/, ios/app/, chore, has-user-test

#6840 fix(linux): Deal with non-existing files 🍒
  linux/keyman-config/keyman_config/install_kmp.py
Labels: linux/, cherry-pick, fix, linux/config/

#6857 fix(ios): eliminates conditional height for banner image 🍒
  ios/keyman/Keyman/SWKeyboard/KeyboardViewController.swift
Labels: ios/, cherry-pick, fix, ios/app/

#6855 fix(ios): eliminates conditional height for banner image
  ios/keyman/Keyman/SWKeyboard/KeyboardViewController.swift
Labels: ios/, fix, ios/app/

#6863 fix(web): clears repeating bksp on keyboard reload ⬅️ 🍒
  web/source/osk/visualKeyboard.ts
Labels: web/, cherry-pick, fix, web/engine/

#6786 fix(web): clears repeating bksp on keyboard reload ⬅️
  web/source/osk/visualKeyboard.ts
Labels: web/, fix, web/engine/, has-user-test

#6854 fix(web): null-guard for refreshLayout
  web/source/osk/oskView.ts
Labels: web/, fix, web/engine/, has-user-test

#6861 fix(web): better stability during transient OSK load state 🍒
  web/source/osk/oskView.ts
Labels: web/, cherry-pick, fix, web/engine/

#6872 auto: increment master version to 16.0.24
  HISTORY.md
  VERSION.md
Labels: auto

#6873 fix(developer): readonly groups should never emit output 🍒
  windows/src/developer/TIKE/compile/CompileKeymanWeb.pas
Labels: developer/, stable, cherry-pick, fix, developer/ide/

#6874 fix(web): Maintain separate Caps Lock states for touch and physical 🍒
  common/core/web/keyboard-processor/src/text/keyboardProcessor.ts
Labels: web/, cherry-pick, common/, fix, common/core/, common/core/web/
