Repository keymanapp/keyman, pull requests merged in 2022-03, with the labels that each got.

#6298 fix(developer): server font support
  developer/server/src/data.ts
  developer/server/src/handlers/api/debugobject/register.ts
  developer/server/src/handlers/api/font/register.ts
  developer/server/src/handlers/inc/keyboards-css.ts
  developer/server/src/routes.ts
Labels: developer/, fix

#6302 chore(windows): Remove core icon from system tray
  windows/src/desktop/branding/core.ico
  windows/src/desktop/inst/keymandesktop.wxs
  windows/src/engine/keyman/UfrmKeyman7Main.pas
  windows/src/global/delphi/cust/StockFileNames.pas
Labels: windows/, windows/config/, windows/engine/, chore, has-user-test

#6308 auto: increment master version to 15.0.205
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6304 fix(developer): move ngrok to Server/bin/
  developer/server/src/config.ts
  windows/src/developer/TIKE/dialogs/Keyman.Developer.UI.UfrmServerOptions.pas
Labels: windows/, developer/, fix, developer/ide/

#6285 fix(linux): Gracefully handle keyboard download failure
  linux/keyman-config/keyman_config/handle_install.py
Labels: linux/, fix, linux/config/

#6287 fix(linux): Gracefully handle makedirs failures
  linux/keyman-config/keyman_config/install_kmp.py
Labels: linux/, fix, linux/config/, has-user-test

#6305 chore(common): tweak CODEOWNERS
  docs/CODEOWNERS
Labels: common/, chore

#6309 fix(developer): rename Code to ID in Touch Layout Editor ✂
  windows/src/developer/TIKE/xml/layoutbuilder/builder.xsl
Labels: developer/, fix, developer/ide/

#6312 feat(developer): kmcomp -h and -help ✂
  windows/src/developer/kmcomp/main.pas
Labels: developer/, developer/compilers/, feat

#6313 chore(developer): remove Package for Distribution action ✂
  windows/src/developer/TIKE/actions/dmActionsKeyboardEditor.dfm
  windows/src/developer/TIKE/actions/dmActionsKeyboardEditor.pas
  windows/src/developer/TIKE/child/UfrmKeymanWizard.dfm
  windows/src/developer/TIKE/child/UfrmKeymanWizard.pas
  windows/src/developer/TIKE/child/UfrmPackageEditor.pas
  windows/src/developer/TIKE/main/UfrmMain.dfm
  windows/src/developer/TIKE/main/UfrmMain.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.ProjectFileUI.pas
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.kmnProjectFileUI.pas
Labels: developer/, developer/ide/, chore

#6316 fix(web): error in floating osk view when no keyboard active ✂
  web/source/osk/floatingOskView.ts
Labels: web/, fix, web/engine/

#6300 chore(developer): disable upload for server except localhost
  developer/server/src/routes.ts
  developer/server/src/site/packages.js
  developer/server/src/site/test.js
  developer/server/src/site/upload.js
Labels: developer/, chore

#6295 fix(developer): handle paste event in touch layout editor
  windows/src/developer/TIKE/xml/layoutbuilder/builder.js
Labels: developer/, fix, developer/ide/, has-user-test

#6314 fix(developer): Improve active tab visibility ✂
  windows/src/global/delphi/comp/CloseButtonPageControl.pas
  windows/src/global/delphi/comp/LeftTabbedPageControl.pas
Labels: windows/, developer/, fix

#6311 fix(developer): font for Package and Model Editors ✂
  windows/src/developer/TIKE/child/Keyman.Developer.UI.UframeWordlistEditor.pas
  windows/src/developer/TIKE/child/Keyman.Developer.UI.UfrmModelEditor.pas
  windows/src/developer/TIKE/child/UfrmPackageEditor.pas
Labels: developer/, fix, developer/ide/, has-user-test

#6310 fix(web): stop repeated CSS injection ✂
  web/source/kmwutils.ts
Labels: web/, fix, web/engine/, has-user-test

#6315 feat(developer): support commas in frequency in wordlists ✂
  developer/js/source/lexical-model-compiler/build-trie.ts
  windows/src/developer/TIKE/child/Keyman.Developer.UI.UframeWordlistEditor.pas
  windows/src/global/delphi/lexicalmodels/Keyman.System.WordlistTsvFile.pas
Labels: windows/, developer/, developer/compilers/, feat, developer/ide/, has-user-test

#6319 auto: increment beta version to 15.0.207
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: auto

#6321 auto: increment master version to 15.0.206
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6323 auto: increment master version to 16.0.2
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6327 chore(developer): Keyman Developer Server terminology
  windows/src/developer/TIKE/actions/dmActionsMain.dfm
  windows/src/developer/TIKE/actions/dmActionsMain.pas
  windows/src/developer/TIKE/child/Keyman.Developer.UI.UfrmModelEditor.dfm
  windows/src/developer/TIKE/child/Keyman.Developer.UI.UfrmModelEditor.pas
  windows/src/developer/TIKE/child/UfrmKeymanWizard.dfm
  windows/src/developer/TIKE/child/UfrmPackageEditor.dfm
  windows/src/developer/TIKE/child/UfrmPackageEditor.pas
  windows/src/developer/TIKE/dialogs/Keyman.Developer.UI.UfrmServerOptions.dfm
  windows/src/developer/TIKE/dialogs/UfrmOptions.dfm
  windows/src/developer/TIKE/dialogs/UfrmOptions.pas
  windows/src/developer/TIKE/main/UfrmMain.dfm
Labels: developer/, developer/ide/, chore

#6331 fix(web): stop masking error
  web/source/keyboards/kmwkeyboards.ts
Labels: web/, fix, web/engine/

#6332 fix(web): stop masking error 🍒
  web/source/keyboards/kmwkeyboards.ts
Labels: web/, cherry-pick, fix, web/engine/

#6333 auto: increment stable-14.0 version to 14.0.288
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6324 fix(developer): prevent execution point breaking editor location ✂
  windows/src/developer/TIKE/xml/app/editor/editor.js
Labels: developer/, fix, developer/ide/

#6337 chore(linux): Debug why Beta build didn't get triggered
  resources/build/trigger-builds.inc.sh
Labels: linux/, common/, common/resources/, chore

#6325 fix(developer): project should not steal focus on load ✂
  windows/src/developer/TIKE/project/Keyman.Developer.UI.Project.UfrmProject.pas
Labels: developer/, fix, developer/ide/

#6341 chore(android/engine): Remove bold styling in lists
  android/KMEA/app/src/main/res/layout/list_row_layout1.xml
  android/KMEA/app/src/main/res/layout/list_row_layout2.xml
  android/KMEA/app/src/main/res/layout/list_row_layout3.xml
  android/KMEA/app/src/main/res/layout/list_row_layout4.xml
  android/KMEA/app/src/main/res/layout/list_row_layout5.xml
  android/KMEA/app/src/main/res/layout/models_list_row_layout.xml
Labels: android/, android/engine/, chore

#6342 fix(linux): Fix trigger script
  resources/build/trigger-builds.inc.sh
Labels: linux/, common/, common/resources/, fix

#6343 chore: increment to 15.0.209
  VERSION.md
Labels: chore

#6344 auto: increment beta version to 15.0.210
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6352 feat(common): build test keyboards via script
  common/test/keyboards/build.bat
  common/test/keyboards/build.sh
Labels: common/, feat

#6354 auto: increment beta version to 15.0.211
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6346 fix(oem/fv/android): Check keyboard exists before registering a model
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/FVKeyboardSettingsActivity.java
Labels: android/, oem/, fix, oem/fv/, oem/fv/android/, has-user-test

#6353 chore(common): cleanup sh global color variables
  common/core/web/input-processor/test.sh
  common/core/web/keyboard-processor/test.sh
  common/predictive-text/testing/one-stage-embedded-webworker/build.sh
  common/predictive-text/testing/two-stage-embedded-webworker/build.sh
  ios/i18n-export.sh
  ios/kmbuild.sh
  mac/bashHelperFunctions.sh
  resources/shellHelperFunctions.sh
  web/bulk_rendering/build.sh
  web/source/build.sh
  web/unit_tests/test.sh
Labels: web/, ios/, mac/, common/, common/resources/, mac/engine/, web/engine/, common/core/, common/core/web/, chore

#6187 fix(windows): add null pointer checks imsample keyboard
  windows/src/developer/samples/imsample/IMSample.txt
  windows/src/developer/samples/imsample/imsample.cpp
  windows/src/engine/keyman32/calldll.cpp
Labels: windows/, developer/, fix, windows/engine/, has-user-test

#6359 auto: increment beta version to 15.0.212
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6358 fix(common): allow custom keyboard builds
  common/test/keyboards/build.sh
  common/test/keyboards/the_99/build.sh
Labels: common/, fix

#6360 chore(linux): Fix lintian warnings
  .editorconfig
  CONTRIBUTING.md
  linux/debian/control
  linux/debian/ibus-keyman.manpages
  linux/debian/keyman.install
  linux/debian/rules
  linux/ibus-keyman/man/ibus-engine-keyman.1
  linux/keyman-config/buildtools/build-langtags.py
  linux/keyman-config/km-config.desktop
Labels: linux/, linux/config/, linux/engine/, chore

#6355 fix(android/engine): Test fileVersion during package install
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
  common/test/keyboards/build.sh
  common/test/keyboards/full_caps_3620_3621/source/full_caps_3620_3621.kmn
  common/test/keyboards/the_99/README.md
  common/test/keyboards/the_99/build.sh
  common/test/keyboards/the_99/the_99.kmp
Labels: android/, common/, fix, android/engine/, android/app/, has-user-test

#6365 auto: increment beta version to 15.0.213
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6367 feat(common): zip and index keyboard artifacts
  common/test/keyboards/.gitignore
  common/test/keyboards/build.sh
Labels: common/, feat

#6356 fix(android/engine): Activate menu on globe longpress before release
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
Labels: android/, fix, android/engine/, has-user-test

#6340 fix(web): subkey touch position after scroll
  web/source/osk/oskKey.ts
  web/testing/unminified.html
Labels: web/, fix, web/engine/, has-user-test

#6347 fix(developer): warn on ncaps usage inconsistency
  common/test/keyboards/obolo_chwerty_6347/HISTORY.md
  common/test/keyboards/obolo_chwerty_6347/LICENSE.md
  common/test/keyboards/obolo_chwerty_6347/README.md
  common/test/keyboards/obolo_chwerty_6347/obolo_chwerty_6347.keyboard_info
  common/test/keyboards/obolo_chwerty_6347/obolo_chwerty_6347.kpj
  common/test/keyboards/obolo_chwerty_6347/source/obolo_chwerty_6347.css
  common/test/keyboards/obolo_chwerty_6347/source/obolo_chwerty_6347.ico
  common/test/keyboards/obolo_chwerty_6347/source/obolo_chwerty_6347.keyman-touch-layout
  common/test/keyboards/obolo_chwerty_6347/source/obolo_chwerty_6347.kmn
  common/test/keyboards/obolo_chwerty_6347/source/obolo_chwerty_6347.kps
  common/test/keyboards/obolo_chwerty_6347/source/obolo_chwerty_6347.kvks
  common/test/keyboards/obolo_chwerty_6347/source/readme.htm
  common/test/keyboards/obolo_chwerty_6347/source/welcome/chwerty_default.png
  common/test/keyboards/obolo_chwerty_6347/source/welcome/chwerty_keycombi.png
  common/test/keyboards/obolo_chwerty_6347/source/welcome/chwerty_mobi_alt.png
  common/test/keyboards/obolo_chwerty_6347/source/welcome/chwerty_mobi_default.png
  common/test/keyboards/obolo_chwerty_6347/source/welcome/chwerty_mobi_shift.png
  common/test/keyboards/obolo_chwerty_6347/source/welcome/chwerty_shift.png
  common/test/keyboards/obolo_chwerty_6347/source/welcome/chwertyftkey1.png
  common/test/keyboards/obolo_chwerty_6347/source/welcome/chwertyftkey2.png
  common/test/keyboards/obolo_chwerty_6347/source/welcome/chwertyftkey3.png
  common/test/keyboards/obolo_chwerty_6347/source/welcome/welcome.htm
  windows/src/developer/kmcmpdll/CheckNCapsConsistency.cpp
  windows/src/developer/kmcmpdll/CheckNCapsConsistency.h
  windows/src/developer/kmcmpdll/Compiler.cpp
  windows/src/developer/kmcmpdll/Compiler.rc
  windows/src/developer/kmcmpdll/kmcmpdll.vcxproj
  windows/src/developer/kmcmpdll/kmcmpdll.vcxproj.filters
  windows/src/global/inc/Comperr.h
Labels: windows/, developer/, common/, fix

#6351 fix(web): caps state tracking for touch
  common/core/web/keyboard-processor/src/text/keyboardProcessor.ts
  common/test/keyboards/obolo_chwerty_6351/HISTORY.md
  common/test/keyboards/obolo_chwerty_6351/LICENSE.md
  common/test/keyboards/obolo_chwerty_6351/README.md
  common/test/keyboards/obolo_chwerty_6351/obolo_chwerty_6351.keyboard_info
  common/test/keyboards/obolo_chwerty_6351/obolo_chwerty_6351.kpj
  common/test/keyboards/obolo_chwerty_6351/source/obolo_chwerty_6351.css
  common/test/keyboards/obolo_chwerty_6351/source/obolo_chwerty_6351.ico
  common/test/keyboards/obolo_chwerty_6351/source/obolo_chwerty_6351.keyman-touch-layout
  common/test/keyboards/obolo_chwerty_6351/source/obolo_chwerty_6351.kmn
  common/test/keyboards/obolo_chwerty_6351/source/obolo_chwerty_6351.kps
  common/test/keyboards/obolo_chwerty_6351/source/obolo_chwerty_6351.kvks
  common/test/keyboards/obolo_chwerty_6351/source/readme.htm
  common/test/keyboards/obolo_chwerty_6351/source/welcome/chwerty_default.png
  common/test/keyboards/obolo_chwerty_6351/source/welcome/chwerty_keycombi.png
  common/test/keyboards/obolo_chwerty_6351/source/welcome/chwerty_mobi_alt.png
  common/test/keyboards/obolo_chwerty_6351/source/welcome/chwerty_mobi_default.png
  common/test/keyboards/obolo_chwerty_6351/source/welcome/chwerty_mobi_shift.png
  common/test/keyboards/obolo_chwerty_6351/source/welcome/chwerty_shift.png
  common/test/keyboards/obolo_chwerty_6351/source/welcome/chwertyftkey1.png
  common/test/keyboards/obolo_chwerty_6351/source/welcome/chwertyftkey2.png
  common/test/keyboards/obolo_chwerty_6351/source/welcome/chwertyftkey3.png
  common/test/keyboards/obolo_chwerty_6351/source/welcome/welcome.htm
  web/source/keymanweb.ts
  web/source/osk/browser/pendingMultiTap.ts
  web/testing/commonHeader.js
  web/testing/obolo_chwerty.js
  web/testing/test_chirality.js
  web/testing/unminified.html
Labels: web/, common/, fix, web/engine/, common/core/, common/core/web/, has-user-test

#6374 chore(windows): Update license date
  LICENSE.md
  windows/src/LICENSE.md
  windows/src/desktop/help/about/license.md
  windows/src/desktop/inst/license.html
Labels: windows/, windows/config/, chore

#6375 chore(android): Separate CI step to generate Play Store notes
  android/KMAPro/build-play-store-notes.sh
  android/build-help.sh
  android/build-publish.sh
  android/help/about/whatsnew.md
Labels: android/, android/app/, chore

#6372 chore(linux): Update changelog and copyright 🐧
  linux/debian/changelog
  linux/debian/control
  linux/debian/copyright
  linux/ibus-keyman/tests/ibusimcontext.c
  linux/ibus-keyman/tests/ibusimcontext.h
Labels: linux/, linux/engine/

#6373 chore(linux): Update changelogs for 14.0.287 🐧
  common/core/desktop/debian/changelog
  linux/ibus-keyman/debian/changelog
  linux/ibus-kmfl/debian/changelog
  linux/keyman-config/debian/changelog
  linux/kmflcomp/debian/changelog
  linux/libkmfl/debian/changelog
Labels: linux/, common/, linux/config/, linux/engine/, common/core/, common/core/desktop/, chore

#6369 fix(oem/fv/android): Consolidate dictionary and keyboard settings
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/ModelPickerActivity.java
  android/KMEA/app/src/main/res/values/strings.xml
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/FVKeyboardListAdapter.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/FVKeyboardSettingsActivity.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/FVRegionListAdapter.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/MainActivity.java
  oem/firstvoices/android/app/src/main/res/layout/fv_keyboard_settings_list_layout.xml
  oem/firstvoices/android/app/src/main/res/layout/fv_list_row_layout.xml
  oem/firstvoices/android/app/src/main/res/layout/keyboard_row_layout.xml
  oem/firstvoices/android/app/src/main/res/layout/region_row_layout.xml
  oem/firstvoices/android/app/src/main/res/values/strings.xml
Labels: android/, oem/, fix, android/engine/, oem/fv/, oem/fv/android/, has-user-test

#6283 fix(linux): Don't start ibus-daemon multiple times 🚌
  linux/keyman-config/keyman_config/ibus_util.py
  linux/keyman-config/km-config
Labels: linux/, fix, linux/config/, has-user-test

#6380 auto: increment beta version to 15.0.214
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6382 auto: increment stable-14.0 version to 14.0.289
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6378 chore(linux): Address a few more lintian warnings 🐧
  .editorconfig
  linux/debian/copyright
Labels: linux/, chore

#6371 fix (ios) backspace crashes in app
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/InputViewController.swift
Labels: ios/, ios/engine/, has-user-test

#6183 chore(common/core/desktop): Improve meson build file 🏗️
  common/core/desktop/build.bat
  common/core/desktop/meson.build
  common/core/desktop/src/debug.hpp
  common/core/desktop/src/kmx/kmx_context.cpp
  common/core/desktop/src/kmx/kmx_file.cpp
  common/core/desktop/src/kmx/kmx_processevent.h
  common/core/desktop/src/kmx/kmx_xstring.h
  common/core/desktop/src/meson.build
  common/core/desktop/src/state.hpp
  common/core/desktop/src/utfcodec.hpp
  common/core/desktop/tests/unit/kmnkbd/action_items.hpp
  common/core/desktop/tests/unit/kmnkbd/debug_api.cpp
  common/core/desktop/tests/unit/kmnkbd/debug_items.hpp
  common/core/desktop/tests/unit/kmnkbd/meson.build
  common/core/desktop/tests/unit/kmnkbd/state_api.cpp
  common/core/desktop/tests/unit/kmnkbd/test_kmx_xstring.cpp
  common/core/desktop/tests/unit/kmx/kmx.cpp
  common/core/desktop/tests/unit/kmx/kmx_test_source.cpp
  common/core/desktop/tests/unit/kmx/meson.build
  common/core/desktop/tests/unit/utftest/utftest.cpp
Labels: common/, common/core/, common/core/desktop/, chore

#6389 auto: increment beta version to 15.0.215
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/, user-test-missing

#6390 auto: increment master version to 16.0.4
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6393 fix(web): crash on focus before init
  web/source/keymanweb.ts
Labels: web/, fix, web/engine/

#6388 chore(linux): Remove versions that are no longer supported 🐧
  linux/scripts/cow.sh
  linux/scripts/launchpad.sh
Labels: linux/, stable, chore

#6395 chore(ios): stop lint complaints
  ios/keyman/Keyman/Keyman/AppDelegate.swift
  ios/keyman/Keyman/Keyman/Classes/KMWebBrowser/BookmarksViewController.swift
  ios/keyman/Keyman/Keyman/Classes/LogoBackgroundView/KMUnderscoreView.swift
Labels: ios/, ios/app/, chore

#6397 chore(windows): move crash metadata to extra
  windows/src/ext/sentry/Sentry.Client.pas
Labels: windows/, chore

#6398 chore(windows): move crash metadata to extra 🍒
  windows/src/ext/sentry/Sentry.Client.pas
Labels: windows/, cherry-pick, chore

#6400 auto: increment beta version to 15.0.217
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6357 fix(web): bounding rect offset was incorrect
  web/source/osk/visualKeyboard.ts
Labels: web/, fix, web/engine/, has-user-test

#6401 auto: increment beta version to 15.0.218
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6370 chore(android/engine): Remove visual gaps in keyboard picker menu
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KeyboardPickerActivity.java
  android/KMEA/app/src/main/res/layout/ime_list_layout.xml
  android/KMEA/app/src/main/res/layout/list_row_layout5.xml
  android/KMEA/app/src/main/res/values-sw720dp/dimens.xml
  android/KMEA/app/src/main/res/values/dimens.xml
Labels: android/, android/engine/, chore, has-user-test

#6404 auto: increment beta version to 15.0.219
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6403 fix(developer): detect changes in dropdowns in builder
  windows/src/developer/TIKE/xml/layoutbuilder/builder.js
Labels: developer/, fix, developer/ide/, has-user-test

#6407 fix(ios): remove busy 100ms waitForFonts timer on iOS
  web/source/kmwembedded.ts
Labels: web/, ios/, fix, web/engine/

#6409 chore(mac): update build env for monterey
  docs/build/macos.md
  resources/devbox/macos/keyman.macos.env.sh
  resources/devbox/macos/macos.sh
Labels: mac/, common/, common/resources/, chore

#6410 auto: increment master version to 16.0.5
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6411 auto: increment beta version to 15.0.220
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/, user-test-missing

#6406 fix(web): adjust touch alias element positioning
  web/source/dom/touchAliasElement.ts
Labels: web/, fix, web/engine/, has-user-test

#6366 feat(web): `&newLayer` and `&oldLayer`
  common/core/desktop/src/kmx/kmx_file.h
  common/core/desktop/tests/unit/kmx/kmx_imsample.kmx
  common/core/desktop/tests/unit/kmx/kmx_key_list.kmx
  common/core/web/input-processor/src/text/inputProcessor.ts
  common/core/web/keyboard-processor/src/text/kbdInterface.ts
  common/core/web/keyboard-processor/src/text/keyboardProcessor.ts
  common/test/keyboards/full_caps_3620_3621/source/full_caps_3620_3621.kmn
  common/test/keyboards/obolo_chwerty_6347/obolo_chwerty_6347.kpj
  common/test/keyboards/obolo_chwerty_6347/source/obolo_chwerty_6347.kmn
  common/test/keyboards/obolo_chwerty_6347/source/obolo_chwerty_6347.kps
  common/test/keyboards/obolo_chwerty_6347/source/obolo_chwerty_6347.kvks
  common/test/keyboards/obolo_chwerty_6351/obolo_chwerty_6351.kpj
  common/test/keyboards/obolo_chwerty_6351/source/obolo_chwerty_6351.kmn
  common/test/keyboards/obolo_chwerty_6351/source/obolo_chwerty_6351.kps
  common/test/keyboards/obolo_chwerty_6351/source/obolo_chwerty_6351.kvks
  common/test/keyboards/start_of_sentence_3621/source/start_of_sentence_3621.kmn
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/ios-host.js
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMBinaryFileFormat.h
  web/source/osk/banner.ts
  web/testing/commonHeader.js
  web/testing/obolo_chwerty_6351.js
  windows/src/developer/TIKE/help/kwhelp.pas
  windows/src/developer/kmcmpdll/Compiler.cpp
  windows/src/developer/kmdecomp/savekeyboard.cpp
  windows/src/global/delphi/general/kmxfileconsts.pas
  windows/src/global/inc/Compiler.h
  windows/src/test/unit-tests/kmcomp/test_5963_start_of_sentence.kmn
Labels: web/, windows/, developer/, ios/, mac/, common/, feat, ios/engine/, mac/engine/, web/engine/, common/core/, common/core/desktop/, common/core/web/, developer/ide/, has-user-test

#6138 fix(android/engine): Display longpress keys during a Move gesture
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  web/source/kmwembedded.ts
  web/source/osk/visualKeyboard.ts
Labels: web/, android/, fix, android/engine/, web/engine/, has-user-test

#6417 auto: increment beta version to 15.0.221
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6408 fix(developer): structure sizes for kmcomp x64
  windows/src/developer/kmcmpdll/kcframe/kcframe.cpp
  windows/src/global/delphi/general/compile.pas
Labels: windows/, developer/, fix

#6418 fix(common): report more log detail in increment-version
  resources/build/version/src/reportHistory.ts
Labels: common/, common/resources/, fix

#6423 fix(android/engine): Test fileVersion during package install 🍒
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/packages/PackageProcessor.java
Labels: android/, cherry-pick, fix, android/engine/, android/app/, has-user-test

#6426 auto: increment beta version to 15.0.222
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6425 fix(windows): put correct HK_ALT flag for modifier
  windows/src/engine/keyman32/k32_lowlevelkeyboardhook.cpp
Labels: windows/, fix, windows/engine/, has-user-test

#6399 chore(common): Update Hausa strings
  android/KMEA/app/src/main/res/values-ha-rHG/strings.xml
  ios/engine/KMEI/KeymanEngine/ha.lproj/Localizable.strings
  linux/keyman-config/locale/ha_HG.po
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/Base.lproj/MainMenu.xib
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/ha.lproj/KMAboutWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/ha.lproj/preferences.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/ha.lproj/KMInfoWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardHelpWindow/ha.lproj/KMKeyboardHelpWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/ha.lproj/Localizable.strings
  mac/Keyman4MacIM/Keyman4MacIM/ha.lproj/MainMenu.strings
Labels: android/, ios/, mac/, linux/, common/, android/engine/, ios/engine/, linux/config/, mac/engine/, chore, has-user-test

#6429 auto: increment beta version to 15.0.223
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6420 fix(mac): invalid keyboard breaks configuration
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/KMConfigurationWindowController.m
Labels: mac/, fix, mac/engine/

#6421 fix(mac): invalid keyboard breaks configuration 🍒
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/KMConfigurationWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/en.lproj/Localizable.strings
Labels: mac/, cherry-pick, fix, mac/engine/, has-user-test

#6424 fix(windows): make long menus scroll in Configuration
  windows/src/desktop/kmshell/Makefile
  windows/src/desktop/kmshell/xml/keyman.xsl
  windows/src/desktop/kmshell/xml/menu.css
  windows/src/desktop/kmshell/xml/menu.js
Labels: windows/, fix, windows/config/, has-user-test

#6383 fix(web): ios popup positioning and style
  web/source/osk/browser/keytip.ts
  web/source/osk/browser/subkeyPopup.ts
  web/source/osk/oskKey.ts
  web/source/resources/osk/kmwosk.css
Labels: web/, fix, web/engine/, has-user-test

#6431 auto: increment beta version to 15.0.224
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6438 fix(android/engine): Clear WebView cache on package install
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
Labels: android/, fix, android/engine/, android/app/, has-user-test

#6224 chore(android): 🍒 Update Play publishing plugin to 3.5.0 and other plugins
  android/KMAPro/build.gradle
  android/KMAPro/gradle/wrapper/gradle-wrapper.properties
  android/KMAPro/kMAPro/build.gradle
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/InfoActivity.java
  android/KMEA/.idea/runConfigurations.xml
  android/KMEA/app/build.gradle
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMManager.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/data/CloudRepository.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/util/KMPLink.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/KMManagerTest.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/logic/ResourcesUpdateToolTest.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/util/FileUtilsTest.java
  android/KMEA/app/src/test/java/com/tavultesoft/kmea/view/KeyboardPickerTest.java
  android/KMEA/build.gradle
  android/KMEA/gradle.properties
  android/KMEA/gradle/wrapper/gradle-wrapper.properties
  android/Samples/KMSample1/gradle/wrapper/gradle-wrapper.properties
  android/Samples/KMSample2/gradle/wrapper/gradle-wrapper.properties
  android/Tests/KeyboardHarness/gradle/wrapper/gradle-wrapper.properties
  oem/firstvoices/android/app/build.gradle
  oem/firstvoices/android/gradle/wrapper/gradle-wrapper.properties
Labels: android/, stable, cherry-pick, common/, oem/, android/engine/, android/app/, oem/fv/, oem/fv/android/, chore, android/samples/

#6197 feat(oem/fv/ios): Dictionary Support
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/engine/KMEI/KeymanEngineTests/KeymanPackageTests.swift
  oem/firstvoices/ios/FVShared/FVShared.swift
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
  oem/firstvoices/ios/FirstVoices.xcodeproj/xcshareddata/xcschemes/FirstVoices.xcscheme
  oem/firstvoices/ios/FirstVoices/AppDelegate.swift
  oem/firstvoices/ios/FirstVoices/Base.lproj/Main.storyboard
  oem/firstvoices/ios/FirstVoices/DownloadStatusToolbar.swift
  oem/firstvoices/ios/FirstVoices/FVKeyboardList.swift
  oem/firstvoices/ios/FirstVoices/KeyboardDetailCell.swift
  oem/firstvoices/ios/FirstVoices/KeyboardDetailController.swift
  oem/firstvoices/ios/FirstVoices/KeyboardRepository.swift
  oem/firstvoices/ios/FirstVoices/KeyboardSettingsRepository.swift
  oem/firstvoices/ios/FirstVoices/KeyboardTableController.swift
  oem/firstvoices/ios/FirstVoices/KeyboardsViewController.swift
  oem/firstvoices/ios/FirstVoices/LexicalModelRepository.swift
  oem/firstvoices/ios/FirstVoices/ViewController.swift
Labels: ios/, oem/, feat, ios/engine/, oem/fv/, oem/fv/ios/, user-test-required, has-user-test

#6439 auto: increment beta version to 15.0.225
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  developer/server/package-lock.json
  developer/server/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6432 fix(web): *Shifted* showed unshifted key cap
  web/source/osk/oskKey.ts
  windows/src/developer/TIKE/xml/layoutbuilder/builder.js
Labels: web/, windows/, developer/, fix, web/engine/, developer/ide/

#6433 fix(common): wordbreakers package.json main field
  common/models/wordbreakers/package.json
Labels: common/, common/models/, fix, common/models/wordbreakers/

#6434 chore(web): remove unused `selectLayer` parameter
  common/core/web/keyboard-processor/src/text/keyboardProcessor.ts
Labels: web/, common/, common/core/, common/core/web/, chore

#6435 feat(developer): improve Touch Layout Editor and Character Map integration
  windows/src/developer/TIKE/oskbuilder/UframeTouchLayoutBuilder.pas
  windows/src/developer/TIKE/xml/layoutbuilder/builder-charmap.js
  windows/src/developer/TIKE/xml/layoutbuilder/builder.js
  windows/src/developer/TIKE/xml/layoutbuilder/builder.xsl
Labels: developer/, feat, developer/ide/, has-user-test

#6442 fix(web): track load error detail
  web/source/keyboards/kmwkeyboards.ts
Labels: web/, fix, web/engine/

#6444 fix(developer): Add Wordlist button now copies into source folder
  windows/src/developer/TIKE/child/Keyman.Developer.UI.UframeWordlistEditor.pas
  windows/src/developer/TIKE/child/Keyman.Developer.UI.UfrmModelEditor.pas
  windows/src/developer/TIKE/main/Keyman.Developer.System.LexicalModelParser.pas
Labels: developer/, fix, developer/ide/, has-user-test

#6443 fix(web): track load error detail 🍒
  web/source/keyboards/kmwkeyboards.ts
Labels: web/, cherry-pick, fix, web/engine/

#6450 auto: increment stable-14.0 version to 14.0.290
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6452 chore(oem/fv/android): Update dependencies 🍒
  oem/firstvoices/android/app/build.gradle
  oem/firstvoices/android/build.gradle
Labels: android/, cherry-pick, oem/, oem/fv/, oem/fv/android/, chore

#6447 fix(android/engine): Use fixed sizes for preview keys
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  android/KMEA/app/src/main/res/layout/key_preview_layout.xml
  android/KMEA/app/src/main/res/values-land/dimens.xml
  android/KMEA/app/src/main/res/values/dimens.xml
Labels: android/, fix, android/engine/, has-user-test

#6454 auto: increment stable-14.0 version to 14.0.291
  HISTORY.md
  VERSION.md
  common/core/web/input-processor/package-lock.json
  common/core/web/input-processor/package.json
  common/core/web/keyboard-processor/package-lock.json
  common/core/web/keyboard-processor/package.json
  common/core/web/tools/recorder/package-lock.json
  common/core/web/tools/recorder/package.json
  common/core/web/tools/sentry-manager/package-lock.json
  common/core/web/tools/sentry-manager/package.json
  common/core/web/utils/package-lock.json
  common/core/web/utils/package.json
  common/models/templates/package-lock.json
  common/models/templates/package.json
  common/models/types/package-lock.json
  common/models/types/package.json
  common/models/wordbreakers/package-lock.json
  common/models/wordbreakers/package.json
  common/predictive-text/package-lock.json
  common/predictive-text/package.json
  developer/js/package-lock.json
  developer/js/package.json
  lerna.json
  resources/gosh/package-lock.json
  resources/gosh/package.json
  resources/web-environment/package-lock.json
  resources/web-environment/package.json
  web/package-lock.json
  web/package.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, auto, common/core/, common/core/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/

#6449 feat(developer): keep Virtual Key Identifier dialog open on Insert
  windows/src/developer/TIKE/debug/UfrmKeyTest.pas
Labels: developer/, feat, developer/ide/
