Repository keymanapp/keyman, pull requests merged in 2023-05, with the labels that each got.

#8702 auto: increment master version to 17.0.99
  HISTORY.md
  VERSION.md
Labels: auto

#8705 chore(linux): Fix build script
  linux/ibus-keyman/build.sh
Labels: linux/, linux/engine/, chore

#8706 auto: increment master version to 17.0.100
  HISTORY.md
  VERSION.md
Labels: auto

#8690 fix(developer): warning fixes in kmcmplib 🙀
  developer/src/kmcmplib/include/kmcompx.h
  developer/src/kmcmplib/src/Compiler.cpp
  developer/src/kmcmplib/src/NamedCodeConstants.cpp
  developer/src/kmcmplib/src/UnreachableRules.cpp
  developer/src/kmcmplib/src/kmcmplib.h
  developer/src/kmcmplib/src/kmx_u16.cpp
  developer/src/kmcmplib/src/versioning.cpp
Labels: developer/, fix, epic-ldml

#8710 auto: increment master version to 17.0.101
  HISTORY.md
  VERSION.md
Labels: auto

#8698 chore(common): `set -eu` in build-utils.sh
  common/predictive-text/unit_tests/test.sh
  ios/tools/prepRelease.sh
  linux/scripts/dist.sh
  mac/build.sh
  resources/build/build-utils.sh
Labels: ios/, mac/, linux/, common/, common/resources/, chore

#8704 fix(android/app): Resize OSK when resuming app from background
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
Labels: android/, fix, android/app/, has-user-test

#8715 auto: increment master version to 17.0.102
  HISTORY.md
  VERSION.md
Labels: auto

#8713 chore(linux): Build for Lunar on all platforms
  .github/workflows/deb-packaging.yml
  linux/Jenkinsfile
Labels: linux/, chore

#8510 fix(linux): Fix linux tests
  common/test/keyboards/.gitignore
  linux/debian/rules
  linux/ibus-keyman/src/kmpdetails.c
  linux/ibus-keyman/tests/meson.build
  linux/ibus-keyman/tests/scripts/run-single-test.sh
  linux/ibus-keyman/tests/scripts/run-tests.sh
  linux/ibus-keyman/tests/scripts/setup-tests.sh
  linux/ibus-keyman/tests/scripts/teardown-tests.sh
  linux/ibus-keyman/tests/scripts/test-helper.sh
Labels: linux/, fix, linux/engine/

#8720 chore(linux): Fix uploading to launchpad
  linux/scripts/launchpad.sh
  linux/scripts/package-build.inc.sh
Labels: linux/, chore

#8722 auto: increment master version to 17.0.103
  HISTORY.md
  VERSION.md
Labels: auto

#8724 fix(mac): `$CONFIG` not `$CONFIGURATION` in build path
  mac/build.sh
Labels: mac/, fix

#8736 auto: increment master version to 17.0.104
  HISTORY.md
  VERSION.md
Labels: auto

#8732 chore(linux): bring kmp.json for unit test up to spec
  linux/ibus-keyman/tests/scripts/setup-tests.sh
  linux/ibus-keyman/tests/scripts/test-helper.sh
Labels: linux/, linux/engine/, chore

#8747 auto: increment master version to 17.0.105
  HISTORY.md
  VERSION.md
Labels: auto

#8748 chore(common): Update crowdin strings for Amharic
  android/KMAPro/kMAPro/src/main/res/values-am-rET/strings.xml
  android/KMEA/app/src/main/res/values-am-rET/strings.xml
  mac/Keyman4MacIM/Keyman4MacIM/am.lproj/Localizable.strings
  windows/src/desktop/kmshell/locale/am-ET/strings.xml
  windows/src/desktop/setup/locale/am-ET/strings.xml
Labels: windows/, android/, mac/, common/, android/engine/, android/app/, windows/config/, chore

#8749 chore(android/app): Cleanup build-play-store-notes script
  android/KMAPro/build-play-store-notes.inc.sh
  android/KMAPro/build-play-store-notes.sh
  android/build-publish.sh
Labels: android/, android/app/, chore

#8733 chore(linux): Add build.sh for keyman-config
  .shellcheckrc
  docs/settings/linux/settings.json
  linux/build.sh
  linux/ibus-keyman/build.sh
  linux/keyman-config/.editorconfig
  linux/keyman-config/build.sh
Labels: linux/, linux/config/, linux/engine/, chore, docs

#8760 auto: increment master version to 17.0.106
  HISTORY.md
  VERSION.md
Labels: auto

#8729 chore(developer): move package formats to common/web/types
  common/web/types/src/main.ts
  common/web/types/src/package/kmp-json-file.ts
  common/web/types/src/package/kps-file.ts
  developer/src/kmc-model-info/build.sh
  developer/src/kmc-model-info/package.json
  developer/src/kmc-model-info/src/model-info-compiler.ts
  developer/src/kmc-model-info/tsconfig.json
  developer/src/kmc-package/src/kmp-compiler.ts
  developer/src/kmc-package/test/test-package-compiler.ts
  developer/src/kmc-package/tsconfig.json
  package-lock.json
Labels: developer/, common/, developer/compilers/, common/web/, chore

#8740 feat(developer): add package validation
  developer/src/kmc-package/package.json
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/messages.ts
  developer/src/kmc-package/src/compiler/package-validation.ts
  developer/src/kmc-package/src/main.ts
  developer/src/kmc-package/test/fixtures/invalid/ERROR_PackageCannotContainBothModelsAndKeyboards.kps
  developer/src/kmc-package/test/fixtures/invalid/WARN_PackageShouldNotRepeatLanguages.kps
  developer/src/kmc-package/test/fixtures/invalid/WARN_PackageShouldNotRepeatLanguages.model.kps
  developer/src/kmc-package/test/test-messages.ts
  developer/src/kmc-package/test/test-package-compiler.ts
  developer/src/kmc/src/commands/build/BuildPackage.ts
  developer/src/kmc/src/kmlmi.ts
  developer/src/kmc/src/kmlmp.ts
Labels: developer/, developer/compilers/, feat

#8751 feat(developer): add validation of package filenames
  developer/src/kmc-package/src/compiler/messages.ts
  developer/src/kmc-package/src/compiler/package-validation.ts
  developer/src/kmc-package/test/fixtures/invalid/WARN_PackageNameDoesNotFollowKeyboardConventions.kps
  developer/src/kmc-package/test/fixtures/invalid/WARN_PackageNameDoesNotFollowLexicalModelConventions.kps
  developer/src/kmc-package/test/fixtures/invalid/keyman.en.warn_package_should_not_repeat_languages.model.kps
  developer/src/kmc-package/test/fixtures/invalid/warn_package_should_not_repeat_languages.kps
  developer/src/kmc-package/test/test-package-compiler.ts
  developer/src/kmc/src/commands/build/BuildPackage.ts
  developer/src/kmc/src/kmlmi.ts
  developer/src/kmc/src/kmlmp.ts
Labels: developer/, developer/compilers/, feat

#8755 feat(developer): validate content file names in packages
  developer/src/kmc-package/src/compiler/messages.ts
  developer/src/kmc-package/src/compiler/package-validation.ts
  developer/src/kmc-package/test/fixtures/invalid/warn_file_in_package_does_not_follow_filename_conventions.kps
  developer/src/kmc-package/test/fixtures/invalid/warn_file_in_package_does_not_follow_filename_conventions_2.kps
  developer/src/kmc-package/test/test-package-compiler.ts
Labels: developer/, developer/compilers/, feat

#8757 feat(developer): validate package name in compiler
  developer/src/kmc-package/src/compiler/messages.ts
  developer/src/kmc-package/src/compiler/package-validation.ts
  developer/src/kmc-package/test/fixtures/invalid/error_package_name_cannot_be_blank.kps
  developer/src/kmc-package/test/fixtures/invalid/error_package_name_cannot_be_blank_2.kps
  developer/src/kmc-package/test/fixtures/invalid/error_package_name_cannot_be_blank_3.kps
  developer/src/kmc-package/test/test-package-compiler.ts
Labels: developer/, developer/compilers/, feat

#8785 auto: increment master version to 17.0.107
  HISTORY.md
  VERSION.md
Labels: auto

#8784 chore(linux): Fix installation build step on TC
  linux/keyman-config/Makefile
Labels: linux/, linux/config/, chore

#8630 fix(web): app/browser osk hooks, initialization 🧩
  web/src/app/browser/src/contextManager.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/browser/src/oskConfiguration.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/osk/src/index.ts
  web/src/engine/osk/src/views/floatingOskView.ts
  web/src/engine/osk/src/views/oskView.ts
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, fix

#8739 refactor(android/engine): Consolidate updateSelection 🛋
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Labels: android/, android/engine/, refactor, has-user-test

#8811 auto: increment master version to 17.0.108
  HISTORY.md
  VERSION.md
Labels: auto

#8707 chore(window): rename core functions ⛏️
  windows/src/engine/keyman32/K32_load.cpp
  windows/src/engine/keyman32/keyboardoptions.cpp
  windows/src/engine/keyman32/keyboardoptions.h
  windows/src/engine/keyman32/keyman-engine.vcxproj
  windows/src/engine/keyman32/keyman32.cpp
  windows/src/engine/keyman32/kmprocessactions.cpp
  windows/src/engine/keyman32/preservedkeymap.cpp
  windows/src/engine/keyman32/tests/keyman-engine-tests/keyboardoptionstests.cpp
Labels: windows/, windows/engine/, chore, has-user-test

#8744 chore(windows): remove WM_UNICHAR completely
  windows/src/engine/keyman32/appint/aiWin2000Unicode.cpp
  windows/src/engine/keyman32/kmhook_getmessage.cpp
Labels: windows/, windows/engine/, chore, has-user-test

#8708 chore(windows): remove addins ⛏️
  windows/src/engine/keyman32/K32_load.cpp
  windows/src/engine/keyman32/addins.cpp
  windows/src/engine/keyman32/addins.h
  windows/src/engine/keyman32/appint/aiWin2000Unicode.cpp
  windows/src/engine/keyman32/keyboardoptions.cpp
  windows/src/engine/keyman32/keyboardoptions.h
  windows/src/engine/keyman32/keyman-engine.vcxproj
  windows/src/engine/keyman32/keyman-engine.vcxproj.filters
  windows/src/engine/keyman32/keyman32.cpp
  windows/src/engine/keyman32/keyman32.vcxproj
  windows/src/engine/keyman32/keyman32.vcxproj.filters
  windows/src/engine/keyman32/keymanengine.h
  windows/src/engine/keyman32/kmhook_getmessage.cpp
  windows/src/engine/keyman32/kmprocessactions.cpp
  windows/src/engine/keyman32/preservedkeymap.cpp
  windows/src/engine/keyman32/tests/keyman-engine-tests/keyboardoptionstests.cpp
  windows/src/engine/keyman64/keyman64.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj.filters
Labels: windows/, windows/engine/, chore

#8745 chore(windows): remove keyman_forcekeyboard
  developer/src/tike/compile/keyman32_int.pas
  windows/src/engine/keyman32/K32_load.cpp
  windows/src/engine/keyman32/appint/aiTIP.cpp
  windows/src/engine/keyman32/appint/aiTIP.h
  windows/src/engine/keyman32/appint/aiWin2000Unicode.cpp
  windows/src/engine/keyman32/appint/aiWin2000Unicode.h
  windows/src/engine/keyman32/appint/appint.h
  windows/src/engine/keyman32/globals.h
  windows/src/engine/keyman32/keyman32.cpp
  windows/src/engine/keyman32/keyman32.def
  windows/src/engine/keyman32/kmprocess.cpp
  windows/src/engine/keyman32/selectkeyboard.cpp
  windows/src/engine/kmtip/keys.cpp
  windows/src/engine/kmtip/kmtip.def
  windows/src/engine/kmtip/kmtip.h
  windows/src/global/delphi/general/keyman32_int.pas
Labels: windows/, developer/, developer/ide/, windows/engine/, chore, has-user-test

#8750 feat(windows): add text editor to the support makefile
  windows/src/support/Makefile
  windows/src/support/texteditor/Makefile
Labels: windows/, support, feat, has-user-test

#8783 feat(developer): verify at least one language in package
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/messages.ts
  developer/src/kmc-package/src/compiler/package-validation.ts
  developer/src/kmc-package/test/fixtures/invalid/keyman.en.error_must_have_at_least_one_language.model.kps
  developer/src/kmc-package/test/test-package-compiler.ts
Labels: developer/, developer/compilers/, feat

#8793 chore(developer): verify that package has at least a model or keyboard
  developer/src/kmc-package/src/compiler/messages.ts
  developer/src/kmc-package/src/compiler/package-validation.ts
  developer/src/kmc-package/src/compiler/package-version-validation.ts
  developer/src/kmc-package/test/fixtures/binary_kvk_file/source/binary_kvk_file.kps
  developer/src/kmc-package/test/fixtures/invalid/error_package_must_contain_a_model_or_a_keyboard.kps
  developer/src/kmc-package/test/fixtures/xml_kvk_file/source/xml_kvk_file.kps
  developer/src/kmc-package/test/test-package-compiler.ts
Labels: developer/, developer/compilers/, chore

#8746 chore(ios): Changes required for XCode 14.3
  ios/Cartfile
  ios/Cartfile.resolved
  ios/engine/KMEI/KeymanEngine/Classes/Errors/SentryManager.swift
  oem/firstvoices/ios/Cartfile
  oem/firstvoices/ios/Cartfile.resolved
Labels: ios/, chore, has-user-test

#8815 auto: increment master version to 17.0.109
  HISTORY.md
  VERSION.md
Labels: auto

#8819 fix(windows): add wrap-symbols to Text Editor Makefile
  windows/src/support/texteditor/Makefile
Labels: windows/, fix

#8810 chore(linux): Make postinst script comply with Debian policy
  linux/debian/ibus-keyman.postinst
Labels: linux/, chore

#8829 auto: increment master version to 17.0.110
  HISTORY.md
  VERSION.md
Labels: auto

#8834 fix(common): ensure child builds don't rebuild dependencies unnecessarily
  resources/builder.inc.sh
Labels: common/, common/resources/, fix

#8843 auto: increment master version to 17.0.111
  HISTORY.md
  VERSION.md
Labels: auto

#8845 fix(android/app): Pathing for publish script
  android/build-publish.sh
Labels: android/, fix

#8801 refactor(web): element attachment as an independent module 🧩
  web/build.sh
  web/package.json
  web/src/app/browser/src/contextManager.ts
  web/src/app/browser/src/defaultBrowserRules.ts
  web/src/engine/attachment/build-bundler.js
  web/src/engine/attachment/build.sh
  web/src/engine/attachment/readme.md
  web/src/engine/attachment/src/attachmentInfo.ts
  web/src/engine/attachment/src/index.ts
  web/src/engine/attachment/src/pageContextAttachment.ts
  web/src/engine/attachment/tsconfig.json
  web/src/engine/dom-utils/src/arrayFromNodeList.ts
  web/src/engine/dom-utils/src/index.ts
  web/src/engine/namespaced-main/dom/domEventHandlers.ts
  web/src/engine/namespaced-main/dom/domManager.ts
  web/src/engine/namespaced-main/kmwtypedefs.ts
  web/src/engine/namespaced-main/kmwutils.ts
Labels: web/, refactor

#8802 feat(web): element-attachment unit tests 🧩
  web/src/engine/attachment/src/pageContextAttachment.ts
  web/src/engine/namespaced-main/dom/domManager.ts
  web/src/test/auto/dom/base.conf.cjs
  web/src/test/auto/dom/cases/attachment/pageContextAttachment.js
  web/src/test/auto/dom/cases/element-wrappers/target_mocks.js
  web/src/test/auto/integrated/base.conf.cjs
  web/src/test/auto/integrated/cases/attachmentAPI.js
  web/src/test/auto/resources/fixtures/a-bit-of-everything.html
  web/src/test/auto/resources/fixtures/dynamic-element-container.html
  web/src/test/auto/resources/fixtures/input-and-disabled-text.html
  web/src/test/auto/resources/fixtures/input-and-text.html
  web/src/test/auto/resources/fixtures/inputs-numeric-none-disabled_email.html
  web/src/test/auto/resources/fixtures/nested-iframe.html
  web/src/test/auto/resources/fixtures/simple-design-iframe.html
  web/src/test/auto/resources/fixtures/simple-editable-div.html
  web/src/test/auto/resources/fixtures/simple-iframe-with-input.html
  web/src/test/auto/resources/fixtures/wild-absolute-positioning-extras.html
  web/src/test/auto/resources/fixtures/wild-absolute-positioning.html
  web/src/test/auto/resources/html/designIframe.html
  web/src/test/auto/resources/html/iframe.html
  web/src/test/auto/resources/html/nesting-inner-iframe.html
  web/src/test/auto/resources/html/nesting-outer-iframe.html
Labels: web/, feat

#8803 chore(web): context-management handlers 🧩
  web/src/app/browser/src/configuration.ts
  web/src/app/browser/src/context/focusAssistant.ts
  web/src/app/browser/src/contextManager.ts
  web/src/app/browser/src/keyboardInterface.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/browser/src/oskConfiguration.ts
  web/src/app/webview/src/contextManager.ts
  web/src/engine/attachment/src/index.ts
  web/src/engine/attachment/src/outputTargetForElement.ts
  web/src/engine/element-wrappers/src/outputTarget.ts
  web/src/engine/main/src/contextManagerBase.ts
  web/src/engine/main/src/index.ts
  web/src/engine/main/src/keyboardInterface.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/main/src/legacyAPIEvents.ts
  web/src/engine/namespaced-main/dom/domEventHandlers.ts
  web/src/engine/namespaced-main/dom/domManager.ts
  web/src/test/auto/dom/cases/attachment/outputTargetForElement.js
Labels: web/, chore

#8804 chore(web): modularizes the keyman.util dom-event tracking components 🧩
  web/src/engine/events/src/domEventTracker.ts
  web/src/engine/events/src/index.ts
  web/src/engine/namespaced-main/kmwutils.ts
Labels: web/, chore

#8805 chore(web): reconnection of KMW's context-focus event hooks 🧩
  web/src/app/browser/src/context/focusAssistant.ts
  web/src/app/browser/src/contextManager.ts
  web/src/engine/attachment/src/pageContextAttachment.ts
  web/src/engine/namespaced-main/dom/domEventHandlers.ts
  web/src/engine/namespaced-main/dom/domManager.ts
Labels: web/, chore

#8806 chore(web): modularization of Web's page-integration handlers 🧩
  web/src/app/browser/src/context/pageIntegrationHandlers.ts
  web/src/app/browser/src/contextManager.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/engine/namespaced-main/dom/domManager.ts
  web/src/engine/namespaced-main/keymanweb.ts
  web/src/engine/namespaced-main/kmwbase.ts
Labels: web/, chore

#8807 chore(web): hardware-event keystroke handling, preprocessing 🧩
  common/web/keyboard-processor/src/text/keyEvent.ts
  common/web/keyboard-processor/src/text/keyMapping.ts
  web/src/app/browser/src/contextManager.ts
  web/src/app/browser/src/hardwareEventKeyboard.ts
  web/src/app/browser/src/keyEventKeyboard.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/engine/attachment/src/pageContextAttachment.ts
  web/src/engine/namespaced-main/dom/domEventHandlers.ts
  web/src/engine/namespaced-main/dom/preProcessor.ts
Labels: web/, common/, common/web/, chore

#8808 chore(web): modularization of KMW's touch form-factor language menu 🧩
  web/src/app/browser/src/context/pageIntegrationHandlers.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/browser/src/languageMenu.ts
  web/src/app/browser/src/oskConfiguration.ts
  web/src/app/browser/src/utils/createElement.ts
  web/src/app/browser/src/utils/getStyleValue.ts
  web/src/app/browser/src/utils/getViewportScale.ts
  web/src/app/browser/src/utils/index.ts
  web/src/app/web/kmwrotation.ts
  web/src/engine/namespaced-main/kmwutils.ts
  web/src/engine/namespaced-main/osk/languageMenu.ts
  web/src/engine/osk/src/views/oskView.ts
  web/src/engine/package-cache/src/stubAndKeyboardCache.ts
Labels: web/, chore

#8813 refactor(web): util.alert() & util.wait() modularization 🧩
  common/web/keyboard-processor/src/index.ts
  common/web/keyboard-processor/src/keyboards/keyboardLoaderBase.ts
  web/src/app/browser/src/configuration.ts
  web/src/app/browser/src/contextManager.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/browser/src/oskConfiguration.ts
  web/src/app/browser/src/utilApiEndpoint.ts
  web/src/app/browser/src/utils/alertHost.ts
  web/src/app/browser/src/utils/index.ts
  web/src/app/web/kmwnative.ts
  web/src/app/webview/src/keymanEngine.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/namespaced-main/kmwutils.ts
Labels: web/, common/, common/web/, refactor

#8509 feat(linux): Add dbus system service
  docs/linux/packaging.md
  docs/settings/linux/tasks.json
  linux/.gitignore
  linux/build.sh
  linux/debian/control
  linux/debian/keyman-system-service.install
  linux/debian/rules
  linux/ibus-keyman/meson.build
  linux/ibus-keyman/src/KeymanSystemServiceClient.cpp
  linux/ibus-keyman/src/KeymanSystemServiceClient.h
  linux/ibus-keyman/src/engine.c
  linux/ibus-keyman/src/main.c
  linux/ibus-keyman/src/meson.build
  linux/ibus-keyman/src/test/meson.build
  linux/ibus-keyman/tests/KmDbusTestServer.cpp
  linux/ibus-keyman/tests/StopTestServer.cpp
  linux/ibus-keyman/tests/meson.build
  linux/ibus-keyman/tests/scripts/run-single-test.sh
  linux/ibus-keyman/tests/scripts/run-tests.sh
  linux/ibus-keyman/tests/scripts/setup-tests.sh
  linux/ibus-keyman/tests/scripts/teardown-tests.sh
  linux/ibus-keyman/tests/scripts/test-helper.inc.sh
  linux/ibus-keyman/tests/scripts/test-helper.sh
  linux/ibus-keyman/tests/testfixture.cpp
  linux/keyman-system-service/README.md
  linux/keyman-system-service/build.sh
  linux/keyman-system-service/meson.build
  linux/keyman-system-service/resources/com.keyman.SystemService1.conf
  linux/keyman-system-service/resources/com.keyman.SystemService1.service
  linux/keyman-system-service/resources/meson.build
  linux/keyman-system-service/resources/systemd-keyman.service
  linux/keyman-system-service/src/KeyboardDevice.cpp
  linux/keyman-system-service/src/KeyboardDevice.h
  linux/keyman-system-service/src/KeymanSystemService.cpp
  linux/keyman-system-service/src/KeymanSystemService.h
  linux/keyman-system-service/src/com.keyman.SystemService1.System.xml
  linux/keyman-system-service/src/main.cpp
  linux/keyman-system-service/src/meson.build
  linux/keyman-system-service/tests/KeyboardDeviceMock.cpp
  linux/keyman-system-service/tests/README.md
  linux/keyman-system-service/tests/meson.build
  linux/keyman-system-service/tests/services/README.md
  linux/keyman-system-service/tests/services/at-spi-dbus-bus.service.in
  linux/keyman-system-service/tests/services/gvfs-daemon.service.in
  linux/keyman-system-service/tests/services/keyman-test.service.in
  linux/keyman-system-service/tests/services/meson.build
  linux/scripts/dist.sh
Labels: linux/, feat, linux/config/, linux/engine/, docs, has-user-test

#8849 chore(linux): Add missing dependency to GHA
  .github/workflows/deb-packaging.yml
Labels: linux/, chore

#8852 auto: increment master version to 17.0.112
  HISTORY.md
  VERSION.md
Labels: auto

#8796 refactor(developer): move file write out of WriteCompiledKeyboard and CompileKeyboard merge
  developer/src/kmc-kmn/build.sh
  developer/src/kmcmplib/src/Compiler.cpp
  developer/src/kmcmplib/src/CompilerInterfaces.cpp
  developer/src/kmcmplib/src/kmcmplib.h
Labels: developer/, developer/compilers/, refactor

#8854 fix(common/models): predictive-text sourcemapping linkage
  common/web/lm-worker/build-wrap-and-minify.js
Labels: common/, fix, common/web/

#8816 fix(web): first-draft, usable build for module-based app/browser 🧩
  web/README.md
  web/build.sh
  web/ci.sh
  web/src/app/browser/build-bundler.js
  web/src/app/browser/build.sh
  web/src/app/browser/src/configuration.ts
  web/src/app/browser/src/context/pageIntegrationHandlers.ts
  web/src/app/browser/src/contextManager.ts
  web/src/app/browser/src/debug-main.ts
  web/src/app/browser/src/keyboardInterface.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/browser/src/languageMenu.ts
  web/src/app/browser/src/main.ts
  web/src/app/browser/src/oskConfiguration.ts
  web/src/app/browser/src/release-main.ts
  web/src/app/browser/src/utilApiEndpoint.ts
  web/src/app/browser/src/utils/documentReady.ts
  web/src/app/browser/src/utils/index.ts
  web/src/app/webview/src/keymanEngine.ts
  web/src/engine/main/src/contextManagerBase.ts
  web/src/engine/main/src/keyboardInterface.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/osk/src/views/oskView.ts
  web/src/engine/osk/src/visualKeyboard.ts
  web/src/engine/package-cache/src/keyboardRequisitioner.ts
  web/src/engine/package-cache/src/keyboardStub.ts
  web/src/engine/package-cache/src/stubAndKeyboardCache.ts
  web/src/test/auto/headless/packages/keyboardRequisitioner.js
  web/src/test/manual/web/unminified.html
Labels: web/, fix

#8818 feat(web): browser-focus unit testing 🧩
  web/build.sh
  web/src/app/browser/build-bundler.js
  web/src/app/browser/src/context/focusAssistant.ts
  web/src/app/browser/src/contextManager.ts
  web/src/app/browser/src/test-index.ts
  web/src/app/webview/src/contextManager.ts
  web/src/engine/events/build-bundler.js
  web/src/engine/main/src/contextManagerBase.ts
  web/src/test/auto/dom/cases/attachment/pageContextAttachment.js
  web/src/test/auto/dom/cases/browser/contextManager.js
  web/src/test/auto/dom/kbdLoader.mjs
  web/src/test/auto/integrated/cases/attachmentAPI.js
Labels: web/, feat

#8820 fix(web): font management for attached controls 🧩
  web/src/app/browser/src/configuration.ts
  web/src/app/browser/src/contextManager.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/engine/attachment/src/pageContextAttachment.ts
  web/src/engine/dom-utils/src/stylesheets.ts
  web/src/engine/main/src/engineConfiguration.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/namespaced-main/dom/domManager.ts
  web/src/engine/package-cache/src/cloud/queryEngine.ts
  web/src/engine/paths/src/pathConfiguration.ts
  web/src/test/manual/web/promise-api/index.html
Labels: web/, fix

#8862 auto: increment master version to 17.0.113
  HISTORY.md
  VERSION.md
Labels: auto

#8860 docs(android): Update documentation for building Android on Linux
  android/README.md
  docs/build/linux-ubuntu.md
Labels: android/, docs

#8859 fix(android): Fix typo in build-utils.sh
  resources/build/build-utils.sh
Labels: android/, common/, common/resources/, fix

#8850 refactor(developer): compiler interface part 1 for wasm
  common/test/keyboards/caps_lock_layer_3620/binary/caps_lock_layer_3620.kmx
  common/test/keyboards/caps_lock_layer_3620/binary/caps_lock_layer_3620.kvk
  common/web/types/src/kvk/kvks-file-reader.ts
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/common/delphi/compiler/compile.pas
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/test/test-compiler.ts
  developer/src/kmcmpdll/compfile.h
  developer/src/kmcmpdll/kcframe/kcframe.cpp
  developer/src/kmcmplib/include/kmcmplibapi.h
  developer/src/kmcmplib/meson.build
  developer/src/kmcmplib/src/Compiler.cpp
  developer/src/kmcmplib/src/CompilerInterfaces.cpp
  developer/src/kmcmplib/src/compfile.h
  developer/src/kmcmplib/src/kmcmplib.h
  developer/src/kmcmplib/src/meson.build
Labels: developer/, common/, developer/compilers/, common/web/, refactor

#8856 chore(developer): remove SetError macro
  developer/src/kmcmplib/src/CompilerInterfaces.cpp
Labels: developer/, chore

#8865 auto: increment master version to 17.0.114
  HISTORY.md
  VERSION.md
Labels: auto

#8863 fix(web): input-processor unit test - constructor missing a parameter 🧩
  common/web/input-processor/tests/cases/inputProcessor.js
Labels: web/, common/, common/models/, fix, common/web/

#8821 fix(web): KMW recorder modularization, restoration 🧩
  web/package.json
  web/src/app/browser/src/hardwareEventKeyboard.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/browser/src/test-index.ts
  web/src/engine/namespaced-main/keyboards/kmwkeyboards.ts
  web/src/engine/namespaced-main/kmwbase.ts
  web/src/engine/package-cache/src/cloud/index.ts
  web/src/engine/package-cache/src/index.ts
  web/src/tools/testing/recorder/browserDriver.ts
  web/src/tools/testing/recorder/browserProctor.ts
  web/src/tools/testing/recorder/build-bundler.js
  web/src/tools/testing/recorder/build.sh
  web/src/tools/testing/recorder/index.html
  web/src/tools/testing/recorder/index.ts
  web/src/tools/testing/recorder/recorder_KeyboardScripts.js
  web/src/tools/testing/recorder/recorder_ui_and_stubs.js
  web/src/tools/testing/recorder/scribe.ts
  web/src/tools/testing/recorder/tsconfig.json
  web/test.sh
Labels: web/, fix

#8823 fix(web): restoration of automated integration tests 🧩
  common/test/resources/json/engine_tests/chirality.json
  common/test/resources/json/engine_tests/deadkeys.json
  web/src/app/browser/src/contextManager.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/namespaced-main/kmwbase.ts
  web/src/engine/package-cache/src/stubAndKeyboardCache.ts
  web/src/test/auto/integrated/base.conf.cjs
  web/src/test/auto/integrated/cases/basics.js
  web/src/test/auto/integrated/cases/engine.js
  web/src/test/auto/integrated/cases/engine_chirality.js
  web/src/test/auto/integrated/cases/events.js
  web/src/test/auto/integrated/cases/text_selection.js
  web/src/test/auto/integrated/test_utils.js
  web/src/tools/testing/recorder/browserDriver.ts
Labels: web/, common/, fix

#8824 fix(web): modularizes Web's Toggle-style keyboard menu, converts it fully to TS 🧩
  web/build.sh
  web/src/app/browser/src/configuration.ts
  web/src/app/browser/src/context/pageIntegrationHandlers.ts
  web/src/app/browser/src/contextManager.ts
  web/src/app/browser/src/hotkeyManager.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/browser/src/test-index.ts
  web/src/app/browser/src/uiModuleInterface.ts
  web/src/app/browser/src/utilApiEndpoint.ts
  web/src/app/ui/build-bundler.js
  web/src/app/ui/build.sh
  web/src/app/ui/kmwuitoggle.ts
  web/src/app/ui/tsconfig.json
  web/src/engine/dom-utils/src/stylesheets.ts
  web/src/engine/events/src/legacyEventEmitter.ts
  web/src/engine/namespaced-main/keyboards/kmwkeyboards.ts
  web/src/engine/namespaced-main/kmwbase.ts
  web/src/engine/namespaced-main/kmwhotkeys.ts
  web/src/engine/namespaced-main/kmwutils.ts
  web/src/engine/osk/src/views/oskView.ts
  web/src/test/auto/integrated/base.conf.cjs
  web/src/test/auto/integrated/cases/basics.js
  web/src/test/auto/integrated/test_utils.js
Labels: web/, fix

#8825 fix(web): modularizes Web's Toolbar-style keyboard menu, converts it fully to TS 🧩
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/browser/src/utilApiEndpoint.ts
  web/src/app/ui/build-bundler.js
  web/src/app/ui/kmwuitoolbar.ts
  web/src/app/ui/tsconfig.json
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/namespaced-main/kmwbase.ts
  web/src/engine/namespaced-main/kmwutils.ts
  web/src/test/auto/integrated/cases/basics.js
  web/src/test/manual/web/desktop-ui/toggle.html
  web/src/test/manual/web/desktop-ui/toolbar.html
Labels: web/, fix

#8826 fix(web): modularizes Web's Button-style and Float-style keyboard menus, converts them fully to TS 🧩
  common/predictive-text/unit_tests/in_browser/manual.conf.cjs
  common/web/keyboard-processor/tests/dom/CI.conf.cjs
  common/web/keyboard-processor/tests/dom/manual.conf.cjs
  web/package.json
  web/src/app/browser/src/utilApiEndpoint.ts
  web/src/app/ui/build-bundler.js
  web/src/app/ui/kmwuibutton.ts
  web/src/app/ui/kmwuifloat.ts
  web/src/app/ui/tsconfig.json
  web/src/test/auto/dom/CI.conf.cjs
  web/src/test/auto/dom/manual.conf.cjs
  web/src/test/auto/integrated/CI.conf.cjs
  web/src/test/auto/integrated/cases/basics.js
  web/src/test/auto/integrated/manual.conf.cjs
  web/src/test/manual/web/desktop-ui/button.html
  web/src/test/manual/web/desktop-ui/float.html
Labels: web/, common/, fix, common/web/

#8857 chore(developer): replace cwrap wasm bindings
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmcmplib/include/kmcmplibapi.h
  developer/src/kmcmplib/src/CompilerInterfaces.cpp
  developer/src/kmcmplib/src/meson.build
  developer/src/kmcmplib/src/uset-api.cpp
  developer/src/kmcmplib/tests/uset-api-test.cpp
Labels: developer/, developer/compilers/, chore

#8870 chore(developer): refactor kmcmplib interfaces
  common/windows/cpp/include/legacy_kmx_file.h
  developer/src/common/delphi/compiler/compile.pas
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/test/test-compiler.ts
  developer/src/kmcmpdll/Compiler.cpp
  developer/src/kmcmpdll/json-validation.cpp
  developer/src/kmcmpdll/kmcmpdll.vcxproj
  developer/src/kmcmplib/include/kmcmplibapi.h
  developer/src/kmcmplib/include/meson.build
  developer/src/kmcmplib/src/CompilerInterfaces.cpp
  developer/src/kmcmplib/src/json-validation.cpp
  developer/src/kmcmplib/src/meson.build
  developer/src/kmcmplib/tests/api-test.cpp
  developer/src/kmcmplib/tests/kmcompxtest.cpp
  developer/src/kmcomp/main.pas
  developer/src/tike/project/Keyman.Developer.System.Project.kmnProjectFileAction.pas
Labels: developer/, common/, developer/compilers/, developer/ide/, chore

#8864 chore(linux): Move build steps to build.sh
  linux/debian/rules
  linux/keyman-config/Makefile
  linux/keyman-config/build.sh
  linux/keyman-config/run-tests.sh
  linux/keyman-config/tests/test_gnome_keyboards_util.py
  linux/keyman-config/tests/test_install_kmp.py
  linux/keyman-config/tests/test_package_install_completion.py
  linux/scripts/install.sh
  linux/scripts/package-build.inc.sh
  linux/scripts/reconf.sh
Labels: linux/, linux/config/, chore

#8830 fix(web): build config cleanup, Safari & mobile-device bugfixes (thanks to CI checks) 🧩
  web/build.sh
  web/ci.sh
  web/common.inc.sh
  web/src/app/browser/build.sh
  web/src/app/browser/src/contextManager.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/browser/tsconfig.json
  web/src/app/ui/build.sh
  web/src/app/webview/build.sh
  web/src/app/webview/tsconfig.json
  web/src/engine/attachment/build.sh
  web/src/engine/attachment/src/pageContextAttachment.ts
  web/src/engine/device-detect/build.sh
  web/src/engine/dom-utils/build.sh
  web/src/engine/dom-utils/tsconfig.json
  web/src/engine/element-wrappers/build.sh
  web/src/engine/element-wrappers/tsconfig.json
  web/src/engine/events/build.sh
  web/src/engine/events/tsconfig.json
  web/src/engine/main/build.sh
  web/src/engine/main/src/contextManagerBase.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/main/tsconfig.json
  web/src/engine/osk/build.sh
  web/src/engine/osk/tsconfig.json
  web/src/engine/package-cache/build.sh
  web/src/engine/package-cache/tsconfig.json
  web/src/engine/paths/build.sh
  web/src/engine/paths/src/optionSpec.interface.ts
  web/src/engine/paths/tsconfig.json
  web/src/test/auto/dom/cases/packages/keyboardRequisitioner.js
  web/src/test/auto/integrated/cases/engine.js
  web/src/tools/building/check-build-size.sh
  web/src/tools/testing/recorder/build.sh
  web/src/tsconfig.all.json
  web/test.sh
Labels: web/, common/, common/resources/, fix

#8873 chore(web): refines KMW build output organization 🧩
  web/ci.sh
  web/common.inc.sh
  web/src/app/browser/build.sh
  web/src/app/ui/build.sh
  web/src/tools/building/sourcemap-root/build.sh
Labels: web/, chore

#8837 change(web): rework of KMW sample pages; offers differing site-layout examples 🧩
  web/build.sh
  web/src/samples/build.sh
  web/src/samples/complex/.gitignore
  web/src/samples/complex/root/pages/index.html
  web/src/samples/index.html
  web/src/samples/samplehdr.js
  web/src/samples/simplest/.gitignore
  web/src/samples/simplest/index.html
  web/src/samples/subfolder_toggle/.gitignore
  web/src/samples/subfolder_toggle/index.html
  web/src/samples/subfolder_toolbar/.gitignore
  web/src/samples/subfolder_toolbar/index.html
Labels: web/

#8882 refactor(developer): complete fs move out of kmcmplib
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmcmplib/include/kmcmplibapi.h
  developer/src/kmcmplib/src/CheckFilenameConsistency.cpp
  developer/src/kmcmplib/src/CheckFilenameConsistency.h
  developer/src/kmcmplib/src/Compiler.cpp
  developer/src/kmcmplib/src/CompilerInterfaces.cpp
  developer/src/kmcmplib/src/NamedCodeConstants.cpp
  developer/src/kmcmplib/src/NamedCodeConstants.h
  developer/src/kmcmplib/src/compfile.h
  developer/src/kmcmplib/src/kmcmplib.h
  developer/src/kmcmplib/src/meson.build
  developer/src/kmcmplib/src/pch.h
  developer/src/kmcmplib/tests/api-test.cpp
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/compile_legacy.bat
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/k001_utf16.kmn
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/k001_utf16.kmx
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/k002_utf8_without_bom.kmn
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/k002_utf8_without_bom.kmx
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/k003_utf8_with_bom.kmn
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/k003_utf8_with_bom.kmx
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/k004_ansi.kmn
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/k004_ansi.kmx
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/k005_bitmap.bmp
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/k005_bitmap.kmn
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/k005_bitmap.kmx
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/k006_icon.ico
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/k006_icon.kmn
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/k006_icon.kmx
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/k007_includecodes_r_n.kmn
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/k007_includecodes_r_n.kmx
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/k007_includecodes_r_n.txt
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/k008_includecodes_n.kmn
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/k008_includecodes_n.kmx
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/k008_includecodes_n.txt
  developer/src/kmcmplib/tests/kmcompxtest.cpp
  developer/src/kmcmplib/tests/meson.build
  developer/src/kmcmplib/tests/util_callbacks.cpp
  developer/src/kmcmplib/tests/util_callbacks.h
  developer/src/kmcmplib/tests/util_filesystem.cpp
  developer/src/kmcmplib/tests/util_filesystem.h
  package-lock.json
Labels: developer/, developer/compilers/, refactor
