Repository keymanapp/keyman, pull requests merged in 2023-08, with the labels that each got.

#9348 fix(developer): support sourcePath in .model_info files 🗜
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildModelInfo.ts
  developer/src/kmc/src/util/calculateSourcePath.ts
Labels: developer/, developer/compilers/, fix, epic-kmc-kmw

#9350 refactor(developer): projectReader to depend on projectLoader 🗜
  developer/src/kmc/src/commands/analyze.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/util/projectLoader.ts
  developer/src/kmc/src/util/projectReader.ts
  developer/src/kmc/src/util/projectRunner.ts
Labels: developer/, developer/compilers/, refactor, epic-kmc-kmw

#9368 chore(linux): Don't fail on parallel builds
  linux/scripts/package-build.inc.sh
Labels: linux/, chore

#9379 chore: add run-name to deb-packaging 🗜
  .github/workflows/deb-packaging.yml
  linux/README.md
Labels: linux/, chore, epic-kmc-kmw

#9375 fix(developer): fix breakage from emscripten 3.1.44 🙀
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmcmplib/src/meson.build
Labels: developer/, developer/compilers/, fix, epic-ldml

#9328 docs(core): Document how to build Core on Linux
  docs/build/linux-ubuntu.md
  docs/linux/README.md
  linux/Dockerfile
  linux/keyman-system-service/README.md
Labels: linux/, core/, docs

#9385 auto: increment master version to 17.0.152
  HISTORY.md
  VERSION.md
Labels: auto

#9382 fix(developer): more wasm uset fixes 🙀
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/test/test-wasm-uset.ts
Labels: developer/, developer/compilers/, fix

#9376 docs(windows): corrected nmake cmd for certificates
  windows/src/README.md
Labels: windows/, chore, docs

#9386 chore: add run-name to deb-packaging
  .github/workflows/deb-packaging.yml
  linux/README.md
Labels: linux/, chore

#9388 chore: try another variable for reporting
  .github/workflows/deb-packaging.yml
Labels: chore

#9378 chore(developer): minor patches to fix compile issues 🗜
  core/src/ldml/ldml_transforms.cpp
  developer/src/kmc/src/commands/build.ts
Labels: developer/, developer/compilers/, core/, chore, epic-kmc-kmw

#9380 chore(linux): Remove package build on Jenkins for Keyman 17
  docs/linux/packaging.md
  linux/Jenkinsfile
  linux/scripts/dist.sh
  linux/scripts/jenkins.sh
  resources/build/build-utils.sh
  resources/build/increment-version.sh
  resources/build/run-required-test-builds.sh
  resources/build/trigger-builds.inc.sh
  resources/build/trigger-definitions.inc.sh
Labels: linux/, common/, common/resources/, chore, docs

#9383 docs(linux): Add build doc for Keyman Web and Android
  docs/build/linux-ubuntu.md
  docs/build/windows.md
  linux/Dockerfile
Labels: linux/, docs

#9402 auto: increment master version to 17.0.153
  HISTORY.md
  VERSION.md
Labels: auto

#9381 docs(windows): Update OS requirement to Windows 10
  windows/src/desktop/help/about/requirements.md
  windows/src/desktop/help/advanced/text_services_framework.md
  windows/src/desktop/help/basic/config/options.md
  windows/src/desktop/help/basic/make-taskbar-icon-visible.md
  windows/src/desktop/help/basic/select-keyboard.md
  windows/src/desktop/help/basic/uninstall.md
  windows/src/desktop/help/common/os.md
  windows/src/desktop/help/common/requirements.md
  windows/src/desktop/help/troubleshooting/hidden.md
  windows/src/desktop/help/troubleshooting/index.md
Labels: windows/, windows/config/, docs

#9392 chore(developer): refactor KeymanDeveloperProjectFile 🗜
  common/web/types/src/kpj/keyman-developer-project.ts
  common/web/types/src/kpj/kpj-file-reader.ts
  common/web/types/src/util/file-types.ts
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildModelInfo.ts
Labels: developer/, common/, developer/compilers/, common/web/, chore, epic-kmc-kmw

#9395 chore(developer): add Error_NotAProjectFile 🗜
  developer/src/kmc/src/messages/messages.ts
  developer/src/kmc/src/util/projectLoader.ts
Labels: developer/, developer/compilers/, chore, epic-kmc-kmw

#9397 fix(web): maintenance of focus when changing keyboard via Toolbar UI
  web/src/app/browser/src/contextManager.ts
Labels: web/, fix, has-user-test

#9399 chore(linux): Remove Kinetic from GHA
  .github/workflows/deb-packaging.yml
Labels: linux/, chore

#9410 chore(common): Update crowdin GHA to trigger daily
  .github/workflows/crowdin.yml
Labels: common/, chore

#9409 fix(web): forgot to target es5 when minifying polyfilled worker
  common/web/lm-worker/build-wrap-and-minify.js
Labels: web/, common/, fix, common/web/, has-user-test

#9419 chore(common): Update history.md with 16.0 stable entries
  HISTORY.md
Labels: common/, chore

#9424 auto: increment master version to 17.0.155
  HISTORY.md
  VERSION.md
Labels: auto

#9374 chore(developer): update markers per review 🙀
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/src/kmx/kmx_plus.h
  core/src/ldml/C9134_ldml_markers.md
  developer/src/kmc-ldml/test/fixtures/basic.txt
  developer/src/kmc-ldml/test/test-vars.ts
Labels: developer/, common/, developer/compilers/, core/, common/web/, chore, epic-ldml

#9425 auto: increment master version to 17.0.156
  HISTORY.md
  VERSION.md
Labels: auto

#9429 auto: increment master version to 17.0.157
  HISTORY.md
  VERSION.md
Labels: auto

#9413 fix(linux): fix memory leaks and method name
  linux/ibus-keyman/src/keymanutil.c
  linux/ibus-keyman/src/main.c
Labels: linux/, fix, linux/engine/

#9437 auto: increment master version to 17.0.158
  HISTORY.md
  VERSION.md
Labels: auto

#9435 chore(linux): Disable Mantic builds on Launchpad
  linux/scripts/launchpad.sh
Labels: linux/, chore

#9353 feat(windows): Use Keyboard Activated event API call to turn off caps lock (if required) 🚏
  core/src/km_kbp_processevent_api.cpp
  core/src/kmx/kmx_processevent.h
  core/src/kmx/kmx_processor.cpp
  core/src/kmx/kmx_processor.hpp
  core/tests/unit/kmnkbd/action_items.hpp
  core/tests/unit/kmx/kmx_external_event.cpp
  core/tests/unit/kmx/meson.build
  windows/src/engine/keyman32/kmprocessactions.cpp
  windows/src/engine/keyman32/kmprocessactions.h
  windows/src/engine/keyman32/selectkeyboard.cpp
Labels: windows/, feat, core/, windows/engine/, has-user-test, common/core/

#9431 chore: stats script parameters
  resources/stats/stats.sh
Labels: common/, common/resources/, chore

#9441 chore(developer): improve kmc sentry reporting on fatal build errors
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/kmc-analyze/src/messages.ts
  developer/src/kmc-keyboard-info/src/messages.ts
  developer/src/kmc-kmn/src/compiler/messages.ts
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-model-info/src/messages.ts
  developer/src/kmc-model/src/model-compiler-errors.ts
  developer/src/kmc-package/src/compiler/messages.ts
  developer/src/kmc/src/commands/analyze.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildModelInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/src/kmc.ts
  developer/src/kmc/src/messages/infrastructureMessages.ts
  developer/src/kmc/src/util/KeymanSentry.ts
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
  developer/src/kmc/src/util/fileLists.ts
  developer/src/kmc/src/util/projectLoader.ts
  developer/src/kmc/test/test-infrastructureMessages.ts
  developer/src/kmc/test/test-project-build.ts
  package-lock.json
  package.json
Labels: developer/, common/, developer/compilers/, common/web/, chore

#9447 auto: increment master version to 17.0.159
  HISTORY.md
  VERSION.md
Labels: auto

#9405 feat(core): marker implementation 🙀
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_processor.hpp
  core/tests/unit/ldml/keyboards/k_210_marker-test.xml
  core/tests/unit/ldml/keyboards/k_210_marker.xml
  core/tests/unit/ldml/keyboards/meson.build
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/vars.ts
  developer/src/kmc-ldml/test/fixtures/basic.txt
  developer/src/kmc-ldml/test/fixtures/sections/keys/markers.xml
  developer/src/kmc-ldml/test/test-keys.ts
Labels: developer/, developer/compilers/, feat, core/, epic-ldml

#9320 feat(web): gesture modeling + isolated matching 🐵
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/index.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/contactModel.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/gestureModel.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/index.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedGestureSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedPathSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/pathMatcher.spec.ts
  common/web/gesture-recognizer/src/test/resources/assertingPromiseStatus.ts
Labels: web/, common/, feat, common/web/, epic-gestures

#9406 refactor(web): simplifies the gesture source paradigm 🐵
  common/web/gesture-recognizer/src/engine/headless/complexGestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
  common/web/gesture-recognizer/src/test/auto/browser/cases/recordedCoordSequences.js
  common/web/gesture-recognizer/src/test/auto/headless/gesturePath.js
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedGestureSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/recordedSegmentations.js
  common/web/gesture-recognizer/src/test/resources/json/receiver/basicMultitouch.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/desktopRoamAndReturn.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/embeddedBorderCancel.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/hardBorderCancel.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/mobileProximityApproach.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/mobileSafeZoneCancel.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/popupLongRoamingEnd.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/popupSafePersistence.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/popupShimCancel.json
  common/web/gesture-recognizer/src/test/resources/json/segmentation/flick_ne_se.json
  common/web/gesture-recognizer/src/test/resources/json/segmentation/longpress_to_ne.json
  common/web/gesture-recognizer/src/test/resources/json/segmentation/nonstationary_hold.json
  common/web/gesture-recognizer/src/test/resources/json/segmentation/quick_small_square.json
  common/web/gesture-recognizer/src/test/resources/json/segmentation/simple_ne_move.json
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessInputEngine.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputRecording.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputSequenceSimulator.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/sequenceRecorder.ts
Labels: web/, common/, common/web/, refactor, epic-gestures

#9423 chore(web): SimpleGestureSource => GestureSource 🐵
  common/web/gesture-recognizer/docs/web-reintegration.md
  common/web/gesture-recognizer/src/engine/headless/gestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/pathMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/inputEngineBase.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  common/web/gesture-recognizer/src/engine/mouseEventEngine.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/pathMatcher.spec.ts
  common/web/gesture-recognizer/src/test/resources/simulateMultiSourceInput.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessInputEngine.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputRecording.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputSequenceSimulator.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/sequenceRecorder.ts
Labels: web/, common/, common/web/, chore, epic-gestures

#9457 auto: increment master version to 17.0.160
  HISTORY.md
  VERSION.md
Labels: auto

#9461 auto: increment master version to 17.0.161
  HISTORY.md
  VERSION.md
Labels: auto

#9475 auto: increment master version to 17.0.162
  HISTORY.md
  VERSION.md
Labels: auto

#9483 fix(common): marker test 🙀
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
Labels: common/, fix, common/web/, epic-ldml

#9472 fix(windows): allow QR share box to grow to edge of default configuration parent window
  windows/src/desktop/kmshell/xml/config.css
Labels: windows/, fix, windows/config/, has-user-test

#9482 chore(resources): update CLDR to post-PRI 🙀
  core/tests/unit/ldml/keyboards/meson.build
  resources/standards-data/ldml-keyboards/techpreview/3.0/fr-t-k0-azerty.xml
  resources/standards-data/ldml-keyboards/techpreview/3.0/pt-t-k0-abnt2.xml
  resources/standards-data/ldml-keyboards/techpreview/cldr_info.json
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard.dtd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard.xsd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboardTest.xsd
  resources/standards-data/ldml-keyboards/techpreview/import/keys-Latn-implied.xml
  resources/standards-data/ldml-keyboards/techpreview/ldml-keyboard.schema.json
  resources/standards-data/ldml-keyboards/techpreview/test/pt-t-k0-abnt2-test.xml
Labels: common/, common/resources/, core/, chore, epic-ldml

#9491 auto: increment master version to 17.0.163
  HISTORY.md
  VERSION.md
Labels: auto

#9469 chore(web): Update keymanweb-osk.ttf to v. 3.0
  android/Tests/KeyboardHarness/app/src/main/assets/test9469.kmp
  android/Tests/KeyboardHarness/app/src/main/java/com/keyman/android/tests/keyboardHarness/MainActivity.java
  web/src/resources/osk/keymanweb-osk.ttf
  web/src/test/manual/web/index.html
  web/src/test/manual/web/issue9469/index.html
  web/src/test/manual/web/issue9469/test9469/HISTORY.md
  web/src/test/manual/web/issue9469/test9469/LICENSE.md
  web/src/test/manual/web/issue9469/test9469/README.md
  web/src/test/manual/web/issue9469/test9469/build/test9469.js
  web/src/test/manual/web/issue9469/test9469/source/readme.htm
  web/src/test/manual/web/issue9469/test9469/source/test9469.ico
  web/src/test/manual/web/issue9469/test9469/source/test9469.keyman-touch-layout
  web/src/test/manual/web/issue9469/test9469/source/test9469.kmn
  web/src/test/manual/web/issue9469/test9469/source/test9469.kps
  web/src/test/manual/web/issue9469/test9469/source/test9469.kvks
  web/src/test/manual/web/issue9469/test9469/source/welcome.htm
  web/src/test/manual/web/issue9469/test9469/test9469.keyboard_info
  web/src/test/manual/web/issue9469/test9469/test9469.kpj
Labels: web/, android/, chore, has-user-test

#9500 auto: increment master version to 17.0.164
  HISTORY.md
  VERSION.md
Labels: auto

#9492 fix(common): don't crash on illegal unicodesets 🙀
  common/web/types/src/kmx/kmx-plus.ts
Labels: common/, fix, common/web/, epic-ldml

#9501 auto: increment master version to 17.0.165
  HISTORY.md
  VERSION.md
Labels: auto

#9503 auto: increment master version to 17.0.166
  HISTORY.md
  VERSION.md
Labels: auto

#9505 chore(common): Update crowdin strings for French
  android/KMAPro/kMAPro/src/main/res/values-fr-rFR/strings.xml
  android/KMEA/app/src/main/res/values-fr-rFR/strings.xml
  ios/engine/KMEI/KeymanEngine/fr.lproj/Localizable.strings
  linux/keyman-config/locale/fr_FR.po
  mac/Keyman4MacIM/Keyman4MacIM/fr.lproj/Localizable.strings
  windows/src/desktop/kmshell/locale/fr/strings.xml
  windows/src/desktop/setup/locale/fr/strings.xml
Labels: windows/, android/, ios/, mac/, linux/, common/, android/engine/, android/app/, ios/engine/, linux/config/, windows/config/, chore

#9507 auto: increment master version to 17.0.167
  HISTORY.md
  VERSION.md
Labels: auto

#9494 chore(android): Update targetSDKVersion to 33 🏠
  android/KMAPro/kMAPro/build.gradle
  android/KMEA/app/build.gradle
  android/KMEA/app/src/main/AndroidManifest.xml
  android/README.md
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample2/app/build.gradle
  android/Tests/KeyboardHarness/app/build.gradle
  oem/firstvoices/android/app/build.gradle
Labels: android/, stable, oem/, android/engine/, android/app/, oem/fv/, oem/fv/android/, chore, has-user-test, android/samples/

#9504 feat(core): implement mapped set mapping 🙀
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/tests/unit/ldml/keyboards/k_007_transform_rgx-test.xml
  core/tests/unit/ldml/keyboards/k_007_transform_rgx.xml
  core/tests/unit/ldml/test_transforms.cpp
Labels: feat, core/, epic-ldml

#9508 feat(resources): add pcm keyboard 🙀
  core/tests/unit/ldml/keyboards/meson.build
  core/tests/unit/ldml/ldml_test_source.cpp
  resources/standards-data/ldml-keyboards/techpreview/3.0/pcm.xml
  resources/standards-data/ldml-keyboards/techpreview/test/pcm-test.xml
Labels: common/, common/resources/, feat, core/, epic-ldml

#9511 auto: increment master version to 17.0.168
  HISTORY.md
  VERSION.md
Labels: auto

#9513 refactor(linux): Fix warning
  linux/keyman-config/keyman_config/dconf_util.py
Labels: linux/, linux/config/, refactor

#9524 auto: increment master version to 17.0.169
  HISTORY.md
  VERSION.md
Labels: auto

#9523 fix(linux): Fix exception in km-kvk2ldml
  linux/keyman-config/km-kvk2ldml
Labels: linux/, fix, linux/config/

#9519 chore(linux): Remove workaround for mips64el 🏠
  linux/debian/meson/no-exe-wrapper.ini
  linux/debian/rules
Labels: linux/, stable, chore

#9528 auto: increment master version to 17.0.170
  HISTORY.md
  VERSION.md
Labels: auto

#9489 fix(common): builder_parse broke on option parameters
  resources/builder.inc.sh
Labels: common/, common/resources/, fix

#9527 docs(linux): Explicitly specify emscripten version
  docs/build/linux-ubuntu.md
  linux/Dockerfile
Labels: linux/, docs

#9533 auto: increment master version to 17.0.171
  HISTORY.md
  VERSION.md
Labels: auto
