Repository keymanapp/keyman, pull requests merged in 2023-06, with the labels that each got.

#8894 fix(common): tweak pack/publish support for npm 9.5.1 and node 18.16.0
  resources/build/build-utils-ci.inc.sh
Labels: common/, common/resources/, fix

#7989 feat(linux): Implement Options page and option to disable Sentry error reporting
  .github/workflows/deb-packaging.yml
  linux/keyman-config/build.sh
  linux/keyman-config/com.keyman.gschema.xml
  linux/keyman-config/keyman_config/__init__.py
  linux/keyman-config/keyman_config/dconf_util.py
  linux/keyman-config/keyman_config/sentry_handling.py
  linux/keyman-config/keyman_config/view_installed.py
Labels: linux/, feat, linux/config/, has-user-test

#8911 auto: increment master version to 17.0.116
  HISTORY.md
  VERSION.md
Labels: auto

#8897 feat(linux): Add column for installation location
  linux/keyman-config/build.sh
  linux/keyman-config/keyman_config/get_kmp.py
  linux/keyman-config/keyman_config/view_installed.py
Labels: linux/, feat, linux/config/, has-user-test

#8892 chore(developer): verify kvks files and report errors
  common/web/types/src/kvk/kvks-file-reader.ts
  common/web/types/test/kvk/test-kvk-round-trip.ts
  common/web/types/test/kvk/test-kvks-file.ts
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/compiler/messages.ts
  developer/src/kmc-kmn/test/fixtures/invalid-keyboards/error_invalid_kvks_file.kmn
  developer/src/kmc-kmn/test/fixtures/invalid-keyboards/error_invalid_kvks_file.kvks
  developer/src/kmc-kmn/test/fixtures/invalid-keyboards/warn_invalid_vkey_in_kvks_file.kmn
  developer/src/kmc-kmn/test/fixtures/invalid-keyboards/warn_invalid_vkey_in_kvks_file.kvks
  developer/src/kmc-kmn/test/helpers/index.ts
  developer/src/kmc-kmn/test/test-messages.ts
  developer/src/kmc-kmn/test/tsconfig.json
Labels: developer/, common/, developer/compilers/, common/web/, chore

#8899 refactor(developer): rearrange kmcmplib interface source
  developer/src/kmcmplib/src/CompileKeyboardBuffer.cpp
  developer/src/kmcmplib/src/CompileKeyboardBuffer.h
  developer/src/kmcmplib/src/CompilerInterfaces.cpp
  developer/src/kmcmplib/src/CompilerInterfacesWasm.cpp
  developer/src/kmcmplib/src/meson.build
Labels: developer/, refactor

#8907 refactor(developer): move filename consistency check to kmc
  common/web/types/src/kpj/kpj-file-reader.ts
  common/web/types/src/kvk/kvks-file-reader.ts
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/src/util/compiler-interfaces.ts
  common/web/types/test/helpers/TestCompilerCallbacks.ts
  developer/src/common/include/kmn_compiler_errors.h
  developer/src/common/web/test-helpers/index.ts
  developer/src/kmc-kmn/test/test-messages.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc/src/messages/NodeCompilerCallbacks.ts
  developer/src/kmc/src/messages/messages.ts
  developer/src/kmc/test/fixtures/invalid-keyboards/hint_filename_has_differing_case.kmn
  developer/src/kmc/test/test-messages.ts
  developer/src/kmcmplib/src/CheckFilenameConsistency.cpp
  developer/src/kmcmplib/src/CheckFilenameConsistency.h
  developer/src/kmcmplib/src/CompMsg.cpp
  developer/src/kmcmplib/src/CompileKeyboardBuffer.cpp
  developer/src/kmcmplib/src/Compiler.cpp
  developer/src/kmcmplib/src/NamedCodeConstants.cpp
  developer/src/kmcmplib/src/meson.build
Labels: developer/, common/, developer/compilers/, common/web/, refactor

#8908 chore(developer): loadFile callback error check and optimization
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmcmplib/src/Compiler.cpp
  developer/src/kmcmplib/src/CompilerInterfacesWasm.cpp
Labels: developer/, developer/compilers/, chore

#8914 chore(common): remove url module ref from common/web/types
  common/web/types/src/kvk/kvks-file-writer.ts
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/src/main.ts
  common/web/types/test/helpers/index.ts
  common/web/types/test/helpers/reader-callback-test.ts
  common/web/types/test/kpj/test-kpj-file-reader.ts
  developer/src/common/web/test-helpers/index.ts
  developer/src/kmc-ldml/src/compiler/compiler-options.ts
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-ldml/test/helpers/index.ts
  developer/src/kmc-ldml/test/test-compiler-e2e.ts
  developer/src/kmc-ldml/test/test-keymanweb-compiler.ts
  developer/src/kmc-ldml/test/test-metadata-compiler.ts
  developer/src/kmc-ldml/test/test-testdata-e2e.ts
  developer/src/kmc-ldml/test/test-visual-keyboard-compiler-e2e.ts
  developer/src/kmc/src/commands/build/BuildLdmlKeyboard.ts
  developer/src/kmc/src/commands/buildTestData/index.ts
  developer/src/kmc/src/messages/NodeCompilerCallbacks.ts
Labels: developer/, common/, developer/compilers/, common/web/, chore

#8919 auto: increment master version to 17.0.117
  HISTORY.md
  VERSION.md
Labels: auto

#8915 chore(developer): verify long lines compile correctly
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/compile_legacy.bat
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/k009_long_lines.kmn
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/k009_long_lines.kmx
  developer/src/kmcmplib/tests/meson.build
Labels: developer/, chore

#8922 auto: increment master version to 17.0.118
  HISTORY.md
  VERSION.md
Labels: auto

#8900 chore(ios): replace fv cert
  oem/firstvoices/ios/exportAppStore.plist
Labels: ios/, oem/, oem/fv/, oem/fv/ios/, chore

#8912 fix(core): Fix compilation if hotdoc is installed
  core/doc/hotdoc.json
  core/doc/meson.build
  core/include/keyman/keyboardprocessor.h
Labels: fix, core/

#8918 feat(linux): Rename column and add tooltip
  linux/keyman-config/keyman_config/view_installed.py
Labels: linux/, feat, linux/config/

#8933 auto: increment master version to 17.0.119
  HISTORY.md
  VERSION.md
Labels: auto

#8923 chore(ios): replace fv cert 🍒
  oem/firstvoices/ios/exportAppStore.plist
Labels: ios/, stable, cherry-pick, oem/, oem/fv/, oem/fv/ios/, chore

#8876 fix(web): mobile device rotation handling + bottom-of-page content obscurement 🧩
  web/src/app/browser/src/context/pageIntegrationHandlers.ts
  web/src/app/browser/src/utils/rotationProcessor.ts
  web/src/app/web/README.md
  web/src/app/web/kmwnative.ts
  web/src/app/web/kmwrotation.ts
  web/src/app/web/tsconfig.json
  web/src/engine/namespaced-main/dom/domManager.ts
  web/src/engine/package-cache/src/keyboardStub.ts
Labels: web/, fix

#8877 fix(web): keystroke error-feedback handling 🧩
  web/src/app/browser/src/beepHandler.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/webview/src/keymanEngine.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/namespaced-main/dom/domManager.ts
  web/src/engine/namespaced-main/kmwbase.ts
Labels: web/, fix

#8878 chore(web): completes conversion of KMW's documented API 🧩
  web/src/app/browser/src/configuration.ts
  web/src/app/browser/src/contextManager.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/browser/src/utilApiEndpoint.ts
  web/src/engine/main/src/engineConfiguration.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/main/src/legacyAPIEvents.ts
  web/src/engine/namespaced-main/dom/domManager.ts
  web/src/engine/namespaced-main/kmwapi.ts
  web/src/engine/namespaced-main/kmwbase.ts
  web/src/engine/namespaced-main/kmwuimanager.ts
  web/src/engine/namespaced-main/kmwutils.ts
  web/src/test/manual/web/spacebar-text/index.html
Labels: web/, chore

#8890 chore(web): refinement of engine-startup keyboard-selection behavior 🧩
  common/web/input-processor/src/text/prediction/languageProcessor.ts
  web/src/app/browser/src/contextManager.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/namespaced-main/dom/domManager.ts
  web/src/engine/namespaced-main/dom/domOverrides.ts
  web/src/engine/namespaced-main/dom/utils.ts
  web/src/engine/namespaced-main/keyboards/kmwkeyboards.ts
  web/src/engine/namespaced-main/singleton.ts
Labels: web/, common/, common/web/, chore

#8891 chore(web): final modularization cleanup 🧩
  tsconfig.cjs.json
  tsconfig.esm.json
  web/build.sh
  web/src/engine/README.md
  web/src/engine/namespaced-main/keymanweb.ts
  web/src/engine/namespaced-main/kmwdebug.js
  web/src/engine/namespaced-main/kmwdebugstub.js
  web/src/engine/namespaced-main/kmwexthtml.ts
  web/src/engine/namespaced-main/kmwinit.ts
  web/src/engine/namespaced-main/kmwreleasestub.js
  web/src/engine/namespaced-main/tsconfig.json
Labels: web/, chore

#8895 feat(web): release-configuration filesize profiling 🧩
  common/web/lm-worker/build-bundler.js
  common/web/lm-worker/build.sh
  web/ci.sh
  web/common.inc.sh
  web/src/app/browser/build-bundler.js
  web/src/app/browser/build.sh
Labels: web/, common/, feat, common/web/

#8929 fix(core): Fix compilation if hotdoc is installed :cherries:
  core/doc/hotdoc.json
  core/doc/meson.build
  core/include/keyman/keyboardprocessor.h
Labels: stable, cherry-pick, fix, core/

#8931 chore(linux): Fix lintian warnings
  linux/debian/control
  linux/debian/keyman-system-service.manpages
  linux/keyman-config/km-config.bash-completion
  linux/keyman-config/km-kvk2ldml.bash-completion
  linux/keyman-config/km-package-get.bash-completion
  linux/keyman-config/km-package-install.bash-completion
  linux/keyman-config/km-package-list-installed.bash-completion
  linux/keyman-config/km-package-uninstall.bash-completion
  linux/keyman-system-service/man/keyman-system-service.1
Labels: linux/, linux/config/, chore

#8930 chore(linux): Move some files to keyman-config :cherries:
  linux/debian/com.keyman.config.appdata.xml
  linux/debian/com.keyman.ibus_keyman.metainfo.xml
  linux/debian/keyman.install
  linux/debian/rules
  linux/ibus-keyman/src/test/run-tests.sh
  linux/ibus-keyman/tests/run-tests.sh
  linux/keyman-config/MANIFEST.in
  linux/keyman-config/README.md
  linux/keyman-config/resources/com.keyman.gschema.xml
  linux/keyman-config/resources/keyman.sharedmimeinfo
  linux/keyman-config/resources/km-config.desktop
  linux/scripts/install.sh
Labels: linux/, stable, cherry-pick, linux/config/, linux/engine/, chore

#8941 auto: increment master version to 17.0.120
  HISTORY.md
  VERSION.md
Labels: auto

#8934 chore(core): look for emcc.py, not emcc
  core/commands.inc.sh
  developer/src/kmcmplib/commands.inc.sh
  resources/locate_emscripten.inc.sh
Labels: developer/, common/, common/resources/, core/, chore

#8939 fix(linux): Fix title of reference page and links
  linux/help/reference/index.md
  linux/keyman-config/build-help.sh
  linux/keyman-config/build.sh
Labels: linux/, fix, linux/config/

#8940 fix(android/engine): Re-enable KMManager tests
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
  android/KMEA/app/src/test/java/com/keyman/engine/KMManagerTest.java
Labels: android/, fix, android/engine/, has-user-test

#8949 auto: increment master version to 17.0.121
  HISTORY.md
  VERSION.md
Labels: auto

#8905 chore(developer, web): developer host page linkage to modularized KMW 🧩
  common/web/keyboard-processor/src/keyboards/keyboardProperties.ts
  developer/src/server/build.sh
  developer/src/server/src/site/chargrid.js
  developer/src/server/src/site/test.js
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/browser/src/viewsAnchorpoint.ts
  web/src/engine/main/src/keyboardInterface.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/package-cache/src/keyboardStub.ts
  web/src/test/auto/headless/packages/keyboardStub.js
Labels: web/, developer/, common/, common/web/, developer/ide/, chore

#8903 change(web): more efficient worker-wrap encoding, use of hidden-identifier minification 🧩
  common/predictive-text/src/unwrap.ts
  common/web/lm-worker/build-wrap-and-minify.js
  web/src/app/browser/build-bundler.js
Labels: web/, common/, common/web/

#8893 fix(web): restores bulk_rendering tool 🧩
  web/src/tools/testing/bulk_rendering/build-bundler.js
  web/src/tools/testing/bulk_rendering/build.sh
  web/src/tools/testing/bulk_rendering/renderer_core.ts
  web/src/tools/testing/bulk_rendering/tsconfig.json
Labels: web/, fix

#8946 fix(linux): Fix disabling of buttons
  linux/keyman-config/keyman_config/handle_install.py
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/keyman_config/view_installed.py
Labels: linux/, fix, linux/config/, has-user-test

#8966 feat(developer): fix e2e test 🙀
  common/tools/hextobin/hextobin.ts
  common/tools/hextobin/index.ts
  developer/src/kmc-ldml/test/fixtures/basic.txt
  developer/src/kmc-ldml/test/test-compiler-e2e.ts
Labels: developer/, common/, developer/compilers/, feat, epic-ldml

#8943 feat(core): validate tran 🙀
  common/tools/hextobin/hextobin.ts
  common/tools/hextobin/index.ts
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/tests/unit/ldml/keyboards/k_003_transform.xml
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-ldml/src/compiler/ordr.ts
  developer/src/kmc-ldml/src/util/pattern-parser.ts
  developer/src/kmc-ldml/test/fixtures/basic.txt
  developer/src/kmc-ldml/test/helpers/index.ts
  developer/src/kmc-ldml/test/test-compiler-e2e.ts
Labels: developer/, common/, developer/compilers/, feat, core/, common/web/, epic-ldml

#8942 feat(core): fixups to C++ side 🙀
  common/tools/hextobin/hextobin.ts
  common/tools/hextobin/index.ts
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/ldml_processor.cpp
  core/tests/unit/ldml/keyboards/k_003_transform.xml
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-ldml/src/compiler/ordr.ts
  developer/src/kmc-ldml/src/util/pattern-parser.ts
  developer/src/kmc-ldml/test/fixtures/basic.txt
  developer/src/kmc-ldml/test/helpers/index.ts
  developer/src/kmc-ldml/test/test-compiler-e2e.ts
Labels: developer/, common/, developer/compilers/, feat, core/, epic-ldml

#8961 chore(developer): check for nodejs deps in kmc-kmn
  developer/src/kmc-kmn/.eslintrc.cjs
  developer/src/kmc-model-info/build.sh
  developer/src/kmc-model-info/package.json
  developer/src/kmc/.eslintrc.cjs
Labels: developer/, developer/compilers/, chore

#8967 feat(developer): improve tran/bksp tests, other improvements 🙀
  common/web/types/src/kmx/kmx-plus.ts
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/kmc-ldml/test/test-bksp.ts
  developer/src/kmc-ldml/test/test-finl.ts
  developer/src/kmc-ldml/test/test-ordr.ts
  developer/src/kmc-ldml/test/test-tran.ts
Labels: developer/, common/, developer/compilers/, feat, common/web/, epic-ldml

#8963 fix(web): restores element text-selection auto-scrolling 🧩
  web/src/app/browser/src/context/focusAssistant.ts
  web/src/app/browser/src/context/pageIntegrationHandlers.ts
  web/src/app/browser/src/contextManager.ts
  web/src/engine/element-wrappers/src/input.ts
  web/src/engine/element-wrappers/src/outputTarget.ts
  web/src/engine/element-wrappers/src/textarea.ts
Labels: web/, fix

#8951 chore(common): cleanup error handling for KmxFileReader and CompilerOptions as shared type
  common/web/types/package.json
  common/web/types/src/kmx/kmx-file-reader.ts
  common/web/types/src/main.ts
  common/web/types/src/util/compiler-interfaces.ts
  common/web/types/src/util/errors.ts
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmw/package.json
  developer/src/kmc-kmw/src/compiler/callbacks.ts
  developer/src/kmc-kmw/src/compiler/compiler-globals.ts
  developer/src/kmc-kmw/src/compiler/compiler-options.ts
  developer/src/kmc-kmw/src/compiler/javascript-strings.ts
  developer/src/kmc-kmw/src/compiler/write-compiled-keyboard.ts
  developer/src/kmc-kmw/test/fixtures/.gitignore
  developer/src/kmc-ldml/package.json
  developer/src/kmc-ldml/src/compiler/compiler-options.ts
  developer/src/kmc-package/src/compiler/messages.ts
  developer/src/kmc-package/src/compiler/package-version-validation.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildClasses/BuildActivity.ts
  developer/src/kmc/src/commands/buildClasses/BuildKmnKeyboard.ts
  developer/src/kmc/src/commands/buildClasses/BuildLdmlKeyboard.ts
  developer/src/kmc/src/commands/buildClasses/BuildModel.ts
  developer/src/kmc/src/commands/buildClasses/BuildPackage.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/src/commands/buildClasses/buildActivities.ts
  developer/src/kmc/test/test-project-build.ts
  package-lock.json
Labels: developer/, common/, developer/compilers/, common/web/, chore

#8980 auto: increment master version to 17.0.122
  HISTORY.md
  VERSION.md
Labels: auto

#8723 feat(developer): kmc analyze osk-char-use 🗜
  common/web/types/src/main.ts
  common/web/types/src/util/compiler-interfaces.ts
  common/windows/cpp/include/legacy_kmx_file.h
  developer/build.sh
  developer/src/kmc-analyze/.eslintrc.cjs
  developer/src/kmc-analyze/build.sh
  developer/src/kmc-analyze/package.json
  developer/src/kmc-analyze/src/index.ts
  developer/src/kmc-analyze/src/messages.ts
  developer/src/kmc-analyze/src/osk-character-use/index.ts
  developer/src/kmc-analyze/tsconfig.json
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc/build.sh
  developer/src/kmc/package.json
  developer/src/kmc/src/commands/analyze.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildClasses/BuildActivity.ts
  developer/src/kmc/src/commands/buildTestData/index.ts
  developer/src/kmc/src/kmc.ts
  developer/src/kmc/src/kmlmc.ts
  developer/src/kmc/src/kmlmi.ts
  developer/src/kmc/src/kmlmp.ts
  developer/src/kmc/src/messages/NodeCompilerCallbacks.ts
  developer/src/kmc/test/test-messages.ts
  developer/src/kmc/test/test-project-build.ts
  developer/src/kmc/tsconfig.json
  package-lock.json
  package.json
  tsconfig.esm.json
Labels: developer/, common/, developer/compilers/, feat, common/web/, epic-kmc-kmw

#8962 refactor(developer): import kmcmplib errors into kmc-kmn
  developer/src/common/include/kmn_compiler_errors.h
  developer/src/kmc-kmn/src/compiler/messages.ts
Labels: developer/, developer/compilers/

#8968 chore(developer): enable eslint for kmc-kmw 🗜
  developer/src/kmc-kmw/.eslintrc.cjs
  developer/src/kmc-kmw/build.sh
  developer/src/kmc-kmw/package.json
Labels: developer/, developer/compilers/, chore, epic-kmc-kmw

#8982 chore(developer): refactor CompilerOptions 🗜
  common/web/types/src/main.ts
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/compiler/messages.ts
  developer/src/kmc-ldml/src/compiler/compiler-options.ts
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-ldml/src/compiler/keymanweb-compiler.ts
  developer/src/kmc-ldml/src/compiler/ldml-compiler-options.ts
  developer/src/kmc-ldml/src/compiler/metadata-compiler.ts
  developer/src/kmc-ldml/src/main.ts
  developer/src/kmc-ldml/test/helpers/index.ts
  developer/src/kmc-ldml/test/test-compiler-e2e.ts
  developer/src/kmc-ldml/test/test-keymanweb-compiler.ts
  developer/src/kmc-ldml/test/test-metadata-compiler.ts
  developer/src/kmc-ldml/test/test-testdata-e2e.ts
  developer/src/kmc-ldml/test/test-visual-keyboard-compiler-e2e.ts
  developer/src/kmc/src/commands/analyze.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildClasses/BuildActivity.ts
  developer/src/kmc/src/commands/buildClasses/BuildKmnKeyboard.ts
  developer/src/kmc/src/commands/buildClasses/BuildLdmlKeyboard.ts
  developer/src/kmc/src/commands/buildClasses/BuildModel.ts
  developer/src/kmc/src/commands/buildClasses/BuildPackage.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/src/commands/buildTestData.ts
  developer/src/kmc/src/commands/buildTestData/index.ts
  developer/src/kmc/src/kmc.ts
  developer/src/kmc/src/util/baseOptions.ts
  developer/src/kmc/test/test-project-build.ts
Labels: developer/, common/, developer/compilers/, common/web/, chore, epic-kmc-kmw

#8970 chore(web): deduplicates non-distinct osk events 🧩
  web/src/app/browser/src/oskConfiguration.ts
  web/src/engine/osk/src/views/anchoredOskView.ts
  web/src/engine/osk/src/views/floatingOskView.ts
  web/src/engine/osk/src/views/inlinedOskView.ts
  web/src/engine/osk/src/views/oskView.ts
  web/src/test/auto/dom/cases/osk/events.js
Labels: web/, chore

#8840 feat(linux): mcompile query data 🐘
  .gitignore
  linux/mcompile/keymap/README.md
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/km_types.h
  linux/mcompile/keymap/kmx_file.h
  linux/mcompile/keymap/main.cpp
  linux/mcompile/keymap/mc_kmxfile.cpp
  linux/mcompile/keymap/mc_kmxfile.h
  linux/mcompile/keymap/mc_savekeyboard.cpp
  linux/mcompile/keymap/mc_savekeyboard.h
  linux/mcompile/keymap/mcompile.cpp
  linux/mcompile/keymap/mcompile.h
  linux/mcompile/keymap/meson.build
Labels: linux/, feat, linux/engine/

#8997 auto: increment master version to 17.0.123
  HISTORY.md
  VERSION.md
Labels: auto

#8987 chore(developer): merge kmc-kmw messages with kmc-kmn messages 🗜
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/kmc-kmn/src/main.ts
  developer/src/kmc-kmw/src/compiler/compiler-globals.ts
  developer/src/kmc-kmw/src/compiler/javascript-strings.ts
  developer/src/kmc-kmw/src/compiler/messages.ts
  developer/src/kmc-kmw/src/compiler/write-compiled-keyboard.ts
Labels: developer/, common/, developer/compilers/, common/web/, chore, epic-kmc-kmw

#8999 fix(developer): keep kmc-kmn messages within namespace
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/common/web/test-helpers/verifyCompilerMessagesObject.ts
  developer/src/kmc-kmn/src/compiler/messages.ts
  developer/src/kmc-kmn/test/test-messages.ts
  developer/src/kmc-ldml/test/test-messages.ts
  developer/src/kmc-model/test/test-messages.ts
  developer/src/kmc-package/test/test-messages.ts
  developer/src/kmc/test/test-messages.ts
Labels: developer/, developer/compilers/, fix

#8984 feat(common): add file-types.ts module 🗜
  common/web/types/src/kpj/keyman-developer-project.ts
  common/web/types/src/main.ts
  common/web/types/src/util/file-types.ts
  developer/src/kmc-analyze/src/osk-character-use/index.ts
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/test/test-messages.ts
  developer/src/kmc-kmw/src/compiler/write-compiled-keyboard.ts
  developer/src/kmc-ldml/src/compiler/keymanweb-compiler.ts
  developer/src/kmc-model/test/test-compile-model.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/package-validation.ts
  developer/src/kmc-package/src/compiler/package-version-validation.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildClasses/BuildActivity.ts
  developer/src/kmc/src/commands/buildClasses/BuildKmnKeyboard.ts
  developer/src/kmc/src/commands/buildClasses/BuildLdmlKeyboard.ts
  developer/src/kmc/src/commands/buildClasses/BuildModel.ts
  developer/src/kmc/src/commands/buildClasses/BuildPackage.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
Labels: developer/, common/, developer/compilers/, feat, common/web/, epic-kmc-kmw

#8948 fix(linux): Fix display of installed keyboard version
  linux/keyman-config/keyman_config/kmpmetadata.py
  linux/keyman-config/keyman_config/list_installed_kmp.py
  linux/keyman-config/keyman_config/uninstall_kmp.py
  linux/keyman-config/keyman_config/view_installed.py
  linux/keyman-config/km-package-list-installed
Labels: linux/, fix, linux/config/, has-user-test

#8991 chore(developer): prevent recursion when analyzing projects 🗜
  developer/src/kmc-analyze/src/osk-character-use/index.ts
Labels: developer/, developer/compilers/, chore, epic-kmc-kmw

#8994 chore(developer): complete error checking in kmc-analyze 🗜
  common/web/types/src/main.ts
  developer/src/kmc-analyze/src/osk-character-use/index.ts
  developer/src/kmc-kmn/src/main.ts
  developer/src/kmc/src/commands/analyze.ts
Labels: developer/, common/, developer/compilers/, common/web/, chore, epic-kmc-kmw

#9001 fix(linux): Fix creation of markdown help files for Linux
  resources/build/help-keyman-com.sh
Labels: linux/, common/, common/resources/, fix

#9009 auto: increment master version to 17.0.124
  HISTORY.md
  VERSION.md
Labels: auto

#9006 chore(developer): fixup merge bump 🗜
  developer/src/kmc-kmn/src/main.ts
Labels: developer/, developer/compilers/, chore

#9002 fix(windows): qr code id uses keyboard name and not package name
  windows/src/desktop/kmshell/xml/keyman_keyboardlist.xsl
Labels: windows/, fix, windows/config/, has-user-test

#9012 change(web): internal-event convention consistency 🧩
  common/web/keyboard-processor/src/text/keyboardProcessor.ts
  web/src/app/browser/src/hardwareEventKeyboard.ts
  web/src/app/browser/src/languageMenu.ts
  web/src/app/browser/src/oskConfiguration.ts
  web/src/app/webview/src/oskConfiguration.ts
  web/src/app/webview/src/passthroughKeyboard.ts
  web/src/engine/events/src/emitterListenerSpy.ts
  web/src/engine/events/src/legacyEventEmitter.ts
  web/src/engine/main/src/hardKeyboard.ts
  web/src/engine/main/src/keyEventSource.interface.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/osk/src/components/resizeBar.ts
  web/src/engine/osk/src/views/floatingOskView.ts
  web/src/engine/osk/src/views/oskView.ts
  web/src/engine/osk/src/views/twoStateActivator.ts
  web/src/engine/osk/src/visualKeyboard.ts
  web/src/engine/package-cache/src/stubAndKeyboardCache.ts
  web/src/test/auto/headless/events/emitterListenerSpy.js
  web/src/test/auto/headless/osk/activation.js
  web/src/test/manual/web/osk/scratchspace/commands.js
  web/src/tools/testing/recorder/scribe.ts
Labels: web/, android/, developer/, ios/, common/, common/models/, developer/compilers/, common/resources/, android/engine/, ios/engine/, common/web/, common/models/templates/, common/models/wordbreakers/, developer/ide/, docs

#9007 refactor(linux): Extract widgets to separate classes and files
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/keyman_config/keyboard_layouts_model.py
  linux/keyman-config/keyman_config/keyboard_layouts_widget.py
  linux/keyman-config/keyman_config/keyboard_options_view.py
  linux/keyman-config/keyman_config/options_widget.py
  linux/keyman-config/keyman_config/view_installed.py
Labels: linux/, linux/config/, refactor, has-user-test

#9020 auto: increment master version to 17.0.125
  HISTORY.md
  VERSION.md
Labels: auto

#9030 fix(android/samples): Cleanup Sample/Tests apk's
  android/.gitignore
  android/Samples/KMSample1/build.sh
  android/Samples/KMSample2/build.gradle
  android/Samples/KMSample2/build.sh
  android/Tests/KeyboardHarness/build.sh
Labels: android/, fix, android/samples/

#9029 chore(common): Bump crowdin github action to 1.3.2
  .github/workflows/crowdin.yml
Labels: common/, chore

#9033 auto: increment master version to 17.0.126
  HISTORY.md
  VERSION.md
Labels: auto

#9010 chore(mac): move from altool to notarytool
  mac/build.sh
  mac/mac-utils.inc.sh
  mac/setup/build.sh
Labels: mac/, chore

#9022 fix(web): properly connects picker interface API 🧩
  web/src/app/browser/src/keyboardInterface.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/webview/src/keymanEngine.ts
  web/src/engine/main/src/keymanEngine.ts
Labels: web/, fix

#8995 change(web): config, sourcemap cleanup + adds some c8 reporting 🧩
  common/models/templates/.c8rc.json
  common/models/templates/build.sh
  common/models/templates/package.json
  common/models/templates/tsconfig.json
  common/models/wordbreakers/.c8rc.json
  common/models/wordbreakers/build.sh
  common/models/wordbreakers/package.json
  common/models/wordbreakers/tsconfig.json
  common/predictive-text/build-bundler.js
  common/predictive-text/build.sh
  common/predictive-text/package.json
  common/predictive-text/src/node/tsconfig.json
  common/predictive-text/src/tsconfig.json
  common/predictive-text/src/web/tsconfig.json
  common/predictive-text/tsconfig.all.json
  common/predictive-text/unit_tests/test.sh
  common/web/input-processor/build-bundler.js
  common/web/input-processor/package.json
  common/web/input-processor/tsconfig.json
  common/web/keyboard-processor/.c8rc.json
  common/web/keyboard-processor/build-bundler.js
  common/web/keyboard-processor/build.sh
  common/web/keyboard-processor/package.json
  common/web/keyboard-processor/src/keyboards/defaultLayouts.ts
  common/web/keyboard-processor/src/keyboards/loaders/tsconfig.dom.json
  common/web/keyboard-processor/src/keyboards/loaders/tsconfig.node.json
  common/web/keyboard-processor/src/keyboards/test.ts
  common/web/keyboard-processor/tsconfig.common.json
  common/web/keyboard-processor/tsconfig.json
  common/web/lm-worker/.c8rc.json
  common/web/lm-worker/build-bundler.js
  common/web/lm-worker/build-polyfill-concatenator.js
  common/web/lm-worker/build.sh
  common/web/lm-worker/package.json
  common/web/lm-worker/tsconfig.json
  common/web/utils/.c8rc.json
  common/web/utils/build.sh
  common/web/utils/package.json
  common/web/utils/src/test/managedPromise.js
  common/web/utils/src/test/versions.js
  package-lock.json
  web/build.sh
  web/common.inc.sh
  web/package.json
  web/src/app/browser/build-bundler.js
  web/src/app/ui/build-bundler.js
  web/src/app/webview/build-bundler.js
  web/src/engine/attachment/build-bundler.js
  web/src/engine/device-detect/build-bundler.js
  web/src/engine/element-wrappers/build-bundler.js
  web/src/engine/events/.c8rc.json
  web/src/engine/events/build-bundler.js
  web/src/engine/main/build-bundler.js
  web/src/engine/package-cache/.c8rc.json
  web/src/engine/paths/.c8rc.json
  web/src/engine/paths/build-bundler.js
  web/src/tools/testing/bulk_rendering/build.sh
  web/src/tsconfig.all.json
Labels: web/, common/, common/models/, common/web/, common/models/templates/, common/models/wordbreakers/

#9025 chore(web): esbuild configuration cleanup 🧩
  common/models/templates/build.sh
  common/predictive-text/build-bundler.js
  common/predictive-text/build.sh
  common/web/es-bundling/README.md
  common/web/es-bundling/build.sh
  common/web/es-bundling/src/classTreeshaker.mts
  common/web/es-bundling/src/configuration.mts
  common/web/es-bundling/src/index.mts
  common/web/es-bundling/src/tslibTreeshaking.mts
  common/web/es-bundling/tsconfig.json
  common/web/input-processor/build-bundler.js
  common/web/keyboard-processor/build-bundler.js
  common/web/keyboard-processor/build.sh
  common/web/lm-worker/build-bundler.js
  common/web/lm-worker/build-wrap-and-minify.js
  common/web/lm-worker/build.sh
  common/web/utils/build.sh
  web/src/app/browser/build-bundler.js
  web/src/app/ui/build-bundler.js
  web/src/app/webview/build-bundler.js
  web/src/engine/attachment/build-bundler.js
  web/src/engine/device-detect/build-bundler.js
  web/src/engine/element-wrappers/build-bundler.js
  web/src/engine/events/build-bundler.js
  web/src/engine/main/build-bundler.js
  web/src/engine/osk/build-bundler.js
  web/src/engine/package-cache/build-bundler.js
  web/src/engine/package-cache/build.sh
  web/src/engine/paths/build-bundler.js
  web/src/engine/paths/build.sh
Labels: web/, common/, common/models/, common/web/, common/models/templates/, chore

#9041 auto: increment master version to 17.0.127
  HISTORY.md
  VERSION.md
Labels: auto

#9016 feat(developer): support to rewrite kvk and touch layout with pua 🗜
  common/web/types/src/main.ts
  common/web/types/src/osk/osk.ts
  developer/src/kmc-analyze/src/index.ts
  developer/src/kmc-analyze/src/osk-character-use/index.ts
  developer/src/kmc-analyze/src/osk-rewrite-pua/index.ts
  developer/src/kmc-analyze/src/util/get-osk-from-kmn-file.ts
  developer/src/kmc/src/commands/analyze.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildTestData.ts
  developer/src/kmc/src/kmc.ts
  developer/src/kmc/src/messages/messages.ts
  developer/src/kmc/src/util/baseOptions.ts
  developer/src/kmc/src/util/projectReader.ts
Labels: developer/, common/, developer/compilers/, feat, common/web/, epic-kmc-kmw

#9032 feat(developer): add `&displayMap` system store 🗜
  common/include/kmx_file.h
  common/schemas/displaymap/README.md
  common/schemas/displaymap/displaymap.schema.json
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file-reader.ts
  common/web/types/src/kmx/kmx.ts
  common/web/types/src/osk/osk.ts
  developer/src/kmc-analyze/src/osk-character-use/index.ts
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/compiler/messages.ts
  developer/src/kmc-kmw/src/compiler/write-compiled-keyboard.ts
  developer/src/kmc-kmw/test/test-compiler-manual.ts
  developer/src/kmc-kmw/test/test-compiler.ts
  developer/src/kmcmplib/include/kmcmplibapi.h
  developer/src/kmcmplib/src/CompileKeyboardBuffer.cpp
  developer/src/kmcmplib/src/Compiler.cpp
  developer/src/kmcmplib/src/CompilerInterfaces.cpp
  developer/src/kmcmplib/src/CompilerInterfacesWasm.cpp
  developer/src/kmcmplib/src/compfile.h
Labels: developer/, common/, developer/compilers/, feat, common/web/, epic-kmc-kmw

#9038 refactor(developer): kmc-kmn now builds .js when needed 🗜
  common/web/types/src/util/compiler-interfaces.ts
  developer/build.sh
  developer/src/kmc-analyze/src/util/get-osk-from-kmn-file.ts
  developer/src/kmc-kmn/.eslintrc.cjs
  developer/src/kmc-kmn/package.json
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/compiler-globals.ts
  developer/src/kmc-kmn/src/kmw-compiler/javascript-strings.ts
  developer/src/kmc-kmn/src/kmw-compiler/keymanweb-key-codes.ts
  developer/src/kmc-kmn/src/kmw-compiler/messages.ts
  developer/src/kmc-kmn/src/kmw-compiler/util.ts
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
  developer/src/kmc-kmn/src/kmw-compiler/visual-keyboard-compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/write-compiled-keyboard.ts
  developer/src/kmc-kmn/src/main.ts
  developer/src/kmc-kmn/test/fixtures/kmw/.gitignore
  developer/src/kmc-kmn/test/fixtures/kmw/khmer_angkor.ico
  developer/src/kmc-kmn/test/fixtures/kmw/khmer_angkor.js
  developer/src/kmc-kmn/test/fixtures/kmw/khmer_angkor.keyman-touch-layout
  developer/src/kmc-kmn/test/fixtures/kmw/khmer_angkor.kmn
  developer/src/kmc-kmn/test/fixtures/kmw/khmer_angkor.kvks
  developer/src/kmc-kmn/test/kmw/test-compiler-manual.ts
  developer/src/kmc-kmn/test/kmw/test-compiler.ts
  developer/src/kmc-kmn/test/kmw/util.ts
  developer/src/kmc-kmn/test/test-compiler.ts
  developer/src/kmc-kmn/test/tsconfig.json
  developer/src/kmc-kmw/.eslintrc.cjs
  developer/src/kmc-kmw/Makefile
  developer/src/kmc-kmw/README.md
  developer/src/kmc-kmw/build.sh
  developer/src/kmc-kmw/package.json
  developer/src/kmc-kmw/src/main.ts
  developer/src/kmc-kmw/test/README.md
  developer/src/kmc-kmw/test/tsconfig.json
  developer/src/kmc-kmw/tsconfig.json
  developer/src/kmc/build.sh
  developer/src/kmc/package.json
  developer/src/kmc/tsconfig.json
  developer/src/kmcmplib/include/kmcmplibapi.h
  developer/src/kmcmplib/src/CompileKeyboardBuffer.cpp
  developer/src/kmcmplib/src/Compiler.cpp
  developer/src/kmcmplib/src/CompilerInterfaces.cpp
  developer/src/kmcmplib/src/CompilerInterfacesWasm.cpp
  developer/src/kmcmplib/src/compfile.h
  developer/src/kmcmplib/src/kmx_u16.cpp
  developer/src/kmcmplib/src/kmx_u16.h
  developer/src/kmcmplib/tests/api-test.cpp
  package-lock.json
  package.json
  tsconfig.esm.json
Labels: developer/, common/, developer/compilers/, common/web/, refactor, epic-kmc-kmw

#9043 chore(developer): validate displaymap schema 🗜
  common/web/types/build.sh
  common/web/types/src/osk/osk.ts
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/inst/download.in.mak
  developer/src/kmc-analyze/src/osk-rewrite-pua/index.ts
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc/build.sh
Labels: developer/, common/, developer/compilers/, common/web/, chore, epic-kmc-kmw

#9047 chore: enable common ci for web
  resources/build/trigger-definitions.inc.sh
Labels: common/, common/resources/, chore

#9035 change(web): web integration test-script loading 🧩
  web/src/test/auto/dom/test_utils.js
  web/src/test/auto/integrated/cases/text_selection.js
  web/src/test/auto/integrated/test_utils.js
Labels: web/

#9036 docs(web): demarcation of methods supporting Web's public API 🧩
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/browser/src/utilApiEndpoint.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/osk/src/views/floatingOskView.ts
  web/src/engine/osk/src/views/oskView.ts
Labels: web/, docs

#9062 auto: increment master version to 17.0.128
  HISTORY.md
  VERSION.md
Labels: auto

#9061 fix(windows): testhost improve error message
  windows/src/engine/testhost/testhost.cpp
Labels: windows/, fix, windows/engine/

#9063 docs(windows): add more steps for clarity
  windows/src/engine/testhost/README.md
Labels: windows/, windows/engine/, docs

#9069 auto: increment master version to 17.0.129
  HISTORY.md
  VERSION.md
Labels: auto

#9046 refactor(developer): move constants and globals for kmw compiler 🗜
  developer/src/kmc-kmn/src/kmw-compiler/compiler-globals.ts
  developer/src/kmc-kmn/src/kmw-compiler/constants.ts
  developer/src/kmc-kmn/src/kmw-compiler/javascript-strings.ts
  developer/src/kmc-kmn/src/kmw-compiler/keymanweb-key-codes.ts
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
  developer/src/kmc-kmn/src/kmw-compiler/write-compiled-keyboard.ts
Labels: developer/, developer/compilers/, refactor

#9054 chore(developer): remove font style/color from kvk 🗜
  common/web/types/src/kvk/kvk-file-reader.ts
  common/web/types/src/kvk/kvk-file-writer.ts
  common/web/types/src/kvk/kvks-file-reader.ts
  common/web/types/src/kvk/visual-keyboard.ts
  common/web/types/test/kvk/test-kvk-utils.ts
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/visual-keyboard-compiler.ts
  developer/src/kmc-ldml/src/compiler/keymanweb-compiler.ts
  developer/src/kmc-ldml/src/compiler/visual-keyboard-compiler.ts
  developer/src/kmc-ldml/test/fixtures/basic-kvk.txt
  developer/src/kmc-ldml/test/fixtures/basic-no-debug.js
  developer/src/kmc-ldml/test/fixtures/basic.js
  windows/src/engine/kmcomapi/processes/package/kpinstallpackage.pas
  windows/src/engine/kmcomapi/processes/visualkeyboard/KPInstallVisualKeyboard.pas
Labels: windows/, developer/, common/, developer/compilers/, common/web/, windows/engine/, chore, epic-kmc-kmw

#9056 chore(developer): cleanup displayUnderlying flag in kmw compiler 🗜
  developer/src/kmc-kmn/src/kmw-compiler/visual-keyboard-compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/write-compiled-keyboard.ts
Labels: developer/, developer/compilers/, chore, epic-kmc-kmw

#9057 chore(developer): load wasm module only once per process 🗜
  developer/src/kmc-kmn/src/compiler/compiler.ts
Labels: developer/, developer/compilers/, chore, epic-kmc-kmw

#9058 chore(developer): support embedded files in kmw compiler 🗜
  developer/src/kmc-kmn/src/kmw-compiler/messages.ts
  developer/src/kmc-kmn/src/kmw-compiler/write-compiled-keyboard.ts
Labels: developer/, developer/compilers/, chore, epic-kmc-kmw

#9059 chore(developer): cleanup data passing from wasm 🗜
  developer/src/kmc-analyze/src/util/get-osk-from-kmn-file.ts
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/write-compiled-keyboard.ts
  developer/src/kmc-kmn/test/kmw/test-compiler-manual.ts
  developer/src/kmc-kmn/test/kmw/test-compiler.ts
  developer/src/kmcmplib/include/kmcmplibapi.h
  developer/src/kmcmplib/src/CompileKeyboardBuffer.cpp
  developer/src/kmcmplib/src/Compiler.cpp
  developer/src/kmcmplib/src/CompilerInterfaces.cpp
  developer/src/kmcmplib/src/CompilerInterfacesWasm.cpp
  developer/src/kmcmplib/src/compfile.h
Labels: developer/, developer/compilers/, chore, epic-kmc-kmw

#9071 fix(windows): support kmxplus in mcompile 🙀
  windows/src/engine/mcompile/mcompile.cpp
Labels: windows/, developer/, fix, windows/engine/, epic-ldml

#9072 fix(core): fix ldml transforms 🙀
  core/src/ldml/ldml_processor.cpp
Labels: fix, core/, epic-ldml

#9049 feat(common,developer,core): add uset section 🙀
  common/web/types/src/kmx/element-string.ts
  common/web/types/src/kmx/kmx-builder.ts
  common/web/types/src/kmx/kmx-plus-builder/build-elem.ts
  common/web/types/src/kmx/kmx-plus-builder/build-uset.ts
  common/web/types/src/kmx/kmx-plus-builder/kmx-plus-builder.ts
  common/web/types/src/kmx/kmx-plus.ts
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/C7043_ldml.md
  core/tests/unit/ldml/test_kmx_plus.cpp
  developer/src/kmc-ldml/src/compiler/empty-compiler.ts
Labels: developer/, common/, developer/compilers/, feat, core/, common/web/, epic-ldml

#9083 auto: increment master version to 17.0.130
  HISTORY.md
  VERSION.md
Labels: auto

#9075 fix(developer): support option stores in kmc-kmn/kmw 🗜
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/constants.ts
  developer/src/kmc-kmn/src/kmw-compiler/write-compiled-keyboard.ts
  developer/src/kmc-kmn/test/fixtures/kmw/build_fixtures.bat
  developer/src/kmc-kmn/test/fixtures/kmw/test_keychars.js
  developer/src/kmc-kmn/test/fixtures/kmw/test_keychars.kmn
  developer/src/kmc-kmn/test/fixtures/kmw/test_options.js
  developer/src/kmc-kmn/test/fixtures/kmw/test_options.kmn
  developer/src/kmc-kmn/test/kmw/test-compiler-manual.ts
  developer/src/kmc-kmn/test/kmw/test-compiler.ts
  developer/src/kmc-kmn/test/kmw/test-kmw-compiler.ts
  developer/src/kmc-kmn/test/kmw/util.ts
  developer/src/kmcmplib/include/kmcmplibapi.h
  developer/src/kmcmplib/src/CompileKeyboardBuffer.cpp
  developer/src/kmcmplib/src/CompilerInterfacesWasm.cpp
Labels: developer/, developer/compilers/, fix, epic-kmc-kmw

#9076 fix(developer): support readonly groups in kmc-kmn/kmw-compiler 🗜
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/compiler-globals.ts
  developer/src/kmc-kmn/src/kmw-compiler/javascript-strings.ts
  developer/src/kmc-kmn/src/kmw-compiler/write-compiled-keyboard.ts
  developer/src/kmc-kmn/test/fixtures/kmw/.gitignore
  developer/src/kmc-kmn/test/fixtures/kmw/test_readonly_groups.js
  developer/src/kmc-kmn/test/fixtures/kmw/test_readonly_groups.kmn
  developer/src/kmc-kmn/test/kmw/test-kmw-compiler.ts
  developer/src/kmcmplib/include/kmcmplibapi.h
  developer/src/kmcmplib/src/CompileKeyboardBuffer.cpp
  developer/src/kmcmplib/src/CompilerInterfacesWasm.cpp
Labels: developer/, developer/compilers/, fix, epic-kmc-kmw

#9086 chore(developer): cleanup javascript-strings.ts 🗜
  developer/src/kmc-kmn/src/kmw-compiler/javascript-strings.ts
Labels: developer/, developer/compilers/, chore, epic-kmc-kmw

#9087 chore(developer): handle layout file errors in kmw-compiler
  developer/src/kmc-kmn/src/kmw-compiler/constants.ts
  developer/src/kmc-kmn/src/kmw-compiler/messages.ts
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
Labels: developer/, developer/compilers/, chore, epic-kmc-kmw

#9088 chore(developer): cleanup for kmw-compiler.ts 🗜
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/javascript-strings.ts
  developer/src/kmc-kmn/src/kmw-compiler/keymanweb-key-codes.ts
  developer/src/kmc-kmn/src/kmw-compiler/kmw-compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/messages.ts
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
  developer/src/kmc-kmn/src/kmw-compiler/visual-keyboard-compiler.ts
  developer/src/kmcmplib/include/kmcmplibapi.h
  developer/src/kmcmplib/src/CompileKeyboardBuffer.cpp
  developer/src/kmcmplib/src/CompilerInterfacesWasm.cpp
Labels: developer/, developer/compilers/, chore, epic-kmc-kmw

#9095 auto: increment master version to 17.0.131
  HISTORY.md
  VERSION.md
Labels: auto

#9084 feat(developer,common,core): ldml UTF-32 literals in binary 🙀
  common/web/types/src/kmx/element-string.ts
  common/web/types/src/kmx/kmx-plus-builder/build-elem.ts
  common/web/types/src/kmx/kmx-plus-builder/build-strs.ts
  common/web/types/src/kmx/kmx-plus.ts
  common/web/types/src/util/util.ts
  common/web/types/test/util/test-unescape.ts
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/ldml_processor.cpp
  core/tests/unit/ldml/ldml_test_source.cpp
  core/tests/unit/ldml/test_kmx_plus.cpp
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/test/fixtures/basic.txt
  developer/src/kmc-ldml/test/fixtures/sections/keys/minimal.xml
  developer/src/kmc-ldml/test/test-keys.ts
  developer/src/kmc-ldml/test/test-layr.ts
Labels: developer/, common/, developer/compilers/, feat, core/, common/web/, epic-ldml

#9096 fix(web): fixes Web build zip artifact construction
  web/build.sh
  web/ci.sh
  web/src/test/manual/build.sh
  web/src/tools/build.sh
Labels: web/, fix

#9115 auto: increment master version to 17.0.132
  HISTORY.md
  VERSION.md
Labels: auto

#9116 fix(developer): various bugs in kmc and related packages 🗜
  common/web/types/src/kpj/kpj-file-reader.ts
  developer/src/kmc-kmn/src/kmw-compiler/kmw-compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/util.ts
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
  developer/src/kmc-package/src/compiler/package-validation.ts
  developer/src/kmc-package/src/compiler/package-version-validation.ts
  developer/src/kmc/src/commands/build.ts
Labels: developer/, common/, developer/compilers/, fix, common/web/, epic-kmc-kmw

#9137 docs(mac): Update requirements.md
  mac/help/about/requirements.md
Labels: mac/, chore, docs

#9132 fix(developer): ensure `delete` uses array semantics where appropriate 🗜
  developer/src/kmcmplib/src/CasedKeys.cpp
  developer/src/kmcmplib/src/CompileKeyboardBuffer.cpp
  developer/src/kmcmplib/src/Compiler.cpp
  developer/src/kmcmplib/src/NamedCodeConstants.cpp
Labels: developer/, fix, epic-kmc-kmw

#9133 fix(developer): `GetDelimitedString` was using wrong `strchr` 🗜
  developer/src/kmcmplib/src/Compiler.cpp
  developer/src/kmcmplib/src/xstring.cpp
  developer/src/kmcmplib/src/xstring.h
Labels: developer/, fix, epic-kmc-kmw

#9134 fix(common): specify alignment for `COMP_` structs 🗜
  common/include/kmx_file.h
Labels: common/, fix, epic-kmc-kmw

#9135 fix(developer): kmcmplib was clobbering previous output 🗜
  developer/src/kmc-kmn/src/compiler/compiler.ts
Labels: developer/, developer/compilers/, fix, epic-kmc-kmw

#9136 fix(developer): some more kmc cleanup 🗜
  common/web/types/src/kvk/kvks-file-reader.ts
  common/web/types/test/kvk/test-kvks-file.ts
  developer/src/kmc-package/package.json
  developer/src/kmc-package/src/compiler/package-version-validation.ts
  developer/src/kmc-package/src/compiler/web-keyboard-metadata.ts
  developer/src/kmc-package/test/fixtures/invalid/keyboardcontentfilenotfound.kps
  developer/src/kmc-package/test/fixtures/khmer_angkor-debug-build.js
  developer/src/kmc-package/test/test-web-keyboard-metadata.ts
Labels: developer/, common/, developer/compilers/, fix, common/web/, epic-kmc-kmw

#9066 chore(web): feature-gesture reorganization 🐵
  common/web/gesture-recognizer/.c8rc.json
  common/web/gesture-recognizer/build.sh
  common/web/gesture-recognizer/package.json
  common/web/gesture-recognizer/src/engine/configuration/gestureRecognizerConfiguration.ts
  common/web/gesture-recognizer/src/engine/configuration/paddedZoneSource.ts
  common/web/gesture-recognizer/src/engine/configuration/recognitionZoneSource.ts
  common/web/gesture-recognizer/src/engine/configuration/viewportZoneSource.ts
  common/web/gesture-recognizer/src/engine/configuration/zoneBoundaryChecker.ts
  common/web/gesture-recognizer/src/engine/gestureRecognizer.ts
  common/web/gesture-recognizer/src/engine/headless/cumulativePathStats.ts
  common/web/gesture-recognizer/src/engine/headless/inputSample.ts
  common/web/gesture-recognizer/src/engine/headless/segment.ts
  common/web/gesture-recognizer/src/engine/headless/segmentClassifier.ts
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/constructingSegment.ts
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/pathSegmenter.ts
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/subsegmentCompatibilityAnalyzer.ts
  common/web/gesture-recognizer/src/engine/headless/trackedPath.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  common/web/gesture-recognizer/src/engine/mouseEventEngine.ts
  common/web/gesture-recognizer/src/engine/mutable.ts
  common/web/gesture-recognizer/src/engine/nonoptional.ts
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
  common/web/gesture-recognizer/src/engine/trackedInput.ts
  common/web/gesture-recognizer/src/engine/trackedPoint.ts
  common/web/gesture-recognizer/src/index.ts
  common/web/gesture-recognizer/src/test/auto/headless/recordedSegmentations.js
  common/web/gesture-recognizer/src/test/auto/headless/trackedPath.js
  common/web/gesture-recognizer/test.sh
  common/web/gesture-recognizer/tsconfig.json
  tsconfig.cjs.json
  tsconfig.esm.json
Labels: web/, common/, common/web/, chore

#9067 chore(web): disconnects the gesture-oriented touchpath-subsegmentation engine 🐵
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/README.md
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/constructingSegment.ts
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/pathSegmenter.ts
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/segment.ts
  common/web/gesture-recognizer/src/engine/headless/trackedPath.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/test/auto/headless/recordedSegmentations.js
  common/web/gesture-recognizer/src/test/auto/headless/trackedPath.js
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessRecordingSimulator.ts
Labels: web/, common/, common/web/, chore

#9122 change(web): tracking for 'initial' and 'current' UI item per touchpoint 🐵
  common/web/gesture-recognizer/build.sh
  common/web/gesture-recognizer/src/engine/configuration/gestureRecognizerConfiguration.ts
  common/web/gesture-recognizer/src/engine/configuration/zoneBoundaryChecker.ts
  common/web/gesture-recognizer/src/engine/gestureRecognizer.ts
  common/web/gesture-recognizer/src/engine/headless/cumulativePathStats.ts
  common/web/gesture-recognizer/src/engine/headless/inputSample.ts
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/pathSegmenter.ts
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/segment.ts
  common/web/gesture-recognizer/src/engine/headless/trackedPath.ts
  common/web/gesture-recognizer/src/engine/headless/trackedPoint.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  common/web/gesture-recognizer/src/engine/mouseEventEngine.ts
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
  common/web/gesture-recognizer/src/engine/trackedInput.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessRecordingSimulator.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/hostFixtureLayoutController.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputSequenceSimulator.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/sequenceRecorder.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/touchpathTurtle.ts
Labels: web/, common/, common/web/

#9126 fix(web): touchpath recordings always sample end of path, even when stationary 🐵
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  common/web/gesture-recognizer/src/engine/mouseEventEngine.ts
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
  common/web/gesture-recognizer/src/test/resources/json/segmentation/flick_ne_se.json
  common/web/gesture-recognizer/src/test/resources/json/segmentation/nonstationary_hold.json
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessRecordingSimulator.ts
Labels: web/, common/, fix, common/web/

#9128 chore(web): touchpath-turtle rework 🐵
  common/web/gesture-recognizer/src/test/auto/headless/segmentConstruction.js
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessInputEngine.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/touchpathTurtle.ts
Labels: web/, common/, common/web/, chore

#9123 fix(linux): Fix GHA package builds for non-Jammy dists
  .github/workflows/deb-packaging.yml
Labels: linux/, fix

#9142 fix(linux): Fix packaging GHA
  .github/workflows/deb-packaging.yml
Labels: linux/, fix

#9143 auto: increment master version to 17.0.133
  HISTORY.md
  VERSION.md
Labels: auto
