Repository keymanapp/keyman, pull requests merged in 2023-04, with the labels that each got.

#8561 fix(windows): use right instead of left alignment for popup buttons
  windows/src/desktop/kmshell/xml/config.css
Labels: windows/, fix, windows/config/, has-user-test

#8563 auto: increment master version to 17.0.84
  HISTORY.md
  VERSION.md
Labels: auto

#8543 chore(android): Update projects to use Java 11
  android/KMAPro/build.gradle
  android/KMAPro/build.sh
  android/KMAPro/gradle/wrapper/gradle-wrapper.properties
  android/KMAPro/kMAPro/build.gradle
  android/KMEA/app/build.gradle
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
  android/KMEA/app/src/main/java/com/keyman/engine/logic/ResourcesUpdateTool.java
  android/KMEA/app/src/test/resources/com/tavultesoft/kmea/robolectric.properties
  android/KMEA/build.gradle
  android/KMEA/build.sh
  android/KMEA/gradle/wrapper/gradle-wrapper.properties
  android/README.md
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample1/build.gradle
  android/Samples/KMSample1/build.sh
  android/Samples/KMSample1/gradle/wrapper/gradle-wrapper.properties
  android/Samples/KMSample2/app/build.gradle
  android/Samples/KMSample2/build.sh
  android/Samples/KMSample2/gradle/wrapper/gradle-wrapper.properties
  android/Tests/KeyboardHarness/build.gradle
  android/Tests/KeyboardHarness/build.sh
  android/Tests/KeyboardHarness/gradle/wrapper/gradle-wrapper.properties
  android/Tests/keycode/build.gradle
  android/Tests/keycode/gradle/wrapper/gradle-wrapper.properties
  android/build-publish.sh
  android/build.sh
  docs/build/windows.md
  oem/firstvoices/android/app/build.gradle
  oem/firstvoices/android/build.sh
  oem/firstvoices/android/gradle/wrapper/gradle-wrapper.properties
  resources/build/build-utils.sh
Labels: android/, common/, common/resources/, oem/, android/engine/, android/app/, oem/fv/, oem/fv/android/, chore, docs, has-user-test, android/samples/

#8567 docs: clarify dependency meanings in build-utils
  resources/build/build-utils.md
Labels: common/, common/resources/, docs

#8565 fix(mac): fix corrupt installer
  ios/samples/build_common.sh
  mac/Keyman4MacIM/localdeploy.sh
  mac/Keyman4MacIM/make-km-dmg.sh
  mac/setup/build.sh
  oem/firstvoices/ios/build_common.sh
Labels: ios/, mac/, oem/, fix, oem/fv/, oem/fv/ios/, has-user-test, ios/samples/

#8573 auto: increment master version to 17.0.85
  HISTORY.md
  VERSION.md
Labels: auto

#8571 chore(developer): AddWarning and SetError cleanup
  common/include/test_assert.h
  common/include/test_color.h
  core/tests/unit/kmnkbd/action_items.hpp
  core/tests/unit/kmnkbd/debug_api.cpp
  core/tests/unit/kmnkbd/debug_items.hpp
  core/tests/unit/kmnkbd/state_api.cpp
  core/tests/unit/kmnkbd/test_kmx_context.cpp
  core/tests/unit/kmnkbd/test_kmx_xstring.cpp
  core/tests/unit/kmx/kmx.cpp
  core/tests/unit/kmx/kmx_imx.cpp
  core/tests/unit/kmx/kmx_key_list.cpp
  core/tests/unit/ldml/ldml.cpp
  core/tests/unit/ldml/ldml_test_source.cpp
  core/tests/unit/ldml/test_kmx_plus.cpp
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmcmpdll/Compiler.cpp
  developer/src/kmcmplib/build.sh
  developer/src/kmcmplib/include/kmcmplibapi.h
  developer/src/kmcmplib/src/CheckNCapsConsistency.cpp
  developer/src/kmcmplib/src/Compiler.cpp
  developer/src/kmcmplib/src/CompilerInterfaces.cpp
  developer/src/kmcmplib/src/DeprecationChecks.cpp
  developer/src/kmcmplib/src/kmcmplib.h
  developer/src/kmcmplib/src/meson.build
  developer/src/kmcmplib/tests/api-test.cpp
  developer/src/kmcmplib/tests/meson.build
Labels: developer/, common/, developer/compilers/, core/, chore

#8576 fix(developer): add DRY_RUN variable to build.sh
  developer/src/kmc/build.sh
Labels: developer/, developer/compilers/, fix

#8575 fix(ios): fixes xcode-triggered debug, run builds
  resources/build/xcode-utils.sh
Labels: ios/, common/, common/resources/, fix

#8583 auto: increment master version to 17.0.86
  HISTORY.md
  VERSION.md
Labels: auto

#8584 docs(windows): link to wiki architecture faq page
  windows/src/engine/README.md
Labels: windows/, windows/engine/, docs

#8589 auto: increment master version to 17.0.87
  HISTORY.md
  VERSION.md
Labels: auto

#8521 change(web): modularization, refinement of setActiveKeyboard 🧩
  common/web/keyboard-processor/src/index.ts
  common/web/keyboard-processor/src/keyboards/keyboardLoaderBase.ts
  common/web/keyboard-processor/src/keyboards/loaders/domKeyboardLoader.ts
  common/web/keyboard-processor/src/keyboards/loaders/nodeKeyboardLoader.ts
  common/web/keyboard-processor/tests/node/keyboard-loading.js
  web/build.sh
  web/src/app/browser/src/configuration.ts
  web/src/app/browser/src/contextManager.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/webview/src/contextManager.ts
  web/src/app/webview/src/keymanEngine.ts
  web/src/engine/main/src/contextManagerBase.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/namespaced-main/keyboards/kmwkeyboards.ts
  web/src/engine/package-cache/src/stubAndKeyboardCache.ts
  web/src/test/auto/headless/packages/stubAndKeyboardCache.js
Labels: web/, common/, common/web/

#8577 refactor(developer): DRY kmc module references
  developer/src/kmc/src/activities/BuildActivity.ts
  developer/src/kmc/src/activities/BuildKmnKeyboard.ts
  developer/src/kmc/src/activities/BuildLdmlKeyboard.ts
  developer/src/kmc/src/activities/BuildModel.ts
  developer/src/kmc/src/activities/BuildPackage.ts
  developer/src/kmc/src/activities/BuildProject.ts
  developer/src/kmc/src/activities/buildActivities.ts
  developer/src/kmc/src/activities/buildKmnKeyboard.ts
  developer/src/kmc/src/activities/buildModel.ts
  developer/src/kmc/src/activities/buildPackage.ts
  developer/src/kmc/src/activities/buildTestData.ts
  developer/src/kmc/src/commands/build.ts
Labels: developer/, developer/compilers/, refactor

#8579 fix(developer): kmc should not validate as well as compile keyboard
  developer/src/kmc/src/activities/BuildLdmlKeyboard.ts
Labels: developer/, developer/compilers/, fix

#8580 fix(developer): improve 'does not exist' error message
  developer/src/kmc/src/commands/build.ts
Labels: developer/, developer/compilers/, fix

#8587 fix(common): consolidate npm publishing
  common/models/types/.build-builder
  common/models/types/build.sh
  common/web/keyman-version/build.sh
  common/web/types/build.sh
  developer/src/kmc-keyboard/build.sh
  developer/src/kmc-kmn/build.sh
  developer/src/kmc-model-info/build.sh
  developer/src/kmc-model/build.sh
  developer/src/kmc-model/package.json
  developer/src/kmc-package/build.sh
  developer/src/kmc/build.sh
  docs/npm-packages.md
  resources/build/build-utils-ci.inc.sh
Labels: developer/, common/, common/models/, developer/compilers/, common/resources/, fix, common/web/, common/models/types/, docs

#8592 auto: increment master version to 17.0.88
  HISTORY.md
  VERSION.md
Labels: auto

#8596 docs(android): Update Linux dev environment for Java 11
  docs/build/linux-ubuntu.md
Labels: android/, docs

#8600 auto: increment master version to 17.0.89
  HISTORY.md
  VERSION.md
Labels: auto

#8597 chore(developer): tweak build of extension list in kmc
  developer/src/kmc/src/commands/build.ts
Labels: developer/, developer/compilers/, chore

#8546 docs(ios): Add help page for Settings
  ios/help/basic/config/index.md
  ios/help/basic/config/spacebar-caption.md
  ios/help/basic/index.md
  ios/help/basic/language-settings.md
  ios/help/index.md
  ios/help/ios_images/banner.png
  ios/help/ios_images/dictionary-list.png
  ios/help/ios_images/dictionary-select.png
  ios/help/ios_images/find-new.png
  ios/help/ios_images/language-settings.png
  ios/help/ios_images/no-banner.png
  ios/help/ios_images/settings-screen.png
  ios/help/ios_images/spacebar-caption.png
  ios/help/ios_images/system-wide-setting.png
Labels: ios/, ios/app/, has-user-test

#8605 fix(developer): add missing dependencies
  developer/src/kmc-keyboard/package.json
  developer/src/kmc/package.json
Labels: developer/, developer/compilers/, fix

#8610 auto: increment master version to 17.0.90
  HISTORY.md
  VERSION.md
Labels: auto

#8612 chore(android/engine): Cleanup old SDK calls
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Labels: android/, android/engine/, chore

#8606 fix(developer): package editor no longer loses RTL flag for LMs
  common/windows/delphi/packages/PackageInfo.pas
Labels: developer/, common/, fix, has-user-test

#8633 auto: increment master version to 17.0.91
  HISTORY.md
  VERSION.md
Labels: auto

#8617 fix(developer): kmc-kmn would abort build on warnings
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmcmplib/src/CompilerInterfaces.cpp
Labels: developer/, developer/compilers/, fix

#8618 fix(developer): kmc no longer emits double file extension for models
  developer/src/kmc/src/activities/BuildActivity.ts
  developer/src/kmc/src/activities/BuildKmnKeyboard.ts
  developer/src/kmc/src/activities/BuildLdmlKeyboard.ts
  developer/src/kmc/src/activities/BuildModel.ts
  developer/src/kmc/src/activities/BuildPackage.ts
  developer/src/kmc/src/activities/BuildProject.ts
  developer/src/kmc/src/util/escapeRegExp.ts
Labels: developer/, developer/compilers/, fix

#8622 refactor(developer): move build activities
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/build/BuildActivity.ts
  developer/src/kmc/src/commands/build/BuildKmnKeyboard.ts
  developer/src/kmc/src/commands/build/BuildLdmlKeyboard.ts
  developer/src/kmc/src/commands/build/BuildModel.ts
  developer/src/kmc/src/commands/build/BuildPackage.ts
  developer/src/kmc/src/commands/build/BuildProject.ts
  developer/src/kmc/src/commands/build/buildActivities.ts
  developer/src/kmc/src/commands/buildTestData.ts
  developer/src/kmc/src/commands/buildTestData/index.ts
Labels: developer/, developer/compilers/, refactor

#8623 feat(developer): add warning options to kmc
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/build/BuildActivity.ts
  developer/src/kmc/src/commands/build/BuildKmnKeyboard.ts
  developer/src/kmc/src/commands/build/BuildLdmlKeyboard.ts
Labels: developer/, developer/compilers/, feat

#8625 feat(developer): use new message infrastructure in kmc-kmn
  common/web/types/src/main.ts
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/kmc-keyboard/package.json
  developer/src/kmc-keyboard/src/compiler/messages.ts
  developer/src/kmc-keyboard/test/test-messages.ts
  developer/src/kmc-kmn/package.json
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/compiler/messages.ts
  developer/src/kmc-kmn/test/helpers.ts
  developer/src/kmc-kmn/test/test-compiler.ts
  developer/src/kmc-kmn/test/tsconfig.json
  developer/src/kmc-model/package.json
  developer/src/kmc-package/package.json
  developer/src/kmc/package.json
  developer/src/kmc/src/commands/build/BuildKmnKeyboard.ts
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
Labels: developer/, common/, developer/compilers/, feat, common/web/

#8626 refactor(developer): move shared test helpers into common
  developer/src/common/web/test-helpers/.gitignore
  developer/src/common/web/test-helpers/index.ts
  developer/src/common/web/test-helpers/package.json
  developer/src/common/web/test-helpers/tsconfig.json
  developer/src/kmc-keyboard/package.json
  developer/src/kmc-keyboard/test/helpers/index.ts
  developer/src/kmc-keyboard/test/tsconfig.json
  developer/src/kmc-kmn/package.json
  developer/src/kmc-kmn/test/test-compiler.ts
  developer/src/kmc-kmn/test/tsconfig.json
  package-lock.json
  package.json
Labels: developer/, developer/compilers/, refactor

#8627 feat(developer): add CompilerMessages support to kmc-package
  developer/src/kmc-package/src/kmp-compiler.ts
  developer/src/kmc-package/src/messages.ts
  developer/src/kmc-package/test/fixtures/absolute_path/source/absolute_path.kps
  developer/src/kmc-package/test/test-package-compiler.ts
  developer/src/kmc/src/commands/build/BuildPackage.ts
  developer/src/kmc/src/kmlmi.ts
  developer/src/kmc/src/kmlmp.ts
Labels: developer/, developer/compilers/, feat

#8628 feat(developer): warn if .kps file includes a non-binary .kvk file
  common/web/types/src/kvk/kvk-file.ts
  common/web/types/src/main.ts
  developer/src/kmc-package/src/kmp-compiler.ts
  developer/src/kmc-package/src/messages.ts
  developer/src/kmc-package/test/fixtures/binary_kvk_file/source/binary_kvk_file.kps
  developer/src/kmc-package/test/fixtures/binary_kvk_file/source/binary_kvk_file.kvk
  developer/src/kmc-package/test/fixtures/xml_kvk_file/source/xml_kvk_file.kps
  developer/src/kmc-package/test/fixtures/xml_kvk_file/source/xml_kvk_file.kvk
  developer/src/kmc-package/test/test-package-compiler.ts
Labels: developer/, common/, developer/compilers/, feat, common/web/

#8629 chore(web): sets kmc-model as dependency of input-processor test action
  common/web/input-processor/build.sh
  web/test.sh
Labels: web/, common/, common/web/, chore

#8611 fix(android/engine): Fix resetContext calls when selection changes
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboardJSHandler.java
Labels: android/, fix, android/engine/, has-user-test

#8640 auto: increment master version to 17.0.92
  HISTORY.md
  VERSION.md
Labels: auto

#8634 fix(developer): kmc-package path reference
  developer/src/kmc/src/commands/build/BuildPackage.ts
Labels: developer/, developer/compilers/, fix

#8635 chore(developer): only run keyboards-repo tests for a full-test
  developer/src/kmcmplib/build.sh
  developer/src/kmcmplib/commands.inc.sh
  developer/src/kmcmplib/meson_options.txt
  developer/src/kmcmplib/tests/README.md
  developer/src/kmcmplib/tests/meson.build
Labels: developer/, chore

#8636 refactor(developer): move comperr.h to kmn_compiler_errors.h
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/common/include/kmn_compiler_errors.h
  developer/src/kmc-kmn/src/compiler/messages.ts
  developer/src/kmc-model/src/model-compiler-errors.ts
  developer/src/kmcmpdll/CasedKeys.cpp
  developer/src/kmcmpdll/CheckFilenameConsistency.cpp
  developer/src/kmcmpdll/CheckForDuplicates.cpp
  developer/src/kmcmpdll/CheckNCapsConsistency.cpp
  developer/src/kmcmpdll/Compiler.cpp
  developer/src/kmcmpdll/Compiler.rc
  developer/src/kmcmpdll/DeprecationChecks.cpp
  developer/src/kmcmpdll/NamedCodeConstants.cpp
  developer/src/kmcmpdll/UnreachableRules.cpp
  developer/src/kmcmpdll/kmcmpdll.vcxproj
  developer/src/kmcmpdll/kmcmpdll.vcxproj.filters
  developer/src/kmcmpdll/versioning.cpp
  developer/src/kmcmplib/include/meson.build
  developer/src/kmcmplib/src/CasedKeys.cpp
  developer/src/kmcmplib/src/CheckFilenameConsistency.cpp
  developer/src/kmcmplib/src/CheckForDuplicates.cpp
  developer/src/kmcmplib/src/CheckNCapsConsistency.cpp
  developer/src/kmcmplib/src/CompMsg.h
  developer/src/kmcmplib/src/Compiler.cpp
  developer/src/kmcmplib/src/CompilerInterfaces.cpp
  developer/src/kmcmplib/src/DeprecationChecks.cpp
  developer/src/kmcmplib/src/UnreachableRules.cpp
  developer/src/kmcmplib/src/comperr.h
  developer/src/kmcmplib/src/versioning.cpp
  developer/src/kmcmplib/tests/api-test.cpp
  developer/src/kmcomp/kccompilekvk.pas
  windows/src/engine/mcompile/mc_savekeyboard.cpp
Labels: windows/, developer/, common/, developer/compilers/, common/web/, windows/engine/, refactor

#8637 refactor(developer): kmc-model to use `CompilerEvent`
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/common/web/test-helpers/index.ts
  developer/src/kmc-model/package.json
  developer/src/kmc-model/src/build-trie.ts
  developer/src/kmc-model/src/compiler-callbacks.ts
  developer/src/kmc-model/src/lexical-model-compiler.ts
  developer/src/kmc-model/src/main.ts
  developer/src/kmc-model/src/model-compiler-errors.ts
  developer/src/kmc-model/src/script-overrides-decorator.ts
  developer/src/kmc-model/test/helpers/index.ts
  developer/src/kmc-model/test/test-compile-model.ts
  developer/src/kmc-model/test/test-compile-trie.ts
  developer/src/kmc-model/test/test-error-logger.ts
  developer/src/kmc-model/test/test-parse-wordlist.ts
  developer/src/kmc-model/tsconfig.json
  developer/src/kmc/src/commands/build/BuildModel.ts
  developer/src/kmc/src/kmlmc.ts
  developer/src/kmcmplib/include/meson.build
Labels: developer/, common/, developer/compilers/, common/web/, refactor

#8649 auto: increment master version to 17.0.93
  HISTORY.md
  VERSION.md
Labels: auto

#8641 feat(common): kmx file reader
  common/web/types/src/kmx/kmx-builder.ts
  common/web/types/src/kmx/kmx-file-reader.ts
  common/web/types/src/kmx/kmx.ts
  common/web/types/src/main.ts
  common/web/types/test/fixtures/kmx/khmer_angkor.kmx
  common/web/types/test/kmx/test-kmx-file.ts
Labels: common/, feat, common/web/

#8653 chore(common): Update crowdin strings for Simplified Chinese
  android/KMAPro/kMAPro/src/main/res/values-zh-rCN/strings.xml
  mac/Keyman4MacIM/Keyman4MacIM/zh-Hans.lproj/Localizable.strings
  windows/src/desktop/kmshell/locale/zh-CN/strings.xml
  windows/src/desktop/setup/locale/zh-CN/strings.xml
Labels: windows/, android/, mac/, common/, android/app/, windows/config/, chore

#8651 feat(developer): use CompilerEvent for messages in all of kmc
  common/web/types/src/main.ts
  common/web/types/src/util/compiler-interfaces.ts
  common/web/types/test/helpers/index.ts
  common/web/types/test/helpers/reader-callback-test.ts
  common/web/types/test/kpj/test-kpj-file-reader.ts
  common/web/types/test/kvk/test-kvk-round-trip.ts
  common/web/types/test/kvk/test-kvks-file.ts
  developer/src/common/web/test-helpers/index.ts
  developer/src/kmc-keyboard/src/compiler/compiler.ts
  developer/src/kmc-keyboard/test/helpers/index.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/build/BuildActivity.ts
  developer/src/kmc/src/commands/build/BuildKmnKeyboard.ts
  developer/src/kmc/src/commands/build/BuildLdmlKeyboard.ts
  developer/src/kmc/src/commands/build/BuildModel.ts
  developer/src/kmc/src/commands/build/BuildPackage.ts
  developer/src/kmc/src/commands/build/BuildProject.ts
  developer/src/kmc/src/commands/buildTestData/index.ts
  developer/src/kmc/src/kmlmc.ts
  developer/src/kmc/src/kmlmi.ts
  developer/src/kmc/src/kmlmp.ts
  developer/src/kmc/src/messages/NodeCompilerCallbacks.ts
  developer/src/kmc/src/messages/messages.ts
Labels: developer/, common/, developer/compilers/, feat, common/web/

#8652 chore(developer): fixup deps for kmc modules
  developer/build.sh
  developer/src/common/web/test-helpers/build.sh
  developer/src/kmc-keyboard/build.sh
  developer/src/kmc-kmn/build.sh
  developer/src/kmc-model/build.sh
  developer/src/kmc-model/package.json
  developer/src/kmc-model/test/tsconfig.json
  developer/src/kmc-package/build.sh
  developer/src/kmc-package/package.json
  developer/src/kmc-package/test/tsconfig.json
Labels: developer/, developer/compilers/, chore

#8441 feat(core): ldml repertoire test, initial ICU integration 🙀
  core/cross-mac-arm64.build
  core/cross-mac-x86_64.build
  core/src/debuglog.h
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/subprojects/.gitignore
  core/subprojects/README.md
  core/subprojects/icu-minimal.wrap
  core/subprojects/packagefiles/icu/LICENSE.meson
  core/subprojects/packagefiles/icu/meson.build
  core/subprojects/packagefiles/icu/source/common/meson.build
  core/subprojects/packagefiles/icu/source/data/export_module.py
  core/subprojects/packagefiles/icu/source/data/meson.build
  core/subprojects/packagefiles/icu/source/i18n/meson.build
  core/subprojects/packagefiles/icu/source/meson.build
  core/subprojects/packagefiles/icu/source/stubdata/meson.build
  core/tests/unit/ldml/keyboards/fr-t-k0-azerty-test.xml
  core/tests/unit/ldml/keyboards/k_001_tiny-test.xml
  core/tests/unit/ldml/ldml.cpp
  core/tests/unit/ldml/ldml_test_source.cpp
  core/tests/unit/ldml/ldml_test_source.hpp
  core/tests/unit/ldml/ldml_test_utils.cpp
  core/tests/unit/ldml/ldml_test_utils.hpp
  core/tests/unit/ldml/meson.build
  core/tests/unit/ldml/test_kmx_plus.cpp
  docs/linux/README.md
  linux/debian/control
  resources/standards-data/ldml-keyboards/techpreview/3.0/ja-Latn.xml
  resources/standards-data/ldml-keyboards/techpreview/3.0/pt-BR-k0-abnt2.xml
  resources/standards-data/ldml-keyboards/techpreview/test/pt-BR-k0-abnt2-test.xml
Labels: linux/, common/, common/resources/, feat, core/, docs, epic-ldml

#8663 auto: increment master version to 17.0.94
  HISTORY.md
  VERSION.md
Labels: auto

#8647 fix(android/engine): Update InApp input connection 🛋
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Labels: android/, fix, android/engine/, has-user-test

#8660 chore(common): Move the_99 test fixture keyboard
  common/test/keyboards/.gitignore
  common/test/keyboards/build.sh
  common/test/keyboards/issue/6254-invalid-version-99/README.md
  common/test/keyboards/issue/6254-invalid-version-99/build.sh
  common/test/keyboards/issue/6254-invalid-version-99/the_99.kmp
Labels: common/, chore

#8667 chore(android): Move namespace to Gradle files
  android/KMAPro/kMAPro/build.gradle
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMEA/app/build.gradle
  android/KMEA/app/src/main/AndroidManifest.xml
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample1/app/src/main/AndroidManifest.xml
  android/Samples/KMSample2/app/build.gradle
  android/Samples/KMSample2/app/src/main/AndroidManifest.xml
  android/Tests/KeyboardHarness/app/build.gradle
  android/Tests/KeyboardHarness/app/src/main/AndroidManifest.xml
  android/Tests/keycode/app/build.gradle
  android/Tests/keycode/app/src/main/AndroidManifest.xml
  oem/firstvoices/android/app/build.gradle
  oem/firstvoices/android/app/src/main/AndroidManifest.xml
Labels: android/, oem/, android/engine/, android/app/, oem/fv/, oem/fv/android/, chore, android/samples/

#8669 auto: increment master version to 17.0.95
  HISTORY.md
  VERSION.md
Labels: auto

#8487 chore(ios): Xcode 14 upgrade 🍒
  core/src/kmx/kmx_debug.cpp
  ios/Cartfile
  ios/Cartfile.resolved
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/kmbuild.sh
  ios/samples/KMSample2/KMSample2.xcodeproj/project.pbxproj
  ios/tools/KeyboardCalibrator/KeyboardCalibrator.xcodeproj/project.pbxproj
  ios/tools/KeyboardCalibrator/KeyboardCalibrator/DummyInputViewController.swift
  ios/tools/KeyboardCalibrator/KeyboardCalibrator/ViewController.swift
  oem/firstvoices/ios/Cartfile
  oem/firstvoices/ios/Cartfile.resolved
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
  oem/firstvoices/ios/build_common.sh
Labels: ios/, stable, cherry-pick, oem/, ios/app/, ios/engine/, core/, oem/fv/, oem/fv/ios/, chore, has-user-test, ios/samples/

#8671 refactor(android/engine): Move currentBanner to KMKeyboard
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboardWebViewClient.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Labels: android/, android/engine/, refactor, has-user-test

#8675 chore(android/engine): Remove jvm args
  android/KMEA/app/build.gradle
Labels: android/, android/engine/, chore

#8670 fix(developer): kmc: fix jis/abnt2 scan codes 🙀
  common/web/types/src/consts/virtual-key-constants.ts
Labels: developer/, common/, fix, common/web/, epic-ldml

#8678 auto: increment master version to 17.0.96
  HISTORY.md
  VERSION.md
Labels: auto

#8607 fix(developer): package editor no longer loses RTL flag for LMs 🍒
  common/windows/delphi/packages/PackageInfo.pas
Labels: developer/, stable, cherry-pick, common/, fix

#8679 refactor(android/engine): Move toggleSuggestionBanner to KMKeyboard 🛋
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Labels: android/, android/engine/, refactor, has-user-test

#8680 refactor(android/engine): Use isKeyboardLoaded() on a consistent basis 🛋
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Labels: android/, android/engine/, refactor, has-user-test

#8665 chore(developer): add eslint devDependency for kmc
  .eslintrc.cjs
  common/web/eslint/eslintNoNodeImports.js
  developer/src/.eslintrc.cjs
  developer/src/kmc-keyboard/.eslintrc.cjs
  developer/src/kmc-keyboard/package.json
  developer/src/kmc-kmn/.eslintrc.cjs
  developer/src/kmc-kmn/build.sh
  developer/src/kmc-kmn/package.json
  developer/src/kmc-model-info/.eslintrc.cjs
  developer/src/kmc-model-info/package.json
  developer/src/kmc-model/.eslintrc.cjs
  developer/src/kmc-model/package.json
  developer/src/kmc-package/.eslintrc.cjs
  developer/src/kmc-package/package.json
  developer/src/kmc/.eslintrc.cjs
  developer/src/kmc/package.json
  package-lock.json
  package.json
Labels: developer/, common/, developer/compilers/, common/web/, chore

#8666 chore(developer): kmc-keyboard should not use any node-specific modules
  common/web/types/src/main.ts
  common/web/types/src/util/util.ts
  common/web/types/test/util/test-util.ts
  developer/src/kmc-keyboard/.eslintrc.cjs
  developer/src/kmc-keyboard/src/compiler/keymanweb-compiler.ts
Labels: developer/, common/, developer/compilers/, common/web/, chore

#8668 fix(common): builder parse multi-param order
  resources/builder.inc.sh
Labels: common/, common/resources/, fix

#8683 chore(linux): Build for Ubuntu 23.04 Lunar as well
  linux/.pbuilderrc
  linux/scripts/cow.sh
  linux/scripts/launchpad.sh
Labels: linux/, chore

#8687 auto: increment master version to 17.0.97
  HISTORY.md
  VERSION.md
Labels: auto

#8689 fix(developer): warning fixes in kmcmplib 🙀
  developer/src/ext/json-schema-validator/json-validator.cpp
  developer/src/kmcmplib/include/kmcompx.h
  developer/src/kmcmplib/src/Compiler.cpp
  developer/src/kmcmplib/src/NamedCodeConstants.cpp
  developer/src/kmcmplib/src/kmx_u16.cpp
  developer/src/kmcmplib/src/versioning.cpp
  developer/src/kmcmplib/tests/api-test.cpp
Labels: developer/, fix, epic-ldml, user-test-missing

#8676 docs(windows): Add verify vs build tools
  docs/build/windows.md
Labels: windows/, docs

#8686 feat(developer): groundwork for support new transform, developer side 🙀
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  core/src/ldml/C7532_ldml_updating.md
  core/tests/unit/ldml/keyboards/fr-t-k0-azerty.xml
  core/tests/unit/ldml/keyboards/k_003_transform.xml
  core/tests/unit/ldml/keyboards/meson.build
  developer/src/kmc-keyboard/build.sh
  developer/src/kmc-keyboard/test/fixtures/basic.txt
  developer/src/kmc-keyboard/test/fixtures/basic.xml
  developer/src/kmc-keyboard/test/fixtures/sections/bksp/minimal.xml
  developer/src/kmc-keyboard/test/fixtures/sections/finl/minimal.xml
  developer/src/kmc-keyboard/test/fixtures/sections/meta/maximal.xml
  developer/src/kmc-keyboard/test/fixtures/sections/ordr/minimal.xml
  developer/src/kmc-keyboard/test/fixtures/sections/tran/minimal.xml
  developer/src/kmc-keyboard/test/test-bksp.ts
  developer/src/kmc-keyboard/test/test-finl.ts
  developer/src/kmc-keyboard/test/test-meta.ts
  developer/src/kmc-keyboard/test/test-ordr.ts
  developer/src/kmc-keyboard/test/test-tran.ts
  resources/standards-data/ldml-keyboards/techpreview/3.0/fr-t-k0-azerty.xml
  resources/standards-data/ldml-keyboards/techpreview/3.0/pt-k0-abnt2.xml
  resources/standards-data/ldml-keyboards/techpreview/cldr_info.json
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard.dtd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard.xsd
  resources/standards-data/ldml-keyboards/techpreview/fixup-schema.js
  resources/standards-data/ldml-keyboards/techpreview/ldml-keyboard.schema.json
  resources/standards-data/ldml-keyboards/techpreview/test/pt-k0-abnt2-test.xml
Labels: developer/, common/, developer/compilers/, common/resources/, feat, core/, common/web/, epic-ldml

#8694 auto: increment master version to 17.0.98
  HISTORY.md
  VERSION.md
Labels: auto
