Repository keymanapp/keyman, pull requests merged in 2023-12, with the labels that each got.

#10061 fix(android): no suggestions available when swapping pred-text target language ✨
  android/KMEA/app/src/main/assets/android-host.js
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboardWebViewClient.java
  common/web/input-processor/src/text/prediction/languageProcessor.ts
Labels: android/, common/, fix, android/engine/, common/web/, has-user-test

#10092 chore(developer): require project file to exist 🦕
  developer/src/kmconvert/Keyman.Developer.System.KeyboardProjectTemplate.pas
  developer/src/tike/actions/dmActionsMain.dfm
  developer/src/tike/actions/dmActionsMain.pas
  developer/src/tike/main/UfrmMain.dfm
  developer/src/tike/main/UfrmMain.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectFile.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectLoader.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectSaver.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmProject.pas
  developer/src/tike/xml/project/globalwelcome.xsl
Labels: developer/, developer/ide/, chore

#10108 chore(linux): Add support for loong64 architecture 🏠
  linux/debian/changelog
  linux/debian/control
  linux/debian/tests/control
Labels: linux/, stable, chore

#10109 chore(linux): Add support for loong64 architecture 🍒
  linux/debian/changelog
  linux/debian/control
  linux/debian/tests/control
Labels: linux/, cherry-pick, chore

#10086 fix(web): Don't throw errors after detach
  web/src/app/browser/src/hardwareEventKeyboard.ts
  web/src/engine/attachment/src/outputTargetForElement.ts
Labels: web/, fix, has-user-test

#10123 auto: increment master version to 17.0.222
  HISTORY.md
  VERSION.md
Labels: auto

#10118 fix(common): publish @keymanapp/developer-utils as npm module
  developer/src/common/web/utils/README.md
  developer/src/common/web/utils/build.sh
  developer/src/common/web/utils/package.json
  developer/src/kmc-keyboard-info/package.json
  developer/src/kmc-model-info/package.json
  developer/src/kmc/build.sh
  developer/src/kmc/package.json
  developer/src/server/package.json
  package-lock.json
  package.json
Labels: developer/, common/, developer/compilers/, fix, developer/ide/

#10125 auto: increment master version to 17.0.223
  HISTORY.md
  VERSION.md
Labels: auto

#10122 chore(linux): Update debian changelog 🏠
  linux/debian/changelog
Labels: linux/, stable, chore

#10121 chore(linux): Update debian changelog 🍒
  linux/debian/changelog
Labels: linux/, cherry-pick, chore

#10142 auto: increment master version to 17.0.225
  HISTORY.md
  VERSION.md
Labels: auto

#10114 feat(developer): Multi-process model for projects 🦕
  common/windows/delphi/general/RegistryKeys.pas
  common/windows/delphi/general/UserMessages.pas
  common/windows/delphi/general/utilfiletypes.pas
  developer/src/kmconvert/Keyman.Developer.System.KeyboardProjectTemplate.pas
  developer/src/kmconvert/Keyman.Developer.System.ModelProjectTemplate.pas
  developer/src/test/manual/multiprocess/Keyman.MultiProcess.UI.UfrmMultiProcess.dfm
  developer/src/test/manual/multiprocess/Keyman.MultiProcess.UI.UfrmMultiProcess.pas
  developer/src/test/manual/multiprocess/multiprocess.dpr
  developer/src/test/manual/multiprocess/multiprocess.dproj
  developer/src/test/manual/multiprocess/multiprocess.res
  developer/src/tike/actions/dmActionsMain.pas
  developer/src/tike/http/Keyman.Developer.System.HttpServer.App.pas
  developer/src/tike/main/DropTarget.pas
  developer/src/tike/main/Keyman.Developer.System.LaunchProjects.pas
  developer/src/tike/main/Keyman.Developer.System.Main.pas
  developer/src/tike/main/Keyman.Developer.System.MultiProcess.pas
  developer/src/tike/main/Keyman.Developer.System.ProjectOwningFile.pas
  developer/src/tike/main/Keyman.Developer.System.TikeCommandLine.pas
  developer/src/tike/main/Keyman.Developer.System.TikeMultiProcess.pas
  developer/src/tike/main/Keyman.System.CopyDataHelper.pas
  developer/src/tike/main/UfrmMain.pas
  developer/src/tike/project/Keyman.Developer.System.Project.Project.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectFile.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.ProjectFileUI.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.ProjectUI.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmProject.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
Labels: developer/, common/, feat, developer/ide/, has-user-test

#10137 fix(developer): prevent opening .kpj in multiple processes 🦕
  developer/src/tike/actions/dmActionsMain.pas
  developer/src/tike/main/UfrmMain.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectFiles.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.ProjectFilesUI.pas
Labels: developer/, fix, developer/ide/

#10131 change(web): default shift-caps multitap inclusion of default layer in rota 🐵
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/keyboard-processor/src/keyboards/defaultLayouts.ts
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file.ts
  web/src/test/manual/web/keyboards/gesture_prototyping/build/gesture_prototyping.js
  web/src/test/manual/web/keyboards/gesture_prototyping/source/gesture_prototyping.keyman-touch-layout
Labels: web/, common/, common/web/, epic-gestures

#10134 change(web): prevents auto-cancellation of simple-taps for flicked layouts when touchpoint moves 🐵
  web/src/engine/osk/src/banner/bannerGestureSet.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
  web/src/engine/osk/src/visualKeyboard.ts
  web/src/test/manual/web/prediction-mtnt/index.html
Labels: web/, epic-gestures

#10160 auto: increment master version to 17.0.226
  HISTORY.md
  VERSION.md
Labels: auto

#10014 fix(web): accidental suggestion-banner retoggle when disabling predictions
  common/web/input-processor/src/text/prediction/languageProcessor.ts
Labels: web/, common/, fix, common/web/, has-user-test

#10141 fix(web): Fix null error with legacy keyboards
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
Labels: web/, common/, fix, common/web/, has-user-test

#10179 auto: increment master version to 17.0.227
  HISTORY.md
  VERSION.md
Labels: auto

#10176 fix(windows): debug includes libcmtd vs libcmt.dll
  windows/src/engine/keyman64/keyman64.vcxproj
Labels: windows/, fix, windows/engine/

#10172 fix(web): heterogenous longpress roaming 🐵
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/pathMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/contactModel.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
Labels: web/, common/, fix, common/web/, has-user-test, epic-gestures

#10177 fix(web): Fix null error with legacy keyboards 🍒 🏠
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
Labels: web/, stable, cherry-pick, common/, fix, common/web/, has-user-test

#10102 change(web): floating tablet key-previews 🐵
  web/src/engine/osk/src/input/gestures/browser/keytip.ts
  web/src/engine/osk/src/input/gestures/browser/tabletPreview.ts
  web/src/engine/osk/src/keyboard-layout/gesturePreviewHost.ts
  web/src/engine/osk/src/visualKeyboard.ts
  web/src/resources/osk/kmwosk.css
  web/src/test/manual/web/prediction-mtnt/index.html
Labels: web/, epic-gestures

#10103 feat(web): multitap key-previews 🐵
  web/src/engine/osk/src/input/gestures/browser/keytip.ts
  web/src/engine/osk/src/input/gestures/browser/multitap.ts
  web/src/engine/osk/src/input/gestures/browser/tabletPreview.ts
  web/src/engine/osk/src/keyboard-layout/gesturePreviewHost.ts
  web/src/engine/osk/src/visualKeyboard.ts
  web/src/resources/osk/kmwosk.css
Labels: web/, feat, epic-gestures

#10104 fix(web): test-keyboard patchup 🐵
  web/src/test/manual/web/keyboards/diacritic_rota/build/diacritic_rota.js
  web/src/test/manual/web/keyboards/diacritic_rota/diacritic_rota.kpj
  web/src/test/manual/web/keyboards/diacritic_rota/source/diacritic_rota.keyman-touch-layout
  web/src/test/manual/web/keyboards/diacritic_rota/source/diacritic_rota.kps
  web/src/test/manual/web/keyboards/gesture_prototyping/gesture_prototyping.kpj
  web/src/test/manual/web/keyboards/ye_old_ten_key/build/ye_old_ten_key.js
  web/src/test/manual/web/keyboards/ye_old_ten_key/source/ye_old_ten_key.keyman-touch-layout
  web/src/test/manual/web/keyboards/ye_old_ten_key/source/ye_old_ten_key.kps
  web/src/test/manual/web/keyboards/ye_old_ten_key/ye_old_ten_key.kpj
  web/src/test/manual/web/keyboards/ye_old_ten_key/ye_old_ten_key.kvk
Labels: web/, fix, epic-gestures

#10180 fix(linux): Do not restart Fcitx
  linux/keyman-config/keyman_config/fcitx_util.py
  linux/keyman-config/keyman_config/install_kmp.py
Labels: linux/, fix, user-test-missing

#10197 auto: increment master version to 17.0.228
  HISTORY.md
  VERSION.md
Labels: auto

#10201 chore(mac): force detach of disk image during build after 5 failures
  mac/Keyman4MacIM/make-km-dmg.sh
Labels: mac/, chore

#10196 chore(linux): Small refactoring to make it easier to read
  linux/keyman-config/keyman_config/install_kmp.py
Labels: linux/, linux/config/, chore

#10203 chore(common): Specify Keyman repo on GitHub actions
  .github/workflows/auto-merge-keyman-server-pr.yml
  .github/workflows/crowdin.yml
  .github/workflows/deb-packaging.yml
  .github/workflows/labeler.yml
Labels: common/, chore

#10174 chore(android,mac): Update Kibaku crowdin strings
  android/KMAPro/kMAPro/src/main/res/values-ckl-rNG/strings.xml
  mac/Keyman4MacIM/Keyman4MacIM/ckl.lproj/Localizable.strings
Labels: android/, mac/, android/app/, chore

#10175 chore(android,mac): Update Mon crowdin strings
  android/KMAPro/kMAPro/src/main/res/values-mnw-rMM/strings.xml
  mac/Keyman4MacIM/Keyman4MacIM/mnw.lproj/Localizable.strings
Labels: android/, mac/, android/app/, chore

#10209 fix(developer): crash loading a project when referenced .xml is missing
  developer/src/tike/project/Keyman.Developer.System.Project.xmlLdmlProjectFile.pas
Labels: developer/, fix, developer/ide/

#10158 feat(developer): kmc emit hint if project file is old version 🦕
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/src/messages/infrastructureMessages.ts
  developer/src/kmc/test/test-project-build.ts
Labels: developer/, developer/compilers/, feat

#10219 auto: increment master version to 17.0.229
  HISTORY.md
  VERSION.md
Labels: auto

#10169 feat(web): gesture processing - path memory-use optimization 🐵
  common/web/gesture-recognizer/src/engine/configuration/gestureRecognizerConfiguration.ts
  common/web/gesture-recognizer/src/engine/headless/cumulativePathStats.ts
  common/web/gesture-recognizer/src/engine/headless/gestureDebugPath.ts
  common/web/gesture-recognizer/src/engine/headless/gestureDebugSource.ts
  common/web/gesture-recognizer/src/engine/headless/gesturePath.ts
  common/web/gesture-recognizer/src/engine/headless/gestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/pathMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/inputEngineBase.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  common/web/gesture-recognizer/src/test/auto/headless/gesturePath.js
  common/web/gesture-recognizer/src/test/auto/headless/gestureSource.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
  common/web/gesture-recognizer/src/test/resources/simulateMultiSourceInput.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/hostFixtureLayoutController.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputSequenceSimulator.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/sequenceRecorder.ts
  web/src/engine/osk/src/input/gestures/browser/flick.ts
Labels: web/, common/, feat, common/web/, epic-gestures

#10195 chore(web): build script cleanup 🐵
  web/build.sh
  web/src/test/manual/build.sh
  web/src/test/manual/web/gesture-recognizer/hostConfiguration.mjs
Labels: web/, chore, epic-gestures

#10228 chore(ios): FV certificate key
  oem/firstvoices/ios/exportAppStore.plist
Labels: ios/, oem/, oem/fv/, oem/fv/ios/, chore

#10229 chore(ios): FV certificate key 🏠
  oem/firstvoices/ios/exportAppStore.plist
Labels: ios/, stable, oem/, oem/fv/, oem/fv/ios/, chore

#10115 feat(core): action struct to action items conversion
  core/include/keyman/keyman_core_api.h
  core/src/action.cpp
  core/src/action.hpp
  core/src/km_core_action_api.cpp
  core/src/state.hpp
  core/tests/unit/kmnkbd/action_api.cpp
  core/tests/unit/kmnkbd/action_set_api.cpp
  core/tests/unit/kmnkbd/meson.build
Labels: feat, core/

#10151 fix(developer): various project fixes 🦕
  common/windows/delphi/general/RegistryKeys.pas
  developer/src/kmconvert/kmconvert.dpr
  developer/src/kmconvert/kmconvert.dproj
  developer/src/tike/actions/dmActionsMain.pas
  developer/src/tike/dialogs/UfrmOptions.dfm
  developer/src/tike/dialogs/UfrmOptions.pas
  developer/src/tike/main/KeymanDeveloperOptions.pas
  developer/src/tike/main/UfrmMain.pas
  developer/src/tike/main/mrulist.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectFile.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectFiles.pas
  developer/src/tike/project/Keyman.Developer.System.Project.UrlRenderer.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmProject.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmProjectSettings20.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.xmlLdmlProjectFileUI.pas
  developer/src/tike/xml/project/elements.xsl
Labels: developer/, common/, fix, developer/ide/

#10154 feat(developer): Add Window menu 🦕
  developer/src/tike/actions/dmActionsMain.dfm
  developer/src/tike/actions/dmActionsMain.pas
  developer/src/tike/main/Keyman.Developer.System.LaunchProjects.pas
  developer/src/tike/main/Keyman.Developer.System.TikeCommandLine.pas
  developer/src/tike/main/Keyman.Developer.System.TikeMultiProcess.pas
  developer/src/tike/main/UfrmMain.dfm
  developer/src/tike/main/UfrmMain.pas
  developer/src/tike/main/mrulist.pas
Labels: developer/, feat, developer/ide/, has-user-test

#10155 feat(developer): New Project opens in new process 🦕
  developer/src/tike/actions/dmActionsMain.pas
  developer/src/tike/main/Keyman.Developer.UI.ImportWindowsKeyboardDialogManager.pas
  developer/src/tike/main/UfrmMain.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmNewModelProjectParameters.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmNewProjectParameters.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmProject.pas
Labels: developer/, feat, developer/ide/, has-user-test

#10211 fix(developer): two errors in touch layout editor
  developer/src/tike/xml/layoutbuilder/builder.js
Labels: developer/, fix, developer/ide/

#10216 feat(developer): Move options to ~/.keymandeveloper/options.json
  common/windows/delphi/ext/sentry/test/SentryClientVclTest.dpr
  common/windows/delphi/general/JsonUtil.pas
  common/windows/delphi/general/Keyman.System.KeymanSentryClient.pas
  common/windows/delphi/general/RegistryKeys.pas
  developer/src/common/web/utils/index.ts
  developer/src/common/web/utils/src/KeymanSentry.ts
  developer/src/common/web/utils/src/options.ts
  developer/src/common/web/utils/src/spawnAwait.ts
  developer/src/kmc/src/kmc.ts
  developer/src/kmconvert/kmconvert.dpr
  developer/src/tike/main/Keyman.Developer.System.KeymanDeveloperPaths.pas
  developer/src/tike/main/Keyman.Developer.System.Main.pas
  developer/src/tike/main/Keyman.Developer.System.TikeCommandLine.pas
  developer/src/tike/main/KeymanDeveloperOptions.pas
  developer/src/tike/main/UfrmMain.pas
  windows/src/desktop/kmbrowserhost/kmbrowserhost.dpr
  windows/src/desktop/kmconfig/kmconfig.dpr
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/engine/keyman/keyman.dpr
  windows/src/engine/tsysinfo/UfrmRemoteExceptionHandler.pas
  windows/src/engine/tsysinfo/tsysinfo.dpr
  windows/src/engine/tsysinfox64/tsysinfox64.dpr
Labels: windows/, developer/, common/, developer/compilers/, feat, developer/ide/, windows/config/, windows/engine/, has-user-test

#10090 feat(core): ldml improve key-not-found 🙀
  core/src/kmx/kmx_consts.cpp
  core/src/kmx/kmx_processevent.h
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_processor.hpp
  core/src/ldml/ldml_vkeys.cpp
  core/src/ldml/ldml_vkeys.hpp
  core/tests/unit/ldml/keyboards/k_102_keytest.xml
  core/tests/unit/ldml/ldml.cpp
  core/tests/unit/ldml/test_kmx_plus.cpp
Labels: feat, core/

#10198 fix(core): remove a TODO-LDML 🙀
  core/src/ldml/ldml_processor.cpp
Labels: fix, core/

#10222 fix(core): improve memory allocation issues in calling into icu 🙀
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
Labels: fix, core/

#10239 auto: increment master version to 17.0.230
  HISTORY.md
  VERSION.md
Labels: auto

#10152 change(web): prep for enhanced flick-resets - alters the contact-path evaluation signature 🐵
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/pathMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/pathModel.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedPathSpecs.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
Labels: web/, common/, common/web/, epic-gestures

#10173 feat(web): enhanced flick resetting via path base-coord replacement 🐵
  common/web/gesture-recognizer/src/engine/headless/cumulativePathStats.ts
  common/web/gesture-recognizer/src/engine/headless/gesturePath.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/contactModel.ts
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  web/src/engine/osk/src/input/gestures/browser/flick.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, common/, feat, common/web/, has-user-test, epic-gestures

#10252 fix(core): ldml: fix bad usage of unique_ptr 🙀
  core/src/ldml/ldml_transforms.cpp
Labels: fix, core/

#10251 chore(linux): docker: fix Node.js install, make customizable
  common/web/input-processor/README.md
  common/web/keyboard-processor/README.md
  docs/build/linux-ubuntu.md
  docs/build/old/web-notes.md
  linux/Dockerfile
Labels: linux/, common/, common/web/, chore, docs

#10245 fix(web): fixes null-stub keyboard lookups, related 'keyboardchange' event niche case
  web/src/app/browser/src/keymanEngine.ts
  web/src/engine/main/src/contextManagerBase.ts
  web/src/engine/package-cache/src/stubAndKeyboardCache.ts
Labels: web/, fix

#10253 fix(web): unit test for null-null keyboard switch event from #10245
  web/src/test/auto/dom/cases/browser/contextManager.js
Labels: web/, fix

#10238 fix(web): fixes android-webview emulation Web test page
  web/src/test/manual/embed/android-harness/host.js
Labels: web/, fix

#10243 fix(mac): improve code signing robustness
  mac/build.sh
  mac/mac-utils.inc.sh
  mac/setup/build.sh
Labels: mac/, fix

#10066 chore(mac): use core actions struct
  mac/Keyman4Mac/Keyman4Mac/AppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMCoreActionHandler.h
  mac/Keyman4MacIM/Keyman4MacIM/KMCoreActionHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KeySender.h
  mac/Keyman4MacIM/Keyman4MacIM/KeySender.m
  mac/Keyman4MacIM/Keyman4MacIM/TextApiCompliance.m
  mac/Keyman4MacIM/KeymanTests/CoreActionHandlerTests.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/project.pbxproj
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/xcshareddata/xcschemes/KeymanEngine4Mac.xcscheme
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/ActionArrayOptimizer.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/ActionArrayOptimizer.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreAction.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreHelper.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreHelper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreKeyOutput.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreKeyOutput.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KeymanEngine4Mac.h
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/CoreHelperTests.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/CoreWrapperTests.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KMEngineTests.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KeymanEngineTestsStaticHelperMethods.h
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KeymanEngineTestsStaticHelperMethods.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/armenian_mnemonic.kmx
Labels: mac/, chore, has-user-test

#10260 chore(common): Add entries from 16.0.144 HISTORY.md
  HISTORY.md
Labels: common/, chore

#10262 auto: increment master version to 17.0.231
  HISTORY.md
  VERSION.md
Labels: auto

#10232 chore(web): Better match directory structure for headless engine tests
  web/src/engine/events/build.sh
  web/src/engine/osk/build.sh
  web/src/engine/package-cache/build.sh
  web/src/engine/paths/build.sh
  web/src/test/auto/headless/engine/events/emitterListenerSpy.js
  web/src/test/auto/headless/engine/events/legacyEventEmitter.js
  web/src/test/auto/headless/engine/osk/activation.js
  web/src/test/auto/headless/engine/osk/lengthStyles.js
  web/src/test/auto/headless/engine/package-cache/cloudQueries.js
  web/src/test/auto/headless/engine/package-cache/keyboardRequisitioner.js
  web/src/test/auto/headless/engine/package-cache/keyboardStub.js
  web/src/test/auto/headless/engine/package-cache/nodeCloudRequester.js
  web/src/test/auto/headless/engine/package-cache/stubAndKeyboardCache.js
  web/src/test/auto/headless/engine/paths/pathConfiguration.js
Labels: web/, chore

#10233 fix(web): Fix types that listInputs and isKMWInput accept
  web/src/engine/attachment/src/pageContextAttachment.ts
  web/src/engine/element-wrappers/src/input.ts
Labels: web/, fix

#10250 chore(web): Add unit tests for `pageContextAttachment`
  package-lock.json
  web/build.sh
  web/common.inc.sh
  web/package.json
  web/src/engine/attachment/.c8rc.json
  web/src/engine/attachment/build.sh
  web/src/test/auto/.mocharc.json
  web/src/test/auto/headless/engine/attachment/pageContextAttachment.tests.ts
  web/src/test/auto/tsconfig.json
  web/test.sh
Labels: web/, chore

#10268 auto: increment master version to 17.0.232
  HISTORY.md
  VERSION.md
Labels: auto

#10271 fix(mac): unit tests should expect core context clear after invalidate
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KMEngineTests.m
Labels: mac/, fix

#10270 feat(web): adds highlighting to BKSP while held
  web/src/engine/osk/src/input/gestures/heldRepeater.ts
Labels: web/, feat, has-user-test

#10277 auto: increment master version to 17.0.233
  HISTORY.md
  VERSION.md
Labels: auto

#10279 fix(web): unbreak some ts paths
  common/web/types/src/kmx/string-list.ts
  common/web/types/src/osk/osk.ts
Labels: web/, common/, fix, common/web/

#10230 fix(core): clear core context on invalidate cache
  common/test/keyboards/baseline/baseline.kpj
  common/test/keyboards/baseline/k_000___null_keyboard.kmn
  common/test/keyboards/baseline/k_000___null_keyboard.kmx
  common/test/keyboards/baseline/k_008___vkey_input__ctrl_alt_2_.kmn
  common/test/keyboards/baseline/k_008___vkey_input__ctrl_alt_2_.kmx
  common/test/keyboards/baseline/k_049___enter_invalidates_context.kmn
  common/test/keyboards/baseline/k_049___enter_invalidates_context.kmx
  core/src/kmx/kmx_processor.cpp
  core/tests/kmx_test_source/kmx_test_source.cpp
  core/tests/kmx_test_source/kmx_test_source.hpp
  core/tests/unit/kmx/kmx.cpp
  core/tests/unit/kmx/meson.build
  linux/ibus-keyman/tests/testfixture.cpp
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KMEngineTests.m
Labels: mac/, linux/, common/, fix, linux/engine/, core/

#10269 fix(oem/fv): Add fv_hulquminum_combine
  oem/firstvoices/keyboards.csv
Labels: oem/, fix, oem/fv/, has-user-test

#10287 auto: increment master version to 17.0.234
  HISTORY.md
  VERSION.md
Labels: auto

#10282 fix(mac): Improve detection of non-compliant apps
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/TextApiCompliance.m
Labels: mac/, fix

#10281 fix(web): default multitap logic for shift-layer shift multitaps
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/keyboard-processor/src/keyboards/defaultLayouts.ts
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file.ts
Labels: web/, common/, fix, common/web/, user-test-required, has-user-test

#10288 auto: increment master version to 17.0.235
  HISTORY.md
  VERSION.md
Labels: auto

#10236 feat(developer): ldml: more improvement for key-not-found 🙀
  common/tools/hextobin/hextobin.ts
  core/src/ldml/ldml_processor.cpp
  core/tests/unit/ldml/ldml.cpp
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/test/fixtures/basic.txt
  developer/src/kmc-ldml/test/test-keys.ts
Labels: developer/, common/, developer/compilers/, feat, core/

#10294 auto: increment master version to 17.0.236
  HISTORY.md
  VERSION.md
Labels: auto

#10292 fix(oem/fv): Add fv_kwadacha_tsekene
  oem/firstvoices/keyboards.csv
Labels: oem/, fix, oem/fv/, has-user-test

#10289 fix(common): give warning if emcc.py is present but not executable
  resources/locate_emscripten.inc.sh
Labels: common/, common/resources/, fix

#10301 auto: increment master version to 17.0.237
  HISTORY.md
  VERSION.md
Labels: auto
