Repository keymanapp/keyman, pull requests merged in 2023-07, with the labels that each got.

#9151 fix(developer): another omnibus set of bug fixes for kmc 🗜
  common/schemas/kpj-9.0/README.md
  common/schemas/kpj-9.0/kpj-9.0.schema.json
  common/schemas/kpj/README.md
  common/web/types/build.sh
  common/web/types/src/kpj/kpj-file-reader.ts
  common/web/types/src/util/compiler-interfaces.ts
  common/web/types/test/helpers/TestCompilerCallbacks.ts
  common/web/types/test/kpj/test-kpj-file-reader.ts
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/compiler/messages.ts
  developer/src/kmc-ldml/build.sh
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/messages.ts
  developer/src/kmc-package/src/compiler/package-validation.ts
  developer/src/kmc-package/src/compiler/package-version-validation.ts
  developer/src/kmc-package/test/fixtures/invalid/keyman.en.error_model_must_have_at_least_one_language.model.kps
  developer/src/kmc-package/test/fixtures/invalid/warn_keyboard_should_have_at_least_one_language.kps
  developer/src/kmc-package/test/fixtures/invalid/warn_keyboard_versions_do_not_match.kps
  developer/src/kmc-package/test/test-messages.ts
  developer/src/kmc/build.sh
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmcmplib/src/meson.build
Labels: developer/, common/, developer/compilers/, fix, common/web/, epic-kmc-kmw

#9153 fix(developer): strip .kvk extension 🗜
  developer/src/kmc-kmn/src/compiler/compiler.ts
Labels: developer/, developer/compilers/, fix, epic-kmc-kmw

#9141 feat(common): add segmenter for element strings 🙀
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/src/util/util.ts
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
  common/web/types/test/util/test-unescape.ts
Labels: common/, feat, common/web/, epic-ldml

#9149 fix(windows): adds an extra row for Change Hotkey text label
  windows/src/desktop/kmshell/main/UfrmChangeHotkey.dfm
Labels: windows/, fix, windows/config/, has-user-test

#9155 fix(linux): Another attempt to fix packaging GHA
  .github/workflows/deb-packaging.yml
Labels: linux/, fix

#9164 fix(linux): Fix packaging GHA
  .github/workflows/deb-packaging.yml
Labels: linux/, fix

#9169 fix(linux): Fix packaging GHA
  .github/workflows/deb-packaging.yml
Labels: linux/, fix

#9174 auto: increment master version to 17.0.134
  HISTORY.md
  VERSION.md
Labels: auto

#9172 fix(linux): Fix packaging GHA
  .github/workflows/deb-packaging.yml
Labels: linux/, fix

#9092 chore(ios): standardizes iOS build scripts
  ios/.build-builder
  ios/README.md
  ios/build.sh
  ios/ci.sh
  ios/engine/build.sh
  ios/keyman/build.sh
  ios/kmbuild.sh
  ios/samples/KMSample1/build.sh
  ios/samples/KMSample2/build.sh
  ios/samples/build_common.sh
  ios/samples/common.inc.sh
  ios/tools/prepRelease.sh
  oem/firstvoices/ios/build.sh
  oem/firstvoices/ios/build_common.sh
Labels: ios/, oem/, ios/app/, ios/engine/, oem/fv/, oem/fv/ios/, chore, ios/samples/

#9175 fix(web): fixes up Web's InlinedOSK manual test page
  web/src/test/manual/web/inline-osk/index.html
Labels: web/, fix

#9179 fix(web): re-establishes web srcmap uploading
  web/ci.sh
Labels: web/, fix

#9129 refactor(linux): Code refactoring
  linux/keyman-config/keyman_config/gnome_keyboards_util.py
  linux/keyman-config/keyman_config/gsettings.py
  linux/keyman-config/keyman_config/ibus_util.py
Labels: linux/, linux/config/, refactor

#9168 refactor(linux): Extract methods
  linux/keyman-config/keyman_config/keyboard_details.py
Labels: linux/, linux/config/, refactor

#9167 fix(linux): Fix vertical alignment of labels in About dialog
  linux/keyman-config/keyman_config/keyboard_details.py
Labels: linux/, fix, linux/config/

#9166 fix(linux): Add scrollbar to About dialog
  linux/keyman-config/keyman_config/keyboard_details.py
Labels: linux/, fix, linux/config/, has-user-test

#9165 fix(linux): Remove tags from package description
  linux/keyman-config/keyman_config/keyboard_details.py
Labels: linux/, fix, linux/config/, has-user-test

#9130 fix(linux): Fix uninstalling keyboard for multiple languages with ibus
  linux/keyman-config/keyman_config/uninstall_kmp.py
  linux/keyman-config/tests/test_uninstall_kmp.py
Labels: linux/, fix, linux/config/

#9170 fix(developer): improve coverage, add todos 🙀
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-ldml/src/compiler/disp.ts
  developer/src/kmc-ldml/src/compiler/keys.ts
Labels: developer/, developer/compilers/, fix, epic-ldml

#9171 chore(developer): refactor so KmnCompiler only created once within kmc 🙀
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/src/compiler/section-compiler.ts
  developer/src/kmc-ldml/src/compiler/tran.ts
  developer/src/kmc-ldml/src/compiler/vars.ts
  developer/src/kmc-ldml/test/helpers/index.ts
Labels: developer/, developer/compilers/, chore, epic-ldml

#9173 fix(common): support multichar escapes in element sets 🙀
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
  developer/src/kmc-ldml/test/fixtures/sections/ordr/multi-escape.xml
  developer/src/kmc-ldml/test/test-tran.ts
Labels: developer/, common/, developer/compilers/, fix, common/web/, epic-ldml

#9188 chore(linux): Update docker builds
  docs/build/linux-ubuntu.md
  linux/Dockerfile
Labels: linux/, chore, docs

#9194 auto: increment master version to 17.0.135
  HISTORY.md
  VERSION.md
Labels: auto

#9195 chore(common): improve coverage, fix todos 🙀
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/src/util/util.ts
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
  common/web/types/test/util/test-unescape.ts
  developer/src/kmc-ldml/src/compiler/compiler-options.ts
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/layr.ts
  developer/src/kmc-ldml/src/compiler/loca.ts
  developer/src/kmc-ldml/src/compiler/section-compiler.ts
  developer/src/kmc-ldml/src/compiler/tran.ts
  developer/src/kmc-ldml/src/compiler/vkey.ts
  developer/src/kmc-ldml/test/fixtures/sections/vars/fail-badref-6.xml
  developer/src/kmc-ldml/test/test-compiler-e2e.ts
  developer/src/kmc-ldml/test/test-layr.ts
  developer/src/kmc-ldml/test/test-vars.ts
Labels: developer/, common/, developer/compilers/, common/web/, chore, epic-ldml

#9201 chore(ios): minor build-script cleanup
  ios/build.sh
  ios/engine/build.sh
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/build.sh
  ios/samples/KMSample1/build.sh
  ios/samples/KMSample2/build.sh
  ios/samples/common.inc.sh
Labels: ios/, ios/app/, ios/engine/, chore, ios/samples/

#9192 chore(linux): Allow to run tests without integration tests
  linux/ibus-keyman/build.sh
Labels: linux/, linux/engine/, chore

#9199 fix(web): sentry sourcemapping round 2 - yesterday's 'fix' unfortunately doesn't upload the maps
  web/ci.sh
Labels: web/, fix

#9200 chore(web): normalizes sourcemap paths for cleaner Sentry reports
  common/tools/sourcemap-path-remapper/src/index.ts
  common/web/sentry-manager/build-bundler.js
  web/ci.sh
  web/common.inc.sh
  web/src/app/browser/build.sh
  web/src/app/ui/build.sh
  web/src/app/webview/build.sh
  web/src/tools/building/sourcemap-root/index.ts
Labels: web/, common/, common/web/, chore

#9186 fix(developer): omnibus package of fixes for kmc 🗜
  common/web/types/src/consts/virtual-key-constants.ts
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file-writer.ts
  common/web/types/src/kmx/kmx-file-reader.ts
  common/web/types/src/kvk/kvk-file-reader.ts
  common/web/types/src/kvk/kvk-file-writer.ts
  common/web/types/src/kvk/kvk-file.ts
  common/web/types/src/kvk/kvks-file-reader.ts
  common/web/types/src/kvk/kvks-file-writer.ts
  common/web/types/src/kvk/visual-keyboard.ts
  common/web/types/test/fixtures/kvk/balochi_inpage.kvk
  common/web/types/test/fixtures/kvk/balochi_inpage.kvks
  common/web/types/test/kvk/test-kvk-file.ts
  common/web/types/test/kvk/test-kvk-round-trip.ts
  common/web/types/test/kvk/test-kvk-utils.ts
  common/web/types/test/kvk/test-kvks-file.ts
  developer/src/kmc-kmn/src/kmw-compiler/javascript-strings.ts
  developer/src/kmc-kmn/src/kmw-compiler/kmw-compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/util.ts
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
  developer/src/kmc-kmn/src/kmw-compiler/visual-keyboard-compiler.ts
  developer/src/kmc-ldml/test/fixtures/basic-no-debug.js
  developer/src/kmc-ldml/test/fixtures/basic.js
  developer/src/kmcmplib/src/CasedKeys.cpp
  developer/src/kmcmplib/src/Compiler.cpp
  developer/src/kmcmplib/src/UnreachableRules.cpp
  developer/src/kmcmplib/src/kmx_u16.cpp
  developer/src/kmcmplib/src/meson.build
Labels: developer/, common/, developer/compilers/, fix, common/web/, epic-kmc-kmw

#9210 fix(developer): bring kmc-package inline with file format spec 🗜
  common/web/types/src/package/kmp-json-file.ts
  common/web/types/src/package/kps-file.ts
  developer/src/kmc-package/src/compiler/cp1252.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/kmp-inf-writer.ts
  developer/src/kmc-package/src/compiler/kmx-keyboard-metadata.ts
  developer/src/kmc-package/src/compiler/package-keyboard-target-validator.ts
  developer/src/kmc-package/src/compiler/package-metadata-collector.ts
  developer/src/kmc-package/src/compiler/package-metadata-updater.ts
  developer/src/kmc-package/src/compiler/package-version-validation.ts
  developer/src/kmc-package/src/compiler/package-version-validator.ts
  developer/src/kmc-package/src/compiler/web-keyboard-metadata.ts
  developer/src/kmc-package/test/fixtures/khmer_angkor/ref/kmp.json
  developer/src/kmc-package/test/fixtures/kmp.inf/README.md
  developer/src/kmc-package/test/fixtures/kmp.inf/kmp.inf
  developer/src/kmc-package/test/fixtures/kmp.inf/kmp.json
  developer/src/kmc-package/test/fixtures/kmp.json/ahom_star.kps
  developer/src/kmc-package/test/fixtures/kmp.json/build/ahom_star.js
  developer/src/kmc-package/test/fixtures/kmp.json/build/ahom_star.kmx
  developer/src/kmc-package/test/fixtures/kmp.json/build/ahom_star.kvk
  developer/src/kmc-package/test/fixtures/kmp.json/kmp.json
  developer/src/kmc-package/test/test-kmp-inf-writer.ts
  developer/src/kmc-package/test/test-package-compiler.ts
Labels: developer/, common/, developer/compilers/, fix, common/web/, epic-kmc-kmw

#9017 feat(linux): Allow to install keyboard for multiple languages
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/keyman_config/uninstall_kmp.py
  linux/keyman-config/km-package-install
  linux/keyman-config/km-package-install.bash-completion
  linux/keyman-config/tests/test_uninstall_kmp.py
Labels: linux/, feat, linux/config/, has-user-test

#9216 auto: increment master version to 17.0.136
  HISTORY.md
  VERSION.md
Labels: auto

#9214 chore(common): Update crowdin strings for Kibaku
  android/KMAPro/kMAPro/src/main/res/values-ckl-rNG/strings.xml
  mac/Keyman4MacIM/Keyman4MacIM/ckl.lproj/Localizable.strings
  windows/src/desktop/kmshell/locale/ckl-NG/strings.xml
Labels: windows/, android/, mac/, common/, android/app/, windows/config/, chore

#9197 feat(core): kmxplus uset implementation in core 🙀
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/tests/unit/ldml/test_kmx_plus.cpp
Labels: feat, core/, epic-ldml

#9212 chore(linux): Add support for `--no-integration` flag to build files
  linux/build.sh
  linux/keyman-config/build.sh
  linux/keyman-system-service/build.sh
Labels: linux/, linux/config/, chore

#9196 spec(core): marker spec 🙀
  core/src/ldml/C9134_ldml_markers.md
Labels: core/, epic-ldml

#9222 auto: increment master version to 17.0.137
  HISTORY.md
  VERSION.md
Labels: auto

#9225 chore: authenticate github request when triggering test builds
  resources/build/run-required-test-builds.sh
Labels: common/, common/resources/, chore

#9217 feat(web): logs enhanced debug info for error reports
  common/web/keyboard-processor/src/keyboards/keyboard.ts
  web/src/engine/main/src/keymanEngine.ts
Labels: web/, common/, feat, common/web/

#9206 fix(web): silences low-priority warning that shows up in iOS kbd init
  web/src/engine/osk/src/views/oskView.ts
Labels: web/, fix

#9232 auto: increment master version to 17.0.138
  HISTORY.md
  VERSION.md
Labels: auto

#9221 chore(linux): Trigger Linux integration tests
  resources/build/trigger-definitions.inc.sh
Labels: linux/, common/, common/resources/, chore

#9228 chore(developer): cleanup compiler messages in kmc 🗜
  common/web/keyman-version/package.json
  common/web/types/package.json
  common/web/types/src/main.ts
  common/web/types/src/util/compiler-interfaces.ts
  common/web/types/test/helpers/TestCompilerCallbacks.ts
  developer/src/common/web/test-helpers/index.ts
  developer/src/common/web/test-helpers/package.json
  developer/src/common/web/test-helpers/verifyCompilerMessagesObject.ts
  developer/src/kmc-analyze/package.json
  developer/src/kmc-kmn/package.json
  developer/src/kmc-ldml/package.json
  developer/src/kmc-model-info/package.json
  developer/src/kmc-model/package.json
  developer/src/kmc-package/package.json
  developer/src/kmc-package/test/test-kmp-inf-writer.ts
  developer/src/kmc/package.json
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/src/messages/NodeCompilerCallbacks.ts
  developer/src/kmc/src/messages/messages.ts
  package-lock.json
Labels: developer/, common/, developer/compilers/, common/web/, chore, epic-kmc-kmw

#9234 chore(developer): add `--color` switch to kmc 🗜
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/messages/NodeCompilerCallbacks.ts
Labels: developer/, common/, developer/compilers/, common/web/, chore, has-user-test, epic-kmc-kmw

#9237 chore(developer): handle compilerWarningsAsErrors option 🗜
  common/web/types/src/main.ts
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/src/messages/NodeCompilerCallbacks.ts
Labels: developer/, common/, developer/compilers/, common/web/, chore, epic-kmc-kmw

#9247 auto: increment master version to 17.0.139
  HISTORY.md
  VERSION.md
Labels: auto

#9259 fix(common): set variables need to serialize elementstring 🙀
  common/web/types/src/kmx/kmx-plus-builder/build-vars.ts
  common/web/types/src/kmx/kmx-plus-builder/kmx-plus-builder.ts
  developer/src/kmc-ldml/test/fixtures/basic.txt
Labels: developer/, common/, developer/compilers/, fix, common/web/, epic-ldml

#9229 change(web): ManagedPromise cleanup + new TimeoutPromise 🐵
  common/web/gesture-recognizer/src/test/auto/headless/basicSegmentations.js
  common/web/gesture-recognizer/src/test/auto/headless/trackedPath.js
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessInputEngine.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/index.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/timedPromise.ts
  common/web/utils/build-bundler.js
  common/web/utils/build.sh
  common/web/utils/src/index.ts
  common/web/utils/src/managedPromise.ts
  common/web/utils/src/test/managedPromise.js
  common/web/utils/src/test/timeoutPromise.js
  common/web/utils/src/timeoutPromise.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/webview/src/keymanEngine.ts
  web/src/engine/main/src/engineConfiguration.ts
  web/src/engine/main/src/keyboardInterface.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/package-cache/src/domCloudRequester.ts
  web/src/engine/package-cache/src/nodeCloudRequester.ts
  web/src/test/auto/dom/base.conf.cjs
  web/src/test/auto/dom/cases/attachment/outputTargetForElement.js
  web/src/test/auto/dom/cases/attachment/pageContextAttachment.js
  web/src/test/auto/dom/cases/browser/contextManager.js
  web/src/test/auto/dom/cases/osk/activation.js
  web/src/test/auto/dom/cases/osk/events.js
  web/src/test/auto/dom/timedPromise.mjs
Labels: web/, common/, common/web/

#9238 chore(developer): unit test for compilerWarningsAsErrors 🗜
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/test/fixtures/.gitignore
  developer/src/kmc/test/fixtures/compiler-warnings-as-errors/compiler_warnings_as_errors_false.kpj
  developer/src/kmc/test/fixtures/compiler-warnings-as-errors/compiler_warnings_as_errors_true.kpj
  developer/src/kmc/test/fixtures/compiler-warnings-as-errors/compiler_warnings_as_errors_undefined.kpj
  developer/src/kmc/test/fixtures/compiler-warnings-as-errors/keyboard.kmn
  developer/src/kmc/test/test-build.ts
Labels: developer/, developer/compilers/, chore, epic-kmc-kmw

#9242 chore(developer): suppress excessive messages in kmc 🗜
  developer/src/kmc/src/messages/NodeCompilerCallbacks.ts
  developer/src/kmc/src/messages/messages.ts
Labels: developer/, developer/compilers/, chore, epic-kmc-kmw

#9261 change(web): nomenclature shift for classes involved in touch contact point tracking 🐵
  common/web/gesture-recognizer/docs/web-reintegration.md
  common/web/gesture-recognizer/src/engine/headless/complexGestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/gesturePath.ts
  common/web/gesture-recognizer/src/engine/headless/inputEngineBase.ts
  common/web/gesture-recognizer/src/engine/headless/simpleGestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/constructingSegment.ts
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/pathSegmenter.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  common/web/gesture-recognizer/src/engine/mouseEventEngine.ts
  common/web/gesture-recognizer/src/test/auto/headless/trackedPath.js
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessInputEngine.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputRecording.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputSequenceSimulator.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/sequenceRecorder.ts
Labels: web/, common/, common/web/

#9215 chore(linux): Add unit tests for dconf_util.py
  linux/keyman-config/keyman_config/dconf_util.py
  linux/keyman-config/run-tests.sh
  linux/keyman-config/tests/test_dconf_util.py
Labels: linux/, linux/config/, chore

#9246 fix(linux): Replace deprecated `Image.ANTIALIAS`
  linux/keyman-config/keyman_config/convertico.py
Labels: linux/, fix, linux/config/

#9245 refactor(linux): Refactor image loading
  linux/keyman-config/keyman_config/convertico.py
Labels: linux/, linux/config/, refactor

#9008 chore: add engine clause to package.json
  docs/build/linux-ubuntu.md
  package-lock.json
  package.json
Labels: common/, chore, docs

#9243 feat(developer): add sentry reporting for kmc 🗜
  developer/src/inst/node/kmc.cmd
  developer/src/inst/node/kmlmc.cmd
  developer/src/inst/node/kmlmi.cmd
  developer/src/inst/node/kmlmp.cmd
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-model/build.sh
  developer/src/kmc/.eslintrc.cjs
  developer/src/kmc/build-bundler.js
  developer/src/kmc/build.sh
  developer/src/kmc/package.json
  developer/src/kmc/src/commands/analyze.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildTestData/index.ts
  developer/src/kmc/src/kmc.ts
  developer/src/kmc/src/kmlmc.ts
  developer/src/kmc/src/kmlmi.ts
  developer/src/kmc/src/kmlmp.ts
  developer/src/kmc/src/util/KeymanSentry.ts
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
  developer/src/kmc/src/util/baseOptions.ts
  developer/src/kmc/src/util/spawnAwait.ts
  developer/src/kmc/test/test-messages.ts
  developer/src/kmcmplib/src/CompilerInterfacesWasm.cpp
  developer/src/kmcmplib/src/meson.build
  developer/src/tools/sentry-upload-difs.sh
  package-lock.json
  web/common.inc.sh
Labels: web/, developer/, developer/compilers/, feat, epic-kmc-kmw

#9251 fix(developer): use relative paths in kmc messages 🗜
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
Labels: developer/, developer/compilers/, fix, epic-kmc-kmw

#9254 refactor(common): bundle schemas into web/types 🗜
  common/web/types/.gitignore
  common/web/types/build.sh
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file-reader.ts
  common/web/types/src/kpj/kpj-file-reader.ts
  common/web/types/src/kvk/kvks-file-reader.ts
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/src/main.ts
  common/web/types/src/osk/osk.ts
  common/web/types/src/schemas.ts
  common/web/types/src/util/compiler-interfaces.ts
  common/web/types/test/helpers/TestCompilerCallbacks.ts
  common/web/types/test/helpers/index.ts
  common/web/types/test/helpers/reader-callback-test.ts
  common/web/types/test/keyman-touch-layout/test-keyman-touch-layout-file-reader.ts
  common/web/types/test/kpj/test-kpj-file-reader.ts
  common/web/types/test/kvk/test-kvk-round-trip.ts
  common/web/types/test/kvk/test-kvks-file.ts
  common/web/types/tsconfig.json
  developer/src/common/web/test-helpers/index.ts
  developer/src/kmc-analyze/src/osk-rewrite-pua/index.ts
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-ldml/build.sh
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-ldml/test/helpers/index.ts
  developer/src/kmc-ldml/test/test-compiler-e2e.ts
  developer/src/kmc/build.sh
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
Labels: developer/, common/, developer/compilers/, common/web/, refactor, epic-kmc-kmw

#9269 auto: increment master version to 17.0.141
  HISTORY.md
  VERSION.md
Labels: auto

#9223 feat(core): implement reorder 🙀
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/tests/unit/ldml/test_transforms.cpp
Labels: developer/, common/, developer/compilers/, feat, core/, common/web/, epic-ldml

#9248 chore(common): add BUILDER_STR_REF 🙀
  common/web/types/src/kmx/kmx-plus-builder/build-disp.ts
  common/web/types/src/kmx/kmx-plus-builder/build-elem.ts
  common/web/types/src/kmx/kmx-plus-builder/build-keys.ts
  common/web/types/src/kmx/kmx-plus-builder/build-layr.ts
  common/web/types/src/kmx/kmx-plus-builder/build-list.ts
  common/web/types/src/kmx/kmx-plus-builder/build-loca.ts
  common/web/types/src/kmx/kmx-plus-builder/build-meta.ts
  common/web/types/src/kmx/kmx-plus-builder/build-name.ts
  common/web/types/src/kmx/kmx-plus-builder/build-strs.ts
  common/web/types/src/kmx/kmx-plus-builder/build-tran.ts
  common/web/types/src/kmx/kmx-plus-builder/build-uset.ts
  common/web/types/src/kmx/kmx-plus-builder/build-vars.ts
  common/web/types/src/kmx/kmx-plus-builder/builder-section.ts
  common/web/types/src/kmx/kmx-plus-builder/kmx-plus-builder.ts
  common/web/types/src/kmx/kmx-plus.ts
Labels: common/, common/web/, chore, epic-ldml

#9260 feat(core): load reorder from kmx+, test case 🙀
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/tests/unit/ldml/keyboards/k_200_reorder_nod_Lana-test.xml
  core/tests/unit/ldml/keyboards/k_200_reorder_nod_Lana.xml
  core/tests/unit/ldml/keyboards/meson.build
Labels: developer/, common/, developer/compilers/, feat, core/, common/web/, epic-ldml

#9270 auto: increment master version to 17.0.142
  HISTORY.md
  VERSION.md
Labels: auto

#9074 chore(windows): disable wix compression for debug builds
  common/windows/delphi/Defines.mak
  developer/src/inst/kmdev.wxs
  oem/firstvoices/windows/src/inst/firstvoices.wxs
  windows/src/Defines.mak
  windows/src/desktop/inst/keymandesktop.wxs
Labels: windows/, developer/, common/, oem/, oem/fv/, oem/fv/windows/, windows/config/, chore

#9271 chore(developer): remove old copy_schema call kmc build.sh
  developer/src/kmc/build.sh
Labels: developer/, developer/compilers/, chore, epic-kmc-kmw

#9273 feat(developer): support file lists in kmc
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/util/fileLists.ts
  developer/src/kmc/test/fixtures/file-lists/files.txt
  developer/src/kmc/test/test-fileLists.ts
Labels: developer/, developer/compilers/, feat, epic-kmc-kmw

#9276 fix(developer): warning suppression should be per file in kmc 🗜
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
Labels: developer/, developer/compilers/, fix, epic-kmc-kmw

#9278 auto: increment master version to 17.0.143
  HISTORY.md
  VERSION.md
Labels: auto

#9292 spec(core): minor fix to tran spec 🙀
  core/src/ldml/C7043_ldml.md
Labels: core/, epic-ldml

#9294 chore(web): connects gesture-recognizer tests for Web CI testing 🐵
  common/web/gesture-recognizer/src/test/auto/browser/CI.conf.cjs
  common/web/gesture-recognizer/src/test/auto/browser/cases/recordedCoordSequences.js
  common/web/gesture-recognizer/src/test/resources/json/receiver/embeddedBorderCancel.json
  common/web/utils/src/test/timeoutPromise.js
  web/ci.sh
Labels: web/, common/, common/web/, chore

#9267 feat(web): gesture model touch-contact-path evaluation 🐵
  common/web/gesture-recognizer/.mocharc.json
  common/web/gesture-recognizer/src/engine/headless/gesturePath.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/index.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/index.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/pathMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/contactModel.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/index.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/pathModel.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedPathSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/pathMatcher.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/trackedPath.js
Labels: web/, common/, feat, common/web/

#9275 chore(web): gesture-engine unit test touchup 🐵
  common/web/gesture-recognizer/src/engine/headless/cumulativePathStats.ts
  common/web/gesture-recognizer/src/engine/headless/gesturePath.ts
  common/web/gesture-recognizer/src/test/auto/headless/gesturePath.js
  common/web/gesture-recognizer/src/test/auto/headless/pathStats.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/touchpathTurtle.ts
Labels: web/, common/, common/web/, chore

#9280 feat(developer): unit tests for kmc-model-info 🗜
  developer/src/kmc-model-info/.eslintrc.cjs
  developer/src/kmc-model-info/build.sh
  developer/src/kmc-model-info/src/model-info-compiler.ts
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/HISTORY.md
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/LICENSE.md
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/README.md
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/build/.gitattributes
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/build/sil.cmo.bw.model.js
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/build/sil.cmo.bw.model.kmp
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/build/sil.cmo.bw.model_info
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/sil.cmo.bw.kpj
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/sil.cmo.bw.model_info
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/source/readme.htm
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/source/sil.cmo.bw.model.kps
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/source/sil.cmo.bw.model.ts
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/source/suggestion.png
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/source/welcome.htm
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/source/wordlist.tsv
  developer/src/kmc-model-info/test/helpers/index.ts
  developer/src/kmc-model-info/test/test-model-info-compiler.ts
  developer/src/kmc-model-info/test/tsconfig.json
Labels: developer/, developer/compilers/, feat, epic-kmc-kmw

#9281 feat(developer): add model_info and keyboard_info build activities to kmc 🗜
  common/web/types/src/kpj/keyman-developer-project.ts
  common/web/types/src/kpj/kpj-file-reader.ts
  common/web/types/src/main.ts
  common/web/types/src/util/file-types.ts
  common/web/types/test/kpj/test-kpj-file-reader.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildModelInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/src/commands/buildClasses/buildActivities.ts
  developer/src/kmc/src/util/projectLoader.ts
  developer/src/kmc/test/test-project-build.ts
Labels: developer/, common/, developer/compilers/, feat, common/web/, epic-kmc-kmw

#9283 chore(developer): work around experimental JSON modules in node 🗜
  common/web/types/build.sh
  common/web/types/src/schemas.ts
Labels: developer/, common/, common/web/, chore, epic-kmc-kmw

#9287 refactor(developer): remove node dependencies from kmc-model-info 🗜
  common/web/types/src/util/compiler-interfaces.ts
  common/web/types/test/helpers/TestCompilerCallbacks.ts
  developer/src/common/web/test-helpers/index.ts
  developer/src/kmc-model-info/.eslintrc.cjs
  developer/src/kmc-model-info/src/model-info-compiler.ts
  developer/src/kmc-model-info/test/test-model-info-compiler.ts
  developer/src/kmc/src/commands/buildClasses/BuildModelInfo.ts
  developer/src/kmc/src/kmlmi.ts
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
Labels: developer/, common/, developer/compilers/, common/web/, refactor, epic-kmc-kmw

#9289 refactor(developer): remove node deps from kmc-model 🗜
  developer/src/kmc-model/.eslintrc.cjs
  developer/src/kmc-model/src/build-trie.ts
  developer/src/kmc-model/src/lexical-model-compiler.ts
  developer/src/kmc-model/src/main.ts
  developer/src/kmc-model/test/test-compile-model-with-pseudoclosure.ts
  developer/src/kmc-model/test/test-compile-model.ts
  developer/src/kmc-model/test/test-punctuation.ts
Labels: developer/, developer/compilers/, refactor, epic-kmc-kmw

#9291 docs(linux): Update man page and remove do-nothing option
  linux/ibus-keyman/man/ibus-engine-keyman.1
  linux/ibus-keyman/src/main.c
Labels: linux/, linux/engine/, docs

#9309 chore(linux): Fix running tests with Wayland
  linux/ibus-keyman/tests/meson.build
  linux/ibus-keyman/tests/scripts/run-single-test.sh
  linux/ibus-keyman/tests/scripts/run-tests.sh
  linux/ibus-keyman/tests/scripts/setup-tests.sh
  linux/ibus-keyman/tests/scripts/teardown-tests.sh
  linux/ibus-keyman/tests/scripts/test-helper.inc.sh
Labels: linux/, linux/engine/, chore

#9311 auto: increment master version to 17.0.144
  HISTORY.md
  VERSION.md
Labels: auto

#9313 refactor(linux): Use better way to get username
  linux/keyman-config/keyman_config/ibus_util.py
Labels: linux/, linux/config/, refactor

#9312 fix(linux): Reword error if uninstalling non-existent keyboard
  linux/keyman-config/keyman_config/ibus_util.py
  linux/keyman-config/keyman_config/uninstall_kmp.py
Labels: linux/, fix, linux/config/, has-user-test

#9315 auto: increment master version to 17.0.145
  HISTORY.md
  VERSION.md
Labels: auto

#9310 fix(linux): Fix logging
  linux/keyman-config/keyman_config/__init__.py
  linux/keyman-config/keyman_config/ibus_util.py
  linux/keyman-config/keyman_config/sentry_handling.py
  linux/keyman-config/keyman_config/uninstall_kmp.py
  linux/keyman-config/km-config
  linux/keyman-config/km-kvk2ldml
  linux/keyman-config/km-package-get
  linux/keyman-config/km-package-install
  linux/keyman-config/km-package-list-installed
  linux/keyman-config/km-package-uninstall
Labels: linux/, fix, linux/config/

#9316 auto: increment stable-16.0 version to 16.0.141
  HISTORY.md
  VERSION.md
Labels: stable, auto

#9295 fix(windows): open pdf in an external browser
  common/windows/delphi/chromium/Keyman.UI.UframeCEFHost.pas
Labels: windows/, common/, fix, has-user-test

#9301 fix(developer): kmc warnings tidyup 🗜
  common/web/input-processor/tests/cases/languageProcessor.js
  common/web/types/src/kpj/keyman-developer-project.ts
  common/web/types/src/kpj/kpj-file-reader.ts
  common/web/types/src/kpj/kpj-file.ts
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/common/include/kmn_compiler_errors.h
  developer/src/kmc-kmn/src/compiler/messages.ts
  developer/src/kmc-kmn/src/kmw-compiler/messages.ts
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
  developer/src/kmc-model/src/lexical-model-compiler.ts
  developer/src/kmc-model/src/main.ts
  developer/src/kmc-model/test/test-compile-model-with-pseudoclosure.ts
  developer/src/kmc-model/test/test-compile-trie.ts
  developer/src/kmc-model/test/test-punctuation.ts
  developer/src/kmc-package/src/compiler/package-validation.ts
  developer/src/kmc-package/test/test-messages.ts
  developer/src/kmc/src/commands/buildClasses/BuildPackage.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/src/kmlmi.ts
  developer/src/kmc/src/kmlmp.ts
  developer/src/kmc/src/messages/messages.ts
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
Labels: developer/, common/, developer/compilers/, fix, common/web/, epic-kmc-kmw

#9303 fix(developer): don't add .keyboard_info twice 🗜
  common/web/types/src/kpj/keyman-developer-project.ts
Labels: developer/, common/, fix, common/web/, epic-kmc-kmw

#9027 fix(linux): Fix installation of keyboards with lang tag `mul`
  linux/ibus-keyman/build.sh
  linux/ibus-keyman/meson.build
  linux/ibus-keyman/src/bcp47util.c
  linux/ibus-keyman/src/bcp47util.h
  linux/ibus-keyman/src/keymanutil.c
  linux/ibus-keyman/src/meson.build
  linux/ibus-keyman/src/test/bcp47util_tests.c
  linux/ibus-keyman/src/test/meson.build
  linux/ibus-keyman/src/test/run-single-test.sh
  linux/ibus-keyman/src/test/run-tests.sh
  linux/ibus-keyman/src/test/setup-tests.sh
  linux/ibus-keyman/tests/meson.build
  linux/ibus-keyman/tests/scripts/run-single-test.sh
  linux/ibus-keyman/tests/scripts/run-tests.sh
  linux/ibus-keyman/tests/scripts/setup-tests.sh
  linux/ibus-keyman/tests/scripts/teardown-tests.sh
  linux/ibus-keyman/tests/scripts/test-helper.inc.sh
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/tests/test_install_kmp.py
Labels: linux/, fix, linux/config/, linux/engine/, docs, has-user-test

#9304 fix(web): allows registering precached keyboards
  web/src/engine/package-cache/src/cloud/queryEngine.ts
  web/src/engine/package-cache/src/keyboardRequisitioner.ts
Labels: web/, fix

#9307 fix(web): syncs timestamps of active contact points, paths 🐵
  common/web/gesture-recognizer/src/engine/headless/complexGestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/pathMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/contactModel.ts
  common/web/gesture-recognizer/src/engine/headless/simpleGestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  common/web/gesture-recognizer/src/engine/mouseEventEngine.ts
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
Labels: web/, common/, fix, common/web/

#9322 auto: increment master version to 17.0.146
  HISTORY.md
  VERSION.md
Labels: auto

#9329 auto: increment master version to 17.0.147
  HISTORY.md
  VERSION.md
Labels: auto

#9332 chore(mac): fix corrupt installer 🍒
  ios/samples/build_common.sh
  mac/Keyman4MacIM/localdeploy.sh
  mac/Keyman4MacIM/make-km-dmg.sh
  mac/setup/build.sh
  oem/firstvoices/ios/build_common.sh
Labels: ios/, mac/, stable, cherry-pick, oem/, oem/fv/, oem/fv/ios/, chore, has-user-test, ios/samples/

#9334 auto: increment stable-16.0 version to 16.0.142
  HISTORY.md
  VERSION.md
Labels: stable, auto

#9327 chore(linux): Update debian changelog 🍒
  linux/debian/changelog
Labels: linux/, cherry-pick, chore

#9343 auto: increment master version to 17.0.148
  HISTORY.md
  VERSION.md
Labels: auto

#9306 chore(developer): use kmc messages for kmc-model-info 🗜
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/kmc-model-info/src/messages.ts
  developer/src/kmc-model-info/src/model-info-compiler.ts
  developer/src/kmc-model-info/tsconfig.json
  developer/src/kmc/src/commands/buildClasses/BuildModelInfo.ts
  developer/src/kmc/src/kmlmi.ts
  developer/src/kmc/src/messages/messages.ts
Labels: developer/, common/, developer/compilers/, common/web/, chore, epic-kmc-kmw

#9340 chore(linux): Remove obsolete dist from uploading to launchpad
  linux/scripts/launchpad.sh
Labels: linux/, stable, chore

#9323 refactor(developer): move keyman-targets.ts to common/web/types 🗜
  common/web/types/src/kmx/keyman-targets.ts
  common/web/types/src/kmx/kmx-file-reader.ts
  common/web/types/src/kmx/kmx.ts
  common/web/types/src/main.ts
  common/web/types/test/kmx/test-keyman-targets.ts
  developer/src/kmc-package/src/compiler/package-keyboard-target-validator.ts
Labels: developer/, common/, developer/compilers/, common/web/, refactor, epic-kmc-kmw

#9344 chore(developer): make unknown vkey a hint, not error 🙀
  core/tests/unit/ldml/keyboards/k_020_fr-test.xml
  core/tests/unit/ldml/keyboards/k_020_fr.xml
  core/tests/unit/ldml/keyboards/meson.build
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/src/compiler/visual-keyboard-compiler.ts
  developer/src/kmc-ldml/src/compiler/vkey.ts
  developer/src/kmc-ldml/test/test-vkey.ts
  resources/standards-data/ldml-keyboards/techpreview/3.0/fr-t-k0-azerty.xml
Labels: developer/, common/, developer/compilers/, common/resources/, core/, chore, epic-ldml

#9345 fix(core): tag KMXPlus file-based structs with alignment 🙀
  core/src/kmx/kmx_plus.h
Labels: fix, core/, epic-ldml

#9354 chore(linux): Stop building Kinetic on Jenkins 🏠
  linux/Jenkinsfile
Labels: linux/, stable, chore

#9342 chore(linux): Work around build failure on Debian mips64el 🏠
  linux/debian/changelog
  linux/debian/meson/no-exe-wrapper.ini
  linux/debian/rules
Labels: linux/, stable, chore

#9341 chore(linux): Update supported Ubuntu versions
  linux/.pbuilderrc
  linux/Jenkinsfile
  linux/scripts/cow.sh
  linux/scripts/deb.sh
  linux/scripts/launchpad.sh
Labels: linux/, chore

#9361 auto: increment master version to 17.0.149
  HISTORY.md
  VERSION.md
Labels: auto

#9346 fix(core): Better range check for Uni_IsValid() 🙀
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_xstring.h
  core/tests/unit/kmnkbd/test_kmx_xstring.cpp
Labels: fix, core/, epic-ldml

#9352 chore(core): update documentation in transform logic and processor 🙀
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
Labels: core/, chore, epic-ldml

#9366 auto: increment master version to 17.0.150
  HISTORY.md
  VERSION.md
Labels: auto

#9358 chore(linux): Update debian changelog 🍒
  linux/debian/changelog
Labels: linux/, cherry-pick, chore

#9359 chore(linux): Update debian changelog 🏠
  linux/debian/changelog
Labels: linux/, stable, chore

#9360 chore(linux): Fix creation of PRs after uploading to Debian
  linux/scripts/upload-to-debian.sh
Labels: linux/, chore

#9338 chore(web): test/test-resource cleanup & generic typing on stats object 🐵
  common/web/gesture-recognizer/package.json
  common/web/gesture-recognizer/src/engine/headless/cumulativePathStats.ts
  common/web/gesture-recognizer/src/engine/headless/gesturePath.ts
  common/web/gesture-recognizer/src/test/auto/headless/gesturePath.js
  common/web/gesture-recognizer/src/test/auto/headless/pathStats.ts
  common/web/gesture-recognizer/src/test/auto/headless/recordedSegmentations.js
  common/web/gesture-recognizer/src/test/auto/tsconfig.json
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/touchpathTurtle.ts
Labels: web/, common/, common/web/, chore, epic-gestures

#9339 feat(web): gesture path snapshots 🐵
  common/web/gesture-recognizer/src/engine/headless/complexGestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/gesturePath.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/pathMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/simpleGestureSource.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/pathMatcher.spec.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessInputEngine.ts
Labels: web/, common/, feat, common/web/, epic-gestures

#9372 auto: increment master version to 17.0.151
  HISTORY.md
  VERSION.md
Labels: auto

#9364 feat(developer) marker steps 🙀
  common/web/types/src/kmx/kmx-plus-builder/build-list.ts
  common/web/types/src/kmx/kmx-plus-builder/build-vars.ts
  common/web/types/src/kmx/kmx-plus-builder/kmx-plus-builder.ts
  common/web/types/src/kmx/string-list.ts
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  core/src/ldml/C9134_ldml_markers.md
  developer/src/kmc-ldml/src/compiler/disp.ts
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/marker-tracker.ts
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/src/compiler/tran.ts
  developer/src/kmc-ldml/src/compiler/vars.ts
  developer/src/kmc-ldml/test/fixtures/basic.txt
  developer/src/kmc-ldml/test/fixtures/basic.xml
  developer/src/kmc-ldml/test/fixtures/sections/vars/fail-markers-badref-0.xml
  developer/src/kmc-ldml/test/fixtures/sections/vars/markers-maximal.xml
  developer/src/kmc-ldml/test/test-vars.ts
Labels: developer/, common/, developer/compilers/, feat, core/, common/web/, epic-ldml

#9365 feat(common): marker processing🙀
  common/web/types/src/kmx/kmx-plus.ts
  common/web/types/src/kmx/string-list.ts
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/tests/unit/ldml/keyboards/meson.build
  developer/src/kmc-ldml/src/compiler/disp.ts
  developer/src/kmc-ldml/src/compiler/empty-compiler.ts
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/section-compiler.ts
  developer/src/kmc-ldml/src/compiler/tran.ts
  developer/src/kmc-ldml/src/compiler/vars.ts
  developer/src/kmc-ldml/test/fixtures/basic.txt
  developer/src/kmc-ldml/test/fixtures/basic.xml
  developer/src/kmc-ldml/test/helpers/index.ts
  developer/src/kmc-ldml/test/test-tran.ts
  developer/src/kmc-ldml/test/test-vars.ts
Labels: developer/, common/, developer/compilers/, fix, feat, core/, common/web/, epic-ldml
