Repository keymanapp/keyman, pull requests merged in 2023-01, with the labels that each got.

#7948 chore: merge beta to master (A17S2)
  HISTORY.md
  VERSION.md
  common/windows/delphi/charmap/UfrmCharacterMapNew.pas
  developer/src/kmlmc/source/lexical-model-compiler/lexical-model-compiler.ts
  developer/src/kmlmc/source/util/util.ts
  linux/keyman-config/setup.py
  oem/firstvoices/android/app/src/main/AndroidManifest.xml
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/FVKeyboardSettingsActivity.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/FVShared.java
  oem/firstvoices/android/app/src/main/res/values/strings.xml
  windows/src/desktop/kmshell/xml/config.css
  windows/src/desktop/kmshell/xml/config.js
  windows/src/desktop/kmshell/xml/elements.xsl
  windows/src/desktop/kmshell/xml/keyman_keyboardlist.xsl
  windows/src/engine/keyman32/k32_lowlevelkeyboardhook.cpp
Labels: windows/, developer/, linux/, common/, oem/, linux/config/, oem/fv/, oem/fv/android/, windows/config/, windows/engine/, chore

#7920 chore(linux): Remove unused JENKINS parameter
  linux/scripts/jenkins.sh
  linux/scripts/reconf.sh
Labels: linux/, chore

#7962 auto: increment master version to 17.0.23
  HISTORY.md
  VERSION.md
Labels: auto

#7958 fix(linux): add IBUS_HAS_PREFILTER ifdef to linux/ibus-keyman/tests
  linux/ibus-keyman/tests/ibusimcontext.c
Labels: linux/, fix, linux/engine/

#7960 docs(linux): document fullbuild using docker
  docs/build/linux-ubuntu.md
Labels: linux/, docs

#7963 chore: merge master into feature-ldml 🙀
  HISTORY.md
  VERSION.md
  common/windows/delphi/charmap/UfrmCharacterMapNew.pas
  developer/src/kmc-model/src/lexical-model-compiler.ts
  developer/src/kmc-model/src/main.ts
  docs/build/linux-ubuntu.md
  linux/ibus-keyman/tests/ibusimcontext.c
  linux/keyman-config/setup.py
  linux/scripts/jenkins.sh
  linux/scripts/reconf.sh
  oem/firstvoices/android/app/src/main/AndroidManifest.xml
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/FVKeyboardSettingsActivity.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/FVShared.java
  oem/firstvoices/android/app/src/main/res/values/strings.xml
  windows/src/desktop/kmshell/xml/config.css
  windows/src/desktop/kmshell/xml/config.js
  windows/src/desktop/kmshell/xml/elements.xsl
  windows/src/desktop/kmshell/xml/keyman_keyboardlist.xsl
  windows/src/engine/keyman32/k32_lowlevelkeyboardhook.cpp
Labels: windows/, developer/, linux/, common/, developer/compilers/, oem/, linux/config/, linux/engine/, oem/fv/, oem/fv/android/, windows/config/, windows/engine/, chore, docs, epic-ldml

#7974 auto: increment master version to 17.0.24
  HISTORY.md
  VERSION.md
Labels: auto

#7980 chore(common/resources): Add Docker readme
  docs/websites/README.md
Labels: common/, chore, docs

#7955 fix(common): ldml: kvk should skip empty keys 🙀
  common/web/types/src/kvk/kvk-file-writer.ts
Labels: common/, fix, common/web/, epic-ldml

#7982 chore: merge master into feature-ldml
  HISTORY.md
  VERSION.md
Labels: common/, chore, epic-ldml

#7990 auto: increment beta version to 16.0.130
  HISTORY.md
  VERSION.md
Labels: auto

#7991 auto: increment master version to 17.0.25
  HISTORY.md
  VERSION.md
Labels: auto

#7630 feat(core): ldml: implement layr/key2/list 🙀
  common/web/types/src/kmx/kmx-plus-builder/build-key2.ts
  common/web/types/src/kmx/kmx-plus-builder/build-layr.ts
  common/web/types/src/kmx/kmx-plus-builder/build-list.ts
  common/web/types/src/kmx/kmx-plus-builder/build-strs.ts
  common/web/types/src/kmx/kmx-plus-builder/kmx-plus-builder.ts
  common/web/types/src/kmx/kmx-plus.ts
  common/web/types/src/kmx/string-list.ts
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml.ts
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/C7043_ldml.md
  core/src/ldml/C7532_ldml_updating.md
  developer/src/kmc-keyboard/src/compiler/compiler.ts
  developer/src/kmc-keyboard/src/compiler/disp.ts
  developer/src/kmc-keyboard/src/compiler/key2.ts
  developer/src/kmc-keyboard/src/compiler/layr.ts
  developer/src/kmc-keyboard/test/fixtures/basic.txt
  developer/src/kmc-keyboard/test/fixtures/basic.xml
  developer/src/kmc-keyboard/test/fixtures/sections/key2/maximal.xml
  developer/src/kmc-keyboard/test/helpers/index.ts
  developer/src/kmc-keyboard/test/test-key2.ts
  developer/src/kmc-keyboard/test/test-layr.ts
Labels: developer/, common/, developer/compilers/, feat, core/, common/web/, epic-ldml

#7956 fix(core): ldml: fix spelling of maqtugħa 🙀
  common/web/types/src/kvk/kvk-file-writer.ts
  common/web/types/test/fixtures/invalid-conforms-to.xml
  core/tests/unit/kmnkbd/test_kmx_xstring.cpp
  core/tests/unit/ldml/keyboards/k_001_tiny.xml
  core/tests/unit/ldml/keyboards/k_002_tinyu32.xml
  developer/src/kmc-keyboard/test/fixtures/basic.txt
  developer/src/kmc-keyboard/test/fixtures/basic.xml
Labels: developer/, common/, developer/compilers/, fix, core/, common/web/

#7856 fix(windows): kmshell -ikl install language and enable keyboard
  windows/src/desktop/kmshell/install/UfrmInstallKeyboardLanguage.pas
Labels: windows/, fix, windows/config/, has-user-test

#7988 chore(linux): Remove unnecessary variable
  linux/keyman-config/keyman_config/handle_install.py
Labels: linux/, linux/config/, chore

#7997 auto: increment beta version to 16.0.131
  HISTORY.md
  VERSION.md
Labels: auto

#7998 auto: increment master version to 17.0.26
  HISTORY.md
  VERSION.md
Labels: auto

#7994 feat(linux): Add Back button to "Download Keyman Keyboards" dialog
  linux/keyman-config/keyman_config/downloadkeyboard.py
Labels: linux/, feat, linux/config/, has-user-test

#7995 feat(linux): List fonts in the uninstall confirmation dialog
  linux/keyman-config/keyman_config/kmpmetadata.py
  linux/keyman-config/keyman_config/view_installed.py
Labels: linux/, feat, linux/config/, has-user-test

#8003 auto: increment master version to 17.0.27
  HISTORY.md
  VERSION.md
Labels: auto

#8002 chore(linux): Refactor completion script
  linux/keyman-config/km-config.bash-completion
  linux/keyman-config/km-kvk2ldml.bash-completion
  linux/keyman-config/km-package-get.bash-completion
  linux/keyman-config/km-package-install.bash-completion
  linux/keyman-config/km-package-list-installed.bash-completion
  linux/keyman-config/km-package-uninstall.bash-completion
Labels: linux/, linux/config/, chore

#8009 auto: increment master version to 17.0.28
  HISTORY.md
  VERSION.md
Labels: auto

#8006 feat(linux): Display error messages in the UI
  linux/keyman-config/keyman_config/downloadkeyboard.py
  linux/keyman-config/keyman_config/uninstall_kmp.py
  linux/keyman-config/keyman_config/view_installed.py
Labels: linux/, linux/config/, user-test-required, has-user-test

#8008 bug(linux): Empty keyboard after failed installation
  linux/keyman-config/keyman_config/install_kmp.py
Labels: linux/, linux/config/, has-user-test

#8013 auto: increment master version to 17.0.29
  HISTORY.md
  VERSION.md
Labels: auto

#8020 fix(linux): Fix crash (un-)installing shared keyboard 🍒
  linux/debian/control
Labels: linux/, cherry-pick, fix

#8021 chore(linux): Don't report KeyboardInterrupt to Sentry
  linux/keyman-config/keyman_config/__init__.py
Labels: linux/, linux/config/, chore

#8022 chore(linux): Don't report KeyboardInterrupt to Sentry 🍒
  linux/keyman-config/keyman_config/__init__.py
Labels: linux/, cherry-pick, linux/config/, chore

#8018 chore(linux): Update sample settings
  docs/settings/linux/extensions.json
  docs/settings/linux/launch.json
  docs/settings/linux/tasks.json
Labels: linux/, chore, docs

#8019 fix(linux): Fix crash (un-)installing shared keyboard
  linux/debian/control
Labels: linux/, fix

#8005 feat(linux): Enhance tab completion in km-package-install
  linux/keyman-config/km-package-install
  linux/keyman-config/km-package-install.bash-completion
  linux/keyman-config/km-package-list-installed.bash-completion
  linux/keyman-config/tests/test_package_install_completion.py
Labels: linux/, feat, linux/config/, has-user-test

#8027 auto: increment beta version to 16.0.132
  HISTORY.md
  VERSION.md
Labels: auto

#8028 auto: increment master version to 17.0.30
  HISTORY.md
  VERSION.md
Labels: auto

#8016 chore(linux): Fix vertical alignment of label
  linux/keyman-config/keyman_config/keyboard_details.py
Labels: linux/, linux/config/, chore

#8031 fix(common): update sentry release identifiers to support semver
  android/KMAPro/build.sh
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  common/web/keyman-version/build.sh
  common/windows/cpp/src/keymansentry.cpp
  common/windows/delphi/general/Keyman.System.KeymanSentryClient.pas
  developer/src/server/src/index.ts
  developer/src/server/src/site/lib/sentry/init.js.in
  developer/src/tike/xml/app/lib/sentry/init.js.in
  developer/src/tools/sentry-upload-difs.sh
  ios/engine/KMEI/KeymanEngine/Classes/Errors/SentryManager.swift
  linux/keyman-config/keyman_config/__init__.py
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/MainActivity.java
  oem/firstvoices/windows/src/xml/sentry.init.js.in
  web/source/build.sh
  windows/src/buildtools/sentry-upload-difs.sh
  windows/src/desktop/kmshell/xml/sentry.init.js.in
Labels: web/, windows/, android/, developer/, ios/, mac/, linux/, common/, oem/, fix, android/app/, ios/engine/, linux/config/, web/engine/, common/web/, developer/ide/, oem/fv/, oem/fv/android/, oem/fv/windows/, windows/config/

#7999 spec(core): ldml: Drop padding 🙀
  common/web/types/src/kmx/kmx-plus-builder/build-disp.ts
  common/web/types/src/kmx/kmx-plus-builder/build-elem.ts
  common/web/types/src/kmx/kmx-plus-builder/build-key2.ts
  common/web/types/src/kmx/kmx-plus-builder/build-keys.ts
  common/web/types/src/kmx/kmx-plus-builder/build-layr.ts
  common/web/types/src/kmx/kmx-plus-builder/build-loca.ts
  common/web/types/src/kmx/kmx-plus-builder/build-name.ts
  common/web/types/src/kmx/kmx-plus-builder/build-ordr.ts
  common/web/types/src/kmx/kmx-plus-builder/build-strs.ts
  common/web/types/src/kmx/kmx-plus-builder/build-tran.ts
  common/web/types/src/kmx/kmx-plus-builder/build-vkey.ts
  common/web/types/src/kmx/kmx-plus-builder/kmx-plus-builder.ts
  common/web/types/src/kmx/kmx-plus.ts
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/src/kmx/kmx_plus.h
  core/src/ldml/C7043_ldml.md
  developer/src/kmc-keyboard/test/fixtures/basic.txt
Labels: developer/, common/, developer/compilers/, core/, common/web/

#8029 chore: merge master into feature-ldml 🙀
  HISTORY.md
  VERSION.md
  docs/settings/linux/extensions.json
  docs/settings/linux/launch.json
  docs/settings/linux/tasks.json
  docs/websites/README.md
  linux/debian/control
  linux/keyman-config/keyman_config/__init__.py
  linux/keyman-config/keyman_config/downloadkeyboard.py
  linux/keyman-config/keyman_config/handle_install.py
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/kmpmetadata.py
  linux/keyman-config/keyman_config/uninstall_kmp.py
  linux/keyman-config/keyman_config/view_installed.py
  linux/keyman-config/km-config.bash-completion
  linux/keyman-config/km-kvk2ldml.bash-completion
  linux/keyman-config/km-package-get.bash-completion
  linux/keyman-config/km-package-install
  linux/keyman-config/km-package-install.bash-completion
  linux/keyman-config/km-package-list-installed.bash-completion
  linux/keyman-config/km-package-uninstall.bash-completion
  linux/keyman-config/tests/test_package_install_completion.py
Labels: linux/, linux/config/, chore, docs, epic-ldml

#8032 auto: increment master version to 17.0.31
  HISTORY.md
  VERSION.md
Labels: auto

#8023 fix(windows): cherry pick modifier event is always serialized 🍒
  windows/src/engine/keyman32/globals.h
  windows/src/engine/keyman32/k32_dbg.cpp
  windows/src/engine/keyman32/k32_globals.cpp
  windows/src/engine/keyman32/k32_lowlevelkeyboardhook.cpp
  windows/src/engine/keyman32/keyman32.cpp
  windows/src/engine/keyman32/kmhook_getmessage.cpp
  windows/src/engine/keyman32/serialkeyeventcommon.h
  windows/src/engine/keyman32/serialkeyeventserver.cpp
Labels: windows/, stable, cherry-pick, fix, windows/engine/, has-user-test

#8014 docs(windows): update screenshots and documentation for Keyman for Windows config
  windows/src/desktop/help/about/welcome.md
  windows/src/desktop/help/basic/config/keyboards.md
  windows/src/desktop/help/basic/enable-or-disable-keyboard.md
  windows/src/desktop/help/basic/uninstall-keyboard.md
  windows/src/desktop/help/desktop_images/download-keyboard-step0.png
  windows/src/desktop/help/desktop_images/download-keyboard-step5.png
  windows/src/desktop/help/desktop_images/keyboard-share.png
  windows/src/desktop/help/desktop_images/keyboards-hotkey.png
  windows/src/desktop/help/desktop_images/language-association.png
  windows/src/desktop/help/desktop_images/options-advanced.png
  windows/src/desktop/help/desktop_images/options-general.png
  windows/src/desktop/help/desktop_images/tab-add-lang.png
  windows/src/desktop/help/desktop_images/tab-add-popup.png
  windows/src/desktop/help/desktop_images/tab-hotkeys.png
  windows/src/desktop/help/desktop_images/tab-keyboards.png
  windows/src/desktop/help/desktop_images/tab-layout-detail1.png
  windows/src/desktop/help/desktop_images/tab-layout-detail2.png
  windows/src/desktop/help/desktop_images/tab-layout-disable.png
  windows/src/desktop/help/desktop_images/tab-layout-enable.png
  windows/src/desktop/help/desktop_images/tab-layout-help.png
  windows/src/desktop/help/desktop_images/tab-layout-share.png
  windows/src/desktop/help/desktop_images/tab-layout.png
  windows/src/desktop/help/desktop_images/tab-options2.png
  windows/src/desktop/help/desktop_images/tab-support.png
  windows/src/desktop/help/start/configure-computer.md
Labels: windows/, windows/config/, docs

#7992 fix(core): ldml: add asserts to C++ 🙀
  core/src/kmx/kmx_plus.cpp
  core/src/ldml/ldml_processor.cpp
Labels: fix, core/, epic-ldml

#8035 chore: git tag with release@semver
  resources/build/increment-version.sh
Labels: common/, common/resources/, chore

#8025 fix(linux): Properly set context after changing IP
  linux/ibus-keyman/src/engine.c
Labels: linux/, fix, linux/engine/, has-user-test

#8026 fix(linux): Properly set context after changing IP 🍒
  linux/ibus-keyman/src/engine.c
Labels: linux/, cherry-pick, fix, linux/engine/

#8037 chore(linux): use faster zero-length string check
  linux/ibus-keyman/src/engine.c
Labels: linux/, linux/engine/

#8036 chore(linux): log failures to `km_kbp_context_clear(context)`
  linux/ibus-keyman/src/engine.c
Labels: linux/, linux/engine/

#8038 chore(linux): Update recommended extension
  docs/settings/linux/extensions.json
Labels: linux/, chore, docs

#8044 auto: increment master version to 17.0.32
  HISTORY.md
  VERSION.md
Labels: auto

#8045 auto: increment beta version to 16.0.134
  HISTORY.md
  VERSION.md
Labels: auto

#8042 fix(ios): use mobile mode for keyboard download pages
  ios/engine/KMEI/KeymanEngine/Classes/PackageWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/KeyboardSearchViewController.swift
Labels: ios/, fix, ios/engine/, has-user-test

#8034 docs(common/resources): Update configure step in Docker readme
  docs/websites/README.md
Labels: common/, docs

#8040 fix(linux): JSON File missing after installation
  linux/keyman-config/keyman_config/get_kmp.py
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/km-package-install
  linux/keyman-config/tests/test_install_kmp.py
Labels: linux/, fix, linux/config/, user-test-required, has-user-test

#8062 auto: increment master version to 17.0.33
  HISTORY.md
  VERSION.md
Labels: auto

#8015 chore: Xcode 14.2 update
  core/src/kmx/kmx_debug.cpp
  ios/Cartfile
  ios/Cartfile.resolved
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/kmbuild.sh
  ios/samples/KMSample2/KMSample2.xcodeproj/project.pbxproj
  ios/tools/KeyboardCalibrator/KeyboardCalibrator.xcodeproj/project.pbxproj
  ios/tools/KeyboardCalibrator/KeyboardCalibrator/DummyInputViewController.swift
  ios/tools/KeyboardCalibrator/KeyboardCalibrator/ViewController.swift
  oem/firstvoices/ios/Cartfile
  oem/firstvoices/ios/Cartfile.resolved
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
  oem/firstvoices/ios/build_common.sh
Labels: ios/, mac/, oem/, ios/app/, ios/engine/, core/, oem/fv/, oem/fv/ios/, chore, has-user-test, ios/samples/

#8061 chore(developer): ldml setup for visual code coverage 🙀
  .gitignore
  common/web/types/package.json
  developer/src/kmc-keyboard/package.json
  developer/src/kmc-model-info/package.json
  developer/src/kmc-model/package.json
  developer/src/kmc-package/package.json
  developer/src/kmc/package.json
Labels: developer/, common/, developer/compilers/, common/web/, chore, epic-ldml

#8065 chore: merge beta to alpha, end of A17S4
  HISTORY.md
  VERSION.md
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/BaseActivity.java
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/KMKeyboard.java
  windows/src/desktop/help/about/welcome.md
  windows/src/desktop/help/basic/config/keyboards.md
  windows/src/desktop/help/basic/enable-or-disable-keyboard.md
  windows/src/desktop/help/basic/uninstall-keyboard.md
  windows/src/desktop/help/desktop_images/download-keyboard-step0.png
  windows/src/desktop/help/desktop_images/download-keyboard-step5.png
  windows/src/desktop/help/desktop_images/keyboard-share.png
  windows/src/desktop/help/desktop_images/keyboards-hotkey.png
  windows/src/desktop/help/desktop_images/language-association.png
  windows/src/desktop/help/desktop_images/options-advanced.png
  windows/src/desktop/help/desktop_images/options-general.png
  windows/src/desktop/help/desktop_images/tab-add-lang.png
  windows/src/desktop/help/desktop_images/tab-add-popup.png
  windows/src/desktop/help/desktop_images/tab-hotkeys.png
  windows/src/desktop/help/desktop_images/tab-keyboards.png
  windows/src/desktop/help/desktop_images/tab-layout-detail1.png
  windows/src/desktop/help/desktop_images/tab-layout-detail2.png
  windows/src/desktop/help/desktop_images/tab-layout-disable.png
  windows/src/desktop/help/desktop_images/tab-layout-enable.png
  windows/src/desktop/help/desktop_images/tab-layout-help.png
  windows/src/desktop/help/desktop_images/tab-layout-share.png
  windows/src/desktop/help/desktop_images/tab-layout.png
  windows/src/desktop/help/desktop_images/tab-options2.png
  windows/src/desktop/help/desktop_images/tab-support.png
  windows/src/desktop/help/start/configure-computer.md
  windows/src/desktop/kmshell/install/UfrmInstallKeyboardLanguage.pas
Labels: windows/, android/, android/engine/, windows/config/, chore

#8079 auto: increment master version to 17.0.35
  HISTORY.md
  VERSION.md
Labels: auto

#8063 chore(common): revise tag variable name to VERSION_GIT_TAG
  android/KMAPro/build.sh
  android/KMAPro/kMAPro/build.gradle
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/version.gradle
  common/web/keyman-version/build.sh
  common/web/sentry-manager/src/index.ts
  common/windows/cpp/include/keymanversion_build.in
  common/windows/cpp/src/keymansentry.cpp
  common/windows/delphi/general/Keyman.System.KeymanSentryClient.pas
  common/windows/delphi/general/KeymanVersionInfo.inc
  common/windows/delphi/general/keymanversion_build.in
  developer/src/server/src/index.ts
  developer/src/server/src/site/lib/sentry/init.js.in
  developer/src/server/src/version-data.ts
  developer/src/tike/xml/app/lib/sentry/init.js.in
  developer/src/tools/sentry-upload-difs.sh
  ios/engine/KMEI/KeymanEngine/Classes/Errors/SentryManager.swift
  linux/keyman-config/keyman_config/__init__.py
  linux/keyman-config/keyman_config/version.py.in
  linux/scripts/reconf.sh
  mac/Keyman4Mac/Keyman4Mac/Info.plist
  mac/Keyman4MacIM/Keyman4MacIM/Info.plist
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/Info.plist
  mac/build.sh
  oem/firstvoices/android/app/build.gradle
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/MainActivity.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/SystemKeyboard.java
  resources/build/build-utils.sh
  resources/build/increment-version.sh
  resources/build/sentry-control.inc.sh
  resources/build/trigger-builds.inc.sh
  resources/build/version/src/reportHistory.ts
  web/source/build.sh
  windows/src/buildtools/sentry-upload-difs.sh
  windows/src/desktop/kmshell/xml/sentry.init.js.in
Labels: web/, windows/, android/, developer/, ios/, mac/, linux/, common/, common/resources/, oem/, android/app/, ios/engine/, linux/config/, web/engine/, common/web/, developer/ide/, oem/fv/, oem/fv/android/, windows/config/, chore

#7970 chore(common): Add crowdin strings for Kannada
  android/KMAPro/kMAPro/src/main/res/values-kn-rIN/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/DisplayLanguages.java
  android/KMEA/app/src/main/res/values-kn-rIN/strings.xml
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/kn.lproj/ResourceInfoView.strings
  ios/engine/KMEI/KeymanEngine/kn.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/kn.lproj/Localizable.stringsdict
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/kn.lproj/Localizable.strings
  linux/keyman-config/locale/kn_IN.po
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/kn.lproj/KMAboutWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/kn.lproj/preferences.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/kn.lproj/KMInfoWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardHelpWindow/kn.lproj/KMKeyboardHelpWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/kn.lproj/Localizable.strings
  mac/Keyman4MacIM/Keyman4MacIM/kn.lproj/MainMenu.strings
  windows/src/desktop/kmshell/locale/kn-IN/strings.xml
  windows/src/desktop/setup/locale/kn-IN/strings.xml
Labels: windows/, android/, ios/, mac/, linux/, common/, android/engine/, android/app/, ios/app/, ios/engine/, linux/config/, windows/config/, chore, has-user-test

#8011 feat(linux): Improve uninstallation
  linux/keyman-config/keyman_config/uninstall_kmp.py
  linux/keyman-config/tests/test_uninstall_kmp.py
Labels: linux/, feat, linux/config/, has-user-test

#8091 auto: increment beta version to 16.0.135
  HISTORY.md
  VERSION.md
Labels: auto

#8074 chore(common): Add crowdin strings for Kannada 🍒
  android/KMAPro/kMAPro/src/main/res/values-kn-rIN/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/DisplayLanguages.java
  android/KMEA/app/src/main/res/values-kn-rIN/strings.xml
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/kn.lproj/ResourceInfoView.strings
  ios/engine/KMEI/KeymanEngine/kn.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/kn.lproj/Localizable.stringsdict
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/kn.lproj/Localizable.strings
  linux/keyman-config/locale/kn_IN.po
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/kn.lproj/KMAboutWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/kn.lproj/preferences.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/kn.lproj/KMInfoWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardHelpWindow/kn.lproj/KMKeyboardHelpWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/kn.lproj/Localizable.strings
  mac/Keyman4MacIM/Keyman4MacIM/kn.lproj/MainMenu.strings
  windows/src/desktop/kmshell/locale/kn-IN/strings.xml
  windows/src/desktop/setup/locale/kn-IN/strings.xml
Labels: windows/, android/, ios/, mac/, linux/, cherry-pick, common/, android/engine/, android/app/, ios/app/, ios/engine/, linux/config/, windows/config/, chore, has-user-test

#8105 auto: increment master version to 17.0.37
  HISTORY.md
  VERSION.md
Labels: auto

#7969 fix(common): update USVirtualKeyMap to actually be US🙀
  common/web/types/src/consts/virtual-key-constants.ts
  core/tests/unit/ldml/keyboards/k_003_transform.xml
  core/tests/unit/ldml/keyboards/k_010_mt.xml
  core/tests/unit/ldml/keyboards/meson.build
  developer/src/kmc-keyboard/test/fixtures/sections/keys/invalid-hardware-too-many-rows.xml
Labels: developer/, common/, developer/compilers/, fix, core/, common/web/, epic-ldml

#8103 chore(linux): Fix warnings
  linux/ibus-keyman/src/engine.c
  linux/ibus-keyman/src/kmpdetails.c
  linux/ibus-keyman/src/print_kmp.c
  linux/ibus-keyman/tests/ibusimcontext.c
  linux/ibus-keyman/tests/testfixture.cpp
  linux/ibus-keyman/tests/testmodule.c
  linux/ibus-keyman/tests/testmodule.h
Labels: linux/, linux/engine/, chore

#8104 Specify the path to the Debian package in the Vcs-Git header
  linux/debian/changelog
  linux/debian/control
Labels: linux/

#8107 feat(common): ldml: refactor imports 🙀
  common/web/types/build.sh
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/test/ldml-keyboard/test-ldml-keyboard-xml-reader.ts
  common/web/types/tsconfig.json
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/include/ldml/ldml-const-builder.ts
  core/tools/ldml-const-builder/build.sh
  developer/src/kmc-keyboard/src/compiler/compiler.ts
  developer/src/kmc-keyboard/test/helpers/index.ts
  developer/src/kmc/build.sh
  package-lock.json
  package.json
Labels: developer/, common/, developer/compilers/, common/resources/, feat, core/, common/web/, epic-ldml

#8117 auto: increment master version to 17.0.38
  HISTORY.md
  VERSION.md
Labels: auto

#7402 feat(developer): implement import and implied 🙀
  common/web/types/build.sh
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml.ts
  common/web/types/test/ldml-keyboard/test-ldml-keyboard-xml-reader.ts
  common/web/types/tsconfig.json
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/include/ldml/ldml-const-builder.ts
  core/tests/unit/ldml/keyboards/k_003_transform.xml
  core/tests/unit/ldml/keyboards/k_010_mt.xml
  core/tests/unit/ldml/keyboards/k_100_keytest.xml
  core/tests/unit/ldml/keyboards/k_101_keytest.xml
  core/tests/unit/ldml/keyboards/k_102_keytest.xml
  core/tests/unit/ldml/keyboards/meson.build
  core/tools/ldml-const-builder/build.sh
  developer/src/kmc-keyboard/src/compiler/compiler.ts
  developer/src/kmc-keyboard/src/compiler/key2.ts
  developer/src/kmc-keyboard/src/compiler/keys.ts
  developer/src/kmc-keyboard/test/helpers/index.ts
  developer/src/kmc-keyboard/test/test-key2.ts
  developer/src/kmc-keyboard/test/test-keys.ts
  package-lock.json
  package.json
  resources/standards-data/ldml-keyboards/techpreview/3.0/mt.xml
  resources/standards-data/ldml-keyboards/techpreview/cldr_info.json
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard.dtd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard.xsd
  resources/standards-data/ldml-keyboards/techpreview/import/keys-Latn-implied.xml
  resources/standards-data/ldml-keyboards/techpreview/import/keys-Zyyy-punctuation.xml
  resources/standards-data/ldml-keyboards/techpreview/ldml-keyboard.schema.json
Labels: developer/, common/, developer/compilers/, common/resources/, feat, core/, common/web/, epic-ldml

#8110 chore(linux): Include packaging path in Vcs-Git header 🍒
  linux/debian/changelog
  linux/debian/control
Labels: linux/, cherry-pick, chore

#8121 fix(linux): Fix CI build 🩹
  linux/scripts/jenkins.sh
  linux/scripts/package-build.inc.sh
Labels: linux/, fix

#8122 auto: increment beta version to 16.0.136
  HISTORY.md
  VERSION.md
Labels: auto

#8123 auto: increment master version to 17.0.39
  HISTORY.md
  VERSION.md
Labels: auto

#8097 chore(common): Update crowdin strings for Shuwa (Latin)
  android/KMAPro/kMAPro/src/main/res/values-b+shu+latn/strings.xml
  android/KMEA/app/src/main/res/values-b+shu+latn/strings.xml
  ios/engine/KMEI/KeymanEngine/shu-latn-n.lproj/Localizable.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/shu-latn-n.lproj/KMAboutWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/shu-latn-n.lproj/preferences.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/shu-latn-n.lproj/KMInfoWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardHelpWindow/shu-latn-n.lproj/KMKeyboardHelpWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/shu-latn-n.lproj/Localizable.strings
  mac/Keyman4MacIM/Keyman4MacIM/shu-latn-n.lproj/MainMenu.strings
  windows/src/desktop/kmshell/locale/shu-latn/strings.xml
  windows/src/desktop/setup/locale/shu-latn/strings.xml
Labels: windows/, android/, ios/, mac/, common/, android/engine/, android/app/, ios/engine/, windows/config/, chore

#8106 chore(common): move CompilerEvent, CompilerCallbacks into types 🙀
  common/web/types/build.sh
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml.ts
  common/web/types/src/main.ts
  common/web/types/src/util/compiler-interfaces.ts
  common/web/types/test/ldml-keyboard/test-ldml-keyboard-xml-reader.ts
  common/web/types/tsconfig.json
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/include/ldml/ldml-const-builder.ts
  core/tests/unit/ldml/keyboards/k_003_transform.xml
  core/tests/unit/ldml/keyboards/k_010_mt.xml
  core/tests/unit/ldml/keyboards/k_100_keytest.xml
  core/tests/unit/ldml/keyboards/k_101_keytest.xml
  core/tests/unit/ldml/keyboards/k_102_keytest.xml
  core/tests/unit/ldml/keyboards/meson.build
  core/tools/ldml-const-builder/build.sh
  developer/src/kmc-keyboard/src/compiler/callbacks.ts
  developer/src/kmc-keyboard/src/compiler/compiler.ts
  developer/src/kmc-keyboard/src/compiler/key2.ts
  developer/src/kmc-keyboard/src/compiler/keys.ts
  developer/src/kmc-keyboard/src/compiler/section-compiler.ts
  developer/src/kmc-keyboard/src/compiler/tran.ts
  developer/src/kmc-keyboard/src/main.ts
  developer/src/kmc-keyboard/test/helpers/index.ts
  developer/src/kmc-keyboard/test/test-key2.ts
  developer/src/kmc-keyboard/test/test-keys.ts
  developer/src/kmc/src/kmc.ts
  package-lock.json
  package.json
  resources/standards-data/ldml-keyboards/techpreview/3.0/mt.xml
  resources/standards-data/ldml-keyboards/techpreview/cldr_info.json
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard.dtd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard.xsd
  resources/standards-data/ldml-keyboards/techpreview/import/keys-Latn-implied.xml
  resources/standards-data/ldml-keyboards/techpreview/import/keys-Zyyy-punctuation.xml
  resources/standards-data/ldml-keyboards/techpreview/ldml-keyboard.schema.json
Labels: developer/, common/, developer/compilers/, common/resources/, core/, common/web/, chore, epic-ldml

#8126 feat(windows): add additional registry keys to report
  windows/src/engine/tsysinfo/si_language.pas
Labels: windows/, feat, windows/engine/

#8072 chore(common): Check in crowdin for Russian
  android/KMAPro/kMAPro/src/main/res/values-ru-rRU/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/DisplayLanguages.java
  android/KMEA/app/src/main/res/values-ru-rRU/strings.xml
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/ru.lproj/ResourceInfoView.strings
  ios/engine/KMEI/KeymanEngine/ru.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/ru.lproj/Localizable.stringsdict
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/ru.lproj/Localizable.strings
  linux/keyman-config/locale/ru_RU.po
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/ru.lproj/KMAboutWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/ru.lproj/preferences.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/ru.lproj/KMInfoWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardHelpWindow/ru.lproj/KMKeyboardHelpWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/ru.lproj/Localizable.strings
  mac/Keyman4MacIM/Keyman4MacIM/ru.lproj/MainMenu.strings
  windows/src/desktop/kmshell/locale/ru-RU/strings.xml
  windows/src/desktop/setup/SetupStrings.pas
  windows/src/desktop/setup/bootstrapmain.pas
  windows/src/desktop/setup/locale/en/strings.xml
  windows/src/desktop/setup/locale/ru-RU/strings.xml
Labels: windows/, android/, ios/, mac/, linux/, common/, android/engine/, android/app/, ios/app/, ios/engine/, linux/config/, windows/config/, chore, has-user-test

#8073 chore(common): Check in crowdin for Ukrainian
  android/KMAPro/kMAPro/src/main/res/values-uk-rUA/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/DisplayLanguages.java
  android/KMEA/app/src/main/res/values-uk-rUA/strings.xml
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/uk.lproj/ResourceInfoView.strings
  ios/engine/KMEI/KeymanEngine/uk.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/uk.lproj/Localizable.stringsdict
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/uk.lproj/Localizable.strings
  linux/keyman-config/locale/uk_UA.po
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/uk.lproj/KMAboutWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/uk.lproj/preferences.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/uk.lproj/KMInfoWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardHelpWindow/uk.lproj/KMKeyboardHelpWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/uk.lproj/Localizable.strings
  mac/Keyman4MacIM/Keyman4MacIM/uk.lproj/MainMenu.strings
  windows/src/desktop/kmshell/locale/uk-UA/strings.xml
  windows/src/desktop/setup/locale/uk-UA/strings.xml
Labels: windows/, android/, ios/, mac/, linux/, common/, android/engine/, android/app/, ios/app/, ios/engine/, linux/config/, windows/config/, chore, has-user-test

#8071 chore(common): Add crowdin for Swedish
  android/KMAPro/kMAPro/src/main/res/values-sv-rSE/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/DisplayLanguages.java
  android/KMEA/app/src/main/res/values-sv-rSE/strings.xml
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/sv.lproj/ResourceInfoView.strings
  ios/engine/KMEI/KeymanEngine/sv.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/sv.lproj/Localizable.stringsdict
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/sv.lproj/Localizable.strings
  linux/keyman-config/locale/sv_SE.po
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/sv.lproj/KMAboutWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/sv.lproj/preferences.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/sv.lproj/KMInfoWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardHelpWindow/sv.lproj/KMKeyboardHelpWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/sv.lproj/Localizable.strings
  mac/Keyman4MacIM/Keyman4MacIM/sv.lproj/MainMenu.strings
  windows/src/desktop/kmshell/locale/sv-SE/strings.xml
  windows/src/desktop/setup/locale/sv-SE/strings.xml
Labels: windows/, android/, ios/, mac/, linux/, common/, android/engine/, android/app/, ios/app/, ios/engine/, linux/config/, windows/config/, chore, has-user-test, user-test-failed

#8095 chore(common): Add crowdin strings for Czech 🍒
  android/KMAPro/kMAPro/src/main/res/values-cs-rCZ/strings.xml
  android/KMEA/app/src/main/java/com/tavultesoft/kmea/DisplayLanguages.java
  android/KMEA/app/src/main/res/values-cs-rCZ/strings.xml
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/cs.lproj/ResourceInfoView.strings
  ios/engine/KMEI/KeymanEngine/cs.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/cs.lproj/Localizable.stringsdict
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/cs.lproj/Localizable.strings
  linux/keyman-config/locale/cs_CZ.po
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/cs.lproj/KMAboutWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/cs.lproj/preferences.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/cs.lproj/KMInfoWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardHelpWindow/cs.lproj/KMKeyboardHelpWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/cs.lproj/Localizable.strings
  mac/Keyman4MacIM/Keyman4MacIM/cs.lproj/MainMenu.strings
  windows/src/desktop/kmshell/locale/cs-CZ/strings.xml
  windows/src/desktop/setup/locale/cs-CZ/strings.xml
Labels: windows/, android/, ios/, mac/, linux/, cherry-pick, common/, android/engine/, android/app/, ios/app/, ios/engine/, linux/config/, windows/config/, chore, has-user-test

#8129 auto: increment beta version to 16.0.137
  HISTORY.md
  VERSION.md
Labels: auto

#8130 auto: increment master version to 17.0.40
  HISTORY.md
  VERSION.md
Labels: auto

#8127 chore(developer): kmcmpdll debug src path
  developer/src/tike/main/RedistFiles.pas
Labels: developer/, developer/ide/, chore
