Repository keymanapp/keyman, pull requests merged in 2023-10, with the labels that each got.

#9618 fix(web): fixes toolbar refocus timing after a keyboard change
  web/src/app/ui/kmwuitoolbar.ts
Labels: web/, fix, has-user-test

#9659 auto: increment master version to 17.0.185
  HISTORY.md
  VERSION.md
Labels: auto

#9547 chore(web): Add non-printing characters to the OSK
  android/Tests/KeyboardHarness/app/src/main/assets/keyboardharness.kmp
  android/Tests/KeyboardHarness/app/src/main/assets/test9469.kmp
  android/Tests/KeyboardHarness/readme.md
  web/src/engine/osk/src/specialCharacters.ts
  web/src/resources/osk/keymanweb-osk.ttf
  web/src/test/manual/web/issue9469/test9469/HISTORY.md
  web/src/test/manual/web/issue9469/test9469/build/test9469.js
  web/src/test/manual/web/issue9469/test9469/source/test9469.keyman-touch-layout
  web/src/test/manual/web/issue9469/test9469/source/test9469.kmn
  web/src/test/manual/web/issue9469/test9469/test9469.kpj
Labels: web/, android/, chore, has-user-test, m:osk

#9539 feat(developer): use kmc to compile project files 🎺
  common/test/keyboards/baseline/k_017___space_mnemonic_kbd.kmn
  common/test/keyboards/baseline/k_018___nul_testing.kmn
  common/test/keyboards/obolo_chwerty_6347/source/obolo_chwerty_6347.kps
  common/test/keyboards/obolo_chwerty_6351/source/obolo_chwerty_6351.kps
  developer/src/common/delphi/lexicalmodels/Keyman.Developer.System.LexicalModelCompile.pas
  developer/src/kmc-analyze/src/util/get-osk-from-kmn-file.ts
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/test/kmw/test-kmw-compiler.ts
  developer/src/kmc-kmn/test/test-compiler.ts
  developer/src/kmc-kmn/test/test-messages.ts
  developer/src/kmc/src/commands/buildClasses/BuildKmnKeyboard.ts
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
  developer/src/kmcomp/kccompileproject.pas
  developer/src/kmcomp/kmcomp.dpr
  developer/src/kmcomp/kmcomp.dproj
  developer/src/test/auto/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dpr
  developer/src/test/auto/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dproj
  developer/src/test/auto/kmcomp/test.bat
  developer/src/test/auto/kmcomp/test_194_filename_case.kmn
  developer/src/test/auto/kmcomp/test_194_filename_case.out.txt
  developer/src/test/auto/kmcomp/test_valid.kps
  developer/src/tike/compile/Keyman.Developer.System.KmcWrapper.pas
  developer/src/tike/main/Keyman.Developer.System.KeymanDeveloperPaths.pas
  developer/src/tike/main/UfrmMessages.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectFile.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectFiles.pas
  developer/src/tike/project/Keyman.Developer.System.Project.kmnProjectFileAction.pas
  developer/src/tike/project/Keyman.Developer.System.Project.kpsProjectFileAction.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.kmnProjectFileUI.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.kpsProjectFileUI.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
Labels: developer/, common/, developer/compilers/, feat, developer/ide/, has-user-test, epic-package-metadata

#9607 feat(developer): Windows package installer compiler 🎺
  common/web/types/src/package/kps-file.ts
  core/tests/unit/ldml/keyboards/meson.build
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/windows-package-installer-compiler.ts
  developer/src/kmc-package/src/main.ts
  developer/src/kmc-package/test/fixtures/windows-installer/keymandesktop.txt
  developer/src/kmc-package/test/fixtures/windows-installer/license.txt
  developer/src/kmc-package/test/fixtures/windows-installer/setup.txt
  developer/src/kmc-package/test/test-windows-package-installer-compiler.ts
  developer/src/kmc/README.md
  developer/src/kmc/src/commands/analyze.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildTestData.ts
  developer/src/kmc/src/commands/buildTestData/index.ts
  developer/src/kmc/src/commands/buildWindowsPackageInstaller/index.ts
  developer/src/kmc/src/kmc.ts
  developer/src/kmc/src/util/baseOptions.ts
Labels: developer/, common/, developer/compilers/, feat, core/, common/web/, epic-package-metadata

#9616 feat(developer): remove Delphi package installer compiler 🎺
  developer/src/README.md
  developer/src/common/delphi/compiler/CompilePackage.pas
  developer/src/common/delphi/compiler/CompilePackageInstaller.pas
  developer/src/kmc-package/test/fixtures/versioning/test-1.0/test-1.0.kpj
  developer/src/kmc-package/test/fixtures/versioning/test-1.0/test.js
  developer/src/kmc-package/test/fixtures/versioning/test-1.0/test.kmn
  developer/src/kmc-package/test/fixtures/versioning/test-1.0/test.kmx
  developer/src/kmc-package/test/fixtures/versioning/test-2.0/test-2.0.kpj
  developer/src/kmc-package/test/fixtures/versioning/test-2.0/test.js
  developer/src/kmc-package/test/fixtures/versioning/test-2.0/test.kmn
  developer/src/kmc-package/test/fixtures/versioning/test-2.0/test.kmx
  developer/src/kmc-package/test/fixtures/versioning/test-keyboard-1-vs-package-2.kps
  developer/src/kmc-package/test/fixtures/versioning/test-package-1-vs-keyboard-2.kps
  developer/src/kmc-package/test/fixtures/versioning/test1-2.kps
  developer/src/kmc-package/test/fixtures/versioning/test1.kps
  developer/src/kmc-package/test/fixtures/versioning/test2-1.kps
  developer/src/kmc-package/test/fixtures/versioning/test2.kps
  developer/src/kmc-package/test/test-versioning.ts
  developer/src/test/auto/Makefile
  developer/src/test/auto/developer-test-auto.groupproj
  developer/src/test/auto/keyboard-package-versions/.gitignore
  developer/src/test/auto/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dpr
  developer/src/test/auto/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dproj
  developer/src/test/auto/keyboard-package-versions/KeyboardPackageVersionsTestSuite.res
  developer/src/test/auto/keyboard-package-versions/Keyman.Test.System.CompilePackageVersioningTest.pas
  developer/src/test/auto/keyboard-package-versions/Makefile
  developer/src/tike/child/UfrmPackageEditor.dfm
  developer/src/tike/child/UfrmPackageEditor.pas
  developer/src/tike/project/Keyman.Developer.System.Project.kpsProjectFileAction.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.ProjectFileUI.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmProject.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.kpsProjectFileUI.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
  developer/src/tike/xml/project/distribution.xsl
  developer/src/tike/xml/project/packages.xsl
  docs/build/windows.md
  oem/firstvoices/windows/src/inst/Makefile
  oem/firstvoices/windows/src/inst/download.in
  windows/src/buildtools/Makefile
  windows/src/buildtools/buildpkg/Makefile
  windows/src/buildtools/buildpkg/buildpkg.dpr
  windows/src/buildtools/buildpkg/buildpkg.dproj
  windows/src/buildtools/buildpkg/buildpkg.res
  windows/src/buildtools/buildpkg/buildpkgmain.pas
  windows/src/buildtools/buildpkg/version.rc
  windows/src/desktop/inst/Makefile
  windows/src/desktop/inst/download.in
Labels: windows/, developer/, developer/compilers/, oem/, feat, developer/ide/, oem/fv/, oem/fv/windows/, windows/config/, docs, epic-package-metadata

#9661 chore(developer): add test for `checkFilenameConventions == false` or unset
  developer/src/kmc-package/test/fixtures/invalid/my_file.PDF
  developer/src/kmc-package/test/test-messages.ts
Labels: developer/, developer/compilers/, chore

#9615 feat(developer): ldml scan codes support 🙀
  common/web/types/src/consts/virtual-key-constants.ts
  common/web/types/src/kmx/kmx-plus-builder/build-layr.ts
  common/web/types/src/kmx/kmx-plus-builder/build-vkey.ts
  common/web/types/src/kmx/kmx-plus-builder/kmx-plus-builder.ts
  common/web/types/src/kmx/kmx-plus.ts
  common/web/types/src/kvk/kvk-file.ts
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml.ts
  common/web/types/test/ldml-keyboard/test-ldml-keyboard-xml-reader.ts
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/C7043_ldml.md
  core/tests/unit/kmx/meson.build
  core/tests/unit/ldml/keyboards/k_020_fr.xml
  core/tests/unit/ldml/keyboards/meson.build
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/layr.ts
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/src/compiler/visual-keyboard-compiler.ts
  developer/src/kmc-ldml/src/compiler/vkey.ts
  developer/src/kmc-ldml/test/fixtures/basic.txt
  developer/src/kmc-ldml/test/fixtures/basic.xml
  developer/src/kmc-ldml/test/fixtures/sections/layr/error-custom-us-form.xml
  developer/src/kmc-ldml/test/fixtures/sections/layr/error-custom-zzz-form.xml
  developer/src/kmc-ldml/test/fixtures/sections/layr/warn-custom-us-form.xml
  developer/src/kmc-ldml/test/fixtures/sections/layr/warn-custom-zzz-form.xml
  developer/src/kmc-ldml/test/fixtures/sections/vkey/invalid-from-vkey.xml
  developer/src/kmc-ldml/test/fixtures/sections/vkey/invalid-repeated-vkey.xml
  developer/src/kmc-ldml/test/fixtures/sections/vkey/invalid-to-vkey.xml
  developer/src/kmc-ldml/test/fixtures/sections/vkey/minimal.xml
  developer/src/kmc-ldml/test/fixtures/sections/vkey/redundant.xml
  developer/src/kmc-ldml/test/fixtures/sections/vkey/same-target.xml
  developer/src/kmc-ldml/test/test-keys.ts
  developer/src/kmc-ldml/test/test-layr.ts
  developer/src/kmc-ldml/test/test-virtual-key-constants.ts
  developer/src/kmc-ldml/test/test-vkey.ts
  resources/standards-data/ldml-keyboards/techpreview/3.0/fr-t-k0-azerty.xml
  resources/standards-data/ldml-keyboards/techpreview/3.0/pcm.xml
  resources/standards-data/ldml-keyboards/techpreview/cldr_info.json
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard3.dtd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard3.xsd
  resources/standards-data/ldml-keyboards/techpreview/import/scanCodes-implied.xml
  resources/standards-data/ldml-keyboards/techpreview/ldml-keyboard3.schema.json
Labels: developer/, common/, developer/compilers/, common/resources/, feat, core/, common/web/, epic-ldml

#9669 auto: increment master version to 17.0.186
  HISTORY.md
  VERSION.md
Labels: auto

#9612 chore(developer): normalize case on input filenames in kmc 🎺
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildWindowsPackageInstaller/index.ts
Labels: developer/, developer/compilers/, chore, epic-package-metadata

#9621 chore(developer): validate emitted .keyboard_info and fix keys 🎺
  common/schemas/keyboard_info/keyboard_info.schema.json
  common/web/types/src/package/kmp-json-file.ts
  common/web/types/src/package/kps-file.ts
  developer/src/common/delphi/compiler/Keyman.Developer.System.ValidateKpsFile.pas
  developer/src/kmc-keyboard-info/package.json
  developer/src/kmc-keyboard-info/src/example-keys.ts
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-keyboard-info/src/keyboard-info-file.ts
  developer/src/kmc-keyboard-info/src/messages.ts
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/build/khmer_angkor.keyboard_info
  developer/src/kmc-keyboard-info/test/test-keyboard-info-compiler.ts
  developer/src/tike/Profiling/AQtimeModule1.aqt
  developer/src/tike/compile/KeymanWebKeyCodes.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
  package-lock.json
Labels: developer/, common/, developer/compilers/, common/web/, developer/ide/, chore, epic-package-metadata

#9652 feat(developer): show an INFO message when warnings have failed a build
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/messages/infrastructureMessages.ts
  developer/src/kmc/test/test-infrastructureMessages.ts
Labels: developer/, developer/compilers/, feat

#9653 chore(developer): reduce duplicate words warning to hint
  developer/src/kmc-model/src/build-trie.ts
  developer/src/kmc-model/src/model-compiler-errors.ts
  developer/src/kmc-model/test/test-parse-wordlist.ts
Labels: developer/, developer/compilers/, chore

#9658 feat(developer): issue hint if package includes keyboard source files
  developer/src/kmc-package/src/compiler/messages.ts
  developer/src/kmc-package/src/compiler/package-validation.ts
  developer/src/kmc-package/test/fixtures/invalid/error_package_must_contain_a_model_or_a_keyboard.kps
  developer/src/kmc-package/test/fixtures/invalid/example.txt
  developer/src/kmc-package/test/fixtures/invalid/hint_source_file_should_not_be_in_package.kps
  developer/src/kmc-package/test/test-messages.ts
Labels: developer/, developer/compilers/, feat

#9662 chore(developer): switch on code coverage reporting for kmc
  developer/src/kmc/build.sh
Labels: developer/, developer/compilers/, chore

#9668 fix(core): clean cached ICU in core
  core/commands.inc.sh
Labels: fix, core/

#9667 feat(developer): warn if .kps includes a .js which is not touch-capable
  developer/src/kmc-package/src/compiler/kmx-keyboard-metadata.ts
  developer/src/kmc-package/src/compiler/messages.ts
  developer/src/kmc-package/src/compiler/package-keyboard-target-validator.ts
  developer/src/kmc-package/src/compiler/web-keyboard-metadata.ts
  developer/src/kmc-package/test/fixtures/invalid/hint_js_keyboard_file_has_no_touch_targets.js
  developer/src/kmc-package/test/fixtures/invalid/hint_js_keyboard_file_has_no_touch_targets.kmn
  developer/src/kmc-package/test/fixtures/invalid/hint_js_keyboard_file_has_no_touch_targets.kps
  developer/src/kmc-package/test/test-messages.ts
Labels: developer/, developer/compilers/, feat

#9686 auto: increment master version to 17.0.187
  HISTORY.md
  VERSION.md
Labels: auto

#9691 feat(common): precompile ajv schemas 🎺
  common/web/types/.eslintrc.cjs
  common/web/types/.gitignore
  common/web/types/build.sh
  common/web/types/package.json
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file-reader.ts
  common/web/types/src/kpj/kpj-file-reader.ts
  common/web/types/src/kvk/kvks-file-reader.ts
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/src/main.ts
  common/web/types/src/osk/osk.ts
  common/web/types/src/schema-validators.ts
  common/web/types/test/helpers/index.ts
  common/web/types/test/tsconfig.json
  common/web/types/tools/formats.cjs
  common/web/types/tools/schema-bundler.js
  common/web/types/tsconfig.json
  common/web/utils/package.json
  developer/src/kmc-keyboard-info/build.sh
  developer/src/kmc-keyboard-info/package.json
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-ldml/package.json
  developer/src/kmc-ldml/tsconfig.json
  package-lock.json
  package.json
  tsconfig.esm-base.json
Labels: developer/, common/, developer/compilers/, feat, common/web/, epic-package-metadata

#9673 chore(developer): convert Server to ES Modules
  developer/src/server/Makefile
  developer/src/server/build-addins.inc.sh
  developer/src/server/build.sh
  developer/src/server/package.json
  developer/src/server/postbuild.sh
  developer/src/server/src/config.ts
  developer/src/server/src/data.ts
  developer/src/server/src/environment.ts
  developer/src/server/src/handlers/api/debugobject/get.ts
  developer/src/server/src/handlers/api/debugobject/register.ts
  developer/src/server/src/handlers/api/debugobject/unregister.ts
  developer/src/server/src/handlers/api/font/register.ts
  developer/src/server/src/handlers/api/keyboard/register.ts
  developer/src/server/src/handlers/api/package/register.ts
  developer/src/server/src/handlers/inc/keyboards-css.ts
  developer/src/server/src/handlers/inc/keyboards-js.ts
  developer/src/server/src/handlers/inc/packages-json.ts
  developer/src/server/src/index.ts
  developer/src/server/src/ngrok.d.ts
  developer/src/server/src/routes.ts
  developer/src/server/src/tray.ts
  developer/src/server/src/win32-tray.ts
  developer/src/server/src/win32/console/index.d.ts
  developer/src/server/src/win32/console/index.js
  developer/src/server/src/win32/console/index.ts
  developer/src/server/src/win32/trayicon/index.ts
  developer/src/server/test/tsconfig.json
  developer/src/server/test/version-data.test.ts
  developer/src/server/tsconfig.json
  package-lock.json
  tsconfig.cjs.json
  tsconfig.esm.json
Labels: developer/, developer/ide/, chore, has-user-test

#9676 chore(common): convert hextobin to ES Modules
  common/tools/hextobin/build.sh
  common/tools/hextobin/hextobin.ts
  common/tools/hextobin/package.json
  common/tools/hextobin/tsconfig.json
  developer/src/kmc-ldml/test/test-compiler-e2e.ts
  developer/src/kmc-ldml/test/test-visual-keyboard-compiler-e2e.ts
  tsconfig.esm.json
Labels: developer/, common/, developer/compilers/, chore

#9680 chore(common): keyman-version now generates only es module
  common/web/keyman-version/build-bundler.js
  common/web/keyman-version/build.sh
  common/web/keyman-version/package.json
  common/web/keyman-version/tsconfig.json
  package-lock.json
Labels: common/, common/resources/, common/web/, chore

#9681 chore(common): cleanup final Typescript non-ESM metadata
  common/models/templates/package.json
  common/models/wordbreakers/package.json
  common/predictive-text/testing/index.html
  common/predictive-text/testing/one-stage-embedded-webworker/.gitignore
  common/predictive-text/testing/one-stage-embedded-webworker/build.sh
  common/predictive-text/testing/one-stage-embedded-webworker/index.html
  common/predictive-text/testing/one-stage-embedded-webworker/main.ts
  common/predictive-text/testing/one-stage-embedded-webworker/tsconfig.json
  common/predictive-text/testing/post-blob-webworker/canaryWorker.js
  common/predictive-text/testing/post-blob-webworker/index.html
  common/predictive-text/testing/simple-webworker/canaryWorker.js
  common/predictive-text/testing/simple-webworker/index.html
  common/predictive-text/testing/two-stage-embedded-webworker/.gitignore
  common/predictive-text/testing/two-stage-embedded-webworker/build.sh
  common/predictive-text/testing/two-stage-embedded-webworker/index.html
  common/predictive-text/testing/two-stage-embedded-webworker/main.ts
  common/predictive-text/testing/two-stage-embedded-webworker/tsconfig.json
  common/predictive-text/testing/two-stage-embedded-webworker/worker/canaryWorker.ts
  common/predictive-text/testing/two-stage-embedded-webworker/worker/tsconfig.json
  common/tools/hextobin/tsconfig.json
  common/tools/sourcemap-path-remapper/src/convert-source-map.d.ts
  common/tools/sourcemap-path-remapper/tsconfig.json
  common/web/es-bundling/tsconfig.json
  common/web/keyman-version/tsconfig.json
  common/web/lm-message-types/tsconfig.json
  common/web/sentry-manager/src/tsconfig.json
  common/web/types/test/tsconfig.json
  common/web/types/tsconfig.json
  core/include/ldml/tsconfig.build.json
  core/include/ldml/tsconfig.json
  developer/src/common/web/test-helpers/tsconfig.json
  developer/src/kmc-analyze/tsconfig.json
  developer/src/kmc-keyboard-info/test/tsconfig.json
  developer/src/kmc-kmn/tsconfig.json
  developer/src/kmc-ldml/tsconfig.json
  developer/src/kmc-model-info/test/tsconfig.json
  developer/src/kmc-model/test/test-join-word-breaker.ts
  developer/src/kmc-model/test/test-override-script-defaults.ts
  developer/src/kmc-model/test/tsconfig.json
  developer/src/kmc-model/test/wordbreakers/README.md
  developer/src/kmc-model/test/wordbreakers/data.ts
  developer/src/kmc-model/test/wordbreakers/default-wordbreaker-esm.ts
  developer/src/kmc/tsconfig.kmc-base.json
  developer/src/server/test/tsconfig.json
  developer/src/server/tsconfig.json
  resources/build/version/tsconfig.json
  tsconfig.base.json
  tsconfig.cjs.json
  tsconfig.esm-base.json
  tsconfig.json
  web/tsconfig.base.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, core/, common/web/, common/models/templates/, common/models/wordbreakers/, developer/ide/, chore

#9697 chore(ios): renew certificate
  ios/exportAppStore.plist
Labels: ios/, chore

#9687 feat(core): match any marker 🙀
  common/web/types/src/kmx/kmx-plus.ts
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
  core/src/ldml/C9134_ldml_markers.md
  core/tests/unit/ldml/keyboards/k_210_marker-test.xml
  core/tests/unit/ldml/keyboards/k_210_marker.xml
  developer/src/kmc-ldml/src/compiler/tran.ts
Labels: developer/, common/, developer/compilers/, feat, core/, common/web/, epic-ldml

#9688 feat(developer): ldml fix all remaining TODOs around markers and variables 🙀
  common/web/types/src/kmx/element-string.ts
  common/web/types/src/kmx/kmx-plus.ts
  common/web/types/src/kmx/string-list.ts
  developer/src/kmc-ldml/src/compiler/disp.ts
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/tran.ts
  developer/src/kmc-ldml/src/compiler/vars.ts
  developer/src/kmc-ldml/test/fixtures/sections/disp/maximal.xml
  developer/src/kmc-ldml/test/fixtures/sections/keys/maximal.xml
  developer/src/kmc-ldml/test/test-keys.ts
  developer/src/kmc-ldml/test/test-vars.ts
Labels: developer/, common/, developer/compilers/, feat, common/web/, epic-ldml

#9695 fix(windows): re-enable signature check 🔥
  common/windows/delphi/ext/sentry/test/Makefile
  common/windows/delphi/tools/Makefile
  common/windows/delphi/tools/verify_signatures/Makefile
  common/windows/delphi/tools/verify_signatures/sigcheck.bin
  common/windows/delphi/tools/verify_signatures/verify_signatures.dpr
  common/windows/delphi/tools/verify_signatures/verify_signatures.dproj
  common/windows/delphi/tools/verify_signatures/verify_signatures.res
  developer/src/Makefile
  developer/src/inst/download.in.mak
  developer/src/server/Makefile
  developer/src/tools/verify_signatures/Makefile
  windows/src/Defines.mak
  windows/src/Makefile
  windows/src/desktop/inst/download.in
  windows/src/desktop/insthelp/Makefile
  windows/src/desktop/kmconfig/Makefile
  windows/src/desktop/kmshell/Makefile
  windows/src/support/charident/Makefile
  windows/src/support/km_yim/Makefile
  windows/src/test/Makefile
  windows/src/test/test_i3633/Makefile
  windows/src/test/verify_signatures/Makefile
Labels: windows/, developer/, common/, fix, developer/ide/, windows/config/

#9727 fix(common): fix schema fixer 🙀
  resources/standards-data/ldml-keyboards/techpreview/cldr_info.json
  resources/standards-data/ldml-keyboards/techpreview/fixup-schema.js
  resources/standards-data/ldml-keyboards/techpreview/ldml-keyboardtest3.schema.json
Labels: common/, common/resources/, fix, epic-ldml

#9723 chore(core): rename keyboardprocessor.h to keyman_core_api.h
  core/doc/hotdoc.json
  core/doc/introspection.schema
  core/doc/markdown_files/index.md
  core/doc/meson.build
  core/include/keyman/keyman_core_api.h
  core/include/keyman/keyman_core_api_bits.h
  core/include/keyman/keyman_core_api_consts.h
  core/include/keyman/keyman_core_api_debug.h
  core/include/keyman/keyman_core_api_version.h.in
  core/include/keyman/keyman_core_api_vkeys.h
  core/include/keyman/meson.build
  core/src/context.hpp
  core/src/debug.hpp
  core/src/debuglog.h
  core/src/keyboard.hpp
  core/src/km_kbp_context_api.cpp
  core/src/km_kbp_debug_api.cpp
  core/src/km_kbp_keyboard_api.cpp
  core/src/km_kbp_options_api.cpp
  core/src/km_kbp_processevent_api.cpp
  core/src/km_kbp_state_api.cpp
  core/src/kmx/kmx_base.h
  core/src/kmx/kmx_capslock.cpp
  core/src/kmx/kmx_environment.cpp
  core/src/kmx/kmx_options.h
  core/src/kmx/kmx_processevent.cpp
  core/src/kmx/kmx_processevent.h
  core/src/kmx/kmx_processor.cpp
  core/src/kmx/kmx_processor.hpp
  core/src/ldml/ldml_processor.hpp
  core/src/ldml/ldml_vkeys.hpp
  core/src/mock/mock_processor.hpp
  core/src/option.hpp
  core/src/path.hpp
  core/src/processor.hpp
  core/src/state.cpp
  core/src/state.hpp
  core/src/version.rc
  core/tests/unit/kmnkbd/action_items.hpp
  core/tests/unit/kmnkbd/context_api.cpp
  core/tests/unit/kmnkbd/debug_api.cpp
  core/tests/unit/kmnkbd/debug_items.hpp
  core/tests/unit/kmnkbd/keyboard_api.cpp
  core/tests/unit/kmnkbd/options_api.cpp
  core/tests/unit/kmnkbd/state_api.cpp
  core/tests/unit/ldml/ldml_test_utils.hpp
  developer/src/tike/main/Keyman.System.KeymanCore.pas
  developer/src/tike/main/Keyman.System.KeymanCoreDebug.pas
  docs/settings/linux/settings.json
  linux/debian/tests/test-build
  linux/ibus-keyman/src/engine.c
  linux/ibus-keyman/src/keycodes.h
  linux/ibus-keyman/src/keymanutil.c
  linux/ibus-keyman/src/keymanutil.h
  linux/ibus-keyman/tests/testfixture.cpp
  windows/src/engine/keyman32/keymanengine.h
Labels: windows/, developer/, linux/, linux/engine/, core/, developer/ide/, windows/engine/, chore, docs

#9730 chore(developer): fixup signcode paths for server
  developer/src/server/Makefile
Labels: developer/, developer/ide/, chore

#9706 fix(linux): Explicitly initialize GTK
  linux/keyman-config/km-config
Labels: linux/, fix, linux/config/, has-user-test

#9725 chore(linux): Improve Sentry reports
  linux/keyman-config/keyman_config/sentry_handling.py
Labels: linux/, linux/config/, chore

#9701 chore: allowJs for imported schemas 🎺
  developer/src/common/web/utils/tsconfig.json
  tsconfig.base.json
Labels: developer/, common/, common/web/, chore, epic-package-metadata

#9709 feat(developer): introduce WelcomeFile property to packages 🎺
  common/schemas/kps/kps.xsd
  common/web/types/src/package/kmp-json-file.ts
  common/web/types/src/package/kps-file.ts
  common/windows/delphi/packages/PackageInfo.pas
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/test/fixtures/khmer_angkor/ref/kmp.json
  developer/src/kmc-package/test/fixtures/khmer_angkor/source/khmer_angkor.kps
  developer/src/tike/child/UfrmPackageEditor.dfm
  developer/src/tike/child/UfrmPackageEditor.pas
Labels: developer/, common/, developer/compilers/, feat, common/web/, developer/ide/, has-user-test, epic-package-metadata

#9711 refactor(developer): .keyboard_info examples should use keys as a string 🎺
  common/schemas/keyboard_info/README.md
  common/schemas/keyboard_info/keyboard_info.schema.json
  developer/src/kmc-keyboard-info/src/example-keys.ts
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-keyboard-info/src/keyboard-info-file.ts
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/build/khmer_angkor.keyboard_info
Labels: developer/, common/, developer/compilers/, refactor, epic-package-metadata

#9712 fix(developer): non-minimal BCP 47 tags in kps should be a hint 🎺
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/messages.ts
  developer/src/kmc-package/src/compiler/package-validation.ts
  developer/src/kmc-package/test/fixtures/invalid/hint_language_tag_is_not_minimal.kps
  developer/src/kmc-package/test/fixtures/invalid/hint_package_should_not_repeat_languages.kps
  developer/src/kmc-package/test/fixtures/invalid/keyman.en.hint_package_should_not_repeat_languages.model.kps
  developer/src/kmc-package/test/test-messages.ts
Labels: developer/, developer/compilers/, fix, epic-package-metadata

#9714 chore(common): stop using xml2js.processors.firstCharLowerCase 🎺
  common/web/types/src/package/kps-file.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/package-version-validator.ts
  developer/src/kmc-package/src/compiler/windows-package-installer-compiler.ts
Labels: developer/, common/, developer/compilers/, common/web/, chore, epic-package-metadata

#9716 chore(developer): Update kmc-package xml2js dependency 🎺
  developer/src/kmc-analyze/package.json
  developer/src/kmc-kmn/package.json
  developer/src/kmc-ldml/package.json
  developer/src/kmc-model-info/package.json
  developer/src/kmc-model/package.json
  developer/src/kmc-package/package.json
  developer/src/kmc/package.json
  package-lock.json
Labels: developer/, developer/compilers/, chore, epic-package-metadata

#9717 chore(developer): add --for-publishing to kmc 🎺
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-keyboard-info/test/test-keyboard-info-compiler.ts
  developer/src/kmc-model-info/src/model-info-compiler.ts
  developer/src/kmc-model-info/test/test-model-info-compiler.ts
  developer/src/kmc-model-info/tsconfig.json
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildModelInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/src/util/extendedCompilerOptions.ts
Labels: developer/, developer/compilers/, chore, epic-package-metadata

#9731 chore: clean up a few minor discrepancies in builder.inc.sh
  resources/build/build-utils.sh
  resources/builder.inc.sh
Labels: common/, common/resources/, chore

#9738 fix: path for ESM increment-version, and exit code
  resources/build/increment-version.sh
  resources/build/version/src/index.ts
Labels: common/, common/resources/, fix

#9739 auto: increment master version to 17.0.188
  HISTORY.md
  VERSION.md
Labels: auto

#9742 auto: increment master version to 17.0.189
  HISTORY.md
  VERSION.md
Labels: auto

#9648 refactor(linux): Use auto cleanup
  linux/ibus-keyman/src/engine.c
  linux/ibus-keyman/src/keymanutil.c
  linux/ibus-keyman/src/keymanutil_internal.h
  linux/ibus-keyman/src/kmpdetails.c
  linux/ibus-keyman/src/kmpdetails.h
  linux/ibus-keyman/src/main.c
  linux/ibus-keyman/src/test/keymanutil_tests.c
  linux/ibus-keyman/src/test/print_kmpdetails.c
  linux/ibus-keyman/tests/meson.build
  linux/ibus-keyman/tests/scripts/run-single-test.sh
  linux/ibus-keyman/tests/scripts/test-helper.inc.sh
Labels: linux/, linux/engine/, refactor

#9745 auto: increment master version to 17.0.190
  HISTORY.md
  VERSION.md
Labels: auto

#9743 chore(web): web build streamlining
  web/build.sh
  web/src/tools/build.sh
Labels: web/, chore

#9753 chore(linux): Add code coverage reports for keyman-config and keyman-system-service
  docs/settings/linux/tasks.json
  linux/build.sh
  linux/keyman-config/build.sh
  linux/keyman-config/run-tests.sh
  linux/keyman-system-service/build.sh
Labels: linux/, linux/config/, chore, docs

#9755 auto: increment master version to 17.0.191
  HISTORY.md
  VERSION.md
Labels: auto

#9746 chore: update readme for keyboard_info schema
  common/schemas/keyboard_info/README.md
Labels: common/, chore

#9763 auto: increment master version to 17.0.192
  HISTORY.md
  VERSION.md
Labels: auto

#9765 fix(ios): missing backslash in build script
  oem/firstvoices/ios/build.sh
Labels: ios/, oem/, fix, oem/fv/, oem/fv/ios/

#9754 chore(linux): Speed up ibus-util tests
  linux/keyman-config/tests/test_ibus_util.py
Labels: linux/, linux/config/, chore

#9735 feat(linux): Allow loading of keyboards with arbitrary language 🏘️
  linux/ibus-keyman/src/keymanutil.c
  linux/ibus-keyman/src/keymanutil.h
  linux/ibus-keyman/src/keymanutil_internal.h
  linux/ibus-keyman/src/kmpdetails.c
  linux/ibus-keyman/src/test/keymanutil_tests.c
  linux/keyman-config/resources/com.keyman.gschema.xml
Labels: linux/, feat, linux/config/, linux/engine/

#9776 auto: increment master version to 17.0.193
  HISTORY.md
  VERSION.md
Labels: auto

#9771 fix(developer): kmc crash on start
  developer/src/kmc/src/commands/analyze.ts
Labels: developer/, developer/compilers/, fix

#9258 fix(core): don't use double newlines in debuglog
  core/src/debuglog.cpp
Labels: fix, core/

#9758 chore(linux): Add code coverage index page
  docs/linux/README.md
  linux/CodeCoverageReports.html
  linux/README.md
  linux/build.sh
  linux/keyman-system-service/build.sh
Labels: linux/, chore, docs

#9756 feat(linux): Allow installing keyboards with arbitrary language 🏘️
  linux/keyman-config/keyman_config/custom_keyboards.py
  linux/keyman-config/keyman_config/gsettings.py
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/uninstall_kmp.py
  linux/keyman-config/tests/test_custom_keyboards.py
  linux/keyman-config/tests/test_install_kmp.py
  linux/keyman-config/tests/test_uninstall_kmp.py
Labels: linux/, feat, linux/config/, has-user-test

#9774 fix(linux): Fix crash initializing Sentry with Python < 3.10
  linux/keyman-config/keyman_config/sentry_handling.py
Labels: linux/, fix, linux/config/, has-user-test

#9782 auto: increment master version to 17.0.194
  HISTORY.md
  VERSION.md
Labels: auto

#9787 fix(ios): cherrypicks FV ios build script fix 🐵
  oem/firstvoices/ios/build.sh
Labels: ios/, oem/, fix, oem/fv/, oem/fv/ios/, epic-gestures

#9780 chore(linux): Re-enable building for Ubuntu 23.10 Mantic
  .github/workflows/deb-packaging.yml
  linux/scripts/launchpad.sh
Labels: linux/, chore

#9783 chore(linux): Add missing tests
  linux/ibus-keyman/src/test/keymanutil_tests.c
Labels: linux/, linux/engine/, chore

#9786 fix(web): fixes touch form-factor default kbd on cookieless keymanweb.com page load
  web/src/app/browser/src/keymanEngine.ts
Labels: web/, fix

#9784 fix(developer): three kmc .keyboard_info generation bugs
  common/web/types/src/main.ts
  developer/src/common/web/utils/src/validate-mit-license.ts
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
Labels: developer/, common/, developer/compilers/, fix, common/web/

#9785 fix(developer): handle invalid project folders cleanly
  common/web/types/src/kpj/keyman-developer-project.ts
  developer/src/kmc/src/messages/infrastructureMessages.ts
  developer/src/kmc/src/util/projectLoader.ts
Labels: developer/, common/, developer/compilers/, fix, common/web/

#9781 chore(linux): Fix build scripts
  docs/linux/README.md
  linux/ibus-keyman/build.sh
  linux/keyman-system-service/build.sh
Labels: linux/, linux/engine/, chore, docs

#9796 auto: increment master version to 17.0.195
  HISTORY.md
  VERSION.md
Labels: auto

#9770 chore(windows): merge master epic win upg cert 📲
  HISTORY.md
  VERSION.md
  common/schemas/keyboard_info/README.md
  oem/firstvoices/ios/build.sh
  windows/src/engine/keyman32/keyman32.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj
Labels: windows/, common/, oem/, oem/fv/, oem/fv/ios/, windows/engine/, chore, epic-windows-upgrades

#9790 chore(linux): Allow to collect coverage on TC
  docs/linux/README.md
  linux/keyman-config/build.sh
  linux/keyman-config/run-tests.sh
Labels: linux/, linux/config/, chore, docs

#9798 fix(common): don't use URL in common/web/types
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/test/helpers/reader-callback-test.ts
  developer/src/kmc-ldml/test/helpers/index.ts
  developer/src/kmc/src/commands/buildClasses/BuildLdmlKeyboard.ts
  developer/src/kmc/src/commands/buildTestData/index.ts
Labels: developer/, common/, developer/compilers/, fix, common/web/

#9800 chore: update kmp.schema.json and docs for kps schema
  common/schemas/kmp/README.md
  common/schemas/kmp/kmp.schema.json
  common/schemas/kps/README.md
Labels: common/, chore

#9689 docs(windows): update text and images for windows 11
  windows/src/desktop/help/advanced/index.md
  windows/src/desktop/help/advanced/text_services_framework.md
  windows/src/desktop/help/basic/make-taskbar-icon-visible.md
  windows/src/desktop/help/basic/uninstall.md
  windows/src/desktop/help/desktop_images/win11-taskbar1.png
  windows/src/desktop/help/desktop_images/win11-taskbar2.png
  windows/src/desktop/help/desktop_images/win11-uninstall.png
  windows/src/desktop/help/desktop_images/win11_km_install_anywhere_1.png
  windows/src/desktop/help/index.md
  windows/src/desktop/help/start/download-and-install-keyman.md
  windows/src/desktop/help/troubleshooting/index.md
  windows/src/desktop/help/troubleshooting/install-app-from-anywhere.md
Labels: windows/, windows/config/, docs, has-user-test

#9807 auto: increment master version to 17.0.196
  HISTORY.md
  VERSION.md
Labels: auto

#9777 fix(mac): move keyboard menu items to main Input Menu from submenu 🔥
  mac/Keyman4MacIM/Keyman4MacIM/Base.lproj/MainMenu.xib
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/KMConfigurationWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/en.lproj/Localizable.strings
Labels: mac/, fix, has-user-test

#9728 feat(core): initial normalization 🙀
  core/src/debuglog.h
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_processor.hpp
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/subprojects/packagefiles/icu/meson.build
  core/tests/unit/ldml/keyboards/k_008_transform_norm-test.xml
  core/tests/unit/ldml/keyboards/k_008_transform_norm.xml
  core/tests/unit/ldml/keyboards/meson.build
  core/tests/unit/ldml/ldml.cpp
  core/tests/unit/ldml/ldml_test_source.cpp
Labels: feat, core/, chore, epic-ldml

#9759 chore(core): dx: ldml test improvement, backspace test 🙀
  common/web/types/src/ldml-keyboard/ldml-keyboard-testdata-xml.ts
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/src/util/common-events.ts
  common/web/types/test/fixtures/test-fr.xml
  common/web/types/test/ldml-keyboard/test-ldml-keyboard-testdata-reader.ts
  core/tests/unit/ldml/keyboards/k_006_backspace-test.xml
  core/tests/unit/ldml/keyboards/k_006_backspace.xml
  core/tests/unit/ldml/keyboards/meson.build
  core/tests/unit/ldml/ldml.cpp
  core/tests/unit/ldml/ldml_test_source.cpp
  developer/src/kmc-ldml/test/fixtures/test-fr.json
  developer/src/kmc-ldml/test/fixtures/test-fr.xml
  developer/src/kmc-ldml/test/test-testdata-e2e.ts
Labels: developer/, common/, developer/compilers/, core/, common/web/, chore

#9809 docs(common): macos build update
  docs/build/macos.md
Labels: common/, docs

#9811 chore(ios): renew certificate 🍒 🏠
  ios/exportAppStore.plist
Labels: ios/, stable, cherry-pick, chore

#9810 fix(mac): move keyboard menu items to main Input Menu from submenu 🔥 🍒 🏠
  mac/Keyman4MacIM/Keyman4MacIM/Base.lproj/MainMenu.xib
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/KMConfigurationWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/en.lproj/Localizable.strings
Labels: mac/, stable, cherry-pick, fix, has-user-test

#9813 auto: increment stable-16.0 version to 16.0.143
  HISTORY.md
  VERSION.md
Labels: stable, auto

#9655 fix(web): bug fixes and tweaks to facilitate OSK integration 🐵
  common/web/gesture-recognizer/src/engine/headless/gesturePath.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/gestureModel.ts
  common/web/gesture-recognizer/src/engine/headless/inputEngineBase.ts
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  common/web/gesture-recognizer/src/engine/mouseEventEngine.ts
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
  common/web/gesture-recognizer/src/test/auto/browser/cases/canary.js
  common/web/gesture-recognizer/src/test/auto/browser/cases/ignoredInputs.js
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedGestureSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/touchpointCoordinator.spec.ts
  common/web/gesture-recognizer/src/test/resources/json/receiver/basicMultitouch.json
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessInputEngine.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputSequenceSimulator.ts
Labels: web/, common/, fix, common/web/, epic-gestures

#9664 refactor(web): unifies touch-layout typing, updating Web to the common/web/types version 🐵
  common/web/keyboard-processor/build.sh
  common/web/keyboard-processor/package.json
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/keyboard-processor/src/keyboards/defaultLayouts.ts
  common/web/keyboard-processor/src/keyboards/keyboard.ts
  common/web/keyboard-processor/tsconfig.json
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/test/helpers/reader-callback-test.ts
  developer/src/kmc-ldml/test/helpers/index.ts
  developer/src/kmc/src/commands/buildClasses/BuildLdmlKeyboard.ts
  developer/src/kmc/src/commands/buildTestData/index.ts
  package-lock.json
  web/src/engine/osk/src/index.ts
  web/src/engine/osk/src/input/gestures/browser/oskSubKey.ts
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
  web/src/engine/osk/src/keyElement.ts
  web/src/engine/osk/src/keyboard-layout/oskBaseKey.ts
  web/src/engine/osk/src/keyboard-layout/oskKey.ts
  web/src/engine/osk/src/keyboard-layout/oskRow.ts
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, developer/, common/, developer/compilers/, common/web/, refactor, epic-gestures

#9804 change(web): enforce layout and validate only text attributes of subkeys 🐵
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file.ts
  web/src/engine/osk/src/input/gestures/browser/oskSubKey.ts
Labels: web/, common/, common/web/, epic-gestures

#9657 feat(web): beginning of gesture-recognizer integration with the OSK 🐵
  web/src/engine/osk/build.sh
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
  web/src/engine/osk/src/input/gestures/specsForKeyboard.ts
  web/src/engine/osk/src/keyboard-layout/oskLayerGroup.ts
  web/src/engine/osk/src/visualKeyboard.ts
  web/src/engine/osk/tsconfig.json
Labels: web/, common/, feat, common/web/, epic-gestures

#9718 fix(web): enhances integrated test stability
  web/src/app/browser/src/contextManager.ts
Labels: web/, fix

#9690 feat(web): integration for detecting, managing key-specific gestures 🐵
  common/web/gesture-recognizer/src/engine/configuration/paddedZoneSource.ts
  common/web/gesture-recognizer/src/engine/headless/gestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/contactModel.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/keyboard-processor/tests/node/keyboard-loading.js
  common/web/utils/src/test/deepCopy.js
  common/web/utils/src/test/timeoutPromise.js
  web/src/engine/osk/src/input/gestures/heldRepeater.ts
  web/src/engine/osk/src/input/gestures/specsForKeyboard.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
  web/src/engine/osk/src/keyboard-layout/oskLayerGroup.ts
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, common/, feat, common/web/, epic-gestures

#9719 fix(web): gesture-engine integration - automated test patchup 🐵
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/touchpointCoordinator.spec.ts
  common/web/keyboard-processor/tests/node/basic-engine.js
  common/web/keyboard-processor/tests/node/chirality.js
  common/web/keyboard-processor/tests/node/deadkeys.js
  common/web/recorder/src/index.ts
  common/web/recorder/src/nodeProctor.ts
  common/web/recorder/src/proctor.ts
  web/src/app/browser/src/contextManager.ts
  web/src/engine/dom-utils/src/stylesheets.ts
  web/src/engine/osk/src/keyboard-layout/oskLayerGroup.ts
  web/src/engine/osk/src/views/oskView.ts
  web/src/test/auto/integrated/cases/engine.js
  web/src/test/auto/integrated/cases/engine_chirality.js
  web/src/test/auto/integrated/cases/events.js
  web/src/test/auto/integrated/test_utils.js
  web/src/tools/testing/recorder/browserDriver.ts
  web/src/tools/testing/recorder/browserProctor.ts
Labels: web/, common/, fix, common/web/, epic-gestures

#9698 feat(web): longpress restoration, enhancements 🐵
  common/web/gesture-recognizer/src/engine/configuration/paddedZoneSource.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  common/web/gesture-recognizer/src/engine/mouseEventEngine.ts
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  web/src/engine/osk/src/input/gestures/browser/pendingLongpress.ts
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
  web/src/engine/osk/src/input/gestures/gestureHandler.ts
  web/src/engine/osk/src/input/gestures/heldRepeater.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, common/, feat, common/web/, epic-gestures

#9769 refactor(web): drops WET button-class Web enum 🐵
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/keyboard-processor/src/keyboards/defaultLayouts.ts
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file.ts
Labels: web/, common/, common/web/, refactor, epic-gestures

#9812 chore(linux): Update packaging GHA 〽️
  .github/workflows/deb-packaging.yml
  linux/scripts/deb-packaging.sh
Labels: linux/, chore

#9794 chore(linux): Rename KBP to CORE 〽️
  common/include/kmx_file.h
  core/include/keyman/keyman_core_api_bits.h
  core/meson.build
  core/src/kmx/kmx_file_validator.hpp
  core/src/kmx/kmx_processevent.h
  core/src/meson.build
  core/src/path.hpp
  core/src/processor.hpp
  core/src/version.rc
  core/tests/unit/kmnkbd/meson.build
  core/tests/unit/kmnkbd/test_kmx_xstring.cpp
  core/tools/ldml-const-builder/build.sh
  windows/src/engine/keyman32/keyboardoptions.cpp
  windows/src/engine/keyman32/keymanengine.h
Labels: windows/, linux/, common/, core/, windows/engine/, chore

#9817 chore(linux): Fix build by adding one character
  linux/scripts/deb-packaging.sh
Labels: linux/, chore

#9818 auto: increment master version to 17.0.197
  HISTORY.md
  VERSION.md
Labels: auto

#9823 chore(android): Update targetSdkVersion from 31 to 33 🏠
  android/KMAPro/kMAPro/build.gradle
  android/KMEA/app/build.gradle
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample2/app/build.gradle
  android/Tests/KeyboardHarness/app/build.gradle
  oem/firstvoices/android/app/build.gradle
Labels: android/, stable, oem/, android/engine/, android/app/, oem/fv/, oem/fv/android/, chore, android/samples/

#9778 refactor(web): new abstraction - corrective layouts 🐵
  common/web/input-processor/src/correctionLayout.ts
  common/web/input-processor/src/corrections.ts
  common/web/input-processor/src/index.ts
  common/web/input-processor/tsconfig.json
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, common/, common/web/, refactor, epic-gestures

#9779 feat(web): subkey-menu fat-finger correction 🐵
  common/web/input-processor/src/corrections.ts
  common/web/input-processor/src/text/inputProcessor.ts
  common/web/keyboard-processor/src/keyboards/keyboard.ts
  common/web/keyboard-processor/src/text/keyEvent.ts
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
  web/src/engine/osk/src/input/gestures/gestureHandler.ts
  web/src/engine/osk/src/input/gestures/heldRepeater.ts
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, common/, feat, common/web/, epic-gestures

#9752 refactor(web): banner integration with the new gesture engine 🐵
  common/web/es-bundling/src/classTreeshaker.mts
  web/src/engine/osk/src/banner/banner.ts
  web/src/engine/osk/src/banner/bannerGestureSet.ts
  web/src/engine/osk/src/config/embeddedGestureConfig.ts
  web/src/engine/osk/src/index.ts
  web/src/engine/osk/src/input/event-interpreter/inputEventEngine.ts
  web/src/engine/osk/src/input/event-interpreter/mouseEventEngine.ts
  web/src/engine/osk/src/input/event-interpreter/touchEventEngine.ts
  web/src/engine/osk/src/input/event-interpreter/uiTouchHandlerBase.ts
  web/src/engine/osk/src/input/gestures/browser/pendingMultiTap.ts
  web/src/engine/osk/src/input/gestures/pendingGesture.interface.ts
  web/src/engine/osk/src/input/gestures/realizedGesture.interface.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
  web/src/engine/osk/src/input/inputEventCoordinate.ts
  web/src/engine/osk/src/input/mouseDragOperation.ts
  web/src/engine/osk/src/keyboard-layout/oskKey.ts
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, common/, common/web/, refactor, epic-gestures

#9814 chore(linux): Exclude environment.sh from build 🍒 🏠
  linux/scripts/dist.sh
  resources/build/build-utils.sh
Labels: linux/, stable, cherry-pick, common/, common/resources/, chore

#9793 chore(linux): Rename (lib)kmnkbp to (lib)keymancore 〽️
  .github/workflows/deb-packaging.yml
  core/build.sh
  core/include/keyman/keyman_core_api.h
  core/meson.build
  core/src/meson.build
  core/src/version.rc
  core/tests/kmx_test_source/meson.build
  core/tests/unit/kmnkbd/meson.build
  core/tests/unit/kmx/fixtures/binary/meson.build
  core/tests/unit/kmx/meson.build
  developer/src/inst/kmdev.wxs
  developer/src/tike/Makefile
  developer/src/tike/debug/Keyman.System.Debug.DebugCore.pas
  developer/src/tike/main/Keyman.System.KeymanCore.pas
  developer/src/tike/main/Keyman.System.KeymanCoreDebug.pas
  docs/settings/linux/tasks.json
  linux/debian/libkmnkbp0-0.symbols
  linux/ibus-keyman/meson.build
  linux/ibus-keyman/src/meson.build
  linux/ibus-keyman/src/test/meson.build
  linux/ibus-keyman/tests/meson.build
  windows/src/engine/keyman32/keyboardoptions.cpp
  windows/src/engine/keyman32/keyman-engine.vcxproj
  windows/src/engine/keyman32/keyman32.vcxproj
  windows/src/engine/keyman32/tests/keyman-engine-tests/keyman-engine-tests.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj
Labels: windows/, developer/, linux/, linux/engine/, core/, developer/ide/, windows/engine/, chore, docs

#9791 chore(linux): rename keyboardprocessor_ldml.* to keyman_core_ldml 〽️
  core/include/ldml/build.sh
  core/include/ldml/keyman_core_ldml.h
  core/include/ldml/keyman_core_ldml.ts
  core/include/ldml/ldml-const-builder.ts
  core/include/ldml/package.json
  core/include/ldml/tsconfig.build.json
  core/include/ldml/tsconfig.json
  core/meson.build
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/C7532_ldml_updating.md
  core/src/ldml/ldml_processor.cpp
  core/tests/unit/ldml/ldml_test_source.cpp
  core/tools/ldml-const-builder/build.sh
Labels: linux/, core/, chore

#9795 chore(linux): Rename libkmnkbp0-0 package 〽️
  .github/workflows/deb-packaging.yml
  core/src/meson.build
  linux/debian/control
  linux/debian/libkeymancore-dev.install
  linux/debian/libkeymancore.install
  linux/debian/libkeymancore.symbols
  linux/debian/libkmnkbp0-0.symbols
  linux/debian/rules
  linux/debian/tests/control
  linux/debian/tests/test-build
  linux/scripts/deb-packaging.sh
Labels: linux/, core/, chore, has-user-test

#9841 auto: increment master version to 17.0.198
  HISTORY.md
  VERSION.md
Labels: auto

#9826 chore(common): Add entries from 16.0 HISTORY.md
  HISTORY.md
Labels: common/, chore

#9828 feat(core): new actions APIs
  core/include/keyman/keyman_core_api.h
  core/src/action.cpp
  core/src/action.hpp
  core/src/km_core_action_api.cpp
  core/src/km_core_context_api.cpp
  core/src/km_core_state_api.cpp
  core/src/meson.build
  core/src/state.hpp
  core/tests/unit/kmnkbd/action_api.cpp
  core/tests/unit/kmnkbd/debug_api.cpp
  core/tests/unit/kmnkbd/meson.build
  core/tests/unit/kmnkbd/state_api.cpp
  developer/src/tike/main/Keyman.System.KeymanCore.pas
  linux/debian/libkeymancore.symbols
  windows/src/engine/keyman32/tests/keyman-engine-tests/kmprocessactionstests.cpp
Labels: windows/, developer/, linux/, feat, core/, developer/ide/, windows/engine/

#9850 auto: increment master version to 17.0.199
  HISTORY.md
  VERSION.md
Labels: auto

#9821 fix(developer): handle xml errors in package compiler
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/messages.ts
  developer/src/kmc-package/src/compiler/windows-package-installer-compiler.ts
  developer/src/kmc-package/test/fixtures/invalid/error_invalid_package_file.kps
  developer/src/kmc-package/test/test-messages.ts
Labels: developer/, developer/compilers/, fix

#9822 fix(developer): server download Keyman link
  developer/src/server/src/site/packages.js
  developer/src/server/src/site/test.js
Labels: developer/, fix, developer/ide/, has-user-test

#9824 chore(common): handle invalid XML in kpj-file-reader
  common/web/types/src/kpj/kpj-file-reader.ts
  developer/src/kmc/src/util/projectLoader.ts
Labels: developer/, common/, developer/compilers/, common/web/, chore

#9839 fix(developer): reduce confusion in Unicode fields in touch layout editor
  developer/src/tike/xml/layoutbuilder/builder.xsl
Labels: developer/, fix, developer/ide/

#9868 auto: increment master version to 17.0.200
  HISTORY.md
  VERSION.md
Labels: auto

#9883 auto: increment master version to 17.0.201
  HISTORY.md
  VERSION.md
Labels: auto

#9820 fix(core): build: support -t parameter correctly
  core/build.sh
  core/commands.inc.sh
Labels: fix, core/

#9861 fix(developer): handle displayMap correctly with 'fill from layout'
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/compiler/messages.ts
  developer/src/tike/child/UfrmKeymanWizard.pas
Labels: developer/, developer/compilers/, fix, developer/ide/

#9873 chore: merge master into feature-macos-core 🍕
  HISTORY.md
  VERSION.md
  common/web/types/src/kpj/kpj-file-reader.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/messages.ts
  developer/src/kmc-package/src/compiler/windows-package-installer-compiler.ts
  developer/src/kmc-package/test/fixtures/invalid/error_invalid_package_file.kps
  developer/src/kmc-package/test/test-messages.ts
  developer/src/kmc/src/util/projectLoader.ts
  developer/src/server/src/site/packages.js
  developer/src/server/src/site/test.js
  developer/src/tike/xml/layoutbuilder/builder.xsl
Labels: developer/, common/, developer/compilers/, common/web/, developer/ide/, chore, epic-macos-core

#9887 auto: increment master version to 17.0.202
  HISTORY.md
  VERSION.md
Labels: auto

#9888 chore(common): unify pull-request creation scripts
  resources/build/ci/pull-requests.inc.sh
  resources/build/ci/test/test-pull-requests.sh
  resources/build/help-keyman-com.sh
  resources/builder.inc.sh
  web/ci.sh
  web/src/tools/testing/s_keyman_com.sh
Labels: web/, common/, common/resources/, chore

#9895 auto: increment master version to 17.0.203
  HISTORY.md
  VERSION.md
Labels: auto

#9897 chore: include ci/pull-requests.inc.sh for help uploads
  resources/build/help-keyman-com.sh
Labels: common/, common/resources/, chore

#9900 auto: increment master version to 17.0.204
  HISTORY.md
  VERSION.md
Labels: auto

#9893 fix(web): better cleanup of cancelled gestures 🐵
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, common/, fix, common/web/, epic-gestures

#9896 chore(mac): move from altool to notarytool 🍒 🏠
  mac/build.sh
  mac/mac-utils.inc.sh
  mac/setup/build.sh
Labels: mac/, stable, cherry-pick, chore
