Repository keymanapp/keyman, pull requests merged in 2023-02, with the labels that each got.

#8137 chore(common): stable 16.0 history
  HISTORY.md
Labels: stable, common/, chore

#8138 auto: increment stable-16.0 version to 16.0.138
  VERSION.md
Labels: stable, auto

#8139 chore: add new developer build trigger
  resources/build/trigger-definitions.inc.sh
Labels: stable, common/, common/resources/, chore

#8140 auto: increment stable-16.0 version to 16.0.139
  HISTORY.md
  VERSION.md
Labels: stable, auto

#7983 refactor(android/engine): Split KMInAppKeyboardWebViewClient to new class 🛋
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboardWebViewClient.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMTextView.java
Labels: android/, android/engine/, refactor, has-user-test

#7993 refactor(android/engine): Refactor KMSystemKeyboardWebViewClient 🛋
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboardWebViewClient.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Labels: android/, android/engine/, refactor, has-user-test

#8142 auto: increment master version to 17.0.41
  HISTORY.md
  VERSION.md
Labels: auto

#8132 fix(developer): todo cleanup, common code, tests 🙀
  developer/src/kmc-keyboard/src/compiler/key2.ts
  developer/src/kmc-keyboard/src/compiler/keys.ts
  developer/src/kmc-keyboard/src/util/util.ts
  developer/src/kmc-keyboard/test/test-base.ts
  developer/src/kmc-keyboard/test/test-utils.ts
Labels: developer/, developer/compilers/, fix, epic-ldml

#8131 fix(common): make common/web/types kvk tests pass 🙀
  common/web/types/package.json
  common/web/types/src/kvk/kvk-file-writer.ts
  common/web/types/src/kvk/visual-keyboard.ts
  common/web/types/test/kvk/test-kvk-round-trip.ts
  common/web/types/test/ldml-keyboard/test-ldml-keyboard-xml-reader.ts
  package-lock.json
Labels: common/, fix, common/web/, epic-ldml

#7474 chore(web): main web build & test script rework to our common script format + nomenclature 📜
  android/KMEA/build.sh
  common/predictive-text/build.sh
  common/web/input-processor/build.sh
  common/web/recorder/build.sh
  developer/src/server/build.sh
  ios/kmbuild.sh
  web/.build-builder
  web/build.sh
  web/source/build.sh
  web/tools/sourcemap-root/build.sh
  web/unit_tests/cases/attachmentAPI.js
  web/unit_tests/test.sh
Labels: web/, android/, developer/, ios/, common/, android/engine/, web/engine/, common/web/, developer/ide/, chore

#7831 chore(web): updates build product references, extracts CI test-build scripts 📜
  web/build.sh
  web/ci.sh
  web/src/test/manual/embed/android-harness/build.sh
  web/src/tools/building/check-build-size.sh
  web/src/tools/testing/recorder/index.html
  web/src/tools/testing/recorder/recorder_KeyboardScripts.js
  web/src/tools/testing/recorder/recorder_ui_and_stubs.js
  web/src/tools/testing/recorder/scribe.ts
  web/tools/sourcemap-root/index.js
Labels: web/, chore, has-user-test

#8001 feat(web): implements shell scripting for CI release-build configurations 📜
  web/build.sh
  web/ci.sh
Labels: web/, feat

#7800 change(web): util package modularization, bundling 🧩
  common/web/keyman-version/build-bundler.js
  common/web/keyman-version/build.sh
  common/web/keyman-version/index.ts
  common/web/keyman-version/package.json
  common/web/keyman-version/tsconfig.json
  common/web/utils/build-bundler.js
  common/web/utils/build.sh
  common/web/utils/package.json
  common/web/utils/src/deepCopy.ts
  common/web/utils/src/deviceSpec.ts
  common/web/utils/src/globalObject.ts
  common/web/utils/src/index.ts
  common/web/utils/src/kmwstring.ts
  common/web/utils/src/version.ts
  common/web/utils/tsconfig.json
  package-lock.json
  package.json
Labels: web/, common/, common/web/, epic-esmodules

#7809 change(common/web): keyboard processor package modularization 🧩
  common/test/resources/keyboards/khmer_angkor.js
  common/test/resources/keyboards/test_deadkeys.js
  common/web/input-processor/src/tsconfig.json
  common/web/keyboard-processor/build-bundler.js
  common/web/keyboard-processor/build.sh
  common/web/keyboard-processor/package.json
  common/web/keyboard-processor/src/index.ts
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/keyboard-processor/src/keyboards/defaultLayouts.ts
  common/web/keyboard-processor/src/keyboards/keyboard.ts
  common/web/keyboard-processor/src/text/codes.ts
  common/web/keyboard-processor/src/text/deadkeys.ts
  common/web/keyboard-processor/src/text/defaultOutput.ts
  common/web/keyboard-processor/src/text/kbdInterface.ts
  common/web/keyboard-processor/src/text/keyEvent.ts
  common/web/keyboard-processor/src/text/keyMapping.ts
  common/web/keyboard-processor/src/text/keyboardProcessor.ts
  common/web/keyboard-processor/src/text/outputTarget.ts
  common/web/keyboard-processor/src/text/ruleBehavior.ts
  common/web/keyboard-processor/src/text/systemStores.ts
  common/web/keyboard-processor/src/tsconfig.bundled.json
  common/web/keyboard-processor/src/tsconfig.json
  common/web/keyboard-processor/tests/cases/basic-engine.js
  common/web/keyboard-processor/tests/cases/basic-init.js
  common/web/keyboard-processor/tests/cases/bundled-module.js
  common/web/keyboard-processor/tests/cases/chirality.js
  common/web/keyboard-processor/tests/cases/deadkeys.js
  common/web/keyboard-processor/tests/cases/engine/context.js
  common/web/keyboard-processor/tests/cases/engine/notany_context.js
  common/web/keyboard-processor/tests/cases/engine/stores.js
  common/web/keyboard-processor/tests/cases/engine/unmatched_final_group.js
  common/web/keyboard-processor/tests/cases/transcriptions.js
  common/web/keyboard-processor/tests/cases/versions.js
  common/web/keyboard-processor/tsconfig.json
  common/web/recorder/build.sh
  common/web/recorder/package.json
  common/web/recorder/src/index.ts
  common/web/recorder/src/nodeProctor.ts
  common/web/recorder/src/nodeProctor.tsconfig.json
  common/web/recorder/src/proctor.ts
  common/web/recorder/src/tsconfig.json
  common/web/recorder/tsconfig.json
  tsconfig-base.json
Labels: web/, common/, common/web/, epic-esmodules

#8048 change(common/models): wordbreaker package conversion to ES modules 🧩
  common/models/wordbreakers/build-bundler.js
  common/models/wordbreakers/build.sh
  common/models/wordbreakers/package.json
  common/models/wordbreakers/src/ascii.ts
  common/models/wordbreakers/src/default/data.ts
  common/models/wordbreakers/src/default/index.ts
  common/models/wordbreakers/src/index.ts
  common/models/wordbreakers/src/placeholder.ts
  common/models/wordbreakers/test/test-ascii-word-breaker.js
  common/models/wordbreakers/test/test-default-word-breaker.js
  common/models/wordbreakers/test/test-placeholder-word-breaker.js
  common/models/wordbreakers/tsconfig.json
  common/predictive-text/build.sh
Labels: common/, common/models/, common/models/wordbreakers/, user-test-missing, epic-esmodules

#8050 change(common/models): lm-worker package conversion to ES modules 🧩
  common/predictive-text/browser.tsconfig.json
  common/predictive-text/tsconfig.json
  common/predictive-text/unit_tests/headless/worker-dummy-integration.js
  common/predictive-text/unit_tests/in_browser/base.conf.js
  common/predictive-text/unit_tests/test.sh
  common/test/resources/json/models/future_suggestions/i_got_distracted_by_hazel.json
  common/test/resources/json/models/tries/accented.json
  common/test/resources/json/models/tries/english-1000.json
  common/test/resources/model-helpers.mjs
  common/test/resources/models/naive-trie.js
  common/test/resources/models/simple-dummy.js
  common/test/resources/models/simple-trie.js
  common/web/lm-worker/build-bundler.js
  common/web/lm-worker/build.sh
  common/web/lm-worker/package.json
  common/web/lm-worker/src/correction/classical-calculation.ts
  common/web/lm-worker/src/correction/context-tracker.ts
  common/web/lm-worker/src/correction/distance-modeler.ts
  common/web/lm-worker/src/main/correction/classical-calculation.ts
  common/web/lm-worker/src/main/correction/context-tracker.ts
  common/web/lm-worker/src/main/correction/distance-modeler.ts
  common/web/lm-worker/src/main/correction/index.ts
  common/web/lm-worker/src/main/index.ts
  common/web/lm-worker/src/main/model-compositor.ts
  common/web/lm-worker/src/main/models/dummy-model.ts
  common/web/lm-worker/src/main/models/index.ts
  common/web/lm-worker/src/main/transformUtils.ts
  common/web/lm-worker/src/main/worker-interfaces.ts
  common/web/lm-worker/src/main/worker-main.ts
  common/web/lm-worker/src/models/dummy-model.ts
  common/web/lm-worker/src/test/cases/edit-distance/classical-calculation.js
  common/web/lm-worker/src/test/cases/edit-distance/context-tracker.js
  common/web/lm-worker/src/test/cases/edit-distance/distance-modeler.js
  common/web/lm-worker/src/test/cases/transform-utils.js
  common/web/lm-worker/src/test/cases/worker-custom-punctuation.js
  common/web/lm-worker/src/test/cases/worker-initialization.js
  common/web/lm-worker/src/test/cases/worker-model-compositor.js
  common/web/lm-worker/src/test/cases/worker-predict-dummy.js
  common/web/lm-worker/src/test/cases/worker-predict.js
  common/web/lm-worker/tsconfig.json
Labels: common/, common/models/, common/web/, common/models/templates/, user-test-missing, epic-gestures

#8051 change(common/models): predictive-text worker interface package conversion to ES modules 🧩
  common/predictive-text/.gitignore
  common/predictive-text/browser.tsconfig.json
  common/predictive-text/build-bundler.js
  common/predictive-text/build.sh
  common/predictive-text/embedded_worker.d.ts
  common/predictive-text/index.d.ts
  common/predictive-text/index.ts
  common/predictive-text/node-defaultWorker.ts
  common/predictive-text/package.json
  common/predictive-text/promise-store.ts
  common/predictive-text/src/lmlayer.ts
  common/predictive-text/src/node/index.ts
  common/predictive-text/src/node/tsconfig.json
  common/predictive-text/src/node/virtualizedWorker.ts
  common/predictive-text/src/node/worker.ts
  common/predictive-text/src/promise-store.ts
  common/predictive-text/src/tsconfig.json
  common/predictive-text/src/unwrap.ts
  common/predictive-text/src/web/index.ts
  common/predictive-text/src/web/tsconfig.json
  common/predictive-text/src/web/worker.ts
  common/predictive-text/src/worker-interface.d.ts
  common/predictive-text/tsconfig.all.json
  common/predictive-text/tsconfig.json
  common/predictive-text/unit_tests/headless/promise-store.js
  common/predictive-text/unit_tests/headless/top-level-lmlayer.js
  common/predictive-text/unit_tests/headless/worker-dummy-integration.js
  common/predictive-text/unit_tests/headless/worker-trie-integration.js
  common/predictive-text/unit_tests/helpers.js
  common/predictive-text/unit_tests/in_browser/CI.conf.cjs
  common/predictive-text/unit_tests/in_browser/CI.conf.js
  common/predictive-text/unit_tests/in_browser/base.conf.cjs
  common/predictive-text/unit_tests/in_browser/cases/top-level-lmlayer.js
  common/predictive-text/unit_tests/in_browser/cases/worker-dummy-integration.js
  common/predictive-text/unit_tests/in_browser/cases/worker-trie-integration.js
  common/predictive-text/unit_tests/in_browser/cases/worker.js
  common/predictive-text/unit_tests/in_browser/helpers.js
  common/predictive-text/unit_tests/in_browser/helpers.mjs
  common/predictive-text/unit_tests/in_browser/json/future_suggestions/i_got_distracted_by_hazel.json
  common/predictive-text/unit_tests/in_browser/json/tries/accented.json
  common/predictive-text/unit_tests/in_browser/json/tries/english-1000.json
  common/predictive-text/unit_tests/in_browser/manual.conf.cjs
  common/predictive-text/unit_tests/in_browser/resources/models/naive-trie.js
  common/predictive-text/unit_tests/in_browser/resources/models/simple-dummy.js
  common/predictive-text/unit_tests/in_browser/resources/models/simple-trie.js
  common/predictive-text/unit_tests/test.sh
  common/predictive-text/virtualizedWorker.ts
  common/predictive-text/web-defaultWorker.ts
  common/test/resources/karma-browserstack-config.cjs
  common/test/resources/timeout-adapter.js
  common/web/lm-worker/build.sh
Labels: common/, common/web/, user-test-missing, epic-esmodules

#8053 change(common/web): input-processor package conversion to ES modules 🧩
  common/predictive-text/build.sh
  common/predictive-text/src/lmlayer.ts
  common/web/input-processor/build-bundler.js
  common/web/input-processor/build.sh
  common/web/input-processor/package.json
  common/web/input-processor/src/includes/events.ts
  common/web/input-processor/src/index.ts
  common/web/input-processor/src/text/contextWindow.ts
  common/web/input-processor/src/text/inputProcessor.ts
  common/web/input-processor/src/text/prediction/languageProcessor.ts
  common/web/input-processor/src/tsconfig.bundled.json
  common/web/input-processor/src/tsconfig.json
  common/web/input-processor/tests/cases/inputProcessor.js
  common/web/input-processor/tests/cases/languageProcessor.js
  common/web/input-processor/tsconfig.json
  common/web/keyman-version/build-bundler.js
  common/web/keyman-version/build.sh
  common/web/keyman-version/package.json
  developer/src/kmlmc/source/lexical-model-compiler/model-definitions.ts
  tsconfig.json
  web/src/engine/main/kmwbase.ts
Labels: web/, developer/, common/, common/web/, user-test-missing, epic-esmodules

#8141 chore: Fail TC build if triggering Jenkins build fails
  resources/build/trigger-builds.inc.sh
Labels: stable, common/, common/resources/, chore

#8158 auto: increment master version to 17.0.42
  HISTORY.md
  VERSION.md
Labels: auto

#8151 feat(developer): check for duplicated language codes in package editor and compiler
  common/windows/delphi/packages/PackageInfo.pas
  developer/src/common/delphi/compiler/CompilePackage.pas
  developer/src/tike/child/UfrmPackageEditor.pas
Labels: developer/, common/, feat, developer/ide/, has-user-test

#8054 change(web): device-detector subpackage modularization 🧩
  common/tools/sourcemap-path-remapper/build.sh
  package-lock.json
  web/ci.sh
  web/src/engine/device-detect/kmwdevice.ts
  web/src/engine/device-detect/tsconfig.bundled.json
  web/src/engine/device-detect/tsconfig.json
  web/src/engine/device-detect/utils/styleConstants.ts
Labels: web/, common/, user-test-missing, epic-esmodules

#8152 chore: Fail TC build if triggering Jenkins build fails 🍒
  resources/build/trigger-builds.inc.sh
Labels: cherry-pick, common/, common/resources/, chore

#8153 chore(linux): Fix lintian warnings
  docs/settings/linux/extensions.json
  linux/debian/copyright
  linux/debian/source/lintian-overrides
  linux/scripts/upload-to-debian.sh
Labels: linux/, stable, chore, docs

#8154 chore(linux): Fix lintian warnings 🍒
  docs/settings/linux/extensions.json
  linux/debian/copyright
  linux/debian/source/lintian-overrides
  linux/scripts/upload-to-debian.sh
Labels: linux/, cherry-pick, chore, docs

#7882 chore(core): Update meson version
  core/meson.build
  linux/debian/control
Labels: linux/, core/, chore

#8163 refactor(android/engine): Consolidate Keyboard picker intent 🛋
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Labels: android/, android/engine/, refactor, has-user-test

#8169 auto: increment master version to 17.0.43
  HISTORY.md
  VERSION.md
Labels: auto

#8055 change(web): element wrapper subpackage modularization 🧩
  common/predictive-text/unit_tests/in_browser/base.conf.cjs
  web/package.json
  web/src/engine/device-detect/build-bundler.js
  web/src/engine/device-detect/kmwdevice.ts
  web/src/engine/element-wrappers/build-bundler.js
  web/src/engine/element-wrappers/readme.md
  web/src/engine/element-wrappers/src/contentEditable.ts
  web/src/engine/element-wrappers/src/designIFrame.ts
  web/src/engine/element-wrappers/src/index.ts
  web/src/engine/element-wrappers/src/input.ts
  web/src/engine/element-wrappers/src/outputTarget.ts
  web/src/engine/element-wrappers/src/readme.md
  web/src/engine/element-wrappers/src/textarea.ts
  web/src/engine/element-wrappers/src/utils.ts
  web/src/engine/element-wrappers/src/wrapElement.ts
  web/src/engine/element-wrappers/tsconfig.bundled.json
  web/src/engine/element-wrappers/tsconfig.json
  web/src/engine/main/dom/targets/contentEditable.ts
  web/src/engine/main/dom/targets/designIFrame.ts
  web/src/engine/main/dom/targets/input.ts
  web/src/engine/main/dom/targets/outputTarget.ts
  web/src/engine/main/dom/targets/textarea.ts
  web/src/engine/main/dom/targets/wrapElement.ts
  web/src/engine/main/dom/utils.ts
  web/src/engine/main/tsconfig.json
  web/src/test/auto/CI.conf.cjs
  web/src/test/auto/base.conf.cjs
  web/src/test/auto/cases/attachmentAPI.js
  web/src/test/auto/cases/basics.js
  web/src/test/auto/cases/element_interfaces.js
  web/src/test/auto/cases/engine.js
  web/src/test/auto/cases/engine_chirality.js
  web/src/test/auto/cases/events.js
  web/src/test/auto/cases/target_mocks.js
  web/src/test/auto/cases/text_selection.js
  web/src/test/auto/manual.conf.cjs
  web/src/test/auto/test_init_check.js
  web/src/test/auto/test_utils.js
Labels: web/, common/, user-test-missing, epic-esmodules

#8100 feat(web): unit tests for the OSK module & spun-off formerly-OSK components 🧩
  common/web/input-processor/src/text/prediction/languageProcessor.ts
  common/web/input-processor/src/text/prediction/predictionContext.ts
  common/web/input-processor/tests/cases/predictionContext.js
  common/web/keyboard-processor/src/keyboards/keyboardProperties.ts
  common/web/keyboard-processor/src/keyboards/spacebarText.ts
  common/web/keyboard-processor/tests/cases/keyboard-properties.js
  common/web/utils/build.sh
  common/web/utils/package.json
  common/web/utils/src/index.ts
  common/web/utils/src/managedPromise.ts
  common/web/utils/src/test/managedPromise.js
  common/web/utils/src/test/versions.js
  common/web/utils/tsconfig.json
  package-lock.json
  web/src/engine/dom-utils/src/stylesheets.ts
  web/src/engine/osk/src/config/viewConfiguration.ts
  web/src/engine/osk/src/index.ts
  web/src/engine/osk/src/views/floatingOskView.ts
  web/src/engine/osk/src/views/oskView.ts
  web/src/engine/osk/src/views/simpleActivator.ts
  web/src/engine/osk/src/views/touchEventPromiseMap.ts
  web/src/test/auto/CI.conf.cjs
  web/src/test/auto/dom/CI.conf.cjs
  web/src/test/auto/dom/base.conf.cjs
  web/src/test/auto/dom/cases/osk/activation.js
  web/src/test/auto/dom/cases/osk/events.js
  web/src/test/auto/dom/cases/target_mocks.js
  web/src/test/auto/dom/cases/test_config.js
  web/src/test/auto/dom/kbdLoader.mjs
  web/src/test/auto/dom/manual.conf.cjs
  web/src/test/auto/dom/readme.md
  web/src/test/auto/dom/test_init_check.js
  web/src/test/auto/dom/test_utils.js
  web/src/test/auto/dom/timedPromise.mjs
  web/src/test/auto/headless/lengthStyles.js
  web/src/test/auto/headless/osk/activation.js
  web/src/test/auto/integrated/CI.conf.cjs
  web/src/test/auto/integrated/base.conf.cjs
  web/src/test/auto/integrated/cases/attachmentAPI.js
  web/src/test/auto/integrated/cases/basics.js
  web/src/test/auto/integrated/cases/element_interfaces.js
  web/src/test/auto/integrated/cases/engine.js
  web/src/test/auto/integrated/cases/engine_chirality.js
  web/src/test/auto/integrated/cases/events.js
  web/src/test/auto/integrated/cases/test_config.js
  web/src/test/auto/integrated/cases/text_selection.js
  web/src/test/auto/integrated/manual.conf.cjs
  web/src/test/auto/integrated/modernizr.config.json
  web/src/test/auto/integrated/test_init_check.js
  web/src/test/auto/integrated/test_utils.js
  web/test.sh
Labels: web/, common/, feat, common/web/

#8111 chore(linux): Build with meson instead of autotools 🏗️
  core/src/meson.build
  core/tests/meson.build
  core/tests/unit/kmx/meson.build
  docs/linux/keyman-config.md
  linux/.gitignore
  linux/ibus-keyman/icons/meson.build
  linux/ibus-keyman/meson.build
  linux/ibus-keyman/src/Makefile.am
  linux/ibus-keyman/src/keyman.xml.in
  linux/ibus-keyman/src/meson.build
  linux/ibus-keyman/src/test/meson.build
  linux/ibus-keyman/src/test/print_kmp.c
  linux/ibus-keyman/src/test/print_kmpdetails.c
  linux/ibus-keyman/src/test/run-tests.sh
  linux/ibus-keyman/tests/README.md
  linux/ibus-keyman/tests/ibusimcontext.c
  linux/ibus-keyman/tests/meson.build
  linux/ibus-keyman/tests/scripts/find-tests.sh
  linux/ibus-keyman/tests/scripts/run-single-test.sh
  linux/ibus-keyman/tests/scripts/run-tests.sh
  linux/ibus-keyman/tests/scripts/setup-tests.sh
  linux/ibus-keyman/tests/scripts/teardown-tests.sh
  linux/ibus-keyman/tests/scripts/test-helper.sh
Labels: linux/, linux/engine/, core/, chore, docs

#8133 feat(common): ldml: error messages from the compiler 🙀
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/src/main.ts
  common/web/types/src/util/common-events.ts
  common/web/types/src/util/compiler-interfaces.ts
  common/web/types/test/ldml-keyboard/test-ldml-keyboard-xml-reader.ts
  developer/src/kmc-keyboard/src/compiler/compiler.ts
  developer/src/kmc-keyboard/src/compiler/messages.ts
  developer/src/kmc-keyboard/src/main.ts
  developer/src/kmc-keyboard/test/helpers/index.ts
  developer/src/kmc-keyboard/test/test-layr.ts
  developer/src/kmc-keyboard/test/test-messages.ts
Labels: developer/, common/, developer/compilers/, feat, common/web/, epic-ldml

#8143 feat(common): ldml: import error messages from the compiler 🙀
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/src/util/compiler-interfaces.ts
  common/web/types/test/fixtures/import-minimal.xml
  common/web/types/test/fixtures/import-minimal1.xml
  common/web/types/test/fixtures/import-minimal2.xml
  common/web/types/test/fixtures/import-symbols.xml
  common/web/types/test/fixtures/invalid-conforms-to.xml
  common/web/types/test/fixtures/invalid-import-base.xml
  common/web/types/test/fixtures/invalid-import-path.xml
  common/web/types/test/fixtures/invalid-import-readfail.xml
  common/web/types/test/fixtures/invalid-import-wrongroot.xml
  common/web/types/test/helpers/index.ts
  common/web/types/test/helpers/reader-callback-test.ts
  common/web/types/test/ldml-keyboard/test-ldml-keyboard-xml-reader.ts
  common/web/types/test/tsconfig.json
  developer/src/kmc-keyboard/src/compiler/compiler.ts
  developer/src/kmc-keyboard/test/helpers/index.ts
  developer/src/kmc/src/kmc.ts
Labels: developer/, common/, developer/compilers/, feat, common/web/, epic-ldml

#8175 auto: increment master version to 17.0.44
  HISTORY.md
  VERSION.md
Labels: auto

#8178 chore(linux): Set test-helper script executable
  linux/ibus-keyman/tests/scripts/test-helper.sh
Labels: linux/, linux/engine/, chore

#8155 chore(linux): Update debian changelog
  linux/debian/changelog
Labels: linux/, stable, chore

#8156 chore(linux): Update debian changelog 🍒
  linux/debian/changelog
Labels: linux/, cherry-pick, chore

#8183 auto: increment master version to 17.0.45
  HISTORY.md
  VERSION.md
Labels: auto

#8171 feat(common): ldml modifier support 🙀
  common/web/types/src/kmx/kmx-plus-builder/build-keys.ts
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/include/ldml/ldml-const-builder.ts
  core/src/ldml/C7043_ldml.md
  core/tests/unit/ldml/keyboards/k_004_tinyshift.xml
  core/tests/unit/ldml/keyboards/k_010_mt.xml
  core/tests/unit/ldml/keyboards/meson.build
  developer/src/kmc-keyboard/src/compiler/keys.ts
  developer/src/kmc-keyboard/src/util/util.ts
  developer/src/kmc-keyboard/test/fixtures/sections/keys/hardware.xml
  developer/src/kmc-keyboard/test/test-keys.ts
  developer/src/kmc-keyboard/test/test-utils.ts
Labels: developer/, common/, developer/compilers/, feat, core/, common/web/, epic-ldml

#8176 chore(ios): update certificate
  ios/exportAppStore.plist
Labels: ios/, chore

#8177 chore(ios): update certificate 🍒
  ios/exportAppStore.plist
Labels: ios/, stable, cherry-pick, chore

#8181 fix(linux): Fix autopkgtests 🍒
  linux/debian/control
  linux/debian/tests/control
  linux/debian/tests/test-build
Labels: linux/, cherry-pick, fix

#8182 chore(common): Cleanup Kannada locale
  android/KMAPro/kMAPro/src/main/res/values-kn-rIN/strings.xml
  crowdin.yml
  ios/engine/KMEI/KeymanEngine/kn.lproj/Localizable.strings
  ios/keyman/Keyman/Keyman/kn.lproj/Localizable.strings
  linux/keyman-config/locale/kn_IN.po
  windows/src/desktop/kmshell/locale/kan-Knda-IN/strings.xml
  windows/src/desktop/kmshell/locale/kn/strings.xml
  windows/src/desktop/setup/locale/kn/strings.xml
Labels: windows/, android/, ios/, linux/, common/, android/app/, ios/app/, ios/engine/, linux/config/, windows/config/, chore, has-user-test

#8184 chore(windows): Fix Portuguese UI language name
  windows/src/desktop/kmshell/locale/pt-BR/strings.xml
Labels: windows/, windows/config/, chore, has-user-test

#8194 auto: increment master version to 17.0.46
  HISTORY.md
  VERSION.md
Labels: auto

#8186 fix(windows): add remove lang id uses correct keyboard id
  windows/src/desktop/kmshell/xml/keyman_keyboardlist.xsl
Labels: windows/, fix, windows/config/, has-user-test

#8190 cherrypick(windows): Fix Portuguese UI language name 🍒
  windows/src/desktop/kmshell/locale/pt-BR/strings.xml
Labels: windows/, stable, cherry-pick, windows/config/, has-user-test

#8187 chore(common): add `builder_term` function
  common/predictive-text/build.sh
  common/predictive-text/unit_tests/test.sh
  common/web/input-processor/build.sh
  common/web/keyboard-processor/build.sh
  resources/build/build-utils.md
  resources/builder.inc.sh
  web/build.sh
  web/test.sh
Labels: web/, common/, common/resources/, common/web/, chore

#8188 chore(common): builder internal dependencies
  resources/build/tests/dependencies/.gitignore
  resources/build/tests/dependencies/app/build.sh
  resources/build/tests/dependencies/library/build.sh
  resources/builder.inc.sh
Labels: common/, common/resources/, chore

#8180 fix(linux): Fix autopkgtests
  linux/debian/control
  linux/debian/tests/control
  linux/debian/tests/test-build
Labels: linux/, stable, fix

#8191 chore(linux): Update changelog from Debian
  linux/debian/changelog
Labels: linux/, stable, chore

#8192 chore(linux): Update changelog from Debian 🍒
  linux/debian/changelog
Labels: linux/, cherry-pick, chore

#8189 cherrypick(common): Cleanup Kannada locale 🍒
  android/KMAPro/kMAPro/src/main/res/values-kn-rIN/strings.xml
  crowdin.yml
  ios/engine/KMEI/KeymanEngine/kn.lproj/Localizable.strings
  ios/keyman/Keyman/Keyman/kn.lproj/Localizable.strings
  linux/keyman-config/locale/kn_IN.po
  windows/src/desktop/kmshell/locale/kan-Knda-IN/strings.xml
  windows/src/desktop/kmshell/locale/kn/strings.xml
  windows/src/desktop/setup/locale/kn/strings.xml
Labels: windows/, android/, ios/, linux/, stable, common/, android/app/, ios/app/, ios/engine/, linux/config/, windows/config/, has-user-test

#7911 feat(linux): Add debian packaging GHA
  .github/actions/apt-install/action.yml
  .github/workflows/deb-packaging.yml
  linux/scripts/deb-packaging.sh
  resources/build/increment-version.sh
  resources/build/run-required-test-builds.sh
  resources/build/trigger-builds.inc.sh
  resources/build/trigger-definitions.inc.sh
Labels: linux/, common/, common/resources/, feat

#8204 auto: increment master version to 17.0.47
  HISTORY.md
  VERSION.md
Labels: auto

#8195 fix(windows): add remove lang id uses correct kbd 🍒
  windows/src/desktop/kmshell/xml/keyman_keyboardlist.xsl
Labels: windows/, stable, fix, windows/config/

#8200 fix(linux): Fix autopkgtests
  linux/debian/changelog
  linux/debian/tests/README.md
  linux/debian/tests/test-build
Labels: linux/, stable, fix

#8201 fix(linux): Fix autopkgtests 🍒
  linux/debian/changelog
  linux/debian/tests/README.md
  linux/debian/tests/test-build
Labels: linux/, cherry-pick, fix

#8199 fix(linux): Fix Verify-API step of GHA
  .github/workflows/deb-packaging.yml
  resources/build/trigger-builds.inc.sh
Labels: linux/, common/, common/resources/, fix

#8213 auto: increment master version to 17.0.48
  HISTORY.md
  VERSION.md
Labels: auto

#8179 fix(developer): Select BCP47 Code dialog inconsistencies
  common/windows/delphi/general/BCP47Tag.pas
  developer/src/tike/dialogs/languages/Keyman.Developer.UI.UfrmSelectBCP47Language.pas
Labels: developer/, common/, fix, developer/ide/, has-user-test

#8197 chore(common): automatically apply _builder_check_color
  common/predictive-text/build.sh
  common/web/input-processor/build.sh
  common/web/keyboard-processor/build.sh
  resources/build/build-utils.md
  resources/builder.inc.sh
  web/build.sh
  web/src/engine/build.sh
  web/test.sh
Labels: web/, common/, common/resources/, common/web/, chore

#8202 docs(linux): Update packaging documentation
  docs/linux/packaging.md
Labels: linux/, docs

#8210 chore(common): Report status if no platform needs build
  resources/build/run-required-test-builds.sh
Labels: common/, common/resources/, chore

#8218 chore(linux): Exclude autopkg tests on s390x 🍒
  linux/debian/changelog
  linux/debian/tests/control
Labels: linux/, cherry-pick, chore

#8217 chore(linux): Exclude autopkg tests on s390x
  linux/debian/changelog
  linux/debian/tests/control
Labels: linux/, stable, chore

#8209 fix(linux): Fix path to symbols file in packaging GHA
  .github/workflows/deb-packaging.yml
  resources/build/trigger-builds.inc.sh
Labels: linux/, common/, common/resources/, fix

#8116 chore(linux): Remove obsolete files 🏗️
  linux/build/agent/dependencies.config
  linux/build/agent/install-deps
  linux/scripts/debian.sh
  linux/scripts/jenkins.sh
  linux/scripts/package-build.inc.sh
Labels: linux/, chore

#8211 chore: ldml merge from master 🙀
  .github/actions/apt-install/action.yml
  .github/workflows/deb-packaging.yml
  HISTORY.md
  VERSION.md
  android/KMAPro/kMAPro/src/main/res/values-kn-rIN/strings.xml
  common/predictive-text/build.sh
  common/predictive-text/unit_tests/test.sh
  common/web/input-processor/build.sh
  common/web/keyboard-processor/build.sh
  core/src/meson.build
  core/tests/meson.build
  core/tests/unit/kmx/meson.build
  crowdin.yml
  docs/linux/keyman-config.md
  ios/engine/KMEI/KeymanEngine/kn.lproj/Localizable.strings
  ios/exportAppStore.plist
  ios/keyman/Keyman/Keyman/kn.lproj/Localizable.strings
  linux/.gitignore
  linux/debian/changelog
  linux/debian/control
  linux/debian/tests/README.md
  linux/debian/tests/control
  linux/debian/tests/test-build
  linux/ibus-keyman/icons/meson.build
  linux/ibus-keyman/meson.build
  linux/ibus-keyman/src/Makefile.am
  linux/ibus-keyman/src/keyman.xml.in
  linux/ibus-keyman/src/meson.build
  linux/ibus-keyman/src/test/meson.build
  linux/ibus-keyman/src/test/print_kmp.c
  linux/ibus-keyman/src/test/print_kmpdetails.c
  linux/ibus-keyman/src/test/run-tests.sh
  linux/ibus-keyman/tests/README.md
  linux/ibus-keyman/tests/ibusimcontext.c
  linux/ibus-keyman/tests/meson.build
  linux/ibus-keyman/tests/scripts/find-tests.sh
  linux/ibus-keyman/tests/scripts/run-single-test.sh
  linux/ibus-keyman/tests/scripts/run-tests.sh
  linux/ibus-keyman/tests/scripts/setup-tests.sh
  linux/ibus-keyman/tests/scripts/teardown-tests.sh
  linux/ibus-keyman/tests/scripts/test-helper.sh
  linux/keyman-config/locale/kn_IN.po
  linux/scripts/deb-packaging.sh
  resources/build/build-utils.md
  resources/build/increment-version.sh
  resources/build/run-required-test-builds.sh
  resources/build/tests/dependencies/.gitignore
  resources/build/tests/dependencies/app/build.sh
  resources/build/tests/dependencies/library/build.sh
  resources/build/trigger-builds.inc.sh
  resources/build/trigger-definitions.inc.sh
  resources/builder.inc.sh
  web/build.sh
  web/test.sh
  windows/src/desktop/kmshell/locale/kan-Knda-IN/strings.xml
  windows/src/desktop/kmshell/locale/kn/strings.xml
  windows/src/desktop/kmshell/locale/pt-BR/strings.xml
  windows/src/desktop/kmshell/xml/keyman_keyboardlist.xsl
  windows/src/desktop/setup/locale/kn/strings.xml
Labels: web/, windows/, android/, ios/, linux/, common/, common/resources/, android/app/, ios/app/, ios/engine/, linux/config/, linux/engine/, core/, common/web/, windows/config/, chore, docs, epic-ldml

#8224 auto: increment master version to 17.0.49
  HISTORY.md
  VERSION.md
Labels: auto

#8221 feat(linux): Pass PR# in the event type
  .github/workflows/deb-packaging.yml
  resources/build/trigger-builds.inc.sh
Labels: linux/, common/, common/resources/, feat

#8223 feat(linux): Implement uploading of packages in packaging GHA
  .github/workflows/deb-packaging.yml
Labels: linux/, feat

#8225 fix(linux): Fix GHA package build
  resources/build/trigger-builds.inc.sh
Labels: linux/, common/, common/resources/, fix

#8228 fix(linux): Another fix for GHA package build
  .github/workflows/deb-packaging.yml
  resources/build/trigger-builds.inc.sh
Labels: linux/, common/, common/resources/, fix

#8206 feat(core): ldml C++ validate list / key2 🙀
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
Labels: feat, core/, epic-ldml

#8231 auto: increment master version to 17.0.50
  HISTORY.md
  VERSION.md
Labels: auto

#8198 feat(common): parent-child scripts for builder
  resources/build/build-utils.md
  resources/build/tests/trees/.gitignore
  resources/build/tests/trees/build.sh
  resources/build/tests/trees/child1/build.sh
  resources/build/tests/trees/child2/build.sh
  resources/build/tests/trees/child3_renamed/src/build.sh
  resources/build/tests/trees/test.sh
  resources/builder.inc.sh
Labels: common/, common/resources/, feat

#8230 fix(linux): Another iteration to fix packaging GHA
  .github/workflows/deb-packaging.yml
Labels: linux/, fix

#8196 chore(common): updates Web & Web-related dependencies
  common/models/templates/package.json
  common/models/types/package.json
  common/models/wordbreakers/package.json
  common/predictive-text/package.json
  common/tools/sourcemap-path-remapper/package.json
  common/web/input-processor/package.json
  common/web/keyboard-processor/package.json
  common/web/keyman-version/package.json
  common/web/lm-message-types/package.json
  common/web/lm-worker/package.json
  common/web/recorder/package.json
  common/web/sentry-manager/package.json
  common/web/utils/package.json
  developer/src/kmlmc/package.json
  developer/src/server/package.json
  developer/src/server/tsconfig.json
  package-lock.json
  package.json
  resources/build/version/package.json
  web/package.json
  web/src/engine/build.sh
Labels: web/, developer/, common/, common/models/, common/resources/, common/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/, developer/ide/, chore

#8212 feat(common): ldml read keyboard testdata 🙀
  common/web/types/build.sh
  common/web/types/src/ldml-keyboard/ldml-keyboard-testdata-xml.ts
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/src/main.ts
  common/web/types/src/util/common-events.ts
  common/web/types/src/util/compiler-interfaces.ts
  common/web/types/test/fixtures/test-fr.xml
  common/web/types/test/helpers/index.ts
  common/web/types/test/helpers/reader-callback-test.ts
  common/web/types/test/ldml-keyboard/test-ldml-keyboard-testdata-reader.ts
  core/tests/unit/ldml/keyboards/k_001_tiny-test.xml
  core/tests/unit/ldml/keyboards/meson.build
  developer/src/kmc-keyboard/build.sh
  developer/src/kmc-keyboard/src/compiler/compiler.ts
  developer/src/kmc-keyboard/test/fixtures/test-fr.json
  developer/src/kmc-keyboard/test/fixtures/test-fr.xml
  developer/src/kmc-keyboard/test/helpers/index.ts
  developer/src/kmc-keyboard/test/test-testdata-e2e.ts
  developer/src/kmc/build.sh
  developer/src/kmc/src/kmc.ts
Labels: developer/, common/, developer/compilers/, feat, core/, common/web/, epic-ldml

#8232 feat(core): ldml C++ helper for list / key2 🙀
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
Labels: feat, core/, epic-ldml

#8244 auto: increment master version to 17.0.51
  HISTORY.md
  VERSION.md
Labels: auto

#8245 chore(common): Update Fula strings for Sprint A17S6
  android/KMAPro/kMAPro/src/main/res/values-ff-rZA/strings.xml
  android/KMEA/app/src/main/res/values-ff-rZA/strings.xml
  ios/engine/KMEI/KeymanEngine/ff.lproj/Localizable.strings
  linux/keyman-config/locale/ff_ZA.po
  mac/Keyman4MacIM/Keyman4MacIM/ff.lproj/Localizable.strings
  windows/src/desktop/kmshell/locale/ff-ZA/strings.xml
  windows/src/desktop/setup/locale/ff-ZA/strings.xml
Labels: windows/, android/, ios/, mac/, linux/, common/, android/engine/, android/app/, ios/engine/, linux/config/, windows/config/, chore

#8246 chore(common): Update Fula strings for Sprint A17S6 🍒
  android/KMAPro/kMAPro/src/main/res/values-ff-rZA/strings.xml
  android/KMEA/app/src/main/res/values-ff-rZA/strings.xml
  ios/engine/KMEI/KeymanEngine/ff.lproj/Localizable.strings
  linux/keyman-config/locale/ff_ZA.po
  mac/Keyman4MacIM/Keyman4MacIM/ff.lproj/Localizable.strings
  windows/src/desktop/kmshell/locale/ff-ZA/strings.xml
  windows/src/desktop/setup/locale/ff-ZA/strings.xml
Labels: windows/, android/, ios/, mac/, linux/, stable, cherry-pick, common/, android/engine/, android/app/, ios/engine/, linux/config/, windows/config/, chore

#8243 spec(core): ldml: merge keys into key2 🙀
  common/web/types/src/kmx/kmx-plus-builder/build-key2.ts
  common/web/types/src/kmx/kmx-plus-builder/build-keys.ts
  common/web/types/src/kmx/kmx-plus-builder/kmx-plus-builder.ts
  common/web/types/src/kmx/kmx-plus.ts
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/C7043_ldml.md
  core/src/ldml/ldml_processor.cpp
  core/tests/unit/ldml/test_kmx_plus.cpp
  developer/src/kmc-keyboard/src/compiler/compiler.ts
  developer/src/kmc-keyboard/src/compiler/key2.ts
  developer/src/kmc-keyboard/src/compiler/keys.ts
  developer/src/kmc-keyboard/test/fixtures/basic.txt
  developer/src/kmc-keyboard/test/fixtures/sections/key2/escaped2.xml
  developer/src/kmc-keyboard/test/test-key2.ts
  developer/src/kmc-keyboard/test/test-keys.ts
Labels: developer/, common/, developer/compilers/, core/, common/web/, epic-ldml

#8256 auto: increment master version to 17.0.52
  HISTORY.md
  VERSION.md
Labels: auto

#8253 fix(developer): always copy schemas during build
  developer/src/kmc-keyboard/build.sh
Labels: developer/, developer/compilers/, fix, epic-ldml

#8215 fix(windows): use min-width allow to expand
  windows/src/desktop/kmshell/xml/installkeyboard.css
Labels: windows/, windows/config/, has-user-test

#8254 chore(web): minor cleanup of web/build.sh
  web/build.sh
Labels: web/, chore

#8264 fix(web): `--no-minify`, not `--skip-minify`
  web/build.sh
Labels: web/, fix

#8266 chore(web): Actually skip browser-stack for non-web builds
  web/test.sh
Labels: web/, chore

#8260 chore: cleanup some of shellHelperFunctions.sh
  common/predictive-text/unit_tests/test.sh
  common/test/resources/test_kill_browserstack.sh
  core/build.sh
  resources/build/build-utils.sh
  resources/devbox/iis-https/setup-iis-https.sh
  resources/shellHelperFunctions.sh
  web/test.sh
Labels: web/, common/, common/resources/, core/, chore

#8261 chore: consolidate script helper functions
  android/KMAPro/build-play-store-notes.sh
  android/KMEA/build.sh
  android/build.sh
  common/models/types/build.sh
  common/predictive-text/testing/one-stage-embedded-webworker/build.sh
  common/predictive-text/testing/two-stage-embedded-webworker/build.sh
  common/test/keyboards/build.sh
  common/web/keyboard-processor/build.sh
  common/web/lm-worker/build.sh
  common/web/sentry-manager/src/build.sh
  common/windows/cef-checkout.sh
  core/build.sh
  developer/src/kmlmc/build.sh
  developer/src/server/build-addins.inc.sh
  developer/src/server/build.sh
  ios/kmbuild.sh
  linux/scripts/jenkins.sh
  linux/scripts/upload-to-debian.sh
  mac/Keyman4MacIM/make-km-dmg.sh
  mac/Keyman4MacIM/write-download_info.sh
  mac/bashHelperFunctions.sh
  mac/build.sh
  mac/setup/build.sh
  oem/firstvoices/common/build_keyboards.sh
  oem/firstvoices/ios/build_common.sh
  resources/build/build-download-resources.sh
  resources/build/build-utils-ci.test.sh
  resources/build/build-utils.sh
  resources/build/history/history-utils.sh
  resources/build/report-history.sh
  resources/build/tests/builder-deps.test.sh
  resources/build/tests/builder.inc.test.sh
  resources/builder.inc.sh
  resources/devbox/iis-https/setup-iis-https.sh
  resources/shellHelperFunctions.sh
  web/build.sh
  web/src/engine/build.sh
  web/src/tools/building/check-build-size.sh
  web/test.sh
  windows/src/desktop/locale/crowdin-control.sh
Labels: web/, windows/, android/, developer/, ios/, mac/, linux/, common/, common/models/, common/resources/, oem/, android/engine/, android/app/, core/, common/web/, common/models/types/, developer/ide/, oem/fv/, oem/fv/ios/, windows/config/, chore

#8241 chore(linux): Output results of API verification on stderr
  .github/workflows/deb-packaging.yml
  linux/scripts/deb-packaging.sh
Labels: linux/, chore

#8242 chore(linux): Create draft PR after updating changelog
  linux/scripts/upload-to-debian.sh
Labels: linux/, chore

#8247 fix(linux): Checkout before running apt-install
  .github/workflows/deb-packaging.yml
Labels: linux/, fix

#8113 chore(linux): Refactor scripts and packaging 🏗️
  core/getversion.sh
  linux/.gitignore
  linux/Makefile
  linux/VERSION
  linux/build/agent/dependencies.config
  linux/build/agent/install-deps
  linux/debian/copyright
  linux/debian/ibus-keyman.postinst
  linux/debian/ibus-keyman.postrm
  linux/debian/rules
  linux/ibus-keyman/.gitignore
  linux/ibus-keyman/AUTHORS
  linux/ibus-keyman/ChangeLog
  linux/ibus-keyman/Makefile.am
  linux/ibus-keyman/NEWS
  linux/ibus-keyman/README
  linux/ibus-keyman/README.repo
  linux/ibus-keyman/VERSION
  linux/ibus-keyman/autogen.sh
  linux/ibus-keyman/configure.ac
  linux/ibus-keyman/glib-tap.mk
  linux/ibus-keyman/icons/Makefile.am
  linux/ibus-keyman/m4/Makefile.am
  linux/ibus-keyman/m4/as-version.m4
  linux/ibus-keyman/meson.build
  linux/ibus-keyman/po/LINGUAS
  linux/ibus-keyman/po/Makevars
  linux/ibus-keyman/po/POTFILES.in
  linux/ibus-keyman/po/Rules-quot
  linux/ibus-keyman/po/boldquot.sed
  linux/ibus-keyman/po/en@boldquot.header
  linux/ibus-keyman/po/en@quot.header
  linux/ibus-keyman/po/ibus-keyman.pot
  linux/ibus-keyman/po/insert-header.sin
  linux/ibus-keyman/po/quot.sed
  linux/ibus-keyman/po/remove-potcdate.sin
  linux/ibus-keyman/po/stamp-po
  linux/ibus-keyman/src/Makefile.am
  linux/ibus-keyman/src/keyman.xml.in.in
  linux/ibus-keyman/src/test/Makefile.am
  linux/ibus-keyman/tap-driver.sh
  linux/ibus-keyman/tap-test
  linux/ibus-keyman/tests/.gitignore
  linux/ibus-keyman/tests/Makefile.am
  linux/ibus-keyman/tests/run-tests.sh
  linux/ibus-keyman/tests/testfixture.cpp
  linux/keyman-config/Makefile
  linux/keyman-config/build-help.sh
  linux/scripts/build.sh
  linux/scripts/cow.sh
  linux/scripts/deb-packaging.sh
  linux/scripts/deb.sh
  linux/scripts/debian.sh
  linux/scripts/dist.sh
  linux/scripts/install.sh
  linux/scripts/jenkins.sh
  linux/scripts/launchpad.sh
  linux/scripts/package-build.inc.sh
  linux/scripts/reconf.sh
Labels: web/, windows/, android/, developer/, ios/, linux/, common/, common/resources/, android/app/, ios/app/, ios/engine/, linux/config/, linux/engine/, core/, common/web/, developer/ide/, windows/config/, chore, docs

#8263 chore(developer): ignore Esc key when compiling
  developer/src/kmcmpdll/Compiler.cpp
Labels: developer/, developer/compilers/, chore

#8173 docs: builder.inc.sh improved documentation around dependencies
  resources/build/build-utils.md
  resources/builder.inc.sh
Labels: common/, common/resources/, docs

#8275 auto: increment master version to 17.0.53
  HISTORY.md
  VERSION.md
Labels: auto

#8251 chore: ldml: merge from master 🙀
  .github/workflows/deb-packaging.yml
  HISTORY.md
  VERSION.md
  common/models/templates/package.json
  common/models/types/package.json
  common/models/wordbreakers/package.json
  common/predictive-text/build.sh
  common/predictive-text/package.json
  common/tools/sourcemap-path-remapper/package.json
  common/web/input-processor/build.sh
  common/web/input-processor/package.json
  common/web/keyboard-processor/build.sh
  common/web/keyboard-processor/package.json
  common/web/keyman-version/package.json
  common/web/lm-message-types/package.json
  common/web/lm-worker/package.json
  common/web/recorder/package.json
  common/web/sentry-manager/package.json
  common/web/utils/package.json
  common/windows/delphi/general/BCP47Tag.pas
  developer/src/kmc-model/package.json
  developer/src/server/package.json
  developer/src/server/tsconfig.json
  developer/src/tike/dialogs/languages/Keyman.Developer.UI.UfrmSelectBCP47Language.pas
  docs/linux/packaging.md
  linux/debian/changelog
  linux/debian/tests/control
  package-lock.json
  package.json
  resources/build/build-utils.md
  resources/build/run-required-test-builds.sh
  resources/build/tests/trees/.gitignore
  resources/build/tests/trees/build.sh
  resources/build/tests/trees/child1/build.sh
  resources/build/tests/trees/child2/build.sh
  resources/build/tests/trees/child3_renamed/src/build.sh
  resources/build/tests/trees/test.sh
  resources/build/trigger-builds.inc.sh
  resources/build/version/package.json
  resources/builder.inc.sh
  web/build.sh
  web/package.json
  web/src/engine/build.sh
  web/test.sh
Labels: web/, developer/, linux/, common/, common/models/, developer/compilers/, common/resources/, common/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/, developer/ide/, chore, docs, epic-ldml

#8222 feat(core): ldml: implement xml test cases 🙀
  .github/workflows/deb-packaging.yml
  HISTORY.md
  VERSION.md
  common/models/templates/package.json
  common/models/types/package.json
  common/models/wordbreakers/package.json
  common/predictive-text/build.sh
  common/predictive-text/package.json
  common/tools/sourcemap-path-remapper/package.json
  common/web/input-processor/build.sh
  common/web/input-processor/package.json
  common/web/keyboard-processor/build.sh
  common/web/keyboard-processor/package.json
  common/web/keyman-version/package.json
  common/web/lm-message-types/package.json
  common/web/lm-worker/package.json
  common/web/recorder/package.json
  common/web/sentry-manager/package.json
  common/web/utils/package.json
  common/windows/delphi/general/BCP47Tag.pas
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/path.hpp
  core/tests/unit/ldml/keyboards/fr-t-k0-azerty-test.xml
  core/tests/unit/ldml/keyboards/fr-t-k0-azerty.xml
  core/tests/unit/ldml/keyboards/meson.build
  core/tests/unit/ldml/ldml.cpp
  core/tests/unit/ldml/ldml_test_source.cpp
  core/tests/unit/ldml/ldml_test_source.hpp
  core/tests/unit/ldml/meson.build
  developer/src/kmc-model/package.json
  developer/src/server/package.json
  developer/src/server/tsconfig.json
  developer/src/tike/dialogs/languages/Keyman.Developer.UI.UfrmSelectBCP47Language.pas
  docs/linux/packaging.md
  linux/debian/changelog
  linux/debian/tests/control
  package-lock.json
  package.json
  resources/build/build-utils.md
  resources/build/run-required-test-builds.sh
  resources/build/tests/trees/.gitignore
  resources/build/tests/trees/build.sh
  resources/build/tests/trees/child1/build.sh
  resources/build/tests/trees/child2/build.sh
  resources/build/tests/trees/child3_renamed/src/build.sh
  resources/build/tests/trees/test.sh
  resources/build/trigger-builds.inc.sh
  resources/build/version/package.json
  resources/builder.inc.sh
  web/build.sh
  web/package.json
  web/src/engine/build.sh
  web/test.sh
Labels: web/, developer/, linux/, common/, common/models/, developer/compilers/, common/resources/, feat, core/, common/web/, common/models/types/, common/models/templates/, common/models/wordbreakers/, developer/ide/, docs, epic-ldml

#8257 chore(windows): Remove old Kannada setup strings
  windows/src/desktop/setup/locale/kn-IN/strings.xml
Labels: windows/, windows/config/, chore, has-user-test

#8258 chore(windows): Remove old Kannada setup strings 🍒
  windows/src/desktop/setup/locale/kn-IN/strings.xml
Labels: windows/, stable, cherry-pick, windows/config/, chore, has-user-test

#8274 fix(linux): Collect consecutive backspaces
  linux/ibus-keyman/src/engine.c
Labels: linux/, fix, linux/engine/

#8282 chore(linux): Cleanup GHA
  .github/workflows/deb-packaging.yml
Labels: linux/, chore

#8283 auto: increment master version to 17.0.54
  HISTORY.md
  VERSION.md
Labels: auto

#8125 fix(ios): allow duplicate languages in kmp file
  ios/engine/KMEI/KeymanEngine/Classes/Resource Data/InstallableKeyboard.swift
  ios/engine/KMEI/KeymanEngine/Classes/kmp.json/KMPKeyboard.swift
Labels: ios/, fix, ios/engine/, has-user-test

#8285 fix(linux): Fix paths in upload action of packaging GHA
  .github/workflows/deb-packaging.yml
Labels: linux/, fix

#8291 fix(android/app): Fix OSK width when rotating
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
Labels: android/, fix, android/app/, has-user-test

#8293 auto: increment master version to 17.0.55
  HISTORY.md
  VERSION.md
Labels: auto

#8276 feat(core): ldml rename key2 to keys 🙀
  common/web/types/src/kmx/kmx-plus-builder/build-keys.ts
  common/web/types/src/kmx/kmx-plus-builder/kmx-plus-builder.ts
  common/web/types/src/kmx/kmx-plus.ts
  common/web/types/test/helpers/reader-callback-test.ts
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/C7043_ldml.md
  core/src/ldml/ldml_processor.cpp
  core/tests/unit/ldml/test_kmx_plus.cpp
  developer/src/kmc-keyboard/src/compiler/compiler.ts
  developer/src/kmc-keyboard/src/compiler/keys.ts
  developer/src/kmc-keyboard/test/fixtures/basic.txt
  developer/src/kmc-keyboard/test/fixtures/sections/keys/escaped.xml
  developer/src/kmc-keyboard/test/fixtures/sections/keys/escaped2.xml
  developer/src/kmc-keyboard/test/fixtures/sections/keys/maximal.xml
  developer/src/kmc-keyboard/test/test-key2.ts
  developer/src/kmc-keyboard/test/test-keys.ts
  developer/src/kmc-keyboard/test/test-layr.ts
Labels: developer/, common/, developer/compilers/, feat, core/, common/web/, epic-ldml

#8277 chore(docs): update docs due to Mac Ventura
  docs/build/macos.md
Labels: common/, chore, docs

#8265 feat(developer): touch layout compiler for LDML 🙀
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file-writer.ts
  common/web/types/src/main.ts
  developer/src/kmc-keyboard/src/compiler/compiler-options.ts
  developer/src/kmc-keyboard/src/compiler/keymanweb-compiler.ts
  developer/src/kmc-keyboard/src/compiler/touch-layout-compiler.ts
  developer/src/kmc-keyboard/src/compiler/visual-keyboard-compiler.ts
  developer/src/kmc-keyboard/src/main.ts
  developer/src/kmc-keyboard/test/fixtures/basic-no-debug.js
  developer/src/kmc-keyboard/test/fixtures/basic.js
  developer/src/kmc/src/kmc.ts
Labels: developer/, common/, developer/compilers/, feat, common/web/, epic-ldml

#7861 chore(common): stats script for planning
  resources/stats/.gitignore
  resources/stats/gh-pr.txt
  resources/stats/stats.sh
Labels: common/, common/resources/, chore

#8279 chore(core): cleanup meson build
  core/build.bat
  core/build.sh
  core/commands.inc.sh
  core/meson.build
  core/meson_options.txt
  core/tests/unit/kmnkbd/meson.build
  core/tests/unit/kmx/meson.build
  core/tests/unit/ldml/meson.build
  core/wasm.build.win.in
  developer/src/kmc-keyboard/test/tsconfig.json
  developer/src/tike/Makefile
  docs/build/windows.md
  linux/scripts/build.sh
  linux/scripts/reconf.sh
  resources/build/build-utils.sh
  resources/builder.inc.sh
  windows/src/engine/keyman32/Makefile
Labels: windows/, developer/, linux/, common/, developer/compilers/, common/resources/, core/, developer/ide/, windows/engine/, chore, docs

#8287 chore: move from vcvarsall.bat to vsdevcmd.bat
  core/build.bat
Labels: core/, chore

#8307 auto: increment master version to 17.0.56
  HISTORY.md
  VERSION.md
Labels: auto

#8269 change(web): keyboard caching, fetching modularization 🧩
  common/web/keyboard-processor/build-bundler.js
  common/web/keyboard-processor/build.sh
  common/web/keyboard-processor/src/index.ts
  common/web/keyboard-processor/src/keyboards/keyboardProperties.ts
  common/web/keyboard-processor/src/keyboards/nodeKeyboardLoader.ts
  common/web/utils/src/managedPromise.ts
  web/package.json
  web/src/engine/build.sh
  web/src/engine/device-detect/build-bundler.js
  web/src/engine/dom-utils/src/stylesheets.ts
  web/src/engine/keyboard-cache/build-bundler.js
  web/src/engine/keyboard-cache/src/cloud/index.ts
  web/src/engine/keyboard-cache/src/cloud/queryEngine.ts
  web/src/engine/keyboard-cache/src/cloud/requesterInterface.ts
  web/src/engine/keyboard-cache/src/domCloudRequester.ts
  web/src/engine/keyboard-cache/src/index.ts
  web/src/engine/keyboard-cache/src/keyboardStub.ts
  web/src/engine/keyboard-cache/src/nodeCloudRequester.ts
  web/src/engine/keyboard-cache/src/stubAndKeyboardCache.ts
  web/src/engine/keyboard-cache/tsconfig.json
  web/src/engine/main/keyboards/kmwkeyboards.ts
  web/src/test/auto/dom/base.conf.cjs
  web/src/test/auto/dom/cases/keyboard-cache/cloudQueries.js
  web/src/test/auto/dom/cases/keyboard-cache/domCloudRequester.js
  web/src/test/auto/headless/keyboard-cache/cloudQueries.js
  web/src/test/auto/headless/keyboard-cache/keyboardStub.js
  web/src/test/auto/headless/keyboard-cache/nodeCloudRequester.js
  web/src/test/auto/headless/keyboard-cache/stubAndKeyboardCache.js
  web/src/test/auto/resources/query-mock-results/@dz.js.fixture
  web/src/test/auto/resources/query-mock-results/readme.md
  web/src/test/auto/resources/query-mock-results/sil_cameroon_azerty.js.fixture
  web/src/test/auto/resources/query-mock-results/sil_euro_latin@no_sv.js.fixture
Labels: web/, common/, common/web/

#8271 chore(web): renames folder for namespaced Web code 🧩
  common/web/keyboard-processor/build-bundler.js
  web/src/engine/namespaced-main/dom/domDefaultOutput.ts
  web/src/engine/namespaced-main/dom/domEventHandlers.ts
  web/src/engine/namespaced-main/dom/domManager.ts
  web/src/engine/namespaced-main/dom/domOverrides.ts
  web/src/engine/namespaced-main/dom/preProcessor.ts
  web/src/engine/namespaced-main/dom/utils.ts
  web/src/engine/namespaced-main/dom/variableStoreCookieSerializer.ts
  web/src/engine/namespaced-main/keyboards/kmwkeyboards.ts
  web/src/engine/namespaced-main/keymanweb.ts
  web/src/engine/namespaced-main/kmwapi.ts
  web/src/engine/namespaced-main/kmwbase.ts
  web/src/engine/namespaced-main/kmwdebug.js
  web/src/engine/namespaced-main/kmwdebugstub.js
  web/src/engine/namespaced-main/kmwexthtml.ts
  web/src/engine/namespaced-main/kmwhotkeys.ts
  web/src/engine/namespaced-main/kmwinit.ts
  web/src/engine/namespaced-main/kmwreleasestub.js
  web/src/engine/namespaced-main/kmwtypedefs.ts
  web/src/engine/namespaced-main/kmwuimanager.ts
  web/src/engine/namespaced-main/kmwutils.ts
  web/src/engine/namespaced-main/osk/languageMenu.ts
  web/src/engine/namespaced-main/singleton.ts
  web/src/engine/namespaced-main/text/domKbdInterface.ts
  web/src/engine/namespaced-main/text/prediction/modelManager.ts
  web/src/engine/namespaced-main/tsconfig.json
Labels: web/, common/, common/web/, chore

#8280 refactor(web): cookie serialization + deserialization 🧩
  web/src/engine/dom-utils/src/cookieSerializer.ts
  web/src/engine/dom-utils/src/index.ts
  web/src/engine/namespaced-main/kmwutils.ts
  web/src/engine/osk/src/index.ts
  web/src/engine/osk/src/views/floatingOskCookie.ts
  web/src/engine/osk/src/views/floatingOskView.ts
  web/src/test/auto/dom/cases/dom-utils/cookies.js
Labels: web/, refactor

#8303 chore(core): make kmx_test_source available as a library
  core/meson.build
  core/tests/kmx_test_source/kmx_test_source.cpp
  core/tests/kmx_test_source/kmx_test_source.hpp
  core/tests/kmx_test_source/meson.build
  core/tests/meson.build
  core/tests/unit/kmx/meson.build
  core/tests/unit/meson.build
  linux/debian/rules
  linux/ibus-keyman/tests/meson.build
  linux/ibus-keyman/tests/scripts/run-tests.sh
  linux/ibus-keyman/tests/scripts/setup-tests.sh
Labels: linux/, linux/engine/, core/, chore

#8308 fix(linux): Fix upload in packaging GHA
  .github/workflows/deb-packaging.yml
Labels: linux/, fix

#8304 feat(common): adds warning if described output does not exist
  resources/builder.inc.sh
  resources/shellHelperFunctions.sh
Labels: common/, common/resources/, feat

#8313 chore(linux): Improve detecting presence of test files
  linux/ibus-keyman/tests/scripts/setup-tests.sh
Labels: linux/, linux/engine/, chore

#8315 auto: increment master version to 17.0.57
  HISTORY.md
  VERSION.md
Labels: auto

#8314 chore(android/app): Revert #8291
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
Labels: android/, android/app/, chore, user-test-required, has-user-test

#8319 auto: increment master version to 17.0.58
  HISTORY.md
  VERSION.md
Labels: auto

#8300 feat(developer): kmc build command 🙀
  core/tests/unit/ldml/keyboards/meson.build
  developer/src/kmc-model/package.json
  developer/src/kmc/README.md
  developer/src/kmc/build.sh
  developer/src/kmc/package.json
  developer/src/kmc/src/activities/buildLdmlKeyboard.ts
  developer/src/kmc/src/activities/buildTestData.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildTestData.ts
  developer/src/kmc/src/kmc.ts
  developer/src/kmc/src/kmlmc.ts
  developer/src/kmc/src/kmlmi.ts
  developer/src/kmc/src/kmlmp.ts
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
  package-lock.json
Labels: developer/, developer/compilers/, feat, core/

#8302 feat(developer): support build of .kmn from kmc 🙀
  developer/src/kmc/src/activities/buildKmnKeyboard.ts
  developer/src/kmc/src/activities/buildLdmlKeyboard.ts
  developer/src/kmc/src/activities/buildTestData.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/util/getDeveloperBinPath.ts
Labels: developer/, developer/compilers/, feat

#8310 feat(developer): kmc compile .kps files 🙀
  developer/src/kmc-package/src/kmp-compiler.ts
  developer/src/kmc/src/activities/buildKmnKeyboard.ts
  developer/src/kmc/src/activities/buildLdmlKeyboard.ts
  developer/src/kmc/src/activities/buildPackage.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/kmc.ts
Labels: developer/, developer/compilers/, feat

#8311 feat(developer): kmc compile .model.ts file 🙀
  developer/src/kmc/src/activities/buildModel.ts
  developer/src/kmc/src/commands/build.ts
Labels: developer/, developer/compilers/, feat

#8317 feat(common): add .kpj typescript reader and schema 🙀
  common/schemas/kpj/README.md
  common/schemas/kpj/kpj.schema.json
  common/web/types/build.sh
  common/web/types/package.json
  common/web/types/src/kpj/keyman-developer-project.ts
  common/web/types/src/kpj/kpj-file-reader.ts
  common/web/types/src/kpj/kpj-file.ts
  common/web/types/src/main.ts
  common/web/types/test/fixtures/kpj/khmer_angkor.kpj
  common/web/types/test/helpers/index.ts
  common/web/types/test/keyman-touch-layout/test-keyman-touch-layout-round-trip.ts
  common/web/types/test/kpj/test-kpj-file-reader.ts
  developer/src/inst/download.in.mak
Labels: developer/, common/, feat, common/web/

#8320 feat(developer): kmc .kpj support 🙀
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/kmc-keyboard/build.sh
  developer/src/kmc-keyboard/test/helpers/index.ts
  developer/src/kmc/build.sh
  developer/src/kmc/src/activities/buildKmnKeyboard.ts
  developer/src/kmc/src/activities/buildProject.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
  developer/src/kmcomp/main.pas
Labels: developer/, common/, developer/compilers/, feat, common/web/

#8326 feat(developer): Add support for building a folder to kmc 🙀
  common/schemas/kpj/README.md
  common/schemas/kpj/kpj.schema.json
  common/web/types/src/kpj/keyman-developer-project.ts
  common/web/types/src/kpj/kpj-file-reader.ts
  common/web/types/src/kpj/kpj-file.ts
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/kmc-keyboard/test/helpers/index.ts
  developer/src/kmc/src/activities/buildProject.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
  developer/src/kmc/test/fixtures/.gitignore
  developer/src/kmc/test/fixtures/folder-project-no-kpj/khmer_angkor/source/khmer_angkor.ico
  developer/src/kmc/test/fixtures/folder-project-no-kpj/khmer_angkor/source/khmer_angkor.keyman-touch-layout
  developer/src/kmc/test/fixtures/folder-project-no-kpj/khmer_angkor/source/khmer_angkor.kmn
  developer/src/kmc/test/fixtures/folder-project-no-kpj/khmer_angkor/source/khmer_angkor.kps
  developer/src/kmc/test/fixtures/folder-project-no-kpj/khmer_angkor/source/khmer_angkor.kvks
  developer/src/kmc/test/fixtures/kpj-2.0/khmer_angkor/khmer_angkor.kpj
  developer/src/kmc/test/fixtures/kpj-2.0/khmer_angkor/source/khmer_angkor.ico
  developer/src/kmc/test/fixtures/kpj-2.0/khmer_angkor/source/khmer_angkor.keyman-touch-layout
  developer/src/kmc/test/fixtures/kpj-2.0/khmer_angkor/source/khmer_angkor.kmn
  developer/src/kmc/test/fixtures/kpj-2.0/khmer_angkor/source/khmer_angkor.kps
  developer/src/kmc/test/fixtures/kpj-2.0/khmer_angkor/source/khmer_angkor.kvks
Labels: developer/, common/, developer/compilers/, feat, common/web/

#8316 fix(developer): ldml TODO-LDML cleanup 🙀
  core/src/ldml/ldml_processor.hpp
  developer/src/kmc-keyboard/src/compiler/keys.ts
  developer/src/kmc-keyboard/src/compiler/messages.ts
  developer/src/kmc-keyboard/test/fixtures/sections/keys/invalid-missing-flick.xml
  developer/src/kmc-keyboard/test/test-keys.ts
Labels: developer/, developer/compilers/, fix, core/, epic-ldml

#8327 chore(common): fix child build error handling
  resources/build/tests/builder.inc.test.sh
  resources/build/tests/dependencies/app/build.sh
  resources/build/tests/dependencies/error/build.sh
  resources/builder.inc.sh
Labels: common/, common/resources/, chore

#8330 chore: merge master into feature-ldml 🙀
  .github/workflows/deb-packaging.yml
  HISTORY.md
  VERSION.md
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  resources/builder.inc.sh
  resources/shellHelperFunctions.sh
Labels: android/, linux/, common/, common/resources/, android/app/, linux/engine/, chore

#8331 chore(linux): disable core tests for build 🙀
  linux/debian/rules
Labels: linux/, chore

#8333 chore(linux): disable node-based core tests when testing during packaging
  linux/debian/rules
Labels: linux/, chore

#8328 chore(linux): Improve and fix packaging GHA
  .github/workflows/deb-packaging.yml
  linux/scripts/deb.sh
Labels: linux/, chore

#8329 fix(linux): Fix ibus-keyman/build.sh
  linux/ibus-keyman/build.sh
Labels: linux/, fix, linux/engine/

#8334 chore(linux): disable tests for core install also
  linux/debian/rules
Labels: linux/, chore

#8295 fix(linux): Fix debian postinst script 🍒
  linux/debian/ibus-keyman.postinst
Labels: linux/, stable, cherry-pick, fix, has-user-test

#8339 auto: increment master version to 17.0.59
  HISTORY.md
  VERSION.md
Labels: auto
