Repository keymanapp/keyman, pull requests merged in 2024-10, with the labels that each got.

#12487 chore(common): Add note on troubleshooting website errors
  docs/websites/README.md
Labels: common/, chore, docs

#12490 docs(common): mention `KEYMAN_USE_NVM` in minimum versions doc
  resources/build/minimum-versions.inc.sh
  resources/locate_emscripten.inc.sh
Labels: common/, common/resources/, docs

#12491 docs(web): fix paths to several help pages
  web/src/app/browser/src/contextManager.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/engine/keyboard/src/keyboards/keyboardProperties.ts
  web/src/engine/main/src/keyboardInterface.ts
  web/src/engine/osk/src/views/oskView.ts
Labels: web/, docs

#12492 docs(web): fix structure of test document
  web/src/test/manual/web/index.html
Labels: web/, docs

#12501 auto: increment master version to 18.0.121
  HISTORY.md
  VERSION.md
Labels: auto

#12488 docs(developer): Fix image links in help
  developer/docs/help/guides/test/keyboard-touch-and-desktop.md
  developer/docs/help/guides/test/keyboard-touch-mobile-emulator.md
Labels: developer/, docs

#12486 fix(oem/fv): Update keyboard versions and names for fv_all.kmp 13.1
  oem/firstvoices/keyboards.csv
Labels: oem/, fix, oem/fv/, has-user-test

#12482 feat(common): unified XML parser/writer
  developer/src/common/web/utils/src/index.ts
  developer/src/common/web/utils/src/types/kpj/kpj-file-reader.ts
  developer/src/common/web/utils/src/types/kvks/kvks-file-reader.ts
  developer/src/common/web/utils/src/types/kvks/kvks-file-writer.ts
  developer/src/common/web/utils/src/types/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/common/web/utils/src/xml-utils.ts
  developer/src/common/web/utils/test/fixtures/xml/disp_maximal.xml
  developer/src/common/web/utils/test/fixtures/xml/disp_maximal.xml.json
  developer/src/common/web/utils/test/fixtures/xml/error_invalid_package_file.kps
  developer/src/common/web/utils/test/fixtures/xml/k_020_fr-test.xml
  developer/src/common/web/utils/test/fixtures/xml/k_020_fr-test.xml.json
  developer/src/common/web/utils/test/fixtures/xml/k_020_fr.xml
  developer/src/common/web/utils/test/fixtures/xml/k_020_fr.xml.json
  developer/src/common/web/utils/test/fixtures/xml/khmer_angkor.kpj
  developer/src/common/web/utils/test/fixtures/xml/khmer_angkor.kpj.json
  developer/src/common/web/utils/test/fixtures/xml/khmer_angkor.kvks
  developer/src/common/web/utils/test/fixtures/xml/khmer_angkor.kvks.json
  developer/src/common/web/utils/test/fixtures/xml/khmer_angkor2.kvks
  developer/src/common/web/utils/test/fixtures/xml/khmer_angkor2.kvks.json
  developer/src/common/web/utils/test/fixtures/xml/strs_invalid-illegal.xml
  developer/src/common/web/utils/test/fixtures/xml/strs_invalid-illegal.xml.json
  developer/src/common/web/utils/test/fixtures/xml/test_valid.kps
  developer/src/common/web/utils/test/fixtures/xml/test_valid.kps.json
  developer/src/common/web/utils/test/fixtures/xml/tran_fail-empty.xml
  developer/src/common/web/utils/test/fixtures/xml/tran_fail-empty.xml.json
  developer/src/common/web/utils/test/test-xml-utils.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
Labels: developer/, common/, developer/compilers/, feat

#12503 auto: increment master version to 18.0.122
  HISTORY.md
  VERSION.md
Labels: auto

#12504 fix(oem/fv): Update keyboard versions and names for fv_all.kmp 🏠
  oem/firstvoices/keyboards.csv
Labels: android/, ios/, stable, oem/, fix, oem/fv/, has-user-test

#12458 feat(mac): both option keys generate right alt if no left alt mapping
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KMModifierMapping.h
  mac/Keyman4MacIM/Keyman4MacIM/KMModifierMapping.m
  mac/Keyman4MacIM/KeymanTests/TestAppDelegate.h
  mac/Keyman4MacIM/KeymanTests/TestAppDelegate.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/project.pbxproj
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreKey.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreKey.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreKeyboardInfo.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreKeyboardInfo.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/NKey.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KeyView.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/OSKView.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KeymanEngine4Mac.h
Labels: mac/, feat, has-user-test

#12481 chore(common): improve configuration detection for hextobin
  .gitignore
  common/tools/hextobin/build.sh
  common/tools/hextobin/package.json
Labels: common/, chore

#12508 auto: increment master version to 18.0.123
  HISTORY.md
  VERSION.md
Labels: auto

#12502 chore(developer,common): deps: replace xml2js with fast-xml-parser
  developer/src/common/web/utils/package.json
  developer/src/common/web/utils/src/deps/xml2js/LICENSE
  developer/src/common/web/utils/src/deps/xml2js/README.md
  developer/src/common/web/utils/src/deps/xml2js/bom.js
  developer/src/common/web/utils/src/deps/xml2js/builder.js
  developer/src/common/web/utils/src/deps/xml2js/defaults.js
  developer/src/common/web/utils/src/deps/xml2js/parser.js
  developer/src/common/web/utils/src/deps/xml2js/processors.js
  developer/src/common/web/utils/src/deps/xml2js/xml2js.js
  developer/src/common/web/utils/src/types/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/common/web/utils/src/xml-utils.ts
  developer/src/common/web/utils/test/fixtures/xml/khmer_angkor.kvks.json
  developer/src/common/web/utils/test/fixtures/xml/khmer_angkor2.kvks
  developer/src/common/web/utils/test/fixtures/xml/tran_fail-matches-nothing-1.xml
  developer/src/common/web/utils/test/fixtures/xml/tran_fail-matches-nothing-1.xml.json
  developer/src/common/web/utils/test/kpj/test-kpj-file-reader.ts
  developer/src/common/web/utils/test/test-xml-utils.ts
  developer/src/common/web/utils/tsconfig.json
  package-lock.json
Labels: developer/, common/, chore

#12512 chore(ios): renew certificate
  ios/exportAppStore.plist
Labels: ios/, chore

#12513 chore(ios): renew certificate 🍒 🏠
  ios/exportAppStore.plist
Labels: ios/, stable, cherry-pick, chore

#12515 auto: increment master version to 18.0.124
  HISTORY.md
  VERSION.md
Labels: auto

#12507 chore(common): fix links in minimum-versions.md
  docs/minimum-versions.md
  docs/minimum-versions.md.in
Labels: common/, chore, docs

#12464 fix(developer): use richedit in debug memo to support Egyptian cartouches
  developer/src/common/delphi/components/Keyman.Developer.UI.RichEdit41.pas
  developer/src/common/delphi/components/KeymanDeveloperDebuggerMemo.pas
  developer/src/tike/child/Keyman.Developer.UI.Debug.UfrmLdmlKeyboardDebug.pas
  developer/src/tike/child/UfrmDebug.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
Labels: developer/, fix, developer/ide/, has-user-test

#12443 feat(android): Add controls for auto-correct
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/LanguageSettingsActivity.java
  android/KMEA/app/src/main/assets/android-host.js
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboardWebViewClient.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
  android/KMEA/app/src/main/res/layout/language_settings_list_layout.xml
  android/KMEA/app/src/main/res/values/strings.xml
Labels: android/, feat, android/engine/, android/app/, has-user-test

#12521 auto: increment master version to 18.0.125
  HISTORY.md
  VERSION.md
Labels: auto

#12522 chore(linux): Improve output of API Verification
  .github/workflows/api-verification.yml
Labels: linux/, chore

#12524 fix(developer): prevent invalid string ids 🏠
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/src/compiler/vars.ts
  developer/src/kmc-ldml/test/fixtures/sections/vars/fail-invalid-identifiers.xml
  developer/src/kmc-ldml/test/test-vars.ts
Labels: developer/, stable, developer/compilers/, fix

#12523 fix(developer): ignore excess whitespace in `<row keys>` attribute 🏠
  developer/src/kmc-ldml/src/compiler/layr.ts
  developer/src/kmc-ldml/test/fixtures/sections/layr/row-keys-whitespace.xml
  developer/src/kmc-ldml/test/test-layr.ts
Labels: developer/, stable, developer/compilers/, fix

#12519 chore(linux): allow to skip API change
  linux/scripts/deb-packaging.sh
Labels: linux/, chore

#12520 fix(linux): fix problem with API checks with merge commits
  linux/scripts/deb-packaging.sh
  linux/scripts/test/deb-packaging.tests.sh
  linux/scripts/test/test.inc.sh
  linux/scripts/test/test.sh
  linux/scripts/test/verify_api.tests.sh
  linux/scripts/verify_api.inc.sh
Labels: linux/, fix

#12529 auto: increment master version to 18.0.126
  HISTORY.md
  VERSION.md
Labels: auto

#12535 chore: merge master into web-core 🎼
  .github/workflows/api-verification.yml
  HISTORY.md
  VERSION.md
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/LanguageSettingsActivity.java
  android/KMEA/app/src/main/assets/android-host.js
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboardWebViewClient.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
  android/KMEA/app/src/main/res/layout/language_settings_list_layout.xml
  android/KMEA/app/src/main/res/values/strings.xml
  common/web/types/.c8rc.json
  common/web/types/build.sh
  common/web/types/src/keyboard-object.ts
  common/web/types/src/main.ts
  developer/src/common/delphi/components/Keyman.Developer.UI.RichEdit41.pas
  developer/src/common/delphi/components/KeymanDeveloperDebuggerMemo.pas
  developer/src/tike/child/Keyman.Developer.UI.Debug.UfrmLdmlKeyboardDebug.pas
  developer/src/tike/child/UfrmDebug.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
  docs/minimum-versions.md
  docs/minimum-versions.md.in
  linux/scripts/deb-packaging.sh
  linux/scripts/test/deb-packaging.tests.sh
  linux/scripts/test/test.inc.sh
  linux/scripts/test/test.sh
  linux/scripts/test/verify_api.tests.sh
  linux/scripts/verify_api.inc.sh
  resources/builder.inc.sh
  web/src/app/browser/src/keymanEngine.ts
  web/src/engine/keyboard/src/keyboards/defaultLayouts.ts
  web/src/engine/keyboard/src/keyboards/keyboard.ts
  web/src/engine/keyboard/src/outputTarget.interface.ts
  web/src/engine/main/src/keyboardInterface.ts
Labels: web/, android/, developer/, linux/, common/, common/resources/, android/engine/, android/app/, common/web/, developer/ide/, chore, docs, epic-web-core

#12496 chore(common): consolidate common meson patterns and use 'c++17' in standard.meson.build 🐘
  VERSION.md
  linux/mcompile/keymap/build.sh
  mac/mcompile/build.sh
  resources/build/meson-utils.inc.sh
Labels: web/, windows/, android/, developer/, ios/, mac/, linux/, common/, developer/compilers/, common/resources/, oem/, android/engine/, android/app/, linux/config/, common/web/, developer/ide/, oem/fv/, windows/config/, chore, docs, epic-linux-mcompile

#12527 chore(linux): improve output if `dpkg-gensymbols` fails and run other tests
  .github/workflows/api-verification.yml
  linux/scripts/verify_api.inc.sh
Labels: linux/, chore

#12538 auto: increment master version to 18.0.127
  HISTORY.md
  VERSION.md
Labels: auto

#12537 fix(developer): use TextDecoder to convert Uint8Array to string
  developer/src/common/web/utils/src/types/kpj/kpj-file-reader.ts
  developer/src/common/web/utils/src/types/kvks/kvks-file-reader.ts
  developer/src/common/web/utils/src/types/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
Labels: developer/, developer/compilers/, fix

#12539 auto: increment master version to 18.0.128
  HISTORY.md
  VERSION.md
Labels: auto

#12540 docs(developer): add refs to Keyman MIME types
  developer/docs/help/reference/file-types/kmp.md
  developer/docs/help/reference/file-types/kmx.md
Labels: developer/, docs

#12543 auto: increment master version to 18.0.129
  HISTORY.md
  VERSION.md
Labels: auto

#12551 fix(core): cleanup include directories 🎼
  core/tests/meson.build
  core/tests/unit/json/meson.build
  core/tests/unit/utftest/meson.build
Labels: fix, core/, epic-web-core

#12550 fix(core): fix generated `core.js` file for debug builds 🎼
  core/src/meson.build
Labels: fix, core/, epic-web-core

#12554 chore(mac): support Xcode 16 build
  mac/Keyman4MacIM/Podfile
  mac/Keyman4MacIM/Podfile.lock
Labels: mac/, chore

#12566 auto: increment master version to 18.0.130
  HISTORY.md
  VERSION.md
Labels: auto

#12567 fix(android/engine): Increase robustness when checking package kmp.json languages
  android/KMEA/app/src/main/java/com/keyman/engine/packages/JSONUtils.java
  android/KMEA/app/src/test/java/com/keyman/engine/packages/JSONUtilsTest.java
  android/KMEA/test_resources/invalid_packages/null_languages/kmp.json
Labels: android/, fix, android/engine/

#12570 chore(ios): support xcode 16 build
  ios/Cartfile
  ios/Cartfile.resolved
Labels: ios/, chore

#12573 auto: increment master version to 18.0.131
  HISTORY.md
  VERSION.md
Labels: auto

#12574 chore(android,windows): Update Crowdin strings for Khmer
  android/KMAPro/kMAPro/src/main/res/values-km-rKH/strings.xml
  android/KMEA/app/src/main/res/values-km-rKH/strings.xml
  windows/src/desktop/kmshell/locale/km-KH/strings.xml
Labels: windows/, android/, android/engine/, android/app/, windows/config/, chore

#12575 chore: merge master into dict-breaker 🔬
  .github/workflows/api-verification.yml
  HISTORY.md
  VERSION.md
  android/KMEA/app/src/main/java/com/keyman/engine/packages/JSONUtils.java
  android/KMEA/app/src/test/java/com/keyman/engine/packages/JSONUtilsTest.java
  android/KMEA/test_resources/invalid_packages/null_languages/kmp.json
  android/build.sh
  developer/docs/help/reference/file-types/kmp.md
  developer/docs/help/reference/file-types/kmx.md
  developer/src/build.sh
  developer/src/common/web/utils/src/types/kpj/kpj-file-reader.ts
  developer/src/common/web/utils/src/types/kvks/kvks-file-reader.ts
  developer/src/common/web/utils/src/types/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  ios/Cartfile
  ios/Cartfile.resolved
  ios/build.sh
  linux/build.sh
  linux/scripts/verify_api.inc.sh
  mac/Keyman4MacIM/Podfile
  mac/Keyman4MacIM/Podfile.lock
  mac/build.sh
  package-lock.json
  package.json
  resources/shellHelperFunctions.sh
  resources/tools/check-markdown/.gitignore
  resources/tools/check-markdown/README.md
  resources/tools/check-markdown/build.sh
  resources/tools/check-markdown/package.json
  resources/tools/check-markdown/src/check-link.ts
  resources/tools/check-markdown/src/find-files.ts
  resources/tools/check-markdown/src/index.ts
  resources/tools/check-markdown/src/parse-files.ts
  resources/tools/check-markdown/src/types.ts
  resources/tools/check-markdown/tsconfig.json
  windows/src/build.sh
Labels: windows/, android/, developer/, ios/, mac/, linux/, common/, developer/compilers/, common/resources/, android/engine/, chore, epic-dict-breaker

#12576 chore: merge master into kmc-convert 😎
  .github/workflows/api-verification.yml
  HISTORY.md
  VERSION.md
  android/KMEA/app/src/main/java/com/keyman/engine/packages/JSONUtils.java
  android/KMEA/app/src/test/java/com/keyman/engine/packages/JSONUtilsTest.java
  android/KMEA/test_resources/invalid_packages/null_languages/kmp.json
  android/build.sh
  developer/docs/help/reference/file-types/kmp.md
  developer/docs/help/reference/file-types/kmx.md
  developer/src/build.sh
  developer/src/common/web/utils/src/types/kpj/kpj-file-reader.ts
  developer/src/common/web/utils/src/types/kvks/kvks-file-reader.ts
  developer/src/common/web/utils/src/types/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  ios/Cartfile
  ios/Cartfile.resolved
  ios/build.sh
  linux/build.sh
  linux/scripts/verify_api.inc.sh
  mac/Keyman4MacIM/Podfile
  mac/Keyman4MacIM/Podfile.lock
  mac/build.sh
  package-lock.json
  package.json
  resources/shellHelperFunctions.sh
  resources/tools/check-markdown/.gitignore
  resources/tools/check-markdown/README.md
  resources/tools/check-markdown/build.sh
  resources/tools/check-markdown/package.json
  resources/tools/check-markdown/src/check-link.ts
  resources/tools/check-markdown/src/find-files.ts
  resources/tools/check-markdown/src/index.ts
  resources/tools/check-markdown/src/parse-files.ts
  resources/tools/check-markdown/src/types.ts
  resources/tools/check-markdown/tsconfig.json
  windows/src/build.sh
Labels: windows/, android/, developer/, ios/, mac/, linux/, common/, developer/compilers/, common/resources/, android/engine/, chore, epic-kmc-convert

#12578 chore: merge master into model-encoding 💾
  .github/workflows/api-verification.yml
  HISTORY.md
  VERSION.md
  android/KMEA/app/src/main/java/com/keyman/engine/packages/JSONUtils.java
  android/KMEA/app/src/test/java/com/keyman/engine/packages/JSONUtilsTest.java
  android/KMEA/test_resources/invalid_packages/null_languages/kmp.json
  android/build.sh
  developer/docs/help/reference/file-types/kmp.md
  developer/docs/help/reference/file-types/kmx.md
  developer/src/build.sh
  developer/src/common/web/utils/src/types/kpj/kpj-file-reader.ts
  developer/src/common/web/utils/src/types/kvks/kvks-file-reader.ts
  developer/src/common/web/utils/src/types/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  ios/Cartfile
  ios/Cartfile.resolved
  ios/build.sh
  linux/build.sh
  linux/scripts/verify_api.inc.sh
  mac/Keyman4MacIM/Podfile
  mac/Keyman4MacIM/Podfile.lock
  mac/build.sh
  package-lock.json
  package.json
  resources/shellHelperFunctions.sh
  resources/tools/check-markdown/.gitignore
  resources/tools/check-markdown/README.md
  resources/tools/check-markdown/build.sh
  resources/tools/check-markdown/package.json
  resources/tools/check-markdown/src/check-link.ts
  resources/tools/check-markdown/src/find-files.ts
  resources/tools/check-markdown/src/index.ts
  resources/tools/check-markdown/src/parse-files.ts
  resources/tools/check-markdown/src/types.ts
  resources/tools/check-markdown/tsconfig.json
  windows/src/build.sh
Labels: windows/, android/, developer/, ios/, mac/, linux/, common/, developer/compilers/, common/resources/, android/engine/, chore, epic-model-encoding

#12579 chore: merge master into user-dict 📖
  .github/workflows/api-verification.yml
  HISTORY.md
  VERSION.md
  android/KMEA/app/src/main/java/com/keyman/engine/packages/JSONUtils.java
  android/KMEA/app/src/test/java/com/keyman/engine/packages/JSONUtilsTest.java
  android/KMEA/test_resources/invalid_packages/null_languages/kmp.json
  android/build.sh
  developer/docs/help/reference/file-types/kmp.md
  developer/docs/help/reference/file-types/kmx.md
  developer/src/build.sh
  developer/src/common/web/utils/src/types/kpj/kpj-file-reader.ts
  developer/src/common/web/utils/src/types/kvks/kvks-file-reader.ts
  developer/src/common/web/utils/src/types/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  ios/Cartfile
  ios/Cartfile.resolved
  ios/build.sh
  linux/build.sh
  linux/scripts/verify_api.inc.sh
  mac/Keyman4MacIM/Podfile
  mac/Keyman4MacIM/Podfile.lock
  mac/build.sh
  package-lock.json
  package.json
  resources/shellHelperFunctions.sh
  resources/tools/check-markdown/.gitignore
  resources/tools/check-markdown/README.md
  resources/tools/check-markdown/build.sh
  resources/tools/check-markdown/package.json
  resources/tools/check-markdown/src/check-link.ts
  resources/tools/check-markdown/src/find-files.ts
  resources/tools/check-markdown/src/index.ts
  resources/tools/check-markdown/src/parse-files.ts
  resources/tools/check-markdown/src/types.ts
  resources/tools/check-markdown/tsconfig.json
  windows/src/build.sh
Labels: windows/, android/, developer/, ios/, mac/, linux/, common/, developer/compilers/, common/resources/, android/engine/, chore, epic-user-dict

#12580 chore: merge master into web-core 🎼
  .github/workflows/api-verification.yml
  HISTORY.md
  VERSION.md
  android/KMEA/app/src/main/java/com/keyman/engine/packages/JSONUtils.java
  android/KMEA/app/src/test/java/com/keyman/engine/packages/JSONUtilsTest.java
  android/KMEA/test_resources/invalid_packages/null_languages/kmp.json
  android/build.sh
  developer/docs/help/reference/file-types/kmp.md
  developer/docs/help/reference/file-types/kmx.md
  developer/src/build.sh
  developer/src/common/web/utils/src/types/kpj/kpj-file-reader.ts
  developer/src/common/web/utils/src/types/kvks/kvks-file-reader.ts
  developer/src/common/web/utils/src/types/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  ios/Cartfile
  ios/Cartfile.resolved
  ios/build.sh
  linux/build.sh
  linux/scripts/verify_api.inc.sh
  mac/Keyman4MacIM/Podfile
  mac/Keyman4MacIM/Podfile.lock
  mac/build.sh
  package-lock.json
  package.json
  resources/shellHelperFunctions.sh
  resources/tools/check-markdown/.gitignore
  resources/tools/check-markdown/README.md
  resources/tools/check-markdown/build.sh
  resources/tools/check-markdown/package.json
  resources/tools/check-markdown/src/check-link.ts
  resources/tools/check-markdown/src/find-files.ts
  resources/tools/check-markdown/src/index.ts
  resources/tools/check-markdown/src/parse-files.ts
  resources/tools/check-markdown/src/types.ts
  resources/tools/check-markdown/tsconfig.json
  windows/src/build.sh
Labels: windows/, android/, developer/, ios/, mac/, linux/, common/, developer/compilers/, common/resources/, android/engine/, chore, epic-web-core

#12581 chore: merge master into windows-updates 💽
  .github/workflows/api-verification.yml
  HISTORY.md
  VERSION.md
  android/KMEA/app/src/main/java/com/keyman/engine/packages/JSONUtils.java
  android/KMEA/app/src/test/java/com/keyman/engine/packages/JSONUtilsTest.java
  android/KMEA/test_resources/invalid_packages/null_languages/kmp.json
  android/build.sh
  developer/docs/help/reference/file-types/kmp.md
  developer/docs/help/reference/file-types/kmx.md
  developer/src/build.sh
  developer/src/common/web/utils/src/types/kpj/kpj-file-reader.ts
  developer/src/common/web/utils/src/types/kvks/kvks-file-reader.ts
  developer/src/common/web/utils/src/types/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  ios/Cartfile
  ios/Cartfile.resolved
  ios/build.sh
  linux/build.sh
  linux/scripts/verify_api.inc.sh
  mac/Keyman4MacIM/Podfile
  mac/Keyman4MacIM/Podfile.lock
  mac/build.sh
  package-lock.json
  package.json
  resources/shellHelperFunctions.sh
  resources/tools/check-markdown/.gitignore
  resources/tools/check-markdown/README.md
  resources/tools/check-markdown/build.sh
  resources/tools/check-markdown/package.json
  resources/tools/check-markdown/src/check-link.ts
  resources/tools/check-markdown/src/find-files.ts
  resources/tools/check-markdown/src/index.ts
  resources/tools/check-markdown/src/parse-files.ts
  resources/tools/check-markdown/src/types.ts
  resources/tools/check-markdown/tsconfig.json
  windows/src/build.sh
Labels: windows/, android/, developer/, ios/, mac/, linux/, common/, developer/compilers/, common/resources/, android/engine/, chore, epic-windows-updates

#12545 refactor(developer): add kps-file-reader and kps-file-writer
  developer/src/common/web/utils/src/common-messages.ts
  developer/src/common/web/utils/src/index.ts
  developer/src/common/web/utils/src/types/kps/kps-file-reader.ts
  developer/src/common/web/utils/src/types/kps/kps-file-writer.ts
  developer/src/common/web/utils/src/types/kps/kps-file.ts
  developer/src/common/web/utils/src/xml-utils.ts
  developer/src/common/web/utils/test/fixtures/kps/error_invalid_package_file.kps
  developer/src/common/web/utils/test/fixtures/kps/khmer_angkor.kps
  developer/src/common/web/utils/test/kps/test-kps-file-reader.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/package-compiler-messages.ts
  developer/src/kmc-package/src/compiler/windows-package-installer-compiler.ts
  developer/src/kmc-package/test/test-messages.ts
Labels: developer/, developer/compilers/, refactor

#12565 fix(mac): support missing alt layers in OSK
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMBinaryFileFormat.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KVKFile.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KVKFile.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/NKey.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/NKey.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/OSKView.m
Labels: mac/, fix, has-user-test

#12585 auto: increment master version to 18.0.132
  HISTORY.md
  VERSION.md
Labels: auto

#12577 chore: merge master into linux-mcompile 🐘
  .github/workflows/api-verification.yml
  HISTORY.md
  VERSION.md
  android/KMEA/app/src/main/java/com/keyman/engine/packages/JSONUtils.java
  android/KMEA/app/src/test/java/com/keyman/engine/packages/JSONUtilsTest.java
  android/KMEA/test_resources/invalid_packages/null_languages/kmp.json
  android/build.sh
  developer/docs/help/reference/file-types/kmp.md
  developer/docs/help/reference/file-types/kmx.md
  developer/src/build.sh
  developer/src/common/web/utils/src/types/kpj/kpj-file-reader.ts
  developer/src/common/web/utils/src/types/kvks/kvks-file-reader.ts
  developer/src/common/web/utils/src/types/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  ios/Cartfile
  ios/Cartfile.resolved
  ios/build.sh
  linux/build.sh
  linux/scripts/verify_api.inc.sh
  mac/Keyman4MacIM/Podfile
  mac/Keyman4MacIM/Podfile.lock
  mac/build.sh
  package-lock.json
  package.json
  resources/shellHelperFunctions.sh
  resources/tools/check-markdown/.gitignore
  resources/tools/check-markdown/README.md
  resources/tools/check-markdown/build.sh
  resources/tools/check-markdown/package.json
  resources/tools/check-markdown/src/check-link.ts
  resources/tools/check-markdown/src/find-files.ts
  resources/tools/check-markdown/src/index.ts
  resources/tools/check-markdown/src/parse-files.ts
  resources/tools/check-markdown/src/types.ts
  resources/tools/check-markdown/tsconfig.json
  windows/src/build.sh
Labels: windows/, android/, developer/, ios/, mac/, linux/, common/, developer/compilers/, common/resources/, android/engine/, chore, epic-linux-mcompile

#12591 auto: increment stable-17.0 version to 17.0.332
  HISTORY.md
  VERSION.md
Labels: stable, auto

#12552 feat(windows): kmdevlink app
  windows/src/support/kmdevlink/README.md
  windows/src/support/kmdevlink/UfrmCharacterIdentifier.dfm
  windows/src/support/kmdevlink/UfrmCharacterIdentifier.pas
  windows/src/support/kmdevlink/UfrmMain.dfm
  windows/src/support/kmdevlink/UfrmMain.pas
  windows/src/support/kmdevlink/UfrmOpenCRMRecord.dfm
  windows/src/support/kmdevlink/UfrmOpenCRMRecord.pas
  windows/src/support/kmdevlink/grayicon.RES
  windows/src/support/kmdevlink/grayicon.rc
  windows/src/support/kmdevlink/hugeicon.bmp
  windows/src/support/kmdevlink/icon.bmp
  windows/src/support/kmdevlink/icon16.bmp
  windows/src/support/kmdevlink/iconGray.bmp
  windows/src/support/kmdevlink/kmdevlink.dpr
  windows/src/support/kmdevlink/kmdevlink.dproj
  windows/src/support/kmdevlink/kmdevlink.ico
  windows/src/support/kmdevlink/kmdevlink.res
  windows/src/support/kmdevlink/kmdevlink_Icon.ico
  windows/src/support/kmdevlink/kmdevlink_inactive.ico
  windows/src/support/kmdevlink/largeicon.bmp
  windows/src/support/kmdevlink/utilcheckfontchars.pas
  windows/src/support/kmdevlink/version.rc
Labels: windows/, feat

#12593 auto: increment master version to 18.0.133
  HISTORY.md
  VERSION.md
Labels: auto
