Repository keymanapp/keyman, pull requests merged in 2024-05, with the labels that each got.

#11322 chore(web): removes old reference-doc from alpha that has completed its purpose
  common/web/gesture-recognizer/docs/web-reintegration.md
Labels: web/, common/, common/web/, chore

#11321 fix(web): gesture-model initial-state, callback failure handling
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
Labels: web/, common/, fix, common/web/

#11295 fix(linux): Fix icon for .kmp files
  linux/keyman-config/resources/keyman.sharedmimeinfo
Labels: linux/, fix, linux/config/, has-user-test

#11331 auto: increment beta version to 17.0.318
  HISTORY.md
  VERSION.md
Labels: auto

#11306 fix(web): longpress shortcut activation should only consider northward part
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, fix, has-user-test

#11339 auto: increment master version to 18.0.27
  HISTORY.md
  VERSION.md
Labels: auto

#11338 auto: increment beta version to 17.0.319
  HISTORY.md
  VERSION.md
Labels: auto

#11333 chore(linux): Adjust distros for GHA
  .github/workflows/deb-packaging.yml
Labels: linux/, chore

#11336 fix(common): Fix colorization of help output of builder script
  resources/builder.inc.sh
Labels: common/, common/resources/, fix

#11357 auto: increment master version to 18.0.28
  HISTORY.md
  VERSION.md
Labels: auto

#11345 fix(android): inverting a selection range would crash Keyman
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
Labels: android/, fix, android/engine/, has-user-test

#11352 fix(developer): handle missing Name element for File element in package compiler
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/package-compiler-messages.ts
  developer/src/kmc-package/src/compiler/package-keyboard-target-validator.ts
  developer/src/kmc-package/src/compiler/package-metadata-collector.ts
Labels: developer/, developer/compilers/, fix

#11354 fix(developer): handle missing Description element for File element in package compiler
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
Labels: developer/, developer/compilers/, fix

#11358 auto: increment master version to 18.0.29
  HISTORY.md
  VERSION.md
Labels: auto

#11359 auto: increment beta version to 17.0.320
  HISTORY.md
  VERSION.md
Labels: auto

#11355 chore(web): Improve web/test.sh script
  web/test.sh
Labels: web/, chore

#11356 chore(linux): Fix typo
  linux/keyman-config/tests/test_uninstall_kmp.py
Labels: linux/, linux/config/, chore

#11381 auto: increment master version to 18.0.30
  HISTORY.md
  VERSION.md
Labels: auto

#11367 fix(android): prevents mid-keystroke desynchronization when deleting selected text
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboardJSHandler.java
Labels: android/, fix, android/engine/, has-user-test

#11365 fix(web): support SVG elements when checking className
  web/src/app/browser/src/context/pageIntegrationHandlers.ts
  web/src/app/browser/src/hardwareEventKeyboard.ts
Labels: web/, fix

#11366 fix(developer): define `lastSelLength` variable
  developer/src/server/src/site/chargrid.js
Labels: developer/, fix, developer/ide/

#11377 chore(web): Improve dependencies
  common/web/types/build.sh
  common/web/types/package.json
  tsconfig.base.json
Labels: web/, common/, common/web/, chore

#11255 test(developer) keyboard info compiler unit tests 3
  developer/src/kmc-keyboard-info/src/keyboard-info-compiler.ts
  developer/src/kmc-keyboard-info/test/test-keyboard-info-compiler.ts
Labels: developer/, developer/compilers/

#11390 auto: increment master version to 18.0.31
  HISTORY.md
  VERSION.md
Labels: auto

#11391 auto: increment beta version to 17.0.321
  HISTORY.md
  VERSION.md
Labels: auto

#11392 fix(windows): "Keyboard" should be lower case in UI string for font helper tool
  windows/src/desktop/kmshell/xml/strings.xml
Labels: windows/, fix, windows/config/

#11396 auto: increment master version to 18.0.32
  HISTORY.md
  VERSION.md
Labels: auto

#11380 chore(common): Add `minimum-versions.inc.sh`
  resources/build/minimum-versions.inc.sh
Labels: common/, common/resources/, chore

#11384 fix(android/engine): Skip updating selection range if invalid
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
Labels: android/, fix, android/engine/, has-user-test

#11389 refactor(android/engine): Refactor updateSelection
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
Labels: android/, android/engine/, refactor, has-user-test

#11341 chore(core): km_core_cp -> km_core_cu
  common/include/km_types.h
  core/CORE_API_VERSION.md
  core/include/keyman/keyman_core_api.h
  core/include/keyman/keyman_core_api_debug.h
  core/src/context.hpp
  core/src/context_helpers.cpp
  core/src/km_core_context_api.cpp
  core/src/km_core_options_api.cpp
  core/src/km_core_state_api.cpp
  core/src/km_core_state_context_set_if_needed.cpp
  core/src/kmx/kmx_debugger.cpp
  core/src/kmx/kmx_environment.cpp
  core/src/kmx/kmx_environment.h
  core/src/kmx/kmx_processevent.cpp
  core/src/kmx/kmx_xstring.cpp
  core/src/kmx/kmx_xstring.h
  core/src/option.cpp
  core/tests/kmx_test_source/kmx_test_source.cpp
  core/tests/unit/kmnkbd/action_set_api.cpp
  core/tests/unit/kmnkbd/context_api.cpp
  core/tests/unit/kmnkbd/options_api.cpp
  core/tests/unit/kmnkbd/state_context_api.cpp
  core/tests/unit/kmnkbd/test_actions_get_api.cpp
  core/tests/unit/kmnkbd/test_actions_normalize.cpp
  core/tests/unit/kmx/kmx.cpp
  core/tests/unit/kmx/kmx_imx.cpp
  core/tests/unit/ldml/ldml.cpp
  core/tests/unit/ldml/ldml_test_source.cpp
  core/tests/unit/ldml/test_context_normalization.cpp
  developer/src/Defines.mak
  developer/src/inst/kmdev.wxs
  developer/src/kmcmplib/src/Compiler.cpp
  developer/src/tike/Makefile
  developer/src/tike/debug/Keyman.System.Debug.DebugCore.pas
  developer/src/tike/main/Keyman.System.KeymanCore.pas
  developer/src/tike/main/Keyman.System.KeymanCoreDebug.pas
  docs/core-api-verification.md
  linux/debian/control
  linux/debian/libkeymancore2.install
  linux/debian/libkeymancore2.symbols
  linux/ibus-keyman/src/engine.c
  linux/ibus-keyman/src/keymanutil.c
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
  windows/src/engine/keyman32/CoreEnvironment.cpp
  windows/src/engine/keyman32/appcontext.cpp
  windows/src/engine/keyman32/calldll.cpp
  windows/src/engine/keyman32/keyboardoptions.cpp
  windows/src/engine/keyman32/kmprocess.cpp
  windows/src/engine/keyman32/tests/keyman-engine-tests/keyboardoptionstests.cpp
Labels: windows/, developer/, mac/, linux/, common/, developer/compilers/, linux/engine/, core/, developer/ide/, windows/engine/, chore, docs

#11411 auto: increment master version to 18.0.33
  HISTORY.md
  VERSION.md
Labels: auto

#11412 auto: increment beta version to 17.0.322
  HISTORY.md
  VERSION.md
Labels: auto

#11385 fix(web): fixes illegal KMW event state - can't focus a null element
  web/src/app/browser/src/contextManager.ts
Labels: web/, fix

#11413 chore(common): Merge beta to master for Sprint A18S1 (part 2)
  HISTORY.md
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboardJSHandler.java
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/package-compiler-messages.ts
  developer/src/kmc-package/src/compiler/package-keyboard-target-validator.ts
  developer/src/kmc-package/src/compiler/package-metadata-collector.ts
  developer/src/server/src/site/chargrid.js
  web/src/app/browser/src/context/pageIntegrationHandlers.ts
  web/src/app/browser/src/contextManager.ts
  web/src/app/browser/src/hardwareEventKeyboard.ts
Labels: web/, android/, developer/, common/, developer/compilers/, android/engine/, developer/ide/, chore

#11416 auto: increment master version to 18.0.34
  HISTORY.md
  VERSION.md
Labels: auto

#11417 auto: increment beta version to 17.0.323
  HISTORY.md
  VERSION.md
Labels: auto

#11409 chore(windows): Update crowdin string for Khmer
  windows/src/desktop/kmshell/locale/km-KH/strings.xml
Labels: windows/, windows/config/, chore

#11419 fix(android): disable Sentry session tracking
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/MainActivity.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/SystemKeyboard.java
Labels: android/, oem/, fix, android/app/, oem/fv/, oem/fv/android/

#11388 fix(mac): restore OSK keys that became invisible in mac OS 14 Sonoma
  mac/Keyman4Mac/Keyman4Mac/AppDelegate.m
  mac/Keyman4Mac/Keyman4Mac/KMBarView.m
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/KMAboutBGView.m
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/KMBarView.m
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/KMConfigurationWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KeySender.m
  mac/Keyman4MacIM/Keyman4MacIM/OnScreenKeyboard/OSKWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/OnScreenKeyboard/OSKWindowController.xib
  mac/Keyman4MacIM/Keyman4MacIM/main.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreKeyOutput.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KeyView.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/OSKKey.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/OSKView.m
Labels: mac/, fix, has-user-test

#11401 feat(windows): Don't install desktop shortcut for Keyman for windows on installation
  windows/src/desktop/inst/keymandesktop.wxs
Labels: windows/, feat, windows/config/, has-user-test

#11405 chore(android,ios): Add fv_nlakapamuxcheen
  oem/firstvoices/keyboards.csv
Labels: android/, ios/, oem/, oem/fv/, chore, has-user-test

#11410 feat(common): improve builder parameter passing for child and dep builds
  resources/build/builder.md
  resources/build/test/debug-deps/dep/build.sh
  resources/build/test/debug-deps/dep/child/build.sh
  resources/build/test/ignored-flags/build.sh
  resources/build/test/ignored-flags/child/build.sh
  resources/build/test/ignored-flags/test.sh
  resources/build/test/test.sh
  resources/builder.inc.sh
Labels: common/, common/resources/, feat

#11431 chore: merge 17.0 beta into master A17S2
  HISTORY.md
  VERSION.md
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  mac/Keyman4Mac/Keyman4Mac/AppDelegate.m
  mac/Keyman4Mac/Keyman4Mac/KMBarView.m
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/KMAboutBGView.m
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/KMBarView.m
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/KMConfigurationWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KeySender.m
  mac/Keyman4MacIM/Keyman4MacIM/OnScreenKeyboard/OSKWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/OnScreenKeyboard/OSKWindowController.xib
  mac/Keyman4MacIM/Keyman4MacIM/main.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreKeyOutput.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KeyView.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/OSKKey.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/OSKView.m
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/MainActivity.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/SystemKeyboard.java
  oem/firstvoices/keyboards.csv
  windows/src/desktop/kmshell/locale/km-KH/strings.xml
Labels: windows/, android/, mac/, oem/, android/app/, oem/fv/, oem/fv/android/, windows/config/, chore

#11393 chore(android): Update dependencies
  android/KMAPro/build.gradle
  android/KMAPro/gradle/wrapper/gradle-wrapper.properties
  android/KMAPro/kMAPro/build.gradle
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/BookmarksActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/LanguageSettingsActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/LanguagesSettingsActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
  android/KMEA/app/build.gradle
  android/KMEA/app/src/main/java/com/keyman/engine/KeyboardPickerActivity.java
  android/KMEA/app/src/main/java/com/keyman/engine/ModelPickerActivity.java
  android/KMEA/build.gradle
  android/KMEA/gradle/wrapper/gradle-wrapper.properties
  android/README.md
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample1/build.gradle
  android/Samples/KMSample1/gradle/wrapper/gradle-wrapper.properties
  android/Samples/KMSample2/app/build.gradle
  android/Samples/KMSample2/build.gradle
  android/Samples/KMSample2/gradle/wrapper/gradle-wrapper.properties
  android/Tests/KeyboardHarness/app/build.gradle
  android/Tests/KeyboardHarness/gradle/wrapper/gradle-wrapper.properties
  android/Tests/keycode/app/build.gradle
  android/Tests/keycode/build.gradle
  android/Tests/keycode/gradle/wrapper/gradle-wrapper.properties
  oem/firstvoices/android/app/build.gradle
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/FVKeyboardSettingsActivity.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/PackageActivity.java
  oem/firstvoices/android/build.gradle
  oem/firstvoices/android/gradle/wrapper/gradle-wrapper.properties
Labels: android/, oem/, android/engine/, android/app/, oem/fv/, oem/fv/android/, chore, has-user-test, android/samples/

#11433 auto: increment beta version to 17.0.324
  HISTORY.md
  VERSION.md
Labels: auto

#11434 auto: increment master version to 18.0.35
  HISTORY.md
  VERSION.md
Labels: auto

#11340 chore(core): update core to C++17
  core/meson.build
  core/src/jsonpp.cpp
  core/src/jsonpp.hpp
  core/src/km_core_state_api.cpp
  core/src/kmx/kmx_xstring.cpp
  core/tests/unit/kmx/kmx_external_event.cpp
  core/tests/unit/kmx/kmx_imx.cpp
  core/tests/unit/ldml/ldml_test_source.cpp
  developer/src/ext/json/LICENSE.MIT
  developer/src/ext/json/json.hpp
  docs/build/old/core-desktop-notes.md
Labels: developer/, core/, chore, docs

#11441 auto: increment master version to 18.0.36
  HISTORY.md
  VERSION.md
Labels: auto

#11446 auto: increment stable-17.0 version to 17.0.325
  VERSION.md
Labels: stable, auto

#11445 chore: merge beta into master, final
  HISTORY.md
  VERSION.md
  resources/build/trigger-definitions.inc.sh
Labels: common/, common/resources/, chore

#11448 chore: update history for stable 🏠
  HISTORY.md
Labels: stable, chore

#11450 auto: increment stable-17.0 version to 17.0.326
  HISTORY.md
  VERSION.md
Labels: stable, auto

#11319 chore(web): updates most @types/node dependencies, makes them consistent 🏃
  common/models/templates/package.json
  common/models/wordbreakers/package.json
  common/predictive-text/package.json
  common/test/resources/package.json
  common/tools/sourcemap-path-remapper/package.json
  common/web/gesture-recognizer/package.json
  common/web/input-processor/package.json
  common/web/keyboard-processor/package.json
  common/web/lm-worker/package.json
  common/web/recorder/package.json
  common/web/utils/package.json
  package-lock.json
  package.json
  resources/build/version/package.json
  web/package.json
Labels: web/, common/, common/models/, common/resources/, common/web/, common/models/templates/, common/models/wordbreakers/, chore

#11323 chore(web): adds '@web/test-runner' and related packages 🏃
  package-lock.json
  package.json
Labels: web/, common/, common/web/, chore

#11402 chore(web): EventEmitter3, sinon dependency updates 🏃
  common/predictive-text/package.json
  common/tools/sourcemap-path-remapper/package.json
  common/web/gesture-recognizer/package.json
  common/web/gesture-recognizer/src/engine/headless/gesturePath.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/gesture-recognizer/src/engine/headless/inputEngineBase.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/hostFixtureLayoutController.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/touchpathTurtle.ts
  common/web/input-processor/package.json
  common/web/input-processor/src/text/prediction/languageProcessor.ts
  common/web/input-processor/src/text/prediction/predictionContext.ts
  common/web/keyboard-processor/src/text/keyboardProcessor.ts
  common/web/lm-worker/package.json
  developer/src/kmc-kmn/package.json
  package-lock.json
  package.json
  web/package.json
  web/src/app/browser/src/context/focusAssistant.ts
  web/src/engine/attachment/src/pageContextAttachment.ts
  web/src/engine/element-wrappers/src/outputTarget.ts
  web/src/engine/events/src/emitterListenerSpy.ts
  web/src/engine/events/src/keyEventSource.interface.ts
  web/src/engine/main/src/contextManagerBase.ts
  web/src/engine/main/src/engineConfiguration.ts
  web/src/engine/main/src/hardKeyboard.ts
  web/src/engine/osk/src/banner/bannerView.ts
  web/src/engine/osk/src/banner/suggestionBanner.ts
  web/src/engine/osk/src/components/resizeBar.ts
  web/src/engine/osk/src/components/titleBar.ts
  web/src/engine/osk/src/keyboard-layout/gesturePreviewHost.ts
  web/src/engine/osk/src/views/activator.ts
  web/src/engine/osk/src/views/oskView.ts
  web/src/engine/osk/src/visualKeyboard.ts
  web/src/engine/package-cache/src/cloud/queryEngine.ts
  web/src/engine/package-cache/src/stubAndKeyboardCache.ts
  web/src/test/auto/headless/engine/events/emitterListenerSpy.js
Labels: web/, developer/, common/, developer/compilers/, common/web/, chore

#11457 auto: increment master version to 18.0.37
  HISTORY.md
  VERSION.md
Labels: auto

#11437 chore(android): update Gradle wrapper version
  android/KMAPro/gradle/wrapper/gradle-wrapper.properties
  android/KMEA/gradle/wrapper/gradle-wrapper.properties
  android/Samples/KMSample1/gradle/wrapper/gradle-wrapper.properties
  android/Samples/KMSample2/gradle/wrapper/gradle-wrapper.properties
  android/Tests/KeyboardHarness/gradle/wrapper/gradle-wrapper.properties
  android/Tests/keycode/gradle/wrapper/gradle-wrapper.properties
  oem/firstvoices/android/gradle/wrapper/gradle-wrapper.properties
Labels: android/, oem/, android/engine/, android/app/, oem/fv/, oem/fv/android/, chore, android/samples/

#11438 chore(oem/fv/ios): Remove build_keyboards.sh script
  oem/firstvoices/common/build_keyboards.sh
  oem/firstvoices/ios/build.sh
Labels: ios/, oem/, oem/fv/, oem/fv/ios/, chore, has-user-test

#11465 auto: increment master version to 18.0.38
  HISTORY.md
  VERSION.md
Labels: auto

#11399 chore(common): Auto-generate minimum-versions.md from min-ver.sh
  docs/minimum-versions.md
  docs/minimum-versions.md.in
  resources/build/publish-minimum-versions.sh
Labels: common/, common/resources/, chore, docs

#11436 fix(android): Replace deprecated APIs for Display, Size, Metrics
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMPopoverView.java
  android/Samples/KMSample2/app/src/main/java/com/keyman/kmsample2/SystemKeyboard.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/SystemKeyboard.java
Labels: android/, oem/, fix, android/engine/, android/app/, oem/fv/, oem/fv/android/, has-user-test, android/samples/

#11469 chore(common): Clear whatsnew help files
  linux/help/about/whatsnew.md
  mac/help/about/whatsnew.md
  windows/src/desktop/help/about/whatsnew.md
Labels: windows/, mac/, linux/, common/, windows/config/, chore

#11468 cherrypick(android/engine): Handle globe key on lock screen 🍒 🏠
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Labels: android/, stable, cherry-pick, android/engine/, has-user-test

#11432 chore(mac): change indentation of source code to equal standard two spaces
  mac/Keyman4Mac/Keyman4Mac/AppDelegate.m
  mac/Keyman4Mac/Keyman4Mac/KMBarView.m
  mac/Keyman4Mac/Keyman4Mac/main.m
  mac/Keyman4MacIM/Keyman4MacIM/Categories/NSString+SuppMethods.m
  mac/Keyman4MacIM/Keyman4MacIM/Categories/NSWindow+SuppMethods.m
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/KMAboutBGView.m
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/KMAboutWindow.m
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/KMAboutWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/KMBarView.m
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/KMConfigurationWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMDownloadKeyboard/KMDownloadKBWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/KMInfoWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardHelpWindow/KMKeyboardHelpWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardInfo.h
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardInfo.m
  mac/Keyman4MacIM/Keyman4MacIM/KMOSVersion.m
  mac/Keyman4MacIM/Keyman4MacIM/KMPackage.m
  mac/Keyman4MacIM/Keyman4MacIM/KMPackageInfo.h
  mac/Keyman4MacIM/Keyman4MacIM/KMPackageInfo.m
  mac/Keyman4MacIM/Keyman4MacIM/KMPackageReader.m
  mac/Keyman4MacIM/Keyman4MacIM/KeySender.m
  mac/Keyman4MacIM/Keyman4MacIM/OnScreenKeyboard/OSKWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/Privacy/PrivacyConsent.m
  mac/Keyman4MacIM/Keyman4MacIM/Privacy/PrivacyWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/TextApiCompliance.m
  mac/Keyman4MacIM/Keyman4MacIM/main.m
  mac/Keyman4MacIM/KeymanTests/AppleCompliantTestClient.m
  mac/Keyman4MacIM/KeymanTests/InputMethodTests.m
  mac/Keyman4MacIM/KeymanTests/LegacyTestClient.m
  mac/Keyman4MacIM/KeymanTests/NoContextTestClient.m
  mac/Keyman4MacIM/KeymanTests/TestAppDelegate.m
  mac/Keyman4MacIM/KeymanTests/TextApiComplianceTests.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreHelper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreKeyOutput.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreKeyOutput.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMBinaryFileFormat.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMCompGroup.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMCompKey.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMCompStore.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMXFile.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KVKFile.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/NFont.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/NKey.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KeyLabel.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KeyLabelCell.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KeyView.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/OSKKey.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/OSKView.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/Supporting Files/TimerTarget.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/CoreHelperTests.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/CoreTestStaticHelperMethods.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/CoreWrapperTests.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KMEngineTests.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KMXFileTests.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KeymanEngineTestsStaticHelperMethods.m
Labels: mac/, chore

#11477 fix(common): calculate already-build dependency targets correctly
  resources/builder.inc.sh
Labels: common/, common/resources/, fix

#11478 fix(common): properly quote `builder_run_action` call
  resources/builder.inc.sh
Labels: common/, common/resources/, fix

#11481 fix(android/app): Verify extracted text is not null
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
Labels: android/, fix, android/app/

#11482 fix(android/app): Verify extracted text is not null 🍒 🏠
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
Labels: android/, stable, cherry-pick, fix, android/app/

#11485 auto: increment master version to 18.0.40
  HISTORY.md
  VERSION.md
Labels: auto

#11483 refactor(common): move `enabled` declaration into test_color.cpp
  common/include/test_color.cpp
  common/include/test_color.h
  core/tests/unit/kmnkbd/meson.build
  core/tests/unit/kmx/meson.build
  core/tests/unit/ldml/ldml_test_source.cpp
  core/tests/unit/ldml/meson.build
  core/tests/unit/meson.build
  developer/src/kmcmplib/tests/meson.build
Labels: developer/, common/, developer/compilers/, core/, refactor

#10637 chore(linux): Move API verification to separate action
  .github/workflows/api-verification.yml
  .github/workflows/deb-packaging.yml
  docs/core-api-verification.md
  linux/scripts/deb-packaging.sh
  linux/scripts/test/deb-packaging.tests.sh
Labels: linux/, chore, docs

#11496 auto: increment master version to 18.0.41
  HISTORY.md
  VERSION.md
Labels: auto

#11488 fix(developer): handle `KM_CORE_IT_INVALIDATE_CONTEXT` in debugger
  developer/src/tike/debug/Keyman.System.Debug.DebugEvent.pas
Labels: developer/, fix, developer/ide/, has-user-test

#11494 chore(linux): Trigger GHA packaging for stable builds 🏠
  resources/build/trigger-definitions.inc.sh
Labels: linux/, stable, common/, common/resources/, chore

#11495 chore(linux): Trigger GHA packaging for stable builds :cherries:
  resources/build/trigger-definitions.inc.sh
Labels: linux/, cherry-pick, common/, common/resources/, chore

#11403 feat(web): custom infrastructure for @web/test-runner use 🏃
  common/test/resources/test-runner-TC-reporter.mjs
  common/test/resources/test-runner-rename-browser.mjs
  common/test/resources/test-runner-stability-reporter.mjs
  web/common.inc.sh
Labels: web/, common/, feat

#11404 chore(web): conversion of lm-worker browser-test for @web/test-runner use 🏃
  common/web/lm-worker/build.sh
  common/web/lm-worker/package.json
  common/web/lm-worker/src/test/mocha/cases/edit-distance/classical-calculation.js
  common/web/lm-worker/src/test/mocha/cases/edit-distance/context-tracker.js
  common/web/lm-worker/src/test/mocha/cases/edit-distance/distance-modeler.js
  common/web/lm-worker/src/test/mocha/cases/transform-utils.js
  common/web/lm-worker/src/test/mocha/cases/worker-custom-punctuation.js
  common/web/lm-worker/src/test/mocha/cases/worker-initialization.js
  common/web/lm-worker/src/test/mocha/cases/worker-model-compositor.js
  common/web/lm-worker/src/test/mocha/cases/worker-predict-dummy.js
  common/web/lm-worker/src/test/mocha/cases/worker-predict.js
  common/web/lm-worker/src/test/test-runner/cases/worker.spec.ts
  common/web/lm-worker/src/test/test-runner/web-test-runner.CI.config.mjs
  common/web/lm-worker/src/test/test-runner/web-test-runner.config.mjs
  package-lock.json
  resources/shellHelperFunctions.sh
Labels: web/, common/, common/resources/, common/web/, chore

#11452 chore(web): conversion of lm-layer browser-tests for @web/test-runner use 🏃
  common/predictive-text/build.sh
  common/predictive-text/package.json
  common/predictive-text/unit_tests/in_browser/CI.conf.cjs
  common/predictive-text/unit_tests/in_browser/base.conf.cjs
  common/predictive-text/unit_tests/in_browser/cases/test-config.js
  common/predictive-text/unit_tests/in_browser/cases/top-level-lmlayer.spec.ts
  common/predictive-text/unit_tests/in_browser/cases/worker-dummy-integration.spec.ts
  common/predictive-text/unit_tests/in_browser/cases/worker-trie-integration.spec.ts
  common/predictive-text/unit_tests/in_browser/manual.conf.cjs
  common/predictive-text/unit_tests/in_browser/web-test-runner.CI.config.mjs
  common/predictive-text/unit_tests/in_browser/web-test-runner.config.mjs
  common/predictive-text/unit_tests/test.sh
  common/test/resources/models/simple-dummy.txt
  package-lock.json
Labels: web/, common/, chore

#11453 chore(web): conversion of Web keyboard-loading browser-tests for @web/test-runner use 🏃
  common/web/keyboard-processor/build.sh
  common/web/keyboard-processor/package.json
  common/web/keyboard-processor/tests/dom/CI.conf.cjs
  common/web/keyboard-processor/tests/dom/base.conf.cjs
  common/web/keyboard-processor/tests/dom/cases/domKeyboardLoader.spec.ts
  common/web/keyboard-processor/tests/dom/manual.conf.cjs
  common/web/keyboard-processor/tests/dom/web-test-runner.CI.config.mjs
  common/web/keyboard-processor/tests/dom/web-test-runner.config.mjs
  package-lock.json
Labels: web/, common/, common/web/, chore

#11500 auto: increment master version to 18.0.42
  HISTORY.md
  VERSION.md
Labels: auto

#11455 chore(web): conversion of Web's browser-integration auto-tests for @web/test-runner use 🏃
  web/src/test/auto/dom/CI.conf.cjs
  web/src/test/auto/dom/base.conf.cjs
  web/src/test/auto/dom/cases/attachment/outputTargetForElement.def.ts
  web/src/test/auto/dom/cases/attachment/outputTargetForElement.spec.html
  web/src/test/auto/dom/cases/attachment/pageContextAttachment.spec.ts
  web/src/test/auto/dom/cases/browser/contextManager.spec.ts
  web/src/test/auto/dom/cases/dom-utils/cookies.spec.ts
  web/src/test/auto/dom/cases/element-wrappers/element_interfaces.spec.ts
  web/src/test/auto/dom/cases/element-wrappers/target_mocks.spec.ts
  web/src/test/auto/dom/cases/osk/activation.spec.ts
  web/src/test/auto/dom/cases/osk/events.spec.ts
  web/src/test/auto/dom/cases/packages/cloudQueries.spec.ts
  web/src/test/auto/dom/cases/packages/domCloudRequester.spec.ts
  web/src/test/auto/dom/cases/packages/keyboardRequisitioner.spec.ts
  web/src/test/auto/dom/cases/test_config.js
  web/src/test/auto/dom/kbdLoader.ts
  web/src/test/auto/dom/manual.conf.cjs
  web/src/test/auto/dom/test_init_check.spec.ts
  web/src/test/auto/dom/test_utils.js
  web/src/test/auto/dom/test_utils.ts
  web/src/test/auto/dom/tsconfig.json
  web/src/test/auto/dom/web-test-runner.CI.config.mjs
  web/src/test/auto/dom/web-test-runner.config.mjs
  web/src/test/auto/headless/engine/package-cache/keyboardRequisitioner.js
  web/src/test/auto/resources/fixtures/a-bit-of-everything.html
  web/src/test/auto/resources/fixtures/nested-iframe.html
  web/src/test/auto/resources/fixtures/simple-design-iframe.html
  web/src/test/auto/resources/fixtures/simple-iframe-with-input.html
  web/src/test/auto/resources/html/nesting-outer-iframe.html
  web/src/test/auto/resources/query-mock-results/khmer_angkor.hand-edited.js.fixture
  web/src/test/auto/resources/stubs/khmer_angkor.json
  web/src/test/auto/tsconfig.json
  web/test.sh
Labels: web/, chore

#11456 chore(web): conversion of Web's end-to-end style auto-tests for @web/test-runner use 🏃
  web/package.json
  web/src/app/browser/src/contextManager.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/browser/src/test-index.ts
  web/src/test/auto/integrated/CI.conf.cjs
  web/src/test/auto/integrated/base.conf.cjs
  web/src/test/auto/integrated/cases/basics.js
  web/src/test/auto/integrated/cases/basics.spec.ts
  web/src/test/auto/integrated/cases/engine.spec.ts
  web/src/test/auto/integrated/cases/engine_chirality.spec.ts
  web/src/test/auto/integrated/cases/events.spec.ts
  web/src/test/auto/integrated/cases/test_config.js
  web/src/test/auto/integrated/cases/text_selection.spec.ts
  web/src/test/auto/integrated/manual.conf.cjs
  web/src/test/auto/integrated/test_init_check.spec.ts
  web/src/test/auto/integrated/test_utils.ts
  web/src/test/auto/integrated/tsconfig.json
  web/src/test/auto/integrated/web-test-runner.CI.config.mjs
  web/src/test/auto/integrated/web-test-runner.config.mjs
  web/test.sh
Labels: web/, chore

#11300 chore(web): finalization for replacement of Karma with Web Test Runner 🏃
  package-lock.json
  web/package.json
  web/src/test/auto/integrated/modernizr.config.json
Labels: web/, developer/, common/, common/models/, developer/compilers/, common/resources/, common/web/, common/models/templates/, common/models/wordbreakers/, chore

#11489 fix(developer): handle `KM_CORE_IT_INVALIDATE_CONTEXT` in debugger 🍒 🏠
  developer/src/tike/debug/Keyman.System.Debug.DebugEvent.pas
Labels: developer/, stable, cherry-pick, fix, developer/ide/

#11492 change(common): remove `is:open` from issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: common/

#11511 fix(linux): Add missing variable to API verification GHA
  .github/workflows/api-verification.yml
Labels: linux/, fix

#11513 auto: increment master version to 18.0.43
  HISTORY.md
  VERSION.md
Labels: auto

#11522 fix(android): Revert Sentry version for FV Android
  oem/firstvoices/android/app/build.gradle
  oem/firstvoices/android/build.gradle
Labels: android/, oem/, fix, oem/fv/, oem/fv/android/

#11521 chore(windows): remove schedule task clean up introduced in 15.0 Alpha
  windows/src/desktop/kmshell/util/Keyman.System.KeymanStartTask.pas
Labels: windows/, windows/config/, chore

#11524 fix(windows): add FirstVoices Keyboards build to Windows release build
  oem/firstvoices/windows/src/inst/build.sh
  windows/src/.gitignore
  windows/src/build.sh
Labels: windows/, oem/, fix, oem/fv/, oem/fv/windows/

#11528 auto: increment master version to 18.0.44
  HISTORY.md
  VERSION.md
Labels: auto

#11517 fix(linux): Pass artifacts key to API verification GHA
  .github/workflows/api-verification.yml
  .github/workflows/deb-packaging.yml
Labels: linux/, fix

#11509 fix(web): properly pass test-runner verbose-logging flag
  web/test.sh
Labels: web/, fix

#11512 chore(developer): add context/key-test
  developer/src/tike/xml/help/contexthelp.xml
Labels: developer/, chore

#11510 fix(android/engine): Ignore updating invalid selections
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
Labels: android/, fix, android/engine/, has-user-test

#11530 docs(common): update min emscripten version in docs to 3.1.46
  docs/build/macos.md
  docs/build/windows.md
Labels: common/, docs

#11533 fix(linux): Properly use and pass run_id
  .github/workflows/api-verification.yml
  .github/workflows/deb-packaging.yml
Labels: linux/, fix

#11515 change(mac): adopt unified logging APIs
  mac/Keyman4Mac/Keyman4Mac/AppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/KMAboutBGView.m
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/KMAboutWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/KMConfigurationWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMDownloadKeyboard/KMDownloadKBWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/KMInfoWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardHelpWindow/KMKeyboardHelpWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMLogs.h
  mac/Keyman4MacIM/Keyman4MacIM/KMLogs.m
  mac/Keyman4MacIM/Keyman4MacIM/KMOSVersion.m
  mac/Keyman4MacIM/Keyman4MacIM/KMPackage.m
  mac/Keyman4MacIM/Keyman4MacIM/KMPackageReader.m
  mac/Keyman4MacIM/Keyman4MacIM/KeySender.h
  mac/Keyman4MacIM/Keyman4MacIM/KeySender.m
  mac/Keyman4MacIM/Keyman4MacIM/OnScreenKeyboard/OSKWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/Privacy/PrivacyConsent.m
  mac/Keyman4MacIM/Keyman4MacIM/TextApiCompliance.m
  mac/Keyman4MacIM/Keyman4MacIM/main.m
  mac/Keyman4MacIM/KeymanTests/TextApiComplianceTests.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/project.pbxproj
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreHelper.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreHelper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreKeyOutput.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMELogs.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMELogs.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMXFile.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KVKFile.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/KeyView.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/OSKKey.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/OSKView.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/CoreWrapperTests.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KMEngineTests.m
Labels: mac/, change

#11527 chore(common): update labels to include change, style
  .github/multi-labeler.yml
  CONTRIBUTING.md
  resources/scopes/commit-types.json
Labels: common/, common/resources/, chore

#11565 chore(linux): run deb-package sourcepackage job on Ubuntu 24.04
  .github/workflows/deb-packaging.yml
Labels: linux/, chore

#11418 test(core): verify Unicode and ICU versions cross-platform 🙀
  core/src/utfcodec.hpp
  core/tests/unit/ldml/meson.build
  core/tests/unit/ldml/test_unicode.cpp
  core/tests/unit/ldml/write_node_versions.js
Labels: core/, test

#11536 chore(linux): Debugging API verification
  .github/workflows/api-verification.yml
Labels: linux/, chore

#11519 refactor(core): prepare normalization code to call into JS under WASM 🙀
  core/src/core_icu.h
  core/src/keyman_core.h
  core/src/km_core_state_context_set_if_needed.cpp
  core/src/ldml/ldml_markers.cpp
  core/src/ldml/ldml_markers.hpp
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_utils.hpp
  core/src/meson.build
  core/src/util_normalize.cpp
  core/src/util_normalize.hpp
  core/tests/unit/ldml/ldml.cpp
  core/tests/unit/ldml/ldml_test_source.cpp
Labels: core/, chore

#11520 feat(core): change normalize_nfd() to use JS native call instead of ICU on wasm 🙀
  core/meson.build
  core/src/util_normalize.cpp
  core/tests/unit/kmx/meson.build
  core/tests/unit/ldml/meson.build
Labels: feat, core/

#11571 fix(linux): Restore artifacts for API verification in the correct job
  .github/workflows/api-verification.yml
Labels: linux/, fix

#11592 fix(linux): Don't clean workdir after checkout in API verification
  .github/workflows/api-verification.yml
Labels: linux/, fix

#11543 fix(developer): test existence of ngrok.exe before atttempting to start
  developer/src/server/src/index.ts
Labels: developer/, fix, developer/ide/

#11544 fix(developer): test existence of ngrok.exe before atttempting to start 🍒 🏠
  developer/src/server/src/index.ts
Labels: developer/, stable, cherry-pick, fix, developer/ide/

#11546 fix(developer): handle unsupported `return` statement in `match` and `nomatch` in web compiler
  developer/src/kmc-kmn/src/kmw-compiler/javascript-strings.ts
  developer/src/kmc-kmn/test/fixtures/kmw/error_not_supported_in_keyman_web_output.kmn
  developer/src/kmc-kmn/test/kmw/test-kmw-messages.ts
Labels: developer/, developer/compilers/, fix

#11547 fix(developer): handle unsupported `return` statement in `match` and `nomatch` in web compiler 🍒 🏠
  developer/src/kmc-kmn/src/kmw-compiler/javascript-strings.ts
  developer/src/kmc-kmn/test/fixtures/kmw/error_not_supported_in_keyman_web_output.kmn
  developer/src/kmc-kmn/test/kmw/test-kmw-messages.ts
Labels: developer/, stable, cherry-pick, developer/compilers/, fix

#11553 fix(developer): ensure folder for MRU list is always created 🍒 🏠
  developer/src/tike/project/Keyman.Developer.System.Project.WelcomeRenderer.pas
Labels: developer/, stable, cherry-pick, fix, developer/ide/

#11558 fix(developer): handle invalid project file when scanning for owner project
  developer/src/tike/http/Keyman.Developer.System.HttpServer.App.pas
  developer/src/tike/main/Keyman.Developer.System.ProjectOwningFile.pas
Labels: developer/, fix, developer/ide/

#11559 fix(developer): handle invalid project file when scanning for owner project 🍒 🏠
  developer/src/tike/http/Keyman.Developer.System.HttpServer.App.pas
  developer/src/tike/main/Keyman.Developer.System.ProjectOwningFile.pas
Labels: developer/, stable, cherry-pick, fix, developer/ide/

#11552 fix(developer): ensure folder for MRU list is always created
  developer/src/tike/project/Keyman.Developer.System.Project.WelcomeRenderer.pas
Labels: developer/, fix, developer/ide/

#11470 fix(web): fixes error on tab, enter when only a single input element is on the page
  web/src/app/browser/src/defaultBrowserRules.ts
Labels: web/, fix

#11472 fix(web): correctly handle cross-origin stylesheets when calculating keyboard size and key cap font size
  common/web/utils/src/managedPromise.ts
  web/src/engine/dom-utils/src/stylesheets.ts
  web/src/engine/osk/src/keyboard-layout/oskLayerGroup.ts
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, common/, fix, common/web/, has-user-test

#11505 fix(web): pre-init keyboard activation awaits init before proceeding
  web/src/app/webview/src/contextManager.ts
Labels: web/, fix

#11508 fix(android): host-page banner initialization
  android/KMEA/app/src/main/assets/android-host.js
Labels: android/, fix, android/engine/

#11579 fix(web): add null guard for missing debug info when reporting to Sentry
  common/web/sentry-manager/src/index.ts
Labels: web/, common/, fix, common/web/

#11414 chore(web): updates TypeScript version to 5.4.5
  common/models/types/tsconfig.json
  common/tools/hextobin/package.json
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/keyboard-processor/src/keyboards/defaultLayouts.ts
  common/web/lm-message-types/tsconfig.json
  common/web/sentry-manager/src/tsconfig.json
  package-lock.json
  package.json
  tsconfig.base.json
  web/src/app/browser/src/beepHandler.ts
  web/tsconfig.base.json
Labels: web/, common/, common/models/, common/web/, common/models/types/, chore

#11569 fix(ios): remove incorrect cast in log statement to prevent crash
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeymanWebViewController.swift
Labels: bug, ios/, fix, ios/engine/

#11570 fix(ios): remove incorrect cast in log statement to prevent crash 🍒 🏠
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeymanWebViewController.swift
Labels: bug, ios/, stable, cherry-pick, fix, ios/engine/

#11596 fix(web): headless recorder unhandled paths, invalid test-sequence references 🔩
  common/web/recorder/src/index.ts
Labels: web/, common/, fix, common/web/

#11597 fix(web): remove dead code-branches 🔩
  web/src/app/webview/src/oskConfiguration.ts
  web/src/engine/element-wrappers/src/utils.ts
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, fix

#11459 chore(web): fixes implicit-this cases 🔩
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputSequenceSimulator.ts
  web/src/app/browser/src/context/focusAssistant.ts
  web/src/app/browser/src/languageMenu.ts
  web/tsconfig.base.json
Labels: web/, common/, common/web/, chore

#11598 fix(web): use intended source for prediction-to-context matching 🔩
  common/web/lm-worker/src/main/model-compositor.ts
Labels: web/, common/, fix, common/web/

#11599 fix(web): explicitly terminate banner gesture-handling when banner is swapped 🔩
  web/src/engine/osk/src/banner/banner.ts
  web/src/engine/osk/src/banner/bannerView.ts
  web/src/engine/osk/src/banner/suggestionBanner.ts
Labels: web/, fix

#11600 fix(web): use correct parameter name in button UI OSK `hide` event 🔩
  web/src/app/ui/kmwuibutton.ts
Labels: web/, fix

#11444 chore(mac): rework of main build script
  mac/.build-builder
  mac/Keyman4MacIM/make-km-dmg.sh
  mac/Keyman4MacIM/write-download_info.sh
  mac/bashHelperFunctions.sh
  mac/build.sh
  mac/setup/build.sh
Labels: mac/, chore, has-user-test

#11613 fix(ios): do not write to shared storage from system keyboard
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
Labels: bug, ios/, fix, ios/engine/

#11622 fix(ios): do not write to shared storage from system keyboard 🍒 🏠
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
Labels: bug, ios/, stable, cherry-pick, fix, ios/engine/

#11529 fix(android): Ignore updating invalid selections 🍒 🏠
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
Labels: android/, stable, cherry-pick, fix, android/engine/

#11555 fix(developer): handle invalid default project path in options
  developer/src/tike/main/KeymanDeveloperOptions.pas
  developer/src/tike/main/UfrmMain.pas
Labels: developer/, fix, developer/ide/

#11556 fix(developer): handle invalid default project path in options 🍒 🏠
  developer/src/tike/main/KeymanDeveloperOptions.pas
  developer/src/tike/main/UfrmMain.pas
Labels: developer/, stable, cherry-pick, fix, developer/ide/

#11563 fix(developer): handle missing data in .kps `<Keyboard>`
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/test/fixtures/invalid/example.kmx
  developer/src/kmc-package/test/fixtures/invalid/missing_keyboard_id.kps
  developer/src/kmc-package/test/fixtures/invalid/missing_keyboard_name.kps
  developer/src/kmc-package/test/fixtures/invalid/missing_keyboard_version.kps
  developer/src/kmc-package/test/test-package-compiler.ts
Labels: developer/, developer/compilers/, fix

#11564 fix(developer): handle missing data in .kps `<Keyboard>` 🍒 🏠
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/test/fixtures/invalid/example.kmx
  developer/src/kmc-package/test/fixtures/invalid/missing_keyboard_id.kps
  developer/src/kmc-package/test/fixtures/invalid/missing_keyboard_name.kps
  developer/src/kmc-package/test/fixtures/invalid/missing_keyboard_version.kps
  developer/src/kmc-package/test/test-package-compiler.ts
Labels: developer/, stable, cherry-pick, developer/compilers/, fix

#11576 fix(developer): save touch layout editor selection when loading state 🍒 🏠
  developer/src/tike/xml/layoutbuilder/builder.js
Labels: developer/, stable, cherry-pick, fix, developer/ide/

#11577 fix(developer): use correct variable when fixing up flick and multitap in Layer Properties dialog
  developer/src/tike/xml/layoutbuilder/layer-controls.js
Labels: developer/, fix, developer/ide/

#11578 fix(developer): use correct variable when fixing up flick and multitap in Layer Properties dialog 🍒 🏠
  developer/src/tike/xml/layoutbuilder/layer-controls.js
Labels: developer/, stable, cherry-pick, fix, developer/ide/

#11582 fix(developer): correct the inference of default hint from flicks
  developer/src/tike/xml/layoutbuilder/builder.js
Labels: developer/, fix, developer/ide/

#11583 fix(developer): correct the inference of default hint from flicks 🍒 🏠
  developer/src/tike/xml/layoutbuilder/builder.js
Labels: developer/, stable, cherry-pick, fix, developer/ide/

#11590 fix(developer): make top row of Character Map 1 pixel to avoid DIV/0 in gestures
  common/windows/delphi/charmap/UfrmCharacterMapNew.pas
Labels: developer/, common/, fix

#11591 fix(developer): make top row of Character Map 1 pixel to avoid DIV/0 in gestures 🍒 🏠
  common/windows/delphi/charmap/UfrmCharacterMapNew.pas
Labels: developer/, stable, cherry-pick, common/, fix

#11608 chore: increase kmc-kmn build test timeout
  developer/src/kmc-kmn/test/test-compiler.ts
Labels: developer/, developer/compilers/, chore

#11611 chore(windows): support port in THTTPUploader
  common/windows/delphi/general/httpuploader.pas
Labels: windows/, common/, chore

#11585 change(common): add extra commit message hints
  resources/git-hooks/commit-msg
  resources/git-hooks/pre-commit
  resources/git-hooks/prepare-commit-msg
Labels: common/, common/resources/, change

#11615 fix(web): fixes error on tab, enter when only a single input element is on the page 🍒 🏠
  web/src/app/browser/src/defaultBrowserRules.ts
Labels: web/, stable, cherry-pick, fix

#11616 fix(web): correctly handle cross-origin stylesheets when calculating keyboard size and key cap font size 🍒 🏠
  common/web/utils/src/managedPromise.ts
  web/src/engine/dom-utils/src/stylesheets.ts
  web/src/engine/osk/src/keyboard-layout/oskLayerGroup.ts
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, stable, cherry-pick, common/, fix, common/web/

#11617 fix(web): pre-init keyboard activation awaits init before proceeding 🍒 🏠
  web/src/app/webview/src/contextManager.ts
Labels: web/, stable, cherry-pick, fix
