Repository keymanapp/keyman, pull requests merged in 2024-01, with the labels that each got.

#10208 feat(developer): Consolidate public APIs for kmc modules
  common/web/input-processor/tests/cases/languageProcessor.js
  common/web/types/src/kpj/keyman-developer-project.ts
  common/web/types/src/main.ts
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/kmc-analyze/src/util/get-osk-from-kmn-file.ts
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-keyboard-info/test/test-keyboard-info-compiler.ts
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/compiler-globals.ts
  developer/src/kmc-kmn/src/kmw-compiler/kmw-compiler.ts
  developer/src/kmc-kmn/test/kmw/test-kmw-compiler.ts
  developer/src/kmc-kmn/test/test-compiler.ts
  developer/src/kmc-kmn/test/test-features.ts
  developer/src/kmc-kmn/test/test-messages.ts
  developer/src/kmc-kmn/test/test-wasm-uset.ts
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-ldml/test/helpers/index.ts
  developer/src/kmc-ldml/test/test-compiler-e2e.ts
  developer/src/kmc-ldml/test/test-keymanweb-compiler.ts
  developer/src/kmc-ldml/test/test-testdata-e2e.ts
  developer/src/kmc-model-info/src/model-info-compiler.ts
  developer/src/kmc-model-info/test/test-model-info-compiler.ts
  developer/src/kmc-model/src/lexical-model-compiler.ts
  developer/src/kmc-model/src/main.ts
  developer/src/kmc-model/test/test-compile-model-with-pseudoclosure.ts
  developer/src/kmc-model/test/test-compile-model.ts
  developer/src/kmc-model/test/test-compile-trie.ts
  developer/src/kmc-model/test/test-punctuation.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/windows-package-installer-compiler.ts
  developer/src/kmc-package/test/fixtures/invalid/example.qaa.sencoten.model.js
  developer/src/kmc-package/test/fixtures/invalid/keyman.exe
  developer/src/kmc-package/test/fixtures/invalid/khmer_angkor.docx
  developer/src/kmc-package/test/test-messages.ts
  developer/src/kmc-package/test/test-package-compiler.ts
  developer/src/kmc-package/test/test-versioning.ts
  developer/src/kmc-package/test/test-windows-package-installer-compiler.ts
  developer/src/kmc/src/commands/analyze.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildClasses/BuildActivity.ts
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildKmnKeyboard.ts
  developer/src/kmc/src/commands/buildClasses/BuildLdmlKeyboard.ts
  developer/src/kmc/src/commands/buildClasses/BuildModel.ts
  developer/src/kmc/src/commands/buildClasses/BuildModelInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildPackage.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/src/commands/buildTestData/index.ts
  developer/src/kmc/src/commands/buildWindowsPackageInstaller/index.ts
  developer/src/kmc/src/kmlmc.ts
  developer/src/kmc/src/kmlmp.ts
  developer/src/kmc/src/messages/infrastructureMessages.ts
  developer/src/kmc/src/util/TestKeymanSentry.ts
  developer/src/kmc/src/util/baseOptions.ts
  developer/src/kmc/src/util/escapeRegExp.ts
  developer/src/kmc/test/test-build.ts
  developer/src/kmc/test/test-infrastructureMessages.ts
  developer/src/kmc/test/test-project-build.ts
Labels: developer/, common/, developer/compilers/, feat, common/web/, has-user-test

#10218 chore(developer): honor prompt to upgrade in kmc
  developer/src/common/web/utils/index.ts
  developer/src/common/web/utils/src/options.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/test/test-build.ts
  developer/src/kmc/test/test-infrastructureMessages.ts
  developer/src/kmc/test/test-project-build.ts
Labels: developer/, developer/compilers/, chore

#10309 auto: increment master version to 17.0.238
  HISTORY.md
  VERSION.md
Labels: auto

#10300 fix(developer): quell internal error when a section fails 🙀
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/common/web/test-helpers/index.ts
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-ldml/test/helpers/index.ts
  developer/src/kmc-ldml/test/test-tran.ts
Labels: developer/, common/, developer/compilers/, fix, common/web/

#10290 fix(core): ldml fixes for normalization between transform groups 🙀
  core/src/ldml/ldml_transforms.cpp
  core/tests/unit/ldml/keyboards/k_008_transform_norm-test.xml
  core/tests/unit/ldml/keyboards/k_008_transform_norm.xml
  core/tests/unit/ldml/test_transforms.cpp
Labels: fix, core/, chore

#10304 feat(core): more regex testing 🙀
  core/tests/unit/ldml/keyboards/k_007_transform_rgx-test.xml
  core/tests/unit/ldml/keyboards/k_007_transform_rgx.xml
Labels: feat, core/

#10305 chore(core): better reporting in ldml tests 🙀
  core/tests/unit/ldml/ldml.cpp
  core/tests/unit/ldml/ldml_test_source.cpp
  core/tests/unit/ldml/ldml_test_source.hpp
Labels: core/, chore

#10306 feat(developer): escape bad markers 🙀
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/tests/unit/ldml/keyboards/k_211_marker_escape-test.xml
  core/tests/unit/ldml/keyboards/k_211_marker_escape.xml
  core/tests/unit/ldml/keyboards/meson.build
  core/tests/unit/ldml/test_transforms.cpp
  developer/src/kmc-ldml/test/fixtures/basic.txt
Labels: developer/, common/, developer/compilers/, feat, core/, common/web/

#10314 auto: increment master version to 17.0.239
  HISTORY.md
  VERSION.md
Labels: auto

#10285 fix(oem/fv): Add fv_hulquminum_combine and fv_kwadacha_tsekene :cherries: 🏠
  oem/firstvoices/keyboards.csv
Labels: android/, ios/, stable, cherry-pick, oem/, fix, oem/fv/, has-user-test

#10275 fix(mac): write persisted options returned from Core
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/xcshareddata/xcschemes/KeymanEngine4Mac.xcscheme
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KMEngineTests.m
Labels: mac/, fix, has-user-test

#10156 feat(windows): Remove UI com online-update check 📲 💽
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/kmshell/main/Keyman.System.RemoteUpdateCheck.pas
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/desktop/kmshell/render/UpdateXMLRenderer.pas
Labels: windows/, common/, feat, windows/config/, epic-windows-updates

#10255 chore(web): remove lm-worker `Array.from` polyfill and make `Symbol` polyfill conditional
  common/models/templates/src/priority-queue.ts
  common/models/templates/test/test-priority-queue.js
  common/web/lm-worker/build-polyfill-concatenator.js
  common/web/lm-worker/src/main/correction/classical-calculation.ts
  common/web/lm-worker/src/main/correction/distance-modeler.ts
  common/web/lm-worker/src/polyfills/array.from.js
  common/web/lm-worker/src/polyfills/symbol-es6.min.js
  common/web/lm-worker/src/test/cases/edit-distance/context-tracker.js
Labels: web/, common/, common/models/, common/web/, common/models/templates/

#10264 change(web): lm-worker bundling + wrapper script rework 📜
  common/web/lm-worker/build-bundler.js
  common/web/lm-worker/build-polyfiller.js
  common/web/lm-worker/build-wrap-and-minify.js
  common/web/lm-worker/build-wrapper.js
  common/web/lm-worker/build.sh
Labels: web/, common/, common/web/

#10265 refactor(web): transformation of build-bundler into a common es-bundling command 📜
  common/web/es-bundling/src/common-bundle.mts
  common/web/es-bundling/tsconfig.json
  common/web/lm-worker/build-bundler.js
  common/web/lm-worker/build.sh
Labels: web/, common/, common/web/, refactor

#10267 change(web): KeymanWeb bundler-script centralization 📜
  common/predictive-text/.gitignore
  common/predictive-text/build-bundler.js
  common/predictive-text/build.sh
  common/web/es-bundling/src/common-bundle.mts
  common/web/es-bundling/src/tslibTreeshaking.mts
  common/web/gesture-recognizer/build-bundler.js
  common/web/gesture-recognizer/build.sh
  common/web/gesture-recognizer/src/tools/build.sh
  common/web/input-processor/build-bundler.js
  common/web/input-processor/build.sh
  common/web/keyboard-processor/build-bundler.js
  common/web/keyboard-processor/build.sh
  common/web/sentry-manager/build-bundler.js
  common/web/sentry-manager/build.sh
  common/web/utils/build-bundler.js
  common/web/utils/build.sh
  web/common.inc.sh
  web/src/app/browser/build-bundler.js
  web/src/app/browser/build.sh
  web/src/app/ui/build-bundler.js
  web/src/app/ui/build.sh
  web/src/app/webview/build-bundler.js
  web/src/app/webview/build.sh
  web/src/engine/attachment/build-bundler.js
  web/src/engine/attachment/build.sh
  web/src/engine/device-detect/build-bundler.js
  web/src/engine/device-detect/build.sh
  web/src/engine/element-wrappers/build-bundler.js
  web/src/engine/element-wrappers/build.sh
  web/src/engine/events/build-bundler.js
  web/src/engine/events/build.sh
  web/src/engine/main/build-bundler.js
  web/src/engine/main/build.sh
  web/src/engine/osk/build-bundler.js
  web/src/engine/osk/build.sh
  web/src/engine/package-cache/build-bundler.js
  web/src/engine/package-cache/build.sh
  web/src/engine/paths/build-bundler.js
  web/src/engine/paths/build.sh
  web/src/tools/testing/bulk_rendering/build-bundler.js
  web/src/tools/testing/bulk_rendering/build.sh
  web/src/tools/testing/recorder/build-bundler.js
  web/src/tools/testing/recorder/build.sh
Labels: web/, common/, common/web/

#10257 feat(web): alternate artifact - es6-bundled Web 📜
  common/models/templates/package.json
  common/models/wordbreakers/package.json
  common/predictive-text/package.json
  common/web/es-bundling/src/common-bundle.mts
  common/web/es-bundling/src/configuration.mts
  common/web/gesture-recognizer/package.json
  common/web/input-processor/package.json
  common/web/keyboard-processor/package.json
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/keyman-version/package.json
  common/web/lm-worker/build.sh
  common/web/lm-worker/package.json
  common/web/types/package.json
  common/web/utils/package.json
  web/package.json
  web/src/app/browser/build.sh
  web/src/app/browser/src/keymanEngine.ts
Labels: web/, common/, common/models/, feat, common/web/, common/models/templates/, common/models/wordbreakers/

#10299 fix(web): adds null-guard for longpress-key validation
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
Labels: web/, fix

#10296 fix(web): special key highlighting when pressed
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, fix, has-user-test

#10333 auto: increment master version to 17.0.240
  HISTORY.md
  VERSION.md
Labels: auto

#10331 chore(linux): Retry llso upload
  .github/workflows/deb-packaging.yml
Labels: linux/, chore

#10341 auto: increment master version to 17.0.241
  HISTORY.md
  VERSION.md
Labels: auto

#10345 Update character-map.md
  windows/src/desktop/help/basic/toolbox/character-map.md
Labels: user-test-missing

#10349 chore(linux): Output dput exit code after upload to llso
  .github/workflows/deb-packaging.yml
Labels: linux/, chore

#10335 fix(android): Use alert dialog when package is missing touch keyboards
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
Labels: android/, fix, android/app/, has-user-test

#10298 chore: cleanup recent history entries without PR title
  HISTORY.md
Labels: common/, chore

#10329 chore(web): better logging for gesture-recognizer tools build script
  common/web/gesture-recognizer/src/tools/build.sh
Labels: web/, common/, common/web/, chore

#10355 auto: increment master version to 17.0.242
  HISTORY.md
  VERSION.md
Labels: auto

#10312 fix(windows): serve images for readme files in Keyboard Install
  windows/src/desktop/kmshell/web/Keyman.Configuration.System.HttpServer.App.pas
Labels: windows/, fix, windows/config/, has-user-test

#10321 fix(developer): remove unused tools/customise menu
  developer/src/tike/actions/dmActionsMain.dfm
  developer/src/tike/actions/dmActionsMain.pas
  developer/src/tike/main/UfrmMain.dfm
  developer/src/tike/main/UfrmMain.pas
Labels: developer/, fix, developer/ide/

#10322 fix(developer): cleanly handle filling a new osk file from layout
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/tike/child/UfrmKeymanWizard.pas
Labels: developer/, developer/compilers/, fix, developer/ide/

#10323 fix(developer): new file support for project 2.0
  developer/src/tike/actions/dmActionsMain.pas
  developer/src/tike/dialogs/UfrmNew.pas
  developer/src/tike/dialogs/UfrmNewFileDetails.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectFile.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmProject.pas
Labels: developer/, fix, developer/ide/, has-user-test

#10361 chore(common): builder action launch typos
  common/predictive-text/unit_tests/test.sh
  common/web/gesture-recognizer/src/tools/build.sh
Labels: common/, common/web/, chore

#10326 feat(core): support stacked markers, prep for marker segments 🙀
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/tests/unit/ldml/keyboards/k_008_transform_norm-test.xml
  core/tests/unit/ldml/keyboards/k_008_transform_norm.xml
  core/tests/unit/ldml/test_transforms.cpp
Labels: feat, core/

#10367 auto: increment master version to 17.0.243
  HISTORY.md
  VERSION.md
Labels: auto

#10327 chore(core): split out some files 🙀
  core/src/ldml/ldml_markers.cpp
  core/src/ldml/ldml_markers.hpp
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/src/ldml/ldml_utils.hpp
  core/src/meson.build
  core/tests/unit/ldml/ldml.cpp
  core/tests/unit/ldml/ldml_test_source.cpp
  core/tests/unit/ldml/test_transforms.cpp
Labels: core/, chore

#10330 fix(web): prediction time-limiter issues, performance 📜
  common/web/lm-worker/src/main/correction/distance-modeler.ts
Labels: web/, common/, fix, common/web/

#10328 fix(developer): test-page model loading
  developer/src/server/src/site/test.js
  web/src/engine/package-cache/src/modelCache.ts
  web/src/test/manual/web/issue3701/index.html
  web/src/test/manual/web/issue9469/index.html
  web/src/test/manual/web/prediction-mtnt/index.html
  web/src/test/manual/web/prediction-ui/index.html
Labels: web/, developer/, fix, developer/ide/, has-user-test

#10370 refactor(core): use `km_core_state_context_clear` where possible
  developer/src/tike/main/Keyman.System.KeymanCore.pas
  developer/src/tike/main/Keyman.System.VisualKeyboardImportKMX.pas
  linux/ibus-keyman/src/engine.c
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
Labels: developer/, mac/, linux/, linux/engine/, core/, developer/ide/, refactor

#10339 fix(ios): use safe area to position Keyman menu correctly
  ios/keyman/Keyman/Keyman/Classes/MainViewController/MainViewController.swift
Labels: ios/, fix, ios/app/, has-user-test

#10366 chore(linux): fix GHA packaging
  .github/workflows/deb-packaging.yml
Labels: linux/, chore

#10354 refactor(linux): Use `km_core_state_context_set_if_needed`
  core/include/keyman/keyman_core_api.h
  developer/src/tike/main/Keyman.System.KeymanCore.pas
  developer/src/tike/main/Keyman.System.VisualKeyboardImportKMX.pas
  linux/ibus-keyman/src/engine.c
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
Labels: developer/, mac/, linux/, linux/engine/, core/, developer/ide/, refactor, has-user-test

#10376 auto: increment master version to 17.0.244
  HISTORY.md
  VERSION.md
Labels: auto

#10375 refactor(core): Move `km_core_state_context_*` tests to separate file
  core/tests/unit/kmnkbd/action_api.cpp
  core/tests/unit/kmnkbd/meson.build
  core/tests/unit/kmnkbd/state_context_api.cpp
Labels: core/, refactor

#10364 feat(developer): warn on gesture support for downlevel
  developer/src/kmc-kmn/build.sh
  developer/src/kmc-kmn/src/kmw-compiler/kmw-compiler-messages.ts
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
  developer/src/kmc-kmn/test/fixtures/kmw/validate_gesture.keyman-touch-layout
  developer/src/kmc-kmn/test/fixtures/kmw/validate_gesture.kmn
  developer/src/kmc-kmn/test/kmw/test-kmw-messages.ts
Labels: developer/, developer/compilers/, feat

#10371 fix(web): use KMW OSK font for "**" special-text in key hints
  web/src/engine/osk/src/input/gestures/browser/multitap.ts
  web/src/engine/osk/src/keyboard-layout/gesturePreviewHost.ts
  web/src/engine/osk/src/keyboard-layout/oskBaseKey.ts
  web/src/engine/osk/src/keyboard-layout/oskKey.ts
Labels: web/, fix, user-test-missing

#10374 docs(linux): Update sample settings
  docs/settings/linux/extensions.json
  docs/settings/linux/settings.json
Labels: linux/, docs

#10387 auto: increment master version to 17.0.245
  HISTORY.md
  VERSION.md
Labels: auto

#10386 chore(core): Ignore C++ symbols
  .github/workflows/deb-packaging.yml
  linux/debian/libkeymancore.symbols
  linux/scripts/deb-packaging.sh
Labels: linux/, core/, chore

#10373 fix(android): Fix OSK rotation issues
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/AdjustKeyboardHeightActivity.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Labels: android/, fix, android/engine/, android/app/, has-user-test

#10377 feat(core): add `km_core_state_context_debug` API 🌱
  core/include/keyman/keyman_core_api.h
  core/src/km_core_state_api.cpp
  core/tests/unit/kmnkbd/state_context_api.cpp
  linux/debian/libkeymancore.symbols
Labels: linux/, feat, core/, epic-core/9999-normalization

#10379 refactor(linux): use `km_core_state_context_debug` 🌱
  linux/ibus-keyman/src/engine.c
Labels: linux/, linux/engine/, refactor, epic-core/9999-normalization

#10380 refactor(windows): use `km_core_state_context_debug` 🌱
  windows/src/engine/keyman32/calldll.cpp
  windows/src/engine/keyman32/kmprocess.cpp
Labels: windows/, linux/, linux/engine/, windows/engine/, refactor, epic-core/9999-normalization

#10381 refactor(mac): remove unused context calls 🌱
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/CoreWrapperTests.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KMEngineTests.m
Labels: mac/, refactor, epic-core/9999-normalization

#10382 feat(core): normalize input context 🌱
  core/include/keyman/keyman_core_api.h
  core/src/km_core_state_api.cpp
  core/src/km_core_state_context_set_if_needed.cpp
  core/src/kmx/kmx_processor.hpp
  core/src/ldml/ldml_processor.hpp
  core/src/meson.build
  core/src/mock/mock_processor.hpp
  core/src/processor.hpp
  core/src/state.hpp
  core/tests/unit/kmnkbd/action_set_api.cpp
  core/tests/unit/kmnkbd/debug_api.cpp
  core/tests/unit/kmnkbd/state_context_api.cpp
  core/tests/unit/ldml/meson.build
  core/tests/unit/ldml/test_context_normalization.cpp
Labels: feat, core/, epic-core/9999-normalization

#10404 chore(core): Update symbols file 🌱
  linux/debian/libkeymancore.symbols
Labels: linux/, core/, chore, epic-core/9999-normalization

#10408 auto: increment master version to 17.0.246
  HISTORY.md
  VERSION.md
Labels: auto

#10346 fix(web): Add null check for changing the keyboard during typing
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
Labels: web/, fix, has-user-test, user-test-failed

#10411 chore(common): Update crowdin strings for Khmer
  android/KMAPro/kMAPro/src/main/res/values-km-rKH/strings.xml
  android/KMEA/app/src/main/res/values-km-rKH/strings.xml
  ios/engine/KMEI/KeymanEngine/km.lproj/Localizable.strings
  mac/Keyman4MacIM/Keyman4MacIM/km.lproj/Localizable.strings
  windows/src/desktop/kmshell/locale/km-KH/strings.xml
  windows/src/desktop/setup/locale/km-KH/strings.xml
Labels: windows/, android/, ios/, mac/, common/, android/engine/, android/app/, ios/engine/, windows/config/, chore

#10399 docs(common): Update website README.md
  docs/websites/README.md
Labels: common/, docs

#10409 docs(linux): Add documentation for Core API verification
  docs/core-api-verification.md
Labels: docs

#10406 fix(web): right-flick gesture-preview positioning
  web/src/engine/osk/src/keyboard-layout/gesturePreviewHost.ts
Labels: web/, fix

#10418 auto: increment master version to 17.0.247
  HISTORY.md
  VERSION.md
Labels: auto

#10398 refactor(mac): remove legacy Core context API calls 🌱
  mac/Keyman4MacIM/KeymanTests/TestAppDelegate.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/CoreWrapperTests.m
Labels: mac/, refactor, epic-core/9999-normalization

#10401 refactor(core): split context API from Core primary API 🌱
  core/include/keyman/keyman_core_api.h
  core/include/keyman/keyman_core_api_context.h
  core/meson.build
  core/src/action.cpp
  core/src/action.hpp
  core/src/context.hpp
  core/src/debug.hpp
  core/src/keyboard.hpp
  core/src/keyman_core.h
  core/src/km_core_action_api.cpp
  core/src/km_core_context_api.cpp
  core/src/km_core_debug_api.cpp
  core/src/km_core_keyboard_api.cpp
  core/src/km_core_options_api.cpp
  core/src/km_core_processevent_api.cpp
  core/src/km_core_state_api.cpp
  core/src/km_core_state_context_set_if_needed.cpp
  core/src/kmx/kmx_base.h
  core/src/kmx/kmx_options.h
  core/src/kmx/kmx_processor.cpp
  core/src/kmx/kmx_processor.hpp
  core/src/ldml/ldml_processor.hpp
  core/src/ldml/ldml_vkeys.hpp
  core/src/mock/mock_processor.hpp
  core/src/option.hpp
  core/src/path.hpp
  core/src/processor.hpp
  core/src/state.hpp
  core/tests/unit/kmnkbd/action_api.cpp
  core/tests/unit/kmnkbd/action_items.hpp
  core/tests/unit/kmnkbd/action_set_api.cpp
  core/tests/unit/kmnkbd/context_api.cpp
  core/tests/unit/kmnkbd/debug_api.cpp
  core/tests/unit/kmnkbd/debug_items.hpp
  core/tests/unit/kmnkbd/keyboard_api.cpp
  core/tests/unit/kmnkbd/options_api.cpp
  core/tests/unit/kmnkbd/state_api.cpp
  core/tests/unit/kmx/kmx.cpp
  core/tests/unit/ldml/ldml.cpp
  core/tests/unit/ldml/ldml_test_utils.hpp
  core/tests/unit/ldml/test_context_normalization.cpp
  windows/src/engine/keyman32/keymanengine.h
Labels: windows/, core/, windows/engine/, refactor, epic-core/9999-normalization

#10402 chore(mac): remove legacy Core action items references 🌱
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
Labels: mac/, chore, epic-core/9999-normalization

#10419 chore(core): ldml assert if queue functions are called 🌱
  core/include/keyman/keyman_core_api.h
  core/src/ldml/ldml_processor.cpp
Labels: core/, chore, m:normalization, epic-core/9999-normalization

#10337 fix(ios): banner image management
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/ios-host.js
Labels: ios/, fix, ios/engine/, has-user-test

#10356 feat(core): unescape u 🙀
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/src/util/util.ts
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
  common/web/types/test/util/test-unescape.ts
  core/src/ldml/ldml_markers.cpp
  core/src/ldml/ldml_processor.cpp
  core/tests/unit/ldml/test_transforms.cpp
  developer/src/kmc-ldml/src/compiler/empty-compiler.ts
  developer/src/kmc-ldml/src/compiler/tran.ts
  developer/src/kmc-ldml/test/fixtures/basic.txt
  developer/src/kmc-ldml/test/fixtures/sections/strs/hint-pua.xml
  developer/src/kmc-ldml/test/fixtures/sections/strs/invalid-illegal.xml
  developer/src/kmc-ldml/test/fixtures/sections/strs/warn-unassigned.xml
Labels: developer/, common/, developer/compilers/, feat, core/, common/web/

#10438 auto: increment master version to 17.0.248
  HISTORY.md
  VERSION.md
Labels: auto

#10393 chore(android): Update targetSdkVersion to 34
  android/KMAPro/kMAPro/build.gradle
  android/KMEA/app/build.gradle
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample2/app/build.gradle
  android/Tests/KeyboardHarness/app/build.gradle
  android/Tests/keycode/app/build.gradle
  oem/firstvoices/android/app/build.gradle
Labels: android/, oem/, android/engine/, android/app/, oem/fv/, oem/fv/android/, chore, has-user-test, user-test-failed, android/samples/

#10352 fix(web): cancels active gestures on globe-key use
  common/web/gesture-recognizer/src/engine/gestureRecognizer.ts
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, common/, fix, common/web/, has-user-test

#10417 fix(web): keyboard-documentation rendering mode
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, fix, has-user-test

#10362 fix(ios): multiple keyboard slide-in animations on app start
  ios/engine/KMEI/KeymanEngine/Classes/TextField.swift
  ios/engine/KMEI/KeymanEngine/Classes/TextView.swift
Labels: ios/, fix, ios/engine/, has-user-test

#10434 fix(web): U_ key id -> text for all subkeys; is now preprocessed
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  web/src/engine/osk/src/keyboard-layout/oskKey.ts
Labels: web/, common/, fix, common/web/

#10403 feat(core): infrastructure for normalization of output 🌱
  common/include/test_color.h
  core/include/keyman/keyman_core_api_context.h
  core/src/action.cpp
  core/src/action.hpp
  core/src/actions_normalize.cpp
  core/src/core_icu.h
  core/src/km_core_action_api.cpp
  core/src/km_core_state_api.cpp
  core/src/km_core_state_context_set_if_needed.cpp
  core/src/ldml/ldml_markers.hpp
  core/src/ldml/ldml_transforms.hpp
  core/src/meson.build
  core/tests/unit/kmnkbd/meson.build
  core/tests/unit/kmnkbd/test_actions_normalize.cpp
  core/tests/unit/ldml/ldml_test_source.cpp
Labels: common/, feat, core/, epic-core/9999-normalization

#10428 refactor(core): move context helpers to a new module 🌱
  core/src/context.hpp
  core/src/context_helpers.cpp
  core/src/km_core_state_context_set_if_needed.cpp
  core/src/meson.build
  core/tests/unit/kmnkbd/test_actions_normalize.cpp
Labels: core/, refactor, epic-core/9999-normalization

#10430 chore(core): add surrogate pair tests to test_actions_normalize 🌱
  core/tests/unit/kmnkbd/test_actions_normalize.cpp
Labels: core/, chore, epic-core/9999-normalization

#10425 chore(core): ldml shuffle some deck chairs 🌱
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_processor.hpp
Labels: core/, chore, epic-core/9999-normalization

#10395 chore(android/app): Update whatsnew for 17.0
  android/help/about/whatsnew.md
Labels: android/, chore

#10394 feat(core): cross-segment markers 🙀
  core/src/ldml/ldml_markers.cpp
  core/src/ldml/ldml_markers.hpp
  core/src/ldml/ldml_transforms.cpp
  core/tests/unit/ldml/test_transforms.cpp
Labels: feat, core/

#10455 auto: increment master version to 17.0.249
  HISTORY.md
  VERSION.md
Labels: auto

#7934 feat(web): suggestion banner UI enhancements - suggestion expanding + scrollable banner
  web/src/engine/osk/src/banner/banner.ts
  web/src/engine/osk/src/banner/bannerController.ts
  web/src/engine/osk/src/banner/bannerScrollState.ts
  web/src/engine/osk/src/banner/bannerView.ts
  web/src/engine/osk/src/banner/suggestionBanner.ts
  web/src/engine/osk/src/keyboard-layout/getTextMetrics.ts
  web/src/engine/osk/src/keyboard-layout/oskKey.ts
  web/src/engine/osk/src/views/oskView.ts
  web/src/resources/osk/kmwosk.css
  web/src/test/manual/web/prediction-mtnt/index.html
  web/src/test/manual/web/prediction-ui/index.html
Labels: web/, feat, has-user-test

#10413 chore(web): worker sourcemap cleanup, mobile app webview sourcemap compat
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
  common/web/lm-worker/build.sh
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/Storage.swift
  ios/engine/build.sh
  web/src/app/webview/build.sh
  web/src/tools/building/sourcemap-root/index.ts
Labels: web/, android/, ios/, common/, android/engine/, ios/engine/, common/web/, chore

#10466 auto: increment master version to 17.0.250
  HISTORY.md
  VERSION.md
Labels: auto

#10463 fix(android/engine): Add RECEIVER_EXPORTED flag for broadcast receiver
  android/KMEA/app/src/main/java/com/keyman/engine/cloud/CloudDownloadMgr.java
Labels: android/, fix, android/engine/, has-user-test

#10441 feat(core): ldml to use action struct 🌱
  core/include/keyman/keyman_core_api.h
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_processor.hpp
  core/tests/unit/kmnkbd/test_actions_normalize.cpp
  core/tests/unit/ldml/keyboards/k_102_keytest.xml
  core/tests/unit/ldml/ldml.cpp
Labels: feat, core/, epic-core/9999-normalization

#10437 fix(web): osk responsiveness to held modifiers on legacy kbds 🧓
  web/src/app/browser/src/hardwareEventKeyboard.ts
Labels: web/, fix, has-user-test

#10465 fix(android/engine): Skip final globe key action
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Labels: android/, fix, android/engine/, has-user-test

#10443 feat(developer): marker normalization in .ts 🙀
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
  core/include/ldml/keyman_core_ldml.h
  core/include/ldml/keyman_core_ldml.ts
  core/src/ldml/ldml_markers.cpp
  core/tests/unit/ldml/test_transforms.cpp
Labels: developer/, common/, feat, core/, common/web/

#10445 fix(android): hardware keystrokes now include mnemonic processing 🧓
  web/src/app/browser/src/hardwareEventKeyboard.ts
  web/src/app/webview/src/keymanEngine.ts
  web/src/app/webview/src/passthroughKeyboard.ts
  web/src/engine/main/src/hardKeyboard.ts
  web/src/engine/main/src/index.ts
Labels: web/, android/, fix, has-user-test

#10482 auto: increment master version to 17.0.251
  HISTORY.md
  VERSION.md
Labels: auto

#10489 fix(developer): include ldml techpreview imports in msi 🌱
  developer/src/inst/kmdev.wxs
Labels: developer/, fix, epic-core/9999-normalization

#10436 feat(developer): New LDML Keyboard Project form 🌱
  common/windows/delphi/general/utilfiletypes.pas
  developer/src/kmconvert/Keyman.Developer.System.KMConvertParameters.pas
  developer/src/kmconvert/Keyman.Developer.System.KeymanConvertMain.pas
  developer/src/kmconvert/Keyman.Developer.System.LdmlKeyboardProjectTemplate.pas
  developer/src/kmconvert/data/ldml-keyboard/HISTORY.md
  developer/src/kmconvert/data/ldml-keyboard/LICENSE.md
  developer/src/kmconvert/data/ldml-keyboard/README.md
  developer/src/kmconvert/data/ldml-keyboard/source/readme.htm
  developer/src/kmconvert/data/ldml-keyboard/source/welcome.htm
  developer/src/kmconvert/kmconvert.dpr
  developer/src/kmconvert/kmconvert.dproj
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmNewLDMLKeyboardProjectParameters.dfm
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmNewLDMLKeyboardProjectParameters.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmNewProject.dfm
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmNewProject.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
Labels: developer/, common/, feat, developer/ide/, has-user-test, epic-core/9999-normalization

#10492 fix(common): preserve const enums in tsc build 🌱
  common/web/types/tsconfig.json
  developer/src/kmc-kmn/tsconfig.json
Labels: developer/, common/, developer/compilers/, fix, common/web/, epic-core/9999-normalization

#10359 chore(developer): upgrade ngrok to v3
  developer/src/server/package.json
  developer/src/server/src/config.ts
  developer/src/server/src/index.ts
  developer/src/tike/dialogs/Keyman.Developer.UI.UfrmServerOptions.dfm
  developer/src/tike/dialogs/Keyman.Developer.UI.UfrmServerOptions.pas
  developer/src/tike/main/KeymanDeveloperOptions.pas
  package-lock.json
Labels: developer/, developer/ide/, chore, has-user-test

#10500 auto: increment master version to 17.0.252
  HISTORY.md
  VERSION.md
Labels: auto

#10484 fix(common): ldml: fix typo in kmc error message 🙀
  common/web/types/src/util/common-events.ts
Labels: common/, fix, common/web/

#10360 chore(developer): upgrade ngrok to v3 🍒 🏠
  common/windows/delphi/general/RegistryKeys.pas
  developer/src/server/package.json
  developer/src/server/src/config.ts
  developer/src/server/src/index.ts
  developer/src/tike/dialogs/Keyman.Developer.UI.UfrmServerOptions.dfm
  developer/src/tike/dialogs/Keyman.Developer.UI.UfrmServerOptions.pas
  developer/src/tike/main/KeymanDeveloperOptions.pas
  package-lock.json
Labels: developer/, stable, cherry-pick, common/, developer/ide/, chore, has-user-test

#10493 fix(developer): sentry-cli no longer injects into .d.ts 🌱
  developer/src/kmc/build.sh
Labels: developer/, developer/compilers/, fix, epic-core/9999-normalization

#10496 chore(developer): `--enable-source-maps` parameter for kmc wrapper
  developer/src/inst/node/kmc.cmd
Labels: developer/, chore

#10442 fix(android/engine): Fix OSK widths
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/AdjustKeyboardHeightActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/AndroidManifest.xml
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Labels: android/, fix, android/engine/, android/app/, has-user-test

#10459 feat(developer): LDML Keyboard Test Window 🌱
  developer/src/tike/actions/dmActionsDebugger.pas
  developer/src/tike/actions/dmActionsKeyboardEditor.pas
  developer/src/tike/child/Keyman.Developer.UI.Debug.UfrmLdmlKeyboardDebug.dfm
  developer/src/tike/child/Keyman.Developer.UI.Debug.UfrmLdmlKeyboardDebug.pas
  developer/src/tike/child/Keyman.Developer.UI.UfrmLdmlKeyboardEditor.dfm
  developer/src/tike/child/Keyman.Developer.UI.UfrmLdmlKeyboardEditor.pas
  developer/src/tike/child/UfrmEditor.pas
  developer/src/tike/debug/Keyman.System.Debug.DebugEvent.pas
  developer/src/tike/main/UfrmMain.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
Labels: developer/, feat, developer/ide/, has-user-test, epic-core/9999-normalization

#10460 fix(developer): Use XML mode for LDML keyboard editor 🌱
  developer/src/tike/child/Keyman.Developer.UI.UfrmLdmlKeyboardEditor.pas
Labels: developer/, fix, developer/ide/, epic-core/9999-normalization

#10461 fix(developer): support for char + code font in LDML keyboard editor 🌱
  developer/src/tike/actions/dmActionsDebugger.pas
  developer/src/tike/child/Keyman.Developer.UI.UfrmLdmlKeyboardEditor.pas
  developer/src/tike/main/UframeTextEditor.pas
  developer/src/tike/xml/app/editor/editor.js
Labels: developer/, fix, developer/ide/, epic-core/9999-normalization

#10508 fix(web): banner suggestion resizing after device rotation
  web/src/engine/osk/src/banner/banner.ts
  web/src/engine/osk/src/banner/bannerView.ts
  web/src/engine/osk/src/banner/suggestionBanner.ts
  web/src/engine/osk/src/views/oskView.ts
Labels: web/, fix, has-user-test

#10514 auto: increment master version to 17.0.253
  HISTORY.md
  VERSION.md
Labels: auto

#10462 refactor(developer): update app context as well as cached context for keyboard debuggers 🌱
  developer/src/tike/child/Keyman.Developer.UI.Debug.UfrmLdmlKeyboardDebug.pas
  developer/src/tike/child/UfrmDebug.pas
  developer/src/tike/debug/Keyman.System.Debug.DebugUtils.pas
  developer/src/tike/main/Keyman.System.KeymanCore.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
Labels: developer/, developer/ide/, refactor, has-user-test, epic-core/9999-normalization

#10464 feat(web): keystroke pre-processing unit tests 🧓
  common/web/keyboard-processor/src/text/codes.ts
  common/web/recorder/src/index.ts
  web/.mocharc.json
  web/common.inc.sh
  web/src/app/browser/build.sh
  web/src/app/browser/src/hardwareEventKeyboard.ts
  web/src/engine/main/src/hardKeyboard.ts
  web/src/test/auto/headless/app/browser/hardware-event-processing.tests.ts
Labels: web/, common/, feat, common/web/

#10475 feat(web): key-event rule processing unit tests for mnemonic, KMW 1.0 keyboards 🧓
  common/test/resources/json/keyboards/armenian.json
  common/test/resources/json/keyboards/sil_ipa.json
  common/test/resources/keyboards/armenian.js
  common/test/resources/keyboards/armenian.readme.md
  common/test/resources/keyboards/sil_ipa.js
  common/test/resources/keyboards/sil_ipa.readme.md
  common/web/keyboard-processor/src/keyboards/keyboardHarness.ts
  common/web/keyboard-processor/tests/node/keyboard-loading.js
  common/web/keyboard-processor/tests/node/non-positional-rules.js
  web/src/test/auto/headless/app/browser/hardware-event-processing.tests.ts
Labels: web/, common/, feat, common/web/

#10504 fix(web): touch-layout fontsize property use ⛲
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, fix, has-user-test

#10472 feat(developer): LDML keyboard test window marker support 🌱
  core/include/keyman/keyman_core_api_context.h
  core/src/actions_normalize.cpp
  core/src/context.hpp
  core/src/context_helpers.cpp
  core/src/km_core_context_api.cpp
  core/src/km_core_state_api.cpp
  core/tests/unit/kmnkbd/action_api.cpp
  core/tests/unit/kmnkbd/context_api.cpp
  core/tests/unit/kmnkbd/state_api.cpp
  core/tests/unit/kmnkbd/state_context_api.cpp
  core/tests/unit/kmx/kmx.cpp
  core/tests/unit/ldml/ldml.cpp
  core/tests/unit/ldml/test_context_normalization.cpp
  developer/src/tike/child/Keyman.Developer.UI.Debug.UfrmLdmlKeyboardDebug.dfm
  developer/src/tike/child/Keyman.Developer.UI.Debug.UfrmLdmlKeyboardDebug.pas
  developer/src/tike/child/Keyman.Developer.UI.UfrmLdmlKeyboardEditor.pas
  developer/src/tike/debug/Keyman.System.Debug.DebugEvent.pas
  developer/src/tike/debug/Keyman.UI.Debug.CharacterGridRenderer.pas
  developer/src/tike/main/Keyman.System.KeymanCore.pas
  linux/debian/libkeymancore.symbols
Labels: developer/, linux/, feat, core/, developer/ide/, has-user-test, epic-core/9999-normalization

#10473 fix(developer): use keyboard3 tag rather than DTD to identify LDML keyboard xml files 🌱
  developer/src/kmconvert/Keyman.Developer.System.LdmlKeyboardProjectTemplate.pas
  developer/src/tike/project/Keyman.Developer.System.Project.xmlLdmlProjectFile.pas
Labels: developer/, fix, developer/ide/, epic-core/9999-normalization

#10474 fix(developer): tidy up LDML keyboard project template 🌱
  developer/src/kmconvert/Keyman.Developer.System.LdmlKeyboardProjectTemplate.pas
Labels: developer/, fix, epic-core/9999-normalization

#10525 auto: increment master version to 17.0.254
  HISTORY.md
  VERSION.md
Labels: auto

#10517 feat(core): ldml marker normalization fix 🙀
  core/src/ldml/ldml_markers.cpp
  core/tests/unit/ldml/keyboards/k_008_transform_norm-test.xml
  core/tests/unit/ldml/keyboards/k_008_transform_norm.xml
  core/tests/unit/ldml/test_transforms.cpp
Labels: feat, core/

#10529 auto: increment master version to 17.0.255
  HISTORY.md
  VERSION.md
Labels: auto

#10527 feat(developer): ldml marker normalization fix 🙀
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
Labels: developer/, common/, feat, common/web/, epic-ldml

#10439 fix(core): Fix nuances when updating context 🌱
  core/src/context.hpp
  core/src/km_core_context_api.cpp
  core/src/km_core_state_context_set_if_needed.cpp
  core/src/mock/mock_processor.hpp
  core/tests/unit/kmnkbd/context_api.cpp
  core/tests/unit/kmnkbd/state_context_api.cpp
Labels: fix, core/, has-user-test, epic-core/9999-normalization

#10480 refactor(linux): Use `km_core_actions` struct instead of queue 🌱
  linux/ibus-keyman/src/engine.c
Labels: linux/, linux/engine/, refactor, has-user-test, epic-core/9999-normalization

#10483 chore(linux): Build with webkitgtk 4.1 instead of 4.0
  docs/linux/keyman-config.md
  docs/settings/linux/.devcontainer/Dockerfile
  linux/debian/changelog
  linux/debian/control
  linux/keyman-config/keyman_config/downloadkeyboard.py
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/keyman_config/keyboard_options_view.py
  linux/keyman-config/keyman_config/welcome.py
Labels: linux/, has-user-test

#10540 auto: increment master version to 17.0.256
  HISTORY.md
  VERSION.md
Labels: auto

#10532 fix(developer): support surrogate pairs in ldml debugger 🌱
  developer/src/tike/child/Keyman.Developer.UI.Debug.UfrmLdmlKeyboardDebug.pas
  developer/src/tike/debug/debugdeadkeys.pas
Labels: developer/, fix, developer/ide/, epic-core/9999-normalization

#10538 chore(core): `process_output_action` needs const `output_utf32` parameter 🌱
  linux/ibus-keyman/src/engine.c
Labels: linux/, linux/engine/, core/, chore, epic-core/9999-normalization

#10537 fix(linux): packaging on Ubuntu and Debian servers should give message instead of warning because we don't have patched ibus there
  linux/debian/rules
  linux/ibus-keyman/meson.build
  linux/ibus-keyman/meson_options.txt
  linux/ibus-keyman/src/engine.c
  linux/ibus-keyman/tests/ibusimcontext.c
Labels: linux/, fix, linux/engine/

#10528 feat(developer): turn on developer side normalization 🙀
  common/web/types/src/kmx/kmx-plus.ts
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/src/util/util.ts
  core/tests/unit/ldml/ldml_test_source.cpp
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/tran.ts
  developer/src/kmc-ldml/test/fixtures/basic.txt
  developer/src/kmc-ldml/test/fixtures/sections/keys/maximal.xml
  developer/src/kmc-ldml/test/fixtures/sections/tran/tran-vars.xml
  developer/src/kmc-ldml/test/helpers/index.ts
  developer/src/kmc-ldml/test/test-keys.ts
  developer/src/kmc-ldml/test/test-layr.ts
  developer/src/kmc-ldml/test/test-tran.ts
Labels: developer/, common/, developer/compilers/, feat, core/, common/web/

#10564 auto: increment master version to 17.0.257
  HISTORY.md
  VERSION.md
Labels: auto

#10506 fix(web): OSK resource-loading promise's font-wait ⛲
  web/src/engine/dom-utils/src/stylesheets.ts
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, fix

#10507 fix(web): documentation-keyboard font size, font scaling ⛲
  web/src/app/browser/src/keymanEngine.ts
  web/src/engine/osk/src/views/oskView.ts
  web/src/engine/osk/src/visualKeyboard.ts
  web/src/test/manual/web/build-visual-keyboard/index.html
Labels: web/, fix

#10535 fix(web): proper await for special-osk font, use of it in key scaling ⛲
  web/src/engine/osk/src/keyboard-layout/oskKey.ts
  web/src/engine/osk/src/views/oskView.ts
  web/src/engine/osk/src/visualKeyboard.ts
  web/src/resources/osk/kmwosk.css
Labels: web/, fix, has-user-test

#10555 fix(web): ensure use of actual key-cap / label font in key-scale ops ⛲
  web/src/engine/osk/src/keyboard-layout/oskKey.ts
  web/src/test/manual/web/pr10506/dotty_keys.js
  web/src/test/manual/web/pr10506/dotty_keys/source/dotty_keys.keyman-touch-layout
Labels: web/, fix, has-user-test

#10566 docs: Update websites README.md
  docs/websites/README.md
Labels: common/, docs

#10558 fix(developer): kmc exit needs to wait for Sentry
  developer/src/common/web/utils/src/KeymanSentry.ts
  developer/src/kmc/src/commands/analyze.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildWindowsPackageInstaller/index.ts
  developer/src/kmc/src/kmc.ts
  developer/src/kmc/src/util/sysexits.ts
Labels: developer/, developer/compilers/, fix

#10559 fix(developer): make sourcePath calculation for kmc-keyboard-info more lenient
  developer/src/kmc/src/util/calculateSourcePath.ts
Labels: developer/, developer/compilers/, fix

#10560 chore(developer): disable .js output for LDML keyboard compiler for 17.0
  developer/src/kmc-ldml/src/compiler/compiler.ts
Labels: developer/, developer/compilers/, chore

#10561 chore(linux): Replace Lunar with Noble
  .github/workflows/deb-packaging.yml
  linux/.pbuilderrc
  linux/scripts/cow.sh
  linux/scripts/deb.sh
  linux/scripts/launchpad.sh
Labels: linux/, chore

#10573 chore(linux): Adjust test expectations for ICU >= 73
  linux/ibus-keyman/src/test/keymanutil_tests.c
Labels: linux/, linux/engine/, chore

#10579 auto: increment master version to 17.0.258
  HISTORY.md
  VERSION.md
Labels: auto

#10574 chore(linux): Build with webkitgtk 4.1 instead of 4.0 🍒 🏠
  docs/settings/linux/.devcontainer/Dockerfile
  linux/README.md
  linux/debian/changelog
  linux/debian/control
  linux/keyman-config/keyman_config/downloadkeyboard.py
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/keyman_config/options.py
  linux/keyman-config/keyman_config/welcome.py
Labels: linux/, stable, cherry-pick, linux/config/, chore

#10568 chore(developer): add unicode-license.txt for ldml keyboards data
  developer/src/inst/kmdev.wxs
  developer/src/kmc/build.sh
  developer/src/kmc/package.json
  resources/standards-data/ldml-keyboards/readme.md
  resources/standards-data/ldml-keyboards/unicode-license.txt
Labels: developer/, common/, developer/compilers/, common/resources/, chore
