Repository keymanapp/keyman, pull requests merged in 2024-03, with the labels that each got.

#10818 fix(developer): make sure scroll bar appears when needed in global welcome
  developer/src/tike/xml/project/project.css
Labels: developer/, fix, developer/ide/

#10819 chore(common): loosen .keyman-touch-layout schema layer id requirements
  common/schemas/keyman-touch-layout/README.md
  common/schemas/keyman-touch-layout/keyman-touch-layout.spec.json
Labels: common/, chore

#10867 refactor(developer): cleanup kmn compiler message namespaces
  developer/src/kmc-kmn/src/compiler/kmn-compiler-messages.ts
  developer/src/kmc-kmn/src/kmw-compiler/kmw-compiler-messages.ts
  developer/src/kmc-kmn/test/test-messages.ts
Labels: developer/, developer/compilers/, refactor

#10589 fix(ios): context-initial diacritic handling
  ios/engine/KMEI/KeymanEngine/Classes/Extension/String+Helpers.swift
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeymanWebViewController.swift
Labels: ios/, fix, ios/engine/, has-user-test, user-test-failed

#10888 feat(developer): adds kmc message command
  developer/src/common/web/utils/index.ts
  developer/src/common/web/utils/src/markdown.ts
  developer/src/kmc-analyze/src/osk-character-use/index.ts
  developer/src/kmc-keyboard-info/src/keyboard-info-compiler-messages.ts
  developer/src/kmc-keyboard-info/src/keyboard-info-compiler.ts
  developer/src/kmc-keyboard-info/test/test-keyboard-info-compiler-messages.ts
  developer/src/kmc-kmn/src/compiler/kmn-compiler-messages.ts
  developer/src/kmc-model-info/src/model-info-compiler-messages.ts
  developer/src/kmc-model-info/src/model-info-compiler.ts
  developer/src/kmc-model-info/test/test-model-info-compiler-messages.ts
  developer/src/kmc/src/commands/messageCommand.ts
  developer/src/kmc/src/kmc.ts
  developer/src/kmc/src/messages/infrastructureMessages.ts
  developer/src/kmc/src/messages/messageNamespaces.ts
  developer/src/kmc/src/util/extendedCompilerOptions.ts
Labels: developer/, developer/compilers/, feat

#10825 test(developer): kmc unit test infrastructure messages
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/test/fixtures/.gitignore
  developer/src/kmc/test/fixtures/kpj-1.0/hint_project_is_version_10.kmn
  developer/src/kmc/test/fixtures/kpj-1.0/hint_project_is_version_10.kpj
  developer/src/kmc/test/fixtures/kpj-1.0/hint_project_is_version_10.kps
  developer/src/kmc/test/test-infrastructureMessages.ts
Labels: developer/, developer/compilers/, chore

#10885 fix(android): handle surrogate pairs in selection range indexing
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
Labels: android/, fix, android/engine/, has-user-test

#10914 auto: increment beta version to 17.0.281
  HISTORY.md
  VERSION.md
Labels: auto

#10911 chore: merge master into windows-updates 💽
  .github/workflows/deb-packaging.yml
  HISTORY.md
  VERSION.md
  android/help/android_images/dist-install1-ap.png
  android/help/android_images/dist-storage-permission-ap.png
  android/help/android_images/english-dictionaries-ap.png
  android/help/android_images/settings-khmer-info-ap.png
  android/help/android_images/settings-suggestions-ap.png
  android/help/android_images/settings1-ap.png
  android/help/android_images/settings2-ap.png
  android/help/android_images/settings3-ap.png
  android/help/android_images/settings4-ap.png
  android/help/android_images/settings5-ap.png
  android/help/android_images/settings7-ap.png
  android/help/android_images/themed-banner.png
  android/help/basic/index.md
  android/help/basic/using-keyman-browser.md
  android/help/basic/using-the-banner.md
  android/help/context/gestures.md
  android/help/context/index.md
  android/help/context/menu-phone.md
  android/help/context/menu-tablet.md
  android/help/index.md
  android/help/start/enabling-system-keyboard.md
  common/web/keyboard-processor/src/index.ts
  common/web/keyboard-processor/src/text/outputTarget.ts
  common/web/keyboard-processor/src/text/stringDivergence.ts
  common/web/keyboard-processor/tests/node/transcriptions.js
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/utils/src/index.ts
  common/web/utils/src/surrogates.ts
  core/src/ldml/ldml_transforms.cpp
  core/tests/unit/ldml/keyboards/ldml_test-test.xml
  core/tests/unit/ldml/keyboards/ldml_test.xml
  core/tests/unit/ldml/keyboards/meson.build
  developer/src/kmc-ldml/src/compiler/tran.ts
  linux/debian/changelog
  package-lock.json
  resources/build/increment-version.sh
  resources/build/version/src/fixupHistory.ts
  resources/build/version/src/index.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/osk/src/banner/suggestionBanner.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
  windows/src/desktop/kmshell/locale/pt-PT/strings.xml
Labels: web/, windows/, android/, developer/, linux/, common/, developer/compilers/, common/resources/, core/, common/web/, windows/config/, chore, epic-windows-updates

#10910 chore: merge master into linux-mcompile 🐘
  .github/workflows/deb-packaging.yml
  HISTORY.md
  VERSION.md
  android/help/android_images/dist-install1-ap.png
  android/help/android_images/dist-storage-permission-ap.png
  android/help/android_images/english-dictionaries-ap.png
  android/help/android_images/settings-khmer-info-ap.png
  android/help/android_images/settings-suggestions-ap.png
  android/help/android_images/settings1-ap.png
  android/help/android_images/settings2-ap.png
  android/help/android_images/settings3-ap.png
  android/help/android_images/settings4-ap.png
  android/help/android_images/settings5-ap.png
  android/help/android_images/settings7-ap.png
  android/help/android_images/themed-banner.png
  android/help/basic/index.md
  android/help/basic/using-keyman-browser.md
  android/help/basic/using-the-banner.md
  android/help/context/gestures.md
  android/help/context/index.md
  android/help/context/menu-phone.md
  android/help/context/menu-tablet.md
  android/help/index.md
  android/help/start/enabling-system-keyboard.md
  common/web/keyboard-processor/src/index.ts
  common/web/keyboard-processor/src/text/outputTarget.ts
  common/web/keyboard-processor/src/text/stringDivergence.ts
  common/web/keyboard-processor/tests/node/transcriptions.js
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/utils/src/index.ts
  common/web/utils/src/surrogates.ts
  core/src/ldml/ldml_transforms.cpp
  core/tests/unit/ldml/keyboards/ldml_test-test.xml
  core/tests/unit/ldml/keyboards/ldml_test.xml
  core/tests/unit/ldml/keyboards/meson.build
  developer/src/kmc-ldml/src/compiler/tran.ts
  linux/debian/changelog
  package-lock.json
  resources/build/increment-version.sh
  resources/build/version/src/fixupHistory.ts
  resources/build/version/src/index.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/osk/src/banner/suggestionBanner.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
  windows/src/desktop/kmshell/locale/pt-PT/strings.xml
Labels: web/, windows/, android/, developer/, linux/, common/, developer/compilers/, common/resources/, core/, common/web/, windows/config/, chore, epic-linux-mcompile

#10897 chore(linux): Update debian changelog
  linux/debian/changelog
Labels: linux/, chore

#10898 chore(linux): Update debian changelog 🍒
  linux/debian/changelog
Labels: linux/, cherry-pick, chore

#10905 fix(ios): cross-paragraph keyboard rules
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/InputViewController.swift
Labels: ios/, fix, ios/engine/, has-user-test

#10906 chore(developer): deploy compiler messages to help site
  developer/src/kmc/build.sh
  resources/build/help-keyman-com.sh
Labels: developer/, common/, developer/compilers/, common/resources/, chore

#10925 auto: increment master version to 18.0.9
  HISTORY.md
  VERSION.md
Labels: auto

#10926 auto: increment beta version to 17.0.282
  HISTORY.md
  VERSION.md
Labels: auto

#10903 fix(developer): move osk.ts from developer-utils to kmc-kmn
  developer/src/common/web/utils/README.md
  developer/src/common/web/utils/index.ts
  developer/src/common/web/utils/package.json
  developer/src/common/web/utils/tsconfig.json
  developer/src/kmc-analyze/src/osk-character-use/index.ts
  developer/src/kmc-analyze/src/osk-rewrite-pua/index.ts
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/compiler/osk.ts
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
  developer/src/kmc-kmn/src/main.ts
  package-lock.json
Labels: developer/, developer/compilers/, fix, has-user-test

#10927 fix(developer): hint text special characters
  developer/src/tike/xml/layoutbuilder/builder.js
Labels: developer/, fix, developer/ide/, has-user-test

#10917 docs(developer): kmc-ldml api documentation
  developer/docs/api/etc/kmc-analyze.api.md
  developer/docs/api/etc/kmc-keyboard-info.api.md
  developer/docs/api/etc/kmc-kmn.api.md
  developer/docs/api/etc/kmc-ldml.api.md
  developer/docs/api/etc/kmc-model-info.api.md
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/kmw-compiler-messages.ts
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-ldml/src/compiler/ldml-compiler-options.ts
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/src/main.ts
Labels: developer/, developer/compilers/, docs

#10918 chore(developer): consolidate external links in Developer messages
  developer/src/common/web/utils/index.ts
  developer/src/common/web/utils/src/keyman-urls.ts
  developer/src/kmc-analyze/src/messages.ts
  developer/src/kmc-keyboard-info/src/keyboard-info-compiler.ts
  developer/src/kmc-kmn/src/compiler/kmn-compiler-messages.ts
  developer/src/kmc-model-info/src/model-info-compiler.ts
  developer/src/kmc/src/commands/messageCommand.ts
  developer/src/server/src/handlers/inc/packages-json.ts
Labels: developer/, developer/compilers/, developer/ide/, chore

#10941 fix(developer): message export filename was title case
  developer/src/kmc/src/commands/messageCommand.ts
Labels: developer/, developer/compilers/, fix

#10944 auto: increment master version to 18.0.10
  HISTORY.md
  VERSION.md
Labels: auto

#10945 auto: increment beta version to 17.0.283
  HISTORY.md
  VERSION.md
Labels: auto

#10873 fix(android): fixes context-change detection for repeated-char cases
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboardJSHandler.java
  android/KMEA/app/src/main/java/com/keyman/engine/util/CharSequenceUtil.java
  android/KMEA/app/src/test/java/com/keyman/engine/util/CharSequenceUtilTest.java
Labels: android/, fix, android/engine/, has-user-test

#10934 fix(developer): search-term quote replacement was not global
  developer/src/kmc-model/src/model-defaults.ts
Labels: developer/, developer/compilers/, fix

#10946 fix(developer): fix for errant \uXXXX error
  developer/src/kmc-ldml/src/compiler/tran.ts
  developer/src/kmc-ldml/test/fixtures/sections/tran/tran-escape.xml
  developer/src/kmc-ldml/test/test-tran.ts
Labels: developer/, developer/compilers/, fix

#10948 fix(developer): support loose match for CompilerEvents
  developer/src/kmc-ldml/test/helpers/index.ts
  developer/src/kmc-ldml/test/test-helpers.ts
  developer/src/kmc-ldml/test/test-tran.ts
Labels: developer/, developer/compilers/, fix

#10907 refactor(oem/fv/android): Install fallback keyboard
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/DefaultLanguageResource.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/SystemKeyboard.java
Labels: android/, oem/, oem/fv/, oem/fv/android/, refactor, has-user-test

#10904 refactor(android/app): Move storage permission checks
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/CheckPermissions.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
Labels: android/, android/app/, refactor, has-user-test

#10951 fix(common): missing script exec bit
  resources/standards-data/ldml-keyboards/45/fetch-latest-cldr.sh
Labels: common/, common/resources/, fix

#10958 auto: increment beta version to 17.0.284
  HISTORY.md
  VERSION.md
Labels: auto

#10930 fix(ios): delayed banner
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/ios-host.js
Labels: ios/, fix, ios/engine/, has-user-test

#10932 fix(web): globe key highlighting
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, fix, has-user-test

#10940 fix(ios): changed build script prepRelease to fix sample builds 🏠
  ios/samples/KMSample1/KMSample1.xcodeproj/project.pbxproj
  ios/samples/KMSample1/KMSample1/ViewController.swift
  ios/samples/KMSample2/KMSample2.xcodeproj/project.pbxproj
  ios/samples/KMSample2/KMSample2/ViewController.swift
  ios/tools/prepRelease.sh
Labels: ios/, stable, fix, ios/samples/

#10935 chore(web): updates mtnt model used by test page
  web/src/test/manual/web/prediction-mtnt/nrc.en.mtnt.model.js
Labels: web/, chore

#10893 fix(developer): kmc keyboard info compiler no kmp error
  developer/src/kmc-keyboard-info/src/keyboard-info-compiler.ts
  developer/src/kmc-keyboard-info/test/fixtures/no-kmp/LICENSE.md
  developer/src/kmc-keyboard-info/test/fixtures/no-kmp/build/.gitattributes
  developer/src/kmc-keyboard-info/test/fixtures/no-kmp/build/khmer_angkor.js
  developer/src/kmc-keyboard-info/test/fixtures/no-kmp/build/khmer_angkor.keyboard_info
  developer/src/kmc-keyboard-info/test/fixtures/no-kmp/build/khmer_angkor.kmx
  developer/src/kmc-keyboard-info/test/fixtures/no-kmp/build/khmer_angkor.kvk
  developer/src/kmc-keyboard-info/test/fixtures/no-kmp/khmer_angkor.kpj
  developer/src/kmc-keyboard-info/test/fixtures/no-kmp/source/khmer_angkor.kps
  developer/src/kmc-keyboard-info/test/test-keyboard-info-compiler.ts
Labels: developer/, developer/compilers/, fix

#10919 fix(developer): Treat Right Shift as Shift in debugger
  developer/src/tike/child/UfrmDebug.pas
Labels: developer/, fix, developer/ide/, has-user-test

#10921 docs(developer): kmc-model api documentation
  developer/docs/api/etc/kmc-model.api.md
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-model/src/lexical-model-compiler.ts
  developer/src/kmc-model/src/lexical-model.ts
  developer/src/kmc-model/src/main.ts
  developer/src/kmc-model/src/model-compiler-messages.ts
Labels: developer/, developer/compilers/, docs

#10922 docs(developer): kmc-model-info api documentation
  developer/docs/api/etc/kmc-model-info.api.md
  developer/src/kmc-model-info/src/model-info-compiler-messages.ts
  developer/src/kmc-model-info/src/model-info-compiler.ts
Labels: developer/, developer/compilers/, docs

#10923 docs(developer): kmc-keyboard-info api documentation
  developer/docs/api/etc/kmc-keyboard-info.api.md
  developer/src/kmc-keyboard-info/src/keyboard-info-compiler-messages.ts
  developer/src/kmc-keyboard-info/src/keyboard-info-compiler.ts
Labels: developer/, developer/compilers/, docs

#10924 docs(developer): kmc-package api documentation
  developer/docs/api/etc/kmc-package.api.md
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/package-compiler-messages.ts
  developer/src/kmc-package/src/compiler/package-validation.ts
  developer/src/kmc-package/src/compiler/windows-package-installer-compiler.ts
  developer/src/kmc-package/src/main.ts
Labels: developer/, developer/compilers/, docs

#10950 fix(developer): normalize all input paths in .kps compiler
  common/web/types/src/package/kps-file.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/test/fixtures/normalize_paths/build/khmer_angkor.kmx
  developer/src/kmc-package/test/fixtures/normalize_paths/source/khmer_angkor.kps
  developer/src/kmc-package/test/test-package-compiler.ts
Labels: developer/, common/, developer/compilers/, fix, common/web/

#10936 fix(windows): GetKeyboardLanguage exits early on an invalid keyboard ID
  windows/src/desktop/kmshell/install/Keyman.Configuration.System.TIPMaintenance.pas
Labels: windows/, has-user-test

#10969 auto: increment beta version to 17.0.286
  HISTORY.md
  VERSION.md
Labels: auto

#10971 chore(web): improve the clarity of hints on OSK for Android
  web/src/resources/osk/kmwosk.css
Labels: web/, chore

#10976 auto: increment beta version to 17.0.287
  HISTORY.md
  VERSION.md
Labels: auto

#10978 auto: increment stable-16.0 version to 16.0.147
  HISTORY.md
  VERSION.md
Labels: stable, auto

#10949 chore(developer): resolve excessive-fatal-exception issue
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/test/fixtures/sections/tran/fail-bad-tran-2.xml
  developer/src/kmc-ldml/test/test-compiler-e2e.ts
  developer/src/kmc-ldml/test/test-tran.ts
Labels: work-in-progress, developer/, developer/compilers/, chore

#10788 fix(linux): Remove `ibus-keyman.post{inst,rm}` and verify that `ibus-daemon` is running when we start km-config
  linux/debian/changelog
  linux/debian/control
  linux/debian/ibus-keyman.postinst
  linux/debian/ibus-keyman.postrm
  linux/keyman-config/keyman_config/ibus_util.py
  linux/keyman-config/keyman_config/view_installed.py
  linux/keyman-config/km-package-install
  linux/keyman-config/tests/test_ibus_util.py
Labels: linux/, fix, linux/config/, has-user-test

#10982 auto: increment beta version to 17.0.288
  HISTORY.md
  VERSION.md
Labels: auto

#10848 test(developer): kmc keyboard info compiler messages unit tests
  developer/src/kmc-keyboard-info/src/keyboard-info-compiler.ts
  developer/src/kmc-keyboard-info/test/fixtures/invalid-license/invalid_license.md
  developer/src/kmc-keyboard-info/test/fixtures/no-kmp/build/khmer_angkor.keyboard_info
  developer/src/kmc-keyboard-info/test/fixtures/no-kmp/build/khmer_angkor.kvk
  developer/src/kmc-keyboard-info/test/fixtures/no-kmp/khmer_angkor.kpj
  developer/src/kmc-keyboard-info/test/fixtures/no-license-in-kps-sources/build/.gitattributes
  developer/src/kmc-keyboard-info/test/fixtures/no-license-in-kps-sources/build/khmer_angkor.js
  developer/src/kmc-keyboard-info/test/fixtures/no-license-in-kps-sources/build/khmer_angkor.kmx
  developer/src/kmc-keyboard-info/test/fixtures/no-license-in-kps-sources/source/khmer_angkor.kps
  developer/src/kmc-keyboard-info/test/test-keyboard-info-compiler-messages.ts
  developer/src/kmc-keyboard-info/test/test-keyboard-info-compiler.ts
Labels: developer/, developer/compilers/

#10983 fix(developer): getFontFamily now returns null if ttfMeta.promise errors
  developer/src/kmc-keyboard-info/src/font-family.ts
  developer/src/kmc-keyboard-info/test/fixtures/font-file-cannot-be-read/shared/fonts/khmer/mondulkiri/font_file_cannot_be_read.ttf
  developer/src/kmc-keyboard-info/test/test-keyboard-info-compiler-messages.ts
Labels: developer/, developer/compilers/, fix

#10985 docs(android/app): Add data privacy policy page
  android/help/about/index.md
  android/help/about/privacy.md
  android/help/index.md
Labels: android/, docs, has-user-test

#10987 docs(android/app): Add data privacy policy page 🏠 🍒
  android/help/about/index.md
  android/help/about/privacy.md
  android/help/index.md
Labels: android/, stable, docs

#10988 auto: increment stable-16.0 version to 16.0.148
  HISTORY.md
  VERSION.md
Labels: stable, auto

#10977 fix(developer): min Keyman version for LDML is 17.0
  common/web/types/src/kmx/kmx-builder.ts
  developer/src/kmc-ldml/test/fixtures/basic.txt
Labels: developer/, common/, developer/compilers/, fix, common/web/

#10990 auto: increment beta version to 17.0.289
  HISTORY.md
  VERSION.md
Labels: auto

#10974 fix(common): add unit test for --debug flag for builder
  resources/build/test/debug-deps/child/build.sh
  resources/build/test/debug-deps/child/dep/build.sh
  resources/build/test/debug-deps/dep/build.sh
  resources/build/test/debug-deps/test.sh
  resources/build/test/test.sh
Labels: common/, common/resources/, fix

#11011 auto: increment beta version to 17.0.290
  HISTORY.md
  VERSION.md
Labels: auto

#11012 auto: increment master version to 18.0.11
  HISTORY.md
  VERSION.md
Labels: auto

#10956 fix(ios): selection range sync for long contexts
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/ios-host.js
  web/src/app/webview/src/contextManager.ts
Labels: web/, ios/, fix, ios/engine/, has-user-test

#11021 auto: increment beta version to 17.0.291
  HISTORY.md
  VERSION.md
Labels: auto

#10877 chore(mac): clean up code obsoleted by core
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodBrowserClientEventHandler.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodBrowserClientEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodBrowserClientEventHandlerProtected.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandlerProtected.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodSafariClientEventHandler.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodSafariClientEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KeySender.m
  mac/Keyman4MacIM/KeymanTests/InputMethodTests.m
  mac/Keyman4MacIM/KeymanTests/KMInputMethodBrowserClientEventHandlerTests.m
Labels: mac/, chore

#10860 fix(linux): Replace deprecated `pkg_resources` module with `packaging.version`
  linux/debian/control
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/keyman_config/list_installed_kmp.py
  linux/keyman-config/km-package-install
  linux/keyman-config/setup.py
Labels: linux/, fix, linux/config/, has-user-test

#11027 auto: increment master version to 18.0.12
  HISTORY.md
  VERSION.md
Labels: auto

#11028 auto: increment beta version to 17.0.292
  HISTORY.md
  VERSION.md
Labels: auto

#10991 fix(developer): remove unused keyboard info compiler messages
  developer/src/kmc-keyboard-info/src/keyboard-info-compiler-messages.ts
Labels: developer/, developer/compilers/, fix

#10995 fix(developer): font file meta data is invalid error
  developer/src/kmc-keyboard-info/src/font-family.ts
  developer/src/kmc-keyboard-info/src/keyboard-info-compiler-messages.ts
  developer/src/kmc-keyboard-info/src/keyboard-info-compiler.ts
  developer/src/kmc-keyboard-info/test/fixtures/font-file-cannot-be-read/shared/fonts/khmer/mondulkiri/font_file_cannot_be_read.ttf
  developer/src/kmc-keyboard-info/test/fixtures/font-meta-data-is-invalid/shared/fonts/khmer/mondulkiri/font-meta-data-is-invalid.ttf
  developer/src/kmc-keyboard-info/test/test-keyboard-info-compiler-messages.ts
Labels: developer/, developer/compilers/, fix

#11039 auto: increment beta version to 17.0.293
  HISTORY.md
  VERSION.md
Labels: auto

#11013 chore(oem/fv): Update keyboard versions in keyboards.csv
  oem/firstvoices/keyboards.csv
Labels: android/, ios/, oem/, oem/fv/, chore

#11009 fix(developer): suppress emission of new empty fields in package editor
  common/windows/delphi/packages/PackageInfo.pas
Labels: developer/, common/, fix

#11016 fix(developer): return after calling await exitProcess
  developer/src/kmc/src/commands/analyze.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildWindowsPackageInstaller/index.ts
Labels: developer/, developer/compilers/, fix

#10986 chore(core): refresh API docs for 17.0
  core/doc/markdown_files/index.md
  core/include/keyman/keyman_core_api.h
  core/include/keyman/keyman_core_api_context.h
  core/tools/api-header-extractor/build.sh
  core/tools/api-header-extractor/package.json
  core/tools/api-header-extractor/src/index.ts
  core/tools/api-header-extractor/tsconfig.json
Labels: core/, chore

#11056 auto: increment beta version to 17.0.294
  HISTORY.md
  VERSION.md
Labels: auto

#11063 chore(android,windows): Update crowdin strings for French
  android/KMAPro/kMAPro/src/main/res/values-fr-rFR/strings.xml
  android/KMEA/app/src/main/res/values-fr-rFR/strings.xml
  windows/src/desktop/kmshell/locale/fr/strings.xml
Labels: windows/, android/, android/engine/, android/app/, windows/config/, chore

#11064 chore(common): Fix missing entries in HISTORY.md
  HISTORY.md
Labels: common/, chore

#11047 fix(developer): catch sharing violation when saving mru
  developer/src/tike/main/mrulist.pas
Labels: developer/, fix, developer/ide/

#11049 fix(developer): capture alt shortcuts in LDML keyboard debugger
  developer/src/tike/child/Keyman.Developer.UI.Debug.UfrmLdmlKeyboardDebug.pas
  developer/src/tike/child/UfrmDebug.pas
Labels: developer/, fix, developer/ide/

#11051 fix(developer): correct path for kmc sourcemaps in sentry upload
  developer/src/common/web/utils/index.ts
  developer/src/common/web/utils/package.json
  developer/src/common/web/utils/src/KeymanSentry.ts
  developer/src/kmc/build.sh
  developer/src/kmc/src/kmc.ts
  developer/src/kmc/src/util/TestKeymanSentry.ts
  developer/src/kmc/src/util/kmcSentryOptions.ts
  developer/src/server/package.json
  package-lock.json
Labels: developer/, developer/compilers/, fix, developer/ide/

#11069 auto: increment beta version to 17.0.295
  HISTORY.md
  VERSION.md
Labels: auto

#10939 docs(developer): add help site links
  developer/src/tike/child/Keyman.Developer.UI.UfrmLdmlKeyboardEditor.pas
  developer/src/tike/help/Keyman.Developer.System.HelpTopics.pas
  developer/src/tike/main/UframeTextEditor.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmNewLDMLKeyboardProjectParameters.pas
Labels: developer/, developer/ide/, docs, has-user-test

#10863 feat(linux): Start dbus if not running
  linux/debian/control
  linux/keyman-config/keyman_config/__init__.py
  linux/keyman-config/keyman_config/custom_keyboards.py
  linux/keyman-config/keyman_config/gsettings.py
  linux/keyman-config/keyman_config/ibus_util.py
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/km-config
  linux/keyman-config/km-kvk2ldml
  linux/keyman-config/km-package-get
  linux/keyman-config/km-package-install
  linux/keyman-config/km-package-list-installed
  linux/keyman-config/km-package-uninstall
  linux/keyman-config/setup.py
  linux/keyman-config/tests/test_gsettings.py
Labels: linux/, feat, linux/config/, has-user-test

#11082 auto: increment beta version to 17.0.296
  HISTORY.md
  VERSION.md
Labels: auto

#11074 fix(developer): in model compiler, give correct key to shorter prefix words when a longer, higher-frequency word is also present
  developer/src/kmc-model/src/build-trie.ts
  developer/src/kmc-model/test/fixtures/example.qaa.wordlist-ordering/example.qaa.wordlist-ordering.model.ts
  developer/src/kmc-model/test/fixtures/example.qaa.wordlist-ordering/wordlist.tsv
  developer/src/kmc-model/test/test-compile-trie.ts
Labels: developer/, developer/compilers/, fix, has-user-test

#11080 fix(oem/fv/android): Only add default keyboard if no keyboards exist
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/DefaultLanguageResource.java
Labels: android/, oem/, fix, oem/fv/, oem/fv/android/, has-user-test

#11068 fix(core): correct typo in LDML test DTD reference
  core/tests/unit/ldml/keyboards/ldml_test-test.xml
Labels: core/, chore

#10931 chore(ios): removes the "Show Banner" settings option
  ios/engine/KMEI/KeymanEngine/Classes/Constants.swift
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeyboardMenuView.swift
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/SettingsViewController.swift
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/ios-host.js
Labels: ios/, ios/engine/, chore, has-user-test

#11089 chore(android): Update crowdin strings for Mon
  android/KMAPro/kMAPro/src/main/res/values-mnw-rMM/strings.xml
  android/KMEA/app/src/main/res/values-mnw-rMM/strings.xml
Labels: android/, android/engine/, android/app/, chore

#11090 chore(android): Update crowdin strings for Khmer
  android/KMAPro/kMAPro/src/main/res/values-km-rKH/strings.xml
  android/KMEA/app/src/main/res/values-km-rKH/strings.xml
Labels: android/, android/engine/, android/app/, chore

#11102 cherrypick(oem/fv): Update keyboard versions in keyboards.csv 🍒 🏠
  oem/firstvoices/keyboards.csv
Labels: android/, ios/, stable, cherry-pick, oem/, oem/fv/

#11066 fix(core): add an assert on code_points_to_delete 🌱
  core/src/km_core_action_api.cpp
Labels: fix, core/

#11065 fix(common): properly handle illegal UnicodeSets to prevent crash in kmc-ldml compiler 🙀
  common/web/types/src/kmx/element-string.ts
  developer/src/kmc-kmn/src/compiler/compiler.ts
Labels: developer/, common/, developer/compilers/, fix, common/web/

#11059 fix(core,developer): variable/marker substitution in sets and strings🙀
  common/web/types/src/kmx/kmx-plus.ts
  common/web/types/src/util/util.ts
  core/tests/unit/ldml/keyboards/k_007_transform_rgx-test.xml
  core/tests/unit/ldml/keyboards/k_007_transform_rgx.xml
  core/tests/unit/ldml/keyboards/k_210_marker-test.xml
  core/tests/unit/ldml/keyboards/k_210_marker.xml
  developer/src/kmc-ldml/src/compiler/tran.ts
  developer/src/kmc-ldml/src/compiler/vars.ts
Labels: developer/, common/, developer/compilers/, fix, core/, common/web/

#11070 fix(developer): in ldml compiler, generate compiler error if `from=` regex matches empty string 🙀
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/src/compiler/tran.ts
  developer/src/kmc-ldml/test/fixtures/sections/tran/fail-matches-nothing-1.xml
  developer/src/kmc-ldml/test/fixtures/sections/tran/fail-matches-nothing-2.xml
  developer/src/kmc-ldml/test/fixtures/sections/tran/fail-matches-nothing-3.xml
  developer/src/kmc-ldml/test/test-tran.ts
Labels: developer/, developer/compilers/, fix

#11071 fix(core): calculate offset correctly when replacing marker in transform (fixes crash)🙀
  core/src/ldml/ldml_processor.cpp
  core/tests/unit/ldml/keyboards/k_212_marker_11057-test.xml
  core/tests/unit/ldml/keyboards/k_212_marker_11057.xml
  core/tests/unit/ldml/keyboards/meson.build
Labels: fix, core/

#11075 feat(developer): support comma in modifiers 🙀
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/layr.ts
  developer/src/kmc-ldml/src/util/util.ts
  developer/src/kmc-ldml/test/fixtures/sections/keys/many-modifiers.xml
  developer/src/kmc-ldml/test/test-keys.ts
  developer/src/kmc-ldml/test/test-layr.ts
  developer/src/kmc-ldml/test/test-utils.ts
Labels: developer/, developer/compilers/, feat

#11100 fix(core): actions_normalize() length and dead store fix 🙀
  core/src/actions_normalize.cpp
Labels: core/

#11094 chore(core): optimize ldml_event_state::emit_difference() when no diff 🙀
  core/src/ldml/ldml_processor.cpp
Labels: core/, chore

#10929 fix(ios): bad initial in-app layout, delayed banner, deprecated banner toggle
  ios/engine/KMEI/KeymanEngine/Classes/Constants.swift
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeyboardMenuView.swift
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/SettingsViewController.swift
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/ios-host.js
Labels: ios/, fix, ios/engine/, has-user-test

#11085 feat(developer/compilers): better unit test for suggestion accessibility
  developer/src/kmc-model/build.sh
  developer/src/kmc-model/package.json
  developer/src/kmc-model/test/test-compile-trie.ts
  package-lock.json
Labels: developer/, developer/compilers/, feat

#11101 fix(core): fix pointer math in actions_normalize() 🙀
  core/src/actions_normalize.cpp
  core/src/km_core_action_api.cpp
  core/tests/unit/kmnkbd/test_actions_normalize.cpp
Labels: fix, core/

#11120 auto: increment beta version to 17.0.298
  HISTORY.md
  VERSION.md
Labels: auto

#11121 auto: increment master version to 18.0.13
  HISTORY.md
  VERSION.md
Labels: auto

#11096 chore(linux): Update debian changelog
  linux/debian/changelog
Labels: linux/, chore

#11032 fix(web): prevent layer switch key from erasing selection
  common/web/keyboard-processor/src/text/outputTarget.ts
  common/web/keyboard-processor/tests/node/transcriptions.js
  web/src/app/webview/src/contextManager.ts
Labels: web/, common/, fix, common/web/, has-user-test

#11109 fix(developer): prevent error when scrolling touch layout editor with no selected key
  developer/src/tike/xml/layoutbuilder/builder.js
Labels: developer/, fix, developer/ide/

#11110 fix(common): make `isEmptyTransform` return true if passed a nullish transform
  common/web/keyboard-processor/src/text/outputTarget.ts
Labels: common/, fix, common/web/

#11123 auto: increment master version to 18.0.14
  HISTORY.md
  VERSION.md
Labels: auto

#11124 auto: increment beta version to 17.0.299
  HISTORY.md
  VERSION.md
Labels: auto
