Repository keymanapp/keyman, pull requests merged in 2024-11, with the labels that each got.

#12489 test(developer): kmcmplib compiler unit tests 4
  developer/src/kmcmplib/tests/gtest-compiler-test.cpp
Labels: developer/, developer/compilers/, test

#12605 auto: increment master version to 18.0.134
  HISTORY.md
  VERSION.md
Labels: auto

#12606 fix(developer): ldml don't allow a uset as right-hand-side variable
  developer/src/kmc-ldml/src/compiler/ldml-compiler-messages.ts
  developer/src/kmc-ldml/src/compiler/tran.ts
  developer/src/kmc-ldml/test/fixtures/sections/tran/fail-IllegalTransformUsetRHS-1.xml
  developer/src/kmc-ldml/test/fixtures/sections/tran/ok-2.xml
  developer/src/kmc-ldml/test/test-tran.ts
Labels: developer/, developer/compilers/, fix

#12558 feat(core): rename `core.js` to `km-core.js` 🎼
  core/src/meson.build
  web/src/app/browser/build.sh
  web/src/app/webview/build.sh
  web/src/engine/core-processor/build.sh
  web/src/engine/core-processor/src/core-processor.ts
  web/src/engine/core-processor/tsconfig.json
  web/src/test/auto/dom/cases/core-processor/basic.spec.ts
Labels: web/, feat, core/, epic-web-core

#12559 feat(core): run tests from `KEYMAN_ROOT` instead of `web` 🎼
  web/src/test/auto/dom/web-test-runner.config.mjs
  web/src/test/auto/integrated/web-test-runner.config.mjs
  web/test.sh
Labels: web/, feat, core/, epic-web-core

#12618 auto: increment master version to 18.0.135
  HISTORY.md
  VERSION.md
Labels: auto

#12609 fix(developer): create Server config directory before options save 🍒 🏠
  developer/src/tike/main/KeymanDeveloperOptions.pas
Labels: developer/, stable, cherry-pick, fix, developer/ide/

#12594 fix(developer): handle paste of TSV into Wordlist grid
  developer/src/tike/child/Keyman.Developer.UI.UframeWordlistEditor.pas
Labels: developer/, fix, developer/ide/, has-user-test

#12595 fix(developer): handle missing files in kmc-kmn
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/test/fixtures/invalid-keyboards/error_cannot_read_bitmap_file.kmn
  developer/src/kmc-kmn/test/test-messages.ts
Labels: developer/, developer/compilers/, fix

#12596 fix(developer): handle missing files in kmc-model
  developer/src/kmc-model/src/build-trie.ts
  developer/src/kmc-model/src/lexical-model-compiler.ts
  developer/src/kmc-model/src/model-compiler-messages.ts
  developer/src/kmc-model/test/fixtures/invalid-models/example.qaa.missing-wordlist/example.qaa.missing-wordlist.model.ts
  developer/src/kmc-model/test/test-messages.ts
Labels: developer/, developer/compilers/, fix

#12599 refactor(ios): move ios Engine help in-repo
  ios/build.sh
  ios/docs/engine/KeyboardPickerBarButtonItem/index.md
  ios/docs/engine/KeyboardPickerButton/index.md
  ios/docs/engine/KeyboardPickerButton/setTitle.md
  ios/docs/engine/KeymanPackage/index.md
  ios/docs/engine/KeymanPackage/installableResourceSets.md
  ios/docs/engine/KeymanPackage/installableResources.md
  ios/docs/engine/KeymanPackage/key.md
  ios/docs/engine/KeymanPackage/pageURL.md
  ios/docs/engine/LanguageResource/LanguageResourceFullID.md
  ios/docs/engine/LanguageResource/index.md
  ios/docs/engine/Manager/addKeyboard.md
  ios/docs/engine/Manager/canAddNewKeyboards.md
  ios/docs/engine/Manager/currentKeyboard.md
  ios/docs/engine/Manager/dismissKeyboardPicker.md
  ios/docs/engine/Manager/downloadKeyboard.md
  ios/docs/engine/Manager/downloadLexicalModel.md
  ios/docs/engine/Manager/fontNameForKeyboard.md
  ios/docs/engine/Manager/hideKeyboard.md
  ios/docs/engine/Manager/index.md
  ios/docs/engine/Manager/keyboardHeight.md
  ios/docs/engine/Manager/removeKeyboard.md
  ios/docs/engine/Manager/setKeyboard.md
  ios/docs/engine/Manager/showKeyboard.md
  ios/docs/engine/Manager/showKeyboardPicker.md
  ios/docs/engine/Manager/spacebarText.md
  ios/docs/engine/Manager/stateForKeyboard.md
  ios/docs/engine/Manager/stateForLexicalModel.md
  ios/docs/engine/Manager/switchToNextKeyboard.md
  ios/docs/engine/PackageWebViewController/index.md
  ios/docs/engine/ResourceFileManager/getInstalledPackage.md
  ios/docs/engine/ResourceFileManager/index.md
  ios/docs/engine/ResourceFileManager/install.md
  ios/docs/engine/ResourceFileManager/installState.md
  ios/docs/engine/ResourceFileManager/installedPackages.md
  ios/docs/engine/ResourceFileManager/prepareKMPInstall.md
  ios/docs/engine/TextField/dismissKeyboard.md
  ios/docs/engine/TextField/index.md
  ios/docs/engine/TextField/setKeymanDelegate.md
  ios/docs/engine/TextView/dismissKeyboard.md
  ios/docs/engine/TextView/index.md
  ios/docs/engine/TextView/setKeymanDelegate.md
  ios/docs/engine/TypedKeymanPackage/findResource.md
  ios/docs/engine/TypedKeymanPackage/index.md
  ios/docs/engine/TypedKeymanPackage/installables.md
  ios/docs/engine/TypedKeymanPackage/installables_forLanguage.md
  ios/docs/engine/guides/in-app/index.md
  ios/docs/engine/guides/index.md
  ios/docs/engine/guides/system-keyboard/index.md
  ios/docs/engine/index.md
  resources/build/help-keyman-com.sh
Labels: ios/, common/, common/resources/, refactor

#12602 docs: Update websites readme with debug info
  docs/websites/README.md
Labels: common/, docs

#12608 fix(developer): create Server config directory before options save
  developer/src/tike/main/KeymanDeveloperOptions.pas
Labels: developer/, fix, developer/ide/

#12614 chore(linux): add support for Ubuntu 25.04 Plucky Puffin
  linux/scripts/launchpad.sh
Labels: linux/, chore

#12615 fix(linux): properly check for missing dependencies
  linux/keyman-config/km-config
Labels: linux/, fix, linux/config/

#12624 auto: increment master version to 18.0.136
  HISTORY.md
  VERSION.md
Labels: auto

#12627 fix(developer): handle merge commits when checking git log date
  developer/src/kmc/src/util/getLastGitCommitDate.ts
Labels: developer/, developer/compilers/, fix

#12628 fix(developer): handle merge commits when checking git log date 🍒 🏠
  developer/src/kmc/src/util/getLastGitCommitDate.ts
Labels: developer/, stable, cherry-pick, developer/compilers/, fix

#12617 fix(linux): set environment variable for rendering of downloads dialog 🍒 🏠
  linux/keyman-config/km-config
Labels: linux/, stable, fix, linux/config/, has-user-test

#12633 auto: increment stable-17.0 version to 17.0.333
  HISTORY.md
  VERSION.md
Labels: stable, auto

#12635 auto: increment master version to 18.0.137
  HISTORY.md
  VERSION.md
Labels: auto

#12625 fix(windows): correct engine help source path for upload
  resources/build/help-keyman-com.sh
Labels: windows/, common/, common/resources/, fix

#12629 fix(developer): use 'N' for nomatch store debug strings (regression in #12107)
  developer/src/kmcmplib/src/debugstore.h
Labels: developer/, developer/compilers/, fix

#12630 chore(developer): skip masaram_gondi in kmcmplib full test
  developer/src/kmcmplib/tests/get-test-source.sh
Labels: developer/, developer/compilers/, chore

#12622 feat(developer): analyze osk-char-use merge with existing mapping file
  developer/docs/help/reference/kmc/cli/reference.md
  developer/src/kmc-analyze/build.sh
  developer/src/kmc-analyze/package.json
  developer/src/kmc-analyze/src/analyzer-messages.ts
  developer/src/kmc-analyze/src/osk-character-use/index.ts
  developer/src/kmc-analyze/test/fixtures/khmer/KbdKhmr-with-sil_khmer.json
  developer/src/kmc-analyze/test/fixtures/khmer/KbdKhmr.json
  developer/src/kmc-analyze/test/fixtures/khmer/khmer_angkor.keyman-touch-layout
  developer/src/kmc-analyze/test/fixtures/khmer/khmer_angkor.kvks
  developer/src/kmc-analyze/test/fixtures/khmer/sil_khmer.keyman-touch-layout
  developer/src/kmc-analyze/test/fixtures/khmer/sil_khmer.kvks
  developer/src/kmc-analyze/test/helpers/index.ts
  developer/src/kmc-analyze/test/test-analyzer-messages.ts
  developer/src/kmc-analyze/test/test-osk-character-use.ts
  developer/src/kmc-analyze/test/tsconfig.json
  developer/src/kmc/src/commands/analyze.ts
Labels: developer/, developer/compilers/, feat

#12588 feat(developer): Report key 'address' in validation failures in layout compiler
  developer/src/kmc-kmn/src/compiler/kmn-compiler-messages.ts
  developer/src/kmc-kmn/src/kmw-compiler/kmw-compiler-messages.ts
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
Labels: developer/, developer/compilers/, feat

#12645 auto: increment master version to 18.0.138
  HISTORY.md
  VERSION.md
Labels: auto

#12613 fix(common): check for invalid markers
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
  developer/src/kmc-ldml/src/compiler/ldml-compiler-messages.ts
  developer/src/kmc-ldml/src/compiler/substitution-tracker.ts
  developer/src/kmc-ldml/src/compiler/vars.ts
  developer/src/kmc-ldml/test/fixtures/sections/vars/fail-invalid-identifiers.xml
  developer/src/kmc-ldml/test/test-vars.ts
Labels: developer/, common/, developer/compilers/, fix, common/web/

#12632 chore: update minimum versions
  android/docs/help/about/system-requirements.md
  developer/docs/help/guides/test/keyboard-touch-and-desktop.md
  docs/minimum-versions.md
  resources/build/minimum-versions.inc.sh
Labels: android/, developer/, common/, common/resources/, chore, docs

#12637 fix(windows): correct path to output file in publish step for fv keyboards
  oem/firstvoices/windows/src/inst/build.sh
Labels: windows/, oem/, fix, oem/fv/, oem/fv/windows/

#12642 chore(core): move API docs from help.keyman.com
  core/docs/BUILDING.md
  core/docs/api/background.md
  core/docs/api/building.md
  core/docs/api/changes.md
  core/docs/api/index.md
  core/docs/api/json-schema.md
  core/docs/api/keyboards.md
  core/docs/api/options.md
  core/docs/api/processor.md
  core/docs/api/state.md
  core/docs/internal/hotdoc.json
  core/docs/internal/markdown_files/index.md
  core/docs/internal/meson.build
  core/docs/internal/sitemap.txt
  core/docs/introspection.schema
  core/meson.build
  core/src/km_core_state_api.cpp
  core/tests/unit/kmnkbd/state_api.cpp
  core/tools/api-header-extractor/build.sh
  linux/scripts/dist.sh
  resources/build/help-keyman-com.sh
Labels: linux/, common/, common/resources/, core/, chore

#12603 refactor(developer): define output path in kmc-generate artifacts
  developer/src/kmc-generate/src/abstract-generator.ts
  developer/src/kmc-generate/src/keyman-keyboard-generator.ts
  developer/src/kmc-generate/src/ldml-keyboard-generator.ts
  developer/src/kmc-generate/src/lexical-model-generator.ts
  developer/src/kmc-generate/test/test-abstract-generator.ts
  developer/src/kmc-generate/test/test-keyman-keyboard-generator.ts
  developer/src/kmc-generate/test/test-ldml-keyboard-generator.ts
  developer/src/kmc-generate/test/test-lexical-model-generator.ts
  developer/src/kmc-generate/test/test-messages.ts
  developer/src/kmc-generate/test/tsconfig.json
Labels: developer/, developer/compilers/, refactor

#12659 auto: increment master version to 18.0.139
  HISTORY.md
  VERSION.md
Labels: auto

#12646 fix(windows): help links updated
  windows/src/engine/keyman/viskbd/UfrmVisualKeyboard.pas
Labels: windows/, fix, windows/engine/, has-user-test

#12079 feat(windows): add state machine to control installation including apply now update 💽
  common/windows/delphi/general/Keyman.System.ExecutionHistory.pas
  common/windows/delphi/general/RegistryKeys.pas
  oem/firstvoices/windows/src/xml/strings.xml
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/kmshell/kmshell.res
  windows/src/desktop/kmshell/main/BackgroundUpdateStateDiagram.md
  windows/src/desktop/kmshell/main/Keyman.Configuration.UI.UfrmStartInstall.dfm
  windows/src/desktop/kmshell/main/Keyman.Configuration.UI.UfrmStartInstall.pas
  windows/src/desktop/kmshell/main/Keyman.Configuration.UI.UfrmStartInstallNow.dfm
  windows/src/desktop/kmshell/main/Keyman.Configuration.UI.UfrmStartInstallNow.pas
  windows/src/desktop/kmshell/main/Keyman.System.DownloadUpdate.pas
  windows/src/desktop/kmshell/main/Keyman.System.RemoteUpdateCheck.pas
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
  windows/src/desktop/kmshell/main/UImportOlderVersionSettings.pas
  windows/src/desktop/kmshell/main/UfrmMain.pas
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/desktop/kmshell/util/UfrmDownloadProgress.pas
  windows/src/desktop/kmshell/util/utilkmshell.pas
  windows/src/desktop/kmshell/xml/menuframe_update.jpg
  windows/src/desktop/kmshell/xml/strings.xml
  windows/src/desktop/setup/RunTools.pas
  windows/src/desktop/setup/UfrmRunDesktop.pas
  windows/src/engine/insthelper/Keyman.System.Install.EnginePostInstall.pas
  windows/src/engine/keyman/keyman.dpr
  windows/src/engine/keyman/keyman.dproj
  windows/src/engine/keyman/main.pas
  windows/src/engine/kmcomapi/util/utilkeymanoption.pas
  windows/src/global/delphi/general/KeymanOptionNames.pas
Labels: windows/, common/, oem/, feat, core/, oem/fv/, oem/fv/windows/, windows/config/, windows/engine/, user-test-missing, epic-windows-updates

#12664 auto: increment master version to 18.0.140
  HISTORY.md
  VERSION.md
Labels: auto

#12663 chore(common): Add 17.0.330 - 17.0.332 to version history
  HISTORY.md
Labels: common/, chore

#12631 fix(developer): reconnect `--full-test` in kmcmplib build and enable for CI
  developer/src/kmcmplib/build.bat
  developer/src/kmcmplib/build.sh
  developer/src/kmcmplib/commands.inc.sh
  developer/src/kmcmplib/src/CompilerInterfaces.cpp
  developer/src/kmcmplib/tests/get-test-source.sh
  developer/src/kmcmplib/tests/util_callbacks.cpp
  resources/build/build-utils-ci.inc.sh
Labels: developer/, common/, developer/compilers/, common/resources/, fix

#12647 docs(developer): kmc-generate
  developer/docs/help/reference/kmc/cli/reference.md
Labels: developer/, docs

#12671 auto: increment master version to 18.0.141
  HISTORY.md
  VERSION.md
Labels: auto

#12675 chore(linux): add support for Ubuntu 25.04 Plucky Puffin
  .github/workflows/deb-packaging.yml
Labels: linux/, chore

#12676 auto: increment master version to 18.0.142
  HISTORY.md
  VERSION.md
Labels: auto

#12680 chore(common): Update CODEOWNERS
  docs/CODEOWNERS
Labels: common/, chore, docs

#12681 auto: increment master version to 18.0.143
  HISTORY.md
  VERSION.md
Labels: auto

#12689 auto: increment master version to 18.0.144
  HISTORY.md
  VERSION.md
Labels: auto

#12665 chore(developer): make package subfile description fully optional
  common/web/types/build.sh
  common/web/types/src/package/kmp-json-file.ts
  developer/src/common/web/utils/src/types/kps/kps-file.ts
  developer/src/kmc-copy/test/fixtures/expected/gff.ti_er.gff_tigrinya_eritrea/sil.ti_er.my_version.model.kps
  developer/src/kmc-copy/test/fixtures/expected/kmhmu_2008/kmhmu_2024.kps
  developer/src/kmc-copy/test/fixtures/projects/gff.ti_er.gff_tigrinya_eritrea/source/gff.ti_er.gff_tigrinya_eritrea.model.kps
  developer/src/kmc-copy/test/fixtures/projects/kmhmu_2008/source/kmhmu_2008.kps
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/kmp-inf-writer.ts
  developer/src/kmc-package/test/fixtures/example.qaa.sencoten/example.qaa.sencoten.model.kmp.intermediate.json
  developer/src/kmc-package/test/fixtures/khmer_angkor/ref/kmp.json
  developer/src/kmc-package/test/fixtures/kmp.json/kmp.json
  developer/src/kmc-package/test/fixtures/kmp_2.0/kmp.json
  developer/src/kmc-package/test/fixtures/withfolders.qaa.sencoten/withfolders.qaa.sencoten.model.kmp.intermediate.json
Labels: developer/, common/, developer/compilers/, common/web/, chore

#12666 fix(developer): box package compiler info fields
  developer/src/common/web/utils/src/types/kps/kps-file-reader.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
Labels: developer/, developer/compilers/, fix

#12604 fix(developer): correct whitespace handling in virtual keys and remove partially implemented virtual key series in kmcmplib compiler
  developer/src/kmcmplib/src/Compiler.cpp
  developer/src/kmcmplib/tests/get-test-source.sh
  developer/src/kmcmplib/tests/gtest-compiler-test.cpp
Labels: developer/, developer/compilers/, fix

#12683 feat(linux): use new km_core_keyboard_load_from_blob API method 🎼
  linux/ibus-keyman/src/engine.c
Labels: linux/, feat, linux/engine/, has-user-test, epic-web-core

#12698 auto: increment master version to 18.0.145
  HISTORY.md
  VERSION.md
Labels: auto

#12700 docs(windows): update emscripten bash setup
  docs/build/windows.md
Labels: windows/, docs

#12697 chore(common): Add link to onboarding doc to `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: common/, chore

#12708 auto: increment master version to 18.0.146
  HISTORY.md
  VERSION.md
Labels: auto

#12711 refactor(developer): `km_core_keyboard_load_from_blob` in debugger 🎼
  developer/src/tike/debug/Keyman.System.Debug.DebugCore.pas
  developer/src/tike/main/Keyman.System.KeymanCore.pas
Labels: developer/, developer/ide/, refactor, epic-web-core

#12612 test(developer): kmcmplib compiler unit tests 5
  developer/src/common/include/kmn_compiler_errors.h
  developer/src/kmc-kmn/src/compiler/kmn-compiler-messages.ts
  developer/src/kmcmplib/src/Compiler.cpp
  developer/src/kmcmplib/tests/gtest-compiler-test.cpp
Labels: developer/, developer/compilers/, fix, test

#12713 refactor(common): move remaining LDML keyboard types into `LdmlKeyboardTypes`
  common/web/types/src/main-ldml-keyboard.ts
  common/web/types/src/main.ts
  common/web/types/test/lexical-model-types.tests.ts
  developer/src/common/web/utils/src/types/kmx/kmx-plus-builder/build-elem.ts
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-ldml/src/compiler/empty-compiler.ts
  developer/src/kmc-ldml/src/compiler/linter-keycaps.ts
  developer/src/kmc-ldml/src/compiler/substitution-tracker.ts
  developer/src/kmc-ldml/src/compiler/tran.ts
  developer/src/kmc-ldml/src/compiler/vars.ts
  developer/src/kmc-ldml/test/helpers/index.ts
  developer/src/kmc-ldml/test/test-keys.ts
  developer/src/kmc-ldml/test/test-tran.ts
Labels: developer/, common/, developer/compilers/, common/web/, refactor

#12705 chore(core): rename test files
  core/tests/unit/kmnkbd/action_api.tests.cpp
  core/tests/unit/kmnkbd/action_set_api.tests.cpp
  core/tests/unit/kmnkbd/actions_get_api.tests.cpp
  core/tests/unit/kmnkbd/actions_normalize.tests.cpp
  core/tests/unit/kmnkbd/context_api.tests.cpp
  core/tests/unit/kmnkbd/debug_api.tests.cpp
  core/tests/unit/kmnkbd/keyboard_api.tests.cpp
  core/tests/unit/kmnkbd/kmx_context.tests.cpp
  core/tests/unit/kmnkbd/kmx_xstring.tests.cpp
  core/tests/unit/kmnkbd/meson.build
  core/tests/unit/kmnkbd/options_api.tests.cpp
  core/tests/unit/kmnkbd/state_api.tests.cpp
  core/tests/unit/kmnkbd/state_context_api.tests.cpp
  core/tests/unit/kmx/kmx_external_event.tests.cpp
  core/tests/unit/kmx/kmx_imx.tests.cpp
  core/tests/unit/kmx/kmx_key_list.tests.cpp
  core/tests/unit/kmx/meson.build
  core/tests/unit/ldml/context_normalization.tests.cpp
  core/tests/unit/ldml/core_ldml_min.tests.cpp
  core/tests/unit/ldml/kmx_plus.tests.cpp
  core/tests/unit/ldml/meson.build
  core/tests/unit/ldml/transforms.tests.cpp
  core/tests/unit/ldml/unicode.tests.cpp
  core/tests/unit/utftest/meson.build
  core/tests/unit/utftest/utftest.tests.cpp
Labels: core/, chore

#12706 chore(linux): rename test files
  docs/linux/README.md
  docs/linux/keyman-config.md
  docs/settings/linux/launch.json
  docs/settings/linux/settings.json
  linux/.gitignore
  linux/ibus-keyman/src/test/bcp47util.tests.c
  linux/ibus-keyman/src/test/keymanutil.tests.c
  linux/ibus-keyman/src/test/meson.build
  linux/keyman-config/run-tests.sh
  linux/keyman-config/tests/bcp47tag_tests.py
  linux/keyman-config/tests/canonical_language_code_utils_tests.py
  linux/keyman-config/tests/custom_keyboards_tests.py
  linux/keyman-config/tests/dconf_util_tests.py
  linux/keyman-config/tests/get_kmp_tests.py
  linux/keyman-config/tests/gnome_keyboards_util_tests.py
  linux/keyman-config/tests/gsettings_tests.py
  linux/keyman-config/tests/handle_install_tests.py
  linux/keyman-config/tests/ibus_util_tests.py
  linux/keyman-config/tests/install_kmp_tests.py
  linux/keyman-config/tests/kvk2ldml_tests.py
  linux/keyman-config/tests/lang_tags_map_tests.py
  linux/keyman-config/tests/package_install_completion_tests.py
  linux/keyman-config/tests/uninstall_kmp_tests.py
Labels: linux/, linux/config/, linux/engine/, chore, docs

#12726 auto: increment master version to 18.0.147
  HISTORY.md
  VERSION.md
Labels: auto

#12717 docs(android): Add android/docs/internal/README
  android/README.md
  android/docs/internal/README.md
Labels: android/, docs

#12702 test(common/web/types): unit tests for string-list
  common/web/types/.gitignore
  common/web/types/test/ldml-keyboard/test-string-list.ts
Labels: web/, common/, common/web/, test

#12684 feat(windows): keyboard load blob 🎼
  windows/src/engine/keyman32/K32_load.cpp
Labels: web/, windows/, linux/, common/, common/resources/, feat, core/, windows/engine/, docs, has-user-test, epic-web-core

#12710 refactor(developer): output number of tests when running on TC
  developer/src/common/web/utils/build.sh
  developer/src/kmc-analyze/build.sh
  developer/src/kmc-copy/build.sh
  developer/src/kmc-generate/build.sh
  developer/src/kmc-keyboard-info/build.sh
  developer/src/kmc-kmn/build.sh
  developer/src/kmc-ldml/build.sh
  developer/src/kmc-model-info/build.sh
  developer/src/kmc-model/build.sh
  developer/src/kmc-model/package.json
  developer/src/kmc-package/build.sh
  developer/src/kmc/build.sh
Labels: developer/, developer/compilers/, refactor

#12719 refactor(common): output number of tests when running on TC
  common/web/types/build.sh
Labels: common/, common/web/, refactor

#12725 fix(linux): disable assertions in release builds of ibus-keyman
  linux/ibus-keyman/meson.build
  linux/ibus-keyman/src/meson.build
Labels: linux/, fix, linux/engine/

#12742 auto: increment master version to 18.0.148
  HISTORY.md
  VERSION.md
Labels: auto

#12714 test(common/web/types): unit tests for unicodeset-parser-api
  common/web/types/test/ldml-keyboard/test-unicodeset-parser-api.ts
Labels: web/, common/, common/web/, test

#12721 feat(core,linux,developer,windows): implement loading KMX from blob 🍒
  core/include/keyman/keyman_core_api.h
  core/include/keyman/keyman_core_api_bits.h
  core/src/keyboard.cpp
  core/src/keyboard.hpp
  core/src/km_core_keyboard_api.cpp
  core/src/kmx/kmx_file.cpp
  core/src/kmx/kmx_processevent.h
  core/src/kmx/kmx_processor.cpp
  core/src/kmx/kmx_processor.hpp
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_processor.hpp
  core/src/meson.build
  core/src/mock/mock_processor.cpp
  core/src/mock/mock_processor.hpp
  core/src/util_normalize_table_generator.cpp
  core/subprojects/.gitignore
  core/subprojects/gtest.wrap
  core/tests/unit/km_core_keyboard_api.tests.cpp
  core/tests/unit/kmnkbd/action_set_api.tests.cpp
  core/tests/unit/kmnkbd/actions_get_api.tests.cpp
  core/tests/unit/kmnkbd/actions_normalize.tests.cpp
  core/tests/unit/kmnkbd/debug_api.tests.cpp
  core/tests/unit/kmnkbd/keyboard_api.tests.cpp
  core/tests/unit/kmnkbd/state_api.tests.cpp
  core/tests/unit/kmnkbd/state_context_api.tests.cpp
  core/tests/unit/kmx/kmx.cpp
  core/tests/unit/kmx/kmx_external_event.tests.cpp
  core/tests/unit/kmx/kmx_imx.tests.cpp
  core/tests/unit/kmx/kmx_key_list.tests.cpp
  core/tests/unit/ldml/context_normalization.tests.cpp
  core/tests/unit/ldml/core_ldml_min.tests.cpp
  core/tests/unit/ldml/ldml.cpp
  core/tests/unit/ldml/ldml_test_source.cpp
  core/tests/unit/ldml/meson.build
  core/tests/unit/load_kmx_file.cpp
  core/tests/unit/load_kmx_file.hpp
  core/tests/unit/meson.build
  developer/src/tike/debug/Keyman.System.Debug.DebugCore.pas
  developer/src/tike/main/Keyman.System.KeymanCore.pas
  linux/debian/libkeymancore2.symbols
  linux/ibus-keyman/src/engine.c
  windows/src/engine/keyman32/K32_load.cpp
Labels: windows/, developer/, linux/, cherry-pick, feat, linux/engine/, core/, developer/ide/, windows/engine/

#12740 chore(common): add offline support for emscripten
  resources/locate_emscripten.inc.sh
Labels: common/, common/resources/, chore

#12747 auto: increment master version to 18.0.149
  HISTORY.md
  VERSION.md
Labels: auto

#12736 refactor(developer): unify test action
  developer/src/common/web/utils/build.sh
  developer/src/kmc-analyze/build.sh
  developer/src/kmc-copy/build.sh
  developer/src/kmc-generate/build.sh
  developer/src/kmc-keyboard-info/build.sh
  developer/src/kmc-kmn/build.sh
  developer/src/kmc-ldml/build.sh
  developer/src/kmc-model-info/build.sh
  developer/src/kmc-model-info/package.json
  developer/src/kmc-model/build.sh
  developer/src/kmc-model/package.json
  developer/src/kmc-package/build.sh
  developer/src/kmc/build.sh
  resources/build/builder.md
  resources/shellHelperFunctions.sh
Labels: developer/, common/, developer/compilers/, common/resources/, refactor
