Repository keymanapp/keyman, pull requests merged in 2025-01, with the labels that each got.

#12845 fix(core): work around alignment problem when using Emscripten 🎼
  common/include/km_types.h
  core/src/kmx/kmx_file.cpp
  core/src/kmx/kmx_processevent.h
Labels: common/, fix, core/, epic-web-core

#12856 docs: clarify that sections in KMX file might not be aligned
  docs/file-formats/kmx-file-format.md
Labels: developer/, docs

#12621 feat(windows): set the update state machine to idle in first run 💽
  windows/src/desktop/kmshell/main/Keyman.Configuration.UI.UfrmStartInstall.dfm
  windows/src/desktop/kmshell/main/Keyman.Configuration.UI.UfrmStartInstallNow.dfm
  windows/src/desktop/kmshell/main/Keyman.Configuration.UI.UfrmStartInstallNow.pas
  windows/src/desktop/kmshell/main/Keyman.System.RemoteUpdateCheck.pas
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
  windows/src/desktop/kmshell/main/UImportOlderVersionSettings.pas
  windows/src/engine/insthelper/Keyman.System.Install.EnginePostInstall.pas
Labels: windows/, feat, windows/config/, windows/engine/, epic-windows-updates

#12855 fix(windows): add language and close button fit inside pop-window
  windows/src/desktop/kmshell/xml/config.css
  windows/src/desktop/kmshell/xml/keyman_keyboardlist.xsl
Labels: windows/, fix, windows/config/, has-user-test

#12843 chore(windows): add bcp47 code and tips to diagnostic
  windows/src/engine/tsysinfo/si_language.xslt
Labels: windows/, windows/engine/, chore, has-user-test

#12861 fix(android/engine): Cleanup KMManager API keys and calls
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
  android/KMEA/app/src/test/java/com/keyman/engine/KMManagerTest.java
  android/KMEA/app/src/test/java/com/keyman/engine/view/FunctionalTestHelper.java
Labels: android/, fix, android/engine/, has-user-test

#12828 docs(developer,mac): add playable video links to the help documentation
  developer/docs/help/guides/intro.md
  mac/docs/help/start/install-keyboard.md
  mac/docs/help/start/install-keyman.md
Labels: developer/, mac/, feat, docs

#12863 auto: increment master version to 18.0.165
  HISTORY.md
  VERSION.md
Labels: auto

#12858 chore(web): disable auto-correct
  web/src/engine/interfaces/src/prediction/languageProcessor.interface.ts
  web/src/engine/interfaces/src/prediction/predictionContext.ts
Labels: web/, chore, has-user-test

#12862 refactor(web): modernize `web/ci.sh` script
  web/ci.sh
Labels: web/, refactor

#12869 auto: increment master version to 18.0.166
  HISTORY.md
  VERSION.md
Labels: auto

#12865 fix(web): numpad + and - with zoom shortcut use
  web/src/engine/keyboard/src/defaultRules.ts
Labels: web/, fix, has-user-test

#12873 auto: increment master version to 18.0.167
  HISTORY.md
  VERSION.md
Labels: auto

#12794 feat(windows): add install packages to the update state machine 💽
  windows/src/desktop/kmshell/kmshell.res
  windows/src/desktop/kmshell/main/Keyman.System.UpdateCheckStorage.pas
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/desktop/kmshell/render/UpdateXMLRenderer.pas
  windows/src/desktop/kmshell/xml/keyman_update.xsl
Labels: windows/, feat, windows/config/, epic-windows-updates

#12879 fix(developer): ensure license parameter is required and add tests
  developer/src/common/web/utils/src/utils/KeymanSentry.ts
  developer/src/kmc-package/src/compiler/package-compiler-messages.ts
  developer/src/kmc-package/src/compiler/windows-package-installer-compiler.ts
  developer/src/kmc/build.sh
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/kmc.ts
  developer/src/kmc/test/command-line-tests.sh
  developer/src/kmc/test/fixtures/command-line-tests/build/khmer_angkor/.gitignore
  developer/src/kmc/test/fixtures/command-line-tests/build/khmer_angkor/khmer_angkor.kpj
  developer/src/kmc/test/fixtures/command-line-tests/build/khmer_angkor/source/khmer_angkor.ico
  developer/src/kmc/test/fixtures/command-line-tests/build/khmer_angkor/source/khmer_angkor.keyman-touch-layout
  developer/src/kmc/test/fixtures/command-line-tests/build/khmer_angkor/source/khmer_angkor.kmn
  developer/src/kmc/test/fixtures/command-line-tests/build/khmer_angkor/source/khmer_angkor.kps
  developer/src/kmc/test/fixtures/command-line-tests/build/khmer_angkor/source/khmer_angkor.kvks
  developer/src/kmc/test/fixtures/command-line-tests/build/windows-installer/keymandesktop.txt
  developer/src/kmc/test/fixtures/command-line-tests/build/windows-installer/license.txt
  developer/src/kmc/test/fixtures/command-line-tests/build/windows-installer/setup.txt
  resources/builder.inc.sh
Labels: developer/, common/, developer/compilers/, common/resources/, fix

#12864 fix(web): Improve predictive-text handling of text wordbreaking transitions
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-tracker.ts
  web/src/engine/predictive-text/worker-thread/src/tests/mocha/cases/edit-distance/context-tracker.js
Labels: web/, fix, has-user-test

#12886 chore(common): Update crowdin strings for Spanish
  android/KMAPro/kMAPro/src/main/res/values-es-rES/strings.xml
  android/KMEA/app/src/main/res/values-es-rES/strings.xml
  ios/engine/KMEI/KeymanEngine/es.lproj/Localizable.strings
  mac/Keyman4MacIM/Keyman4MacIM/es.lproj/Localizable.strings
  windows/src/desktop/kmshell/locale/es-ES/strings.xml
Labels: windows/, android/, ios/, mac/, common/, android/engine/, android/app/, ios/engine/, windows/config/, chore

#12876 docs(developer): Clarify square brackets in `U_####[_####]` shortcut
  developer/docs/help/context/keyboard-editor.md
  developer/docs/help/guides/develop/creating-a-touch-keyboard-layout-for-amharic-the-nitty-gritty.md
  developer/docs/help/reference/file-types/keyman-touch-layout.md
Labels: developer/, docs

#12296 feat: add builder tab-completion script
  resources/builder.inc.sh
  resources/builder_completion.sh
Labels: common/, common/models/, common/resources/, feat, common/models/wordbreakers/

#12899 docs(android): document longpress up-flick to quick-display shortcut
  android/docs/help/context/gestures.md
Labels: android/, docs

#12890 docs(web): fix `adding-keyboards.md`
  web/docs/engine/guide/adding-keyboards.md
Labels: web/, docs

#12823 feat(web): load .kmx keyboard from blob 🎼
  core/include/keyman/keyman_core_api.h
  web/build.sh
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/ui/build.sh
  web/src/app/ui/kmwuibutton.ts
  web/src/app/ui/kmwuifloat.ts
  web/src/app/ui/kmwuitoggle.ts
  web/src/app/ui/kmwuitoolbar.ts
  web/src/engine/core-processor/src/core-factory.ts
  web/src/engine/core-processor/src/core-processor.ts
  web/src/engine/core-processor/src/index.ts
  web/src/engine/main/src/headless/inputProcessor.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/test/auto/dom/cases/core-processor/basic.tests.ts
  web/src/test/auto/dom/web-test-runner.config.mjs
  web/src/test/auto/integrated/cases/basics.tests.ts
  web/src/test/auto/integrated/test_utils.ts
  web/src/test/auto/integrated/web-test-runner.config.mjs
Labels: web/, feat, core/, epic-web-core

#12824 refactor(web): refactor JS based keyboard related class and file names 🎼
  web/src/app/browser/src/beepHandler.ts
  web/src/app/browser/src/contextManager.ts
  web/src/app/browser/src/hardwareEventKeyboard.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/webview/src/contextManager.ts
  web/src/app/webview/src/passthroughKeyboard.ts
  web/src/engine/js-processor/src/index.ts
  web/src/engine/js-processor/src/jsKeyboardInterface.ts
  web/src/engine/js-processor/src/jsKeyboardProcessor.ts
  web/src/engine/js-processor/src/ruleBehavior.ts
  web/src/engine/js-processor/src/systemStores.ts
  web/src/engine/keyboard-storage/src/stubAndKeyboardCache.ts
  web/src/engine/keyboard/src/index.ts
  web/src/engine/keyboard/src/keyEvent.ts
  web/src/engine/keyboard/src/keyboards/activeLayout.ts
  web/src/engine/keyboard/src/keyboards/defaultLayouts.ts
  web/src/engine/keyboard/src/keyboards/jsKeyboard.ts
  web/src/engine/keyboard/src/keyboards/keyboardHarness.ts
  web/src/engine/keyboard/src/keyboards/keyboardLoaderBase.ts
  web/src/engine/keyboard/src/keyboards/loaders/domKeyboardLoader.ts
  web/src/engine/keyboard/src/keyboards/loaders/nodeKeyboardLoader.ts
  web/src/engine/main/src/contextManagerBase.ts
  web/src/engine/main/src/hardKeyboard.ts
  web/src/engine/main/src/headless/inputProcessor.ts
  web/src/engine/main/src/keyboardInterface.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/osk/src/banner/banner.ts
  web/src/engine/osk/src/banner/bannerController.ts
  web/src/engine/osk/src/banner/suggestionBanner.ts
  web/src/engine/osk/src/components/helpPageView.ts
  web/src/engine/osk/src/components/titleBar.ts
  web/src/engine/osk/src/index.ts
  web/src/engine/osk/src/keyboard-layout/oskLayerGroup.ts
  web/src/engine/osk/src/views/oskView.ts
  web/src/engine/osk/src/visualKeyboard.ts
  web/src/test/auto/dom/cases/keyboard/domKeyboardLoader.tests.ts
  web/src/test/auto/dom/kbdLoader.ts
  web/src/test/auto/headless/app/browser/hardware-event-processing.tests.ts
  web/src/test/auto/headless/engine/js-processor/basic-engine.tests.js
  web/src/test/auto/headless/engine/js-processor/bundled-module.tests.js
  web/src/test/auto/headless/engine/js-processor/chirality.tests.js
  web/src/test/auto/headless/engine/js-processor/deadkeys.tests.js
  web/src/test/auto/headless/engine/js-processor/engine/context.tests.js
  web/src/test/auto/headless/engine/js-processor/engine/notany_context.tests.js
  web/src/test/auto/headless/engine/js-processor/engine/stores.tests.js
  web/src/test/auto/headless/engine/js-processor/engine/unmatched_final_group.tests.js
  web/src/test/auto/headless/engine/js-processor/kbdInterface.tests.ts
  web/src/test/auto/headless/engine/js-processor/non-positional-rules.tests.js
  web/src/test/auto/headless/engine/js-processor/specialized-backspace.tests.js
  web/src/test/auto/headless/engine/keyboard-storage/stubAndKeyboardCache.tests.js
  web/src/test/auto/headless/engine/keyboard/keyboard-loading.tests.js
  web/src/test/auto/headless/engine/keyboard/keyboardLoaderBase.tests.ts
  web/src/tools/testing/recorder-core/src/nodeProctor.ts
Labels: web/, refactor, epic-web-core

#12840 feat(windows): UI layout for update tab 💽
  windows/src/desktop/kmshell/main/Keyman.System.UpdateCheckStorage.pas
  windows/src/desktop/kmshell/main/UfrmMain.pas
  windows/src/desktop/kmshell/xml/config.css
  windows/src/desktop/kmshell/xml/keyman_update.xsl
  windows/src/desktop/kmshell/xml/menuframe_update.jpg
  windows/src/desktop/kmshell/xml/menuframe_update.png
Labels: windows/, common/, oem/, feat, oem/fv/, oem/fv/windows/, windows/config/, windows/engine/, has-user-test, epic-windows-updates

#12885 feat(windows): remove online update check 💽
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/kmshell/main/Keyman.Configuration.UI.UfrmStartInstall.pas
  windows/src/desktop/kmshell/main/Keyman.Configuration.UI.UfrmStartInstallNow.pas
  windows/src/desktop/kmshell/main/Keyman.System.DownloadUpdate.pas
  windows/src/desktop/kmshell/main/Keyman.System.RemoteUpdateCheck.pas
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
  windows/src/desktop/kmshell/main/OnlineUpdateCheck.pas
  windows/src/desktop/kmshell/main/UfrmMain.pas
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/desktop/kmshell/startup/UfrmSplash.pas
  windows/src/engine/keyman/UfrmKeyman7Main.dfm
  windows/src/engine/keyman/UfrmKeyman7Main.pas
  windows/src/engine/kmcomapi/com/system/keymancontrol.pas
Labels: windows/, feat, windows/config/, windows/engine/, epic-windows-updates

#12875 fix(android): use main looper to dispatch key events when OSK is hidden 🏠
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
Labels: android/, stable, fix, android/engine/, has-user-test

#12903 auto: increment master version to 18.0.168
  HISTORY.md
  VERSION.md
Labels: auto

#12901 feat(windows): UI removed from state machine 💽
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
  windows/src/desktop/kmshell/main/UfrmMain.pas
  windows/src/desktop/kmshell/main/initprog.pas
Labels: windows/, feat, windows/config/, epic-windows-updates

#12878 chore: update macOS environment-variable shell script
  resources/devbox/macos/keyman.macos.env.sh
Labels: common/, common/resources/, chore

#12871 fix(android): use main looper to dispatch key events when OSK is hidden
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
Labels: android/, fix, android/engine/, has-user-test

#12897 change(android, web): revert disabling of autocorrect features 🚂
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/LanguageSettingsActivity.java
  android/KMEA/app/src/main/res/layout/language_settings_list_layout.xml
  web/src/engine/main/src/headless/languageProcessor.ts
Labels: web/, android/, android/engine/, android/app/, has-user-test, change

#12866 chore(web): integrates predictive-text builds to top level script, reconnects headless tests
  web/build.sh
  web/src/engine/predictive-text/build.sh
  web/src/engine/predictive-text/worker-main/build.sh
Labels: web/, chore

#12910 chore(ios): Update crowdin strings for Khmer
  ios/engine/KMEI/KeymanEngine/km.lproj/Localizable.strings
Labels: ios/, ios/engine/, chore

#10041 epic: windows-updates 💽
  common/windows/delphi/general/Keyman.System.ExecutionHistory.pas
  common/windows/delphi/general/Keyman.System.UpdateCheckResponse.pas
  common/windows/delphi/general/KeymanPaths.pas
  common/windows/delphi/general/RegistryKeys.pas
  oem/firstvoices/windows/src/xml/strings.xml
  windows/src/desktop/kmshell/kmshell.dpr
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/kmshell/main/BackgroundUpdateStateDiagram.md
  windows/src/desktop/kmshell/main/Keyman.Configuration.UI.UfrmStartInstall.dfm
  windows/src/desktop/kmshell/main/Keyman.Configuration.UI.UfrmStartInstall.pas
  windows/src/desktop/kmshell/main/Keyman.Configuration.UI.UfrmStartInstallNow.dfm
  windows/src/desktop/kmshell/main/Keyman.Configuration.UI.UfrmStartInstallNow.pas
  windows/src/desktop/kmshell/main/Keyman.System.DownloadUpdate.pas
  windows/src/desktop/kmshell/main/Keyman.System.RemoteUpdateCheck.pas
  windows/src/desktop/kmshell/main/Keyman.System.UpdateCheckStorage.pas
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
  windows/src/desktop/kmshell/main/OnlineUpdateCheck.pas
  windows/src/desktop/kmshell/main/UImportOlderVersionSettings.pas
  windows/src/desktop/kmshell/main/UfrmMain.pas
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/desktop/kmshell/render/UpdateXMLRenderer.pas
  windows/src/desktop/kmshell/startup/UfrmSplash.pas
  windows/src/desktop/kmshell/util/UfrmDownloadProgress.pas
  windows/src/desktop/kmshell/util/utilkmshell.pas
  windows/src/desktop/kmshell/xml/config.css
  windows/src/desktop/kmshell/xml/config.js
  windows/src/desktop/kmshell/xml/keyman.xsl
  windows/src/desktop/kmshell/xml/keyman_keepintouch.xsl
  windows/src/desktop/kmshell/xml/keyman_menu.xsl
  windows/src/desktop/kmshell/xml/keyman_support.xsl
  windows/src/desktop/kmshell/xml/keyman_update.xsl
  windows/src/desktop/kmshell/xml/menuframe_update.png
  windows/src/desktop/kmshell/xml/strings.xml
  windows/src/desktop/setup/RunTools.pas
  windows/src/desktop/setup/UfrmRunDesktop.pas
  windows/src/engine/keyman/UfrmKeyman7Main.dfm
  windows/src/engine/keyman/UfrmKeyman7Main.pas
  windows/src/engine/keyman/keyman.dpr
  windows/src/engine/keyman/keyman.dproj
  windows/src/engine/keyman/main.pas
  windows/src/engine/kmcomapi/com/system/keymancontrol.pas
  windows/src/engine/kmcomapi/util/utilkeymanoption.pas
  windows/src/global/delphi/general/KeymanOptionNames.pas
Labels: windows/, common/, oem/, oem/fv/, oem/fv/windows/, windows/config/, windows/engine/, chore, epic-windows-updates

#12895 fix(developer): detect invalid key ids in touch layout files
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
  developer/src/kmc-kmn/test/fixtures/kmw/error_touch_layout_invalid_identifier.keyman-touch-layout
  developer/src/kmc-kmn/test/fixtures/kmw/error_touch_layout_invalid_identifier.kmn
  developer/src/kmc-kmn/test/kmw/kmw-compiler.tests.ts
Labels: developer/, developer/compilers/, fix

#12907 chore: use GitHub PR titles when writing HISTORY.md
  HISTORY.md
  resources/build/increment-version.sh
  resources/build/version/src/fixupHistory.ts
  resources/build/version/src/index.ts
Labels: common/, common/resources/, chore

#12908 chore: use GitHub PR titles when writing HISTORY.md 🍒 🏠
  resources/build/increment-version.sh
  resources/build/version/src/fixupHistory.ts
  resources/build/version/src/index.ts
Labels: stable, cherry-pick, common/, common/resources/, chore

#12909 fix(developer): filter incorrect fonts out of .keyboard_info
  developer/src/kmc-keyboard-info/src/keyboard-info-compiler.ts
Labels: developer/, developer/compilers/, fix

#12906 change(web): make 'keep' transform pattern match standard suggestion pattern by including the prefix string
  web/src/engine/predictive-text/worker-thread/src/main/predict-helpers.ts
  web/src/engine/predictive-text/worker-thread/src/tests/mocha/cases/suggestion-similarity.js
  web/src/engine/predictive-text/worker-thread/src/tests/mocha/cases/worker-model-compositor.js
Labels: web/, change

#12913 fix(developer): filter incorrect fonts out of .keyboard_info 🍒 🏠
  developer/src/kmc-keyboard-info/src/keyboard-info-compiler.ts
Labels: developer/, stable, cherry-pick, developer/compilers/, fix

#12914 auto: increment stable-17.0 version to 17.0.334
  HISTORY.md
  VERSION.md
Labels: stable, auto

#11397 chore: Add docker images for building the different platforms
  core/tests/unit/km_core_keyboard_api.tests.cpp
  docs/build/linux-ubuntu.md
  docs/minimum-versions.md
  linux/Dockerfile
  resources/build/builder.md
  resources/build/minimum-versions.inc.sh
  resources/docker-images/README.md
  resources/docker-images/android/Dockerfile
  resources/docker-images/base/Dockerfile
  resources/docker-images/build.sh
  resources/docker-images/core/Dockerfile
  resources/docker-images/linux/.gitignore
  resources/docker-images/linux/Dockerfile
  resources/docker-images/linux/run-tests.sh
  resources/docker-images/run.sh
  resources/docker-images/web/Dockerfile
  resources/docker-images/web/run-tests.sh
  resources/shellHelperFunctions.sh
Labels: linux/, common/, common/resources/, core/, chore, docs

#12921 auto: increment master version to 18.0.169
  HISTORY.md
  VERSION.md
Labels: auto

#12923 chore(windows): remove `postinstall` state from mermaid diagram
  windows/src/desktop/kmshell/main/BackgroundUpdateStateDiagram.md
Labels: windows/, windows/config/, chore

#12924 auto: increment master version to 18.0.170
  HISTORY.md
  VERSION.md
Labels: auto

#12918 chore(linux): update copyright year
  linux/debian/copyright
Labels: linux/, chore

#12919 chore(linux): update copyright year 🍒 🏠
  linux/debian/copyright
Labels: linux/, stable, cherry-pick, chore

#12811 test(common/web): unit tests for element-string
  common/web/types/tests/kmx/kmx-plus/element-string.tests.ts
Labels: web/, common/, common/web/, test

#12916 chore(linux): Update debian changelog 🏠
  linux/debian/changelog
Labels: linux/, stable, chore

#12917 chore(linux): Update debian changelog 🍒
  linux/debian/changelog
Labels: linux/, cherry-pick, chore

#12943 auto: increment master version to 18.0.171
  HISTORY.md
  VERSION.md
Labels: auto

#12868 fix(common/web): add StrsItem.isEqual() method
  common/web/types/src/kmx/kmx-plus/element-string.ts
  common/web/types/src/kmx/kmx-plus/kmx-plus.ts
  common/web/types/tests/kmx/kmx-plus/element-string.tests.ts
Labels: web/, common/, fix, common/web/

#12882 fix(common/web): handle invalid order and tertiary arguments to ElementString.fromString()
  common/web/types/src/kmx/kmx-plus/element-string.ts
  common/web/types/tests/kmx/kmx-plus/element-string.tests.ts
Labels: web/, common/, fix, common/web/

#12946 auto: increment master version to 18.0.172
  HISTORY.md
  VERSION.md
Labels: auto

#12926 chore(common): Add 17.0.333 to version history
  HISTORY.md
Labels: common/, chore

#12947 auto: increment master version to 18.0.173
  HISTORY.md
  VERSION.md
Labels: auto

#12949 feat(developer): rewrite font data in .kvk from package metadata
  developer/src/common/web/utils/src/font-family.ts
  developer/src/common/web/utils/src/index.ts
  developer/src/common/web/utils/src/ttfmeta/LICENSE
  developer/src/common/web/utils/src/ttfmeta/README.md
  developer/src/common/web/utils/src/ttfmeta/lib/index.js
  developer/src/common/web/utils/src/ttfmeta/lib/main.js
  developer/src/common/web/utils/src/ttfmeta/lib/meta.js
  developer/src/common/web/utils/src/ttfmeta/test/local.mjs
  developer/src/common/web/utils/src/ttfmeta/test/mocha-index.mjs
  developer/src/common/web/utils/tsconfig.json
  developer/src/kmc-keyboard-info/src/keyboard-info-compiler.ts
  developer/src/kmc-keyboard-info/test/font-family.tests.ts
  developer/src/kmc-keyboard-info/tsconfig.json
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/kvk-font-facename.ts
  developer/src/kmc-package/src/compiler/package-compiler-messages.ts
  developer/src/kmc-package/test/fixtures/binary_kvk_file/source/binary_kvk_file.kmx
  developer/src/kmc-package/test/fixtures/binary_kvk_file/source/binary_kvk_file.kps
Labels: developer/, developer/compilers/, feat

#12900 docs(ios): document gestures within iOS app help
  ios/docs/help/context/gestures.md
  ios/docs/help/context/index.md
  ios/docs/help/index.md
  ios/docs/help/ios_images/gesture-hint.png
Labels: ios/, docs, has-user-test

#12951 fix(developer): include developer-utils deps in server build
  developer/src/server/build.sh
Labels: developer/, fix, developer/ide/, has-user-test

#12877 change(web): add auto-correct filter that requires letter in initial position 🚂
  web/src/engine/predictive-text/wordbreakers/src/main/default/index.ts
  web/src/engine/predictive-text/wordbreakers/src/main/index.ts
  web/src/engine/predictive-text/worker-thread/src/main/predict-helpers.ts
  web/src/engine/predictive-text/worker-thread/src/tests/mocha/cases/auto-correct.js
Labels: web/, common/models/wordbreakers/, change

#12825 feat(web): add `Keyboard` and `KMXKeyboard` classes 🎼
  web/src/app/browser/src/beepHandler.ts
  web/src/app/browser/src/contextManager.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/webview/src/contextManager.ts
  web/src/app/webview/src/passthroughKeyboard.ts
  web/src/engine/keyboard-storage/src/stubAndKeyboardCache.ts
  web/src/engine/keyboard/build.sh
  web/src/engine/keyboard/src/index.ts
  web/src/engine/keyboard/src/keyboards/keyboardLoaderBase.ts
  web/src/engine/keyboard/src/keyboards/keyboardMinimalInterface.ts
  web/src/engine/keyboard/src/keyboards/kmxKeyboard.ts
  web/src/engine/main/src/contextManagerBase.ts
  web/src/engine/main/src/hardKeyboard.ts
  web/src/engine/main/src/headless/inputProcessor.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/osk/src/index.ts
  web/src/engine/osk/src/views/oskView.ts
  web/src/test/auto/dom/cases/keyboard/domKeyboardLoader.tests.ts
  web/src/test/auto/dom/kbdLoader.ts
  web/src/test/auto/headless/engine/js-processor/kbdInterface.tests.ts
  web/src/test/auto/headless/engine/keyboard/keyboard.tests.ts
  web/src/test/auto/headless/engine/keyboard/keyboardLoaderBase.tests.ts
  web/src/test/auto/integrated/web-test-runner.config.mjs
  web/src/tools/testing/bulk_rendering/renderer_core.ts
Labels: web/, feat, epic-web-core

#12942 feat(core): add unit tests for the WASM version of Core API 🎼
  core/src/meson.build
  core/tests/unit/kmx/meson.build
  core/tests/unit/meson.build
  core/tests/unit/wasm/meson.build
  core/tests/unit/wasm/package-lock.json
  core/tests/unit/wasm/package.json
  core/tests/unit/wasm/wasm.tests.js
  web/src/test/auto/headless/README.md
Labels: web/, feat, core/, epic-web-core

#12929 fix(developer): support `&displayMap` font in web debugger
  common/windows/delphi/keyboards/kmxfileconsts.pas
  developer/src/common/delphi/general/KeyboardFonts.pas
  developer/src/tike/child/UfrmKeymanWizard.pas
  developer/src/tike/dialogs/UfrmKeyboardFonts.dfm
  developer/src/tike/dialogs/UfrmKeyboardFonts.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.kmnProjectFileUI.pas
Labels: developer/, common/, fix, developer/ide/, has-user-test

#12970 auto: increment master version to 18.0.175
  HISTORY.md
  VERSION.md
Labels: auto

#12922 feat(windows): This is to provide a PR build for testing
  windows/src/desktop/kmshell/main/Keyman.System.RemoteUpdateCheck.pas
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
  windows/src/desktop/kmshell/main/UfrmMain.pas
Labels: windows/, feat, windows/config/, has-user-test

#12958 chore(developer): validate keyboard and model IDs in kmc-generate
  developer/src/common/web/utils/src/index.ts
  developer/src/common/web/utils/src/valid-ids.ts
  developer/src/common/web/utils/test/valid-ids.tests.ts
  developer/src/kmc-generate/package.json
  developer/src/kmc-generate/src/generator-messages.ts
  developer/src/kmc-generate/src/keyman-keyboard-generator.ts
  developer/src/kmc-generate/src/ldml-keyboard-generator.ts
  developer/src/kmc-generate/src/lexical-model-generator.ts
  developer/src/kmc-generate/test/generator-messages.tests.ts
Labels: developer/, developer/compilers/, chore

#12960 fix(developer): use correct terms in kmc-generate lexical model help
  developer/src/kmc/src/commands/generate.ts
Labels: developer/, developer/compilers/, fix

#12962 fix(developer): use 1.0.0 as default for ldml keyboards in kmc-generate
  developer/src/kmc/src/commands/generate.ts
Labels: developer/, developer/compilers/, fix

#12967 chore: adds h1 tags
  web/docs/engine/guide/examples/__auto-control.html
  web/docs/engine/guide/examples/__control-by-control.html
  web/docs/engine/guide/examples/__first-example.html
  web/docs/engine/guide/examples/__full-manual-control.html
  web/docs/engine/guide/examples/__manual-control.html
Labels: web/, chore

#12964 fix(web): prevent warning that occurs when multitapping longpressable modifier keys
  web/src/engine/osk/src/input/gestures/browser/multitap.ts
Labels: web/, fix, has-user-test

#12966 chore(developer): add test for basic transform to kmc-generate
  developer/src/kmc-generate/test/basic-generator.tests.ts
  developer/src/kmc-generate/test/fixtures/basic/welcome.htm
Labels: developer/, developer/compilers/, chore

#12986 fix(android/engine): Revert how keyboard picker menu launches
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Labels: android/, fix, android/engine/, has-user-test

#12993 auto: increment master version to 18.0.176
  HISTORY.md
  VERSION.md
Labels: auto

#12971 chore(developer): stub out icon support in kmc-generate
  developer/docs/help/reference/kmc/cli/reference.md
  developer/src/kmc-generate/src/abstract-generator.ts
  developer/src/kmc-generate/src/keyman-keyboard-generator.ts
  developer/src/kmc-generate/test/shared-options.ts
  developer/src/kmc/src/commands/generate.ts
Labels: developer/, developer/compilers/, chore

#12973 chore(developer): remove '--rename' option from kmc-copy
  developer/src/kmc-copy/src/KeymanProjectCopier.ts
  developer/src/kmc-copy/test/copier.tests.ts
  developer/src/kmc/src/commands/copy.ts
Labels: developer/, developer/compilers/, chore

#12976 feat(developer): add 'verbose' and 'debug' log levels to kmc
  developer/src/common/include/kmn_compiler_errors.h
  developer/src/common/web/test-helpers/TestCompilerCallbacks.ts
  developer/src/common/web/test-helpers/verifyCompilerMessagesObject.ts
  developer/src/common/web/utils/src/compiler-interfaces.ts
  developer/src/kmc-copy/src/cloud.ts
  developer/src/kmc-copy/src/copier-messages.ts
  developer/src/kmc-copy/test/copier.tests.ts
  developer/src/kmc/src/commands/messageCommand.ts
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
  developer/src/tike/compile/Keyman.Developer.System.KmcWrapper.pas
Labels: developer/, developer/compilers/, feat, developer/ide/

#12979 chore(developer): validate output folder name in kmc-copy
  developer/src/kmc-copy/src/KeymanProjectCopier.ts
  developer/src/kmc-copy/src/copier-messages.ts
  developer/src/kmc-copy/test/messages.tests.ts
  developer/src/kmc-generate/src/generator-messages.ts
Labels: developer/, developer/compilers/, chore

#12982 chore(developer): report on filename collisions in kmc-copy
  developer/src/kmc-copy/src/KeymanProjectCopier.ts
  developer/src/kmc-copy/src/copier-messages.ts
  developer/src/kmc-copy/test/copier-messages.tests.ts
  developer/src/kmc-copy/test/fixtures/projects/collision/collision.kpj
  developer/src/kmc-copy/test/fixtures/projects/collision/source/collided.ico
  developer/src/kmc-copy/test/fixtures/projects/collision/source/collision.ico
  developer/src/kmc-copy/test/fixtures/projects/collision/source/collision.kmn
Labels: developer/, developer/compilers/, chore

#12984 feat(developer): support copying disorganized projects in kmc-copy
  developer/src/kmc-copy/build.sh
  developer/src/kmc-copy/src/KeymanProjectCopier.ts
  developer/src/kmc-copy/test/copier.tests.ts
  developer/src/kmc-copy/test/fixtures/projects/disorganized/HISTORY.md
  developer/src/kmc-copy/test/fixtures/projects/disorganized/LICENSE.md
  developer/src/kmc-copy/test/fixtures/projects/disorganized/README.md
  developer/src/kmc-copy/test/fixtures/projects/disorganized/alephwithbeth.ico
  developer/src/kmc-copy/test/fixtures/projects/disorganized/alephwithbeth.js
  developer/src/kmc-copy/test/fixtures/projects/disorganized/alephwithbeth.kmn
  developer/src/kmc-copy/test/fixtures/projects/disorganized/alephwithbeth.kmp
  developer/src/kmc-copy/test/fixtures/projects/disorganized/alephwithbeth.kmx
  developer/src/kmc-copy/test/fixtures/projects/disorganized/alephwithbeth.kpj
  developer/src/kmc-copy/test/fixtures/projects/disorganized/alephwithbeth.kps
  developer/src/kmc-copy/test/fixtures/projects/disorganized/alephwithbeth.kvk
  developer/src/kmc-copy/test/fixtures/projects/disorganized/alephwithbeth.kvks
  developer/src/kmc-copy/test/fixtures/projects/disorganized/other/alephwithbeth.keyman-touch-layout
  developer/src/kmc-copy/test/fixtures/projects/disorganized/other/help/KeyboardLayout.png
  developer/src/kmc-copy/test/fixtures/projects/disorganized/other/help/KeyboardLayoutAlt.png
  developer/src/kmc-copy/test/fixtures/projects/disorganized/other/help/KeyboardLayoutShift.png
  developer/src/kmc-copy/test/fixtures/projects/disorganized/other/help/alephwithbeth.php
  developer/src/kmc-copy/test/fixtures/projects/disorganized/other/readme.htm
  developer/src/kmc-copy/test/fixtures/projects/disorganized/other/welcome/KeyboardLayout.png
  developer/src/kmc-copy/test/fixtures/projects/disorganized/other/welcome/KeyboardLayoutAlt.png
  developer/src/kmc-copy/test/fixtures/projects/disorganized/other/welcome/KeyboardLayoutShift.png
  developer/src/kmc-copy/test/fixtures/projects/disorganized/other/welcome/welcome.htm
Labels: developer/, developer/compilers/, feat

#12992 chore(linux): docker build: update package index before installing packages in Dockerfiles
  resources/docker-images/android/Dockerfile
  resources/docker-images/core/Dockerfile
  resources/docker-images/linux/Dockerfile
  resources/docker-images/web/Dockerfile
Labels: linux/, common/, common/resources/, chore

#12977 feat(web): allow main manual-test page to load from KMP
  web/src/test/manual/web/kmpHeader.js
  web/src/test/manual/web/unminified.html
Labels: web/, feat, has-user-test

#12999 fix(android): Remove access to MEDIA storage permissions
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/CheckPermissions.java
  android/docs/help/troubleshooting/grant-storage-permission.md
Labels: android/, fix, android/app/, has-user-test

#13005 fix(android): Remove access to MEDIA storage permissions🍒 🏠
  android/KMAPro/kMAPro/src/main/AndroidManifest.xml
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/CheckPermissions.java
  android/help/troubleshooting/grant-storage-permission.md
Labels: android/, stable, cherry-pick, fix, android/app/, has-user-test

#13007 auto: increment master version to 18.0.177
  HISTORY.md
  VERSION.md
Labels: auto

#13012 fix(android): restores DOMRect polyfill for old Chrome support
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Labels: android/, fix, android/engine/

#13014 fix(android): restores DOMRect polyfill for old Chrome support 🏠
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Labels: android/, stable, fix, android/engine/

#13003 fix(developer): produce correct index parameter value for context in kmw compiler
  developer/src/kmc-kmn/src/kmw-compiler/javascript-strings.ts
  developer/src/kmc-kmn/test/fixtures/kmw/test_index_12980.kmn
  developer/src/kmc-kmn/test/kmw/kmw-compiler.tests.ts
Labels: developer/, developer/compilers/, fix

#12989 chore: add platform to what's new titles
  android/docs/engine/whatsnew.md
  android/docs/help/about/whatsnew.md
  ios/docs/help/about/whatsnew.md
  linux/docs/help/about/whatsnew.md
  mac/docs/help/about/whatsnew.md
  windows/docs/help/about/whatsnew.md
Labels: bug, windows/, android/, ios/, mac/, linux/, chore

#13016 chore: add platforms to version history titles
  android/docs/help/about/history.md
  ios/docs/help/about/history.md
  linux/docs/help/about/history.md
  mac/docs/help/about/history.md
  windows/docs/help/about/history.md
Labels: bug, windows/, android/, ios/, mac/, linux/, chore

#13019 chore: add platforms to troubleshooting titles and windows to help homepage
  android/docs/help/troubleshooting/index.md
  ios/docs/help/troubleshooting/index.md
  mac/docs/help/troubleshooting/index.md
  windows/docs/help/index.md
  windows/docs/help/troubleshooting/index.md
Labels: bug, windows/, android/, ios/, mac/, chore

#13024 chore: add platforms to system requirements and download-and-install docs
  android/docs/help/start/installing-keyboards.md
  mac/docs/help/about/requirements.md
  mac/docs/help/start/install-keyboard.md
  windows/docs/help/about/requirements.md
  windows/docs/help/start/download-and-install-keyboard.md
  windows/docs/help/start/download-and-install-keyman.md
Labels: bug, windows/, android/, mac/, chore

#13027 chore: add mac platform to titles
  mac/docs/help/basic/index.md
  mac/docs/help/troubleshooting/uninstall-keyman.md
Labels: bug, mac/, chore

#13031 chore: add ios platform to titles
  ios/docs/engine/guides/in-app/index.md
  ios/docs/engine/guides/system-keyboard/index.md
  ios/docs/help/about/index.md
  ios/docs/help/basic/index.md
  ios/docs/help/context/gestures.md
  ios/docs/help/start/index.md
Labels: bug, ios/, chore

#13029 fix: use correct path for resources/build/version
  resources/build/increment-version.sh
Labels: common/, common/resources/, fix

#13034 fix(developer): don't list .js keyboards for multi-keyboard packages in kmc-keyboard-info
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
Labels: developer/, developer/compilers/, fix

#12998 fix(web): do not simplify nul-prefixed contexts when rule-matching
  web/src/engine/js-processor/src/kbdInterface.ts
  web/src/test/auto/headless/engine/js-processor/engine/context.tests.js
  web/src/test/auto/headless/engine/js-processor/engine/notany_context.tests.js
Labels: web/, fix, has-user-test

#13021 feat(android): add breadcrumbing during package install about package file, source
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KMPBrowserActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/java/com/keyman/engine/packages/PackageProcessor.java
Labels: android/, feat, android/engine/, android/app/

#13035 fix(web): add null guard for focusing next element via keystroke 🏠
  web/src/app/browser/src/hardwareEventKeyboard.ts
Labels: web/, stable, fix

#13008 fix(linux): correct permissions and paths in Linux docker image
  linux/ibus-keyman/tests/scripts/test-helper.inc.sh
  resources/docker-images/linux/Dockerfile
  resources/docker-images/run.sh
Labels: linux/, common/, common/resources/, fix, linux/engine/, chore

#13042 auto: increment master version to 18.0.178
  HISTORY.md
  VERSION.md
Labels: auto

#12969 feat(developer): serialize KMXPlus (back) into XML 🗼
  common/web/types/src/kmx/kmx-plus/kmx-plus.ts
  developer/src/common/web/utils/src/xml-utils.ts
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/section-compiler.ts
  developer/src/kmc-ldml/src/compiler/tran.ts
  developer/src/kmc-ldml/src/compiler/vars.ts
  developer/src/kmc-ldml/src/util/serialize.ts
  developer/src/kmc-ldml/test/compiler-e2e.tests.ts
  developer/src/kmc-ldml/test/fixtures/basic-serialized.xml
  developer/src/kmc-ldml/test/helpers/compareXml.ts
  developer/src/kmc-ldml/test/tsconfig.json
Labels: developer/, common/, developer/compilers/, feat, common/web/, epic-ldml-editor

#13030 fix: use correct path for resources/build/version 🍒 🏠
  resources/build/increment-version.sh
Labels: stable, cherry-pick, common/, common/resources/, fix

#13032 fix(web): fix handling of data: url fonts, fonts with single quotes in filename
  web/src/engine/dom-utils/src/stylesheets.ts
Labels: web/, fix, has-user-test

#13041 fix(web): fix handling of fonts with single quotes in filename 🍒 🏠
  web/src/engine/dom-utils/src/stylesheets.ts
Labels: web/, stable, cherry-pick, fix, has-user-test

#13039 fix(android): disable early keyboard-loading when not feasible 🏠
  android/KMEA/app/src/main/assets/android-host.js
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboardJSHandler.java
Labels: android/, stable, fix, android/engine/, has-user-test

#13001 fix(android): disable early keyboard-loading when not feasible
  android/KMEA/app/src/main/assets/android-host.js
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboardJSHandler.java
Labels: android/, fix, android/engine/, has-user-test

#13040 fix(web): do not simplify nul-prefixed contexts when rule-matching 🍒 🏠
  common/web/keyboard-processor/src/text/kbdInterface.ts
  common/web/keyboard-processor/tests/node/engine/context.js
  common/web/keyboard-processor/tests/node/engine/notany_context.js
Labels: web/, stable, cherry-pick, common/, fix, common/web/

#13038 feat(android): add breadcrumbing during package install about package file, source 🏠
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KMPBrowserActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/java/com/keyman/engine/packages/PackageProcessor.java
Labels: android/, stable, feat, android/engine/, android/app/

#12974 fix(web): prevent multitap warning that occurs multitapping longpressable modifier keys 🏠
  web/src/engine/osk/src/input/gestures/browser/multitap.ts
Labels: web/, stable, fix, has-user-test

#13013 fix(web): add null guard for focusing next element via keystroke
  web/src/app/browser/src/hardwareEventKeyboard.ts
Labels: web/, fix

#13050 chore: adjust one bookmark link in windows doc
  windows/docs/help/start/tutorial.md
Labels: bug, windows/, chore

#13049 chore: adjust bookmark links in developer docs
  developer/docs/help/guides/lexical-models/advanced/unicode-breaker-extension.md
  developer/docs/help/guides/lexical-models/advanced/word-breaker.md
  developer/docs/help/reference/file-types/metadata.md
  developer/docs/help/reference/file-types/tsv.md
Labels: bug, developer/, chore

#13054 auto: increment master version to 18.0.179
  HISTORY.md
  VERSION.md
Labels: auto

#13055 auto: increment stable-17.0 version to 17.0.335
  HISTORY.md
  VERSION.md
Labels: stable, auto

#13004 fix(android): improve resource-update tool handling of host Activity's closure
  android/KMEA/app/src/main/java/com/keyman/engine/logic/ResourcesUpdateTool.java
Labels: android/, fix, android/engine/

#12841 fix(windows): bool return value of KeymanIsTextSelected
  windows/src/engine/kmtip/kmkey.cpp
Labels: windows/, fix, windows/engine/, has-user-test

#12939 chore(mac): add breadcrumbs for Sentry
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/KMConfigurationWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodLifecycle.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodLifecycle.m
  mac/Keyman4MacIM/Keyman4MacIM/Logging/KMLogs.h
  mac/Keyman4MacIM/Keyman4MacIM/Logging/KMLogs.m
  mac/Keyman4MacIM/Keyman4MacIM/Logging/KMSentryHelper.h
  mac/Keyman4MacIM/Keyman4MacIM/Logging/KMSentryHelper.m
  mac/Keyman4MacIM/Keyman4MacIM/OnScreenKeyboard/OSKWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/TextApiCompliance.m
Labels: mac/, chore

#12988 fix(mac): show and hide OSK consistently for all keyboards
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodLifecycle.m
  mac/Keyman4MacIM/Keyman4MacIM/OnScreenKeyboard/OSKWindowController.xib
Labels: mac/, fix, has-user-test

#13053 fix(linux): remove unnecessary files from source tarball
  linux/scripts/dist.sh
Labels: linux/, fix

#13057 fix(android): improve resource-update tool handling of host Activity's closure 🍒 🏠
  android/KMEA/app/src/main/java/com/keyman/engine/logic/ResourcesUpdateTool.java
Labels: android/, stable, cherry-pick, fix, android/engine/

#13058 fix(ios): prevent message-handler collision 🍒🏠
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeymanWebViewController.swift
Labels: ios/, stable, fix, ios/engine/

#12948 fix(windows): handle keyboard package not downloaded
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
  windows/src/desktop/kmshell/xml/config.css
  windows/src/desktop/kmshell/xml/keyman_update.xsl
Labels: windows/, fix, windows/config/, has-user-test

#13064 auto: increment master version to 18.0.180
  HISTORY.md
  VERSION.md
Labels: auto

#13056 chore(common): Update crowdin strings for Portuguese
  android/KMAPro/kMAPro/src/main/res/values-pt-rPT/strings.xml
  android/KMEA/app/src/main/java/com/keyman/engine/DisplayLanguages.java
  android/KMEA/app/src/main/res/values-pt-rPT/strings.xml
  ios/engine/KMEI/KeymanEngine/pt-PT.lproj/Localizable.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/pt-PT.lproj/preferences.strings
  windows/src/desktop/kmshell/locale/pt-PT/strings.xml
  windows/src/desktop/setup/locale/pt-PT/strings.xml
Labels: windows/, android/, ios/, mac/, android/engine/, android/app/, ios/engine/, windows/config/

#13044 chore(common): Update crowdin strings for Spanish (Latin America)
  android/KMAPro/kMAPro/src/main/res/values-b+es+419/strings.xml
  android/KMEA/app/src/main/res/values-b+es+419/strings.xml
  ios/engine/KMEI/KeymanEngine/es-419.lproj/Localizable.strings
  windows/src/desktop/kmshell/locale/es-419/strings.xml
Labels: android/, ios/, android/engine/, android/app/, ios/engine/, windows/config/, chore

#12889 chore(linux): improve compatibility with Gentoo Linux 🏠
  linux/ibus-keyman/meson.build
  linux/ibus-keyman/src/KeymanSystemServiceClient.cpp
  linux/ibus-keyman/tests/KmDbusTestServer.cpp
  linux/ibus-keyman/tests/StopTestServer.cpp
  linux/ibus-keyman/tests/meson.build
  linux/keyman-system-service/meson.build
  linux/keyman-system-service/resources/com.keyman.SystemService1.service.basu
  linux/keyman-system-service/resources/com.keyman.SystemService1.service.systemd
  linux/keyman-system-service/resources/meson.build
  linux/keyman-system-service/src/KeymanSystemService.cpp
  linux/keyman-system-service/src/KeymanSystemService.h
  linux/keyman-system-service/src/meson.build
  linux/keyman-system-service/tests/meson.build
Labels: linux/, stable, linux/engine/, chore

#13062 chore(linux): Update debian changelog 🏠
  linux/debian/changelog
Labels: linux/, stable, chore

#13063 chore(linux): Update debian changelog 🍒
  linux/debian/changelog
Labels: linux/, cherry-pick, chore

#13070 chore(linux): improve compatibility with Gentoo Linux 🍒
  linux/ibus-keyman/meson.build
  linux/ibus-keyman/src/KeymanSystemServiceClient.cpp
  linux/ibus-keyman/tests/KmDbusTestServer.cpp
  linux/ibus-keyman/tests/StopTestServer.cpp
  linux/ibus-keyman/tests/meson.build
  linux/keyman-system-service/meson.build
  linux/keyman-system-service/resources/com.keyman.SystemService1.service.basu
  linux/keyman-system-service/resources/com.keyman.SystemService1.service.systemd
  linux/keyman-system-service/resources/meson.build.in
  linux/keyman-system-service/src/KeymanSystemService.cpp
  linux/keyman-system-service/src/KeymanSystemService.h
  linux/keyman-system-service/src/meson.build
  linux/keyman-system-service/tests/meson.build
Labels: linux/, cherry-pick, linux/engine/, chore

#13071 auto: increment master version to 18.0.181
  HISTORY.md
  VERSION.md
Labels: auto

#13025 feat(windows): add localized button captions and form labels
  windows/src/desktop/kmshell/kmshell.dproj
  windows/src/desktop/kmshell/main/Keyman.Configuration.UI.UfrmStartInstall.dfm
  windows/src/desktop/kmshell/main/Keyman.Configuration.UI.UfrmStartInstall.pas
  windows/src/desktop/kmshell/main/Keyman.Configuration.UI.UfrmStartInstallNow.dfm
  windows/src/desktop/kmshell/main/Keyman.Configuration.UI.UfrmStartInstallNow.pas
  windows/src/desktop/kmshell/xml/keyman_update.xsl
  windows/src/desktop/kmshell/xml/strings.xml
Labels: windows/, feat, windows/config/, has-user-test

#13066 fix(web): disabled correction state should prevent predictive corrections
  web/src/engine/main/src/headless/languageProcessor.ts
  web/src/engine/predictive-text/worker-thread/src/main/correction/distance-modeler.ts
  web/src/engine/predictive-text/worker-thread/src/main/predict-helpers.ts
  web/src/engine/predictive-text/worker-thread/src/tests/mocha/cases/worker-model-compositor.js
Labels: web/, fix, has-user-test

#13068 fix(web): disabled autoaccept should not autohighlight suggestions
  web/src/engine/osk/src/banner/suggestionBanner.ts
Labels: web/, fix, has-user-test

#13065 chore(common): add 17.0.334 to version history
  HISTORY.md
Labels: common/, chore

#13023 fix(windows): add api GetContext and TIPProcessKeyEx with IsTextSelected bool
  windows/src/engine/keyman32/appint/aiTIP.cpp
  windows/src/engine/keyman32/globals.h
  windows/src/engine/keyman32/keyman32.def
  windows/src/engine/keyman32/keyman64.def
  windows/src/engine/kmtip/keyman32interface.cpp
  windows/src/engine/kmtip/kmkey.cpp
  windows/src/engine/kmtip/kmtip.h
Labels: windows/, fix, windows/engine/, has-user-test

#13048 fix(web): keyboard query error states should always provide informative Error objects, reports
  web/src/engine/keyboard-storage/src/cloud/queryEngine.ts
  web/src/engine/keyboard-storage/src/keyboardRequisitioner.ts
  web/src/engine/keyboard-storage/src/keyboardStub.ts
  web/src/test/manual/web/sentry-integration/errorhdr.js
  web/src/test/manual/web/sentry-integration/index.html
Labels: web/, fix

#13079 fix(web): keyboard query error states should always provide informative Error objects, reports 🍒 🏠
  web/src/engine/package-cache/src/cloud/queryEngine.ts
  web/src/engine/package-cache/src/keyboardRequisitioner.ts
  web/src/engine/package-cache/src/keyboardStub.ts
  web/src/test/manual/web/sentry-integration/errorhdr.js
  web/src/test/manual/web/sentry-integration/index.html
Labels: web/, stable, cherry-pick, fix

#13097 auto: increment master version to 18.0.182
  HISTORY.md
  VERSION.md
Labels: auto

#13084 feat(windows): report on processor type in tsysinfo
  windows/src/engine/tsysinfo/si_overview.pas
  windows/src/engine/tsysinfo/si_overview.xslt
Labels: windows/, feat, windows/engine/

#13082 fix(common): push branch when creating PR in version history writer
  resources/build/increment-version.sh
Labels: common/, common/resources/, fix

#13046 refactor: move langtags to @keymanapp/langtags npm module
  common/web/build.sh
  common/web/langtags/.gitignore
  common/web/langtags/build.sh
  common/web/langtags/package.json
  common/web/langtags/src/main.ts
  common/web/langtags/tsconfig.json
  developer/src/build.sh
  developer/src/kmc-keyboard-info/.gitignore
  developer/src/kmc-keyboard-info/build.sh
  developer/src/kmc-keyboard-info/package.json
  developer/src/kmc-keyboard-info/src/keyboard-info-compiler.ts
  developer/src/kmc-keyboard-info/test/keyboard-info-compiler.tests.ts
  developer/src/kmc-keyboard-info/tsconfig.json
  developer/src/packages.inc.sh
  docs/npm-packages.md
  package-lock.json
  package.json
  tsconfig.base.json
  tsconfig.json
Labels: developer/, common/, developer/compilers/, common/web/, refactor, docs

#13047 chore(developer): use langtags.json for kmc-generate language names
  common/web/langtags/README.md
  common/web/langtags/src/main.ts
  developer/src/kmc-generate/build.sh
  developer/src/kmc-generate/package.json
  developer/src/kmc-generate/src/basic-generator.ts
  developer/src/kmc-generate/test/fixtures/keyman-keyboard/sample/source/sample.kps
  developer/src/kmc-generate/test/fixtures/ldml-keyboard/sample/source/sample.kps
  developer/src/kmc-generate/test/fixtures/lexical-model/sample.en.sample/source/sample.en.sample.model.kps
  developer/src/kmc-generate/tsconfig.json
  developer/src/kmc-keyboard-info/src/keyboard-info-compiler.ts
  developer/src/kmc-keyboard-info/test/keyboard-info-compiler.tests.ts
  package-lock.json
Labels: developer/, common/, developer/compilers/, common/web/, chore

#13061 feat(developer): support relocation of external files in kmc-copy
  developer/docs/help/reference/kmc/cli/reference.md
  developer/src/kmc-copy/src/KeymanProjectCopier.ts
  developer/src/kmc-copy/test/copier.tests.ts
  developer/src/kmc-copy/test/fixtures/projects/external/alephwithbeth/HISTORY.md
  developer/src/kmc-copy/test/fixtures/projects/external/alephwithbeth/LICENSE.md
  developer/src/kmc-copy/test/fixtures/projects/external/alephwithbeth/README.md
  developer/src/kmc-copy/test/fixtures/projects/external/alephwithbeth/alephwithbeth.kpj
  developer/src/kmc-copy/test/fixtures/projects/external/alephwithbeth/build/alephwithbeth.js
  developer/src/kmc-copy/test/fixtures/projects/external/alephwithbeth/build/alephwithbeth.keyboard_info
  developer/src/kmc-copy/test/fixtures/projects/external/alephwithbeth/build/alephwithbeth.kmp
  developer/src/kmc-copy/test/fixtures/projects/external/alephwithbeth/build/alephwithbeth.kmx
  developer/src/kmc-copy/test/fixtures/projects/external/alephwithbeth/build/alephwithbeth.kvk
  developer/src/kmc-copy/test/fixtures/projects/external/alephwithbeth/source/alephwithbeth.ico
  developer/src/kmc-copy/test/fixtures/projects/external/alephwithbeth/source/alephwithbeth.keyman-touch-layout
  developer/src/kmc-copy/test/fixtures/projects/external/alephwithbeth/source/alephwithbeth.kmn
  developer/src/kmc-copy/test/fixtures/projects/external/alephwithbeth/source/alephwithbeth.kps
  developer/src/kmc-copy/test/fixtures/projects/external/alephwithbeth/source/alephwithbeth.kvks
  developer/src/kmc-copy/test/fixtures/projects/external/alephwithbeth/source/help/KeyboardLayout.png
  developer/src/kmc-copy/test/fixtures/projects/external/alephwithbeth/source/help/KeyboardLayoutAlt.png
  developer/src/kmc-copy/test/fixtures/projects/external/alephwithbeth/source/help/KeyboardLayoutShift.png
  developer/src/kmc-copy/test/fixtures/projects/external/alephwithbeth/source/help/alephwithbeth.php
  developer/src/kmc-copy/test/fixtures/projects/external/alephwithbeth/source/readme.htm
  developer/src/kmc-copy/test/fixtures/projects/external/another-folder/welcome/KeyboardLayout.png
  developer/src/kmc-copy/test/fixtures/projects/external/another-folder/welcome/KeyboardLayoutAlt.png
  developer/src/kmc-copy/test/fixtures/projects/external/another-folder/welcome/KeyboardLayoutShift.png
  developer/src/kmc-copy/test/fixtures/projects/external/another-folder/welcome/welcome.htm
  developer/src/kmc/src/commands/copy.ts
Labels: developer/, developer/compilers/, feat

#13085 chore: push the branch when creating PR in version history writer 🍒 🏠
  resources/build/increment-version.sh
Labels: stable, cherry-pick, common/, common/resources/, chore

#12956 feat(windows): kmshell switch handling for the installing state
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
  windows/src/desktop/kmshell/main/initprog.pas
Labels: windows/, feat, windows/config/, has-user-test

#13074 fix(web): disabled correction state should prevent predictive corrections 🍒 🏠
  common/web/input-processor/src/text/prediction/languageProcessor.ts
  common/web/lm-worker/src/main/correction/distance-modeler.ts
  common/web/lm-worker/src/main/model-compositor.ts
  common/web/lm-worker/src/test/cases/worker-model-compositor.js
Labels: web/, stable, cherry-pick, common/, fix, common/web/, has-user-test

#12995 feat(windows): add boot switch
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/engine/kmcomapi/util/utilkeymanoption.pas
Labels: windows/, feat, windows/config/, windows/engine/, has-user-test

#13051 docs(web): remove `.md` in help links
  web/docs/engine/guide/examples/__auto-control.html
  web/docs/engine/guide/examples/__control-by-control.html
  web/docs/engine/guide/examples/__first-example.html
  web/docs/engine/guide/examples/__full-manual-control.html
  web/docs/engine/guide/examples/__manual-control.html
Labels: web/, chore

#13026 chore: add the windows platform to titles
  windows/docs/engine/api/index.md
  windows/docs/help/about/credits.md
  windows/docs/help/about/index.md
  windows/docs/help/about/license.md
  windows/docs/help/advanced/index.md
  windows/docs/help/basic/index.md
  windows/docs/help/basic/uninstall-keyboard.md
  windows/docs/help/basic/uninstall.md
  windows/docs/help/basic/update.md
  windows/docs/help/start/index.md
  windows/docs/help/start/tutorial.md
Labels: bug, windows/, chore

#13006 fix(mac): properly manage Input Method lifecycle
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
Labels: mac/, fix
