Repository keymanapp/keyman, pull requests merged in 2025-05, with the labels that each got.

#13772 chore(android): Use `builder_is_ci_build` rather than `--ci` flag
  android/KMAPro/build.sh
  android/KMEA/build.sh
  android/Samples/KMSample1/build.sh
  android/Samples/KMSample2/build.sh
  android/Tests/KeyboardHarness/build.sh
  android/build.sh
  oem/firstvoices/android/build.sh
Labels: android/, oem/, android/engine/, android/app/, oem/fv/, oem/fv/android/, chore, android/samples/

#13802 fix(android): Use Alert Dialog if keyboard pkg missing languages 🏠
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
Labels: android/, stable, fix, android/app/, has-user-test

#13815 docs: add `--deps` flags and move builder.md into /docs
  docs/builder.md
Labels: docs

#13804 chore(web): improve clean actions
  web/build.sh
  web/src/engine/osk/build.sh
  web/src/engine/osk/gesture-processor/build.sh
  web/src/test/manual/build.sh
  web/src/tools/build.sh
Labels: web/, chore

#13773 fix(ios): restore keyboard-scale settings for older, still-supported iOS devices
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeyboardScaleMap.swift
Labels: ios/, fix, ios/engine/

#13807 maint(web): merge LMLayer CI build config with standard Web CI build config
  resources/build/ci/cancel-builds/trigger_definitions.mjs
  resources/build/trigger-definitions.inc.sh
  web/src/engine/predictive-text/build.sh
  web/src/engine/predictive-text/worker-main/build.sh
Labels: web/, web/predictive-text/, resources/, maint

#13808 maint(web): merge LMLayer CI build config with standard Web CI build config 🍒 🏠
  resources/build/ci/cancel-builds/trigger_definitions.mjs
  resources/build/trigger-definitions.inc.sh
  web/src/engine/predictive-text/build.sh
  web/src/engine/predictive-text/worker-main/build.sh
Labels: web/, stable, cherry-pick, common/, common/resources/

#13795 maint(core): batch build kmx in tests for performance
  core/tests/unit/kmx/keyboards.kpj.in
  core/tests/unit/kmx/meson.build
  core/tests/unit/ldml/keyboards/keyboards.kpj.in
  core/tests/unit/ldml/keyboards/meson.build
Labels: core/, maint

#13796 maint(common): cleanup meson versioning
  core/build.sh
  core/getversion.bat
  core/getversion.sh
  core/meson.build
  developer/src/kmcmplib/build.sh
  developer/src/kmcmplib/getversion.bat
  developer/src/kmcmplib/getversion.sh
  developer/src/kmcmplib/meson.build
  linux/ibus-keyman/build.sh
  linux/ibus-keyman/meson.build
  linux/keyman-system-service/build.sh
  linux/keyman-system-service/meson.build
  linux/mcompile/keymap/meson.build
  mac/mcompile/meson.build
  resources/build/meson-utils.inc.sh
  resources/build/meson/standard.meson.build
  resources/build/meson/standard_meson_build.inc.sh
Labels: developer/, mac/, linux/, common/, developer/compilers/, linux/engine/, core/, resources/, maint

#13803 maint(common): test imported resource versions
  docs/minimum-versions.md
  resources/build/minimum-versions.inc.sh
  resources/build/minimum-versions.tests.inc.sh
  resources/build/publish-minimum-versions.sh
Labels: common/, docs, resources/, maint

#13818 fix(mac): add version metadata after building tests
  mac/build.sh
Labels: mac/, fix, chore

#13825 maint(common): remove `eslint:recommended` configuration for .ts
  .eslintrc.cjs
Labels: common/, maint

#13813 maint(common): Update write_download_info() to be cross-platform
  resources/shellHelperFunctions.sh
Labels: common/, resources/, maint

#13817 fix(ios): restore keyboard-scale settings for older, still-supported iOS devices 🍒 🏠
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeyboardScaleMap.swift
Labels: ios/, stable, cherry-pick, fix, ios/engine/

#13828 change(ios): limit reports about devices without predefined scaling entries 🍒 🏠
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeyboardScaleMap.swift
Labels: ios/, stable, cherry-pick, ios/engine/, change

#13806 change(ios): limit reports about devices without predefined scaling entries
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeyboardScaleMap.swift
Labels: ios/, ios/engine/, change

#13797 change(web): lint engine/common/web-utils 🧶
  web/src/engine/common/web-utils/.eslintrc.cjs
  web/src/engine/common/web-utils/build.sh
  web/src/engine/common/web-utils/src/deepCopy.ts
  web/src/engine/common/web-utils/src/priority-queue.ts
  web/src/engine/common/web-utils/src/version.ts
Labels: web/, change

#13716 chore(web): replace kmwFromCharCode with its ES6 equivalent 🧶
  web/src/engine/common/web-utils/src/kmwstring.ts
  web/src/engine/keyboard/src/defaultRules.ts
  web/src/engine/keyboard/src/keyboards/activeLayout.ts
Labels: web/, chore

#13719 chore(web): add unit tests for SMP-aware string-handling helper methods 🧶
  web/src/engine/common/web-utils/src/tests/stringHandling.js
Labels: web/, chore

#13726 refactor(web): refactor string-helper library to eliminate its module side-effect 🧶
  common/test/resources/model-helpers.mjs
  web/src/app/webview/src/contextManager.ts
  web/src/engine/common/web-utils/package.json
  web/src/engine/common/web-utils/src/index.ts
  web/src/engine/common/web-utils/src/kmwstring.ts
  web/src/engine/common/web-utils/src/tests/stringHandling.js
  web/src/engine/element-wrappers/src/contentEditable.ts
  web/src/engine/element-wrappers/src/designIFrame.ts
  web/src/engine/element-wrappers/src/input.ts
  web/src/engine/element-wrappers/src/textarea.ts
  web/src/engine/js-processor/src/kbdInterface.ts
  web/src/engine/js-processor/src/keyboardProcessor.ts
  web/src/engine/js-processor/src/mock.ts
  web/src/engine/js-processor/src/outputTarget.ts
  web/src/engine/main/src/headless/contextWindow.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/predictive-text/templates/src/common.ts
  web/src/engine/predictive-text/templates/src/trie-model.ts
  web/src/engine/predictive-text/templates/tests/helpers.js
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-tracker.ts
  web/src/engine/predictive-text/worker-thread/src/main/index.ts
  web/src/engine/predictive-text/worker-thread/src/main/model-compositor.ts
  web/src/engine/predictive-text/worker-thread/src/main/model-helpers.ts
  web/src/engine/predictive-text/worker-thread/src/main/predict-helpers.ts
  web/src/test/auto/dom/cases/element-wrappers/element_interfaces.tests.ts
  web/src/test/auto/dom/cases/element-wrappers/target_mocks.tests.ts
  web/src/test/auto/dom/cases/keyboard/domKeyboardLoader.tests.ts
  web/src/test/auto/headless/engine/js-processor/basic-init.tests.js
  web/src/test/auto/headless/engine/js-processor/bundled-module.tests.js
  web/src/test/auto/headless/engine/js-processor/engine/notany_context.tests.js
  web/src/test/auto/headless/engine/js-processor/engine/stores.tests.js
  web/src/test/auto/headless/engine/js-processor/specialized-backspace.tests.js
  web/src/test/auto/headless/engine/js-processor/transcriptions.tests.js
  web/src/test/auto/headless/engine/main/headless/inputProcessor.tests.js
  web/src/test/auto/headless/engine/main/headless/languageProcessor.tests.js
Labels: web/, common/, refactor, has-user-test, web/predictive-text/, common/models/templates/

#13837 auto: increment master version to 19.0.32
  HISTORY.md
  VERSION.md
Labels: auto

#13785 change(web): replace USVString with string in predictive-text engine
  common/web/types/src/lexical-model-types.ts
  common/web/types/tests/lexical-model-types.tests.ts
  web/src/engine/predictive-text/templates/src/tokenization.ts
  web/src/engine/predictive-text/templates/src/trie-model.ts
  web/src/engine/predictive-text/types/message.d.ts
  web/src/engine/predictive-text/worker-main/src/lmlayer.ts
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-tracker.ts
  web/src/engine/predictive-text/worker-thread/src/main/correction/distance-modeler.ts
  web/src/engine/predictive-text/worker-thread/src/main/model-compositor.ts
Labels: web/, common/, common/web/, change, web/predictive-text/

#13819 chore(web): replace --ci flag with builder_is_ci_build
  web/build.sh
  web/ci.sh
  web/common.inc.sh
  web/src/app/browser/build.sh
  web/src/app/ui/build.sh
  web/src/app/webview/build.sh
  web/src/engine/attachment/build.sh
  web/src/engine/common/web-utils/build.sh
  web/src/engine/dom-utils/build.sh
  web/src/engine/element-wrappers/build.sh
  web/src/engine/events/build.sh
  web/src/engine/interfaces/build.sh
  web/src/engine/js-processor/build.sh
  web/src/engine/keyboard-storage/build.sh
  web/src/engine/keyboard/build.sh
  web/src/engine/main/build.sh
  web/src/engine/osk/build.sh
  web/src/engine/osk/gesture-processor/build.sh
  web/src/engine/predictive-text/build.sh
  web/src/engine/predictive-text/templates/build.sh
  web/src/engine/predictive-text/wordbreakers/build.sh
  web/src/engine/predictive-text/worker-main/build.sh
  web/src/engine/predictive-text/worker-main/unit_tests/test.sh
  web/src/engine/predictive-text/worker-thread/build.sh
  web/src/samples/build.sh
  web/src/test/manual/build.sh
  web/src/tools/build.sh
  web/test.sh
Labels: web/, chore, web/predictive-text/

#13820 maint(web): simplify worker-main test.sh
  web/src/engine/predictive-text/worker-main/unit_tests/test.sh
Labels: web/, web/predictive-text/, maint

#13800 change(web): lint kmwstring web-utility 🧶
  web/src/engine/common/web-utils/.eslintrc.cjs
  web/src/engine/common/web-utils/src/kmwstring.ts
Labels: web/, change

#13805 fix(web): fix extraction of gesture-engine fixture used in DOM-based unit tests
  web/src/engine/osk/build.sh
  web/src/engine/osk/gesture-processor/src/tools/host-fixture/host-fixture.html
Labels: web/, fix

#13774 fix(web): add robustness for bad touch-layout fontsize specs
  web/src/engine/osk/src/lengthStyle.ts
  web/src/engine/osk/src/views/oskView.ts
Labels: web/, fix, has-user-test

#13839 fix(web): fix var declaration affected by linter strictness + length-style fix
  web/src/engine/osk/src/lengthStyle.ts
Labels: web/, fix

#13840 chore(ios): Update inuktitut_pirurvik to 1.4.1
  oem/firstvoices/keyboards.csv
Labels: ios/, oem/, oem/fv/, chore

#13841 chore(ios): Update inuktitut_pirurvik to 1.4.1 🏠
  oem/firstvoices/keyboards.csv
Labels: ios/, stable, oem/, oem/fv/, chore

#13779 chore(common): override check when running on TC
  linux/keyman-config/run-tests.sh
  resources/tools/check-markdown/build.sh
Labels: linux/, common/, linux/config/, chore, resources/

#13842 change(linux): add ICU dependency needed to build on Arch Linux
  linux/ibus-keyman/meson.build
Labels: linux/, linux/engine/, change

#13845 auto: increment master version to 19.0.33
  HISTORY.md
  VERSION.md
Labels: auto

#13838 fix(web): add robustness for bad touch-layout fontsize specs 🍒 🏠
  web/src/engine/osk/src/lengthStyle.ts
  web/src/engine/osk/src/views/oskView.ts
Labels: web/, stable, cherry-pick, fix

#13827 maint(common): automatically set --debug option for local-environment builder-script uses
  resources/build/test/debug-deps/test.sh
  resources/build/test/test.sh
  resources/builder.inc.sh
Labels: common/, resources/, maint

#13759 docs(web): add a Web engine keystroke lifecycle internal doc
  web/docs/internal/keystroke-lifecycle.md
  web/docs/internal/keystroke-processing.md
Labels: web/, docs

#13844 maint(common): use function to detect if running on TC
  common/web/types/build.sh
  common/windows/delphi/general/DUnitX.Loggers.TeamCity.pas
  resources/shellHelperFunctions.sh
  web/src/test/manual/web/regression-tests/test-builder.js
Labels: web/, common/, common/web/, resources/, maint

#13852 docs(common): document new `builder_is_running_on_teamcity` function
  docs/builder.md
  resources/build/README.md
Labels: common/, docs, resources/

#13856 auto: increment master version to 19.0.34
  HISTORY.md
  VERSION.md
Labels: auto

#13855 docs(common): update `builder_echo` documentation for TC blocks
  docs/builder.md
Labels: common/, docs

#13826 fix(windows): add breadcrumb to download failures
  windows/src/desktop/kmshell/main/Keyman.System.DownloadUpdate.pas
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
Labels: windows/, fix, windows/config/

#13860 fix(web): sustain active batched-layout mode when keyboard is switched
  web/src/engine/osk/src/views/oskView.ts
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, fix

#13853 fix(mac): add version metadata after building tests 🍒 🏠
  mac/build.sh
Labels: mac/, stable, cherry-pick, fix

#13868 maint(common): output start/end messages if not running on TC
  resources/build/test/test.sh
  resources/builder.inc.sh
Labels: common/, resources/, maint

#13863 fix(web): sustain active batched-layout mode when keyboard is switched 🍒 🏠
  web/src/engine/osk/src/views/oskView.ts
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, stable, cherry-pick, fix

#13873 fix(developer): remove ngrok binary at build time 🍒 🏠
  developer/src/server/build.sh
Labels: developer/, stable, cherry-pick, common/, common/resources/, fix, developer/ide/

#13874 maint(common): apply new codeowners from master 🍒 🏠
  docs/CODEOWNERS
Labels: stable, docs

#13857 docs(common): update readme link to builder.md
  resources/build/README.md
Labels: common/, docs, resources/

#13872 chore(mac,windows): Update Crowdin strings for Italian 🏠
  mac/Keyman4MacIM/Keyman4MacIM/it.lproj/Localizable.strings
  windows/src/desktop/kmshell/locale/it-IT/strings.xml
Labels: windows/, mac/, stable, windows/config/, chore

#13823 maint(common): rename gosh.sh to gosh
  resources/gosh/gosh
Labels: common/, resources/, maint

#13883 auto: increment stable-18.0 version to 18.0.237
  HISTORY.md
  VERSION.md
Labels: stable, auto

#13884 auto: increment stable-18.0 version to 18.0.237 (history cherry-pick to master)
  HISTORY.md
Labels: auto

#13869 maint(common): add two more functions to detect if running on CI 🌇
  docs/builder.md
  resources/builder.inc.sh
Labels: common/, docs, resources/, maint

#13875 maint(common): use new `builder_is_running_on_*` functions 🌇
  resources/build/build-utils.sh
Labels: resources/, maint

#13879 maint(common): remove obsolete code from docker-images `run.sh`
  resources/docker-images/run.sh
Labels: common/, resources/, maint

#13848 chore(mac): remove obsolete key processing code
  mac/Keyman4Mac/Keyman4Mac/AppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/KMConfigurationWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/KeymanTests/TestAppDelegate.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/project.pbxproj
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/Categories/NSString+XString.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/Categories/NSString+XString.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMBinaryFileFormat.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMCompGroup.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMCompGroup.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMCompKey.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMCompKey.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMXFile.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMXFile.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KeymanEngine4Mac.h
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KMXFileTests.m
Labels: mac/, chore, epic-macos-core

#13893 auto: increment master version to 19.0.36
  HISTORY.md
  VERSION.md
Labels: auto

#13375 feat(developer): line numbers for XML parsing and kmc-ldml 🙀
  developer/src/common/web/utils/package.json
  developer/src/common/web/utils/src/compiler-callbacks.ts
  developer/src/common/web/utils/src/compiler-interfaces.ts
  developer/src/common/web/utils/src/index.ts
  developer/src/common/web/utils/src/line-utils.ts
  developer/src/common/web/utils/src/symbol-utils.ts
  developer/src/common/web/utils/src/types/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/common/web/utils/src/xml-utils.ts
  developer/src/common/web/utils/test/kpj/kpj-file-writer.tests.ts
  developer/src/common/web/utils/test/kps/kps-file-reader.tests.ts
  developer/src/common/web/utils/test/kvks/kvks-file.tests.ts
  developer/src/common/web/utils/test/ldml/ldml-keyboard-xml-reader.tests.ts
  developer/src/common/web/utils/test/line-utils.tests.ts
  developer/src/common/web/utils/test/xml-utils.tests.ts
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/ldml-compiler-messages.ts
  developer/src/kmc-ldml/test/helpers/compareXml.ts
  developer/src/kmc-ldml/test/helpers/index.ts
  developer/src/kmc-ldml/test/keys.tests.ts
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
  package-lock.json
Labels: work-in-progress, developer/, developer/compilers/, feat

#13858 maint(android): Update to Java 21 and Gradle dependencies
  android/KMAPro/build.gradle
  android/KMAPro/build.sh
  android/KMAPro/gradle.properties
  android/KMAPro/gradle/wrapper/gradle-wrapper.properties
  android/KMAPro/kMAPro/build.gradle
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/build.gradle
  android/KMEA/app/src/main/java/com/keyman/engine/cloud/CloudDownloadMgr.java
  android/KMEA/build.gradle
  android/KMEA/build.sh
  android/KMEA/gradle/wrapper/gradle-wrapper.properties
  android/README.md
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample1/build.gradle
  android/Samples/KMSample1/gradle.properties
  android/Samples/KMSample1/gradle/wrapper/gradle-wrapper.properties
  android/Samples/KMSample2/app/build.gradle
  android/Samples/KMSample2/build.gradle
  android/Samples/KMSample2/gradle.properties
  android/Samples/KMSample2/gradle/wrapper/gradle-wrapper.properties
  android/Tests/KeyboardHarness/app/build.gradle
  android/Tests/KeyboardHarness/build.gradle
  android/Tests/KeyboardHarness/build.sh
  android/Tests/KeyboardHarness/gradle.properties
  android/Tests/KeyboardHarness/gradle/wrapper/gradle-wrapper.properties
  android/Tests/keycode/gradle/wrapper/gradle-wrapper.properties
  docs/minimum-versions.md
  oem/firstvoices/android/app/build.gradle
  oem/firstvoices/android/build.gradle
  oem/firstvoices/android/build.sh
  oem/firstvoices/android/gradle.properties
  oem/firstvoices/android/gradle/wrapper/gradle-wrapper.properties
  resources/build/build-utils.sh
  resources/build/minimum-versions.inc.sh
Labels: android/, oem/, android/engine/, android/app/, oem/fv/, oem/fv/android/, docs, has-user-test, android/samples/, resources/, maint

#13890 maint(linux): improve getting PR# in `upload-to-debian.sh`
  linux/scripts/upload-to-debian.sh
Labels: linux/, maint

#13891 fix(linux): fallback to `VERSION` if `KEYMAN_VERSION` isn't set during package build
  .github/workflows/deb-packaging.yml
Labels: linux/, fix

#13892 maint(common): move and document `builder_is_ci_*` functions
  docs/builder.md
  resources/build/build-utils-ci.inc.sh
  resources/builder.inc.sh
Labels: common/, docs, resources/

#13898 maint(android): use new variable name `KEYMAN_TIER`
  android/KMAPro/build-play-store-notes.inc.sh
Labels: android/, android/app/, maint

#13876 fix(mac): handle PackageInfo section in kmp.inf file
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/KMConfigurationWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMPackageReader.m
  mac/Keyman4MacIM/Keyman4MacIM/en.lproj/Localizable.strings
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMXFile.m
Labels: mac/, fix, has-user-test

#13906 auto: increment master version to 19.0.37
  HISTORY.md
  VERSION.md
Labels: auto

#13902 maint(linux): remove generated file that got accidentally committed
  linux/keyman-system-service/resources/VERSION_WITH_TAG.md
Labels: linux/, maint

#13882 maint(common): report builder errors to stderr
  resources/builder.inc.sh
Labels: common/, resources/, maint

#13907 chore(android): Update FirstVoices launcher icon and red theme
  oem/firstvoices/android/app/src/main/ic_launcher-playstore.png
  oem/firstvoices/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  oem/firstvoices/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  oem/firstvoices/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  oem/firstvoices/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  oem/firstvoices/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  oem/firstvoices/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  oem/firstvoices/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  oem/firstvoices/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  oem/firstvoices/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  oem/firstvoices/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  oem/firstvoices/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  oem/firstvoices/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  oem/firstvoices/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  oem/firstvoices/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  oem/firstvoices/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  oem/firstvoices/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  oem/firstvoices/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  oem/firstvoices/android/app/src/main/res/values/colors.xml
  oem/firstvoices/android/app/src/main/res/values/ic_launcher_background.xml
Labels: android/, oem/, oem/fv/, oem/fv/android/, chore, has-user-test

#13915 feat(developer): add more line number issues for KeysCompiler 🙀
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/layr.ts
  developer/src/kmc-ldml/src/compiler/ldml-compiler-messages.ts
  developer/src/kmc-ldml/src/compiler/visual-keyboard-compiler.ts
  developer/src/kmc-ldml/test/helpers/index.ts
  developer/src/kmc-ldml/test/keys.tests.ts
  developer/src/kmc-ldml/test/layr.tests.ts
  developer/src/kmc-ldml/test/messages.tests.ts
Labels: developer/, developer/compilers/, feat

#13916 feat(developer): add line number for MetaCompiler 🙀
  developer/src/kmc-ldml/src/compiler/ldml-compiler-messages.ts
  developer/src/kmc-ldml/src/compiler/meta.ts
  developer/src/kmc-ldml/test/meta.tests.ts
Labels: developer/, developer/compilers/, feat

#13904 maint(linux): address comments from Debian package review
  LICENSE.md
  linux/debian/control
  linux/debian/copyright
  linux/debian/ibus-keyman.manpages
  linux/debian/keyman-system-service.manpages
  linux/debian/source/lintian-overrides
  linux/ibus-keyman/COPYING
  linux/ibus-keyman/man/ibus-engine-keyman.8
  linux/keyman-config/COPYING
  linux/keyman-system-service/.gitignore
  linux/keyman-system-service/man/keyman-system-service.8
  linux/keyman-system-service/meson.build
  linux/keyman-system-service/resources/systemd-keyman.service
  linux/scripts/dist.sh
Labels: linux/, linux/config/, linux/engine/, maint

#13910 maint(linux): add Questing to launchpad package builds
  linux/scripts/launchpad.sh
Labels: linux/, maint

#13912 maint(linux): fix logging in `deb-packaging.sh`
  linux/scripts/deb-packaging.sh
Labels: linux/, maint

#13913 maint(linux): remove temporary files created during dependency installation
  linux/scripts/deb-packaging.sh
Labels: linux/, maint

#13754 maint(common): move TC build configs for Linux to scripts 🌇
  linux/scripts/package-build.inc.sh
  resources/docker-images/build.sh
  resources/teamcity/README.md
  resources/teamcity/includes/tc-actions.inc.sh
  resources/teamcity/includes/tc-linux.inc.sh
  resources/teamcity/keyman-linux-release.sh
  resources/teamcity/keyman-linux-test-integration.sh
  resources/teamcity/keyman-linux-test.sh
Labels: web/, windows/, android/, developer/, ios/, mac/, linux/, common/, developer/compilers/, common/resources/, oem/, android/engine/, android/app/, ios/app/, ios/engine/, linux/config/, linux/engine/, common/web/, developer/ide/, oem/fv/, oem/fv/android/, oem/fv/ios/, oem/fv/windows/, windows/config/, windows/engine/, chore, docs, resources/, maint

#13927 chore(web): add accessor annotations for `JSKeyboardProcessor` 🎼
  web/src/engine/js-processor/src/jsKeyboardProcessor.ts
Labels: web/, chore, epic-web-core

#13847 fix(developer): remove ngrok binary at build time
  developer/src/server/build.sh
Labels: developer/, fix, developer/ide/, resources/

#13889 chore(linux): Update debian changelog 🍒
  linux/debian/changelog
Labels: linux/, cherry-pick, chore

#13942 refactor(web): rename base `KeymanEngine` to `KeymanEngineBase` 🎼🍒
  web/src/app/browser/src/context/pageIntegrationHandlers.ts
  web/src/app/browser/src/debug-main.ts
  web/src/app/browser/src/keyboardInterface.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/browser/src/languageMenu.ts
  web/src/app/browser/src/oskConfiguration.ts
  web/src/app/browser/src/release-main.ts
  web/src/app/browser/src/test-index.ts
  web/src/app/browser/src/utils/rotationProcessor.ts
  web/src/app/browser/src/viewsAnchorpoint.ts
  web/src/app/webview/src/debug-main.ts
  web/src/app/webview/src/keymanEngine.ts
  web/src/app/webview/src/oskConfiguration.ts
  web/src/app/webview/src/release-main.ts
  web/src/engine/main/src/index.ts
  web/src/engine/main/src/keyboardInterface.ts
  web/src/engine/main/src/keymanEngineBase.ts
Labels: web/, refactor, epic-web-core

#13955 auto: increment master version to 19.0.39
  HISTORY.md
  VERSION.md
Labels: auto

#13917 cherrypick(android): Update FirstVoices launcher icon and red theme 🏠
  oem/firstvoices/android/app/src/main/ic_launcher-playstore.png
  oem/firstvoices/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  oem/firstvoices/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  oem/firstvoices/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  oem/firstvoices/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  oem/firstvoices/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  oem/firstvoices/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  oem/firstvoices/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  oem/firstvoices/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  oem/firstvoices/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  oem/firstvoices/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  oem/firstvoices/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  oem/firstvoices/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  oem/firstvoices/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  oem/firstvoices/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  oem/firstvoices/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  oem/firstvoices/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  oem/firstvoices/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  oem/firstvoices/android/app/src/main/res/values/colors.xml
  oem/firstvoices/android/app/src/main/res/values/ic_launcher_background.xml
Labels: android/, stable, oem/, oem/fv/, oem/fv/android/, has-user-test

#13871 chore(mac,windows): Update Crowdin strings for Italian
  mac/Keyman4MacIM/Keyman4MacIM/it.lproj/Localizable.strings
  windows/src/desktop/kmshell/locale/it-IT/strings.xml
Labels: windows/, mac/, windows/config/, chore

#13930 refactor(web): rename generic type variables 🎼
  web/src/engine/main/src/keymanEngineBase.ts
Labels: web/, refactor, epic-web-core

#13960 fix(web): empty layout fontSize property should default to 1em 🍒 🏠
  web/src/engine/osk/src/views/oskView.ts
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, stable, cherry-pick, fix, has-user-test

#13964 maint(linux): update gha-ubuntu-packaging dependency
  .github/actions/build-binary-packages/action.yml
Labels: linux/, maint

#13962 fix(linux): use correct header guard define in OrderedOutputDevice.h
  linux/keyman-system-service/src/OrderedOutputDevice.h
Labels: linux/, fix

#13963 fix(linux): use correct header guard define in OrderedOutputDevice.h 🍒 🏠
  linux/keyman-system-service/src/OrderedOutputDevice.h
Labels: linux/, stable, cherry-pick, fix

#13888 chore(linux): Update debian changelog 🏠
  linux/debian/changelog
Labels: linux/, stable, chore

#13966 maint(linux): update GHA dependencies for Linux package builds
  .github/actions/build-binary-packages/action.yml
  .github/workflows/api-verification.yml
  .github/workflows/deb-packaging.yml
Labels: linux/, maint

#13967 auto: increment master version to 19.0.40
  HISTORY.md
  VERSION.md
Labels: auto

#13812 maint(common): Add zip.inc.sh for cross-platform zipping
  resources/build/zip.inc.sh
Labels: common/, resources/, maint

#13969 auto: increment master version to 19.0.41
  HISTORY.md
  VERSION.md
Labels: auto

#13895 fix(web): inspectable test-script mode should not be auto-enabled in local-env tests
  web/src/engine/predictive-text/worker-main/unit_tests/test.sh
  web/src/engine/predictive-text/worker-thread/build.sh
  web/test.sh
Labels: web/, fix, web/predictive-text/

#13897 maint(common): evaluate and apply npm audit fix (without forced changes)
  package-lock.json
Labels: common/, has-user-test, maint

#13899 maint: update mocha
  common/tools/sourcemap-path-remapper/package.json
  common/web/types/package.json
  developer/src/common/web/utils/package.json
  developer/src/kmc-analyze/package.json
  developer/src/kmc-copy/package.json
  developer/src/kmc-generate/package.json
  developer/src/kmc-keyboard-info/package.json
  developer/src/kmc-kmn/package.json
  developer/src/kmc-ldml/package.json
  developer/src/kmc-model-info/package.json
  developer/src/kmc-model/package.json
  developer/src/kmc-package/package.json
  developer/src/kmc/package.json
  developer/src/server/package.json
  package-lock.json
  package.json
  web/package.json
  web/src/engine/common/web-utils/package.json
  web/src/engine/osk/gesture-processor/package.json
  web/src/engine/predictive-text/templates/package.json
  web/src/engine/predictive-text/wordbreakers/package.json
  web/src/engine/predictive-text/worker-main/package.json
  web/src/engine/predictive-text/worker-thread/package.json
  web/src/test/manual/web/regression-tests/package.json
Labels: web/, developer/, common/, developer/compilers/, common/web/, developer/ide/, web/predictive-text/, maint

#13900 maint: update @actions/github + @octokit references
  package-lock.json
  resources/build/version/package.json
  resources/build/version/src/fixupHistory.ts
  resources/build/version/src/index.ts
  resources/build/version/src/reportHistory.ts
Labels: resources/, maint

#13901 maint(common): update fast-json-patch to ^3.1.1
  package-lock.json
  package.json
Labels: common/, maint

#13683 change(web): cancel flicks when both returning to and releasing at original tap location
  web/docs/internal/gestures/keyman-keyboard-gesture-specs.md
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
Labels: web/, fix, has-user-test

#13959 fix(web): empty layout fontSize property should default to 1em
  web/src/engine/osk/src/views/oskView.ts
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, fix, has-user-test

#13957 fix(mac): handle PackageInfo section in kmp.inf file 🍒 🏠
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/KMConfigurationWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMPackageReader.m
  mac/Keyman4MacIM/Keyman4MacIM/en.lproj/Localizable.strings
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMXFile.m
Labels: mac/, stable, cherry-pick, fix, has-user-test

#13988 maint(linux): add `--no-werror` option to not report warnings as errors
  core/build.sh
  core/commands.inc.sh
  linux/build.sh
  linux/ibus-keyman/build.sh
  linux/keyman-system-service/build.sh
Labels: linux/, linux/engine/, core/, maint

#13992 auto: increment master version to 19.0.43
  HISTORY.md
  VERSION.md
Labels: auto

#13991 chore(ios): FirstVoices certificate update
  oem/firstvoices/ios/exportAppStore.plist
Labels: ios/, oem/, oem/fv/, oem/fv/ios/, chore

#14002 auto: increment master version to 19.0.44
  HISTORY.md
  VERSION.md
Labels: auto

#13983 feat(android): log active keyboard, model IDs with reported errors
  android/KMEA/app/src/main/java/com/keyman/engine/util/KMLog.java
Labels: android/, feat, android/engine/

#13920 fix(windows): rename Enter and Exit methods TState
  windows/src/desktop/kmshell/main/Keyman.System.DownloadUpdate.pas
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
Labels: windows/, common/, fix, windows/config/, has-user-test

#13867 fix(windows): use json file name against cache folder
  windows/src/desktop/kmshell/main/Keyman.System.DownloadUpdate.pas
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
Labels: windows/, fix, windows/config/, has-user-test

#14003 feat(android): log active keyboard, model IDs with reported errors 🍒 🏠
  android/KMEA/app/src/main/java/com/keyman/engine/util/KMLog.java
Labels: android/, stable, cherry-pick, feat, android/engine/

#13979 maint: update macOS environment setup, related documentation
  docs/build/macos.md
  resources/devbox/macos/keyman.macos.env.sh
  resources/devbox/macos/macos.sh
Labels: docs, resources/, maint

#14005 chore(ios): FirstVoices certificate update 🍒 🏠
  oem/firstvoices/ios/exportAppStore.plist
Labels: ios/, stable, cherry-pick, oem/, oem/fv/, oem/fv/ios/, chore

#14006 feat(ios): log active keyboard, model IDs with reported errors 🍒 🏠
  ios/engine/KMEI/KeymanEngine/Classes/Errors/SentryManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
Labels: ios/, stable, cherry-pick, feat, ios/engine/

#13987 feat(ios): log active keyboard, model IDs with reported errors
  ios/engine/KMEI/KeymanEngine/Classes/Errors/SentryManager.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
Labels: ios/, feat, ios/engine/

#13999 fix(linux): configurable path in `.service` file when using basu 🏠🍒
  linux/keyman-system-service/resources/com.keyman.SystemService1.service.basu
  linux/keyman-system-service/resources/meson.build.in
  linux/keyman-system-service/resources/systemd-keyman.service.in
Labels: linux/, stable, fix

#14000 maint(linux): add `--no-werror` option to not report warnings as errors 🏠🍒
  core/build.sh
  core/commands.inc.sh
  linux/build.sh
  linux/ibus-keyman/build.sh
  linux/keyman-system-service/build.sh
Labels: linux/, stable, linux/engine/, core/

#13986 maint(linux): add quilt to release build configuration
  resources/teamcity/includes/tc-actions.inc.sh
  resources/teamcity/keyman-linux-release.sh
  resources/teamcity/keyman-linux-test-integration.sh
  resources/teamcity/keyman-linux-test.sh
Labels: linux/, resources/, maint

#13995 refactor(web): remove default from `KeyEvent` 🎼
  web/src/engine/keyboard/src/defaultRules.ts
  web/src/engine/keyboard/src/index.ts
  web/src/engine/keyboard/src/keyEvent.ts
  web/src/engine/keyboard/src/keyMapping.ts
  web/src/engine/keyboard/src/keyboards/activeLayout.ts
  web/src/engine/keyboard/src/keyboards/jsKeyboard.ts
Labels: web/, refactor, epic-web-core

#13978 fix(android): Check network access before trying to download keyboard
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KMPBrowserActivity.java
Labels: android/, fix, android/app/, has-user-test

#14017 auto: increment master version to 19.0.45
  HISTORY.md
  VERSION.md
Labels: auto

#14012 maint(developer): update multer to v2.0.0
  developer/src/server/package.json
  package-lock.json
Labels: developer/, developer/ide/, has-user-test, maint

#14022 auto: increment master version to 19.0.46
  HISTORY.md
  VERSION.md
Labels: auto

#14023 docs(common): update README with number of languages and keyboards
  README.md
Labels: common/, docs

#14024 auto: increment master version to 19.0.47
  HISTORY.md
  VERSION.md
Labels: auto

#14010 fix(windows): cherry use json file name against cache folder and ename Enter and Exit methods for TState Object 🍒 🏠
  windows/src/desktop/kmshell/main/Keyman.System.DownloadUpdate.pas
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
Labels: windows/, stable, fix, windows/config/

#13984 fix(windows): only breadcrumb unexpected state on first run
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
Labels: windows/, fix, windows/config/, has-user-test

#14011 chore(ios): update FirstVoices AppIcon 🍒 🏠
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/Contents.json
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_Appstore_1024x1024.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iOS_Settings_29x29.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iOS_Settings_58x58-1.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iOS_Settings_58x58.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iOS_Settings_87x87.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iPadPro_167x167.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iPad_152x152.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iPad_76x76-1.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iPhone_120x120-1.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iPhone_120x120.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iPhone_Retina_180x180.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iPhone_x1_40x40.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iPhone_x2_80x80-1.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/FV Keyboards_iPhone_x2_80x80.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/icon-20@2x.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/icon-20@3x.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/icon-29@2x.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/icon-29@3x.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/icon-38@2x.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/icon-38@3x.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/icon-40@2x.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/icon-40@3x.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/icon-60@2x.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/icon-60@3x.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/icon-64@2x.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/icon-64@3x.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/icon-68@2x.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/icon-76@2x.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/icon-83_5@2x.png
  oem/firstvoices/ios/FirstVoices/Assets.xcassets/AppIcon.appiconset/ios-marketing.png
Labels: ios/, stable, cherry-pick, oem/, oem/fv/, oem/fv/ios/, chore, has-user-test

#14007 maint: change builder_completion script to a .inc.sh
  docs/build/macos.md
  resources/builder_completion.inc.sh
Labels: docs, resources/, maint

#14008 maint: change builder_completion script to a .inc.sh 🍒 🏠
  resources/builder_completion.inc.sh
Labels: stable, cherry-pick, common/, common/resources/

#13989 fix(windows): skip sending handle kmshell events to upgrade state machine for keyboard install modes
  windows/src/desktop/kmshell/main/initprog.pas
Labels: windows/, fix, windows/config/, has-user-test

#14027 fix(windows): fix sentry error message reporting
  windows/src/desktop/kmshell/main/Keyman.System.RemoteUpdateCheck.pas
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
  windows/src/desktop/kmshell/main/initprog.pas
Labels: windows/, fix, windows/config/

#14026 fix(windows): only breadcrumb unexpected state on first run 🍒 🏠
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
Labels: windows/, stable, cherry-pick, fix, windows/config/

#14035 auto: increment master version to 19.0.48
  HISTORY.md
  VERSION.md
Labels: auto

#14033 fix(web): fix loading of KMX keyboards in browser 🎼
  web/src/engine/keyboard/src/keyboards/keyboardLoaderBase.ts
Labels: web/, fix, epic-web-core

#14028 fix(windows): skip sending handle kmshell events to upgrade state machine for keyboard install modes 🍒 🏠
  windows/src/desktop/kmshell/main/initprog.pas
Labels: windows/, stable, cherry-pick, fix, windows/config/

#14029 fix(windows): fix sentry error message reporting 🍒🏠
  windows/src/desktop/kmshell/main/Keyman.System.RemoteUpdateCheck.pas
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
  windows/src/desktop/kmshell/main/initprog.pas
Labels: windows/, stable

#14030 maint(web): upgrade Sentry to 8.55.0
  android/KMEA/app/src/main/assets/keyboard.html
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
  android/KMEA/build.sh
  docs/minimum-versions.md
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/Storage.swift
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/keyboard.html
  ios/engine/build.sh
  package-lock.json
  resources/build/minimum-versions.inc.sh
  web/src/engine/sentry-manager/package.json
  web/src/engine/sentry-manager/src/index.ts
  web/src/test/manual/build.sh
  web/src/test/manual/embed/android-harness/build.sh
Labels: web/, android/, ios/, android/engine/, ios/engine/, docs, resources/, maint

#14040 auto: increment master version to 19.0.49
  HISTORY.md
  VERSION.md
Labels: auto

#14016 feat(developer): revamp line numbers per design doc
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/layr.ts
  developer/src/kmc-ldml/src/compiler/ldml-compiler-messages.ts
  developer/src/kmc-ldml/test/keys.tests.ts
Labels: developer/, developer/compilers/, feat

#14025 docs(developer): add compiler message internal documentation
  developer/docs/internal/developer-messaging.md
Labels: developer/, chore

#14036 feat(developer): add line numbers to vars compiler
  developer/src/kmc-ldml/src/compiler/ldml-compiler-messages.ts
  developer/src/kmc-ldml/src/compiler/vars.ts
  developer/src/kmc-ldml/test/vars.tests.ts
Labels: developer/, developer/compilers/, feat

#14046 auto: increment master version to 19.0.50
  HISTORY.md
  VERSION.md
Labels: auto

#14034 chore(web): mark async methods in UI components
  web/src/app/ui/kmwuibutton.ts
  web/src/app/ui/kmwuifloat.ts
  web/src/app/ui/kmwuitoggle.ts
  web/src/app/ui/kmwuitoolbar.ts
Labels: web/, chore

#14053 auto: increment master version to 19.0.51
  HISTORY.md
  VERSION.md
Labels: auto

#14043 maint: add stable-19.0 triggers
  resources/build/trigger-definitions.inc.sh
Labels: resources/, maint

#14044 maint: add empty 'scripts' tag to package.json to silence warning
  common/test/resources/package.json
  common/web/keyman-version/package.json
  core/include/ldml/package.json
  core/tools/api-header-extractor/package.json
  developer/src/tike/xml/app/package.json
  resources/gosh/package.json
  resources/tools/check-markdown/package.json
Labels: developer/, common/, core/, common/web/, developer/ide/, resources/, maint

#14032 fix(linux): fix version variable references in kmconfig
  linux/keyman-config/build.sh
  linux/keyman-config/keyman_config/version.py.in
  linux/scripts/reconf.sh
Labels: linux/, fix, linux/config/, has-user-test

#14054 feat(developer): line numbers for LocaCompiler
  developer/src/kmc-ldml/src/compiler/ldml-compiler-messages.ts
  developer/src/kmc-ldml/src/compiler/loca.ts
  developer/src/kmc-ldml/test/loca.tests.ts
Labels: developer/, developer/compilers/, feat

#14057 fix(common): properly use newly installed node version
  resources/build/_builder_nvm.sh
Labels: common/, fix, resources/

#14068 fix(developer): ensure that kmc doesn't skip validate phase of kmc-ldml 🙀
  developer/src/kmc-ldml/src/compiler/compiler.ts
Labels: developer/, developer/compilers/, fix

#14072 auto: increment master version to 19.0.54
  HISTORY.md
  VERSION.md
Labels: auto

#14073 fix(developer): ldml: make sure .run() calls compile() with postValidation
  developer/src/kmc-ldml/test/compiler-e2e.tests.ts
Labels: developer/, developer/compilers/, fix
