Repository keymanapp/keyman, pull requests merged in 2025-07, with the labels that each got.

#14241 auto: increment master version to 19.0.73
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14237 fix(web): deploy `web/build/publish` folder
  web/ci.sh
Labels: web/, fix

#14244 fix(web): change env variable name
  web/ci.sh
Labels: web/, fix

#14247 auto: increment master version to 19.0.74
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14250 auto: increment master version to 19.0.75
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14216 feat(resources): support ignoring unknown options in builder
  docs/builder.md
  resources/build/test/test.sh
  resources/builder.inc.sh
Labels: feat, docs, resources/

#14238 fix(web): deploy `web/build/publish` folder 🍒 🏠
  web/ci.sh
Labels: web/, stable, cherry-pick, fix

#14253 refactor(common): improve downloads include script
  resources/teamcity/includes/tc-download-info.inc.sh
Labels: web/, windows/, android/, developer/, ios/, mac/, linux/, common/, core/, refactor, resources/

#14255 maint(developer): replace Powershell scripts 🐓
  resources/teamcity/developer/download-symbol-server-index.ps1
  resources/teamcity/developer/keyman-developer-release.sh
  resources/teamcity/developer/publish-new-symbols.ps1
  resources/teamcity/developer/publish-to-downloads-keyman-com.ps1
Labels: developer/, resources/, maint

#14186 maint(windows): move TC configuration for Keyman Windows to scripts 🪶
  resources/teamcity/developer/keyman-developer-release.sh
  resources/teamcity/includes/tc-helpers.inc.sh
  resources/teamcity/includes/tc-windows.inc.sh
  resources/teamcity/web/keyman-web-release.sh
  resources/teamcity/windows/keyman-windows-release.sh
  resources/teamcity/windows/keyman-windows-test.sh
  resources/teamcity/windows/windows-actions.inc.sh
Labels: web/, windows/, android/, developer/, ios/, mac/, linux/, common/, core/, resources/, maint

#14055 feat(windows): human text message for 413 error
  windows/src/engine/tsysinfo/UfrmEmail.pas
  windows/src/engine/tsysinfo/sysinfo_main.pas
Labels: windows/, feat, windows/engine/, has-user-test

#14222 maint(android): add TC build scripts for Keyman for Android 🪶
  resources/teamcity/android/android-actions.inc.sh
  resources/teamcity/android/keyman-android-release.sh
  resources/teamcity/android/keyman-android-test-samples.sh
  resources/teamcity/android/keyman-android-test.sh
  resources/teamcity/includes/tc-helpers.inc.sh
Labels: web/, windows/, android/, developer/, ios/, mac/, linux/, common/, core/, resources/, maint

#14229 maint(ios): add TC build scripts for iOS 🪶
  ios/build.sh
  resources/teamcity/includes/tc-mac.inc.sh
  resources/teamcity/ios/ios-actions.inc.sh
  resources/teamcity/ios/keyman-ios-release.sh
  resources/teamcity/ios/keyman-ios-test-samples.sh
  resources/teamcity/ios/keyman-ios-test.sh
Labels: web/, windows/, android/, developer/, ios/, mac/, linux/, common/, core/, resources/, maint

#14273 maint(mac): rename `_do_publish` function to `do_publish` to fix release build
  resources/teamcity/macos/keyman-macos-release.sh
Labels: mac/, fix, resources/

#14272 maint(ios): remove extra `cd` command from ios release builds
  resources/teamcity/ios/keyman-ios-release.sh
Labels: ios/, fix, resources/

#14265 refactor(resources): replace shebang for TC include files
  resources/teamcity/android/android-actions.inc.sh
  resources/teamcity/developer/developer-actions.inc.sh
  resources/teamcity/includes/tc-actions.inc.sh
  resources/teamcity/includes/tc-download-info.inc.sh
  resources/teamcity/includes/tc-helpers.inc.sh
  resources/teamcity/includes/tc-linux.inc.sh
  resources/teamcity/includes/tc-mac.inc.sh
  resources/teamcity/includes/tc-windows.inc.sh
  resources/teamcity/ios/ios-actions.inc.sh
  resources/teamcity/macos/macos-actions.inc.sh
  resources/teamcity/web/web-actions.inc.sh
  resources/teamcity/windows/windows-actions.inc.sh
Labels: web/, windows/, android/, developer/, ios/, mac/, linux/, common/, core/, refactor, resources/

#14274 fix(common): fix triggering builds if no builds to start
  resources/build/run-required-test-builds.sh
Labels: common/, fix, resources/

#14292 auto: increment master version to 19.0.78
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14301 auto: increment master version to 19.0.79
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14307 maint(android): use `--release` for release builds
  resources/teamcity/android/android-actions.inc.sh
  resources/teamcity/android/keyman-android-release.sh
  resources/teamcity/android/keyman-android-test.sh
Labels: android/, resources/, maint

#14270 maint(common): consolidate `write_download_info` functions 🐉
  android/build.sh
  ios/tools/prepRelease.sh
  resources/shellHelperFunctions.sh
  resources/teamcity/includes/tc-download-info.inc.sh
Labels: web/, windows/, android/, developer/, ios/, mac/, linux/, common/, core/, resources/, maint

#14311 maint(common): remove include of deleted `tc-download-info.inc.sh`
  resources/teamcity/android/keyman-android-release.sh
  resources/teamcity/developer/keyman-developer-release.sh
  resources/teamcity/linux/keyman-linux-release.sh
  resources/teamcity/web/keyman-web-release.sh
  resources/teamcity/windows/keyman-windows-release.sh
Labels: web/, windows/, android/, developer/, linux/, common/, resources/, maint

#14317 auto: increment master version to 19.0.81
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14304 docs(developer): explanation of the Description field added in Details section.
  developer/docs/help/context/package-editor.md
Labels: developer/, docs

#14305 fix(ios): restore keyboard scale map for iPad Air 2
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeyboardScaleMap.swift
Labels: ios/, fix, ios/engine/

#14320 maint(android): remove `--ci` parameter from Android release builds 🩹
  resources/teamcity/android/keyman-android-release.sh
Labels: android/, resources/, maint

#14321 maint(windows): fix platform name for Windows 🩹
  resources/shellHelperFunctions.sh
Labels: windows/, resources/, maint

#14323 maint(windows): replace hardcoded `symbols` paths with parameters
  resources/teamcity/developer/keyman-developer-release.sh
  resources/teamcity/windows/keyman-windows-release.sh
Labels: windows/, developer/, resources/, maint

#14335 maint(resources): add `build.sh` to run all `resource/build/test` tests
  resources/build/build-utils-ci.test.sh
  resources/build/test/build.sh
  resources/build/test/builder-deps.test.sh
  resources/build/test/debug-deps/child/build.sh
  resources/build/test/debug-deps/child/dep/build.sh
  resources/build/test/debug-deps/dep/build.sh
  resources/build/test/debug-deps/dep/child/build.sh
  resources/build/test/debug-deps/test.sh
  resources/build/test/dependencies/test.sh
  resources/build/test/test.sh
  resources/build/test/trees/build.sh
  resources/build/test/trees/child1/build.sh
  resources/build/test/trees/dep/build.sh
Labels: resources/, maint

#14357 auto: increment master version to 19.0.84
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14336 change(web): do not set deleteRight when merging Transforms without it 🚂
  web/src/engine/predictive-text/templates/src/common.ts
  web/src/engine/predictive-text/templates/tests/common.tests.js
  web/src/engine/predictive-text/worker-thread/src/tests/mocha/cases/edit-distance/context-tracker.js
Labels: web/, change, epic-autocorrect, web/predictive-text/

#14334 maint(developer): use `add_zip_files` function 🗜️
  developer/src/inst/build.sh
  resources/teamcity/android/keyman-android-release.sh
  web/ci.sh
Labels: web/, android/, developer/, resources/, maint

#14362 auto: increment master version to 19.0.85
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14375 auto: increment master version to 19.0.86
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14355 maint(common): set C++17 in standard.meson.build 🐾
  core/meson.build
  mac/mcompile/meson.build
  resources/build/meson/standard.meson.build
Labels: developer/, mac/, common/, developer/compilers/, core/, resources/, maint

#14356 fix(linux): add `python3-pkg-resources` as explicit dependency
  linux/debian/control
Labels: linux/, fix, has-user-test

#14243 docs(developer): add ansi and iso context and image, change img tags, and polish for readability
  developer/docs/help/context/keyboard-editor.md
  developer/docs/help/images/ui/OnScreenKeyboard_ISO.png
Labels: developer/, docs

#14325 maint(mac): consolidate `write-download_info`
  mac/Keyman4MacIM/write-download_info.sh
  mac/build.sh
  resources/shellHelperFunctions.sh
Labels: mac/, resources/, maint

#14386 test(common): improve zip tests
  resources/build/test/zip.inc.tests.sh
Labels: common/, test, resources/

#14387 maint(common): fix `add_zip_files` if flags come before zip filename
  resources/build/test/zip.inc.tests.sh
  resources/build/zip.inc.sh
Labels: common/, resources/, maint

#14390 auto: increment master version to 19.0.88
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14338 maint(windows): consider `GO_FAST` env variable in `add_zip_files` 🗜️
  developer/src/inst/build.sh
  oem/firstvoices/windows/src/inst/build.sh
  resources/build/test/zip.inc.tests.sh
  resources/build/win/zip.inc.sh
  resources/build/zip.inc.sh
  windows/src/desktop/inst/build.sh
  windows/src/engine/inst/build.sh
Labels: windows/, developer/, oem/, oem/fv/, oem/fv/windows/, windows/config/, windows/engine/, resources/, maint

#14351 refactor(android): create functions for actions 🗜️
  android/build.sh
Labels: android/, refactor

#14394 auto: increment master version to 19.0.89
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14385 docs(common): Document minimum version of Chrome 95.0 for Android
  docs/minimum-versions.md
  resources/build/minimum-versions.inc.sh
Labels: common/, docs, resources/

#14363 feat(web): add `isSubstitutionAlignable` to assist validating context matches after edits 🚂
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-tracker.ts
  web/src/engine/predictive-text/worker-thread/src/tests/mocha/cases/edit-distance/context-tracker.js
Labels: web/, feat, epic-autocorrect, web/predictive-text/

#14365 refactor(web): rework `attemptMatchContext` to use new `attemptTokenizedAlignment` method 🚂
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-tracker.ts
  web/src/engine/predictive-text/worker-thread/src/tests/mocha/cases/edit-distance/context-tracker.js
Labels: web/, refactor, has-user-test, epic-autocorrect, web/predictive-text/

#14400 auto: increment master version to 19.0.90
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14399 maint(common): fix standalone use of `resources/builder.inc.sh`
  resources/builder.inc.sh
Labels: common/, resources/, maint

#14267 maint(resources): use `tc_` prefix for all `tc-*.inc.sh` functions 🐉
  resources/teamcity/android/keyman-android-release.sh
  resources/teamcity/developer/developer-actions.inc.sh
  resources/teamcity/developer/keyman-developer-release.sh
  resources/teamcity/developer/keyman-developer-test-linux-macos.sh
  resources/teamcity/includes/tc-helpers.inc.sh
  resources/teamcity/includes/tc-linux.inc.sh
  resources/teamcity/includes/tc-mac.inc.sh
  resources/teamcity/includes/tc-windows.inc.sh
  resources/teamcity/ios/keyman-ios-release.sh
  resources/teamcity/linux/keyman-linux-release.sh
  resources/teamcity/linux/keyman-linux-test-integration.sh
  resources/teamcity/linux/keyman-linux-test.sh
  resources/teamcity/linux/linux-actions.inc.sh
  resources/teamcity/macos/keyman-macos-release.sh
  resources/teamcity/web/keyman-web-release.sh
  resources/teamcity/web/keyman-web-test.sh
  resources/teamcity/web/web-actions.inc.sh
  resources/teamcity/windows/keyman-windows-release.sh
Labels: web/, windows/, android/, developer/, ios/, mac/, linux/, common/, core/, resources/, maint

#14410 auto: increment master version to 19.0.91
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14413 maint(windows): fix calls of renamed functions
  resources/teamcity/includes/tc-windows.inc.sh
Labels: web/, windows/, android/, developer/, ios/, mac/, linux/, common/, core/, resources/, maint

#14409 refactor(linux): remove shellcheck warnings
  linux/ibus-keyman/tests/scripts/run-tests.sh
  linux/ibus-keyman/tests/scripts/test-helper.inc.sh
Labels: linux/, linux/engine/, refactor

#14408 docs(linux): update readme for test service
  linux/keyman-system-service/tests/README.md
Labels: linux/, docs

#14422 auto: increment master version to 19.0.93
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14417 chore(developer): upgrade multer to 2.0.2 🏠
  developer/src/server/package.json
  package-lock.json
Labels: developer/, stable, developer/ide/, chore

#14403 maint(linux): fix stopping of test server
  linux/ibus-keyman/tests/dbus-test-server/KmDbusTestServer.cpp
Labels: linux/, linux/engine/, maint
