Repository keymanapp/keyman, pull requests merged in 2025-04, with the labels that each got.

#13621 fix(web): remove extra px offset from last OSK row
  web/src/engine/osk/src/keyboard-layout/oskLayer.ts
Labels: web/, fix

#13622 fix(developer): add special handling for 'und' in kmc-keyboard-info
  developer/src/kmc-keyboard-info/src/keyboard-info-compiler-messages.ts
  developer/src/kmc-keyboard-info/src/keyboard-info-compiler.ts
  developer/src/kmc-keyboard-info/test/keyboard-info-compiler-messages.tests.ts
  developer/src/kmc-keyboard-info/test/keyboard-info-compiler.tests.ts
Labels: developer/, developer/compilers/, fix

#13594 chore(mac,windows): Update Crowdin strings for Italian
  mac/Keyman4MacIM/Keyman4MacIM/it.lproj/Localizable.strings
  windows/src/desktop/kmshell/locale/it-IT/strings.xml
Labels: windows/, mac/, windows/config/, chore

#13578 fix(android): move responsibility for setting keyboard height preference into `applyKeyboardHeight()`
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/AdjustKeyboardHeightActivity.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
  android/docs/engine/KMManager/applyKeyboardHeight.md
  android/docs/engine/KMManager/getDefaultKeyboardHeight.md
  android/docs/engine/KMManager/getKeyboardHeight.md
  android/docs/help/basic/config/adjust-keyboard-height.md
Labels: android/, fix, has-user-test

#13548 change(ios): prevent file erasure during copyWithOverwrite error state
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceFileManager.swift
Labels: ios/, ios/engine/, has-user-test, change

#13549 fix(ios): uninstalls keyboards upon failure to load
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
Labels: ios/, fix, ios/engine/, has-user-test

#13624 refactor(linux): remove warning if no custom keyboards exist
  linux/ibus-keyman/src/keymanutil.c
Labels: linux/, linux/engine/, refactor

#13638 auto: increment master version to 19.0.21
  HISTORY.md
  VERSION.md
Labels: auto

#13639 auto: increment beta version to 18.0.226
  HISTORY.md
  VERSION.md
Labels: auto

#13587 docs(web): document internals for gesture modeling and processing
  web/docs/internal/gestures/gesture-modeling.md
  web/docs/internal/gestures/gesture-processing.md
  web/docs/internal/gestures/glossary.md
  web/docs/internal/gestures/index.md
Labels: web/, docs

#13592 fix(android): Add dimensions for 320+dpi phones in landscape
  android/KMEA/app/src/main/res/values-land-xhdpi/dimens.xml
  android/docs/engine/KMManager/applyKeyboardHeight.md
Labels: android/, fix, android/engine/

#13637 docs(linux): add function headers for some of the engine methods
  linux/ibus-keyman/src/engine.c
Labels: linux/, linux/engine/, docs

#13600 fix(developer): remove redundant keyboard fields from .kps
  common/windows/delphi/packages/PackageInfo.pas
  developer/src/common/delphi/packages/Keyman.System.PackageInfoRefreshKeyboards.pas
  developer/src/common/web/utils/src/types/kps/kps-file.ts
  developer/src/common/web/utils/test/kps/kps-file-reader.tests.ts
  developer/src/kmc-generate/src/template/kmn-keyboard/source/keyboard.kps
  developer/src/kmc-generate/src/template/ldml-keyboard/source/keyboard.kps
  developer/src/kmc-generate/test/fixtures/keyman-keyboard/sample/source/sample.kps
  developer/src/kmc-generate/test/fixtures/ldml-keyboard/sample/source/sample.kps
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmconvert/Keyman.Developer.System.KeyboardProjectTemplate.pas
  developer/src/kmconvert/Keyman.Developer.System.LdmlKeyboardProjectTemplate.pas
  developer/src/test/auto/package-info/PackageInfoTest.pas
  developer/src/tike/child/UfrmPackageEditor.dfm
  developer/src/tike/child/UfrmPackageEditor.pas
Labels: developer/, common/, developer/compilers/, fix, developer/ide/, has-user-test

#13640 fix(developer): remove redundant Name and RTL fields from .kps `LexicalModel`
  common/schemas/kps/README.md
  common/schemas/kps/kps.xsd
  common/windows/delphi/packages/PackageInfo.pas
  developer/src/common/web/utils/src/types/kps/kps-file.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/test/fixtures/example.qaa.sencoten/example.qaa.sencoten.model.kmp.intermediate.json
  developer/src/kmc-package/test/fixtures/example.qaa.sencoten/example.qaa.sencoten.model.kmp.json
  developer/src/kmc-package/test/fixtures/example.qaa.sencoten/example.qaa.sencoten.model.kmp.zipped.json
  developer/src/kmc-package/test/fixtures/withfolders.qaa.sencoten/withfolders.qaa.sencoten.model.kmp.intermediate.json
  developer/src/kmc-package/test/fixtures/withfolders.qaa.sencoten/withfolders.qaa.sencoten.model.kmp.zipped.json
  developer/src/kmconvert/Keyman.Developer.System.ModelProjectTemplate.pas
  developer/src/tike/child/UfrmPackageEditor.dfm
  developer/src/tike/child/UfrmPackageEditor.pas
Labels: developer/, common/, developer/compilers/, fix, developer/ide/, has-user-test

#13650 chore: use explicit `node:` prefix for node imports
  common/tools/hextobin/index.ts
  common/tools/sourcemap-path-remapper/src/index.ts
  core/tools/api-header-extractor/src/index.ts
  developer/src/common/web/test-helpers/TestCompilerCallbacks.ts
  developer/src/common/web/utils/test/helpers/index.ts
  developer/src/kmc-model/tools/create-override-script-regexp.ts
  resources/build/version/src/fixupHistory.ts
  resources/build/version/src/incrementVersion.ts
  resources/build/version/src/index.ts
  web/src/engine/keyboard-storage/src/nodeCloudRequester.ts
  web/src/engine/predictive-text/wordbreakers/tools/data-compiler/index.ts
  web/src/engine/predictive-text/worker-main/src/node/mappedWorker.ts
  web/src/tools/building/sourcemap-root/index.ts
Labels: web/, developer/, common/, developer/compilers/, common/resources/, core/, common/models/wordbreakers/, chore

#13550 fix(mac): reevaluate API compliance for each change in context
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/TextApiCompliance.m
Labels: bug, mac/, fix, android/app/, has-user-test

#13635 fix(android): Move responsibility for setting keyboard height preference 🍒
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/AdjustKeyboardHeightActivity.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
  android/docs/engine/KMManager/applyKeyboardHeight.md
  android/docs/engine/KMManager/getDefaultKeyboardHeight.md
  android/docs/engine/KMManager/getKeyboardHeight.md
  android/docs/help/basic/config/adjust-keyboard-height.md
Labels: android/, cherry-pick, fix, android/engine/, android/app/, has-user-test

#13645 fix(android): Add back button to "Adjust Keyboard Height "menu
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/AdjustKeyboardHeightActivity.java
Labels: android/, fix, android/app/, has-user-test

#13625 fix(linux): allow unhandled keys to pass through to compliant apps
  linux/ibus-keyman/src/engine.c
Labels: linux/, fix, linux/engine/, has-user-test

#13653 refactor(developer): rename developer/web/utils/common-messages.ts to developer-utils-messages.ts
  developer/src/common/web/utils/src/compiler-interfaces.ts
  developer/src/common/web/utils/src/developer-utils-messages.ts
  developer/src/common/web/utils/src/index.ts
  developer/src/common/web/utils/src/types/kps/kps-file-reader.ts
  developer/src/common/web/utils/src/types/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/common/web/utils/test/kps/kps-file-reader.tests.ts
  developer/src/common/web/utils/test/ldml/ldml-keyboard-xml-reader.tests.ts
  developer/src/kmc-package/src/compiler/package-compiler-messages.ts
  developer/src/kmc/src/messages/messageNamespaces.ts
Labels: developer/, developer/compilers/, refactor

#13654 refactor(developer): move sentry and developer options into console apps
  developer/src/common/web/utils/package.json
  developer/src/common/web/utils/src/index.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/src/kmc.ts
  developer/src/kmc/src/util/KeymanSentry.ts
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
  developer/src/kmc/src/util/TestKeymanSentry.ts
  developer/src/kmc/src/util/kmcSentryOptions.ts
  developer/src/kmc/src/util/options.ts
  developer/src/kmc/src/util/sysexits.ts
  developer/src/kmc/test/build.tests.ts
  developer/src/kmc/test/infrastructureMessages.tests.ts
  developer/src/kmc/test/project-build.tests.ts
  developer/src/server/src/KeymanSentry.ts
  developer/src/server/src/index.ts
  developer/src/server/src/load-json-file.ts
  developer/src/server/src/options.ts
  developer/src/server/src/shutdown.ts
Labels: developer/, developer/compilers/, developer/ide/, refactor

#13657 chore: merge dev refactors into epic/web-core 🎼
  HISTORY.md
  VERSION.md
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/AdjustKeyboardHeightActivity.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
  android/docs/engine/KMManager/applyKeyboardHeight.md
  android/docs/engine/KMManager/getDefaultKeyboardHeight.md
  android/docs/engine/KMManager/getKeyboardHeight.md
  android/docs/help/basic/config/adjust-keyboard-height.md
  common/tools/hextobin/index.ts
  common/tools/sourcemap-path-remapper/src/index.ts
  core/tools/api-header-extractor/src/index.ts
  developer/src/common/web/test-helpers/TestCompilerCallbacks.ts
  developer/src/common/web/utils/package.json
  developer/src/common/web/utils/src/compiler-interfaces.ts
  developer/src/common/web/utils/src/developer-utils-messages.ts
  developer/src/common/web/utils/src/index.ts
  developer/src/common/web/utils/src/project-loader.ts
  developer/src/common/web/utils/src/types/kps/kps-file-reader.ts
  developer/src/common/web/utils/src/types/ldml-keyboard/ldml-keyboard-xml-reader.ts
  developer/src/common/web/utils/test/helpers/index.ts
  developer/src/common/web/utils/test/kps/kps-file-reader.tests.ts
  developer/src/common/web/utils/test/ldml/ldml-keyboard-xml-reader.tests.ts
  developer/src/kmc-copy/src/KeymanProjectCopier.ts
  developer/src/kmc-copy/src/copier-messages.ts
  developer/src/kmc-copy/tsconfig.json
  developer/src/kmc-model/tools/create-override-script-regexp.ts
  developer/src/kmc-package/src/compiler/package-compiler-messages.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/src/kmc.ts
  developer/src/kmc/src/messages/infrastructureMessages.ts
  developer/src/kmc/src/messages/messageNamespaces.ts
  developer/src/kmc/src/util/KeymanSentry.ts
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
  developer/src/kmc/src/util/TestKeymanSentry.ts
  developer/src/kmc/src/util/kmcSentryOptions.ts
  developer/src/kmc/src/util/options.ts
  developer/src/kmc/src/util/projectLoader.ts
  developer/src/kmc/src/util/sysexits.ts
  developer/src/kmc/test/build.tests.ts
  developer/src/kmc/test/infrastructureMessages.tests.ts
  developer/src/kmc/test/project-build.tests.ts
  developer/src/server/src/KeymanSentry.ts
  developer/src/server/src/index.ts
  developer/src/server/src/load-json-file.ts
  developer/src/server/src/options.ts
  developer/src/server/src/shutdown.ts
  linux/mcompile/keymap/mc_kmxfile.cpp
  resources/build/version/src/fixupHistory.ts
  resources/build/version/src/incrementVersion.ts
  resources/build/version/src/index.ts
  web/src/engine/keyboard-storage/src/nodeCloudRequester.ts
  web/src/engine/predictive-text/wordbreakers/tools/data-compiler/index.ts
  web/src/engine/predictive-text/worker-main/src/node/mappedWorker.ts
  web/src/tools/building/sourcemap-root/index.ts
Labels: web/, android/, developer/, linux/, common/, developer/compilers/, common/resources/, android/engine/, android/app/, core/, common/models/wordbreakers/, developer/ide/, chore, epic-web-core

#13664 auto: increment master version to 19.0.22
  HISTORY.md
  VERSION.md
Labels: auto

#13665 auto: increment beta version to 18.0.228
  HISTORY.md
  VERSION.md
Labels: auto

#13630 fix(ios): prevent re-display of keyboard when re-entering app to its menus
  ios/keyman/Keyman/Keyman/Classes/MainViewController/MainViewController.swift
Labels: ios/, fix, ios/app/, has-user-test

#13631 fix(ios): slide dismissal of keyboard-height adjuster will properly resize the keyboard
  ios/engine/KMEI/KeymanEngine/Classes/SettingsViewController.swift
Labels: ios/, fix, ios/engine/, has-user-test

#13652 docs(web): improve section on motivation for gesture input serialization
  web/docs/internal/gestures/gesture-input-serialization.md
Labels: web/, docs

#13648 fix(linux): fix crash if kmp doesn't have name field
  linux/keyman-config/keyman_config/keyboard_details.py
Labels: linux/, fix, linux/config/

#13660 chore(web): improve error logging in predictive-text worker message validation
  web/src/engine/predictive-text/worker-main/src/lmlayer.ts
Labels: web/, chore

#13651 fix(android): Adjust keyboard and banner heights for mdpi and hdpi devices
  android/KMEA/app/src/main/res/values-hdpi/dimens.xml
  android/KMEA/app/src/main/res/values-land-hdpi/dimens.xml
  android/KMEA/app/src/main/res/values-land/dimens.xml
  android/docs/engine/KMManager/applyKeyboardHeight.md
Labels: android/, fix, android/engine/, has-user-test

#13655 fix(android): adjust keyboard and banner height for xhdpi portrait
  android/KMEA/app/src/main/res/values-xhdpi/dimens.xml
  android/docs/engine/KMManager/applyKeyboardHeight.md
Labels: android/, fix, android/engine/

#13667 fix(android): Adjust keyboard and banner height for 7" tablet landscape
  android/KMEA/app/src/main/res/values-sw600dp-land/dimens.xml
  android/docs/engine/KMManager/applyKeyboardHeight.md
Labels: android/, fix, android/engine/

#13668 fix(android): Adjust keyboard height for 10" tablet landscape
  android/KMEA/app/src/main/res/values-sw720dp-land/dimens.xml
  android/docs/engine/KMManager/applyKeyboardHeight.md
Labels: android/, fix, android/engine/

#13676 auto: increment master version to 19.0.23
  HISTORY.md
  VERSION.md
Labels: auto

#13677 auto: increment beta version to 18.0.229
  HISTORY.md
  VERSION.md
Labels: auto

#13671 chore(web): remove dead methods regarding keyboard state
  web/src/engine/keyboard/src/keyboards/keyboard.ts
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, chore

#13643 fix(ios): ensure keyboard height is set when engine settings view is used in a NavigationController
  ios/engine/KMEI/KeymanEngine/Classes/SettingsViewController.swift
Labels: ios/, fix, ios/engine/

#13680 chore(android,mac,windows): update Crowdin strings for Czech
  android/KMEA/app/src/main/res/values-cs-rCZ/strings.xml
  mac/Keyman4MacIM/Keyman4MacIM/cs.lproj/Localizable.strings
  windows/src/desktop/kmshell/locale/cs-CZ/strings.xml
Labels: windows/, android/, mac/, android/engine/, windows/config/, chore

#13681 chore(android,mac,windows): update Crowdin strings for Khmer
  android/KMEA/app/src/main/res/values-km-rKH/strings.xml
  mac/Keyman4MacIM/Keyman4MacIM/km.lproj/Localizable.strings
  windows/src/desktop/kmshell/locale/km-KH/strings.xml
Labels: windows/, android/, mac/, android/engine/, windows/config/, chore

#13674 chore(linux): Update debian changelog
  linux/debian/changelog
Labels: linux/, chore

#13675 chore(linux): Update debian changelog 🍒
  linux/debian/changelog
Labels: linux/, cherry-pick, chore

#13685 auto: increment beta version to 18.0.230
  HISTORY.md
  VERSION.md
Labels: auto

#13659 docs(web): documentation for touch-keyboard gesture models
  web/docs/internal/gestures/gesture-modeling.md
  web/docs/internal/gestures/index.md
  web/docs/internal/gestures/keyman-keyboard-gesture-specs.md
Labels: web/, docs

#13673 docs(android): Document default keyboard height for xxxhdpi devices
  android/docs/engine/KMManager/applyKeyboardHeight.md
Labels: android/, docs

#13686 fix(ios): allow swipe-dismissal of Settings to be cancelled
  ios/engine/KMEI/KeymanEngine/Classes/SettingsViewController.swift
Labels: ios/, fix, ios/engine/, has-user-test

#13687 fix(ios): do not show notification for downloaded keyboard when showing its installer
  ios/engine/KMEI/KeymanEngine/Classes/Settings/InstalledLanguagesViewController.swift
Labels: ios/, fix, ios/engine/, has-user-test

#13689 fix(ios): restore banner-hiding mechanism for keyboard calibration tool
  ios/tools/KeyboardCalibrator/KeyboardCalibrator/ViewController.swift
  ios/tools/KeyboardCalibrator/readme.md
  ios/tools/KeyboardCalibrator/readme_imgs/keyboard-calibration-run.gif
Labels: ios/, fix

#13692 fix(android): Downgrade UnknownHostException error to info
  android/KMEA/app/src/main/java/com/keyman/engine/util/Connection.java
Labels: android/, fix, android/engine/

#13691 chore(android,mac,windows): Update crowdin strings for Spanish Latin America
  android/KMAPro/kMAPro/src/main/res/values-b+es+419/strings.xml
  mac/Keyman4MacIM/Keyman4MacIM/es-419.lproj/Localizable.strings
  windows/src/desktop/kmshell/locale/es-419/strings.xml
Labels: windows/, android/, mac/, android/app/, windows/config/, chore

#13700 auto: increment beta version to 18.0.233
  HISTORY.md
  VERSION.md
Labels: auto

#13670 chore: cleanup kps.xsd version typos
  common/schemas/kps/kps.xsd
Labels: common/, chore

#13702 fix(android): Fix system keyboard banner on reload
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/docs/engine/KMManager/setHTMLBanner.md
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/SystemKeyboard.java
Labels: android/, oem/, fix, android/app/, oem/fv/, oem/fv/android/, has-user-test

#13697 chore(ios): update keyboard-size data for current iOS devices
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeyboardScaleMap.swift
Labels: ios/, ios/engine/, chore

#13698 fix(ios): ensure update notification does not go translucent/transparent
  ios/engine/KMEI/KeymanEngine/Classes/ResourceDownloadStatusToolbar.swift
Labels: ios/, fix, ios/engine/, has-user-test

#13701 fix(ios): resummon keyboard when keyboard picker is dismissed
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/KeyboardSwitcherViewController.swift
Labels: ios/, fix, ios/engine/, has-user-test

#13708 docs(windows): update FAQ
  windows/docs/help/common/os.md
  windows/docs/help/common/requirements.md
  windows/docs/help/index.md
Labels: windows/, docs

#13722 auto: increment master version to 19.0.25
  HISTORY.md
  VERSION.md
Labels: auto

#13723 auto: increment beta version to 18.0.234
  HISTORY.md
  VERSION.md
Labels: auto

#13709 fix(common): export `KEYMAN_ROOT` so that it is available in subprocesses 🎼
  resources/build/builder.inc.sh
Labels: common/, common/resources/, fix, epic-web-core

#13710 refactor(web): rename `KeyboardInterface` → `KeyboardInterfaceBase` 🎼
  web/src/app/browser/src/contextManager.ts
  web/src/app/browser/src/keyboardInterface.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/browser/src/test-index.ts
  web/src/app/webview/src/keymanEngine.ts
  web/src/engine/main/src/index.ts
  web/src/engine/main/src/keyboardInterfaceBase.ts
  web/src/engine/main/src/keymanEngineBase.ts
Labels: web/, refactor, epic-web-core

#13725 fix(android): Require RELEASE_OEM env vars to build FirstVoices Android
  android/build.sh
Labels: android/, fix

#13730 chore: merge beta to master (pre-release prep)
  HISTORY.md
  VERSION.md
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/build.sh
  android/docs/engine/KMManager/setHTMLBanner.md
  common/schemas/kps/kps.xsd
  docs/websites/README.md
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeyboardScaleMap.swift
  ios/engine/KMEI/KeymanEngine/Classes/LanguagePicker/KeyboardSwitcherViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/ResourceDownloadStatusToolbar.swift
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/SystemKeyboard.java
  web/src/engine/osk/src/banner/suggestionBanner.ts
  web/src/engine/osk/src/keyboard-layout/oskLayerGroup.ts
  web/src/engine/osk/src/views/oskView.ts
  web/src/resources/osk/kmwosk.css
  windows/docs/help/common/os.md
  windows/docs/help/common/requirements.md
  windows/docs/help/index.md
Labels: web/, windows/, android/, ios/, common/, oem/, android/app/, ios/engine/, oem/fv/, oem/fv/android/, chore, docs

#13731 auto: increment master version to 19.0.26
  HISTORY.md
  VERSION.md
Labels: auto

#13732 auto: increment beta version to 18.0.235
  HISTORY.md
  VERSION.md
Labels: auto

#13733 chore: trigger-definitions for 18.0 comment 🏠
  resources/build/history/history-utils.sh
  resources/build/trigger-definitions.inc.sh
Labels: stable, common/, common/resources/, chore

#13734 auto: increment stable-18.0 version to 18.0.236
  VERSION.md
Labels: stable, auto

#13735 chore: merge beta version 18.0.235 history to master
  HISTORY.md
Labels: common/, auto

#13737 chore(linux): Update debian changelog 🏠
  linux/debian/changelog
Labels: linux/, stable, chore

#13738 chore(linux): Update debian changelog 🍒
  linux/debian/changelog
Labels: linux/, cherry-pick, chore

#13739 comment out CODEOWNERS
  docs/CODEOWNERS
Labels: docs

#13740 chore(linux): add a stub unit test to allow successful coverage reporting
  linux/keyman-system-service/build.sh
  linux/keyman-system-service/tests/meson.build
  linux/keyman-system-service/tests/testfixture.cpp
Labels: linux/, chore

#13755 auto: increment master version to 19.0.27
  HISTORY.md
  VERSION.md
Labels: auto

#13741 chore(linux): add a stub unit test to allow successful coverage reporting 🏠🍒
  linux/keyman-system-service/build.sh
  linux/keyman-system-service/tests/meson.build
  linux/keyman-system-service/tests/testfixture.cpp
Labels: linux/, stable, cherry-pick, chore

#13744 chore: update labels for v19
  .github/labeler.yml
  resources/scopes/scopes.json
Labels: common/, chore, resources/

#13781 auto: increment master version to 19.0.28
  HISTORY.md
  VERSION.md
Labels: auto

#13775 chore(common): Update dependencies in crowdin GitHub action
  .github/workflows/crowdin.yml
Labels: common/, chore

#13765 chore: additional tweaks to scopes/labels
  .github/labeler.yml
  .github/multi-labeler.yml
  resources/scopes/scopes.json
Labels: chore, resources/

#13780 chore(common): rename `chore` GH label to `maint`
  .github/multi-labeler.yml
  CONTRIBUTING.md
  resources/scopes/commit-types.json
Labels: common/, chore, resources/

#13778 change(linux): add link to issue
  .github/workflows/deb-packaging.yml
Labels: linux/, change

#13714 fix(web): reconnect unit tests for low-level web utility classes/methods 🧶
  web/build.sh
Labels: web/, fix

#13786 fix(android): Change Alert Dialog instead of Toast if package missing languages
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/PackageActivity.java
Labels: android/, fix, android/app/, has-user-test

#13801 maint(common): remove platform advocates from CODEOWNERS
  docs/CODEOWNERS
Labels: docs, maint

#13793 chore(common): allow to run tests in virtual environment
  linux/build.sh
  linux/keyman-config/tests/bcp47tag_tests.py
  linux/keyman-config/tests/canonical_language_code_utils_tests.py
  linux/keyman-config/tests/custom_keyboards_tests.py
  linux/keyman-config/tests/dbus_util_tests.py
  linux/keyman-config/tests/dconf_util_tests.py
  linux/keyman-config/tests/get_kmp_tests.py
  linux/keyman-config/tests/gnome_keyboards_util_tests.py
  linux/keyman-config/tests/gsettings_tests.py
  linux/keyman-config/tests/handle_install_tests.py
  linux/keyman-config/tests/ibus_util_tests.py
  linux/keyman-config/tests/install_kmp_tests.py
  linux/keyman-config/tests/kvk2ldml_tests.py
  linux/keyman-config/tests/lang_tags_map_tests.py
  linux/keyman-config/tests/package_install_completion_tests.py
  linux/keyman-config/tests/uninstall_kmp_tests.py
Labels: linux/, common/, linux/config/, chore

#13811 auto: increment master version to 19.0.30
  HISTORY.md
  VERSION.md
Labels: auto
