Repository keymanapp/keyman, pull requests merged in 2025-02, with the labels that each got.

#13105 change(ios): set host-app bundle identifier in embedded Web debug-report
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/ios-host.js
  web/src/app/webview/src/configuration.ts
Labels: web/, ios/, ios/engine/, change

#13037 fix(ios): prevent message-handler collision
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeymanWebViewController.swift
Labels: ios/, fix, ios/engine/

#13112 change(ios): set host-app bundle identifier in embedded Web debug-report 🍒 🏠
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/ios-host.js
  web/src/app/webview/src/configuration.ts
Labels: web/, ios/, stable, cherry-pick, ios/engine/

#12911 change(web): add context tracker bksp handling, alignment-offset calculations 🖲️
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-tracker.ts
  web/src/engine/predictive-text/worker-thread/src/main/model-compositor.ts
  web/src/engine/predictive-text/worker-thread/src/tests/mocha/cases/edit-distance/context-tracker.js
Labels: web/, change

#12925 fix(web): correct edit-path ordering at source 🖲️
  web/src/engine/predictive-text/worker-thread/src/main/correction/classical-calculation.ts
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-tracker.ts
  web/src/engine/predictive-text/worker-thread/src/tests/mocha/cases/edit-distance/classical-calculation.js
Labels: web/, fix

#13107 chore(linux): preserve log files when running tests under Docker
  linux/ibus-keyman/tests/scripts/run-tests.sh
  linux/ibus-keyman/tests/scripts/test-helper.inc.sh
Labels: linux/, linux/engine/, chore

#13123 auto: increment master version to 18.0.184
  HISTORY.md
  VERSION.md
Labels: auto

#13117 fix(common): handle undefined input in `@keymanapp/langtags` lookups
  common/web/langtags/src/main.ts
Labels: common/, fix, common/web/

#13124 chore: update docs to reference node 20.0
  developer/docs/help/reference/kmc/cli/get-started.md
  developer/src/inst/node/dist/Keyman_README.md
  developer/src/kmc/README.md
Labels: developer/, developer/compilers/, chore

#13113 feat(developer): include command line in kmc sentry reports
  developer/src/common/web/utils/src/utils/KeymanSentry.ts
  developer/src/kmc/src/util/TestKeymanSentry.ts
  developer/src/kmc/src/util/kmcSentryOptions.ts
Labels: developer/, developer/compilers/, feat

#13122 fix(common/web): replace invalid StrsItem identity checks with isEqual()
  common/web/types/tests/kmx/kmx-plus/kmx-plus.tests.ts
Labels: web/, developer/, common/, fix, common/web/

#13126 auto: increment master version to 18.0.185
  HISTORY.md
  VERSION.md
Labels: auto

#13075 fix(developer): make kmc log options consistent across all commands
  developer/docs/help/reference/kmc/cli/reference.md
  developer/src/common/web/utils/src/compiler-interfaces.ts
  developer/src/kmc-copy/src/KeymanProjectCopier.ts
  developer/src/kmc-generate/src/abstract-generator.ts
  developer/src/kmc-generate/src/basic-generator.ts
  developer/src/kmc/src/commands/analyze.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildTestData/index.ts
  developer/src/kmc/src/commands/buildWindowsPackageInstaller/index.ts
  developer/src/kmc/src/commands/copy.ts
  developer/src/kmc/src/commands/generate.ts
  developer/src/kmc/src/util/baseOptions.ts
  developer/src/kmc/src/util/extendedCompilerOptions.ts
  developer/src/kmc/test/extendedCompilerOptions.tests.ts
  developer/src/kmc/test/generateKmnKeyboard.tests.ts
  developer/src/kmc/test/generateLdmlKeyboard.tests.ts
  developer/src/kmc/test/generateLexicalModel.tests.ts
Labels: developer/, developer/compilers/, fix, has-user-test

#13076 feat(developer): add user interface for `kmc copy` to TIKE
  common/windows/delphi/general/Upload_Settings.pas
  common/windows/delphi/general/utilfiletypes.pas
  developer/docs/help/context/clone-github-project-parameters.md
  developer/docs/help/context/clone-keyman-cloud-project-parameters.md
  developer/docs/help/context/clone-local-project-parameters.md
  developer/docs/help/context/new-project.md
  developer/docs/help/images/ui/frmCloneGitHubProjectParameters.png
  developer/docs/help/images/ui/frmCloneKeymanCloudProjectParameters.png
  developer/docs/help/images/ui/frmCloneLocalProjectParameters.png
  developer/docs/help/images/ui/frmNewProject.png
  developer/src/common/delphi/lexicalmodels/Keyman.System.LexicalModelUtils.pas
  developer/src/tike/compile/Keyman.Developer.System.KmcWrapper.pas
  developer/src/tike/help/Keyman.Developer.System.HelpTopics.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.ProjectFileUI.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmCloneGitHubProjectParameters.dfm
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmCloneGitHubProjectParameters.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmCloneKeymanCloudProjectParameters.dfm
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmCloneKeymanCloudProjectParameters.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmCloneLocalProjectParameters.dfm
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmCloneLocalProjectParameters.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmNewProject.dfm
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmNewProject.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
Labels: developer/, common/, feat, developer/ide/, has-user-test

#13080 chore(developer): add verbose logs for project copier
  developer/src/kmc-copy/src/KeymanProjectCopier.ts
  developer/src/kmc-copy/src/copier-messages.ts
Labels: developer/, developer/compilers/, chore

#13121 chore(mac, ios): build and run with xcode 16 🍒 🏠
  ios/Cartfile
  ios/Cartfile.resolved
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/ios-host.js
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Podfile
  mac/Keyman4MacIM/Podfile.lock
  oem/firstvoices/ios/Cartfile
  oem/firstvoices/ios/Cartfile.resolved
Labels: ios/, mac/, stable, cherry-pick, oem/, ios/app/, ios/engine/, oem/fv/, oem/fv/ios/, chore

#13132 auto: increment master version to 18.0.186
  HISTORY.md
  VERSION.md
Labels: auto

#13136 auto: increment stable-17.0 version to 17.0.336
  HISTORY.md
  VERSION.md
Labels: stable, auto

#13137 auto: increment stable-17.0 version to 17.0.336 (history cherry-pick to master)
  HISTORY.md
Labels: auto, user-test-missing

#13115 feat(windows): check updates and automatic update merged
  common/windows/delphi/general/RegistryKeys.pas
  oem/firstvoices/windows/src/xml/strings.xml
  windows/src/desktop/kmshell/locale/am-ET/strings.xml
  windows/src/desktop/kmshell/locale/az-AZ/strings.xml
  windows/src/desktop/kmshell/locale/bwr-NG/strings.xml
  windows/src/desktop/kmshell/locale/ckl-NG/strings.xml
  windows/src/desktop/kmshell/locale/cs-CZ/strings.xml
  windows/src/desktop/kmshell/locale/de/strings.xml
  windows/src/desktop/kmshell/locale/el-polyton/strings.xml
  windows/src/desktop/kmshell/locale/es-419/strings.xml
  windows/src/desktop/kmshell/locale/es-ES/strings.xml
  windows/src/desktop/kmshell/locale/ff-NG/strings.xml
  windows/src/desktop/kmshell/locale/fr/strings.xml
  windows/src/desktop/kmshell/locale/ha-HG/strings.xml
  windows/src/desktop/kmshell/locale/hia-NG/strings.xml
  windows/src/desktop/kmshell/locale/id-ID/strings.xml
  windows/src/desktop/kmshell/locale/it-IT/strings.xml
  windows/src/desktop/kmshell/locale/km-KH/strings.xml
  windows/src/desktop/kmshell/locale/kn/strings.xml
  windows/src/desktop/kmshell/locale/kr-NG/strings.xml
  windows/src/desktop/kmshell/locale/mfi-NG/strings.xml
  windows/src/desktop/kmshell/locale/mnw-MM/strings.xml
  windows/src/desktop/kmshell/locale/mrt-NG/strings.xml
  windows/src/desktop/kmshell/locale/my/strings.xml
  windows/src/desktop/kmshell/locale/nl-NL/strings.xml
  windows/src/desktop/kmshell/locale/pl-PL/strings.xml
  windows/src/desktop/kmshell/locale/pt-BR/strings.xml
  windows/src/desktop/kmshell/locale/pt-PT/strings.xml
  windows/src/desktop/kmshell/locale/qqq/locale.xml
  windows/src/desktop/kmshell/locale/qqq/strings.xml
  windows/src/desktop/kmshell/locale/ru-RU/strings.xml
  windows/src/desktop/kmshell/locale/shu-latn/strings.xml
  windows/src/desktop/kmshell/locale/sv-SE/strings.xml
  windows/src/desktop/kmshell/locale/ta/strings.xml
  windows/src/desktop/kmshell/locale/tr/strings.xml
  windows/src/desktop/kmshell/locale/uk-UA/strings.xml
  windows/src/desktop/kmshell/locale/vec/strings.xml
  windows/src/desktop/kmshell/locale/zh-CN/strings.xml
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
  windows/src/desktop/kmshell/main/UImportOlderVersionSettings.pas
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/desktop/kmshell/xml/strings.xml
  windows/src/desktop/setup/RunTools.pas
  windows/src/desktop/setup/UfrmRunDesktop.pas
  windows/src/engine/kmcomapi/util/utilkeymanoption.pas
  windows/src/global/delphi/general/KeymanOptionNames.pas
  windows/src/test/manual-tests/test_i2605/locale-tam.xml
Labels: windows/, common/, oem/, feat, oem/fv/, oem/fv/windows/, windows/config/, windows/engine/, has-user-test

#13152 auto: increment master version to 18.0.187
  HISTORY.md
  VERSION.md
Labels: auto

#13139 docs(web): relocate gesture docs to web/docs/internal
  web/docs/internal/gestures/host-page-viz.png
  web/docs/internal/gestures/recognizer-configuration.md
Labels: web/, docs, test-browserstack

#13160 chore(mac): remove empty options tab from configuration
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/Base.lproj/preferences.xib
Labels: mac/, chore

#13142 chore(linux): Update debian changelog 🏠
  linux/debian/changelog
Labels: linux/, stable, chore

#13163 auto: increment master version to 18.0.188
  HISTORY.md
  VERSION.md
Labels: auto

#13154 fix(windows): check the params status flag equals ucrsUpdateReady before attempting to download the keyman setup file
  windows/src/desktop/kmshell/main/Keyman.System.DownloadUpdate.pas
Labels: windows/, fix, windows/config/, has-user-test

#13159 feat(windows): background updates go from downloading to waiting for a restart except if the `apply now` flag is set
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
Labels: windows/, feat, windows/config/, has-user-test

#13118 feat(developer): verify package version number format in kmc-package
  developer/src/kmc-package/src/compiler/package-compiler-messages.ts
  developer/src/kmc-package/src/compiler/package-version-validator.ts
  developer/src/kmc-package/test/fixtures/invalid/warn_package_version_is_unrecognized_format.kps
  developer/src/kmc-package/test/messages.tests.ts
  developer/src/kmc-package/test/versioning.tests.ts
Labels: developer/, developer/compilers/, feat

#13131 fix(developer): support non-US base keyboard layouts in debuggers
  developer/src/tike/child/Keyman.Developer.UI.Debug.UfrmLdmlKeyboardDebug.pas
  developer/src/tike/child/UfrmDebug.pas
Labels: developer/, fix, developer/ide/, has-user-test

#13156 feat(developer): improve compiler messages and user interface
  common/windows/delphi/general/Upload_Settings.pas
  common/windows/delphi/general/VersionInfo.pas
  developer/src/common/web/test-helpers/verifyCompilerMessagesObject.ts
  developer/src/common/web/utils/src/compiler-interfaces.ts
  developer/src/common/web/utils/src/index.ts
  developer/src/kmc-copy/src/copier-messages.ts
  developer/src/kmc-generate/src/generator-messages.ts
  developer/src/kmc-kmn/src/kmw-compiler/kmw-compiler-messages.ts
  developer/src/kmc-ldml/src/compiler/ldml-compiler-messages.ts
  developer/src/kmc/src/commands/messageCommand.ts
  developer/src/tike/main/UfrmMessages.dfm
  developer/src/tike/main/UfrmMessages.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmCloneLocalProjectParameters.pas
Labels: developer/, common/, developer/compilers/, feat, developer/ide/, has-user-test

#13157 feat(developer): verify that packages do not contain themselves in kmc-package
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/package-compiler-messages.ts
  developer/src/kmc-package/src/compiler/package-validation.ts
  developer/src/kmc-package/test/fixtures/invalid/error_package_must_not_contain_itself.kps
  developer/src/kmc-package/test/messages.tests.ts
  developer/src/kmc-package/test/package-compiler.tests.ts
Labels: developer/, developer/compilers/, feat

#13161 fix(developer): link welcome.htm in package for new projects; use v17 project format for new models
  developer/src/kmconvert/Keyman.Developer.System.KeyboardProjectTemplate.pas
  developer/src/kmconvert/Keyman.Developer.System.LdmlKeyboardProjectTemplate.pas
  developer/src/kmconvert/Keyman.Developer.System.ModelProjectTemplate.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmNewLDMLKeyboardProjectParameters.dfm
Labels: developer/, fix, developer/ide/

#13162 fix(windows): use Automatically check for updates and download for the english xml
  oem/firstvoices/windows/src/xml/strings.xml
  windows/src/desktop/kmshell/xml/strings.xml
Labels: windows/, oem/, fix, oem/fv/, oem/fv/windows/, windows/config/, has-user-test

#11535 change(linux): Implement ordered output without patched ibus
  linux/ibus-keyman/src/KeymanSystemServiceClient.cpp
  linux/ibus-keyman/src/KeymanSystemServiceClient.h
  linux/ibus-keyman/src/engine.c
  linux/ibus-keyman/tests/ibusimcontext.c
  linux/ibus-keyman/tests/meson.build
  linux/keyman-system-service/src/KeyboardDevice.cpp
  linux/keyman-system-service/src/KeyboardDevice.h
  linux/keyman-system-service/src/KeymanSystemService.cpp
  linux/keyman-system-service/src/KeymanSystemService.h
  linux/keyman-system-service/src/OrderedOutputDevice.cpp
  linux/keyman-system-service/src/OrderedOutputDevice.h
  linux/keyman-system-service/src/com.keyman.SystemService1.System.xml
  linux/keyman-system-service/src/meson.build
  linux/keyman-system-service/tests/KeyboardDeviceMock.cpp
  linux/keyman-system-service/tests/meson.build
Labels: linux/, linux/engine/, has-user-test, change

#13173 auto: increment master version to 18.0.189
  HISTORY.md
  VERSION.md
Labels: auto

#13168 refactor(windows): rename `TKeymanMutex.MutexOwned` to `TakeOwnership` and add `ReleaseOwnership`
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/desktop/kmshell/startup/UfrmSplash.pas
  windows/src/engine/kmcomapi/com/system/keymancontrol.pas
  windows/src/global/delphi/general/KeymanMutex.pas
Labels: windows/, feat, windows/config/, windows/engine/, refactor, has-user-test

#13188 auto: increment beta version to 18.0.191
  HISTORY.md
  VERSION.md
Labels: auto

#13190 auto: increment master version to 19.0.2
  HISTORY.md
  VERSION.md
Labels: auto

#13128 feat(windows): handle a hard windows reset occurring while downloading updated keyman files
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
Labels: windows/, feat, windows/config/, windows/engine/, has-user-test

#13198 docs(developer): update what's new for 18.0
  developer/docs/help/whats-new.md
Labels: developer/, docs

#13197 chore(mac): update whats new for Keyman 18
  mac/docs/help/about/whatsnew.md
Labels: mac/, chore

#13199 chore(ios): update whats new for Keyman 18
  ios/docs/help/about/whatsnew.md
Labels: ios/, chore

#13170 fix: use tier and version from branch when merging history from another branch
  resources/build/version/src/fixupHistory.ts
Labels: common/, common/resources/, fix

#13172 fix(linux): start system service when switching keyboards
  linux/ibus-keyman/src/KeymanSystemServiceClient.cpp
  linux/ibus-keyman/src/KeymanSystemServiceClient.h
  linux/ibus-keyman/src/engine.c
  linux/keyman-system-service/src/KeymanSystemService.cpp
  linux/keyman-system-service/src/com.keyman.SystemService1.System.xml
Labels: linux/, fix, linux/engine/, has-user-test

#13193 chore(linux): update actions/cache to non-deprecated version
  .github/workflows/api-verification.yml
  .github/workflows/deb-packaging.yml
Labels: linux/, chore

#13203 chore(linux): remove support of Ubuntu 20.04 Focal 🍒
  .github/workflows/deb-packaging.yml
  docs/linux/README.md
  linux/debian/rules
  linux/scripts/launchpad.sh
Labels: linux/, cherry-pick, chore, docs

#13192 chore(linux): update branch that's used for Debian packaging
  linux/debian/control
Labels: linux/, chore

#13208 auto: increment master version to 19.0.3
  HISTORY.md
  VERSION.md
Labels: auto

#13209 auto: increment beta version to 18.0.192
  HISTORY.md
  VERSION.md
Labels: auto

#13213 chore(common): Fix 17.0.335 tier in HISTORY.md
  HISTORY.md
Labels: common/, chore

#13207 docs(linux): update what's new for 18.0
  linux/docs/help/about/whatsnew.md
Labels: linux/, docs

#13221 docs: update keyboard processor build source
  docs/build/linux-ubuntu.md
Labels: user-test-missing

#13206 chore(linux): additional code cleanup after Focal removal
  docs/build/linux-ubuntu.md
  docs/minimum-versions.md
  linux/debian/control
  linux/docs/help/about/welcome.md
  linux/docs/help/common/index.md
  linux/ibus-keyman/src/keymanutil.c
  linux/ibus-keyman/src/test/keymanutil.tests.c
  linux/keyman-config/keyman_config/downloadkeyboard.py
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/keyman_config/keyboard_options_view.py
  linux/keyman-config/keyman_config/welcome.py
  resources/build/minimum-versions.inc.sh
Labels: linux/, common/, common/resources/, linux/config/, linux/engine/, chore, docs

#13232 auto: increment master version to 19.0.4
  HISTORY.md
  VERSION.md
Labels: auto

#13211 docs(windows): update keyman for windows 18.0 whats-new
  windows/docs/help/about/whatsnew.md
Labels: windows/, docs

#13238 chore: undo master merge
  HISTORY.md
  TIER.md
  VERSION.md
  android/docs/engine/guides/in-app/index.md
  android/docs/engine/index.md
  android/docs/engine/whatsnew.md
  android/docs/help/about/whatsnew.md
  android/docs/help/index.md
  developer/docs/help/index.md
  developer/docs/help/whats-new.md
  developer/src/kmc/src/kmlmp.ts
  docs/build/linux-ubuntu.md
  docs/linux/README.md
  docs/minimum-versions.md
  docs/minimum-versions.md.in
  ios/docs/engine/index.md
  ios/docs/help/about/whatsnew.md
  ios/docs/help/index.md
  linux/debian/control
  linux/debian/rules
  linux/docs/help/about/whatsnew.md
  linux/docs/help/index.md
  linux/ibus-keyman/src/keymanutil.c
  linux/ibus-keyman/src/test/keymanutil.tests.c
  linux/keyman-config/keyman_config/downloadkeyboard.py
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/keyman_config/keyboard_options_view.py
  linux/keyman-config/keyman_config/welcome.py
  mac/docs/help/about/whatsnew.md
  mac/docs/help/index.md
  resources/build/minimum-versions.inc.sh
  web/docs/engine/guide/index.md
  web/docs/engine/index.md
  web/docs/engine/reference/core/version.md
  web/docs/engine/reference/index.md
  web/docs/engine/whats-new.md
  windows/docs/engine/api/index.md
  windows/docs/engine/index.md
  windows/docs/help/about/whatsnew.md
  windows/docs/help/index.md
Labels: web/, windows/, android/, developer/, ios/, mac/, linux/, common/, developer/compilers/, common/resources/, linux/config/, linux/engine/, chore, docs

#13129 change(ios): prevent memory leaks from keyboard-related notification observers
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeyboardMenuView.swift
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
  ios/keyman/Keyman/Keyman/Classes/MainViewController/MainViewController.swift
Labels: ios/, ios/app/, ios/engine/, has-user-test, change

#13169 change(ios): mitigate keyboard input-view memory leak by force-discarding WebView
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/InputViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Manager.swift
Labels: ios/, ios/engine/, change

#13240 auto: increment beta version to 18.0.193
  HISTORY.md
  VERSION.md
Labels: auto

#13200 chore(developer): add INFO messages for `kmc copy` and `kmc generate`
  developer/src/kmc-copy/src/copier-messages.ts
  developer/src/kmc-generate/src/generator-messages.ts
  developer/src/kmc/src/commands/copy.ts
  developer/src/kmc/src/commands/generate.ts
  developer/src/kmc/src/messages/infrastructureMessages.ts
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
Labels: developer/, developer/compilers/, chore

#13219 fix(android): Remove sendOptionsToKeyboard function from Engine API
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/AdjustLongpressDelayActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/assets/android-host.js
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Labels: android/, fix, android/engine/, android/app/, has-user-test

#13220 docs(android): Document removing sendOptionsToKeyboard API
  android/docs/engine/KMManager/getLongpressDelay.md
  android/docs/engine/KMManager/index.md
  android/docs/engine/KMManager/sendOptionsToKeyboard.md
  android/docs/engine/KMManager/setLongpressDelay.md
Labels: android/, docs

#13201 chore(ios): increase minimum ios version to 15
  ios/docs/help/about/whatsnew.md
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/Colors+Extension.swift
  ios/engine/KMEI/KeymanEngine/Classes/Installation/PackageInstallViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Keyboard/KeymanWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/KeyboardHeightViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/PackageWebViewController.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/KeyboardSearchViewController.swift
  ios/engine/KMEI/KeymanEngine/Config/Keyman-iphoneos.xcconfig
  ios/engine/KMEI/KeymanEngine/Config/Keyman-iphonesimulator.xcconfig
  ios/engine/KMEI/KeymanEngine/Config/Keyman-lib.xcconfig
  ios/engine/KMEI/KeymanEngine/Images.xcassets/arrow.up.and.down.imageset/Contents.json
  ios/engine/KMEI/KeymanEngine/Images.xcassets/arrow.up.and.down.imageset/arrow.up.and.down.png
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/Keyman/Keyman/AppDelegate.swift
  ios/keyman/Keyman/Keyman/Classes/KMWebBrowser/WebBrowserViewController.swift
  ios/keyman/Keyman/Keyman/Classes/MainViewController/MainViewController.swift
  ios/keyman/Keyman/Keyman/PackageBrowserViewController.swift
  ios/keyman/Keyman/SWKeyboard/KeyboardViewController.swift
  ios/samples/KMSample1/KMSample1.xcodeproj/project.pbxproj
  ios/samples/KMSample2/KMSample2.xcodeproj/project.pbxproj
  ios/tools/KeyboardCalibrator/KeyboardCalibrator.xcodeproj/project.pbxproj
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
Labels: ios/, oem/, ios/app/, ios/engine/, oem/fv/, oem/fv/ios/, chore, ios/samples/

#13140 fix(android): Catch WebView exceptions and prompt user to install WebView
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/KMPBrowserActivity.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/res/layout/activity_main.xml
  android/KMAPro/kMAPro/src/main/res/layout/check_chrome_webview_layout.xml
  android/KMEA/app/src/main/AndroidManifest.xml
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMTextView.java
  android/KMEA/app/src/main/java/com/keyman/engine/util/WebViewUtils.java
  android/KMEA/app/src/main/res/values/strings.xml
  android/KMEA/app/src/main/res/values/styles.xml
Labels: android/, fix, android/engine/, android/app/, has-user-test

#13241 chore(common): Update crowdin strings for Mon
  android/KMAPro/kMAPro/src/main/res/values-mnw-rMM/strings.xml
  android/KMEA/app/src/main/res/values-mnw-rMM/strings.xml
  ios/engine/KMEI/KeymanEngine/mnw.lproj/Localizable.strings
  windows/src/desktop/kmshell/locale/mnw-MM/strings.xml
Labels: windows/, android/, ios/, common/, android/engine/, android/app/, ios/engine/, windows/config/, chore

#13242 chore(ios,windows): Update Crowdin strings for Czech
  ios/engine/KMEI/KeymanEngine/cs.lproj/Localizable.strings
  windows/src/desktop/kmshell/locale/cs-CZ/strings.xml
Labels: windows/, ios/, ios/engine/, windows/config/, chore

#13174 feat(developer): serialize KMXPlus into XML 🍒
  common/web/types/src/kmx/kmx-plus/kmx-plus.ts
  developer/src/common/web/utils/src/xml-utils.ts
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/section-compiler.ts
  developer/src/kmc-ldml/src/compiler/tran.ts
  developer/src/kmc-ldml/src/compiler/vars.ts
  developer/src/kmc-ldml/src/util/serialize.ts
  developer/src/kmc-ldml/test/compiler-e2e.tests.ts
  developer/src/kmc-ldml/test/fixtures/basic-serialized.xml
  developer/src/kmc-ldml/test/helpers/compareXml.ts
  developer/src/kmc-ldml/test/tsconfig.json
Labels: developer/, cherry-pick, common/, developer/compilers/, feat, common/web/

#13235 chore(developer): XML serializer version bugfix cherrypick 🍒🍒 🗼
  developer/src/kmc-ldml/src/util/serialize.ts
Labels: developer/, cherry-pick, developer/compilers/, chore, epic-ldml-editor

#13141 change(web): drop 'dom' unit test concurrency when run in CI mode
  web/src/test/auto/dom/web-test-runner.CI.config.mjs
Labels: web/, change

#13158 chore(web): ensure /web/build.sh clean triggers all predictive-text child actions
  web/build.sh
  web/src/engine/predictive-text/build.sh
Labels: web/, chore

#13249 auto: increment master version to 19.0.5
  HISTORY.md
  VERSION.md
Labels: auto

#13250 auto: increment beta version to 18.0.194
  HISTORY.md
  VERSION.md
Labels: auto

#13253 fix(linux): update location of lcov.deb for Jammy
  resources/docker-images/linux/Dockerfile
  resources/docker-images/run.sh
Labels: linux/, common/, common/resources/, fix

#13257 auto: increment master version to 19.0.6
  HISTORY.md
  VERSION.md
Labels: auto

#13259 fix(android): Use TIER.md to determine Play Store tier
  android/KMAPro/kMAPro/build.gradle
  oem/firstvoices/android/app/build.gradle
Labels: android/, oem/, fix, android/app/, oem/fv/, oem/fv/android/

#13218 fix(android): prevent update-checks from crashing system keyboard and app if `DownloadManager` is disabled
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/keyman/engine/cloud/CloudDownloadMgr.java
  android/KMEA/app/src/main/java/com/keyman/engine/cloud/DownloadManagerDisabledException.java
  android/KMEA/app/src/main/java/com/keyman/engine/cloud/impl/CloudLexicalModelMetaDataDownloadCallback.java
  android/KMEA/app/src/main/java/com/keyman/engine/data/CloudRepository.java
  android/KMEA/app/src/main/java/com/keyman/engine/logic/ResourcesUpdateTool.java
  android/KMEA/app/src/main/java/com/keyman/engine/util/DownloadFileUtils.java
  android/KMEA/app/src/main/res/values/strings.xml
Labels: android/, fix, android/engine/, android/app/, has-user-test

#13233 feat(linux): add `--remote-debug` flag to `run-tests.sh` script 🕷️
  docs/settings/linux/launch.json
  linux/ibus-keyman/tests/README.md
  linux/ibus-keyman/tests/scripts/run-tests.sh
Labels: linux/, feat, linux/engine/, docs

#13247 chore(linux): improve output when running tests 🕷️
  linux/ibus-keyman/src/test/run-tests.sh
  linux/ibus-keyman/tests/scripts/run-single-test.sh
  linux/ibus-keyman/tests/scripts/run-tests.sh
  linux/ibus-keyman/tests/scripts/test-helper.inc.sh
Labels: linux/, linux/engine/, chore

#13248 refactor(linux): cleanup code of test fixture 🕷️
  linux/ibus-keyman/tests/testfixture.cpp
Labels: linux/, linux/engine/, refactor

#13264 auto: increment beta version to 18.0.195
  HISTORY.md
  VERSION.md
Labels: auto

#13272 docs(web): use promise-chaining in manual-control example
  web/docs/engine/guide/examples/__manual-control.html
  web/docs/engine/guide/examples/manual-control.md
Labels: web/, docs

#13275 auto: increment beta version to 18.0.196
  HISTORY.md
  VERSION.md
Labels: auto

#13266 fix(windows): remove sentry report on firstrun in idle state
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
Labels: windows/, fix, windows/config/

#13268 fix(android): Correct the scope of `tier` in build.gradle
  android/KMAPro/kMAPro/build.gradle
  oem/firstvoices/android/app/build.gradle
Labels: android/, oem/, fix, android/app/, oem/fv/, oem/fv/android/

#13277 chore(common): Update crowdin strings for Polytonic Greek
  android/KMAPro/kMAPro/src/main/res/values-b+el/strings.xml
  android/KMEA/app/src/main/res/values-b+el/strings.xml
  ios/engine/KMEI/KeymanEngine/el.lproj/Localizable.strings
  windows/src/desktop/kmshell/locale/el-polyton/strings.xml
Labels: windows/, android/, ios/, common/, android/engine/, android/app/, ios/engine/, windows/config/, chore

#13269 fix(web): provide informative error + message when loading UI without the engine
  web/src/app/ui/kmwuibutton.ts
  web/src/app/ui/kmwuifloat.ts
  web/src/app/ui/kmwuitoggle.ts
  web/src/app/ui/kmwuitoolbar.ts
Labels: web/, fix

#13239 chore: merge beta to master B18S1
  .github/workflows/api-verification.yml
  .github/workflows/deb-packaging.yml
  HISTORY.md
  VERSION.md
  linux/debian/control
  linux/ibus-keyman/src/KeymanSystemServiceClient.cpp
  linux/ibus-keyman/src/KeymanSystemServiceClient.h
  linux/ibus-keyman/src/engine.c
  linux/keyman-system-service/src/KeymanSystemService.cpp
  linux/keyman-system-service/src/com.keyman.SystemService1.System.xml
  resources/build/version/src/fixupHistory.ts
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
Labels: web/, windows/, android/, developer/, ios/, mac/, linux/, common/, developer/compilers/, common/resources/, linux/config/, linux/engine/, windows/config/, chore, docs

#13271 fix(developer): Use 'desktop' for target in OSK fill temp keyboard
  developer/src/tike/child/UfrmKeymanWizard.pas
Labels: developer/, fix, developer/ide/, has-user-test

#13279 fix(linux): add missing dependency for uploading to llso
  .github/workflows/deb-packaging.yml
Labels: linux/, fix

#13280 fix(linux): add missing dependency for uploading to llso 🍒
  .github/workflows/deb-packaging.yml
Labels: linux/, cherry-pick, fix

#13286 auto: increment master version to 19.0.7
  HISTORY.md
  VERSION.md
Labels: auto

#13287 auto: increment beta version to 18.0.197
  HISTORY.md
  VERSION.md
Labels: auto

#13289 fix(android): prevent update-checks from crashing system keyboard and app if `DownloadManager` is disabled 🍒 🏠
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboardDownloaderActivity.java
  android/KMEA/app/src/main/java/com/keyman/engine/cloud/CloudDownloadMgr.java
  android/KMEA/app/src/main/java/com/keyman/engine/cloud/DownloadManagerDisabledException.java
  android/KMEA/app/src/main/java/com/keyman/engine/cloud/impl/CloudLexicalModelMetaDataDownloadCallback.java
  android/KMEA/app/src/main/java/com/keyman/engine/data/CloudRepository.java
  android/KMEA/app/src/main/java/com/keyman/engine/logic/ResourcesUpdateTool.java
  android/KMEA/app/src/main/java/com/keyman/engine/util/DownloadFileUtils.java
  android/KMEA/app/src/main/res/values/strings.xml
Labels: android/, stable, cherry-pick, fix, android/engine/, android/app/

#13285 fix(linux): address compiling with ICU 76
  linux/debian/changelog
Labels: linux/, fix

#13284 chore(linux): allow to build and use Debian docker image
  resources/docker-images/base/Dockerfile
  resources/docker-images/build.sh
  resources/docker-images/run.sh
Labels: linux/, common/, common/resources/, chore

#13296 auto: increment master version to 19.0.8
  HISTORY.md
  VERSION.md
Labels: auto

#13297 auto: increment beta version to 18.0.198
  HISTORY.md
  VERSION.md
Labels: auto

#13237 feat(windows): hack in some fun features for kmdevlink
  windows/src/support/kmdevlink/UfrmMain.pas
  windows/src/support/kmdevlink/UfrmOpenCRMRecord.dfm
  windows/src/support/kmdevlink/UfrmOpenCRMRecord.pas
Labels: windows/, feat

#13236 feat(developer): use ABNF to validate LDML transform
  developer/src/kmc-ldml/.gitignore
  developer/src/kmc-ldml/build.sh
  developer/src/kmc-ldml/package.json
  developer/src/kmc-ldml/src/compiler/ldml-compiler-messages.ts
  developer/src/kmc-ldml/src/compiler/tran.ts
  developer/src/kmc-ldml/src/util/abnf/abnf.ts
  developer/src/kmc-ldml/test/fixtures/sections/tran/fail-bad-tran-1.xml
  developer/src/kmc-ldml/test/fixtures/sections/tran/fail-bad-tran-3.xml
  developer/src/kmc-ldml/test/fixtures/sections/tran/fail-bad-tran-4.xml
  developer/src/kmc-ldml/test/fixtures/sections/tran/fail-bad-tran-5.xml
  developer/src/kmc-ldml/test/fixtures/sections/tran/fail-bad-tran-6.xml
  developer/src/kmc-ldml/test/helpers/index.ts
  developer/src/kmc-ldml/test/tran.tests.ts
  developer/src/kmc-ldml/tsconfig.json
  package-lock.json
  resources/standards-data/ldml-keyboards/46/abnf/transform-from-required.abnf
  resources/standards-data/ldml-keyboards/46/abnf/transform-to-required.abnf
  resources/standards-data/ldml-keyboards/fetch-latest-cldr.sh
Labels: developer/, common/, developer/compilers/, common/resources/, feat, core/, common/web/

#13273 fix(android): Update system keyboard height consistently
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
Labels: android/, fix, android/app/, has-user-test

#13318 fix(linux): remove `--platform amd64` from docker build script
  resources/docker-images/build.sh
Labels: linux/, common/, common/resources/, fix

#13321 auto: increment master version to 19.0.9
  HISTORY.md
  VERSION.md
Labels: auto

#13298 cherrypick(android): Use TIER.md to determine Play Store tier 🏠
  android/KMAPro/kMAPro/build.gradle
  oem/firstvoices/android/app/build.gradle
Labels: android/, stable, oem/, fix, android/app/, oem/fv/, oem/fv/android/

#13342 auto: increment beta version to 18.0.200
  HISTORY.md
  VERSION.md
Labels: auto

#13290 fix(web): properly support workerless use of Web engine
  web/src/app/browser/src/debug-main.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/browser/src/release-main.ts
  web/src/app/webview/src/debug-main.ts
  web/src/app/webview/src/keymanEngine.ts
  web/src/app/webview/src/release-main.ts
  web/src/engine/main/src/headless/inputProcessor.ts
  web/src/engine/main/src/headless/languageProcessor.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/predictive-text/worker-main/src/index.ts
  web/src/engine/predictive-text/worker-main/src/node/index.ts
  web/src/engine/predictive-text/worker-main/src/web/index.ts
  web/src/test/auto/headless/engine/interfaces/prediction/predictionContext.tests.js
Labels: web/, fix, has-user-test

#13332 change(ios): re-order host page script load so Sentry can report script load failures
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/keyboard.html
Labels: ios/, ios/engine/, has-user-test, change

#13325 chore(linux): Update to new Debian policy version
  linux/debian/control
Labels: linux/, chore

#13351 auto: increment beta version to 18.0.201
  HISTORY.md
  VERSION.md
Labels: auto

#13331 fix(web): prevent cookie-default behavior from mangling engine init
  web/src/app/browser/src/contextManager.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/test/manual/web/issue11785/clear-cookies.js
  web/src/test/manual/web/issue11785/index.html
  web/src/test/manual/web/issue11785/load-keyboards.js
Labels: web/, fix, has-user-test

#13354 chore(linux): adjust to renamed xdg module
  linux/keyman-config/keyman_config/gsettings.py
Labels: linux/, linux/config/, chore

#13357 auto: increment beta version to 18.0.202
  HISTORY.md
  VERSION.md
Labels: auto

#13352 fix(android): Direct user to switch system IME when WebView fails
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
  android/KMEA/app/src/main/res/values/strings.xml
Labels: android/, fix, android/engine/, has-user-test

#13353 fix(android): Filter out SocketTimeoutExceptions
  android/KMEA/app/src/main/java/com/keyman/engine/util/Connection.java
Labels: android/, fix, android/engine/

#13355 refactor(linux): extract method for setting up mocks in tests
  linux/keyman-config/keyman_config/dbus_util.py
  linux/keyman-config/tests/uninstall_kmp_tests.py
Labels: linux/, linux/config/, refactor

#13362 chore(linux): update to current Debian policy version
  linux/debian/control
Labels: linux/, chore

#13345 fix(developer): prevent double action of editor hotkeys in debugger
  developer/src/tike/child/UfrmDebug.pas
Labels: developer/, fix, developer/ide/

#13366 docs: move node.js before Emscripten
  docs/build/windows.md
Labels: docs

#13356 fix(linux): ignore DBusException during install and uninstall
  linux/keyman-config/keyman_config/dbus_util.py
  linux/keyman-config/tests/dbus_util_tests.py
  linux/keyman-config/tests/uninstall_kmp_tests.py
Labels: linux/, fix, linux/config/, has-user-test

#13368 chore: add a workflow to automatically close linked issues
  .github/workflows/close-linked-issues-for-merged-prs.yml
Labels: chore

#13363 fix(linux): ignore exception when fcitx5-configtool is not found
  linux/keyman-config/keyman_config/install_window.py
Labels: linux/, fix, linux/config/

#13341 fix(developer): prevent simultaneous opening of the same project by two processes
  developer/src/tike/main/Keyman.Developer.System.KeymanDeveloperPaths.pas
  developer/src/tike/main/UfrmMain.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.ProjectUI.pas
Labels: developer/, fix, developer/ide/, has-user-test

#13370 auto: increment master version to 19.0.10
  HISTORY.md
  VERSION.md
Labels: auto

#13371 auto: increment beta version to 18.0.203
  HISTORY.md
  VERSION.md
Labels: auto

#13330 fix(windows): if kmshell is "silent" don't start a Keyman update
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/desktop/kmshell/startup/UfrmSplash.pas
Labels: windows/, fix, windows/config/, has-user-test

#13364 chore(windows): Update crowdin strings for Khmer
  windows/src/desktop/kmshell/locale/km-KH/strings.xml
Labels: windows/, windows/config/, chore

#13328 docs: clean up links in builder.md
  resources/build/builder.md
Labels: common/, common/resources/, docs

#13327 chore: add build.sh edit action for Delphi projects
  common/windows/delphi/components/build.sh
  common/windows/delphi/general/KeymanPaths.pas
  common/windows/delphi/tools/build_standards_data/build.sh
  common/windows/delphi/tools/buildunidata/build.sh
  common/windows/delphi/tools/devtools/build.sh
  common/windows/delphi/tools/sentrytool/build.sh
  common/windows/delphi/tools/test-klog/build.sh
  common/windows/delphi/tools/verify_signatures/build.sh
  developer/src/common/delphi/build.sh
  developer/src/kmconvert/build.sh
  developer/src/kmdbrowserhost/build.sh
  developer/src/setup/build.sh
  developer/src/tike/build.sh
  windows/src/desktop/insthelp/build.sh
  windows/src/desktop/kmbrowserhost/build.sh
  windows/src/desktop/kmconfig/build.sh
  windows/src/desktop/kmshell/build.sh
  windows/src/desktop/setup/build.sh
  windows/src/engine/insthelper/build.sh
  windows/src/engine/keyman/build.sh
  windows/src/engine/kmcomapi/build.sh
  windows/src/engine/tsysinfo/build.sh
  windows/src/engine/tsysinfox64/build.sh
  windows/src/global/delphi/build.sh
  windows/src/support/oskbulkrenderer/build.sh
Labels: windows/, developer/, common/, developer/ide/, windows/config/, windows/engine/, chore

#13334 fix(developer): handle line breaks in debugger correctly
  developer/src/common/delphi/components/KeymanDeveloperDebuggerMemo.pas
  developer/src/tike/child/UfrmDebug.dfm
  developer/src/tike/child/UfrmDebug.pas
  developer/src/tike/debug/Keyman.System.Debug.DebugUtils.pas
Labels: developer/, fix, developer/ide/, has-user-test

#13336 fix(developer): use U+0001 for deadkey markers in the debugger
  developer/src/tike/child/Keyman.Developer.UI.Debug.UfrmLdmlKeyboardDebug.dfm
  developer/src/tike/child/Keyman.Developer.UI.Debug.UfrmLdmlKeyboardDebug.pas
  developer/src/tike/child/UfrmDebug.pas
  developer/src/tike/debug/Keyman.System.Debug.DebugUtils.pas
  developer/src/tike/debug/Keyman.UI.Debug.CharacterGridRenderer.pas
  developer/src/tike/debug/debugdeadkeys.pas
Labels: developer/, fix, developer/ide/, has-user-test

#13324 feat(developer): use .kps folder as initial dir for Add Files
  developer/src/tike/child/UfrmPackageEditor.dfm
  developer/src/tike/child/UfrmPackageEditor.pas
Labels: developer/, feat, developer/ide/

#13311 chore(core): add unit tests to validate `nul` with `index` and `context`
  common/test/keyboards/baseline/.gitignore
  common/test/keyboards/baseline/build.sh
  common/test/keyboards/baseline/k_050___nul_and_context.kmn
  common/test/keyboards/baseline/k_050___nul_and_context.kmx
  common/test/keyboards/baseline/k_051___if_and_context.kmn
  common/test/keyboards/baseline/k_051___if_and_context.kmx
  common/test/keyboards/baseline/k_052___nul_and_index.kmn
  common/test/keyboards/baseline/k_052___nul_and_index.kmx
  common/test/keyboards/baseline/k_053___if_and_index.kmn
  common/test/keyboards/baseline/k_053___if_and_index.kmx
  common/test/keyboards/baseline/kmcomp-16.0.138.zip
  core/tests/unit/kmx/meson.build
  developer/src/kmcmplib/tests/meson.build
Labels: developer/, common/, developer/compilers/, core/, chore

#13314 fix(core): include `nul` in context offset calculations in kmx processor
  core/src/kmx/kmx_processevent.cpp
  core/src/kmx/kmx_processevent.h
Labels: fix, core/

#13326 fix(developer): include `nul` in offset calculations for kmw v10 compiler
  developer/src/kmc-kmn/src/kmw-compiler/javascript-strings.ts
  developer/src/kmc-kmn/test/fixtures/kmw/test_index_12980_v10.kmn
  developer/src/kmc-kmn/test/fixtures/kmw/test_index_12980_v9.kmn
  developer/src/kmc-kmn/test/kmw/kmw-compiler.tests.ts
Labels: developer/, developer/compilers/, fix

#13380 auto: increment beta version to 18.0.204
  HISTORY.md
  VERSION.md
Labels: auto
