Repository keymanapp/keyman, pull requests merged in 2025-10, with the labels that each got.

#14881 auto: increment master version to 19.0.132
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14683 fix(windows): remove cached files in idle state
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
Labels: windows/, fix, windows/config/, has-user-test

#14886 auto: increment master version to 19.0.133
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14856 chore(linux): Update debian changelog 🍒
  linux/debian/changelog
Labels: linux/, cherry-pick, chore

#14751 feat(web): add method to determine the change to context resulting from a context window slide 🚂
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-state.ts
  web/src/engine/predictive-text/worker-thread/src/main/test-index.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/context/context-state.tests.ts
Labels: web/, feat, epic-autocorrect, web/predictive-text/

#14800 feat(web): build token-aligned edge windows 🚂
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-token.ts
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-tokenization.ts
  web/src/engine/predictive-text/worker-thread/src/main/test-index.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/context/context-tokenization.tests.ts
Labels: web/, feat, epic-autocorrect, web/predictive-text/

#14805 feat(web): add helper for tokenizing Transform.insert via tokenization of applied context 🚂
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-tokenization.ts
  web/src/engine/predictive-text/worker-thread/src/main/test-index.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/context/context-tokenization.tests.ts
Labels: web/, feat, epic-autocorrect, web/predictive-text/

#14806 feat(web): add helper for aligning tokens after merges, splits 🚂
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-tokenization.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/context/context-tokenization.tests.ts
Labels: web/, feat, epic-autocorrect, web/predictive-text/

#14896 auto: increment master version to 19.0.134
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14871 maint(resources): nest unit tests under parent block ☕
  common/test/resources/mocha-teamcity-reporter/README.md
  common/test/resources/mocha-teamcity-reporter/teamcity.cjs
  common/tools/sourcemap-path-remapper/package.json
  linux/ibus-keyman/src/test/run-tests.sh
  linux/ibus-keyman/tests/scripts/test-helper.inc.sh
  package-lock.json
  package.json
  resources/build/pr-build-status/package-lock.json
  resources/build/pr-build-status/package.json
  resources/build/typescript.inc.sh
  resources/teamcity/includes/tc-linux.inc.sh
  web/common.inc.sh
  web/src/engine/common/web-utils/build.sh
  web/src/engine/common/web-utils/package.json
  web/src/engine/osk/gesture-processor/package.json
  web/src/engine/predictive-text/templates/package.json
  web/src/engine/predictive-text/wordbreakers/build.sh
  web/src/engine/predictive-text/wordbreakers/package.json
  web/src/engine/predictive-text/worker-main/package.json
  web/src/engine/predictive-text/worker-main/unit_tests/test.sh
  web/src/engine/predictive-text/worker-thread/package.json
Labels: web/, windows/, android/, developer/, ios/, mac/, linux/, common/, linux/engine/, core/, web/predictive-text/, resources/, maint

#14902 auto: increment master version to 19.0.135
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14790 feat(web): precompute transform tokenization while handling when existing boundaries shift 🚂
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-tokenization.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/context/context-tokenization.tests.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/transform-tokenization.tests.ts
Labels: web/, feat, epic-autocorrect, web/predictive-text/

#14820 feat(web): track source input ranges for the edit-boundary source token 🚂
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-tokenization.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/context/context-tokenization.tests.ts
Labels: web/, feat, epic-autocorrect, web/predictive-text/

#14840 feat(web): add class method for splitting ContextToken instances 🚂
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-token.ts
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-tokenization.ts
  web/src/engine/predictive-text/worker-thread/src/main/test-index.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/context/context-token.tests.ts
Labels: web/, feat, epic-autocorrect, web/predictive-text/
