Repository keymanapp/keyman, pull requests merged in 2025-09, with the labels that each got.

#14654 maint(windows): for `build` buildlevel, do not publish artifacts
  oem/firstvoices/windows/src/inst/build.sh
  windows/src/desktop/inst/build.sh
Labels: windows/, oem/, oem/fv/, oem/fv/windows/, windows/config/, maint

#14645 fix: fixing some issues for bulding and testing with Docker containers
  resources/docker-images/linux/Dockerfile
Labels: fix, resources/

#14656 change(developer): update SIL logo
  developer/src/setup/SetupStrings.pas
  developer/src/setup/icons.rc
  developer/src/setup/logo.bmp
Labels: developer/, change

#14657 fix(developer): add clear messages about validation failures to New Project Parameters form
  developer/docs/help/context/new-project-parameters.md
  developer/docs/help/context/package-editor.md
  developer/docs/help/images/ui/frmNewProjectParameters.png
  developer/src/tike/main/Keyman.Developer.UI.FormValidation.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmNewProjectParameters.dfm
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmNewProjectParameters.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
Labels: developer/, fix, developer/ide/, has-user-test

#14648 maint: add registry usage for Docker images
  resources/docker-images/README.md
  resources/docker-images/android/Dockerfile
  resources/docker-images/build.sh
  resources/docker-images/core/Dockerfile
  resources/docker-images/developer/Dockerfile
  resources/docker-images/docker-build.inc.sh
  resources/docker-images/linux/Dockerfile
  resources/docker-images/run.sh
  resources/docker-images/web/Dockerfile
Labels: resources/, maint

#14672 auto: increment master version to 19.0.112
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14659 fix(developer): add clear messages about validation failures to New LM Project Parameters form
  developer/docs/help/context/new-lm-project-parameters.md
  developer/docs/help/images/ui/frmNewLMProjectParameters.png
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmNewModelProjectParameters.dfm
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmNewModelProjectParameters.pas
Labels: developer/, fix, developer/ide/, has-user-test

#14655 fix(android): Cleanup list layout in Engine and FirstVoices for edge to edge 🪟
  android/KMEA/app/src/main/res/layout/activity_list_layout.xml
  android/KMEA/app/src/main/res/layout/list_layout.xml
  android/KMEA/app/src/main/res/layout/list_toolbar.xml
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/KeyboardListActivity.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/RegionListActivity.java
Labels: android/, oem/, fix, android/engine/, oem/fv/, oem/fv/android/, has-user-test

#14668 docs(common): update license date and owner
  developer/src/inst/License.rtf
  oem/firstvoices/windows/src/inst/license.html
  oem/firstvoices/windows/src/inst/license.rtf
  windows/src/desktop/inst/license.html
  windows/src/desktop/inst/license.rtf
Labels: windows/, developer/, common/, oem/, oem/fv/, oem/fv/windows/, windows/config/, docs

#14671 maint(linux): skip tarball creation for `Build-bot: build` buildLevel
  resources/teamcity/linux/keyman-linux-test-integration.sh
  resources/teamcity/linux/keyman-linux-test.sh
Labels: linux/, resources/, maint

#14599 maint(linux): create temporary worktree for packaging 🍒 🏠
  linux/scripts/upload-to-debian.sh
Labels: linux/, stable, cherry-pick

#14443 change(web): rework applied-suggestion tracking + reversions 🚂
  web/src/engine/main/src/headless/languageProcessor.ts
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-token.ts
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-tokenization.ts
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-tracker.ts
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-transition.ts
  web/src/engine/predictive-text/worker-thread/src/main/model-compositor.ts
  web/src/engine/predictive-text/worker-thread/src/main/test-index.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/context/context-token.tests.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/context/context-tokenization.tests.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/context/context-tracker.tests.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/context/context-transition.tests.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/worker-model-compositor.tests.ts
Labels: web/, change, epic-autocorrect, web/predictive-text/

#14470 change(web): do not cache context states that will no longer be referenced 🚂
  web/src/engine/predictive-text/worker-thread/src/main/correction/alignment-helpers.ts
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-tokenization.ts
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-tracker.ts
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-transition.ts
  web/src/engine/predictive-text/worker-thread/src/main/correction/transform-tokenization.ts
  web/src/engine/predictive-text/worker-thread/src/main/index.ts
  web/src/engine/predictive-text/worker-thread/src/main/model-compositor.ts
  web/src/engine/predictive-text/worker-thread/src/main/predict-helpers.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/context/context-tracker.tests.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/worker-model-compositor.tests.ts
Labels: web/, change, epic-autocorrect, web/predictive-text/

#14558 fix(web): handle suggestion application after backspacing 🚂
  web/src/engine/predictive-text/worker-thread/src/main/correction/alignment-helpers.ts
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-tokenization.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/context/alignment-helpers.tests.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/context/context-tokenization.tests.ts
Labels: web/, fix, epic-autocorrect, web/predictive-text/

#14573 refactor(web): move computeAlignment core to standalone method 🚂
  web/src/engine/predictive-text/worker-thread/src/main/correction/alignment-helpers.ts
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-tokenization.ts
  web/src/engine/predictive-text/worker-thread/src/main/test-index.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/context/alignment-helpers.tests.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/context/context-tokenization.tests.ts
Labels: web/, refactor, epic-autocorrect, web/predictive-text/

#14670 fix(web): always place true input at lead of fat-finger distribution 🚂
  web/src/engine/main/src/headless/inputProcessor.ts
  web/src/engine/osk/src/input/gestures/browser/flick.ts
  web/src/engine/osk/src/input/gestures/browser/multitap.ts
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
  web/src/engine/osk/src/visualKeyboard.ts
  web/src/engine/predictive-text/worker-thread/src/main/model-compositor.ts
Labels: web/, fix, epic-autocorrect, web/predictive-text/

#14663 fix(android): Cleanup layouts for Engine, Sample apps, and FirstVoices apps for edge to edge 🍒 🏠
  android/KMEA/app/src/main/res/layout/activity_list_layout.xml
  android/KMEA/app/src/main/res/layout/list_layout.xml
  android/KMEA/app/src/main/res/layout/list_toolbar.xml
  android/README.md
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample1/app/src/main/java/com/keyman/kmsample1/MainActivity.java
  android/Samples/KMSample1/app/src/main/res/layout/activity_main.xml
  android/Samples/KMSample2/app/build.gradle
  android/Samples/KMSample2/app/src/main/java/com/keyman/kmsample2/MainActivity.java
  android/Samples/KMSample2/app/src/main/res/layout/activity_main.xml
  android/Tests/KeyboardHarness/app/build.gradle
  android/Tests/KeyboardHarness/app/src/main/java/com/keyman/android/tests/keyboardHarness/MainActivity.java
  android/Tests/KeyboardHarness/app/src/main/res/layout/activity_main.xml
  oem/firstvoices/android/app/build.gradle
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/FVKeyboardSettingsActivity.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/KeyboardListActivity.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/MainActivity.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/RegionListActivity.java
  oem/firstvoices/android/app/src/main/res/layout/activity_main.xml
  oem/firstvoices/android/app/src/main/res/layout/fv_keyboard_settings_list_layout.xml
Labels: android/, stable, cherry-pick, oem/, fix, android/engine/, oem/fv/, oem/fv/android/, has-user-test, android/samples/

#14678 fix(android): Update KMSample1 layout when changing orientation
  android/Samples/KMSample1/app/src/main/java/com/keyman/kmsample1/MainActivity.java
Labels: android/, fix, has-user-test, android/samples/

#14688 auto: increment master version to 19.0.114
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14690 fix(web): do not warn for missing fat-fingers on frame keys 🚂
  web/src/engine/osk/src/visualKeyboard.ts
Labels: web/, fix, epic-autocorrect

#14696 fix(web): fix error trying to calculate style scaling effects 🍒 🏠
  web/src/engine/osk/src/visualKeyboard.ts
  web/src/test/auto/headless/engine/osk/visualKeyboard.tests.ts
Labels: web/, stable, cherry-pick, fix, has-user-test

#14508 feat(web): add Web engine support for auto-reverting whitespace appended to Suggestions on punctuation input 🚂
  common/web/types/src/lexical-model-types.ts
  web/build.sh
  web/src/engine/interfaces/src/prediction/languageProcessor.interface.ts
  web/src/engine/interfaces/src/prediction/predictionContext.ts
  web/src/engine/main/src/headless/inputProcessor.ts
  web/src/engine/main/src/headless/languageProcessor.ts
  web/src/engine/main/src/keymanEngineBase.ts
  web/src/engine/predictive-text/worker-main/src/lmlayer.ts
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-state.ts
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-tracker.ts
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-transition.ts
  web/src/engine/predictive-text/worker-thread/src/main/index.ts
  web/src/engine/predictive-text/worker-thread/src/main/model-compositor.ts
  web/src/engine/predictive-text/worker-thread/src/main/worker-interfaces.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/context/context-tracker.tests.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/context/context-transition.tests.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/worker-model-compositor.tests.ts
Labels: web/, common/, feat, common/web/, epic-autocorrect, web/predictive-text/

#14711 change(web): convert engine/main, engine/interfaces tests to TS 🚂
  web/src/engine/interfaces/build.sh
  web/src/engine/interfaces/src/modelSpec.ts
  web/src/engine/main/build.sh
  web/src/test/auto/headless/engine/interfaces/pathConfiguration.tests.ts
  web/src/test/auto/headless/engine/interfaces/prediction/predictionContext.tests.ts
  web/src/test/auto/headless/engine/main/inputProcessor.tests.ts
  web/src/test/auto/headless/engine/main/languageProcessor.tests.ts
Labels: web/, change, epic-autocorrect

#14715 auto: increment master version to 19.0.116
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14644 fix(windows): kmshell continues when sm is in waitingrestart and returns to idle
  windows/src/desktop/kmshell/main/Keyman.System.UpdateStateMachine.pas
  windows/src/desktop/kmshell/main/initprog.pas
Labels: windows/, fix, windows/config/, has-user-test

#14674 maint(resources): adding GitHub actions workflow for Docker builds
  .github/workflows/build-test-publish-docker.yml
  .github/workflows/delete-build-containers.yml
  resources/build/ci/trigger-definitions.inc.sh
  resources/docker-images/README.md
  resources/docker-images/build.sh
  resources/docker-images/docker-build.inc.sh
  resources/teamcity/triggers/trigger-test-builds.sh
Labels: resources/, maint

#14701 maint(developer): use versioned filenames for PR artifacts
  developer/src/inst/build.sh
Labels: developer/, maint

#14705 maint(mac): use versioned filenames for PR artifacts
  mac/Keyman4MacIM/make-km-dmg.sh
  mac/build.sh
Labels: mac/, maint

#14700 fix(web): display suggestions for text reached by backspace 🚂
  web/src/engine/predictive-text/worker-thread/src/main/correction/context-state.ts
  web/src/engine/predictive-text/worker-thread/src/main/predict-helpers.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/worker-model-compositor.tests.ts
Labels: web/, fix, has-user-test, epic-autocorrect, web/predictive-text/

#14722 fix(developer): transform slashes to backslashes in paths in Package Editor 🍒 🏠
  common/windows/delphi/packages/PackageInfo.pas
Labels: developer/, stable, cherry-pick, common/, fix

#14755 fix(common): add name for cleanup ghcr
  .github/workflows/build-test-publish-docker.yml
  .github/workflows/cleanup-ghcr.yml
  .github/workflows/delete-build-containers.yml
Labels: common/, fix

#14762 auto: increment master version to 19.0.120
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14761 refactor(linux): remove warning
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/kvk2ldml.py
Labels: linux/, linux/config/, refactor

#14766 docs(developer): document `fileVersion`
  developer/docs/help/reference/file-types/metadata.md
Labels: developer/, docs

#14749 maint(linux): allow to force package build on non-Keyman repo
  .github/workflows/deb-packaging.README.md
  .github/workflows/deb-packaging.yml
Labels: linux/, maint

#14765 feat(linux): add breadcrumbs and system information to Sentry error reports
  linux/keyman-config/keyman_config/__init__.py
  linux/keyman-config/keyman_config/downloadkeyboard.py
  linux/keyman-config/keyman_config/get_kmp.py
  linux/keyman-config/keyman_config/gnome_keyboards_util.py
  linux/keyman-config/keyman_config/handle_install.py
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/kmpmetadata.py
  linux/keyman-config/keyman_config/sentry_handling.py
  linux/keyman-config/km-config
Labels: linux/, feat, linux/config/

#14773 chore(linux): remove automatic installation of `onboard-keyman` 🍒 🏠
  linux/debian/changelog
  linux/debian/control
Labels: linux/, stable, cherry-pick, chore

#14774 docs(linux): update release notes for stable release 🏠
  linux/docs/help/about/whatsnew.md
Labels: linux/, stable, docs

#14776 auto: increment master version to 19.0.122
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14768 fix(android): Refresh the banner theme when system keyboard is changed
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
Labels: android/, fix, android/app/, has-user-test

#14777 auto: increment stable-18.0 version to 18.0.242
  HISTORY.md
  VERSION.md
Labels: stable, auto

#14779 maint(resources): use VERSION variable in increment-version.sh 🏠
  resources/build/increment-version.sh
Labels: stable, common/, common/resources/

#14782 chore(linux): Update debian changelog 🏠
  linux/debian/changelog
Labels: linux/, stable, chore

#14801 refactor(linux): remove a meson deprecation warning
  linux/ibus-keyman/src/test/meson.build
Labels: linux/, linux/engine/, refactor

#14802 refactor(linux): remove shellcheck warnings
  linux/ibus-keyman/tests/scripts/run-single-test.sh
Labels: linux/, linux/engine/, refactor

#14803 refactor(resources): use array for Docker arguments
  resources/docker-images/docker-build.inc.sh
  resources/docker-images/run.sh
Labels: refactor, resources/

#14785 maint(linux): improve getting PR# in `upload-to-debian.sh` 🍒 🏠
  linux/scripts/upload-to-debian.sh
Labels: linux/, stable, cherry-pick

#14812 auto: increment master version to 19.0.125
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14819 maint(linux): remove several shellcheck directives
  .shellcheckrc
  docs/settings/linux/settings.json
  linux/ibus-keyman/tests/scripts/find-tests.sh
  linux/ibus-keyman/tests/scripts/run-single-test.sh
  linux/ibus-keyman/tests/scripts/run-tests.sh
  resources/docker-images/run.sh
Labels: linux/, linux/engine/, docs, resources/, maint

#14824 fix(common): registry clean-up enabled, no terminal in github action
  .github/workflows/cleanup-ghcr.yml
  resources/docker-images/docker-build.inc.sh
Labels: common/, fix, resources/

#14724 refactor(web): improve encapsulation for edit-distance calculation objects 🚂
  web/src/engine/predictive-text/worker-thread/src/main/correction/classical-calculation.ts
  web/src/engine/predictive-text/worker-thread/src/main/correction/segmentable-calculation.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/correction-search/classical-calculation.tests.ts
  web/src/test/auto/headless/engine/predictive-text/worker-thread/correction-search/segmentable-calculation.tests.ts
Labels: web/, refactor, epic-autocorrect, web/predictive-text/

#14814 fix(windows): disable MSI shortcut advertisement
  windows/src/desktop/inst/keymandesktop.wxs
Labels: windows/, fix, windows/config/, has-user-test

#14816 maint(resources): lookup 7z on path on Windows if SEVENZ_HOME is not set
  resources/build/zip.inc.sh
Labels: resources/, maint

#14808 fix(android): Apply bottom insets to system keyboard
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMEA/app/src/main/java/com/keyman/engine/BaseActivity.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Labels: android/, fix, android/engine/, android/app/, has-user-test

#14828 fix(android): Fix bottom insets for Sample and FirstVoices apps
  android/Samples/KMSample2/app/src/main/java/com/keyman/kmsample2/SystemKeyboard.java
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/SystemKeyboard.java
Labels: android/, oem/, fix, oem/fv/, oem/fv/android/, has-user-test, android/samples/

#14830 docs(android): Document getNavigationBarHeight API
  android/docs/engine/KMManager/getNavigationBarHeight.md
  android/docs/engine/KMManager/index.md
Labels: android/, docs

#13573 fix(windows): sort setup UI language selector according to language names
  windows/src/desktop/setup/Keyman.Setup.System.SetupUILanguageManager.pas
  windows/src/desktop/setup/SetupStrings.pas
  windows/src/desktop/setup/UfrmRunDesktop.pas
  windows/src/desktop/setup/locale/am-ET/strings.xml
  windows/src/desktop/setup/locale/az-AZ/strings.xml
  windows/src/desktop/setup/locale/bwr-NG/strings.xml
  windows/src/desktop/setup/locale/ckl-NG/strings.xml
  windows/src/desktop/setup/locale/cs-CZ/strings.xml
  windows/src/desktop/setup/locale/de/strings.xml
  windows/src/desktop/setup/locale/el-polyton/strings.xml
  windows/src/desktop/setup/locale/en/strings.xml
  windows/src/desktop/setup/locale/es-419/strings.xml
  windows/src/desktop/setup/locale/es-ES/strings.xml
  windows/src/desktop/setup/locale/ff-NG/strings.xml
  windows/src/desktop/setup/locale/ff-ZA/strings.xml
  windows/src/desktop/setup/locale/fr/strings.xml
  windows/src/desktop/setup/locale/ha-HG/strings.xml
  windows/src/desktop/setup/locale/hia-NG/strings.xml
  windows/src/desktop/setup/locale/id-ID/strings.xml
  windows/src/desktop/setup/locale/it-IT/strings.xml
  windows/src/desktop/setup/locale/km-KH/strings.xml
  windows/src/desktop/setup/locale/kn/strings.xml
  windows/src/desktop/setup/locale/kr-NG/strings.xml
  windows/src/desktop/setup/locale/mfi-NG/strings.xml
  windows/src/desktop/setup/locale/mnw-MM/strings.xml
  windows/src/desktop/setup/locale/mrt-NG/strings.xml
  windows/src/desktop/setup/locale/nl-NL/strings.xml
  windows/src/desktop/setup/locale/pl-PL/strings.xml
  windows/src/desktop/setup/locale/pt-PT/strings.xml
  windows/src/desktop/setup/locale/ru-RU/strings.xml
  windows/src/desktop/setup/locale/shu-latn/strings.xml
  windows/src/desktop/setup/locale/sv-SE/strings.xml
  windows/src/desktop/setup/locale/uk-UA/strings.xml
  windows/src/desktop/setup/locale/zh-CN/strings.xml
Labels: windows/, fix, windows/config/, has-user-test

#14811 chore(linux): remove no longer needed lintian overrides 🍒 🏠
  linux/debian/source/lintian-overrides
Labels: linux/, stable, cherry-pick, chore

#14829 fix(windows): disable .msi shortcut advertisement 🍒 🏠
  windows/src/desktop/inst/keymandesktop.wxs
Labels: windows/, stable, cherry-pick, fix, windows/config/

#14810 chore(linux): remove no longer needed lintian overrides
  linux/debian/source/lintian-overrides
Labels: linux/, chore

#14861 auto: increment master version to 19.0.130
  HISTORY.md
  VERSION.md
Labels: auto, automerge

#14818 maint(linux): allow to remote debug integration tests in Docker
  docs/settings/linux/launch.json
  linux/ibus-keyman/tests/scripts/run-tests.sh
  resources/docker-images/README.md
  resources/docker-images/docker-build.inc.sh
  resources/docker-images/run.sh
Labels: linux/, linux/engine/, docs, resources/, maint

#14860 chore(web): disable DOM tests for webkit on Windows 🎼
  web/src/test/auto/dom/cases/core-processor/basic.tests.ts
  web/src/test/auto/dom/web-test-runner.config.mjs
  web/src/test/auto/integrated/web-test-runner.config.mjs
Labels: web/, linux/, common/, core/, chore, docs, epic-web-core, resources/
