Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete

chore(web): removes debug console-logging
  common/web/gesture-recognizer/src/test/auto/headless/gestures/touchpointCoordinator.spec.ts
Owners: @jahorton, @mcdurdin

chore(web): TODO cleanup, modipress test prep
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureModelDefs.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureSequence.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedGestureSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/touchpointCoordinator.spec.ts
Owners: @jahorton, @mcdurdin

chore(developer): add missing parameter to ldml-test-data
  developer/src/kmc/src/commands/build.ts
Owners: @mcdurdin, @darcywong00

fix(web): base item for first source matching a gesture-model
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
Owners: @jahorton, @mcdurdin

chore(developer): normalize case on input filenames in kmc
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildWindowsPackageInstaller/index.ts
Owners: @mcdurdin, @darcywong00

chore(web): builds outputting to publish folder now clean it, too
  web/src/app/browser/build.sh
  web/src/app/ui/build.sh
Owners: @jahorton, @mcdurdin

chore(developer): fix commander global options
  developer/src/kmc/src/commands/analyze.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildTestData/index.ts
  developer/src/kmc/src/commands/buildWindowsPackageInstaller/index.ts
  developer/src/kmc/src/kmc.ts
  developer/src/kmc/src/util/baseOptions.ts
Owners: @mcdurdin, @darcywong00

feat(linux): mcompile add more functions to helpers.cpp/.h
  linux/mcompile/keymap/helpers.cpp
  linux/mcompile/keymap/helpers.h
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile add functions to query Vector
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile start to adapt ImportRules
  linux/mcompile/keymap/km_types.h
  linux/mcompile/keymap/mc_import_rules.cpp
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile use All_Vector for constructor of KMX_VirtualKey for rgkeys
  linux/mcompile/keymap/README.md
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/mc_import_rules.cpp
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.180
  HISTORY.md
  VERSION.md
Owners: none

chore(resources): ldml update keyboard -> keyboard3 🙀
  resources/standards-data/ldml-keyboards/techpreview/3.0/pcm.xml
  resources/standards-data/ldml-keyboards/techpreview/cldr_info.json
  resources/standards-data/ldml-keyboards/techpreview/import/scanCodes-implied.xml
Owners: @mcdurdin, @jahorton

feat(developer): ldml scancodes 🙀
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
Owners: @jahorton, @mcdurdin, @rc-swag

feat(common): ldml scancodes 🙀
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml.ts
  common/web/types/test/ldml-keyboard/test-ldml-keyboard-xml-reader.ts
Owners: @jahorton, @mcdurdin

feat(common): ldml scancodes 🙀
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml.ts
  developer/src/kmc-ldml/src/compiler/layr.ts
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/test/fixtures/sections/layr/error-custom-form.xml
  developer/src/kmc-ldml/test/fixtures/sections/layr/hint-custom-form.xml
  developer/src/kmc-ldml/test/test-layr.ts
Owners: @jahorton, @mcdurdin, @darcywong00

feat(common): ldml scancodes 🙀
  common/web/types/src/consts/virtual-key-constants.ts
  common/web/types/test/ldml-keyboard/test-ldml-keyboard-xml-reader.ts
  developer/src/kmc-ldml/test/test-layr.ts
Owners: @jahorton, @mcdurdin, @darcywong00

chore(web): Update comments
  web/src/engine/osk/src/specialCharacters.ts
Owners: @jahorton, @mcdurdin

feat(windows): create Keyman for Windows installer without buildpkg
  docs/build/windows.md
  windows/src/desktop/inst/Makefile
  windows/src/desktop/inst/download.in
Owners: @mcdurdin, @jahorton, @rc-swag, @ermshiperete

feat(windows): create FV installer without buildpkg
  oem/firstvoices/windows/src/inst/Makefile
  oem/firstvoices/windows/src/inst/download.in
Owners: @rc-swag, @ermshiperete

chore(windows): remove buildpkg
  developer/src/README.md
  windows/src/buildtools/Makefile
  windows/src/buildtools/buildpkg/Makefile
  windows/src/buildtools/buildpkg/buildpkg.dpr
  windows/src/buildtools/buildpkg/buildpkg.dproj
  windows/src/buildtools/buildpkg/buildpkg.res
  windows/src/buildtools/buildpkg/buildpkgmain.pas
  windows/src/buildtools/buildpkg/version.rc
Owners: @mcdurdin, @darcywong00, @rc-swag, @ermshiperete

chore(developer): move package version unit tests into Typescript
  developer/src/kmc-package/test/fixtures/versioning/test-1.0/test-1.0.kpj
  developer/src/kmc-package/test/fixtures/versioning/test-1.0/test.js
  developer/src/kmc-package/test/fixtures/versioning/test-1.0/test.kmn
  developer/src/kmc-package/test/fixtures/versioning/test-1.0/test.kmx
  developer/src/kmc-package/test/fixtures/versioning/test-2.0/test-2.0.kpj
  developer/src/kmc-package/test/fixtures/versioning/test-2.0/test.js
  developer/src/kmc-package/test/fixtures/versioning/test-2.0/test.kmn
  developer/src/kmc-package/test/fixtures/versioning/test-2.0/test.kmx
  developer/src/kmc-package/test/fixtures/versioning/test-keyboard-1-vs-package-2.kps
  developer/src/kmc-package/test/fixtures/versioning/test-package-1-vs-keyboard-2.kps
  developer/src/kmc-package/test/fixtures/versioning/test1-2.kps
  developer/src/kmc-package/test/fixtures/versioning/test1.kps
  developer/src/kmc-package/test/fixtures/versioning/test2-1.kps
  developer/src/kmc-package/test/fixtures/versioning/test2.kps
  developer/src/kmc-package/test/test-versioning.ts
  developer/src/test/auto/Makefile
  developer/src/test/auto/developer-test-auto.groupproj
  developer/src/test/auto/keyboard-package-versions/.gitignore
  developer/src/test/auto/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dpr
  developer/src/test/auto/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dproj
  developer/src/test/auto/keyboard-package-versions/KeyboardPackageVersionsTestSuite.res
  developer/src/test/auto/keyboard-package-versions/Keyman.Test.System.CompilePackageVersioningTest.pas
  developer/src/test/auto/keyboard-package-versions/Makefile
Owners: @mcdurdin, @darcywong00

fix(web): bug fixes - separate matcher-Promise handling issue, instant path resolutions
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
Owners: @jahorton, @mcdurdin

feat(web): adds initial modipress automated tests
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedGestureSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/touchpointCoordinator.spec.ts
Owners: @jahorton, @mcdurdin

chore(developer): remove Package Installer UI from TIKE
  developer/src/common/delphi/compiler/CompilePackage.pas
  developer/src/common/delphi/compiler/CompilePackageInstaller.pas
  developer/src/tike/child/UfrmPackageEditor.dfm
  developer/src/tike/child/UfrmPackageEditor.pas
  developer/src/tike/project/Keyman.Developer.System.Project.kpsProjectFileAction.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.ProjectFileUI.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmProject.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.kpsProjectFileUI.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
  developer/src/tike/xml/project/distribution.xsl
  developer/src/tike/xml/project/packages.xsl
Owners: @mcdurdin, @darcywong00

fix(web): fixes toolbar refocus timing after a keyboard change
  web/src/app/ui/kmwuitoolbar.ts
Owners: @jahorton, @mcdurdin

chore(developer): remove .keyboard_info sources
  common/test/keyboards/caps_lock_layer_3620/caps_lock_layer_3620.keyboard_info
  common/test/keyboards/caps_lock_layer_3620/caps_lock_layer_3620.kpj
  common/test/keyboards/full_caps_3620_3621/full_caps_3620_3621.keyboard_info
  common/test/keyboards/full_caps_3620_3621/full_caps_3620_3621.kpj
  common/test/keyboards/obolo_chwerty_6347/obolo_chwerty_6347.keyboard_info
  common/test/keyboards/obolo_chwerty_6347/obolo_chwerty_6347.kpj
  common/test/keyboards/obolo_chwerty_6351/obolo_chwerty_6351.keyboard_info
  common/test/keyboards/obolo_chwerty_6351/obolo_chwerty_6351.kpj
  common/test/keyboards/start_of_sentence_3621/start_of_sentence_3621.keyboard_info
  common/test/keyboards/start_of_sentence_3621/start_of_sentence_3621.kpj
  common/test/keyboards/u_xxxx_yyyy_2858/u_xxxx_yyyy_2858.keyboard_info
  common/test/keyboards/u_xxxx_yyyy_2858/u_xxxx_yyyy_2858.kpj
  common/test/keyboards/web_context_tests/web_context_tests.kpj
  developer/src/kmconvert/Keyman.Developer.System.KeyboardProjectTemplate.pas
  developer/src/kmconvert/data/basic-keyboard/keyboard.keyboard_info
  developer/src/tike/compile/JsonExtractKeyboardInfo.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectFiles.pas
  web/src/test/manual/web/issue2924/source/testvariable/testvariable.keyboard_info
  web/src/test/manual/web/issue2924/source/testvariable/testvariable.kpj
  web/src/test/manual/web/issue3701/test3701/test3701.keyboard_info
  web/src/test/manual/web/issue3701/test3701/test3701.kpj
  web/src/test/manual/web/issue917-context-and-notany/test_917/test_917.keyboard_info
  web/src/test/manual/web/issue917-context-and-notany/test_917/test_917.kpj
  windows/src/support/convert-iso6393-to-bcp47-for-keyboards/cv.pas
  windows/src/support/convert-iso6393-to-bcp47-for-keyboards/cvt.dpr
  windows/src/support/convert-iso6393-to-bcp47-for-keyboards/cvt.dproj
  windows/src/support/convert-iso6393-to-bcp47-for-keyboards/cvt.res
  windows/src/test/manual-tests/GH-4275 - contextex-mismatch-with-if/context_mismatch_with_if/context_mismatch_with_if.keyboard_info
  windows/src/test/manual-tests/GH-4275 - contextex-mismatch-with-if/context_mismatch_with_if/context_mismatch_with_if.kpj
  windows/src/test/manual-tests/caps-lock-stores/caps_always_off/caps_always_off.keyboard_info
  windows/src/test/manual-tests/caps-lock-stores/caps_always_off/caps_always_off.kpj
  windows/src/test/manual-tests/caps-lock-stores/capslock/capslock.keyboard_info
  windows/src/test/manual-tests/caps-lock-stores/capslock/capslock.kpj
  windows/src/test/manual-tests/caps-lock-stores/shift_frees_caps/shift_frees_caps.keyboard_info
  windows/src/test/manual-tests/caps-lock-stores/shift_frees_caps/shift_frees_caps.kpj
Owners: @mcdurdin, @ermshiperete, @darcywong00, @jahorton, @rc-swag

chore(developer): validate emitted .keyboard_info and fix keys
  common/schemas/keyboard_info/keyboard_info.schema.json
  common/web/types/src/package/kmp-json-file.ts
  common/web/types/src/package/kps-file.ts
  developer/src/common/delphi/compiler/Keyman.Developer.System.ValidateKpsFile.pas
  developer/src/kmc-keyboard-info/package.json
  developer/src/kmc-keyboard-info/src/example-keys.ts
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-keyboard-info/src/keyboard-info-file.ts
  developer/src/kmc-keyboard-info/src/messages.ts
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/build/khmer_angkor.keyboard_info
  developer/src/kmc-keyboard-info/test/test-keyboard-info-compiler.ts
  package-lock.json
Owners: @mcdurdin, @jahorton, @darcywong00

chore(linux): Check that background processes are still running
  linux/ibus-keyman/src/test/meson.build
  linux/ibus-keyman/src/test/setup-tests.sh
  linux/ibus-keyman/tests/meson.build
  linux/ibus-keyman/tests/scripts/run-single-test.sh
  linux/ibus-keyman/tests/scripts/setup-tests.sh
  linux/ibus-keyman/tests/scripts/test-helper.inc.sh
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.181
  HISTORY.md
  VERSION.md
Owners: none

feat(common): ldml import infrastructure 🙀
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml.ts
Owners: @jahorton, @mcdurdin

feat(developer): scancode hint to warning 🙀
  developer/src/kmc-ldml/src/compiler/layr.ts
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/test/fixtures/sections/layr/hint-custom-form.xml
  developer/src/kmc-ldml/test/test-layr.ts
Owners: @mcdurdin, @darcywong00

feat(common): scancode fixes for ks and iso 🙀
  common/web/types/src/consts/virtual-key-constants.ts
  resources/standards-data/ldml-keyboards/techpreview/import/scanCodes-implied.xml
Owners: @jahorton, @mcdurdin

feat(common): scancode fixes for ks and jis 🙀
  common/web/types/src/consts/virtual-key-constants.ts
Owners: @jahorton, @mcdurdin

feat(web): modipress termination - cancellation of nested gestures
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/pathMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedGestureSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/touchpointCoordinator.spec.ts
  common/web/gesture-recognizer/src/test/resources/simulateMultiSourceInput.ts
Owners: @jahorton, @mcdurdin

context simplification, legacy app determination integrated into TextCompatibilityCheck
  mac/Keyman4Mac/Keyman4Mac/AppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMContext.m
  mac/Keyman4MacIM/Keyman4MacIM/KMCoreActionHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KeySender.h
  mac/Keyman4MacIM/Keyman4MacIM/KeySender.m
  mac/Keyman4MacIM/Keyman4MacIM/TextCompatibilityCheck.h
  mac/Keyman4MacIM/Keyman4MacIM/TextCompatibilityCheck.m
  mac/Keyman4MacIM/KeymanTests/InputMethodTests.m
  mac/Keyman4MacIM/KeymanTests/TestAppDelegate.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreHelper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KMEngineTests.m
Owners: @sgschantz, @SabineSIL

chore(web): Revert "fix(web): oh yeah, export the class"
  common/web/gesture-recognizer/src/engine/index.ts
Owners: @jahorton, @mcdurdin

chore(web): Revert "docs(web): removes older form of new class's documenation"
  common/web/gesture-recognizer/src/engine/headless/queuedPromisePrioritizer.ts
Owners: @jahorton, @mcdurdin

chore(web): Revert "feat(web): queued promise prioritizer / resynchronizer"
  common/web/gesture-recognizer/src/engine/headless/queuedPromisePrioritizer.ts
  common/web/gesture-recognizer/src/test/auto/headless/queuedPromisePrioritizer.spec.ts
Owners: @jahorton, @mcdurdin

chore(web): removes reference to dropped prioritizer
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
Owners: @jahorton, @mcdurdin
