Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

feat(linux): mcompile tidy up code
  linux/mcompile/keymap/README.md
  linux/mcompile/keymap/keymapWC.cpp
  linux/mcompile/keymap/keymapWC.h
  linux/mcompile/keymap/mc_kmxfile.cpp
  linux/mcompile/keymap/mc_kmxfile.h
  linux/mcompile/keymap/mcompile.cpp
  linux/mcompile/keymap/mcompile.h
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile add/remove wcout
  linux/mcompile/keymap/mc_kmxfile.cpp
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile remove duplicate file
  linux/mcompile/keymap/mcompile copy.cpp
Owners: @ermshiperete, @darcywong00

fix(core): don't use double newlines in debuglog
  core/src/debuglog.cpp
Owners: @mcdurdin, @rc-swag

fix(common): set variables need to serialize elementstring 🙀
  common/web/types/src/kmx/kmx-plus-builder/build-vars.ts
  common/web/types/src/kmx/kmx-plus-builder/kmx-plus-builder.ts
  developer/src/kmc-ldml/test/fixtures/basic.txt
Owners: @jahorton, @mcdurdin, @darcywong00

feat(core): more prep work for reorder 🙀
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/tests/unit/ldml/test_transforms.cpp
Owners: @mcdurdin, @rc-swag

feat(core): unit test for reorder! 🙀
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/tests/unit/ldml/test_transforms.cpp
Owners: @mcdurdin, @rc-swag

feat(core): refactor for reorder implementation 🙀
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/tests/unit/ldml/test_transforms.cpp
Owners: @mcdurdin, @rc-swag

feat(core): reorder tests 🙀
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/tests/unit/ldml/test_transforms.cpp
Owners: @mcdurdin, @rc-swag

chore(core): compiler fix 🙀
  core/src/ldml/ldml_transforms.cpp
Owners: @mcdurdin, @rc-swag

feat(core): reorder tests 🙀
  core/tests/unit/ldml/test_transforms.cpp
Owners: @mcdurdin, @rc-swag

feat(core): reorder is able to reorder nod-Lana 🙀
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/tests/unit/ldml/test_transforms.cpp
Owners: @mcdurdin, @rc-swag

feat(developer): use sentry inject for sourcemap resolution
  developer/src/kmc/build.sh
  developer/src/kmc/package.json
  developer/src/tools/sentry-upload-difs.sh
  package-lock.json
Owners: @mcdurdin, @darcywong00

feat(core): load reorder from kmx+, test case 🙀
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/tests/unit/ldml/keyboards/k_200_reorder_nod_Lana-test.xml
  core/tests/unit/ldml/keyboards/k_200_reorder_nod_Lana.xml
  core/tests/unit/ldml/keyboards/meson.build
Owners: @mcdurdin, @rc-swag

feat(core): load reorder from kmx+, test case 🙀
  core/src/ldml/ldml_transforms.cpp
Owners: @mcdurdin, @rc-swag

chore(developer): remove --dist from sentry-cli sourcemaps inject
  developer/src/kmc/build.sh
Owners: @mcdurdin, @darcywong00

chore(developer): enable source maps for bundle
  developer/src/kmc/.eslintrc.cjs
  developer/src/kmc/build.sh
Owners: @mcdurdin, @darcywong00

chore(developer): sourcemap def in wrong file
  developer/src/kmc/.eslintrc.cjs
  developer/src/kmc/build-bundler.js
Owners: @mcdurdin, @darcywong00

fix(web): bug in suggested-change typing
  common/web/utils/src/timeoutPromise.ts
Owners: @jahorton, @mcdurdin

chore(windows): turn msi compression off for test builds
  common/windows/delphi/Defines.mak
  windows/src/Defines.mak
Owners: @mcdurdin, @rc-swag, @ermshiperete

change(web): TrackedPath -> GesturePath
  common/web/gesture-recognizer/src/engine/headless/gesturePath.ts
  common/web/gesture-recognizer/src/engine/headless/trackedPoint.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/test/auto/headless/trackedPath.js
Owners: @jahorton, @mcdurdin

change(web): TrackedPoint -> SimpleGestureSource
  common/web/gesture-recognizer/docs/web-reintegration.md
  common/web/gesture-recognizer/src/engine/headless/gesturePath.ts
  common/web/gesture-recognizer/src/engine/headless/inputEngineBase.ts
  common/web/gesture-recognizer/src/engine/headless/simpleGestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/constructingSegment.ts
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/pathSegmenter.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/engine/headless/trackedInput.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  common/web/gesture-recognizer/src/engine/mouseEventEngine.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessInputEngine.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputSequenceSimulator.ts
Owners: @jahorton, @mcdurdin

change(web): TrackedInput -> ComplexGestureSource
  common/web/gesture-recognizer/src/engine/headless/complexGestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputRecording.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/sequenceRecorder.ts
Owners: @jahorton, @mcdurdin

docs(web): extra documentation b/c nomenclature shift
  common/web/gesture-recognizer/src/engine/headless/complexGestureSource.ts
Owners: @jahorton, @mcdurdin

chore(developer): avoid double-map for bundled sourcemap
  developer/src/kmc/build.sh
Owners: @mcdurdin, @darcywong00

chore(windows): detect teamcity CI for uncompressed msi
  common/windows/delphi/Defines.mak
  windows/src/Defines.mak
Owners: @mcdurdin, @rc-swag, @ermshiperete

chore(windows): remove hardcoded compression level in wxs files
  common/windows/delphi/Defines.mak
  developer/src/inst/kmdev.wxs
  oem/firstvoices/windows/src/inst/firstvoices.wxs
  windows/src/Defines.mak
  windows/src/desktop/inst/keymandesktop.wxs
Owners: @mcdurdin, @rc-swag, @darcywong00, @ermshiperete

chore(developer): wasm debug symbols and upload to sentry
  developer/src/kmcmplib/src/meson.build
  developer/src/tools/sentry-upload-difs.sh
Owners: @mcdurdin, @darcywong00

chore: apply review suggestion, delete comment
  common/web/types/build.sh
Owners: @jahorton, @mcdurdin

chore: try removing -t from sentry-cli
  developer/src/tools/sentry-upload-difs.sh
Owners: @mcdurdin, @darcywong00

Apply suggestions from code review
  core/src/ldml/ldml_transforms.cpp
Owners: @mcdurdin, @rc-swag

fix(core): speedup reorder_sort_key::compare 🙀
  core/src/ldml/ldml_transforms.cpp
Owners: @mcdurdin, @rc-swag

fix(core): fix compiler err in transform load 🙀
  core/src/ldml/ldml_transforms.cpp
Owners: @mcdurdin, @rc-swag

auto: increment master version to 17.0.140
  HISTORY.md
  VERSION.md
Owners: none

feat:(windows) apply suggestions from code review
  windows/src/engine/keyman32-ver/calldll.cpp
  windows/src/engine/kmcomapi/util/utilkeyman.pas
Owners: @rc-swag, @ermshiperete

Update docs/build/linux-ubuntu.md
  docs/build/linux-ubuntu.md
Owners: @mcdurdin, @jahorton

feat(web): base implementation of gesture single-contact-point matching
  common/web/gesture-recognizer/src/engine/headless/gesturePath.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/index.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/index.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/pathMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/contactModel.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/index.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/pathModel.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/test/auto/headless/trackedPath.js
Owners: @jahorton, @mcdurdin

feat(web): unit tests - longpress path modeling
  common/web/gesture-recognizer/.mocharc.json
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedPathSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/pathMatcher.spec.ts
  web/ci.sh
Owners: @jahorton, @mcdurdin

feat(web): instant path-fulfillment unit-tests
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedPathSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/pathMatcher.spec.ts
Owners: @jahorton, @mcdurdin

feat(web): unit tests - for simple tap paths; also adds extra longpress test detail
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedPathSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/pathMatcher.spec.ts
Owners: @jahorton, @mcdurdin

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
