Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete

feat(developer): eliminate source .model_info and .keyboard_info files
  common/web/types/src/kpj/keyman-developer-project.ts
  common/web/types/src/kpj/kpj-file-reader.ts
  common/web/types/src/util/file-types.ts
  common/web/types/test/kpj/test-kpj-file-reader.ts
  developer/src/README.md
  developer/src/inst/kmdev.wxs
  developer/src/inst/node/kmlmi.cmd
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-keyboard-info/test/test-keyboard-info-compiler.ts
  developer/src/kmc-model-info/src/model-info-compiler.ts
  developer/src/kmc-model-info/src/model-info-file.ts
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/build/sil.cmo.bw.model_info
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/sil.cmo.bw.kpj
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/sil.cmo.bw.model_info
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/source/sil.cmo.bw.model.kps
  developer/src/kmc-model-info/test/test-model-info-compiler.ts
  developer/src/kmc/README.md
  developer/src/kmc/build-bundler.js
  developer/src/kmc/package.json
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildModelInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/src/commands/buildClasses/buildActivities.ts
  developer/src/kmc/src/kmlmi.ts
  developer/src/tike/Makefile
  developer/src/tike/kmlmi.cmd
  web/src/test/manual/web/issue2924/source/dmg.dv.test/dmg.dv.test.kpj
  web/src/test/manual/web/issue2924/source/dmg.dv.test/dmg.dv.test.model_info
Owners: @jahorton, @mcdurdin, @darcywong00

feat(developer): support isRTL and license fields in .model_info
  developer/build.sh
  developer/src/common/web/utils/.gitignore
  developer/src/common/web/utils/build.sh
  developer/src/common/web/utils/index.ts
  developer/src/common/web/utils/package.json
  developer/src/common/web/utils/src/validate-mit-license.ts
  developer/src/common/web/utils/test/fixtures/license/LICENSE-changed-clause.md
  developer/src/common/web/utils/test/fixtures/license/LICENSE-missing-copyright.md
  developer/src/common/web/utils/test/fixtures/license/LICENSE-missing-title.md
  developer/src/common/web/utils/test/fixtures/license/LICENSE-too-long.md
  developer/src/common/web/utils/test/fixtures/license/LICENSE-too-short.md
  developer/src/common/web/utils/test/fixtures/license/LICENSE.md
  developer/src/common/web/utils/test/helpers/index.ts
  developer/src/common/web/utils/test/test-license.ts
  developer/src/common/web/utils/test/tsconfig.json
  developer/src/common/web/utils/tsconfig.json
  developer/src/kmc-keyboard-info/package.json
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-keyboard-info/tsconfig.json
  developer/src/kmc-model-info/package.json
  developer/src/kmc-model-info/src/messages.ts
  developer/src/kmc-model-info/src/model-info-compiler.ts
  developer/src/kmc-model-info/src/model-info-file.ts
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/LICENSE.md
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/source/sil.cmo.bw.model.kps
  developer/src/kmc-model-info/test/test-model-info-compiler.ts
  developer/src/kmc-model-info/tsconfig.json
  developer/src/kmc/src/commands/buildClasses/BuildModelInfo.ts
  package.json
  tsconfig.esm.json
Owners: @mcdurdin, @darcywong00

chore(linux): Remove workaround for mips64el
  linux/debian/meson/no-exe-wrapper.ini
  linux/debian/rules
Owners: @ermshiperete, @darcywong00

fix(linux): Fix exception in km-kvk2ldml
  linux/keyman-config/km-kvk2ldml
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.169
  HISTORY.md
  VERSION.md
Owners: none

refactor(web): abstracts the matcher-selector / gestureMatcher interface
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/index.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
Owners: @jahorton, @mcdurdin

fix(web): fixes unit tests post-abstraction
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
  common/web/gesture-recognizer/src/test/resources/simulateMultiSourceInput.ts
Owners: @jahorton, @mcdurdin

feat(web): adds support for pushed alt-configurations during gesture-source lifetime
  common/web/gesture-recognizer/src/engine/configuration/gestureRecognizerConfiguration.ts
  common/web/gesture-recognizer/src/engine/gestureRecognizer.ts
  common/web/gesture-recognizer/src/engine/headless/gestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/inputEngineBase.ts
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  common/web/gesture-recognizer/src/engine/mouseEventEngine.ts
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessInputEngine.ts
Owners: @jahorton, @mcdurdin

fix(web): patches up existing unit-tests
  common/web/gesture-recognizer/src/test/auto/headless/gestureSource.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/pathMatcher.spec.ts
  common/web/gesture-recognizer/src/test/resources/simulateMultiSourceInput.ts
Owners: @jahorton, @mcdurdin

feat(web): adds numerous GestureSource unit tests
  common/web/gesture-recognizer/src/test/auto/headless/gestureSource.spec.ts
Owners: @jahorton, @mcdurdin

chore(developer): npm install and fix import
  developer/src/kmc/src/commands/buildClasses/BuildModelInfo.ts
  package-lock.json
Owners: @mcdurdin, @darcywong00

docs(linux): Explicitly specify emscripten version
  docs/build/linux-ubuntu.md
  linux/Dockerfile
Owners: @mcdurdin, @jahorton, @ermshiperete, @darcywong00

auto: increment master version to 17.0.170
  HISTORY.md
  VERSION.md
Owners: none

chore(linux): Workaround: Don't run Wayland tests
  linux/ibus-keyman/tests/run-tests.sh
Owners: @ermshiperete, @darcywong00

chore(linux): Add `clean` target to `rules`
  linux/debian/rules
  linux/keyman-config/build.sh
  linux/scripts/dist.sh
Owners: @ermshiperete, @darcywong00

chore(linux): Add `clean` target to `rules` 🍒
  linux/debian/changelog
  linux/debian/rules
  linux/keyman-config/Makefile
  linux/keyman-config/version.sh
  linux/scripts/dist.sh
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.171
  HISTORY.md
  VERSION.md
Owners: none

chore(developer): add developer-utils as workspace
  package-lock.json
  package.json
Owners: none

chore(developer): add developer-utils package to publish
  developer/src/kmc/build.sh
Owners: @mcdurdin, @darcywong00

chore(developer): developer-utils as private package
  developer/src/common/web/utils/package.json
  developer/src/kmc-keyboard-info/package.json
  developer/src/kmc-model-info/package.json
  developer/src/kmc/build.sh
  package-lock.json
Owners: @mcdurdin, @darcywong00

chore: workaround npm/cli#3466 when bundling internal deps
  developer/src/kmc/build.sh
  resources/build/build-utils-ci.inc.sh
Owners: @mcdurdin, @darcywong00, @jahorton

chore: workaround npm/cli#3466 when bundling internal deps
  developer/src/kmc/build.sh
  resources/build/build-utils-ci.inc.sh
Owners: @mcdurdin, @darcywong00, @jahorton

feat(developer): add --log-format to kmc
  common/web/types/src/main.ts
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/src/messages/infrastructureMessages.ts
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
  developer/src/kmc/src/util/baseOptions.ts
Owners: @jahorton, @mcdurdin, @darcywong00

feat(developer): use kmc instead of kmlmc in TIKE
  developer/src/common/delphi/lexicalmodels/Keyman.Developer.System.LexicalModelCompile.pas
  developer/src/tike/compile/Keyman.Developer.System.KmcWrapper.pas
  developer/src/tike/main/Keyman.Developer.System.KeymanDeveloperPaths.pas
  developer/src/tike/main/UfrmMessages.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectFile.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
Owners: @mcdurdin, @darcywong00

feat(developer): use kmc to compile packages in TIKE
  developer/src/tike/project/Keyman.Developer.System.Project.kpsProjectFileAction.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.kpsProjectFileUI.pas
Owners: @mcdurdin, @darcywong00

chore(developer): remove duplicate outFile parameter
  developer/src/kmc-analyze/src/util/get-osk-from-kmn-file.ts
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/test/kmw/test-kmw-compiler.ts
  developer/src/kmc-kmn/test/test-compiler.ts
  developer/src/kmc-kmn/test/test-messages.ts
  developer/src/kmc/src/commands/buildClasses/BuildKmnKeyboard.ts
Owners: @mcdurdin, @darcywong00

feat(developer): compile kmn files with kmc in tike
  developer/src/kmc/src/commands/buildClasses/BuildKmnKeyboard.ts
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectFiles.pas
  developer/src/tike/project/Keyman.Developer.System.Project.kmnProjectFileAction.pas
  developer/src/tike/project/Keyman.Developer.System.Project.kpsProjectFileAction.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.kmnProjectFileUI.pas
Owners: @mcdurdin, @darcywong00

auto: increment master version to 17.0.172
  HISTORY.md
  VERSION.md
Owners: none

chore(developer): kmcomp to build with kmcwrapper
  developer/src/kmcomp/kccompileproject.pas
  developer/src/kmcomp/kmcomp.dpr
  developer/src/kmcomp/kmcomp.dproj
Owners: @mcdurdin, @darcywong00

chore(developer): add kmcwrapper to unit tests
  developer/src/test/auto/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dpr
  developer/src/test/auto/keyboard-package-versions/KeyboardPackageVersionsTestSuite.dproj
Owners: @mcdurdin, @darcywong00

chore(developer): update tests for new compiler
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
  developer/src/test/auto/kmcomp/test.bat
  developer/src/test/auto/kmcomp/test_194_filename_case.kmn
  developer/src/test/auto/kmcomp/test_194_filename_case.out.txt
  developer/src/test/auto/kmcomp/test_valid.kps
Owners: @mcdurdin, @darcywong00

fix(linux): Prevent exception if neither USER, LOGNAME nor SUDO_USER set
  linux/keyman-config/keyman_config/ibus_util.py
Owners: @ermshiperete, @darcywong00

fix(developer): only include mobile touch platform in basic project
  developer/src/tike/xml/layoutbuilder/template-basic.keyman-touch-layout
Owners: @mcdurdin, @darcywong00

chore(web): Add other non-printing characters from OSK font
  web/src/engine/osk/src/specialCharacters.ts
Owners: @jahorton, @mcdurdin

chore(web): Update test keyboard for non-printing space characters
  web/src/test/manual/web/issue9469/test9469/HISTORY.md
  web/src/test/manual/web/issue9469/test9469/build/test9469.js
  web/src/test/manual/web/issue9469/test9469/source/test9469.keyman-touch-layout
  web/src/test/manual/web/issue9469/test9469/source/test9469.kmn
  web/src/test/manual/web/issue9469/test9469/test9469.kpj
Owners: @jahorton, @mcdurdin

chore(android): Update test harness keyboard
  android/Tests/KeyboardHarness/app/src/main/assets/test9469.kmp
Owners: @darcywong00, @sgschantz

chore(linux): Log if user not set
  linux/keyman-config/keyman_config/ibus_util.py
Owners: @ermshiperete, @darcywong00

fix(linux): Prevent exception if neither USER, LOGNAME nor SUDO_USER set
  linux/keyman-config/keyman_config/ibus_util.py
Owners: @ermshiperete, @darcywong00

chore(common): Add crowdin strings for Mon
  android/KMAPro/kMAPro/src/main/res/values-mnw-rMM/strings.xml
  android/KMEA/app/src/main/res/values-mnw-rMM/strings.xml
  ios/engine/KMEI/KeymanEngine/Classes/mnw.lproj/ResourceInfoView.strings
  ios/engine/KMEI/KeymanEngine/mnw.lproj/Localizable.strings
  ios/engine/KMEI/KeymanEngine/mnw.lproj/Localizable.stringsdict
  ios/keyman/Keyman/Keyman/mnw.lproj/Localizable.strings
  linux/keyman-config/locale/mnw_MM.po
  mac/Keyman4MacIM/Keyman4MacIM/KMAboutWindow/mnw.lproj/KMAboutWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/mnw.lproj/preferences.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMInfoWindow/mnw.lproj/KMInfoWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/KMKeyboardHelpWindow/mnw.lproj/KMKeyboardHelpWindowController.strings
  mac/Keyman4MacIM/Keyman4MacIM/mnw.lproj/Localizable.strings
  mac/Keyman4MacIM/Keyman4MacIM/mnw.lproj/MainMenu.strings
  windows/src/desktop/kmshell/locale/mnw-MM/strings.xml
  windows/src/desktop/setup/locale/mnw-MM/strings.xml
Owners: @darcywong00, @sgschantz, @jahorton, @ermshiperete, @SabineSIL, @rc-swag

chore(android): Add Mon to the list of languages
  android/KMEA/app/src/main/java/com/keyman/engine/DisplayLanguages.java
Owners: @darcywong00, @sgschantz
