Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

chore(linux): Use workflow_dispatch instead of repository_dispatch
  .github/workflows/deb-packaging.yml
  resources/build/trigger-builds.inc.sh
Owners: @mcdurdin, @jahorton

chore(linux): Add Core API version number
  core/CORE_API_VERSION.md
  core/meson.build
Owners: @mcdurdin, @rc-swag

chore(linux): Refactor deb-packaging.sh script
  linux/scripts/deb-packaging.sh
Owners: @ermshiperete, @darcywong00

chore(linux): Enhance GHA API check
  .github/workflows/deb-packaging.yml
  docs/linux/ibus-keyman.md
  linux/scripts/deb-packaging.sh
  resources/build/trigger-builds.inc.sh
Owners: @mcdurdin, @jahorton, @ermshiperete, @darcywong00

feat(linux): mcompile fill rgKey 186-192, 219, 222
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mc_import_rules.cpp
Owners: @ermshiperete, @darcywong00

chore(developer): ldml update to prefinal v44 🙀
  core/tests/unit/ldml/keyboards/k_006_backspace.xml
  core/tests/unit/ldml/keyboards/k_020_fr.xml
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/src/compiler/touch-layout-compiler.ts
  developer/src/kmc-ldml/src/util/util.ts
  developer/src/kmc-ldml/test/fixtures/basic-no-debug.js
  developer/src/kmc-ldml/test/fixtures/basic.txt
  developer/src/kmc-ldml/test/fixtures/basic.xml
  developer/src/kmc-ldml/test/test-keymanweb-compiler.ts
  developer/src/kmc-ldml/test/test-keys.ts
  developer/src/kmc-ldml/test/test-utils.ts
Owners: @mcdurdin, @rc-swag, @darcywong00

auto: increment master version to 17.0.200
  HISTORY.md
  VERSION.md
Owners: none

chore(developer): ldml update to prefinal v44 🙀
  common/web/types/src/kmx/kmx-plus-builder/build-keys.ts
  common/web/types/src/kmx/kmx-plus.ts
  core/tests/unit/ldml/keyboards/k_020_fr.xml
  developer/src/kmc-ldml/src/compiler/keys.ts
  resources/standards-data/ldml-keyboards/techpreview/3.0/pt-t-k0-abnt2.xml
Owners: @jahorton, @mcdurdin, @rc-swag, @darcywong00

chore(core): ldml update to prefinal v44 🙀
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
Owners: @mcdurdin, @rc-swag

fix(developer): ldml only hint on normalization=disabled 🙀
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/src/compiler/meta.ts
  developer/src/kmc-ldml/test/fixtures/sections/meta/hint-normalization.xml
  developer/src/kmc-ldml/test/test-meta.ts
Owners: @mcdurdin, @darcywong00

fix(developer): ldml improve key compiler 🙀
  developer/src/kmc-ldml/src/compiler/keys.ts
Owners: @mcdurdin, @darcywong00

feat(web): implementation of modipress, compatibility with multitap
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/pathMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/contactModel.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/osk/src/input/gestures/browser/modipress.ts
  web/src/engine/osk/src/input/gestures/browser/multitap.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
  web/src/engine/osk/src/views/oskView.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

fix(web): unneeded source-completion check
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
Owners: @jahorton, @mcdurdin

fix(web): cleanup for cleanup code
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  web/src/engine/osk/src/input/gestures/browser/modipress.ts
  web/src/engine/osk/src/input/gestures/browser/multitap.ts
Owners: @jahorton, @mcdurdin

fix(web): swift longpress's early modipress cancellation
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
Owners: @jahorton, @mcdurdin

fix(web): modipressing of a multitap subkey
  web/src/engine/osk/src/input/gestures/browser/multitap.ts
Owners: @jahorton, @mcdurdin

feat(web): modipress detection heuristic
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
Owners: @jahorton, @mcdurdin

fix(web): niche-case handling - subkey from released modipress
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

fix(linux): Fix uninstallation of shared keyboard
  linux/keyman-config/keyman_config/gsettings.py
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.201
  HISTORY.md
  VERSION.md
Owners: none

feat(linux): mcompile fill rgKey 220 (221)
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mc_import_rules.cpp
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.202
  HISTORY.md
  VERSION.md
Owners: none

chore(common): unify pull-request creation scripts
  resources/build/ci/pull-requests.inc.sh
  resources/build/ci/test/test-pull-requests.sh
  resources/build/help-keyman-com.sh
  resources/builder.inc.sh
  web/ci.sh
  web/src/tools/testing/s_keyman_com.sh
Owners: @mcdurdin, @jahorton

chore(web): remove legacy s_keyman_com.sh
  web/src/tools/testing/s_keyman_com.sh
Owners: @jahorton, @mcdurdin

chore(common): unify pull-request creation scripts
  resources/build/ci/pull-requests.inc.sh
  resources/build/ci/test/test-pull-requests.sh
  resources/build/help-keyman-com.sh
  web/ci.sh
  web/tools/s_keyman_com.sh
Owners: @mcdurdin, @jahorton

chore(common): use 16.0 builder patterns
  resources/build/ci/pull-requests.inc.sh
  resources/build/ci/test/test-pull-requests.sh
Owners: @mcdurdin, @jahorton

chore(web): a bit of polish, re-enables a check
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
Owners: @jahorton, @mcdurdin

fix(developer): Revise check on special characters
  developer/src/kmc-kmn/src/kmw-compiler/constants.ts
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
Owners: @mcdurdin, @darcywong00

chore(developer): Cleanup unused ZWNJ
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
Owners: @mcdurdin, @darcywong00

proper unicode conversion when getting context stringthat containing SMP text; also other clean up in response to review comments
  mac/Keyman4MacIM/Keyman4MacIM/KMCoreActionHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KeySender.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreHelper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/CoreWrapperTests.m
Owners: @sgschantz, @SabineSIL

chore(web): squashes warning when attempting to correct modipresses
  web/src/engine/osk/src/input/gestures/browser/multitap.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
Owners: @jahorton, @mcdurdin

feat(web): flick implementation baseline
  web/src/engine/osk/src/input/gestures/browser/flick.ts
  web/src/engine/osk/src/input/gestures/browser/modipress.ts
  web/src/engine/osk/src/input/gestures/browser/multitap.ts
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
  web/src/engine/osk/src/input/gestures/gestureHandler.ts
  web/src/engine/osk/src/input/gestures/heldRepeater.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

docs(web): a few doc-comments
  web/src/engine/osk/src/input/gestures/browser/flick.ts
  web/src/engine/osk/src/input/gestures/browser/modipress.ts
Owners: @jahorton, @mcdurdin

fix(web): fixes doc-kbd display of default layer when it's not defined first
  web/src/engine/osk/src/keyboard-layout/oskLayerGroup.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

fix(web): fixes doc-kbd display of default layer when it's not defined first
  web/source/osk/oskLayerGroup.ts
  web/source/osk/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

feat(web): better flick, subkey roaming
  web/src/engine/osk/src/input/gestures/browser/flick.ts
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

change(web): flick param tweak, note
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
Owners: @jahorton, @mcdurdin

fix(web): better cleanup of cancelled gestures
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
Owners: @jahorton, @mcdurdin

fix(web): proper touch-start robustness handling
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
Owners: @jahorton, @mcdurdin

fix(web): gesture-engine null-ref check for doc keyboards
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
