Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

auto: increment master version to 17.0.132
  HISTORY.md
  VERSION.md
Owners: none

fix(developer): key type checks were invalid
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
Owners: @mcdurdin, @darcywong00

fix(developer): content files can have mixed case in packages
  developer/src/kmc-package/src/compiler/package-validation.ts
Owners: @mcdurdin, @darcywong00

fix(developer): handle missing font spec in touch layout file
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
Owners: @mcdurdin, @darcywong00

fix(developer): TypeError: String.prototype.replaceAll called with a non-global RegExp argument
  developer/src/kmc-kmn/src/kmw-compiler/kmw-compiler.ts
Owners: @mcdurdin, @darcywong00

fix(developer): resetopt and saveopt used uninitialized return variable
  developer/src/kmc-kmn/src/kmw-compiler/util.ts
Owners: @mcdurdin, @darcywong00

fix(developer): key id and text are optional
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
Owners: @mcdurdin, @darcywong00

fix(developer): rewrite version object for followKeyboardVersion
  developer/src/kmc-package/src/compiler/package-version-validation.ts
Owners: @mcdurdin, @darcywong00

fix(developer): ensure errors cancel the build in kmc
  developer/src/kmc/src/commands/build.ts
Owners: @mcdurdin, @darcywong00

fix(developer): handle empty File Details in package reader
  common/web/types/src/kpj/kpj-file-reader.ts
Owners: @jahorton, @mcdurdin

chore(web): top-level tsconfig bookkeeping
  tsconfig.cjs.json
  tsconfig.esm.json
Owners: none

change(web): deserialization constructors changed to static class methods
  common/web/gesture-recognizer/src/engine/headless/trackedPath.ts
  common/web/gesture-recognizer/src/engine/trackedPoint.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputSequenceSimulator.ts
Owners: @jahorton, @mcdurdin

feat(web): tracking of TrackedPoint initial and current 'hovered item'
  common/web/gesture-recognizer/src/engine/configuration/gestureRecognizerConfiguration.ts
  common/web/gesture-recognizer/src/engine/configuration/zoneBoundaryChecker.ts
  common/web/gesture-recognizer/src/engine/gestureRecognizer.ts
  common/web/gesture-recognizer/src/engine/headless/trackedPoint.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  common/web/gesture-recognizer/src/engine/mouseEventEngine.ts
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
  common/web/gesture-recognizer/src/engine/trackedInput.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/hostFixtureLayoutController.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/sequenceRecorder.ts
Owners: @jahorton, @mcdurdin

feat(web): right, currentHoveredItem
  common/web/gesture-recognizer/src/engine/headless/trackedPoint.ts
Owners: @jahorton, @mcdurdin

fix(linux): Fix GHA package builds for non-Jammy dists
  .github/workflows/deb-packaging.yml
Owners: none

docs(web): notes a test component that's subsegmentation-only
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessRecordingSimulator.ts
Owners: @jahorton, @mcdurdin

change(web): moves tagged HoveredItem onto InputSample
  common/web/gesture-recognizer/src/engine/configuration/gestureRecognizerConfiguration.ts
  common/web/gesture-recognizer/src/engine/configuration/zoneBoundaryChecker.ts
  common/web/gesture-recognizer/src/engine/headless/cumulativePathStats.ts
  common/web/gesture-recognizer/src/engine/headless/inputSample.ts
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/pathSegmenter.ts
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/segment.ts
  common/web/gesture-recognizer/src/engine/headless/trackedPath.ts
  common/web/gesture-recognizer/src/engine/headless/trackedPoint.ts
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  common/web/gesture-recognizer/src/engine/mouseEventEngine.ts
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessRecordingSimulator.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputSequenceSimulator.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/touchpathTurtle.ts
Owners: @jahorton, @mcdurdin

chore(web): build.sh configure fix
  common/web/gesture-recognizer/build.sh
Owners: @jahorton, @mcdurdin

chore(web): now always samples end of touchpath sequence, even if was stationary
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  common/web/gesture-recognizer/src/test/resources/json/segmentation/flick_ne_se.json
  common/web/gesture-recognizer/src/test/resources/json/segmentation/nonstationary_hold.json
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessRecordingSimulator.ts
Owners: @jahorton, @mcdurdin

refactor(web): fully headless TrackedInput, top-level class equivalent
  common/web/gesture-recognizer/src/engine/gestureRecognizer.ts
  common/web/gesture-recognizer/src/engine/headless/inputEngineBase.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/engine/headless/trackedInput.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  common/web/gesture-recognizer/src/engine/mouseEventEngine.ts
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
Owners: @jahorton, @mcdurdin

feat(web): headless test-sequence playback now InputEngine based
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/test/auto/headless/recordedSegmentations.js
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessInputEngine.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessRecordingSimulator.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/index.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputSequenceSimulator.ts
Owners: @jahorton, @mcdurdin

chore(web): drops mocked-subsegmentation / segment-construction unit tests
  common/web/gesture-recognizer/src/test/auto/headless/segmentConstruction.js
Owners: @jahorton, @mcdurdin

chore(web): simplifies TouchpathTurtle, adds sample-path tracking
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessInputEngine.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/touchpathTurtle.ts
Owners: @jahorton, @mcdurdin

feat(web): touchpath turtle now supports 'hovered item' emulation
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/touchpathTurtle.ts
Owners: @jahorton, @mcdurdin

fix(developer): ensure `delete` uses array semantics where appropriate
  developer/src/kmcmplib/src/CasedKeys.cpp
  developer/src/kmcmplib/src/CompileKeyboardBuffer.cpp
  developer/src/kmcmplib/src/Compiler.cpp
  developer/src/kmcmplib/src/NamedCodeConstants.cpp
Owners: @mcdurdin, @darcywong00

fix(developer): GetDelimitedString was using wrong strchr
  developer/src/kmcmplib/src/Compiler.cpp
  developer/src/kmcmplib/src/xstring.cpp
  developer/src/kmcmplib/src/xstring.h
Owners: @mcdurdin, @darcywong00

fix(common): specify alignment for COMP_ structs
  common/include/kmx_file.h
Owners: @mcdurdin, @rc-swag

fix(developer): kmcmplib was clobbering previous output
  developer/src/kmc-kmn/src/compiler/compiler.ts
Owners: @mcdurdin, @darcywong00

fix(common): give friendly error when .kvks is in binary format
  common/web/types/src/kvk/kvks-file-reader.ts
  common/web/types/test/kvk/test-kvks-file.ts
Owners: @jahorton, @mcdurdin

fix(developer): kmc needs to support .js-only packages
  developer/src/kmc-package/package.json
  developer/src/kmc-package/src/compiler/package-version-validation.ts
  developer/src/kmc-package/src/compiler/web-keyboard-metadata.ts
  developer/src/kmc-package/test/fixtures/invalid/keyboardcontentfilenotfound.kps
  developer/src/kmc-package/test/fixtures/khmer_angkor-debug-build.js
  developer/src/kmc-package/test/test-web-keyboard-metadata.ts
Owners: @mcdurdin, @darcywong00

fix(web): previously-missed post-rebase corrections
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  common/web/gesture-recognizer/src/engine/mouseEventEngine.ts
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
Owners: @jahorton, @mcdurdin

chore(mac): Update requirements.md
  mac/help/about/requirements.md
Owners: @sgschantz, @SabineSIL

chore(ios): addresses some PR review concerns
  ios/build.sh
  ios/ci.sh
  ios/engine/build.sh
Owners: @sgschantz, @jahorton

chore(ios): skipped one in a file I meant to complete
  ios/engine/build.sh
Owners: @sgschantz, @jahorton

fix(ios): should not double-absolute a path
  ios/engine/build.sh
Owners: @sgschantz, @jahorton

fix(ios): should not double-absolute a path (again)
  ios/engine/build.sh
Owners: @sgschantz, @jahorton

chore(ios): a bit of suggested trim
  ios/engine/build.sh
Owners: @sgschantz, @jahorton

feat(common): add segmenter for element strings 🙀
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
Owners: @jahorton, @mcdurdin

fix(linux): Fix packaging GHA
  .github/workflows/deb-packaging.yml
Owners: none

auto: increment master version to 17.0.133
  HISTORY.md
  VERSION.md
Owners: none

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
