Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

chore(resources): ldml update 🙀
  core/tests/unit/ldml/keyboards/meson.build
Owners: @mcdurdin, @rc-swag

fix(common): marker test 🙀
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
Owners: @jahorton, @mcdurdin

chore(developer): seed epic branch
  developer/src/README.md
Owners: @mcdurdin, @darcywong00

test(web): Add test page for keymanweb-osk.ttf
  web/src/test/manual/web/index.html
  web/src/test/manual/web/issue9469/index.html
  web/src/test/manual/web/issue9469/test9469/HISTORY.md
  web/src/test/manual/web/issue9469/test9469/LICENSE.md
  web/src/test/manual/web/issue9469/test9469/README.md
  web/src/test/manual/web/issue9469/test9469/source/readme.htm
  web/src/test/manual/web/issue9469/test9469/source/test9469.ico
  web/src/test/manual/web/issue9469/test9469/source/test9469.keyman-touch-layout
  web/src/test/manual/web/issue9469/test9469/source/test9469.kmn
  web/src/test/manual/web/issue9469/test9469/source/test9469.kps
  web/src/test/manual/web/issue9469/test9469/source/test9469.kvks
  web/src/test/manual/web/issue9469/test9469/source/welcome.htm
  web/src/test/manual/web/issue9469/test9469/test9469.keyboard_info
  web/src/test/manual/web/issue9469/test9469/test9469.kpj
Owners: @jahorton, @mcdurdin

test(web): Add special characters to shift layer
  android/Tests/KeyboardHarness/app/src/main/assets/test9469.kmp
  android/Tests/KeyboardHarness/app/src/main/java/com/keyman/android/tests/keyboardHarness/MainActivity.java
  web/src/test/manual/web/issue9469/test9469/source/test9469.keyman-touch-layout
Owners: @darcywong00, @sgschantz, @jahorton, @mcdurdin

fix(common): builder_parse broke on option parameters
  resources/builder.inc.sh
Owners: @mcdurdin, @jahorton

test(web): Add test keyboard file
  web/src/test/manual/web/issue9469/test9469/build/test9469.js
Owners: @jahorton, @mcdurdin

chore(developer): handle legacy folder specially for .keyboard_info
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
Owners: @mcdurdin, @darcywong00

feat(linux): mcompile start importRules
  linux/.gitignore
  linux/mcompile/keymap/mc_import_rules.cpp
  linux/mcompile/keymap/mcompile.h
  linux/mcompile/keymap/meson.build
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile helper functions(write load/compare Vector of keys)
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.163
  HISTORY.md
  VERSION.md
Owners: none

feat(core): ldml: support <display id=...> in the 'disp' section 🙀
  common/web/types/src/kmx/kmx-plus-builder/build-disp.ts
  common/web/types/src/kmx/kmx-plus.ts
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml.ts
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/src/kmx/kmx_plus.h
  core/src/ldml/C7043_ldml.md
  developer/src/kmc-ldml/src/compiler/disp.ts
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/test/fixtures/basic.txt
  developer/src/kmc-ldml/test/fixtures/basic.xml
  developer/src/kmc-ldml/test/fixtures/sections/disp/invalid-both.xml
  developer/src/kmc-ldml/test/fixtures/sections/disp/invalid-dupid.xml
  developer/src/kmc-ldml/test/fixtures/sections/disp/invalid-none.xml
  developer/src/kmc-ldml/test/test-disp.ts
Owners: @jahorton, @mcdurdin, @rc-swag, @darcywong00

fix(common): don't crash on illegal unicodesets 🙀
  common/web/types/src/kmx/kmx-plus.ts
Owners: @jahorton, @mcdurdin

chore(android): Update targetSDKVersion to 33
  android/KMAPro/kMAPro/build.gradle
  android/KMEA/app/build.gradle
  android/KMEA/app/src/main/AndroidManifest.xml
  android/README.md
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample2/app/build.gradle
  android/Tests/KeyboardHarness/app/build.gradle
  oem/firstvoices/android/app/build.gradle
Owners: @darcywong00, @sgschantz

feat(web): browser-KMW support for default subkeys
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/keyboard-processor/src/keyboards/defaultLayouts.ts
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
  web/src/engine/osk/src/keyboard-layout/oskKey.ts
  web/src/test/manual/web/default-subkey/default_subkey.js
  web/src/test/manual/web/default-subkey/index.html
  web/src/test/manual/web/default-subkey/kbd_source/HISTORY.md
  web/src/test/manual/web/default-subkey/kbd_source/LICENSE.md
  web/src/test/manual/web/default-subkey/kbd_source/README.md
  web/src/test/manual/web/default-subkey/kbd_source/default_subkey.keyboard_info
  web/src/test/manual/web/default-subkey/kbd_source/default_subkey.kpj
  web/src/test/manual/web/default-subkey/kbd_source/source/default_subkey.ico
  web/src/test/manual/web/default-subkey/kbd_source/source/default_subkey.keyman-touch-layout
  web/src/test/manual/web/default-subkey/kbd_source/source/default_subkey.kmn
  web/src/test/manual/web/default-subkey/kbd_source/source/default_subkey.kps
  web/src/test/manual/web/default-subkey/kbd_source/source/default_subkey.kvks
  web/src/test/manual/web/default-subkey/kbd_source/source/readme.htm
  web/src/test/manual/web/default-subkey/kbd_source/source/welcome.htm
  web/src/test/manual/web/index.html
Owners: @jahorton, @mcdurdin

docs(android): markers for sites to add default subkey handling code
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
Owners: @darcywong00, @sgschantz

fix(web): stuck base-key highlighting upon default selection
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
  web/src/test/manual/web/default-subkey/default_subkey.js
  web/src/test/manual/web/default-subkey/kbd_source/source/default_subkey.keyman-touch-layout
Owners: @jahorton, @mcdurdin

fix(web): test resource package compilation
  web/src/test/manual/web/default-subkey/kbd_source/source/default_subkey.kps
Owners: @jahorton, @mcdurdin

feat(web): allows small fudge-factor before cancelling default
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
Owners: @jahorton, @mcdurdin

chore(web): addresses concerns from code review
  common/web/gesture-recognizer/src/engine/headless/queuedPromisePrioritizer.ts
Owners: @jahorton, @mcdurdin

Update developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/src/compiler/messages.ts
Owners: @mcdurdin, @darcywong00

auto: increment master version to 17.0.164
  HISTORY.md
  VERSION.md
Owners: none

pass caps lock value to Keyman Core when processing keys
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreHelper.m
Owners: @sgschantz, @SabineSIL

auto: increment master version to 17.0.165
  HISTORY.md
  VERSION.md
Owners: none

feat(core): regex set mapping support 🙀
  core/src/ldml/ldml_transforms.cpp
  core/tests/unit/ldml/keyboards/k_007_transform_rgx-test.xml
  core/tests/unit/ldml/keyboards/k_007_transform_rgx.xml
Owners: @mcdurdin, @rc-swag

auto: increment master version to 17.0.166
  HISTORY.md
  VERSION.md
Owners: none

feat(core): regex set mapping support 🙀
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
Owners: @mcdurdin, @rc-swag

feat(core): regex set mapping support 🙀
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/tests/unit/ldml/keyboards/k_007_transform_rgx.xml
  core/tests/unit/ldml/test_transforms.cpp
Owners: @mcdurdin, @rc-swag

feat(core): regex set mapping support 🙀
  core/src/ldml/ldml_transforms.hpp
Owners: @mcdurdin, @rc-swag

chore(common): Update crowdin strings for French
  android/KMAPro/kMAPro/src/main/res/values-fr-rFR/strings.xml
  android/KMEA/app/src/main/res/values-fr-rFR/strings.xml
  ios/engine/KMEI/KeymanEngine/fr.lproj/Localizable.strings
  linux/keyman-config/locale/fr_FR.po
  mac/Keyman4MacIM/Keyman4MacIM/fr.lproj/Localizable.strings
  windows/src/desktop/kmshell/locale/fr/strings.xml
  windows/src/desktop/setup/locale/fr/strings.xml
Owners: @darcywong00, @sgschantz, @jahorton, @ermshiperete, @SabineSIL, @rc-swag

add back EventTap function to support left and right modifier keys, do not set NoCaps flag in calls to Core when Caps Lock is off
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreHelper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/CoreHelperTests.m
Owners: @sgschantz, @SabineSIL

auto: increment master version to 17.0.167
  HISTORY.md
  VERSION.md
Owners: none

fix(core): regex set mapping support 🙀
  core/src/kmx/kmx_plus.h
  core/src/ldml/ldml_transforms.cpp
Owners: @mcdurdin, @rc-swag

feat(resources): add pcm keyboard 🙀
  core/tests/unit/ldml/keyboards/meson.build
  resources/standards-data/ldml-keyboards/techpreview/3.0/pcm.xml
  resources/standards-data/ldml-keyboards/techpreview/test/pcm-test.xml
Owners: @mcdurdin, @rc-swag, @jahorton

feat(core): support \u{…} escapes in test data 🙀
  core/tests/unit/ldml/ldml_test_source.cpp
Owners: @mcdurdin, @rc-swag

feat(resources): add pcm keyboard 🙀
  resources/standards-data/ldml-keyboards/techpreview/3.0/pcm.xml
  resources/standards-data/ldml-keyboards/techpreview/test/pcm-test.xml
Owners: @mcdurdin, @jahorton

feat(resources): update ldml azerty keyboard 🙀
  core/tests/unit/ldml/keyboards/meson.build
  resources/standards-data/ldml-keyboards/techpreview/3.0/fr-t-k0-optimise.xml
  resources/standards-data/ldml-keyboards/techpreview/3.0/fr-t-k0-test.xml
  resources/standards-data/ldml-keyboards/techpreview/test/fr-t-k0-optimise-test.xml
  resources/standards-data/ldml-keyboards/techpreview/test/fr-t-k0-test-test.xml
Owners: @mcdurdin, @rc-swag, @jahorton

chore(windows): icu lib files for version dlls merge
  windows/src/engine/keyman32-ver/keyman32-ver.vcxproj
  windows/src/engine/keyman32/keyman32.vcxproj
  windows/src/engine/keyman64-ver/keyman64-ver.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj
Owners: @rc-swag, @ermshiperete

auto: increment master version to 17.0.168
  HISTORY.md
  VERSION.md
Owners: none

refactor(linux): Fix warning
  linux/keyman-config/keyman_config/dconf_util.py
Owners: @ermshiperete, @darcywong00

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
