Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

chore(common,developer): ldml update to prefinal v44 🙀
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml.ts
  developer/src/kmc-ldml/src/compiler/disp.ts
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/test/fixtures/basic.xml
  developer/src/kmc-ldml/test/test-disp.ts
Owners: @jahorton, @mcdurdin, @darcywong00

feat(core): make persist_options always point to a valid array
  core/include/keyman/keyman_core_api.h
  core/src/action.cpp
  core/tests/unit/kmnkbd/action_api.cpp
Owners: @mcdurdin, @rc-swag

fix(web): key outputs not matching keycaps
  web/src/test/manual/web/keyboards/gesture_prototyping/build/gesture_prototyping.js
  web/src/test/manual/web/keyboards/gesture_prototyping/source/gesture_prototyping.keyman-touch-layout
  web/src/test/manual/web/keyboards/ye_old_ten_key/build/ye_old_ten_key.js
  web/src/test/manual/web/keyboards/ye_old_ten_key/source/ye_old_ten_key.keyman-touch-layout
Owners: @jahorton, @mcdurdin

fix(web): casedkeys use for caps layer
  web/src/test/manual/web/keyboards/gesture_prototyping/build/gesture_prototyping.js
  web/src/test/manual/web/keyboards/gesture_prototyping/source/gesture_prototyping.kmn
Owners: @jahorton, @mcdurdin

feat(web): new test keyboard - diacrtiic 10-key rota
  web/src/test/manual/web/commonHeader.js
  web/src/test/manual/web/keyboards/.gitignore
  web/src/test/manual/web/keyboards/diacritic_rota/HISTORY.md
  web/src/test/manual/web/keyboards/diacritic_rota/LICENSE.md
  web/src/test/manual/web/keyboards/diacritic_rota/README.md
  web/src/test/manual/web/keyboards/diacritic_rota/build/diacritic_rota.js
  web/src/test/manual/web/keyboards/diacritic_rota/diacritic_rota.keyboard_info
  web/src/test/manual/web/keyboards/diacritic_rota/diacritic_rota.kpj
  web/src/test/manual/web/keyboards/diacritic_rota/source/diacritic_rota.ico
  web/src/test/manual/web/keyboards/diacritic_rota/source/diacritic_rota.keyman-touch-layout
  web/src/test/manual/web/keyboards/diacritic_rota/source/diacritic_rota.kmn
  web/src/test/manual/web/keyboards/diacritic_rota/source/diacritic_rota.kps
  web/src/test/manual/web/keyboards/diacritic_rota/source/diacritic_rota.kvks
  web/src/test/manual/web/keyboards/diacritic_rota/source/readme.htm
  web/src/test/manual/web/keyboards/diacritic_rota/source/welcome.htm
Owners: @jahorton, @mcdurdin

chore(developer): verify kmp.json output from kmc-package
  common/web/types/build.sh
  common/web/types/src/schema-validators.ts
  common/web/types/src/schemas.ts
  common/web/types/tools/schema-bundler.js
  developer/src/inst/download.in.mak
  developer/src/inst/kmdev.wxs
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
Owners: @jahorton, @mcdurdin, @darcywong00

feat(web): oh yeah, diacritic-rota hints would help
  web/src/test/manual/web/keyboards/diacritic_rota/build/diacritic_rota.js
  web/src/test/manual/web/keyboards/diacritic_rota/source/diacritic_rota.keyman-touch-layout
Owners: @jahorton, @mcdurdin

feat(web): diacritic hints for gesture_prototyping, too
  web/src/test/manual/web/keyboards/gesture_prototyping/build/gesture_prototyping.js
  web/src/test/manual/web/keyboards/gesture_prototyping/source/gesture_prototyping.keyman-touch-layout
Owners: @jahorton, @mcdurdin

chore(developer): Add non-printing characters
  developer/src/tike/xml/layoutbuilder/constants.js
Owners: @mcdurdin, @darcywong00

chore(developer): Add handling for new characters
  developer/src/kmc-kmn/src/kmw-compiler/compiler-globals.ts
  developer/src/kmc-kmn/src/kmw-compiler/constants.ts
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
Owners: @mcdurdin, @darcywong00

chore(developer): add ERROR_FileDoesNotExist test
  developer/src/kmc/test/test-infrastructureMessages.ts
Owners: @mcdurdin, @darcywong00

chore(developer): add ERROR_FileTypeNotRecognized test
  developer/src/kmc/test/fixtures/invalid-keyboards/error_file_type_not_recognized.xxx
  developer/src/kmc/test/test-infrastructureMessages.ts
Owners: @mcdurdin, @darcywong00

chore(developer): ldml update to prefinal v44 🙀
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml.ts
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/layr.ts
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/src/compiler/visual-keyboard-compiler.ts
  developer/src/kmc-ldml/test/test-keys.ts
  developer/src/kmc-ldml/test/test-layr.ts
Owners: @jahorton, @mcdurdin, @darcywong00

auto: increment master version to 17.0.199
  HISTORY.md
  VERSION.md
Owners: none

chore(developer): ldml update to prefinal v44 🙀
  core/include/ldml/keyman_core_ldml.h
  core/include/ldml/keyman_core_ldml.ts
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/touch-layout-compiler.ts
  developer/src/kmc-ldml/test/fixtures/basic.js
  developer/src/kmc-ldml/test/fixtures/basic.xml
  developer/src/kmc-ldml/test/fixtures/sections/disp/invalid-both.xml
  developer/src/kmc-ldml/test/fixtures/sections/keys/escaped.xml
  developer/src/kmc-ldml/test/fixtures/sections/keys/invalid-missing-flick.xml
  developer/src/kmc-ldml/test/fixtures/sections/keys/markers.xml
  developer/src/kmc-ldml/test/fixtures/sections/keys/maximal.xml
  developer/src/kmc-ldml/test/test-disp.ts
Owners: @mcdurdin, @rc-swag, @darcywong00

fix(developer): Add check for CSpecialText17
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
Owners: @mcdurdin, @darcywong00

chore(android/engine): Move banner names
  android/KMEA/app/src/main/res/drawable-land-mdpi/banner.png
  android/KMEA/app/src/main/res/drawable/banner.png
Owners: @darcywong00, @sgschantz

feat(oem/fv/android): Add banner theme
  oem/firstvoices/android/app/src/main/java/com/firstvoices/keyboards/SystemKeyboard.java
Owners: @darcywong00, @sgschantz

chore(developer): handle failures to build kmp.json in kmc-package
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
Owners: @mcdurdin, @darcywong00

fix(web): first-pass pred text fix for multitaps
  common/web/lm-worker/src/main/correction/context-tracker.ts
  common/web/lm-worker/src/test/cases/edit-distance/context-tracker.js
  common/web/lm-worker/src/test/cases/worker-model-compositor.js
  web/src/test/manual/web/prediction-mtnt/index.html
Owners: @jahorton, @mcdurdin

fix(web): second pass - search space cloning for calc reuse
  common/models/templates/src/priority-queue.ts
  common/web/lm-worker/src/main/correction/context-tracker.ts
  common/web/lm-worker/src/main/correction/distance-modeler.ts
Owners: @jahorton, @mcdurdin

feat(android/samples): Add sample code for theme on KMSample2
  android/Samples/KMSample2/app/src/main/java/com/keyman/kmsample2/SystemKeyboard.java
Owners: @darcywong00, @sgschantz

feat(web): retrieval of base transcription for multitaps
  common/web/input-processor/src/text/inputProcessor.ts
  common/web/keyboard-processor/src/text/keyEvent.ts
  web/src/engine/events/build.sh
  web/src/engine/events/src/index.ts
  web/src/engine/events/src/keyEventSource.interface.ts
  web/src/engine/events/tsconfig.json
  web/src/engine/main/src/hardKeyboard.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/osk/src/input/gestures/browser/multitap.ts
  web/src/engine/osk/src/views/oskView.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

feat(web): generalized multitap, prep for modipress vs multitap resolution
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/keyboard-processor/src/keyboards/defaultLayouts.ts
  common/web/keyboard-processor/src/keyboards/keyboard.ts
  web/src/engine/osk/src/input/gestures/browser/multitap.ts
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
  web/src/engine/osk/src/input/gestures/heldRepeater.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

fix(web): better method name pt 2
  web/src/engine/osk/src/input/gestures/browser/multitap.ts
Owners: @jahorton, @mcdurdin

chore(web): dead/replaced code removal
  web/src/engine/osk/src/input/gestures/browser/pendingMultiTap.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

feat(web): fancier multitap - ends if key held too long
  web/src/engine/osk/src/input/gestures/browser/multitap.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

chore(web): reserves caps-multitap key
  common/web/keyboard-processor/src/keyboards/defaultLayouts.ts
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file.ts
Owners: @jahorton, @mcdurdin

fix(web): deadkey restoration for multitap-rewinds
  common/web/input-processor/src/text/inputProcessor.ts
Owners: @jahorton, @mcdurdin

change settings for core library name change and restore readPeristedOptions function name overwritten in merge
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/project.pbxproj
Owners: @sgschantz, @SabineSIL

feat(web): simple, baseline multitap correction
  web/src/engine/osk/src/input/gestures/browser/multitap.ts
  web/src/engine/osk/src/input/gestures/gestureHandler.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

fix(web): cross-layer multitap corrections
  common/web/gesture-recognizer/src/engine/headless/gestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  web/src/engine/osk/src/input/gestures/browser/multitap.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

fix(web): funky internal race condition from unneeded check
  common/web/gesture-recognizer/src/engine/headless/gestureSource.ts
Owners: @jahorton, @mcdurdin

feat(windows): wip bring over update code without versioned code
  common/windows/delphi/general/RegistryKeys.pas
  windows/src/desktop/kmshell/main/OnlineUpdateCheck.pas
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/desktop/kmshell/util/utilkmshell.pas
  windows/src/engine/inst/download.in
  windows/src/engine/inst/insthelper/Keyman.System.Install.EnginePostInstall.pas
Owners: @mcdurdin, @rc-swag, @ermshiperete

chore(web): minor comment cleanup
  common/web/gesture-recognizer/src/engine/headless/gestureSource.ts
Owners: @jahorton, @mcdurdin

fix(web): dropped a bit too much a couple commits ago
  common/web/gesture-recognizer/src/engine/headless/gestureSource.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestureSource.spec.ts
Owners: @jahorton, @mcdurdin

feat(developer): extract font family from .ttf in kmc-keyboard-info
  developer/src/kmc-keyboard-info/package.json
  developer/src/kmc-keyboard-info/src/font-family.ts
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/build/khmer_angkor.keyboard_info
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/shared/fonts/khmer/busrakbd/khmer_busra_kbd.ttf
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/shared/fonts/khmer/mondulkiri/FONTLOG.txt
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/shared/fonts/khmer/mondulkiri/Mondulkiri-R.ttf
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/shared/fonts/khmer/mondulkiri/OFL-FAQ.txt
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/shared/fonts/khmer/mondulkiri/OFL.txt
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/source/khmer_angkor.kps
  developer/src/kmc-keyboard-info/test/test-keyboard-info-compiler.ts
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
  package-lock.json
Owners: @mcdurdin, @darcywong00

fix(developer): handle displayMap correctly with 'fill from layout'
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/compiler/messages.ts
  developer/src/tike/child/UfrmKeymanWizard.pas
Owners: @mcdurdin, @darcywong00

fix(web): unit-test patchup
  web/src/test/auto/integrated/cases/events.js
Owners: @jahorton, @mcdurdin

use core context instead of locally managed context
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMContext.h
  mac/Keyman4MacIM/Keyman4MacIM/KMContext.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/xcshareddata/xcschemes/KeymanEngine4Mac.xcscheme
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KMEngineTests.m
Owners: @sgschantz, @SabineSIL

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
