Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete

chore(developer): Apply suggestions from code review
  developer/src/kmc-model-info/src/model-info-compiler.ts
  resources/build/build-utils-ci.inc.sh
Owners: @mcdurdin, @darcywong00, @jahorton

chore: Update developer/src/kmc/src/util/baseOptions.ts
  developer/src/kmc/src/util/baseOptions.ts
Owners: @mcdurdin, @darcywong00

chore: make const for date format
  developer/src/kmc/src/util/getLastGitCommitDate.ts
  developer/src/kmc/test/test-getLastGitCommitDate.ts
Owners: @mcdurdin, @darcywong00

chore(linux): Exclude environment.sh from build
  linux/scripts/dist.sh
  resources/build/build-utils.sh
Owners: @ermshiperete, @darcywong00, @mcdurdin, @jahorton

auto: increment master version to 17.0.173
  HISTORY.md
  VERSION.md
Owners: none

chore(common): Update to Unicode 15.1
  resources/standards-data/unicode-character-database/Blocks.txt
  resources/standards-data/unicode-character-database/README.md
  resources/standards-data/unicode-character-database/UnicodeData.txt
  resources/standards-data/unicode-character-database/unicode-copyright.txt
Owners: @mcdurdin, @jahorton

chore(linux): Ignore tests that fail on ba-jammy-64-ta
  linux/ibus-keyman/tests/testfixture.cpp
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.174
  HISTORY.md
  VERSION.md
Owners: none

chore(resources): ldml update (CLDR v44 alpha 2) 🙀
  resources/standards-data/ldml-keyboards/techpreview/3.0/fr-t-k0-azerty.xml
  resources/standards-data/ldml-keyboards/techpreview/cldr_info.json
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard.dtd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard.xsd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboardTest.xsd
  resources/standards-data/ldml-keyboards/techpreview/import/scanCodes-implied.xml
  resources/standards-data/ldml-keyboards/techpreview/ldml-keyboard.schema.json
  resources/standards-data/ldml-keyboards/techpreview/test/fr-t-k0-azerty-test.xml
  resources/standards-data/ldml-keyboards/techpreview/test/ja-Latn-test.xml
  resources/standards-data/ldml-keyboards/techpreview/test/pt-t-k0-abnt2-test.xml
Owners: @mcdurdin, @jahorton

refactor(linux): Reformat file
  linux/ibus-keyman/src/main.c
Owners: @ermshiperete, @darcywong00

chore(linux): Split startup process
  linux/ibus-keyman/src/keymanutil.c
  linux/ibus-keyman/src/main.c
Owners: @ermshiperete, @darcywong00

chore(developer): ldml fix for update 🙀
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/test/test-layr.ts
Owners: @mcdurdin, @darcywong00

fix(developer): ldml drop \u1234 🙀
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/test/test-wasm-uset.ts
Owners: @mcdurdin, @darcywong00

fix(developer): ldml drop \u1234 🙀
  resources/standards-data/ldml-keyboards/techpreview/test/fr-t-k0-azerty-test.xml
Owners: @mcdurdin, @jahorton

fix(developer): ldml drop \u1234 🙀
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/test/test-wasm-uset.ts
Owners: @mcdurdin, @darcywong00

chore: use kmc instead of kmcomp to build test keyboards
  common/test/keyboards/baseline/k_017___space_mnemonic_kbd.kmn
  common/test/keyboards/baseline/k_018___nul_testing.kmn
  common/test/keyboards/build.sh
  common/test/keyboards/obolo_chwerty_6347/source/obolo_chwerty_6347.kps
  common/test/keyboards/obolo_chwerty_6351/source/obolo_chwerty_6351.kps
  developer/src/kmcmplib/tests/fixtures/valid-keyboards/compile_legacy.bat
  developer/src/test/auto/compile-supplementary-support/Makefile
Owners: @mcdurdin, @ermshiperete, @darcywong00

chore: convert keyboards build.sh to builder script
  common/test/keyboards/build.sh
Owners: @mcdurdin, @ermshiperete

chore: fixup targets for build_index
  common/test/keyboards/build.sh
Owners: @mcdurdin, @ermshiperete

auto: increment master version to 17.0.175
  HISTORY.md
  VERSION.md
Owners: none

docs(common): Fix documentation for builder_describe_internal_dependency
  resources/build/build-utils.md
  resources/builder.inc.sh
Owners: @mcdurdin, @jahorton

refactor(linux): Rename defines to clarify purpose 🏘️
  linux/ibus-keyman/src/keymanutil.c
  linux/ibus-keyman/src/keymanutil.h
  linux/ibus-keyman/src/test/keymanutil_tests.c
  linux/keyman-config/.editorconfig
Owners: @ermshiperete, @darcywong00

chore(linux): Add coverage action to `ibus-keyman/build.sh`
  docs/settings/linux/tasks.json
  linux/ibus-keyman/build.sh
Owners: @mcdurdin, @jahorton, @ermshiperete, @darcywong00

auto: increment master version to 17.0.176
  HISTORY.md
  VERSION.md
Owners: none

change(android/engine): Use web-based longpress
  android/KMEA/app/src/main/assets/android-host.js
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
Owners: @darcywong00, @sgschantz

change(web): Remove Android pendingLongpress
  web/src/app/webview/src/keymanEngine.ts
  web/src/app/webview/src/osk/pendingLongpress.ts
  web/src/app/webview/src/oskConfiguration.ts
Owners: @jahorton, @mcdurdin

chore(resources): ldml update keyboard -> keyboard3 🙀
  resources/standards-data/ldml-keyboards/techpreview/3.0/fr-t-k0-azerty.xml
  resources/standards-data/ldml-keyboards/techpreview/3.0/ja-Latn.xml
  resources/standards-data/ldml-keyboards/techpreview/3.0/mt-t-k0-47key.xml
  resources/standards-data/ldml-keyboards/techpreview/3.0/mt.xml
  resources/standards-data/ldml-keyboards/techpreview/3.0/pt-t-k0-abnt2.xml
  resources/standards-data/ldml-keyboards/techpreview/cldr_info.json
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard3.dtd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard3.xsd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboardTest3.dtd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboardTest3.xsd
  resources/standards-data/ldml-keyboards/techpreview/fetch-latest-cldr-techpreview.sh
  resources/standards-data/ldml-keyboards/techpreview/fixup-schema.js
  resources/standards-data/ldml-keyboards/techpreview/import/keys-Latn-implied.xml
  resources/standards-data/ldml-keyboards/techpreview/import/keys-Zyyy-currency.xml
  resources/standards-data/ldml-keyboards/techpreview/import/keys-Zyyy-punctuation.xml
  resources/standards-data/ldml-keyboards/techpreview/ldml-keyboard3.schema.json
  resources/standards-data/ldml-keyboards/techpreview/ldml-keyboardtest3.schema.json
  resources/standards-data/ldml-keyboards/techpreview/test/fr-t-k0-azerty-test.xml
  resources/standards-data/ldml-keyboards/techpreview/test/ja-Latn-test.xml
  resources/standards-data/ldml-keyboards/techpreview/test/pt-t-k0-abnt2-test.xml
Owners: @mcdurdin, @jahorton

chore(web): Update background color for Android popup keys
  web/src/resources/osk/kmwosk.css
Owners: @jahorton, @mcdurdin

chore(android): Remove popup code
  android/KMEA/app/src/main/assets/android-host.js
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyPreviewView.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboardJSHandler.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboardWebViewClient.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
  android/KMEA/app/src/main/res/layout/subkey_layout.xml
  android/KMEA/app/src/main/res/layout/subkeys_popup_layout.xml
  android/KMEA/app/src/main/res/values/colors.xml
Owners: @darcywong00, @sgschantz

chore(oem/fv/android): Update Gradle to 7.4
  oem/firstvoices/android/app/build.gradle
  oem/firstvoices/android/build.gradle
Owners: @darcywong00, @sgschantz

chore(android/engine): Remove key preview layout
  android/KMEA/app/src/main/res/layout/key_preview_layout.xml
Owners: @darcywong00, @sgschantz

feat(linux): mcompile new function InsertKeyvalsFromKeymap()
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile add #preprocessor identifier to use mcompile with file or GDK
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

fix(web): Revert buildEmbeddedGestureConfig
  web/src/app/webview/src/keymanEngine.ts
  web/src/app/webview/src/oskConfiguration.ts
Owners: @jahorton, @mcdurdin

chore(linux): make `--report` an option instead of action
  docs/settings/linux/tasks.json
  linux/ibus-keyman/build.sh
Owners: @mcdurdin, @jahorton, @ermshiperete, @darcywong00

chore(web): More cleanup
  web/src/app/webview/src/keymanEngine.ts
  web/src/app/webview/src/osk/subkeyDelegator.ts
Owners: @jahorton, @mcdurdin

feat(linux): mcompile usable with or without GDK depending on #USE_GDK
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.177
  HISTORY.md
  VERSION.md
Owners: none

fix(web): misc fixes and auto-test fixes
  common/web/gesture-recognizer/build.sh
  common/web/gesture-recognizer/src/engine/gestureRecognizer.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/gestureModel.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/index.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedGestureSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/matcherSelector.spec.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessInputEngine.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/touchpathTurtle.ts
  common/web/gesture-recognizer/test.sh
  common/web/gesture-recognizer/tsconfig.json
Owners: @jahorton, @mcdurdin

chore(web): minor cleanup + removal of queuedPromisePrioritizer
  common/web/gesture-recognizer/src/engine/gestureRecognizer.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/index.ts
  common/web/gesture-recognizer/src/engine/headless/queuedPromisePrioritizer.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/test/auto/headless/queuedPromisePrioritizer.spec.ts
Owners: @jahorton, @mcdurdin

chore(web): minor cleanup
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/matcherSelector.spec.ts
Owners: @jahorton, @mcdurdin
