Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

feat(common): unescaper / element updates for uset 🙀
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/src/util/util.ts
  common/web/types/test/util/test-unescape.ts
Owners: @jahorton, @mcdurdin

feat(developer): uset in element string 🙀
  common/web/types/src/kmx/element-string.ts
  common/web/types/src/kmx/kmx-plus-builder/build-strs.ts
  common/web/types/src/kmx/kmx-plus.ts
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-ldml/src/compiler/empty-compiler.ts
  developer/src/kmc-ldml/src/compiler/tran.ts
  developer/src/kmc-ldml/src/compiler/vars.ts
  developer/src/kmc-ldml/test/fixtures/basic.xml
  developer/src/kmc-ldml/test/fixtures/sections/ordr/nod-Lana.xml
  developer/src/kmc-ldml/test/test-tran.ts
Owners: @jahorton, @mcdurdin, @darcywong00

feat(developer): uset in element string 🙀
  common/web/types/src/kmx/kmx-plus-builder/build-elem.ts
  common/web/types/src/kmx/kmx-plus-builder/build-uset.ts
  common/web/types/src/kmx/kmx-plus-builder/kmx-plus-builder.ts
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  developer/src/kmc-ldml/test/fixtures/basic.txt
  developer/src/kmc-ldml/test/test-tran.ts
Owners: @jahorton, @mcdurdin, @rc-swag, @darcywong00

feat: move backround install functions to online update
  common/windows/delphi/general/RegistryKeys.pas
  windows/src/desktop/kmshell/main/OnlineUpdateCheck.pas
  windows/src/desktop/kmshell/main/initprog.pas
Owners: @mcdurdin, @rc-swag, @ermshiperete

fix(windows): a an extra rows for chng key lbl
  windows/src/desktop/kmshell/main/UfrmChangeHotkey.dfm
Owners: @rc-swag, @ermshiperete

fix(ios): lots more fixes per PR review
  ios/ci.sh
  ios/engine/build.sh
  ios/keyman/build.sh
  ios/samples/KMSample1/build.sh
  ios/samples/KMSample2/build.sh
  ios/samples/build_common.sh
  ios/samples/common.inc.sh
  oem/firstvoices/ios/build.sh
Owners: @sgschantz, @jahorton

fix(common): legacy .kpj schema
  common/schemas/kpj-9.0/README.md
  common/schemas/kpj-9.0/kpj-9.0.schema.json
  common/schemas/kpj/README.md
  common/web/types/build.sh
  common/web/types/src/kpj/kpj-file-reader.ts
  common/web/types/src/util/compiler-interfaces.ts
  common/web/types/test/helpers/TestCompilerCallbacks.ts
  common/web/types/test/kpj/test-kpj-file-reader.ts
  developer/src/kmc-ldml/build.sh
  developer/src/kmc/build.sh
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
Owners: @mcdurdin, @jahorton, @darcywong00

fix(developer): compiler needs to support loading .kvk files
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/compiler/messages.ts
Owners: @mcdurdin, @darcywong00

fix(developer): allow kmcmplib memory usage to grow
  developer/src/kmcmplib/src/meson.build
Owners: @mcdurdin, @darcywong00

fix(developer): split keyboard and model language metadata tests
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/messages.ts
  developer/src/kmc-package/src/compiler/package-validation.ts
  developer/src/kmc-package/test/fixtures/invalid/keyman.en.error_model_must_have_at_least_one_language.model.kps
  developer/src/kmc-package/test/fixtures/invalid/warn_keyboard_should_have_at_least_one_language.kps
  developer/src/kmc-package/test/test-messages.ts
Owners: @mcdurdin, @darcywong00

fix(developer): improve warnings around keyboard version matching
  developer/src/kmc-package/src/compiler/messages.ts
  developer/src/kmc-package/src/compiler/package-version-validation.ts
  developer/src/kmc-package/test/fixtures/invalid/warn_keyboard_versions_do_not_match.kps
  developer/src/kmc-package/test/fixtures/invalid/warn_keyboard_versions_do_not_match_package_version.kps
  developer/src/kmc-package/test/test-messages.ts
Owners: @mcdurdin, @darcywong00

fix(ios): sample build issue
  ios/samples/common.inc.sh
Owners: @sgschantz, @jahorton

fix(developer): strip .kvk extension
  developer/src/kmc-kmn/src/compiler/compiler.ts
Owners: @mcdurdin, @darcywong00

change(ios): adds targets to primary build.sh
  ios/build.sh
  ios/ci.sh
Owners: @sgschantz, @jahorton

feat(linux): mcompile use #ifdef around main
  linux/mcompile/keymap/mc_kmxfile.cpp
  linux/mcompile/keymap/mc_kmxfile.h
  linux/mcompile/keymap/mcompile.cpp
  linux/mcompile/keymap/mcompile.h
  linux/mcompile/keymap/u16.cpp
  linux/mcompile/keymap/u16.h
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile use remove unneccessary function
  linux/mcompile/keymap/mc_kmxfile.cpp
Owners: @ermshiperete, @darcywong00

fix(linux): Another attempt to fix packaging GHA
  .github/workflows/deb-packaging.yml
Owners: none

Apply suggestions from code review
  common/web/types/test/util/test-unescape.ts
Owners: @jahorton, @mcdurdin

Apply suggestions from code review
  common/web/types/src/kmx/element-string.ts
Owners: @jahorton, @mcdurdin

feat(core): rearrange elem flags 🙀
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/src/ldml/C7043_ldml.md
  developer/src/kmc-ldml/test/fixtures/basic.txt
Owners: @mcdurdin, @rc-swag, @darcywong00

feat(common): preflighting on uset 🙀
  common/web/types/src/kmx/element-string.ts
  common/web/types/src/kmx/kmx-plus.ts
  common/web/types/src/ldml-keyboard/unicodeset-parser-api.ts
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/test/test-wasm-uset.ts
  developer/src/kmcmplib/src/uset-api.cpp
  developer/src/kmcmplib/tests/uset-api-test.cpp
Owners: @jahorton, @mcdurdin, @darcywong00

fix(ios): sample apps support for parent script option
  ios/samples/common.inc.sh
Owners: @sgschantz, @jahorton

docs(ios): adds script docs to ios/README.md, updates, drops some ancient bits
  ios/README.md
Owners: @sgschantz, @jahorton

fix(developer): kmc-kmn/kmw should add/delete certain fields in touch layout when writing
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file-writer.ts
Owners: @jahorton, @mcdurdin

fix(developer): kmc-kmn/kmw should strip `\r` from inline html
  developer/src/kmc-kmn/src/kmw-compiler/kmw-compiler.ts
Owners: @mcdurdin, @darcywong00

fix(developer): improve kmcmplib/kmw compiler performance
  common/web/types/src/kmx/kmx-file-reader.ts
  developer/src/kmcmplib/src/CasedKeys.cpp
  developer/src/kmcmplib/src/Compiler.cpp
  developer/src/kmcmplib/src/UnreachableRules.cpp
  developer/src/kmcmplib/src/kmx_u16.cpp
  developer/src/kmcmplib/src/meson.build
Owners: @jahorton, @mcdurdin, @darcywong00

fix(developer): touch layout was not converting all special keycaps
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
Owners: @mcdurdin, @darcywong00

fix(developer): kvks file reader needs to handle bitmaps
  common/web/types/src/kvk/kvks-file-reader.ts
Owners: @jahorton, @mcdurdin

fix(developer): kmc/kmw was not stripping codes correctly
  developer/src/kmc-kmn/src/kmw-compiler/javascript-strings.ts
Owners: @mcdurdin, @darcywong00

fix(linux): Fix packaging GHA
  .github/workflows/deb-packaging.yml
Owners: none

fix(linux): Fix packaging GHA
  .github/workflows/deb-packaging.yml
Owners: none

feat(common): preflighting on uset 🙀
  common/web/types/src/ldml-keyboard/unicodeset-parser-api.ts
  developer/src/kmc-kmn/src/compiler/compiler.ts
Owners: @jahorton, @mcdurdin, @darcywong00

chore(developer): robust reorder tests 🙀
  developer/src/kmc-ldml/test/test-tran.ts
Owners: @mcdurdin, @darcywong00

fix(developer): improve coverage, add todos 🙀
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-ldml/src/compiler/disp.ts
  developer/src/kmc-ldml/src/compiler/keys.ts
Owners: @mcdurdin, @darcywong00

chore(developer): refactor so KmnCompiler only created once within kmc 🙀
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/src/compiler/section-compiler.ts
  developer/src/kmc-ldml/src/compiler/tran.ts
  developer/src/kmc-ldml/src/compiler/vars.ts
  developer/src/kmc-ldml/test/helpers/index.ts
Owners: @mcdurdin, @darcywong00

fix(linux): Fix packaging GHA
  .github/workflows/deb-packaging.yml
Owners: none

fix(common): support multichar escapes in element sets 🙀
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
  developer/src/kmc-ldml/test/fixtures/sections/ordr/multi-escape.xml
  developer/src/kmc-ldml/test/test-tran.ts
Owners: @jahorton, @mcdurdin, @darcywong00

auto: increment master version to 17.0.134
  HISTORY.md
  VERSION.md
Owners: none

fix(developer): improve coverage, add todos 🙀
  developer/src/kmc-ldml/src/compiler/disp.ts
Owners: @mcdurdin, @darcywong00

chore(common): update docs around Node.js
  docs/build/linux-ubuntu.md
  docs/build/macos.md
Owners: @mcdurdin, @jahorton

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
