Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

fix(web): fixes up Web's InlinedOSK manual test page
  web/src/test/manual/web/inline-osk/index.html
Owners: @jahorton, @mcdurdin

fix(web): re-establishes web srcmap uploading
  web/ci.sh
Owners: @jahorton, @mcdurdin

fix(developer): vk constants requires `K_oDF` and `K_?C1`
  common/web/types/src/consts/virtual-key-constants.ts
Owners: @jahorton, @mcdurdin

fix(developer): strip default values when compiling touch layout
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file-writer.ts
Owners: @jahorton, @mcdurdin

fix(developer): kmc - support `bitmap` field in .kvk/kvks files
  common/web/types/src/kvk/kvk-file-reader.ts
  common/web/types/src/kvk/kvk-file-writer.ts
  common/web/types/src/kvk/kvk-file.ts
  common/web/types/src/kvk/kvks-file-reader.ts
  common/web/types/src/kvk/kvks-file-writer.ts
  common/web/types/src/kvk/visual-keyboard.ts
  common/web/types/test/fixtures/kvk/balochi_inpage.kvk
  common/web/types/test/fixtures/kvk/balochi_inpage.kvks
  common/web/types/test/kvk/test-kvk-file.ts
  common/web/types/test/kvk/test-kvk-round-trip.ts
  common/web/types/test/kvk/test-kvk-utils.ts
  common/web/types/test/kvk/test-kvks-file.ts
Owners: @jahorton, @mcdurdin

fix(developer): `call` statements were misreferenced in kmc
  developer/src/kmc-kmn/src/kmw-compiler/javascript-strings.ts
  developer/src/kmc-kmn/src/kmw-compiler/kmw-compiler.ts
Owners: @mcdurdin, @darcywong00

fix(web): fixes sim-device swapping aspect
  web/src/test/manual/web/inline-osk/index.html
Owners: @jahorton, @mcdurdin

fix(developer): escape font name correctly in vk
  developer/src/kmc-kmn/src/kmw-compiler/visual-keyboard-compiler.ts
Owners: @mcdurdin, @darcywong00

fix(web): use proper git-tag for Sentry upload
  web/ci.sh
Owners: @jahorton, @mcdurdin

fix(developer): kmc: cleanup handling of whitespace in import files
  developer/src/kmc-kmn/src/kmw-compiler/kmw-compiler.ts
Owners: @mcdurdin, @darcywong00

fix(developer): off-by-one index calculations in js output
  developer/src/kmc-kmn/src/kmw-compiler/javascript-strings.ts
  developer/src/kmc-kmn/src/kmw-compiler/util.ts
Owners: @mcdurdin, @darcywong00

fix(developer): strip pure whitespace from key text in kvks reader
  common/web/types/src/kvk/kvks-file-reader.ts
Owners: @jahorton, @mcdurdin

fix(web): right, no 'npm run' for sentry-cli now
  web/ci.sh
Owners: @jahorton, @mcdurdin

refactor(linux): Code refactoring
  linux/keyman-config/keyman_config/gnome_keyboards_util.py
  linux/keyman-config/keyman_config/gsettings.py
  linux/keyman-config/keyman_config/ibus_util.py
Owners: @ermshiperete, @darcywong00

refactor(linux): Revert type hints
  linux/keyman-config/keyman_config/gsettings.py
Owners: @ermshiperete, @darcywong00

refactor(linux): Extract methods
  linux/keyman-config/keyman_config/keyboard_details.py
Owners: @ermshiperete, @darcywong00

fix(linux): Fix vertical alignment of labels in About dialog
  linux/keyman-config/keyman_config/keyboard_details.py
Owners: @ermshiperete, @darcywong00

fix(linux): Add scrollbar to About dialog
  linux/keyman-config/keyman_config/keyboard_details.py
Owners: @ermshiperete, @darcywong00

fix(linux): Remove tags from package description
  linux/keyman-config/keyman_config/keyboard_details.py
Owners: @ermshiperete, @darcywong00

refactor(linux): Allow to install keyboard for multiple languages
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/keyman_config/uninstall_kmp.py
Owners: @ermshiperete, @darcywong00

feat(linux): Remove message box if same kbd version already installed
  linux/keyman-config/keyman_config/install_window.py
  linux/keyman-config/km-package-install
  linux/keyman-config/km-package-install.bash-completion
Owners: @ermshiperete, @darcywong00

refactor(linux): Some refactorings
  linux/keyman-config/km-package-install
Owners: @ermshiperete, @darcywong00

chore(linux): Address code review comments
  linux/keyman-config/keyman_config/uninstall_kmp.py
  linux/keyman-config/km-package-install
Owners: @ermshiperete, @darcywong00

fix(linux): Fix uninstalling keyboard for multiple languages with ibus
  linux/keyman-config/keyman_config/uninstall_kmp.py
  linux/keyman-config/tests/test_uninstall_kmp.py
Owners: @ermshiperete, @darcywong00

chore(linux): Add clarifying comment
  linux/keyman-config/keyman_config/uninstall_kmp.py
Owners: @ermshiperete, @darcywong00

feat: WIP all the states of the enum are now covered
  windows/src/desktop/kmshell/main/OnlineUpdateCheck.pas
Owners: @rc-swag, @ermshiperete

chore(linux): Update docker builds
  docs/build/linux-ubuntu.md
  linux/Dockerfile
Owners: @mcdurdin, @jahorton, @ermshiperete, @darcywong00

docs(linux): Update readme
  docs/linux/README.md
Owners: @mcdurdin, @jahorton

docs(linux): Allow to build with docker without root
  docs/build/linux-ubuntu.md
Owners: @mcdurdin, @jahorton

feat(linux): mcompile exchange Err(), LogError(), DebugLog() with KMX_Log use wchar for output everywhere
  linux/mcompile/keymap/helpers.cpp
  linux/mcompile/keymap/helpers.h
  linux/mcompile/keymap/mc_kmxfile.cpp
  linux/mcompile/keymap/mc_kmxfile.h
  linux/mcompile/keymap/mcompile.cpp
  linux/mcompile/keymap/mcompile.h
  linux/mcompile/keymap/u16.cpp
  linux/mcompile/keymap/u16.h
Owners: @ermshiperete, @darcywong00

chore(linux): Allow to run tests without integration tests
  linux/ibus-keyman/build.sh
Owners: @ermshiperete, @darcywong00

chore: Update standards data
  resources/standards-data/iso639-3/.gitattributes
  resources/standards-data/iso639-3/iso639-3.tab
  resources/standards-data/iso639-3/readme.md
  resources/standards-data/language-subtag-registry/language-subtag-registry
  resources/standards-data/language-subtag-registry/readme.md
  resources/standards-data/unicode-character-database/readme.md
Owners: @mcdurdin, @jahorton

auto: increment master version to 17.0.135
  HISTORY.md
  VERSION.md
Owners: none

chore(common): improve coverage, fix todos 🙀
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/src/util/util.ts
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
  common/web/types/test/util/test-unescape.ts
  developer/src/kmc-ldml/src/compiler/compiler-options.ts
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/layr.ts
  developer/src/kmc-ldml/src/compiler/loca.ts
  developer/src/kmc-ldml/src/compiler/section-compiler.ts
  developer/src/kmc-ldml/src/compiler/tran.ts
  developer/src/kmc-ldml/src/compiler/vkey.ts
  developer/src/kmc-ldml/test/fixtures/sections/vars/fail-badref-6.xml
  developer/src/kmc-ldml/test/test-compiler-e2e.ts
  developer/src/kmc-ldml/test/test-layr.ts
  developer/src/kmc-ldml/test/test-vars.ts
Owners: @jahorton, @mcdurdin, @darcywong00

spec(core): marker spec 🙀
  core/src/ldml/C9134_ldml_markers.md
Owners: @mcdurdin, @rc-swag

feat(core): kmxplus uset implementation in core 🙀
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
Owners: @mcdurdin, @rc-swag

fix(web): yesterday's 'fix' unfortunately doesn't upload the maps
  web/ci.sh
Owners: @jahorton, @mcdurdin

feat(web): should probably upload sentry-manager to Sentry as well
  web/ci.sh
Owners: @jahorton, @mcdurdin

fix(web): changed func, forgot to change var reference
  web/ci.sh
Owners: @jahorton, @mcdurdin

chore(web): normalizes srcMap paths for cleaner Sentry reports
  common/tools/sourcemap-path-remapper/src/index.ts
  web/common.inc.sh
  web/src/app/browser/build.sh
  web/src/app/ui/build.sh
  web/src/app/webview/build.sh
  web/src/tools/building/sourcemap-root/index.ts
Owners: @mcdurdin, @rc-swag, @jahorton

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
