Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

spec(core): minor fix to tran spec 🙀
  core/src/ldml/C7043_ldml.md
Owners: @mcdurdin, @rc-swag

feat(core): move transform processing to u32 🙀
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/tests/unit/ldml/test_transforms.cpp
Owners: @mcdurdin, @rc-swag

fix(windows): open pdf in an external browser
  common/windows/delphi/chromium/Keyman.UI.UframeCEFHost.pas
Owners: @mcdurdin, @rc-swag

chore(web): connects gesture-recognizer tests for Web CI testing
  common/web/gesture-recognizer/src/test/auto/browser/CI.conf.cjs
  common/web/gesture-recognizer/src/test/auto/browser/cases/recordedCoordSequences.js
  common/web/gesture-recognizer/src/test/resources/json/receiver/embeddedBorderCancel.json
  web/ci.sh
Owners: @jahorton, @mcdurdin

chore(web): also pulls up the timeoutPromise unit-test fix
  common/web/utils/src/test/timeoutPromise.js
Owners: @jahorton, @mcdurdin

change(web): lower-level model/matcher result spec shift
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/pathMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/contactModel.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedPathSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/pathMatcher.spec.ts
Owners: @jahorton, @mcdurdin

feat(web): adds 'allowsInitialState' prop to ContactModel
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/contactModel.ts
Owners: @jahorton, @mcdurdin

fix(web): cherrypicked code generic mismatch
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/pathMatcher.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedPathSpecs.ts
Owners: @jahorton, @mcdurdin

Update inst-cpp.vcxproj files
  windows/src/engine/engine.sln
  windows/src/engine/inst-cpp/inst-cpp.vcxproj
  windows/src/engine/inst-cpp/inst-cpp.vcxproj.filters
  windows/src/engine/inst-cpp/insthelper.cpp
Owners: @rc-swag, @ermshiperete

fix(developer): reduce KM0208A to info severity
  developer/src/common/include/kmn_compiler_errors.h
  developer/src/kmc-kmn/src/compiler/messages.ts
Owners: @mcdurdin, @darcywong00

fix(developer): consistently show filename for messages in kmc
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
Owners: @mcdurdin, @darcywong00

fix(developer): use relative paths for KM05009
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
Owners: @mcdurdin, @darcywong00

fix(developer): clean up warning KM02093
  developer/src/kmc-kmn/src/kmw-compiler/messages.ts
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
Owners: @mcdurdin, @darcywong00

fix(developer): respect checkFilenameConventions in kmc
  common/web/types/src/kpj/keyman-developer-project.ts
  common/web/types/src/kpj/kpj-file-reader.ts
  common/web/types/src/kpj/kpj-file.ts
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/kmc-package/src/compiler/package-validation.ts
  developer/src/kmc-package/test/test-messages.ts
  developer/src/kmc/src/commands/buildClasses/BuildPackage.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/src/kmlmi.ts
  developer/src/kmc/src/kmlmp.ts
  developer/src/kmc/src/messages/messages.ts
Owners: @jahorton, @mcdurdin, @darcywong00

fix(developer): don't add .keyboard_info twice
  common/web/types/src/kpj/keyman-developer-project.ts
Owners: @jahorton, @mcdurdin

fix(web): allows registering precached keyboards
  web/src/engine/package-cache/src/cloud/queryEngine.ts
  web/src/engine/package-cache/src/keyboardRequisitioner.ts
Owners: @jahorton, @mcdurdin

fix(developer): LexicalModelCompiler now takes a callbacks constructor parameter
  common/web/input-processor/tests/cases/languageProcessor.js
  developer/src/kmc-model/src/lexical-model-compiler.ts
  developer/src/kmc-model/src/main.ts
  developer/src/kmc-model/test/test-compile-model-with-pseudoclosure.ts
  developer/src/kmc-model/test/test-compile-trie.ts
  developer/src/kmc-model/test/test-punctuation.ts
Owners: @jahorton, @mcdurdin, @darcywong00

chore(developer): use kmc messages for kmc-model-info
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/kmc-model-info/src/messages.ts
  developer/src/kmc-model-info/src/model-info-compiler.ts
  developer/src/kmc-model-info/tsconfig.json
  developer/src/kmc/src/commands/buildClasses/BuildModelInfo.ts
  developer/src/kmc/src/kmlmi.ts
  developer/src/kmc/src/messages/messages.ts
Owners: @jahorton, @mcdurdin, @darcywong00

chore: Update common/web/types/build.sh
  common/web/types/build.sh
Owners: @jahorton, @mcdurdin

Update common/web/types/src/util/file-types.ts
  common/web/types/src/util/file-types.ts
Owners: @jahorton, @mcdurdin

chore(web): Apply suggestions from code review
  common/web/gesture-recognizer/src/test/auto/browser/cases/recordedCoordSequences.js
Owners: @jahorton, @mcdurdin

chore(web): Apply suggestions from code review
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/contactModel.ts
Owners: @jahorton, @mcdurdin

chore: Update common/web/types/src/util/compiler-interfaces.ts
  common/web/types/src/util/compiler-interfaces.ts
Owners: @jahorton, @mcdurdin

fix(web): syncs timestamps of active contact points, paths
  common/web/gesture-recognizer/src/engine/headless/complexGestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/pathMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/contactModel.ts
  common/web/gesture-recognizer/src/engine/headless/simpleGestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  common/web/gesture-recognizer/src/engine/mouseEventEngine.ts
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
Owners: @jahorton, @mcdurdin

chore(web): Apply suggestions from code review
  web/src/engine/package-cache/src/keyboardRequisitioner.ts
Owners: @jahorton, @mcdurdin

fix(linux): Fix installation of keyboards with lang tag `mul`
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/tests/test_install_kmp.py
Owners: @ermshiperete, @darcywong00

feat(linux): Minimize tags before adding keyboards
  linux/ibus-keyman/build.sh
  linux/ibus-keyman/meson.build
  linux/ibus-keyman/src/bcp47util.c
  linux/ibus-keyman/src/bcp47util.h
  linux/ibus-keyman/src/keymanutil.c
  linux/ibus-keyman/src/meson.build
  linux/ibus-keyman/src/test/bcp47util_tests.c
  linux/ibus-keyman/src/test/meson.build
  linux/ibus-keyman/src/test/run-single-test.sh
  linux/ibus-keyman/src/test/run-tests.sh
  linux/ibus-keyman/src/test/setup-tests.sh
  linux/ibus-keyman/tests/meson.build
  linux/ibus-keyman/tests/scripts/test-helper.inc.sh
Owners: @ermshiperete, @darcywong00

chore(linux): Fix running tests with Wayland
  linux/ibus-keyman/tests/meson.build
  linux/ibus-keyman/tests/scripts/run-single-test.sh
  linux/ibus-keyman/tests/scripts/run-tests.sh
  linux/ibus-keyman/tests/scripts/setup-tests.sh
  linux/ibus-keyman/tests/scripts/teardown-tests.sh
  linux/ibus-keyman/tests/scripts/test-helper.inc.sh
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile first version to use gtk
  linux/mcompile/keymap/km_types.h
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile tidy up
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/main.cpp
  linux/mcompile/keymap/mc_kmxfile.h
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

refactor(linux): Move common code to included file
  linux/ibus-keyman/tests/scripts/setup-tests.sh
  linux/ibus-keyman/tests/scripts/teardown-tests.sh
  linux/ibus-keyman/tests/scripts/test-helper.inc.sh
Owners: @ermshiperete, @darcywong00

fix(linux): Fix logging
  linux/keyman-config/keyman_config/__init__.py
  linux/keyman-config/keyman_config/sentry_handling.py
  linux/keyman-config/km-config
  linux/keyman-config/km-kvk2ldml
  linux/keyman-config/km-package-get
  linux/keyman-config/km-package-install
  linux/keyman-config/km-package-list-installed
  linux/keyman-config/km-package-uninstall
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.144
  HISTORY.md
  VERSION.md
Owners: none

feat(core): transform/reorder processing a little less broken 🙀
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/tests/unit/ldml/test_transforms.cpp
Owners: @mcdurdin, @rc-swag

feat(core): transform/reorder passing tests! 🙀
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/tests/unit/ldml/keyboards/k_200_reorder_nod_Lana-test.xml
  core/tests/unit/ldml/keyboards/k_200_reorder_nod_Lana.xml
  core/tests/unit/ldml/test_transforms.cpp
Owners: @mcdurdin, @rc-swag

feat(core): transform/reorder passing tests! 🙀
  core/src/ldml/ldml_transforms.cpp
Owners: @mcdurdin, @rc-swag

fix(linux): Reword error if uninstalling non-existent keyboard
  linux/keyman-config/keyman_config/uninstall_kmp.py
Owners: @ermshiperete, @darcywong00

fix(linux): Also output username
  linux/keyman-config/keyman_config/uninstall_kmp.py
Owners: @ermshiperete, @darcywong00

refactor(linux): Use better way to get username
  linux/keyman-config/keyman_config/ibus_util.py
Owners: @ermshiperete, @darcywong00

refactor(linux): Some refactorings
  linux/keyman-config/keyman_config/ibus_util.py
Owners: @ermshiperete, @darcywong00

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
