Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete

refactor(android/engine): Pass contents of banner.html to KMW
  android/KMAPro/kMAPro/src/main/assets/svg/banner.html
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/assets/keyboard.html
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
  android/KMEA/app/src/main/java/com/keyman/engine/util/FileUtils.java
Owners: @darcywong00, @sgschantz

feat(developer): handle errors loading projects
  developer/src/tike/actions/dmActionsMain.pas
  developer/src/tike/main/UfrmMain.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectFile.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectLoader.pas
Owners: @mcdurdin, @darcywong00

chore(common): Move keymanweb-osk.ttf to common/
  common/resources/fonts/keymanweb-osk.ttf
  developer/src/tike/xml/layoutbuilder/keymanweb-osk.ttf
Owners: @mcdurdin, @rc-swag, @darcywong00

feat(web): delayed modipress completion with nested subkeys
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/gestureModel.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
Owners: @jahorton, @mcdurdin

fix(web): modipress-flick robustness; properly updates layer for completion-triggering source
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
Owners: @jahorton, @mcdurdin

feat(web): delayed modipress completion with nested flicks
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
Owners: @jahorton, @mcdurdin

fix(web): resetting locked flicks during a modipress (without cancelling)
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
Owners: @jahorton, @mcdurdin

fix(windows): extra logging for modifer keys
  windows/src/engine/keyman32/k32_lowlevelkeyboardhook.cpp
  windows/src/engine/keyman32/serialkeyeventserver.cpp
Owners: @rc-swag, @ermshiperete

chore(developer): Add configure step to copy font
  developer/build.sh
  developer/src/tike/xml/layoutbuilder/.gitignore
Owners: @mcdurdin, @darcywong00

chore(web): Add configure step to copy font
  web/src/engine/osk/build.sh
  web/src/resources/.gitignore
Owners: @jahorton, @mcdurdin

feat(linux): mcompile tidy up
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mc_import_rules.cpp
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

chore(linux): Address code review comments
  .github/workflows/deb-packaging.README.md
  .github/workflows/deb-packaging.yml
  linux/scripts/deb-packaging.sh
  resources/build/trigger-builds.inc.sh
Owners: @ermshiperete, @darcywong00, @mcdurdin, @jahorton

auto: increment master version to 17.0.210
  HISTORY.md
  VERSION.md
Owners: none

chore(developer): show only source path files in project views
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectSaver.pas
  developer/src/tike/xml/project/distribution.xsl
  developer/src/tike/xml/project/elements.xsl
  developer/src/tike/xml/project/keyboards.xsl
  developer/src/tike/xml/project/models.xsl
  developer/src/tike/xml/project/packages.xsl
Owners: @mcdurdin, @darcywong00

chore(developer): handle project version checks cleanly in kmc
  common/web/types/src/kpj/kpj-file-reader.ts
  developer/src/kmc/src/messages/infrastructureMessages.ts
  developer/src/kmc/src/util/projectLoader.ts
  developer/src/kmc/test/fixtures/invalid-projects/error_unsupported_project_version.kpj
  developer/src/kmc/test/test-infrastructureMessages.ts
Owners: @jahorton, @mcdurdin, @darcywong00

fix(web): Update configure outputs
  web/src/engine/osk/build.sh
Owners: @jahorton, @mcdurdin

fix(android): Update keymanweb-osk.ttf
  android/KMEA/build.sh
Owners: @darcywong00, @sgschantz
