Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete

fix(developer): use KeymanWeb.Codes for 17.0+
  developer/src/kmc-kmn/src/kmw-compiler/compiler-globals.ts
  developer/src/kmc-kmn/src/kmw-compiler/kmw-compiler.ts
Owners: @mcdurdin, @darcywong00

fix(developer): layout builder - maintain presentation during undo
  developer/src/tike/xml/layoutbuilder/builder.js
  developer/src/tike/xml/layoutbuilder/undo.js
Owners: @mcdurdin, @darcywong00

fix(developer): don't use osk-always-visible on touch devices
  developer/src/server/src/site/index.html
  developer/src/server/src/site/test.js
Owners: @mcdurdin, @darcywong00

fix(web): removes unneeded, problematic GestureMatcher check
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
Owners: @jahorton, @mcdurdin

fix(web): multitaps with heterogenous nextLayer use
  web/src/engine/osk/src/input/gestures/browser/multitap.ts
Owners: @jahorton, @mcdurdin

chore(developer): rename messages.ts for clarity
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/compiler/kmn-compiler-messages.ts
  developer/src/kmc-kmn/src/kmw-compiler/javascript-strings.ts
  developer/src/kmc-kmn/src/kmw-compiler/kmw-compiler-messages.ts
  developer/src/kmc-kmn/src/kmw-compiler/kmw-compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
  developer/src/kmc-kmn/src/main.ts
  developer/src/kmc-kmn/test/test-messages.ts
  developer/src/kmc-kmn/test/test-wasm-uset.ts
Owners: @mcdurdin, @darcywong00

fix(developer): warn if layer switch key is missing ID
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
  developer/src/kmc-kmn/test/fixtures/invalid-keyboards/warn_touch_layout_unidentified_key.keyman-touch-layout
  developer/src/kmc-kmn/test/fixtures/invalid-keyboards/warn_touch_layout_unidentified_key.kmn
  developer/src/kmc-kmn/test/test-messages.ts
Owners: @mcdurdin, @darcywong00

fix(developer): restore selection in layout builder even with duplicate ids
  developer/src/tike/xml/layoutbuilder/builder.js
Owners: @mcdurdin, @darcywong00

Add entrypoint
  windows/src/engine/inst-cpp/insthelper.h
Owners: @rc-swag, @ermshiperete

fix(web): early off-the-top cancellation in app/webview mode
  web/src/engine/osk/src/input/gestures/browser/flick.ts
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
Owners: @jahorton, @mcdurdin

fix(web): automated-test patchup
  web/src/tools/testing/recorder/browserDriver.ts
Owners: @jahorton, @mcdurdin

chore: Apply suggestions from code review
  developer/src/tike/child/UfrmDebug.pas
Owners: @mcdurdin, @darcywong00

chore(developer): address review comments
  developer/src/kmc-keyboard-info/src/font-family.ts
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-keyboard-info/src/messages.ts
Owners: @mcdurdin, @darcywong00

chore(developer): address review comments
  developer/src/kmc-kmn/test/fixtures/invalid-keyboards/error_virtual_key_in_context.kmn
  developer/src/kmc-kmn/test/test-messages.ts
  developer/src/kmcmplib/src/Compiler.cpp
Owners: @mcdurdin, @darcywong00

fix(web): app/webview globe-key key-up signalling
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

chore(web): now uses common/web/types enum for button classes
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
Owners: @jahorton, @mcdurdin

chore(developer): remove compile.pas and CompileErrorCodes.pas
  developer/src/common/delphi/compiler/CompileErrorCodes.pas
  developer/src/common/delphi/compiler/compile.pas
  developer/src/kmconvert/kmconvert.dpr
  developer/src/kmconvert/kmconvert.dproj
  developer/src/test/auto/Makefile
  developer/src/test/auto/developer-test-auto.groupproj
  developer/src/test/auto/kmcomp-x64-structures/.gitignore
  developer/src/test/auto/kmcomp-x64-structures/Makefile
  developer/src/test/auto/kmcomp-x64-structures/cppstructsize/cppstructsize.cpp
  developer/src/test/auto/kmcomp-x64-structures/cppstructsize/cppstructsize.sln
  developer/src/test/auto/kmcomp-x64-structures/cppstructsize/cppstructsize.vcxproj
  developer/src/test/auto/kmcomp-x64-structures/cppstructsize/cppstructsize.vcxproj.filters
  developer/src/test/auto/kmcomp-x64-structures/cppstructsize/pch.cpp
  developer/src/test/auto/kmcomp-x64-structures/cppstructsize/pch.h
  developer/src/test/auto/kmcomp-x64-structures/passtructsize.res
  developer/src/test/auto/kmcomp-x64-structures/passtructsize/passtructsize.dpr
  developer/src/test/auto/kmcomp-x64-structures/passtructsize/passtructsize.dproj
  developer/src/test/auto/kmcomp-x64-structures/passtructsize/passtructsize.res
  developer/src/tike/child/UfrmKeymanWizard.pas
  developer/src/tike/compile/Keyman.Developer.System.KmcWrapper.pas
  developer/src/tike/main/UfrmMain.pas
  developer/src/tike/main/UfrmMessages.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectFile.pas
  developer/src/tike/project/Keyman.Developer.System.Project.kmnProjectFileAction.pas
  developer/src/tike/project/Keyman.Developer.System.Project.modelTsProjectFileAction.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
  windows/src/test/manual-tests/regressiontest/UfrmRegressionTests.pas
  windows/src/test/manual-tests/regressiontest/regressiontest.dpr
  windows/src/test/manual-tests/regressiontest/regressiontest.dproj
Owners: @mcdurdin, @darcywong00, @rc-swag, @ermshiperete

Apply suggestions from code review
  developer/src/kmc-kmn/src/kmw-compiler/constants.ts
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
Owners: @mcdurdin, @darcywong00

fix(developer): Update keymanweb-osk.ttf font
  developer/src/tike/xml/layoutbuilder/keymanweb-osk.ttf
Owners: @mcdurdin, @darcywong00

fix(web): Android API 21 compat
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  web/src/engine/main/src/keymanEngine.ts
Owners: @jahorton, @mcdurdin

fix(developer): import KMX
  developer/src/kmc-kmn/src/kmw-compiler/constants.ts
Owners: @mcdurdin, @darcywong00

chore(developer): add FileDoesNotExist unit test
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-keyboard-info/test/test-keyboard-info-compiler.ts
Owners: @mcdurdin, @darcywong00

fix(common): Add constants
  common/web/types/src/kmx/kmx.ts
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
Owners: @jahorton, @mcdurdin, @darcywong00

fix(developer): Define special touch layout key
  developer/src/test/auto/kmcomp/test_touchlayout_14_2.keyman-touch-layout
Owners: @mcdurdin, @darcywong00

fix(linux): Fix environment for Debian packages
  .github/workflows/deb-packaging.yml
  linux/.gitignore
  linux/debian/control
  linux/scripts/reconf.sh
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile use GDK to fill rgKeys nr+char OK, OEM still ToDo
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mc_import_rules.cpp
Owners: @ermshiperete, @darcywong00

chore(linux): Revert to repository_dispatch
  .github/workflows/deb-packaging.README.md
  .github/workflows/deb-packaging.yml
  resources/build/trigger-builds.inc.sh
Owners: @mcdurdin, @jahorton

auto: increment master version to 17.0.205
  HISTORY.md
  VERSION.md
Owners: none

fix(developer): Fix JSON
  developer/src/test/auto/kmcomp/test_touchlayout_14_2.keyman-touch-layout
Owners: @mcdurdin, @darcywong00

feat(common): ldml update to WIP cldr data 🙀
  core/tests/unit/ldml/keyboards/meson.build
  resources/standards-data/ldml-keyboards/techpreview/3.0/bn.xml
  resources/standards-data/ldml-keyboards/techpreview/3.0/fr-t-k0-optimise-test.xml
  resources/standards-data/ldml-keyboards/techpreview/3.0/fr-t-k0-optimise.xml
  resources/standards-data/ldml-keyboards/techpreview/3.0/fr-t-k0-test-test.xml
  resources/standards-data/ldml-keyboards/techpreview/3.0/fr-t-k0-test.xml
  resources/standards-data/ldml-keyboards/techpreview/test/bn-test.xml
Owners: @mcdurdin, @rc-swag, @jahorton

fix(developer): Define special touch layout key for other tests
  developer/src/test/auto/kmcomp/test_194_filename_case.keyman-touch-layout
  developer/src/test/auto/kmcomp/test_touchlayout_14_1.keyman-touch-layout
Owners: @mcdurdin, @darcywong00

fix(developer): Revert 14_1
  developer/src/test/auto/kmcomp/test_touchlayout_14_1.keyman-touch-layout
  developer/src/test/auto/kmcomp/test_touchlayout_14_3.keyman-touch-layout
Owners: @mcdurdin, @darcywong00

consuming actions struct from core
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/project.pbxproj
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreHelper.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreHelper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreKeyOutput.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreKeyOutput.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KeymanEngine4Mac.h
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/CoreWrapperTests.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KMEngineTests.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KeymanEngineTestsStaticHelperMethods.h
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KeymanEngineTestsStaticHelperMethods.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/armenian_mnemonic.kmx
Owners: @sgschantz, @SabineSIL

fix(web): fixes modipress issues discovered in personal tests
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

chore(web): addresses most review concerns
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/osk/src/input/gestures/browser/modipress.ts
  web/src/engine/osk/src/input/gestures/browser/multitap.ts
Owners: @jahorton, @mcdurdin

chore(web): semi-verbose check for modipress button-class critierion
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
Owners: @jahorton, @mcdurdin

chore(web): Apply suggestions from code review
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/lm-worker/src/main/correction/context-tracker.ts
Owners: @jahorton, @mcdurdin

change(web): remembered that the outputTarget.restoreTo func exists
  common/web/input-processor/src/text/inputProcessor.ts
Owners: @jahorton, @mcdurdin

fix(web): fixes tablet preview-host cleanup
  web/src/engine/osk/src/keyboard-layout/oskBaseKey.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

fix(web): modipress+longpress next-layer handling
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin
