Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

feat(core): ldml normalization 🙀
  core/subprojects/packagefiles/icu/meson.build
Owners: @mcdurdin, @rc-swag

feat(core): ldml normalization 🙀
  core/tests/unit/ldml/keyboards/k_003_transform.xml
  core/tests/unit/ldml/keyboards/k_210_marker-test.xml
Owners: @mcdurdin, @rc-swag

feat(core): ldml normalization 🙀
  core/tests/unit/ldml/ldml.cpp
Owners: @mcdurdin, @rc-swag

feat(linux): Allow installing keyboards with arbitrary language 🏘️
  linux/keyman-config/keyman_config/custom_keyboards.py
  linux/keyman-config/keyman_config/gsettings.py
  linux/keyman-config/keyman_config/install_kmp.py
  linux/keyman-config/keyman_config/uninstall_kmp.py
  linux/keyman-config/tests/test_custom_keyboards.py
  linux/keyman-config/tests/test_install_kmp.py
  linux/keyman-config/tests/test_uninstall_kmp.py
Owners: @ermshiperete, @darcywong00

chore(linux): Add code coverage index page
  docs/linux/README.md
  linux/CodeCoverageReports.html
  linux/README.md
  linux/build.sh
  linux/keyman-system-service/build.sh
Owners: @mcdurdin, @jahorton, @ermshiperete, @darcywong00

chore(core): dx: ldml test subselection 🙀
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  core/tests/unit/ldml/ldml.cpp
  core/tests/unit/ldml/ldml_test_source.cpp
  developer/src/kmc-ldml/test/fixtures/test-fr.json
Owners: @jahorton, @mcdurdin, @rc-swag, @darcywong00

feat(core): add backspace test 🙀
  core/tests/unit/ldml/keyboards/k_006_backspace-test.xml
  core/tests/unit/ldml/keyboards/k_006_backspace.xml
  core/tests/unit/ldml/keyboards/meson.build
Owners: @mcdurdin, @rc-swag

chore(developer): remove an unused error code 🙀
  common/web/types/src/util/common-events.ts
Owners: @jahorton, @mcdurdin

feat(linux): mcompile fill rgkey
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/km_types.h
  linux/mcompile/keymap/mc_import_rules.cpp
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.192
  HISTORY.md
  VERSION.md
Owners: none

fix(ios): missing backslash in build script
  oem/firstvoices/ios/build.sh
Owners: @sgschantz, @jahorton

chore(web): addresses PR review concerns
  common/web/gesture-recognizer/src/engine/headless/inputEngineBase.ts
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputSequenceSimulator.ts
Owners: @jahorton, @mcdurdin

chore(web): addresses PR review concerns
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/keyboard-processor/src/keyboards/defaultLayouts.ts
  web/src/engine/osk/src/input/gestures/browser/oskSubKey.ts
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
  web/src/engine/osk/src/keyElement.ts
  web/src/engine/osk/src/keyboard-layout/oskKey.ts
Owners: @jahorton, @mcdurdin

docs(web): minor documentation for Web button classes
  common/web/keyboard-processor/src/keyboards/defaultLayouts.ts
Owners: @jahorton, @mcdurdin

chore(web): missed a suggestion previously
  common/web/keyboard-processor/src/keyboards/defaultLayouts.ts
Owners: @jahorton, @mcdurdin

refactor(web): drops WET button-class Web enum
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/keyboard-processor/src/keyboards/defaultLayouts.ts
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file.ts
Owners: @jahorton, @mcdurdin

chore(web): removal of temp console.log statements
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

chore(web): ability to clear gestures, note if modal viz is active
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
  web/src/engine/osk/src/input/gestures/gestureHandler.ts
  web/src/engine/osk/src/input/gestures/heldRepeater.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

chore(linux): rename parameters
  linux/keyman-config/tests/test_ibus_util.py
Owners: @ermshiperete, @darcywong00

limit most log statements to debug mode
  mac/Keyman4Mac/Keyman4Mac/AppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMContext.h
  mac/Keyman4MacIM/Keyman4MacIM/KMContext.m
  mac/Keyman4MacIM/Keyman4MacIM/KMCoreActionHandler.h
  mac/Keyman4MacIM/Keyman4MacIM/KMCoreActionHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodBrowserClientEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandlerProtected.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodSafariClientEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KeySender.m
  mac/Keyman4MacIM/Keyman4MacIM/TextApiCompliance.m
  mac/Keyman4MacIM/KeymanTests/InputMethodTests.m
  mac/Keyman4MacIM/KeymanTests/TestAppDelegate.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/ActionArrayOptimizer.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreHelper.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreHelper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/CoreHelperTests.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/CoreTestStaticHelperMethods.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KMEngineTests.m
Owners: @sgschantz, @SabineSIL

fix(developer): kmc crash on start
  developer/src/kmc/src/commands/analyze.ts
Owners: @mcdurdin, @darcywong00

chore(linux): Add `--open` option to open coverage reports in browser
  docs/linux/README.md
  linux/build.sh
Owners: @mcdurdin, @jahorton, @ermshiperete, @darcywong00

fix(common): ldml test fix 🙀
  common/web/types/src/ldml-keyboard/ldml-keyboard-testdata-xml.ts
  common/web/types/test/ldml-keyboard/test-ldml-keyboard-testdata-reader.ts
Owners: @jahorton, @mcdurdin

fix(common,developer): ldml test fix 🙀
  common/web/types/test/fixtures/test-fr.xml
  common/web/types/test/ldml-keyboard/test-ldml-keyboard-testdata-reader.ts
  developer/src/kmc-ldml/test/fixtures/test-fr.json
  developer/src/kmc-ldml/test/fixtures/test-fr.xml
  developer/src/kmc-ldml/test/test-testdata-e2e.ts
Owners: @jahorton, @mcdurdin, @darcywong00

chore(linux): Unnecessary to check for NULL before calling g_free
  linux/ibus-keyman/src/keymanutil.c
Owners: @ermshiperete, @darcywong00

fix(linux): Fix crash initializing Sentry with Python < 3.10
  linux/keyman-config/keyman_config/sentry_handling.py
Owners: @ermshiperete, @darcywong00

chore(linux): Rename `kbp_state_get_intermediate_context` to `km_core_...`
  core/include/keyman/keyman_core_api.h
  core/src/km_core_state_api.cpp
  core/tests/unit/kmx/kmx_imx.cpp
  linux/debian/libkmnkbp0-0.symbols
  windows/src/engine/keyman32/calldll.cpp
Owners: @mcdurdin, @rc-swag, @ermshiperete, @darcywong00

auto: increment master version to 17.0.193
  HISTORY.md
  VERSION.md
Owners: none

fix(core): ldml update to normalization per review 🙀
  core/src/ldml/ldml_transforms.cpp
Owners: @mcdurdin, @rc-swag

fix(core): ldml update to normalization per review 🙀
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_transforms.hpp
Owners: @mcdurdin, @rc-swag

added logging to learn about menu execution
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
Owners: @sgschantz, @SabineSIL

fix(web): fixes input location mapping for corrections
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

fix(web): cherried fix for input correction mapping
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

refactor(web): first abstraction layer - corrective layout specs
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/keyboard-processor/src/keyboards/correctionLayout.ts
  common/web/keyboard-processor/tsconfig.json
Owners: @jahorton, @mcdurdin

docs(web): a bit of doc-commenting
  common/web/keyboard-processor/src/keyboards/correctionLayout.ts
Owners: @jahorton, @mcdurdin

refactor(web): layer 2 - extraction of correction-probabililty methods
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/keyboard-processor/src/keyboards/correctionLayout.ts
  common/web/keyboard-processor/src/keyboards/corrections.ts
Owners: @jahorton, @mcdurdin

refactor(web): third pass - relocates correction types & methods to input-processor
  common/web/input-processor/src/correctionLayout.ts
  common/web/input-processor/src/corrections.ts
  common/web/input-processor/src/index.ts
  common/web/input-processor/tsconfig.json
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/keyboard-processor/src/keyboards/correctionLayout.ts
  common/web/keyboard-processor/tsconfig.json
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

chore: update vcxproj for proxys to include RC info files
  windows/src/engine/keyman32/keyman32.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj
Owners: @rc-swag, @ermshiperete

feat(web): subkey-menu fat-finger correction
  common/web/input-processor/src/corrections.ts
  common/web/input-processor/src/text/inputProcessor.ts
  common/web/keyboard-processor/src/keyboards/keyboard.ts
  common/web/keyboard-processor/src/text/keyEvent.ts
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
  web/src/engine/osk/src/input/gestures/gestureHandler.ts
  web/src/engine/osk/src/input/gestures/heldRepeater.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

feat(web): notable TODO
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
Owners: @jahorton, @mcdurdin

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
