Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete

Revert "fix(windows): Fix Delphi makefile"
  common/windows/delphi/Makefile
Owners: @mcdurdin, @rc-swag

auto: increment master version to 17.0.138
  HISTORY.md
  VERSION.md
Owners: none

chore(developer): add --color switch to kmc
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/messages/NodeCompilerCallbacks.ts
Owners: @jahorton, @mcdurdin, @darcywong00

chore(developer): handle compilerWarningsAsErrors option
  common/web/types/src/main.ts
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/src/messages/NodeCompilerCallbacks.ts
Owners: @jahorton, @mcdurdin, @darcywong00

chore(developer): unit test for compilerWarningsAsErrors
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/test/fixtures/.gitignore
  developer/src/kmc/test/fixtures/compiler-warnings-as-errors/compiler_warnings_as_errors_false.kpj
  developer/src/kmc/test/fixtures/compiler-warnings-as-errors/compiler_warnings_as_errors_true.kpj
  developer/src/kmc/test/fixtures/compiler-warnings-as-errors/compiler_warnings_as_errors_undefined.kpj
  developer/src/kmc/test/fixtures/compiler-warnings-as-errors/keyboard.kmn
  developer/src/kmc/test/test-build.ts
Owners: @mcdurdin, @darcywong00

fix(developer): touch layout font test should be lower case
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
Owners: @mcdurdin, @darcywong00

chore(developer): suppress excessive messages in kmc
  developer/src/kmc/src/messages/NodeCompilerCallbacks.ts
  developer/src/kmc/src/messages/messages.ts
Owners: @mcdurdin, @darcywong00

feat(windows): Address review comments step1
  windows/src/engine/inst/components.wxs
  windows/src/engine/keyman32-ver/Makefile
  windows/src/engine/keyman32/version.rc
  windows/src/engine/keyman64/keyman64_proxy.cpp
  windows/src/engine/keyman64/version.rc
  windows/src/engine/kmcomapi/com/system/keymancontrol.pas
  windows/src/engine/kmcomapi/util/utilkeyman.pas
Owners: @rc-swag, @ermshiperete

feat(windows): commit review suggestions
  windows/src/engine/keyman32-ver/calldll.cpp
  windows/src/engine/keyman64-ver/Makefile
Owners: @rc-swag, @ermshiperete

Apply suggestions from code review
  resources/standards-data/readme.md
Owners: @mcdurdin, @jahorton

feat(developer): add sentry reporting for kmc
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc/package.json
  developer/src/kmc/src/kmc.ts
  developer/src/kmc/src/util/KeymanSentry.ts
  developer/src/kmc/src/util/baseOptions.ts
  developer/src/kmc/src/util/spawnAwait.ts
  developer/src/kmcmplib/src/CompilerInterfacesWasm.cpp
  developer/src/tools/sentry-upload-difs.sh
  package-lock.json
Owners: @mcdurdin, @darcywong00

feat(linux): mcompile add KMX_Datatypes
  linux/mcompile/keymap/km_types.h
  linux/mcompile/keymap/kmx_file.h
  linux/mcompile/keymap/mc_kmxfile.cpp
  linux/mcompile/keymap/mc_kmxfile.h
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

refactor(linux): Refactor some code
  linux/keyman-config/keyman_config/convertico.py
Owners: @ermshiperete, @darcywong00

fix(linux): Replace deprecated `Image.ANTIALIAS`
  linux/keyman-config/keyman_config/convertico.py
Owners: @ermshiperete, @darcywong00

chore(developer): workaround TS2367
  developer/src/kmc/src/util/KeymanSentry.ts
Owners: @mcdurdin, @darcywong00

feat(linux): mcompile use loadKeyboard->CopyKeyboard for 64bit
  linux/mcompile/keymap/km_types.h
  linux/mcompile/keymap/kmx_file.h
  linux/mcompile/keymap/mc_kmxfile.cpp
  linux/mcompile/keymap/mc_kmxfile.h
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile tidy up code
  linux/mcompile/keymap/mc_kmxfile.cpp
  linux/mcompile/keymap/mc_kmxfile.h
  linux/mcompile/keymap/mcompile.cpp
  linux/mcompile/keymap/mcompile.h
Owners: @ermshiperete, @darcywong00

chore(linux): Add another test
  linux/keyman-config/tests/test_dconf_util.py
Owners: @ermshiperete, @darcywong00

chore(linux): Use different backend for unit tests
  linux/keyman-config/run-tests.sh
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.139
  HISTORY.md
  VERSION.md
Owners: none

chore(common): add BUILDER_STR_REF 🙀
  common/web/types/src/kmx/kmx-plus-builder/build-disp.ts
  common/web/types/src/kmx/kmx-plus-builder/build-elem.ts
  common/web/types/src/kmx/kmx-plus-builder/build-keys.ts
  common/web/types/src/kmx/kmx-plus-builder/build-layr.ts
  common/web/types/src/kmx/kmx-plus-builder/build-list.ts
  common/web/types/src/kmx/kmx-plus-builder/build-loca.ts
  common/web/types/src/kmx/kmx-plus-builder/build-meta.ts
  common/web/types/src/kmx/kmx-plus-builder/build-name.ts
  common/web/types/src/kmx/kmx-plus-builder/build-strs.ts
  common/web/types/src/kmx/kmx-plus-builder/build-tran.ts
  common/web/types/src/kmx/kmx-plus-builder/build-uset.ts
  common/web/types/src/kmx/kmx-plus-builder/build-vars.ts
  common/web/types/src/kmx/kmx-plus-builder/builder-section.ts
  common/web/types/src/kmx/kmx-plus-builder/kmx-plus-builder.ts
  common/web/types/src/kmx/kmx-plus.ts
Owners: @jahorton, @mcdurdin

feat(developer): deploy kmc as ES module
  developer/src/inst/node/kmc.cmd
  developer/src/inst/node/kmlmc.cmd
  developer/src/inst/node/kmlmi.cmd
  developer/src/inst/node/kmlmp.cmd
  developer/src/kmc-model/build.sh
  developer/src/kmc/build-bundler.js
  developer/src/kmc/build.sh
  developer/src/kmc/src/commands/analyze.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildTestData/index.ts
  developer/src/kmc/src/kmlmc.ts
  developer/src/kmc/src/kmlmi.ts
  developer/src/kmc/src/kmlmp.ts
  developer/src/kmc/src/util/KeymanSentry.ts
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
  developer/src/kmc/test/test-messages.ts
  web/common.inc.sh
Owners: @mcdurdin, @darcywong00, @jahorton

feat(windows): address review comments step2
  windows/src/engine/keyman32-ver/calldll.cpp
  windows/src/engine/keyman32-ver/globals.h
  windows/src/engine/keyman32/keyman32_proxy.cpp
  windows/src/engine/keyman64/keyman64_proxy.cpp
Owners: @rc-swag, @ermshiperete

feat(windows): remove files from tracking
  windows/src/engine/keyman32-ver/keyman-debug-etw.h
  windows/src/engine/keyman64-ver/Keyman64-ver.res
  windows/src/engine/keyman64/keyman-debug-etw.h
  windows/src/engine/keyman64/keyman-debug-etw.res
Owners: @rc-swag, @ermshiperete

feat(windows): add files to gitignore
  .gitignore
Owners: none

feat(windows): add refcount
  windows/src/engine/inst/components.wxs
Owners: @rc-swag, @ermshiperete

feat(windows): Address review comments step1
  windows/src/engine/inst/components.wxs
  windows/src/engine/keyman32-ver/Makefile
  windows/src/engine/keyman32/version.rc
  windows/src/engine/keyman64/keyman64_proxy.cpp
  windows/src/engine/keyman64/version.rc
  windows/src/engine/kmcomapi/com/system/keymancontrol.pas
  windows/src/engine/kmcomapi/util/utilkeyman.pas
Owners: @rc-swag, @ermshiperete

feat(windows): address review comments step2
  windows/src/engine/keyman32-ver/calldll.cpp
  windows/src/engine/keyman32-ver/globals.h
  windows/src/engine/keyman32/keyman32_proxy.cpp
  windows/src/engine/keyman64/keyman64_proxy.cpp
Owners: @rc-swag, @ermshiperete

feat(windows): remove files from tracking
  windows/src/engine/keyman32-ver/keyman-debug-etw.h
  windows/src/engine/keyman64-ver/Keyman64-ver.res
  windows/src/engine/keyman64/keyman-debug-etw.h
  windows/src/engine/keyman64/keyman-debug-etw.res
Owners: @rc-swag, @ermshiperete

feat(windows): add files to gitignore
  .gitignore
Owners: none

feat(windows): add refcount
  windows/src/engine/inst/components.wxs
Owners: @rc-swag, @ermshiperete

chore(developer): fix tests and linting
  developer/src/kmc/.eslintrc.cjs
  developer/src/kmc/build.sh
  developer/src/kmc/test/test-messages.ts
Owners: @mcdurdin, @darcywong00

fix(developer): use relative paths in kmc messages
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
Owners: @mcdurdin, @darcywong00

feat(web): draft design for gesture model definition + processing
  common/web/gesture-recognizer/src/engine/configuration/gestureRecognizerConfiguration.ts
  common/web/gesture-recognizer/src/engine/configuration/itemIdentifier.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/index.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/inputModel.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/pathModel.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/pointModel.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/engine/headless/trackedInput.ts
  common/web/gesture-recognizer/src/engine/headless/trackedPath.ts
  common/web/gesture-recognizer/src/engine/headless/trackedPoint.ts
Owners: @jahorton, @mcdurdin

refactor(common): bundle schemas into web/types
  common/web/types/.gitignore
  common/web/types/build.sh
  common/web/types/src/kpj/kpj-file-reader.ts
  common/web/types/src/kvk/kvks-file-reader.ts
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/src/main.ts
  common/web/types/src/schemas.ts
  common/web/types/src/util/compiler-interfaces.ts
  common/web/types/test/helpers/TestCompilerCallbacks.ts
  common/web/types/test/helpers/index.ts
  common/web/types/test/helpers/reader-callback-test.ts
  common/web/types/test/kpj/test-kpj-file-reader.ts
  common/web/types/test/kvk/test-kvk-round-trip.ts
  common/web/types/test/kvk/test-kvks-file.ts
  common/web/types/tsconfig.json
Owners: @jahorton, @mcdurdin

chore(web): minor nomenclature cleanup
  common/web/gesture-recognizer/src/engine/headless/gestures/inputModel.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/pointModel.ts
Owners: @jahorton, @mcdurdin

fix(web): spec for simple touch -> multitouch when triggered by second touch
  common/web/gesture-recognizer/src/engine/headless/gestures/inputModel.ts
Owners: @jahorton, @mcdurdin

chore(common): additional cleanup on schema loading
  common/web/types/src/osk/osk.ts
  common/web/types/test/kpj/test-kpj-file-reader.ts
  developer/src/common/web/test-helpers/index.ts
  developer/src/kmc-analyze/src/osk-rewrite-pua/index.ts
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-ldml/build.sh
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-ldml/test/helpers/index.ts
  developer/src/kmc-ldml/test/test-compiler-e2e.ts
  developer/src/kmc/build.sh
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
Owners: @jahorton, @mcdurdin, @darcywong00

chore(web): Apply suggestions from code review
  common/web/utils/src/timeoutPromise.ts
Owners: @jahorton, @mcdurdin

chore(developer): move touch layout schema load into import
  common/web/types/build.sh
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file-reader.ts
  common/web/types/src/schemas.ts
  common/web/types/test/helpers/index.ts
  common/web/types/test/keyman-touch-layout/test-keyman-touch-layout-file-reader.ts
Owners: @jahorton, @mcdurdin
