Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

fix(linux): Output not connected ibus as info instead of warning
  linux/keyman-config/keyman_config/ibus_util.py
Owners: @ermshiperete, @darcywong00

chore(core): scale back kmxplus debugging 🙀
  core/src/kmx/kmx_plus.cpp
  core/src/ldml/ldml_transforms.cpp
Owners: @mcdurdin, @rc-swag

auto: increment master version to 17.0.145
  HISTORY.md
  VERSION.md
Owners: none

fix(web): missed a closing bracket in suggestion
  web/src/engine/package-cache/src/keyboardRequisitioner.ts
Owners: @jahorton, @mcdurdin

fix(web): eventemitter import style affected unit test
  web/src/engine/package-cache/src/cloud/queryEngine.ts
Owners: @jahorton, @mcdurdin

auto: increment stable-16.0 version to 16.0.141
  HISTORY.md
  VERSION.md
Owners: none

chore: address review comments
  developer/src/common/include/kmn_compiler_errors.h
Owners: @mcdurdin, @darcywong00

chore(developer): remove errant baseUrl tsconfig
  developer/src/kmc-model-info/tsconfig.json
Owners: @mcdurdin, @darcywong00

chore(developer): fixup broken import
  developer/src/kmc/src/commands/buildClasses/BuildModelInfo.ts
Owners: @mcdurdin, @darcywong00

feat(core): fix UMR in Uset 🙀
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/kmx/kmx_xstring.h
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/tests/unit/kmnkbd/test_kmx_xstring.cpp
  core/tests/unit/ldml/test_transforms.cpp
Owners: @mcdurdin, @rc-swag

feat(core): fix testing string 🙀
  core/src/kmx/kmx_xstring.h
Owners: @mcdurdin, @rc-swag

chore(core): improve validity check on transform 🙀
  core/src/kmx/kmx_plus.cpp
  core/src/ldml/ldml_transforms.cpp
Owners: @mcdurdin, @rc-swag

auto: increment master version to 17.0.146
  HISTORY.md
  VERSION.md
Owners: none

feat(linux): mcompile commentary in keymap.cpp/h
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile tidy up
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/mcompile.cpp
  linux/mcompile/keymap/meson.build
Owners: @ermshiperete, @darcywong00

feat(windows): update gitignore
  .gitignore
Owners: none

refactor(developer): move keyman-targets.ts to common/web/types
  common/web/types/src/kmx/keyman-targets.ts
  common/web/types/src/kmx/kmx-file-reader.ts
  common/web/types/src/kmx/kmx.ts
  common/web/types/src/main.ts
  common/web/types/test/kmx/test-keyman-targets.ts
  developer/src/kmc-package/src/compiler/package-keyboard-target-validator.ts
Owners: @jahorton, @mcdurdin, @darcywong00

chore(developer): use keymanTargetsFromString in kmc-package
  developer/src/kmc-package/src/compiler/package-keyboard-target-validator.ts
Owners: @mcdurdin, @darcywong00

feat(developer): introduce kmc-keyboard-info
  developer/build.sh
  developer/src/Makefile
  developer/src/kmc-keyboard-info/Makefile
  developer/src/kmc-keyboard-info/build.sh
  developer/src/kmc-keyboard-info/package.json
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-keyboard-info/src/keyboard-info-file.ts
  developer/src/kmc-keyboard-info/src/messages.ts
  developer/src/kmc-keyboard-info/src/min-keyman-version.ts
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/build/khmer_angkor.js
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/build/khmer_angkor.keyboard_info
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/build/khmer_angkor.kmx
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/build/khmer_angkor.kvk
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/khmer_angkor.keyboard_info
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/khmer_angkor.kpj
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/source/khmer_angkor.kps
  developer/src/kmc-keyboard-info/test/helpers/index.ts
  developer/src/kmc-keyboard-info/test/test-keyboard-info-compiler.ts
  developer/src/kmc-keyboard-info/test/tsconfig.json
  developer/src/kmc-keyboard-info/tsconfig.json
  developer/src/kmc-model-info/src/model-info-file.ts
  developer/src/kmc/build.sh
  developer/src/kmc/package.json
  developer/src/kmc/tsconfig.json
  package.json
  tsconfig.esm.json
Owners: @mcdurdin, @darcywong00

feat(windows): update reference to keyman-debug-etw.h
  windows/src/engine/keyman32-ver/DebugEventTrace.cpp
  windows/src/engine/keyman32-ver/calldll.cpp
  windows/src/engine/keyman32-ver/keyman32-ver.vcxproj
  windows/src/engine/keyman32-ver/keyman32-ver.vcxproj.filters
  windows/src/engine/keyman64-ver/keyman64-ver.vcxproj
  windows/src/engine/keyman64-ver/keyman64-ver.vcxproj.filters
Owners: @rc-swag, @ermshiperete

fix(web): missed a nodejs timeout edge case
  common/web/utils/src/test/timeoutPromise.js
Owners: @jahorton, @mcdurdin

fix(web): missed another affected case
  common/web/utils/src/test/timeoutPromise.js
Owners: @jahorton, @mcdurdin

feat(linux): new functions KMX_VKUSToVKUnderlyingLayout and KMX_CharFromVK; return correct char
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

feature-(linux): mcompile remove unneccassary code
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

feature-(linux): mcompile remove more unneccassary code
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/mc_kmxfile.cpp
Owners: @ermshiperete, @darcywong00

docs(core): Document how to build Core on Linux
  docs/build/linux-ubuntu.md
  docs/linux/README.md
  linux/Dockerfile
  linux/keyman-system-service/README.md
Owners: @mcdurdin, @jahorton, @ermshiperete, @darcywong00

auto: increment master version to 17.0.147
  HISTORY.md
  VERSION.md
Owners: none

feat(windows): WIP add external event kmx_processor
  core/src/kmx/kmx_processevent.h
  core/src/kmx/kmx_processor.cpp
  core/src/kmx/kmx_processor.hpp
  windows/src/engine/keyman32/selectkeyboard.cpp
Owners: @mcdurdin, @rc-swag, @ermshiperete

chore: Create windows-upgrades.md
  windows/src/windows-upgrades.md
Owners: @rc-swag, @ermshiperete

chore(mac): use mac cp for -R ops
  ios/samples/build_common.sh
  mac/Keyman4MacIM/localdeploy.sh
  mac/Keyman4MacIM/make-km-dmg.sh
  mac/setup/build.sh
  oem/firstvoices/ios/build_common.sh
Owners: @sgschantz, @jahorton, @SabineSIL

fix(mac): fix corrupt installer
  mac/Keyman4MacIM/make-km-dmg.sh
Owners: @sgschantz, @SabineSIL

auto: increment stable-16.0 version to 16.0.142
  HISTORY.md
  VERSION.md
Owners: none

chore(linux): Update debian changelog
  linux/debian/changelog
Owners: @ermshiperete, @darcywong00

chore(linux): Update debian changelog
  linux/debian/changelog
Owners: @ermshiperete, @darcywong00

feat(developer): implement kmc keyboard_info compiler
  common/web/types/src/kmx/kmx-file-reader.ts
  developer/src/kmc-keyboard-info/.gitignore
  developer/src/kmc-keyboard-info/build.sh
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-keyboard-info/tsconfig.json
  developer/src/kmc-model-info/src/model-info-compiler.ts
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
  developer/src/kmc/test/test-build.ts
  package-lock.json
Owners: @jahorton, @mcdurdin, @darcywong00

chore(web): cleans up test-resource import path
  common/web/gesture-recognizer/package.json
  common/web/gesture-recognizer/src/test/auto/headless/gesturePath.js
  common/web/gesture-recognizer/src/test/auto/headless/pathStats.ts
  common/web/gesture-recognizer/src/test/auto/headless/recordedSegmentations.js
  common/web/gesture-recognizer/src/test/auto/tsconfig.json
Owners: @jahorton, @mcdurdin

change(web): turtle.wait uses similar pattern to turtle.move again
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/touchpathTurtle.ts
Owners: @jahorton, @mcdurdin

change(web): generic typing for path-stats
  common/web/gesture-recognizer/src/engine/headless/cumulativePathStats.ts
  common/web/gesture-recognizer/src/engine/headless/gesturePath.ts
Owners: @jahorton, @mcdurdin

feat(web): gesture path snapshots ( segmenting on state transition)
  common/web/gesture-recognizer/src/engine/headless/complexGestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/pathMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/simpleGestureSource.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/pathMatcher.spec.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessInputEngine.ts
Owners: @jahorton, @mcdurdin

chore(developer): dep ref for kmc-keyboard-info configure
  developer/src/kmc-keyboard-info/build.sh
Owners: @mcdurdin, @darcywong00

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
