Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

auto: increment master version to 17.0.153
  HISTORY.md
  VERSION.md
Owners: none

spec(core,developer): update marker spec 🙀
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/src/kmx/kmx_plus.h
  core/src/ldml/C9134_ldml_markers.md
  developer/src/kmc-ldml/test/test-vars.ts
Owners: @jahorton, @mcdurdin, @rc-swag, @darcywong00

chore(developer): improve code coverage 30% 🙀
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
Owners: @jahorton, @mcdurdin

Apply suggestions from code review
  core/include/ldml/keyboardprocessor_ldml.ts
Owners: @mcdurdin, @rc-swag

Apply suggestions from code review
  windows/src/desktop/help/about/requirements.md
  windows/src/desktop/help/common/os.md
Owners: @rc-swag, @ermshiperete

feat(core): starting in on marker implementation 🙀
  core/tests/unit/ldml/keyboards/k_210_marker-test.xml
  core/tests/unit/ldml/keyboards/k_210_marker.xml
  core/tests/unit/ldml/keyboards/meson.build
Owners: @mcdurdin, @rc-swag

refactor(web): drops ComplexGestureSource
  common/web/gesture-recognizer/src/engine/headless/complexGestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
Owners: @jahorton, @mcdurdin

refactor(web): fixes test + JS/TS test resources per last commit
  common/web/gesture-recognizer/src/test/auto/browser/cases/canary.js
  common/web/gesture-recognizer/src/test/auto/browser/cases/recordedCoordSequences.js
  common/web/gesture-recognizer/src/test/auto/headless/gesturePath.js
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedGestureSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/recordedSegmentations.js
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessInputEngine.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputRecording.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputSequenceSimulator.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/sequenceRecorder.ts
Owners: @jahorton, @mcdurdin

fix(web): fixes prerecorded test fixtures
  common/web/gesture-recognizer/src/test/resources/json/receiver/basicMultitouch.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/desktopRoamAndReturn.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/embeddedBorderCancel.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/hardBorderCancel.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/mobileProximityApproach.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/mobileSafeZoneCancel.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/popupLongRoamingEnd.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/popupSafePersistence.json
  common/web/gesture-recognizer/src/test/resources/json/receiver/popupShimCancel.json
  common/web/gesture-recognizer/src/test/resources/json/segmentation/flick_ne_se.json
  common/web/gesture-recognizer/src/test/resources/json/segmentation/longpress_to_ne.json
  common/web/gesture-recognizer/src/test/resources/json/segmentation/nonstationary_hold.json
  common/web/gesture-recognizer/src/test/resources/json/segmentation/quick_small_square.json
  common/web/gesture-recognizer/src/test/resources/json/segmentation/simple_ne_move.json
Owners: @jahorton, @mcdurdin

commented out failing unit test
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KMEngineTests.m
Owners: @sgschantz, @SabineSIL

feat(windows): add ProcessActionsExternalEvent
  core/tests/unit/kmx/kmx_external_event.cpp
  windows/src/engine/keyman32/kmprocessactions.cpp
  windows/src/engine/keyman32/kmprocessactions.h
  windows/src/engine/keyman32/selectkeyboard.cpp
Owners: @mcdurdin, @rc-swag, @ermshiperete

fix(web): forgot to target es5 when minifying polyfilled worker
  common/web/lm-worker/build-wrap-and-minify.js
Owners: @jahorton, @mcdurdin

feat(windows): apply suggestions from code review
  core/src/kmx/kmx_processevent.h
  core/src/kmx/kmx_processor.cpp
Owners: @mcdurdin, @rc-swag

feat(windows): typos
  core/tests/unit/kmnkbd/action_items.hpp
  core/tests/unit/kmx/kmx_external_event.cpp
Owners: @mcdurdin, @rc-swag

chore(web): Apply suggestions from code review
  web/src/app/browser/src/contextManager.ts
Owners: @jahorton, @mcdurdin

chore(common): Update crowdin GHA to trigger daily
  .github/workflows/crowdin.yml
Owners: none

chore(linux): Fix memory leaks
  linux/ibus-keyman/src/main.c
Owners: @ermshiperete, @darcywong00

fix(linux): Get name, not version
  linux/ibus-keyman/src/keymanutil.c
Owners: @ermshiperete, @darcywong00

chore(developer): test fix
  developer/src/kmc-ldml/test/test-vars.ts
Owners: @mcdurdin, @darcywong00

chore(developer): test fix
  developer/src/kmc-ldml/test/test-vars.ts
Owners: @mcdurdin, @darcywong00

auto: increment master version to 17.0.154
  HISTORY.md
  VERSION.md
Owners: none

feat(core): steps in marker imp 🙀
  core/tests/unit/ldml/keyboards/k_210_marker.xml
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/vars.ts
  developer/src/kmc-ldml/test/fixtures/basic.txt
  developer/src/kmc-ldml/test/fixtures/sections/keys/markers.xml
  developer/src/kmc-ldml/test/test-keys.ts
Owners: @mcdurdin, @rc-swag, @darcywong00

feat(core): improve processing logic 🙀
  core/src/ldml/ldml_processor.cpp
Owners: @mcdurdin, @rc-swag

feat(developer): fix basic.txt for updated markers 🙀
  developer/src/kmc-ldml/test/fixtures/basic.txt
Owners: @mcdurdin, @darcywong00

feat(core): refactor char emit 🙀
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_processor.hpp
Owners: @mcdurdin, @rc-swag

feat(core): refactor sentinel 🙀
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_processor.hpp
Owners: @mcdurdin, @rc-swag

Apply suggestions from code review
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  core/include/ldml/keyboardprocessor_ldml.ts
  core/src/kmx/kmx_plus.h
Owners: @jahorton, @mcdurdin, @rc-swag

spec(core): update per code review 🙀
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/src/kmx/kmx_plus.h
  developer/src/kmc-ldml/test/test-vars.ts
Owners: @jahorton, @mcdurdin, @rc-swag, @darcywong00

chore(common): Update history.md with 16.0 stable entries
  HISTORY.md
Owners: none

chore(web): cleans up remaining artifacts from having spun off from later work
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/test/auto/browser/cases/canary.js
Owners: @jahorton, @mcdurdin

chore(web): ~~Simple~~GestureSource
  common/web/gesture-recognizer/docs/web-reintegration.md
  common/web/gesture-recognizer/src/engine/headless/gestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/pathMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/inputEngineBase.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  common/web/gesture-recognizer/src/engine/mouseEventEngine.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/pathMatcher.spec.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessInputEngine.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputRecording.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputSequenceSimulator.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/sequenceRecorder.ts
Owners: @jahorton, @mcdurdin

auto: increment master version to 17.0.155
  HISTORY.md
  VERSION.md
Owners: none

feat(core): re-refactor transform processing logic 🙀
  core/src/ldml/ldml_processor.cpp
Owners: @mcdurdin, @rc-swag

feat(core): remove reference to CODE_DEADKEY 🙀
  core/src/ldml/ldml_processor.cpp
Owners: @mcdurdin, @rc-swag

feat(core): warning fix 🙀
  core/src/ldml/ldml_processor.cpp
Owners: @mcdurdin, @rc-swag

feat(core): improve emit_text() marker processing loop 🙀
  core/src/ldml/ldml_processor.cpp
Owners: @mcdurdin, @rc-swag

feat(core): improve documentation on transform/marker processing loop 🙀
  core/src/ldml/ldml_processor.cpp
Owners: @mcdurdin, @rc-swag

auto: increment master version to 17.0.156
  HISTORY.md
  VERSION.md
Owners: none

feat(windows): review suggestions
  core/src/kmx/kmx_processor.cpp
  core/tests/unit/kmx/kmx_external_event.cpp
  windows/src/engine/keyman32/kmprocessactions.cpp
  windows/src/engine/keyman32/kmprocessactions.h
Owners: @mcdurdin, @rc-swag, @ermshiperete

refactor(web): fixes unit-test helper func name, puts in own script
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
  common/web/gesture-recognizer/src/test/resources/simulateMultiSourceInput.ts
Owners: @jahorton, @mcdurdin

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
