Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

fix(common): update keyman for removal of vkeys 🙀
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  core/tests/unit/ldml/keyboards/k_020_fr.xml
Owners: @jahorton, @mcdurdin, @rc-swag

feat(common): scancode - skip test to validate prior changes🙀
  common/web/types/test/ldml-keyboard/test-ldml-keyboard-xml-reader.ts
Owners: @jahorton, @mcdurdin

feat(developer): ldml dynamic scancodes 🙀
  common/web/types/src/consts/virtual-key-constants.ts
  common/web/types/test/ldml-keyboard/test-ldml-keyboard-xml-reader.ts
Owners: @jahorton, @mcdurdin

feat(developer): ldml dynamic scancodes 🙀
  common/web/types/test/ldml-keyboard/test-ldml-keyboard-xml-reader.ts
Owners: @jahorton, @mcdurdin

chore(web): Apply suggestions from code review
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
Owners: @jahorton, @mcdurdin

chore(web): Apply suggestions from code review
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
Owners: @jahorton, @mcdurdin

chore(android): Clenaup keyboard harness package
  android/Tests/KeyboardHarness/app/src/main/assets/keyboardharness.kmp
  android/Tests/KeyboardHarness/readme.md
Owners: @darcywong00, @sgschantz

fix(web): stateToken forwarding
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
Owners: @jahorton, @mcdurdin

chore(linux): Address code review comments
  linux/ibus-keyman/src/keymanutil.c
  linux/ibus-keyman/src/test/keymanutil_tests.c
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile start of translate key
  linux/mcompile/keymap/mc_import_rules.cpp
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile in translate key open functions+rename to KMX_... -> program will run but won`t give the right results yet
  linux/mcompile/keymap/mc_import_rules.cpp
  linux/mcompile/keymap/mcompile.cpp
  linux/mcompile/keymap/mcompile.h
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile in translate key more open functions+rename to KMX_...
  linux/mcompile/keymap/mc_import_rules.cpp
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.184
  HISTORY.md
  VERSION.md
Owners: none

feat(common): scancode - generate scancode.ts 🙀
  common/web/types/src/consts/virtual-key-constants.ts
  common/web/types/test/ldml-keyboard/test-ldml-keyboard-xml-reader.ts
Owners: @jahorton, @mcdurdin

feat(common): scancode - confirming that the calculated scancodes are the same 🙀
  common/web/types/src/consts/virtual-key-constants.ts
  common/web/types/test/ldml-keyboard/test-ldml-keyboard-xml-reader.ts
Owners: @jahorton, @mcdurdin

chore(core): use sourcemaps when calling kmc for tests
  core/tests/unit/kmx/meson.build
  core/tests/unit/ldml/keyboards/meson.build
Owners: @mcdurdin, @rc-swag

feat(common): scancode - move vkey map generation into KeysCompiler 🙀
  common/web/types/src/kvk/kvk-file.ts
  common/web/types/test/ldml-keyboard/test-ldml-keyboard-xml-reader.ts
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/visual-keyboard-compiler.ts
Owners: @jahorton, @mcdurdin, @darcywong00

feat(developer): scancode and forms 🙀
  common/web/types/src/consts/virtual-key-constants.ts
  common/web/types/src/kmx/kmx-plus-builder/build-layr.ts
  common/web/types/src/kmx/kmx-plus.ts
  common/web/types/test/ldml-keyboard/test-ldml-keyboard-xml-reader.ts
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/src/ldml/C7043_ldml.md
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/layr.ts
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/test/fixtures/basic.txt
  developer/src/kmc-ldml/test/fixtures/sections/layr/error-custom-us-form.xml
  developer/src/kmc-ldml/test/fixtures/sections/layr/error-custom-zzz-form.xml
  developer/src/kmc-ldml/test/fixtures/sections/layr/warn-custom-us-form.xml
  developer/src/kmc-ldml/test/fixtures/sections/layr/warn-custom-zzz-form.xml
  developer/src/kmc-ldml/test/test-keys.ts
  developer/src/kmc-ldml/test/test-layr.ts
Owners: @jahorton, @mcdurdin, @rc-swag, @darcywong00

chore: Apply suggestions from code review
  docs/build/old/core-desktop-notes.md
Owners: @mcdurdin, @jahorton

chore: Apply suggestions from code review
  docs/build/old/core-desktop-notes.md
Owners: @mcdurdin, @jahorton

chore: Apply suggestions from code review
  developer/src/test/auto/kmcomp/Makefile
Owners: @mcdurdin, @darcywong00

feat(developer): show an INFO message when warnings have failed a build
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/messages/infrastructureMessages.ts
  developer/src/kmc/test/test-infrastructureMessages.ts
Owners: @mcdurdin, @darcywong00

chore(developer): reduce duplicate words warning to hint
  developer/src/kmc-model/src/build-trie.ts
  developer/src/kmc-model/src/model-compiler-errors.ts
  developer/src/kmc-model/test/test-parse-wordlist.ts
Owners: @mcdurdin, @darcywong00

chore(web): drops GestureModel itemPriority (unused)
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/gestureModel.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedGestureSpecs.ts
Owners: @jahorton, @mcdurdin

feat(web): ensures source responsible for item selection listed first in stage-report
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
Owners: @jahorton, @mcdurdin

fix(web): gesture-engine - forcibly unique-ifies ALL input types via internal id mapping
  common/web/gesture-recognizer/src/engine/headless/inputEngineBase.ts
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  common/web/gesture-recognizer/src/engine/mouseEventEngine.ts
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessInputEngine.ts
Owners: @jahorton, @mcdurdin

fix(web): touch id uniquification, source interruption recovery
  common/web/gesture-recognizer/src/engine/headless/gesturePath.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/gestureModel.ts
  common/web/gesture-recognizer/src/engine/headless/inputEngineBase.ts
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/touchpointCoordinator.spec.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessInputEngine.ts
Owners: @jahorton, @mcdurdin

feat(developer): support `store(&version) '17.0'`
  common/include/kmx_file.h
  common/web/types/src/kmx/kmx.ts
  common/windows/cpp/include/legacy_kmx_file.h
  common/windows/delphi/keyboards/kmxfileconsts.pas
  developer/src/kmc-kmn/test/fixtures/features/version_160.kmn
  developer/src/kmc-kmn/test/fixtures/features/version_170.kmn
  developer/src/kmc-kmn/test/test-features.ts
  developer/src/kmcmplib/src/Compiler.cpp
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMBinaryFileFormat.h
Owners: @mcdurdin, @rc-swag, @jahorton, @darcywong00, @sgschantz, @SabineSIL

feat(developer): issue hint if package includes keyboard source files
  developer/src/kmc-package/src/compiler/messages.ts
  developer/src/kmc-package/src/compiler/package-validation.ts
  developer/src/kmc-package/test/fixtures/invalid/error_package_must_contain_a_model_or_a_keyboard.kps
  developer/src/kmc-package/test/fixtures/invalid/example.txt
  developer/src/kmc-package/test/fixtures/invalid/hint_source_file_should_not_be_in_package.kps
  developer/src/kmc-package/test/test-messages.ts
Owners: @mcdurdin, @darcywong00

fix(web): bad test-mock internal-id lookup
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessInputEngine.ts
Owners: @jahorton, @mcdurdin

Actualizar virtual-key-constants.ts
  common/web/types/src/consts/virtual-key-constants.ts
Owners: @jahorton, @mcdurdin

feat(linux): mcompile use mapping Lin-Win that is available already in keyman
  linux/mcompile/keymap/README.md
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
Owners: @ermshiperete, @darcywong00

feat(developer): scancode and forms 🙀
  common/web/types/src/consts/virtual-key-constants.ts
  common/web/types/test/ldml-keyboard/test-ldml-keyboard-xml-reader.ts
  developer/src/kmc-ldml/test/test-virtual-key-constants.ts
Owners: @jahorton, @mcdurdin, @darcywong00

auto: increment master version to 17.0.185
  HISTORY.md
  VERSION.md
Owners: none

feat(developer): scancode and forms 🙀
  common/web/types/src/consts/virtual-key-constants.ts
  common/web/types/test/ldml-keyboard/test-ldml-keyboard-xml-reader.ts
Owners: @jahorton, @mcdurdin

fix(web): multitouch emulation for DOM-based auto-tests needed updating
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
  common/web/gesture-recognizer/src/test/auto/browser/cases/canary.js
  common/web/gesture-recognizer/src/test/auto/browser/cases/ignoredInputs.js
  common/web/gesture-recognizer/src/test/resources/json/receiver/basicMultitouch.json
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputSequenceSimulator.ts
Owners: @jahorton, @mcdurdin

chore(developer): add test for checkFilenameConventions == false or unset
  developer/src/kmc-package/test/fixtures/invalid/my_file.PDF
  developer/src/kmc-package/test/test-messages.ts
Owners: @mcdurdin, @darcywong00

chore(developer): switch on code coverage reporting for kmc
  developer/src/kmc/build.sh
Owners: @mcdurdin, @darcywong00

refactor(web): KMW use of common touch-layout typing defs
  common/web/keyboard-processor/build.sh
  common/web/keyboard-processor/package.json
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/keyboard-processor/src/keyboards/defaultLayouts.ts
  common/web/keyboard-processor/src/keyboards/keyboard.ts
  common/web/keyboard-processor/tsconfig.json
  package-lock.json
  web/src/engine/osk/src/keyboard-layout/oskKey.ts
Owners: @jahorton, @mcdurdin

refactor(web): drops OSKKeySpec type
  web/src/engine/osk/src/index.ts
  web/src/engine/osk/src/input/gestures/browser/oskSubKey.ts
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
  web/src/engine/osk/src/keyElement.ts
  web/src/engine/osk/src/keyboard-layout/oskBaseKey.ts
  web/src/engine/osk/src/keyboard-layout/oskKey.ts
  web/src/engine/osk/src/keyboard-layout/oskRow.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
