Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

feat(web): auto-test for selection of simple tap (diff key) over multitap
  common/web/gesture-recognizer/src/engine/headless/gestureSource.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/matcherSelector.spec.ts
  common/web/gesture-recognizer/src/test/resources/simulateMultiSourceInput.ts
Owners: @jahorton, @mcdurdin

auto: increment master version to 17.0.160
  HISTORY.md
  VERSION.md
Owners: none

feat(core): limit max marker to 0xD7FF 🙀
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/src/ldml/C9134_ldml_markers.md
Owners: @mcdurdin, @rc-swag

feat(core): marker validation 🙀
  core/src/kmx/kmx_plus.h
  core/src/ldml/ldml_processor.cpp
Owners: @mcdurdin, @rc-swag

Apply suggestions from code review
  core/src/meson.build
Owners: @mcdurdin, @rc-swag

chore(core): regex cleanup 🙀
  core/src/ldml/ldml_transforms.cpp
Owners: @mcdurdin, @rc-swag

feat(core): regex cleanup 🙀
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
Owners: @mcdurdin, @rc-swag

feat(core): icu build fix 🙀
  core/subprojects/packagefiles/icu/meson.build
Owners: @mcdurdin, @rc-swag

feat(developer): description, font and example metadata in packages
  common/schemas/kps/kps.xsd
  common/web/types/src/package/kmp-json-file.ts
  common/web/types/src/package/kps-file.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/test/fixtures/kmp_2.0/khmer_angkor.js
  developer/src/kmc-package/test/fixtures/kmp_2.0/khmer_angkor.kmx
  developer/src/kmc-package/test/fixtures/kmp_2.0/khmer_angkor.kps
  developer/src/kmc-package/test/fixtures/kmp_2.0/kmp.json
  developer/src/kmc-package/test/test-package-compiler.ts
Owners: @mcdurdin, @jahorton, @darcywong00

chore(developer): fix casing
  common/web/types/src/package/kps-file.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
Owners: @jahorton, @mcdurdin, @darcywong00

chore(developer): fix casing
  developer/src/kmc-package/test/fixtures/kmp_2.0/khmer_angkor.kps
Owners: @mcdurdin, @darcywong00

feat(developer): add editor of Package Description and Examples
  common/windows/delphi/packages/PackageInfo.pas
  developer/src/tike/child/UfrmPackageEditor.dfm
  developer/src/tike/child/UfrmPackageEditor.pas
  developer/src/tike/dialogs/examples/Keyman.Developer.UI.UfrmEditLanguageExample.dfm
  developer/src/tike/dialogs/examples/Keyman.Developer.UI.UfrmEditLanguageExample.pas
  developer/src/tike/help/Keyman.Developer.System.HelpTopics.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
Owners: @mcdurdin, @rc-swag, @darcywong00

feat(developer): add relatedPackages metadata
  common/schemas/kps/kps.xsd
  common/web/types/src/package/kmp-json-file.ts
  common/web/types/src/package/kps-file.ts
  common/windows/delphi/packages/PackageInfo.pas
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/test/fixtures/kmp_2.0/khmer_angkor.kps
  developer/src/kmc-package/test/fixtures/kmp_2.0/kmp.json
  developer/src/tike/child/UfrmPackageEditor.dfm
  developer/src/tike/child/UfrmPackageEditor.pas
  developer/src/tike/dialogs/examples/Keyman.Developer.UI.UfrmEditLanguageExample.pas
  developer/src/tike/dialogs/relatedPackages/Keyman.Developer.UI.UfrmEditRelatedPackage.dfm
  developer/src/tike/dialogs/relatedPackages/Keyman.Developer.UI.UfrmEditRelatedPackage.pas
  developer/src/tike/help/Keyman.Developer.System.HelpTopics.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
Owners: @mcdurdin, @jahorton, @rc-swag, @darcywong00

chore(developer): tweak Relationship values
  common/windows/delphi/packages/PackageInfo.pas
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
Owners: @mcdurdin, @rc-swag, @darcywong00

auto: increment master version to 17.0.161
  HISTORY.md
  VERSION.md
Owners: none

feat(core): icu build fix 🙀
  core/subprojects/packagefiles/icu/meson.build
  core/subprojects/packagefiles/icu/source/common/meson.build
  core/subprojects/packagefiles/icu/source/i18n/meson.build
Owners: @mcdurdin, @rc-swag

successfully loading setting options in core -- not behaving predictably until null terminator added
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreHelper.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreHelper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/CoreHelperTests.m
Owners: @sgschantz, @SabineSIL

feat(developer): add web font references to package
  common/schemas/kps/kps.xsd
  common/web/types/src/package/kmp-json-file.ts
  common/web/types/src/package/kps-file.ts
  common/windows/delphi/general/utilfiletypes.pas
  common/windows/delphi/packages/PackageInfo.pas
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/test/fixtures/kmp_2.0/DejaVuSans.ttf
  developer/src/kmc-package/test/fixtures/kmp_2.0/khmer_angkor.kps
  developer/src/kmc-package/test/fixtures/kmp_2.0/kmp.json
  developer/src/tike/child/UfrmPackageEditor.dfm
  developer/src/tike/child/UfrmPackageEditor.pas
  developer/src/tike/dialogs/packageWebFonts/Keyman.Developer.UI.UfrmEditPackageWebFonts.dfm
  developer/src/tike/dialogs/packageWebFonts/Keyman.Developer.UI.UfrmEditPackageWebFonts.pas
  developer/src/tike/help/Keyman.Developer.System.HelpTopics.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
Owners: @mcdurdin, @jahorton, @rc-swag, @darcywong00

chore: update unit test - will be removed later
  developer/src/test/auto/keyboard-info/test-invalid-language-code.keyboard_info
  developer/src/test/auto/keyboard-info/test-non-canonical-language-code.keyboard_info
  developer/src/test/auto/keyboard-info/test.bat
Owners: @mcdurdin, @darcywong00

feat(linux): mcompile open ReportUnconvertedKeyboardRules()
  linux/mcompile/keymap/mcompile.cpp
  linux/mcompile/keymap/mcompile.h
Owners: @ermshiperete, @darcywong00

chore(window): fix windows build for ICU 🙀
  windows/src/engine/keyman32/keyman32.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj
Owners: @rc-swag, @ermshiperete

chore(developer): remove fonts sidetrack
  common/web/types/src/package/kmp-json-file.ts
Owners: @jahorton, @mcdurdin

chore(web): Update keymanweb-osk.ttf to 3.0
  web/src/resources/osk/keymanweb-osk.ttf
Owners: @jahorton, @mcdurdin

feat(developer): add LicenseFile as property of package
  common/schemas/kps/kps.xsd
  common/web/types/src/package/kmp-json-file.ts
  common/web/types/src/package/kps-file.ts
  common/windows/delphi/packages/PackageInfo.pas
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmconvert/Keyman.Developer.System.KeyboardProjectTemplate.pas
  developer/src/kmconvert/Keyman.Developer.System.ModelProjectTemplate.pas
  developer/src/tike/child/UfrmPackageEditor.dfm
  developer/src/tike/child/UfrmPackageEditor.pas
Owners: @mcdurdin, @jahorton, @rc-swag, @darcywong00

chore(developer): cleanup keyboard_info schema
  common/schemas/keyboard_info/keyboard_info.schema.json
  common/web/types/build.sh
  common/web/types/src/schemas.ts
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-keyboard-info/src/keyboard-info-file.ts
Owners: @mcdurdin, @jahorton, @darcywong00

EnginePostInstall: Find directory path, create directory, and create file
  windows/src/engine/inst-cpp/Debug/dllmain.obj
  windows/src/engine/inst-cpp/Debug/inst-cpp.tlog/CL.command.1.tlog
  windows/src/engine/inst-cpp/Debug/inst-cpp.tlog/CL.read.1.tlog
  windows/src/engine/inst-cpp/Debug/inst-cpp.tlog/CL.write.1.tlog
  windows/src/engine/inst-cpp/Debug/inst-cpp.tlog/inst-cpp.lastbuildstate
  windows/src/engine/inst-cpp/Debug/pch.obj
  windows/src/engine/inst-cpp/Debug/vc142.pdb
  windows/src/engine/inst-cpp/insthelper.cpp
Owners: @rc-swag, @ermshiperete

fix(windows): allow qr box to grow to edge of default
  windows/src/desktop/kmshell/xml/config.css
Owners: @rc-swag, @ermshiperete

feat(developer): support building .keyboard_info without source version
  common/schemas/kpj/README.md
  common/schemas/kpj/kpj.schema.json
  common/web/types/src/kpj/keyman-developer-project.ts
  common/web/types/src/kpj/kpj-file-reader.ts
  common/web/types/src/kpj/kpj-file.ts
  common/web/types/src/util/file-types.ts
  common/web/types/test/kpj/test-kpj-file-reader.ts
  developer/src/kmc-analyze/build.sh
  developer/src/kmc-keyboard-info/build.sh
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-keyboard-info/src/messages.ts
  developer/src/kmc-keyboard-info/src/validate-mit-license.ts
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/LICENSE.md
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/build/khmer_angkor_(no_source).keyboard_info
  developer/src/kmc-keyboard-info/test/fixtures/license/LICENSE-changed-clause.md
  developer/src/kmc-keyboard-info/test/fixtures/license/LICENSE-missing-copyright.md
  developer/src/kmc-keyboard-info/test/fixtures/license/LICENSE-missing-title.md
  developer/src/kmc-keyboard-info/test/fixtures/license/LICENSE-too-long.md
  developer/src/kmc-keyboard-info/test/fixtures/license/LICENSE-too-short.md
  developer/src/kmc-keyboard-info/test/fixtures/license/LICENSE.md
  developer/src/kmc-keyboard-info/test/test-keyboard-info-compiler.ts
  developer/src/kmc-keyboard-info/test/test-license.ts
  developer/src/kmc-kmn/build.sh
  developer/src/kmc-model-info/build.sh
  developer/src/kmc/build.sh
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/test/test-build.ts
  developer/src/kmc/test/test-project-build.ts
Owners: @mcdurdin, @jahorton, @darcywong00

use helper method for string to unichar string
  mac/Keyman4MacIM/Keyman4MacIM/KMContext.m
  mac/Keyman4MacIM/Keyman4MacIM/KMCoreActionHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KeySender.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreHelper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/CoreHelperTests.m
Owners: @sgschantz, @SabineSIL

feat(developer): build .keyboard_info without source .keyboard_info
  developer/src/kmc-keyboard-info/package.json
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-keyboard-info/src/keyboard-info-file.ts
  developer/src/kmc-keyboard-info/src/messages.ts
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/build/khmer_angkor.keyboard_info
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/build/khmer_angkor_(no_source).keyboard_info
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/khmer_angkor.keyboard_info
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/source/khmer_angkor.kps
  developer/src/kmc-keyboard-info/test/test-keyboard-info-compiler.ts
  developer/src/kmc-keyboard-info/tsconfig.json
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
Owners: @mcdurdin, @darcywong00

auto: increment master version to 17.0.162
  HISTORY.md
  VERSION.md
Owners: none

feat(developer): markdown conversion for description in package editor
  developer/src/kmc-keyboard-info/package.json
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/build/khmer_angkor.keyboard_info
  developer/src/kmc-package/package.json
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/markdown.ts
  developer/src/kmc-package/test/fixtures/kmp_2.0/kmp.json
  developer/src/kmc-package/test/test-markdown.ts
  package-lock.json
Owners: @mcdurdin, @darcywong00

chore(developer): fixup call to KeyboardInfoCompiler
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
Owners: @mcdurdin, @darcywong00

chore(developer): fixup call to KeyboardInfoCompiler
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
Owners: @mcdurdin, @darcywong00

chore(developer): cleanup kmc-keyboard-info interface
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-keyboard-info/test/test-keyboard-info-compiler.ts
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
Owners: @mcdurdin, @darcywong00

chore(common): fixup test for SkipMetadataFiles
  common/web/types/test/kpj/test-kpj-file-reader.ts
Owners: @jahorton, @mcdurdin

chore(developer): fixup license vs graphic file error
  common/windows/delphi/packages/PackageInfo.pas
Owners: @mcdurdin, @rc-swag

feat(developer): use git's last commit date for keyboard_info
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
  developer/src/kmc/src/util/getLastGitCommitDate.ts
  developer/src/kmc/test/test-getLastGitCommitDate.ts
Owners: @mcdurdin, @darcywong00

chore(developer): optional lastCommitDate
  developer/src/kmc-keyboard-info/src/index.ts
Owners: @mcdurdin, @darcywong00

chore(resources): ldml update 🙀
  resources/standards-data/ldml-keyboards/techpreview/3.0/fr-t-k0-azerty.xml
  resources/standards-data/ldml-keyboards/techpreview/3.0/pt-t-k0-abnt2.xml
  resources/standards-data/ldml-keyboards/techpreview/cldr_info.json
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard.dtd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard.xsd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboardTest.xsd
  resources/standards-data/ldml-keyboards/techpreview/import/keys-Latn-implied.xml
  resources/standards-data/ldml-keyboards/techpreview/ldml-keyboard.schema.json
  resources/standards-data/ldml-keyboards/techpreview/test/pt-t-k0-abnt2-test.xml
Owners: @mcdurdin, @jahorton

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
