Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

chore(developer): add kmc-analyze makefile
  developer/src/kmc-analyze/Makefile
Owners: @mcdurdin, @darcywong00

chore(linux): Remove obsolete dist from uploading to launchpad
  linux/scripts/launchpad.sh
Owners: @ermshiperete, @darcywong00

chore(linux): Update supported Ubuntu versions
  linux/.pbuilderrc
  linux/Jenkinsfile
  linux/scripts/cow.sh
  linux/scripts/deb.sh
  linux/scripts/launchpad.sh
Owners: @ermshiperete, @darcywong00

feature-(linux): mcompile edit wprintf
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

feat-(linux): mcompile edit agin
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.148
  HISTORY.md
  VERSION.md
Owners: none

Apply suggestions from code review
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_xstring.h
  core/src/ldml/ldml_processor.cpp
Owners: @mcdurdin, @rc-swag

feat(core): transform/reorder 🙀
  core/src/ldml/ldml_transforms.cpp
Owners: @mcdurdin, @rc-swag

chore(developer): make unknown vkey a hint, not error 🙀
  core/tests/unit/ldml/keyboards/k_020_fr-test.xml
  core/tests/unit/ldml/keyboards/k_020_fr.xml
  core/tests/unit/ldml/keyboards/meson.build
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/src/compiler/visual-keyboard-compiler.ts
  developer/src/kmc-ldml/src/compiler/vkey.ts
  developer/src/kmc-ldml/test/test-vkey.ts
  resources/standards-data/ldml-keyboards/techpreview/3.0/fr-t-k0-azerty.xml
Owners: @mcdurdin, @rc-swag, @darcywong00, @jahorton

chore(developer): make unknown vkey a hint, not error 🙀
  developer/src/kmc-ldml/src/compiler/vkey.ts
Owners: @mcdurdin, @darcywong00

chore(developer): langtags.js not langtags.ts
  developer/src/kmc-keyboard-info/build.sh
Owners: @mcdurdin, @darcywong00

fix(core): tag KMXPlus file-based structs with alignment 🙀
  core/src/kmx/kmx_plus.h
Owners: @mcdurdin, @rc-swag

fix(core): Better range check for Uni_IsValid() 🙀
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_xstring.h
  core/tests/unit/kmnkbd/test_kmx_xstring.cpp
Owners: @mcdurdin, @rc-swag

fix(core): More range checks for Uni_IsValid() 🙀
  core/src/kmx/kmx_xstring.h
  core/tests/unit/kmnkbd/test_kmx_xstring.cpp
Owners: @mcdurdin, @rc-swag

fix(web): better gesture test-tsconfig
  common/web/gesture-recognizer/src/test/auto/tsconfig.json
Owners: @jahorton, @mcdurdin

chore(web): Apply suggestions from code review
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/touchpathTurtle.ts
Owners: @jahorton, @mcdurdin

chore(common): address review comments
  common/web/types/src/kmx/keyman-targets.ts
  common/web/types/test/kmx/test-keyman-targets.ts
  developer/src/kmc-package/src/compiler/package-keyboard-target-validator.ts
Owners: @jahorton, @mcdurdin, @darcywong00

chore(developer): fixup keyman-targets use
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/build/.gitattributes
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/build/khmer_angkor.keyboard_info
Owners: @mcdurdin, @darcywong00

chore(developer): further kmc-keyboard-info infrastructure
  developer/src/test/auto/Makefile
  developer/src/tools/sentry-upload-difs.sh
  docs/npm-packages.md
Owners: @mcdurdin, @darcywong00, @jahorton

fix(developer): support sourcePath in .model_info files
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildModelInfo.ts
  developer/src/kmc/src/util/calculateSourcePath.ts
Owners: @mcdurdin, @darcywong00

refactor(developer): projectReader to depend on projectLoader
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/util/projectLoader.ts
  developer/src/kmc/src/util/projectReader.ts
Owners: @mcdurdin, @darcywong00

chore(linux): Stop building Kinetic on Jenkins
  linux/Jenkinsfile
Owners: @ermshiperete, @darcywong00

chore(developer): npm install
  package-lock.json
Owners: none

fix(core): Optimize checks for Uni_IsValid() 🙀
  core/src/kmx/kmx_xstring.h
Owners: @mcdurdin, @rc-swag

chore(core): update documentation in transform logic and processor 🙀
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
Owners: @mcdurdin, @rc-swag

chore(core): turn off debugging 🙀
  core/src/ldml/ldml_transforms.cpp
Owners: @mcdurdin, @rc-swag

spec(core): update marker spec 🙀
  core/src/ldml/C9134_ldml_markers.md
Owners: @mcdurdin, @rc-swag

feat(developer): Marker tests 🙀
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/src/compiler/vars.ts
  developer/src/kmc-ldml/test/fixtures/sections/vars/fail-markers-badref-0.xml
  developer/src/kmc-ldml/test/fixtures/sections/vars/markers-maximal.xml
  developer/src/kmc-ldml/test/test-vars.ts
Owners: @mcdurdin, @darcywong00

feat(developer): Marker tests 🙀
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  developer/src/kmc-ldml/src/compiler/disp.ts
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/tran.ts
  developer/src/kmc-ldml/src/compiler/vars.ts
  developer/src/kmc-ldml/test/fixtures/sections/vars/fail-markers-badref-0.xml
  developer/src/kmc-ldml/test/test-vars.ts
Owners: @jahorton, @mcdurdin, @darcywong00

feat(windows): review suggestions
  windows/src/engine/keyman32-ver/Makefile
  windows/src/engine/keyman32-ver/calldll.cpp
Owners: @rc-swag, @ermshiperete

feat: git ignore updates
  .gitignore
  windows/src/.gitignore
Owners: @rc-swag, @ermshiperete

feat(web): SimpleGestureSourceSubview
  common/web/gesture-recognizer/src/engine/headless/complexGestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/gesturePath.ts
  common/web/gesture-recognizer/src/engine/headless/simpleGestureSource.ts
Owners: @jahorton, @mcdurdin

chore(web): cleans up path-match 'lock in' handling
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/pathMatcher.ts
Owners: @jahorton, @mcdurdin

specify mac cp for -R
  ios/samples/build_common.sh
  mac/Keyman4MacIM/localdeploy.sh
  mac/Keyman4MacIM/make-km-dmg.sh
  mac/setup/build.sh
  oem/firstvoices/ios/build_common.sh
Owners: @sgschantz, @jahorton, @SabineSIL

feat: update engine makefile
  windows/src/engine/Makefile
Owners: @rc-swag, @ermshiperete

feat(web): gesture modeling + isolated matching
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/index.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/contactModel.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/gestureModel.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/index.ts
Owners: @jahorton, @mcdurdin

feat(web): initial gesture-model level unit tests
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedGestureSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedPathSpecs.ts
Owners: @jahorton, @mcdurdin

feat(web): longpress-gesture unit tests
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedGestureSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedPathSpecs.ts
Owners: @jahorton, @mcdurdin

change(web): cleanup post-rebase, adds stats components to some test-specs
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
Owners: @jahorton, @mcdurdin

chore(web): alphabetical gesture-spec order
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedGestureSpecs.ts
Owners: @jahorton, @mcdurdin

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
