Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete

feat(web): ActiveKey fields for multitap + flick
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
Owners: @jahorton, @mcdurdin

fix(web): almost forgot a newly-needed lib-dom reference
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
Owners: @jahorton, @mcdurdin

feat(developer): warn if .kps includes a .js which is not touch-capable
  developer/src/kmc-package/src/compiler/kmx-keyboard-metadata.ts
  developer/src/kmc-package/src/compiler/messages.ts
  developer/src/kmc-package/src/compiler/package-keyboard-target-validator.ts
  developer/src/kmc-package/src/compiler/web-keyboard-metadata.ts
  developer/src/kmc-package/test/fixtures/invalid/hint_js_keyboard_file_has_no_touch_targets.js
  developer/src/kmc-package/test/fixtures/invalid/hint_js_keyboard_file_has_no_touch_targets.kmn
  developer/src/kmc-package/test/fixtures/invalid/hint_js_keyboard_file_has_no_touch_targets.kps
  developer/src/kmc-package/test/test-messages.ts
Owners: @mcdurdin, @darcywong00

fix(core): clean cached ICU in core
  core/commands.inc.sh
Owners: @mcdurdin, @rc-swag

auto detect non-compliant apps
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandlerProtected.h
  mac/Keyman4MacIM/Keyman4MacIM/TextCompatibilityCheck.h
  mac/Keyman4MacIM/Keyman4MacIM/TextCompatibilityCheck.m
Owners: @sgschantz, @SabineSIL

chore: Update developer/src/tike/project/Keyman.Developer.System.Project.kmnProjectFileAction.pas
  developer/src/tike/project/Keyman.Developer.System.Project.kmnProjectFileAction.pas
Owners: @mcdurdin, @darcywong00

auto: increment master version to 17.0.186
  HISTORY.md
  VERSION.md
Owners: none

refactor(web): findNearestKey gesture integration
  web/src/engine/osk/src/keyboard-layout/oskLayerGroup.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

refactor(web): initial gesture-recognizer linkage
  web/src/engine/osk/build.sh
  web/src/engine/osk/src/input/gestures/specsForKeyboard.ts
  web/src/engine/osk/src/visualKeyboard.ts
  web/src/engine/osk/tsconfig.json
Owners: @jahorton, @mcdurdin

feat(web): achieves desktop simple-tap integration
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
  web/src/engine/osk/src/input/gestures/specsForKeyboard.ts
  web/src/engine/osk/src/keyboard-layout/oskLayerGroup.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

feat(web): start of gestureSetForKeyboard
  web/src/engine/osk/src/input/gestures/specsForKeyboard.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

chore: Update core/commands.inc.sh
  core/commands.inc.sh
Owners: @mcdurdin, @rc-swag

chore(developer): convert Server to ES Modules
  developer/src/server/build-addins.inc.sh
  developer/src/server/build.sh
  developer/src/server/package.json
  developer/src/server/postbuild.sh
  developer/src/server/src/config.ts
  developer/src/server/src/data.ts
  developer/src/server/src/environment.ts
  developer/src/server/src/handlers/api/debugobject/get.ts
  developer/src/server/src/handlers/api/debugobject/register.ts
  developer/src/server/src/handlers/api/debugobject/unregister.ts
  developer/src/server/src/handlers/api/font/register.ts
  developer/src/server/src/handlers/api/keyboard/register.ts
  developer/src/server/src/handlers/api/package/register.ts
  developer/src/server/src/handlers/inc/keyboards-css.ts
  developer/src/server/src/handlers/inc/keyboards-js.ts
  developer/src/server/src/handlers/inc/packages-json.ts
  developer/src/server/src/index.ts
  developer/src/server/src/ngrok.d.ts
  developer/src/server/src/routes.ts
  developer/src/server/src/tray.ts
  developer/src/server/src/version-data.test.ts
  developer/src/server/src/win32-tray.ts
  developer/src/server/src/win32/console/index.d.ts
  developer/src/server/src/win32/console/index.js
  developer/src/server/src/win32/console/index.ts
  developer/src/server/src/win32/trayicon/index.ts
  developer/src/server/tsconfig.json
Owners: @mcdurdin, @darcywong00

chore(developer): move server from cjs to esm tsconfig
  tsconfig.cjs.json
  tsconfig.esm.json
Owners: none

feat(web): layout-based gesture-set selection, key-based filtering
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/keyboard-processor/tests/node/keyboard-loading.js
  common/web/utils/src/test/deepCopy.js
  common/web/utils/src/test/timeoutPromise.js
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

eliminate some unneeded properties
  mac/Keyman4MacIM/Keyman4MacIM/TextCompatibilityCheck.m
Owners: @sgschantz, @SabineSIL

chore(developer): fixup Makefile for server
  developer/src/server/Makefile
  developer/src/server/build.sh
Owners: @mcdurdin, @darcywong00

chore(common): convert hextobin to ES Modules
  common/tools/hextobin/build.sh
  common/tools/hextobin/hextobin.ts
  common/tools/hextobin/package.json
  common/tools/hextobin/tsconfig.json
  tsconfig.esm.json
Owners: @mcdurdin, @rc-swag

chore(common): convert resources/build/version to ES Modules
  package-lock.json
  resources/build/increment-version.sh
  resources/build/version/.gitignore
  resources/build/version/build.sh
  resources/build/version/package.json
  resources/build/version/src/fixupHistory.ts
  resources/build/version/src/index.ts
  resources/build/version/src/reportHistory.ts
  resources/build/version/tsconfig.json
  resources/build/version/tsconfig.production.json
  tsconfig.esm.json
Owners: @mcdurdin, @jahorton

chore(common): keyman-version now generates only es module
  common/web/keyman-version/build-bundler.js
  common/web/keyman-version/build.sh
  common/web/keyman-version/package.json
  common/web/keyman-version/tsconfig.json
  package-lock.json
Owners: @jahorton, @mcdurdin

chore(common): fixup Commander call
  common/tools/hextobin/hextobin.ts
Owners: @mcdurdin, @rc-swag

chore(common): convert resources/build/version to ES Modules
  package-lock.json
  resources/build/increment-version.sh
  resources/build/version/.gitignore
  resources/build/version/build.sh
  resources/build/version/package.json
  resources/build/version/src/fixupHistory.ts
  resources/build/version/src/index.ts
  resources/build/version/src/reportHistory.ts
  resources/build/version/tsconfig.json
  resources/build/version/tsconfig.production.json
  tsconfig.esm.json
Owners: @mcdurdin, @jahorton

chore: update root tsconfig
  tsconfig.cjs.json
Owners: none

feat(web): gesture configuration for layout, gesture key filtering
  common/web/gesture-recognizer/src/engine/headless/gestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/contactModel.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
  web/src/engine/osk/src/keyboard-layout/oskLayerGroup.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

chore(developer): fix server tests
  developer/src/server/build.sh
  developer/src/server/package.json
  developer/src/server/test/tsconfig.json
  developer/src/server/test/version-data.test.ts
  package-lock.json
Owners: @mcdurdin, @darcywong00

chore(common): restore es5 target for keyman-version
  common/web/keyman-version/tsconfig.json
Owners: @jahorton, @mcdurdin

chore(common): restore (unused) test target for keyman-version
  common/web/keyman-version/build.sh
Owners: @jahorton, @mcdurdin

chore: update tsconfig
  developer/src/server/test/tsconfig.json
Owners: @mcdurdin, @darcywong00

chore(developer): remove temp non-esm module in kmc-model
  common/tools/sourcemap-path-remapper/tsconfig.json
  developer/src/kmc-model/test/test-join-word-breaker.ts
  developer/src/kmc-model/test/test-override-script-defaults.ts
  developer/src/kmc-model/test/wordbreakers/README.md
  developer/src/kmc-model/test/wordbreakers/data.ts
  developer/src/kmc-model/test/wordbreakers/default-wordbreaker-esm.ts
Owners: @mcdurdin, @rc-swag, @darcywong00

chore(developer): cleanup hextobin call
  developer/src/kmc-ldml/test/test-compiler-e2e.ts
  developer/src/kmc-ldml/test/test-visual-keyboard-compiler-e2e.ts
Owners: @mcdurdin, @darcywong00

rename from compatibility to compliance
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMContext.m
  mac/Keyman4MacIM/Keyman4MacIM/KMCoreActionHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/TextApiCompliance.h
  mac/Keyman4MacIM/Keyman4MacIM/TextApiCompliance.m
  mac/Keyman4MacIM/KeymanTests/InputMethodTests.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
Owners: @sgschantz, @SabineSIL

feat(linux): mcompile use correct mapping for numbers
  linux/mcompile/keymap/README.md
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/mc_import_rules.cpp
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile tidy up
  linux/mcompile/keymap/helpers.cpp
  linux/mcompile/keymap/helpers.h
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/km_types.h
  linux/mcompile/keymap/kmx_file.h
  linux/mcompile/keymap/mc_import_rules.cpp
  linux/mcompile/keymap/mc_kmxfile.cpp
  linux/mcompile/keymap/mc_kmxfile.h
  linux/mcompile/keymap/mc_savekeyboard.cpp
  linux/mcompile/keymap/mc_savekeyboard.h
  linux/mcompile/keymap/mcompile.cpp
  linux/mcompile/keymap/mcompile.h
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile more tidy up
  linux/mcompile/keymap/helpers.cpp
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.187
  HISTORY.md
  VERSION.md
Owners: none

feat(core): match any marker 🙀
  common/web/types/src/kmx/kmx-plus.ts
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
  core/src/ldml/C9134_ldml_markers.md
  core/tests/unit/ldml/keyboards/k_210_marker-test.xml
  core/tests/unit/ldml/keyboards/k_210_marker.xml
  developer/src/kmc-ldml/src/compiler/tran.ts
Owners: @jahorton, @mcdurdin, @rc-swag, @darcywong00

feat(core): more marker 🙀
  core/tests/unit/ldml/keyboards/k_210_marker-test.xml
Owners: @mcdurdin, @rc-swag

feat(developer): test: more vars and markers 🙀
  developer/src/kmc-ldml/test/fixtures/sections/disp/maximal.xml
  developer/src/kmc-ldml/test/fixtures/sections/keys/maximal.xml
  developer/src/kmc-ldml/test/test-keys.ts
Owners: @mcdurdin, @darcywong00

feat(developer): fix vars and markers 🙀
  common/web/types/src/kmx/kmx-plus.ts
  developer/src/kmc-ldml/src/compiler/disp.ts
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/test/fixtures/sections/disp/maximal.xml
  developer/src/kmc-ldml/test/fixtures/sections/keys/maximal.xml
  developer/src/kmc-ldml/test/test-keys.ts
Owners: @jahorton, @mcdurdin, @darcywong00

fix(web): roaming simple-touch slightly more stable
  common/web/gesture-recognizer/src/engine/headless/gestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin
