Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete

auto: increment master version to 17.0.203
  HISTORY.md
  VERSION.md
Owners: none

chore(mac): move from altool to notarytool
  mac/build.sh
Owners: @sgschantz, @SabineSIL

chore(mac): notarytool json output
  mac/build.sh
Owners: @sgschantz, @SabineSIL

chore(mac): notarytool json result parse
  mac/build.sh
Owners: @sgschantz, @SabineSIL

chore(mac): replace altool with notarytool in setup build
  mac/setup/build.sh
Owners: @sgschantz, @SabineSIL

chore(mac): refactor notarization into sourced script
  mac/build.sh
  mac/mac-utils.inc.sh
  mac/setup/build.sh
Owners: @sgschantz, @SabineSIL

chore(mac): use 16.0 builder functions
  mac/build.sh
  mac/mac-utils.inc.sh
  mac/setup/build.sh
Owners: @sgschantz, @SabineSIL

chore: include ci/pull-requests.inc.sh for help uploads
  resources/build/help-keyman-com.sh
Owners: @mcdurdin, @jahorton

fix(developer): compiler crash when no project loaded
  developer/src/tike/compile/Keyman.Developer.System.KmcWrapper.pas
Owners: @mcdurdin, @darcywong00

auto: increment master version to 17.0.204
  HISTORY.md
  VERSION.md
Owners: none

feat(web): further enhances interruption recovery
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
Owners: @jahorton, @mcdurdin

fix(developer): debug flag for compiling keyboards
  developer/src/tike/compile/Keyman.Developer.System.KmcWrapper.pas
Owners: @mcdurdin, @darcywong00

fix(developer): Project MRU now saves correctly
  developer/src/tike/main/UfrmMain.pas
  developer/src/tike/main/mrulist.pas
Owners: @mcdurdin, @darcywong00

chore(common): fixup SchemaValidators error handling
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file-reader.ts
  common/web/types/src/kpj/kpj-file-reader.ts
  common/web/types/src/kvk/kvks-file-reader.ts
  common/web/types/src/osk/osk.ts
Owners: @jahorton, @mcdurdin

chore(developer): change field label to 'Related Package ID' in Related Packages dialog
  developer/src/tike/dialogs/relatedPackages/Keyman.Developer.UI.UfrmEditRelatedPackage.dfm
Owners: @mcdurdin, @darcywong00

fix(developer): open editor links in new window
  developer/src/tike/main/UframeTextEditor.pas
  developer/src/tike/xml/app/editor/editor.js
Owners: @mcdurdin, @darcywong00

fix(developer): enable line breaks in debugger
  developer/src/tike/child/UfrmDebug.pas
Owners: @mcdurdin, @darcywong00

feat(web): dynamic rescale of flick threhsolds
  web/src/engine/osk/src/input/gestures/browser/flick.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

feat(web): start of the gesture preview host
  web/src/engine/osk/src/input/gestures/browser/keytip.ts
  web/src/engine/osk/src/keyboard-layout/gesturePreviewHost.ts
  web/src/engine/osk/src/keyboard-layout/oskBaseKey.ts
  web/src/resources/osk/kmwosk.css
Owners: @jahorton, @mcdurdin

fix(web): minor goof in last commit
  web/src/engine/osk/src/keyboard-layout/gesturePreviewHost.ts
Owners: @jahorton, @mcdurdin

change(web): puts flick previews in multitap ele to prevent overlay
  web/src/engine/osk/src/keyboard-layout/gesturePreviewHost.ts
  web/src/resources/osk/kmwosk.css
Owners: @jahorton, @mcdurdin

feat(web): prototype flick preview styling
  web/src/engine/osk/src/keyboard-layout/gesturePreviewHost.ts
  web/src/resources/osk/kmwosk.css
Owners: @jahorton, @mcdurdin

feat(web): demo flag, styling nuances, ability to fade invalid entries
  web/src/engine/osk/src/input/gestures/browser/keytip.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
  web/src/engine/osk/src/keyboard-layout/gesturePreviewHost.ts
  web/src/engine/osk/src/keyboard-layout/oskBaseKey.ts
  web/src/engine/osk/tsconfig.json
  web/src/resources/osk/kmwosk.css
Owners: @jahorton, @mcdurdin

feat(web): multitap + longpress styling statically positioned, flick part may scroll
  web/src/engine/osk/src/keyboard-layout/gesturePreviewHost.ts
  web/src/resources/osk/kmwosk.css
Owners: @jahorton, @mcdurdin

chore(web): post-rebase patchup
  web/src/engine/osk/src/keyboard-layout/gesturePreviewHost.ts
  web/src/resources/osk/kmwosk.css
Owners: @jahorton, @mcdurdin

fix(web): border-rounding for previews
  web/src/resources/osk/kmwosk.css
Owners: @jahorton, @mcdurdin

change(web): gesture-preview longevity, causality
  web/src/engine/osk/src/input/gestures/browser/flick.ts
  web/src/engine/osk/src/input/gestures/browser/keytip.ts
  web/src/engine/osk/src/input/gestures/browser/multitap.ts
  web/src/engine/osk/src/keyboard-layout/gesturePreviewHost.ts
  web/src/engine/osk/src/keyboard-layout/oskBaseKey.ts
  web/src/engine/osk/src/keytip.interface.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

fix(web): no roaming preview with flicks
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

feat(web): first scrolling flick preview
  web/src/engine/osk/src/input/gestures/browser/flick.ts
  web/src/engine/osk/src/keyboard-layout/gesturePreviewHost.ts
  web/src/engine/osk/src/visualKeyboard.ts
  web/src/resources/osk/kmwosk.css
Owners: @jahorton, @mcdurdin

change(web): trims previous preview styling
  web/src/engine/osk/src/keyboard-layout/gesturePreviewHost.ts
  web/src/resources/osk/kmwosk.css
Owners: @jahorton, @mcdurdin

feat(web): 'natural' scrolling, smoother scroll start
  web/src/engine/osk/src/input/gestures/browser/flick.ts
  web/src/engine/osk/src/keyboard-layout/gesturePreviewHost.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

feat(web): flick-scroll clearing
  web/src/engine/osk/src/input/gestures/browser/flick.ts
  web/src/engine/osk/src/keyboard-layout/gesturePreviewHost.ts
  web/src/engine/osk/src/visualKeyboard.ts
  web/src/resources/osk/kmwosk.css
Owners: @jahorton, @mcdurdin

chore(web): post-rebase patchup
  web/src/engine/osk/src/input/gestures/browser/flick.ts
Owners: @jahorton, @mcdurdin

fix(developer): enable and update unit tests
  common/test/keyboards/baseline/k_017___space_mnemonic_kbd.kmx
  common/test/keyboards/baseline/k_018___nul_testing.kmx
  developer/src/kmc-kmn/test/test-compiler.ts
  developer/src/kmc-kmn/test/test-features.ts
  developer/src/test/auto/Makefile
Owners: @mcdurdin, @ermshiperete, @darcywong00

fix(developer): raise error if virtual key in context string
  developer/src/common/delphi/compiler/CompileErrorCodes.pas
  developer/src/common/include/kmn_compiler_errors.h
  developer/src/kmc-kmn/src/compiler/messages.ts
  developer/src/kmc-kmn/test/fixtures/invalid-keyboards/error_duplicate_group.kmn
  developer/src/kmc-kmn/test/fixtures/invalid-keyboards/error_duplicate_store.kmn
  developer/src/kmc-kmn/test/fixtures/invalid-keyboards/error_virtual_key_in_context.kmn
  developer/src/kmc-kmn/test/test-messages.ts
  developer/src/kmcmplib/src/CompMsg.cpp
  developer/src/kmcmplib/src/Compiler.cpp
Owners: @mcdurdin, @darcywong00

fix(web): flick-scroll only for keys with flicks
  web/src/engine/osk/src/input/gestures/browser/flick.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

fix(web): random viewport-size def bug
  common/web/gesture-recognizer/src/engine/configuration/viewportZoneSource.ts
Owners: @jahorton, @mcdurdin

feat(developer): Compile button in TIKE toolbar
  developer/src/tike/main/UfrmMain.dfm
  developer/src/tike/main/UfrmMain.pas
Owners: @mcdurdin, @darcywong00

fix(web): CSS styling for tablet key-hints
  web/src/resources/osk/kmwosk.css
Owners: @jahorton, @mcdurdin

feat(linux): mcompile use GDK to fill rgKeys
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mc_import_rules.cpp
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00
