Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete

feat(developer): New Project - Description field and tweaks
  developer/src/kmconvert/Keyman.Developer.System.ImportWindowsKeyboard.pas
  developer/src/kmconvert/Keyman.Developer.System.KMConvertParameters.pas
  developer/src/kmconvert/Keyman.Developer.System.KeyboardProjectTemplate.pas
  developer/src/kmconvert/Keyman.Developer.System.KeymanConvertMain.pas
  developer/src/kmconvert/Keyman.Developer.System.ModelProjectTemplate.pas
  developer/src/kmconvert/Keyman.Developer.System.ProjectTemplate.pas
  developer/src/kmconvert/data/basic-keyboard/README.md
  developer/src/kmconvert/data/basic-keyboard/source/readme.htm
  developer/src/kmconvert/data/basic-keyboard/source/welcome.htm
  developer/src/kmconvert/data/wordlist-lexical-model/README.md
  developer/src/kmconvert/data/wordlist-lexical-model/model.model_info
  developer/src/kmconvert/data/wordlist-lexical-model/source/model.ts
  developer/src/kmconvert/data/wordlist-lexical-model/source/readme.htm
  developer/src/kmconvert/data/wordlist-lexical-model/source/welcome.htm
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmNewModelProjectParameters.dfm
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmNewModelProjectParameters.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmNewProjectParameters.dfm
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmNewProjectParameters.pas
Owners: @mcdurdin, @darcywong00

chore(core): Fix test keyboard
  common/test/keyboards/baseline/k_020___deadkeys_and_backspace.kmn
  common/test/keyboards/baseline/k_020___deadkeys_and_backspace.kmx
Owners: @mcdurdin, @ermshiperete

fix(web): Ignore `osk-always-visible` on non-desktop devices
  web/src/engine/osk/src/views/oskView.ts
Owners: @jahorton, @mcdurdin

docs(web): doc of min Chrome version for keepNames
  common/web/lm-worker/build-bundler.js
  common/web/lm-worker/build-wrap-and-minify.js
Owners: @jahorton, @mcdurdin

fix(web): default subkey forwarding
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

fix(web): subkey cancellation should not throw error
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
Owners: @jahorton, @mcdurdin

refactor(web): Link to `index.html` in test pages
  web/index.html
  web/src/samples/index.html
  web/src/test/manual/embed/index.html
  web/src/test/manual/web/index.html
  web/src/tools/testing/index.html
Owners: @jahorton, @mcdurdin

change Zip framework setting to embed and sign
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
Owners: @sgschantz, @jahorton

feat(web): path eval access to prior stage path-stats
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/pathMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/pathModel.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedPathSpecs.ts
Owners: @jahorton, @mcdurdin

fix(web): Increase size of spacebar text
  web/src/resources/osk/kmwosk.css
Owners: @jahorton, @mcdurdin

feat(web): headless flick-path unit tests
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedPathSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/pathMatcher.spec.ts
Owners: @jahorton, @mcdurdin

fix(android/engine): Replace png's with svg's
  android/KMAPro/kMAPro/src/main/assets/svg/keyman_banner.svg
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMEA/app/src/main/assets/svg/black_banner.svg
  android/KMEA/app/src/main/assets/svg/white_banner.svg
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
  android/KMEA/app/src/main/res/drawable-land-mdpi/banner.png
  android/KMEA/app/src/main/res/drawable/banner.png
  android/Samples/KMSample1/app/src/main/assets/svg/green_banner.svg
  android/Samples/KMSample1/app/src/main/java/com/keyman/kmsample1/MainActivity.java
  oem/firstvoices/android/app/src/main/assets/svg/gold_banner.svg
Owners: @darcywong00, @sgschantz

remove Zip.xcframework from SWKeyboard target
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
Owners: @sgschantz, @jahorton

chore(android): Cleanup
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
  android/Samples/KMSample1/app/src/main/java/com/keyman/kmsample1/MainActivity.java
  android/Samples/KMSample2/app/src/main/assets/svg/green_banner.svg
  android/Samples/KMSample2/app/src/main/java/com/keyman/kmsample2/SystemKeyboard.java
Owners: @darcywong00, @sgschantz

chore(core): Recompile keyboard with kmcomp
  common/test/keyboards/baseline/k_020___deadkeys_and_backspace.kmx
Owners: @mcdurdin, @ermshiperete

fix(web): removes debugging console statement
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
Owners: @jahorton, @mcdurdin

feat(web): flick gesture-model headless unit-testing
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedGestureSpecs.ts
  common/web/gesture-recognizer/src/test/resources/simulateMultiSourceInput.ts
Owners: @jahorton, @mcdurdin

feat(windows): Initial BackgroundUpdate module
  windows/src/desktop/kmshell/main/BackgroundUpdate.pas
  windows/src/desktop/kmshell/main/initprog.pas
Owners: @rc-swag, @ermshiperete

feat(web): flick direction-locking, pass 1
  web/src/engine/osk/src/input/gestures/browser/flick.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

chore(developer): hide 'Remove From Project' for v2.0 projects
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmProject.pas
  developer/src/tike/xml/project/distribution.xsl
  developer/src/tike/xml/project/keyboards.xsl
  developer/src/tike/xml/project/models.xsl
  developer/src/tike/xml/project/packages.xsl
Owners: @mcdurdin, @darcywong00

chore(developer): tweak prompt for project upgrade
  developer/src/tike/project/Keyman.Developer.UI.Project.UpgradeProject.pas
Owners: @mcdurdin, @darcywong00

feat(web): flick lock resetting
  web/src/engine/osk/src/input/gestures/browser/flick.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
Owners: @jahorton, @mcdurdin

chore(developer): fix typo
  developer/src/tike/project/Keyman.Developer.UI.Project.UpgradeProject.pas
Owners: @mcdurdin, @darcywong00

chore(developer): remove obsolete project code
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectFile.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectLoader.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectSaver.pas
  developer/src/tike/project/Keyman.Developer.System.Project.kmnProjectFile.pas
  developer/src/tike/project/Keyman.Developer.System.Project.kpsProjectFile.pas
  developer/src/tike/project/Keyman.Developer.System.Project.modelTsProjectFile.pas
  developer/src/tike/project/Keyman.Developer.System.Project.modelTsProjectFileAction.pas
Owners: @mcdurdin, @darcywong00

change(web): flick-animation scaling distortion
  web/src/engine/osk/src/input/gestures/browser/flick.ts
Owners: @jahorton, @mcdurdin

fix(web): flick preview element, text alignments
  web/src/engine/osk/src/keyboard-layout/gesturePreviewHost.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

remove marmelroy Zip and add weichsel ZIPFoundation
  ios/Cartfile
  ios/Cartfile.resolved
  ios/engine/KMEI/KeymanEngine.xcodeproj/project.pbxproj
  ios/engine/KMEI/KeymanEngine/Classes/KeymanPackage.swift
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  oem/firstvoices/ios/Cartfile
  oem/firstvoices/ios/Cartfile.resolved
Owners: @sgschantz, @jahorton

fix(web): whoops, broke modipress
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
Owners: @jahorton, @mcdurdin

feat(linux): mcompile unchanged files
  linux/mcompile/keymap/filesystem.cpp
  linux/mcompile/keymap/filesystem.h
  linux/mcompile/keymap/mc_savekeyboard.cpp
  linux/mcompile/keymap/meson.build
  linux/mcompile/keymap/u16.cpp
  linux/mcompile/keymap/u16.h
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile minor changes
  linux/mcompile/keymap/README.md
  linux/mcompile/keymap/helpers.cpp
  linux/mcompile/keymap/helpers.h
  linux/mcompile/keymap/kmx_file.h
  linux/mcompile/keymap/mc_savekeyboard.h
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile tidy up code
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/km_types.h
  linux/mcompile/keymap/mc_import_rules.cpp
  linux/mcompile/keymap/mc_kmxfile.cpp
  linux/mcompile/keymap/mc_kmxfile.h
  linux/mcompile/keymap/mcompile.cpp
  linux/mcompile/keymap/mcompile.h
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile more tidy up code
  linux/mcompile/keymap/helpers.cpp
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/mc_import_rules.cpp
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

fix(web): Improve cause of issue
  web/src/engine/osk/src/keyboard-layout/oskKey.ts
  web/src/resources/osk/kmwosk.css
Owners: @jahorton, @mcdurdin

auto: increment master version to 17.0.208
  HISTORY.md
  VERSION.md
Owners: none

Declare functions in insthelper.cpp to make the function accessable through dll calls.
  windows/src/engine/inst-cpp/Release/inst-cpp.tlog/unsuccessfulbuild
  windows/src/engine/inst-cpp/inst-cpp.vcxproj
  windows/src/engine/inst-cpp/insthelper.cpp
  windows/src/engine/inst-cpp/insthelper.h
Owners: @rc-swag, @ermshiperete

feat(linux): mcompile tidy up and rgkeys for nr, chars for DE and FR
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/mc_import_rules.cpp
Owners: @ermshiperete, @darcywong00

chore(common): ldmlKeyboard3.dtd
  common/web/types/src/kpj/keyman-developer-project.ts
  common/web/types/test/fixtures/invalid-conforms-to.xml
  resources/standards-data/ldml-keyboards/readme.md
Owners: @jahorton, @mcdurdin

feat(developer): Add basic LDML XML keyboard file support to TIKE projects
  developer/src/tike/http/Keyman.Developer.System.HttpServer.App.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectFile.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectFileType.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectSaver.pas
  developer/src/tike/project/Keyman.Developer.System.Project.kmnProjectFile.pas
  developer/src/tike/project/Keyman.Developer.System.Project.kpsProjectFile.pas
  developer/src/tike/project/Keyman.Developer.System.Project.modelTsProjectFile.pas
  developer/src/tike/project/Keyman.Developer.System.Project.xmlLdmlProjectFile.pas
  developer/src/tike/project/Keyman.Developer.System.Project.xmlLdmlProjectFileAction.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmProject.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.xmlLdmlProjectFileUI.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
Owners: @mcdurdin, @darcywong00

refactor(developer): add xmlLdml types and form, rename ActiveEditor
  developer/src/tike/actions/dmActionsKeyboardEditor.pas
  developer/src/tike/child/Keyman.Developer.UI.UfrmLdmlKeyboardEditor.dfm
  developer/src/tike/child/Keyman.Developer.UI.UfrmLdmlKeyboardEditor.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
Owners: @mcdurdin, @darcywong00

feat(developer): Split dmActionsDebugger out of dmActionsKeyboardEditor
  developer/src/tike/actions/dmActionsDebugger.dfm
  developer/src/tike/actions/dmActionsDebugger.pas
  developer/src/tike/actions/dmActionsKeyboardEditor.dfm
  developer/src/tike/actions/dmActionsKeyboardEditor.pas
  developer/src/tike/child/UfrmDebug.dfm
  developer/src/tike/child/UfrmDebug.pas
  developer/src/tike/child/UfrmKeymanWizard.dfm
  developer/src/tike/child/UfrmKeymanWizard.pas
  developer/src/tike/main/UfrmMain.dfm
  developer/src/tike/main/UfrmMain.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
Owners: @mcdurdin, @darcywong00
