Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete

fix(web): rewrites source on triggered state change before emission
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/test/auto/browser/cases/canary.js
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureSequence.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/matcherSelector.spec.ts
  common/web/gesture-recognizer/src/test/resources/simulateMultiSourceInput.ts
Owners: @jahorton, @mcdurdin

fix(web): right, multitaps don't instant-resolve
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
Owners: @jahorton, @mcdurdin

changed keyboards menu to dynamically update in Keyman section of the Input Menu and eliminated Keyboards submenu
  mac/Keyman4MacIM/Keyman4MacIM/Base.lproj/MainMenu.xib
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/KMConfigurationWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/en.lproj/Localizable.strings
Owners: @sgschantz, @SabineSIL

use zero-based loop when removing all keyboards from Input Menu
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
Owners: @sgschantz, @SabineSIL

chore(linux): Rename (lib)kmnkbp to (lib)keymancore
  .github/workflows/deb-packaging.yml
  core/build.sh
  core/include/keyman/keyman_core_api.h
  core/meson.build
  core/src/meson.build
  core/src/version.rc
  core/tests/kmx_test_source/meson.build
  core/tests/unit/kmnkbd/meson.build
  core/tests/unit/kmx/fixtures/binary/meson.build
  core/tests/unit/kmx/meson.build
  developer/src/inst/kmdev.wxs
  developer/src/tike/Makefile
  developer/src/tike/debug/Keyman.System.Debug.DebugCore.pas
  developer/src/tike/main/Keyman.System.KeymanCore.pas
  developer/src/tike/main/Keyman.System.KeymanCoreDebug.pas
  docs/settings/linux/tasks.json
  linux/debian/libkmnkbp0-0.symbols
  linux/ibus-keyman/meson.build
  linux/ibus-keyman/src/meson.build
  linux/ibus-keyman/src/test/meson.build
  linux/ibus-keyman/tests/meson.build
  linux/scripts/deb-packaging.sh
  windows/src/engine/keyman32/keyboardoptions.cpp
  windows/src/engine/keyman32/keyman-engine.vcxproj
  windows/src/engine/keyman32/keyman32.vcxproj
  windows/src/engine/keyman32/tests/keyman-engine-tests/keyman-engine-tests.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj
Owners: @mcdurdin, @rc-swag, @darcywong00, @jahorton, @ermshiperete

change(web): alternate validation approach for subkeys
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  web/src/engine/osk/src/input/gestures/browser/oskSubKey.ts
Owners: @jahorton, @mcdurdin

auto: increment master version to 17.0.196
  HISTORY.md
  VERSION.md
Owners: none

fix(core): ldml more updates to normalization per review 🙀
  core/src/debuglog.h
  core/src/ldml/ldml_transforms.hpp
Owners: @mcdurdin, @rc-swag

fix(core): ldml more updates to normalization per review 🙀
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
Owners: @mcdurdin, @rc-swag

fix(core): ldml more updates to normalization per review 🙀
  core/src/ldml/ldml_transforms.cpp
Owners: @mcdurdin, @rc-swag

change(web): uses key & typeof values for validation on kbd load
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  web/src/engine/osk/src/input/gestures/browser/oskSubKey.ts
Owners: @jahorton, @mcdurdin

fix(common): don't use URL in common/web/types
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/test/helpers/reader-callback-test.ts
  developer/src/kmc-ldml/test/helpers/index.ts
  developer/src/kmc/src/commands/buildClasses/BuildLdmlKeyboard.ts
  developer/src/kmc/src/commands/buildTestData/index.ts
Owners: @jahorton, @mcdurdin, @darcywong00

chore(web): post-cherrypick cleanup
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
Owners: @jahorton, @mcdurdin

docs: macos build update
  docs/build/macos.md
Owners: @mcdurdin, @jahorton

added logging to learn about menu execution
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
Owners: @sgschantz, @SabineSIL

changed keyboards menu to dynamically update in Keyman section of the Input Menu and eliminated Keyboards submenu
  mac/Keyman4MacIM/Keyman4MacIM/Base.lproj/MainMenu.xib
  mac/Keyman4MacIM/Keyman4MacIM/KMConfiguration/KMConfigurationWindowController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/en.lproj/Localizable.strings
Owners: @sgschantz, @SabineSIL

use zero-based loop when removing all keyboards from Input Menu
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
Owners: @sgschantz, @SabineSIL

chore(ios): renew certificate
  ios/exportAppStore.plist
Owners: @sgschantz, @jahorton

chore: Apply suggestions from code review
  docs/build/macos.md
Owners: @mcdurdin, @jahorton

Update core/src/version.rc
  core/src/version.rc
Owners: @mcdurdin, @rc-swag

chore(web): addresses final review concerns
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file.ts
Owners: @jahorton, @mcdurdin

chore(linux): Update packaging GHA
  .github/workflows/deb-packaging.yml
  linux/scripts/deb-packaging.sh
Owners: @ermshiperete, @darcywong00

auto: increment stable-16.0 version to 16.0.143
  HISTORY.md
  VERSION.md
Owners: none

chore(web): Apply suggestions from code review
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
Owners: @jahorton, @mcdurdin

chore(web): Apply suggestions from code review
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

chore(web): Apply suggestions from code review
  common/web/input-processor/src/correctionLayout.ts
  common/web/input-processor/src/corrections.ts
Owners: @jahorton, @mcdurdin

chore(linux): Exclude environment.sh from build
  linux/scripts/dist.sh
  resources/build/build-utils.sh
Owners: @ermshiperete, @darcywong00, @mcdurdin, @jahorton

chore(linux): Fix build by adding one character
  linux/scripts/deb-packaging.sh
Owners: @ermshiperete, @darcywong00

chore(linux): Rename namespace
  core/tests/unit/ldml/ldml.cpp
  core/tests/unit/ldml/ldml_test_source.cpp
Owners: @mcdurdin, @rc-swag

chore(linux): rename keyboardprocessor_ldml.* to keyman_core_ldml
  core/include/ldml/build.sh
  core/include/ldml/keyman_core_ldml.h
  core/include/ldml/keyman_core_ldml.ts
  core/include/ldml/ldml-const-builder.ts
  core/include/ldml/package.json
  core/include/ldml/tsconfig.build.json
  core/include/ldml/tsconfig.json
  core/meson.build
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/C7532_ldml_updating.md
  core/src/ldml/ldml_processor.cpp
  core/tests/unit/ldml/ldml_test_source.cpp
  core/tools/ldml-const-builder/build.sh
Owners: @mcdurdin, @rc-swag

chore(linux): Rename libkmnkbp0-0 package
  .github/workflows/deb-packaging.yml
  core/src/meson.build
  linux/debian/control
  linux/debian/libkeymancore-dev.install
  linux/debian/libkeymancore.install
  linux/debian/libkeymancore.symbols
  linux/debian/libkmnkbp0-0.symbols
  linux/debian/rules
  linux/debian/tests/control
  linux/debian/tests/test-build
  linux/scripts/deb-packaging.sh
Owners: @mcdurdin, @rc-swag, @ermshiperete, @darcywong00

auto: increment master version to 17.0.197
  HISTORY.md
  VERSION.md
Owners: none

feat(linux): mcompile small changes wprintf+ implement+use KMX_VKUnderlyingLayoutToVKUS
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/mc_import_rules.cpp
  linux/mcompile/keymap/mcompile.cpp
  linux/mcompile/keymap/mcompile.h
Owners: @ermshiperete, @darcywong00

fix(core): build: support -t parameter correctly
  core/build.sh
  core/commands.inc.sh
Owners: @mcdurdin, @rc-swag

fix(developer): handle xml errors in package compiler
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/messages.ts
  developer/src/kmc-package/src/compiler/windows-package-installer-compiler.ts
  developer/src/kmc-package/test/fixtures/invalid/error_invalid_package_file.kps
  developer/src/kmc-package/test/test-messages.ts
Owners: @mcdurdin, @darcywong00

fix(developer): server download Keyman link
  developer/src/server/src/site/packages.js
Owners: @mcdurdin, @darcywong00

chore(android): Update targetSdkVersion from 31 to 33
  android/KMAPro/kMAPro/build.gradle
  android/KMEA/app/build.gradle
  android/Samples/KMSample1/app/build.gradle
  android/Samples/KMSample2/app/build.gradle
  android/Tests/KeyboardHarness/app/build.gradle
  oem/firstvoices/android/app/build.gradle
Owners: @darcywong00, @sgschantz

chore(common): handle invalid XML in kpj-file-reader
  common/web/types/src/kpj/kpj-file-reader.ts
  developer/src/kmc/src/util/projectLoader.ts
Owners: @jahorton, @mcdurdin, @darcywong00

update for rename of core filenames and apis
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreHelper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/CoreHelperTests.m
Owners: @sgschantz, @SabineSIL

chore(common): Add entries from 16.0 HISTORY.md
  HISTORY.md
Owners: none
