Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

auto: increment master version to 17.0.157
  HISTORY.md
  VERSION.md
Owners: none

chore: stats script parameters
  resources/stats/stats.sh
Owners: @mcdurdin, @jahorton

feat(developer): add 'default' property for longpress keys
  common/schemas/keyman-touch-layout/README.md
  common/schemas/keyman-touch-layout/keyman-touch-layout.spec.json
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file-writer.ts
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file.ts
  developer/src/tike/oskbuilder/TouchLayout.pas
  developer/src/tike/oskbuilder/TouchLayoutDefinitions.pas
  developer/src/tike/xml/layoutbuilder/builder.css
  developer/src/tike/xml/layoutbuilder/builder.xsl
  developer/src/tike/xml/layoutbuilder/prepare-key.js
  developer/src/tike/xml/layoutbuilder/subkeys.js
Owners: @mcdurdin, @jahorton, @darcywong00

chore(linux): Disable Mantic builds on Launchpad
  linux/scripts/launchpad.sh
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.158
  HISTORY.md
  VERSION.md
Owners: none

feat(core): regex test 🙀
  core/tests/unit/ldml/keyboards/k_007_transform_rgx-test.xml
  core/tests/unit/ldml/keyboards/k_007_transform_rgx.xml
  core/tests/unit/ldml/keyboards/meson.build
Owners: @mcdurdin, @rc-swag

feat(core): update icu dependencies 🙀
  core/src/ldml/ldml_transforms.cpp
  core/src/meson.build
  core/subprojects/icu-minimal.wrap
  core/subprojects/packagefiles/icu/source/meson.build
  core/tests/unit/ldml/ldml_test_source.cpp
  core/tests/unit/ldml/meson.build
Owners: @mcdurdin, @rc-swag

chore(developer): improve kmc sentry reporting on fatal build errors
  common/web/types/src/util/compiler-interfaces.ts
  developer/src/kmc-analyze/src/messages.ts
  developer/src/kmc-keyboard-info/src/messages.ts
  developer/src/kmc-kmn/src/compiler/messages.ts
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-model-info/src/messages.ts
  developer/src/kmc-model/src/model-compiler-errors.ts
  developer/src/kmc-package/src/compiler/messages.ts
  developer/src/kmc/src/commands/analyze.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildModelInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/src/kmc.ts
  developer/src/kmc/src/messages/infrastructureMessages.ts
  developer/src/kmc/src/util/KeymanSentry.ts
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
  developer/src/kmc/src/util/fileLists.ts
  developer/src/kmc/src/util/projectLoader.ts
  developer/src/kmc/test/test-infrastructureMessages.ts
  developer/src/kmc/test/test-project-build.ts
  package-lock.json
  package.json
Owners: @jahorton, @mcdurdin, @darcywong00

feat(windows): review comment
  core/src/kmx/kmx_processor.hpp
Owners: @mcdurdin, @rc-swag

First draft of converting EnginePostInstall()
  windows/src/engine/inst-cpp/Debug/dllmain.obj
  windows/src/engine/inst-cpp/Debug/inst-cpp.tlog/CL.command.1.tlog
  windows/src/engine/inst-cpp/Debug/inst-cpp.tlog/CL.read.1.tlog
  windows/src/engine/inst-cpp/Debug/inst-cpp.tlog/CL.write.1.tlog
  windows/src/engine/inst-cpp/Debug/inst-cpp.tlog/inst-cpp.lastbuildstate
  windows/src/engine/inst-cpp/Debug/inst-cpp.tlog/unsuccessfulbuild
  windows/src/engine/inst-cpp/Debug/pch.obj
  windows/src/engine/inst-cpp/Debug/vc142.pdb
  windows/src/engine/inst-cpp/dllmain.cpp
  windows/src/engine/inst-cpp/inst-cpp.vcxproj
  windows/src/engine/inst-cpp/inst-cpp.vcxproj.filters
  windows/src/engine/inst-cpp/insthelper.cpp
  windows/src/engine/inst-cpp/insthelper.h
Owners: @rc-swag, @ermshiperete

chore: Apply suggestions from code review
  resources/stats/stats.sh
Owners: @mcdurdin, @jahorton

chore: Apply suggestions from code review
  common/schemas/keyman-touch-layout/README.md
  developer/src/tike/xml/layoutbuilder/builder.xsl
Owners: @mcdurdin, @jahorton, @darcywong00

chore: address review comments
  developer/src/kmc/src/util/KeymanSentry.ts
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
Owners: @mcdurdin, @darcywong00

feat(core): marker fixes per review comments 🙀
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_processor.hpp
Owners: @mcdurdin, @rc-swag

Apply suggestions from code review
  core/src/ldml/ldml_processor.cpp
Owners: @mcdurdin, @rc-swag

auto: increment master version to 17.0.159
  HISTORY.md
  VERSION.md
Owners: none

feat(core): limit max marker to 0xD7FF 🙀
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
Owners: @mcdurdin, @rc-swag

feat(core): u32string_to_u16string 🙀
  core/src/kmx/kmx_xstring.h
  core/tests/unit/kmnkbd/test_kmx_xstring.cpp
Owners: @mcdurdin, @rc-swag

feat(core): regex 🙀
  core/tests/unit/kmnkbd/meson.build
  core/tests/unit/kmx/meson.build
  core/tests/unit/ldml/meson.build
Owners: @mcdurdin, @rc-swag

feat(core): regex match-side 🙀
  core/src/ldml/ldml_transforms.cpp
  core/tests/unit/ldml/keyboards/k_003_transform.xml
  core/tests/unit/ldml/test_transforms.cpp
Owners: @mcdurdin, @rc-swag

feat(core): regex apply-side 🙀
  core/src/ldml/ldml_transforms.cpp
  core/tests/unit/ldml/keyboards/k_007_transform_rgx.xml
Owners: @mcdurdin, @rc-swag

handle PersistOption action; persisting but not loading at startup yet
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.h
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreAction.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreAction.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
Owners: @sgschantz, @SabineSIL

feat(linux): mcompile remove helpers.h
  linux/mcompile/keymap/helpers.cpp
  linux/mcompile/keymap/helpers.h
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mc_kmxfile.cpp
  linux/mcompile/keymap/meson.build
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile -adapt translateKeyboard
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

Apply suggestions from code review
  core/src/ldml/ldml_processor.cpp
Owners: @mcdurdin, @rc-swag

feat(linux): mcompile remove old/unused code
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/km_types.h
  linux/mcompile/keymap/mc_kmxfile.cpp
  linux/mcompile/keymap/mc_kmxfile.h
  linux/mcompile/keymap/mc_savekeyboard.cpp
  linux/mcompile/keymap/mc_savekeyboard.h
  linux/mcompile/keymap/mcompile.cpp
  linux/mcompile/keymap/mcompile.h
  linux/mcompile/keymap/meson.build
  linux/mcompile/keymap/u16.cpp
  linux/mcompile/keymap/u16.h
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile remove more old/unused code
  linux/mcompile/keymap/README.md
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/kmx_file.h
  linux/mcompile/keymap/mc_kmxfile.cpp
  linux/mcompile/keymap/mc_savekeyboard.cpp
  linux/mcompile/keymap/mc_savekeyboard.h
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

feat(core): marker fixes per review comments 🙀
  core/src/ldml/ldml_processor.cpp
Owners: @mcdurdin, @rc-swag

chore(core): regex build 🙀
  core/tests/unit/kmx/meson.build
Owners: @mcdurdin, @rc-swag

chore(core): regex cleanup 🙀
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/tests/unit/ldml/ldml_test_source.cpp
  core/tests/unit/ldml/test_kmx_plus.cpp
  core/tests/unit/ldml/test_transforms.cpp
Owners: @mcdurdin, @rc-swag

chore(common): remove deprecated fields from keyboard_info
  common/schemas/keyboard_info/README.md
  common/schemas/keyboard_info/keyboard_info.distribution.json
  common/schemas/keyboard_info/keyboard_info.schema.json
  developer/src/inst/download.in.mak
  developer/src/inst/kmdev.wxs
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-keyboard-info/src/keyboard-info-file.ts
  developer/src/tike/compile/MergeKeyboardInfo.pas
  developer/src/tike/compile/ValidateKeyboardInfo.pas
Owners: @mcdurdin, @jahorton, @darcywong00

feat(web): queued promise prioritizer / resynchronizer
  common/web/gesture-recognizer/src/engine/headless/queuedPromisePrioritizer.ts
  common/web/gesture-recognizer/src/test/auto/headless/queuedPromisePrioritizer.spec.ts
Owners: @jahorton, @mcdurdin

docs(web): removes older form of new class's documenation
  common/web/gesture-recognizer/src/engine/headless/queuedPromisePrioritizer.ts
Owners: @jahorton, @mcdurdin

fix(web): oh yeah, export the class
  common/web/gesture-recognizer/src/engine/index.ts
Owners: @jahorton, @mcdurdin

refactor(web): multi-source mocked simulation
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
  common/web/gesture-recognizer/src/test/resources/simulateMultiSourceInput.ts
Owners: @jahorton, @mcdurdin

chore: fix unit test
  developer/src/test/auto/keyboard-info/test-valid.keyboard_info
Owners: @mcdurdin, @darcywong00

feat(web): the bulk of gesture-staging implementation
  common/web/gesture-recognizer/.mocharc.env.js
  common/web/gesture-recognizer/.mocharc.json
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/gesture-recognizer/src/test/auto/tsconfig.json
Owners: @jahorton, @mcdurdin

feat(web): further gesture-selection work - single source / first stage now vetted
  common/web/gesture-recognizer/src/engine/headless/gestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/index.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/pathMatcher.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestureSource.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedGestureSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/matcherSelector.spec.ts
  common/web/gesture-recognizer/src/test/resources/simulateMultiSourceInput.ts
Owners: @jahorton, @mcdurdin

feat(web): gesture-selection auto-test for subkey menu pattern
  common/web/gesture-recognizer/src/test/auto/headless/gestures/matcherSelector.spec.ts
  common/web/gesture-recognizer/src/test/resources/simulateMultiSourceInput.ts
Owners: @jahorton, @mcdurdin

feat(web): multitap selection test
  common/web/gesture-recognizer/src/test/auto/headless/gestures/matcherSelector.spec.ts
  common/web/gesture-recognizer/src/test/resources/simulateMultiSourceInput.ts
Owners: @jahorton, @mcdurdin

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
