Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

fix(linux): Explicitly initialize GTK
  linux/keyman-config/km-config
Owners: @ermshiperete, @darcywong00

feat(common): fix marker parsing 🙀
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
Owners: @jahorton, @mcdurdin

fix(developer): skip resource check for node addons
  common/windows/delphi/tools/verify_signatures/verify_signatures.dpr
Owners: @mcdurdin, @rc-swag

feat(developer): fix vars and markers 🙀
  common/web/types/src/kmx/string-list.ts
  developer/src/kmc-ldml/test/test-vars.ts
Owners: @jahorton, @mcdurdin, @darcywong00

chore: fixup js imports for schema validators
  common/web/types/src/schema-validators.ts
  tsconfig.base.json
Owners: @jahorton, @mcdurdin

feat(developer): fix vars and markers 🙀
  common/web/types/src/kmx/string-list.ts
Owners: @jahorton, @mcdurdin

feat(developer): fix vars and markers 🙀
  common/web/types/src/kmx/element-string.ts
  common/web/types/src/kmx/kmx-plus.ts
  common/web/types/src/kmx/string-list.ts
Owners: @jahorton, @mcdurdin

feat(developer): introduce WelcomeFile property to packages
  common/schemas/kps/kps.xsd
  common/web/types/src/package/kmp-json-file.ts
  common/web/types/src/package/kps-file.ts
  common/windows/delphi/packages/PackageInfo.pas
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/test/fixtures/khmer_angkor/ref/kmp.json
  developer/src/kmc-package/test/fixtures/khmer_angkor/source/khmer_angkor.kps
  developer/src/tike/child/UfrmPackageEditor.dfm
  developer/src/tike/child/UfrmPackageEditor.pas
Owners: @mcdurdin, @jahorton, @rc-swag, @darcywong00

refactor(developer): .keyboard_info examples should use keys as a string
  common/schemas/keyboard_info/README.md
  common/schemas/keyboard_info/keyboard_info.schema.json
  developer/src/kmc-keyboard-info/src/example-keys.ts
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-keyboard-info/src/keyboard-info-file.ts
  developer/src/kmc-keyboard-info/test/fixtures/khmer_angkor/build/khmer_angkor.keyboard_info
Owners: @mcdurdin, @jahorton, @darcywong00

fix(developer): non-minimal BCP 47 tags in kps should be a hint
  developer/src/kmc-package/src/compiler/messages.ts
  developer/src/kmc-package/src/compiler/package-validation.ts
  developer/src/kmc-package/test/test-messages.ts
Owners: @mcdurdin, @darcywong00

chore(common): stop using xml2js.processors.firstCharLowerCase
  common/web/types/src/package/kps-file.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/package-version-validator.ts
  developer/src/kmc-package/src/compiler/windows-package-installer-compiler.ts
Owners: @jahorton, @mcdurdin, @darcywong00

chore(developer): Update kmc-package xml2js dependency
  developer/src/kmc-ldml/package.json
  developer/src/kmc-model-info/package.json
  developer/src/kmc-model/package.json
  developer/src/kmc-package/package.json
  package-lock.json
Owners: @mcdurdin, @darcywong00

chore(developer): remove unused xml2js references
  developer/src/kmc-analyze/package.json
  developer/src/kmc-kmn/package.json
  developer/src/kmc/package.json
  package-lock.json
Owners: @mcdurdin, @darcywong00

chore(developer): add --for-publishing to kmc
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-keyboard-info/test/test-keyboard-info-compiler.ts
  developer/src/kmc-model-info/src/model-info-compiler.ts
  developer/src/kmc-model-info/test/test-model-info-compiler.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildModelInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/src/util/extendedCompilerOptions.ts
Owners: @mcdurdin, @darcywong00

fix(web): integrated test fixes, sync -> async for test sequences
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/keyboard-processor/tests/node/basic-engine.js
  common/web/keyboard-processor/tests/node/chirality.js
  common/web/keyboard-processor/tests/node/deadkeys.js
  common/web/recorder/src/index.ts
  common/web/recorder/src/nodeProctor.ts
  common/web/recorder/src/proctor.ts
  web/src/engine/dom-utils/src/stylesheets.ts
  web/src/engine/osk/src/views/oskView.ts
  web/src/test/auto/integrated/cases/engine.js
  web/src/test/auto/integrated/cases/engine_chirality.js
  web/src/test/auto/integrated/cases/events.js
  web/src/test/auto/integrated/test_utils.js
  web/src/tools/testing/recorder/browserDriver.ts
  web/src/tools/testing/recorder/browserProctor.ts
Owners: @jahorton, @mcdurdin

fix(web): integrated-test stability fix
  web/src/app/browser/src/contextManager.ts
Owners: @jahorton, @mcdurdin

fix(web): enhances integrated test stability
  web/src/app/browser/src/contextManager.ts
Owners: @jahorton, @mcdurdin

docs(web): comment referencing the PR
  web/src/app/browser/src/contextManager.ts
Owners: @jahorton, @mcdurdin

fix(web): tracked source cleanup / robustness interactions
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/touchpointCoordinator.spec.ts
Owners: @jahorton, @mcdurdin

fix(web): Touch[] != TouchList
  web/src/tools/testing/recorder/browserDriver.ts
Owners: @jahorton, @mcdurdin

docs(web): updates comment
  web/src/app/browser/src/contextManager.ts
Owners: @jahorton, @mcdurdin

feat(web): longpress tweakables, better flick-shortcut spec & handling
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

feat(web): restores subkey-selection, extends accepted path range
  common/web/gesture-recognizer/src/engine/configuration/paddedZoneSource.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  common/web/gesture-recognizer/src/engine/mouseEventEngine.ts
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  web/src/engine/osk/src/input/gestures/browser/oskSubKey.ts
  web/src/engine/osk/src/input/gestures/browser/pendingLongpress.ts
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

chore(web): removes no-longer-utilized class
  web/src/engine/osk/src/input/gestures/browser/pendingLongpress.ts
Owners: @jahorton, @mcdurdin

fix(web): reverts old prototype for leak cleanup (post-rebase to 'proper' version)
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
Owners: @jahorton, @mcdurdin

chore(web): more dead code trimming
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

feat(web): roaming vs 'permitted selection' ranges
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
Owners: @jahorton, @mcdurdin

fix(developer): reduce WARN_PackageShouldNotRepeatLanguages to HINT
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/messages.ts
  developer/src/kmc-package/src/compiler/package-validation.ts
  developer/src/kmc-package/test/fixtures/invalid/hint_language_tag_is_not_minimal.kps
  developer/src/kmc-package/test/fixtures/invalid/hint_package_should_not_repeat_languages.kps
  developer/src/kmc-package/test/fixtures/invalid/keyman.en.hint_package_should_not_repeat_languages.model.kps
  developer/src/kmc-package/test/test-messages.ts
Owners: @mcdurdin, @darcywong00

fix(web): roaming disables longpress up-flick
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

chore: fix typo
  core/include/keyman/meson.build
  core/src/kmx/kmx_capslock.cpp
  core/src/kmx/kmx_environment.cpp
  core/src/kmx/kmx_processevent.cpp
  core/src/state.cpp
  developer/src/tike/main/Keyman.System.KeymanCore.pas
  linux/ibus-keyman/src/engine.c
  windows/src/engine/keyman32/keymanengine.h
Owners: @mcdurdin, @rc-swag, @darcywong00, @ermshiperete

chore: fix typo
  core/include/keyman/meson.build
  core/src/debug.hpp
  core/tests/unit/kmnkbd/debug_api.cpp
  core/tests/unit/kmnkbd/debug_items.hpp
  developer/src/tike/main/Keyman.System.KeymanCoreDebug.pas
Owners: @mcdurdin, @rc-swag, @darcywong00

chore: rename pkm_kbp_ to pkm_core_
  developer/src/tike/child/UfrmDebug.pas
  developer/src/tike/debug/Keyman.System.Debug.DebugCore.pas
  developer/src/tike/debug/Keyman.System.Debug.DebugEvent.pas
  developer/src/tike/main/Keyman.System.KeymanCore.pas
  developer/src/tike/main/Keyman.System.KeymanCoreDebug.pas
  developer/src/tike/main/Keyman.System.VisualKeyboardImportKMX.pas
Owners: @mcdurdin, @darcywong00

chore: rename km_kbp_ filenames to km_core_
  core/src/km_core_context_api.cpp
  core/src/km_core_debug_api.cpp
  core/src/km_core_keyboard_api.cpp
  core/src/km_core_options_api.cpp
  core/src/km_core_processevent_api.cpp
  core/src/km_core_state_api.cpp
Owners: @mcdurdin, @rc-swag

chore: rename _km_kbp_ to _km_core_
  developer/src/tike/debug/Keyman.System.Debug.DebugCore.pas
  developer/src/tike/main/Keyman.System.KeymanCore.pas
Owners: @mcdurdin, @darcywong00

fix(linux): Fix calculation of user hash
  linux/keyman-config/keyman_config/sentry_handling.py
Owners: @ermshiperete, @darcywong00

chore(linux): Add more details to Sentry events
  linux/keyman-config/keyman_config/sentry_handling.py
Owners: @ermshiperete, @darcywong00

fix(common): fix schema fixer 🙀
  resources/standards-data/ldml-keyboards/techpreview/cldr_info.json
  resources/standards-data/ldml-keyboards/techpreview/fixup-schema.js
  resources/standards-data/ldml-keyboards/techpreview/ldml-keyboardtest3.schema.json
Owners: @mcdurdin, @jahorton

chore(core): Some failing normalization transform tests 🙀
  core/tests/unit/ldml/keyboards/k_008_transform_norm-test.xml
  core/tests/unit/ldml/keyboards/k_008_transform_norm.xml
  core/tests/unit/ldml/keyboards/meson.build
Owners: @mcdurdin, @rc-swag

chore: revert HISTORY.md
  HISTORY.md
Owners: none

fix(web): robustness for OSK onChange integrated test
  web/src/test/auto/integrated/cases/events.js
  web/src/test/auto/integrated/test_utils.js
Owners: @jahorton, @mcdurdin

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
