Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete

chore(developer): move additional consts and globals
  developer/src/kmc-kmn/src/kmw-compiler/compiler-globals.ts
  developer/src/kmc-kmn/src/kmw-compiler/constants.ts
  developer/src/kmc-kmn/src/kmw-compiler/javascript-strings.ts
  developer/src/kmc-kmn/src/kmw-compiler/keymanweb-key-codes.ts
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
  developer/src/kmc-kmn/src/kmw-compiler/write-compiled-keyboard.ts
Owners: @mcdurdin, @darcywong00

chore(developer): remove extraneous comment
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
Owners: @mcdurdin, @darcywong00

fix(web): more post-tslib spread-array adjustments
  common/web/gesture-recognizer/src/gestureRecognizer.ts
  common/web/gesture-recognizer/src/paddedZoneSource.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputSequenceSimulator.ts
Owners: @jahorton, @mcdurdin

fix(web): links tslib treeshaking to gesture-recognizer bundling
  common/web/es-bundling/src/tslibTreeshaking.mts
  common/web/gesture-recognizer/build-bundler.js
Owners: @jahorton, @mcdurdin

chore: enable common ci for web
  resources/build/trigger-definitions.inc.sh
Owners: @mcdurdin, @jahorton

chore(web): partial branch-revival cleanup
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/touchpathTurtle.ts
  common/web/gesture-recognizer/src/trackedPath.ts
Owners: @jahorton, @mcdurdin

chore(common): fixup tests for common/web/ci
  common/web/types/package.json
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file-reader.ts
  common/web/types/test/helpers/TestCompilerCallbacks.ts
Owners: @jahorton, @mcdurdin

fix(web): fixes resolution of major merge conflicts when reviving branch post-rebase
  common/web/gesture-recognizer/src/pathSegmenter.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/touchpathTurtle.ts
Owners: @jahorton, @mcdurdin

feat(core): document transform algorithm 🙀
  core/src/ldml/ldml_transforms.cpp
Owners: @mcdurdin, @rc-swag

feat(common,developer,core): add uset section 🙀
  common/web/types/src/kmx/element-string.ts
  common/web/types/src/kmx/kmx-builder.ts
  common/web/types/src/kmx/kmx-plus-builder/build-elem.ts
  common/web/types/src/kmx/kmx-plus-builder/build-uset.ts
  common/web/types/src/kmx/kmx-plus-builder/kmx-plus-builder.ts
  common/web/types/src/kmx/kmx-plus.ts
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/C7043_ldml.md
  core/tests/unit/ldml/test_kmx_plus.cpp
  developer/src/kmc-ldml/src/compiler/empty-compiler.ts
Owners: @jahorton, @mcdurdin, @rc-swag, @darcywong00

chore(web): Apply suggestions from code review
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/browser/src/utilApiEndpoint.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/osk/src/views/floatingOskView.ts
  web/src/engine/osk/src/views/oskView.ts
Owners: @jahorton, @mcdurdin

chore(web): corrects a couple missed URLs (established pre-PR)
  web/src/app/browser/src/keymanEngine.ts
Owners: @jahorton, @mcdurdin

chore(web): Apply suggestions from code review
  common/web/gesture-recognizer/build.sh
Owners: @jahorton, @mcdurdin

chore(developer): remove font style/color from kvk
  common/web/types/src/kvk/kvk-file-reader.ts
  common/web/types/src/kvk/kvk-file-writer.ts
  common/web/types/src/kvk/kvks-file-reader.ts
  common/web/types/src/kvk/visual-keyboard.ts
  common/web/types/test/kvk/test-kvk-utils.ts
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/visual-keyboard-compiler.ts
  developer/src/kmc-ldml/src/compiler/keymanweb-compiler.ts
  developer/src/kmc-ldml/src/compiler/visual-keyboard-compiler.ts
  developer/src/kmc-ldml/test/fixtures/basic-kvk.txt
  developer/src/kmc-ldml/test/fixtures/basic-no-debug.js
  developer/src/kmc-ldml/test/fixtures/basic.js
  windows/src/engine/kmcomapi/processes/package/kpinstallpackage.pas
  windows/src/engine/kmcomapi/processes/visualkeyboard/KPInstallVisualKeyboard.pas
Owners: @jahorton, @mcdurdin, @darcywong00, @rc-swag, @ermshiperete

chore: fix comment in common
  common/web/types/src/kvk/kvk-file-writer.ts
Owners: @jahorton, @mcdurdin

chore(developer): cleanup displayUnderlying flag in kmw compiler
  developer/src/kmc-kmn/src/kmw-compiler/visual-keyboard-compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/write-compiled-keyboard.ts
Owners: @mcdurdin, @darcywong00

chore(developer): load wasm module only once per process
  developer/src/kmc-kmn/src/compiler/compiler.ts
Owners: @mcdurdin, @darcywong00

chore(developer): support embedded files in kmw compiler
  developer/src/kmc-kmn/src/kmw-compiler/messages.ts
  developer/src/kmc-kmn/src/kmw-compiler/write-compiled-keyboard.ts
Owners: @mcdurdin, @darcywong00

chore(developer): cleanup data passing from wasm
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/write-compiled-keyboard.ts
  developer/src/kmc-kmn/test/kmw/test-compiler-manual.ts
  developer/src/kmc-kmn/test/kmw/test-compiler.ts
  developer/src/kmcmplib/include/kmcmplibapi.h
  developer/src/kmcmplib/src/CompileKeyboardBuffer.cpp
  developer/src/kmcmplib/src/Compiler.cpp
  developer/src/kmcmplib/src/CompilerInterfaces.cpp
  developer/src/kmcmplib/src/CompilerInterfacesWasm.cpp
  developer/src/kmcmplib/src/compfile.h
Owners: @mcdurdin, @darcywong00

fix(windows): testhost improve error message
  windows/src/engine/testhost/testhost.cpp
Owners: @rc-swag, @ermshiperete

auto: increment master version to 17.0.128
  HISTORY.md
  VERSION.md
Owners: none

NSNotFound is valid selection result for compatibility check
  mac/Keyman4MacIM/Keyman4MacIM/KMInputController.m
  mac/Keyman4MacIM/Keyman4MacIM/TextCompatibilityCheck.m
Owners: @sgschantz, @SabineSIL

remove tests that fail to build
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/KeymanTests/KMInputMethodBrowserClientEventHandlerTests.m
  mac/Keyman4MacIM/KeymanTests/KMInputMethodEventHandlerTests.m
Owners: @sgschantz, @SabineSIL

docs(windows): add more steps for clarity
  windows/src/engine/testhost/README.md
Owners: @rc-swag, @ermshiperete

Update windows/src/engine/testhost/testhost.cpp
  windows/src/engine/testhost/testhost.cpp
Owners: @rc-swag, @ermshiperete

chore(developer): rename data to extra
  developer/src/kmc-analyze/src/util/get-osk-from-kmn-file.ts
Owners: @mcdurdin, @darcywong00

feat: update components.wxs with correct etl man file
  windows/src/engine/inst/components.wxs
Owners: @rc-swag, @ermshiperete

chore(web): reorganizes gesture-recognizer source in prep for chopping subsegmentation
  common/web/gesture-recognizer/.c8rc.json
  common/web/gesture-recognizer/build.sh
  common/web/gesture-recognizer/package.json
  common/web/gesture-recognizer/src/engine/configuration/gestureRecognizerConfiguration.ts
  common/web/gesture-recognizer/src/engine/configuration/paddedZoneSource.ts
  common/web/gesture-recognizer/src/engine/configuration/recognitionZoneSource.ts
  common/web/gesture-recognizer/src/engine/configuration/viewportZoneSource.ts
  common/web/gesture-recognizer/src/engine/configuration/zoneBoundaryChecker.ts
  common/web/gesture-recognizer/src/engine/gestureRecognizer.ts
  common/web/gesture-recognizer/src/engine/headless/cumulativePathStats.ts
  common/web/gesture-recognizer/src/engine/headless/inputSample.ts
  common/web/gesture-recognizer/src/engine/headless/segment.ts
  common/web/gesture-recognizer/src/engine/headless/segmentClassifier.ts
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/constructingSegment.ts
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/pathSegmenter.ts
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/subsegmentCompatibilityAnalyzer.ts
  common/web/gesture-recognizer/src/engine/headless/trackedPath.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  common/web/gesture-recognizer/src/engine/mouseEventEngine.ts
  common/web/gesture-recognizer/src/engine/mutable.ts
  common/web/gesture-recognizer/src/engine/nonoptional.ts
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
  common/web/gesture-recognizer/src/engine/trackedInput.ts
  common/web/gesture-recognizer/src/engine/trackedPoint.ts
  common/web/gesture-recognizer/src/index.ts
  common/web/gesture-recognizer/src/test/auto/headless/recordedSegmentations.js
  common/web/gesture-recognizer/src/test/auto/headless/trackedPath.js
  common/web/gesture-recognizer/test.sh
  common/web/gesture-recognizer/tsconfig.json
Owners: @jahorton, @mcdurdin

chore(web): disconnects subsegmentation from core gesture engine
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/README.md
  common/web/gesture-recognizer/src/engine/headless/trackedPath.ts
  common/web/gesture-recognizer/src/test/auto/headless/recordedSegmentations.js
  common/web/gesture-recognizer/src/test/auto/headless/trackedPath.js
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessRecordingSimulator.ts
Owners: @jahorton, @mcdurdin

chore(web): segment class can also be cut
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/constructingSegment.ts
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/pathSegmenter.ts
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/segment.ts
  common/web/gesture-recognizer/src/engine/headless/trackedPath.ts
  common/web/gesture-recognizer/src/engine/index.ts
Owners: @jahorton, @mcdurdin

auto: increment master version to 17.0.129
  HISTORY.md
  VERSION.md
Owners: none

chore(android/app): Add contentDescription to text slider
  android/KMAPro/kMAPro/src/main/res/layout/text_size_controller.xml
  android/KMAPro/kMAPro/src/main/res/values/strings.xml
Owners: @darcywong00, @sgschantz

chore(android/engine): Remove extra text from image_button
  android/KMEA/app/src/main/res/values/strings.xml
Owners: @darcywong00, @sgschantz

fix(windows): Don't break KMXPlus on install
  windows/src/engine/mcompile/mcompile.cpp
Owners: @rc-swag, @ermshiperete

fix(core): fix ldml transforms 🙀
  core/src/ldml/ldml_processor.cpp
Owners: @mcdurdin, @rc-swag

fix(core): fix ldml backspace 🙀
  core/src/ldml/ldml_processor.cpp
Owners: @mcdurdin, @rc-swag

fix(core): fix ldml enter 🙀
  core/src/ldml/ldml_processor.cpp
Owners: @mcdurdin, @rc-swag

remove event and client from ActionHandler
  mac/Keyman4MacIM/Keyman4MacIM.xcodeproj/project.pbxproj
  mac/Keyman4MacIM/Keyman4MacIM/KMCoreActionHandler.h
  mac/Keyman4MacIM/Keyman4MacIM/KMCoreActionHandler.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/Keyman4MacIM/KeymanTests/CoreActionHandlerTests.m
Owners: @sgschantz, @SabineSIL

chore: Apply suggestions from code review
  developer/src/kmc-kmn/src/kmw-compiler/constants.ts
Owners: @mcdurdin, @darcywong00

chore: Update developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/compiler/compiler.ts
Owners: @mcdurdin, @darcywong00
