Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

fix failed unit test, remove obsolete library references
  mac/Keyman4MacIM/KeymanTests/CoreActionHandlerTests.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/project.pbxproj
Owners: @sgschantz, @SabineSIL

fix unit test access to CoreAction
  mac/Keyman4MacIM/Keyman4MacIM/KMCoreActionHandler.h
  mac/Keyman4MacIM/KeymanTests/CoreActionHandlerTests.m
Owners: @sgschantz, @SabineSIL

chore(web): minor cleanup per review comment
  common/web/keyboard-processor/src/text/keyEvent.ts
Owners: @jahorton, @mcdurdin

feat(core): new actions APIs
  core/include/keyman/keyman_core_api.h
  core/src/action.cpp
  core/src/action.hpp
  core/src/km_core_action_api.cpp
  core/src/km_core_context_api.cpp
  core/src/km_core_state_api.cpp
  core/src/meson.build
  core/tests/unit/kmnkbd/action_api.cpp
  core/tests/unit/kmnkbd/meson.build
Owners: @mcdurdin, @rc-swag

chore(web): adjustments per PR review comments
  web/src/engine/osk/src/banner/banner.ts
  web/src/engine/osk/src/input/gestures/browser/pendingMultiTap.ts
Owners: @jahorton, @mcdurdin

chore(core): c++ ftw
  core/src/action.cpp
Owners: @mcdurdin, @rc-swag

feat(web): start of configurable key-hint implementation
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  web/src/engine/osk/src/keyboard-layout/oskBaseKey.ts
  web/src/resources/osk/kmwosk.css
Owners: @jahorton, @mcdurdin

feat(web): proper determineHint implementation
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
Owners: @jahorton, @mcdurdin

fix(web): proper sourcing for hint font style
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  web/src/engine/osk/src/keyboard-layout/oskBaseKey.ts
  web/src/resources/osk/kmwosk.css
Owners: @jahorton, @mcdurdin

fix(web): defaultHint is optional; must null-guard
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
Owners: @jahorton, @mcdurdin

change(web): ActiveKeyBase.hintSrc
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
  web/src/engine/osk/src/keyboard-layout/oskBaseKey.ts
Owners: @jahorton, @mcdurdin

fix(web): right, custom fontsize
  web/src/engine/osk/src/keyboard-layout/oskBaseKey.ts
Owners: @jahorton, @mcdurdin

fix(web): niche case for bold-font styling
  web/src/engine/osk/src/keyboard-layout/oskBaseKey.ts
Owners: @jahorton, @mcdurdin

fix(web): position of determineHint return statement
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
Owners: @jahorton, @mcdurdin

fix(web): prevent switch-case fallthrough
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
Owners: @jahorton, @mcdurdin

chore(core): fix types and compile errors
  core/include/keyman/keyman_core_api.h
  core/src/action.cpp
  core/src/state.hpp
  core/tests/unit/kmnkbd/action_api.cpp
  core/tests/unit/kmnkbd/debug_api.cpp
  core/tests/unit/kmnkbd/state_api.cpp
  developer/src/tike/main/Keyman.System.KeymanCore.pas
  windows/src/engine/keyman32/tests/keyman-engine-tests/kmprocessactionstests.cpp
Owners: @mcdurdin, @rc-swag, @darcywong00, @ermshiperete

chore(core): bool to int for cross-platform
  core/include/keyman/keyman_core_api.h
Owners: @mcdurdin, @rc-swag

refactor(web): transcription cache needed for multitaps, no longer prediction-only
  common/web/input-processor/src/text/inputProcessor.ts
  common/web/input-processor/src/text/prediction/languageProcessor.ts
  common/web/input-processor/src/transcriptionCache.ts
Owners: @jahorton, @mcdurdin

feat(web): start of a ten-key analogue
  web/src/test/manual/web/keyboards/ye_old_ten_key/HISTORY.md
  web/src/test/manual/web/keyboards/ye_old_ten_key/LICENSE.md
  web/src/test/manual/web/keyboards/ye_old_ten_key/README.md
  web/src/test/manual/web/keyboards/ye_old_ten_key/source/readme.htm
  web/src/test/manual/web/keyboards/ye_old_ten_key/source/welcome.htm
  web/src/test/manual/web/keyboards/ye_old_ten_key/source/ye_old_ten_key.keyman-touch-layout
  web/src/test/manual/web/keyboards/ye_old_ten_key/source/ye_old_ten_key.kmn
  web/src/test/manual/web/keyboards/ye_old_ten_key/source/ye_old_ten_key.kps
  web/src/test/manual/web/keyboards/ye_old_ten_key/source/ye_old_ten_key.kvks
  web/src/test/manual/web/keyboards/ye_old_ten_key/ye_old_ten_key.keyboard_info
  web/src/test/manual/web/keyboards/ye_old_ten_key/ye_old_ten_key.kpj
Owners: @jahorton, @mcdurdin

feat(web): test kbd prototyping pt 1
  web/src/test/manual/web/keyboards/gesture_prototyping/HISTORY.md
  web/src/test/manual/web/keyboards/gesture_prototyping/LICENSE.md
  web/src/test/manual/web/keyboards/gesture_prototyping/README.md
  web/src/test/manual/web/keyboards/gesture_prototyping/gesture_prototyping.keyboard_info
  web/src/test/manual/web/keyboards/gesture_prototyping/gesture_prototyping.kpj
  web/src/test/manual/web/keyboards/gesture_prototyping/source/gesture_prototyping.keyman-touch-layout
  web/src/test/manual/web/keyboards/gesture_prototyping/source/gesture_prototyping.kmn
  web/src/test/manual/web/keyboards/gesture_prototyping/source/gesture_prototyping.kps
  web/src/test/manual/web/keyboards/gesture_prototyping/source/gesture_prototyping.kvks
  web/src/test/manual/web/keyboards/gesture_prototyping/source/readme.htm
  web/src/test/manual/web/keyboards/gesture_prototyping/source/welcome.htm
Owners: @jahorton, @mcdurdin

feat(web): kbd warning fixes, linkage to test pages
  web/src/test/manual/web/commonHeader.js
  web/src/test/manual/web/keyboards/gesture_prototyping/source/gesture_prototyping.keyman-touch-layout
  web/src/test/manual/web/keyboards/gesture_prototyping/source/gesture_prototyping.kmn
Owners: @jahorton, @mcdurdin

feat(web): hints based on flicks
  web/src/test/manual/web/keyboards/gesture_prototyping/build/gesture_prototyping.js
  web/src/test/manual/web/keyboards/gesture_prototyping/source/gesture_prototyping.keyman-touch-layout
Owners: @jahorton, @mcdurdin

fix(web): force-includes keyboard build products
  web/src/test/manual/web/keyboards/gesture_prototyping/build/gesture_prototyping.js
  web/src/test/manual/web/keyboards/ye_old_ten_key/build/ye_old_ten_key.js
Owners: @jahorton, @mcdurdin

feat(core): address review comments
  core/include/keyman/keyman_core_api.h
  core/src/action.cpp
  core/src/action.hpp
  core/src/km_core_action_api.cpp
  core/src/km_core_state_api.cpp
  core/tests/unit/kmnkbd/action_api.cpp
Owners: @mcdurdin, @rc-swag

fix(web): someone forgot to actually use 'test mode'
  common/web/lm-worker/src/test/cases/worker-custom-punctuation.js
  common/web/lm-worker/src/test/cases/worker-model-compositor.js
Owners: @jahorton, @mcdurdin

chore(core): cross-platform differences again
  core/src/km_core_state_api.cpp
Owners: @mcdurdin, @rc-swag

chore: add comments to note internal APIs
  developer/src/server/src/site/packages.js
  developer/src/server/src/site/test.js
Owners: @mcdurdin, @darcywong00

feat(web): shift layer for ten-keys, multitaps with next layer
  web/src/test/manual/web/keyboards/ye_old_ten_key/build/ye_old_ten_key.js
  web/src/test/manual/web/keyboards/ye_old_ten_key/source/ye_old_ten_key.keyman-touch-layout
Owners: @jahorton, @mcdurdin

fix(web): facepalm moment - shift didn't switch layers
  web/src/test/manual/web/keyboards/ye_old_ten_key/build/ye_old_ten_key.js
  web/src/test/manual/web/keyboards/ye_old_ten_key/source/ye_old_ten_key.keyman-touch-layout
Owners: @jahorton, @mcdurdin

feat(web): proper ids, next-layer defs for other test kbd
  web/src/test/manual/web/keyboards/gesture_prototyping/build/gesture_prototyping.js
  web/src/test/manual/web/keyboards/gesture_prototyping/source/gesture_prototyping.keyman-touch-layout
Owners: @jahorton, @mcdurdin

chore(core): update debian symbols
  linux/debian/libkmnkbp0-0.symbols
Owners: @ermshiperete, @darcywong00

chore(core): rename to code_points_to_delete
  core/include/keyman/keyman_core_api.h
  core/src/action.cpp
  core/tests/unit/kmnkbd/action_api.cpp
Owners: @mcdurdin, @rc-swag

fix(web): unit test patchup b/c new constructor param
  common/web/input-processor/src/index.ts
  common/web/input-processor/tests/cases/languageProcessor.js
  common/web/input-processor/tests/cases/predictionContext.js
Owners: @jahorton, @mcdurdin

docs(web): completes partial comment
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
Owners: @jahorton, @mcdurdin

fix(developer): reduce confusion in Unicode fields in touch layout editor
  developer/src/tike/xml/layoutbuilder/builder.xsl
Owners: @mcdurdin, @darcywong00

chore(resources): ldml update to prefinal v44 🙀
  resources/standards-data/ldml-keyboards/techpreview/3.0/fr-t-k0-azerty.xml
  resources/standards-data/ldml-keyboards/techpreview/3.0/ja-Latn.xml
  resources/standards-data/ldml-keyboards/techpreview/3.0/mt-t-k0-47key.xml
  resources/standards-data/ldml-keyboards/techpreview/3.0/mt.xml
  resources/standards-data/ldml-keyboards/techpreview/3.0/pcm.xml
  resources/standards-data/ldml-keyboards/techpreview/3.0/pt-t-k0-abnt2.xml
  resources/standards-data/ldml-keyboards/techpreview/cldr_info.json
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard3.dtd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard3.xsd
  resources/standards-data/ldml-keyboards/techpreview/import/keys-Latn-implied.xml
  resources/standards-data/ldml-keyboards/techpreview/import/keys-Zyyy-currency.xml
  resources/standards-data/ldml-keyboards/techpreview/import/keys-Zyyy-punctuation.xml
  resources/standards-data/ldml-keyboards/techpreview/ldml-keyboard3.schema.json
Owners: @mcdurdin, @jahorton

chore(core): address review comments
  core/include/keyman/keyman_core_api.h
  core/src/action.cpp
  core/src/km_core_state_api.cpp
  core/tests/unit/kmnkbd/action_api.cpp
Owners: @mcdurdin, @rc-swag

auto: increment master version to 17.0.198
  HISTORY.md
  VERSION.md
Owners: none

chore(developer,common,core): ldml update to prefinal v44 🙀
  common/web/types/src/kmx/kmx-plus-builder/build-keys.ts
  common/web/types/src/kmx/kmx-plus-builder/build-meta.ts
  common/web/types/src/kmx/kmx-plus-builder/build-name.ts
  common/web/types/src/kmx/kmx-plus-builder/kmx-plus-builder.ts
  common/web/types/src/kmx/kmx-plus.ts
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml.ts
  core/include/ldml/keyman_core_ldml.h
  core/include/ldml/keyman_core_ldml.ts
  core/src/ldml/C7043_ldml.md
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-ldml/src/compiler/keymanweb-compiler.ts
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/layr.ts
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/src/compiler/meta.ts
  developer/src/kmc-ldml/src/compiler/metadata-compiler.ts
  developer/src/kmc-ldml/src/compiler/name.ts
  developer/src/kmc-ldml/src/compiler/touch-layout-compiler.ts
  developer/src/kmc-ldml/src/compiler/visual-keyboard-compiler.ts
  developer/src/kmc-ldml/src/util/util.ts
  developer/src/kmc-ldml/test/fixtures/sections/meta/invalid-normalization.xml
  developer/src/kmc-ldml/test/fixtures/sections/meta/maximal.xml
  developer/src/kmc-ldml/test/fixtures/sections/name/minimal.xml
  developer/src/kmc-ldml/test/fixtures/sections/name/multiple.xml
  developer/src/kmc-ldml/test/test-keys.ts
  developer/src/kmc-ldml/test/test-layr.ts
  developer/src/kmc-ldml/test/test-meta.ts
  developer/src/kmc-ldml/test/test-name.ts
  developer/src/kmc-ldml/test/test-utils.ts
Owners: @jahorton, @mcdurdin, @rc-swag, @darcywong00

chore(core): rename kbp to core
  core/src/action.cpp
  core/src/action.hpp
  core/src/km_core_action_api.cpp
  core/tests/unit/kmnkbd/action_api.cpp
  linux/debian/libkeymancore.symbols
Owners: @mcdurdin, @rc-swag, @ermshiperete, @darcywong00

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
