Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete

chore(web): revert early gesture-model tweaks
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/gestureModel.ts
Owners: @jahorton, @mcdurdin

fix(web): empty arrays are not falsy
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
Owners: @jahorton, @mcdurdin

chore(web): more reversion of early gestureModel spec shifts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/gestureModel.ts
Owners: @jahorton, @mcdurdin

Update android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
Owners: @darcywong00, @sgschantz

chore(linux): Remove obsolete code
  linux/ibus-keyman/build.sh
Owners: @ermshiperete, @darcywong00

chore(web): Cleanup embeddedGestureConfig
  web/src/engine/osk/src/config/embeddedGestureConfig.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

feat(windows): review comment
  windows/src/desktop/kmshell/main/initprog.pas
Owners: @rc-swag, @ermshiperete

fix(linux): Correctly open files linked from help page
  linux/keyman-config/keyman_config/welcome.py
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile small change in mc_import_rules
  linux/mcompile/keymap/mc_import_rules.cpp
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.178
  HISTORY.md
  VERSION.md
Owners: none

chore(resources): ldml update keyboard -> keyboard3 🙀
  resources/standards-data/ldml-keyboards/techpreview/cldr_info.json
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard3.dtd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard3.xsd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboardTest3.dtd
Owners: @mcdurdin, @jahorton

chore(core): ldml update keyboard -> keyboard3 🙀
  core/tests/unit/ldml/ldml_test_source.cpp
Owners: @mcdurdin, @rc-swag

chore(core): ldml update keyboard -> keyboard3 🙀
  common/web/types/test/fixtures/test-fr.xml
  core/tests/unit/ldml/keyboards/k_001_tiny-test.xml
  core/tests/unit/ldml/keyboards/k_007_transform_rgx-test.xml
  core/tests/unit/ldml/keyboards/k_020_fr-test.xml
  core/tests/unit/ldml/keyboards/k_200_reorder_nod_Lana-test.xml
  core/tests/unit/ldml/keyboards/k_210_marker-test.xml
  developer/src/kmc-ldml/test/fixtures/test-fr.xml
Owners: @jahorton, @mcdurdin, @rc-swag, @darcywong00

feat: mid task review comments
  windows/src/desktop/kmshell/main/OnlineUpdateCheck.pas
Owners: @rc-swag, @ermshiperete

feat: WIP small changes before merging latest epic branch
  windows/src/desktop/kmshell/main/OnlineUpdateCheck.pas
  windows/src/desktop/kmshell/main/initprog.pas
Owners: @rc-swag, @ermshiperete

docs(linux): Update readme for ibus-keyman tests
  linux/ibus-keyman/tests/README.md
Owners: @ermshiperete, @darcywong00

chore(linux): Don't crash if error is not set
  linux/ibus-keyman/src/KeymanSystemServiceClient.cpp
Owners: @ermshiperete, @darcywong00

chore(linux): Check existence of `services` directory
  linux/ibus-keyman/tests/KmDbusTestServer.cpp
Owners: @ermshiperete, @darcywong00

fix(linux): Fix detection of unit tests
  linux/keyman-config/keyman_config/sentry_handling.py
Owners: @ermshiperete, @darcywong00

feat(developer): Windows package installer compiler
  common/web/types/src/package/kps-file.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/windows-package-installer-compiler.ts
  developer/src/kmc-package/src/main.ts
  developer/src/kmc-package/test/fixtures/windows-installer/keymandesktop.txt
  developer/src/kmc-package/test/fixtures/windows-installer/license.txt
  developer/src/kmc-package/test/fixtures/windows-installer/setup.txt
  developer/src/kmc-package/test/test-windows-package-installer-compiler.ts
  developer/src/kmc/README.md
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildTestData.ts
  developer/src/kmc/src/commands/buildWindowsPackageInstaller/index.ts
  developer/src/kmc/src/kmc.ts
Owners: @jahorton, @mcdurdin, @darcywong00

chore(developer): remove extra parameter
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
Owners: @mcdurdin, @darcywong00

feat(linux): mcompile move all functions that use VectorFile.txt to helpers
  linux/mcompile/keymap/helpers.cpp
  linux/mcompile/keymap/helpers.h
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mcompile.cpp
  linux/mcompile/keymap/mcompile.h
  linux/mcompile/keymap/meson.build
Owners: @ermshiperete, @darcywong00

chore(web): Update keymanweb-osk.ttf to 4.0
  web/src/resources/osk/keymanweb-osk.ttf
Owners: @jahorton, @mcdurdin

chore(linux): Add dependency to build.sh
  linux/debian/rules
  linux/ibus-keyman/build.sh
  linux/keyman-system-service/meson.build
  linux/scripts/reconf.sh
Owners: @ermshiperete, @darcywong00

chore(linux): Prevent warning during packaging
  .github/workflows/deb-packaging.yml
Owners: none

chore(linux): Fix bug in ibus-keyman `run-tests.sh` script
  linux/ibus-keyman/tests/scripts/run-tests.sh
Owners: @ermshiperete, @darcywong00

chore(linux): Debug test failures
  linux/ibus-keyman/tests/scripts/test-helper.inc.sh
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.179
  HISTORY.md
  VERSION.md
Owners: none

chore(core): update kmc call
  core/tests/unit/ldml/keyboards/meson.build
Owners: @mcdurdin, @rc-swag

fix(web): gesture-model did not check start-item conditions for first source
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
Owners: @jahorton, @mcdurdin

fix(web): gesture-model definition spec + gesture-sequence implementation
  common/web/gesture-recognizer/src/engine/gestureRecognizer.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/index.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/gestureModel.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/gestureModelDefs.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/index.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/engine/index.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureModelDefs.spec.ts
  common/web/utils/src/managedPromise.ts
Owners: @jahorton, @mcdurdin

chore(web): minor cleanup
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
Owners: @jahorton, @mcdurdin

change(web): optional-chain => replace, chain
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/gestureModel.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedGestureSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/matcherSelector.spec.ts
Owners: @jahorton, @mcdurdin

change(web): 'setchange' merged into 'chain'
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/gestureModel.ts
Owners: @jahorton, @mcdurdin

docs(web): better documentation on gesture-model spec shift
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/gestureModel.ts
Owners: @jahorton, @mcdurdin

feat(web): implements GestureSequence
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureSequence.spec.ts
  common/web/gesture-recognizer/src/test/resources/sequenceAssertions.ts
Owners: @jahorton, @mcdurdin

chore(web): forgot to fully remove old bit from what was 'optional-chain'
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
Owners: @jahorton, @mcdurdin

feat(web): shortcutted simple-taps now separate gesture sequences
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/gestureModel.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureSequence.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedGestureSpecs.ts
Owners: @jahorton, @mcdurdin

feat(web): integrates GestureSequence with GestureRecognizer
  common/web/gesture-recognizer/src/engine/gestureRecognizer.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/touchpointCoordinator.spec.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/hostFixtureLayoutController.ts
Owners: @jahorton, @mcdurdin

feat(web): test for blocking of new gestures while selecting subkeys
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureModelDefs.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedGestureSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/matcherSelector.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/touchpointCoordinator.spec.ts
Owners: @jahorton, @mcdurdin
