Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete

docs(windows): remove text_services_framework page
  windows/src/desktop/help/advanced/index.md
  windows/src/desktop/help/advanced/text_services_framework.md
  windows/src/desktop/help/index.md
Owners: @rc-swag, @ermshiperete

chore(linux): Re-enable building for Ubuntu 23.10 Mantic
  .github/workflows/deb-packaging.yml
  linux/scripts/launchpad.sh
Owners: @ermshiperete, @darcywong00

chore(linux): Fix build scripts
  linux/ibus-keyman/build.sh
  linux/keyman-system-service/build.sh
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.194
  HISTORY.md
  VERSION.md
Owners: none

chore(linux): Add missing tests
  linux/ibus-keyman/src/test/keymanutil_tests.c
Owners: @ermshiperete, @darcywong00

fix(developer): ignore whitespace at end of LICENSE.md
  developer/src/common/web/utils/src/validate-mit-license.ts
Owners: @mcdurdin, @darcywong00

fix(developer): avoid adding null font data to keyboard_info
  developer/src/kmc-keyboard-info/src/index.ts
Owners: @mcdurdin, @darcywong00

fix(developer): handle fv_all keyboard project with no .kmn
  common/web/types/src/main.ts
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
Owners: @jahorton, @mcdurdin, @darcywong00

fix(developer): handle invalid project folders cleanly
  common/web/types/src/kpj/keyman-developer-project.ts
  developer/src/kmc/src/messages/infrastructureMessages.ts
  developer/src/kmc/src/util/projectLoader.ts
Owners: @jahorton, @mcdurdin, @darcywong00

chore(web): better handling for subkeys matching a base key
  common/web/input-processor/src/corrections.ts
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

fix(web): forgot that 'this' ref changed in extracted method, fixes ref
  common/web/input-processor/src/correctionLayout.ts
Owners: @jahorton, @mcdurdin

chore(web): revert unneeded type spec on a static const
  common/web/keyboard-processor/src/keyboards/defaultLayouts.ts
Owners: @jahorton, @mcdurdin

feat(web): layout constant lockdown (readonly, as const)
  common/web/keyboard-processor/src/keyboards/defaultLayouts.ts
Owners: @jahorton, @mcdurdin

chore(web): Apply suggestions from code review
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file.ts
Owners: @jahorton, @mcdurdin

refactor(web): suggestion banner now uses gesture engine
  web/src/engine/osk/src/banner/banner.ts
  web/src/engine/osk/src/banner/bannerGestureSet.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
Owners: @jahorton, @mcdurdin

chore(web): mass cleanup - removes old contact-point input engine classes, refs
  web/src/engine/osk/src/banner/banner.ts
  web/src/engine/osk/src/config/embeddedGestureConfig.ts
  web/src/engine/osk/src/index.ts
  web/src/engine/osk/src/input/event-interpreter/inputEventEngine.ts
  web/src/engine/osk/src/input/event-interpreter/mouseEventEngine.ts
  web/src/engine/osk/src/input/event-interpreter/touchEventEngine.ts
  web/src/engine/osk/src/input/event-interpreter/uiTouchHandlerBase.ts
  web/src/engine/osk/src/input/gestures/browser/pendingMultiTap.ts
  web/src/engine/osk/src/input/gestures/pendingGesture.interface.ts
  web/src/engine/osk/src/input/gestures/realizedGesture.interface.ts
  web/src/engine/osk/src/input/inputEventCoordinate.ts
  web/src/engine/osk/src/input/mouseDragOperation.ts
  web/src/engine/osk/src/keyboard-layout/oskKey.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

fix(web): treeshaking helper didn't apply to all classes in a file
  common/web/es-bundling/src/classTreeshaker.mts
Owners: @jahorton, @mcdurdin

fix(web): fixes touch form-factor default kbd on cookieless keymanweb.com load
  web/src/app/browser/src/keymanEngine.ts
Owners: @jahorton, @mcdurdin

fix(ios): cherrypicks FV ios build script fix
  oem/firstvoices/ios/build.sh
Owners: @sgschantz, @jahorton

chore(web): better method name
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
  web/src/engine/osk/src/input/gestures/gestureHandler.ts
  web/src/engine/osk/src/input/gestures/heldRepeater.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

chore(linux): Fix coverage report creation for keyman-system-service
  linux/keyman-system-service/build.sh
Owners: @ermshiperete, @darcywong00

chore(linux): Update readme
  docs/linux/README.md
Owners: @mcdurdin, @jahorton

chore(linux): Rename KBP to CORE
  common/include/kmx_file.h
  core/include/keyman/keyman_core_api_bits.h
  core/meson.build
  core/src/kmx/kmx_file_validator.hpp
  core/src/kmx/kmx_processevent.h
  core/src/meson.build
  core/src/path.hpp
  core/src/processor.hpp
  core/src/version.rc
  core/tests/unit/kmnkbd/meson.build
  core/tests/unit/kmnkbd/test_kmx_xstring.cpp
  core/tools/ldml-const-builder/build.sh
  windows/src/engine/keyman32/keyboardoptions.cpp
  windows/src/engine/keyman32/keymanengine.h
Owners: @mcdurdin, @rc-swag, @ermshiperete

chore(linux): Allow to collect coverage on TC
  docs/linux/README.md
  linux/keyman-config/run-tests.sh
Owners: @mcdurdin, @jahorton, @ermshiperete, @darcywong00

chore(linux): Additionally specify regular schemas path
  linux/keyman-config/build.sh
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.195
  HISTORY.md
  VERSION.md
Owners: none

fix(core): ldml more updates to normalization per review 🙀
  core/src/debuglog.h
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/tests/unit/ldml/ldml_test_source.cpp
Owners: @mcdurdin, @rc-swag

fix(core): ldml more updates to normalization per review 🙀
  core/src/ldml/ldml_transforms.cpp
Owners: @mcdurdin, @rc-swag

fix(core): ldml more updates to normalization per review 🙀
  core/src/ldml/ldml_transforms.cpp
Owners: @mcdurdin, @rc-swag

fix(common): don't use URL in common/web/types
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/test/helpers/reader-callback-test.ts
  developer/src/kmc-ldml/test/helpers/index.ts
  developer/src/kmc/src/commands/buildClasses/BuildLdmlKeyboard.ts
  developer/src/kmc/src/commands/buildTestData/index.ts
Owners: @jahorton, @mcdurdin, @darcywong00

docs(windows): apply code review suggestions
  windows/src/desktop/help/troubleshooting/install-app-from-anywhere.md
Owners: @rc-swag, @ermshiperete

change(web): generics multiplication - StateToken param now more necessary
  common/web/gesture-recognizer/src/engine/configuration/gestureRecognizerConfiguration.ts
  common/web/gesture-recognizer/src/engine/gestureRecognizer.ts
  common/web/gesture-recognizer/src/engine/headless/gestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/pathMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/contactModel.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/gestureModel.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/gestureModelDefs.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  web/src/engine/osk/src/keyboard-layout/oskLayerGroup.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

fix(web): first-pass mitigation for TWo-caps issue
  common/web/gesture-recognizer/src/engine/headless/gestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

fix(web): fixes #7173 via deferment of simultaneous touches
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
Owners: @jahorton, @mcdurdin

fix(web): automated test patchup due to added async
  web/src/tools/testing/recorder/browserDriver.ts
Owners: @jahorton, @mcdurdin

chore(web): a spot of cleanup
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
Owners: @jahorton, @mcdurdin

chore(web): forgot to remove a done TODO
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/inputSequenceSimulator.ts
Owners: @jahorton, @mcdurdin

chore: update kmp.schema.json and docs for kps schema
  common/schemas/kmp/README.md
  common/schemas/kmp/kmp.schema.json
  common/schemas/kps/README.md
Owners: @mcdurdin, @jahorton

chore(linux): Rename KMN_CORE to KM_CORE_LIBRARY
  common/include/kmx_file.h
  core/include/keyman/keyman_core_api_bits.h
  core/meson.build
  core/src/kmx/kmx_file_validator.hpp
  core/src/kmx/kmx_processevent.h
  core/src/meson.build
  core/tests/unit/kmnkbd/meson.build
  core/tests/unit/kmnkbd/test_kmx_xstring.cpp
  windows/src/engine/keyman32/keymanengine.h
Owners: @mcdurdin, @rc-swag, @ermshiperete

fix(web): better timing for the in-process source await
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
Owners: @jahorton, @mcdurdin
