Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete

fix(web): 'rejectionwithaction' handler filtering, cleanup
  common/web/gesture-recognizer/src/engine/headless/gestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
Owners: @jahorton, @mcdurdin

fix(web): out-of-bounds nearestKey nit
  web/src/engine/osk/src/keyboard-layout/oskLayerGroup.ts
Owners: @jahorton, @mcdurdin

rename coreWrapper
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
Owners: @sgschantz, @SabineSIL

chore(web): restoration of held-backspace
  common/web/gesture-recognizer/src/engine/index.ts
  web/src/engine/osk/src/input/gestures/heldRepeater.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

chore(web): re-establishes base-keyboard out-of-bounds roaming
  common/web/gesture-recognizer/src/engine/configuration/paddedZoneSource.ts
  web/src/engine/osk/src/keyboard-layout/oskLayerGroup.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

docs(windows): update text and image for windows 11
  windows/src/desktop/help/basic/make-taskbar-icon-visible.md
  windows/src/desktop/help/basic/uninstall.md
  windows/src/desktop/help/desktop_images/win11-taskbar1.png
  windows/src/desktop/help/desktop_images/win11-taskbar2.png
  windows/src/desktop/help/desktop_images/win11-uninstall.png
  windows/src/desktop/help/desktop_images/win11_km_install_anywhere_1.png
  windows/src/desktop/help/start/download-and-install-keyman.md
  windows/src/desktop/help/troubleshooting/index.md
  windows/src/desktop/help/troubleshooting/install-app-from-anywhere.md
Owners: @rc-swag, @ermshiperete

docs(windows): List some apps that use TSF
  windows/src/desktop/help/advanced/text_services_framework.md
Owners: @rc-swag, @ermshiperete

feat(common): precompile json schemas to improve performance
  common/web/types/.eslintrc.cjs
  common/web/types/.gitignore
  common/web/types/build.sh
  common/web/types/package.json
  common/web/types/src/keyman-touch-layout/keyman-touch-layout-file-reader.ts
  common/web/types/src/kpj/kpj-file-reader.ts
  common/web/types/src/kvk/kvks-file-reader.ts
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml-reader.ts
  common/web/types/src/main.ts
  common/web/types/src/osk/osk.ts
  common/web/types/src/schema-validators.ts
  common/web/types/test/helpers/index.ts
  common/web/types/test/tsconfig.json
  common/web/types/tools/formats.cjs
  common/web/types/tools/schema-bundler.js
  common/web/types/tsconfig.json
  common/web/utils/package.json
  developer/src/kmc-keyboard-info/build.sh
  developer/src/kmc-keyboard-info/package.json
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-ldml/package.json
  developer/src/kmc-ldml/tsconfig.json
  package-lock.json
  package.json
  tsconfig.esm-base.json
Owners: @jahorton, @mcdurdin, @darcywong00

fix(developer): server node addin paths
  developer/src/server/build-addins.inc.sh
  developer/src/server/build.sh
Owners: @mcdurdin, @darcywong00

chore(common): fixup sourcemap-path-remapper build settings
  common/tools/sourcemap-path-remapper/src/convert-source-map.d.ts
  common/tools/sourcemap-path-remapper/tsconfig.json
Owners: @mcdurdin, @rc-swag

chore(web): reduce strictness on ts
  web/tsconfig.base.json
Owners: @jahorton, @mcdurdin

chore(common): reduce strictness on ts for sentry-manager
  common/web/sentry-manager/src/tsconfig.json
Owners: @jahorton, @mcdurdin

feat(linux): mcompile fill rgkey: numbers and A-Z are filled OK
  linux/mcompile/keymap/README.md
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mc_import_rules.cpp
Owners: @ermshiperete, @darcywong00

feat(common,developer): DRY out strings 🙀
  common/web/types/src/kmx/element-string.ts
  common/web/types/src/kmx/kmx-plus.ts
  common/web/types/src/kmx/string-list.ts
  developer/src/kmc-ldml/src/compiler/disp.ts
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/tran.ts
  developer/src/kmc-ldml/src/compiler/vars.ts
Owners: @jahorton, @mcdurdin, @darcywong00

chore: Add comment to common/web/types/src/schema-validators.ts
  common/web/types/src/schema-validators.ts
Owners: @jahorton, @mcdurdin

fix(windows): re-enable signature check
  common/windows/delphi/ext/sentry/test/Makefile
  common/windows/delphi/tools/Makefile
  common/windows/delphi/tools/verify_signatures/Makefile
  common/windows/delphi/tools/verify_signatures/sigcheck.bin
  common/windows/delphi/tools/verify_signatures/verify_signatures.dpr
  common/windows/delphi/tools/verify_signatures/verify_signatures.dproj
  common/windows/delphi/tools/verify_signatures/verify_signatures.res
  developer/src/Makefile
  developer/src/inst/download.in.mak
  developer/src/tools/verify_signatures/Makefile
  windows/src/Defines.mak
  windows/src/Makefile
  windows/src/desktop/inst/download.in
  windows/src/desktop/insthelp/Makefile
  windows/src/desktop/kmconfig/Makefile
  windows/src/desktop/kmshell/Makefile
  windows/src/support/charident/Makefile
  windows/src/support/km_yim/Makefile
  windows/src/test/Makefile
  windows/src/test/test_i3633/Makefile
  windows/src/test/verify_signatures/Makefile
Owners: @mcdurdin, @rc-swag, @darcywong00, @ermshiperete

chore(windows): fix path in Makefile
  windows/src/test/Makefile
Owners: @rc-swag, @ermshiperete

fix(android/engine): Use white and Keyman theme banners
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/assets/android-host.js
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Owners: @darcywong00, @sgschantz

refactor(android): Change set/getBanner
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/assets/android-host.js
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboardWebViewClient.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Owners: @darcywong00, @sgschantz

chore(android/app): Use white banner theme
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Owners: @darcywong00, @sgschantz

refactor(android/engine): Move constants to KMManager
  android/KMAPro/kMAPro/src/main/java/com/keyman/android/SystemKeyboard.java
  android/KMEA/app/src/main/assets/android-host.js
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Owners: @darcywong00, @sgschantz

change(android): Add image banner
  android/KMEA/app/src/main/assets/android-host.js
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboardWebViewClient.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
  android/KMEA/app/src/main/res/drawable-land-mdpi/banner_landscape.png
  android/KMEA/app/src/main/res/drawable-mdpi/banner_portrait.png
Owners: @darcywong00, @sgschantz

fix(web): Handle banner initialization
  web/src/engine/osk/src/banner/bannerView.ts
Owners: @jahorton, @mcdurdin

fix(android/engine): Try green banner
  android/KMEA/app/src/main/assets/android-host.js
  android/KMEA/app/src/main/java/com/keyman/engine/KMKeyboard.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Owners: @darcywong00, @sgschantz

chore(web): Revert initial banner
  web/src/engine/osk/src/banner/bannerView.ts
Owners: @jahorton, @mcdurdin

chore(web): Default to image banner on Android
  web/src/engine/osk/src/banner/bannerView.ts
Owners: @jahorton, @mcdurdin

fix(web): Start with image banner
  web/src/engine/osk/src/banner/bannerView.ts
Owners: @jahorton, @mcdurdin

fix(android): Set image path
  android/KMAPro/kMAPro/src/main/java/com/tavultesoft/kmapro/MainActivity.java
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
Owners: @darcywong00, @sgschantz

chore(windows): fix typo
  windows/src/test/verify_signatures/Makefile
Owners: @rc-swag, @ermshiperete

chore(ios): renew certificate
  ios/exportAppStore.plist
Owners: @sgschantz, @jahorton

chore(developer): sign addons in server
  developer/src/server/Makefile
Owners: @mcdurdin, @darcywong00

chore(developer): fix paths for addon signing
  developer/src/server/Makefile
Owners: @mcdurdin, @darcywong00

fix(web): null-guard for a new property
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
Owners: @jahorton, @mcdurdin

chore: ignore types for imported schemas for now
  common/web/types/src/schema-validators.ts
Owners: @jahorton, @mcdurdin

fix(web): unit test breakers, osk input emulation (partial)
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  web/src/engine/osk/src/keyboard-layout/oskLayerGroup.ts
  web/src/tools/testing/recorder/browserDriver.ts
Owners: @jahorton, @mcdurdin

fix(web): selector map cleanup on sequence termination
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
Owners: @jahorton, @mcdurdin

fix(web): Update image path when setting Options
  web/src/engine/osk/src/banner/bannerView.ts
Owners: @jahorton, @mcdurdin

fix(android/engine): Remove refresh that wasn't working
  android/KMEA/app/src/main/assets/android-host.js
Owners: @darcywong00, @sgschantz

chore(common): fixup tsconfig for common/web/utils
  developer/src/common/web/utils/tsconfig.json
Owners: @mcdurdin, @darcywong00

chore(web): Add Android tablet theme
  web/src/engine/osk/src/banner/bannerView.ts
Owners: @jahorton, @mcdurdin
