Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

feat(web): modipress path-model unit tests
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedPathSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/pathMatcher.spec.ts
Owners: @jahorton, @mcdurdin

chore(windows): GO_FAST for 7z calls on debug builds
  common/windows/delphi/Defines.mak
  windows/src/Defines.mak
Owners: @mcdurdin, @rc-swag, @ermshiperete

chore(web): flick test placeholders
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedPathSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/pathMatcher.spec.ts
Owners: @jahorton, @mcdurdin

feat(windows): updated loading of the proxy dll
  windows/src/engine/keyman32-ver/calldll.cpp
Owners: @rc-swag, @ermshiperete

fix(core): update per review comments 🙀
  core/src/ldml/ldml_transforms.cpp
Owners: @mcdurdin, @rc-swag

chore(common): add BUILDER_U32CHAR 🙀
  common/web/types/src/kmx/kmx-plus-builder/build-elem.ts
  common/web/types/src/kmx/kmx-plus-builder/build-keys.ts
  common/web/types/src/kmx/kmx-plus-builder/build-strs.ts
  common/web/types/src/kmx/kmx-plus-builder/build-uset.ts
  common/web/types/src/kmx/kmx-plus-builder/builder-section.ts
  common/web/types/src/kmx/kmx-plus-builder/kmx-plus-builder.ts
Owners: @jahorton, @mcdurdin

auto: increment master version to 17.0.141
  HISTORY.md
  VERSION.md
Owners: none

auto: increment master version to 17.0.142
  HISTORY.md
  VERSION.md
Owners: none

chore(developer): remove old copy_schema call kmc build.sh
  developer/src/kmc/build.sh
Owners: @mcdurdin, @darcywong00

fix(web): path to gesture test-script
  web/ci.sh
Owners: @jahorton, @mcdurdin

feat(developer): support file lists in kmc
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/util/fileLists.ts
  developer/src/kmc/test/fixtures/file-lists/files.txt
  developer/src/kmc/test/test-fileLists.ts
Owners: @mcdurdin, @darcywong00

change(web): TouchpathTurtle sample-emit, handling of 'item' tracking
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/touchpathTurtle.ts
Owners: @jahorton, @mcdurdin

chore(web): properly names GesturePath test suite; adds canary serialization tests
  common/web/gesture-recognizer/src/engine/headless/gesturePath.ts
  common/web/gesture-recognizer/src/test/auto/headless/gesturePath.js
Owners: @jahorton, @mcdurdin

feat(web): adds stats-renormalization unit test
  common/web/gesture-recognizer/src/engine/headless/cumulativePathStats.ts
  common/web/gesture-recognizer/src/test/auto/headless/pathStats.ts
Owners: @jahorton, @mcdurdin

fix(developer): warning suppression should be per file in kmc
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
Owners: @mcdurdin, @darcywong00

fix(web): referenced path / file-extension for ci_config_adapter
  common/web/gesture-recognizer/src/test/auto/browser/CI.conf.cjs
Owners: @jahorton, @mcdurdin

chore(web): changes in response to code review
  common/web/gesture-recognizer/src/engine/headless/gesturePath.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/pathMatcher.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/contactModel.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedPathSpecs.ts
Owners: @jahorton, @mcdurdin

chore: Update developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/build.ts
Owners: @mcdurdin, @darcywong00

feat(linux): mcompile edit Readme.h
  linux/mcompile/keymap/README.md
  linux/mcompile/keymap/helpers.h
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile KMX_saveKeyboard, KMX_WriteCompiledKeyboard
  linux/.gitignore
  linux/mcompile/keymap/mc_kmxfile.cpp
  linux/mcompile/keymap/mc_kmxfile.h
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

docs(linux): Update documentation
  docs/linux/packaging.md
  docs/settings/linux/tasks.json
Owners: @mcdurdin, @jahorton

auto: increment master version to 17.0.143
  HISTORY.md
  VERSION.md
Owners: none

fix(web): unit-test workaround for node setTimeout 1ms-early bug
  common/web/utils/src/test/timeoutPromise.js
Owners: @jahorton, @mcdurdin

feat(developer): unit tests for kmc-model-info
  developer/src/kmc-model-info/.eslintrc.cjs
  developer/src/kmc-model-info/build.sh
  developer/src/kmc-model-info/src/model-info-compiler.ts
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/HISTORY.md
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/LICENSE.md
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/README.md
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/build/sil.cmo.bw.model.js
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/build/sil.cmo.bw.model.kmp
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/build/sil.cmo.bw.model_info
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/sil.cmo.bw.kpj
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/sil.cmo.bw.model_info
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/source/readme.htm
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/source/sil.cmo.bw.model.kps
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/source/sil.cmo.bw.model.ts
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/source/suggestion.png
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/source/welcome.htm
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/source/wordlist.tsv
  developer/src/kmc-model-info/test/helpers/index.ts
  developer/src/kmc-model-info/test/test-model-info-compiler.ts
  developer/src/kmc-model-info/test/tsconfig.json
Owners: @mcdurdin, @darcywong00

feat(developer): add model_info and keyboard_info build activities to kmc
  common/web/types/src/kpj/keyman-developer-project.ts
  common/web/types/src/kpj/kpj-file-reader.ts
  common/web/types/src/main.ts
  common/web/types/src/util/file-types.ts
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildModelInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/src/commands/buildClasses/buildActivities.ts
  developer/src/kmc/src/util/projectLoader.ts
  developer/src/kmc/test/test-project-build.ts
Owners: @jahorton, @mcdurdin, @darcywong00

chore(developer): account for .keyboard_info in .kpj test
  common/web/types/test/kpj/test-kpj-file-reader.ts
Owners: @jahorton, @mcdurdin

chore(developer): work around experimental JSON modules in node
  common/web/types/build.sh
  common/web/types/src/schemas.ts
Owners: @jahorton, @mcdurdin

chore(developer): work around line endings for fixture
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/build/.gitattributes
  developer/src/kmc-model-info/test/fixtures/sil.cmo.bw/build/sil.cmo.bw.model.js
Owners: @mcdurdin, @darcywong00

chore(developer): ensure schemas are built
  common/web/types/build.sh
Owners: @jahorton, @mcdurdin

refactor(developer): remove node dependencies from kmc-model-info
  common/web/types/src/util/compiler-interfaces.ts
  common/web/types/test/helpers/TestCompilerCallbacks.ts
  developer/src/common/web/test-helpers/index.ts
  developer/src/kmc-model-info/.eslintrc.cjs
  developer/src/kmc-model-info/src/model-info-compiler.ts
  developer/src/kmc-model-info/test/test-model-info-compiler.ts
  developer/src/kmc/src/commands/buildClasses/BuildModelInfo.ts
  developer/src/kmc/src/kmlmi.ts
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
Owners: @jahorton, @mcdurdin, @darcywong00

refactor(developer): remove node deps from kmc-model
  developer/src/kmc-model/.eslintrc.cjs
  developer/src/kmc-model/src/build-trie.ts
  developer/src/kmc-model/src/lexical-model-compiler.ts
  developer/src/kmc-model/src/main.ts
  developer/src/kmc-model/test/test-compile-model-with-pseudoclosure.ts
  developer/src/kmc-model/test/test-compile-model.ts
  developer/src/kmc-model/test/test-punctuation.ts
Owners: @mcdurdin, @darcywong00

feat(linux): mcompile meson add files
  linux/.gitignore
  linux/mcompile/keymap/meson.build
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile mcompile.cpp starts keymap
  linux/mcompile/keymap/mcompile.cpp
  linux/mcompile/keymap/mcompile.h
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile add wcouts
  linux/mcompile/keymap/keymap.cpp
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile mcompile starts keymap
  linux/mcompile/keymap/README.md
  linux/mcompile/keymap/keymap.cpp
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile open DoConvert in mcompile which starts DoConvertPart1 and DoConvertPart2
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile SetKeyboardToPositional opened/included
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

chore(linux): Remove do-nothing option `--verbose`
  linux/ibus-keyman/src/main.c
Owners: @ermshiperete, @darcywong00

docs(linux): Update man page for ibus-engine-keyman
  linux/ibus-keyman/man/ibus-engine-keyman.1
Owners: @ermshiperete, @darcywong00

Add inst-cpp as a Dynamic Link project
  windows/src/engine/engine.sln
  windows/src/engine/inst-cpp/framework.h
  windows/src/engine/inst-cpp/inst-helper.vcxproj
  windows/src/engine/inst-cpp/inst-helper.vcxproj.filters
  windows/src/engine/inst-cpp/insthelper.cpp
  windows/src/engine/inst-cpp/insthelper.h
  windows/src/engine/inst-cpp/pch.cpp
  windows/src/engine/inst-cpp/pch.h
Owners: @rc-swag, @ermshiperete

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
