Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

feat(developer): Actions to support LdmlKeyboardEditor
  developer/src/tike/actions/dmActionsKeyboardEditor.dfm
  developer/src/tike/actions/dmActionsKeyboardEditor.pas
  developer/src/tike/main/UfrmMain.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.xmlLdmlProjectFileUI.pas
Owners: @mcdurdin, @darcywong00

fix(web): reset-flick output, reset stability
  web/src/engine/osk/src/input/gestures/browser/flick.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
Owners: @jahorton, @mcdurdin

fix(web): flick sustain through incoming simple-taps
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

add ZIPFoundation to sample projects
  ios/samples/KMSample1/KMSample1.xcodeproj/project.pbxproj
  ios/samples/KMSample2/KMSample2.xcodeproj/project.pbxproj
Owners: @sgschantz, @jahorton

feat(developer): show .xml LDML keyboards in project
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectFile.pas
  developer/src/tike/project/Keyman.Developer.System.Project.xmlLdmlProjectFile.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmProject.pas
  developer/src/tike/xml/project/distribution.xsl
  developer/src/tike/xml/project/keyboards.xsl
  developer/src/tike/xml/project/packages.xsl
  developer/src/tike/xml/project/welcome.xsl
Owners: @mcdurdin, @darcywong00

add ZIPFoundation to FirstVoices project
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
Owners: @sgschantz, @jahorton

fix(developer): kmc build ldml keyboard should create output folder
  developer/src/kmc/src/commands/buildClasses/BuildLdmlKeyboard.ts
Owners: @mcdurdin, @darcywong00

chore(linux): Fix GHA triggering
  resources/build/trigger-builds.inc.sh
Owners: @mcdurdin, @jahorton

fix(linux): Fix baseline tests
  common/test/keyboards/baseline/k_020___deadkeys_and_backspace.kmn
Owners: @mcdurdin, @ermshiperete

fix(linux): Fix trigger for baseline tests
  resources/build/trigger-definitions.inc.sh
Owners: @mcdurdin, @jahorton

feat(web): flicks auto-finish upon new tap
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
  web/src/engine/osk/src/input/gestures/browser/flick.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
Owners: @jahorton, @mcdurdin

refactor(web): up-flick for longpresses on keys without northish-flicks
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

change(web): longpress, flick autocancellation removal
  web/src/engine/osk/src/input/gestures/browser/flick.ts
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

fix(developer): Project upgrade messages now show in Messages panel
  developer/src/tike/main/UfrmMessages.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectFile.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UpgradeProject.pas
Owners: @mcdurdin, @darcywong00

fix(web): special-key hint text accidental camouflage
  web/src/resources/osk/kmwosk.css
Owners: @jahorton, @mcdurdin

chore(android/app): Adjust svg dimensions
  android/KMAPro/kMAPro/src/main/assets/svg/keyman_banner.svg
  android/KMEA/app/src/main/assets/imagebanner.css
  android/KMEA/app/src/main/assets/keyboard.html
  android/KMEA/app/src/main/assets/svg/white_banner.svg
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
  web/src/engine/osk/src/banner/banner.ts
Owners: @darcywong00, @sgschantz, @jahorton, @mcdurdin

Update web/src/engine/osk/src/keyboard-layout/oskKey.ts
  web/src/engine/osk/src/keyboard-layout/oskKey.ts
Owners: @jahorton, @mcdurdin

feat(linux): mcompile numbers + Char OK for DE,FR
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mc_import_rules.cpp
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile started OEM keys
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mc_import_rules.cpp
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.209
  HISTORY.md
  VERSION.md
Owners: none

fix(android/engine): Try more svg
  android/KMAPro/kMAPro/src/main/assets/imagebanner.css
  android/KMAPro/kMAPro/src/main/assets/svg/keyman_banner.svg
  android/KMEA/app/src/main/assets/svg/black_banner.svg
  android/KMEA/app/src/main/assets/svg/gray_banner.svg
Owners: @darcywong00, @sgschantz

fix(android/engine): Get svg to fill banner
  android/KMAPro/kMAPro/src/main/assets/imagebanner.css
  android/KMEA/app/src/main/assets/svg/white_banner.svg
Owners: @darcywong00, @sgschantz

feat(linux): mcompile OEM keys
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/mc_import_rules.cpp
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile new get_position_From_GDK
  linux/mcompile/keymap/helpers.cpp
  linux/mcompile/keymap/helpers.h
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mc_import_rules.cpp
  linux/mcompile/keymap/mc_kmxfile.cpp
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile tidy up
  linux/mcompile/keymap/helpers.cpp
  linux/mcompile/keymap/mc_import_rules.cpp
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile tidy up
  linux/mcompile/keymap/helpers.cpp
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mc_import_rules.cpp
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile more tidy up
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mc_import_rules.cpp
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile constructor KMX_VirtualKey to use with GDK
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/mc_import_rules.cpp
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

feat(developer): Project Settings Form for 17.0+ projects
  developer/src/tike/actions/dmActionsMain.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmProjectSettings20.dfm
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmProjectSettings20.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
Owners: @mcdurdin, @darcywong00

chore(developer): only build source files
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectFile.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmProject.pas
Owners: @mcdurdin, @darcywong00

fix(web): fixes gesture-engine unit test affected by changes
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
Owners: @jahorton, @mcdurdin

fix(android/app): Revert keyman_banner.svg
  android/KMAPro/kMAPro/src/main/assets/svg/banner.html
  android/KMAPro/kMAPro/src/main/assets/svg/keyman_banner.svg
Owners: @darcywong00, @sgschantz

clear cache directory before extracting zip
  ios/engine/KMEI/KeymanEngine/Classes/KeymanPackage.swift
  ios/engine/KMEI/KeymanEngine/Classes/Resource Management/ResourceFileManager.swift
  ios/engine/KMEI/KeymanEngineTests/KeymanPackageTests.swift
  ios/engine/KMEI/KeymanEngineTests/ResourceUpdateTests.swift
  ios/engine/KMEI/KeymanEngineTests/TestUtils/EngineStateBundler.swift
  ios/keymanios.xcworkspace/xcshareddata/xcschemes/Keyman.xcscheme
Owners: @sgschantz, @jahorton

docs(web): adds review-requested comment
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
Owners: @jahorton, @mcdurdin

feat(web): better locked-flick resetting behaviors
  common/web/gesture-recognizer/src/engine/headless/cumulativePathStats.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/contactModel.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/pathModel.ts
  web/src/engine/osk/src/input/gestures/browser/flick.ts
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
Owners: @jahorton, @mcdurdin

chore(web): splits banner.ts into separate files per banner type
  web/src/engine/osk/src/banner/banner.ts
  web/src/engine/osk/src/banner/bannerView.ts
  web/src/engine/osk/src/banner/imageBanner.ts
  web/src/engine/osk/src/banner/suggestionBanner.ts
Owners: @jahorton, @mcdurdin

chore(developer): manage SourcePath in project upgrade
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectFile.pas
  developer/src/tike/project/Keyman.Developer.System.Project.xmlLdmlProjectFile.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.xmlLdmlProjectFileUI.pas
Owners: @mcdurdin, @darcywong00

clearDirectory does nothing when directory does not exist
  ios/engine/KMEI/KeymanEngine/Classes/KeymanPackage.swift
  ios/engine/KMEI/KeymanEngineTests/KeymanPackageTests.swift
Owners: @sgschantz, @jahorton

refactor(web): drops banner options paradigm in favor of simple "inactiveBanner" prop
  ios/engine/KMEI/KeymanEngine/resources/Keyman.bundle/Contents/Resources/ios-host.js
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/osk/src/banner/banner.ts
  web/src/engine/osk/src/banner/bannerView.ts
  web/src/engine/osk/src/banner/imageBanner.ts
  web/src/engine/osk/src/banner/suggestionBanner.ts
Owners: @sgschantz, @jahorton, @mcdurdin

feat(web): new banner type - HTMLBanner
  web/src/engine/osk/src/banner/bannerView.ts
  web/src/engine/osk/src/banner/htmlBanner.ts
Owners: @jahorton, @mcdurdin

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
