Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

chore(web): addresses PR concerns
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
Owners: @jahorton, @mcdurdin

chore(web): applies PR suggestions
  common/web/gesture-recognizer/src/engine/headless/gestureSource.ts
Owners: @jahorton, @mcdurdin

chore(web): FIX ME was already fine!?
  common/web/gesture-recognizer/src/test/resources/simulateMultiSourceInput.ts
Owners: @jahorton, @mcdurdin

chore(linux): Address code review comments
  linux/ibus-keyman/tests/scripts/run-single-test.sh
  linux/ibus-keyman/tests/scripts/test-helper.inc.sh
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile some new functions to test content of rgKey; start adding numpad to rgkey
  linux/mcompile/keymap/helpers.cpp
  linux/mcompile/keymap/helpers.h
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/km_types.h
  linux/mcompile/keymap/mc_import_rules.cpp
Owners: @ermshiperete, @darcywong00

chore(linux): Dynamically choose display number
  linux/ibus-keyman/tests/scripts/test-helper.inc.sh
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.182
  HISTORY.md
  VERSION.md
Owners: none

chore(web,android): Update test9469 keyboard
  android/Tests/KeyboardHarness/app/src/main/assets/test9469.kmp
  web/src/test/manual/web/issue9469/test9469/build/test9469.js
Owners: @darcywong00, @sgschantz, @jahorton, @mcdurdin

chore(web): removes unused field
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/contactModel.ts
Owners: @jahorton, @mcdurdin

feat(web): gesture engine can now track a 'state token'
  common/web/gesture-recognizer/src/engine/configuration/gestureRecognizerConfiguration.ts
  common/web/gesture-recognizer/src/engine/gestureRecognizer.ts
  common/web/gesture-recognizer/src/engine/headless/gesturePath.ts
  common/web/gesture-recognizer/src/engine/headless/gestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/inputEngineBase.ts
  common/web/gesture-recognizer/src/engine/headless/inputSample.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/engine/inputEventEngine.ts
  common/web/gesture-recognizer/src/engine/mouseEventEngine.ts
  common/web/gesture-recognizer/src/engine/touchEventEngine.ts
Owners: @jahorton, @mcdurdin

change(web): adds 'readonly' to stats-oriented InputSample properties
  common/web/gesture-recognizer/src/engine/headless/gesturePath.ts
  common/web/gesture-recognizer/src/engine/headless/inputSample.ts
  common/web/gesture-recognizer/src/engine/headless/subsegmentation/pathSegmenter.ts
Owners: @jahorton, @mcdurdin

core library icu changes, only builds for debug
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/project.pbxproj
Owners: @sgschantz, @SabineSIL

set context correctly for unit test
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
Owners: @sgschantz, @SabineSIL

expose context properly in core wrapper
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.m
Owners: @sgschantz, @SabineSIL

chore(linux): Fix run-tests.sh script
  linux/ibus-keyman/tests/scripts/run-tests.sh
Owners: @ermshiperete, @darcywong00

docs(linux): Update sample tasks.json for Linux
  docs/settings/linux/tasks.json
Owners: @mcdurdin, @jahorton

feat: WIP writing registry in postinstall
  windows/src/desktop/kmshell/main/OnlineUpdateCheck.pas
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/engine/inst/insthelper/Keyman.System.Install.EnginePostInstall.pas
Owners: @rc-swag, @ermshiperete

fix(web): forgot to annotate new generic param in event
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
Owners: @jahorton, @mcdurdin

fix(mac): drop 'd' from icu debug lib name 🍕
  core/subprojects/packagefiles/icu/meson.build
Owners: @mcdurdin, @rc-swag

changed names of core library dependencies for icu
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/project.pbxproj
Owners: @sgschantz, @SabineSIL

feat(web): adds .activeSources, .potentialModelMatchIds
  common/web/gesture-recognizer/src/engine/headless/gestureSource.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureSequence.ts
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
  common/web/gesture-recognizer/src/engine/headless/inputEngineBase.ts
  common/web/gesture-recognizer/src/engine/headless/touchpointCoordinator.ts
  common/web/gesture-recognizer/src/engine/index.ts
Owners: @jahorton, @mcdurdin

feat(web): associated tests
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureSequence.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/matcherSelector.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/touchpointCoordinator.spec.ts
  common/web/gesture-recognizer/src/test/resources/simulateMultiSourceInput.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessInputEngine.ts
Owners: @jahorton, @mcdurdin

fix(windows): fix the ellipsis for longer text on btns
  windows/src/desktop/kmshell/xml/splash.css
Owners: @rc-swag, @ermshiperete

chore(web): Add ZWNJGeneric
  web/src/engine/osk/src/specialCharacters.ts
Owners: @jahorton, @mcdurdin

chore(web): Update test9469 to use ZWNJGeneric
  web/src/test/manual/web/issue9469/test9469/build/test9469.js
  web/src/test/manual/web/issue9469/test9469/source/test9469.keyman-touch-layout
Owners: @jahorton, @mcdurdin

chore(android): Update test9469 to use ZWNJGeneric
  android/Tests/KeyboardHarness/app/src/main/assets/test9469.kmp
Owners: @darcywong00, @sgschantz

chore(developer): remove obsolete files
  developer/src/tike/Profiling/AQtimeModule1.aqt
  developer/src/tike/compile/KeymanWebKeyCodes.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
Owners: @mcdurdin, @darcywong00

chore(developer): remove obsolete menu item
  developer/src/tike/main/UfrmMain.dfm
Owners: @mcdurdin, @darcywong00

chore(common): fixup legacy test keyboards
  common/test/keyboards/baseline/k_017___space_mnemonic_kbd.kmn
  common/test/keyboards/baseline/k_018___nul_testing.kmn
  common/test/keyboards/obolo_chwerty_6347/source/obolo_chwerty_6347.kps
  common/test/keyboards/obolo_chwerty_6351/source/obolo_chwerty_6351.kps
Owners: @mcdurdin, @ermshiperete

fix(web): test page path on the index page
  web/src/test/manual/web/index.html
Owners: @jahorton, @mcdurdin

feat(linux): mcompile use keycodes from \linux\ibus-keyman\src\keycodes.h
  linux/mcompile/keymap/README.md
  linux/mcompile/keymap/km_types.h
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile use keycodes from \linux\ibus-keyman\src\key
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
Owners: @ermshiperete, @darcywong00

chore(linux): Extract free_info method in kmpdetails.c 🏘️
  linux/ibus-keyman/src/kmpdetails.c
  linux/ibus-keyman/src/kmpdetails.h
Owners: @ermshiperete, @darcywong00

chore(web): Update test keyboard again
  web/src/test/manual/web/issue9469/test9469/build/test9469.js
Owners: @jahorton, @mcdurdin

chore(android): Update test keyboard again
  android/Tests/KeyboardHarness/app/src/main/assets/test9469.kmp
Owners: @darcywong00, @sgschantz

feat(linux): mcompile ImportRules- fill rgkeys finished
  linux/mcompile/keymap/helpers.cpp
  linux/mcompile/keymap/mc_import_rules.cpp
Owners: @ermshiperete, @darcywong00

refactor(linux): Add more tests for keymanutil.c 🏘️
  linux/ibus-keyman/src/keymanutil.c
  linux/ibus-keyman/src/keymanutil_internal.h
  linux/ibus-keyman/src/test/keymanutil_tests.c
  linux/ibus-keyman/src/test/kmp.json
  linux/ibus-keyman/src/test/meson.build
  linux/ibus-keyman/src/test/run-tests.sh
  linux/ibus-keyman/src/test/setup-tests.sh
  linux/ibus-keyman/src/test/testdata/kmp.json
  linux/ibus-keyman/src/test/testdata/kmp1.json
  linux/ibus-keyman/src/test/testdata/kmp2.json
Owners: @ermshiperete, @darcywong00

chore(resources): ldml update 🙀
  resources/standards-data/ldml-keyboards/techpreview/3.0/fr-t-k0-azerty.xml
  resources/standards-data/ldml-keyboards/techpreview/cldr_info.json
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard3.dtd
  resources/standards-data/ldml-keyboards/techpreview/dtd/ldmlKeyboard3.xsd
  resources/standards-data/ldml-keyboards/techpreview/import/scanCodes-implied.xml
  resources/standards-data/ldml-keyboards/techpreview/ldml-keyboard3.schema.json
Owners: @mcdurdin, @jahorton

auto: increment master version to 17.0.183
  HISTORY.md
  VERSION.md
Owners: none

fix(common): update keyman for removal of vkeys 🙀
  common/web/types/src/kmx/kmx-plus-builder/build-vkey.ts
  common/web/types/src/kmx/kmx-plus-builder/kmx-plus-builder.ts
  common/web/types/src/kmx/kmx-plus.ts
  common/web/types/src/ldml-keyboard/ldml-keyboard-xml.ts
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  developer/src/kmc-ldml/src/compiler/compiler.ts
  developer/src/kmc-ldml/src/compiler/messages.ts
  developer/src/kmc-ldml/src/compiler/vkey.ts
  developer/src/kmc-ldml/test/fixtures/basic.txt
  developer/src/kmc-ldml/test/fixtures/basic.xml
  developer/src/kmc-ldml/test/fixtures/sections/vkey/invalid-from-vkey.xml
  developer/src/kmc-ldml/test/fixtures/sections/vkey/invalid-repeated-vkey.xml
  developer/src/kmc-ldml/test/fixtures/sections/vkey/invalid-to-vkey.xml
  developer/src/kmc-ldml/test/fixtures/sections/vkey/minimal.xml
  developer/src/kmc-ldml/test/fixtures/sections/vkey/redundant.xml
  developer/src/kmc-ldml/test/fixtures/sections/vkey/same-target.xml
  developer/src/kmc-ldml/test/test-vkey.ts
Owners: @jahorton, @mcdurdin, @rc-swag, @darcywong00

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
