Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

feat(web): adds isolated path-inheritance tests
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
Owners: @jahorton, @mcdurdin

feat(web): subkey selection unit tests
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedGestureSpecs.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/isolatedPathSpecs.ts
Owners: @jahorton, @mcdurdin

chore(web): better promise-rejection logging
  common/web/gesture-recognizer/src/test/auto/headless/gestures/gestureMatcher.spec.ts
  common/web/gesture-recognizer/src/test/auto/headless/gestures/pathMatcher.spec.ts
  common/web/gesture-recognizer/src/test/resources/assertingPromiseStatus.ts
Owners: @jahorton, @mcdurdin

chore(web): enhances comment I noticed post-push
  common/web/gesture-recognizer/src/engine/headless/simpleGestureSource.ts
Owners: @jahorton, @mcdurdin

chore(linux): Work around build failure on Debian mips64el
  linux/debian/changelog
  linux/debian/meson/no-exe-wrapper.ini
  linux/debian/rules
Owners: @ermshiperete, @darcywong00

chore(linux): Update debian changelog
  linux/debian/changelog
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.149
  HISTORY.md
  VERSION.md
Owners: none

chore(web): Apply suggestions from code review
  common/web/gesture-recognizer/src/test/auto/tsconfig.json
Owners: @jahorton, @mcdurdin

chore(linux): Fix creation of PRs after uploading to Debian
  linux/scripts/upload-to-debian.sh
Owners: @ermshiperete, @darcywong00

chore(linux): Update debian changelog
  linux/debian/changelog
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile finish DoConvert-read
  linux/mcompile/keymap/README.md
  linux/mcompile/keymap/helpers.cpp
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mc_kmxfile.cpp
  linux/mcompile/keymap/mc_kmxfile.h
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile replace std::cout, std::wcout, MyCout, printf and use wprintf
  linux/mcompile/keymap/README.md
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/mc_kmxfile.cpp
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile tidy up: remove unneccessary code
  linux/mcompile/keymap/README.md
  linux/mcompile/keymap/helpers.cpp
  linux/mcompile/keymap/helpers.h
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mc_kmxfile.cpp
  linux/mcompile/keymap/mcompile.cpp
  linux/mcompile/keymap/meson.build
  linux/mcompile/keymap/u16.cpp
Owners: @ermshiperete, @darcywong00

feat(developer): fix marker validation test 🙀
  developer/src/kmc-ldml/test/fixtures/sections/vars/fail-markers-badref-0.xml
  developer/src/kmc-ldml/test/test-vars.ts
Owners: @mcdurdin, @darcywong00

feat(core): fix uset range check 🙀
  core/src/kmx/kmx_xstring.h
Owners: @mcdurdin, @rc-swag

Update core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_processor.cpp
Owners: @mcdurdin, @rc-swag

feat(linux): mcompile Version using Vector of KMX_DWORD (instead of Vector of std::string)
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mc_kmxfile.cpp
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

feat(developer): marker accounting 🙀
  common/web/types/src/kmx/kmx-plus-builder/build-vars.ts
  common/web/types/src/kmx/kmx-plus-builder/kmx-plus-builder.ts
  common/web/types/src/kmx/string-list.ts
  developer/src/kmc-ldml/src/compiler/disp.ts
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/marker-tracker.ts
  developer/src/kmc-ldml/src/compiler/tran.ts
  developer/src/kmc-ldml/src/compiler/vars.ts
  developer/src/kmc-ldml/test/fixtures/sections/vars/markers-maximal.xml
  developer/src/kmc-ldml/test/test-vars.ts
Owners: @jahorton, @mcdurdin, @darcywong00

feat(linux): mcompile tidy up
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

feat(developer): marker accounting 🙀
  developer/src/kmc-ldml/test/fixtures/basic.txt
  developer/src/kmc-ldml/test/fixtures/basic.xml
Owners: @mcdurdin, @darcywong00

fix(common): list fix 🙀
  common/web/types/src/kmx/kmx-plus-builder/build-list.ts
Owners: @jahorton, @mcdurdin

feat(common): marker processing support 🙀
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
Owners: @jahorton, @mcdurdin

feat(common): marker - move values into constants 🙀
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  core/include/ldml/keyboardprocessor_ldml.h
  core/include/ldml/keyboardprocessor_ldml.ts
Owners: @jahorton, @mcdurdin, @rc-swag

feat(common): marker - emit sentinel values 🙀
  common/web/types/src/kmx/string-list.ts
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
Owners: @jahorton, @mcdurdin

feat(common): marker - utilities to emit sentinel values 🙀
  common/web/types/src/kmx/kmx-plus.ts
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
Owners: @jahorton, @mcdurdin

feat(developer): marker - use marker in the sections 🙀
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  developer/src/kmc-ldml/src/compiler/disp.ts
  developer/src/kmc-ldml/src/compiler/empty-compiler.ts
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/src/compiler/section-compiler.ts
  developer/src/kmc-ldml/src/compiler/tran.ts
  developer/src/kmc-ldml/src/compiler/vars.ts
  developer/src/kmc-ldml/test/helpers/index.ts
  developer/src/kmc-ldml/test/test-tran.ts
  developer/src/kmc-ldml/test/test-vars.ts
Owners: @jahorton, @mcdurdin, @darcywong00

feat(developer): marker - basic.xml update 🙀
  developer/src/kmc-ldml/test/fixtures/basic.txt
  developer/src/kmc-ldml/test/fixtures/basic.xml
Owners: @mcdurdin, @darcywong00

chore(core): marker - pt-abnt2 broken 🙀
  core/tests/unit/ldml/keyboards/meson.build
Owners: @mcdurdin, @rc-swag

auto: increment master version to 17.0.150
  HISTORY.md
  VERSION.md
Owners: none

feat(windows): add unit test for external event
  core/src/km_kbp_processevent_api.cpp
  core/src/kmx/kmx_processevent.h
  core/src/kmx/kmx_processor.cpp
  core/tests/unit/kmnkbd/action_items.hpp
  core/tests/unit/kmx/kmx_external_event.cpp
  core/tests/unit/kmx/meson.build
Owners: @mcdurdin, @rc-swag

feat: remove dependinces on proxy dlls
  windows/src/engine/keyman32/keyman32.vcxproj
  windows/src/engine/keyman64/keyman64.vcxproj
Owners: @rc-swag, @ermshiperete

rollback cp path change for ios build
  ios/samples/build_common.sh
  oem/firstvoices/ios/build_common.sh
Owners: @sgschantz, @jahorton

feat: fix include path unit test keyman32-ver
  windows/src/test/unit-tests/shared-data/cpp/cppshareddata.cpp
Owners: @rc-swag, @ermshiperete

feat: use unicode module api calls for proxy dll
  windows/src/engine/keyman32-ver/calldll.cpp
Owners: @rc-swag, @ermshiperete

chore(linux): Don't fail on parallel builds
  linux/scripts/package-build.inc.sh
Owners: @ermshiperete, @darcywong00

docs(web): adds docs as requested by PR review
  common/web/gesture-recognizer/src/engine/headless/simpleGestureSource.ts
Owners: @jahorton, @mcdurdin

chore(web): tweaks per PR review
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/gestureMatcher.ts
Owners: @jahorton, @mcdurdin

docs(core): Don't put emscripten on the path
  docs/build/linux-ubuntu.md
  linux/Dockerfile
Owners: @mcdurdin, @jahorton, @ermshiperete, @darcywong00

chore(developer): address review comments
  developer/src/kmc-keyboard-info/src/index.ts
  developer/src/kmc-keyboard-info/src/min-keyman-version.ts
Owners: @mcdurdin, @darcywong00

chore(developer): rename projectReader to projectRunner
  developer/src/kmc/src/commands/analyze.ts
  developer/src/kmc/src/util/projectRunner.ts
Owners: @mcdurdin, @darcywong00

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
