Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

fix(developer): kmc code generation for context(n) in context
  developer/src/kmc-kmn/build.sh
  developer/src/kmc-kmn/package.json
  developer/src/kmc-kmn/src/kmw-compiler/javascript-strings.ts
  developer/src/kmc-kmn/test/fixtures/kmw/test_context_in_context.js
  developer/src/kmc-kmn/test/fixtures/kmw/test_context_in_context.kmn
  developer/src/kmc-kmn/test/fixtures/kmw/test_context_in_context_9.js
  developer/src/kmc-kmn/test/fixtures/kmw/test_context_in_context_9.kmn
  developer/src/kmc-kmn/test/fixtures/kmw/test_contextn_in_output.js
  developer/src/kmc-kmn/test/fixtures/kmw/test_contextn_in_output.kmn
  developer/src/kmc-kmn/test/fixtures/kmw/test_contextn_in_output_9.js
  developer/src/kmc-kmn/test/fixtures/kmw/test_contextn_in_output_9.kmn
  developer/src/kmc-kmn/test/kmw/test-kmw-compiler.ts
Owners: @mcdurdin, @darcywong00

docs(windows): update meson and emscripten details
  docs/build/windows.md
Owners: @mcdurdin, @jahorton

chore(developer): remove obsolete 'Allow Multiple Instances' and 'Use Legacy Compiler' options
  common/windows/delphi/general/RegistryKeys.pas
  common/windows/delphi/general/UserMessages.pas
  developer/src/tike/dialogs/UfrmOptions.dfm
  developer/src/tike/dialogs/UfrmOptions.pas
  developer/src/tike/main/KeymanDeveloperOptions.pas
  developer/src/tike/main/KeymanDeveloperUtils.pas
  developer/src/tike/main/UfrmMain.pas
  developer/src/tike/tike.dpr
Owners: @mcdurdin, @rc-swag, @darcywong00

chore(developer): common/include dep for kmcmplib
  developer/src/kmcmplib/build.sh
Owners: @mcdurdin, @darcywong00

fix(web): restores compat with older Android devices
  android/KMEA/app/src/main/assets/keyboard.html
  android/KMEA/app/src/main/assets/other-polyfills.js
  android/KMEA/app/src/main/java/com/keyman/engine/KMManager.java
  common/web/gesture-recognizer/src/engine/configuration/paddedZoneSource.ts
  common/web/gesture-recognizer/src/engine/configuration/viewportZoneSource.ts
Owners: @darcywong00, @sgschantz, @jahorton, @mcdurdin

auto: increment master version to 17.0.206
  HISTORY.md
  VERSION.md
Owners: none

chore(common): remove prepublish step from package.json
  common/web/types/package.json
  developer/src/kmc-keyboard-info/package.json
  developer/src/kmc-kmn/package.json
  developer/src/kmc-ldml/package.json
  developer/src/kmc-model-info/package.json
  developer/src/kmc-model/package.json
  developer/src/kmc-package/package.json
  developer/src/kmc/package.json
Owners: @jahorton, @mcdurdin, @darcywong00

feat(developer): provide line number for some kmw compiler messages
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/javascript-strings.ts
  developer/src/kmc-kmn/src/kmw-compiler/kmw-compiler-messages.ts
  developer/src/kmc-kmn/test/fixtures/invalid-keyboards/error_not_supported_in_keyman_web_output.kmn
  developer/src/kmc-kmn/test/test-messages.ts
Owners: @mcdurdin, @darcywong00

feat(developer): add line number information for more kmw messages
  developer/src/kmc-kmn/src/kmw-compiler/javascript-strings.ts
  developer/src/kmc-kmn/src/kmw-compiler/kmw-compiler-messages.ts
  developer/src/kmc-kmn/src/kmw-compiler/kmw-compiler.ts
  developer/src/kmc-kmn/test/test-messages.ts
Owners: @mcdurdin, @darcywong00

fix(developer): move KeymanSentry to developer-utils
  developer/src/common/web/utils/index.ts
  developer/src/common/web/utils/src/KeymanSentry.ts
  developer/src/common/web/utils/src/spawnAwait.ts
  developer/src/common/web/utils/tsconfig.json
  developer/src/kmc/src/kmc.ts
  developer/src/kmc/src/util/NodeCompilerCallbacks.ts
  developer/src/kmc/src/util/TestKeymanSentry.ts
Owners: @mcdurdin, @darcywong00

fix(developer): Sentry in Server should honour reporting settings
  developer/src/kmc/package.json
  developer/src/kmc/src/kmc.ts
  developer/src/kmc/src/util/TestKeymanSentry.ts
  developer/src/server/build.sh
  developer/src/server/package.json
  developer/src/server/src/index.ts
  developer/src/server/src/routes.ts
  developer/src/server/src/shutdown.ts
  developer/src/server/src/tray.ts
  developer/src/server/src/win32-tray.ts
  developer/src/server/tsconfig.json
  package-lock.json
Owners: @mcdurdin, @darcywong00

chore(web): Apply suggestions from code review
  web/src/engine/osk/src/keyboard-layout/oskLayerGroup.ts
Owners: @jahorton, @mcdurdin

chore(web): Apply suggestions from code review
  web/src/resources/osk/kmwosk.css
Owners: @jahorton, @mcdurdin

fix(developer): resilience in loading Server config and cache files
  developer/src/server/src/config.ts
  developer/src/server/src/data.ts
  developer/src/server/src/load-json-file.ts
Owners: @mcdurdin, @darcywong00

fix(web): modipress on first tap of multitappable
  web/src/engine/osk/src/input/gestures/browser/modipress.ts
  web/src/engine/osk/src/input/gestures/browser/multitap.ts
Owners: @jahorton, @mcdurdin

docs(web): updates a comment
  web/src/engine/osk/src/input/gestures/browser/flick.ts
Owners: @jahorton, @mcdurdin

added Zip framework to Cartfile and project
  oem/firstvoices/ios/Cartfile
  oem/firstvoices/ios/Cartfile.resolved
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
Owners: @sgschantz, @jahorton

chore(web): applies a few PR suggestions
  web/src/engine/osk/src/keyboard-layout/gesturePreviewHost.ts
Owners: @jahorton, @mcdurdin

chore(developer): developer-utils embed
  developer/src/server/build.sh
  developer/src/server/package.json
Owners: @mcdurdin, @darcywong00

fix(web): better consistency for flick-animation b/t phone and tablet
  web/src/engine/osk/src/keyboard-layout/gesturePreviewHost.ts
Owners: @jahorton, @mcdurdin

refactor(core): Remove obsolete comments
  common/test/keyboards/baseline/k_014___groups_and_virtual_keys.kmn
Owners: @mcdurdin, @ermshiperete

chore(web): Improve debug output of nodeProctor
  common/web/recorder/src/nodeProctor.ts
Owners: @jahorton, @mcdurdin

fix(web): lm-worker null guard
  common/web/lm-worker/src/main/correction/context-tracker.ts
Owners: @jahorton, @mcdurdin

chore(web): Add failing test for deadkey bug
  common/test/keyboards/baseline/k_020___deadkeys_and_backspace.kmn
  common/test/keyboards/baseline/k_020___deadkeys_and_backspace.kmx
  common/test/resources/json/engine_tests/8568_deadkeys.json
  common/test/resources/json/keyboards/test_8568_deadkeys.json
  common/test/resources/keyboards/test_8568_deadkeys.html
  common/test/resources/keyboards/test_8568_deadkeys.js
  common/test/resources/keyboards/test_8568_deadkeys.kmn
  common/test/resources/keyboards/test_8568_deadkeys.kmx
  common/web/input-processor/tests/cases/inputProcessorTests.js
Owners: @mcdurdin, @ermshiperete, @jahorton

fix(web): Don't clear deadkeys after backspace
  common/web/keyboard-processor/src/text/keyboardProcessor.ts
Owners: @jahorton, @mcdurdin

Apply suggestions from code review
  developer/src/kmc-kmn/src/kmw-compiler/constants.ts
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
Owners: @mcdurdin, @darcywong00

fix(developer): Revert test changes
  developer/src/test/auto/kmcomp/test_touchlayout_14_1.keyman-touch-layout
  developer/src/test/auto/kmcomp/test_touchlayout_14_2.keyman-touch-layout
Owners: @mcdurdin, @darcywong00

chore(common): revert VERSIONs
  common/web/types/src/kmx/kmx.ts
Owners: @jahorton, @mcdurdin

fix(web): fixes #9561 - disables esbuild's keepNames setting
  common/web/lm-worker/build-bundler.js
  common/web/lm-worker/build-wrap-and-minify.js
Owners: @jahorton, @mcdurdin

fix(web): path with undefined return value in matcherSelector
  common/web/gesture-recognizer/src/engine/headless/gestures/matchers/matcherSelector.ts
Owners: @jahorton, @mcdurdin

chore(common): Revert other files
  common/web/types/src/kmx/kmx.ts
  developer/src/test/auto/kmcomp/test_194_filename_case.keyman-touch-layout
  developer/src/test/auto/kmcomp/test_touchlayout_14_1.keyman-touch-layout
  developer/src/test/auto/kmcomp/test_touchlayout_14_2.keyman-touch-layout
  developer/src/test/auto/kmcomp/test_touchlayout_14_3.keyman-touch-layout
Owners: @jahorton, @mcdurdin, @darcywong00

Apply suggestions from code review
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
Owners: @mcdurdin, @darcywong00

chore(web): gesture-engine integration null-guards
  web/src/engine/osk/src/input/gestures/specsForLayout.ts
  web/src/engine/osk/src/visualKeyboard.ts
Owners: @jahorton, @mcdurdin

chore(web): taggedContext null guard in lm-worker
  common/web/lm-worker/src/main/correction/context-tracker.ts
Owners: @jahorton, @mcdurdin

chore(web): Additional tests for backspace
  common/test/resources/json/engine_tests/8568_deadkeys.json
  common/test/resources/keyboards/test_8568_deadkeys.js
  common/test/resources/keyboards/test_8568_deadkeys.kmn
  common/test/resources/keyboards/test_8568_deadkeys.kmx
  common/web/input-processor/tests/cases/inputProcessorTests.js
Owners: @mcdurdin, @ermshiperete, @jahorton

chore(core): Enhance core test
  common/test/keyboards/baseline/k_020___deadkeys_and_backspace.kmn
  common/test/keyboards/baseline/k_020___deadkeys_and_backspace.kmx
Owners: @mcdurdin, @ermshiperete

chore(web): Address code review comments
  common/test/keyboards/baseline/k_020___deadkeys_and_backspace.kmn
  common/test/resources/keyboards/test_8568_deadkeys.kmn
Owners: @mcdurdin, @ermshiperete

add Zip framework to project
  oem/firstvoices/ios/FirstVoices.xcodeproj/project.pbxproj
Owners: @sgschantz, @jahorton

auto: increment master version to 17.0.207
  HISTORY.md
  VERSION.md
Owners: none

feat(developer): Support v2.0 projects in TIKE
  common/windows/delphi/general/utilfiletypes.pas
  developer/src/tike/actions/dmActionsMain.dfm
  developer/src/tike/actions/dmActionsMain.pas
  developer/src/tike/dialogs/UfrmNew.pas
  developer/src/tike/main/UfrmMain.dfm
  developer/src/tike/main/UfrmMain.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectFile.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectLoader.pas
  developer/src/tike/project/Keyman.Developer.System.Project.ProjectSaver.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.ProjectFileUI.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.ProjectUI.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmNewProject.dfm
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmNewProject.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UfrmProject.pas
  developer/src/tike/project/Keyman.Developer.UI.Project.UpgradeProject.pas
  developer/src/tike/tike.dpr
  developer/src/tike/tike.dproj
  developer/src/tike/xml/project/distribution.xsl
  developer/src/tike/xml/project/elements.xsl
  developer/src/tike/xml/project/globalwelcome.xsl
  developer/src/tike/xml/project/keyboards.xsl
  developer/src/tike/xml/project/models.xsl
  developer/src/tike/xml/project/packages.xsl
  developer/src/tike/xml/project/project.css
  developer/src/tike/xml/project/welcome.xsl
Owners: @mcdurdin, @rc-swag, @darcywong00

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
