Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete

fix(developer): fix breakage from emscripten 3.1.44
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmcmplib/src/meson.build
Owners: @mcdurdin, @darcywong00

auto: increment master version to 17.0.151
  HISTORY.md
  VERSION.md
Owners: none

fix(developer): more wasm uset fixes 🙀
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/test/test-wasm-uset.ts
Owners: @mcdurdin, @darcywong00

Update developer/src/kmc-ldml/test/fixtures/sections/vars/fail-markers-badref-0.xml
  developer/src/kmc-ldml/test/fixtures/sections/vars/fail-markers-badref-0.xml
Owners: @mcdurdin, @darcywong00

feat(linux): mcompile use std::map in replaceNamesWithCharacter
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

chore(developer): update markers per review 🙀
  common/web/types/src/ldml-keyboard/pattern-parser.ts
  common/web/types/test/ldml-keyboard/test-pattern-parser.ts
Owners: @jahorton, @mcdurdin

feat(linux): mcompile rename functions +tidy up
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mc_kmxfile.cpp
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

feat: tweaks to gitignore
  windows/src/.gitignore
Owners: @rc-swag, @ermshiperete

Update developer/src/kmcmplib/src/meson.build
  developer/src/kmcmplib/src/meson.build
Owners: @mcdurdin, @darcywong00

Apply suggestions from code review
  developer/src/kmc-kmn/src/compiler/compiler.ts
Owners: @mcdurdin, @darcywong00

chore(developer): address review comments
  developer/src/kmc-keyboard-info/src/index.ts
Owners: @mcdurdin, @darcywong00

docs(windows): corrected nmake cmd for certificates
  windows/src/README.md
Owners: @rc-swag, @ermshiperete

chore(developer): minor patches to fix compile issues
  core/src/ldml/ldml_transforms.cpp
  developer/src/kmc/src/commands/build.ts
Owners: @mcdurdin, @rc-swag, @darcywong00

feat(linux): mcompile tidy up wprintf, function names/variable names
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

chore: add run-name to deb-packaging
  .github/workflows/deb-packaging.yml
Owners: none

chore(linux): touch linux so we get a build
  linux/README.md
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile change type return value of functions from KMX_BOOL/bool to int/KMX_DWORD
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

chore(linux): Remove package build on Jenkins for Keyman 17
  docs/linux/packaging.md
  linux/Jenkinsfile
  linux/scripts/dist.sh
  linux/scripts/jenkins.sh
  resources/build/build-utils.sh
  resources/build/increment-version.sh
  resources/build/run-required-test-builds.sh
  resources/build/trigger-builds.inc.sh
  resources/build/trigger-definitions.inc.sh
Owners: @mcdurdin, @jahorton, @ermshiperete, @darcywong00

docs(windows): Update OS requirement to Windows 10
  windows/src/desktop/help/about/requirements.md
  windows/src/desktop/help/basic/make-taskbar-icon-visible.md
  windows/src/desktop/help/basic/uninstall.md
  windows/src/desktop/help/common/os.md
  windows/src/desktop/help/common/requirements.md
Owners: @rc-swag, @ermshiperete

docs(linux): Add build doc for Keyman Web and Android
  docs/build/linux-ubuntu.md
  docs/build/windows.md
  linux/Dockerfile
Owners: @mcdurdin, @jahorton, @ermshiperete, @darcywong00

auto: increment master version to 17.0.152
  HISTORY.md
  VERSION.md
Owners: none

chore(linux): touch linux so we get a build
  linux/README.md
Owners: @ermshiperete, @darcywong00

chore: add run-name to deb-packaging
  .github/workflows/deb-packaging.yml
Owners: none

chore(linux): remove change to trigger build
  linux/README.md
Owners: @ermshiperete, @darcywong00

chore: test failing packaging for gha
  linux/build.sh
  linux/scripts/deb-packaging.sh
Owners: @ermshiperete, @darcywong00

chore: try another variable for reporting
  .github/workflows/deb-packaging.yml
Owners: none

docs(windows): Clarify OS versions per review comments
  windows/src/desktop/help/about/requirements.md
  windows/src/desktop/help/common/os.md
Owners: @rc-swag, @ermshiperete

docs(windows): Remove troubleshooting hidden page
  windows/src/desktop/help/basic/select-keyboard.md
  windows/src/desktop/help/troubleshooting/hidden.md
  windows/src/desktop/help/troubleshooting/index.md
Owners: @rc-swag, @ermshiperete

docs(windows): Remove other references to Win 7
  windows/src/desktop/help/advanced/text_services_framework.md
  windows/src/desktop/help/basic/config/options.md
Owners: @rc-swag, @ermshiperete

chore(developer): use getFileType() instead of fileType
  common/web/types/src/kpj/keyman-developer-project.ts
  common/web/types/src/kpj/kpj-file-reader.ts
  common/web/types/test/kpj/test-kpj-file-reader.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
Owners: @jahorton, @mcdurdin, @darcywong00

chore(developer): refactor KeymanDeveloperProjectFile
  common/web/types/src/kpj/keyman-developer-project.ts
  common/web/types/src/kpj/kpj-file-reader.ts
  common/web/types/test/kpj/test-kpj-file-reader.ts
  developer/src/kmc/src/commands/buildClasses/BuildKeyboardInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildModelInfo.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
Owners: @jahorton, @mcdurdin, @darcywong00

chore(developer): add Error_NotAProjectFile
  developer/src/kmc/src/messages/messages.ts
  developer/src/kmc/src/util/projectLoader.ts
Owners: @mcdurdin, @darcywong00

chore(developer): handle unknown file extensions in file types
  common/web/types/src/kpj/keyman-developer-project.ts
  common/web/types/src/util/file-types.ts
Owners: @jahorton, @mcdurdin

Apply suggestions from code review
  windows/src/desktop/help/about/requirements.md
  windows/src/desktop/help/common/os.md
Owners: @rc-swag, @ermshiperete

docs(windows): Address more comments
  windows/src/desktop/help/about/requirements.md
  windows/src/desktop/help/basic/config/options.md
Owners: @rc-swag, @ermshiperete

fix(web): restoring original outputTarget only active due to focus-maintenance
  web/src/app/browser/src/contextManager.ts
Owners: @jahorton, @mcdurdin

chore(linux): Remove Kinetic from GHA
  .github/workflows/deb-packaging.yml
Owners: none

remove key processing code from engine and move virtual key map to CoreHelper
  mac/Keyman4Mac/Keyman4Mac/AppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac.xcodeproj/project.pbxproj
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/ActionArrayOptimizer.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/ActionArrayOptimizer.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreAction.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreHelper.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreHelper.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/Categories/NSArray+Action.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/Categories/NSArray+Action.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/OnScreenKeyboard/OSKView.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KeymanEngine4Mac.h
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/CoreHelperTests.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/CoreWrapperTests.m
  mac/KeymanEngine4Mac/KeymanEngine4MacTests/KMEngineTests.m
Owners: @sgschantz, @SabineSIL

chore(linux): Properly treat test builds with packaging GHA
  .github/workflows/deb-packaging.yml
  resources/build/build-utils.sh
Owners: @mcdurdin, @jahorton

Update docs/build/linux-ubuntu.md
  docs/build/linux-ubuntu.md
Owners: @mcdurdin, @jahorton
