Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete

chore(windows): disable wix compression for debug builds
  common/windows/delphi/Defines.mak
  windows/src/Defines.mak
Owners: @mcdurdin, @rc-swag, @ermshiperete

fix(developer): support option stores in kmc-kmn/kmw
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/constants.ts
  developer/src/kmc-kmn/src/kmw-compiler/write-compiled-keyboard.ts
  developer/src/kmc-kmn/test/fixtures/kmw/build_fixtures.bat
  developer/src/kmc-kmn/test/fixtures/kmw/test_keychars.js
  developer/src/kmc-kmn/test/fixtures/kmw/test_keychars.kmn
  developer/src/kmc-kmn/test/fixtures/kmw/test_options.js
  developer/src/kmc-kmn/test/fixtures/kmw/test_options.kmn
  developer/src/kmc-kmn/test/kmw/test-compiler-manual.ts
  developer/src/kmc-kmn/test/kmw/test-compiler.ts
  developer/src/kmc-kmn/test/kmw/test-kmw-compiler.ts
  developer/src/kmc-kmn/test/kmw/util.ts
  developer/src/kmcmplib/include/kmcmplibapi.h
  developer/src/kmcmplib/src/CompileKeyboardBuffer.cpp
  developer/src/kmcmplib/src/CompilerInterfacesWasm.cpp
Owners: @mcdurdin, @darcywong00

chore(developer): tweak comments
  developer/src/kmc-kmn/test/kmw/test-kmw-compiler.ts
  developer/src/kmcmplib/src/CompilerInterfacesWasm.cpp
Owners: @mcdurdin, @darcywong00

chore(windows): remove dead if
  common/windows/delphi/Defines.mak
  windows/src/Defines.mak
Owners: @mcdurdin, @rc-swag, @ermshiperete

fix(developer): support readonly groups in kmc-kmn/kmw-compiler
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/compiler-globals.ts
  developer/src/kmc-kmn/src/kmw-compiler/javascript-strings.ts
  developer/src/kmc-kmn/src/kmw-compiler/write-compiled-keyboard.ts
  developer/src/kmc-kmn/test/fixtures/kmw/.gitignore
  developer/src/kmc-kmn/test/fixtures/kmw/test_readonly_groups.js
  developer/src/kmc-kmn/test/fixtures/kmw/test_readonly_groups.kmn
  developer/src/kmc-kmn/test/kmw/test-kmw-compiler.ts
  developer/src/kmcmplib/include/kmcmplibapi.h
  developer/src/kmcmplib/src/CompileKeyboardBuffer.cpp
  developer/src/kmcmplib/src/CompilerInterfacesWasm.cpp
Owners: @mcdurdin, @darcywong00

chore(windows): update coment on CopyKeyboard 🙀
  windows/src/engine/mcompile/mcompile.cpp
Owners: @rc-swag, @ermshiperete

Update core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_processor.cpp
Owners: @mcdurdin, @rc-swag

feat(core): update documentation and builder for uset 🙀
  common/web/types/src/kmx/kmx-plus-builder/build-uset.ts
  common/web/types/src/kmx/kmx-plus.ts
  core/src/ldml/C7043_ldml.md
Owners: @jahorton, @mcdurdin, @rc-swag

auto: increment master version to 17.0.130
  HISTORY.md
  VERSION.md
Owners: none

feat(common): support UTF-32 single chars 🙀
  common/web/types/src/kmx/kmx-plus-builder/build-elem.ts
  common/web/types/src/kmx/kmx-plus-builder/build-strs.ts
  common/web/types/src/kmx/kmx-plus.ts
  developer/src/kmc-ldml/src/compiler/keys.ts
Owners: @jahorton, @mcdurdin, @darcywong00

feat(core,common,developer): support UTF-32 single chars 🙀
  common/web/types/src/kmx/kmx-plus.ts
  common/web/types/src/util/util.ts
  common/web/types/test/util/test-unescape.ts
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/src/ldml/ldml_processor.cpp
  core/tests/unit/ldml/ldml_test_source.cpp
  core/tests/unit/ldml/test_kmx_plus.cpp
  developer/src/kmc-ldml/src/compiler/keys.ts
  developer/src/kmc-ldml/test/fixtures/sections/keys/minimal.xml
  developer/src/kmc-ldml/test/test-keys.ts
  developer/src/kmc-ldml/test/test-layr.ts
Owners: @jahorton, @mcdurdin, @rc-swag, @darcywong00

feat(developer): test fix for UTF-32 single chars 🙀
  developer/src/kmc-ldml/test/fixtures/basic.txt
Owners: @mcdurdin, @darcywong00

feat(developer): last fix for UTF-32 single chars 🙀
  common/web/types/src/kmx/element-string.ts
  common/web/types/src/kmx/kmx-plus-builder/build-elem.ts
  developer/src/kmc-ldml/test/fixtures/basic.txt
Owners: @jahorton, @mcdurdin, @darcywong00

chore(developer): cleanup javascript-strings.ts
  developer/src/kmc-kmn/src/kmw-compiler/javascript-strings.ts
Owners: @mcdurdin, @darcywong00

chore(developer): handle layout file errors in kmw-compiler
  developer/src/kmc-kmn/src/kmw-compiler/constants.ts
  developer/src/kmc-kmn/src/kmw-compiler/messages.ts
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
Owners: @mcdurdin, @darcywong00

chore(developer): rename write-compiled-keyboard.ts to kmw-compiler.ts
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/javascript-strings.ts
  developer/src/kmc-kmn/src/kmw-compiler/kmw-compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/visual-keyboard-compiler.ts
Owners: @mcdurdin, @darcywong00

chore(developer): implement HasSupplementaryPlaneChars and FCallFunctions in kmw-compiler
  developer/src/kmc-kmn/src/kmw-compiler/kmw-compiler.ts
Owners: @mcdurdin, @darcywong00

chore(developer): add store.line metadata and cleanup
  developer/src/kmc-kmn/src/compiler/compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/kmw-compiler.ts
  developer/src/kmc-kmn/src/kmw-compiler/messages.ts
  developer/src/kmcmplib/include/kmcmplibapi.h
  developer/src/kmcmplib/src/CompileKeyboardBuffer.cpp
  developer/src/kmcmplib/src/CompilerInterfacesWasm.cpp
Owners: @mcdurdin, @darcywong00

chore(developer): fix tests for layout validity
  developer/src/kmc-kmn/src/kmw-compiler/keymanweb-key-codes.ts
  developer/src/kmc-kmn/src/kmw-compiler/validate-layout-file.ts
Owners: @mcdurdin, @darcywong00

chore(ios): converts kmbuild.sh to builder format
  ios/kmbuild.sh
Owners: @sgschantz, @jahorton

feat(linux): mcompile add copies, gitignore. Readme
  .gitignore
  linux/mcompile/keymap/README.md
  linux/mcompile/keymap/helpers.cpp
  linux/mcompile/keymap/helpers.h
  linux/mcompile/keymap/keymapWC.cpp
  linux/mcompile/keymap/keymapWC.h
  linux/mcompile/keymap/mcompile copy.cpp
  linux/mcompile/keymap/meson.build
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile add converting function, typedef
  linux/mcompile/keymap/km_types.h
  linux/mcompile/keymap/u16.cpp
  linux/mcompile/keymap/u16.h
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.131
  HISTORY.md
  VERSION.md
Owners: none

feat(developer): improve fix for UTF-32 single chars 🙀
  common/web/types/src/kmx/kmx-plus.ts
Owners: @jahorton, @mcdurdin

fix(web): zip artifact path was incorrect
  web/ci.sh
  web/src/test/manual/build.sh
Owners: @jahorton, @mcdurdin

fix(web): should also ensure bulk-recorder script is built for ci uploads
  web/src/test/manual/build.sh
Owners: @jahorton, @mcdurdin

fix(web): oh, src/tools/build.sh was busted... and ought be called by project top-level action
  web/build.sh
  web/src/test/manual/build.sh
  web/src/tools/build.sh
Owners: @jahorton, @mcdurdin

change(ios): mass rework of ios-related scripts
  ios/.build-builder
  ios/build.sh
  ios/ci.sh
  ios/engine/build.sh
  ios/keyman/build.sh
  ios/samples/build_common.sh
  ios/tools/prepRelease.sh
  oem/firstvoices/ios/build.sh
  oem/firstvoices/ios/build_common.sh
Owners: @sgschantz, @jahorton

fix(ios): forgot to adjust include paths for build-utils.sh
  ios/engine/build.sh
  ios/keyman/build.sh
  ios/samples/KMSample1/build.sh
  ios/samples/KMSample2/build.sh
  ios/samples/build_common.sh
  oem/firstvoices/ios/build.sh
Owners: @sgschantz, @jahorton

chore(ios): forgot to cleanup an in-dev line (sigh)
  ios/engine/build.sh
Owners: @sgschantz, @jahorton

fix(ios): correct dir for carthage use
  ios/engine/build.sh
Owners: @sgschantz, @jahorton

fix(ios): another nit
  ios/keyman/build.sh
Owners: @sgschantz, @jahorton

fix(ios): pathing to xcworkspace from nested folder scripts
  ios/engine/build.sh
  ios/keyman/build.sh
Owners: @sgschantz, @jahorton

change(ios): relative to absolute build folder pathing
  ios/engine/build.sh
  ios/keyman/build.sh
Owners: @sgschantz, @jahorton

fix(ios): inverted condition for disabling code signing in samples
  ios/samples/build_common.sh
Owners: @sgschantz, @jahorton

fix(ios): missed path component for app .ipa build
  ios/keyman/build.sh
Owners: @sgschantz, @jahorton

fix(ios): unset var handling
  ios/ci.sh
Owners: @sgschantz, @jahorton

feat(linux): mcompile copy and use filesystem.cpp/h
  linux/mcompile/keymap/filesystem.cpp
  linux/mcompile/keymap/filesystem.h
  linux/mcompile/keymap/meson.build
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile loadKeyboard starts VerifyKeyboard&FixupKeyboard-still lots of comments, compiles but not fully functional yet
  linux/mcompile/keymap/README.md
  linux/mcompile/keymap/kmx_file.h
  linux/mcompile/keymap/mc_kmxfile.cpp
  linux/mcompile/keymap/mc_kmxfile.h
  linux/mcompile/keymap/mcompile.cpp
  linux/mcompile/keymap/mcompile.h
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile exchange KMX_WCHART, comment out code
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/km_types.h
  linux/mcompile/keymap/kmx_file.h
  linux/mcompile/keymap/mc_kmxfile.cpp
  linux/mcompile/keymap/mc_kmxfile.h
Owners: @ermshiperete, @darcywong00
