Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

feat(windows): some minor tidy up
  windows/src/desktop/kmshell/util/Keyman.Configuration.UI.UfrmDiagnosticTests.pas
  windows/src/engine/keyman32-ver/calldll.cpp
  windows/src/engine/keyman32-ver/calldll.h
  windows/src/engine/keyman32-ver/k32_globals.cpp
  windows/src/engine/keyman32-ver/keyman-debug-etw.man
  windows/src/engine/keyman32-ver/keyman-debug-etw.rc
Owners: @rc-swag, @ermshiperete

feat(windows): untrack support files
  windows/src/engine/keyman32-ver/keyman32-ver.def
  windows/src/engine/keyman32-ver/keyman64-build-version.h
  windows/src/engine/keyman32-ver/premake.mak
  windows/src/engine/keyman32/exports.h
  windows/src/engine/keyman64-ver/TODO.TXT
  windows/src/engine/keyman64-ver/premake.mak
  windows/src/engine/keyman64/exports.h
  windows/src/engine/keyman64/premake.mak
Owners: @rc-swag, @ermshiperete

feat(windows): update gitignore
  .gitignore
Owners: none

chore(ios): minor build-script cleanup
  ios/build.sh
  ios/engine/build.sh
  ios/keyman/Keyman/Keyman.xcodeproj/project.pbxproj
  ios/keyman/build.sh
  ios/samples/KMSample1/build.sh
  ios/samples/KMSample2/build.sh
  ios/samples/common.inc.sh
Owners: @sgschantz, @jahorton

chore(web): right, a sourceRoot would help sentry-manager
  common/web/sentry-manager/build-bundler.js
  web/ci.sh
Owners: @jahorton, @mcdurdin

fix(web): silences low-priority warning that shows up in iOS kbd init
  web/src/engine/osk/src/views/oskView.ts
Owners: @jahorton, @mcdurdin

change(web): better guard condition, logic layout
  web/src/engine/osk/src/views/oskView.ts
Owners: @jahorton, @mcdurdin

chore(developer): fixup ldml test for kmw emit
  developer/src/kmc-ldml/test/fixtures/basic-no-debug.js
  developer/src/kmc-ldml/test/fixtures/basic.js
Owners: @mcdurdin, @darcywong00

fix(developer): strip paths from `readmeFile` and `graphicFile`
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
Owners: @mcdurdin, @darcywong00

fix(developer): trim fields when emitting kmp.json
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
Owners: @mcdurdin, @darcywong00

feat(developer): kmc-package support for writing kmp.inf
  developer/src/kmc-package/src/compiler/cp1252.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/kmp-inf-writer.ts
  developer/src/kmc-package/test/fixtures/kmp.inf/README.md
  developer/src/kmc-package/test/fixtures/kmp.inf/kmp.inf
  developer/src/kmc-package/test/fixtures/kmp.inf/kmp.json
  developer/src/kmc-package/test/test-kmp-inf-writer.ts
Owners: @mcdurdin, @darcywong00

fix(developer): kmc-package support for keyboard metadata
  common/web/types/src/package/kmp-json-file.ts
  common/web/types/src/package/kps-file.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/kmx-keyboard-metadata.ts
  developer/src/kmc-package/src/compiler/package-keyboard-target-validator.ts
  developer/src/kmc-package/src/compiler/package-metadata-collector.ts
  developer/src/kmc-package/src/compiler/package-metadata-updater.ts
  developer/src/kmc-package/src/compiler/package-version-validation.ts
  developer/src/kmc-package/src/compiler/package-version-validator.ts
  developer/src/kmc-package/src/compiler/web-keyboard-metadata.ts
  developer/src/kmc-package/test/fixtures/khmer_angkor/ref/kmp.json
  developer/src/kmc-package/test/fixtures/kmp.json/ahom_star.kps
  developer/src/kmc-package/test/fixtures/kmp.json/build/ahom_star.js
  developer/src/kmc-package/test/fixtures/kmp.json/build/ahom_star.kmx
  developer/src/kmc-package/test/fixtures/kmp.json/build/ahom_star.kvk
  developer/src/kmc-package/test/fixtures/kmp.json/kmp.json
  developer/src/kmc-package/test/test-package-compiler.ts
Owners: @jahorton, @mcdurdin, @darcywong00

chore(web): Apply suggestions from code review
  web/ci.sh
Owners: @jahorton, @mcdurdin

chore(linux): Add support for `--no-integration` flag to build files
  linux/build.sh
  linux/keyman-config/build.sh
  linux/keyman-system-service/build.sh
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile cosmetics
  linux/mcompile/keymap/mc_kmxfile.cpp
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

chore(common): Update crowdin strings for Kibaku
  android/KMAPro/kMAPro/src/main/res/values-ckl-rNG/strings.xml
  mac/Keyman4MacIM/Keyman4MacIM/ckl.lproj/Localizable.strings
  windows/src/desktop/kmshell/locale/ckl-NG/strings.xml
Owners: @darcywong00, @sgschantz, @SabineSIL, @rc-swag, @ermshiperete

fix(linux): Fix Linux build
  linux/keyman-config/tests/test_canonical_language_code_utils.py
Owners: @ermshiperete, @darcywong00

update context with core when invalidated
  mac/Keyman4MacIM/Keyman4MacIM/KMContext.h
  mac/Keyman4MacIM/Keyman4MacIM/KMContext.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodAppDelegate.m
  mac/Keyman4MacIM/Keyman4MacIM/KMInputMethodEventHandler.m
  mac/KeymanEngine4Mac/KeymanEngine4Mac/CoreWrapper/CoreWrapper.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.h
  mac/KeymanEngine4Mac/KeymanEngine4Mac/KME/KMEngine.m
Owners: @sgschantz, @SabineSIL

feat(core): kmxplus uset implementation in core 🙀
  core/src/kmx/kmx_plus.cpp
  core/src/kmx/kmx_plus.h
  core/tests/unit/ldml/test_kmx_plus.cpp
Owners: @mcdurdin, @rc-swag

fix(windows): Fix Delphi makefile
  common/windows/delphi/Makefile
Owners: @mcdurdin, @rc-swag

fix(windows): Adjust to new version of langtags.json
  common/windows/delphi/tools/build_standards_data/Keyman.System.BuildLangTags.pas
Owners: @mcdurdin, @rc-swag

auto: increment master version to 17.0.136
  HISTORY.md
  VERSION.md
Owners: none

Update core/src/ldml/C9134_ldml_markers.md
  core/src/ldml/C9134_ldml_markers.md
Owners: @mcdurdin, @rc-swag

spec(core): marker spec 🙀
  core/src/ldml/C9134_ldml_markers.md
Owners: @mcdurdin, @rc-swag

feat(web): logs enhanced debug info for error reports
  common/web/keyboard-processor/src/keyboards/keyboard.ts
  web/src/engine/main/src/keymanEngine.ts
Owners: @jahorton, @mcdurdin

chore(web): Apply suggestions from code review
  web/src/engine/main/src/keymanEngine.ts
Owners: @jahorton, @mcdurdin

fix(windows): Fix Windows tests
  windows/src/test/unit-tests/standards-data/Keyman.Test.System.CanonicalLanguageCodeUtilsTest.pas
  windows/src/test/unit-tests/standards-data/Keyman.Test.System.Standards.LangTagsRegistryTest.pas
Owners: @rc-swag, @ermshiperete

chore: Consolidated readme
  resources/standards-data/iso639-3/readme.md
  resources/standards-data/langtags/readme.md
  resources/standards-data/language-subtag-registry/readme.md
  resources/standards-data/ldml-keyboards/readme.md
  resources/standards-data/readme.md
  resources/standards-data/unicode-character-database/readme.md
Owners: @mcdurdin, @jahorton

chore(linux): Add unit tests for dconf_util.py
  linux/keyman-config/keyman_config/dconf_util.py
  linux/keyman-config/tests/test_dconf_util.py
Owners: @ermshiperete, @darcywong00

chore(linux): Trigger Linux integration tests
  resources/build/trigger-definitions.inc.sh
Owners: @mcdurdin, @jahorton

auto: increment master version to 17.0.137
  HISTORY.md
  VERSION.md
Owners: none

docs(web): about silenced warning
  web/src/engine/osk/src/views/oskView.ts
Owners: @jahorton, @mcdurdin

chore(developer): fixup test parameters
  developer/src/kmc-ldml/test/test-compiler-e2e.ts
Owners: @mcdurdin, @darcywong00

chore: authenticate github request when triggering test builds
  resources/build/run-required-test-builds.sh
Owners: @mcdurdin, @jahorton

feat(windows): add command line params WIP
  windows/src/desktop/kmshell/main/initprog.pas
Owners: @rc-swag, @ermshiperete

feat(web): adds TimeoutPromise
  common/web/utils/src/index.ts
  common/web/utils/src/managedPromise.ts
  common/web/utils/src/test/managedPromise.js
  common/web/utils/src/test/timeoutPromise.js
  common/web/utils/src/timeoutPromise.ts
Owners: @jahorton, @mcdurdin

change(web): better adherence to official Promise terms
  common/web/utils/src/managedPromise.ts
  common/web/utils/src/timeoutPromise.ts
  web/src/app/browser/src/keymanEngine.ts
  web/src/app/webview/src/keymanEngine.ts
  web/src/engine/main/src/engineConfiguration.ts
  web/src/engine/main/src/keyboardInterface.ts
  web/src/engine/main/src/keymanEngine.ts
  web/src/engine/package-cache/src/domCloudRequester.ts
  web/src/engine/package-cache/src/nodeCloudRequester.ts
Owners: @jahorton, @mcdurdin

chore(web): DRYs out timedPromise defs
  common/web/gesture-recognizer/src/test/auto/headless/basicSegmentations.js
  common/web/gesture-recognizer/src/test/auto/headless/trackedPath.js
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/headlessInputEngine.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/index.ts
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/timedPromise.ts
  common/web/utils/build-bundler.js
  common/web/utils/build.sh
  common/web/utils/src/index.ts
  common/web/utils/src/timeoutPromise.ts
  web/src/test/auto/dom/base.conf.cjs
  web/src/test/auto/dom/cases/attachment/outputTargetForElement.js
  web/src/test/auto/dom/cases/attachment/pageContextAttachment.js
  web/src/test/auto/dom/cases/browser/contextManager.js
  web/src/test/auto/dom/cases/osk/activation.js
  web/src/test/auto/dom/cases/osk/events.js
  web/src/test/auto/dom/timedPromise.mjs
Owners: @jahorton, @mcdurdin

chore(developer): cleanup compiler messages in kmc
  common/web/keyman-version/package.json
  common/web/types/package.json
  common/web/types/src/main.ts
  common/web/types/src/util/compiler-interfaces.ts
  common/web/types/test/helpers/TestCompilerCallbacks.ts
  developer/src/common/web/test-helpers/index.ts
  developer/src/common/web/test-helpers/package.json
  developer/src/common/web/test-helpers/verifyCompilerMessagesObject.ts
  developer/src/kmc-analyze/package.json
  developer/src/kmc-kmn/package.json
  developer/src/kmc-ldml/package.json
  developer/src/kmc-model-info/package.json
  developer/src/kmc-model/package.json
  developer/src/kmc-package/package.json
  developer/src/kmc-package/test/test-kmp-inf-writer.ts
  developer/src/kmc/package.json
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/commands/buildClasses/BuildProject.ts
  developer/src/kmc/src/messages/NodeCompilerCallbacks.ts
  developer/src/kmc/src/messages/messages.ts
  package-lock.json
Owners: @jahorton, @mcdurdin, @darcywong00

chore(developer): split file and project build messages
  developer/src/kmc/src/commands/build.ts
  developer/src/kmc/src/messages/NodeCompilerCallbacks.ts
  developer/src/kmc/src/messages/messages.ts
Owners: @mcdurdin, @darcywong00

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete
