Repository keymanapp/keyman, changes with the owners that docs/CODEOWNERS names for each.
All owners: @darcywong00, @sgschantz, @mcdurdin, @rc-swag, @jahorton, @ermshiperete, @SabineSIL

docs/CODEOWNERS:

#
# Code owners - this lists first the primary dev, then second, the platform advocate for each area
#
# @darcywong00 @mcdurdin @ermshiperete @rc-swag @SabineSIL @sgschantz

/android/                     @darcywong00  @sgschantz

/common/                      @mcdurdin     @rc-swag
/core/                        @mcdurdin     @rc-swag
/common/lexical-model-types/  @jahorton     @mcdurdin
/common/models/               @jahorton     @mcdurdin
/common/predictive-text/      @jahorton     @mcdurdin
/common/schemas/              @mcdurdin     @jahorton
/common/test/                 @mcdurdin     @ermshiperete
/common/web/                  @jahorton     @mcdurdin

/developer/                   @mcdurdin     @darcywong00
/docs/                        @mcdurdin     @jahorton
/ios/                         @sgschantz    @jahorton
/linux/                       @ermshiperete @darcywong00
/mac/                         @sgschantz    @SabineSIL

/oem/firstvoices/android/     @darcywong00  @sgschantz
/oem/firstvoices/common/      @mcdurdin     @rc-swag
/oem/firstvoices/ios/         @sgschantz    @jahorton
/oem/firstvoices/windows/     @rc-swag      @ermshiperete
/resources/                   @mcdurdin     @jahorton

# Web is currently shared between Marc and Joshua:
/web/                         @jahorton     @mcdurdin

/windows/                     @rc-swag      @ermshiperete

feat: WIP background install working in hacked form
  windows/src/desktop/kmshell/main/OnlineUpdateCheck.pas
  windows/src/desktop/kmshell/main/initprog.pas
  windows/src/engine/inst/insthelper/Keyman.System.Install.EnginePostInstall.pas
Owners: @rc-swag, @ermshiperete

chore(developer): fixup signcode paths for server
  developer/src/server/Makefile
Owners: @mcdurdin, @darcywong00

docs(web): minor doc-comment tweaks
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
Owners: @jahorton, @mcdurdin

chore(developer): fix path in tsconfig.json in kmc-model-info
  developer/src/kmc-model-info/tsconfig.json
Owners: @mcdurdin, @darcywong00

chore: clean up a few minor discrepancies in builder.inc.sh
  resources/build/build-utils.sh
  resources/builder.inc.sh
Owners: @mcdurdin, @jahorton

refactor(linux): Use auto cleanup
  linux/ibus-keyman/src/engine.c
  linux/ibus-keyman/src/keymanutil.c
  linux/ibus-keyman/src/keymanutil_internal.h
  linux/ibus-keyman/src/kmpdetails.c
  linux/ibus-keyman/src/kmpdetails.h
  linux/ibus-keyman/src/main.c
  linux/ibus-keyman/src/test/keymanutil_tests.c
  linux/ibus-keyman/src/test/print_kmpdetails.c
  linux/ibus-keyman/tests/scripts/test-helper.inc.sh
Owners: @ermshiperete, @darcywong00

chore(linux): Add testname to log file
  linux/ibus-keyman/tests/meson.build
  linux/ibus-keyman/tests/scripts/run-single-test.sh
  linux/ibus-keyman/tests/scripts/test-helper.inc.sh
Owners: @ermshiperete, @darcywong00

chore(linux): Improve process check
  linux/ibus-keyman/tests/scripts/test-helper.inc.sh
Owners: @ermshiperete, @darcywong00

refactor(linux): Simplify adding keyboard
  linux/ibus-keyman/src/keymanutil.c
Owners: @ermshiperete, @darcywong00

EnginePostInstall with tested functionality to create directory %ProgramData%/Keyman
  windows/src/engine/inst-cpp/insthelper.cpp
  windows/src/engine/inst-cpp/insthelper.h
Owners: @rc-swag, @ermshiperete

chore(core): dx: improve test output 🙀
  core/tests/unit/ldml/ldml.cpp
Owners: @mcdurdin, @rc-swag

feat(core): ldml normalization 🙀
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/tests/unit/ldml/keyboards/k_008_transform_norm-test.xml
  core/tests/unit/ldml/keyboards/k_008_transform_norm.xml
Owners: @mcdurdin, @rc-swag

chore: Update developer/src/kmc-package/src/compiler/kmp-compiler.ts
  developer/src/kmc-package/src/compiler/kmp-compiler.ts
Owners: @mcdurdin, @darcywong00

chore(android,windows): Update crowdin strings for Kannada
  android/KMAPro/kMAPro/src/main/res/values-kn-rIN/strings.xml
  windows/src/desktop/setup/locale/kn/strings.xml
Owners: @darcywong00, @sgschantz, @rc-swag, @ermshiperete

fix: path for ESM increment-version, and exit code
  resources/build/increment-version.sh
  resources/build/version/src/index.ts
Owners: @mcdurdin, @jahorton

auto: increment master version to 17.0.188
  HISTORY.md
  VERSION.md
Owners: none

fix(web): bad return type on method caught by tsconfig update
  common/web/gesture-recognizer/src/tools/unit-test-resources/src/hostFixtureLayoutController.ts
Owners: @jahorton, @mcdurdin

auto: increment master version to 17.0.189
  HISTORY.md
  VERSION.md
Owners: none

chore(web): web build streamlining
  web/build.sh
  web/src/tools/build.sh
Owners: @jahorton, @mcdurdin

fix(web): base key stuck highlighting
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
Owners: @jahorton, @mcdurdin

auto: increment master version to 17.0.190
  HISTORY.md
  VERSION.md
Owners: none

chore: update readme for keyboard_info schema
  common/schemas/keyboard_info/README.md
Owners: @mcdurdin, @jahorton

chore(common): merge conflict correction - master did not have these lines
  .github/multi-labeler.yml
Owners: none

chore(web): drops redundant line
  common/web/keyboard-processor/src/keyboards/activeLayout.ts
Owners: @jahorton, @mcdurdin

docs(web): cleans up an errant doc-comment
  common/web/gesture-recognizer/src/engine/headless/gestures/specs/contactModel.ts
Owners: @jahorton, @mcdurdin

fix(web): overshoot bounds in constrained mode
  web/src/engine/osk/src/input/gestures/browser/subkeyPopup.ts
Owners: @jahorton, @mcdurdin

chore(linux): Add code coverage report for keyman-config
  docs/settings/linux/tasks.json
  linux/keyman-config/build.sh
  linux/keyman-config/run-tests.sh
Owners: @mcdurdin, @jahorton, @ermshiperete, @darcywong00

chore(linux): Add code coverage report for keyman-system-service
  docs/settings/linux/tasks.json
  linux/build.sh
  linux/keyman-system-service/build.sh
Owners: @mcdurdin, @jahorton, @ermshiperete, @darcywong00

feat(core): ldml normalization 🙀
  core/tests/unit/ldml/keyboards/k_003_transform.xml
  core/tests/unit/ldml/keyboards/k_210_marker-test.xml
Owners: @mcdurdin, @rc-swag

feat(core): ldml normalization 🙀
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_processor.hpp
Owners: @mcdurdin, @rc-swag

feat(linux): Store user-added keyboards in GSettings 🏘️
  linux/ibus-keyman/src/keymanutil.c
  linux/ibus-keyman/src/keymanutil.h
  linux/ibus-keyman/src/keymanutil_internal.h
  linux/ibus-keyman/src/test/keymanutil_tests.c
  linux/keyman-config/resources/com.keyman.gschema.xml
Owners: @ermshiperete, @darcywong00

feat(linux): Allow loading of keyboards with arbitrary language 🏘️
  linux/ibus-keyman/src/keymanutil.c
  linux/ibus-keyman/src/keymanutil_internal.h
  linux/ibus-keyman/src/kmpdetails.c
  linux/ibus-keyman/src/test/keymanutil_tests.c
Owners: @ermshiperete, @darcywong00

feat(linux): Ignore invalid values in custom keyboards list 🏘️
  linux/ibus-keyman/src/keymanutil.c
  linux/ibus-keyman/src/test/keymanutil_tests.c
Owners: @ermshiperete, @darcywong00

chore(linux): Speed up ibus-util tests
  linux/keyman-config/tests/test_ibus_util.py
Owners: @ermshiperete, @darcywong00

refactor(linux): Refactor mocks in ibus-util tests
  linux/keyman-config/tests/test_ibus_util.py
Owners: @ermshiperete, @darcywong00

auto: increment master version to 17.0.191
  HISTORY.md
  VERSION.md
Owners: none

feat(linux): mcompile fill rgkey OEM-Keys
  linux/mcompile/keymap/helpers.cpp
  linux/mcompile/keymap/helpers.h
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/keymap.h
  linux/mcompile/keymap/mc_import_rules.cpp
Owners: @ermshiperete, @darcywong00

feat(linux): mcompile tidy up
  linux/mcompile/keymap/keymap.cpp
  linux/mcompile/keymap/mc_import_rules.cpp
  linux/mcompile/keymap/mcompile.cpp
Owners: @ermshiperete, @darcywong00

feat(core): ldml normalization 🙀
  core/tests/unit/ldml/keyboards/k_210_marker-test.xml
Owners: @mcdurdin, @rc-swag

feat(core): ldml normalization 🙀
  core/src/ldml/ldml_processor.cpp
  core/src/ldml/ldml_processor.hpp
  core/src/ldml/ldml_transforms.cpp
  core/src/ldml/ldml_transforms.hpp
  core/tests/unit/ldml/keyboards/k_003_transform.xml
  core/tests/unit/ldml/keyboards/k_008_transform_norm-test.xml
  core/tests/unit/ldml/keyboards/k_008_transform_norm.xml
  core/tests/unit/ldml/ldml_test_source.cpp
Owners: @mcdurdin, @rc-swag
